<html>
     <head>
     </head>
        <body>  
           <fieldset>
             <legend><?php echo "Grade Set Details";?></legend>
	            <Form dojoType="dijit.form.Form" id="myForm" action="" method="POST"  name= "myForm" >
	                 <script type="dojo/method" event="onSubmit">
                       if (this.validate()) 
                        {
					     return true;
                        } 
                          else 
                        {
                         return false;
                        }
                       </script> 
	                 <table class="table" width="100%">
		                             <tr>
                            <th colspan = "6"><?php echo $this->translate('Grade Set Details')?></th>
                           </tr>
                           
                            <tr>
			               <td><?php echo $this->translate("Grade Set Name");?><span class="reqMark">*</span></td>
			               <td><?php echo $this->lobjGroupform->gradesetname;?></td>
			                           <td><?php echo $this->translate("Grade Set Id");?><span class="reqMark">*</span></td>
			               <td><?php echo $this->lobjGroupform->gradedescription;?></td>
			                <td ><?php echo $this->translate("Effective Date");?><span class="reqMark">*</span></td>
			               <td ><?php echo $this->lobjGroupform->Effectidate;?></td>
		                   </tr>	
		                   
		                    
		                   
		               
		                   
		                    <tr>
		                    <td><?php echo $this->translate("Grade Name");?><span class="reqMark">*</span></td>
			               <td><?php echo $this->lobjGroupform->gradename;?></td>
			               <td><?php echo $this->translate("From Percentage");?><span class="reqMark">*</span></td>
			               <td><?php echo $this->lobjGroupform->Marksfrom;?></td>
			               <td><?php echo $this->translate("To Percentage");?><span class="reqMark">*</span></td>
			               <td><?php echo $this->lobjGroupform->Marksto;?> &nbsp;&nbsp;&nbsp; <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo "Add";?>" onclick="fninsertgrade();" /></td>
		                   </tr>
		                    <tr>
		                    <th colspan=""><?php echo $this->translate("Grade Name");?></th>
			               <th colspan=""><?php echo $this->translate("From Percentage");?></th>
			               <th ><?php echo $this->translate("To Percentage");?></th>
			               <th colspan="4"><th>
			                  </tr>
		                   
		                     
		                  	<?php for($linti = 0;$linti<count($this->gradesetdetails);$linti++){ ?>
		                      <tr>
		                      <td ><?php echo $this->gradesetdetails[$linti]['Gradename'];?></td>
		                      <td ><?php echo $this->gradesetdetails[$linti]['Percentagefrom'];?></td>
		                      <td ><?php echo $this->gradesetdetails[$linti]['Percentageto'];?></td>
		                     </tr>
		                     <?php }?>
		                   <tr>			    		                   
		                   <td  colspan="6" align="right"><?php echo $this->lobjGroupform->Save;?> 
		                     <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo "Back";?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'examination','controller'=>'grademaster', 'action'=>'index'),'default',true);?>';" /><td>
  		                   </tr>            
		               </table>
                   </Form>
	         </fieldset>
       </<body>
</html>
