<?php
/*
 *  @author Muhamad Alif
 *  @created Oct 27, 2010
 */
?>
<div id="sidebar">
	<ul id="sliding-navigation">  
		<li class="sliding-element"><h3>General Setup</h3></li>  
	    <li class="sliding-element"><a href="<?php echo $this->url(array('module'=>'finance','controller'=>'promotion','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Promotion Type"); ?></a></li>
	    <li class="sliding-element"><a href="<?php echo $this->url(array('module'=>'finance','controller'=>'setup','action'=>'charging'),'default',true) ?>"><?php echo $this->translate("Charging Period Setup"); ?></a></li>
	    <li class="sliding-element"><a href="<?php echo $this->url(array('module'=>'finance','controller'=>'setup','action'=>'discmain'),'default',true) ?>"><?php echo $this->translate("Discount Type Setup"); ?></a></li>
	    <li class="sliding-element"><a href="<?php echo $this->url(array('module'=>'finance','controller'=>'setup','action'=>'billtypegroup'),'default',true) ?>"><?php echo $this->translate("Bill Type Group"); ?></a></li>
	    <li class="sliding-element"><a href="<?php echo $this->url(array('module'=>'finance','controller'=>'setup','action'=>'billtype'),'default',true) ?>"><?php echo $this->translate("Bill Type"); ?></a></li>
	</ul>
</div>
<br>
<div id="sidebar">
	<ul id="sliding-navigation">  
		<li class="sliding-element"><h3>Billing Setup</h3></li>  
	    <li class="sliding-element"><a href="<?php echo $this->url(array('module'=>'finance','controller'=>'billfee','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Fee Structure"); ?></a></li>
	    <li class="sliding-element"><a href="<?php echo $this->url(array('module'=>'finance','controller'=>'addfee','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Additional Fee"); ?></a></li>
	    <li class="sliding-element"><a href="<?php echo $this->url(array('module'=>'finance','controller'=>'fee','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Set Fee Structure"); ?></a></li>
	    <li class="sliding-element"><a href="<?php echo $this->url(array('module'=>'finance','controller'=>'feelist','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Fee Structure List"); ?></a></li>
	    <li class="sliding-element"><a href="<?php echo $this->url(array('module'=>'finance','controller'=>'setup','action'=>'payment-method'),'default',true) ?>"><?php echo $this->translate("Payment Method"); ?></a></li>
	    <li class="sliding-element"><a href="<?php echo $this->url(array('module'=>'finance','controller'=>'setup','action'=>'payment-plan'),'default',true) ?>"><?php echo $this->translate("Payment Plan"); ?></a></li>
	</ul>
</div>
<br>
<div id="sidebar">
	<ul id="sliding-navigation">  
		<li class="sliding-element"><h3>Receipt Setup</h3></li>  
	    <li class="sliding-element"><a href="<?php echo $this->url(array('module'=>'finance','controller'=>'paymentmode','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Payment Mode"); ?></a></li>
	    <li class="sliding-element"><a href="<?php echo $this->url(array('module'=>'finance','controller'=>'setup','action'=>'cardtype'),'default',true) ?>"><?php echo $this->translate("Bank Card Type"); ?></a></li>
	    <li class="sliding-element"><a href="<?php echo $this->url(array('module'=>'finance','controller'=>'setup','action'=>'bank'),'default',true) ?>"><?php echo $this->translate("Bank"); ?></a></li>
	</ul>
</div>

					    