<?php
/*
 *  @author suliana
 *  @created may 16, 2011
 */
?>
<div id="vertmenu">
	<ul>  
	    <li><h1>Records</h1></li>  
	    <li><a href="<?php echo $this->url(array('module'=>'admission-record','controller'=>'student','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Student Profile"); ?></a></li>
	    <li><a href="<?php echo $this->url(array('module'=>'admission-record','controller'=>'change-status','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Change Status"); ?></a></li>
	    <li><a href="<?php echo $this->url(array('module'=>'admission-record','controller'=>'change-program','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Change Program"); ?></a></li>  
	</ul> 
</div>