

<!-- 
<div class="hitarea collapsable-hitarea"></div>
<a href="#" class="menufontcolor">Admin</a>
<ul style="display: block;"><li><a href="/samtesting/user" class="menufontcolor">User</a></li>
<li><a href="/samtesting/roles" class="menufontcolor">Roles</a></li>
<li><a href="/samtesting/maintenance" class="menufontcolor">Maintenance</a></li>
<li><a href="/samtesting/createmonth" class="menufontcolor">Create Month</a></li>
<li><a href="/samtesting/changepassword" class="menufontcolor">Change Password</a></li>
<li><a href="/samtesting/initialconfig" class="menufontcolor">Initial Configuration</a></li>
<li><a href="/samtesting/languagelisting" class="menufontcolor">Language Listing</a></li>
<li><a href="/samtesting/accountmaster" class="menufontcolor">Account Master</a></li>
<li><a href="/samtesting/Offlinemessages/index/p/new" class="menufontcolor selected">Messages</a></li>
<li><a href="/samtesting/offlinemessagingsystem" class="menufontcolor">Message Settings</a></li>
<li class="last"><a href="/samtesting/menudisablingsystem" class="menufontcolor">Student Portal Settings</a></li></ul></li>
 -->
<div id="vertmenu">
   <ul>  
    	<li><h1><?php echo $this->translate("Admin");?></h1></li>
    	<li>
    		<a href="<?php echo $this->url(array('module'=>'sam','controller'=>'user','action'=>'index'),'default',true) ?>"><?php echo $this->translate("User"); ?></a>
    	</li>
    	<li>
    		<a href="<?php echo $this->url(array('module'=>'sam','controller'=>'roles','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Roles"); ?></a>
    	</li>
    	<li>
    		<a href="<?php echo $this->url(array('module'=>'sam','controller'=>'maintenance','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Maintenance"); ?></a>
    	</li>
    	<li>
    		<a href="<?php echo $this->url(array('module'=>'sam','controller'=>'initialconfig','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Initial Configuration"); ?></a>
    	</li>    	
   </ul>  
</div>