<script type="text/javascript">
dojo.addOnLoad(function(){			

});
function languagecontent(language)
{
	//alert(language);
	var tempid = document.getElementById('hiddenid').value;
	//alert(id);
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/general-setup/detailstemplate/fngetlanguage/language/"+language+"/tempid/"+tempid,
			handleAs:'text',
			load:function(data){ 
				//alert(data);
				dijit.byId('content').set('value',data);
				
			}
	   }
	dojo.xhrGet(xhrArgs); 
}

</script>
<fieldset>
    <legend><?php echo $this->translate("Web Page")." ".$this->translate("Template");?></legend>
	<form dojoType="dijit.form.Form"  id="myform" name="myform" method="post" action="<?php echo $this->baseUrl();?>/general-setup/detailstemplate/edittemplate">
	<script type="dojo/method" event="onSubmit" >
                if (this.validate()) {
				var content = dijit.byId('content').attr('value');
		 	    dijit.byId("TemplateBody").set('value',content);
					return true;
                } else {
                    return false;
                }
				</script>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
    	<tr>
        	<th colspan="4"><?php echo $this->translate("Details")." ".$this->translate("Template");?>
        	<?php echo $this->form->UpdDate;?><?php echo $this->form->iddetails;?>
        <?php echo $this->form->UpdUser;?></th>
           
       	</tr>
       	<input type="hidden" name="hiddenid" id="hiddenid" value="<?php echo $this->id;?>">
        
		<tr>       
            <td width="10%"><?php echo $this->translate("Template")." ".$this->translate("Name");?><span class="reqMark">*</span></td>   
            <td ><?php echo $this->form->iddefinition;?></td>  
            <td width="10%"><?php echo $this->translate("Language");?><span class="reqMark">*</span></td>   
            <td ><?php echo $this->form->languagess;?></td>                                                    
        </tr>                       
	</table>  
        <table width="100%">
          <script type="text/javascript" src="<?php echo $this->baseUrl();?>/js/dojo/dijit/_editor/plugins/TextColor.js"></script>
    		<script type="text/javascript">
			dojo.require("dijit._editor.plugins.FontChoice");
			</script>            
			<input  dojoType = "dijit.form.TextBox" id = "TemplateBody" type = "hidden" name = "TemplateBody" value = ""> 
			                        
			<td dojoType="dijit.Editor" id="content" extraPlugins="['fontName', 'fontSize', 'formatBlock','foreColor', 'hiliteColor']">                           
 				<?php echo $this->TemplateBody;?> 	                                       
			</td>
    </table>
	<table>
    
    <table align = "right">
    	<tr>
        	<td>
			    	<?php echo $this->form->Save;?>
					<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'general-setup','controller'=>'detailstemplate', 'action'=>'index'),'default',true);?>';" />	
            </td>
        </tr>
    </table>
    
	</form>

</fieldset>