<script type="text/javascript">
dojo.addOnLoad(function(){			

});
function fnValidate(){
	var ScheduleName = dojo.byId("ScheduleName");
	
}
</script>
<fieldset>
    <legend><?php echo $this->translate("Email")." ".$this->translate("Template");?> </legend>
<form dojoType="dijit.form.Form"  id="myform" name="myform" method="post" action="<?php echo $this->baseUrl();?>/general-setup/detailstemplate/newtemplate">
<script type="dojo/method" event="onSubmit" >
				if (dojo.byId('content') != null)
			 {
				var content = dijit.byId('content').attr('value');
		 	    dijit.byId("content1").set('value',content);
			 }

                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
</script>

		<table class="table" width="100%" >
    	<tr>
        	<th colspan="4"><?php echo $this->translate("Details")." ".$this->translate("Template");?>
        	<?php echo $this->form->UpdDate;?>
        <?php echo $this->form->UpdUser;?></th>
           
       	</tr>
       
		<tr>       
            <td width="10%"><?php echo $this->translate("Template")." ".$this->translate("Name");?><span class="reqMark">*</span></td>   
            <td ><?php echo $this->form->iddefinition;?></td>  
            <td width="10%"><?php echo $this->translate("Language");?><span class="reqMark">*</span></td>   
            <td ><?php echo $this->form->languagess;?></td>                                                   
        </tr>
	</table>
	

    <table width="100%">
    <script type="text/javascript" src="<?php  echo $this->baseUrl();?>/js/dojo/dijit/_editor/plugins/TextColor.js"></script>
       <script type="text/javascript" src="<?php  echo $this->baseUrl();?>/js/dojo/dijit/ColorPalette.js"></script>
    		<script type="text/javascript">
			dojo.require("dijit._editor.plugins.FontChoice");
			 //dojo.require("dojox.editor.plugins.SpellCheck");
			if (dojo.byId('content') != null)
			 {
				var content = dijit.byId('content').attr('value');
				alert(content);
			 }

	</script>
	<input dojoType = "dijit.form.TextBox" type="hidden" name="content1"  id = "content1">                                    
	<td dojoType="dijit.Editor" id="content" extraPlugins="['fontName', 'fontSize', 'formatBlock','foreColor', 'hiliteColor',{name: 'SpellCheck', url: 'spellcheck.php', interactive: true, timeout: 20, bufferLength: 100, lang: 'en'}]" ></td>
	<td></td>

    </table> 
    
	<table align = "right">
		<tr>
        	<td>
					<?php echo $this->form->Save;?>
					<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'general-setup','controller'=>'detailstemplate', 'action'=>'index'),'default',true);?>';" />	
            </td>
        </tr>
    </table>
    </form>
</fieldset>