<html>
<head>
<Script type="text/javascript">
dojo.addOnLoad(function(){
	examtoDateSetting();
	});
function examtoDateSetting(){ 
	var RegFromDate = dijit.byId('Date7').value;	
	var startDate = dijit.byId('Date8');
	var trdat = ""+RegFromDate;
	var d = new Date(trdat); 
	d.setDate(d.getDate());
    var date = d.getDate();
    var month = d.getMonth()+1;
    var year = d.getFullYear();
	
    if(month<10) month = "0"+month;
    if(date<10) date = "0"+date;
    var nextdate = year+'-'+month +'-'+date;
    
	startDate.constraints = dojo.mixin(startDate.constraints, {min: dojo.date.stamp.fromISOString(nextdate)}); 

	var trdat = ""+RegFromDate;
	var d = new Date(trdat); 
	d.setDate(d.getDate() + 14);
    var date = d.getDate();
    var month = d.getMonth()+1;
    var year = d.getFullYear();
	
    if(month<10) month = "0"+month;
    if(date<10) date = "0"+date;
    var nextdate = year+'-'+month +'-'+date;

	startDate.constraints = dojo.mixin(startDate.constraints, {max: dojo.date.stamp.fromISOString(nextdate)}); 
}  
function fngetstudetails (id,thr){
	 if(id != "")
		{   
		    var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/reports/examinationpartwisenew/getstudentdetails/idapp/"+id,
					handleAs:'text',
					load:function(data){					
						document.getElementById('divLogin').style.display = 'block';						
						document.getElementById('divLogin2').style.display = 'block';
						document.getElementById('contentdiv').innerHTML = data;						
					}
			   }
			dojo.xhrGet(xhrArgs); 
		} 
	 
 }

 function Closefn()
	{
		document.getElementById('contentdiv').innerHTML = "";
		document.getElementById('divLogin').style.display = 'none';
		document.getElementById('divLogin2').style.display = 'none';
	} 
 function fngetexamcentre(){
		var regFromDate = dijit.byId('Date7');
		var toDate = dijit.byId('Date8');
		    var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/reports/examinationpartwisenew/fngetcentres/regFromDate/"+regFromDate+"/toDate/"+toDate,
					handleAs:'json',
					load:function(data){ 
						AutoFillNextEditableDropDown("Venues",data);
					}
			   }
			dojo.xhrGet(xhrArgs);
	}

	function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
		dijit.byId(EditableDropDownId).setValue("");
		var ddwidget = dijit.byId(EditableDropDownId);
		ddwidget.setAttribute('disabled', false);
		var options = {
					label:"name",
					identifier:"key",
					items:JSONText
				  };
		ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
	}
		
</Script>		
</head>
<body class='claro'>
<div id="example"></div>
<fieldset>
	<legend><?php echo $this->translate("Examinationpartwise New").' '.$this->translate("Report");?></legend>
 		<form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/reports/examinationpartwisenew" method="POST">
 			<script type="dojo/method" event="onSubmit">
             if (this.validate()) {
					return true;
                } else {
                    return false;
                }
			</script>
		<table width="100%">
		       <tr>
                    <td><?php echo $this->translate("Exam").' '.$this->translate("From").' '.$this->translate("Date") ?></td>
                    <td><?php echo $this->lobjExaminationpartwise->Date7;?></td>
                    <td><?php echo $this->translate("Exam").' '.$this->translate("To").' '.$this->translate("Date") ?></td>
                    <td><?php echo $this->lobjExaminationpartwise->Date8;?></td>
                </tr>
				<tr>
					<td><?php echo $this->translate("Candidate").' '.$this->translate("Name") ?></td>
					<td><?php echo $this->lobjExaminationpartwise->Canditatename;?></td>
					<td><?php echo $this->translate("IC NO") ?></td>
					<td><?php echo $this->lobjExaminationpartwise->ICNO;?></td>
				</tr>
				<tr>
                    <td><?php echo $this->translate("Course").' '.$this->translate("Name") ?></td>
                    <td><?php echo $this->lobjExaminationpartwise->Coursename;?></td>
                    <td><?php echo $this->translate("Venue") ?></td>
                    <td><?php echo $this->lobjExaminationpartwise->Venues;?></td>
                </tr>
				<tr>
                 <td></td>  
                 <td></td>             
                 <td colspan = "6"><?php echo $this->lobjform->Search;?>
                    <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Clear"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'reports','controller'=>'examinationpartwisenew', 'action'=>'index'),'default',true);?>';" />
				</td>
               </tr>
		</table>
	</form>	
	</fieldset> 

<br>
<?php  $cnts =0; if ($this->fromdate): ?>
<fieldset>
 <?php $centerarray = array();
       $sumarray = array(); ?>
    <table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr>
        <th><?php echo $this->translate("Program") ?></th>
        <th><?php echo $this->translate("Venue") ?></th>
        <th><?php echo $this->translate("Exam Date") ?></th>
        <th><?php echo $this->translate("Exam Session") ?></th>
        <th><?php echo $this->translate("Candidate Name") ?></th>
        <th><?php echo $this->translate("Part") ?></th>
        <th><?php echo $this->translate("Marks") ?></th>
        <th><?php echo $this->translate("Part") ?></th>
        <th><?php echo $this->translate("Marks") ?></th>
        <th><?php echo $this->translate("Total Marks") ?></th>
        <th><?php echo $this->translate("Result") ?></th>
        <th><?php echo $this->translate("Grade") ?></th>
    </tr>
    <?php if (count($this->paginator)): ?>
        <?php foreach ($this->paginator as $lobjCountry ):?>
         <tr>
    <?php
     if(!in_array($lobjCountry['ProgramName'],$centerarray) && $cnts !=0){?>
     <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
        <td></td>
        <td></td>
        <td></td>
        <td><b>TOTAL PARTWISE</b></td>
        <td><b><?php echo $sumarray['Program'][$pname];?></b></td>
     </tr>
     <?php     
   }    
    	$cnts++;    
    ?>
    <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
       <td>
         	<?php if(!in_array($lobjCountry['ProgramName'],$centerarray)){
				  $centerarray[] = $lobjCountry['ProgramName'];		
				  $centerarrays[$lobjCountry['ProgramName']] = array();
				  print_r($this->escape($lobjCountry['ProgramName']));
				  $pname = $lobjCountry['ProgramName'];
				  $sumarray['Program'][$lobjCountry['ProgramName']] = 0;
			}
			     $sumarray['Program'][$lobjCountry['ProgramName']]++;
			?>
        </td> 
        <td>
			<?php if(!in_array($lobjCountry['ExamVenue'],$centerarrays[$lobjCountry['ProgramName']])){
					$centerarrays[$lobjCountry['ProgramName']][] = $lobjCountry['ExamVenue'];
					$centerarrayss[$lobjCountry['ProgramName']][$lobjCountry['ExamVenue']] = array();
					print_r($this->escape($lobjCountry['ExamVenue']));
			}?>
	    </td> 
	    
	    <td>
			<?php if(!in_array($lobjCountry['ExamDate'],$centerarrayss[$lobjCountry['ProgramName']][$lobjCountry['ExamVenue']])){
					$centerarrayss[$lobjCountry['ProgramName']][$lobjCountry['ExamVenue']][] = $lobjCountry['ExamDate'];
					print_r($this->escape($lobjCountry['ExamDate']));
			}?>
	    </td>   
		       <td><?php print_r($this->escape($lobjCountry['session']));?></td> 
		       <td><span style="position: absolute;top:relative;" id="checks<?php echo $cnts;?>"></span><a href="javascript:fngetstudetails(<?php echo $lobjCountry['IDApplication']?>,<?php echo $cnts;?>);" ><?php print_r($this->escape($lobjCountry['FName']));?></a></td>
		       <td><?php print_r($this->escape($lobjCountry['Part1']));?></td> 
		       <td><?php print_r($this->escape($lobjCountry['partA']));?></td> 
		       <td><?php print_r($this->escape($lobjCountry['Part2']));?></td> 
		       <td><?php print_r($this->escape($lobjCountry['partB']));?></td> 
		       <td><?php print_r($this->escape($lobjCountry['TotalMarks']));?></td> 
		       <td><?php print_r($this->escape($lobjCountry['Result']));?></td> 
		       <td><?php print_r($this->escape($lobjCountry['Grade']));?></td>       
    </tr>
     <?php endforeach; ?>
     <?php endif;?>
     <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        <td></td>
	        <td></td>
	        <td></td>
	        <td><b>TOTAL PARTWISE</b></td>
	        <td><b><?php echo $sumarray['Program'][$pname];?></b></td>
	       
     </tr>
     <tr><td colspan = '8'>&nbsp;</td></tr>
    <tr>
	         <td></td>
	         <td></td>
	         <td></td>
			 <td><b><?php print_r($this->escape($this->total));?> </b></td>
			 <td><b><?php print_r($this->escape($this->count));?></b></td>
   </tr>
 <tr>
	 <td colspan="17" align="right"><input name="Print" id="Print" type="Button" class="NormalBtn" dojoType=dijit.form.Button label = <?php echo $this->translate("Print");?> value=<?php echo $this->translate("Print");?> onclick="window.location.href='<?php echo $this->url(array('module'=>'reports','controller'=>'examinationpartwisenew','action'=>'pdfexport','fromdate'=>$this->fromdate,'todate'=>$this->todate,'cname'=>$this->cname,'venue'=>$this->venue,'icno'=>$this->icno,'name'=>$this->name),'default',true);?>';" ></td>
 </tr>
    </table>
</fieldset> 
 <?php endif;?>
<div runat="server" id="divLogin"  style="display:none; z-index: 153; position: fixed; left: 23%; width: 750px; top:10%">
					                <asp:Panel runat="server" ID="popupLogin">
					                    <asp:Panel runat="server" ID="popupContent1">
					                        <table style="height: 125px; width: 100%; background-color: #FFFFFF;" border="3"   frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">
					                                    
					                                    	<div id="contentdiv"></div>					                                      
					                                   </td>
					                                </tr>
					                                <tr>
					                                    <td colspan="2" align="left">
					                                        <asp:Label ID="lblmandatory" runat="server" Text="* Mandatory Information Required"
					                                            class="LeftLabelStyle" Width="350px" />
					                                    </td>
					                                </tr>
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
					            </div>
					                   	<div runat="server" id="divLogin2"  style="display:none; opacity:0.4; z-index: 150; position: absolute; left: 0%; height: 100%; width: 100%; top: 0%;">
					                <asp:Panel >
					                    <asp:Panel  >
					                        <table style="height: 100%; width: 100%; background-color: #000000;" border="3"   frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">
					                                    	
					                                      
					                                   </td>
					                                </tr>
					                               
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
					            </div>
</form>
</body>
</html>
