<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<link href="<?php  echo $this->baseUrl();?>/css/calendar.css" rel="stylesheet" type="text/css" />   
<script type="text/javascript">
dojo.addOnLoad(function(){
	  });
function fnshowpaymentdetails(idpaymentmode)
{
 // alert(idpaymentmode);
  studentid = <?php echo $this->idstudent;?>;

	if(idpaymentmode==7)
	{
                 

                        var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/examination/changeindividualpayment/fnupdatepaymentoption/idstudent/"+studentid,
					handleAs:'text',
					load:function(data){ 
	    				if(data)
	    				{
		    				window.location = "<?php echo $this->baseUrl();?>"+"/finance/studentpayment/studentpaymentedit/lvaredit/"+studentid;
							
					}
			   }
       }
			dojo.xhrGet(xhrArgs);  








 		
               // alert(idpaymentmode);

                 //window.location = "<?php echo $this->baseUrl();?>"+"/finance/studentpayment/studentpaymentedit/lvaredit/"+studentid;

                //$this->_redirect( $this->baseUrl . '/finance/studentpayment/studentpaymentedit/idstudent/'.$idapplication);
		//document.getElementById('creditcard').style.display='';
		//document.getElementById('fpx').style.display='none';
		
		
	}
if(idpaymentmode==10)
{
       // alert("migs");
        document.getElementById('cc').style.display = '';
	document.getElementById('fpx').style.display = 'none';

        
        dijit.byId('fpxtransactionid').setAttribute("required", false);
        dijit.byId('TxnOrderNo').setAttribute("required", false);
        dijit.byId('Dates').setAttribute("required", false);
        dijit.byId('BuyerBank').setAttribute("required", false);
        dijit.byId('BuyerBankAcc').setAttribute("required", false);
        dijit.byId('DebitAuthNumber').setAttribute("required", false);

        dijit.byId('ReceiptNumber').setAttribute("required", true);
        dijit.byId('Batchnumber').setAttribute("required", true);
        dijit.byId('MerchantTransactionNum').setAttribute("required", true);
        dijit.byId('AuthorisationCode').setAttribute("required", true);
        dijit.byId('ReferenceDate').setAttribute("required", true);
}
if(idpaymentmode==1)
{
          
       // alert("fpx");
        document.getElementById('fpx').style.display = '';
	document.getElementById('cc').style.display = 'none';
        dijit.byId('ReceiptNumber').setAttribute("required", false);
        dijit.byId('Batchnumber').setAttribute("required", false);
        dijit.byId('MerchantTransactionNum').setAttribute("required", false);
        dijit.byId('AuthorisationCode').setAttribute("required", false);
        dijit.byId('ReferenceDate').setAttribute("required", false);

        dijit.byId('fpxtransactionid').setAttribute("required", true);
        dijit.byId('TxnOrderNo').setAttribute("required", true);
        dijit.byId('Dates').setAttribute("required", true);
        dijit.byId('BuyerBank').setAttribute("required", true);
        dijit.byId('BuyerBankAcc').setAttribute("required", true);
        dijit.byId('DebitAuthNumber').setAttribute("required", true);
   
}
	
}

function fnhidebtn()
{
	document.getElementById('savebutton').style.display='none';
}
</script>
</head>
<body>
<fieldset>

 <Form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">    
                <script type="dojo/method" event="onSubmit" >
                if (this.validate()){

		
		
					return true;
                } else {

                    return false;
                }
				</script>






				
<table width="100%" class="table">
					 <tr>
                         <th colspan = "4"><?php echo $this->translate('Candidate Personal Details')?></th>
                     </tr>
                      <tr>
			               <td><?php echo $this->translate("Candidate Name:");?></td>
			               <td><?php echo $this->Fname;?></td>
			               <td><?php echo $this->translate("ICNO :");?></td>
			               <td><?php echo $this->ICNO;?></td>
		             </tr>
		             <tr>
			               <td><?php echo $this->translate("Email Id :");?></td>
			               <td><?php echo $this->EmailAddress;?></td>
			               <td><?php echo $this->translate("Payment Type:");?></td>
			               <td><?php echo $this->paymenttype;?></td>
		             </tr>
				     <tr>
                         <th colspan = "4"><?php echo $this->translate('Candidate Exam Details')?></th>
                     </tr>
                     <tr>
                       	 <td ><?php echo $this->translate("Course Name:");?></td>
			             <td><?php echo $this->Program;?></td>
						 <td><?php echo $this->translate("Exam Venue:");?></td>
			             <td><?php echo $this->Venue;?></td>
		             </tr>
		             <tr>
			               <td><?php echo $this->translate("Exam Date:");?></td>
			               <td><?php echo $this->examdate;?></td>
						   <td><?php echo $this->translate("Exam Session:");?></td>
			               <td><?php echo $this->session;?></td>
			         </tr>
				            <input type="hidden" id="IDApplication" name='IDApplication' value="<?php echo $this->id;?>"/>
				      <tr>
                           <th colspan = "4"><?php echo $this->translate('Change Payment Details')?></th>
                     </tr>
                    <tr>
					    <input type="hidden" name="oldpayment" id="oldpayment" value="<?php echo $this->oldpayment;?>"/>
                        <input type="hidden" name="amount" id="amount" value="<?php echo $this->amount;?>"/>
<input type="hidden" name="examdate" id="examdate" value="<?php echo $this->examdate;?>"/>                        
<td width="33.5%"><?php echo $this->translate("Change Payment Mode To");?></td>
			            <td><?php echo $this->lobjindividualpaymentform->PaymentmodeTo;?></td>
		            </tr>
</table>

<?php  if($this->ModeOfPayment == 7){?>


<div id="fpx" style='display:none'>
<table width="100%" class="table" >
 <tr>
   <td ><?php echo $this->translate->_("Amount:*"); ?></td>
							  <td><?php echo $this->amount;?></td>
							   <td ><?php echo $this->translate->_("Transaction Id:*"); ?></td>
							  <td><?php echo $this->lobjindividualpaymentform->fpxtransactionid?></td>
</tr>
<tr>
						     <td ><?php echo $this->translate->_("Seller Order Number:*");?></td>
							  <td><?php echo $this->lobjindividualpaymentform->TxnOrderNo?></td>
							  <td ><?php echo $this->translate->_("TransactionDate:*");?></td>
							  <td><?php echo $this->lobjindividualpaymentform->Dates?></td>
							  
						</tr>
                        <tr>	
                               <td ><?php echo $this->translate->_("Buyer Bank:*"); ?></td>						
							  <td><?php echo $this->lobjindividualpaymentform->BuyerBank?></td>						  
							  <td ><?php echo $this->translate->_("Buyer Bank Acc:*"); ?></td>
							  <td><?php echo $this->lobjindividualpaymentform->BuyerBankAcc?></td>						  
							 
						</tr> 
                        <tr>
                               <td ><?php echo $this->translate->_("Debit Auth Code"); ?></td>						
							  <td><?php echo $this->lobjindividualpaymentform->DebitAuthCode?></td>
							  <td ><?php echo $this->translate->_("Debit Auth Number:*");?></td>
							  <td><?php echo $this->lobjindividualpaymentform->DebitAuthNumber?></td>
							 
						</tr> 
                        <tr>
                              <td ><?php echo $this->translate->_("Credit Auth Code"); ?></td>						
							  <td><?php echo $this->lobjindividualpaymentform->CreditAuthCode?></td>
							  <td ><?php echo $this->translate->_("Credit Auth Number"); ?></td>	
						       <td><?php echo $this->lobjindividualpaymentform->CreditAuthNumber?></td>
		              </tr>

</table>
</div >


<div id="cc" style='display:block'>
<table width="100%" class="table" >
<tr>
                          <td >Card Type:*</td>
		                   <td><?php echo $this->lobjindividualpaymentform->Cardtype?></td>
						   <td>RRN:*</td>
		                   <td><?php echo $this->lobjindividualpaymentform->ReceiptNumber?></td>
		              </tr>
		              <tr>
                           <td width="33.5%">Batchnumber:*</td>
		                   <td ><?php echo $this->lobjindividualpaymentform->Batchnumber?></td>
						   <td width="33.5%">TransactionRefNumber:*</td>
		                   <td ><?php echo $this->lobjindividualpaymentform->MerchantTransactionNum?></td>
		              </tr>
					  <tr>
					       <td>AuthorisationCode:*</td>
		                   <td><?php echo $this->lobjindividualpaymentform->AuthorisationCode?></td>
                           <td>Date:</td>
		                   <td><?php echo $this->lobjindividualpaymentform->ReferenceDate?></td> </tr>
</table>
</div>
					 <?php }?>




<table width="100%" class="table" >
					<?php  if($this->ModeOfPayment == 1){?>
                                 
					<tr>
		                   <td >Card Type:*</td>
		                   <td><?php echo $this->lobjindividualpaymentform->Cardtype?></td>
						   <td>RRN:*</td>
		                   <td><?php echo $this->lobjindividualpaymentform->ReceiptNumber?></td>
		              </tr>
		              <tr>
                           <td width="33.5%">Batchnumber:*</td>
		                   <td ><?php echo $this->lobjindividualpaymentform->Batchnumber?></td>
						   <td width="33.5%">TransactionRefNumber:*</td>
		                   <td ><?php echo $this->lobjindividualpaymentform->MerchantTransactionNum?></td>
		              </tr>
					  <tr>
					       <td>AuthorisationCode:*</td>
		                   <td><?php echo $this->lobjindividualpaymentform->AuthorisationCode?></td>
                           <td>Date:</td>
		                   <td><?php echo $this->lobjindividualpaymentform->ReferenceDate?></td>						   
		              </tr>
		           </tr>



                             
					 <?php }?>
					<?php  if($this->ModeOfPayment == 10){?>
		               <tr>
					           <td ><?php echo $this->translate->_("Amount:*"); ?></td>
							  <td><?php echo $this->amount;?></td>
							   <td ><?php echo $this->translate->_("Transaction Id:*"); ?></td>
							  <td><?php echo $this->lobjindividualpaymentform->fpxtransactionid?></td>
							  
							  
						</tr> 
						<tr>
						     <td ><?php echo $this->translate->_("Seller Order Number:*");?></td>
							  <td><?php echo $this->lobjindividualpaymentform->TxnOrderNo?></td>
							  <td ><?php echo $this->translate->_("TransactionDate:*");?></td>
							  <td><?php echo $this->lobjindividualpaymentform->Dates?></td>
							  
						</tr>
                        <tr>	
                               <td ><?php echo $this->translate->_("Buyer Bank:*"); ?></td>						
							  <td><?php echo $this->lobjindividualpaymentform->BuyerBank?></td>						  
							  <td ><?php echo $this->translate->_("Buyer Bank Acc:*"); ?></td>
							  <td><?php echo $this->lobjindividualpaymentform->BuyerBankAcc?></td>						  
							 
						</tr> 
                        <tr>
                               <td ><?php echo $this->translate->_("Debit Auth Code"); ?></td>						
							  <td><?php echo $this->lobjindividualpaymentform->DebitAuthCode?></td>
							  <td ><?php echo $this->translate->_("Debit Auth Number:*");?></td>
							  <td><?php echo $this->lobjindividualpaymentform->DebitAuthNumber?></td>
							 
						</tr> 
                        <tr>
                              <td ><?php echo $this->translate->_("Credit Auth Code"); ?></td>						
							  <td><?php echo $this->lobjindividualpaymentform->CreditAuthCode?></td>
							  <td ><?php echo $this->translate->_("Credit Auth Number"); ?></td>	
						       <td><?php echo $this->lobjindividualpaymentform->CreditAuthNumber?></td>
		              </tr>
					  <?php }?> 
			           <tr>      
		                   <td  colspan="2" align="right">
		                   <?php echo $this->lobjindividualpaymentform->Save;?></td>
		                   <td><input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo "Back";?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'examination','controller'=>'changeindividualpayment', 'action'=>'index'),'default',true);?>';" /><td>
  		               </tr> 
		            </table>
				</form> 
</fieldset>
</body>
</html>