<html>
<head>
</head>
<body class='claro'>
<fieldset>
	<legend><?php echo $this->translate("Change Payment for Individual");?></legend>
 		<form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/examination/changeindividualpayment/index/search/1" method="POST">
 			<script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
			</script>
		<table width="100%" >
		
		<tr>
					<td><?php echo $this->translate("Candidate").' '.$this->translate("Name") ?></td>
					<td><?php echo $this->lobjindividualpaymentform->Studentname;?></td>
					<td><?php echo $this->translate("IC NO") ?></td>
					<td><?php echo $this->lobjindividualpaymentform->ICNO;?></td>
				</tr>
				
		        <tr>
                    <td><?php echo $this->translate("Exam").' '.$this->translate("Date") ?></td>
                    <td><?php echo $this->lobjindividualpaymentform->Date;?></td>
                    <td><?php echo $this->translate("Mode").' '.$this->translate("of").' '.$this->translate("Payment") ?></td>
                    <td><?php echo $this->lobjindividualpaymentform->paymentmode;?></td>
                </tr>
				
				<tr>
                    <td><?php echo $this->translate("Course").' '.$this->translate("Name") ?></td>
                    <td><?php echo $this->lobjindividualpaymentform->Coursename;?></td>
                    <td><?php echo $this->translate("Exam Venue") ?></td>
                    <td><?php echo $this->lobjindividualpaymentform->Venues;?></td>
                </tr>
                               
				 <tr>
				 <td colspan="4" align="center">
				 	<?php echo $this->lobjindividualpaymentform->Search;?>
				 	<?php echo $this->lobjindividualpaymentform->Clear;?>
				</td>
               </tr>
		</table>
	</form>	
	</fieldset> 
	<br>
	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
	    	<tr>
	    	     <th><?php echo $this->translate("Candidate").' '.$this->translate("Name");?></th>
	    	     <th><?php echo $this->translate("ICNO");?></th>
	    	     <th><?php echo $this->translate("Exam Date");?></th>
	    	     <th><?php echo $this->translate("Applied Date");?></th>
	    	     <th><?php echo $this->translate("Course").' '.$this->translate("Name");?></th>
	    	     <th><?php echo $this->translate("Exam Venue");?></th>
	    	     <th><?php echo $this->translate("Mode Of").' '.$this->translate("Payment");?></th>
	    	</tr>
   			<?php if (count($this->paginator)): ?>
	        <?php foreach ($this->paginator as $lobjprogram): ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	     <td><a href="<?php echo $this->baseUrl();?>/examination/changeindividualpayment/editstudentinfo/id/<?php echo $this->escape($lobjprogram['IDApplication']);?>" ><?php print_r($this->escape($lobjprogram['FName']));?></a></td>
	        		 <td><?php print_r($this->escape($lobjprogram['ICNO']));?></td>
	        		 <td><?php echo date('d-m-Y',strtotime($lobjprogram['DateTime']));?></td>
	        		 <td><?php echo date('d-m-Y',strtotime($lobjprogram['applieddate']));?></td>
	        	     <td><?php print_r($this->escape($lobjprogram['ProgramName']));?></td>
	        		 <td><?php print_r($this->escape($lobjprogram['centername']));?></td>
	        		 <td><?php if($lobjprogram['ModeofPayment']==1){echo "FPX"; } else if($lobjprogram['ModeofPayment']==2){echo "Credit Card"; }else if($lobjprogram['ModeofPayment']==5){echo "Money Order";}else if($lobjprogram['ModeofPayment']==6){echo "Postal Order";}else if($lobjprogram['ModeofPayment']==10){echo "Credit-Card";}else if($lobjprogram['ModeofPayment']==7) {echo "Credit/Bank to IBFIM account";}?></td>
	        			
	            <?php endforeach; ?>
	            <?php endif; ?> 
			</tr>

<?php if (empty($this->larrresult ) && ($this->paramsearch == 1)): ?>
			<tr>
	        	<td colspan="8" align="center"><div class="pagination"> No result found</div></td>
   			</tr>
			<?php endif; ?>


			
		</table>
	</fieldset>
</body>
</html>
