<head>
<Script type="text/javascript">
function fngetstudetails (id,thr,mop){
	 var urls = "<?php echo $this->baseUrl();?>"+"/reports/recieptreport/getdetails/idapp/"+id+"/from/"+thr+"/mop/"+mop
	 if(id != "")
		{   
		    var xhrArgs = {
					url: urls,
					handleAs:'text',
					load:function(data){					
						document.getElementById('divLogin').style.display = 'block';						
						document.getElementById('divLogin2').style.display = 'block';
						document.getElementById('contentdiv').innerHTML = data;						
					}
			   }
			dojo.xhrGet(xhrArgs); 
		} 
	 
 }
 function Closefn()
	{
		document.getElementById('contentdiv').innerHTML = "";
		document.getElementById('divLogin').style.display = 'none';
		document.getElementById('divLogin2').style.display = 'none';
	} 	
</Script>
</head>
<body class='claro'>
<fieldset>
	<legend><?php echo $this->translate("Receipt").' '.$this->translate("Report");?></legend>
	<div class="search" style="margin-left:20px;">
 		<form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/reports/recieptreport" method="POST" > 
 		  <script type="dojo/method" event="onSubmit">
             if (this.validate()) {
					return true;
                } else {
                    return false;
                }
			</script>
		<table width="100%">				
				<tr>
                    <td><?php echo $this->translate("Payment").' '.$this->translate("From").' '.$this->translate("Date") ?></td>
                    <td><?php echo $this->lobjform->Date3;?></td>
                    <td><?php echo $this->translate("Payment").' '.$this->translate("To").' '.$this->translate("Date") ?></td>
                    <td><?php echo $this->lobjform->Date4;?></td>
                </tr>
                <tr>
                    <td><?php echo $this->translate("Payment From") ?></td>
                    <td><?php echo $this->lobjform->Venues;?></td>
                    <td><?php echo $this->translate("Payment").' '.$this->translate("Mode") ?></td>
                    <td><?php echo $this->lobjform->Coursename;?></td>
                </tr>
                <tr>
                 <td></td>  
                 <td></td>             
               <td ><?php echo $this->lobjform->Search;?>
					<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Clear"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'reports','controller'=>'recieptreport', 'action'=>'index'),'default',true);?>';" />
				</td>
               </tr>
		</table>
	</form>	
		</div>
	</fieldset> 
<br>
<?php $cnts =0; if ($this->fromdate): ?>
<fieldset>
<form dojoType="dijit.form.Form"  id="myDataForm" action="<?php echo $this->baseUrl();?>/reports/recieptreport/pdfexport" method="POST" > 
    <table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr>
        <th><?php echo $this->translate("Payment From") ?></th>
        <th><?php echo $this->translate("Payment Mode") ?></th>
        <th><?php echo $this->translate("Name") ?></th>    
        <th><?php echo $this->translate("Receipt Number") ?></th>
        <th><?php echo $this->translate("Registration Pin") ?></th>
        <th><?php echo $this->translate("Total Candidates") ?></th>
        <th><?php echo $this->translate("Amount") ?></th>
        <th><?php echo $this->translate("GST") ?></th>
        <th><?php echo $this->translate("Total Amount") ?></th>
        <th width="10%"><?php echo $this->translate("Transaction Id/Cheque No.") ?></th>
        <th><?php echo $this->translate("Order Number") ?></th>   
    `   <th width="12%"><?php echo $this->translate("Date Of Payment") ?></th> 
    
    </tr>
   	   
        <?php   if (count($this->result1)): 
        $cnt1 = 0;
        $sum1 = 0;
		$taxsum1 = 0;
		$totalsum1 = 0;
       foreach ($this->result1 as $lobjStudent ): 
       
        if($cnt == 0){$modeofpayment = $lobjStudent['ModeofPayment']; }
        if($modeofpayment != $lobjStudent['ModeofPayment']){
        	?>
        	
        	<tr  style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
      	<td></td>
     	<td ><b> <?php  echo $this->translate("Total - ");
     	if ($modeofpayment == 1) echo "FPX"; else if($modeofpayment == 2) echo "Credit Card";else if($modeofpayment == 4) echo "Cheque";else if($modeofpayment == 5) echo "Money Order";else if($modeofpayment == 6) echo "Postal Order";else if($modeofpayment == 7) echo "Credit/Bank to IBFIM account";else if($modeofpayment == 181) echo "Pay Later";
     	?></b></td>
     	<td ><b> <?php  echo $cnt;?></b></td>
     	<td></td>
     	<td ></td>
     	<td></td>	
     	<td  align="right"><b> <?php  echo number_format($sum[1],2);?></b></td>
     	<td align="right"><b><?php echo number_format($taxsum[1],2); ?></b></td>
		<td align="right"><b><?php echo number_format($totalsum[1],2); ?></b></td>
		<td></td>
		<td></td>
		<td></td>
     </tr>
        	<?php $cnt = 0;   $sum1 = $sum1+$sum[1]; $sum[1] = 0;$taxsum1=$taxsum1+$taxsum[1];$taxsum[1]=0;$totalsum1 = $totalsum1+$totalsum[1];$totalsum[1]=0;
        }
        ?>
        
      
    <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
   		   <td><b> <?php if($cnt1 == 0)  echo $this->translate("Individual Registration");?></b></td> 
		   <td><b><?php if($cnt == 0){ if ($lobjStudent['ModeofPayment'] == 1) echo "FPX"; else if($lobjStudent['ModeofPayment'] == 2) echo "Credit Card";else if($lobjStudent['ModeofPayment'] == 4) echo "Cheque";else if($lobjStudent['ModeofPayment'] == 5) echo "Money Order";else if($lobjStudent['ModeofPayment'] == 6) echo "Postal Order";else if($lobjStudent['ModeofPayment'] == 7) echo "Credit/Bank to IBFIM account";else if($lobjStudent['ModeofPayment'] == 181) echo "Pay Later";}?></b></td> 
		   <td><a href="javascript:fngetstudetails(<?php echo $lobjStudent['idregistereddetails']?>,0,<?php echo $lobjStudent['ModeofPayment']?>);" ><?php print_r($this->escape($lobjStudent['FName']));?></a></td> 
		     <td><?php echo "NA";?></td> 
		
		   
		   <td><?php print_r($this->escape($lobjStudent['Regid']));?></td> 
		      <td><?php echo "NA";?></td>
			  <?php
			   
			   if($lobjStudent['finalamount'] == '80.00' || $lobjStudent['finalamount'] == '75.00')
			   {
                $Totaltax=0;  
				
		       }
			   else
			   {
				$Totaltax=$lobjStudent['finalamount']-$lobjStudent['grossAmount'];   
			   }
			   
			   $Totaltax = $lobjStudent['Rate']*($this->GST/100);
			   $FeesWithoutTax=$lobjStudent['grossAmount']-$Totaltax;
			   $FeesWithTax=$FeesWithoutTax+$Totaltax;
			   
			  ?>
		   <td align="right"><?php echo number_format($FeesWithoutTax,2); $sum[1]= $sum[1]+$FeesWithoutTax; ?></td> 
		   <td align="right"><?php echo $Totaltax; $taxsum[1]=$taxsum[1]+$Totaltax; ?></td>
		   <td align="right"><?php echo $FeesWithTax; $totalsum[1]=$totalsum[1]+$FeesWithTax; ?></td>
		   <td><?php print_r($this->escape($lobjStudent['transactionId']));?></td> 		
           <td><?php echo "NA";?></td>		   
		   <td><?php echo date('d-m-Y',strtotime($lobjStudent['PaymentDate']));?></td> 
		     
        </tr>  
        <?php      $modeofpayment = $lobjStudent['ModeofPayment'];
    				$cnt++; $cnt1++;
    	endforeach; ?>
      <tr  style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
      	<td></td>
     	<td ><b> <?php  echo $this->translate("Total - ");
     	if ($modeofpayment == 1) echo "FPX"; else if($modeofpayment == 2) echo "Credit Card";else if($modeofpayment == 4) echo "Cheque";else if($modeofpayment == 5) echo "Money Order";else if($modeofpayment == 6) echo "Postal Order";else if($modeofpayment == 7) echo "Credit/Bank to IBFIM account";else if($modeofpayment == 181) echo "Pay Later";
     	?></b></td>
     	<td ><b> <?php  echo $cnt;?></b></td>
     	<td></td>
     	<td ></td>
     	<td></td>
     	<td  align="right"><b> <?php  echo number_format($sum[1],2); $sum1 = $sum1+$sum[1];?></b></td>
     	<td align="right"><b><?php  echo number_format($taxsum[1],2); $taxsum1 = $taxsum1+$taxsum[1];?></b></td>
		<td align="right"><b><?php echo number_format($totalsum[1],2);$totalsum1 = $totalsum1+$totalsum[1];?></b></td>
		<td></td>
		<td></td>
		<td></td>
     </tr>
      <tr>
      	<td colspan="12"><hr></td>
     	
     </tr>
      <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
      	<td></td>
     	<td ><b> <?php  echo $this->translate("Total Count");?></b></td>
     	<td ><b> <?php  echo $cnt1;?></b></td>
     	<td ></td>
     	<td></td>
     	<td></td>
     	<td  align="right"><b><?php  echo number_format($sum1,2);?></b></td>
     	<td align="right"><b><?php  echo number_format($taxsum1,2);?></b></td>
		<td align="right"><b><?php  echo number_format($totalsum1,2);?></b></td>
		<td></td>
		<td></td>
		<td></td>
		
     </tr>
      <tr>
      	<td colspan="12"><hr></td>
     	
     </tr>
     <?php endif;
     ?>
    
      <?php  $sum[2] = 0;$taxsum[2] = 0;$totalsum[2] = 0; if (count($this->result2)): $cnt = 0; $cnt2 = 0; ?>
        <?php $result222=$this->result222;  foreach ($this->result2 as $lobjCompany ): 
        
        if($cnt == 0){$modeofpayment = $lobjCompany['ModeofPayment']; }
        if($modeofpayment != $lobjCompany['ModeofPayment']){
        	?>
        	
        	<tr  style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
      	<td></td>
     	<td ><b> <?php  echo $this->translate("Total - ");
     	if ($modeofpayment == 1) echo "FPX"; else if($modeofpayment == 2) echo "Credit Card";else if($modeofpayment == 4) echo "Cheque";else if($modeofpayment == 5) echo "Money Order";else if($modeofpayment == 6) echo "Postal Order";else if($modeofpayment == 7) echo "Credit/Bank to IBFIM account";else if($modeofpayment == 181) echo "Pay Later";
     	?></b></td>
     	<td ><b> <?php  echo $cnt;?></b></td>
     	<td></td>
     	<td ></td>
     	<td></td>
     	<td  align="right"><b> <?php  echo number_format($sum[2],2);?></b></td>
     	<td align="right"><b>  <?php  echo number_format($taxsum[2],2);?></b></td>
		<td align="right"><b>  <?php  echo number_format($totalsum[2],2);?></b></td>
		<td></td>
		<td></td>
		<td></td>
     </tr>
        	<?php $cnt = 0;   $sum2 = $sum2+$sum[2]; $sum[2] = 0; $taxsum2 = $taxsum2+$taxsum[2]; $taxsum[2] = 0; $totalsum2 = $totalsum2+$totalsum[2]; $totalsum[2] = 0;
        }
        ?>
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
        
    <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">   	
   		   <td><b> <?php  if($cnt2 == 0)  echo $this->translate("Company Registration");?></b></td>   		   
		   <td><b><?php if($cnt == 0){ if ($lobjCompany['ModeofPayment'] == 1) echo "FPX"; else if($lobjCompany['ModeofPayment'] == 2) echo "Credit Card";else if($lobjCompany['ModeofPayment'] == 4) echo "Cheque";else if($lobjCompany['ModeofPayment'] == 5) echo "Money Order";else if($lobjCompany['ModeofPayment'] == 6) echo "Postal Order";else if($lobjCompany['ModeofPayment'] == 7) echo "Credit/Bank to IBFIM account";else if($lobjCompany['ModeofPayment'] == 181) echo "Pay Later";}?></b></td> 
		   <td><a href="javascript:fngetstudetails(<?php echo $lobjCompany['idBatchRegistration']?>,1,<?php echo $lobjCompany['ModeofPayment']?>);" ><?php print_r($this->escape($lobjCompany['CompanyName']));?></a></td> 
		   <td><?php if($lobjCompany['ReceiptNum'])
					{
                         echo $lobjCompany['ReceiptNum'];
					}
					else
					{
						echo "NA";
					}?></td>
		   <td><?php echo $lobjCompany['registrationPin'];?></td>   
		   <td><?php  $idpin=$lobjCompany['registrationPin']; if(empty($result222[$idpin])){$result222[$idpin]=0; }  $totalreg=$totalreg+$result222[$idpin]; $totalapplied=$totalapplied+$lobjCompany['totalNoofCandidates'];  echo $lobjCompany['totalNoofCandidates']; ?></td>
		   
		   <td  align="right"><?php $companyactualfees = $lobjCompany['totalAmount'];echo $companyactualfees; $sum[2]= $sum[2]+$companyactualfees;?></td> 
		   <td><?php  $taxamount=$lobjCompany['totalAmount']*($this->GST/100); print_r($this->escape($taxamount)); $taxsum[2]= $taxsum[2]+$this->escape($taxamount);?></td>
		   <td><?php $totalfees = $companyactualfees + $taxamount;echo $totalfees;$totalsum[2]=$totalsum[2]+$totalfees; ?></td>
		   
		   
		   
		   <td><?php echo "NA";?></td> 	
		   <td><?php echo "NA";?></td> 
		  <td><?php echo date('d-m-Y',strtotime($lobjCompany['PaymentDate']));?></td> 	
		  	  
        </tr>    
     <?php $cnt++; $cnt2++; $modeofpayment = $lobjCompany['ModeofPayment']; endforeach; ?>
      <tr  style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
      	<td></td>
     	<td ><b> <?php  echo $this->translate("Total - ");
     	if ($modeofpayment == 1) echo "FPX"; else if($modeofpayment == 2) echo "Credit Card";else if($modeofpayment == 4) echo "Cheque";else if($modeofpayment == 5) echo "Money Order";else if($modeofpayment == 6) echo "Postal Order";else if($modeofpayment == 7) echo "Credit/Bank to IBFIM account";else if($modeofpayment == 181) echo "Pay Later";
     	?></b></td>
     	<td ><b> <?php  echo $cnt;?></b></td>
     	<td></td>
     	<td ></td>
		<td ></td>
     	<td  align="right"><b> <?php  echo number_format($sum[2],2); $sum2 = $sum2+$sum[2];?></b></td>
     	<td  align="right"><b> <?php  echo number_format($taxsum[2],2); $taxsum2 = $taxsum2+$taxsum[2];?></b></td>	
		<td  align="right"><b> <?php  echo number_format($totalsum[2],2); $totalsum2 = $totalsum2+$totalsum[2];?></b></td>
		<td></td>
		<td></td>
		<td></td>
     </tr>
          <tr>
      	<td colspan="12"><hr></td>
     	
     </tr>
      <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
      	<td></td>
     	<td ><b> <?php  echo $this->translate("Total Count");?></b></td>
     	<td ><b> <?php  echo $cnt2;?></b></td>
     	<td > <?php  ?></td>
     	<td></td>
     	<td></td>
     	<td  align="right"><b> <?php  echo number_format($sum2,2);?></b></td>
     	<td  align="right"><b> <?php  echo number_format($taxsum2,2);?></b></td>
		<td  align="right"><b> <?php  echo number_format($totalsum2,2);?></b></td>
		<td></td>
		<td></td>
		<td></td>
     </tr>
      <tr>
      	<td colspan="12"><hr></td>
     	
     </tr>
     <?php endif;
     ?>
    
      <?php $sum[3] = 0;$taxsum[3] = 0;$totalsum[3]=0; if (count($this->result3)): $cnt = 0; $cnt3=0?>
        <?php $result333=$this->result333;  foreach ($this->result3 as $lobjTakaful ): 
        
         if($cnt == 0){$modeofpayment = $lobjTakaful['ModeofPayment']; }
        if($modeofpayment != $lobjTakaful['ModeofPayment']){
        	?>
        	
        	<tr  style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
      	<td></td>
     	<td ><b> <?php  echo $this->translate("Total - "); 
     	if ($modeofpayment == 1) echo "FPX"; else if($modeofpayment == 2) echo "Credit Card";else if($modeofpayment == 4) echo "Cheque";else if($modeofpayment == 5) echo "Money Order";else if($modeofpayment == 6) echo "Postal Order";else if($modeofpayment == 7) echo "Credit/Bank to IBFIM account";else if($modeofpayment == 181) echo "Pay Later";
     	?></b></td>
     	<td ><b> <?php  echo $cnt;?></b></td>
     	<td></td>
     	<td ></td>
     		<td></td>
     	<td  align="right"><b> <?php  echo number_format($sum[3],2);?></b></td>
     	<td  align="right"><b> <?php  echo number_format($taxsum[3],2);?></b></td>
		<td  align="right"><b> <?php  echo number_format($totalsum[3],2);?></b></td>
		<td></td>
		<td></td>
		<td></td>
     </tr>
        	<?php $cnt = 0;   $sum3 = $sum3+$sum[3]; $sum[3] = 0;$taxsum3 = $taxsum3+$taxsum[3];$taxsum[3] = 0;$totalsum3 = $totalsum3+$totalsum[3];$totalsum[3] = 0;
        }
        ?>
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
    <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
   		   <td><b> <?php if($cnt3 == 0)  echo $this->translate("Takaful Registration");?></b></td>
		   <td><b><?php if($cnt == 0){ if ($lobjTakaful['ModeofPayment'] == 1) 
			   echo "FPX"; else if($lobjTakaful['ModeofPayment'] == 2)
			   echo "Credit Card";else if($lobjTakaful['ModeofPayment'] == 4) 
			   echo "Cheque";else if($lobjTakaful['ModeofPayment'] == 5) 
			   echo "Money Order";else if($lobjTakaful['ModeofPayment'] == 6) 
			   echo "Postal Order";else if($lobjTakaful['ModeofPayment'] == 7) 
			   echo "Credit/Bank to IBFIM account";else if($lobjTakaful['ModeofPayment'] == 181) 
			   echo "Pay Later";}?></b></td> 
		   <td><a href="javascript:fngetstudetails(<?php echo $lobjTakaful['idBatchRegistration']?>,2,<?php echo $lobjTakaful['ModeofPayment']?>);" ><?php print_r($this->escape($lobjTakaful['TakafulName']));?></a></td> 
		  	   
		  	<td><?php echo "NA";?></td>   
		   <td><?php print_r($this->escape($lobjTakaful['registrationPin']));?></td> 
		   <td><?php  $idpin=$lobjTakaful['registrationPin']; if(empty($result333[$idpin])){$result333[$idpin]=0; } $totalreg=$totalreg+$result333[$idpin]; $totalapplied=$totalapplied+$lobjTakaful['totalNoofCandidates'];  echo $lobjTakaful['totalNoofCandidates']; ?></td>   
		   
		   
		   <td align="right"><?php $actualfees = $lobjTakaful['totalAmount'];echo $actualfees; $sum[3]= $sum[3]+$actualfees;?></td> 
		   <td align="right"><?php $taxamount=$lobjTakaful['totalAmount']*($this->GST/100);  print_r($this->escape($taxamount)); $taxsum[3]=$taxsum[3]+$this->escape($taxamount);?></td>
		   <td align="right"><?php $takafultotalfees = $actualfees + $taxamount;echo $takafultotalfees; $totalsum[3]=$totalsum[3]+$takafultotalfees;?></td>
		   
		   
		   
		   
		   <td><?php echo "NA";?></td>
		   <td><?php echo "NA";?></td> 
		   <td><?php echo date('d-m-Y',strtotime($lobjTakaful['PaymentDate']));?></td> 
		
		   
        </tr>    
     <?php $cnt++;  $cnt3++; $modeofpayment = $lobjTakaful['ModeofPayment']; endforeach; ?>
     <tr  style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
     	<td></td>
     	<td ><b> <?php  echo $this->translate("Total - "); 
     	if ($modeofpayment == 1) echo "FPX"; else if($modeofpayment == 2) echo "Credit Card";else if($modeofpayment == 4) echo "Cheque";else if($modeofpayment == 5) echo "Money Order";else if($modeofpayment == 6) echo "Postal Order";else if($modeofpayment == 7) echo "Credit/Bank to IBFIM account";else if($modeofpayment == 181) echo "Pay Later";
     	?></b></td>
		<td ><b> <?php  echo $cnt;?></b></td>
		<td></td>
		
		<td></td>
     	
     	
     	<td></td>
     	    <td  align="right"><b> <?php  echo number_format($sum[3],2);  $sum3 = $sum3+$sum[3];?></b></td>
     		<td align="right"><b><?php  echo number_format($taxsum[3],2);  $taxsum3 = $taxsum3+$taxsum[3];?></b></td>	
			<td align="right"><b><?php  echo number_format($totalsum[3],2);  $totalsum3 = $totalsum3+$totalsum[3];?></b></td>
			<td></td>
			<td></td>
			<td></td>
     </tr>
             <tr>
      	<td colspan="12"><hr></td>
     	
     </tr>
      <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
      	<td></td>
     	<td ><b> <?php  echo $this->translate("Total Count");?></b></td>
		<td ><b> <?php  echo $cnt3;?></b></td>
		<td></td>
		<td></td>
		
     	
     	<td></td>
     	<td align="right"><b>  <?php  echo number_format($sum3,2);?></b></td>
     	<td align="right"><b>  <?php  echo number_format($taxsum3,2);?></b></td>	
		<td align="right"><b>  <?php  echo number_format($totalsum3,2);?></b></td>
		<td></td>
		<td></td>
		<td></td>
     </tr>
      <tr>
      	<td colspan="12"><hr></td>
     	
     </tr>
     <?php endif;
     ?>
      <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
      	<td></td>
     	<td ><b> <?php  echo $this->translate("Grand Total");?></b></td>
		
		
		
     	<td ><b> <?php  echo $cnt1+$cnt2+$cnt3;?></b></td>
		<td></td>
		<td></td>
     	<td ><b><?php echo $totalapplied;?></b></td>
     	
     	<td align="right"><b> <?php  echo number_format($sum1+$sum2+$sum3,2);?></b></td>
     		<td align="right"><b><?php  echo number_format($taxsum1+$taxsum2+$taxsum3,2);?></b></td>	
			<td align="right"><b><?php  echo number_format($totalsum1+$totalsum2+$totalsum3,2);?></b></td>
			<td></td>
			<td></td>
			<td></td>
     </tr>
 
 <tr>
	 <td></td>
	 <td></td>
	 <td></td>
	 <td colspan="9" align="right"><input name="Print" id="Print" type="Button" style= "Width=300px " dojoType=dijit.form.Button label="<?php echo $this->translate("Print PDF"); ?>" value=<?php echo $this->translate(" PDF ");?> onclick="window.location.href='<?php echo $this->url(array('module'=>'reports','controller'=>'recieptreport','action'=>'pdfexport','fromdate'=>$this->fromdate,'todate'=>$this->todate,'venue'=>$this->venue,'Coursename'=>$this->Coursename,'reporttype'=>'Pdf'),'default',true);?>';" >
	 <input name="Print1" id="Print1" type="Button" dojoType=dijit.form.Button style= "Width=900px" label="<?php echo $this->translate("Export To Excel"); ?>" value=<?php echo $this->translate(" Excel ");?> onclick="window.location.href='<?php echo $this->url(array('module'=>'reports','controller'=>'recieptreport','action'=>'pdfexport','fromdate'=>$this->fromdate,'todate'=>$this->todate,'venue'=>$this->venue,'Coursename'=>$this->Coursename,'reporttype'=>'Excel'),'default',true);?>';" ></td>
 </tr> 
 
</table>
</form>
</fieldset>
<?php endif; ?>   
<div runat="server" id="divLogin"  style="display:none; z-index: 153; position: fixed; left: 18%; width: 950px;height: 600px;overflow:auto; top:5%" >
					                <asp:Panel runat="server" ID="popupLogin">
					                    <asp:Panel runat="server" ID="popupContent1">
					                        <table style="height: 125px; width: 100%; background-color: #FFFFFF;" border="3"   frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">
					                                    
					                                    	<div id="contentdiv"></div>					                                      
					                                   </td>
					                                </tr>
					                                <tr>
					                                    <td colspan="2" align="left">
					                                        <asp:Label ID="lblmandatory" runat="server" Text="* Mandatory Information Required"
					                                            class="LeftLabelStyle" Width="350px" />
					                                    </td>
					                                </tr>
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
					            </div>
					                   	<div runat="server" id="divLogin2"  style="display:none; opacity:0.4; z-index: 150; position: absolute; left: 0%; height: 100%; width: 100%; top: 0%;">
					                <asp:Panel >
					                    <asp:Panel  >
					                        <table style="height: 100%; width: 100%; background-color: #000000;" border="3"   frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">
					                                    	
					                                      
					                                   </td>
					                                </tr>
					                               
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
					            </div>  
</body>
</html>
