<?php
//get locale
$registry = Zend_Registry::getInstance();
$locale = $registry->get('Zend_Locale');
$this->locale = $locale->toString();

if($locale == 'ar_YE'){
	$this->direction = "rtl";
	$this->float = "right";
	$locale = 'ar';
}else{
	$this->direction = "ltr";
	$this->float = "left";
	$locale = 'en';
}
$lobjinitialconfigModel = new GeneralSetup_Model_DbTable_Initialconfiguration(); 
$larrInitialSettings = $lobjinitialconfigModel->fnGetInitialConfigDetails(1);
////////////////////////Modification by Vineet Suresh Kulkarni 16-12-2014///////////////////

$this->gsessionbatch= new Zend_Session_Namespace('sis');  
$iduser=$this->gsessionbatch->__get('idtakafuloperator');
$auth = Zend_Auth::getInstance();

$uri =  $_SERVER['REQUEST_URI'];

$array = explode("/",$uri);

//in_array("schedulestudents",$array
//if(!in_array("coursevenue",$array) || !in_array("schedulestudents",$array)){
if(($array[3]!="coursevenue")){
	$this->gsessionbatch->visitcoursevenue = 0;
	//echo $this->gsessionbatch->visitcoursevenue."initial time";
}else{	
	$this->gsessionbatch->visitcoursevenue = $this->gsessionbatch->visitcoursevenue + 1;	
	//echo $this->gsessionbatch->visitcoursevenue."first time";	
	if($this->gsessionbatch->visitcoursevenue > 1){
		//echo $this->gsessionbatch->visitcoursevenue."second time";
		$ModelBatchlogin = new App_Model_Batchlogin();		
		$ModelBatchlogin->fnupdatelastlogindetails($iduser,2);
		echo "<script>alert('You have used multiple requests you are forced logged out')</script>";
		echo "<script>parent.location = '".$this->baseUrl()."/index/login';</script>";
		session_destroy();
	}
}
if ($array[3]!="schedulestudents"){
	$this->gsessionbatch->visistsschedulestudents = 0;	
}else{$this->gsessionbatch->visistsschedulestudents = $this->gsessionbatch->visistsschedulestudents + 1;	
	//echo $this->gsessionbatch->visistsschedulestudents."first time";	
	if($this->gsessionbatch->visistsschedulestudents > 1){
		//echo $this->gsessionbatch->visistsschedulestudents."second time";
		$ModelBatchlogin = new App_Model_Batchlogin();		
		$ModelBatchlogin->fnupdatelastlogindetails($iduser,2);
		echo "<script>alert('You have used multiple requests you are forced logged out')</script>";
		echo "<script>parent.location = '".$this->baseUrl()."/index/login';</script>";
		session_destroy();
	}
}
$Typeofuser=2;
$activitytime=date("Y-m-d H:i:s");
$ModelBatchlogin = new App_Model_Batchlogin();
$ModelBatchlogin->fnUpdateLastActivity($iduser,$Typeofuser,$activitytime);
/////////////////End of modification by Vineet Suresh Kulkarni///////////////////

$this->College = empty($larrInitialSettings['CollegeAliasName']) ? "College":$larrInitialSettings['CollegeAliasName'];
$this->Department =  empty($larrInitialSettings['DepartmentAliasName']) ? "Department":$larrInitialSettings['DepartmentAliasName'];
$this->Subject = empty($larrInitialSettings['SubjectAliasName']) ? "Subject":$larrInitialSettings['SubjectAliasName'];
$this->Course = empty($larrInitialSettings['CourseAliasName']) ? "Course":$larrInitialSettings['CourseAliasName'];
$this->Program = empty($larrInitialSettings['ProgramAliasName']) ? "Program":$larrInitialSettings['ProgramAliasName'];
$this->Branch = empty($larrInitialSettings['BranchAliasName']) ? "Branch":$larrInitialSettings['BranchAliasName'];
$this->Center = empty($larrInitialSettings['CenterAliasName']) ? "Center":$larrInitialSettings['CenterAliasName'];
?>
<?  echo $this->doctype(); ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xml:lang="<?php echo $this->locale; ?>"
	dir="<?php echo $this->direction; ?>">
<head>

<!-- ///////////////////////// DOJO ////////////////////////// -->
<script type="text/javascript" src="<?php  echo $this->baseUrl();?>/js/dojo/dojo/dojo.js" djConfig="parseOnLoad: true,locale:'<?php echo $locale;?>'"></script>
<script type="text/javascript" src="<?php  echo $this->baseUrl();?>/js/dojo/dojo/nls/dojo_<?php echo $locale;?>.js"></script>
<link rel="stylesheet" type="text/css" href="<?php  echo $this->baseUrl();?>/js/dojo/dijit/themes/claro/claro.css" />
<link rel="stylesheet" type="text/css" href="<?php  echo $this->baseUrl();?>/js/dojo/dojo/resources/dojo.css" />

<!-- ///////////////////////// DOJO ////////////////////////// -->

<?php echo $this->headMeta(); ?>
<?php echo $this->headTitle(); ?>
<?php echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/layout.css'); ?>
<?php echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/usty/simpletree.css'); ?>
<?php echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/usty/topmenu.css'); ?>
<?php echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/usty/style.css'); ?>
<?php echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/usty/left-menu.css'); ?>
<?php
if($this->direction == 'rtl'){
	echo "<style>";
	echo "ul.potato-menu li.potato-menu-item {
	 				float:right;
				}";
	echo "#language{
	 				left:10px;
	 			}";

	echo "#appTitle{
	 				left: 15px;
					top: 25px;
	 			}";

	echo "#main-content{
						margin-right: 200px;
				}";

	echo "div.toolbar-button {
				float:left;
				text-align: left;
				}";

	echo "</style>";
}else{
	echo "<style>";
	echo "ul.potato-menu li.potato-menu-item {
	 				float:left;
				}";
	echo "#language{
	 				right:10px;
	 			}";

	echo "#appTitle{
	 				right: 15px;
					top: 25px;
	 			}";

	echo "#main-content{
						margin-left: 200px;
				}";

	echo "div.toolbar-button {
				float:right;
				text-align: right;
				}";

	echo "</style>";
}

?>
</head>
<script>
	var isCtrl = false;
    document.onkeyup=function(e)
    {
    if(e.which==17);
    isCtrl=false;
    }
</script>
<body class="claro" oncontextmenu="return false;">
	<div id="container">
		<div id="header">
				<div style=background-color:#FFFFFF;><img src="<?php echo $this->baseUrl();?>/images/header.jpg" height="80" width="75%"></div>
			<div id="appTitle" style=background-color:#FFFFFF;></div>
		</div>
	   
		
		<div id="body">
			<!-- Begin Section Content-->
			<table width="100%" border="0" cellpadding="0" cellspacing="0">
				<tbody>
					<tr>
						
						<td valign="top">
							<div style="background: #fff; height: 30px;" align="center">
								<ul class="stepsmenu">
								<?php  //$module = Zend_Controller_Front::getInstance()->getRequest()->getModuleName();
									  // $controller = Zend_Controller_Front::getInstance()->getRequest()->getControllerName(); ?>
								   
								<?php /*	switch($module) {
									case "general-setup": ?>
										<?php switch($controller) {
												  case "university": ?>
											<?php case "collegemaster": ?>
											<?php case "departmentmaster": ?>
												<li class="first"><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'university','action'=>'index'),'default',true) ?>"><?php echo $this->translate("University"); ?></a></li>
								    			<li class="second"><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'collegemaster','action'=>'index'),'default',true) ?>"><?php echo $this->translate("$this->College"); ?></a></li>
								    			<li class="third"><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'departmentmaster','action'=>'index'),'default',true) ?>"><?php echo $this->translate("$this->Department"); ?></a></li>
								    			<?php break; ?>
								    			
								    			
											<?php case "coursemaster": ?>
											<?php case "program": ?>
											<?php case "programbranch": ?>
												<li class="first"><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'coursemaster','action'=>'index'),'default',true) ?>"><?php echo $this->translate($this->Course).' '.$this->translate("Master"); ?></a></li>
								    			<li class="second"><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'program','action'=>'index'),'default',true) ?>"><?php echo $this->translate("$this->Program"); ?></a></li>
								    			<li class="third"><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'programbranch','action'=>'index'),'default',true) ?>"><?php echo $this->translate($this->Program).' '.$this->translate($this->Branch).' '.$this->translate("Link"); ?></a></li>
								    			<?php break; ?>
								    			
								    			
											<?php case "semestermaster": ?>
											<?php case "semester": ?>
												<li class="first"><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'semestermaster','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Semester").' '.$this->translate("Master"); ?></a></li>
								    			<li class = "second"><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'semester','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Semester"); ?></a></li>
								    			<?php break; ?>
								    			
								    			
											<?php default: ?>
												<?php echo "";?>	
										<?php } ?>	
										<?php break;?>	
									<?php default: 
										echo "";	
								}*/ ?>
								
								<!-- 
									<li class="first"><a href="http://trisakti.oum.edu.my/general-setup/university"><?php //echo $this->translate("University"); ?></a></li>
								    <li class="second"><a href="http://trisakti.oum.edu.my/general-setup/faculty"><?php //echo $this->translate("College"); ?></a></li>
								    <li class="third"><a href="http://trisakti.oum.edu.my/general-setup/department"><?php //echo $this->translate("Department"); ?></a></li>
								    <li class="fourth"><a href="http://trisakti.oum.edu.my/general-setup/branch"><?php //echo $this->translate("Branch"); ?></a></li>
								    <li class="fifth"><a href="http://trisakti.oum.edu.my/general-setup/office"><?php //echo $this->translate("Office"); ?></a></li>
								    <li class="sixth"><a href="http://trisakti.oum.edu.my/general-setup/venue"><?php //echo $this->translate("Venue"); ?></a></li>
								-->
								</ul>
							</div>
						</td>
					</tr>
					<tr>
						<td valign="top">
							<!-- 
							<div class="message toolbar">
								<h2><?php echo $this->translate("University Setup"); ?></h2>
								<div class="toolbar-button">
									<ul>
										<li>
											<a href="#" onclick="javascript:edit(1)">
												<span class="edit"></span>
												<?php echo $this->translate("Edit"); ?>
											</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">
												<span class="info"></span>
												<?php echo $this->translate("Info"); ?>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<br>
							-->
							<table width="100%" cellpadding="0" cellspacing="0" border="0">
								<tbody>
									<tr>
										<td valign="top"><?php echo $this->layout()->content; ?></td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
			<!-- End Section Content-->
		</div>
		 <div id="footer">
			<?php echo $this->translate("Copyright"); ?>
			<?php echo $this->translate(APPLICATION_ENTERPRISE) ;?> 
		 </div>
	</div>
</body>
</html>
