<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="">
<head>

<script type="text/javascript">
	dojo.addOnLoad(function() {
		dijit.byId('loginName').focus();
		var cid = dijit.byId('country').value;
		fnGetCountryStateList(cid);
	});
	
function fnGetCountryStateList(idCountry){ 
	if(idCountry != "" || idCountry != undefined)
		{ 
			var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/general-setup/user/getcountrystateslist/idCountry/"+idCountry,
					handleAs:'json',
					load:function(data){ 
						AutoFillNextEditableDropDown("State",data); 
					}
			   }
			dojo.xhrGet(xhrArgs); 
		} 
	} 
		
function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
    var options = {
					label:"name",
					identifier:"key",
					items:JSONText
				  };
    ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}

</script> 
</head>
<body class='claro'>
 <fieldset>
    <legend><?php echo $this->translate("University");?></legend>
                <Form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">
                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>
                    <table class="table" width="100%" >
                        <tr>
                             <th colspan = "4"><?php echo $this->translate("University").' '.$this->translate("Details");?></th>
                        </tr>
                        <tr>
                            <td ><?php echo $this->translate("University").' '.$this->translate("Name");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjuniversityForm->Univ_Name;?>
                            	<?php echo $this->lobjuniversityForm->UpdDate;?>
                            	<?php echo $this->lobjuniversityForm->UpdUser;?>
                            	<?php echo $this->lobjuniversityForm->IdUniversity;?></td>
                            <td><?php echo $this->translate("Arabic").' '.$this->translate("Name");?><span class="reqMark"></span></td>
                            <td  ><?php echo $this->lobjuniversityForm->Univ_ArabicName;?></td>
                        </tr>
                        <tr>
                            <td ><?php echo $this->translate("Short Name");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjuniversityForm->ShortName;?></td>
                            <td ></td>
                            <td ></td>
                        </tr>
                        
                        <tr>
                        	<th colspan = "4"><?php echo $this->translate("Address").' '.$this->translate("Details");?></th>
                        </tr>
                        <tr> 
                            <td ><?php echo $this->translate("Address 1");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjuniversityForm->Add1;?></td>
                            <td ><?php echo $this->translate("Address 2");?><span class="reqMark">*</span></td>
                             <td ><?php echo $this->lobjuniversityForm->Add2;?>
                        </tr>
                        <tr> 
                            <td ><?php echo $this->translate("City");?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjuniversityForm->City;?></td>
                            <td ><?php echo $this->translate("Country");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjuniversityForm->Country;?></td>
                            
                        </tr>
                        <tr> 
                            <td ><?php echo $this->translate("State");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjuniversityForm->State;?></td>
                            <td ><?php echo $this->translate("Zip Code");?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjuniversityForm->Zip;?></td>
                        </tr>
                        <tr> 
                            <td ><?php echo $this->translate("Phone 1");?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjuniversityForm->Phone1;?></td>
                            <td ><?php echo $this->translate("Phone 2");?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjuniversityForm->Phone2;?></td>
                        </tr>
                        <tr> 
                            <td ><?php echo $this->translate("Fax");?></td>
                            <td ><?php echo $this->lobjuniversityForm->Fax;?></td>
                            <td ><?php echo $this->translate("Email");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjuniversityForm->Email;?></td>
                        </tr>
                        <tr> 
                            <td ><?php echo $this->translate("Url");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjuniversityForm->Url;?></td>
                            <td ></td>
                            <td ></td>
                        </tr>
                        <tr>
                          <th colspan = "4"><?php echo $this->translate($this->Registrar).' '.$this->translate("Details");?></th>
                        </tr>
                        <tr>
                            <td><?php echo $this->translate("Registrar");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjuniversityForm->IdStaff;?></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                        	<td><?php echo $this->translate("From").' '.$this->translate("Date");?><span class="reqMark">*</span></td>
                        	<td><?php echo $this->lobjuniversityForm->FromDate;?></td>
                        	<td><?php echo $this->translate("To").' '.$this->translate("Date");?></td>
                        	<td><?php echo $this->lobjuniversityForm->ToDate;?></td>
                        </tr>	
                        <tr> 
                            <td><?php echo $this->translate("Active");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjuniversityForm->Active;?></td>
                            <td colspan=2></td>
                        </tr>
                          
                        <tr>
                          <td></td>
                          <td></td>
                            <td></td>        
                            <td align = "right"><?php echo $this->lobjuniversityForm->Save;?>
							<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'general-setup','controller'=>'university', 'action'=>'index'),'default',true);?>';" />	
                            </td> 
                               
                        </tr>
              </table>
            
            </Form>

</fieldset>
</body>
</html>