<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="">
<head>

<script type="text/javascript">

	dojo.addOnLoad(function() {
		dijit.byId('IdLevel').set('value','');
		dijit.byId('IdLevel').set('placeHolder','Select');
		dijit.byId('Country').set('value','');
		dijit.byId('Country').set('placeHolder','Select');
		dijit.byId('StCountry').set('value','');
		dijit.byId('StCountry').set('placeHolder','Select');
		dijit.byId('State').set('value','');
		dijit.byId('State').set('placeHolder','Select Country');
		dijit.byId('StState').set('value','');
		dijit.byId('StState').set('placeHolder','Select Country');
		var cid = dijit.byId('Country').value;
		var stcid = dijit.byId('StCountry');
		fnGetCountryStateList(cid,"State");
		fnGetCountryStateList(stcid.value,"StState");
		stcid.store = new dojo.data.ItemFileReadStore( { data: <?php echo $this->jsondata?> } );
	});
	//dojo.require("dojo.data.ItemFileReadStore");
	
function fnGetCountryStateList(idCountry,state){ 
	if(idCountry != "" || idCountry != undefined)
		{ 
			var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/general-setup/user/getcountrystateslist/idCountry/"+idCountry,
					handleAs:'json',
					load:function(data){ 
						AutoFillNextEditableDropDown(state,data); 
					}
			   }
			dojo.xhrGet(xhrArgs); 
		} 
	} 
		
function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
    var options = {
					label:"name",
					identifier:"key",
					items:JSONText
				  };
    ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}

</script> 
</head>
<body class='claro'>
 <fieldset>
    <legend><?php echo $this->translate("University");?></legend>
    
                <Form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">
                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>
                    <table class="table" width="100%" >
                        <tr>
                            <th colspan = "4"><?php echo $this->translate("University").' '.$this->translate("Details");?></th>
                        </tr>
                        <tr>
                            <td ><?php echo $this->translate("University").' '.$this->translate("Name");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjuniversityForm->Univ_Name;?>
                            	<?php echo $this->lobjuniversityForm->UpdDate;?>
                            	<?php echo $this->lobjuniversityForm->UpdUser;?></td>
                            <td><?php echo $this->translate("Arabic").' '.$this->translate("Name");?><span class="reqMark"></span></td>
                            <td  ><?php echo $this->lobjuniversityForm->Univ_ArabicName;?></td>
                        </tr>
                        <tr>
                            <td ><?php echo $this->translate("Short Name");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjuniversityForm->ShortName;?></td>
                            <td ></td>
                            <td ></td>
                        </tr>
                        
                        <tr>
                            <th colspan = "4"><?php echo $this->translate("Address").' '.$this->translate("Details");?></th>
                        </tr>
                        <tr> 
                            <td ><?php echo $this->translate("Address 1");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjuniversityForm->Add1;?></td>
                            <td ><?php echo $this->translate("Address 2");?><span class="reqMark">*</span></td>
                             <td ><?php echo $this->lobjuniversityForm->Add2;?>
                        </tr>
                        <tr> 
                            <td ><?php echo $this->translate("City");?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjuniversityForm->City;?></td>
                            <td ><?php echo $this->translate("Country");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjuniversityForm->Country;?></td>
                            
                        </tr>
                        <tr> 
                            <td ><?php echo $this->translate("State");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjuniversityForm->State;?></td>
                            <td ><?php echo $this->translate("Zip Code");?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjuniversityForm->Zip;?></td>
                        </tr>
                        <tr> 
                            <td ><?php echo $this->translate("Phone 1");?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjuniversityForm->Phone1;?></td>
                            <td ><?php echo $this->translate("Phone 2");?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjuniversityForm->Phone2;?></td>
                        </tr>
                        <tr> 
                            <td ><?php echo $this->translate("Fax");?></td>
                            <td ><?php echo $this->lobjuniversityForm->Fax;?></td>
                            <td ><?php echo $this->translate("Email");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjuniversityForm->Email;?></td>
                        </tr>
                        <tr> 
                            <td ><?php echo $this->translate("Url");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjuniversityForm->Url;?></td>
                        </tr>
                          
                        
                        <tr>
                            <th colspan = "4"><?php echo $this->translate($this->Registrar).' '.$this->translate("Details");?></th>
                        </tr>
                        <tr>
                            <td><?php echo $this->translate("First").' '.$this->translate("Name");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjstaffmasterForm->FirstName;?></td>
                            <td><?php echo $this->translate("Second").' '.$this->translate("Name");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjstaffmasterForm->SecondName;?></td>
                        </tr>
                        <tr>
                            <td><?php echo $this->translate("Third").' '.$this->translate("Name");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjstaffmasterForm->ThirdName;?></td>
							<td><?php echo $this->translate("Fourth").' '.$this->translate("Name");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjstaffmasterForm->FourthName;?></td>
                        </tr>
                        <tr>
                            <td><?php echo $this->translate("Fourth").' '.$this->translate("Name");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjstaffmasterForm->FullName;?></td>
							<td><?php echo $this->translate("Full").' '.$this->translate("Name");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjstaffmasterForm->ArabicName;?></td>
                        </tr>
                        <tr>
                            <th colspan = "4"><?php echo $this->translate("Address").' '.$this->translate("Details");?></th>
                        </tr>
                        <tr> 
                            <td><?php echo $this->translate("Address 1");?><span class="reqMark">*</span></td>
                            <td><input id="StAdd1" type="text" maxlength="50" required="true" dojotype="dijit.form.ValidationTextBox" value="" name="StAdd1"></td>
                            <td><?php echo $this->translate("Address 2");?><span class="reqMark">*</span></td>
                            <td><input id="StAdd2" type="text" maxlength="50" required="true" dojotype="dijit.form.ValidationTextBox" value="" name="StAdd2"></td>
                        </tr>
                        <tr> 
                            <td><?php echo $this->translate("City");?><span class="reqMark"></span></td>
                            <td><input id="StCity" type="text" maxlength="100" dojotype="dijit.form.ValidationTextBox" value="" name="StCity"></td>
                            <td><?php echo $this->translate("Country");?><span class="reqMark">*</span></td>
                            <td><select id="StCountry" dojotype="dijit.form.FilteringSelect" onchange="fnGetCountryStateList(this,'StState')" required="true" name="StCountry"> </select></td>
                        </tr>
                        <tr> 
                            <td><?php echo $this->translate("State");?><span class="reqMark">*</span></td>
                            <td><select id="StState" dojotype="dijit.form.FilteringSelect" required="true" name="StState"> </select></td>
                            <td><?php echo $this->translate("Zip Code");?><span class="reqMark"></span></td>
                            <td><input id="StZip" type="text" maxlength="20" dojotype="dijit.form.ValidationTextBox" value="" name="StZip"></td>
                        </tr>
                        <tr> 
                            <td><?php echo $this->translate("Phone");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjstaffmasterForm->Phone;?></td>
                            <td><?php echo $this->translate("Mobile");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjstaffmasterForm->Mobile;?></td>
                        </tr>	
                        </tr>	
                        <tr>
                            <td><?php echo $this->translate("Email");?><span class="reqMark">*</span></td>
                            <td><input id="StEmail" type="text" maxlength="50" required="true" dojotype="dijit.form.ValidationTextBox" invalidmessage="Not a valid email" regexp="^[_a-zA-Z0-9-]+(\.[_a-zA-Z0-9-]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,3})$" value="" name="StEmail"></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                             <th colspan = "4"><?php echo $this->translate("Other").' '.$this->translate("Details");?></th>
                        </tr>
                        <tr> 
                            <td><?php echo $this->translate("Staff").' '.$this->translate("Type");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjstaffmasterForm->StaffType;?></td>
                            <td><?php echo $this->translate("Level");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjstaffmasterForm->IdLevel;?></td>
                        </tr>
                        <tr>
                        	<td><?php echo $this->translate("From").' '.$this->translate("Date");?><span class="reqMark">*</span></td>
                        	<td><?php echo $this->lobjuniversityForm->FromDate;?></td>
                        	<td><?php echo $this->translate("To").' '.$this->translate("Date");?></td>
                        	<td><?php echo $this->lobjuniversityForm->ToDate;?></td>
                        </tr>	
                        <tr> 
                            <td><?php echo $this->translate("Active");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjuniversityForm->Active;?></td>
                            <td colspan=2></td>
                        </tr>
               			<tr>
                            <td colspan=4 align = "right"><?php echo $this->lobjuniversityForm->Save;?>
							<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'general-setup','controller'=>'university', 'action'=>'index'),'default',true);?>';" />	
                            </td> 
                               
                        </tr>           
                        
              </table>
            
            </Form>

</fieldset>
</body>
</html>
