<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="<?php echo $this->rtl;?>">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css"  href="<?php  echo $this->baseUrl();?>/js/themes/cupertino/jquery.ui.all.css" />
	<script language='javascript' src='<?php  echo $this->baseUrl();?>/js/jquery-1.4.3.js'></script>
	<script language='javascript' src='<?php  echo $this->baseUrl();?>/js/sfs-common.js'></script>	
	<script language="JavaScript" type="text/javascript">
	function showHidden(ids) {		
		$('#'+ids).slideToggle('slow', function() {
		    // Animation complete.
		  });
		/*	if(document.getElementById(ids).style.display == "none") document.getElementById(ids).style.display = "block"; 
			else if(document.getElementById(ids).style.display == "block") document.getElementById(ids).style.display = "none"; */
	
	}	

	function getnewtree()
	{
		var va='<?php echo $this->editidbatch;?>';
		if(va!='')
		{
		$.ajax({
			type: "GET",
			url: "<?php echo $this->baseUrl();?>/examination/createexam/getbatchdetails/IdBatch/"+va,
			success: function(content1){					
				$("#hiddenMainTable").html(content1);
					for(i=0;i<200;i++)
					{
					if(dojo.byId('Exame'+i))
					{
						var Exame = dojo.byId('Exame'+i);
					dojo.style(Exame,'display','none');
					}
					}
				        
			      
			
			
			}
		});
	}
	}
	function fnUpdateData(data){ 
		$('#hiddenMainTable').slideToggle('slow', function() {
		    
		  });
		$('#BatchFrom').val('01-11-2011');
		$('#BatchTo').val('01-11-2011');
		$.ajax({
			type: "GET",
			url: "<?php echo $this->baseUrl();?>/examination/createexam/getbatchinputdatas/IdBatch/"+data,
			success: function(content){			
				content = content.split("#@#");
				$("#BatchFrom").val(content[0]);
				$("#BatchTo").val(content[1]);
			}
		});
		if(data){
			$.ajax({
				type: "GET",
				url: "<?php echo $this->baseUrl();?>/examination/createexam/getbatchdetails/IdBatch/"+data,
				success: function(content1){					
					$("#hiddenMainTable").html(content1);
				
				}
			});
		}
	
	} 
	function fnCheckAvailability(curValue){			
		if(!document.getElementById('totalNoOfQuestions')){
				//alert("Select Batch First");
				document.getElementById('NoOfQuestion').value = "0";
				return true;
		}
		else if(eval(curValue) > eval(document.getElementById('totalNoOfQuestions').value)){
			alert("Maximum no of questions are  "+document.getElementById('totalNoOfQuestions').value);
			document.getElementById('NoOfQuestion').value = "0";
			document.getElementById('NoOfQuestion').focus();
			return false;
		}
	}
	function fnCheckAvailabilitySub(ids,possibleMax,Aid){
		curValue = ids.value;
		validatenumb(ids);
		ParentValue  = document.getElementById('NoOfQuestion').value;
		if(ParentValue == "" || ParentValue == 0)	{
				alert("Enter No Of Questions");	
				ids.value = "0";
				document.getElementById('NoOfQuestion').focus();
				return false;
		}
		maxpossible	=	(eval(curValue)*eval(ParentValue))/100;
		if(maxpossible > possibleMax){
			alertValue =   (eval(possibleMax)/eval(ParentValue))*100;
			if(alertValue > 100) alertValue = 100;
			alert("Maximum no of questions are "+alertValue+"%");
			ids.value = "0";
			ids.focus();
			return false;
		}
		else{
		 	document.getElementById('hidden'+Aid).value = curValue;
		}		
	}
	function fnCheckAvailabilitySubDetails(ids,ParentId,ChildId,possibleMax){		
		ParentValue  = document.getElementById('NoOfQuestion').value;
		curValue = ids.value;
		validatenumb(ids);
		if(ParentValue == "" || ParentValue == 0)	{
			alert("Enter No Of Questions");	
			ids.value = "0";
			document.getElementById('NoOfQuestion').focus();
			return false;
		}
		ChildValue  = document.getElementById("hidden"+ParentId).value;
		if(ChildValue == "" || ChildValue == 0)	{
			alert("Enter No Of Questions In Level One");	
			ids.value = "0";
			return false;
		}
		ActChildValue =  eval(ParentValue)*eval(ChildValue)/100;		
		maxpossible	=	(eval(curValue)*eval(ActChildValue))/100;
		if(ActChildValue < possibleMax) {
			possibleMax = ActChildValue;
		}
		if(maxpossible > possibleMax){
			alertValue =   (eval(possibleMax)/eval(ActChildValue))*100;
			if(alertValue > 100) alertValue = 100;
			alert("Maximum no of questions are "+alertValue+"%");
			ids.value = "0";
		}
		document.getElementById('hidden'+ParentId+ChildId).value = curValue;
	}
	function fnCheckAvailabilityLastSubDetails(ids,ParentId,ChildId,possibleMax){		
		curValue      = ids.value;
		validatenumb(ids);
		ParentValue   = document.getElementById('NoOfQuestion').value;
		ChildValue    = document.getElementById("hidden"+ParentId).value;
		SubChildValue = document.getElementById("hidden"+ParentId+ChildId).value;
		if(ChildValue == "" || ChildValue == 0)	{
			alert("Enter No Of Questions In Level One");	
			ids.value = "0";
			return false;
		}
		if(SubChildValue == "" || SubChildValue == 0)	{
			alert("Enter No Of Questions In Level Two");	
			ids.value = "0";
			return false;
		}
		ChildNumber	=	eval(ParentValue)*eval(ChildValue)/100;
		SubChildNumber = eval(ChildNumber)*eval(SubChildValue)/100;		
		maxpossible	=	(eval(curValue)*eval(SubChildNumber))/100;
		
		if(maxpossible > possibleMax){
			alertValue =   (eval(possibleMax)/eval(SubChildNumber))*100;
			if(alertValue > 100) alertValue = 100;
			alert("Maximum no of questions is "+alertValue+"%");
			ids.value = "0";
		}		
	}
	function validatenumb(num){
		validateNaN(num);
		if(num.value >100){
				alert("Enter Below 100");
				num.value = "0";
				num.focus();
				return false;
			}
		return true;
	}
	function validateNaN(num){
		if(isNaN(num.value)){
			alert("Enter A Number");
			num.value = "0";
			num.focus();			
		}
	}
	</script>
</head>
<body>
<fieldset>
    <legend>TOS Creation</legend>
        <div class="register">
            <div class="profile_tab">
                <form action="<?php echo $this->baseUrl();?>/examination/createexam/editcreateexam"  dojoType="dijit.form.Form" method="POST"  name= "myform">
                           <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script> 
                         <table border="0" width="100%">
							<tr>
	                            <th><?php echo $this->translate->_($this->Batch)?><span class="reqMark">*</span></th>
	                            <th><?php echo $this->form->Batch;?></th>
	                            <th><?php echo $this->translate->_("From")?></th>
	                            <th><?php echo $this->form->BatchFrom;?></th>
	                            <th><?php echo $this->translate->_("To")?></th>
	                            <th><?php echo $this->form->BatchTo;?></th>
                           </tr>

			               <tr>
	                            <th><?php echo $this->translate->_("No Of Questions")?><span class="reqMark">*</span></th>
	                            <th><?php echo $this->form->NoOfQuestion;?></th>
	                            <th><?php echo $this->translate->_("Time")?><span class="reqMark">*</span></th>
	                            <th><?php echo $this->form->ReqTime;?> &nbsp;(Min)</th>
	                            <th><?php echo $this->translate->_("Alert Time")?><span class="reqMark">*</span></th>
	                            <th><?php echo $this->form->AlertTime;?> &nbsp;(Min)<?php  $NoOfTotalQuestions = $this->NoOfTotalQuestions;?></th>
                           </tr>
                            <tr>
	                            <th><?php echo $this->translate->_("Pass Percentage")?><span class="reqMark">*</span></th>
	                            <th><?php echo $this->form->Pass;?></th>
	                           <th><?php echo $this->translate->_("$this->Course")?><span class="reqMark">*</span></th>
	                            <th><?php echo $this->form->Course;?></th>
	                              <th><?php //echo $this->translate->_("Active")?><span class="reqMark"></span></th>
	                            <th><?php //echo $this->form->Active;?></th>
                           </tr>
                           <tr><td colspan="6"><hr></td></tr>
                           <tr>
                           		<td colspan="6" ><input type="hidden" name="idTOSMaster" id="idTOSMaster" value="<?php echo $this->idTOSMaster?>" >
                            			<div id="hiddenMainTable" >
                           						<table   border="0"  width="100%">
                           						<?php  $fullArr	=	$this->larrSections;				
						for($i=0;$i<count($fullArr['IdPart']);$i++){					
					?>
					
                           		<tr>
                           			 <td width="16%"><?php echo $fullArr['IdPart'][$i]?><input type="hidden" name="totalNoOfQuestions" id="totalNoOfQuestions" value="<?php echo $fullArr['count'];?>"></td>
                           			 <td width="14%">
                           			 	<input type="text" name="percent[<?php echo $fullArr['IdPart'][$i]?>][]" id="percent" value="<?php if(array_key_exists('NOQ',$fullArr[$fullArr['IdPart'][$i]])){ echo number_format((($fullArr[$fullArr['IdPart'][$i]]['NOQ']/$NoOfTotalQuestions)*100),2);}?>" size="5" maxlength="7" onkeyup="fnCheckAvailabilitySub(this,<?php echo $fullArr[$fullArr['IdPart'][$i]]['count']?>,'<?php echo $fullArr['IdPart'][$i]?>');">(%)
                           			 	<input type="hidden" name="hidden<?php echo $fullArr['IdPart'][$i]?>" id="hidden<?php echo $fullArr['IdPart'][$i]?>" value="<?php if(array_key_exists('NOQ',$fullArr[$fullArr['IdPart'][$i]])){ echo $parentLevelValue = $fullArr[$fullArr['IdPart'][$i]]['NOQ'];} else echo $parentLevelValue = 0;?>">
                           			 	<input type="hidden" name="Idpart[]" id="Idpart" value="<?php echo $fullArr['IdPart'][$i]?>">
                           			 
                           			 </td>
                           			  <td width="10%"><input type="button" onclick="javascript:showHidden('hiddenTable<?php echo $fullArr['id'][$i]?>');" value="+"></td>
                           					    <td width="60%">
                           					    	<div id="hiddenTable<?php echo $fullArr['id'][$i]?>" >
                           					    		<table   border="0"  width="100%">
                           					    		<?php  if(array_key_exists('idquestions',$fullArr[$fullArr['IdPart'][$i]])){
                           					    			for($j=0;$j<count($fullArr[$fullArr['IdPart'][$i]]['idquestions']);$j++){?>
                           					    			<tr>
                           					    				<td width="16%"><?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?></td>		
                           					    				<td width="26%">
                           					    				<input type="text" name="percent[<?php echo $fullArr['IdPart'][$i]?>][<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>][0]" id="percent" value="<?php if(array_key_exists(0,$fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]])) echo number_format((($fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][0]/$fullArr[$fullArr['IdPart'][$i]]['NOQ'])*100),2)?>" size="5" maxlength="5" onkeyup="fnCheckAvailabilitySubDetails(this,'<?php echo $fullArr['IdPart'][$i]?>','<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>',<?php echo $fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]]['count']?>);">(%)
                           					    				<input type="hidden" name="hidden<?php echo $fullArr['IdPart'][$i]?><?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>" id="hidden<?php echo $fullArr['IdPart'][$i]?><?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>" value="<?php if(array_key_exists(0,$fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]])) echo  $fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][0]; else echo 0;?>">
                           					    				<input type="hidden" name="idquestions[<?php echo $fullArr['IdPart'][$i]?>][]" id="idquestions" value="<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>">
                           					    				</td>
                           					    				<td width="10%"><input type="button" onclick="javascript:showHidden('hiddenTable<?php echo $fullArr['id'][$i]?><?php echo $fullArr[$fullArr['IdPart'][$i]]['idquestions'][$j]?>');" value="+"></td>
                           					    				<td width="48%">
				                           					    	<div id="hiddenTable<?php echo $fullArr['id'][$i]?><?php echo $fullArr[$fullArr['IdPart'][$i]]['idquestions'][$j]?>">
				                           					    		<table  >
				                           					    			<tr>
				                           					    				<td>Easy</td>		
				                           					    				<td><input type="text" name="percent[<?php echo $fullArr['IdPart'][$i]?>][<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>][1]" id="percent" value="<?php if(array_key_exists(1,$fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]])) if($fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][0] != 0){ echo number_format((($fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][1]/$fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][0])*100),2);} else echo $fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][0];?>" size="5" maxlength="5" onkeyup="fnCheckAvailabilityLastSubDetails(this,'<?php echo $fullArr['IdPart'][$i]?>','<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>',<?php if($fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][1]['count']) echo $fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][1]['count'];else echo 0;?>);">(%)</td>				                           					    				
				                           					    			</tr>
				                           					    			<tr>
				                           					    				<td>Intermediate</td>		
				                           					    				<td><input type="text" name="percent[<?php echo $fullArr['IdPart'][$i]?>][<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>][2]" id="percent" value="<?php if(array_key_exists(2,$fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]])) if($fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][0] != 0){ echo number_format((($fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][2]/$fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][0])*100),2);} else echo $fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][0];?>" size="5" maxlength="5" onkeyup="fnCheckAvailabilityLastSubDetails(this,'<?php echo $fullArr['IdPart'][$i]?>','<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>',<?php if($fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][2]['count']) echo $fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][2]['count'];else echo 0;?>);">(%)</td>				                           					    				
				                           					    			</tr>
				                           					    			<tr>
				                           					    				<td>Difficult</td>
				                           					    				<td><input type="text" name="percent[<?php echo $fullArr['IdPart'][$i]?>][<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>][3]" id="percent" value="<?php if(array_key_exists(3,$fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]])) if($fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][0] != 0){ echo number_format((($fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][3]/$fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][0])*100),2);} else echo $fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][0];?>" size="5" maxlength="5" onkeyup="fnCheckAvailabilityLastSubDetails(this,'<?php echo $fullArr['IdPart'][$i]?>','<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>',<?php if($fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][3]['count']) echo $fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][3]['count'];else echo 0;?>);">(%) </td>				                           					    				
				                           					    			</tr>                           					    	
					                           					    	</table>
					                           					    </div>
				                           					    </td>
                           					    			</tr> 
                           					    			<?php }
                           					    			}?>                          					    			                         					    	
	                           					    	</table>
	                           					    </div>
                           					    </td>
                           					   <td></td>
                           					</tr>  
                           					 <tr><td colspan="5"><hr></td></tr>
                           					<?php }?>                       				
                           	</table>	
                           		
                           		</div>
                           		
                           		</td>
                           </tr>
                           <tr>
                          
   		<td>
                           		<td colspan="6" align="right"><?php echo $this->form->Save; ?><a  href="#" onclick="javascript:window.location.href='<?php echo $this->baseUrl();?>/examination/createexam'"><?php echo $this->form->Close;?></a></td>
                           </tr>
						</table>
				</form>
			</div>
		</div>
	</fieldset>	
</body>
</html>
