<head>
     
<script type="text/javascript"><!--
dojo.addOnLoad(function(){
	var form = dijit.byId("myForm");
	var code =  form.attr('value').Discount;
	
	 a="<?php echo $this->lvaredit?>";
	if(a)
	{
		var fieldrow1 = dojo.byId('fieldrow1');	
	if(code==0)
	{
		dojo.style(fieldrow1,'display','none');
		dojo.byId("lebel1111").innerHTML= 'Religion Name';
	}	
	else
		dojo.removeAttr(fieldrow1,'style');
	}
	else
	{
		DiscountType(code);
	}
});

function DiscountType(code)
{	
	//alert(code);
	var fieldrow1 = dojo.byId('fieldrow1');	
	if(code == 1){
	
		dojo.removeAttr(fieldrow1,'style')
		dojo.byId("lebel1111").innerHTML= 'Group Name';
	}
	else
	{
		dojo.byId("lebel1111").innerHTML= 'Religion Name';
		dojo.style(fieldrow1,'display','none');	

	}


	fnGetAllGroupNames(code);

}
function fnGetAllGroupNames(code)
{//alert("abc");
var xhrArgs = {
		url: "<?php echo $this->baseUrl();?>"+"/general-setup/accounthead/getgroupdetails/Type/"+code,
		handleAs:'json',
		load:function(data){ 
			AutoFillNextEditableDropDown("discounttype",data);
		}
   }
dojo.xhrGet(xhrArgs);	
}

function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}

--></script>
</head>
<body class="claro">            
	<fieldset >
	<legend><?php echo $this->translate->_("Discount Setup");?></legend>
		 <form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">
			<script type="dojo/method" event="onSubmit" >
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>
				<?php echo $this->lobjaccountheadentryform->UpdDate?>
				<?php echo $this->lobjaccountheadentryform->UpdUser?>		
	    	   <table class="table" width="100%" >
                	   <tr>
                            <th colspan = "4"><?php echo $this->translate->_("Account Head");?></th>
                        </tr>	
                        <tr>         							
         			
        			<?php echo $this->lobjaccountheadentryform->Discount?>        	
        		</tr>	
	    		<tr>         							
         			<td class="label"><?php echo $this->translate->_("Account Name")?><span class="reqMark">*</span></td>
        			<td><?php echo $this->lobjaccountheadentryform->idAccount?></td>		        	
      			    <td class="label"><?php echo $this->translate->_("Effective Date")?><span class="reqMark">*</span></td>
        			<td><?php echo $this->lobjaccountheadentryform->effectiveDate?></td>        			
        		</tr>	
        		<tr>
        			<td class="label"><?php echo $this->translate->_("Amount / Percentage")?><span class="reqMark">*</span></td>
        			<td><?php echo $this->lobjaccountheadentryform->Amount?></td>       
        			 <td class="label"><?php echo $this->translate->_("Active")?></td>
        			<td><?php echo $this->lobjaccountheadentryform->Active?></td>	
        	    
		      	</tr>	
		      	<tr id="fieldrow1">			    			
        			 <td class="label" ><?php echo $this->translate->_("Minimum No of Student")?></td>
        			<td><?php echo $this->lobjaccountheadentryform->minnostd?></span></td>		   
        		   	
        		  <td></td>
                     <td></td>       	
		      	</tr>	
		      	 <tr>
                          <td></td>
                          <td></td>
                            <td></td>        
                            <td align = "right"><?php echo $this->lobjaccountheadentryform->Save;?>
							<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'general-setup','controller'=>'accounthead', 'action'=>'index'),'default',true);?>';" />	
                            </td> 
                        </tr>       
            </table>
		
		</form>
	</fieldset>
</body>
</html>
     