<head>
<script type="text/javascript">

dojo.addOnLoad(function() {
	fnhidetext();

	var printrep = '<?php echo $this->editid;?>';
	//alert(printrep);
	if(printrep>1)
	{
		//var print = confirm('Invoice saved successfully, Do you wants to print Invoice?')
		if(print == true)
		{
			//window.open("http://<?php echo $_SERVER['SERVER_NAME']?><?php  echo $this->baseUrl();?>/takafulapplication/printreport/insertedId/<?php echo $this->editid;?>");
		}
	}
	
});

<?if(isset($this->alertError)){?>
	alert('<? echo $this->alertError; ?>.');

<?}?>

function fnhidetext()
{
	 Student = dojo.byId('register');
     dojo.style(Student,'display','none');
}

function fnshowtext()
{
	 Student = dojo.byId('register');
     dojo.style(Student,'display','block');	
}


function Closefn()
	{	 
	   	 window.location = "<?php echo $this->baseUrl();?>/takafullogin/logout";        
	}
</script>
</head>
	<fieldset><?php $companyDetails = $this->takafulDetails; ?>
		<legend><?php echo $this->translate("Takaful").' '.$this->translate("Application");?></legend>
        
            <table width="100%" class="table">
                <tr>
                   <td><?php echo $this->translate("Takaful Name");?></td>
                   <td ><?php echo $companyDetails['TakafulName'];?></td>                  
                </tr>
                <tr>
                     <td><?php echo $this->translate("Contact")." ".$this->translate("Person");?></td>
                     <td ><?php echo $companyDetails['ContactName'];?></td>
                  	
                </tr>

            </table>
        </form>	
    </fieldset> 
    <br/>
	<fieldset>
	<form action="<?php echo $this->baseUrl();?>/takafulapplication/index/editid/0" method="POST">
	     <table class="table" width="30%" align="center">
                     <tr>
                          <th colspan = "5"><?php echo $this->translate("New Application");?></th>
                     </tr>                       
                         <tr>
                            <td><input type="radio" name="newapp" id="newapp" value="1" checked onClick="fnhidetext();"><?php  echo $this->translate("New ")." ".$this->translate("Application");?></td>
                            <td align="right"></td>
                         </tr>
                    	 <tr>
                            <td><input type="radio" name="newapp" id="newapp" value="2" onClick="fnshowtext();"><?php  echo $this->translate("Register ")." ".$this->translate("Id");?></td>
                            <td align="right" id="register"><?php  echo $this->lobjTakafulForm->IdRegister;?></td>
                         </tr>   	                        
	                     <tr>                           
                            <td colspan="2" align="right"><?php  echo $this->lobjTakafulForm->Next;?>
                            <input type="button" name="Close" class="buttonStyle" onClick="Closefn();" value="Close" dojoType="dijit.form.Button"  label="Logout" >	</td>
                        </tr>     
	        </table>
        </form>
        </fieldset>                

