<head>

<script type="text/javascript">
function fnshowdetails()
{
	document.getElementById('fieldset1').style.display='';
	document.getElementById('fieldset2').style.display='';
}
function fngetprintreport()
{
	var month =dijit.byId("Month").value;
	var year =dijit.byId("Year").value;
	window.location="<?php echo $this->baseUrl();?>/takafulreport/printexcel/year/"+year+"/month/"+month;
}
function fngetmonthname()
{
	var ajfunction = <?php echo $this->id;?>;
	
	if(ajfunction==1)
	{ 
		document.getElementById('maindetails').style.display='none';	
	var d = new Date();
	var n = d.getFullYear();
	var m = d.getMonth();
	m=m+1;
	dijit.byId("Year").set('value',n);
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/takafulreport/getonloadmonthlist",
			handleAs:'json',
			load:function(data){ 
				AutoFillNextEditableDropDown("Month",data); 
				dijit.byId("Month").set('value',m);
			}
	   }
	dojo.xhrGet(xhrArgs); 
	}
	else
	{
		document.getElementById('maindetails').style.display='';
	}
}
function fnGetMonthList(idyear)
{ 
	var d = new Date();
	var n = d.getFullYear();
	if(idyear>n)
	{
		alert('Please select proper year');
		dijit.byId("Year").set('value',Null);
	}
	if(idyear != "")
		{  
		var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/takafulreport/gettomonthlist/idyear/"+idyear,
				handleAs:'json',
				load:function(data){ 
					AutoFillNextEditableDropDown("Month",data); 
				}
		   }
		dojo.xhrGet(xhrArgs);  
			
		}
	 
	} 

	function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
		dijit.byId(EditableDropDownId).setValue("");
		var ddwidget = dijit.byId(EditableDropDownId);
		ddwidget.setAttribute('disabled', false);
    	var options = {
					label:"name",
					identifier:"key",
					items:JSONText
				  };
    	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
	}
	
</script>
</head>
<body onload="fngetmonthname();">
	<form action="" method="POST">
	<fieldset>
	<legend><?php echo $this->translate("Registration Report").' '.$this->translate("Search");?></legend>
                            <table class="table" width="100%">
                                <tr>
                                    <td><?php echo $this->translate("Year");?></td>
                                    <td><?php echo $this->lobjTakafulreportForm->Year;?></td>
                                    
                                </tr>
                                <tr>
                                    <td ><?php echo $this->translate("Month");?></td>
                                    <td ><?php echo $this->lobjTakafulreportForm->Month;?></td>
                                </tr>
                                <tr>
                                <td colspan="2" align="center">
											<?php echo $this->lobjTakafulreportForm->Search;?>
											<?php echo $this->lobjTakafulreportForm->Clear;?>
								</td>
							     </tr>
                        </table>
    </fieldset>
  </form>
  
  <fieldset id="maindetails">
  <legend><?php echo 'Summary Details';?></legend>
  <?php $programlist = $this->programslist;$totalcountprogram = count($programlist);?>
   <table class="table" width="100%">
                                 <tr>
                                <th>Program</th>
                                <th>Total Registered</th>
                                <th>Pass</th> 
								<th>Fail</th>
								<th>Absent</th> 
								<th>Pending Exam</th>
								</tr>
							
	<?php	$totalcountofregistereds=0;$passes=0;$fails=0;$absentes=0;$applieds=0; for($p=0;$p<$totalcountprogram;$p++){?>
	<tr  style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">	  
		<td><?php echo $programlist[$p]['ProgramName']?></td>
	  
		  <?php     $idtakaful = $this->idtakaful;
		  			$idprogram = $programlist[$p]['IdProgrammaster'];
		  			$year = $this->year;
		  			$month = $this->month;
		  			$regpins = $this->regpins;
		  			$takafulmodel = new App_Model_Takafulreport();
	                $lartotalregisteredtakafulregistered = $takafulmodel->fngettotaltakafulregistered($regpins,$month,$year,$idprogram); 
	                $countofcandidatesfromtakafulregistered = count($lartotalregisteredtakafulregistered); 
	                $pass=0;
	                $fail=0;
	                $absent=0;
	                $applied=0;
	                for($k=0;$k<$countofcandidatesfromtakafulregistered;$k++)
	                {
	                	if($lartotalregisteredtakafulregistered[$k]['pass']==1)
	                	{
	                		$pass++;
	                	}
	                	else if($lartotalregisteredtakafulregistered[$k]['pass']==2)
	                	{
	                		$fail++;
	                	}
	                 	else if($lartotalregisteredtakafulregistered[$k]['pass']==3)
	                	{
	                		$applied++;
	                	}
	                	else if($lartotalregisteredtakafulregistered[$k]['pass']==4)
	                	{
	                		$absent++;
	                	}
	                }
	                $larstudenttakafulregistered = $takafulmodel->fngetindividualregistered($idtakaful,$month,$year,$idprogram); 
	                $countofcandidatesfromindividualregistered = count($larstudenttakafulregistered); 
					for($j=0;$j<$countofcandidatesfromindividualregistered;$j++)
					                {
					                	if($larstudenttakafulregistered[$j]['pass']==1)
					                	{
					                		$pass++;
					                	}
					                	else if($larstudenttakafulregistered[$j]['pass']==2)
					                	{
					                		$fail++;
					                	}
					                 	else if($larstudenttakafulregistered[$j]['pass']==3)
					                	{
					                		$applied++;
					                	}
					                	else if($larstudenttakafulregistered[$j]['pass']==4)
					                	{
					                		$absent++;
					                	}
					                }
	                $totalcountofregistered = $countofcandidatesfromindividualregistered+$countofcandidatesfromtakafulregistered;
	                $totalcountofregistereds = $totalcountofregistereds+$totalcountofregistered;
	                $passes=$passes+$pass;
	                 $fails=$fails+$fail;
	                $absentes=$absentes+$absent;
	                $applieds=$applieds+$applied;
		  ?>
		  <td><?php echo $totalcountofregistered;?></td>
		  
		  
		  
		  
		  
		  <td><?php echo $pass;?></td>
		  <td><?php echo $fail;?></td>
		   <td><?php echo $absent;?></td>
		  <td><?php echo $applied;?></td>
	  </tr>
		  
<?php }?>
<tr>

<td colspan="6">
<hr>
</td>
</tr>
<tr>
<td align="right">Total</td>
<td><?php echo $totalcountofregistereds;?></td>
<td><?php echo $passes;?></td>
<td><?php echo $fails;?></td>
<td><?php echo $absentes;?></td>
<td><?php echo $applieds;?><input type="button" name="showdetails" id="showdetails" value="showdetails" dojotype="dijit.form.Button" label="<?php echo $this->translate("Show Details");?>" onclick="fnshowdetails();"></td>
</tr>

</table>						
								
  </fieldset>
  <?php $larresult = $this->result;$totalcount = count($larresult);?>
  <fieldset id="fieldset1" style="display:none">
  <legend><?php echo $this->translate("Takaful Operator");?></legend>
                            <table class="table" width="100%">
                                <tr>
                                <th style='width:10%'>Exam Date</th>
                                <th style='width:10%'>Program</th>
                                <th style='width:10%'>Registration Pin</th>
                                 
								<th style='width:28%'>Student Name</th>
                                <th style='width:14.5%'>Exam Venue</th>
                                <th style='width:14.5%'>Grade</th>
                                <th style='width:14.5%'>Result</th>
                                   
                                </tr>
                                <?php $centerarray =array();$cnnt=0;for($i=0;$i<($totalcount);$i++){?>
                                 <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
                                  		<?php if(!in_array($larresult[$i]['DateTime'],$centerarray))
                                   			{
                                   				$programarray[$larresult[$i]['DateTime']]=array(); 	?>
                                    				<td> 
													 <?php	$centerarray[] = $larresult[$i]['DateTime'];$cnnt++ ;
													 echo date('d-m-Y',strtotime($larresult[$i]['DateTime']));?>																
	        									</td>	        									
	        							<?php } else 
	        								{?>
	        									<td></td><?php 
	        								}?>
	        								
	        								<?php if(!in_array($larresult[$i]['ProgramName'],$programarray[$larresult[$i]['DateTime']]))
                                   					{
                                   						$programarray[$larresult[$i]['DateTime']][] = $larresult[$i]['ProgramName'];
                                   						$registrationpinarray[$larresult[$i]['DateTime']][$larresult[$i]['ProgramName']] = array();
                                   						?>
	        								 <td><?php echo $larresult[$i]['ProgramName'];?></td>
	        								 <?php } 
	        								 else 
	        								 	{?><td></td><?php 
	        								 }?>
	        								 
	        								 
	        								 <?php if(!in_array($larresult[$i]['RegistrationPin'],$registrationpinarray[$larresult[$i]['DateTime']][$larresult[$i]['ProgramName']]))
                                   					{
                                   						$registrationpinarray[$larresult[$i]['DateTime']][$larresult[$i]['ProgramName']][] = $larresult[$i]['RegistrationPin'];
                                   						
                                   						?>
	        								 <td><?php echo $larresult[$i]['RegistrationPin'];?></td>
	        								 <?php } 
	        								 else 
	        								 	{?><td></td><?php 
	        								 }?>
	        								 
	        								
	        								 
	        								 
                                    <td><?php echo $larresult[$i]['FName'];?></td>
                                
                                    <td><?php echo $larresult[$i]['centername'];?></td>
                                     <?php $takafulmodel = new App_Model_Takafulreport();
                                     		$larresultss = $takafulmodel->fngetmarks($larresult[$i]['IDApplication']);
                                     		if(count($larresultss)>0){?>
                                     		 <td><?php echo $larresultss[0]['Grade'];?></td>
                                     		<?php }else {?>
                                     		 <td>NA</td>
                                     		<?php }?>
                                     		
                               
                                     <?php if($larresult[$i]['pass']==1){?>
                                       <td>Pass</td>
                                     <?php }else if($larresult[$i]['pass']==2){?>
                                     <td>Fail</td>
                                     <?php }else if($larresult[$i]['pass']==4){?>
                                     <td>Absent</td>
                                     <?php }else if($larresult[$i]['pass']==3){?>
                                     <td>Pending Exam</td>
                                     <?php }?>
                                     </tr>
                                <?php }?>
                               
                        </table>
    </fieldset>	
    
    
    
     <?php $larresultindividuals = $this->resultindividuals;$totalcountindividuals = count($larresultindividuals);?>
  <fieldset  id="fieldset2" style="display:none">
   <legend><?php echo $this->translate("Individual");?></legend>
                            <table class="table" width="100%">
                                <tr><th style='width:10%'>Exam Date</th>
                                <th style='width:10%'>Program</th>
                                <th style='width:10%'>Registration Pin</th>
                                    <th style='width:28'>Student Name</th>
                                  
                                       <th style='width:14.5%'>Exam Venue</th>
                                     <th style='width:14.5%'>Grade</th>
                                    <th style='width:14.5%'>Result</th>
                                   
                                </tr>
                                <?php $centerarray =array();$cnnt=0;for($i=0;$i<($totalcountindividuals);$i++){?>
                                 <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
                                  		<?php if(!in_array($larresultindividuals[$i]['DateTime'],$centerarray))
                                   			{
                                   				$programarray[$larresultindividuals[$i]['DateTime']]=array(); 	?>
                                    				<td> 
													 <?php	$centerarray[] = $larresultindividuals[$i]['DateTime'];$cnnt++ ;
													 echo date('d-m-Y',strtotime($larresultindividuals[$i]['DateTime']));?>																
	        									</td>	        									
	        							<?php } else 
	        								{?>
	        									<td></td><?php 
	        								}?>
	        								
	        								<?php if(!in_array($larresultindividuals[$i]['ProgramName'],$programarray[$larresultindividuals[$i]['DateTime']]))
                                   					{
                                   						$programarray[$larresultindividuals[$i]['DateTime']][] = $larresultindividuals[$i]['ProgramName'];
                                   						$registrationpinarray[$larresultindividuals[$i]['DateTime']][$larresultindividuals[$i]['ProgramName']] = array();
                                   						?>
	        								 <td><?php echo $larresultindividuals[$i]['ProgramName'];?></td>
	        								 <?php } 
	        								 else 
	        								 	{?><td></td><?php 
	        								 }?>
	        								 
	        								 
	        								<td>NA</td>
	        								
	        								 
	        								 
                                    <td><?php echo $larresultindividuals[$i]['FName'];?></td>
                                 <td><?php echo $larresultindividuals[$i]['centername'];?></td>
                                   
                                     <?php $takafulmodel = new App_Model_Takafulreport();
                                     		$larresultss = $takafulmodel->fngetmarks($larresultindividuals[$i]['IDApplication']);
                                     		if(count($larresultss)>0){?>
                                     		 <td><?php echo $larresultss[0]['Grade'];?></td>
                                     		<?php }else {?>
                                     		 <td>NA</td>
                                     		<?php }?>
                                     		
                               
                                     <?php if($larresultindividuals[$i]['pass']==1){?>
                                       <td>Pass</td>
                                     <?php }else if($larresultindividuals[$i]['pass']==2){?>
                                     <td>Fail</td>
                                     <?php }else if($larresultindividuals[$i]['pass']==4){?>
                                     <td>Absent</td>
                                     <?php }else if($larresultindividuals[$i]['pass']==3){?>
                                     <td>Pending Exam</td>
                                     <?php }?>
                                     </tr>
                                <?php }?>
                               
                        </table>
                        <table class="table" width="100%">
                        <tr>
                        <td align="right" colspan="7"><input type="button" name="Print" id="Print" value="Print" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Print");?>" onclick="fngetprintreport();"></td>
                        </tr>
                        </table>
    </fieldset>	
    </body>