
<script type="text/javascript">
  
dojo.addOnLoad(function() {
	//dijit.byId('idstate').set('value','');
	//dijit.byId('idstate').set('placeHolder','Select State');

});
    function fnGetCityList(idCountry){ 
    	
    	if(idCountry != "" || idCountry != undefined)
    		{  
    		var xhrArgs = {
    				url: "<?php echo $this->baseUrl();?>"+"/general-setup/center/getcitylist/idCountry/"+idCountry,
    				handleAs:'json',
    				load:function(data){ 
    					AutoFillNextEditableDropDown("idcity",data); 
    				}
    		   }
    		dojo.xhrGet(xhrArgs);  
    			
    		} 
    	} 

    function checkAll(){
     	nodes = dojo.query('[name=\"idcenters[]\"]');
     	if(document.getElementById('idcenter').checked == true) {		 
     		
     		dojo.forEach(nodes,
     		    function(node)
     		    {
     		        dijit.getEnclosingWidget(node).set("checked",true);
     		    }
     		);
     	}
     	else {	
     		dojo.forEach(nodes,
     			    function(node)
     			    {
     			        dijit.getEnclosingWidget(node).set("checked",false);
     			    }
     			);
     	}
     }  

function fnGetvenueList(idcity){ 
    	if(idcity != "" || idcity != undefined)
    		{  
    		var xhrArgs = {
    				url: "<?php echo $this->baseUrl();?>"+"/scheduler/sessionconstraints/getvenuelist/idCountry/"+idcity,
    				handleAs:'json',
    				load:function(data){ 
    					AutoFillNextEditableDropDown("idvenue",data); 
    				}
    		   }
    		dojo.xhrGet(xhrArgs);  
    			
    		} 
    	} 
    	function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
    		dijit.byId(EditableDropDownId).setValue("");
    		var ddwidget = dijit.byId(EditableDropDownId);
    		ddwidget.setAttribute('disabled', false);
        	var options = {
    					label:"name",
    					identifier:"key",
    					items:JSONText
    				  };
        	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
    	}
        
</script> 
<fieldset>
    <legend><?php echo $this->translate("Schedule Constraint");?></legend>
    
                <Form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">
                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
                 flgs = false;
    	         var countrows=  document.getElementById('countrows').value;
    	         for(lvari=0; lvari<countrows;lvari++){    		
    		     if(dijit.byId('idcenterer'+lvari).checked == true){
        		  flgs = true;
        		  break;
    		     }
    	        }
    	        if(!flgs){
   		          alert('Please Select Atleast One Venue');
    	          }
      	        return flgs;
                } else {
                    return false;
                }
				</script>
                    <table class="table" width="100%" >
                        <tr>
                            <th colspan = "4"><?php echo $this->translate("Schedule").' '.$this->translate("Constraint");?>	
                        </tr>
                        <tr>
                            <td ><?php echo $this->translate("Constraint").' '.$this->translate("Name");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjprogramForm->constraintname;?></td>
                        </tr>
                        <tr>
                            <td ><?php echo $this->translate("Date");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjprogramForm->Date;?></td>
                        </tr>
                          <tr>
                            <th><?php echo $this->translate($this->Center).' '.$this->translate("Master");?></th>
                             <th colspan="2"><input type="checkbox" dojoType="dijit.form.CheckBox" name="idcenter" onClick="checkAll();" id="idcenter">Check All</th>
                           </tr>
                             <tr>
                            <td valign="top"><?php echo $this->translate("Select").' '.$this->translate("Venue");?><span class="reqMark">*</span></td> 
                            <td>
                             <?php $lvarccnt =0;  //echo"<pre>"; 
                             foreach ($this->larrVenueresult as $larrcenter ):?>
                                  <input type="hidden" name="idstate[<?php echo $larrcenter['idcenter'];?>]" value="<?php echo $larrcenter['state'];?>" />
                                  <input type="hidden" name="idcity[<?php echo $larrcenter['idcenter'];?>]"  value="<?php echo $larrcenter['city'];?>" />
                                  <input type="checkbox" dojoType="dijit.form.CheckBox" name="idcenters[]" value="<?php echo $larrcenter['idcenter'];?>" id="idcenterer<?php echo $lvarccnt;?>" ><?php echo  $larrcenter['centername'];?>
     		                      <br>
     		                 <?php $lvarccnt++;  endforeach; ?>
                              </td>
                            
                            </tr>
                        <tr>
                            <td >
                             <input type="hidden" name="countrows" id="countrows" value="<?php echo $lvarccnt;?>" />
                             
     		                 
     		                 <?php echo $this->translate("Active");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjprogramForm->Active;?> </td>
                        </tr>
              
               			<tr>
                            <td colspan=4 align = "right"><?php echo $this->lobjprogramForm->Save;?>
							<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'scheduler','controller'=>'sessionconstraints', 'action'=>'index'),'default',true);?>';" />	
                            </td> 
                               
                        </tr>           
                        
              </table>
            
            </Form>

</fieldset>