<fieldset>
    <legend><?php echo $this->translate("$this->Course").' '.$this->translate('Rate');?></legend>
    
                <Form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/finance/programrate/editaccountmaster/id/<?php echo $this->IdCourse; ?>" method="post"  name= "myForm">
                <script type="dojo/method" >
					dojo.addOnLoad(function(){
						dijit.byId('ServiceTax').set('value','');
						dijit.byId('ServiceTax').set('placeHolder','Select');
				});
                
                
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>
				<script type="text/javascript">
					function calculatetotal(percentage)
					{
						var rate=parseInt(document.getElementById('Rate').value);
						var total=0;
						var commission=0;
						commission=rate*percentage/100;
						total=rate + commission;
						total = total.toFixed(1);
						document.getElementById('total').value=total;
						document.getElementById('Totalcharges').value=total;
						document.getElementById('total').innerHTML=total;
						document.getElementById('total').display='block';
						
					}
					function resettax()
					{
						if(document.getElementById('ServiceTax').value=='Select')
						{
							var percentage=0;
						}
						else
						{
						var percentage=document.getElementById('ServiceTax').value;
						}
						calculatetotal(percentage);
					}
				</script>
                    <table class="table" width="100%" >
                        <tr>
                   			 <th colspan = "8"><?php echo $this->translate("$this->Course").' '.$this->translate("Rate");?></th>
                        </tr>
                       
                        <tr>
                            <td ><?php echo $this->translate("$this->Course").' '.$this->translate("Name");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjcoursemasterForm->ProgramName;?>
                            	<?php echo $this->lobjcoursemasterForm->UpdDate;?>
                            	<?php echo $this->lobjcoursemasterForm->UpdUser;?>
                            	<?php echo $this->lobjcoursemasterForm->idProgram; if($this->editId != 0)  echo $this->lobjcoursemasterForm->idProgramrate;?></td>
                            <td colspan="6"></td>	
                          
                        </tr>
                        <tr> 
                        	<td><?php echo $this->translate("Account").' '.$this->translate("Master");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjcoursemasterForm->IdAccountmaster;?></td>
                        	<td><?php echo $this->translate("Rate(RM)")?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjcoursemasterForm->Rate;?></td>
                            <td><?php echo $this->translate("Effective").' '.$this->translate("Date");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjcoursemasterForm->EffectiveDate;?></td>
                            
                            
                           
                        </tr>
               			<tr>
							<td><?php echo $this->translate("GST");?><span class="reqMark">*</span></td>
							<td><?php echo $this->lobjcoursemasterForm->ServiceTax;echo ' in %';?></td>
							<td><?php echo $this->translate("Total");?></td>
							<td id="total"></td>
							<input type="hidden" name="Totalcharges" id="Totalcharges" value="">
							<td><?php echo $this->translate("Current GST    ");echo " ".$this->currenttax." %";?></td>
                            <td colspan=8 align = "right"><?php echo $this->lobjcoursemasterForm->Save;?>
							<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'finance','controller'=>'programrate', 'action'=>'index'),'default',true);?>';" />	
                            </td> 
                               
                        </tr>           
                        
              </table>
            	
            </Form>

</fieldset>
<br/>
					<fieldset>
						<table class="table" width="100%" cellpadding="5" cellspacing="1">
					    	<tr>
					        	<th><?php echo $this->translate('Account').' '.$this->translate("Name");?></th>
					        	<th><?php echo $this->translate('Rate(RM)');?></th>
					        	<th><?php echo $this->translate('Effective').' '.$this->translate("Date");?></th>
					        	<th><?php echo $this->translate('GST');?></th>
					        	<th><?php echo $this->translate('Status');?></th>
					        	
					    	</tr>
					        <?php if (count($this->paginator)): ?>
					        <?php foreach ($this->paginator as $lobjcourse): ?>
					  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
					        	<td><a href="<?php echo $this->baseUrl();?>/finance/programrate/editaccountmaster/id/<?php echo $this->IdCourse; ?>/edit/<?php echo $this->escape($lobjcourse['idProgramrate']);?>" ><?php print_r($this->escape($lobjcourse['AccountName']));?></a></td>
					          	<td><?php  echo $lobjcourse['Rate'];?></td>
					            <td><?php  echo date('d-m-Y',strtotime($lobjcourse['EffectiveDate']));?></td>
					            <td><?php echo $lobjcourse['ServiceTax'];echo "%"; ?></td>
					             	<td><?php if($lobjcourse['act']==1) { echo $this->translate('Active');?><?php }else {?><?php echo $this->translate('Inactive');}?></td>
					            <?php endforeach; ?>
					            <?php endif; ?> 
							</tr>
							<tr>
					        	<td  align="right"><div class="pagination"><?php //echo $this->paginationControl($this->lobjpaginator,'Sliding','/partials/my_pagination_control.phtml'); ?></div></td>
				   			</tr>
						</table>
					</fieldset>
