<html>
<head>
</head>
<body class="claro">            
	<fieldset >
	<legend><?php echo $this->translate->_("Takaful Data");?></legend>
		 <form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm" >
			<script type="dojo/method" event="onSubmit" >
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>		
	    	   <table class="table" width="100%" >
                    	
                    <tr>         							                        
         			  <td class="label" ><?php echo $this->translate->_("Takaful Name")?><span class="reqMark">*</span></td>
        			  <td colspan="3"><?php echo $this->takafulname;?></td>
        			</tr> 
        			<tr>         							                        
         			  <td class="label" ><?php echo $this->translate->_($this->Paymentorder1)?><span class="reqMark">*</span></td>
        			  <td colspan="3"><?php echo $this->lobjTakafulotherpaymentForm->ChequeNo;?></td>
        			</tr>
        			<tr>         							                        
         			  <td class="label" ><?php echo $this->translate->_($this->Paymentorder2)?><span class="reqMark">*</span></td>
        			  <td colspan="3"><?php echo $this->lobjTakafulotherpaymentForm->BankName;?></td>
        			</tr>
        			<?php if($this->Paymentorder3){?>
        			<tr>         							                        
         			  <td class="label" ><?php echo $this->translate->_($this->Paymentorder3)?><span class="reqMark">*</span></td>
        			  <td colspan="3"><?php echo $this->lobjTakafulotherpaymentForm->Amount;?></td>	
        			</tr> 
        			<?php }?>  
        			<?php if($this->Paymentorder4){?>    			
        			<tr>		        	
      			      <td class="label"><?php echo $this->translate->_($this->Paymentorder4)?></span><span class="reqMark">*</span></td>
        			  <td colspan="3"><?php echo $this->lobjTakafulotherpaymentForm->Amount;?></td>		
        		    </tr>
        		    <?php }?> 	
        		    <?php if($this->Paymentorder5){?> 
        		    <tr>		        	
      			      <td class="label"><?php echo $this->translate->_($this->Paymentorder5)?></span><span class="reqMark">*</span></td>
        			  <td colspan="3"><?php echo $this->lobjTakafulotherpaymentForm->Amount;?></td>		
        		    </tr>
        		     <?php }?> 
        		    <input type="hidden" name="takafulmail" id="takafulmail" value="<?php echo $this->takafulemail;?>">
        		       <input type="hidden" name="takafulname" id="takafulname" value="<?php echo $this->takafulname;?>">
        		     <tr>
                       <td></td>
                       <td></td>
                       <td></td>        
                       <td align = "right"><?php echo $this->lobjTakafulotherpaymentForm->Save;?>
					   <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'general-setup','controller'=>'takafulotherpayment', 'action'=>'index'),'default',true);?>';" />	
                       </td> 
                    </tr>       
            </table>		
		</form>
	</fieldset>
</body>
</html>
          