<head>
<Script type="text/javascript">
dojo.addOnLoad(function(){
	examtoDateSetting();
	});

function examtoDateSetting(){ 
	var RegFromDate = dijit.byId('FromDate').value;
	var startDate = dijit.byId('ToDate');
	var trdat = ""+RegFromDate;
	var d = new Date(trdat); 
	d.setDate(d.getDate());
    var date = d.getDate();
    var month = d.getMonth()+1;
    var year = d.getFullYear();
	
    if(month<10) month = "0"+month;
    if(date<10) date = "0"+date;
    var nextdate = year+'-'+month +'-'+date;
    
	startDate.constraints = dojo.mixin(startDate.constraints, {min: dojo.date.stamp.fromISOString(nextdate)}); 

	var trdat = ""+RegFromDate;
	var d = new Date(trdat); 
	d.setDate(d.getDate() + 364);
    var date = d.getDate();
    var month = d.getMonth()+1;
    var year = d.getFullYear();
	
    if(month<10) month = "0"+month;
    if(date<10) date = "0"+date;
    var nextdate = year+'-'+month +'-'+date;
	startDate.constraints = dojo.mixin(startDate.constraints, {max: dojo.date.stamp.fromISOString(nextdate)}); 
}

</script>
<style type = "text/css">
td.border 
{
border-width: 1px;
border-color: black;
border-style: solid;
}
td.adjust
{
	align : right;
}

</style>
</style>
</head>
<body class='claro'>
<fieldset>
	<legend><?php echo $this->translate("Scheduler").' '.$this->translate("Report");?></legend>
 		<form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/scheduler/schedulereport" method="POST" > 
 		  <script type="dojo/method" event="onSubmit">
             if (this.validate()){
					return true;
                } else {
                   return false;
               }
			</script>
		<table class = "table" width="100%">
				<tr>
                    <td colspan = "2"><?php echo $this->translate("From Date")?></td>
                    <td colspan = "2"><?php echo $this->lobjform->FromDate;?></td>
                    <td colspan = "2"><?php echo $this->translate("To Date")?></td>
                    <td colspan = "2"><?php echo $this->lobjform->ToDate;?></td>
                    <td colspan = "2"><?php echo $this->translate("Day")?></td>
                    <td colspan = "2"><?php echo $this->lobjform->day;?></td>
                </tr>
               <tr>
               <td colspan = "12" align = "center"><?php echo $this->lobjform->Search;?>
					<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Clear"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'scheduler','controller'=>'schedulereport','action'=>'index'),'default',true);?>';" />
				</td>
               </tr>
		</table>
	</form>	
		</div>
	</fieldset> 
<br>
<?php if($this->search){?>
<fieldset> 
<form id="myForm1" name = "myform1" action="<?php echo $this->baseUrl();?>/scheduler/schedulereport/fnexportexcel" method="POST">
    <?php if($this->dates){?>
    <table  class = "table" width="100%" border = '1' >
    <?php $dat =  $this->dates;?>
    <tr>
        <th style="background-color:grey"><b><?php echo $this->translate("VENUES / DATE ")?></b></th>
        <?php for($lvars=0;$lvars<count($dat);$lvars++){?>
		<th style="background-color:grey"><b><?php echo $dat[$lvars]['Date'];?><br>
		<?php echo $dat[$lvars]['dayname'];}?></b></th>
    </tr>
     <?php $ven =  $this->venues;?>
        <?php for($lvars=0;$lvars<count($ven);$lvars++){?>
        <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
        	<td class = "border " valign = "top"><?php echo $ven[$lvars]['centername']?></td>
        	 <?php for($j=0;$j<count($dat);$j++){?>
        	 
        	 <?php $this->lobjSchedulereport = new Scheduler_Model_DbTable_Schedulereportmodel();
        	       $idcenter = $ven[$lvars]['idcenter'];
        	       $date = $dat[$j]['date'];
        	       $larresult =$this->lobjSchedulereport->fngetseats($idcenter,$date); 
        	       $cnt = count($larresult);
        	       if($cnt==2)
        	       { ?> 
        	       	<td class = "border " valign = "top">
        	       		 <table width="100%">
        	       		 	<tr><td align="left"><?php echo $larresult[0]['ampmstart'];?></td>
        	       		 	<td align="right">[<?php echo $larresult[0]['Totalcapacity'];?>]</td></tr>
        	       		
        	       		    <tr><td align="left"><?php echo $larresult[1]['ampmstart'];?></td>
        	       		    <td align="right">[<?php echo $larresult[1]['Totalcapacity'];?>]</td></tr>
        	       	    </table>
        	       	</td><?php 
        	       }
        	       else if($cnt==1)
        	       { ?> 
        	       	 <td class = "border " valign = "top">
        	       		<table width="100%">
        	       		 	<tr>
        	       		 	    <td align="left"><?php echo $larresult[0]['ampmstart'];?></td><td align="right">[<?php echo $larresult[0]['Totalcapacity'];?>]</td>
        	       		 	</tr>
        	       		</table>
        	       	 </td>
        	       	 <?php 
        	       }
        	       else 
        	       {?>
        	       	 <td class = "border " valign = "top" >No Exam</td>
        	       	 <?php 
        	       }
        	       ?>
        	 <?php }?>
        </tr>
    <?php }?>
	<table class = 'table' ><tr> 
        <td><?php echo $this->lobjform->ExportToExcel;?></td>
        <td><input type="hidden" name="FromDate" id="FromDate" value="<?php echo $this->FromDate;?>"></td>
        <td> <input type="hidden" name="ToDate" id="ToDate" value="<?php echo $this->ToDate;?>"></td>
        <td> <input type="hidden" name="day" id="day" value="<?php echo $this->day;?>"></td>
   </tr>
   </table>	
</table>
<?php }
     else
       { ?>
        <table width = '100%'> <tr><td align = 'center' ><b> <?php echo $this->translate("NO SCHEDULER FOR THIS DAY OF SELECTED DATE"); ?></b></td></tr></table>
       <?php  }?>
</form>
</fieldset>
<?php }?>
</body>
</html>
