<head>
<Script type="text/javascript">
dojo.addOnLoad(function(){
	examtoDateSetting();
	});

function examtoDateSetting(){ 
	var RegFromDate = dijit.byId('FromDate').value;
	var startDate = dijit.byId('ToDate');
	var trdat = ""+RegFromDate;
	var d = new Date(trdat); 
	d.setDate(d.getDate());
    var date = d.getDate();
    var month = d.getMonth()+1;
    var year = d.getFullYear();
	
    if(month<10) month = "0"+month;
    if(date<10) date = "0"+date;
    var nextdate = year+'-'+month +'-'+date;
    
	startDate.constraints = dojo.mixin(startDate.constraints, {min: dojo.date.stamp.fromISOString(nextdate)}); 

	var trdat = ""+RegFromDate;
	var d = new Date(trdat); 
	d.setDate(d.getDate() + 364);
    var date = d.getDate();
    var month = d.getMonth()+1;
    var year = d.getFullYear();
	
    if(month<10) month = "0"+month;
    if(date<10) date = "0"+date;
    var nextdate = year+'-'+month +'-'+date;
	startDate.constraints = dojo.mixin(startDate.constraints, {max: dojo.date.stamp.fromISOString(nextdate)}); 
}
</script>
</head>
<body class='claro'>
<fieldset>
	<legend><?php echo $this->translate("Manual Marks Entry").' '.$this->translate("Report");?></legend>
 		<form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/reports/manualmarksreport" method="POST" > 
 		  <script type="dojo/method" event="onSubmit">
             if (this.validate()){
					return true;
                } else {
                   return false;
               }
			</script>
		<table class = "table" width="100%">
				<tr>
                    <td colspan = "2"><?php echo $this->translate("From Date")?></td>
                    <td colspan = "2"><?php echo $this->lobjform->FromDate;?></td>
                    <td colspan = "2"><?php echo $this->translate("To Date")?></td>
                    <td colspan = "2"><?php echo $this->lobjform->ToDate;?></td>
                </tr>
               <tr>
               <td colspan = "12" align = "center"><?php echo $this->lobjform->Search;?>
					<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Clear"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'reports','controller'=>'manualmarksreport','action'=>'index'),'default',true);?>';" />
				</td>
               </tr>
		</table>
	</form>	
		</div>
</fieldset> 
<br>
<?php if($this->search){?>
<fieldset> 
<form id="myForm1" name = "myform1" action="<?php echo $this->baseUrl();?>/reports/manualmarksreport/fnexportexcel" method="POST">
  <?php if($this->venues){?>
  <table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr>
        <th><?php echo $this->translate("Candidate Name") ?></th>
        <th><?php echo $this->translate("ICNO") ?></th>
        <th><?php echo $this->translate("Program Name") ?></th>
        <th><?php echo $this->translate("Exam Date") ?></th>
        <th><?php echo $this->translate("Exam Venue") ?></th>
        <th><?php echo $this->translate("Exam Session") ?></th>
        <th><?php echo $this->translate("Part A") ?></th>
        <th><?php echo $this->translate("Part B") ?></th>
        <th><?php echo $this->translate("Part C") ?></th>
        <th><?php echo $this->translate("Obtained") ?></th>
        <th><?php echo $this->translate("Entered By") ?></th>
        <th><?php echo $this->translate("Status") ?></th>
        <th><?php echo $this->translate("Grade") ?></th>
    </tr>
        <?php if (count($this->venues)): ?>
        <?php foreach ($this->venues as $lobjCountry ):?>
	        <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
		        <td><?php print_r($this->escape($lobjCountry['FName']));?></td>
		        <td><?php print_r($this->escape($lobjCountry['ICNO']));?></td>
				<td><?php print_r($this->escape($lobjCountry['ProgramName']));?></td> 
				<td><?php print_r($this->escape($lobjCountry['Examdate']));?></td>
				<td><?php print_r($this->escape($lobjCountry['centername']));?></td>
				<td><?php print_r($this->escape($lobjCountry['session']));?></td>
				<td><?php print_r($this->escape($lobjCountry['PartAmarks']));?></td>
				<td><?php print_r($this->escape($lobjCountry['PartBmarks']));?></td>
				<td><?php print_r($this->escape($lobjCountry['PartCmarks']));?></td>
				<td><?php print_r($this->escape($lobjCountry['obtained']));?></td>
				<td><?php print_r($this->escape($lobjCountry['EnteredBy']));?></td>
				<td><?php print_r($this->escape($lobjCountry['Result']));?></td>
				<td><?php print_r($this->escape($lobjCountry['Grade']));?></td>
				<input type="hidden" name="fromdate" id="fromdate" value="<?php echo $this->FromDate;?>"></td>
				<input type="hidden" name="todate" id="fromdate" value="<?php echo $this->ToDate;?>"></td>
	       </tr>
       <?php endforeach;?>
       <?php endif;?>	
      <tr>
	     <td colspan="13" align="right"><?php echo $this->lobjform->ExportToExcel;?></td>
      </tr>	
</table>
<?php }else {?>
   <table width = '100%'> <tr><td align = 'center' ><b> <?php echo $this->translate("NO DATA FOR THE SELECTED DATE"); ?></b></td></tr></table>
       <?php  }?>
</form> 
</fieldset>  
<?php }?>
</body>
</html>
