
<head>
<script>
dojo.addOnLoad(function(){
	dijit.byId('field3').focus();	
	});
</script>
</head>

<fieldset>
<legend><?php echo $this->translate->_("Company Payment Details Search");?></legend>
<form id="initconfigForm" name="form1" method="post" action="<?php echo $this->baseUrl();?>/finance/companypayment/index/search/1">
	    	<table width="100%">	    		
      			<tr>
      			
         			<td class="label"><?php echo $this->translate->_("Company Name")?></td>
        			<td><?php echo $this->lobjform->field3?></td>	        	
      			</tr>	
      				<tr>
      			
         			<td class="label"><?php echo $this->translate->_("Applied From Date")?></td>
        			<td><?php echo $this->lobjform->RegFromDate?></td>
        			
         			<td class="label"><?php echo $this->translate->_("Applied To Date")?></td>
        			<td><?php echo $this->lobjform->RegToDate?></td>	        	
      			</tr>	   
		      	  <tr>
	               <td align = "center" colspan = "4">
						<?php echo $this->lobjform->Search;?>
						<?php echo $this->lobjform->Clear;?>
				   </td>
				   </tr>      	
	        </table>		
</form>
</fieldset>
<br />
<?php  if (count($this->paginator)): ?>  
<fieldset>
  	<table class="table" width="100%" cellpadding="5" cellspacing="1">
		<thead>
    		<tr>
				<th><?php echo $this->translate->_("Company Name");?></th>
				<th>Contact Person</th>
				<th>Email</th>
			    <th>Number Of Candidates</th>
			     <th>Applied Date</th>		
			   
									
    		</tr>
    	</thead>
    	  	
    	<tbody>       	            
            <?php   foreach ($this->paginator as $lobjcategory ): // ($this->accountdetails as $lobjcategory ): ?>
            <tr>  
          		<td><a href="<?php echo $this->url(array('module'=>'finance','controller'=>'companypayment', 'action'=>'companypaymentedit' , 'lvaredit'=>$lobjcategory['IDApplication']),'default',true);?>" ><?php  echo $lobjcategory['CompanyName'];?></a></td>
          		<td><?php  echo $lobjcategory['ContactPerson'];?></td>
          		<td><?php  echo $lobjcategory['Email'];?></td>
          		<td><?php  echo $lobjcategory['totalNoofCandidates'];?></td>
          		<td><?php echo date('d-m-Y',strtotime($lobjcategory['applied']));?></td>
     		</tr>
     		<?php  endforeach; ?>
     		
     	</tbody>		
     		<tr>
	        	
   			</tr>
      </table>
   </fieldset> 
    <?php  endif; ?>
   </html>
