<?php
/*
 *  @author Suliana
 *  @created May 16, 2011
 */
?>


<div align="center" style="background:#fff; height:30px;">
	<ul class="stepsmenu">
		<li class="first"><a href="<?php echo $this->url(array('module'=>'anr-setup','controller'=>'course','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Course"); ?></a></li>
	    <li class="second"><a href="<?php echo $this->url(array('module'=>'anr-setup','controller'=>'course-prerequisites','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Course Prerequisites"); ?></a></li>
	    <li class="third"><a href="<?php echo $this->url(array('module'=>'anr-setup','controller'=>'course-offered','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Course Offered"); ?></a></li>
	</ul>
</div>