
<div align="center" style="background:#fff; height:30px;">
	<ul class="stepsmenu">
		<li class="first"><?php echo $this->translate("General Setup"); ?></li>
		<li class="second"><?php echo $this->translate("Exam Setup"); ?></li>
		<li class="third"><?php echo $this->translate("Exam Sitting"); ?></li>		
		<li class="fourth"><?php echo $this->translate("Mark Entry"); ?></li>
		<li class="fifth"><?php echo $this->translate("Transcript"); ?></li>
	</ul>	
</div>