<?php
/*
 *  @author Suliana
 *  @created May 16, 2011
 */
?>
<div align="center" style="background:#fff; height:30px;">
	<ul class="stepsmenu">
		<li class="first"><a href="<?php echo $this->url(array('module'=>'exam','controller'=>'grade', 'action'=>'index'),'default',true); ?>"><?php echo $this->translate("Grade Group Setup"); ?></a></li>		
		<li class="second"><a href="<?php echo $this->url(array('module'=>'exam','controller'=>'grade', 'action'=>'view'),'default',true);?>"><?php echo $this->translate("Grade Exception"); ?></a></li>	
		<li class="third"><a href="<?php echo $this->url(array('module'=>'exam','controller'=>'grade', 'action'=>'grade-exception'),'default',true);?>"><?php echo $this->translate("Grade Exception New"); ?></a></li>	
			
	</ul>	
</div>