<div align="center" style="background:#fff; height:30px;">
	<ul class="stepsmenu">
		<li class="first"><a href="<?php echo $this->url(array('module'=>'exam','controller'=>'result', 'action'=>'index'),'default',true); ?>"><?php echo $this->translate("Partial Transcript"); ?></a></li>		
		<li class="second"><a href="<?php echo $this->url(array('module'=>'exam','controller'=>'result', 'action'=>'index2'),'default',true);?>"><?php echo $this->translate("Full Transcript"); ?></a></li>	
			
	</ul>	
</div>