<head>

<link rel="stylesheet" type="text/css"  href="<?php  echo $this->baseUrl();?>/css/site.css" />
<link rel="stylesheet" type="text/css"  href="<?php  echo $this->baseUrl();?>/css/reset.css" />
<link rel="stylesheet" type="text/css"  href="<?php  echo $this->baseUrl();?>/css/style2.css" />
<link rel="stylesheet" type="text/css"  href="<?php  echo $this->baseUrl();?>/css/wforms.css" />
<link rel="shortcut icon" href="<?php  echo $this->baseUrl();?>/images/PayrollFV.gif" />

<script type="text/javascript" language="javascript" src="<?php  echo $this->baseUrl();?>/js/lytebox.js"></script>
<link rel="stylesheet" href="<?php  echo $this->baseUrl();?>/css/lytebox.css" type="text/css" media="screen" />
<link rel="stylesheet" type="text/css"  href="<?php  echo $this->baseUrl();?>/js/themes/cupertino/jquery.ui.all.css" />

<!-- <link rel="stylesheet" type="text/css"  href="<?php  echo $this->baseUrl();?>/css/jquery-ui-1.8.6.custom.css" />-->
 <script language='javascript' src='<?php  echo $this->baseUrl();?>/js/jquery-1.4.3.js'></script>
  <script type="text/javascript" src="<?php  echo $this->baseUrl();?>/js/jquery-ui.js"></script>


</head>
<div id="header">
    <div class="logo"> <h1></h1></div>        <a href="<?php echo $this->baseUrl();?>/index"><strong><u>Home</u></strong></a>

        <div class="log-part">   <a href="<?php echo $this->baseUrl();?>/employment"><strong><u>Career</u></strong></a>&nbsp;   <a href="#"><strong><u>About Us</u></strong></a>        
        </div>
        <div class="main-nav">
       
	</div>
</div>


