<link rel="stylesheet" href="/css/menu.css" type="text/css" media="screen" />
<script type="text/javascript" language="javascript" src="<?php  echo $this->baseUrl();?>/js/menu.js"></script>
<script type="text/javascript" src="/js/ddaccordion.js"></script>
<script type="text/javascript">


ddaccordion.init({
	headerclass: "expandable", //Shared CSS class name of headers group that are expandable
	contentclass: "categoryitems", //Shared CSS class name of contents group
	revealtype: "click", //Reveal content when user clicks or onmouseover the header? Valid value: "click", "clickgo", or "mouseover"
	mouseoverdelay: 200, //if revealtype="mouseover", set delay in milliseconds before header expands onMouseover
	collapseprev: true, //Collapse previous content (so only one open at any time)? true/false 
	defaultexpanded: [0], //index of content(s) open by default [index1, index2, etc]. [] denotes no content
	onemustopen: false, //Specify whether at least one header should be open always (so never all headers closed)
	animatedefault: false, //Should contents open by default be animated into view?
	persiststate: true, //persist state of opened contents within browser session?
	toggleclass: ["", "openheader"], //Two CSS classes to be applied to the header when it's collapsed and expanded, respectively ["class1", "class2"]
	togglehtml: ["prefix", "", ""], //Additional HTML added to the header when it's collapsed and expanded, respectively  ["position", "html1", "html2"] (see docs)
	animatespeed: "fast", //speed of animation: integer in milliseconds (ie: 200), or keywords "fast", "normal", or "slow"
	oninit:function(headers, expandedindices){ //custom code to run when headers have initalized
		//do nothing
	},
	onopenclose:function(header, index, state, isuseractivated){ //custom code to run whenever a header is opened or closed
		//do nothing
	}
});


</script>
<style type="text/css">

.arrowlistmenu
{
	width: 150px; /*width of accordion menu*/
}

.arrowlistmenu .menuheader
{ /*CSS class for menu headers in general (expanding or not!)*/
	font: bold 10px Verdana;
	color: black;
	background: #B8CEE5 url(titlebar.png) repeat-x center left;
	margin-bottom: 5px; /*bottom spacing between header and rest of content*/
	/*text-transform: uppercase;*/
	padding: 4px 0 4px 10px; /*header text is indented 10px*/
	cursor: hand;
	cursor: pointer;
}

.arrowlistmenu .openheader
{ /*CSS class to apply to expandable header when it's expanded*/
	background-image: url(titlebar-active.png);
}

.arrowlistmenu ul
{ /*CSS for UL of each sub menu*/
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-bottom: 8px; /*bottom spacing between each UL and rest of content*/
}

.arrowlistmenu ul li
{
	padding-bottom: 2px; /*bottom spacing between menu items*/
}

.arrowlistmenu ul li a
{
	color: #000000;
	background: url(arrowbullet.png) no-repeat center left; /*custom bullet list image*/
	display: block;
	padding: 2px 0;
	padding-left: 5px; /*link text is indented 19px*/
	text-decoration: none;
	/*font-weight: bold;*/
	border-bottom: 1px solid #dadada;
	font-size: 90%;
}

.arrowlistmenu ul li a:visited
{
	/*color: #A70303;*/
}

.arrowlistmenu ul li a:hover
{ /*hover state CSS*/
	color: #A70303;
	background-color: #F3F3F3;
}

</style>

<?php 
	//get session
	$lobjsessionhrms = Zend_Registry::get('hrmsemployeelogin');
	
	//db object
	$lobjdb = Zend_Db_Table::getDefaultAdapter();

	$lobjinitconfigmodel = new App_Model_InitConfig();
	$larrinitconfigresultset = $lobjinitconfigmodel->getConfigDetails($lobjsessionhrms->idcompany);	
	
	if($larrinitconfigresultset)
		foreach($larrinitconfigresultset as $larrinitconfigresult):
		endforeach;
	
	//get the menu details
	$lstrsql = $lobjdb->select()
			->from('tbl_empportalmainmenu')
			->where('Head != 0')
			->where('Deleteflag=1')
			->where('ManagerMenu=0')
			->order('MenuOrder');
	$larrresult = $lobjdb->fetchAll($lstrsql);
	
	$lstrsqlmanager = $lobjdb->select()
			->from('tbl_empportalmainmenu')
			->where('Head != 0')
			->where('Deleteflag=1')
			->order('MenuOrder');
	$larrmanagerresultset = $lobjdb->fetchAll($lstrsqlmanager);
	
	//get the menu head details 
	$lstrsqlhead = $lobjdb->select()
			->from('tbl_empportalmainmenu')
			->where('Head=0')
			->where('Deleteflag=1')
			->order('MenuOrder');
	$resulthead = $lobjdb->fetchAll($lstrsqlhead);
	
	
	echo "<div id='scrolldiv' style='width:150px; height:550px; overflow:auto'>"	;
	echo "<div class='arrowlistmenu'>";	
	
	foreach($resulthead as $larrheadvalue)
	{
		echo "<h6 class='menuheader expandable'>".$larrheadvalue['Description']."</h6><ul class='categoryitems'>";
		//echo $lobjsessionhrms->ManagerId;
		if($lobjsessionhrms->ManagerId == 1)//if the logged in user is a manager
		{
			foreach($larrmanagerresultset as $larrmanagerresult)
			{
				if($larrheadvalue['idempportalMainMenu'] == $larrmanagerresult['Head'])
				{
					$lintstrpos = strpos($larrmanagerresult['Description'],"Approval");
					
					if($lintstrpos !== false)
					{	
						switch($larrmanagerresult['idempportalMainMenu'])
						{
							case 8://Hardcoded menu id not the correct way to do
							{
								
								switch($larrinitconfigresult['LeaveApplication'])
								{
									case 1://Manager only
									case 2://Manager & Second Level Manager Approval
									{
										echo "<li><a href=".$larrmanagerresult['Uri'].">".$larrmanagerresult['Description']."</a></li>";
										break;
									}
									case 3://HR Approval
									{
										if($larrinitconfigresult['HRDesig'] == $lobjsessionhrms->Designation)
											echo "<li><a href=".$larrmanagerresult['Uri'].">".$larrmanagerresult['Description']."</a></li>";
										break;											
									}
									case 4://All
									{
										if($larrinitconfigresult['HRDesig'] == $lobjsessionhrms->Designation)
											echo "<li><a href=".$larrmanagerresult['Uri'].">".$larrmanagerresult['Description']."</a></li>";
										else 
											echo "<li><a href=".$larrmanagerresult['Uri'].">".$larrmanagerresult['Description']."</a></li>";	
										break;											
									}	
											
								}
								break;										
							}
							
							case 10://Hardcoded menu id not the correct way to do
							{
								switch($larrinitconfigresult['OTRequest'])
								{
									case 1://Manager only
									case 2://Manager & Second Level Manager Approval	
									{
										echo "<li><a href=".$larrmanagerresult['Uri'].">".$larrmanagerresult['Description']."</a></li>";
										break;
									}
									case 3://HR Approval
									{
										if ($larrinitconfigresult['OTDesignation'] == $lobjsessionhrms->Designation)
											echo "<li><a href=".$larrmanagerresult['Uri'].">".$larrmanagerresult['Description']."</a></li>";
										break;											
									}	
									case 4://All
									{
										if ($larrinitconfigresult['OTDesignation'] == $lobjsessionhrms->Designation)
											echo "<li><a href=".$larrmanagerresult['Uri'].">".$larrmanagerresult['Description']."</a></li>";
										else 
											echo "<li><a href=".$larrmanagerresult['Uri'].">".$larrmanagerresult['Description']."</a></li>";	
										break;											
									}	
											
								}
								break;										
							}
							case 11://Hardcoded menu id not the correct way to do
							{
								switch($larrinitconfigresult['AdvanceApplication'])
								{
									case 1://Manager only
									case 2://Manager & Second Level Manager Approval	
									{
										echo "<li><a href=".$larrmanagerresult['Uri'].">".$larrmanagerresult['Description']."</a></li>";
										break;
									}
									case 3://HR Approval
									{
										if ($larrinitconfigresult['HRADesignation'] == $lobjsessionhrms->Designation)
											echo "<li><a href=".$larrmanagerresult['Uri'].">".$larrmanagerresult['Description']."</a></li>";
										break;											
									}	
									case 4://All
									{
										if ($larrinitconfigresult['HRADesignation'] == $lobjsessionhrms->Designation)
											echo "<li><a href=".$larrmanagerresult['Uri'].">".$larrmanagerresult['Description']."</a></li>";
										else 
											echo "<li><a href=".$larrmanagerresult['Uri'].">".$larrmanagerresult['Description']."</a></li>";	
										break;											
									}	
											
								}
								break;										
							}
							case 13://Hardcoded menu id not the correct way to do
							{
								switch($larrinitconfigresult['ProfileChange'])
								{
									case 0://Manager only
									{
										echo "<li><a href=".$larrmanagerresult['Uri'].">".$larrmanagerresult['Description']."</a></li>";
										break;
									}
									case 1://HR Approval
									{
										if ($larrinitconfigresult['PCApprovalDesig'] == $lobjsessionhrms->Designation)
											echo "<li><a href=".$larrmanagerresult['Uri'].">".$larrmanagerresult['Description']."</a></li>";
										break;											
									}	
											
								}
								break;										
							}
							
							case 20://Hardcoded menu id not the correct way to do
							{
								switch($larrinitconfigresult['TRApproval'])
								{
									case 1://Manager only
									case 2://Manager & Second Level Manager Approval	
									{
										echo "<li><a href=".$larrmanagerresult['Uri'].">".$larrmanagerresult['Description']."</a></li>";
										break;
									}
									case 3://HR Approval
									{
										if ($larrinitconfigresult['TRApprovalDesig'] == $lobjsessionhrms->Designation)
											echo "<li><a href=".$larrmanagerresult['Uri'].">".$larrmanagerresult['Description']."</a></li>";
										break;											
									}	
									case 4://All	
									{
										if ($larrinitconfigresult['TRApprovalDesig'] == $lobjsessionhrms->Designation)
											echo "<li><a href=".$larrmanagerresult['Uri'].">".$larrmanagerresult['Description']."</a></li>";
										else 
											echo "<li><a href=".$larrmanagerresult['Uri'].">".$larrmanagerresult['Description']."</a></li>";	
										break;											
									}	
											
								}
								break;										
							}
							
							case 29:
							{
								echo "<li><a href=".$larrmanagerresult['Uri'].">".$larrmanagerresult['Description']."</a></li>";	
								break;	
							}
							
						}
					}
					else 
						echo "<li><a href=".$larrmanagerresult['Uri'].">".$larrmanagerresult['Description']."</a></li>";	
				}
			}	
		}
		else
		{//if the logged in user is either HR or other employee
			foreach ($larrmanagerresultset as $larrmanagerresult)
			{
				if($larrheadvalue['idempportalMainMenu'] == $larrmanagerresult['Head'])
				{
					$lintstrpos = strpos($larrmanagerresult['Description'],"Approval");
					
					if($lintstrpos !== false)
					{	
						switch($larrmanagerresult['idempportalMainMenu'])
						{
							case 8://Hardcoded menu id not the correct way to do
							{
								
								switch($larrinitconfigresult['LeaveApplication'])
								{
									case 1://Manager only
									case 2://Manager & Second Level Manager Approval	
									{
										echo "<li><a href=".$larrmanagerresult['Uri'].">".$larrmanagerresult['Description']."</a></li>";
										break;
									}
									case 3://HR Approval
									{
										if($larrinitconfigresult['HRDesig'] == $lobjsessionhrms->Designation)
											echo "<li><a href=".$larrmanagerresult['Uri'].">".$larrmanagerresult['Description']."</a></li>";
										break;											
									}
									case 4://All
									{
										if($larrinitconfigresult['HRDesig'] == $lobjsessionhrms->Designation)
											echo "<li><a href=".$larrmanagerresult['Uri'].">".$larrmanagerresult['Description']."</a></li>";
										else 
											echo "<li><a href=".$larrmanagerresult['Uri'].">".$larrmanagerresult['Description']."</a></li>";	
										break;											
									}	
											
								}
								break;										
							}
							
							case 10://Hardcoded menu id not the correct way to do
							{
								switch($larrinitconfigresult['OTRequest'])
								{
									case 1://Manager only
									case 2://Manager & Second Level Manager Approval	
									{
										echo "<li><a href=".$larrmanagerresult['Uri'].">".$larrmanagerresult['Description']."</a></li>";
										break;
									}
									case 3://HR Approval
									{
										if ($larrinitconfigresult['OTDesignation'] == $lobjsessionhrms->Designation)
											echo "<li><a href=".$larrmanagerresult['Uri'].">".$larrmanagerresult['Description']."</a></li>";
										break;											
									}	
									case 4://All
									{
										if ($larrinitconfigresult['OTDesignation'] == $lobjsessionhrms->Designation)
											echo "<li><a href=".$larrmanagerresult['Uri'].">".$larrmanagerresult['Description']."</a></li>";
										else 
											echo "<li><a href=".$larrmanagerresult['Uri'].">".$larrmanagerresult['Description']."</a></li>";	
										break;											
									}	
											
								}
								break;										
							}
							case 11://Hardcoded menu id not the correct way to do
							{
								switch($larrinitconfigresult['AdvanceApplication'])
								{
									case 1://Manager only
									case 2://Manager & Second Level Manager Approval	
									{
										echo "<li><a href=".$larrmanagerresult['Uri'].">".$larrmanagerresult['Description']."</a></li>";
										break;
									}
									case 3://HR Approval
									{
										if ($larrinitconfigresult['HRADesignation'] == $lobjsessionhrms->Designation)
											echo "<li><a href=".$larrmanagerresult['Uri'].">".$larrmanagerresult['Description']."</a></li>";
										break;											
									}	
									case 4://All
									{
										if ($larrinitconfigresult['HRADesignation'] == $lobjsessionhrms->Designation)
											echo "<li><a href=".$larrmanagerresult['Uri'].">".$larrmanagerresult['Description']."</a></li>";
										else 
											echo "<li><a href=".$larrmanagerresult['Uri'].">".$larrmanagerresult['Description']."</a></li>";	
										break;											
									}	
											
								}
								break;										
							}
							case 13://Hardcoded menu id not the correct way to do
							{
								switch($larrinitconfigresult['ProfileChange'])
								{
									case 0://Manager only
									{
										echo "<li><a href=".$larrmanagerresult['Uri'].">".$larrmanagerresult['Description']."</a></li>";
										break;
									}
									case 1://HR Approval
									{
										if ($larrinitconfigresult['PCApprovalDesig'] == $lobjsessionhrms->Designation)
											echo "<li><a href=".$larrmanagerresult['Uri'].">".$larrmanagerresult['Description']."</a></li>";
										break;											
									}	
											
								}
								break;										
							}
							case 20://Hardcoded menu id not the correct way to do
							{
								switch($larrinitconfigresult['TRApproval'])
								{
									case 1://Manager only
									case 2://Manager & Second Level Manager Approval	
									{
										echo "<li><a href=".$larrmanagerresult['Uri'].">".$larrmanagerresult['Description']."</a></li>";
										break;
									}
									case 3://HR Approval
									{
										if ($larrinitconfigresult['TRApprovalDesig'] == $lobjsessionhrms->Designation)
											echo "<li><a href=".$larrmanagerresult['Uri'].">".$larrmanagerresult['Description']."</a></li>";
										break;											
									}	
									case 4://All	
									{
										if ($larrinitconfigresult['TRApprovalDesig'] == $lobjsessionhrms->Designation)
											echo "<li><a href=".$larrmanagerresult['Uri'].">".$larrmanagerresult['Description']."</a></li>";
										else 
											echo "<li><a href=".$larrmanagerresult['Uri'].">".$larrmanagerresult['Description']."</a></li>";	
										break;											
									}	
											
								}
								break;										
							}
							
							case 29:
							{
								echo "<li><a href=".$larrmanagerresult['Uri'].">".$larrmanagerresult['Description']."</a></li>";	
								break;	
							}
							
						}
					}
					else 
						echo "<li><a href=".$larrmanagerresult['Uri'].">".$larrmanagerresult['Description']."</a></li>";	
				}
			
				//if($larrheadvalue['idempportalMainMenu'] == $larrvalue['Head'])
				//{
				//		echo "<li><a href=".$larrvalue['Uri'].">".$larrvalue['Description']."</a></li>";
				//}
			}
		}
		echo "</ul>";
	}	

	/*echo "<li><a href='/emp/changepassword'>Change Password</a></li>";
	echo "<li><a href='/emp/leaveregister'>Leave Application</a></li>";
	echo "<li><a href='/emp/advance/index/id/1'>Advance Application</a></li>";
	echo "<li><a href='/emp/otrequest'>OT Request</a></li>";
	echo "<li><a href='/emp/trainingrequest'>Training Request</a></li>";
	echo "</ul>";
	echo "<h6 class='menuheader expandable'>Reports</h6><ul class='categoryitems'>";
	echo "<li><a href='/emp/salaryreport'>Pay Slip</a></li>";
	*/
	echo "</div>";
	echo "</div>";
?>