<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">


<head>
<title><?php echo $this->escape($this->title); ?></title>
<script>
    function setFocus() {
      var bankSearchButton = document.getElementById("field3");
      var passwordPage = document.getElementById("oldpassword");      
      var emp_code = document.getElementById("emp_code");      
      var username = document.getElementById("username");      
      if (bankSearchButton) {
    	  bankSearchButton.focus();
      }

      if(passwordPage)
      {
          passwordPage.focus();

      }
      if(emp_code)
      {
    	  emp_code.focus();
      }
      if(username)
      {
          username.focus();
      }
    }
    
</script>
</head>
<body onload="setFocus();">
    <div id="container">
            <div id="header"><?php echo $this->render('empdefaultheader.phtml'); ?></div>

        <div id="content">
       
                    <?php echo $this->layout()->content; ?>
        </div>
        <div class="footer">All rights reserved. </div>
        </div>
</body>
</html>