<head>
<Script type="text/javascript">
dojo.addOnLoad(function(){
	//examtoDateSetting();
	});
function examtoDateSetting(){ 
	var RegFromDate = dijit.byId('Date3').value;
	var startDate = dijit.byId('Date4');
	var trdat = ""+RegFromDate;
	var d = new Date(trdat); 
	d.setDate(d.getDate());
    var date = d.getDate();
    var month = d.getMonth()+1;
    var year = d.getFullYear();
	
    if(month<10) month = "0"+month;
    if(date<10) date = "0"+date;
    var nextdate = year+'-'+month +'-'+date;
    
	startDate.constraints = dojo.mixin(startDate.constraints, {min: dojo.date.stamp.fromISOString(nextdate)}); 

	var trdat = ""+RegFromDate;
	var d = new Date(trdat); 
	d.setDate(d.getDate() + 30);
    var date = d.getDate();
    var month = d.getMonth()+1;
    var year = d.getFullYear();
	
    if(month<10) month = "0"+month;
    if(date<10) date = "0"+date;
    var nextdate = year+'-'+month +'-'+date;

	startDate.constraints = dojo.mixin(startDate.constraints, {max: dojo.date.stamp.fromISOString(nextdate)}); 
}


function fngetexamcentre(){

	var regFromDate = dijit.byId('Date3');
	var toDate = dijit.byId('Date4');
	    var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/reports/attendancelist/fngetcentres/regFromDate/"+regFromDate+"/toDate/"+toDate,
				handleAs:'json',
				load:function(data){ 
					AutoFillNextEditableDropDown("Venues",data);
				}
		   }
		dojo.xhrGet(xhrArgs);
}

function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}
</Script>		
</head>
<body class='claro'>
<fieldset>
	<legend><?php echo $this->translate("Attendance List").' '.$this->translate("Report");?></legend>
	<div class="search" style="margin-left:20px;">
 		<form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/reports/attendancelist" method="POST" > 
 		  <script type="dojo/method" event="onSubmit">
             if (this.validate()) {
					return true;
                } else {
                    return false;
                }
			</script>
		<table width="100%">				
				<tr>
                    <td><?php echo $this->translate("Exam").' '.$this->translate("From").' '.$this->translate("Date") ?></td>
                    <td><?php echo $this->lobjform->Date3;?></td>
                    <td><?php echo $this->translate("Exam").' '.$this->translate("To").' '.$this->translate("Date") ?></td>
                    <td><?php echo $this->lobjform->Date4;?></td>
                </tr>
                <tr>
                    <td><?php echo $this->translate("Venue") ?></td>
                    <td><?php echo $this->lobjform->Venues;?></td>
                    <td><?php echo $this->translate("Course").' '.$this->translate("Name") ?></td>
                    <td><?php echo $this->lobjform->Coursename;?></td>
                </tr>
                <tr>
                 <td></td>  
                 <td></td>             
               <td ><?php echo $this->lobjform->Search;?>
					<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Clear"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'reports','controller'=>'attendancelist', 'action'=>'index'),'default',true);?>';" />
				</td>
               </tr>
		</table>
	</form>	
		</div>
	</fieldset> 
<br>
<?php $cnts =0; if ($this->fromdate): ?>
<fieldset>
<form id="myForm1" name = "myform1" action="<?php echo $this->baseUrl();?>/reports/attendancelist/pdfexport" method="POST">
 <?php $centerarray = array();?>
    <table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr>
        <th><?php echo $this->translate("Exam Date") ?></th>
        <th><?php echo $this->translate("Venue") ?></th>
        <th><?php echo $this->translate("Course") ?></th>
        <th><?php echo $this->translate("Applied") ?></th>
        <th><?php echo $this->translate("Sitted") ?></th>
        <th><?php echo $this->translate("Absent") ?></th>
        <th><?php echo $this->translate("Pass") ?></th>
        <th><?php echo $this->translate("Fail") ?></th>
    </tr>
        <?php  if (count($this->paginator)): ?>
        <?php foreach ($this->paginator as $lobjCountry ):  ?>
    <tr>
    <?php
    if(!in_array($lobjCountry['Date'],$centerarray) && $cnts != 0){?>
     <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
        <td></td>
        <td></td>
        <td><b>TOTAL DATEWISE</b></td>
        <td><b><?php $total['applied'] = $total['applied']+ $sumarray['applied'][$datesss]; echo $sumarray['applied'][$datesss];?></b></td>
        <td><b><?php $total['sitted'] = $total['sitted']+ $sumarray['sitted'][$datesss];    echo $sumarray['sitted'][$datesss];?></b></td>
        <td><b><?php $total['absent'] = $total['absent']+ $sumarray['absent'][$datesss];  echo $sumarray['absent'][$datesss];?></b></td>
        <td><b><?php $total['pass'] = $total['pass']+ $sumarray['pass'][$datesss]; echo $sumarray['pass'][$datesss];?></b></td>
        <td><b><?php $total['fail'] = $total['fail']+ $sumarray['fail'][$datesss]; echo $sumarray['fail'][$datesss];?></b></td>
     </tr>
    <?php     
    }    
    	$cnts =1;    
    ?>
    <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
         <td>
         	<?php if(!in_array($lobjCountry['Date'],$centerarray))
         	  {
				$centerarray[] = $lobjCountry['Date'];		
				$centerarrays[$lobjCountry['Date']] = array();
				print_r($this->escape($lobjCountry['Date']));
				
				$datesss = $lobjCountry['Date'];
				$sumarray['applied'][$lobjCountry['Date']] = 0;
		    	$sumarray['sitted'][$lobjCountry['Date']]  = 0;
		    	$sumarray['absent'][$lobjCountry['Date']]  = 0;
		    	$sumarray['pass'][$lobjCountry['Date']]    = 0;
		    	$sumarray['fail'][$lobjCountry['Date']]    = 0;
			  }
				$sumarray['applied'][$lobjCountry['Date']] = $sumarray['applied'][$lobjCountry['Date']] + $lobjCountry['applied'];
				$sumarray['sitted'][$lobjCountry['Date']] = $sumarray['sitted'][$lobjCountry['Date']] + $lobjCountry['sitted'];
				$sumarray['absent'][$lobjCountry['Date']] = $sumarray['absent'][$lobjCountry['Date']] + $lobjCountry['absent'];
				$sumarray['pass'][$lobjCountry['Date']] = $sumarray['pass'][$lobjCountry['Date']] + $lobjCountry['pass'];
				$sumarray['fail'][$lobjCountry['Date']] = $sumarray['fail'][$lobjCountry['Date']] + $lobjCountry['fail'];
				
			?>
        </td> 
        <td>
			<?php if(!in_array($lobjCountry['Venue'],$centerarrays[$lobjCountry['Date']])){
					$centerarrays[$lobjCountry['Date']][] = $lobjCountry['Venue'];
					 print_r($this->escape($lobjCountry['Venue']));
			}?>
	    </td>  
		   <td><?php   print_r($this->escape($lobjCountry['Course']));?></td> 
		   <td><?php   print_r($this->escape($lobjCountry['applied']));  ?></td> 
		   <td><?php   print_r($this->escape($lobjCountry['sitted']));?></td> 
		   <td><?php   print_r($this->escape($lobjCountry['absent']));?></td> 
		   <td><?php   print_r($this->escape($lobjCountry['pass']));?></td> 
		   <td><?php   print_r($this->escape($lobjCountry['fail']));?></td>    
        </tr>
     <?php endforeach; ?>
     <?php endif;
     ?>
     <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        <td></td>
	        <td></td>
	        <td><b>TOTAL DATEWISE</b></td>
	        <td><b><?php $total['applied'] = $total['applied']+ $sumarray['applied'][$datesss]; echo $sumarray['applied'][$datesss];?></b></td>
	        <td><b><?php $total['sitted'] = $total['sitted']+ $sumarray['sitted'][$datesss]; echo $sumarray['sitted'][$datesss];?></b></td>
	        <td><b><?php $total['absent'] = $total['absent']+ $sumarray['absent'][$datesss]; echo $sumarray['absent'][$datesss];?></b></td>
	        <td><b><?php $total['pass'] = $total['pass']+ $sumarray['pass'][$datesss]; echo $sumarray['pass'][$datesss];?></b></td>
	        <td><b><?php $total['fail'] = $total['fail']+ $sumarray['fail'][$datesss]; echo $sumarray['fail'][$datesss];?></b></td>
     </tr>
     <tr><td colspan = '8'>&nbsp;</td></tr>
     <tr>
	      <td></td><input type="hidden" name="fromdate" id="fromdate" value="<?php echo $this->fromdate;?>"> <input type="hidden" name="cname" id="cname" value="<?php echo $this->cname;?>">
	      <td></td><input type="hidden" name="todate" id="todate" value="<?php echo $this->todate;?>"> <input type="hidden" name="venue" id="venue" value="<?php echo $this->venue;?>">
		  <td><b> <?php print_r($this->escape($this->total));?> </b></td>
		  <td><b><?php echo $total['applied'];?></b><input type="hidden" name="totalapplied" id="totalapplied" value="<?php echo $total['applied'];?>"></td>
		  <td><b><?php echo $total['sitted'];?></b><input type="hidden" name="totalsitted" id="totalsitted" value="<?php echo $total['sitted'];?>"></td>
		  <td><b><?php echo $total['absent'];?></b><input type="hidden" name="totalabsent" id="totalabsent" value="<?php echo $total['absent'];?>"></td>
		  <td><b><?php echo $total['pass'];?></b><input type="hidden" name="totalpass" id="totalpass" value="<?php echo $total['pass'];?>"></td>
		  <td><b><?php echo $total['fail'];?></b><input type="hidden" name="totalfail" id="totalfail" value="<?php echo $total['fail'];?>"></td></td>
    </tr>
 <tr>
      
	 <td colspan="9" align="right">
	 <input name="Print1" id="Print1" type="submit" dojoType=dijit.form.Button style= "Width=900px" label="<?php echo $this->translate("Export To Excel"); ?>" value=<?php echo $this->translate("Excel");?> >
	 <input name="Print2" id="Print2" type="submit" dojoType=dijit.form.Button style= "Width=900px" label="<?php echo $this->translate("Print PDF "); ?>" value=<?php echo $this->translate("PDF");?>></td>
 </tr> 
</table>
</form>
</fieldset>
<?php endif; ?>     
</body>
</html>


