<html>
<head>
</head>
<body class="claro">            
	<fieldset >
	<legend><?php echo $this->translate->_("Student Approval");?></legend>
		 <form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm" >
			<script type="dojo/method" event="onSubmit" >
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>		
	    	   <table class="table" width="100%" >
                    	
                    <tr>         							                        
         			  <th>Student Name</th>
         			   <th><?php echo $this->translate->_("IC no"); ?></th>
         			  <th>Email-id</th>
         			  <th>Course</th>
        			</tr>
        			
                       <tr>		
                   		  	<td><?php echo $this->FName?></td>
                   		  	<td><?php  echo $this->ICNO?></td>
							<td><?php echo $this->EmailAddress?></td>
							<td><?php echo $this->ProgramName?></td>
                       </tr>
                   <tr>         							                        
         			  <th>State</th>
         			  <th>City</th>
         			  <th>Exam Venue</th>
         			  <th><?php echo $this->translate->_("Exam Session Time");?></th>
        			</tr>
        			
                       <tr>		
                   		  	<td><?php echo $this->StateName?></td>
							<td><?php echo $this->CityName?></td>
							<td><?php echo $this->centername?></td>
							<td><?php echo $this->ExamSessionTime?></td>
                       </tr>
                  
     	               <td colspan="6" align="right">  
				<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'examination','controller'=>'centerapproval', 'action'=>'index'),'default',true);?>';" />
																		   
					</td>   
		       </table>	
		</form>
	</fieldset>
</body>
</html>
          