<html>
<head>
<script>
dojo.addOnLoad(function(){
	
	});
</script>
</head>
<body class='claro'>
<fieldset>
	<legend><?php echo $this->translate("Examcentre Statistics").' '.$this->translate("Report");?></legend>
<?php if ($this->searchdate): ?>
<fieldset>
<form id="myForm1" name = "myform1" action="<?php echo $this->baseUrl();?>/reports/examcentrestatistics/fnexportexcel" method="POST">
    <table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
        <th><?php echo $this->translate(" ");?></th>
        <th align ="center" colspan = 22 ><b><?php echo $this->translate("$this->month").' '.$this->translate("$this->year");?></b></th>
    </tr> 
     <tr>
        <th align ="center"><b><?php echo $this->translate("Exam Centre") ?></b></th>
        <th align ="center"><b><?php echo $this->translate("SA") ?></b></th>
        <th align ="center"><b><?php echo $this->translate("SP") ?></b></th>
        <th align ="center"><b><?php echo $this->translate("JB") ?></b></th>
        <th align ="center"><b><?php echo $this->translate("BP") ?></b></th>
        <th align ="center"><b><?php echo $this->translate("KB") ?></b></th>
        <th align ="center"><b><?php echo $this->translate("ML") ?></b></td>
        <th align ="center"><b><?php echo $this->translate("SB") ?></b></th>
        <th align ="center"><b><?php echo $this->translate("KN") ?></b></th>
        <th align ="center"><b><?php echo $this->translate("IP") ?></b></th>
        <th align ="center"><b><?php echo $this->translate("GH") ?></b></th>
        <th align ="center"><b><?php echo $this->translate("PP") ?></b></th>
        <th align ="center"><b><?php echo $this->translate("SJ") ?></b></th>
        <th align ="center"><b><?php echo $this->translate("KK") ?></b></th>
        <th align ="center"><b><?php echo $this->translate("KG") ?></b></th>
        <th align ="center"><b><?php echo $this->translate("BG") ?></b></th>
        <th align ="center"><b><?php echo $this->translate("WP") ?></b></td>
        <th align ="center"><b><?php echo $this->translate("PJ") ?></b></th>
        <th align ="center"><b><?php echo $this->translate("MR") ?></b></th>
        <th align ="center"><b><?php echo $this->translate("KT") ?></b></th>
        <th align ="center"><b><?php echo $this->translate("SN") ?></b></th>
        <th align ="center"><b><?php echo $this->translate("TW") ?></b></th>
        <th align ="center"><b><?php echo $this->translate("Total") ?></b></th>
     </tr>
      <?php  $lobjCountry = $this->larrracescount;  ?>
      <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
      <td><b><?php echo "Registered";?></b></td>
      <td><?php if($lobjCountry['SA']) echo $lobjCountry['SA'];else echo 0;?><input type="hidden" name="SA" id="SA" value="<?php echo $lobjCountry['SA'];?>"></td>
      <td><?php if($lobjCountry['SP']) echo $lobjCountry['SP'];else echo 0;?><input type="hidden" name="SP" id="SP" value="<?php echo $lobjCountry['SP'];?>"></td>
      <td><?php if($lobjCountry['JB']) echo $lobjCountry['JB'];else echo 0;//echo $lobjCountry['JB'];?><input type="hidden" name="JB" id="JB" value="<?php echo $lobjCountry['JB'];?>"></td>
      <td><?php if($lobjCountry['BP']) echo $lobjCountry['BP'];else echo 0;//echo $lobjCountry['BP'];?><input type="hidden" name="BP" id="BP" value="<?php echo $lobjCountry['BP'];?>"></td>
      <td><?php if($lobjCountry['KB']) echo $lobjCountry['KB'];else echo 0;?><input type="hidden" name="KB" id="KB" value="<?php echo $lobjCountry['KB'];?>"></td>
      <td><?php if($lobjCountry['ML']) echo $lobjCountry['ML'];else echo 0;//echo $lobjCountry['ML'];?><input type="hidden" name="ML" id="ML" value="<?php echo $lobjCountry['ML'];?>"></td>
      <td><?php if($lobjCountry['SB']) echo $lobjCountry['SB'];else echo 0;//echo $lobjCountry['SB'];?><input type="hidden" name="SB" id="SB" value="<?php echo $lobjCountry['SB'];?>"></td>
      <td><?php if($lobjCountry['KN']) echo $lobjCountry['KN'];else echo 0;//echo $lobjCountry['KN'];?><input type="hidden" name="KN" id="KN" value="<?php echo $lobjCountry['KN'];?>"></td>
      <td><?php if($lobjCountry['IP']) echo $lobjCountry['IP'];else echo 0;//echo $lobjCountry['IP'];?><input type="hidden" name="IP" id="IP" value="<?php echo $lobjCountry['IP'];?>"></td>
      <td><?php if($lobjCountry['GH']) echo $lobjCountry['GH'];else echo 0;//echo $lobjCountry['GH'];?><input type="hidden" name="GH" id="GH" value="<?php echo $lobjCountry['GH'];?>"></td>
      <td><?php if($lobjCountry['PP']) echo $lobjCountry['PP'];else echo 0;//echo $lobjCountry['PP'];?><input type="hidden" name="PP" id="PP" value="<?php echo $lobjCountry['PP'];?>"></td>
      <td><?php if($lobjCountry['SJ']) echo $lobjCountry['SJ'];else echo 0;//echo $lobjCountry['SJ'];?><input type="hidden" name="SJ" id="SJ" value="<?php echo $lobjCountry['SJ'];?>"></td>
      <td><?php if($lobjCountry['KK']) echo $lobjCountry['KK'];else echo 0;//echo $lobjCountry['KK'];?><input type="hidden" name="KK" id="KK" value="<?php echo $lobjCountry['KK'];?>"></td>
      <td><?php if($lobjCountry['KG']) echo $lobjCountry['KG'];else echo 0;//echo $lobjCountry['KG'];?><input type="hidden" name="KG" id="KG" value="<?php echo $lobjCountry['KG'];?>"></td>
      <td><?php if($lobjCountry['BG']) echo $lobjCountry['BG'];else echo 0;//echo $lobjCountry['BG'];?><input type="hidden" name="BG" id="BG" value="<?php echo $lobjCountry['BG'];?>"></td>
      <td><?php if($lobjCountry['WP']) echo $lobjCountry['WP'];else echo 0;//echo $lobjCountry['WP'];?><input type="hidden" name="WP" id="WP" value="<?php echo $lobjCountry['WP'];?>"></td>
      <td><?php if($lobjCountry['PJ']) echo $lobjCountry['PJ'];else echo 0;//echo $lobjCountry['PJ'];?><input type="hidden" name="PJ" id="PJ" value="<?php echo $lobjCountry['PJ'];?>"></td>
      <td><?php if($lobjCountry['MR']) echo $lobjCountry['MR'];else echo 0;//echo $lobjCountry['MR'];?><input type="hidden" name="MR" id="MR" value="<?php echo $lobjCountry['MR'];?>"></td>
      <td><?php if($lobjCountry['KT']) echo $lobjCountry['KT'];else echo 0;//echo $lobjCountry['KT'];?><input type="hidden" name="KT" id="KT" value="<?php echo $lobjCountry['KT'];?>"></td>
      <td><?php if($lobjCountry['SN']) echo $lobjCountry['SN'];else echo 0;//echo $lobjCountry['SN'];?><input type="hidden" name="SN" id="SN" value="<?php echo $lobjCountry['SN'];?>"></td>
      <td><?php if($lobjCountry['TW']) echo $lobjCountry['TW'];else echo 0;//echo $lobjCountry['TW'];?><input type="hidden" name="TW" id="TW" value="<?php echo $lobjCountry['TW'];?>"></td>
      <td><?php if($lobjCountry['regtotal']) echo $lobjCountry['regtotal'];else echo 0;//echo $lobjCountry['regtotal'];?><input type="hidden" name="regtotal" id="regtotal" value="<?php echo $lobjCountry['regtotal'];?>"></td>
      </tr>
      <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
      <td><b><?php echo "Sat";?></b></td>
      <td><?php if($lobjCountry['SAsat'])echo $lobjCountry['SAsat']; else echo 0;?><input type="hidden" name="SAsat" id="SAsat" value="<?php echo $lobjCountry['SAsat'];?>"></td>
      <td><?php if($lobjCountry['SPsat'])echo $lobjCountry['SPsat']; else echo 0;//echo $lobjCountry['SPsat'];?><input type="hidden" name="SPsat" id="SPsat" value="<?php echo $lobjCountry['SPsat'];?>"></td>
      <td><?php if($lobjCountry['JBsat'])echo $lobjCountry['JBsat']; else echo 0;//echo $lobjCountry['JBsat'];?><input type="hidden" name="JBsat" id="JBsat" value="<?php echo $lobjCountry['JBsat'];?>"></td>
      <td><?php if($lobjCountry['BPsat'])echo $lobjCountry['BPsat']; else echo 0;//echo $lobjCountry['BPsat'];?><input type="hidden" name="BPsat" id="BPsat" value="<?php echo $lobjCountry['BPsat'];?>"></td>
      <td><?php if($lobjCountry['KBsat'])echo $lobjCountry['KBsat']; else echo 0;//echo $lobjCountry['KBsat'];?><input type="hidden" name="KBsat" id="KBsat" value="<?php echo $lobjCountry['KBsat'];?>"></td>
      <td><?php if($lobjCountry['MLsat'])echo $lobjCountry['MLsat']; else echo 0;//echo $lobjCountry['MLsat'];?><input type="hidden" name="MLsat" id="MLsat" value="<?php echo $lobjCountry['MLsat'];?>"></td>
      <td><?php if($lobjCountry['SBsat'])echo $lobjCountry['SBsat']; else echo 0;//echo $lobjCountry['SBsat'];?><input type="hidden" name="SBsat" id="SBsat" value="<?php echo $lobjCountry['SBsat'];?>"></td>
      <td><?php if($lobjCountry['KNsat'])echo $lobjCountry['KNsat']; else echo 0;//echo $lobjCountry['KNsat'];?><input type="hidden" name="KNsat" id="KNsat" value="<?php echo $lobjCountry['KNsat'];?>"></td>
      <td><?php if($lobjCountry['IPsat'])echo $lobjCountry['IPsat']; else echo 0;//echo $lobjCountry['IPsat'];?><input type="hidden" name="IPsat" id="IPsat" value="<?php echo $lobjCountry['IPsat'];?>"></td>
      <td><?php if($lobjCountry['GHsat'])echo $lobjCountry['GHsat']; else echo 0;//echo $lobjCountry['GHsat'];?><input type="hidden" name="GHsat" id="GHsat" value="<?php echo $lobjCountry['GHsat'];?>"></td>
      <td><?php if($lobjCountry['PPsat'])echo $lobjCountry['PPsat']; else echo 0;//echo $lobjCountry['PPsat'];?><input type="hidden" name="PPsat" id="PPsat" value="<?php echo $lobjCountry['PPsat'];?>"></td>
      <td><?php if($lobjCountry['SJsat'])echo $lobjCountry['SJsat']; else echo 0;//echo $lobjCountry['SJsat'];?><input type="hidden" name="SJsat" id="SJsat" value="<?php echo $lobjCountry['SJsat'];?>"></td>
      <td><?php if($lobjCountry['KKsat'])echo $lobjCountry['KKsat']; else echo 0;//echo $lobjCountry['KKsat'];?><input type="hidden" name="KKsat" id="KKsat" value="<?php echo $lobjCountry['KKsat'];?>"></td>
      <td><?php if($lobjCountry['KGsat'])echo $lobjCountry['KGsat']; else echo 0;//echo $lobjCountry['KGsat'];?><input type="hidden" name="KGsat" id="KGsat" value="<?php echo $lobjCountry['KGsat'];?>"></td>
      <td><?php if($lobjCountry['BGsat'])echo $lobjCountry['BGsat']; else echo 0;//echo $lobjCountry['BGsat'];?><input type="hidden" name="BGsat" id="BGsat" value="<?php echo $lobjCountry['BGsat'];?>"></td>
      <td><?php if($lobjCountry['WPsat'])echo $lobjCountry['WPsat']; else echo 0;//echo $lobjCountry['WPsat'];?><input type="hidden" name="WPsat" id="WPsat" value="<?php echo $lobjCountry['WPsat'];?>"></td>
      <td><?php if($lobjCountry['PJsat'])echo $lobjCountry['PJsat']; else echo 0;//echo $lobjCountry['PJsat'];?><input type="hidden" name="PJsat" id="PJsat" value="<?php echo $lobjCountry['PJsat'];?>"></td>
      <td><?php if($lobjCountry['MRsat'])echo $lobjCountry['MRsat']; else echo 0;//echo $lobjCountry['MRsat'];?><input type="hidden" name="MRsat" id="MRsat" value="<?php echo $lobjCountry['MRsat'];?>"></td>
      <td><?php if($lobjCountry['KTsat'])echo $lobjCountry['KTsat']; else echo 0;//echo $lobjCountry['KTsat'];?><input type="hidden" name="KTsat" id="KTsat" value="<?php echo $lobjCountry['KTsat'];?>"></td>
      <td><?php if($lobjCountry['SNsat'])echo $lobjCountry['SNsat']; else echo 0;//echo $lobjCountry['SNsat'];?><input type="hidden" name="SNsat" id="SNsat" value="<?php echo $lobjCountry['SNsat'];?>"></td>
      <td><?php if($lobjCountry['TWsat'])echo $lobjCountry['TWsat']; else echo 0;//echo $lobjCountry['TWsat'];?><input type="hidden" name="TWsat" id="TWsat" value="<?php echo $lobjCountry['TWsat'];?>"></td>
      <td><?php if($lobjCountry['sattotal'])echo $lobjCountry['sattotal']; else echo 0;//echo $lobjCountry['sattotal'];?><input type="hidden" name="sattotal" id="sattotal" value="<?php echo $lobjCountry['sattotal'];?>"></td>
      </tr>
      <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
      <td><b><?php echo "Pass";?></b></td>
      <td><?php if($lobjCountry['SApass'])echo $lobjCountry['SApass']; else echo 0;?><input type="hidden" name="SApass" id="SApass" value="<?php echo $lobjCountry['SApass'];?>"></td>
      <td><?php if($lobjCountry['SPpass'])echo $lobjCountry['SPpass']; else echo 0;//echo $lobjCountry['SPpass'];?><input type="hidden" name="SPpass" id="SPpass" value="<?php echo $lobjCountry['SPpass'];?>"></td>
      <td><?php if($lobjCountry['JBpass'])echo $lobjCountry['JBpass']; else echo 0;//echo $lobjCountry['JBpass'];?><input type="hidden" name="JBpass" id="JBpass" value="<?php echo $lobjCountry['JBpass'];?>"></td>
      <td><?php if($lobjCountry['BPpass'])echo $lobjCountry['BPpass']; else echo 0;//echo $lobjCountry['BPpass'];?><input type="hidden" name="BPpass" id="BPpass" value="<?php echo $lobjCountry['BPpass'];?>"></td>
      <td><?php if($lobjCountry['KBpass'])echo $lobjCountry['KBpass']; else echo 0;//echo $lobjCountry['KBpass'];?><input type="hidden" name="KBpass" id="KBpass" value="<?php echo $lobjCountry['KBpass'];?>"></td>
      <td><?php if($lobjCountry['MLpass'])echo $lobjCountry['MLpass']; else echo 0;//echo $lobjCountry['MLpass'];?><input type="hidden" name="MLpass" id="MLpass" value="<?php echo $lobjCountry['MLpass'];?>"></td>
      <td><?php if($lobjCountry['SBpass'])echo $lobjCountry['SBpass']; else echo 0;//echo $lobjCountry['SBpass'];?><input type="hidden" name="SBpass" id="SBpass" value="<?php echo $lobjCountry['SBpass'];?>"></td>
      <td><?php if($lobjCountry['KNpass'])echo $lobjCountry['KNpass']; else echo 0;//echo $lobjCountry['KNpass'];?><input type="hidden" name="KNpass" id="KNpass" value="<?php echo $lobjCountry['KNpass'];?>"></td>
      <td><?php if($lobjCountry['IPpass'])echo $lobjCountry['IPpass']; else echo 0;//echo $lobjCountry['IPpass'];?><input type="hidden" name="IPpass" id="IPpass" value="<?php echo $lobjCountry['IPpass'];?>"></td>
      <td><?php if($lobjCountry['GHpass'])echo $lobjCountry['GHpass']; else echo 0;//echo $lobjCountry['GHpass'];?><input type="hidden" name="GHpass" id="GHpass" value="<?php echo $lobjCountry['GHpass'];?>"></td>
      <td><?php if($lobjCountry['PPpass'])echo $lobjCountry['PPpass']; else echo 0;//echo $lobjCountry['PPpass'];?><input type="hidden" name="PPpass" id="PPpass" value="<?php echo $lobjCountry['PPpass'];?>"></td>
      <td><?php if($lobjCountry['SJpass'])echo $lobjCountry['SJpass']; else echo 0;//echo $lobjCountry['SJpass'];?><input type="hidden" name="SJpass" id="SJpass" value="<?php echo $lobjCountry['SJpass'];?>"></td>
      <td><?php if($lobjCountry['KKpass'])echo $lobjCountry['KKpass']; else echo 0;//echo $lobjCountry['KKpass'];?><input type="hidden" name="KKpass" id="KKpass" value="<?php echo $lobjCountry['KKpass'];?>"></td>
      <td><?php if($lobjCountry['KGpass'])echo $lobjCountry['KGpass']; else echo 0;//echo $lobjCountry['KGpass'];?><input type="hidden" name="KGpass" id="KGpass" value="<?php echo $lobjCountry['KGpass'];?>"></td>
      <td><?php if($lobjCountry['BGpass'])echo $lobjCountry['BGpass']; else echo 0;//echo $lobjCountry['BGpass'];?><input type="hidden" name="BGpass" id="BGpass" value="<?php echo $lobjCountry['BGpass'];?>"></td>
      <td><?php if($lobjCountry['WPpass'])echo $lobjCountry['WPpass']; else echo 0;//echo $lobjCountry['WPpass'];?><input type="hidden" name="WPpass" id="WPpass" value="<?php echo $lobjCountry['WPpass'];?>"></td>
      <td><?php if($lobjCountry['PJpass'])echo $lobjCountry['PJpass']; else echo 0;//echo $lobjCountry['PJpass'];?><input type="hidden" name="PJpass" id="PJpass" value="<?php echo $lobjCountry['PJpass'];?>"></td>
      <td><?php if($lobjCountry['MRpass'])echo $lobjCountry['MRpass']; else echo 0;//echo $lobjCountry['MRpass'];?><input type="hidden" name="MRpass" id="MRpass" value="<?php echo $lobjCountry['MRpass'];?>"></td>
      <td><?php if($lobjCountry['KTpass'])echo $lobjCountry['KTpass']; else echo 0;//echo $lobjCountry['KTpass'];?><input type="hidden" name="KTpass" id="KTpass" value="<?php echo $lobjCountry['KTpass'];?>"></td>
      <td><?php if($lobjCountry['SNpass'])echo $lobjCountry['SNpass']; else echo 0;//echo $lobjCountry['SNpass'];?><input type="hidden" name="SNpass" id="SNpass" value="<?php echo $lobjCountry['SNpass'];?>"></td>
      <td><?php if($lobjCountry['TWpass'])echo $lobjCountry['TWpass']; else echo 0;//echo $lobjCountry['TWpass'];?><input type="hidden" name="TWpass" id="TWpass" value="<?php echo $lobjCountry['TWpass'];?>"></td>
      <td><?php if($lobjCountry['passtotal'])echo $lobjCountry['passtotal']; else echo 0;//echo $lobjCountry['passtotal'];?><input type="hidden" name="passtotal" id="passtotal" value="<?php echo $lobjCountry['passtotal'];?>"></td>
      </tr>
      <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
      <td><b><?php echo "Fail";?></b></td>
      <td><?php if($lobjCountry['SAfail'])echo $lobjCountry['SAfail']; else echo 0;?><input type="hidden" name="SAfail" id="SAfail" value="<?php echo $lobjCountry['SAfail'];?>"></td>
      <td><?php if($lobjCountry['SPfail'])echo $lobjCountry['SPfail']; else echo 0;//echo $lobjCountry['SPfail'];?><input type="hidden" name="SPfail" id="SPfail" value="<?php echo $lobjCountry['SPfail'];?>"></td>
      <td><?php if($lobjCountry['JBfail'])echo $lobjCountry['JBfail']; else echo 0;//echo $lobjCountry['JBfail'];?><input type="hidden" name="JBfail" id="JBfail" value="<?php echo $lobjCountry['JBfail'];?>"></td>
      <td><?php if($lobjCountry['BPfail'])echo $lobjCountry['BPfail']; else echo 0;//echo $lobjCountry['BPfail'];?><input type="hidden" name="BPfail" id="BPfail" value="<?php echo $lobjCountry['BPfail'];?>"></td>
      <td><?php if($lobjCountry['KBfail'])echo $lobjCountry['KBfail']; else echo 0;//echo $lobjCountry['KBfail'];?><input type="hidden" name="KBfail" id="KBfail" value="<?php echo $lobjCountry['KBfail'];?>"></td>
      <td><?php if($lobjCountry['MLfail'])echo $lobjCountry['MLfail']; else echo 0;//echo $lobjCountry['MLfail'];?><input type="hidden" name="MLfail" id="MLfail" value="<?php echo $lobjCountry['MLfail'];?>"></td>
      <td><?php if($lobjCountry['SBfail'])echo $lobjCountry['SBfail']; else echo 0;//echo $lobjCountry['SBfail'];?><input type="hidden" name="SBfail" id="SBfail" value="<?php echo $lobjCountry['SBfail'];?>"></td>
      <td><?php if($lobjCountry['KNfail'])echo $lobjCountry['KNfail']; else echo 0;//echo $lobjCountry['KNfail'];?><input type="hidden" name="KNfail" id="KNfail" value="<?php echo $lobjCountry['KNfail'];?>"></td>
      <td><?php if($lobjCountry['IPfail'])echo $lobjCountry['IPfail']; else echo 0;//echo $lobjCountry['IPfail'];?><input type="hidden" name="IPfail" id="IPfail" value="<?php echo $lobjCountry['IPfail'];?>"></td>
      <td><?php if($lobjCountry['GHfail'])echo $lobjCountry['GHfail']; else echo 0;//echo $lobjCountry['GHfail'];?><input type="hidden" name="GHfail" id="GHfail" value="<?php echo $lobjCountry['GHfail'];?>"></td>
      <td><?php if($lobjCountry['PPfail'])echo $lobjCountry['PPfail']; else echo 0;//echo $lobjCountry['PPfail'];?><input type="hidden" name="PPfail" id="PPfail" value="<?php echo $lobjCountry['PPfail'];?>"></td>
      <td><?php if($lobjCountry['SJfail'])echo $lobjCountry['SJfail']; else echo 0;//echo $lobjCountry['SJfail'];?><input type="hidden" name="SJfail" id="SJfail" value="<?php echo $lobjCountry['SJfail'];?>"></td>
      <td><?php if($lobjCountry['KKfail'])echo $lobjCountry['KKfail']; else echo 0;//echo $lobjCountry['KKfail'];?><input type="hidden" name="KKfail" id="KKfail" value="<?php echo $lobjCountry['KKfail'];?>"></td>
      <td><?php if($lobjCountry['KGfail'])echo $lobjCountry['KGfail']; else echo 0;//echo $lobjCountry['KGfail'];?><input type="hidden" name="KGfail" id="KGfail" value="<?php echo $lobjCountry['KGfail'];?>"></td>
      <td><?php if($lobjCountry['BGfail'])echo $lobjCountry['BGfail']; else echo 0;//echo $lobjCountry['BGfail'];?><input type="hidden" name="BGfail" id="BGfail" value="<?php echo $lobjCountry['BGfail'];?>"></td>
      <td><?php if($lobjCountry['WPfail'])echo $lobjCountry['WPfail']; else echo 0;//echo $lobjCountry['WPfail'];?><input type="hidden" name="WPfail" id="WPfail" value="<?php echo $lobjCountry['WPfail'];?>"></td>
      <td><?php if($lobjCountry['PJfail'])echo $lobjCountry['PJfail']; else echo 0;//echo $lobjCountry['PJfail'];?><input type="hidden" name="PJfail" id="PJfail" value="<?php echo $lobjCountry['PJfail'];?>"></td>
      <td><?php if($lobjCountry['MRfail'])echo $lobjCountry['MRfail']; else echo 0;//echo $lobjCountry['MRfail'];?><input type="hidden" name="MRfail" id="MRfail" value="<?php echo $lobjCountry['MRfail'];?>"></td>
      <td><?php if($lobjCountry['KTfail'])echo $lobjCountry['KTfail']; else echo 0;//echo $lobjCountry['KTfail'];?><input type="hidden" name="KTfail" id="KTfail" value="<?php echo $lobjCountry['KTfail'];?>"></td>
      <td><?php if($lobjCountry['SNfail'])echo $lobjCountry['SNfail']; else echo 0;//echo $lobjCountry['SNfail'];?><input type="hidden" name="SNfail" id="SNfail" value="<?php echo $lobjCountry['SNfail'];?>"></td>
      <td><?php if($lobjCountry['TWfail'])echo $lobjCountry['TWfail']; else echo 0;//echo $lobjCountry['TWfail'];?><input type="hidden" name="TWfail" id="TWfail" value="<?php echo $lobjCountry['TWfail'];?>"></td>
      <td><?php if($lobjCountry['failtotal'])echo $lobjCountry['failtotal']; else echo 0;//echo $lobjCountry['failtotal'];?><input type="hidden" name="failtotal" id="failtotal" value="<?php echo $lobjCountry['failtotal'];?>"></td>
      </tr>
      <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>"><input type="hidden" name="selmonth" id="selmonth" value="<?php echo $this->month.'_'.$this->year;?>"></td>
      <td><b><?php echo "Absent";?></b></td>
      <td><?php if($lobjCountry['SAabsent'])echo $lobjCountry['SAabsent'];else echo 0;?><input type="hidden" name="SAabsent" id="SAabsent" value="<?php echo $lobjCountry['SAabsent'];?>"></td>
      <td><?php if($lobjCountry['SPabsent'])echo $lobjCountry['SPabsent'];else echo 0;//echo $lobjCountry['SPabsent'];?><input type="hidden" name="SPabsent" id="SPabsent" value="<?php echo $lobjCountry['SPabsent'];?>"></td>
      <td><?php if($lobjCountry['JBabsent'])echo $lobjCountry['JBabsent'];else echo 0;//echo $lobjCountry['JBabsent'];?><input type="hidden" name="JBabsent" id="JBabsent" value="<?php echo $lobjCountry['JBabsent'];?>"></td>
      <td><?php if($lobjCountry['BPabsent'])echo $lobjCountry['BPabsent'];else echo 0;//echo $lobjCountry['BPabsent'];?><input type="hidden" name="BPabsent" id="BPabsent" value="<?php echo $lobjCountry['BPabsent'];?>"></td>
      <td><?php if($lobjCountry['KBabsent'])echo $lobjCountry['KBabsent'];else echo 0;//echo $lobjCountry['KBabsent'];?><input type="hidden" name="KBabsent" id="KBabsent" value="<?php echo $lobjCountry['KBabsent'];?>"></td>
      <td><?php if($lobjCountry['MLabsent'])echo $lobjCountry['MLabsent'];else echo 0;//echo $lobjCountry['MLabsent'];?><input type="hidden" name="MLabsent" id="MLabsent" value="<?php echo $lobjCountry['MLabsent'];?>"></td>
      <td><?php if($lobjCountry['SBabsent'])echo $lobjCountry['SBabsent'];else echo 0;//echo $lobjCountry['SBabsent'];?><input type="hidden" name="SBabsent" id="SBabsent" value="<?php echo $lobjCountry['SBabsent'];?>"></td>
      <td><?php if($lobjCountry['KNabsent'])echo $lobjCountry['KNabsent'];else echo 0;//echo $lobjCountry['KNabsent'];?><input type="hidden" name="KNabsent" id="KNabsent" value="<?php echo $lobjCountry['KNabsent'];?>"></td>
      <td><?php if($lobjCountry['IPabsent'])echo $lobjCountry['IPabsent'];else echo 0;//echo $lobjCountry['IPabsent'];?><input type="hidden" name="IPabsent" id="IPabsent" value="<?php echo $lobjCountry['IPabsent'];?>"></td>
      <td><?php if($lobjCountry['GHabsent'])echo $lobjCountry['GHabsent'];else echo 0;//echo $lobjCountry['GHabsent'];?><input type="hidden" name="GHabsent" id="GHabsent" value="<?php echo $lobjCountry['GHabsent'];?>"></td>
      <td><?php if($lobjCountry['PPabsent'])echo $lobjCountry['PPabsent'];else echo 0;//echo $lobjCountry['PPabsent'];?><input type="hidden" name="PPabsent" id="PPabsent" value="<?php echo $lobjCountry['PPabsent'];?>"></td>
      <td><?php if($lobjCountry['SJabsent'])echo $lobjCountry['SJabsent'];else echo 0;//echo $lobjCountry['SJabsent'];?><input type="hidden" name="SJabsent" id="SJabsent" value="<?php echo $lobjCountry['SJabsent'];?>"></td>
      <td><?php if($lobjCountry['KKabsent'])echo $lobjCountry['KKabsent'];else echo 0;//echo $lobjCountry['KKabsent'];?><input type="hidden" name="KKabsent" id="KKabsent" value="<?php echo $lobjCountry['KKabsent'];?>"></td>
      <td><?php if($lobjCountry['KGabsent'])echo $lobjCountry['KGabsent'];else echo 0;//echo $lobjCountry['KGabsent'];?><input type="hidden" name="KGabsent" id="KGabsent" value="<?php echo $lobjCountry['KGabsent'];?>"></td>
      <td><?php if($lobjCountry['BGabsent'])echo $lobjCountry['BGabsent'];else echo 0;//echo $lobjCountry['BGabsent'];?><input type="hidden" name="BGabsent" id="BGabsent" value="<?php echo $lobjCountry['BGabsent'];?>"></td>
      <td><?php if($lobjCountry['WPabsent'])echo $lobjCountry['WPabsent'];else echo 0;//echo $lobjCountry['WPabsent'];?><input type="hidden" name="WPabsent" id="WPabsent" value="<?php echo $lobjCountry['WPabsent'];?>"></td>
      <td><?php if($lobjCountry['PJabsent'])echo $lobjCountry['PJabsent'];else echo 0;//echo $lobjCountry['PJabsent'];?><input type="hidden" name="PJabsent" id="PJabsent" value="<?php echo $lobjCountry['PJabsent'];?>"></td>
      <td><?php if($lobjCountry['MRabsent'])echo $lobjCountry['MRabsent'];else echo 0;//echo $lobjCountry['MRabsent'];?><input type="hidden" name="MRabsent" id="MRabsent" value="<?php echo $lobjCountry['MRabsent'];?>"></td>
      <td><?php if($lobjCountry['KTabsent'])echo $lobjCountry['KTabsent'];else echo 0;//echo $lobjCountry['KTabsent'];?><input type="hidden" name="KTabsent" id="KTabsent" value="<?php echo $lobjCountry['KTabsent'];?>"></td>
      <td><?php if($lobjCountry['SNabsent'])echo $lobjCountry['SNabsent'];else echo 0;//echo $lobjCountry['SNabsent'];?><input type="hidden" name="SNabsent" id="SNabsent" value="<?php echo $lobjCountry['SNabsent'];?>"></td>
      <td><?php if($lobjCountry['TWabsent'])echo $lobjCountry['TWabsent'];else echo 0;//echo $lobjCountry['TWabsent'];?><input type="hidden" name="TWabsent" id="TWabsent" value="<?php echo $lobjCountry['TWabsent'];?>"></td>
      <td><?php if($lobjCountry['absenttotal'])echo $lobjCountry['absenttotal'];else echo 0;//echo $lobjCountry['absenttotal'];?><input type="hidden" name="absenttotal" id="absenttotal" value="<?php echo $lobjCountry['absenttotal'];?>"></td>
      </tr>
      <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	  <td colspan="23" align="right"><?php echo $this->lobjform->ExportToExcel?>
	  <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'reports','controller'=>'statistics', 'action'=>'index'),'default',true);?>';" />
      </tr>
      </table>
      </form>
</fieldset> 
<?php endif; ?>
</form>
</body>
</html>
