<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="<?php echo $this->rtl;?>">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css"  href="<?php  echo $this->baseUrl();?>/js/themes/cupertino/jquery.ui.all.css" />
	<script language='javascript' src='<?php  echo $this->baseUrl();?>/js/jquery-1.4.3.js'></script>
	<script language='javascript' src='<?php  echo $this->baseUrl();?>/js/sfs-common.js'></script>
	<script language="JavaScript" type="text/javascript">
dojo.addOnLoad(function() {
	var Exame = dojo.byId('Exame');
	dojo.style(Exame,'display','none');	
	var Exe = dojo.byId('Exe');
	dojo.style(Exe,'display','none');	
	});

function fnshowquestions()
{
	var Exame = dojo.byId('Exame');
	dojo.style(Exame,'display','block');	
	var Exe = dojo.byId('Exe');
	dojo.style(Exe,'display','block');	
}
	</script>
</head>

<fieldset>
    <legend>TOS Creation</legend>
        <div class="register">
            <div class="profile_tab">
                <form action="<?php echo $this->baseUrl();?>/examination/createexam/displayeditquestion/idtos/<?php echo $this->idt;?>" dojoType="dijit.form.Form" method="POST"  name= "myform">
                          <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					 var n = '<?php echo $this->countcomp;?>';
                     var m= '<?php echo $this->cntid;?>';
                    var coursename='<?php echo $this->coursename3;?>'; 
	 flgs = 0;	 
	 for(i=1;i<=n;i++){
		 
		if(document.getElementById("idques100"+i).checked) 
			flgs++;
	 }	

 for(i=1;i<=m;i++){
		 
		if(document.getElementById("idques"+i).checked) 
			flgs++;
	 }			

	if(m==flgs){
result=confirm("This Set is goining to activate for Course  "+coursename+" do you want to continue ?");	   	
if(result==false)	    
 return false;
else
return true;
	 }
	 else{
 alert('Please Select Only '+m+' Questions');	
	   return false;;
	 }

                } else {
                    return false;
                }
				</script> 
				<body>
                         <table width="100%" class="table">
							 <tr>
                            <th colspan = "4"><?php echo $this->translate("Questions").' '.$this->translate("Details");?></th>
                            <input type="hidden" value="<?php echo $this->idhiddenprog;?>" id="hiddenprogramid" name="hiddenprogramid">
                           </tr>
                           <tr>
                           <td>
                             <?php $larr=$this->arrQuestions; $section= $this->sectionsarray; $eachcnt=$this->idsectioncnt; $difficultylevel=$this->difficultylevel;$count=count($larr);?>
                             <?php if($larr):?>
                             <?php $cnt2=0; $k=1;for($i=0;$i<$count;$i++):$cnt2++?>
                               <?php $sec= $section[$i]; $eachcnts=$eachcnt[$i]['cnt'];$mainsection=$eachcnt[$i]['IdPart'];?>
                             Section:<?php echo $mainsection;?><br>
                             Subsection:<?php echo $sec;?><br><br>
                        <?php for($j=0;$j<$eachcnts;$j++):?>
                        <?php if($larr[$sec][$j]['idquestions']):?>
                        <input type="checkbox" dojoType="dijit.form.CheckBox" checked="checked" name="idques[]" value="<?php echo $larr[$sec][$j]['idquestions'];?>" id="idques<?php echo $k;?>" onClick="fnshowquestions();" ><?php echo  $larr[$sec][$j]['Question'];?><br><br>
     		           <?php $k++; endif;?>
                        <?php   endfor; ?>
                        <?php  endfor; ?>
     		            <?php  endif; ?>
                              </td>
                            </tr>
                             <tr  id="Exe">
                            <th colspan = "4"><?php echo $this->translate("Questions").' '.$this->translate("From").' '.$this->translate("Bank");?></th>
                           </tr>
                             <tr id="Exame">
                             <td>
                           
                             <?php if(count($this->remquestion)):?>
                             <?php $cnt1=1000;foreach ($this->remquestion as $larrsession ): $cnt1++?>                  
                         <input type="checkbox" dojoType="dijit.form.CheckBox" name="idques[]" value="<?php echo $larrsession['idquestions'];?>" id="idques<?php echo $cnt1;?>"><?php  echo $larrsession['Question'];?><?php echo '('.''.$this->translate("Section").':'.$larrsession['QuestionGroup'].' , '.$this->translate("Section").':'.$larrsession['QuestionNumber'].')'; ?><br><br>
     		            <?php  endforeach; ?>
     		            <?php endif; ?>
                              
 </td>
  </tr>
			                <tr>
                           		<td colspan="6" align="right"><?php echo $this->form->Save; ?></td>
                           </tr>
						</table>
						</body>
				</form>
			</div>
		</div>
	</fieldset>	

</html>
