<html>
<head>
<script type="text/javascript">
fnGetCountryStateList();
function fnGetCountryStateList(){ 	
	EmailTemplateSubject = "<?php echo $this->EmailTemplateSubject;?>";	
	receiver 			 = "<?php echo $this->receiver;?>";	
	receiveremail 		 = "<?php echo $this->receiver_email;?>";	
	var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/registration/sendmail/EmailTemplateSubject/"+EmailTemplateSubject+"/receiver/"+receiver+"/receiveremail/"+receiveremail,
				handleAs:'text',
				load:function(data){ 
					//alert(data);
				}
		   }
		dojo.xhrGet(xhrArgs); 	
	} 
function Closefn(pagename)
{
	window.location="<?php echo $this->baseUrl();?>/"+pagename+"/fpxpageone/insertedId/<?php echo $this->StdId;?>";
}
</script>
<title>FPX MERCHANT PAGE - Your One Stop Online Computer Shopping</title>
<link rel="stylesheet" type="text/css" href="files/style.css">
</head>
<center>
<?php
$fpxValue = $this->fpxValue;
/* Verifying the transaction. */
foreach(explode("|", $fpxValue) as $vars){
	list($key, $val) = explode(":",$vars);
	$msg[$key] = $val;
}
?>

  <table border="1" cellpadding="0" cellspacing="0"  width="60%" align="center">
    <tbody>
      <tr>
        <td colspan="3" align="left"><table style="background:#FDE6C4;border: 1px solid rgb(222, 217, 197);" cellpadding="0" cellspacing="0" height="111" width="100%" >
            <tbody>
              <tr>
                <td align="center"><h1>FPX MERCHANT PAGE</h1></td>
              </tr>
            </tbody>
          </table>
		  </td>
      </tr>
      <!-- header_eof //-->
      <!-- body //-->
      <tr>        
        <td style="padding-left: 1px; padding-right: 1px;" align="left" valign="top" width="90%" colspan=2>
		<table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="5" class="infoBelow" width="100%" height="100%">
		  <tbody>
              <tr>
                <td valign="top" align="center">				
				<p class="normal">
                   <b> Thanks for shopping with us online! </b></p>
                  <p>&nbsp;</p>				  
				  
				  <p class="normal"><b>TRANSACTION DETAILS</b></p>
				<!-- Display details for Receipt -->
				  <table width="100%" align="center">
				  	<tr>
                      <td width="44%" align="left" class="main">Transaction Status</td>
                      <td width="7%" align="center" class="main">:</td>
                      <td width="49%" align="left" class="main"><strong>
					  <!-- Comparing Debit Auth Code and Credit Auth Code to cater SUCCESSFUL and UNSUCCESSFUL result -->	
						<?php $statusFlag = 0;
						    if($msg['debit.authcode'] == '00' && $msg['credit.authcode'] == '00'){
								echo "<font color='green'>SUCCESSFUL</font>";					
							}
							elseif ($msg['debit.authcode'] == '99'){
								echo "PENDING FOR AUTHORIZER TO APPROVE";
							}
							elseif ($msg['debit.authcode'] != '00' || $msg['debit.authcode'] != '' || $msg['debit.authcode'] != '99' ){
								echo "<font color='red'>UNSUCCESSFUL</font>";
								$statusFlag = 1;
							} 
						?>
						</strong></td>
                    </tr>
                    <tr>
                      <td width="44%" align="left" class="main">FPX Txn ID</td>
                      <td width="7%" align="center" class="main">:</td>
                      <td width="49%" align="left" class="main"><?php echo $msg['message.fpxTransactionId']; ?></td>
                    </tr>
                    <tr>
                      <td width="44%" align="left" class="main">Seller Order Number</td>
                      <td width="7%" align="center" class="main">:</td>
                      <td width="49%" align="left" class="main"><?php echo $msg['seller.orderno']; ?></td>
                    </tr>
					<tr>
                      <td width="44%" align="left" class="main">Buyer Bank Name</td>
                      <td width="7%" align="center" class="main">:</td>
                      <td width="49%" align="left" class="main">
					  <!-- List of Banks involved is stored in Array List-->
						<?php 
				  
			
							if ($msg['buyer.bank'] == "TEST0001")
							{
								echo "TEST BANK A";							
							}
							
							elseif($msg['buyer.bank'] == "TEST0002")
							{
								echo "TEST BANK B"; 
							}
							elseif($msg['buyer.bank'] == "TEST0003")
							{
								echo "TEST BANK C"; 
							}
							elseif($msg['buyer.bank'] == "BIMB0340")
							{
								echo "CIMB Bank Berhad"; 
							}
							elseif($msg['buyer.bank'] == "CIT0217")
							{
								echo "Citibank Berhad"; 
							}
							elseif($msg['buyer.bank'] == "HLB0224")
							{
								echo "Hong Leong Bank Berhad"; 
							}
							elseif($msg['buyer.bank'] == "MB2U0227" || $msg['buyer.bank'] == "MBB0227")
							{
								echo "Malayan Banking Berhad"; 
							}
							elseif($msg['buyer.bank'] == "OCBC0229")
							{
								echo "OCBC Bank (Malaysia) Berhad"; 
							}
							elseif($msg['buyer.bank'] == "PBB0233")
							{
								echo "Public Bank Berhad"; 
							}
	
							elseif($msg['buyer.bank'] == "RHB0218")
							{
								echo "RHB Bank Berhad"; 
							}
						
						 ?>
					  </td>
                    </tr>					
					<tr>
                      <td width="44%" align="left" class="main">Transaction Amount</td>
                      <td width="7%" align="center" class="main">:</td>
                      <td width="49%" align="left" class="main">RM&nbsp;<?php echo $msg['message.amount']; ?></td>
                    </tr>
                  </table>
			    </td>
              </tr>
              <tr>
              	<td align="center"><form method="post" action="<?php echo $this->redirectPage;?>">
              	<?php if($statusFlag == 1) { ?>	<input type="Button" name="PayAgain" value="Pay Again" onClick="Closefn('<?php echo $this->pageName;?>');"><?php }?>
              	<input type="submit" name="Back" value="Back" > </form></td>
              </tr>
		  </tbody>
          </table></td>
      </tr>
      <!-- footer //-->  
    </tbody>
  </table>
  <p>&nbsp;</p>
  
  <center>
  <div style="display:none;">
  <p class="infoBelow">&nbsp;</p>
    <p class="infoBelow">This parameter should be hidden from customer </p>  
	<p>&nbsp;</p>
	<table>
	<tr>
        <td style="padding-left: 1px; padding-right: 1px;" align="left" valign="top" width="100%" colspan=2>
			<table width="100%" border="0" align="center" cellpadding="7" cellspacing="0" >
				<tr>
				  <td colspan="100"></td>
				</tr>
				<tr>
				  <td class="infoBelow" align="center">1. Message From FPX - mesgFromFpx:
					<p>&nbsp;</p>
					<textarea cols=80 rows=4 ><?php echo $_POST['mesgFromFpx'];?></textarea>
					<p>&nbsp;</p>		
				</tr>
				<tr>
				  <td class="infoBelow" align="center"><p>2. Message From FPX Plugin:</p>
					<p>&nbsp;</p>
					<textarea COLS=80 ROWS=4><?php echo $fpxValue;?></textarea>
					<p>&nbsp;</p>		
				</tr>
			</table>
		</td>
	</tr>
	</table>
  <p>&nbsp;</p>
  </div>
</center>   
<!-- footer_eof //-->
<br>
</body>
</html>


