<script type="text/javascript">

	$(function() {
		// a workaround for a flaw in the demo system (http://dev.jqueryui.com/ticket/4375), ignore!
		$( "#dialog:ui-dialog" ).dialog( "destroy" );
	
		$( "#search-dialog" ).dialog({
			autoOpen: false,
			width: 350,
			modal: true,
			buttons: { 
				"Search": function() {
					 
					$("#search_form").submit();
					$(this).dialog("close"); 
				},
				"Close": function() { 
					$(this).dialog("close"); 
				} 
			}
		});
	});


	function del(title, id){
		var id = $('input[name=country_id]:checked').val();

		if(!id){
			alert('Please select any country first');
		}else{
			if(confirm('Are you sure to delete this selected country?')){
				window.location = "<?php echo $this->url(array('module'=>'general-setup','controller'=>'country', 'action'=>'delete')); ?>/id/"+id;
			}
		}
		
		
	}
	
	function add(){		
		window.location="<?php echo $this->url(array('module'=>'general-setup','controller'=>'country', 'action'=>'add'));?>";
	}

	function edit(){
		var id = $('input[name=country_id]:checked').val();

		if(!id){
			alert('Please select any country first');
		}else{
			window.location="<?php echo $this->url(array('module'=>'general-setup','controller'=>'country', 'action'=>'edit'));?>/id/"+id;
		}
	}

	function searchbox(){
		$( "#search-dialog" ).dialog('open');
		$("#search_box").val("");
		$("#search_box").focus();
		
	}

</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="#" onclick="javascript:add()">
					<span class='add'></span>
					Add
				</a>
			</li>
			<li>
				<a href="#" onclick="javascript:edit()">
					<span class='edit'></span>
					Edit
				</a>
			</li>
			<li>
				<a href="#" onclick="javascript:del()">
					<span class='delete'></span>
					Delete
				</a>
			</li>
			<li class="divider"></li>
			<li>
				<a id="search" href="#" onclick="javascript:searchbox()">
					<span class='search'></span>
					Search
				</a>
			</li>
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
		</ul>
	</div>
</div>
<br />
<?if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><? echo $this->noticeMessage;?></strong>.</div>
<br />
<?}?>
<?if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><? echo $this->noticeSuccess;?></strong>.</div>
<br />
<?}?>
<?if(isset($this->noticeError)){?>
<div class="message error"><strong><? echo $this->noticeError;?></strong>.</div>
<br />
<?}?>

<div style="width:100%;">
<?php 
	echo $this->paginationControl($this->paginator,'Sliding','paginationTop.phtml');
?>
<table class="table" width="100%" cellpadding="5" cellspacing="1" border="0">
	<tr>
		<th width="25px">&nbsp;</th>
		<th><?php echo $this->translate("Country Name"); ?></th>
		<th><?php echo $this->translate("Country Arabic Name"); ?></th>
		<th width="30px">Code ISO</th>
		<th width="30px">Code ISO3</th>
		<th width="50px">Arab Country</th>
	</tr>
	
	<?php 
	$i=0;
	foreach ($this->paginator as $entry): 
	?>
	<tr <?php echo $i%2==0?"class='shade'":""; ?>>
		<td>
			<input type="radio" name="country_id" value="<?php echo $entry['id']; ?>">
		</td>
		<td><?php echo $entry['name']; ?></td>
		<td><?php echo $entry['name_arabic']; ?></td>
		<td><?php echo $entry['code']; ?></td>
		<td><?php echo $entry['iso3']; ?></td>
		<td align="center"><?php echo $entry['arab_continent']==1?"<span class='state publish'>&nbsp;</span>":"<span class='state unpublish'>&nbsp;</span>"; ?></td>
	</tr>
	<?php 
	$i++;
	endforeach 
	?>

</table>
<?php 
	echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
?>
</div>

<!-- Search Box -->
<div id="search-dialog" title="Search">
	<p>
	<form id="search_form" action="" method="post">
		<table width="100%">
			<tr>
				<td>Search for</td>
				<td>:</td>
				<td><input type="text" name="search" id="search_box" style="width:200px" /></td>
			</tr>
		</table>
	</form>
	</p>
</div>