
<head>
<script>
dojo.addOnLoad(function(){
	dijit.byId('field3').focus();	
	});


function takafulfn()
{
	ids=dijit.byId('companyflag')
	//alert(ids);
	if(ids==1)
	{
		window.location="<?php echo $this->baseUrl();?>/finance/companytypepayment/companytypepaymentadd";
	}
	else
	{
		window.location="<?php echo $this->baseUrl();?>/finance/takafultypepayment/takafultypepaymentadd";	
	}
	}

</script>
</head>

<fieldset>
<legend><?php echo $this->translate->_("Payment Terms Search");?></legend>
<form id="initconfigForm" name="form1" method="post" action="<?php echo $this->baseUrl();?>/finance/companytypepayment/index/search/1">
	    	<table width="100%">	    		
      			<tr>
      			<td class="label"><?php echo $this->translate->_("Type")?></td>
        			<td><?php echo $this->lobjform->companyflag?></td>	      
         			<td class="label"><?php echo $this->translate->_("Name")?></td>
        			<td><?php echo $this->lobjform->field3?></td>	        	
      			</tr>		   
		      	  <tr>
	               <td align = "center" colspan = "4">
						<?php echo $this->lobjform->Search;?>
						<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Add"); ?>" onclick="takafulfn(); return false;" />
						<?php echo $this->lobjform->Clear;?>
				   </td>
				   </tr>      	
	        </table>		
</form>
</fieldset>
<br />
<?php  if (count($this->paginator)): ?> 
<fieldset>
  	<table class="table" width="100%" cellpadding="5" cellspacing="1">
		<thead>
    		<tr>
				<th><?php echo $this->translate->_("Name");?></th>
				<th>Contact Person</th>
			    <th>Payment Terms</th>
			   
									
    		</tr>
    	</thead>
    	<?php $comp=$this->cmpflag; ?>    	
    	   	
    	<tbody>       	            
            <?php   foreach ($this->paginator as $lobjcategory ): // ($this->accountdetails as $lobjcategory ): ?>
            <tr> 
              <?php if($comp==1){?>
              <td><a href="<?php echo $this->url(array('module'=>'finance','controller'=>'takafultypepayment', 'action'=>'takafultypepaymentedit' , 'lvaredit'=>$lobjcategory['idtakafulpaymenttype']),'default',true);?>" ><?php  echo $lobjcategory['CompanyName'];?></a></td>
          		
              <?php }else {?> 
          		<td><a href="<?php echo $this->url(array('module'=>'finance','controller'=>'companytypepayment', 'action'=>'companytypepaymentedit' , 'lvaredit'=>$lobjcategory['idcompanypaymenttype']),'default',true);?>" ><?php  echo $lobjcategory['CompanyName'];?></a></td>
          		<?php }?>
          		<td><?php  echo $lobjcategory['ContactPerson'];?></td>
          		<td><?php  echo $lobjcategory['DefinitionDesc'];?></td>
          		
          		
     		</tr>
     		<?php  endforeach; ?>
     		
     	</tbody>		
     		<tr>
	        	
   			</tr>
      </table>
   </fieldset> 
    <?php  endif; ?>
   </html>
