<fieldset>
	<legend><?php echo $this->translate("Scheduler").' '.$this->translate("Search");?></legend>
                    <form action="" method="POST">
                            <table width="100%">
                                <tr>
                                    <td><?php echo $this->translate("Scheduler").' '.$this->translate("Year");?></td>
                                    <td><?php echo $this->lobjform->field3;?></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td ><?php echo $this->translate("Active");?></td>
                                    <td ><?php echo $this->lobjform->field7;?></td>
                                </tr>
                                <tr>
                                <td align = "center" colspan = "4">
											<?php echo $this->lobjform->Search;?>
											<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Add"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'scheduler','controller'=>'specialscheduler', 'action'=>'addspecialscheduler'),'default',true);?>';" />	
											<?php echo $this->lobjform->Clear;?>
								</td>
							     </tr>
                        </table>
                    </form>	
    </fieldset> 
    <br/>
    <?php if (count($this->paginator)): ?>
	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
	    	<tr>
	        	<th><?php echo $this->translate("Year")?></th>
	        		<th><?php echo $this->translate("From")?></th>
	        			<th><?php echo $this->translate("To")?></th>
	        			<th><?php echo $this->translate("Description")?></th>
	        			<th><?php echo $this->translate("Status")?></th>
	        			
	        	
	    	</tr>
	        
	        <?php foreach ($this->paginator as $lobjprogram): ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	<td><a href="<?php echo $this->baseUrl();?>/scheduler/newscheduler/editscheduler/id/<?php echo $this->escape($lobjprogram['idnewscheduler']);?>"><?php print_r($this->escape($lobjprogram['Year']));?></a></td>
	            	<td><?php print_r($this->escape($lobjprogram['From']));?></td>
	            	<td><?php print_r($this->escape($lobjprogram['To']));?></td>
	            		<td><?php print_r($this->escape($lobjprogram['Description']));?></td>
	            			<td><?php if($lobjprogram['Active']==1) { echo $this->translate('Active');?><?php }else {?><?php echo $this->translate('Inactive');}?></td>
					 
	           
	            <?php endforeach; ?>
	           
			</tr>
			<tr>
	        	<td colspan="8" align="right"><div class="pagination"><?php  echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>
			<tr>
	        	
   			</tr>
		</table>
	</fieldset>
	 <?php endif; ?> 