<html>
<head>
<script>
dojo.addOnLoad(function()
		       {
	              dijit.byId('field2').focus();	
	           }
	          );
</script>
</head>
<body class="claro">
	<fieldset>
	<legend><?php echo "GroupName";?></legend>
        <form action="<?php echo $this->baseUrl();?>/examination/group/index/search/1" method="POST">
            <table width="100%">
                <tr>
                   <td><?php echo "GroupName";?></td>
                   <td align = "justify"><?php echo $this->lobjform->field2;?></td>  
                                
                </tr> 
                <tr>
                   <td><?php echo "Active";?></td>
                   <td align = "justify"><?php echo $this->lobjform->field7;?></td>                  
                
                </tr>   
                 <tr>
                 <td></td>               
               <td ><?php echo $this->lobjform->Search;?>
					<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo "Add"; ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'examination','controller'=>'group', 'action'=>'add'),'default',true);?>';" />	
					<?php echo $this->lobjform->Clear;?>
					</td>
               </tr>
            </table>
          </form>	               	
    </fieldset>
    <br>
    <fieldset>
    <table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr>
        <th><?php echo $this->translate("GroupName") ?></th>
        <th><?php echo $this->translate("Description") ?></th>
    </tr>
        <?php if (count($this->paginator)): ?>
        <?php foreach ($this->paginator as $lobjCountry ): ?>
    <tr>
    <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
         <td><a href="<?php echo $this->url(array('module'=>'examination','controller'=>'group','action'=>'edit','id'=>$lobjCountry['idgroupname']),'default',true);?>" ><?php print_r($this->escape($lobjCountry['groupname']));?></a></td>
         <td><?php print_r($this->escape($lobjCountry['groupdescription']));?></a></td>    
     <?php endforeach; ?>
     <?php endif; ?>
                
    </tr>
    <tr>
	    <td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   	</tr>
</table>
</fieldset>     
</body>
</html>























