<html>
<head>
<script>
dojo.addOnLoad(function(){
	
	});
</script>
</head>
<body class='claro'>
<fieldset>
	<legend><?php echo $this->translate("Statistics").' '.$this->translate("Reports");?></legend>
 		<form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/reports/allstatistics" method="POST">
 			<script type="dojo/method" event="onSubmit">
            if (this.validate()){
				return true;
                } else {
                    return false;
                }
			</script>
		<table width="100%">
		        <tr>
		            <td><?php echo $this->translate("Select").' '.$this->translate("Type") ?></td>
                    <td><?php echo $this->lobjform->Type;?></td>
                    <td><?php echo $this->translate("Month")?></td>
                    <td><?php echo $this->lobjform->Month;?></td>
                    <td><?php echo $this->translate("Year") ?></td>
                    <td><?php echo $this->lobjform->Year;?></td>
                 </tr>
				<tr>
                <td></td><td></td><td></td><td></td><td></td><td></td>
                 <td ><?php echo $this->lobjform->Search;?>
                    <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Clear"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'reports','controller'=>'allstatistics', 'action'=>'index'),'default',true);?>';" />
				 </td>
               </tr>
		</table>
	</form >	
</fieldset> 
<br>
<?php if($this->month):?>
<fieldset>
<form id="myForm1" name = "myform1" action="<?php echo $this->baseUrl();?>/reports/allstatistics/fnexportexcel" method="POST">
<?php if($this->lintagetype): ?>
<fieldset>
    <table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr><td colspan = 23 align= "center"><b><?php echo $this->translate("Age")." ".$this->translate("Wise")." ".$this->translate("Statistics");?></b></td></tr>
    <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
        <th  width="10px"></th>
        <th align ="center" colspan = "21" ><b><?php echo $this->translate("$this->monthname").' '.$this->translate("$this->year");?></b></th>
         <th width="10px"></th>
    </tr> 
     <tr>
        <th align ="center"><b><?php echo $this->translate("Age") ?></b></th>
        <th align ="center" colspan = "2" ><b><?php echo $this->translate("18-21") ?></b></th>
        <th align ="center" colspan = "2"><b><?php echo $this->translate("22-25") ?></b></th>
        <th align ="center" colspan = "2"><b><?php echo $this->translate("26-29") ?></b></th>
        <th align ="center" colspan = "2"><b><?php echo $this->translate("30-34") ?></b></th>
        <th align ="center" colspan = "2"><b><?php echo $this->translate("35-39") ?></b></th>
        <th align ="center" colspan = "2"><b><?php echo $this->translate("40-44") ?></b></td>
        <th align ="center" colspan = "2"><b><?php echo $this->translate("45-49") ?></b></th>
        <th align ="center" colspan = "2"><b><?php echo $this->translate("50-54") ?></b></th>
        <th align ="center" colspan = "2"><b><?php echo $this->translate("55-59") ?></b></th>
        <th align ="center" colspan = "3"><b><?php echo $this->translate("60 Above") ?></b></th>
        <th align ="center"><b><?php echo $this->translate("Total") ?></b></th>
     </tr>
      <?php  $lobjCountry = $this->larragescount;?>
     <tr style="background-color:#EEDD82">
      <td ><b><?php echo "Registered";?></b></td>
      <td  colspan = "2"><?php if($lobjCountry['18-21']) echo $lobjCountry['18-21'];else echo 0;?><input type="hidden" name="18-21" id="18-21" value="<?php if($lobjCountry['18-21']) echo $lobjCountry['18-21'];else echo 0;?>"></td>
      <td  colspan = "2"><?php if($lobjCountry['22-25']) echo $lobjCountry['22-25'];else echo 0;?><input type="hidden" name="22-25" id="22-25" value="<?php if($lobjCountry['22-25']) echo $lobjCountry['22-25'];else echo 0;?>"></td>
      <td colspan = "2"><?php if($lobjCountry['26-29']) echo $lobjCountry['26-29'];else echo 0;?><input type="hidden" name="26-29" id="26-29" value="<?php if($lobjCountry['26-29']) echo $lobjCountry['26-29'];else echo 0;?>"></td>
      <td colspan = "2"><?php if($lobjCountry['30-34']) echo $lobjCountry['30-34'];else echo 0;?><input type="hidden" name="30-34" id="30-34" value="<?php if($lobjCountry['30-34']) echo $lobjCountry['30-34'];else echo 0;?>"></td>
      <td colspan = "2"><?php if($lobjCountry['35-39']) echo $lobjCountry['35-39'];else echo 0;?><input type="hidden" name="35-39" id="35-39" value="<?php if($lobjCountry['35-39']) echo $lobjCountry['35-39'];else echo 0;?>"></td>
      <td colspan = "2"><?php if($lobjCountry['40-44']) echo $lobjCountry['40-44'];else echo 0;?><input type="hidden" name="40-44" id="40-44" value="<?php if($lobjCountry['40-44']) echo $lobjCountry['40-44'];else echo 0;?>"></td>
      <td colspan = "2"><?php if($lobjCountry['45-49']) echo $lobjCountry['45-49'];else echo 0;?><input type="hidden" name="45-49" id="45-49" value="<?php if($lobjCountry['45-49']) echo $lobjCountry['45-49'];else echo 0;?>"></td>
      <td colspan = "2"><?php if($lobjCountry['50-54']) echo $lobjCountry['50-54'];else echo 0;?><input type="hidden" name="50-54" id="50-54" value="<?php if($lobjCountry['50-54']) echo $lobjCountry['50-54'];else echo 0;?>"></td>
      <td colspan = "2"><?php if($lobjCountry['55-59']) echo $lobjCountry['55-59'];else echo 0;?><input type="hidden" name="55-59" id="55-59" value="<?php if($lobjCountry['55-59']) echo $lobjCountry['55-59'];else echo 0;?>"></td>
      <td colspan = "3"><?php if($lobjCountry['60Above']) echo $lobjCountry['60Above'];else echo 0;?><input type="hidden" name="60Above" id="60Above" value="<?php if($lobjCountry['60Above']) echo $lobjCountry['60Above'];else echo 0;?>"></td>
      <td><?php if($lobjCountry['regtotal']) echo $lobjCountry['regtotal'];else echo 0;?><input type="hidden" name="regtotal" id="regtotal" value="<?php if($lobjCountry['regtotal']) echo $lobjCountry['regtotal'];else echo 0;?>"></td>
      </tr>
      <tr style="background-color:#E6E6FA">
      <td><b><?php echo "Sat";?></b></td>
      <td colspan = "2"><?php if($lobjCountry['18-21sat']) echo $lobjCountry['18-21sat'];else echo 0;?><input type="hidden" name="18-21sat" id="18-21sat" value="<?php if($lobjCountry['18-21sat']) echo $lobjCountry['18-21sat'];else echo 0;?>"></td>
      <td colspan = "2"><?php if($lobjCountry['22-25sat']) echo $lobjCountry['22-25sat'];else echo 0;?><input type="hidden" name="22-25sat" id="22-25sat" value="<?php if($lobjCountry['22-25sat']) echo $lobjCountry['22-25sat'];else echo 0;?>"></td>
      <td colspan = "2"><?php if($lobjCountry['26-29sat']) echo $lobjCountry['26-29sat'];else echo 0;?><input type="hidden" name="26-29sat" id="26-29sat" value="<?php if($lobjCountry['26-29sat']) echo $lobjCountry['26-29sat'];else echo 0;?>"></td>
      <td colspan = "2"><?php if($lobjCountry['30-34sat']) echo $lobjCountry['30-34sat'];else echo 0;?><input type="hidden" name="30-34sat" id="30-34sat" value="<?php if($lobjCountry['30-34sat']) echo $lobjCountry['30-34sat'];else echo 0;?>"></td>
      <td colspan = "2"><?php if($lobjCountry['35-39sat']) echo $lobjCountry['35-39sat'];else echo 0;?><input type="hidden" name="35-39sat" id="35-39sat" value="<?php if($lobjCountry['35-39sat']) echo $lobjCountry['35-39sat'];else echo 0;?>"></td>
      <td colspan = "2"><?php if($lobjCountry['40-44sat']) echo $lobjCountry['40-44sat'];else echo 0;?><input type="hidden" name="40-44sat" id="40-44sat" value="<?php if($lobjCountry['40-44sat']) echo $lobjCountry['40-44sat'];else echo 0;?>"></td>
      <td colspan = "2"><?php if($lobjCountry['45-49sat']) echo $lobjCountry['45-49sat'];else echo 0;?><input type="hidden" name="45-49sat" id="45-49sat" value="<?php if($lobjCountry['45-49sat']) echo $lobjCountry['45-49sat'];else echo 0;?>"></td>
      <td colspan = "2"><?php if($lobjCountry['50-54sat']) echo $lobjCountry['50-54sat'];else echo 0;?><input type="hidden" name="50-54sat" id="50-54sat" value="<?php if($lobjCountry['50-54sat']) echo $lobjCountry['50-54sat'];else echo 0;?>"></td>
      <td colspan = "2"><?php if($lobjCountry['55-59sat']) echo $lobjCountry['55-59sat'];else echo 0;?><input type="hidden" name="55-59sat" id="55-59sat" value="<?php if($lobjCountry['55-59sat']) echo $lobjCountry['55-59sat'];else echo 0;?>"></td>
      <td colspan = "3"><?php if($lobjCountry['60Abovesat']) echo $lobjCountry['60Abovesat'];else echo 0;?><input type="hidden" name="60Abovesat" id="60Abovesat" value="<?php if($lobjCountry['60Abovesat']) echo $lobjCountry['60Abovesat'];else echo 0;?>"></td>
      <td><?php if($lobjCountry['sattotal']) echo $lobjCountry['sattotal'];else echo 0;?><input type="hidden" name="sattotal" id="sattotal" value="<?php if($lobjCountry['sattotal']) echo $lobjCountry['sattotal'];else echo 0;?>"></td>
      </tr>
      <tr style="background-color:#ADFF2F">
      <td><b><?php echo "Pass";?></b></td>
      <td colspan = "2"><?php if($lobjCountry['18-21pass'])echo $lobjCountry['18-21pass'];else echo 0;?><input type="hidden" name="18-21pass" id="18-21pass" value="<?php if($lobjCountry['18-21pass'])echo $lobjCountry['18-21pass'];else echo 0;?>"></td>
      <td colspan = "2"><?php if($lobjCountry['22-25pass']) echo $lobjCountry['22-25pass'];else echo 0;?><input type="hidden" name="22-25pass" id="22-25pass" value="<?php if($lobjCountry['22-25pass'])echo $lobjCountry['22-25pass'];else echo 0;?>"></td>
      <td colspan = "2"><?php if($lobjCountry['26-29pass']) echo $lobjCountry['26-29pass'];else echo 0;?><input type="hidden" name="26-29pass" id="26-29pass" value="<?php if($lobjCountry['26-29pass'])echo $lobjCountry['26-29pass'];else echo 0;?>"></td>
      <td colspan = "2"><?php if($lobjCountry['30-34pass']) echo $lobjCountry['30-34pass'];else echo 0;?><input type="hidden" name="30-34pass" id="30-34pass" value="<?php if($lobjCountry['30-34pass'])echo $lobjCountry['30-34pass'];else echo 0;?>"></td>
      <td colspan = "2"><?php if($lobjCountry['35-39pass']) echo $lobjCountry['35-39pass'];else echo 0;?><input type="hidden" name="35-39pass" id="35-39pass" value="<?php if($lobjCountry['35-39pass'])echo $lobjCountry['35-39pass'];else echo 0;?>"></td>
      <td colspan = "2"><?php if($lobjCountry['40-44pass']) echo $lobjCountry['40-44pass'];else echo 0;?><input type="hidden" name="40-44pass" id="40-44pass" value="<?php if($lobjCountry['40-44pass'])echo $lobjCountry['40-44pass'];else echo 0;?>"></td>
      <td colspan = "2"><?php if($lobjCountry['45-49pass']) echo $lobjCountry['45-49pass'];else echo 0;?><input type="hidden" name="45-49pass" id="45-49pass" value="<?php if($lobjCountry['45-49pass'])echo $lobjCountry['45-49pass'];else echo 0;?>"></td>
      <td colspan = "2"><?php if($lobjCountry['50-54pass']) echo $lobjCountry['50-54pass'];else echo 0;?><input type="hidden" name="50-54pass" id="50-54pass" value="<?php if($lobjCountry['50-54pass'])echo $lobjCountry['50-54pass'];else echo 0;?>"></td>
      <td colspan = "2"><?php if($lobjCountry['55-59pass']) echo $lobjCountry['55-59pass'];else echo 0;?><input type="hidden" name="55-59pass" id="55-59pass" value="<?php if($lobjCountry['55-59pass'])echo $lobjCountry['55-59pass'];else echo 0;?>"></td>
      <td colspan = "3"><?php if($lobjCountry['60Abovepass']) echo $lobjCountry['60Abovepass'];else echo 0;?><input type="hidden" name="60Abovepass" id="60Abovepass" value="<?php if($lobjCountry['60Abovepass']) echo $lobjCountry['60Abovepass'];else echo 0;?>"></td>
      <td><?php if($lobjCountry['passtotal']) echo $lobjCountry['passtotal'];else echo 0;?><input type="hidden" name="passtotal" id="passtotal" value="<?php if($lobjCountry['passtotal']) echo $lobjCountry['passtotal'];else echo 0;?>"></td>
      </tr>
      <tr style="background-color:#FF6347">
      <td><b><?php echo "Fail";?></b></td>
      <td colspan = "2"><?php if($lobjCountry['18-21fail']) echo $lobjCountry['18-21fail'];else echo 0;?><input type="hidden" name="18-21fail" id="18-21fail" value="<?php if($lobjCountry['18-21fail']) echo $lobjCountry['18-21fail'];else echo 0;?>"></td>
      <td colspan = "2"><?php if($lobjCountry['22-25fail']) echo $lobjCountry['22-25fail'];else echo 0;?><input type="hidden" name="22-25fail" id="22-25fail" value="<?php if($lobjCountry['22-25fail']) echo $lobjCountry['22-25fail'];else echo 0;?>"></td>
      <td colspan = "2"><?php if($lobjCountry['26-29fail']) echo $lobjCountry['26-29fail'];else echo 0;?><input type="hidden" name="26-29fail" id="26-29fail" value="<?php if($lobjCountry['26-29fail']) echo $lobjCountry['26-29fail'];else echo 0;?>"></td>
      <td colspan = "2"><?php if($lobjCountry['30-34fail']) echo $lobjCountry['30-34fail'];else echo 0;?><input type="hidden" name="30-34fail" id="30-34fail" value="<?php if($lobjCountry['30-34fail']) echo $lobjCountry['30-34fail'];else echo 0;?>"></td>
      <td colspan = "2"><?php if($lobjCountry['35-39fail']) echo $lobjCountry['35-39fail'];else echo 0;?><input type="hidden" name="35-39fail" id="35-39fail" value="<?php if($lobjCountry['35-39fail']) echo $lobjCountry['35-39fail'];else echo 0;?>"></td>
      <td colspan = "2"><?php if($lobjCountry['40-44fail']) echo $lobjCountry['40-44fail'];else echo 0;?><input type="hidden" name="40-44fail" id="40-44fail" value="<?php if($lobjCountry['40-44fail']) echo $lobjCountry['40-44fail'];else echo 0;?>"></td>
      <td colspan = "2"><?php if($lobjCountry['45-49fail']) echo $lobjCountry['45-49fail'];else echo 0;?><input type="hidden" name="45-49fail" id="45-49fail" value="<?php if($lobjCountry['45-49fail']) echo $lobjCountry['45-49fail'];else echo 0;?>"></td>
      <td colspan = "2"><?php if($lobjCountry['50-54fail']) echo $lobjCountry['50-54fail'];else echo 0;?><input type="hidden" name="50-54fail" id="50-54fail" value="<?php if($lobjCountry['50-54fail']) echo $lobjCountry['50-54fail'];else echo 0;?>"></td>
      <td colspan = "2"><?php if($lobjCountry['55-59fail']) echo $lobjCountry['55-59fail'];else echo 0;?><input type="hidden" name="55-59fail" id="55-59fail" value="<?php if($lobjCountry['55-59fail']) echo $lobjCountry['55-59fail'];else echo 0;?>"></td>
      <td colspan = "3"><?php if($lobjCountry['60Abovefail']) echo $lobjCountry['60Abovefail'];else echo 0;?><input type="hidden" name="60Abovefail" id="60Abovefail" value="<?php if($lobjCountry['60Abovefail']) echo $lobjCountry['60Abovefail'];else echo 0;?>"></td>
      <td><?php if($lobjCountry['failtotal']) echo $lobjCountry['failtotal'];else echo 0;?><input type="hidden" name="failtotal" id="failtotal" value="<?php if($lobjCountry['failtotal']) echo $lobjCountry['failtotal'];else echo 0;?>"></td>
      </tr>
      <tr style="background-color:#BDB76B"><input type="hidden" name="selmonth" id="selmonth" value="<?php echo $this->intmonth.'_'.$this->year;?>"></td>
      <td><b><?php echo "Absent";?></b></td>
      <td colspan = "2"><?php if($lobjCountry['18-21absent']) echo $lobjCountry['18-21absent'];else echo 0;?><input type="hidden" name="18-21absent" id="18-21absent" value="<?php if($lobjCountry['18-21absent']) echo $lobjCountry['18-21absent'];else echo 0;?>"></td>
      <td colspan = "2"><?php if($lobjCountry['22-25absent']) echo $lobjCountry['22-25absent'];else echo 0;?><input type="hidden" name="22-25absent" id="22-25absent" value="<?php if($lobjCountry['22-25absent']) echo $lobjCountry['22-25absent'];else echo 0;?>"></td>
      <td colspan = "2"><?php if($lobjCountry['26-29absent']) echo $lobjCountry['26-29absent'];else echo 0;?><input type="hidden" name="26-29absent" id="26-29absent" value="<?php if($lobjCountry['26-29absent']) echo $lobjCountry['26-29absent'];else echo 0;?>"></td>
      <td colspan = "2"><?php if($lobjCountry['30-34absent']) echo $lobjCountry['30-34absent'];else echo 0;?><input type="hidden" name="30-34absent" id="30-34absent" value="<?php if($lobjCountry['30-34absent']) echo $lobjCountry['30-34absent'];else echo 0;?>"></td>
      <td colspan = "2"><?php if($lobjCountry['35-39absent']) echo $lobjCountry['35-39absent'];else echo 0;?><input type="hidden" name="35-39absent" id="35-39absent" value="<?php if($lobjCountry['35-39absent']) echo $lobjCountry['35-39absent'];else echo 0;?>"></td>
      <td colspan = "2"><?php if($lobjCountry['40-44absent']) echo $lobjCountry['40-44absent'];else echo 0;?><input type="hidden" name="40-44absent" id="40-44absent" value="<?php if($lobjCountry['40-44absent']) echo $lobjCountry['40-44absent'];else echo 0;?>"></td>
      <td colspan = "2"><?php if($lobjCountry['45-49absent']) echo $lobjCountry['45-49absent'];else echo 0;?><input type="hidden" name="45-49absent" id="45-49absent" value="<?php if($lobjCountry['45-49absent']) echo $lobjCountry['45-49absent'];else echo 0;?>"></td>
      <td colspan = "2"><?php if($lobjCountry['50-54absent']) echo $lobjCountry['50-54absent'];else echo 0;?><input type="hidden" name="50-54absent" id="50-54absent" value="<?php if($lobjCountry['50-54absent']) echo $lobjCountry['50-54absent'];else echo 0;?>"></td>
      <td colspan = "2"><?php if($lobjCountry['55-59absent']) echo $lobjCountry['55-59absent'];else echo 0;?><input type="hidden" name="55-59absent" id="55-59absent" value="<?php if($lobjCountry['55-59absent']) echo $lobjCountry['55-59absent'];else echo 0;?>"></td>
      <td colspan = "3"><?php if($lobjCountry['60Aboveabsent']) echo $lobjCountry['60Aboveabsent'];else echo 0;?><input type="hidden" name="60Aboveabsent" id="60Aboveabsent" value="<?php if($lobjCountry['60Aboveabsent']) echo $lobjCountry['60Aboveabsent'];else echo 0;?>"></td>
      <td><?php if($lobjCountry['absenttotal']) echo $lobjCountry['absenttotal'];else echo 0;?><input type="hidden" name="absenttotal" id="absenttotal" value="<?php if($lobjCountry['absenttotal']) echo $lobjCountry['absenttotal'];else echo 0;?>"></td>
      </tr>
      </table>
      </fieldset>
      <?php endif;?>
      <br>
      <?php if($this->lintcategorytype): ?>
 <fieldset>
 <?php   $programname =  $this->programs; $program =  $this->programname;?>
  <table class="table" width="100%" cellpadding="5" cellspacing="1">
     <tr><td colspan = "23" align= "center"><b><?php echo $this->translate("Examcategory")." ".$this->translate("Wise")." ".$this->translate("Statistics");?></b></td>
     </tr>
     <tr style="background-color:">
        <th width="10px"><?php echo $this->translate(" ");?></th>
        <th  colspan = "21" align ="center"  ><b><?php echo $this->translate("$this->monthname").' '.$this->translate("$this->year");?></b></th>
        <th width="10px"></th>
    </tr> 
     <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>"> 
        <th width="10px"><?php echo $this->translate("ExamType") ?></th>
		<?php for($lvars=0;$lvars<count($programname);$lvars++){?>
		
		<?php if($programname[$lvars]['IdProgrammaster']==4){?>
		<th  colspan = "6"><?php echo $programname[$lvars]['ProgramName']; ?></th>
		<?php } else {?>
		<th  colspan = "5"><?php echo $programname[$lvars]['ProgramName']; ?></th>
		<?php }?>
		
		<?php }
		?>
		
        <th><?php echo $this->translate("Total") ?></th>
     </tr>
      <tr style="background-color:#EEDD82"> 
        <td width="10px"><b><?php echo $this->translate("Registered") ?></b></td>
		<?php $TotalNoOfCandidates =0; for($lvars=0;$lvars<count($programname);$lvars++){?>
		<?php if($programname[$lvars]['IdProgrammaster']==4){?>
		<td colspan = "6"><?php if($program[$lvars]['NoOfCandidates']) echo $program[$lvars]['NoOfCandidates']; else echo 0; $TotalNoOfCandidates = $TotalNoOfCandidates+ $program[$lvars]['NoOfCandidates'];?></td>
		<?php } else {?>
		<td colspan = "5"><?php if($program[$lvars]['NoOfCandidates']) echo $program[$lvars]['NoOfCandidates']; else echo 0; $TotalNoOfCandidates = $TotalNoOfCandidates+ $program[$lvars]['NoOfCandidates'];?></td>
		<?php }?>
		<?php }?>
		
         <td><?php echo $TotalNoOfCandidates; ?></td>
     </tr>
     <tr style="background-color:#E6E6FA"> 
        <td><b><?php echo $this->translate("Sat") ?></b></td>
		<?php for($lvars=0;$lvars<count($programname);$lvars++){?>
		
		<?php if($programname[$lvars]['IdProgrammaster']==4){?>
		<td colspan = "6"><?php echo $this->sat[$lvars]; ?></td>
		<?php } else {?>
		<td colspan = "5"><?php echo $this->sat[$lvars]; ?></td>
		<?php }?>
		
		
		<?php }?>
        <td><?php if($this->sat) echo array_sum($this->sat); else echo 0; ?></td>
     </tr> 
      <tr style="background-color:#ADFF2F"> 
        <td><b><?php echo $this->translate("Pass") ?></b></td>
		<?php for($lvars=0;$lvars<count($programname);$lvars++){?>
		
		
		<?php if($programname[$lvars]['IdProgrammaster']==4){?>
		<td colspan = "6"><?php echo $this->pass[$lvars]; ?></td>
		<?php } else {?>
	<td colspan = "5"><?php echo $this->pass[$lvars]; ?></td>
		<?php }?>
		
		
		
		<?php }?>
         <td><?php if($this->pass) echo array_sum($this->pass); else echo 0;?></td>
     </tr>
      <tr style="background-color:#FF6347"> 
        <td><b><?php echo $this->translate("Fail") ?></b></td>
		<?php for($lvars=0;$lvars<count($programname);$lvars++){?>
		
		
		<?php if($programname[$lvars]['IdProgrammaster']==4){?>
		<td colspan = "6"><?php echo $this->fail[$lvars];?></td>
		<?php } else {?>
	<td colspan = "5"><?php echo $this->fail[$lvars];?></td>
		<?php }?>
		
	
		<?php }?>
         <td><?php if($this->fail) echo array_sum($this->fail); else echo 0;?></td>
     </tr> 
     
     <tr style="background-color:#BDB76B"> 
        <td><b><?php echo $this->translate("Absent") ?></b></td>
		<?php for($lvars=0;$lvars<count($programname);$lvars++){?>
		
		
		<?php if($programname[$lvars]['IdProgrammaster']==4){?>
		<td colspan = "6"><?php echo $this->absent[$lvars]; ?></td>
		<?php } else {?>
	<td colspan = "5"><?php echo $this->absent[$lvars]; ?></td>
		<?php }?>
		
		<?php }?>
         <td><?php if($this->absent) echo array_sum($this->absent); else echo 0;?></td>
     </tr>
</table>
 </fieldset>
 <?php endif; ?>
      <br>
      <?php if($this->lintcentretype): ?>
 <?php $centrename = $this->centres; $centredata = $this->centredata;?>
 <fieldset>
  <table class="table" width="100%" cellpadding="5" cellspacing="1">
  <tr><td colspan = "23" align= "center"><b><?php echo $this->translate("Examcentre")." ".$this->translate("Wise")." ".$this->translate("Statistics");?></b></td></tr>
    <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
        <th width="10px"><?php echo $this->translate(" ");?></th>
        <th align ="center" colspan = "<?php echo count($centrename)?>"><b><?php echo $this->translate("$this->monthname").' '.$this->translate("$this->year");?></b></th>
        <th width="10px"></th>
    </tr> 
    <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>"> 
        <th width="10px"><b><?php echo $this->translate("Exam Center")?></b></th>
		<?php for($lvars=0;$lvars<count($centrename);$lvars++){?>
		<th><?php echo $centrename[$lvars]['centername'];?></th>
		<?php }?>
        <th width="10px"><?php echo $this->translate("Total")?></th>
     </tr>
    
    <tr style="background-color:#EEDD82"> 
        <td><b><?php echo $this->translate("Registered")?></b></td>
		<?php for($lvars=0;$lvars<count($centrename);$lvars++){?>
		<td><?php if($centredata[$lvars]) echo $centredata[$lvars];else echo 0; ?></td>
		<?php }?>
        <td><?php if($centredata) echo array_sum($centredata); else echo 0;?></td>
     </tr>
    <tr style="background-color:#E6E6FA"> 
        <td><b><?php echo $this->translate("Sat")?></b></td>
		<?php for($lvars=0;$lvars<count($centrename);$lvars++){?>
		<td><?php if($this->centresat[$lvars]) echo $this->centresat[$lvars];else echo 0; ?></td>
		<?php }?>
        <td><?php if($this->centresat)echo array_sum($this->centresat); else echo 0;?></td>
     </tr>
     <tr style="background-color:#ADFF2F"> 
        <td><b><?php echo $this->translate("Pass")?></b></td>
		<?php for($lvars=0;$lvars<count($centrename);$lvars++){?>
		<td><?php if($this->centrepass[$lvars]) echo $this->centrepass[$lvars];else echo 0; ?></td>
		<?php }?>
        <td><?php if($this->centrepass) echo array_sum($this->centrepass); else echo 0;?></td>
     </tr>
     <tr style="background-color:#FF6347"> 
        <td><b><?php echo $this->translate("Fail")?></b></td>
		<?php for($lvars=0;$lvars<count($centrename);$lvars++){?>
		<td><?php if($this->centrefail[$lvars]) echo $this->centrefail[$lvars];else echo 0; ?></td>
		<?php }?>
        <td><?php if($this->centrefail) echo array_sum($this->centrefail); else echo 0; ?></td>
     </tr>
     <tr style="background-color:#BDB76B"> 
        <td><b><?php echo $this->translate("Absent")?></b></td>
		<?php for($lvars=0;$lvars<count($centrename);$lvars++){?>
		<td><?php if($this->centreabsent[$lvars]) echo $this->centreabsent[$lvars];else echo 0; ?></td>
		<?php }?>
        <td><?php if($this->centreabsent) echo array_sum($this->centreabsent);else echo 0;?></td>
     </tr>
      </table>
      </fieldset>
      <?php endif; ?>
      <br>
      <?php if($this->lintgendertype): ?>
      <fieldset>
      <table class="table" width="100%" cellpadding="5" cellspacing="1">
        <tr><td colspan = 23 align= "center"><b><?php echo $this->translate("Gender")." ".$this->translate("Wise")." ".$this->translate("Statistics");?></b></td></tr>
	    <tr>
	        <th  width="10px"><b><?php echo $this->translate(" ");?></b></th>
	        <th align ="center" colspan ="21"><b><?php echo $this->translate("$this->monthname").' '.$this->translate("$this->year");?></b></th>
	        <th width="10px"></th>
	    </tr> 
	    <tr> 
	        <th align ="center"><b><?php echo $this->translate("Gender") ?></b></th>
	        <th align ="center" colspan="10"><b><?php echo $this->translate("Male") ?></b></th>
	        <th align ="center" colspan="11"><b><?php echo $this->translate("Female") ?></b></th>
	        <th align ="center"><b><?php echo $this->translate("Total") ?></b></th>
	    </tr>
      <?php $lobjCountry = $this->larrgendercount; ?>
      <tr style="background-color:#EEDD82">
      <td><b><?php echo "Registered";?></b></td>
      <td  colspan="10"><?php if($lobjCountry[1]['NoOfCandidates']) echo $lobjCountry[1]['NoOfCandidates'];else echo 0;?><input type="hidden" name="malecand" id="malecand" value="<?php if($lobjCountry[1]['NoOfCandidates']) echo $lobjCountry[1]['NoOfCandidates'];else echo 0;?>"></td>
      <td  colspan="11"><?php if($lobjCountry[0]['NoOfCandidates']) echo $lobjCountry[0]['NoOfCandidates'];else echo 0;?><input type="hidden" name="femalecand" id="femalecand" value="<?php if($lobjCountry[0]['NoOfCandidates'])echo $lobjCountry[0]['NoOfCandidates'];else echo 0;?>"></td>
      <td><?php if($lobjCountry[2]['regtotal1']) echo $lobjCountry[2]['regtotal1'];else echo 0;?><input type="hidden" name="regtotal1" id="regtotal1" value="<?php echo $lobjCountry[2]['regtotal1'];?>"></td>
      </tr>
      <tr style="background-color:#E6E6FA">
      <td><b><?php echo "Sat";?></b></td>
      <td  colspan="10"><?php if($lobjCountry[3]['msat']) echo $lobjCountry[3]['msat'];else echo 0;?><input type="hidden" name="msat" id="msat" value="<?php echo $lobjCountry[3]['msat'];?>"></td>
      <td  colspan="11"> <?php if($lobjCountry[7]['fsat']) echo $lobjCountry[7]['fsat'];else echo 0;?><input type="hidden" name="fsat" id="fsat" value="<?php echo $lobjCountry[7]['fsat'];?>"></td>
      <td><?php if($lobjCountry[11]['sattotal']) echo $lobjCountry[11]['sattotal'];else echo 0;?><input type="hidden" name="sattotal" id="sattotal" value="<?php echo $lobjCountry[11]['sattotal'];?>"></td>
      </tr>
      <tr style="background-color:#ADFF2F">
      <td><b><?php echo "Pass";?></b></td>
      <td  colspan="10"><?php if($lobjCountry[4]['mpass']) echo $lobjCountry[4]['mpass'];else echo 0;?><input type="hidden" name="mpass" id="mpass" value="<?php echo $lobjCountry[4]['mpass'];?>"></td>
      <td  colspan="11"><?php if($lobjCountry[8]['fpass']) echo $lobjCountry[8]['fpass'];else echo 0;?><input type="hidden" name="fpass" id="fpass" value="<?php echo $lobjCountry[8]['fpass'];?>"></td>
      <td><?php if($lobjCountry[12]['passtotal']) echo $lobjCountry[12]['passtotal'];else echo 0;?><input type="hidden" name="passtotal" id="passtotal" value="<?php echo $lobjCountry[12]['passtotal'];?>"></td>
      </tr>
      <tr style="background-color:#FF6347">
      <td><b><?php echo "Fail";?></b></td>
      <td  colspan="10"><?php if($lobjCountry[5]['mfail']) echo $lobjCountry[5]['mfail'];else echo 0;?><input type="hidden" name="mfail" id="mfail" value="<?php echo $lobjCountry[5]['mfail'];?>"></td>
      <td  colspan="11"><?php if($lobjCountry[9]['ffail']) echo $lobjCountry[9]['ffail'];else echo 0;?><input type="hidden" name="ffail" id="ffail" value="<?php echo $lobjCountry[9]['ffail'];?>"></td>
      <td><?php if($lobjCountry[13]['failtotal']) echo $lobjCountry[13]['failtotal'];else echo 0;?><input type="hidden" name="failtotal" id="failtotal" value="<?php echo $lobjCountry[13]['failtotal'];?>"></td>
      </tr>
      <tr style="background-color:#BDB76B"></td>
      <td><b><?php echo "Absent";?></b></td>
      <td  colspan="10"><?php if($lobjCountry[6]['mabsent']) echo $lobjCountry[6]['mabsent'];else echo 0;?><input type="hidden" name="mabsent" id="mabsent" value="<?php echo $lobjCountry[6]['mabsent'];?>"></td>
      <td  colspan="11"><?php if($lobjCountry[10]['fabsent']) echo $lobjCountry[10]['fabsent'];else echo 0;?><input type="hidden" name="fabsent" id="fabsent" value="<?php echo $lobjCountry[10]['fabsent'];?>"></td>
      <td><?php if($lobjCountry[14]['absenttotal']) echo $lobjCountry[14]['absenttotal'];else echo 0;?><input type="hidden" name="absenttotal" id="absenttotal" value="<?php echo $lobjCountry[14]['absenttotal'];?>"></td>
      </tr>
      </table>
      </fieldset>
      <?php endif; ?>
      <br>
      
      
 <?php if($this->lintsessiontype): ?>
 <fieldset>
 <?php   $sessions =  $this->availsessions; ?>
  <table class="table" width="100%" cellpadding="5" cellspacing="1">
     <tr><td colspan = "23" align= "center"><b><?php echo $this->translate("Examsession")." ".$this->translate("Wise")." ".$this->translate("Statistics");?></b></td>
     </tr>
     <tr style="background-color:">
        <th width="10px"><?php echo $this->translate(" ");?></th>
        <th  colspan = "21" align ="center"  ><b><?php echo $this->translate("$this->monthname").' '.$this->translate("$this->year");?></b></th>
        <th width="10px"></th>
    </tr> 
     <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>"> 
        <th width="10px"><?php echo $this->translate("Session") ?></th>
		<?php for($lvars=0;$lvars<count($sessions);$lvars++){
		if(count($sessions)== 1){?>
		<th colspan = '20'><?php echo $sessions[$lvars]['managesessionname'];?></th>
		<?php } ?>
		
		<?php if(count($sessions)== 2){?>
		<th colspan = '10'><?php echo $sessions[$lvars]['managesessionname'];?></th>
		<?php } ?>
		
		<?php if(count($sessions)== 3){?>
		<th colspan = '7'><?php echo $sessions[$lvars]['managesessionname'];?></th>
		<?php } ?>
		
		<?php if(count($sessions)== 4){?>
		<th colspan = '5'><?php echo $sessions[$lvars]['managesessionname'];?></th>
		<?php } ?>	
			
		<?php if(count($sessions)== 5){?>
		<th colspan = '4'><?php echo $sessions[$lvars]['managesessionname'];?></th>
		<?php } ?>
			
		<?php if(count($sessions)== 6){?>
		<th colspan = '3'><?php echo $sessions[$lvars]['managesessionname'];?></th>
		<?php }
		}
		?>
        <th colspan = '2' align = 'center'><?php echo $this->translate("Total") ?></th>
     </tr>
      <tr style="background-color:#EEDD82"> 
        <td width="10px"><b><?php echo $this->translate("Registered") ?></b></td>
		<?php $TotalNoOfCandidates = 0; 
		      for($lvars=0;$lvars<count($sessions);$lvars++){ 
		      	if(count($sessions)== 1){?>
		<td colspan = '20'><?php echo $sessions[$lvars]['NoOfCandidates'];?></td>
		<?php $TotalNoOfCandidates = $TotalNoOfCandidates + $sessions[$lvars]['NoOfCandidates'];?>
		<?php } ?>
		<?php if(count($sessions)== 2){?>
		<td colspan = '10'><?php echo $sessions[$lvars]['NoOfCandidates'];?></td>
		<?php $TotalNoOfCandidates = $TotalNoOfCandidates + $sessions[$lvars]['NoOfCandidates'];?>
		<?php } ?>
		<?php if(count($sessions)== 3){?>
		<td colspan = '7'><?php echo $sessions[$lvars]['NoOfCandidates'];?></td>
		<?php $TotalNoOfCandidates = $TotalNoOfCandidates + $sessions[$lvars]['NoOfCandidates'];?>
		<?php } ?>
		<?php if(count($sessions)== 4){?>
		<td colspan = '5'><?php echo $sessions[$lvars]['NoOfCandidates'];?></td>
		<?php $TotalNoOfCandidates = $TotalNoOfCandidates + $sessions[$lvars]['NoOfCandidates'];?>
		<?php } ?>	
		<?php if(count($sessions)== 5){?>
		<td colspan = '4'><?php echo $sessions[$lvars]['NoOfCandidates'];?></td>
		<?php $TotalNoOfCandidates = $TotalNoOfCandidates + $sessions[$lvars]['NoOfCandidates'];?>
		<?php } ?>
		<?php if(count($sessions)== 6){?>
		<td colspan = '3'><?php echo $sessions[$lvars]['NoOfCandidates'];?></td>
		<?php $TotalNoOfCandidates = $TotalNoOfCandidates + $sessions[$lvars]['NoOfCandidates'];?>
		<?php }?>
		<?php }?>
         <td colspan = '2' align = 'center'> <?php echo $TotalNoOfCandidates; ?></td>
     </tr>
     
     <tr style="background-color:#E6E6FA"> 
        <td><b><?php echo $this->translate("Sat") ?></b></td>
		<?php for($lvars=0;$lvars<count($sessions);$lvars++){ 
		      	if(count($sessions)== 1){?>
		<td colspan = '20'><?php echo $this->sessionsat[$lvars];?></td>
		<?php } ?>
		<?php if(count($sessions)== 2){?>
		<td colspan = '10'><?php echo $this->sessionsat[$lvars];?></td>
		<?php } ?>
		<?php if(count($sessions)== 3){?>
		<td colspan = '7'><?php echo $this->sessionsat[$lvars];?></td>
		<?php } ?>
		<?php if(count($sessions)== 4){?>
		<td colspan = '5'><?php echo $this->sessionsat[$lvars];?></td>
		<?php } ?>	
		<?php if(count($sessions)== 5){?>
		<td colspan = '4'><?php echo $this->sessionsat[$lvars];?></td>
		<?php } ?>
		<?php if(count($sessions)== 6){?>
		<td colspan = '3'><?php echo $this->sessionsat[$lvars];?></td>
		<?php }?>
		<?php }?>
        <td colspan = '2' align = 'center'><?php if($this->sessionsat) echo array_sum($this->sessionsat); else echo 0; ?></td>
     </tr> 
      <tr style="background-color:#ADFF2F"> 
        <td><b><?php echo $this->translate("Pass") ?></b></td>
		<?php for($lvars=0;$lvars<count($sessions);$lvars++){ 
		      	if(count($sessions)== 1){?>
		<td colspan = '20'><?php echo $this->sessionpass[$lvars];?></td>
		<?php } ?>
		<?php if(count($sessions)== 2){?>
		<td colspan = '10'><?php echo $this->sessionpass[$lvars];?></td>
		<?php } ?>
		<?php if(count($sessions)== 3){?>
		<td colspan = '7'><?php echo $this->sessionpass[$lvars];?></td>
		<?php } ?>
		<?php if(count($sessions)== 4){?>
		<td colspan = '5'><?php echo $this->sessionpass[$lvars];?></td>
		<?php } ?>	
		<?php if(count($sessions)== 5){?>
		<td colspan = '4'><?php echo $this->sessionpass[$lvars];?></td>
		<?php } ?>
		<?php if(count($sessions)== 6){?>
		<td colspan = '3'><?php echo $this->sessionpass[$lvars];?></td>
		<?php }?>
		<?php }?>
         <td  colspan = '2' align = 'center'><?php if($this->sessionpass) echo array_sum($this->sessionpass); else echo 0;?></td>
     </tr>
      <tr style="background-color:#FF6347"> 
        <td><b><?php echo $this->translate("Fail") ?></b></td>
		<?php for($lvars=0;$lvars<count($sessions);$lvars++){ 
		      	if(count($sessions)== 1){?>
		<td colspan = '20'><?php echo $this->sessionfail[$lvars];?></td>
		<?php } ?>
		<?php if(count($sessions)== 2){?>
		<td colspan = '10'><?php echo $this->sessionfail[$lvars];?></td>
		<?php } ?>
		<?php if(count($sessions)== 3){?>
		<td colspan = '7'><?php echo $this->sessionfail[$lvars];?></td>
		<?php } ?>
		<?php if(count($sessions)== 4){?>
		<td colspan = '5'><?php echo $this->sessionfail[$lvars];?></td>
		<?php } ?>	
		<?php if(count($sessions)== 5){?>
		<td colspan = '4'><?php echo $this->sessionfail[$lvars];?></td>
		<?php } ?>
		<?php if(count($sessions)== 6){?>
		<td colspan = '3'><?php echo $this->sessionfail[$lvars];?></td>
		<?php }?>
		<?php }?>
         <td colspan = '2' align = 'center'><?php if($this->sessionfail) echo array_sum($this->sessionfail); else echo 0;?></td>
     </tr> 
     <tr style="background-color:#BDB76B"> 
        <td><b><?php echo $this->translate("Absent") ?></b></td>
		<?php for($lvars=0;$lvars<count($sessions);$lvars++){ 
		      	if(count($sessions)== 1){?>
		<td colspan = '20'><?php echo $this->sessionabsent[$lvars];?></td>
		<?php } ?>
		<?php if(count($sessions)== 2){?>
		<td colspan = '10'><?php echo $this->sessionabsent[$lvars];?></td>
		<?php } ?>
		<?php if(count($sessions)== 3){?>
		<td colspan = '7'><?php echo $this->sessionabsent[$lvars];?></td>
		<?php } ?>
		<?php if(count($sessions)== 4){?>
		<td colspan = '5'><?php echo $this->sessionabsent[$lvars];?></td>
		<?php } ?>	
		<?php if(count($sessions)== 5){?>
		<td colspan = '4'><?php echo $this->sessionabsent[$lvars];?></td>
		<?php } ?>
		<?php if(count($sessions)== 6){?>
		<td colspan = '3'><?php echo $this->sessionabsent[$lvars];?></td>
		<?php }?>
		<?php }?>
         <td colspan = '2' align = 'center'><?php if($this->sessionabsent) echo array_sum($this->sessionabsent); else echo 0;?></td>
     </tr>
</table>
 </fieldset>
 <?php endif; ?>
      <br>
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
 <?php if($this->lintqualificationtype): ?>
      <fieldset>
      <table class="table" width="100%" cellpadding="5" cellspacing="1">
      <tr><td colspan ="23" align= "center"><b><?php echo $this->translate("Qualification")." ".$this->translate("Wise")." ".$this->translate("Statistics");?></b></td></tr>
    <tr>
        <th  width="10px"><b><?php echo $this->translate(" ");?></b></th>
        <th align ="center" colspan ="21"><b><?php echo $this->translate("$this->monthname").' '. $this->translate("$this->year");?></b></th>
        <th  width="10px"></th>
    </tr>
    <tr>
       <th  width="10px"><?php echo $this->translate("Qualification") ?></th>
       <?php $quali=$this->larrquali;  for($linti=0;$linti<count($quali);$linti++){?>
       
       <?php if($quali[$linti]['idDefinition']==167 || $quali[$linti]['idDefinition']==168 || $quali[$linti]['idDefinition']==170){ ?>
           <th colspan = "4"><?php echo $this->translate($quali[$linti]['QualificationName'])?></th>
       <?php }else{ ?>
             <th colspan = "3"><?php echo $this->translate($quali[$linti]['QualificationName'])?></th>
       <?php }?>
     
       <?php } ?>
       <th  width="10px"><?php echo $this->translate("TOTAL") ?></th>
    </tr>
     <tr style="background-color:#EEDD82">
      <td><b><?php echo "Registered"; ?></b></td>
      <?php $lintreg=$this->lintreg;
       $linttotalreg=0; for($linti=0;$linti<count($lintreg);$linti++) {
      	$linttotalreg+=$lintreg[$linti]['NoOfCandidates'];?>
     
       <?php if($linti<3){ ?>
           <td colspan = "4"><?php if($lintreg[$linti])echo $this->translate($lintreg[$linti]['NoOfCandidates']);else echo 0?></td>
       <?php }else{ ?>
             <td colspan = "3"><?php if($lintreg[$linti])echo $this->translate($lintreg[$linti]['NoOfCandidates']);else echo 0?></td>
       <?php }
       
       
        }?>
      
      
      <td><?php if($linttotalreg) echo $linttotalreg;else echo 0;?></td>  
      </tr>
        
      <tr style="background-color:#E6E6FA">
      <td><b><?php echo "Sat";?></b></td>
       <?php $lintsat=$this->lintsat;$linttotalsat=0; for($linti=0;$linti<count($lintsat);$linti++) {$linttotalsat+=$lintsat[$linti];?>
       
       
       <?php if($linti<3){ ?>
           <td colspan = "4"><?php if($lintsat[$linti])echo $this->translate($lintsat[$linti]);else echo 0?></td>
       <?php }else{ ?>
             <td colspan = "3"><?php if($lintsat[$linti])echo $this->translate($lintsat[$linti]);else echo 0?></td>
       <?php }}?>
       
      
      <td ><?php if($linttotalsat) echo $linttotalsat;else echo 0;?></td>
      </tr>
      
      <tr style="background-color:#ADFF2F">
      <td><b><?php echo "Pass";?></b></td>
      <?php $lintpass=$this->lintpass;$linttotalpass=0; for($linti=0;$linti<count($lintpass);$linti++) {$linttotalpass+=$lintpass[$linti];?>
        <?php if($linti<3){ ?>
           <td colspan = "4"><?php if($lintpass[$linti])echo $this->translate($lintpass[$linti]);else echo 0?></td>
       <?php }else{ ?>
             <td colspan = "3"><?php if($lintpass[$linti])echo $this->translate($lintpass[$linti]);else echo 0?></td>
       <?php }}?>
      <td ><?php if($linttotalpass) echo $linttotalpass;else echo 0;?></td>  
      </tr>
      
      <tr style="background-color:#FF6347">
      <td><b><?php echo "Fail";?></b></td>
       <?php $lintfail=$this->lintfail;$linttotalfail=0; for($linti=0;$linti<count($lintfail);$linti++) {$linttotalfail+=$lintfail[$linti]; ?>
       
        <?php if($linti<3){ ?>
           <td colspan = "4"><?php if($lintfail[$linti])echo $this->translate($lintfail[$linti]);else echo 0?></td>
       <?php }else{ ?>
             <td colspan = "3"><?php if($lintfail[$linti])echo $this->translate($lintfail[$linti]);else echo 0?></td>
       <?php }}?>
       
      <td><?php if($linttotalfail) echo $linttotalfail;else echo 0;?></td>
      </tr>
        <tr style="background-color:#BDB76B">
      <td><b><?php echo "Absent";?></b></td>
       <?php $lintabsent=$this->lintabsent;$linttotalabsent=0; for($linti=0;$linti<count($lintabsent);$linti++) {$linttotalabsent+=$lintabsent[$linti];?>
       <?php if($linti<3){ ?>
           <td colspan = "4"><?php if($lintabsent[$linti])echo $this->translate($lintabsent[$linti]);else echo 0?></td>
       <?php }else{ ?>
             <td colspan = "3"><?php if($lintabsent[$linti])echo $this->translate($lintabsent[$linti]);else echo 0?></td>
       <?php }}?>
      <td><?php if($linttotalabsent) echo $linttotalabsent;else echo 0;?></td>  
      </tr>
</table>
 </fieldset>
 <?php endif; ?>
      <br>
 <?php if($this->lintracetype): ?>
 <fieldset>
 <?php  $racename =  $this->racenames; $racenames =  $this->racename;?>
  <table class="table" width="100%" cellpadding="5" cellspacing="1">
     <tr><td colspan = 23 align= "center"><b><?php echo $this->translate("Race")." ".$this->translate("Wise")." ".$this->translate("Statistics");?></b></td></tr>
     <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
        <th  width="10px"><b><?php echo $this->translate(" ");?></b></th>
        <th align ="center" colspan = "21" ><b><?php echo $this->translate("$this->monthname").' '.$this->translate("$this->year");?></b></th>
        <th width="10px"></th>
     </tr>
     <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>"> 
        <th><b><?php echo $this->translate("Race")?></b></th>
		<?php for($lvars=0;$lvars<count($racename);$lvars++){?>
		<?php if($racename[$lvars]['idDefinition']==172 ){?>
		<th colspan = "6"><?php echo $racename[$lvars]['RaceName'];?></th>
		<?php } else {?>
		<th colspan = "5"><?php echo $racename[$lvars]['RaceName'];?></th>
		<?php }?>
		<?php }?>
        <th ><?php echo $this->translate("Total")?></th>
     </tr>
     <tr style="background-color:#EEDD82"> 
        <td><b><?php echo $this->translate("Registered")?></b></td>
		<?php $TotalNoOfCandidates =0;for($lvars=0;$lvars<count($racename);$lvars++){?>
		<?php if($racename[$lvars]['idDefinition']==172 ){?>
		<td colspan = "6"><?php if($racenames[$lvars]['NoOfCandidates']) echo $racenames[$lvars]['NoOfCandidates'];else echo 0; $TotalNoOfCandidates = $TotalNoOfCandidates+ $racenames[$lvars]['NoOfCandidates']; ?></td>
		<?php } else {?>
		<td colspan = "5"><?php if($racenames[$lvars]['NoOfCandidates']) echo $racenames[$lvars]['NoOfCandidates'];else echo 0; $TotalNoOfCandidates = $TotalNoOfCandidates+ $racenames[$lvars]['NoOfCandidates']; ?></td>
		<?php }?>
		<?php }?>
        <td><?php echo $TotalNoOfCandidates?></td>
     </tr>
     <tr style="background-color:#E6E6FA"> 
        <td><b><?php echo $this->translate("Sat")?></b></td>
		<?php for($lvars=0;$lvars<count($racename);$lvars++){?>
		<?php if($racename[$lvars]['idDefinition']==172 ){?>
		<td colspan = "6"><?php echo $this->racesat[$lvars];?></td>
		<?php } else {?>
		<td colspan = "5"><?php echo $this->racesat[$lvars];?></td>
		<?php }?>
		<?php }?>
        <td><?php echo array_sum($this->racesat);?></td>
     </tr> 
     <tr style="background-color:#ADFF2F"> 
        <td><b><?php echo $this->translate("Pass")?></b></td>
		<?php for($lvars=0;$lvars<count($racename);$lvars++){?>
		<?php if($racename[$lvars]['idDefinition']==172 ){?>
		<td colspan = "6"><?php echo $this->racepass[$lvars];?></td>
		<?php } else {?>
		<td colspan = "5"><?php echo $this->racepass[$lvars];?></td>
		<?php }?>
		
		
		
		
		<?php }?>
        <td><?php echo array_sum($this->racepass);?></td>
     </tr> 
     <tr style="background-color:#FF6347"> 
        <td><b><?php echo $this->translate("Fail")?></b></td>
		<?php for($lvars=0;$lvars<count($racename);$lvars++){?>
		<?php if($racename[$lvars]['idDefinition']==172 ){?>
		<td colspan = "6"><?php echo $this->racefail[$lvars]; ?></td>
		<?php } else {?>
		<td colspan = "5"><?php echo $this->racefail[$lvars]; ?></td>
		<?php }?>
		<?php }?>
        <td><?php echo array_sum($this->racefail);?></td>
     </tr> 
     <tr style="background-color:#BDB76B"> 
        <td><b><?php echo $this->translate("Absent")?></b></td>
		<?php for($lvars=0;$lvars<count($racename);$lvars++){?>
		
		<?php if($racename[$lvars]['idDefinition']==172 ){?>
		<td colspan = "6"><?php echo $this->raceabsent[$lvars];?></td>
		<?php } else {?>
		<td colspan = "5"><?php echo $this->raceabsent[$lvars];?></td>
		<?php }?>
		<?php }?>
        <td><?php echo array_sum($this->raceabsent);?></td>
     </tr> 
      </table>
 </fieldset>
 <?php endif; ?>
 <br>
      <?php if($this->lintresulttype): ?>
      <fieldset>
        <table class="table" width="100%" cellpadding="5" cellspacing="1">
        <tr><td colspan = 23 align= "center"><b><?php echo $this->translate("Result")." ".$this->translate("Wise")." ".$this->translate("Statistics");?></b></td></tr>
	<tr>
		<th  width="10px"><?php echo $this->translate(" ");?></th>
		<th align="center" colspan="21"><b><?php echo $this->translate("$this->monthname").' '.$this->translate("$this->year");?></b></th>
	    
	</tr>
	<tr>
		<th align="center"><b><?php echo $this->translate("ExamResult")?></b></th>
		<th align="center" colspan=3><b><?php echo $this->translate("Pass/Grade")?></b></th>
		<th align="center" colspan=1><b><?php echo $this->translate("Fail")?></b></th>
		<th align="center"><b><?php echo $this->translate("Absent")?></b></th>
		<th   width="10px" align="center"><b><?php echo $this->translate("Total")?></b></th>
	</tr>
	<tr>
		<th align="center"><b></b></th>
		<th align="center"><b><?php echo $this->translate("A")?></b></th>
		<th align="center"><b><?php echo $this->translate("B")?></b></th>
		<th align="center"><b><?php echo $this->translate("C")?></b></th>
		<th align="center"><b><?php echo $this->translate("")?></b></th>
		<th align="center"><b><?php echo $this->translate("")?></b></th>
		<th align="center"><b><?php echo $this->translate("")?></b></th>
	</tr>
	<?php  $programnamerace =  $this->programs;?>
	<?php for($lvars=0;$lvars<count($programnamerace);$lvars++){?>
	<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
		<td><b><?php echo $programnamerace[$lvars]['ProgramName'];?></b></td>
		<td><?php echo $this->gradeA[$lvars];?></td>
		<td><?php echo $this->gradeB[$lvars];?></td>
		<td><?php echo $this->gradeC[$lvars];?></td>
		<td><?php echo $this->resultfail[$lvars];?></td>
		<td><?php echo $this->resultabsent[$lvars];?></td>
		<td><?php if($this->regdetails[$lvars]['NoOfCandidates'])echo $this->regdetails[$lvars]['NoOfCandidates']; else echo 0;?></td>
		<?php }?>
	</tr>
</table>
</fieldset>
<?php endif; ?>
<br>
 	<table class="table" width="100%" cellpadding="5" cellspacing="1">
      <tr><input type="hidden" name="lmonth" id="lmonth" value="<?php echo $this->month;?>">
      <input type="hidden" name="lyear" id="lyear" value="<?php echo $this->year;?>">
       <input type="hidden" name="linttype" id="linttype" value="<?php echo $this->linttype;?>">
	  <td colspan="12" align="right"><?php echo $this->lobjform->ExportToExcel?></td>
      </tr> 
	</table>     
    </form>
</fieldset> 
<?php endif; ?>
</form>
</body>
</html>
