<head>
<script>
dojo.addOnLoad(function(){
	dijit.byId('field3').focus();	
	});

</script>
</head>

<form dojoType="dijit.form.Form"  id="initconfigForm" name="form1" method="post" action="<?php echo $this->baseUrl();?>/finance/fpxtakafulpayment/index/search/1">
<fieldset>
<legend><?php echo $this->translate->_("Manual Fpx Takaful Payment");?></legend>
	    	<table    width="100%">	    		
      			<tr>
      			
         			<td class="label"><?php echo $this->translate->_("Takaful Name")?></td>
        			<td><?php echo $this->lobjform->field3?></td>	
        			<td class="label"><?php //echo $this->translate->_("ICNO")?></td>
        			<td><?php //echo $this->lobjform->field4?></td>	        			  	       	
      			</tr>
      				   
		      	  <tr>
	               <td align = "center" colspan = "4">
						<?php echo $this->lobjform->Search;?>
						<?php echo $this->lobjform->Clear;?>
				   </td>
				   </tr>      	
	        </table>		

</fieldset>
</form>
<br>
<?php  if (count($this->countcomp)):  $cnnt = 0; ?> 
<fieldset>
<script>
  
  	function checkAll(){
  	 	nodes = dojo.query('[name=\"IDApplication[]\"]');
  	 	if(document.getElementById('IDAppl').checked == true) {		 
  	 		
  	 		dojo.forEach(nodes,
  	 		    function(node)
  	 		    {
  	 		        dijit.getEnclosingWidget(node).set("checked",true);
  	 		    }
  	 		);
  	 	}
  	 	else {	
  	 		dojo.forEach(nodes,
  	 			    function(node)
  	 			    {
  	 			        dijit.getEnclosingWidget(node).set("checked",false);
  	 			    }
  	 			);
  	 	}
  	 }
  	function validateform(){
 		 var n = document.getElementById("numofrows").value;		 
 		 flgs = 0;	 
 		 for(i=1;i<=n;i++){ 			
 			if(document.getElementById("IDApplication"+i).checked) 
 				flgs	=	1; 			
 		 }		
 		 if( flgs == 0){
 		    alert('Please Select Atleast One Takaful');		
 		     return false;
 		 }
 		 else{
 		   return true;
 		 }
 	} 
  	</script>
  	
 <form method="post" action="">
  	<table class="table"  cellpadding="5" width="100%" cellspacing="1">
    		<tr>
    			<th ><?php echo $this->translate->_("Select All");?>
    			
    			
             <input type="checkbox" dojoType="dijit.form.CheckBox" name="IDAppl"  onClick="checkAll();" id="IDAppl">
          		<?php  echo $lobjcategory['FName'];?>
    			
    			</th>
    		    <th ><?php echo $this->translate->_("Takaful Name");?></th>
				<th ><?php echo $this->translate->_("No Of Candidates"); ?></th>	
				<th ><?php echo $this->translate->_("Transaction Amount");?></th>
				<th ><?php echo $this->translate->_("Payer Id"); ?></th>
				<th ><?php echo $this->translate->_("Settlement Date"); ?></th>				
				<th ><?php echo $this->translate->_("Transaction Date"); ?></th>
				<th ><?php echo $this->translate->_("Seller Order Number");?></th>			
				<th ><?php echo $this->translate->_("Transaction Id"); ?></th>				
				<th ><?php echo $this->translate->_("Buyer Bank"); ?></th>				
				<th ><?php echo $this->translate->_("Buyer Bank Acc"); ?></th>					
				<th ><?php echo $this->translate->_("Debit Auth Number");?></th>				
				
										
    		</tr>
    	
    	   	
    	<tbody>       	            
            <?php   foreach ($this->countcomp as $lobjcategory ): ?>
            <?php 
             $fpxesult  = $lobjcategory['mesgFromFpx'];
             $fpxesultArray = json_decode(json_encode((array) simplexml_load_string($fpxesult)),1);
           
             
             if($fpxesultArray['ORDER_LIST']['DEBIT_AUTH_CODE'] == '00' && $fpxesultArray['ORDER_LIST']['CREDIT_AUTH_CODE'] == '00'){
             	
             	 $cnnt++;
             ?>
           
            <tr>  
            
             <td > 
             <input type="checkbox" dojoType="dijit.form.CheckBox" name="IDApplication[]" value="<?php echo $this->escape($lobjcategory['IDApplication']);?>" id="IDApplication<?php echo $cnnt;?>"></td>
          		   <td > <?php  echo $lobjcategory['TakafulName'];?><input type="hidden" name="idtakafuloperator[<?php echo $lobjcategory['IDApplication'];?>]" id="payment5<?php echo $cnnt;?>" value="<?php echo $lobjcategory['idtakafuloperator'];?>"></td>
          		<td ><?php  echo $lobjcategory['totalNoofCandidates'];?></td>  
          		<?php  echo  $this->lobjpaymentForm->UpdDate;?>
          		<?php  echo  $this->lobjpaymentForm->UpdUser;?>
          		<td  id="text1<?php echo $cnnt;?>"><input type="hidden"  dojotype="dijit.form.TextBox" id="payment001<?php echo $cnnt;?>" name="totalAmount[<?php echo $lobjcategory['IDApplication'];?>]"  value="<?php echo $lobjcategory['totalAmount'];?>"  />  <?php echo $lobjcategory['totalAmount'];?></td>  
          		<td id="text2<?php echo $cnnt;?>" ><input type="hidden"  dojotype="dijit.form.TextBox"  id="payment002<?php echo $cnnt;?>" name="Email[<?php echo $lobjcategory['IDApplication'];?>]" value="<?php echo $lobjcategory['email'];?>"/>  <?php echo $lobjcategory['email'];?></td> 

          		<td id="text5<?php echo $cnnt;?>" ><input type="hidden"  constraints="{datePattern:'dd-MM-yyyy'}" id="payment005<?php echo $cnnt;?>" name="SettlementDate[<?php echo $lobjcategory['IDApplication'];?>]" value="<?php echo $lobjcategory['TransactionDate'];?>" /><?php echo date("d-m-Y", strtotime($lobjcategory['TransactionDate'])) ;  ?></td>        		  		
     		    <td id="text6<?php echo $cnnt;?>" ><input type="hidden"  constraints="{datePattern:'dd-MM-yyyy'}" id="payment006<?php echo $cnnt;?>" name="TransactionDate[<?php echo $lobjcategory['IDApplication'];?>]" value="<?php echo $lobjcategory['TransactionDate'];?>" />  <?php echo date("d-m-Y", strtotime($lobjcategory['TransactionDate'])) ;?></td>        		  		    		    
                <td id="text7<?php echo $cnnt;?>" ><input type="hidden" dojotype="dijit.form.TextBox" id="payment007<?php echo $cnnt;?>" name="TxnOrderNo[<?php echo $lobjcategory['IDApplication'];?>]" value="<?php echo $lobjcategory['TxnOrderNo'];?>" />  <?php echo $lobjcategory['TxnOrderNo'];?></td> 
     		    
     		   
          		<td id="text4<?php echo $cnnt;?>" ><input type="hidden"  dojotype="dijit.form.TextBox" id="payment004<?php echo $cnnt;?>" name="FPXTXNID[<?php echo $lobjcategory['IDApplication'];?>]"  value="<?php echo $fpxesultArray['FPX_TXN_ID'];?>"/>  <?php echo $fpxesultArray['FPX_TXN_ID'];?><input type="hidden"  dojotype="dijit.form.TextBox" id="payment003<?php echo $cnnt;?>" name="payment3[<?php echo $lobjcategory['IDApplication'];?>]"  value="<?php echo $fpxesultArray['TxnOrderNo'];?>"/> </td>  
          		
          		<td id="text8<?php echo $cnnt;?>"><input type="hidden" dojotype="dijit.form.TextBox" id="payment008<?php echo $cnnt;?>" name="BUYERBANK[<?php echo $lobjcategory['IDApplication'];?>]"  value="<?php echo $fpxesultArray['ORDER_LIST']['BUYER']['BUYER_BANK'];?>"/>  <?php echo $fpxesultArray['ORDER_LIST']['BUYER']['BUYER_BANK'];?></td>  
          		 <td id="text9<?php echo $cnnt;?>"><input type="hidden" dojotype="dijit.form.TextBox" id="payment009<?php echo $cnnt;?>" name="BUYERBANKBRANCH[<?php echo $lobjcategory['IDApplication'];?>]"  value="<?php echo $fpxesultArray['ORDER_LIST']['BUYER']['BUYER_BANK_BRANCH'];?>"/>  <?php echo $fpxesultArray['ORDER_LIST']['BUYER']['BUYER_BANK_BRANCH'];?></td> 
          		 <td id="text11<?php echo $cnnt;?>"><input type="hidden"  dojotype="dijit.form.TextBox" id="payment010<?php echo $cnnt;?>" name="DEBITAUTHCODE[<?php echo $lobjcategory['IDApplication'];?>]" value="<?php echo $fpxesultArray['ORDER_LIST']['DEBIT_AUTH_CODE'];?>" /><input type="hidden" dojotype="dijit.form.TextBox" id="payment011<?php echo $cnnt;?>" name="DEBITAUTHNO[<?php echo $lobjcategory['IDApplication'];?>]"  value="<?php echo $fpxesultArray['ORDER_LIST']['DEBIT_AUTH_NO'];?>"/> <?php echo $fpxesultArray['ORDER_LIST']['DEBIT_AUTH_NO'];?>
          		 		<input type="hidden"  dojotype="dijit.form.TextBox" id="payment012<?php echo $cnnt;?>" name="CREDITAUTHCODE[<?php echo $lobjcategory['IDApplication'];?>]" value="<?php echo $fpxesultArray['ORDER_LIST']['CREDIT_AUTH_CODE'];?>" /><input type="hidden" dojotype="dijit.form.TextBox" id="payment013<?php echo $cnnt;?>" name="CREDITAUTHNO[<?php echo $lobjcategory['IDApplication'];?>]"  value="<?php echo  $fpxesultArray['ORDER_LIST']['CREDIT_AUTH_NO'];?>"/> 
          		  </td> 
          		
     		    </tr>
     		<?php }  endforeach; ?>
     		 
     	</tbody>		
     		<td colspan="16" align="right">  <input type="hidden" name="numofrows" id= "numofrows" value="<?php echo $cnnt;?>">
				  <?php  echo  $this->lobjpaymentForm->Confirm;?>
				  </td>
      </table>
    </form>
  </fieldset>   
  <?php  endif; ?>
</html>