<head>
<Script type="text/javascript">
dojo.addOnLoad(function(){
		});
function fncheckvalue()
{
	var fmarks = dijit.byId('Marksfrom').value;
	fmarks = parseInt(fmarks);
	var tmarks = dijit.byId('Marksto').value;
	tmarks = parseInt(tmarks);
	if(tmarks<fmarks)
		{
		 alert ("Questions To field cannnot be less than From Questions.Select the Correct range ");
		 dijit.byId('Marksfrom').set('value',1);
		 dijit.byId('Marksto').set('value',1);
	    }
}
</script>
<style>
#widget_Marksfrom{
width: 6em;
}
#widget_Marksto{
width: 6em;
}
</style>	
</head>
<body class='claro'>
<fieldset>
	<legend><?php echo $this->translate("ExamQuestions").' '.$this->translate("Report");?></legend>
	<div class="search" style="margin-left:20px;">
 		<form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/reports/examquestionsreport" method="POST" > 
 		  <script type="dojo/method" event="onSubmit">
             if (this.validate()){
					var fmarks = dijit.byId('Marksfrom').value;
					fmarks=parseInt(fmarks);
					var tmarks = dijit.byId('Marksto').value;
					tmarks=parseInt(tmarks);
					if(tmarks<fmarks)
					{
					 alert ("Questions To field cannnot be less than From Questions.Select the Correct range");
		 			 dijit.byId('Marksfrom').set('value',1);
		 			 dijit.byId('Marksto').set('value',1);
                     return false;
	    			}
					return true;
                } else {
                   return false;
               }
			</script>
		<table width="100%">
				<tr>
                    <td><?php echo $this->translate("Questions From")?></td>
                    <td><?php echo $this->lobjform->Marksfrom;?></td>
                    <td><?php echo $this->translate("Questions To")?></td>
                    <td><?php echo $this->lobjform->Marksto;?></td>
                </tr>
                <tr>
                 <td></td>  
                 <td></td>             
                 <td >
                     <?php echo $this->lobjform->Search;?>
					<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Clear"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'reports','controller'=>'examquestionsreport','action'=>'index'),'default',true);?>';" />
				</td>
               </tr>
		</table>
	</form>	
		</div>
	</fieldset> 
<br>
</body>
</html>
