<head>
<script language="JavaScript" type="text/javascript">
  dojo.require("dojox.layout.ScrollPane");
</script>
<link href="<?php echo $this->baseUrl();?>/js/dojo/dojox/layout/resources/ScrollPane.css" type="text/css" rel="stylesheet"></link>
<script language="JavaScript" type="text/javascript">
function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}
function fnsetdate(t){
	sa=dijit.byId('candidateicno'+t).value;
	if(sa=='')
	{
	yes='<?php echo $this->yesdate;?>';
	cnu='<?php echo ($this->total);?>';

		dijit.byId('candidatedateofbirth'+t).set('value',yes);
	}
		}


function fngetschedulerdetails(idbatch,no)
{
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/batchcandidates/fngetschedulerdetails/idbatch/"+idbatch,
			handleAs:'json',
			load:function(data){ 
				//alert(data);
				AutoFillNextEditableDropDown("candidatescheduler"+no,data); 
			}
	   }
	dojo.xhrGet(xhrArgs);
}
function fngetvenuedetails(idscheduler,no)
{
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/batchcandidates/fngetvenue/idscheduler/"+idscheduler,
			handleAs:'json',
			load:function(data){ 
				//alert(data);
				AutoFillNextEditableDropDown("candidatevenue"+no,data); 
			}
	   }
	dojo.xhrGet(xhrArgs);
}
function fngetvenueDate(idvenue,no)
{
	
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/batchcandidates/fngetvenuetime/idvenue/"+idvenue,
			handleAs:'json',
			load:function(data){ 
				//alert(data);
				AutoFillNextEditableDropDown("candidatedate"+no,data); 
			}
	   }
	dojo.xhrGet(xhrArgs);
}

function fngettime(date,no)
{
	
	var idvenue = (dijit.byId("candidatevenue"+no));

	//alert(date);
	//alert(idvenue);
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/batchcandidates/fngetdatetime/date/"+date+"/idvenue/"+idvenue,
			handleAs:'json',
			load:function(data){ 
				//alert(data);
				AutoFillNextEditableDropDown("candidatetime"+no,data); 
			}
	   }
	dojo.xhrGet(xhrArgs);
	
}

function Closefn()
{
	 
   	  window.location = "<?php echo $this->baseUrl();?>/companyapplication/index";
        
}

function takafulss()
{
	var candidatetakafulval = document.getElementById('candidatetakaful0').value;
	//alert(candidatetakafulval);
	if(candidatetakafulval == 'Select')
	{
		document.getElementById('takaful').checked =false;
		alert('Please Select the First Takaful Operator');
		
	}
	else
	{
		if((document.getElementById('takaful').checked)==true)
		{
			takafulid = document.getElementById('candidatehiddentakaful0').value;
				var total = <?php echo $this->total;?>;
				for(i=1;i<total;i++)
				{
					document.getElementById('candidatehiddentakaful'+i).value = takafulid;
					document.getElementById('candidatetakaful'+i).value = candidatetakafulval;
				}
		}		
	}
	
}

function fnhiddentakaful(takafulid,no)
{
	
	//alert(takafulid);
	//alert(no);
	document.getElementById('candidatehiddentakaful'+no).value = takafulid;
	if(no==0)
	{
			if((document.getElementById('takaful').checked)==true)
			{
					var total = <?php echo $this->total;?>;
					for(i=1;i<total;i++)
					{
						document.getElementById('candidatehiddentakaful'+i).value = takafulid;
						
					}
			}
	}
	else
	{
		//alert('asdfsdaf');
		document.getElementById('candidatehiddentakaful'+no).value = takafulid;
	}	
}


//////////////////////////////////////////

function fngetstatedetails(idprog,no)
{	
 if(idprog>0)
 {
	 var xhrArgs1 = {
				url: "<?php echo $this->baseUrl();?>"+"/registration/fngetprerequesition/idprog/"+idprog,
				handleAs:'text',
				load:function(data){ 
					if(data == '')
					{
					}
					else
					{
					//alert(data);
					}
				}
		   }
		dojo.xhrGet(xhrArgs1);

		
	
	
	var xhrArgs1 = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetyear/idprog/"+idprog,
			handleAs:'json',
			load:function(data){ 
				//alert(data);
				AutoFillNextEditableDropDown("Year"+no,data); 
			}
	   }
	dojo.xhrGet(xhrArgs1);

	var xhrArgs2 = {
			url: "<?php echo $this->baseUrl();?>"+"/batchcandidates/fngetactiveset/idprog/"+idprog,
			handleAs:'text',
			load:function(data){ 
				//alert(data);
				document.getElementById('activeset'+no).value = data;
			}
	   }
	dojo.xhrGet(xhrArgs2);

 }
}
 function fnGetCitylist(idstate,no)
 {
		//alert(idstate);
		var Program = dijit.byId("candidateprog"+no);
         var year = dijit.byId("Year"+no).value;
	 	var xhrArgs = {
	 			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetcitynames/idstate/"+idstate+"/Program/"+Program+"/idsecheduler/"+year,
	 			handleAs:'json',
	 			load:function(data){ 
	 			//alert(data);
	 				AutoFillNextEditableDropDown("NewCity"+no,data); 
	 			}
	 	   }
	 	dojo.xhrGet(xhrArgs);
 }

 
 function fnGetMonth(idyear,no)
 {
		//alert(idyear);
		var Program = dijit.byId("candidateprog"+no);
		//alert(Program);
		var xhrArgs = {
	 			url: "<?php echo $this->baseUrl();?>"+"/batchcandidates/fngetmonthslist/idyear/"+idyear+"/Program/"+Program,
	 			handleAs:'json',
	 			load:function(data){ 
	 			//alert(data);
	 				AutoFillNextEditableDropDown("NewMonth"+no,data); 
	 			}
	 	   }
	 	dojo.xhrGet(xhrArgs);

		var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/batchcandidates/fngetstatename/idyear/"+idyear+"/Program/"+Program,
				handleAs:'json',
				load:function(data){ 
					//alert(data);
					AutoFillNextEditableDropDown("NewState"+no,data); 
					 
				}
		   }
		dojo.xhrGet(xhrArgs);
 }

 function fnGetDays(idmonth,no)
 {
	 //alert(idmonth);
	 dijit.byId("Examdate"+no).setValue('');
		var Year = dijit.byId("Year"+no);
		var Program = dijit.byId("candidateprog"+no);
		//alert(Year);
		var xhrArgs = {
	 			url: "<?php echo $this->baseUrl();?>"+"/batchcandidates/caleshow/idmonth/"+idmonth+"/Year/"+Year+"/Program/"+Program+"/no/"+no,
	 			handleAs:'text',
	 			load:function(data){ 
	 			//alert(data);
	 			document.getElementById('calender').innerHTML = data; 
	 			}
	 	   }
	 	dojo.xhrGet(xhrArgs);
 }
 function funct(day,month,number)
 {
 	//alert(day);
 //	alert(month);

	 var city = 34;//
		//var state = dijit.byId("NewState");
		var flagssss=0;
		var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/registration/schedulerexception/day/"+day+"/month/"+month+"/city/"+city,
				handleAs:'text',
				load:function(data){
					 if(data == '')
					 {
						 x=day+""+month;
						 	//alert(x);

						 	//var selectedmonth=dijit.byId('NewMonth'+number).value;
						 	//var selectedyear= dojo.byId('Year'+number).value;  
						 	
						 	var selecteddate = day;
						 	//alert(Examdate);
						 	

						 	dijit.byId('Examdate'+number).setValue(selecteddate);
						 	dijit.byId('NewCity'+number).set('value','');
							dijit.byId('NewCity'+number).set('placeHolder','Select City');
						 	for(i=1;i<=31;i++)
						 	{
						 	 	z = i+""+month;
						 	 	//alert('forloop');
						 	 	//alert(z);
						 	 	if(document.getElementById(z))
						 	 	document.getElementById(z).style.backgroundColor = '#FEFFBF';
						 	}
						 	document.getElementById('setdate').value = day;
						 	document.getElementById('setmonth').value = month;
						 	document.getElementById(x).style.backgroundColor = '#ff0000';
						 	//document.getElementById(165).style.backgroundColor = '#8DB87C';
					 }
					 else
					 {
						 alert(data);
					 }
				}
		}
		dojo.xhrGet(xhrArgs);
 	

 }

 function functold(day,month,number)
 {
 	//alert(day);
 //	alert(month);
 	
 	x=day+""+month;
 	//alert(x);

 	//var selectedmonth=dijit.byId('NewMonth'+number).value;
 	//var selectedyear= dojo.byId('Year'+number).value;  
 	
 	var selecteddate = day;
 	//alert(Examdate);
 	

 	dijit.byId('Examdate'+number).setValue(selecteddate);
 	dijit.byId('NewCity'+number).set('value','');
	dijit.byId('NewCity'+number).set('placeHolder','Select City');
 	for(i=1;i<=31;i++)
 	{
 	 	z = i+""+month;
 	 	//alert('forloop');
 	 	//alert(z);
 	 	if(document.getElementById(z))
 	 	document.getElementById(z).style.backgroundColor = '#FEFFBF';
 	}
 	document.getElementById('setdate').value = day;
 	document.getElementById('setmonth').value = month;
 	document.getElementById(x).style.backgroundColor = '#ff0000';
 	//document.getElementById(165).style.backgroundColor = '#8DB87C';

 }

function fngeticno(icno,no)
{
	
	var stricna=new String(icno);	
	var the_char=stricna.charAt(0);
	var year=stricna.charAt(0) + stricna.charAt(1);
	if((year>=30) &&(year<=99))
	{
		year=19+year;
		
	}
	else
	{
		year=20+year;
		
	}
	
	var month=stricna.charAt(2)+stricna.charAt(3);
	var date1=stricna.charAt(4)+stricna.charAt(5);
	var dob=year+'-'+month+'-'+date1;
	dijit.byId('candidatedateofbirth'+no).set('value',dob);

	var Program = dijit.byId("candidateprog"+no);
	var xhrArgs = {
 			url: "<?php echo $this->baseUrl();?>"+"/batchcandidates/fngetstudentconfirm/icno/"+icno+"/Program/"+Program,
 			handleAs:'text',
 			load:function(data){ 
 				content = data.split("***");
				//alert(content[0]);
				if(content[0]==1)
				{
				alert(content[1]);
				dijit.byId('candidateicno'+no).set('value','');
				//flag=1;
				}
		
 			}
 	   }
 	dojo.xhrGet(xhrArgs);
	
}
 /*function fnGetVenuename(idcity,no)
 {
	

		
	 //alert(idcity);
		var Year = dijit.byId("Year"+no);
		var Program = dijit.byId("candidateprog"+no);
		//alert(Year);
		var xhrArgs = {
	 			url: "<?php echo $this->baseUrl();?>"+"/batchcandidates/fngetvenuedetails/Year/"+Year+"/Program/"+Program+"/idcity/"+idcity,
	 			handleAs:'json',
	 			load:function(data){ 
	 			//alert(data);
	 				AutoFillNextEditableDropDown("NewVenue"+no,data);
	 			}
	 	   }
	 	dojo.xhrGet(xhrArgs);
 }*/

 function fnGetVenuename(idcity,no)
 {
	 var day = dijit.byId("Examdate"+no).value;
	 var month = dijit.byId("NewMonth"+no);
	 var year = dijit.byId("Year"+no);
	
if(idcity!='')
{

var xhrArgs1 = {
		url: "<?php echo $this->baseUrl();?>"+"/batchcandidates/tempdays/day/"+day+"/month/"+month+"/year/"+year+"/city/"+idcity,
		handleAs:'text',
		load:function(data){ 
			//document.getElementById(data).style.backgroundColor = '#FFFFFF';
			if(data==1)
			{
				fnGetVenuenames(idcity,no);
			}
			else
			{
				alert("The Seats are full for this date In this City ,Please Change Date Or City");
				fnGetVenuenames2(8888,no);
			}
		}
   }
dojo.xhrGet(xhrArgs1);
 }
 }

 function fnGetVenuenames(idcity,no)
 {

	  var Year = dijit.byId("Year"+no);
		var Program = dijit.byId("candidateprog"+no);

		 var idcity = dijit.byId("NewCity"+no);
		 var day = dijit.byId("Examdate"+no).value;
		 var month = dijit.byId("NewMonth"+no);
		
		var xhrArgs = {
	 			url: "<?php echo $this->baseUrl();?>"+"/batchcandidates/fngetvenuedetails/Year/"+Year+"/Program/"+Program+"/idcity/"+idcity,
	 			handleAs:'json',
	 			load:function(data){ 
	 			//alert(data);
	 				AutoFillNextEditableDropDown("NewVenue"+no,data);
	 			}
	 	   }
	 	dojo.xhrGet(xhrArgs);




 
}


 function fnGetVenuenames2(idcity,no)
 {

	  var Year = dijit.byId("Year"+no);
		var Program = dijit.byId("candidateprog"+no);

		 var idcity = dijit.byId("NewCity"+no);
		 var day = dijit.byId("Examdate"+no).value;
		 var month = dijit.byId("NewMonth"+no);
		
		var xhrArgs = {
	 			url: "<?php echo $this->baseUrl();?>"+"/batchcandidates/fngetvenuedetails/Year/"+Year+"/Program/"+Program+"/idcity/"+888899,
	 			handleAs:'json',
	 			load:function(data){ 
	 			//alert(data);
	 				AutoFillNextEditableDropDown("NewVenue"+no,data);
	 			}
	 	   }
	 	dojo.xhrGet(xhrArgs);
 
}
 function fnGetVenuesessionname(idcity,no)
 {

	 var Year = dijit.byId("Year"+no);
		var Program = dijit.byId("candidateprog"+no);
		 var idcity = dijit.byId("NewCity"+no);
		 var venue = dijit.byId("NewVenue"+no);

		 var day = dijit.byId("Examdate"+no).value;
		 var month = dijit.byId("NewMonth"+no);
		
		var xhrArgs = {
	 			url: "<?php echo $this->baseUrl();?>"+"/batchcandidates/fngetvenuesessiondetails/Year/"+Year+"/Program/"+Program+"/idcity/"+idcity+"/venue/"+venue+"/day/"+day+"/month/"+month,
	 			handleAs:'json',
	 			load:function(data){ 
	 			if(data=='')
	 			{
		 			alert("This Venue is Filled Plz change The Venue");
		 			dijit.byId("Rem"+no).setValue('');
	 			}
	 					
	 				AutoFillNextEditableDropDown("Newsession"+no,data);
	 			
		 			}
	 	   }
	 	dojo.xhrGet(xhrArgs);
	 
 }

 function duplicateemail(email,no)
	{
		var Program = dijit.byId("candidateprog"+no);
		var xhrArgs = {
	 			url: "<?php echo $this->baseUrl();?>"+"/batchcandidates/fngetemaildetails/Year/"+email+"/Program/"+Program,
	 			handleAs:'text',
	 			load:function(data){ 
	 				if(data == '')
					{
					}
					else
					{
					//alert(data);
					//document.getElementById("candidateemail"+no).value="";
					//dijit.byId("candidateemail"+no).focus();
					}
			
	 			}
	 	   }
	 	dojo.xhrGet(xhrArgs);
			
				
	}	

 var  aray= new Array();
 var ay5=new Array();
 var hg=2000;
 var ut=0;
 var fda=0;
 var ut2=0;
 var kg=0;
 var ibm=0;
 //var  aray4= new Array();
 function  fnvalidateremainingseats(sessionids,no)
 {  
	 if(sessionids!='')
	 {
	 flag=1;
	 var gf=0;
	 var sa3=0;
	 var xy=888;
	
	 da='<?php echo $this->total;?>';
	 da=parseInt(da);
	 //alert(da);
	 if(no>0)
	 {
		kg=0;		 
rem=document.getElementById("Rem"+no).value;//dijit.byId("Rem"+no).value;
rem=parseInt(rem);

	
for(i=0;i<no;i++)
{
year=dojo.byId('Year'+i).value;
year=parseInt(year);
month=dijit.byId("NewMonth"+i);
month=parseInt(month);
date=dijit.byId("Examdate"+i).value;
date=parseInt(date);
venue=dijit.byId("NewVenue"+i);
venue=parseInt(venue);
sessionname=dijit.byId("Newsession"+i);
sessionname=parseInt(sessionname);

year1=dojo.byId('Year'+no).value;
year1=parseInt(year1);
month1=dijit.byId("NewMonth"+no);
month1=parseInt(month1);
date1=dijit.byId("Examdate"+no).value;
date1=parseInt(date1);
venue1=dijit.byId("NewVenue"+no);
venue1=parseInt(venue1);
remns=document.getElementById("Rem"+no).value;//dijit.byId("Rem"+no).value;
remns=parseInt(remns);
if((year1==year) && (month1==month) && (date1==date) && (venue1==venue) && (sessionids==sessionname) )
{
	//aray4.push(no);
	hg= no;
	document.getElementById("Rems"+no).value=(remns - flag);
	fd=remns - flag;
	kh=remns-1;
if(fd==kh)
{
	kg=1;
}

	flag++;	
	fg=parseInt(flag);
	
//alert(fg);
	//alert(remns);
if(eval(fg>remns))
{
alert("Please change this Session,it Is full already for this date in this venue");
dijit.byId('Newsession'+no).set('value','');
//dijit.byId('Rem'+no).set('value','');
}
}
}


			
}


	
	 for(i=0;i<aray.length;i++)
	 {
		
	 	if(no==aray[i])
	 	{
	 		dupnochange=no;
	 		 gf=1;
	 		 fnvalidatebelow(dupnochange);
	 		 fnvalidateabove(ut2,dupnochange);
			 break;
	 		
	 	}
	 	else
	 	{
	 		
		 	xy=no;
		 	sa3=1;	
		 	
		 	
	 	}
	 	
	 }
		//alert(hg);

	/* if(gf==1)
	 	{
			
		 	//sa=aray4.length-1;
		//alert(hg);
			 //	fa=aray4[sa];
		 if(ut==0)
		 {
		 		//dijit.byId('Newsession'+hg).set('value','');
		 		ut++;
		 }
			 	}*/
	 	
	
	 aray.push(no);
	if((no==0))
	{
		ay5.push(0);	
	}
	if(sa3==1)
	{
		ay5.push(xy);	
		
	}
	//alert("cx");
	// for(i=0;i<ay5.length;i++)
	// {
	//	 alert(ay5[i]);
	// }
	
	// alert(aray[0]);
	//fda=1;
 }
	 }
 
 var fs=0;
 var ins=999;
 var frar=new Array();
 function  fnvalidateabove(ut2,no)
 {
		//alert(ut2);
		//alert(no);

	
		da='<?php echo $this->total;?>';
		da=parseInt(da);

		//alert("xyz");
		
		//alert(no);
		sa=ay5.length-1;
		//alert(ay5[sa]);
if(ay5[sa]!=no)
	{
	//alert("below");
	//alert(ay5[sa]);
for(i=no+1;i<da;i++)
{
year=dojo.byId('Year'+i).value;
year=parseInt(year);
month=dijit.byId("NewMonth"+i);
month=parseInt(month);
date=dijit.byId("Examdate"+i).value;
date=parseInt(date);
venue=dijit.byId("NewVenue"+i);
venue=parseInt(venue);
sessionname=dijit.byId("Newsession"+i);
sessionname=parseInt(sessionname);

year1=dojo.byId('Year'+no).value;
year1=parseInt(year1);
month1=dijit.byId("NewMonth"+no);
month1=parseInt(month1);
date1=dijit.byId("Examdate"+no).value;
date1=parseInt(date1);
venue1=dijit.byId("NewVenue"+no);
venue1=parseInt(venue1);
//sessionids=dijit.byId("Newsession"+no);
//sessionids=parseInt(sessionids);


Rems=document.getElementById("Rems"+i).value;
Rems=parseInt(Rems);

Rems1=document.getElementById("Rems"+no).value;
Rems1=parseInt(Rems1);

ut2=parseInt(ut2);

remns=document.getElementById("Rem"+i).value;//dijit.byId("Rem"+no).value;
remns=parseInt(remns);
if( (year1==year) && (month1==month) && (date1==date) && (venue1==venue) && (ut2==sessionname) )
{
	//alert("c");
	//alert(i);
	//alert(Rems);
	//alert(remns);
	if(Rems!=remns)
	{
		//alert("a");
		//alert(Rems);
		//alert(remns);
		
	if(fs!=1)
	{//alert("d");
		ga= Rems + 1;
		 fs=0;
		 document.getElementById("Rems"+i).value=ga;
	}

	if(fs==1)
	{
		 if(eval(ins<i))
		 {//alert(ins);
		 //alert(i);
		 //alert("b");
	ga= Rems + 1;
	 fs=0;
	 document.getElementById("Rems"+i).value=ga;
		 }
	}
	}

	if(Rems==remns)
	{
		 ins=i;
	var fs=1;	
}
}
 }
	}
if(eval(no>0))
{
	//alert("xyz");
	
//	alert(no);
	//sa=ay5.length-1;
	//alert(ay5[sa]);
	if(ay5[sa]!=no)
	{
		//alert("abc");
		//alert("above");
		//alert(ay5[sa]);
		
	for(i=0;i<no;i++)
	{
	year=dojo.byId('Year'+i).value;
	year=parseInt(year);
	month=dijit.byId("NewMonth"+i);
	month=parseInt(month);
	date=dijit.byId("Examdate"+i).value;
	date=parseInt(date);
	venue=dijit.byId("NewVenue"+i);
	venue=parseInt(venue);
	sessionname=dijit.byId("Newsession"+i);
	sessionname=parseInt(sessionname);

	year1=dojo.byId('Year'+no).value;
	year1=parseInt(year1);
	month1=dijit.byId("NewMonth"+no);
	month1=parseInt(month1);
	date1=dijit.byId("Examdate"+no).value;
	date1=parseInt(date1);
	venue1=dijit.byId("NewVenue"+no);
	venue1=parseInt(venue1);
	//sessionids=dijit.byId("Newsession"+no);
	//sessionids=parseInt(sessionids);


	Rems=document.getElementById("Rems"+i).value;
	Rems=parseInt(Rems);

	Rems1=document.getElementById("Rems"+no).value;
	Rems1=parseInt(Rems1);

	ut2=parseInt(ut2);

	remns=document.getElementById("Rem"+i).value;//dijit.byId("Rem"+no).value;
	remns=parseInt(remns);
	if( (year1==year) && (month1==month) && (date1==date) && (venue1==venue) && (ut2==sessionname) )
	{
		
		//alert("c");
		//alert(i);
		//alert(Rems);
		//alert(remns);
		if(Rems!=remns)
		{
			//alert("a");
			//alert(Rems);
			//alert(remns);
			if(fs!=1)
			{
				//alert("c");
			ga= Rems + 1;
			 fs=0;
			 document.getElementById("Rems"+i).value=(ga);
			}
			if(fs==1)
			{ //alert("v");
				//alert(kg);
				 if(eval(ins>i))
				 {
			ga= Rems + 1;
			 fs=0;
			 document.getElementById("Rems"+i).value=(ga);
				 }
				 if(kg==1)
				 {
					 ga= Rems + 1;
					 fs=0;
					 kg=0;
					 document.getElementById("Rems"+i).value=(ga); 
				 }
					 
			}
		}
		if(Rems==remns)
		{
			 ins=i;
		var fs=1;	
		}

			
	}
	}	
}
}
}



 var flag=1;
 function  fnvalidatebelow(no)
 {
da='<?php echo $this->total;?>';
da=parseInt(da);
for(i=no+1;i<da;i++)
{
year=dojo.byId('Year'+i).value;
year=parseInt(year);
month=dijit.byId("NewMonth"+i);
month=parseInt(month);
date=dijit.byId("Examdate"+i).value;
date=parseInt(date);
venue=dijit.byId("NewVenue"+i);
venue=parseInt(venue);
sessionname=dijit.byId("Newsession"+i);
sessionname=parseInt(sessionname);

year1=dojo.byId('Year'+no).value;
year1=parseInt(year1);
month1=dijit.byId("NewMonth"+no);
month1=parseInt(month1);
date1=dijit.byId("Examdate"+no).value;
date1=parseInt(date1);
venue1=dijit.byId("NewVenue"+no);
venue1=parseInt(venue1);
sessionids=dijit.byId("Newsession"+no);
sessionids=parseInt(sessionids);

remns=document.getElementById("Rem"+no).value;//dijit.byId("Rem"+no).value;
remns=parseInt(remns);
if((year1==year) && (month1==month) && (date1==date) && (venue1==venue) && (sessionids==sessionname) )
{
	document.getElementById("Rems"+no).value=(remns - flag);
	flag++;	
	fg=parseInt(flag);
//alert(fg);
	//alert(remns);
if(eval(fg>remns))
{
alert("Please change this Session,it Is full already for this date in this venue");
dijit.byId('Newsession'+no).set('value','');
//dijit.byId('Rem'+no).set('value','');
}
}
}

 }

 
 function fnGetoldsession(sessionsids,no)
 {
	 if(sessionsids!='')
	 {
	 for(i=0;i<aray.length;i++)
	 {
	 	if(no==aray[i])
	 	{
	 		ut2=sessionsids;
	 		//alert(sessionsids);
	 		// alert(no);
	 		
	 	}
	 	
	 }
	 }
	 
 }

 
 function fnGetgetremaining(sessionsids,no)
 {
	 if(no>0)
	 {
	 if(dijit.byId("Newsession"+(no-1)).value=="")
		 alert("Please fill the above rows");
	 }
		 if(sessionsids!='')
{
	 var Year = dijit.byId("Year"+no);
		var Program = dijit.byId("candidateprog"+no);
		 var idcity = dijit.byId("NewCity"+no);
		 var venue = dijit.byId("NewVenue"+no);

		 var day = dijit.byId("Examdate"+no).value;
		 var month = dijit.byId("NewMonth"+no);
		
		var xhrArgs = {
	 			url: "<?php echo $this->baseUrl();?>"+"/batchcandidates/fngetremainingseats/Year/"+Year+"/Program/"+Program+"/idcity/"+idcity+"/venue/"+venue+"/day/"+day+"/month/"+month+"/sessionsids/"+sessionsids,
	 			handleAs:'json',
	 			load:function(data){ 
	 			if(data=='')
	 			{
		 		
	 			}
	 			else
	 			{
		 			//alert(data);
	 				//dijit.byId("Rem"+no).setValue(data);
	 				document.getElementById("Rem"+no).value=data;
	 				document.getElementById("Rems"+no).value=(data);
	 				fnvalidateremainingseats(sessionsids,no);
	 			}
	 				
	 			}
	 	   }
	 	dojo.xhrGet(xhrArgs);
	 
 }
 }
</script>
</head>
	<fieldset><?php $companyDetails = $this->companyDetails; ?>
		<legend><?php echo $this->translate("Batch").' '.$this->translate("Application");?></legend>
			<form dojoType="dijit.form.Form"  id="myForm"  action="" method="POST" enctype="multipart/form-data">
			 <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
reg=false;
                  da='<?php echo $this->total;?>';
                  for(i=0;i<da;i++)
                    {
if(dijit.byId("candidatedateofbirth"+i).isValid()){
		  
			flag =1;
		}
		else
		{  
		         flag =0;
			  dijit.byId("candidatedateofbirth"+i).attr('required','true');
			dijit.byId("candidatedateofbirth"+i).focus();
                        break;
		}
                       }
if(flag==1)
{
reg=true;
}
				  return reg;
                } else {
                    return false;
                }
				</script>
								<?php $idbatch =  $this->idbatchss;?>
								
	    		 <table class="">
                    	 <tr>
                    	 <input type="hidden" value="<?php echo $this->idbatchss;?>" name="idbatch" id="idbatch">
                         	 <th><?php echo $this->translate("Candidates Name");?></th>
                         	 <th><?php echo $this->translate("IC Number");?></th>
                         	 <th><?php echo $this->translate("Email");?></th>
                         	 
                         	 <th><?php echo $this->translate("Race");?></th>
                         	  <th><?php echo $this->translate("Religion");?></th>
                         	  <th><?php echo $this->translate("Education");?></th>
                         	 	  <th><?php echo $this->translate("Date of Birth");?></th>
                         	 	    <th><?php echo $this->translate("Gender");?></th>
                         	 	  	  <th><?php echo $this->translate("Takaful Operator");?>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="takaful" id="takaful" onClick="takafulss();"></th>
                         	 	  	  <!-- <th><?php //echo $this->translate(" Hidden Takaful Operator");?>-->
                         	 <th><?php echo $this->translate("Course");?></th>
                             <th><?php echo $this->translate("year");?></th>
                         	 <th><?php echo $this->translate("state");?></th>
                         	
                         	 <th><?php echo $this->translate("Month");?></th>
                         	  <th><?php echo $this->translate("Calender");?></th>
                         	 <th><?php echo $this->translate("Exam Date");?></th>
                         	  <th><?php echo $this->translate("City");?></th>
                         	 <th><?php echo $this->translate("Venue");?></th>
                         	 <th><?php echo $this->translate("Exam Session");?></th>
                         
                    	 </tr>                       
                          <?php $progname = $this->progname; 
                        
                          		$noofprog = $this->noofprog;
                          		$totalnoofcandidate = $this->noofcandidates;
                          		$programarray = $this->programresult;                          		
                          		$count = 0;
                          		$batcharrray = $this->batchresults;
                          		$raceresultarray = $this->raceresult;
                          		$Religionarray = $this->Religion;
                          		$educationresultarray = $this->educationresult;
                          		$takafularray = $this->takafuloperator;?>
                          		
                          		
                          		<?php 		$month= date("m"); // Month value
											$day= date("d"); //today's date
											$year=  $this->yearss;// Year value
											$yesterdaydate= date('Y-m-d', mktime(0,0,0,$month,($day-1),$year));
											$dateofbirth = "{max:'$yesterdaydate',datePattern:'dd-MM-yyyy'}"; ?>
                          	
                          		<?php  $counttakaful = count($takafularray);?><?php  $countprogramarray = count($programarray);?><?php  $countReligionarray = count($Religionarray);?><?php  $countrace = count($raceresultarray);?><?php  $counteducation = count($educationresultarray);?>
                     <?php    for($i=0;$i<count($noofprog);$i++):?>
                            	<?php $cccnt =  count($batcharrray[$noofprog[$i]]);?>
                            <?php for($k=0;$k<$totalnoofcandidate[$noofprog[$i]];$k++):?>
                         		        <?php //echo $progname[$noofprog[$i]]."<br>";?>
                         		       <?php //echo $noofprog[$i];?>
                         		       <tr>
												<td></td>
												<td></td> 
												<td></td>
												<td></td>
												                       		       
                         		       </tr>
                         		     <tr>   
                         		     
                         		     <td><input type="text" name="candidatename[]" id="candidatename<?php echo $count;?>" dojoType="dijit.form.ValidationTextBox"  propercase="true" required="true">	</td>
                         		     <td><input type="text" name="candidateicno[]" id="candidateicno<?php echo $count;?>" dojoType="dijit.form.ValidationTextBox"  required="true" onBlur="fngeticno(this.value,<?php echo $count;?>)"  regExp="[0-9]{2}(0{1}[1-9]{1}|1[012]{1})(0{1}[1-9]{1}|1[0-9]{1}|2[0-9]{1}|3[01]{1})[0-9]{6}$" invalidMessage="Enter your ICNO" maxlength="12" >	</td>
                         		     <td><input type="text" name="candidateemail[]" id="candidateemail<?php echo $count;?>" dojoType="dijit.form.ValidationTextBox" required="true" onBlur="duplicateemail(this.value,<?php echo $count;?>)"  regExp="^[_a-zA-Z0-9-]+(\.[_a-zA-Z0-9-]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,3})$" invalidMessage="Not a valid email"</td>
                         		      <td><select name="candidaterace[]" id="candidaterace<?php echo $count;?>"  dojoType="dijit.form.FilteringSelect">	
                         		      			 
                         		      				
                         		      			 <?php for($r=0;$r<$countrace;$r++):?>	
                         		      			 
                         		      				<option value="<?php echo $raceresultarray[$r]['key']?>"><?php echo $raceresultarray[$r]['value']?></option>
                         		      				<?php endfor?>
                         		      		</select>
                         		      </td>
                         		      <td><select name="candidatereligion[]" id="candidatereligion<?php echo $count;?>"  dojoType="dijit.form.FilteringSelect">	
                         		      			 
                         		      				
                         		      			 <?php for($r=0;$r<$countReligionarray;$r++):?>	
                         		      			 
                         		      				<option value="<?php echo $Religionarray[$r]['key']?>"><?php echo $Religionarray[$r]['value']?></option>
                         		      				<?php endfor?>
                         		      		</select>
                         		      </td>
                         		      
                         		      <td><select name="candidateeducation[]" id="candidateeducation<?php echo $count;?>"  dojoType="dijit.form.FilteringSelect">	
                         		      			 
                         		      				
                         		      			 <?php for($r=0;$r<$counteducation;$r++):?>	
                         		      			 
                         		      				<option value="<?php echo $educationresultarray[$r]['key']?>"><?php echo $educationresultarray[$r]['value']?></option>
                         		      				<?php endfor?>
                         		      		</select>
                         		      </td>
                         		      
                         		      <td><input type="text" name="candidatedateofbirth[]" id="candidatedateofbirth<?php echo $count;?>" dojoType="dijit.form.DateTextBox"  required="true" rangeMessage = "Does not meet the minimum  age limit ?"  onClick="fnsetdate('<?php echo $count;?>');" constraints="<?php echo $dateofbirth;?>") >	</td>
                         		      
                         		       <td><select name="candidategender[]" id="candidategender<?php echo $count;?>" dojoType="dijit.form.FilteringSelect">	
                         		      			 
                         		      				<option value="1">Male</option>
                         		      				<option value="0">female</option>
                         		      				
                         		      	</select>
                         		      	</td>
                         		      <td><select name="candidatetakaful[]" id="candidatetakaful<?php echo $count;?>"  dojoType="dijit.form.FilteringSelect" required="true" onChange="fnhiddentakaful(this.value,<?php echo $count;?>)">	
                         		      			 
                 
                         		      			 <?php for($t=0;$t<$counttakaful;$t++):?>	
                         		      			 
                         		      				<option value="<?php echo $takafularray[$t]['key']?>"><?php echo $takafularray[$t]['value']?></option>
                         		      				<?php endfor?>
                         		      		</select>
                         		      </td>
                         		    <input type="hidden" name="candidatehiddentakaful[]" id="candidatehiddentakaful<?php echo $count;?>" value="">	
                         		     <td><select name="candidateprog[]" id="candidateprog<?php echo $count;?>" readonly="true"  dojoType="dijit.form.FilteringSelect" onChange="fngetstatedetails(this.value,<?php echo $count;?>)">	
                         		      			 
                         		      				<option value="">Select</option>
                         		      			 <?php for($t=0;$t<$countprogramarray;$t++):?>	
                         		      			 
                         		      				<option value="<?php echo $programarray[$t]['key']?>" <?php if( $programarray[$t]['key']==$noofprog[$i]) echo "selected";?>><?php echo $programarray[$t]['value']?></option>
                         		      				<?php endfor?>
                         		      		</select>
                         		      		<script>
                         		      		fngetstatedetails(<?php echo $noofprog[$i];?>,<?php echo $count;?>);
                         		      		</script>
                         		      </td>
                         		      <td><select name="Year[]" id="Year<?php echo $count;?>"  required="true" dojoType="dijit.form.FilteringSelect" onChange="fnGetMonth(this.value,<?php echo $count;?>);">	
                         		      				
                         		      	</select>
                         		      	</td>
                         		       <td><select name="NewState[]" id="NewState<?php echo $count;?>" dojoType="dijit.form.FilteringSelect"  onChange="fnGetCitylist(this.value,<?php echo $count;?>);" >	
                         		      			 
                         		      				<option value="">Select</option>
                         		      				
                         		      	</select>
                         		      </td>
                         		      
                         		      	<td><select name="NewMonth[]" id="NewMonth<?php echo $count;?>" dojoType="dijit.form.FilteringSelect" onChange="fnGetDays(this.value,<?php echo $count;?>);">	
                         		      			 
                         		      				<option value="">Select</option>
                         		      				
                         		      	</select>
                         		      </td>
                         		       <input type="hidden" id="setdate" name="setdate" value="">
                          				  <input type="hidden" id="setmonth" name="setmonth" value="">
                         		      <td><div style:"width=200px" id="calender"></div>
                         		      </td>
                         		      </td>
                         		      <td> <input type="text" name="Examdate[]" id="Examdate<?php echo $count;?>"  required="true"  readOnly="true" dojoType="dijit.form.ValidationTextBox"  value=""></td>
                         		       <td><select name="NewCity[]" id="NewCity<?php echo $count;?>" dojoType="dijit.form.FilteringSelect" onChange="fnGetVenuename(this.value,<?php echo $count;?>);">	
                         		      			 
                         		      				<option value="">Select</option>
                         		      				
                         		      	</select>
                         		      </td>
                         		       <td><select name="NewVenue[]" id="NewVenue<?php echo $count;?>" dojoType="dijit.form.FilteringSelect" onChange="fnGetVenuesessionname(this.value,<?php echo $count;?>);">
                         		      			 
                         		      				<option value="">Select</option>
                         		      				
                         		      	</select>
                         		      </td> 
                         		      <td><select name="Newsession[]" id="Newsession<?php echo $count;?>" dojoType="dijit.form.FilteringSelect" onChange="fnGetgetremaining(this.value,<?php echo $count;?>);" onClick="fnGetoldsession(this.value,<?php echo $count;?>);" >	
                         		      			 
                         		      				<option value="">Select</option>
                         		      				
                         		      	</select>
                         		      </td> 
                         		       <td> <input type="hidden" name="Rem[]" id="Rem<?php echo $count;?>" style="width:40px" readOnly="true"  value=""><input type="hidden"   name="Rems[]" id="Rems<?php echo $count;?>" style="width:40px" readOnly="true"  value=""></td>
                         		     
                         		      <td><input type="hidden" name="activeset[]" id="activeset<?php echo $count;?>" value="">
                         		      </td>       
                          </tr>
                         		        
                         		     
                         		        
                         		       
                         				<?php  $count++;?>
                         		 <?php endfor;?>
                         		 
                         		 
                       <?php endfor;?>
                                              
	                     <tr>   
	                                                
                            <td colspan="24" align="right"><?php  echo $this->lobjBatchcandidatesForm->Save;?>
                            <input type="button" name="Close" class="buttonStyle" onClick="Closefn(); return false;" value="Close" dojoType="dijit.form.Button"  label="Close" >	</td>
                        </tr>     
	          </table>
	          </div>
           </form>
       </fieldset>                
	  
