<head>
<script type="text/javascript">


</script>

</head>

<fieldset>
	<legend>Seat Availability Information</legend>
<form action=""  dojoType="dijit.form.Form" method="POST">	
	<table width="70%" border="0" cellpadding="5" cellspacing="1" class="table3">
  <tr>
      <th>LEARNING CENTER/PART</th>
      <th>DATE</th>
      <th>SESSION NAME</th>
	  <th>AVAILABLE SEATS</th>
  </tr>
   <?php 
   if(count($this->examcenterfull)>0){
   $i=1; 
   foreach ($this->examcenterfull as $center){?>
   <tr>       
  	  <td><?php echo $center['centername'];?></td>   
      <td><?php echo date("d-m-Y",strtotime($center['date']));?></td>     
      <td><?php echo $center['managesessionname'];?></td>      
      <td align="center"><b><input type="hidden" name="remain<?php echo $i;?>" id="remain<?php echo $i;?>" value=""><?php echo $center['availseat'];?></b></td>
  </tr>
  <?php
	$i++;
    }
   }
   ?>
  
</table>
<table>
<tr>
  <td>
		<input type="button" name="Close" value="Close" id="Close" onClick="Closefnnew();" dojoType="dijit.form.Button"  label="Close"  class="buttonStyle">
  </td>
</tr>
</table>
</form>
	
</fieldset>