
<table class="table" width="40%" align="left">
<tr>
	
            <td>Payment has been successful</td>
           
            <td><input type="button" name="back" value="back" id="back" onClick="window.location.href='<?php  echo $this->baseUrl();?>/companyapplication/index'" ></td>
            
<!--receipt starts-->
<div runat="server" id="divLogin"  style="display:none; z-index: 153; position: fixed; left: 20%; width: 1140px; top:28%">
							<div runat="server" id="divLogin2"  style="display:none; opacity:1.0; z-index: 150; position: relative; left: 0%; height: 100%; width: 100%; top: 0%;"> </div>
								  <div id="scroll" style="height: 600px; width: 100%; overflow:auto;">
									  <asp:Panel runat="server" ID="popupLogin">
										 <asp:Panel runat="server" ID="popupContent1">

					<table style="height: 125px; width: 90%; background-color: #FFFFFF;" border="3" frame="box" >
						<tbody>
							<tr>
								<td >
									<div id="contentdiv" >
										<form action=""  dojoType="dijit.form.Form" method="POST">
										<?php $lobjcompanystudentdetails = new Registrations_Model_DbTable_Companystudentdetails();
                                                                                 $Totalamount=$this->receiptdetails['0']['totalamount'];
										$Amountinwords = $lobjcompanystudentdetails->fnconvertnumbertowords($Totalamount);
                                                                               
                                                                                $number = number_format($Totalamount, 2, ".", "");
                                                                                sscanf($number, '%d.%d', $whole, $fraction);
                                                                                if($fraction){
                                                                                     $fractioninwords = $lobjcompanystudentdetails->fnconvertnumbertowords($fraction);
                                                                                     $Amountinwords=$Amountinwords.' and '.$fractioninwords.' cent Only';
                                                                                }else{
                                                                                    $Amountinwords=$Amountinwords.' Only';
                                                                                }
                                                                                
                                                                                ?>
										<input type="hidden" name="Totalamount" id="Totalamount" value="<?php echo $this->receiptdetails['0']['totalamount'];?>">
										<input type="hidden" name="rcn" id="rcn" value="<?php echo $this->receiptdetails['0']['ReceiptNum'];?>">
										<input type="hidden" name="flag" id="flag" value="<?php echo $this->companyflag;?>">
										<input type="hidden" name="CompanyName" id="CompanyName" value="<?php echo $this->receiptdetails['0']['operatorname'];?>">
										<input type="hidden" name="Contact" id="Contact" value="<?php echo $this->receiptdetails['0']['ContactName'];?>">
										<input type="hidden" name="Address" id="Address" value="<?php echo $this->receiptdetails['0']['Address'];?>">
										<input type="hidden" name="Postcode" id="Postcode" value="<?php echo $this->receiptdetails['0']['Postcode'];?>">
										<input type="hidden" name="StateName" id="StateName" value="<?php echo $this->receiptdetails['0']['StateName'];?>">
										<input type="hidden" name="CountryName" id="CountryName" value="<?php echo $this->receiptdetails['0']['CountryName'];?>">
										<input type="hidden" name="Phone" id="Phone" value="<?php echo $this->receiptdetails['0']['workphone'];?>">
										<input type="hidden" name="Fax" id="Fax" value="<?php echo $this->receiptdetails['0']['Fax'];?>">
										<input type="hidden" name="Email" id="Email" value="<?php echo $this->receiptdetails['0']['Email'];?>">
										<input type="hidden" name="mailsend" id="mailsend" value="1">
                                                                                <input type="hidden" name="receiptlastid" id="receiptlastid" value="<?php echo $this->receiptlastid;?>">
                                                                                <input type="hidden" name="idbatchregistration" id="idbatchregistration" value="<?php echo $this->idbatchregistration;?>">
                                            

<table border="1" width="100%" style="font-size:104%;">
											<tr ><td colspan='9' style="font-size:130%;" align='center'><b><u><i>INVOICE</u></i></b></td></tr>											
											<tr >								
																	<th colspan='3' align='left'><b>To:
																	</b><b>&nbsp;&nbsp;&nbsp;<?php echo $this->receiptdetails['0']['operatorname']; ?></b><br/>																		   
																	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><?php echo $this->receiptdetails['0']['Address']; ?></b><br/>
																	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><?php echo $this->receiptdetails['0']['Postcode']; ?></b><br/>
																	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><?php echo $this->receiptdetails['0']['StateName']; ?></b><br/>
																	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><?php echo $this->receiptdetails['0']['CountryName']; ?></b><br/>
																	<b>Attn:</b><b>&nbsp;<?php echo $this->receiptdetails['0']['ContactName']; ?></b>
																	<br/>
																	<b>Tel:</b><b>&nbsp;&nbsp;<?php echo $this->receiptdetails['0']['workphone']; ?>
																	</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Fax:</b><b><?php echo $this->receiptdetails['0']['Fax']; ?></b><br/></th>
																	<th align ='left' valign='top' colspan='6'>
																	<b>GST Ref. No.:</b><b>&nbsp;&nbsp;&nbsp;<b>
																	001167200256
																	</b><br/><br/>
																	<b>Invoice:</b><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
																	<?php echo $this->receiptdetails['0']['Invoiceuniqueid']; ?></b><br/><br/>
																	<b>Date:</b><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
																	<?php echo  date("d-m-Y");?></b><br/><br/>
																	<b>Term:</b><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
																	14 Days</b></th>
											</tr>	
											<tr >																							
													<th><b><?php echo $this->translate("Batch ID") ?><b></th>  
													<th><b><?php echo $this->translate("Total Candidates") ?><b></th>													 
													<th><b><?php echo $this->translate("Program") ?><b></th>
													<th><b><?php echo $this->translate("Amount") ?><b></th>
													<th><b><?php echo $this->translate("GST") ?><b></th>
													<th colspan="3"><b><?php echo $this->translate("Total Amount") ?><b></th>												
                                            </tr>									
											<tr >													
													<td><?php echo $this->receiptdetails['0']['registrationPin']; ?></td>
													<td><?php echo  $this->receiptdetails['0']['totalNoofCandidates'];?></td> 
													<?php $tax=$this->receiptdetails['0']['GST'];
												    $amount =$this->receiptdetails['0']['Invamount'];
												    //$pretaxamount=$this->receiptdetails['0']['Amount']/$divisor;
												    //$taxvolume=$this->receiptdetails['0']['Amount']-$pretaxamount;?>
                                                    <td><?php echo $this->receiptdetails['0']['ProgramName']; ?> </td>													
													<td><?php echo  number_format($amount,2);?></td>
													<td><?php echo number_format($tax,2); ?></td>
													<td colspan="3" ><?php $Totalamount = ($tax+$amount);  echo  number_format($Totalamount,2);?></td>																						
                                            </tr>											
											
												<tr></tr>
												<tr></tr>	

                                            </table>
                                           <br/>
										   
										   
										   
										   
<br/>
<br/>
<br/>										   											
											<table border="0" width="100%" style="font-size:104%;">
												<tr></tr>
												<tr></tr>					
							                	<tr>								
							                     	<td align="center" colspan="3"><b>Islamic Banking and Finance Institute of Malaysia(IBFIM)</b></td>
							                    </tr>
							                    <tr></tr>
							                    <tr  style="height:20px;">
							                     	<td align="left" width="40%"><b>No. <?php echo $this->receiptdetails['0']['ReceiptNum'];?></b></td>
							                     	<td align="left" style="font-size:130%;"><b><u><i>RECEIPT</i></u></b></td>
							                     	<td align="left"><b>Date:<?php echo date("d-m-Y");?></b></td>
							                    </tr>
							                    <tr  style="height:20px;">
							                    	<td align="left" colspan="3"><i>Received With Thanks from:<b><?php echo $this->receiptdetails['0']['operatorname'];?></b></i></td>
							                    </tr>
							              
							                    <tr >
							                    	<td align="left" colspan="3"><i>Address :<?php echo $this->receiptdetails['0']['Address'];?></i></td>
							                    </tr>
							                    <tr  style="height:20px;">
							                    	<td align="left" colspan="3">
							                    	<i>
	                    								<div  style="padding-left:50px">
						                    				<?php
						                    			 	echo $this->receiptdetails['0']['StateName'];echo "<br/>";
						                    			 	echo $this->receiptdetails['0']['CountryName'];echo "<br/>";
						                    			 	echo "Postcode : ";echo $this->receiptdetails['0']['Postcode'];echo "<br/>";
						                    			 	echo "workphone : ";echo $this->receiptdetails['0']['workphone'];echo "<br/>";
						                    			 	echo "Email : ";echo $this->receiptdetails['0']['Email'];echo "<br/>";
						                    			  	echo "Fax : ";if(isset($this->receiptdetails['0']['Fax'])) echo $this->BatchAddressdetails['0']['Fax']; else echo "-"; echo "<br/>";
								                    		
						                    			  	?>
							                    		</div>
							                    	</i></td>
							                    </tr>
												<tr style="height:20px;">
							                    	<td align="left" colspan="3"><i><?php echo "Attn : ";echo $this->receiptdetails['0']['ContactName'];?></i></td>
							                    </tr>
							                    <tr style="height:20px;">
							                    	<td align="left" colspan="3"><i>Payment By:MIGS</i></td>
							                    </tr>
							                    <tr style="height:20px;">
							                    	<td align="left" colspan="3"><i>Towards Examination Fees as detail bellow.</i></td>
							                    </tr>
							                    
							                    <tr></tr>
											</table>	
															
											<table border="2" width="100%" align='center' padding="100">
												<tr>
													<th style="text-align:center;"><b>SL NO</b></th>
													<th style="text-align:center;"><b>BatchId</b></th>							
													<th style="text-align:center;"><b>Invoice Number</b></th>
													<th style="text-align:center;"><b>Total Candidates</b></th>
													<th style="text-align:center;"><b>Amount</b></th>							
													<th style="text-align:center;"><b>GST</b></th>
													<th style="text-align:center;"><b>Total Amount</b></th>
                                                                                                        <th style="text-align:center;"><b>Transaction Id</b></th>
                                                                                                       
                                                                                                        
												</tr>
												<?php 
												$count=1;
												//echo "<pre/>";print_r($this->receiptdetails);
												$this->lobjdistributionModel = new Registrations_Model_DbTable_Paymentdistribution();//distribution model
												foreach($this->receiptdetails as $receiptdetails){
												
												?>
												 <tr>
													<td align="center"><?php echo $this->escape($count);?></td>
                                                                                                        <td ><?php echo $this->escape($receiptdetails['BatchId']);?></td>	    		
													<td align='center'><?php echo $receiptdetails['InvoiceNum'];?> </td>  		       
												  	<td align="right"><?php echo $receiptdetails['totalNoofCandidates'];?></td>
												  	<td align="right"><?php echo $this->escape(number_format($receiptdetails['Invamount'],2));?></td>	    		
													<td align="right"><?php echo $this->escape(number_format($receiptdetails['GST'],2));?></td>	    		       
												 	<td align="right"><?php $Totalamount = ($receiptdetails['GST']+$receiptdetails['Invamount']); echo $this->escape(number_format($Totalamount,2));?></td>
                                                                                                        <td align="right"><?php echo $receiptdetails['transactionId'];?></td>
                                                                                                        
												</tr>
												<?php $count++;}
												?>
												</table>
												<table border="0" width="100%" align='center'>
												<tr><td><?php echo "<br/>";?></td></tr>
												<tr >             						   
													<td align="center" ><b>Total Amount Received(Ringgit Malaysia) : <?php echo number_format($Totalamount,2);?><b></td>
												</tr>
												<tr><td></td></tr>
												<tr >
							                    	<td align="center" colspan="3"><b>Ringgit Malaysia(In Words): <?php echo $Amountinwords; ?></b></td>
							                    </tr>
												<tr><td></td></tr>
												
												<tr >
							                    	<td align="center" colspan="3"><b>GST Ref.No:001167200256 </b></td>
							                    </tr>           						   
													<td  style="padding-left:90%" ><b>Signature<b></td>
													
												</tr>
												<?php if($this->PaymentMode==1){?>
												<tr>
													<td>*This Receipt is valid subject to realisation of Cheque</td>
												</tr>
												<?php }?>
											    </table>
											   
											    <table border="0" width="100%" align='center'>			   
													<tr>
														<td align="right">
                                                                                                                    <!--<button type="submit"  dojotype="dijit.form.Button"  id="Export" name="Export" value="1" >Send Mail</button> &nbsp;-->
                                                                                                                    <input type="submit" id="Print"  dojotype="dijit.form.Button" label="Print Receipt" name="Print"  value="Print"  />
                                                                                                                    <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Close"); ?>" onclick="window.location.href='<?php echo $this->url(array('controller'=>'companyapplication', 'action'=>'index'),'default',true);?>';" />	
                                                                                                                </td>
																        
			                                       	</tr>
			                                       	<tr>
			                                       	<td><?php echo "<br/>";?><?php echo "<br/>";?>	</td>
			                                       	</tr>
		                                	   </table>		                                	    
										</form>
									</div>					                                      
								</td>
							</tr>
							<tr>
								<td colspan="2" align="left"><asp:Label ID="lblmandatory" runat="server" Text="* Mandatory Information Required" class="LeftLabelStyle" Width="350px" /></td>
							</tr>
						</tbody>
		 			</table>
								</asp:Panel>
					</asp:Panel>
		</div>
	</div>




</table>
