<head>
<script>
dojo.addOnLoad(function(){
	dijit.byId('field2').focus();	
	dijit.byId('field5').set('value','');
	dijit.byId('field5').set('placeHolder','Select');
	dijit.byId('field8').set('value','');
	dijit.byId('field8').set('placeHolder','Select');
	dijit.byId('field20').set('value','');
	dijit.byId('field20').set('placeHolder','Select');
	});
</script>
</head>
	<fieldset>
		<legend><?php echo $this->translate("$this->Subject").' '.$this->translate("Search");?></legend>
         <form action="<?php echo $this->baseUrl();?>/general-setup/subjectmaster/index/search/1" method="POST">
            <table width="100%">
            	 <tr>
                   <td><?php echo $this->translate("$this->College").' '.$this->translate("Name");?></td>
                   <td ><?php echo $this->lobjform->field5;?></td>
                   <td><?php echo $this->translate("Branch").' '.$this->translate("Name");?></td>
                   <td ><?php echo $this->lobjform->field8;?></td>
                </tr>
                <tr>
                   <td><?php echo $this->translate("$this->Department").' '.$this->translate("Name");?></td>
                   <td ><?php echo $this->lobjform->field20;?></td>
                   <td><?php echo $this->translate("$this->Subject").' '.$this->translate("$this->Name");?></td>
                   <td ><?php echo $this->lobjform->field2;?></td>
                </tr>
                <tr>
                   <td><?php echo $this->translate("$this->Subject").' '.$this->translate("Code");?></td>
                   <td ><?php echo $this->lobjform->field3;?></td>
                   <td ><?php echo $this->translate("Active");?></td>
                   <td ><?php echo $this->lobjform->field7;?></td>
                </tr>
                <tr>
	               <td align = "center" colspan = "4">
						<?php echo $this->lobjform->Search;?>
						<input type='button' class="NormalBtn" dojotype="dijit.form.Button" label = "<?php echo $this->translate('Add')?>" value='click' onclick="window.location.href='<?php echo $this->url(array('module'=>'general-setup','controller'=>'subjectmaster', 'action'=>'newsubjectmaster'),'default',true);?>';" />	
						<?php echo $this->lobjform->Clear;?>
				   </td>
                </tr>
            </table>
        </form>	
    </fieldset> 
    <br/>
	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
		
	    	<tr>
	        	<th><?php echo $this->translate("$this->Subject Name");?></th>
	       	    <th><?php echo $this->translate("$this->Subject").' '.$this->translate("Code");?></th>
	       	    <th><?php echo $this->translate("$this->Department").' '.$this->translate("Name");?></th>
	       	    <th><?php echo $this->translate("Branch").' '.$this->translate("Name");?></th>
	       	    <th><?php echo $this->translate("$this->College").' '.$this->translate("Name");?></th>

	       </tr>
	        <?php if (count($this->paginator)): ?>
	        <?php foreach ($this->paginator as $lobjsubject ): ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	<td><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'subjectmaster', 'action'=>'subjectmasterlist' , 'id'=>$lobjsubject['IdSubject']),'default',true);?>" ><?php print_r($this->escape($lobjsubject['SubjectName']));?></a></td>
	    	    <td><?php echo $this->escape($lobjsubject['SubCode']);?></td>
	    	    <td><?php echo $this->escape($lobjsubject['DepartmentName']);?></td>
	    	    <td><?php if($lobjsubject['DepartmentType']==0) { echo "--"; }else{ echo $this->escape($lobjsubject['BranchName']); }?></td>
	    	 	<td><?php if($lobjsubject['DepartmentType']==0) { echo $this->escape($lobjsubject['BranchName']); }else{ echo $this->escape($lobjsubject['CollegeName']); }?></td>
	    	  <?php endforeach; ?>
	            <?php endif; ?> 
			</tr>
	    	<tr>
	        	<td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>
		</table>
	</fieldset>
