<head>

<script type="text/javascript">
dojo.require("dijit.form.TimeTextBox");
dojo.addOnLoad(function(){
	dijit.byId('IdDepartment').set('value','');
	dijit.byId('IdDepartment').set('placeHolder','Select');
	dijit.byId('IdDefaultSyllabus').set('value','');
	dijit.byId('IdDefaultSyllabus').set('placeHolder','Select');
	});
	
</script> 
</head>
 <fieldset>
    <legend><?php echo $this->translate("$this->Subject");?></legend>
                <Form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/general-setup/subjectmaster/newsubjectmaster" method="post"  name= "myForm">
                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>
                    <table class="table" width="100%" >
                        <tr>
                            <th colspan = "4"><?php echo $this->translate("$this->Subject Details");?></th>
                        </tr>
                        <tr>
                        	 <td ><?php echo $this->translate("$this->Subject Name");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjsubjectmasterForm->SubjectName;?></td>
                            <td ><?php echo $this->translate("Arabic").' '.$this->translate("Name");?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjsubjectmasterForm->ArabicName;?>
                             <?php echo $this->lobjsubjectmasterForm->IdSubject;?>
                            <?php echo $this->lobjsubjectmasterForm->UpdDate;?>
                            <?php echo $this->lobjsubjectmasterForm->UpdUser;?></td>
                        </tr>
                      	
                        <tr> 
                        	<td ><?php echo $this->translate("$this->Subject").' '.$this->translate("Code");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjsubjectmasterForm->SubCode;?></td>
                        	<td ><?php echo $this->translate("$this->Department").' '.$this->translate("Name");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjsubjectmasterForm->IdDepartment;?></td>
                        </tr>
                        <tr>
                        	<td ><?php echo $this->translate("Required").' '.$this->translate("Hours");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjsubjectmasterForm->RequiredHours;?></td> 
                        	<td ><?php echo $this->translate("Minimum").' '.$this->translate("Hours");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjsubjectmasterForm->MinHours;?></td>
                         </tr>
                         <tr>
                         	<td ><?php echo $this->translate("Amount").' '.$this->translate("Per").' '.$this->translate("Hour");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjsubjectmasterForm->AmtPerHour;?></td> 
                         	<td ><?php echo $this->translate("Syllabus");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjsubjectmasterForm->IdDefaultSyllabus;?></td>
                        </tr>
                         <tr>
                         	<td ><?php echo $this->translate("Active");?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjsubjectmasterForm->Active;?></td>
                            <td ></td>
                            <td ></td> 
                        </tr>
                        <tr>
                            <td align = "right" colspan="4"><?php echo $this->lobjsubjectmasterForm->Save;?>
                           <input type='button' class="NormalBtn" dojotype="dijit.form.Button" label = "<?php echo $this->translate('Back')?>" value='click' onclick="window.location.href='<?php echo $this->url(array('module'=>'general-setup','controller'=>'subjectmaster', 'action'=>'index'),'default',true);?>';" />	
                            </td> 
                        </tr>
              </table>
            
            </Form>

</fieldset>
