	<head>
<script type="text/javascript" src="<?php echo $this->baseUrl();?>/js/jquery-1.4.3.js"></script>

<Script type="text/javascript">
dojo.addOnLoad(function(){
		<?php if ($this->checkEmpty == 1){ ?>
				   dijit.byId('passwd').focus();
		<?php  } ?>	
			   
});
function fncheckvalue()
{
	var fmarks = dijit.byId('Marksfrom').value;
	fmarks = parseInt(fmarks);
	var tmarks = dijit.byId('Marksto').value;
	tmarks = parseInt(tmarks);
	if(tmarks<fmarks)
		{
		 alert ("Questions To field cannnot be less than From Questions.Select the Correct range ");
		 dijit.byId('Marksfrom').set('value',1);
		 dijit.byId('Marksto').set('value',1);
	    }
}

function fnloadLoader() {
   
        //alert("hai");
    	//document.getElementById("dvloader").style.display = 'block';
    	//$("#dvloader").show();
    	//$(".block1").load("views/changepass.template.php", function(){ $("#dvloader").hide(); });
    	//return false;
    
}

function fngetchapterlist(group){
	
		var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/examination/examquestions/fngetchapters/group/"+group,
				handleAs:'json',
				load:function(data){ 
					
					AutoFillNextEditableDropDown("QuestionChapter",data);
					
				}
				
		   }
		dojo.xhrGet(xhrArgs);
	
}

function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}

function fnselectgroup(){
	var group=dijit.byId('Questiongroup').value;
	if(group==0 || group==""){
		dijit.byId('Questiongroup').set('value',"");
		//dijit.byId('Questiongroup').setAttrib('required',"true");
		dijit.byId('Questiongroup').focus();	
		
	}
}

function clearpageAdd(last) {
	//alert(last);
	dijit.byId('Questiongroup').set('value',"0");
	dijit.byId('Questionstatus').set('value',"3");
	dijit.byId('QuestionLevel').set('value','0');
	dijit.byId('QuestionChapter').set('value','0');
	dijit.byId('Marksfrom').set('value',"0");
	dijit.byId('Marksto').set('value',last);
	dijit.byId('Questionname').set('value','');
	//dijit.byId('Questionname').set('placeHolder','Select');
	//dijit.byId('Questionname').reset();
	
}
</script>

<style>
#widget_Marksfrom{
width: 8em;
}
#widget_Marksto{
width: 8em;
}
#widget_Questiongroup{
width: 8em;
}
#widget_Questionstatus{
width: 8em;
}
#widget_QuestionLevel{
width: 8em;
}
#widget_QuestionChapter{
width: 8em;
}
</style>	
</head>
<body class='claro' >
<?php   if ($this->checkEmpty == 1): ?>    
<form  method="POST" dojoType="dijit.form.Form"  id="Search"  name= "Search">
 <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					  return true;
                } else {
                    return false;
                }
				</script>
<fieldset>
	<legend><?php echo "Enter authentication password to view this menu";?></legend>
       
      <table>
      			<tr>
                   <td colspan="3"><?php  echo "Password";?></td>
                   <td ><?php echo $this->lobjformsearch->passwd;?></td> 
                   <td></td>
                   <td></td> 
                </tr> 
                <tr>
                	<td colspan="3"></td>
	                <td>
	                  <input name="Submitpw" id="Submit" type="Submit"  class="NormalBtn" dojoType=dijit.form.Button label = <?php echo $this->translate("Submit");?> value=<?php echo $this->translate("Submit");?>>
					</td>
					
					
               </tr>
       </table>
       </fieldset>
</form>  
<?php endif; ?>

<?php   if ($this->checkEmpty == 2 ): ?> 
<fieldset>
	<legend><?php echo $this->translate("ExamQuestions").' '.$this->translate("Report");?></legend>
	<div class="search" style="margin-left:20px;">
 		<form dojoType="dijit.form.Form"  id="myForm" action="" method="POST" > 
 		  <script type="dojo/method" event="onSubmit">
             if (this.validate()){
					var fmarks = dijit.byId('Marksfrom').value;
					fmarks=parseInt(fmarks);
					var tmarks = dijit.byId('Marksto').value;
					tmarks=parseInt(tmarks);
					if(tmarks<fmarks)
					{
					 alert ("Questions To field cannnot be less than From Questions.Select the Correct range");
		 			 dijit.byId('Marksfrom').set('value',1);
		 			 dijit.byId('Marksto').set('value',1);
                     return false;
	    			}
					return true;
                } else {
                   return false;
               }
			</script>
		<table width="100%">
				<tr>
                    <td><?php echo $this->translate("Questions Group")?></td>
                    <td><?php echo $this->lobjform->Questiongroup;?></td>
                     <td style="padding-left:20%;"><?php echo $this->translate("Questions Chapter")?></td>
                    <td><?php echo $this->lobjform->QuestionChapter;?></td>
                    
                    
                </tr>
                <tr>
                    <td><?php echo $this->translate("Questions Level")?></td>
                    <td><?php echo $this->lobjform->QuestionLevel;?></td>
                   	<td style="padding-left:20%;"><?php echo $this->translate("Questions Status")?></td>
                    <td><?php echo $this->lobjform->Questionstatus;?></td>
                </tr>
				<tr>
                    <td><?php echo $this->translate("Question Id From")?></td>
                    <td><?php echo $this->lobjform->Marksfrom;?></td>
                    <td style="padding-left:20%;"><?php echo $this->translate("Question Id To")?></td>
                    <td><?php echo $this->lobjform->Marksto;?></td>
                </tr>
                <tr>
                    <td><?php echo $this->translate("Question Name")?></td>
                    <td colspan="2"><?php echo $this->lobjform->Questionname;?></td>
                   
                    <td></td>
                </tr>
               
                <tr>
                 <td></td>  
                 <td></td>             
                 <td >
                     <?php echo $this->lobjform->Search;?>
                      <?php echo $this->lobjform->submit;?>
					
					<input type="Button"  onclick="clearpageAdd('<?php echo $this->last;?>')" class="NormalBtn" dojoType=dijit.form.Button label = <?php echo $this->translate("Clear");?> value=<?php echo $this->translate("Clear");?>>
				</td>
               </tr>
		</table>
	</form>	
		</div>
	</fieldset>
	<br/>
	<div  style="display:none" id="dvloader"><img src="<?php  echo $this->baseUrl();?>/images/loading.gif" /></div>
	
	<?php 
	if(isset($this->displayquestions)){?>
	<fieldset>
		<?php 
		if(count($this->displayquestions)!=0){
		$displayquestions=$this->displayquestions;
		$this->lobjExammarksModel = new Examination_Model_Examquestions();?>
		<h3 style="text-align:right;">Total Questions=<?php echo count($this->displayquestions);?></h3>
		<?php for($i=1,$s=0;$i<=count($displayquestions),$s<count($displayquestions);$s++,$i++) { ?>
			
			<table >
	  			<tr>
     				<td valign="top" ><?php echo "Q".$i.'.'?>&nbsp;<?php echo $displayquestions[$s]['idquestions'].')'?></td>
					<td align="left"><?php echo trim($displayquestions[$s]['Question'])?><br></td>
	  			</tr>
	  		</table>
	  		<br/>
	  		<?php 
            $larranswers = $this->lobjExammarksModel->fndisplayanswersforquestions($displayquestions[$s]['idquestions']);
            for($d=1,$a=0;$d<=count($larranswers),$a<count($larranswers);$d++,$a++){?>
            <table>
				<tr>
					<td valign="top">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<?php echo ('A'.$i.'.'.$larranswers[$a]['idanswers']).')';?></td>
					<td><?php echo $larranswers[$a]['answers'];?><br></td>
					<?php if($larranswers[$a]['CorrectAnswer']==1){?>
						<td style="background-color:green;">Correct Answer</td>
					<?php }?>
				</tr> 
				 
			</table>
			<br/>
       		<?php }
       		
		}?>
		
		<?php }else{?>
			<p align="center" style="font-weight:bold;">Results not Found for Your Search Criteria.</p>
		<?php }
		?>
	</fieldset>
	<?php }?>
<?php endif; ?>
	 
<br>
</body>
</html>
