<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="<?php echo $this->rtl;?>">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css"  href="<?php  echo $this->baseUrl();?>/js/themes/cupertino/jquery.ui.all.css" />
	<script language='javascript' src='<?php  echo $this->baseUrl();?>/js/jquery-1.4.3.js'></script>
	<script language='javascript' src='<?php  echo $this->baseUrl();?>/js/sfs-common.js'></script>
	<script language="JavaScript" type="text/javascript"><!--
dojo.addOnLoad(function() {
		
		
        bat='<?php echo $this->idbat;?>';
         dijit.byId('Batch').value=bat;
		fnUpdateData(bat);
		document.getElementById('thirdquestion').value = '0';

	});



	function showHidden(ids) {		
		$('#'+ids).slideToggle('slow', function() {
		    // Animation complete.
		  });
		/*	if(document.getElementById(ids).style.display == "none") document.getElementById(ids).style.display = "block"; 
			else if(document.getElementById(ids).style.display == "block") document.getElementById(ids).style.display = "none"; */
	
	}	
	function fnUpdateData(data){
		$('#hiddenMainTable').slideUp('slow', function() {			    
			 });		
		$("#BatchFrom").val("");
		$("#BatchTo").val("");
		if(isNaN(data) == false && data != ""){
		$('#hiddenMainTable').slideDown('slow', function() {
		    
		  });
		$.ajax({
			type: "GET",
			url: "<?php echo $this->baseUrl();?>/examination/createexam/getbatchinputdatas/IdBatch/"+data,
			success: function(content){	
				content = content.split("#@#");
				$("#BatchFrom").val(content[0]);
				$("#BatchTo").val(content[1]);
			}
		});
		
			$.ajax({
				type: "GET",
				url: "<?php echo $this->baseUrl();?>/examination/createexam/getbatchdetails/IdBatch/"+data,
				success: function(content1){					
					$("#hiddenMainTable").html(content1);
					/*var va=confirm("Do you want for each section percentage then press ok?");
					if(va!=true)
						{
						ca=200;
						//alert(ca);
				        if(ca)
				        {
						for(i=0;i<ca;i++)
						{
						var Exame = dojo.byId('Exame'+i);
						dojo.style(Exame,'display','none');
						}
				        }	
						}
					else
					{
						
						var Exames = dojo.byId('Exe');
						dojo.style(Exames,'display','none');
						var Exames1 = dojo.byId('pa');
						dojo.style(Exames1,'display','none');
					}*/
				
				}
			});
		}
	
	} 
	function AddNewfn()
	{
		window.location="<?php echo $this->baseUrl();?>/examination/createexam";
	}

	function fnclearsubdetails(ids,possibleMax,Aid)
	{
		
	}
	function fnCheckAvailability(curValue){			
		if(!document.getElementById('totalNoOfQuestions')){
				alert("Select Batch First");
				document.getElementById('NoOfQuestion').value = "0";
				return false;
		}
		else if(eval(curValue) > eval(document.getElementById('totalNoOfQuestions').value)){
			alert("Maximum no of questions are  "+document.getElementById('totalNoOfQuestions').value);
			document.getElementById('NoOfQuestion').value = "0";
			document.getElementById('NoOfQuestion').focus();
			return false;
		}
	}
	var sum=0;
	function fnCheckAvailabilitySub(ids,possibleMax,Aid){

		curValue = ids.value;
		//alert(curValue);
		//alert(possibleMax);
		//alert(Aid);
		var cnt = document.getElementById('hidden'+Aid).value ;
		sum = eval (sum)+eval(curValue)-eval(cnt);
		
		document.getElementById('hidden'+Aid).value  = curValue;
		//alert(sum);
		
		ParentValue  = document.getElementById('NoOfQuestion').value;
		if(ParentValue == "" || ParentValue == 0)	{
				alert("Enter No Of Questions");	
				ids.value = "0";
				document.getElementById('NoOfQuestion').focus();
				return false;
		}
		//alert(curValue);
		//alert(possibleMax);
		if(eval(curValue) > eval(possibleMax)){
			alert("Maximum no of questions are "+possibleMax+"");
			ids.value = "0";
			ids.focus();
			return false;
		}
		if(eval(curValue) > eval(ParentValue))
		{
			alert("Maximum no of questions are "+ParentValue+"");
			ids.value = "0";
			ids.focus();
			return false;
		}
		if(eval(sum) > eval(ParentValue))
		{
			alert("Maximum no of questions are "+ParentValue+"");
			ids.value = "0";
			ids.focus();
			return false;
		}
				
	}


	function fnClearThirdSubDetails(ids,ParentId,ChildId,possibleMax)
	{
		
		document.getElementById('percent['+ParentId+']['+ChildId+'][1]').value = '0';
		document.getElementById('percent['+ParentId+']['+ChildId+'][2]').value = '0';
		document.getElementById('percent['+ParentId+']['+ChildId+'][3]').value = '0';

		document.getElementById('hidden['+ParentId+']['+ChildId+'][1]').value = '0';
		document.getElementById('hidden['+ParentId+']['+ChildId+'][2]').value = '0';
		document.getElementById('hidden['+ParentId+']['+ChildId+'][3]').value = '0';
		
	}
	var sump = new  Array();
	
	function fnCheckAvailabilitySubDetails(ids,ParentId,ChildId,possibleMax){	
		if(isNaN(sump[ParentId])) sump[ParentId] = 0;
		//alert(sump[ParentId]);
		var firstparentid  = document.getElementById('hidden'+ParentId).value ;
		ParentValue  = document.getElementById('NoOfQuestion').value;
		curValue = ids.value;
		if(curValue == '')
		{			
			ids.value = "0";
			document.getElementById('hidden'+ParentId+ChildId).value =0;
			return false;
		}
		validatenumb(ids);
		if(ParentValue == "" || ParentValue == 0)	{
			alert("Enter No Of Questions");	
			ids.value = "0";
			document.getElementById('hidden'+ParentId+ChildId).value =0;
			document.getElementById('NoOfQuestion').focus();
			return false;
		}
		ChildValue  = document.getElementById("hidden"+ParentId).value;
		
		if(ChildValue == "" || ChildValue == 0)	{
			alert("Enter No Of Questions In Level One");	
			ids.value = "0";
			document.getElementById('hidden'+ParentId+ChildId).value =0;
			return false;
		}

		if(eval(ChildValue) < eval(curValue))
		{
			alert("No of Questions in Child excees theParent value");
			ids.value = "0";
			document.getElementById('hidden'+ParentId+ChildId).value =0;
			ids.focus();
			return false;
		}
		
		if(eval(curValue) > eval(possibleMax)) {
			alert("Maximum no of questions are "+possibleMax+"");
			ids.value = "0";
			document.getElementById('hidden'+ParentId+ChildId).value =0;
			return false;
		}

		var cnt =document.getElementById('hidden'+ParentId+ChildId).value;
		sump[ParentId] = eval(sump[ParentId])+eval(curValue)-eval(cnt);
		//alert(sump[ParentId]);
		
		if(eval(sump[ParentId]) > eval(firstparentid))
		{
			alert('More questions');
			sump[ParentId] = eval(sump[ParentId]) - eval(curValue);
			//alert(sump[ParentId]);
			ids.value = "0";	
			document.getElementById('hidden'+ParentId+ChildId).value =0;		
			ids.focus();
			return false;
		}
		document.getElementById('hidden'+ParentId+ChildId).value = curValue;
		
	}
	var totalss = 0;
	function fnCheckAvailabilityLastSubDetails(ids,ParentId,ChildId,possibleMax,idtrail){	
		
		curValue      = ids.value;
		validatenumb(ids);
		ParentValue   = document.getElementById('NoOfQuestion').value;
		ChildValue    = document.getElementById("hidden"+ParentId).value;
		SubChildValue = document.getElementById("hidden"+ParentId+ChildId).value;

		var hiddenid = document.getElementById('hidden['+ParentId+']['+ChildId+']['+idtrail+']').value;

		
		if(ChildValue == "" || ChildValue == 0)	{
			alert("Enter No Of Questions In Level One");	
			ids.value = "0";
			return false;
		}
		if(SubChildValue == "" || SubChildValue == 0)	{
			alert("Enter No Of Questions In Level Two");	
			ids.value = "0";
			return false;
		}		
		if(curValue>possibleMax){
			alert("Maximum no of questions as "+possibleMax);
			ids.value = "0";
			totalss = eval(totalss)-eval(hiddenid);
			document.getElementById('hidden['+ParentId+']['+ChildId+']['+idtrail+']').value = 0;
			document.getElementById('thirdquestion').value = totalss;
			return false;
		}
	
		if(eval(curValue)>eval(SubChildValue))
		{
			alert("Maximum no of questions are "+possibleMax);
			ids.value = "0";
			document.getElementById('hidden['+ParentId+']['+ChildId+']['+idtrail+']').value = 0;
			return false;
		}
		
		var firsttotal = document.getElementById('percent['+ParentId+']['+ChildId+'][1]').value;
		var secondtotal = document.getElementById('percent['+ParentId+']['+ChildId+'][2]').value;
		var thirdtotal = document.getElementById('percent['+ParentId+']['+ChildId+'][3]').value;
		var total = eval(firsttotal)+eval(secondtotal)+eval(thirdtotal);
		if(eval(SubChildValue) < eval(total))
		{
			alert("More Questions");
			ids.value = "0";
			totalss = eval(totalss)-eval(hiddenid);
			document.getElementById('hidden['+ParentId+']['+ChildId+']['+idtrail+']').value = 0;
			document.getElementById('thirdquestion').value = totalss;
			return false;
		}

		totalss = eval(totalss)+eval(curValue)-eval(hiddenid);
		document.getElementById('thirdquestion').value = totalss;
        
		document.getElementById('hidden['+ParentId+']['+ChildId+']['+idtrail+']').value = curValue;
		
	}
	function validatenumb(num){
		validateNaN(num);
		if(num.value >100){
				alert("Enter Below 100");
				num.value = "0";
				num.focus();
				return false;
			}
		return true;
	}
	function validateNaN(num){
		if(isNaN(num.value)){
			alert("Enter A Number");
			num.value = "0";
			num.focus();			
		}
	}
	</script>
</head>
<body>
<fieldset>
    <legend>TOS Creation</legend>
        <div class="register">
            <div class="profile_tab">
                <form action="<?php echo $this->baseUrl();?>/examination/createexam/createexams/id/<?php echo $this->idbat?>" dojoType="dijit.form.Form" method="POST"  name= "myform">
                          <script type="dojo/method" event="onSubmit">
                if (this.validate()) 
				{
                    var addedqtns = document.getElementById('thirdquestion').value;
                    var totalqtns = document.getElementById('NoOfQuestion').value;
                   		if(eval(addedqtns) == eval(totalqtns))
						    {
                           		return true;
						    }
                   	    else
							{
								alert('The total no of questions are not matching with the added questions');
								return false;

							}
                
                } 
				else 
				{
                    return false;
                }
				</script> 
                         <table width="100%">
							<tr>
							<input type="hidden" name="thirdquestion" id="thirdquestion" value=''>
	                            <th><?php echo $this->translate->_($this->Batch)?><span class="reqMark">*</span></th>
	                            <th><?php echo $this->form->Batch;?></th>
	                            <th><?php echo $this->translate->_("From")?></th>
	                            <th><?php echo $this->form->BatchFrom;?></th>
	                            <th><?php echo $this->translate->_("To")?></th>
	                            <th><?php echo $this->form->BatchTo;?></th>
	                            
                           </tr>

			               <tr>
	                            <th><?php echo $this->translate->_("No Of Questions")?><span class="reqMark">*</span></th>
	                            <th><?php echo $this->form->NoOfQuestion;?></th>
	                            <th><?php echo $this->translate->_("Time")?><span class="reqMark">*</span></th>
	                            <th><?php echo $this->form->ReqTime;?> &nbsp;(Min)</th>
	                            <th><?php echo $this->translate->_("Alert Time")?><span class="reqMark">*</span></th>
	                            <th><?php echo $this->form->AlertTime;?> &nbsp;(Min)</th>
                           </tr>
                            <tr>
	                           
	                           <th><?php echo $this->translate->_("$this->Course")?><span class="reqMark">*</span></th>
	                            <th><?php echo $this->form->Course;?></th>
	                           <th><?php echo $this->translate->_("Active")?><span class="reqMark">*</span></th>
	                            <th><?php echo $this->form->Active;?></th>
	                              <th></th>
	                            <th></th>
                           </tr>
                           
                           <tr>
                            <th id="pa" ><?php echo $this->translate->_("Pass Percentage")?><span class="reqMark">*</span></th>
	                        <th  id="Exe"><?php echo $this->form->Pass;?></th>
	                        <th></th>  
	                         <th></th>  
	                          <th></th>  
	                           <th></th>   
                           </tr>
                           
                           <tr>
                           		<td colspan="6" >
                           			<div id="hiddenMainTable" style="display:none;">
                           					
                           		
                           		</div>
                           		
                           		</td>
                           </tr>
                           <tr>
                           		<td colspan="6" align="right"><?php echo $this->form->Save; ?><a href="#" onclick="javascript:window.location.href='<?php echo $this->baseUrl();?>/examination/createexam'"><?php echo $this->form->Close;?></a></td>
                           </tr>
						</table>
				</form>
			</div>
		</div>
	</fieldset>	
</body>
</html>
