<script type="text/javascript " src="<?php  echo $this->baseUrl();?>/ckeditor/ckeditor.js"></script>
<script src="<?php  echo $this->baseUrl();?>/ckeditor/_samples/sample.js" type="text/javascript"></script>
<link href="<?php  echo $this->baseUrl();?>/ckeditor/_samples/sample.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
//alert(CKEDITOR.version);
var editor;
    CKEDITOR.on( 'instanceReady', function( ev ){
        editor = ev.editor;
		
        //editor.setReadOnly( true );
    });  
	
/*dojo.addOnLoad(function(isReadOnly) {
//alert("fine");
//http://docs.cksource.com/ckeditor_api/symbols/CKEDITOR.editor.html#setReadOnly
  content.setReadOnly(isReadOnly);
//  
});
*/ 
 </script>    
<?php include("ckeditor/ckeditor.php");?>
<fieldset>
    <legend><?php echo $this->translate("Email")." ".$this->translate("Template");?></legend>
	<form dojoType="dijit.form.Form"  id="myform" name="myform" method="post" action="<?php echo $this->baseUrl();?>/general-setup/emailtemplate/edittemplate">
	<script type="text/javascript">
	function fnshowemail()
{
                        document.getElementById('divLogin3').style.display = 'block';
						document.getElementById('divLogin3').style.display = 'block';
						document.getElementById('contentdiv2').style.display = 'block';	

}
function show()
{
                        document.getElementById('divLogin1').style.display = 'block';
						document.getElementById('divLogin2').style.display = 'block';
						document.getElementById('contentdiv1').style.display = 'block';	
}
		function test()
{	
				
			    var flag = confirm("Do you want to test this email template format");					
				if(flag ==true)
				{		
                        document.getElementById('divLogin3').style.display = 'block';
						document.getElementById('divLogin3').style.display = 'block';
						document.getElementById('contentdiv2').style.display = 'block';				    
												
				}
				if(flag ==false)
				{
					   
						
						document.getElementById('divLogin1').style.display = 'block';
						document.getElementById('divLogin2').style.display = 'block';
						document.getElementById('contentdiv1').style.display = 'block';						
						
				}
                if (this.validate()) 
				{
					return true;
                } 
				else 
				{
                    return false;
                }
				if (dojo.byId('content') != null)
			    {
				     var content = dijit.byId('content').attr('value');
		 	         dijit.byId("content1").set('value',content);
			    }
}
				</script>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
    	<tr>
        	<th colspan = "4"><?php echo $this->translate("Email")." ".$this->translate("Template")." ".$this->translate("Details");?></th>
		</tr>
		<?php echo $this->form->idTemplate;?>
        <?php echo $this->form->UpdDate;?>
        <?php echo $this->form->UpdUser;?>						
		<tr>
			<td><?php echo $this->translate("Template")." ".$this->translate("Name");?><span class="reqMark">*</span></td>
            <td><?php  echo $this->form->TemplateName;?></td>
            <td><?php echo $this->translate("Template")." ".$this->translate("From")." ".$this->translate("Description");?><span class="reqMark"></span></td>
            <td><?php echo $this->form->TemplateFromDesc;?></td>
        </tr>
        <tr>
        	<td><?php echo $this->translate("Template")." ".$this->translate("From");?><span class="reqMark">*</span></td>
            <td><?php echo $this->form->TemplateFrom;?></td>
            <td><?php echo $this->translate("Template")." ".$this->translate("Subject");?><span class="reqMark"></span></td>
            <td><?php echo $this->form->TemplateSubject;?></td>
        </tr>
		<tr>                            
        	<td><?php echo $this->translate("Template")." ".$this->translate("Header");?><span class="reqMark"></span></td>
            <td><?php echo $this->form->TemplateHeader;?></td>
            <td><?php echo $this->translate("Template")." ".$this->translate("Footer");?><span class="reqMark"></span></td>
            <td><?php echo $this->form->TemplateFooter;?></td>
        </tr>
        <tr> 
            <td><?php echo $this->translate("Active");?><span class="reqMark">*</span></td>
            <td><?php echo $this->form->Deleteflag;?></td>   
            <td><?php echo $this->translate("Module")." ".$this->translate("Name");?><span class="reqMark">*</span></td>   
            <td><?php echo $this->form->idDefinition;?></td>                                                                    
        </tr>                                                      
	</table>  
        <table class="table" width="90%" >                   
					<tr>
					<td>			
					<div id="content">
					<?php 
				$CKEditor = new CKEditor();
				$config = array();?>
					<?php 
				

				
	  			$CKEditor->editor("TemplateBody","$this->TemplateBody");
	  		?>
					</div> 
					 </td>
					</tr>
                </table>
	<table>
    
    <table align = "right">
    	<tr>
        	<td>
			    	<?php echo $this->form->Save;?>
					<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'general-setup','controller'=>'emailtemplate', 'action'=>'index'),'default',true);?>';" />	
            </td>
        </tr>
    </table>
    <div runat="server" id="divLogin1"  style="display:none; z-index: 153; position: fixed; left: 23%; width: 850px; top:30%">
                <div runat="server" id="divLogin2"  style="display:none; opacity:1.0; z-index: 150; position: relative; left: 0%; height: 100%; width: 100%; top: 0%;"> </div>
					                <div id="scroll" style="height: 600px; width: 100%; overflow:auto;">
					                <asp:Panel runat="server" ID="popupLogin">
					                    <asp:Panel runat="server" ID="popupContent1">
					                        <table style="height: 125px; width: 100%; background-color: #FFFFFF;" border="3" frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">
					                                    	<div id="contentdiv1" style="display:none;">
															 <table align="center">
															 
															  <tr>
															   <td >
			                                                  <input type='button'   dojotype="dijit.form.Button" value='Savewithemail' label="Save with Email" id='Savewithemail' name='Savewithemail' onclick="test();"/></div>
			                                                  <input type='submit'   dojotype="dijit.form.Button" value='Sendwithoutemail' label="Save without Email" id='Sendwithoutmail' name='Sendwithoutmail' /></div>
															  <input type='button' dojotype="dijit.form.Button" label = "Cancel" name="Cancel" id="Cancel" value='Cancel' onclick="window.location.href='<?php echo $this->url(array('module'=>'general-setup','controller'=>'emailtemplate','action'=>'index'),'default',true);?>';" />
				
															 </td>
															 </tr>
															 </table>
															</div>					                                      
					                                   </td>
					                                </tr>
					                                <tr>
					                                    <td colspan="2" align="left">
					                                        <asp:Label ID="lblmandatory" runat="server" Text="* Mandatory Information Required"
					                                            class="LeftLabelStyle" Width="350px" />
					                                    </td>
					                                </tr>
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
                </div>
        </div>   
		
		<div runat="server" id="divLogin3"  style="display:none; z-index: 153; position: fixed; left: 23%; width: 900px; top:30%">
                <div runat="server" id="divLogin4"  style="display:none; opacity:1.0; z-index: 150; position: relative; left: 0%; height: 100%; width: 100%; top: 0%;"> </div>
					                <div id="scroll" style="height: 600px; width: 100%; overflow:auto;">
					                <asp:Panel runat="server" ID="popupLogin">
					                    <asp:Panel runat="server" ID="popupContent1">
					                        <table style="height: 125px; width: 100%; background-color: #FFFFFF;" border="3" frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">
					                                    	<div id="contentdiv2" style="display:none;">
															 <table align="center">
															 <tr>
															 <td >
															   Enter Your Emailid:
															  <?php  echo $this->form->EmailAddress;?></td>
															  </tr>
															  <tr>
															  <td></td>
															  </tr>
															  <tr>
															   <td align="center" >
			                                                  <input type='submit' class="NormalBtn" dojotype="dijit.form.Button" value="Send" label="Send" id="Send" name="Send"  />
			                                                  
															 </td>
															 </tr>
															 </table>
															</div>					                                      
					                                   </td>
					                                </tr>
					                                <tr>
					                                    <td colspan="2" align="left">
					                                        <asp:Label ID="lblmandatory" runat="server" Text="* Mandatory Information Required"
					                                            class="LeftLabelStyle" Width="350px" />
					                                    </td>
					                                </tr>
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
                </div>
        </div>   
	</form>

</fieldset>