<head>
<Script type="text/javascript">
dojo.addOnLoad(function(){
	//examtoDateSetting();
	});
function examtoDateSetting(){ 
	var RegFromDate = dijit.byId('Date3').value;
	var startDate = dijit.byId('Date4');
	var trdat = ""+RegFromDate;
	var d = new Date(trdat); 
	d.setDate(d.getDate());
    var date = d.getDate();
    var month = d.getMonth()+1;
    var year = d.getFullYear();
	
    if(month<10) month = "0"+month;
    if(date<10) date = "0"+date;
    var nextdate = year+'-'+month +'-'+date;
    
	startDate.constraints = dojo.mixin(startDate.constraints, {min: dojo.date.stamp.fromISOString(nextdate)}); 

	var trdat = ""+RegFromDate;
	var d = new Date(trdat); 
	d.setDate(d.getDate() + 30);
    var date = d.getDate();
    var month = d.getMonth()+1;
    var year = d.getFullYear();
	
    if(month<10) month = "0"+month;
    if(date<10) date = "0"+date;
    var nextdate = year+'-'+month +'-'+date;

	startDate.constraints = dojo.mixin(startDate.constraints, {max: dojo.date.stamp.fromISOString(nextdate)}); 
}


function fngetexamcentre(){

	var regFromDate = dijit.byId('ExamfromDate');
	var toDate = dijit.byId('ExamtoDate');
	    var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/reports/excelstudentapplication/fngetcentres/regFromDate/"+regFromDate+"/toDate/"+toDate,
				handleAs:'json',
				load:function(data){ 
					AutoFillNextEditableDropDown("Venues",data);
				}
		   }
		dojo.xhrGet(xhrArgs);
}

function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };
	ddwidget.store = new dojo.data.ItemFileReadStore({ data: options });
}
</Script>		
</head>
<body class='claro'>
<fieldset>
	<legend><?php echo $this->translate("Pull/Push Error").' '.$this->translate("Report");?></legend>
	<div class="search" style="margin-left:20px;">
 		<form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/reports/excelstudentapplication" method="POST" > 
 		  <script type="dojo/method" event="onSubmit">
             if (this.validate()) {
					return true;
                } else {
                    return false;
                }
			</script>
		<table width="100%">				
				<tr>
                    <td><?php echo $this->translate("Exam").' '.$this->translate("From").' '.$this->translate("Date") ?></td>
                    <td><?php echo $this->lobjform->ExamfromDate;?></td>
                    <td><?php echo $this->translate("Exam").' '.$this->translate("To").' '.$this->translate("Date") ?></td>
                    <td><?php echo $this->lobjform->ExamtoDate;?></td>
                </tr>
                <tr>
                    <td><?php echo $this->translate("Applied").' '.$this->translate("From").' '.$this->translate("Date") ?></td>
                    <td><?php echo $this->lobjform->Appliedfrom;?></td>
                    <td><?php echo $this->translate("Applied").' '.$this->translate("To").' '.$this->translate("Date") ?></td>
                    <td><?php echo $this->lobjform->Appliedto;?></td>
                </tr>
                <tr>
					<td><?php echo $this->translate("Student").' '.$this->translate("Name") ?></td>
					<td><?php echo $this->lobjform->Studentname;?></td>
					<td><?php echo $this->translate("IC NO") ?></td>
					<td><?php echo $this->lobjform->ICNO;?></td>
				</tr>
                <tr>
                    <td><?php echo $this->translate("Venue") ?></td>
                    <td><?php echo $this->lobjform->Venues;?></td>
                    <td><?php echo $this->translate("Course").' '.$this->translate("Name") ?></td>
                    <td><?php echo $this->lobjform->Coursename;?></td>
                </tr>
                <tr>
                 <td></td>  
                 <td></td>             
                <td ><?php echo $this->lobjform->Search;?>
					<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Clear"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'reports','controller'=>'excelstudentapplication', 'action'=>'index'),'default',true);?>';" />
				</td>
               </tr>
		</table>
	</form>	
		</div>
	</fieldset> 
<br>
<?php if($this->paginator): ?>
<fieldset>
<form id="myForm1" name = "myform1" action="<?php echo $this->baseUrl();?>/reports/excelstudentapplication/fnpdfexport" method="POST">
    <table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr>
        <th><?php echo $this->translate("Student Name") ?></th>
        <th><?php echo $this->translate("ICNO") ?></th>
        <th><?php echo $this->translate("Course") ?></th>
        <th><?php echo $this->translate("Venue") ?></th>
        <th><?php echo $this->translate("Exam Date") ?></th>
        <th><?php echo $this->translate("Pushed From") ?></th>
        <th><?php echo $this->translate("Result") ?></th>
    </tr>
       <?php if(count($this->paginator)): ?>
	   <?php foreach ($this->paginator as $lobjuser ): ?>
	   <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	  		    <td><?php echo $this->escape($lobjuser['Stuname']);?></td>
	  		    <td><?php echo $this->escape($lobjuser['ICNO']);?></td>
	  		    <td><?php echo $this->escape($lobjuser['ProgramName']);?></td>
	        	<td><?php echo $this->escape($lobjuser['centername']);?></td>
	    	    <td><?php echo $this->escape($lobjuser['examdate']);?></td>
	    		<td><?php echo $this->escape($lobjuser['Pushedfrom']);?></td>
	    		<td><?php echo $this->escape($lobjuser['Result']);?></td>
	   <?php endforeach; ?>
	   <?php endif; ?> 
	</tr>
	<?php if(count($this->paginator)): ?>
	<tr> <input type="hidden" name="ExamfromDate" id="ExamfromDate" value="<?php echo $this->fromdate;?>"> <input type="hidden" name="Coursename" id="Coursename" value="<?php echo $this->cname;?>">
	     <input type="hidden" name="ExamtoDate" id="ExamtoDate" value="<?php echo $this->todate;?>"> <input type="hidden" name="Venues" id="Venues" value="<?php echo $this->venue;?>">
	     <input type="hidden" name="Appliedfrom" id="Appliedfrom" value="<?php echo $this->appfromdate;?>"> <input type="hidden" name="ICNO" id="ICNO" value="<?php echo $this->ICNO;?>">
	     <input type="hidden" name="Appliedto" id="Appliedto" value="<?php echo $this->apptodate;?>"> <input type="hidden" name="Studentname" id="Studentname" value="<?php echo $this->stuname;?>">
	     <td colspan = '7' align="right"><b>TOTAL</b><b> <?php echo $this->lintcount;?> </b>
	 		<input name="Print1" id="Print1" type="submit" dojoType=dijit.form.Button style= "Width=900px" label="<?php echo $this->translate("Export To Excel"); ?>" value=<?php echo $this->translate("Excel");?> >
	 		<input name="Print2" id="Print2" type="submit" dojoType=dijit.form.Button style= "Width=900px" label="<?php echo $this->translate("Print PDF "); ?>" value=<?php echo $this->translate("PDF");?>></td>
	     </td></tr>  <?php endif; ?> 
</table>
</form>
</fieldset>
<?php endif; ?>     
</body>
</html>
