
<head>
<script type="text/javascript">

</script>
</head>
<?php 
if(!$this->failedstudentlist){
?>
	<fieldset>
		<table  width="100%">		
	  	<tr>
	    <td align="center"><a href="<?php echo $this->url(array('module'=>'registrations','controller'=>'takafulstudentdetails', 'action'=>'excelstudents' ,'idcompany'=>$this->idcompany, 'idRegPin'=>$this->regpin),'default',true);?>" ><input type='button' style='width:150px;'  value='Upload Excel File' label='Upload Excel File' border=1/></a></td>
	    <td align="center"><a href="<?php echo $this->url(array('module'=>'registrations','controller'=>'takafulstudentdetails', 'action'=>'manualstudents' ,'idcompany'=>$this->idcompany, 'idRegPin'=>$this->regpin),'default',true);?>" ><input type='button' style='width:150px;' value='Manual Entry' label='Manual Entry' border=1/></a></td>
		</tr>
	  	<tr>
	  		<?php if($this->showshceduler != 0){?>
	    <td align="center"><a href="<?php echo $this->url(array('module'=>'registrations','controller'=>'takafulstudentdetails', 'action'=>'coursevenue' ,'idcompany'=>$this->idcompany, 'registrationpin'=>$this->regpin),'default',true);?>" ><input type='button' value='Schedule' style='width:150px;' label='Schedule' border=1/></a></td>
	    	   <?php }else{?>
		<td align="center"><a  href='#'><input type='button'  value='Schedule' style='width:150px;' label='Schedule' border=1 onclick="dispmessage();"/></a></td>
			<?php }?>
	    <td align="center"><input type="button" id="close" name="close" style='width:150px;' value="Close" onClick="closebox();"></td>
		</tr>
		</table>
	</fieldset>
<?php }else{?>
<fieldset>
	<table  width="100%">	
	<tr>
	<td align="center"><a href='#'><input type='button' style='width:150px;'  value='Upload Excel File' label='Upload Excel File' border=1 onclick="dispmessagefailreg();"/></a></td>
	<td align="center"><a  href='#'><input type='button' style='width:150px;' value='Manual Entry' label='Manual Entry' border=1 onclick="dispmessagefailreg();"/></a></td>
	</tr>
	<tr>		
	<td align="center"><a  href='<?php echo $this->baseUrl()?>/registrations/registrationfailedtakaful/schedulestudents/regpinnum/<?php echo $this->regpin;?>/idcompany/<?php echo $this->idcompany;?>'><input type='button' value='Schedule' style='width:150px;' label='Schedule' border=1/></a></td>	
	<td align="center"><input type="button" id="close" name="close" style='width:150px;' value="Close" onClick="closebox();"></td>
	</tr>
</table>
</fieldset>
<?php }?>