<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
<title></title>
<link rel="stylesheet" type="text/css"  href="<?php  echo $this->baseUrl();?>/js/themes/cupertino/jquery.ui.all.css" />
<script language='javascript' src='<?php  echo $this->baseUrl();?>/js/jquery-1.4.3.js'></script>
<script type="text/javascript">
</script>
</head>
<body  class = "claro"> 
<fieldset>
    <legend><?php echo $this->translate->_("File Uploads");?></legend>
    <form action="" method="POST"  name= "myform"  dojoType="dijit.form.Form"  enctype="multipart/form-data">
        <script type="dojo/method" event="onSubmit">
            if (this.validate()) {
				return true;
            } else {
                return false;
            }
		</script>	
        <table class="table" width="100%" cellpadding="5" cellspacing="1">
          <?php if($this->remspplication>0){?>
          <tr>
              <td><?php echo $this->translate->_("Select Excel File");?><span class="reqMark"></span></td>
              <td ><?php echo $this->lobjUploadfilesForm->FileName;?></td>
              <td>Remaining Applications : <?php echo $this->remspplication;?></td>
         </tr>
         <?php }else{?>    
         <tr>
             <td>Sorry Could not Upload Maximum Number of Application Reached  !!!! </td>
         </tr>  
         <?php }?>     
         </table>
         <table class="table" width="100%" cellpadding="5" cellspacing="1">          
              <tr>
                  <td align = "right">                    	       		
			                 <?php echo $this->lobjUploadfilesForm->Save; ?>
			 				<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'registrations','controller'=>'takafulstudentdetails', 'action'=>'takafulstudentlist','idtakaful'=>$this->idcompany),'default',true);?>';" />	
                  </td>
              </tr>
         </table>
    </form>
</fieldset>
</body>
</html>
