
<head>
<script>
</script>
</head>
<form action="<?php echo $this->baseUrl();?>/registrations/takafulstudentdetails/pdfexport"  dojoType="dijit.form.Form" method="POST">
	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
		
	    	<tr>
	        	<th><?php echo $this->translate("Takaful Name");?></th>	        	
	       	    <th><?php echo $this->translate("Short Name");?></th>
	        	<th><?php echo $this->translate("Address");?></th>
	        	<th><?php echo $this->translate("State");?></th>
	        	<th><?php echo $this->translate("City");?></th>
	        	<th><?php echo $this->translate("Phone");?></th>
	        	<th><?php echo $this->translate("Email");?></th>
	        	<th><?php echo $this->translate("Business Type");?></th>
	    	</tr>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	<td><?php echo $this->escape($this->companydetails['TakafulName']);?></td>	        	
	    	    <td><?php echo $this->escape($this->companydetails['TakafulShortName']);?></td>
	    		<td><?php echo $this->escape($this->companydetails['paddr1']);?></td>
	    		<td><?php echo $this->escape($this->companydetails['StateName']);?></td>
	    		<td><?php echo $this->escape($this->companydetails['CityName']);?></td>
	    		<td><?php echo $this->escape($this->companydetails['workphone']);?></td>
	    		<td><?php echo $this->escape($this->companydetails['email']);?></td>	    		
	    		<td><?php echo $this->escape($this->companydetails['BusinessType']);?></td>
	    		
	           <input type="hidden" name="CompanyName" id="CompanyName" value="<?php echo $this->escape($this->companydetails['TakafulName']);?>">		
			</tr>
		</table>
	</fieldset>


	<fieldset>
	<legend><?php echo $this->translate("Candidate Details");?></legend>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
	    	<tr>
	       	    <th><?php echo $this->translate("Candidate Name");?></th>
	       	    <th><?php echo $this->translate("Registration ID");?></th>
	        	<th><?php echo $this->translate("Date Of Birth(DD-MM-YYYY)");?></th>
	        	<th><?php echo $this->translate("Exam Date(DD-MM-YYYY)");?></th>
	        	<th><?php echo $this->translate("Program");?></th>
	        	<th><?php echo $this->translate("Session");?></th>
	        	<th><?php echo $this->translate("Exam Time");?></th>
	        	<th><?php echo $this->translate("Center");?></th>
	    	</tr>
			<?php $serialno =1;?>
	        <?php foreach ($this->studentdetails as $lobjstudentdetails ): ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	    		<td><?php echo $this->escape($lobjstudentdetails['Candidatename']);?></td>
	    		<td><?php echo $this->escape($lobjstudentdetails['Regid']);?></td>
	    		<td><?php echo $this->escape($lobjstudentdetails['DOB']);?></td>
	    		<td><?php echo $this->escape($lobjstudentdetails['DateTime']);?></td>
	    		<td><?php echo $this->escape($lobjstudentdetails['ProgramName']);?></td>
	    		<td><?php echo $this->escape($lobjstudentdetails['managesessionname']);?></td>
	    		<td><?php echo $this->escape($lobjstudentdetails['starttime']);?></td>
	    		<td><?php echo $this->escape($lobjstudentdetails['centername']);?>
	    		
	    		
	    		<input type="hidden" name="FName[]" id="FName<?php echo $i?>" value="<?php echo $lobjstudentdetails['Candidatename'];?>">			
				<input type="hidden" name="ICNO[]" id="ICNO<?php echo $i?>" value="<?php echo $lobjstudentdetails['ICNO'];?>">
				<input type="hidden" name="Email[]" id="EmailAddress<?php echo $i?>" value="<?php echo $lobjstudentdetails['EmailAddress'];?>">
				<input type="hidden" name="Regid[]" id="Regid<?php echo $i?>" value="<?php echo $lobjstudentdetails['Regid'];?>">
				<input type="hidden" name="ProgramName[]" id="ProgramName<?php echo $i?>" value="<?php echo $lobjstudentdetails['ProgramName'];?>">
				<input type="hidden" name="centername[]" id="centername<?php echo $i?>" value="<?php echo $lobjstudentdetails['centername'];?>">
        		<input type="hidden" name="dateofexam[]" id="dateofexam<?php echo $i?>" value="<?php echo date('d-m-Y',strtotime($lobjstudentdetails['DateTime']));?>">
	    
	    		<input type="hidden" name="examtime[]" id="examtime<?php echo $i?>" value="<?php echo $lobjstudentdetails['starttime'];?>">
	    		
	      <?php 
			if($lobjstudentdetails['pass']==3){ 				
 				$varstatus="Applied";}
 			if($lobjstudentdetails['pass']==1){ 			
 				$varstatus="Pass";}
 			if($lobjstudentdetails['pass']==2){ 				
 				$varstatus="Fail";}				
 				?>
 				<input type="hidden" name="status[]" id="status<?php echo $i?>" value="<?php echo $varstatus;?>">	    		
	    		
	    		</td>
			</tr>
			 <?php endforeach; ?>
		</table>
        <table class="table" width="100%" >
        	<tr>
	            <td colspan=6 align = "right">
	            <input type="submit" class="NormalBtnauto"  dojotype="dijit.form.Button" label="<?php echo $this->translate("Export"); ?>" name="Export" id="Export" value="Export"/>
			 	<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'registrations','controller'=>'takafulstudentdetails', 'action'=>'takafulstudentlist','idtakaful'=>$this->idtakaful),'default',true);?>';" />	
	            </td> 
            </tr>           
        </table>
	</fieldset>
  </form>