<head>
<script language="JavaScript" type="text/javascript">

	function ShowPopup(idcompany,idRegPin) {
		var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/registrations/takafulstudentdetails/candidateregistration/idcompany/"+idcompany+"/idRegPin/"+idRegPin,
				handleAs:'text',
				load:function(data){ 
					document.getElementById('contentdiv').innerHTML = data;
					document.getElementById('divLogin').style.display = 'block';
					document.getElementById('studetls').style.display = 'block';
				}
		   }
		dojo.xhrGet(xhrArgs);
	}

	function dispmessagefailreg(){
    	alert("Sorry Students already Entered Please do Scheduling");
    	return false;    	
    }
	
	function closebox() {
		document.getElementById('contentdiv').innerHTML = "";
		document.getElementById('divLogin').style.display = 'none';
		document.getElementById('studetls').style.display = 'none';
	}

	function dispmessage(){
		alert("Scheduling Is Inactive..Add Candidates For Enabling");
		return false;   	
    }

</script>
</head>

	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
		
	    	<tr>
	        	<th><?php echo $this->translate("Takaful Name");?></th>	        	
	       	    <th><?php echo $this->translate("Short Name");?></th>
	        	<th><?php echo $this->translate("Address");?></th>
	        	<th><?php echo $this->translate("State");?></th>
	        	<th><?php echo $this->translate("City");?></th>
	        	<th><?php echo $this->translate("Phone");?></th>
	        	<th><?php echo $this->translate("Email");?></th>
	        	<th><?php echo $this->translate("Business Type");?></th>
	    	</tr>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	<td><?php echo $this->escape($this->companydetails['TakafulName']);?></td>	        	
	    	    <td><?php echo $this->escape($this->companydetails['TakafulShortName']);?></td>
	    		<td><?php echo $this->escape($this->companydetails['paddr1']);?></td>
	    		<td><?php echo $this->escape($this->companydetails['StateName']);?></td>
	    		<td><?php echo $this->escape($this->companydetails['CityName']);?></td>
	    		<td><?php echo $this->escape($this->companydetails['workphone']);?></td>
	    		<td><?php echo $this->escape($this->companydetails['email']);?></td>
	    		<td><?php echo $this->escape($this->companydetails['BusinessType']);?></td>
	           
			</tr>
		</table>
	</fieldset>


	<fieldset>
	<legend><?php echo $this->translate("Candidates Details");?></legend>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
	    	<tr>
	        	<th><?php echo $this->translate("Sl No");?></th>
	       	    <th><?php echo $this->translate("Time (H-M-S)");?></th>
	        	<th><?php echo $this->translate("Date(DD-MM-YYYY)");?></th>
	        	<th><?php echo $this->translate("Takaful Registration Pin");?></th>
	        	<th><?php echo $this->translate("Payment Mode");?></th>
	        	<th><?php echo $this->translate("Number of Candidates");?></th>
	        	<th colspan="2"><?php echo $this->translate("Status");?></th>
	    	</tr>
			<?php $serialno =1;?>
	        <?php foreach ($this->companyresults as $lobjcompanydetails ): ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	<td><?php echo $serialno++;?><?php echo ")";?></td>
	        	<?php $datetime = explode(" ",$lobjcompanydetails['UpdDate'])?>
	    	    <td><?php echo $datetime[1];?></td>
	    		<td><?php echo  date('d-m-Y',strtotime($datetime[0]));?></td>
	    		<td><?php echo $this->escape($lobjcompanydetails['registrationPin']);?></td>
	    		<?php 
	    			$modpayment="";
	    		 if($lobjcompanydetails['ModeofPayment'] == 2 ){
	    			$modpayment="PayPal";    			
	    		}else if ($lobjcompanydetails['ModeofPayment']==1){
	    			$modpayment="FPX";
	    		}else if($lobjcompanydetails['ModeofPayment']==4){
	    			$modpayment="Cheque";
	    		}else if ($lobjcompanydetails['ModeofPayment']==181){
	    			$modpayment="Pay Later";
	    		}?>
	    		
	    		<td><?php echo $modpayment;?></td>
	    		<td><?php echo $this->escape($lobjcompanydetails['totalNoofCandidates']);?></td>
	    		<?php if($lobjcompanydetails['paymentStatus'] == '0') { ?>
	    			<td><?php echo $this->translate("Payment Not Done");?></td>
	    			<td><?php if($lobjcompanydetails['ModeofPayment'] == 2 ) {?>
	    			<a href="<?php echo $this->url(array('module'=>'finance','controller'=>'paymenttakaful','action'=>'index','idtakaful'=>$this->idtakaful),'default',true);?>">Pay Now</a>
	    			<?php }?>
	    			<?php if($lobjcompanydetails['ModeofPayment'] == 4 ) {?>
	    			<a href="<?php echo $this->url(array('module'=>'finance','controller'=>'takafulpayment',
	    			 'action'=>'takafulpaymentedit' ,'lvaredit'=>$lobjcompanydetails['idBatchRegistration'],'idtakaful'=>$this->idtakaful),'default',true);?>">Pay Now</a>
	    			<?php }?>
	    			
	    			</td>
	    		<?php } elseif($lobjcompanydetails['paymentStatus'] == '1') { ?>
	        		<td><a href="#"  onClick='ShowPopup("<?php echo $lobjcompanydetails['idtakafuloperator']; ?>","<?php echo $lobjcompanydetails['registrationPin']; ?>")'><?php echo $this->translate("Candidate Registration");?></a></td><td></td>
	    		<?php } elseif($lobjcompanydetails['paymentStatus'] == '2') { ?>
	        		<td><a href="<?php echo $this->url(array('module'=>'registrations','controller'=>'takafulstudentdetails', 'action'=>'studentsregistered' ,'idtakaful'=>$lobjcompanydetails['idtakafuloperator'], 'idRegPin'=>$lobjcompanydetails['registrationPin']),'default',true);?>" ><?php echo $this->translate("Registration Completed");?></a></td><td></td>
	    		<?php } ?>
			</tr>
			 <?php endforeach; ?>
		</table>
        <table class="table" width="100%" >
        	<tr>
	            <td colspan=6 align = "right">
			 	<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'registrations','controller'=>'takafulstudentdetails', 'action'=>'index'),'default',true);?>';" />	
	            </td> 
            </tr>           
        </table>
			<div runat="server" id="divLogin"  style="display:none; z-index: 153; position: absolute; left: 30%; width: 650px; top: 200px;">
							                <asp:Panel runat="server" ID="popupLogin">
							                    <asp:Panel runat="server" ID="popupContent1">
							                        <table style="height: 125px; width: 100%; background-color: #FFFFFF;" border="3"   frame="box">
							                            <tbody>
							                                <tr>
							                                    <td align="right">
							                                    	<div id="contentdiv"></div>
							                                      
							                                   </td>
							                                </tr>
							                            </tbody>
							                        </table>
							                    </asp:Panel>
							                </asp:Panel>
							            </div>
		<div runat="server" id="studetls" style="display:none; opacity:0.4; z-index: 150; position: absolute; left: 0%; height: 100%; width: 100%; top: 0%;">
		
		<asp:Panel >
							                    <asp:Panel  >
							                        <table style="height: 100%; width: 100%; background-color: #000000;" border="3"   frame="box">
							                            <tbody>
							                                <tr>
							                                    <td align="right">							                                    	
							                                      
							                                   </td>
							                                </tr>
							                               
							                            </tbody>
							                        </table>
							                    </asp:Panel>
							                </asp:Panel>
		</div>	
        
	</fieldset>
