
<head>
<script>
dojo.addOnLoad(function(){
	dijit.byId('field3').focus();	
	});
</script>
</head>

<fieldset>
<legend><?php echo $this->translate->_("Takaful Payment Terms Search");?></legend>
<form id="initconfigForm" name="form1" method="post" action="<?php echo $this->baseUrl();?>/finance/takafultypepayment/index/search/1">
	    	<table width="100%">	    		
      			<tr>
      			
         			<td class="label"><?php echo $this->translate->_("Takaful Name")?></td>
        			<td><?php echo $this->lobjform->field3?></td>	        	
      			</tr>		   
		      	  <tr>
	               <td align = "center" colspan = "4">
						<?php echo $this->lobjform->Search;?>
						<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Add"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'finance','controller'=>'takafultypepayment', 'action'=>'takafultypepaymentadd'),'default',true);?>';" />
						<?php echo $this->lobjform->Clear;?>
				   </td>
				   </tr>      	
	        </table>		
</form>
</fieldset>
<br />
<fieldset>
  	<table class="table" width="100%" cellpadding="5" cellspacing="1">
		<thead>
    		<tr>
				<th><?php echo $this->translate->_("Takaful Name");?></th>
				<th>Contact Person</th>
			    <th>Payment Terms</th>
			   
									
    		</tr>
    	</thead>
    	<?php  if (count($this->paginator)): ?>    	
    	<tbody>       	            
            <?php   foreach ($this->paginator as $lobjcategory ): // ($this->accountdetails as $lobjcategory ): ?>
            <tr>  
          		<td><a href="<?php echo $this->url(array('module'=>'finance','controller'=>'takafultypepayment', 'action'=>'takafultypepaymentedit' , 'lvaredit'=>$lobjcategory['idtakafulpaymenttype']),'default',true);?>" ><?php  echo $lobjcategory['TakafulName'];?></a></td>
          		<td><?php  echo $lobjcategory['ContactName'];?></td>
          		<td><?php  echo $lobjcategory['DefinitionDesc'];?></td>
          		
          		
     		</tr>
     		<?php  endforeach; ?>
     		 <?php  endif; ?>
     	</tbody>		
     		<tr>
	        	
   			</tr>
      </table>
   </fieldset> 
   </html>
