<html>
<head>

</head>
<body class="claro">            
	
	<?php if($this->mess){?>
	
	<fieldset>
	<legend><?php echo $this->translate->_("Takaful Operator Payment Details");?></legend>
		 <form dojoType="dijit.form.Form"  id="myFormform" action="" method="post"  name= "myFormform" >
			<?php echo $this->mess;?>	
	    	   <table class="table" width="100%" >
                    	
                   
                       <td></td>
                       <td></td>
                       <td></td>        
					   <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("ok"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'finance','controller'=>'companypayment', 'action'=>'index'),'default',true);?>';" />	
                       </td> 
                    </tr>       
            </table>	
            	
		</form>
	</fieldset>
	<?php }else {?>
	
	
		<fieldset >
	<legend><?php echo $this->translate->_("Takaful Operator Payment Terms");?></legend>
		 <form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm" >
			<script type="dojo/method" event="onSubmit" >
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>	
			
			
		  
		
	    	   <table class="table" width="100%" >
                    	<tr>
                          <th colspan = "4"><?php echo $this->translate("Takaful Operator Payment Details");?></th>
                     </tr>
                    <tr>         							                        
         			  <td><?php echo $this->translate->_("Takaful Operator Name")?><span class="reqMark">*</span></td>
        			  <td><?php echo $this->lobjTakafultypepaymentForm->idtakafuloperator;?></td>
        			   <td><?php echo $this->translate->_("Payment Terms")?><span class="reqMark">*</span></td>
        			  <td><?php echo $this->lobjTakafultypepaymentForm->paymenttype;?></td>
        			  <?php echo $this->lobjTakafultypepaymentForm->upddate;?>
        			  <?php echo $this->lobjTakafultypepaymentForm->upduser;?>
        			</tr> 
        			
        			
        			<tr>
                       <td></td>
                       <td></td>
                       <td></td>        
                       <td align = "right"><?php echo $this->lobjTakafultypepaymentForm->Save;?>
					   <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'finance','controller'=>'companytypepayment', 'action'=>'index','ids'=>'4'),'default',true);?>';" />	
                       </td> 
                    </tr>       
            </table>	
            	
		</form>
	</fieldset>
	<?php }?>
</body>
</html>
          