<head>
<body class='claro'>
<fieldset>
	<legend><?php echo $this->translate("Attendance List").' '.$this->translate("Report");?></legend>
	<div class="search" style="margin-left:20px;">
 		<form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/reports/attendancelist" method="POST" > 
		<table width="100%">				
				<tr>
                    <td><?php echo $this->translate("Exam").' '.$this->translate("From").' '.$this->translate("Date") ?></td>
                    <td><?php echo $this->lobjform->Date3;?></td>
                    <td><?php echo $this->translate("Exam").' '.$this->translate("To").' '.$this->translate("Date") ?></td>
                    <td><?php echo $this->lobjform->Date4;?></td>
                </tr>
                <tr>
                    <td><?php echo $this->translate("Venue") ?></td>
                    <td><?php echo $this->lobjform->Venues;?></td>
                    <td><?php echo $this->translate("Course").' '.$this->translate("Name") ?></td>
                    <td><?php echo $this->lobjform->Coursename;?></td>
                </tr>
                <tr>
                 <td></td>  
                 <td></td>             
               <td ><?php echo $this->lobjform->Search;?>
					<?php echo $this->lobjform->Clear;?>
				</td>
               </tr>
		</table>
	</form>	
		</div>
	</fieldset> 
<br>
<?php $cnts =0; if ($this->fromdate): ?>
<fieldset>
 <?php $centerarray = array();
 $sumarray = array();?>
    <table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr>
        <th><?php echo $this->translate("Exam Date") ?></th>
        <th><?php echo $this->translate("Venue") ?></th>
        <th><?php echo $this->translate("Course") ?></th>
        <th><?php echo $this->translate("Applied") ?></th>
        <th><?php echo $this->translate("Sitted") ?></th>
        <th><?php echo $this->translate("Absent") ?></th>
        <th><?php echo $this->translate("Pass") ?></th>
        <th><?php echo $this->translate("Fail") ?></th>
    </tr>
        <?php if (count($this->paginator)): ?>
        <?php foreach ($this->paginator as $lobjCountry ):?>
        
    <tr>
    <?php
    if(!in_array($lobjCountry['Date'],$centerarray) && $cnts != 0){?>
     <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
        <td></td>
        <td></td>
        <td><b>TOTAL DATEWISE</b></td>
        <td><b><?php echo $sumarray['applied'][$datesss];?></b></td>
        <td><b><?php echo $sumarray['sitted'][$datesss];?></b></td>
        <td><b><?php echo $sumarray['absent'][$datesss];?></b></td>
        <td><b><?php echo $sumarray['pass'][$datesss];?></b></td>
        <td><b><?php echo $sumarray['fail'][$datesss];?></b></td>
     </tr>
    <?php     
    }    
    	$cnts =1;    
    ?>
    <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
       <td>
      
         	<?php if(!in_array($lobjCountry['Date'],$centerarray)){
				$centerarray[] = $lobjCountry['Date'];		
				$centerarrays[$lobjCountry['Date']] = array();
				print_r($this->escape($lobjCountry['Date']));
				
				$datesss = $lobjCountry['Date'];
				
				$sumarray['applied'][$lobjCountry['Date']] = 0;
		    	$sumarray['sitted'][$lobjCountry['Date']]  = 0;
		    	$sumarray['absent'][$lobjCountry['Date']]  = 0;
		    	$sumarray['pass'][$lobjCountry['Date']]    = 0;
		    	$sumarray['fail'][$lobjCountry['Date']]    = 0;
				
			}
				$sumarray['applied'][$lobjCountry['Date']] = $sumarray['applied'][$lobjCountry['Date']] + $lobjCountry['applied'];
				$sumarray['sitted'][$lobjCountry['Date']] = $sumarray['sitted'][$lobjCountry['Date']] + $lobjCountry['sitted'];
				$sumarray['absent'][$lobjCountry['Date']] = $sumarray['absent'][$lobjCountry['Date']] + $lobjCountry['absent'];
				$sumarray['pass'][$lobjCountry['Date']] = $sumarray['pass'][$lobjCountry['Date']] + $lobjCountry['pass'];
				$sumarray['fail'][$lobjCountry['Date']] = $sumarray['fail'][$lobjCountry['Date']] + $lobjCountry['fail'];
			?>
        </td> 
        <td>
			<?php if(!in_array($lobjCountry['Venue'],$centerarrays[$lobjCountry['Date']])){
					$centerarrays[$lobjCountry['Date']][] = $lobjCountry['Venue'];
					 print_r($this->escape($lobjCountry['Venue']));
			}?>
	    </td>  
		       <td><?php print_r($this->escape($lobjCountry['Course']));?></td> 
		       <td><?php print_r($this->escape($lobjCountry['applied']));?></td> 
		       <td><?php print_r($this->escape($lobjCountry['sitted']));?></td> 
		       <td><?php print_r($this->escape($lobjCountry['absent']));?></td> 
		       <td><?php print_r($this->escape($lobjCountry['pass']));?></td> 
		       <td><?php print_r($this->escape($lobjCountry['fail']));?></td>    
    </tr>
     <?php endforeach; ?>
     <?php endif;
     ?>
     <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        <td></td>
	        <td></td>
	        <td><b>TOTAL DATEWISE</b></td>
	        <td><b><?php echo $sumarray['applied'][$datesss];?></b></td>
	        <td><b><?php echo $sumarray['sitted'][$datesss];?></b></td>
	        <td><b><?php echo $sumarray['absent'][$datesss];?></b></td>
	        <td><b><?php echo $sumarray['pass'][$datesss];?></b></td>
	        <td><b><?php echo $sumarray['fail'][$datesss];?></b></td>
     </tr>
     <tr><td colspan = '8'>&nbsp;</td></tr>
    <tr>
	         <td></td>
	         <td></td>
			 <td><b> <?php print_r($this->escape($this->total));?> </b></td>
			 <td><b><?php print_r($this->escape($this->appliedsum));?></b></td>
			 <td><b><?php print_r($this->escape($this->sittedsum));?></b></td>
			 <td><b><?php print_r($this->escape($this->absentsum));?></b></td>
			 <td><b><?php print_r($this->escape($this->passsum));?></b></td>
			 <td><b><?php print_r($this->escape($this->failsum));?></b></td>
   </tr>
 <tr>
	 <td colspan="12" align="right"><input name="Print" id="Print" type="Button" class="NormalBtn" dojoType=dijit.form.Button label = <?php echo $this->translate("Print");?> value=<?php echo $this->translate("Print");?> onclick="window.location.href='<?php echo $this->url(array('module'=>'reports','controller'=>'attendancelist','action'=>'pdfexport','fromdate'=>$this->fromdate,'todate'=>$this->todate,'cname'=>$this->cname,'venue'=>$this->venue),'default',true);?>';" ></td>
 </tr>
</table>
</fieldset>
<?php endif; ?>     
</body>
</html>
