<html>
<head>
<script>
dojo.addOnLoad(function(){
	
	});
</script>
</head>
<body class='claro'>
<fieldset>
	<legend><?php echo $this->translate("Examresult Stastics").' '.$this->translate("Report");?></legend>
<?php if ($this->searchdate): ?>
<fieldset>
<form id="myForm1" name = "myform1" action="<?php echo $this->baseUrl();?>/reports/examresultstastics/fnexportexcel" method="POST">
     <table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr >
        <th><?php echo $this->translate(" ");?></th>
        <th align ="center" colspan = 7><b><?php echo $this->translate("$this->month").' '.$this->translate("$this->year");?></b></th>
    </tr> 
     <tr>
        <th align ="center"><b><?php echo $this->translate("Examcategory/Result")?></b></td>
        <th align ="center" colspan = 3><b><?php echo $this->translate("Pass/Grade")?></b></th>
        <th align ="center" colspan = 1><b><?php echo $this->translate("Fail")?></b></th>
        <th align ="center" ><b><?php echo $this->translate("Absent")?></b></th>
        <th align ="center" ><b><?php echo $this->translate("Total")?></b></th>
     </tr>
     <tr>
        <th align ="center"><b></b></td>
        <th align ="center"><b><?php echo $this->translate("A")?></b></th>
        <th align ="center"><b><?php echo $this->translate("B")?></b></th>
        <th align ="center"><b><?php echo $this->translate("C")?></b></th>
        <th align ="center"><b><?php echo $this->translate("")?></b></th>
        <th align ="center"><b><?php echo $this->translate("")?></b></th>
        <th align ="center"><b></b></th>
     </tr>
      <?php  $lobjCountry = $this->larrracescount;?>
      <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>"><input type="hidden" name="selmonth" id="selmonth" value="<?php echo $this->month.'_'.$this->year;?>"></td>
      <td><b><?php echo "Part A and B";?></b></td>
      <td><?php echo $lobjCountry['ABGradeA'];?><input type="hidden" name="PartABGradeA" id="PartABGradeA" value="<?php echo $lobjCountry['ABGradeA'];?>"></td>
      <td><?php echo $lobjCountry['ABGradeB'];?><input type="hidden" name="PartABGradeB" id="PartABGradeB" value="<?php echo $lobjCountry['ABGradeB'];?>"></td>
      <td><?php echo $lobjCountry['ABGradeC'];?><input type="hidden" name="PartABGradeC" id="PartABGradeC" value="<?php echo $lobjCountry['ABGradeC'];?>"></td>
      <td><?php echo $lobjCountry['ABGradeF'];?><input type="hidden" name="PartABGradeF" id="PartABGradeC" value="<?php echo $lobjCountry['ABGradeF'];?>"></td>
      <td><?php echo $lobjCountry['ABGradeAbsent'];?><input type="hidden" name="PartABAbsent" id="PartABAbsent" value="<?php echo $lobjCountry['ABGradeAbsent'];?>"></td>
      <td><?php echo $lobjCountry['PartABtotal'];?><input type="hidden" name="PartABtotal" id="PartABtotal" value="<?php echo $lobjCountry['PartABtotal'];?>"></td>
      </tr>
      <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
      <td><b><?php echo "Part A and C";?></b></td>
      <td><?php echo $lobjCountry['ACGradeA'];?><input type="hidden" name="PartACGradeA" id="msat" value="<?php echo $lobjCountry['ACGradeA'];?>"></td>
      <td><?php echo $lobjCountry['ACGradeB'];?><input type="hidden" name="PartACGradeB" id="isat" value="<?php echo $lobjCountry['ACGradeB'];?>"></td>
      <td><?php echo $lobjCountry['ACGradeC'];?><input type="hidden" name="PartACGradeC" id="csat" value="<?php echo $lobjCountry['ACGradeC'];?>"></td>
      <td><?php echo $lobjCountry['ACGradeF'];?><input type="hidden" name="PartACGradeF" id="osat" value="<?php echo $lobjCountry['ACGradeF'];?>"></td>
      <td><?php echo $lobjCountry['ACGradeAbsent'];?><input type="hidden" name="PartACAbsent" id="PartACAbsent" value="<?php echo $lobjCountry['ACGradeAbsent'];?>"></td>
      <td><?php echo $lobjCountry['PartACtotal'];?><input type="hidden" name="PartACtotal" id="PartACtotal" value="<?php echo $lobjCountry['PartACtotal'];?>"></td>
      </tr>
      <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
      <td><b><?php echo " Part B  ";?></b></td>
      <td><?php echo $lobjCountry['BGradeA'];?><input type="hidden" name="PartBGradeA" id="PartBGradeA" value="<?php echo $lobjCountry['BGradeA'];?>"></td>
      <td><?php echo $lobjCountry['BGradeB'];?><input type="hidden" name="PartBGradeB" id="PartBGradeB" value="<?php echo $lobjCountry['BGradeB'];?>"></td>
      <td><?php echo $lobjCountry['BGradeC'];?><input type="hidden" name="PartBGradeC" id="PartBGradeC" value="<?php echo $lobjCountry['BGradeC'];?>"></td>
      <td><?php echo $lobjCountry['BGradeF'];?><input type="hidden" name="PartBGradeF" id="PartBGradeF" value="<?php echo $lobjCountry['BGradeF'];?>"></td>
      <td><?php echo $lobjCountry['BGradeAbsent'];?><input type="hidden" name="PartBAbsent" id="PartBAbsent" value="<?php echo $lobjCountry['BGradeAbsent'];?>"></td>
      <td><?php echo $lobjCountry['PartBtotal'];?><input type="hidden" name="PartBTotal" id="PartBTotal" value="<?php echo $lobjCountry['PartBtotal'];?>"></td>
      </tr>
      <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
      <td><b><?php echo "Part C ";?></b></td>
      <td><?php echo $lobjCountry['CGradeA'];?><input type="hidden" name="PartCGradeA" id="PartCGradeA" value="<?php echo $lobjCountry['CGradeA'];?>"></td>
      <td><?php echo $lobjCountry['CGradeB'];?><input type="hidden" name="PartCGradeB" id="PartCGradeB" value="<?php echo $lobjCountry['CGradeB'];?>"></td>
      <td><?php echo $lobjCountry['CGradeC'];?><input type="hidden" name="PartCGradeC" id="PartCGradeC" value="<?php echo $lobjCountry['CGradeC'];?>"></td>
      <td><?php echo $lobjCountry['CGradeF'];?><input type="hidden" name="PartCGradeF" id="PartCGradeF" value="<?php  echo $lobjCountry['CGradeF'];?>"></td>
      <td><?php echo $lobjCountry['CGradeAbsent'];?><input type="hidden" name="PartCAbsent" id="PartCAbsent" value="<?php echo $lobjCountry['CGradeAbsent'];?>"></td>
      <td><?php echo $lobjCountry['PartCtotal'];?><input type="hidden" name="PartCtotal" id="PartCtotal" value="<?php echo $lobjCountry['PartCtotal'];?>"></td>
      </tr>
      <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	  <td colspan="7" align="right"><?php echo $this->lobjform->ExportToExcel?>
	  <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'reports','controller'=>'statistics', 'action'=>'index'),'default',true);?>';" />
      </tr>
      </table>
        </form>
</fieldset> 
<?php endif; ?>
</form>
</body>
</html>
