<head>
<script type="text/javascript">
dojo.addOnLoad(function(){
	 dojo.require("dijit.form.TimeTextBox");

	 showingstarttime();
		

	});

function showingstarttime()
{
	dat = "<?php echo $this->StartTime;?>";
	var totallooop = "<?php echo $this->totalloop;?>";

	for(i=0;i<totallooop;i++)
	{
		new dijit.form.TimeTextBox({
		    name: "ScheduleStartTime["+i+"]",
		    value:new Date(dat),
		    constraints: {
		        timePattern: 'HH:mm',
		        clickableIncrement: 'T00:15',
		        visibleIncrement: 'T00:15',
		        visibleRange: 'T01:00'
		    }
		},
		"ScheduleStartTime"+i);
	}
	
	 //alert(dat);

}
function fnhidetr(date)
{
	
	var allchecked = (document.getElementById('All'+date).checked);
	if(allchecked==true)
	{
		document.getElementById(date).style.display='none';
		document.getElementById('Select'+date).checked = false;
	}
	
	
	
	
}
function fnshowtr(date)
{
	var selectedchecked = (document.getElementById('Select'+date).checked);
	if(selectedchecked==true)
	{
		document.getElementById(date).style.display='';
		document.getElementById('All'+date).checked = false;
	}
	
}
</script>
</head>
<body >
	 <form dojoType="dijit.form.Form"  id="myForms" action="" method="post"  name= "myForms" >
<script type="dojo/method" event="onSubmit">
                              if (this.validate()) {
					  return true;
                } else {
                    return false;
                }
				</script>
 <fieldset>
	<legend><?php echo $this->translate("Chrone Push");?></legend>
<table class="table" width="100%" cellpadding="5" cellspacing="1">
	 <tr>
	  <td>Exam From Date</td>
	  <td><?php echo $this->lobjAutochronepushForm->FromDate;?></td>
	  <td>Exam From Date</td>
	  <td><?php echo $this->lobjAutochronepushForm->ToDate;?></td>
	 </tr>
	 	 <tr>
	  <td colspan="2"></td>
	  <td><?php echo $this->lobjAutochronepushForm->Search;?></td>
	  <td></td>
	  <td></td>
	 </tr>
</table>
 	
<table class="table" width="100%" cellpadding="5" cellspacing="1">
	 <tr>
	   <th width="40%">Exam Date</th>
	   <th width="10%">All Venues</th>
	   <th width="10%">Selected Venues</th>
	   <th width="20%">Scheduling Date</th>
	   <th width="20%">Scheduling Time</th>
	 </tr>
	 
	 <?php $larrexamdates = $this->examdatelist;
	      for($i=0;$i<count($larrexamdates);$i++){?>
	<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	<?php  $lobjAutochronepushmodel = new Examination_Model_Autochronepush();
	        $larresultdate = $lobjAutochronepushmodel->dateformats($larrexamdates[$i]['date']);
	        ?>
					<td><?php  echo $larresultdate['examdate'];?></td>
					<td><input type="checkbox" name="allvenues[]" id="All<?php echo $larrexamdates[$i]['date'];?>" value="All<?php echo $larrexamdates[$i]['date'];?>" checked="checked" onclick="fnhidetr('<?php echo $larrexamdates[$i]['date'];?>')"></td>
					<td><input type="checkbox" name="selectvenues[]" id="Select<?php echo $larrexamdates[$i]['date'];?>" value="Select<?php echo $larrexamdates[$i]['date'];?>" onclick="fnshowtr('<?php echo $larrexamdates[$i]['date'];?>')"></td>
				    <td><?php  echo $larresultdate['examdate'];?></td>
				     <td><input id="ScheduleStartTime<?php echo $i;?>" name="SchedulerStartTime[]" value=""/></td>
				    

	</tr>
	
	 <?php
	 		$larresults = $lobjAutochronepushmodel->fngetvenuelist($larrexamdates[$i]['date']);
	 		$examdates = $larrexamdates[$i]['date'];?>

	 <tr id="<?php echo $larrexamdates[$i]['date']?>" style="display:none">
	    
	         <td>
	            <table width="100%">
				    <?php  for($j=0;$j<count($larresults);$j++)
					{
						$centername = $larresults[$j]['centername'];
						$idcenter = $larresults[$j]['idcenter'];
						
						$larresultvenuedetails = $lobjAutochronepushmodel->fngetvenuestatus($idcenter,$examdates);
						$cnt = count($larresultvenuedetails);
				
						
						 if($cnt >1){?>
						<?php if($larresultvenuedetails['Status']==0){?>
						  <tr>
						          <td style="color: #0000FF"><?php echo $centername;?></td>
						          <td style="color: #0000FF">Added to Chrone</td>
						  </tr>
						  <?php } else if($larresultvenuedetails['Status']==1){?>
						  <tr>
						          <td style="color:#088A29"><?php echo $centername;?></td>
						          <td style="color:#088A29">Pushed to Local</td>
						  </tr>
						  <?php }else if($larresultvenuedetails['Status']==2){?>
						  <tr>
						          <td style="color: #FF0000"><?php echo $centername;?></td>
						          <td style="color: #FF0000"><?php echo "Not Updated because of some issue";?></td>
						  </tr>
						  <?php }
						  
					} else{?>
						  <tr>
								  <td><input type="checkbox" name=centerids[] value="<?php echo $idcenter.'**'.$examdates;?>"></td>
						          <td><?php echo $centername;?></td>
						  </tr>
						  <?php }?>
						  
					<?php }//end of the above for looop?>
	              
	            </table>
	        </td>
	  </tr>
	
<?php }?>
		 	
  <tr>
	  <?php $schedulerdates = $this->schedulerdates;$totalcount = count($schedulerdates);
	   for($j=0;$j<$totalcount;$j++){?>
	   
   <td><input type="hidden" id="datetime<?php $j?>" name="datetime[]" value="<?php echo $schedulerdates[$j];?>"></td>



<?php }?>
	</tr> 
	  <tr>
           <td colspan="5" align="right">	  <input type='submit' class="NormalBtn" dojotype="dijit.form.Button" label = "<?php echo $this->translate('Save')?>" value='Add' id="Add" name="Add" /></td>
           </tr>
	 
	</table>
	
	
	</fieldset>

</form>
</body>
