<font color="#20b2aa" size="2"><strong>Entry Requirements</strong></font><br /><br />
Entry Requirements <br /><ul><li>Malaysian Citizen</li></ul><ul><li>Aged 18 and above</li></ul>
Minimum SPM/MCE qualification/certificate or equivalent (recognized by MTA)<br />
Note : MTA reserves the right to make changes to the entry requirement as and when necessary.<br /><br />
<font color="#20b2aa" size="2"><strong>Exceptions</strong></font><br /><br />Exemption will be granted to candidates who have obtained the following qualifications:<br /><br /><ul><li>Islamic Financial Planner (IFP)</li></ul><ul><li>Shariah Registered Financial Planner (Shariah RFP)</li></ul><font face="Arial"><br />Note: <br /><br /><ul><li><font face="Arial">Exemption will be granted ONLY after MTA received and approved the exemption application provided presented together with IFP or Shariah RFP certificate.</li></ul><ul><li>Exemption Application form is available at MTA.</li></ul><ul><li>For any other equivalent and recognized qualification, you are advised to apply to MTA.</li></ul> 	                                       
			 	                                       
			