<p>Introduction<p> </p>Effective April 2012, IBFIM has been mandated by the Malaysian Takaful Association to conduct the TBE.<br /><br />The TBE is an entry qualification for all those who intend to be a 
registered takaful agent in the financial services industry promoting 
takaful products and services. 
<br /><br />It is a compulsory qualification to enhance the competency and professionalism of takaful agents.<br />
<br /><p>




	
	


</p>





<p>
<b>The General Takaful Agents</b> 
</p>
<ul><li>
	<div>
	Are governed by the code of ethics for takaful Intermediaries drawn up by Malaysian Takaful Association (MTA) 
	</div>
	</li><li>
	<div>
	Are required to pass the TBE and complete a <b>minimum of 20 hours training per year</b> for Continuous Professional Development (CPD); and 
	</div>
	</li><li>
	<div>
	Potential agents must comply with the minimum standards of disclosure 
requirements issued by Bank Negara Malaysia which, among others, require
 agents at the point of sale, to explain to potential customers on the 
main features of the product being marketed, details of commissions 
paid, and procedures on claims and complaints.<br />
	</div>
	</li></ul>
<p>
<b>The Family Takaful Agents</b><br />
</p>
<ul><li>
	<div>
	Are governed by the code of ethics for takaful Intermediaries drawn up by Malaysian Takaful Association (MTA) 
	</div>
	</li><li>
	<div>
	Are required to pass the TBE and complete a <b>minimum of 30 hours training per year</b> for Continuous Professional Development (CPD); and 
	</div>
	</li><li>
	<div>
	Agents are required to adhere to the minimum standards for proper 
advice issued by Bank Negara Malaysia which requires agents to obtain 
adequate information about potential customers. This will enable an 
agent to analyse a potential customer’s personal and financial 
circumstances and identify his financial needs and priorities so that a 
suitable and affordable takaful product can be recommended. 
	</div>
	</li></ul>


</span> 	                                       
			 	                                       
			 	                                       
		                                       
			 	                                       
			 	                                       
			 	                                       
			 	                                       
			 	                                       
			