<?php
//get locale
$registry = Zend_Registry::getInstance();
$locale = $registry->get('Zend_Locale');
$this->locale = $locale->toString();

if($locale == 'ar_YE'){
	$this->direction = "rtl";
	$this->float = "right";
	$locale = 'ar';
}else{
	$this->direction = "ltr";
	$this->float = "left";
	$locale = 'en';
}
$lobjinitialconfigModel = new GeneralSetup_Model_DbTable_Initialconfiguration(); 
$larrInitialSettings = $lobjinitialconfigModel->fnGetInitialConfigDetails(1);
$this->College = empty($larrInitialSettings['CollegeAliasName']) ? "College":$larrInitialSettings['CollegeAliasName'];
$this->Department =  empty($larrInitialSettings['DepartmentAliasName']) ? "Department":$larrInitialSettings['DepartmentAliasName'];
$this->Subject = empty($larrInitialSettings['SubjectAliasName']) ? "Subject":$larrInitialSettings['SubjectAliasName'];
$this->Course = empty($larrInitialSettings['CourseAliasName']) ? "Course":$larrInitialSettings['CourseAliasName'];
$this->Program = empty($larrInitialSettings['ProgramAliasName']) ? "Program":$larrInitialSettings['ProgramAliasName'];
$this->Branch = empty($larrInitialSettings['BranchAliasName']) ? "Branch":$larrInitialSettings['BranchAliasName'];
$this->Center = empty($larrInitialSettings['CenterAliasName']) ? "Center":$larrInitialSettings['CenterAliasName'];
?>
<?  echo $this->doctype(); ?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xml:lang="<?php echo $this->locale; ?>"
	dir="<?php echo $this->direction; ?>">
<head>

<!-- ///////////////////////// DOJO ////////////////////////// -->
<script type="text/javascript" src="<?php  echo $this->baseUrl();?>/js/dojo/dojo/dojo.js" djConfig="parseOnLoad: true,locale:'<?php echo $locale;?>'"></script>
<script type="text/javascript" src="<?php  echo $this->baseUrl();?>/js/dojo/dojo/nls/dojo_<?php echo $locale;?>.js"></script>
<link rel="stylesheet" type="text/css" href="<?php  echo $this->baseUrl();?>/js/dojo/dijit/themes/claro/claro.css" />
<link rel="stylesheet" type="text/css" href="<?php  echo $this->baseUrl();?>/js/dojo/dojo/resources/dojo.css" />

<!-- ///////////////////////// DOJO ////////////////////////// -->

<?php echo $this->headMeta(); ?>
<?php echo $this->headTitle(); ?>
<?php echo $this->headLink()->prependStylesheet('http://www.takafuleexam.com/tbe/scripts/style.css'); ?>
<?php echo $this->headLink()->prependStylesheet('http://www.takafuleexam.com/tbe/scripts/default.css'); ?>
<?php echo $this->headLink()->prependStylesheet('http://www.takafuleexam.com/tbe/scripts/nivo-slider.css'); ?>
<?php echo $this->headLink()->prependStylesheet('http://www.takafuleexam.com/tbe/scripts/jq_style.css'); ?>
   
    
<?php
if($this->direction == 'rtl'){
	echo "<style>";
	echo "ul.potato-menu li.potato-menu-item {
	 				float:right;
				}";
	echo "#language{
	 				left:10px;
	 			}";

	echo "#appTitle{
	 				left: 15px;
					top: 25px;
	 			}";

	echo "#main-content{
						margin-right: 200px;
				}";

	echo "div.toolbar-button {
				float:left;
				text-align: left;
				}";

	echo "</style>";
}
//else{
//	echo "<style>";
//	echo "ul.potato-menu li.potato-menu-item {
//	 				float:left;
//				}";
//	echo "#language{
//	 				right:10px;
//	 			}";
//
//	echo "#appTitle{
//	 				right: 15px;
//					top: 25px;
//	 			}";
//
//	echo "#main-content{
//						margin-left: 200px;
//				}";
//
//	echo "div.toolbar-button {
//				float:right;
//				text-align: right;
//				}";
//
//	echo "</style>";
//}

?>

<script type="text/javascript">

</script>
<script type="text/javascript" src="http://www.takafuleexam.com/tbe/script/jquery-1.6.1.min.js"></script>
<script type="text/javascript" src="http://www.takafuleexam.com/tbe/script/jquery.nivo.slider.pack.js"></script>
<script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
</script>
    
    
</head>
<body >
	
<div id="container">

    <div id="header">
     <a href="#" id="logo" tittle="logo ibfim" class="replace"><span>IBFIM</span></a>
    </div>
    
    
<?php echo $this->layout()->content; ?>

<div id="footer">
    
    
    
    
    <p>Copyright &copy; IBFIM 2012, All Rights Reserved.
Best viewed with Mozilla Firefox 9 and above</p>
    </div>
    <div id="manageby"><a href=""><img src="http://www.takafuleexam.com/tbe/images-web-new/manage-by.png" /></a></div>
    <!--<div id="contact">Contact us: 03-2031 1010 <span class="lsep">|</span> tbe@ibfim.com / www.takafuleexam.com</div>-->
</div>

</body>
</html>
