<script type="text/javascript">

	dojo.addOnLoad(function() {

	});


	function fnGetCountryStateList(idCountry){ 
		if(idCountry != "" || idCountry != undefined)
			{ 
				var xhrArgs = {
						url: "<?php echo $this->baseUrl();?>"+"/general-setup/user/getcountrystateslist/idCountry/"+idCountry,
						handleAs:'json',
						load:function(data){ 
							AutoFillNextEditableDropDown("IdState",data); 
						}
				   }
				dojo.xhrGet(xhrArgs); 
			} 
		} 
			
		function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
			dijit.byId(EditableDropDownId).setValue("");
			var ddwidget = dijit.byId(EditableDropDownId);
			ddwidget.setAttribute('disabled', false);
	    	var options = {
						label:"name",
						identifier:"key",
						items:JSONText
					  };
	    	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
		}	
</script> 
<fieldset>
    <legend><?php echo $this->translate("Company").' '.$this->translate("Master");?></legend>
    
                <Form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">
                <script type="dojo/method" event="onSubmit">
               if (this.validate()) {
pass=document.getElementById("Password").value;
conpass=document.getElementById("ConPassword").value;
	  if(pass==conpass){
			return true;
			}
		else{
	alert("Password and Confirm Password Fields Are Not Matching");
return false;	
	}
	
} else {
	return false;}
				</script>
                    <table class="table" width="100%" >
                        <tr>
                            <th colspan = "4"><?php echo $this->translate("COMPANY").' '.$this->translate("DETAILS");?></th>
                        </tr>
                        <tr>
                            <td ><?php echo $this->translate("Company").' '.$this->translate("Name");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjTakafuloperatorForm->CompanyName;?>
                            	<?php echo $this->lobjTakafuloperatorForm->IdCompany;?>
                            	<?php echo $this->lobjTakafuloperatorForm->UpdDate;?>
                            	<?php echo $this->lobjTakafuloperatorForm->UpdUser;?></td>
                            <td ><?php echo $this->translate("Company").' '.$this->translate("short").' '.$this->translate("Name");?><span class="reqMark"></span></td>
                            <td  ><?php echo $this->lobjTakafuloperatorForm->ShortName;?></td>
                        </tr>
                     
                      <tr> 
                              <td ><?php echo $this->translate("Registration").' '.$this->translate("No");?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjTakafuloperatorForm->RegistrationNo;?></td>
                          <td ><?php echo $this->translate("Address");?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjTakafuloperatorForm->Address;?></td>

                       </tr>
                       <tr>
                           <td ><?php echo $this->translate("City");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjTakafuloperatorForm->City;?></td>
                             <td ><?php echo $this->translate("Post").' '.$this->translate("Code");?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjTakafuloperatorForm->Postcode;?></td>    
                        </tr>
                       
                        <tr> 
                           <td ><?php echo $this->translate("Country");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjTakafuloperatorForm->IdCountry;?></td>
                            <td ><?php echo $this->translate("State");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjTakafuloperatorForm->IdState;?></td>
                           
                        </tr>
                        <tr> 
                           
                            <td ><?php echo $this->translate("Telephone").' '.$this->translate("No.1");?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjTakafuloperatorForm->Phone1;?></td>
                             <td ><?php echo $this->translate("Telephone").' '.$this->translate("No.2");?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjTakafuloperatorForm->Phone2;?></td>
                           
                       
                        </tr>
                        
                         <tr>				
						<td><?php echo $this->translate("E-mail");?><span class="reqMark"></span></td>
						<td><?php echo $this->lobjTakafuloperatorForm->Email;?></td>
						<td><?php echo $this->translate("Alternate").' '.$this->translate("E-mail");?><span class="reqMark"></span></td>
						<td><?php echo $this->lobjTakafuloperatorForm->AltEmail;?></td>
					</tr>	
					<tr>				
							<td><?php echo $this->translate("Fax No");?><span class="reqMark"></span></td>
						<td><?php echo $this->lobjTakafuloperatorForm->Fax;?></td>	
					     <td><?php echo $this->translate("Contact").' '.$this->translate("Person");?><span class="reqMark"></span></td>
						<td><?php echo $this->lobjTakafuloperatorForm->ContactPerson;?></td>
					
					</tr>	
					 <tr>
                            <th colspan = "4"><?php echo $this->translate("Login Details");?></th>
                        </tr>	
						<tr>						
							
						<td><?php echo $this->translate("Login ID");?><span class="reqMark"></span></td>
						<td><?php echo $this->lobjTakafuloperatorForm->Login;?></td>
						</tr>
						<tr>
						<td><?php echo $this->translate("Password");?><span class="reqMark"></span></td>
						<td><?php echo $this->lobjTakafuloperatorForm->Password;?></td>
					</tr>	
						<tr>						
						<td><?php echo $this->translate("Confirm Password");?><span class="reqMark"></span></td>
						<td><?php echo $this->lobjTakafuloperatorForm->ConPassword;?></td>
						
					</tr>	
               			<tr>
                            <td colspan=4 align = "right"><?php echo $this->lobjTakafuloperatorForm->Save;?>
							<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'batch-reg','controller'=>'companymaster', 'action'=>'index'),'default',true);?>';" />	
                            </td> 
                               
                        </tr>           
                        
              </table>
            
            </Form>

</fieldset>
