
<head>
<script>
dojo.addOnLoad(function(){
	dijit.byId('field3').focus();	
	});

function checkAll(){
 	nodes = dojo.query('[name=\"IDApplication[]\"]');
 	if(document.getElementById('IDApplication').checked == true) {		 
 		
 		dojo.forEach(nodes,
 		    function(node)
 		    {
 		        dijit.getEnclosingWidget(node).set("checked",true);
 		    }
 		);
 	}
 	else {	
 		dojo.forEach(nodes,
 			    function(node)
 			    {
 			        dijit.getEnclosingWidget(node).set("checked",false);
 			    }
 			);
 	}
 }

function validateform(){
	 var n = <?php echo $this->countcomp;?>;
	 //alert(n);
	 flgs = 0;	 
	 for(i=1;i<=n;i++){
		 
		if(document.getElementById("IDApplication"+i).checked) 
			flgs	=	1;
		
	 }		
	 if( flgs == 0){
	    alert('Please Select Atleast One Student');		
	     return false;
	 }
	 else{
	   return true;
	 }
} 

</script>
</head>
<form dojoType="dijit.form.Form"  id="initconfigForm" name="form1" method="post" action="<?php echo $this->baseUrl();?>/registrations/studentapproval/index/search/1">
<fieldset>
<legend><?php echo $this->translate->_("Student Approval");?></legend>
	    	<table    width="100%">	    		
      			<tr>
      			
         			<td class="label"><?php echo $this->translate->_("Student Name")?></td>
        			<td><?php echo $this->lobjform->field3?></td>
        			<td class="label"><?php echo $this->translate->_("ICNO")?></td>
        			<td><?php echo $this->lobjform->field4?></td>		 
        				        	
      			</tr>		   
		      	  <tr>
	               <td align = "center" colspan = "4">
						<?php echo $this->lobjform->Search;?>
						<?php echo $this->lobjform->Clear;?>
				   </td>
				   </tr>      	
	        </table>		

</fieldset>

<fieldset>
 
  	<table class="table" width="100%" cellpadding="5" cellspacing="1">
		
    		<tr>
    		    <th><input type="checkbox" dojoType="dijit.form.CheckBox" name="IDApplication" onClick="checkAll();" id="IDApplication"></th>
				<th><?php echo $this->translate->_("Student Name");?></th>		
				<th><?php echo $this->translate->_("IC number");?></th>			
				<th><?php echo $this->translate->_("$this->Course");?></th>	
				<th><?php echo $this->translate->_("Venue");?></th>
				<th><?php echo $this->translate->_("Exam Session");?></th>
				<th><?php echo $this->translate->_("Exam Date");?></th>						
    		</tr>
    	
    	<?php  if (count($this->paginator)):  $cnnt = 0; ?>    	
    	<tbody>       	            
            <?php   foreach ($this->paginator as $lobjcategory ): $cnnt++ ?>
            <tr>  
             <td><input type="checkbox" dojoType="dijit.form.CheckBox" name="IDApplication[]" value="<?php echo $this->escape($lobjcategory['IDApplication']);?>" id="IDApplication<?php echo $cnnt;?>"</td>
          		<td><a href="<?php  echo $this->url(array('module'=>'registrations','controller'=>'studentapproval', 'action'=>'studentapprovallist' , 'lvaredit'=>$lobjcategory['IDApplication']),'default',true);?>"><?php  echo $lobjcategory['FName'];?></a></td>
          		<td><?php  echo $lobjcategory['ICNO'];?></td>
          		<td><?php  echo $lobjcategory['ProgramName'];?></td>
          		<td><?php  echo $lobjcategory['centername'];?></td>
		<td><?php  echo $lobjcategory['managesessionname'];?></td>
          		<td><?php echo $this->escape($lobjcategory['Examdate'].'-'.$lobjcategory['Exammonth'].'-'.$lobjcategory['Years'])?></td>
     		</tr>
     		<?php  endforeach; ?>
     		 <?php  endif; ?>
     	</tbody>		
     		<td colspan="8" align="right">  
				 <input type="submit" class="NormalBtn" dojotype="dijit.form.Button" id="Approve" name="Approve" value="Approve" label="<?php echo $this->translate("Approve");?>" onClick="return validateform();"/>
		
		   
																		   
		</td>
      </table>
      </form>
   </fieldset> 
   
   </html>
