
<fieldset>
 <legend><?php echo $this->translate("Bank");?></legend>
<form action="<?php echo $this->baseUrl();?>/general-setup/bank/index/search/1" method="POST">
<table width="100%">
	<tr>
     	<td><?php echo $this->translate('Bank Name');?></td>
     	<td><?php echo $this->lobjform->field3;?></td>
     	<td><?php echo $this->translate('Email');?></td>
     	<td><?php echo $this->lobjform->field2;?></td>
    </tr>
    <tr>
    	<td><?php echo $this->translate("Active")?></td>
     	<td><?php echo $this->lobjform->field7;?></td>
    </tr>
   <tr>
	     <td align = "center" colspan = "4">
		<?php echo $this->lobjform->Search;?>
		<input type='button' class="NormalBtn" dojotype="dijit.form.Button" label = "<?php echo $this->translate('Add')?>" value='click' onclick="window.location.href='<?php echo $this->url(array('module'=>'general-setup','controller'=>'bank', 'action'=>'newbank'),'default',true);?>';" />	
		<?php echo $this->lobjform->Clear;?>
		</td>
    </tr>
</table>
</form>	
</fieldset> 
<br>
<!--  Grid Display -->       
<fieldset>
<table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr>
        <th><?php echo $this->translate("Bank Name")?></th>
        <th><?php echo $this->translate("Address")?></th>
        <!--<th><?php echo $this->translate("Email")?></th>
        --></tr>
        <?php if (count($this->paginator)): ?>
        <?php foreach ($this->paginator as $bank ): ?>
     <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
   		<td><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'bank', 'action'=>'banklist' , 'id'=>$bank['IdBank']),'default',true);?>" ><?php print_r($this->escape($bank['BankName']));?></a></td>
    	<td><?php echo $this->escape($bank['BankAdd1']);?></td>
    	<!--<td><?php echo $this->escape($bank['Email']);?></td>-->
    	<?php endforeach; ?>
        <?php endif; ?>
    </tr>
    <tr>
	  <td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   </tr>
</table>
</fieldset>      
</br>