
<head>
<script>
dojo.addOnLoad(function(){
	dijit.byId('field3').focus();	
	});
</script>
</head>

<fieldset>
<legend><?php echo $this->translate->_("Takafulpayment Search");?></legend>
<form id="initconfigForm" name="form1" method="post" action="<?php echo $this->baseUrl();?>/finance/takafulpayment/index/search/1">
	    	<table width="100%">	    		
      			<tr>     			
         			<td class="label"><?php echo $this->translate->_("Takaful Name")?></td>
        			<td><?php echo $this->lobjform->field3?></td>	        	
      			</tr>	
      			<tr>
      			
         			<td class="label"><?php echo $this->translate->_("Applied From Date")?></td>
        			<td><?php echo $this->lobjform->RegFromDate?></td>
        			
         			<td class="label"><?php echo $this->translate->_("Applied To Date")?></td>
        			<td><?php echo $this->lobjform->RegToDate?></td>	        	
      			</tr>	   	   
		      	  <tr>
	               <td align = "center" colspan = "4">
						<?php echo $this->lobjform->Search;?>
						<?php echo $this->lobjform->Clear;?>
				   </td>
				   </tr>      	
	        </table>		
</form>
</fieldset>
<br />
<?php  if (count($this->paginator)): ?> 
<fieldset>
  	<table class="table" width="100%" cellpadding="5" cellspacing="1">
		<thead>
    		<tr>
				<th><?php echo $this->translate->_("Takaful Name");?></th>	
				<th><?php echo $this->translate->_("Contact Person");?></th>	
				<th><?php echo $this->translate->_("Email");?></th>	
				<th><?php echo $this->translate->_("Number Of Candidates");?></th>	
				 <th><?php echo $this->translate->_("Applied Date");?></th>		
				
																	
    		</tr>
    	</thead>
    	   	
    	<tbody>       	            
            <?php   foreach ($this->paginator as $lobjcategory ): // ($this->accountdetails as $lobjcategory ): ?>
            <tr>  
          		<td><a href="<?php echo $this->url(array('module'=>'finance','controller'=>'takafulpayment', 'action'=>'takafulpaymentedit' , 'lvaredit'=>$lobjcategory['IDApplication']),'default',true);?>" ><?php  echo $lobjcategory['TakafulName'];?></a></td>
          		  <td><?php  echo $lobjcategory['ContactName'];?></td>      		           	
          		  <td><?php  echo $lobjcategory['ContactEmail'];?></td>
          		  <td><?php  echo $lobjcategory['totalNoofCandidates'];?></td>  
          		  <td><?php echo date('d-m-Y',strtotime($lobjcategory['applied']));?></td>    		           	
          		 
     		</tr>
     		<?php  endforeach; ?>
     		 
     	</tbody>		
     		<tr>
	        	<td colspan="8" align="right"><div class="pagination"><?php  echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>
      </table>
   </fieldset> 
   <?php  endif; ?>
   </html>
