<fieldset>
	<legend><?php echo $this->translate("Session").' '.$this->translate("Search");?></legend>
                    <form action="<?php echo $this->baseUrl();?>/scheduler/managesession/index/search/1" method="POST">
                            <table width="100%">
                                <tr>
                                    <td><?php echo $this->translate("Session").' '.$this->translate("Name");?></td>
                                    <td><?php echo $this->lobjform->field3;?></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td ><?php echo $this->translate("Active");?></td>
                                    <td ><?php echo $this->lobjform->field7;?></td>
                                </tr>
                                <tr>
                                <td align = "center" colspan = "4">

											<?php echo $this->lobjform->Search;?>
											<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Add"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'scheduler','controller'=>'managesession', 'action'=>'newsession'),'default',true);?>';" />	
											<?php echo $this->lobjform->Clear;?>
								</td>
							    
                                </tr>
                        </table>
                    </form>	
    </fieldset> 
    <br/>
    <?php if (count($this->paginator)): ?>
	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
	    	<tr>
	        	<th><?php echo $this->translate("Session").' '.$this->translate("Name");?></th>
	        	<th><?php echo $this->translate("Start").' '.$this->translate("Time");?></th>
	        	<th><?php echo $this->translate("End").' '.$this->translate("Time");?></th>
	        	<th><?php echo $this->translate("Status");?></th>
	    	</tr>
	        
	        <?php foreach ($this->paginator as $lobjprogram): ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	<td><a href="<?php echo $this->baseUrl();?>/scheduler/managesession/editsession/id/<?php echo $this->escape($lobjprogram['idmangesession']);?>" ><?php print_r($this->escape($lobjprogram['managesessionname']));?></a></td>
	        	<td><?php print_r($this->escape($lobjprogram['starttime']));?></td>
	        	<td><?php print_r($this->escape($lobjprogram['endtime']));?></td>
	        	<td><?php  if($lobjprogram['active'] == 1) echo "Active"; else echo "Inactive";?></div></td>  
	           
	           
			</tr>
			 <?php endforeach; ?>
				<tr>
	        	<td colspan="8" align="right"><div class="pagination"><?php  echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>
		</table>
	</fieldset>
	 <?php endif; ?> 
