
<script type="text/javascript">
    dojo.require("dijit.form.TimeTextBox");
    dojo.addOnLoad(function() {
    
        new dijit.form.TimeTextBox({
            name: "starttime",
            value: new Date(),
            constraints: {
                timePattern: 'HH:mm:ss',
                clickableIncrement: 'T00:15:00',
                visibleIncrement: 'T00:15:00',
                visibleRange: 'T01:00:00'
            }
        },
        "starttime");
        new dijit.form.TimeTextBox({
            name: "endtime",
            value: new Date(),
            constraints: {
                timePattern: 'HH:mm:ss',
                clickableIncrement: 'T00:15:00',
                visibleIncrement: 'T00:15:00',
                visibleRange: 'T01:00:00'
            }
        },
        "endtime");
       
       
    });
    function duplicatesessionname(sessionname)
	{   
		//alert(sessionname);
		if(sessionname!='')
		{  
			var xhrArgs = { 
 							url: "<?php echo $this->baseUrl();?>"+"/scheduler/managesession/fnajaxgetsessionname/sessionname/"+sessionname,
 							handleAs:'text',
 							load:function(data)
 							{ 
 							 if(data == '')
							  {
							  }
							 else
							  {
								 alert(data);
								 dijit.byId("managesessionname").setValue('');
								 dijit.byId("managesessionname").focus();
							  }
 			                }
 	                      }
 	         dojo.xhrGet(xhrArgs);
         }
	}	
</script>
</script> 
<fieldset>
    <legend><?php echo $this->translate("Exam Session");?></legend>
    
                <Form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">
                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
                 var from = document.getElementById('starttime').value;
                var to =document.getElementById('endtime').value;
                if(to<from)
                {
                    alert('To time cannot ge greater than from time');
                    return false;
                }
					return true;
                } else {
                    return false;
                }
				</script>
                    <table class="table" width="100%" >
                        <tr>
                            <th colspan = "4"><?php echo $this->translate("New Session").' '.$this->translate("Details");?></th>
                        </tr>
                        <tr>
                            <td ><?php echo $this->translate("Session").' '.$this->translate("Name");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjprogramForm->managesessionname;?>
                            	<?php echo $this->lobjprogramForm->UpdDate;?>
                            	<?php echo $this->lobjprogramForm->UpdUser;?></td>
                        </tr>
                         <tr>
                        	<td><?php echo $this->translate("Start").' '.$this->translate("Time");?><span class="reqMark">*</span></td>
                            <td><input id="starttime"/></td>
                            </tr>
                            <tr>
                            <td><?php echo $this->translate("End").' '.$this->translate("Time");?><span class="reqMark">*</span></td>
                            <td><input id="endtime"/></td>
                        </tr>
                         <tr>
                            <td><?php echo $this->translate("Active");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjprogramForm->active;?></td>
                        </tr>
						<tr>
                            <td><?php echo $this->translate("Enable In-house");?><span class="reqMark">*</span></td>
                            <td><input type="checkbox"  name="Inhouse" id="Inhouse" class="NormalBtn" dojotype="dijit.form.CheckBox"  /></td>
                        </tr>
               			<tr>
                            <td colspan=4 align = "right"><?php echo $this->lobjprogramForm->Save;?>
							<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'scheduler','controller'=>'managesession', 'action'=>'index'),'default',true);?>';" />	
                            </td> 
                               
                        </tr>           
                        
              </table>
            
            </Form>

</fieldset>
