<html>
<head>
<script>
dojo.addOnLoad(function()
		       {
	              dijit.byId('field2').focus();	
	           }
	          );
	          

function fnCloseLyteBox()
{
	if(dijit.byId("field28").value==''){
	    dijit.byId("field28").attr('required','true');
		dijit.byId("field28").focus();
		flag = false;
	}
}
</script>
</head>
<body class="claro">
	<fieldset>
	<legend><?php echo "Create Answer Paper";?></legend>
        <form action="<?php echo $this->baseUrl();?>/examination/createanswerpaper/index/search/1" method="POST" dojoType="dijit.form.Form"  id="myForm"  name= "myForm">
            <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					  return true;
                } else {
                    return false;
                }
				</script>
      <table width="100%">
                <tr>
                   <td><?php echo "Student Name";?></td>
                   <td ><?php echo $this->lobjform->field2;?></td>  
                   <td><?php echo "IdApplication";?></td>
                   <td><?php echo $this->lobjform->field3;?></td>                  
                </tr> 
                <tr>
                   <td><?php  echo "Program Name";?></td>
                   <td><?php echo $this->lobjform->field1;?></td>  
                   <td><?php  echo "Venue";?></td>
                   <td><?php  echo $this->lobjform->field5;?></td>                  
                </tr> 
                <tr>
                   <td><?php  echo "Exam Date(dd-mm-yyyy)";?></td>
                   <td><?php echo $this->lobjform->field10;?></td>  
                   <td><?php  echo "Applied Date(dd-mm-yyyy)";?></td>
                   <td><?php  echo $this->lobjform->field11;?></td>                  
                </tr>   
                <tr>
                   <td><?php  echo "With Description";?></td>
                   <td><?php echo $this->lobjform->Active;?></td>
                   <td><?php  echo "With Question Id ";?></td>
                   <td><?php echo $this->lobjform->DescActive;?></td>
                </tr>   	
                <tr>
                 <td></td>               
              	 <td align = "center" colspan = "2">
                    <?php echo $this->lobjform->Search;?>
					<?php echo $this->lobjform->Clear;?>
					</td>
               </tr>
       </table>
       </fieldset>
      <?php   if (count($this->larrresult)): ?>
       <br>
       <fieldset>       
    <table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr>
        <th><?php echo $this->translate("Student Name") ?></th>
        <th><?php echo $this->translate("IdApplication") ?></th>
        <th><?php echo $this->translate("Course Name") ?></th>
        <th><?php echo $this->translate("Venue") ?></th>
        <th><?php echo $this->translate("Exam Date") ?></th>
        <th><?php echo $this->translate("Applied Date") ?></th>
        <th><?php echo $this->translate("Marks Scored") ?></th>
        <th></th>
    </tr>
        
       
      
       
  <?php foreach ($this->larrresult as $lobjCountry ): ?>
    <tr>
    <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
         <td><?php print_r($this->escape($lobjCountry['Studentname']));?></td>
         <td><?php print_r($this->escape($lobjCountry['IDApplication']));?></td>
         <td><?php print_r($this->escape($lobjCountry['Programname']));?></td>
         <td><?php print_r($this->escape($lobjCountry['Venue']));?></td> 
         <td><?php print_r($this->escape($lobjCountry['ExamDate']));?></td>
         <td><?php print_r($this->escape($lobjCountry['ApplicationDate']));?></td>
         <td><?php print_r($this->escape($lobjCountry['Marksscored']));?></td> 
         <td><a href="<?php echo $this->url(array('module'=>'examination','controller'=>'createanswerpaper', 'action'=>'pdfexport' ,'Active'=>$this->checkEmpty,'id'=>$lobjCountry['IDApplication']),'default',true);?>" ><?php print_r($this->escape("Print"));?></a></td>   
     <?php endforeach; ?>
     
                
    </tr>
  
</table>
</fieldset>   
<?php endif; ?>  
</body>
</html>























