<script>   

dojo.addOnLoad(function(){
	examtoDateSetting();
	//fillvenue();
	  });
	  
function examtoDateSetting(){ 
	var RegFromDate = dijit.byId('FromDate').value;	
	var startDate = dijit.byId('ToDate');
	var trdat = ""+RegFromDate;
	var d = new Date(trdat); 
	d.setDate(d.getDate());
    var date = d.getDate();
    var month = d.getMonth()+1;
    var year = d.getFullYear();
	
    if(month<10) month = "0"+month;
    if(date<10) date = "0"+date;
    var nextdate = year+'-'+month +'-'+date;
    
	startDate.constraints = dojo.mixin(startDate.constraints, {min: dojo.date.stamp.fromISOString(nextdate)}); 

	var trdat = ""+RegFromDate;
	var d = new Date(trdat); 
	d.setDate(d.getDate() + 15);
    var date = d.getDate();
    var month = d.getMonth()+1;
    var year = d.getFullYear();
	
    if(month<10) month = "0"+month;
    if(date<10) date = "0"+date;
    var nextdate = year+'-'+month +'-'+date;

	startDate.constraints = dojo.mixin(startDate.constraints, {max: dojo.date.stamp.fromISOString(nextdate)}); 
}


function fillvenue(){
	var fromdate = dijit.byId('FromDate');	
	var todate = dijit.byId('ToDate');	
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/examination/venuedetails/fngetallvenue/fromdate/"+fromdate+"/todate/"+todate,
			handleAs:'json',
			load:function(data){ 
				AutoFillNextEditableDropDown("Venue",data); 
			}
	   }
	dojo.xhrGet(xhrArgs);

	function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
		dijit.byId(EditableDropDownId).setValue("");
		var ddwidget = dijit.byId(EditableDropDownId);
		ddwidget.setAttribute('disabled', false);
		var options = {
					label:"name",
					identifier:"key",
					items:JSONText
				  };
		ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
	}
} 	
</script>

<fieldset>
<legend><?php echo $this->translate->_("Upload Files");?></legend>
<!--  Search Forms -->
<div class="search" style="margin-left:20px;">
<form action="<?php echo $this->baseUrl();?>/examination/venuedetails/index/search/1" method="POST" name="" >
<table width="100%">
	<tr>
     	<td class="label"><?php echo $this->translate('From Date');?></td>
     	<td><?php echo $this->lobjVenuedetailsForm->FromDate;?></td>
     	<td class="label"><?php echo $this->translate('To DAte');?></td>
     	<td><?php echo $this->lobjVenuedetailsForm->ToDate;?></td>
    </tr>
    <tr>
     	<td class="label"><?php echo $this->translate('From Date');?></td>
     	<td><?php echo $this->lobjVenuedetailsForm->Venue;?></td>
     	<td></td>
     	<td></td>
    </tr>
   
    
    <tr>
    	<td colspan="4" align="center">

		    	<?php echo $this->lobjVenuedetailsForm->Search;?>
		    	 <input name="Clear" id="Clear" type="Clear"   class="NormalBtn" dojoType=dijit.form.Button label = <?php echo $this->translate("Clear");?> value=<?php echo $this->translate("Clear");?> onclick="window.location.href='<?php echo $this->url(array('module'=>'examination','controller'=>'venuedetails', 'action'=>'index'),'default',true);?>';" >

	
                                    
        </td>
	</tr>
</table>
</form>	
</div>
</fieldset> 
     <br> 
<fieldset>
<table class="table" width="100%" cellpadding="5" cellspacing="1">
	    	<tr>
	        	<th><?php echo $this->translate("Exam Date")?></th>
	        		<th><?php echo $this->translate("Session")?></th>
	        		<th><?php echo $this->translate("Program")?></th>
	        		<th><?php echo $this->translate("Applied")?></th>
	        			<th><?php echo $this->translate("Registered")?></th>
                  	<th><?php echo $this->translate("Seat count")?></th>
	        		<th><?php echo $this->translate("Pending")?></th>	
	        	
	    	</tr>
	        <?php $datearray = array(); $sessionarray=array();$lobjprogram=$this->totalresult;?>
	        <?php for($i=0;$i<count($this->totalresult);$i++) {?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next();$sessionname = $lobjprogram[$i]['managesessionname'];$dates = date('d-m-Y',strtotime($lobjprogram[$i]['date']))?>">
	        	
	            	<td>
	            	<?php if(!in_array($dates,$datearray))
	            	        {
				              $datearray[] = $dates;$cnnt++ ;
				              print_r($this->escape($dates));
				              
	        	            }?>
	        	    </td>
	                <td><?php print_r($this->escape($lobjprogram[$i]['managesessionname']));?></td>
	                
	                
	                <?php $lobjvenuedetails = new Examination_Model_Venuedetails();?>
                    <?php $larrresultprograms = $lobjvenuedetails->fnGetprogramsforsession($lobjprogram[$i]['idvenue'],$lobjprogram[$i]['date'],$lobjprogram[$i]['idsession']);?>
                     <?php $larrresultregistered = $lobjvenuedetails->fnGetpaidstudentsforprograms($lobjprogram[$i]['idvenue'],$lobjprogram[$i]['date'],$lobjprogram[$i]['idsession']);?>
                    <?php //print_r($larrresultprograms);
                    //die();?>
		         
		            <td>
		            <table>
		                       
		                       <?php for($j=0;$j<count($larrresultprograms);$j++) {?>
		                       <tr>
		                       <td><?php echo $larrresultprograms[$j]['ProgramName']?></td>
		                       </tr>
		                       
		                       <?php }?>
		                       
		                       
		            </table>
		            </td>
		              <td>
		            <table>
		                       
		                       <?php for($j=0;$j<count($larrresultprograms);$j++) {?>
		                       <tr>
		                       <td><?php echo $larrresultprograms[$j]['count(c.idapplication)']?></td>
		                       </tr>
		                       
		                       <?php }?>
		                       
		                       
		            </table>
		            </td>
		             <td>
		             <table>
		                       <?php if(count($larrresultregistered)>0){?>
		                       <?php for($k=0;$k<count($larrresultregistered);$k++) {?>
		                       <tr>
		                       <td><?php echo $larrresultregistered[$k]['Registered']?></td>
		                       
								</tr>
		                       
		                       <?php }?>
		                       <?php } else{?>
		                       <td><?php echo "0"?></td>
		                       <?php }?>
		                       
		                       
		            </table>
		            
	         	</tr>
	         	<tr>
	         	<th colspan="3" align='right'>Total</th>
	         	<th><?php print_r($this->escape($lobjprogram[$i]['Allotedseats']));?></th>
	         	 	<th></th>
	         	 	 	<th><?php print_r($this->escape($lobjprogram[$i]['Totalcapacity']));?></th>
	         	 	 		<th><?php print_r($this->escape($lobjprogram[$i]['Totalcapacity'])-($lobjprogram[$i]['Allotedseats']));?></th>
	         	</tr>
	         	
	            <?php }?>
	          
	           
	          
			
			
			<tr>
	        	
   			</tr>
   			
		</table>
		
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
		<tr><th colspan="3">Date Which has not been occupied</th></tr>
	    	<tr>
	        	<th><?php echo $this->translate("Exam Date")?></th>
	        		<th><?php echo $this->translate("Session")?></th>
	        			<th><?php echo $this->translate("Alloted Seats")?></th>

	        			
	        	
	    	</tr>
	        <?php if (count($this->totalemptyresult)): ?>
	        <?php foreach ($this->totalemptyresult as $lobjprogram): ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next();$dates = date('d-m-Y',strtotime($lobjprogram['date']))?>">
	        	
	          
	            	<td><?php echo date('d-m-Y',strtotime($lobjprogram['date']))?></td>
	            	<td><?php print_r($this->escape($lobjprogram['managesessionname']));?></td>
	            		<td><?php echo "0";?></td>
	            			
					 
	         	</tr>
	         	
	         	<tr>
	         	<th></th>
	         		<th></th>
	         	<th>Total Capacity:<?php print_r($this->escape($lobjprogram['Totalcapacity']));?></th>
	         	</tr>
	            <?php endforeach; ?>
	          
	           
	            <?php endif; ?> 
		
			
			
			<tr>
	        	
   			</tr>
		</table>
		
</fieldset>     
 