
<head>
<script>
dojo.addOnLoad(function(){
	dijit.byId('field3').focus();	
	});

function checkAll(){
 	nodes = dojo.query('[name=\"registrationPin[]\"]');
 	if(document.getElementById('registrationPin').checked == true) {		 
 		
 		dojo.forEach(nodes,
 		    function(node)
 		    {
 		        dijit.getEnclosingWidget(node).set("checked",true);
 		    }
 		);
 	}
 	else {	
 		dojo.forEach(nodes,
 			    function(node)
 			    {
 			        dijit.getEnclosingWidget(node).set("checked",false);
 			    }
 			);
 	}
 }

function validateform(){
	 var n = <?php echo $this->countcomp;?>;
	// alert(n);
	 flgs = 0;	 
	 for(i=1;i<=n;i++){
		 
		if(document.getElementById("registrationPin"+i).checked) 
			flgs	=	1;
		
	 }		
	 if( flgs == 0){
	    alert('Please Select Atleast One Company');		
	     return false;
	 }
	 else{
	   return true;
	 }
} 

</script>
</head>
<form dojoType="dijit.form.Form"  id="initconfigForm" name="form1" method="post" action="<?php echo $this->baseUrl();?>/registrations/takafulapproval/index/search/1">
<fieldset>
<legend><?php echo $this->translate->_("Batch Approval");?></legend>
	    	<table    width="100%">	    		
      			<tr>
      			
         			<td class="label"><?php echo $this->translate->_("Company Name")?></td>
        			<td><?php echo $this->lobjform->field3?></td>	
        			<td class="label"><?php echo $this->translate->_("Registration Pin")?></td>
        			<td><?php echo $this->lobjform->field4?></td>		       	
      			</tr>		   
		      	  <tr>
	               <td align = "center" colspan = "4">
						<?php echo $this->lobjform->Search;?>
						<?php echo $this->lobjform->Clear;?>
				   </td>
				   </tr>      	
	        </table>		

</fieldset>

<fieldset>
 
  	<table class="table" width="100%" cellpadding="5" cellspacing="1">
		
    		<tr>
    		    <th><input type="checkbox" dojoType="dijit.form.CheckBox" name="registrationPin" onClick="checkAll();" id="registrationPin">
				<?php echo $this->translate->_("Company Name");?></th>
				<th><?php echo $this->translate->_("Registration Pin"); ?></th>
				<th><?php echo $this->translate->_("Contact Person"); ?></th>
				<th><?php echo $this->translate->_("Total No Of Candidates"); ?></th>		
    		</tr>
    	
    	<?php  if (count($this->paginator)):  $cnnt = 0; ?>    	
    	<tbody>       	            
            <?php   foreach ($this->paginator as $lobjcategory ): $cnnt++ ?>
            <tr>  
             <td><input type="checkbox" dojoType="dijit.form.CheckBox" name="registrationPin[]" value="<?php echo $this->escape($lobjcategory['registrationPin']);?>" id="registrationPin<?php echo $cnnt;?>">
          		<a href="<?php  echo $this->url(array('module'=>'registrations','controller'=>'batchapproval', 'action'=>'batchapprovallist' , 'lvaredit'=>$lobjcategory['registrationPin']),'default',true);?>" ><?php  echo $lobjcategory['CompanyName'];?></a></td>
          		<td><?php  echo $lobjcategory['registrationPin'];?></td>
          		<td><?php  echo $lobjcategory['ContactPerson'];?></td>
          		<td><?php  echo $lobjcategory['totalNoofCandidates'];?></td>
     		</tr>
     		<?php  endforeach; ?>
     		 <?php  endif; ?>
     	</tbody>		
     		<td colspan="8" align="right">  
				 <input type="submit" class="NormalBtn" dojotype="dijit.form.Button" id="Approve" name="Approve" value="Approve" label="<?php echo $this->translate("Approve");?>" onClick="return validateform();"/>
		
		   
			<div class="pagination">
				<?php //echo $this->paginationControl($this->paginator,'Sliding','/partials/my_pagination_control.phtml'); ?>
			</div>																   
		</td>
      </table>
      </form>
   </fieldset> 
   
   </html>
