<html>
<head>
</head>
<body class="claro">            
	<fieldset >
	<legend><?php echo $this->translate->_("Batch Approval");?></legend>
		 <form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm" >
			<script type="dojo/method" event="onSubmit" >
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>		
	    	   <table class="table" width="100%" >
                    	
                    <tr>         							                        
         			  <th>Student Name</th>
         			  <th>Email-id</th>
         			  <th>Course</th>
        			</tr>
        			<?php foreach ($this->studentdetails as $larrstudentdetails): ?>
                       <tr>		
                   		  	<td><?php echo $this->escape($larrstudentdetails['FName']);?></td>
							<td><?php echo $this->escape($larrstudentdetails['EmailAddress'])?></td>
							<td><?php echo $this->escape($larrstudentdetails['ProgramName'])?></td>
                       </tr>
                  <?php endforeach; ?>  

     	               <td colspan="3" align="right">  
				<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'registrations','controller'=>'batchapproval', 'action'=>'index'),'default',true);?>';" />
																		   
					</td>   
		       </table>	
		</form>
	</fieldset>
</body>
</html>
          