<html>
<head>
<script type="text/javascript">
function fnclear()
{
window.location="<?php echo $this->baseUrl();?>/examination/testexcel/index";
}
</script>
<form  dojoType="dijit.form.Form" action="<?php echo $this->baseUrl();?>/examination/testexcel/index" method="POST" enctype="multipart/form-data">
<fieldset>
	<legend><?php echo $this->translate("Test").' '.$this->translate("Excel Sheet");?></legend>
                   
                            <table width="100%">
                                
                                <tr>
                                    <td width="15%"><?php echo $this->translate("Select your excel sheet to test:");?></td>
                                    <td width="25%"><?php echo $this->lobjform->FileName;?></td>
                                </tr>
                                <tr>
                                <td align = "center" colspan = "4">

											<?php echo $this->lobjform->Upload;?>	
											<?php echo $this->lobjform->Clear;?>
								</td>
							    
                                </tr>
                        </table>
                 
    </fieldset> 
	<?php if($this->status != 0){?>
	<fieldset>       
    <table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr>
        <th><?php echo $this->translate("ICNO") ?></th>
        <th><?php echo $this->translate("Candidate Name") ?></th>
        <th><?php echo $this->translate("E-Mail") ?></th>
        <th><?php echo $this->translate("Race") ?></th>
        <th><?php echo $this->translate("Education") ?></th>
        <th><?php echo $this->translate("DateofBirth") ?></th>
        <th><?php echo $this->translate("Gender") ?></th>
		<th><?php echo $this->translate("Mailing Address") ?></th>      
        <th><?php echo $this->translate("Postal Code") ?></th>
		<th><?php echo $this->translate("REMARKS") ?></th>
		
    </tr>
  <?php foreach ($this->info as $lobjCountry ): ?>
    <tr>
    <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	     <?php if($lobjCountry['ICNO'] =='DUPLICATE IN EXCEL' || $lobjCountry['ICNO'] =='INFORMAT ICNO' || $lobjCountry['ICNO'] =='EMPTY' || $lobjCountry['ICNO'] =='NOT NUMBERS') {?>
		 <td bgcolor="#F63434"><?php print_r($this->escape($lobjCountry['ICNO']));?></td><?php }
		 elseif($lobjCountry['ICNO'] =='DUPLICATE IN SYSTEM'){
		 ?><td bgcolor="#008000"><?php print_r($this->escape($lobjCountry['ICNO']));}else{ ?><td ><?php print_r($this->escape($lobjCountry['ICNO']));?><?php }?> 
         
		 <?php if($lobjCountry['Studentname'] =='EMPTY') {?>
		 <td bgcolor="#F63434 "><?php print_r($this->escape($lobjCountry['Studentname']));?></td><?php }else{ ?><td ><?php print_r($this->escape($lobjCountry['Studentname']));?><?php }?>  
         		 
		 <?php if($lobjCountry['Email'] =='EMPTY' || $lobjCountry['Email'] =='INVALID EMAIL') {?>
		 <td bgcolor="#F63434"><?php print_r($this->escape($lobjCountry['Email']));?></td><?php }else{ ?><td ><?php print_r($this->escape($lobjCountry['Email']));?><?php }?> 
		 
		 <?php if($lobjCountry['Race'] =='EMPTY') {?>
		 <td bgcolor="#F63434"><?php print_r($this->escape($lobjCountry['Race']));?></td><?php }else{ ?><td ><?php print_r($this->escape($lobjCountry['Race']));?><?php }?> 
		 
		 <?php if($lobjCountry['Education'] =='EMPTY') {?>
		 <td bgcolor="#F63434"><?php print_r($this->escape($lobjCountry['Education']));?></td><?php }else{ ?><td ><?php print_r($this->escape($lobjCountry['Education']));?><?php }?>  
         
		 <?php if($lobjCountry['DateofBirth'] =='EMPTY' || $lobjCountry['DateofBirth'] =='DOB NOT ELIGIBLE') {?>
		 <td bgcolor="#F63434"><?php print_r($this->escape($lobjCountry['DateofBirth']));?></td><?php }else{ ?><td ><?php print_r($this->escape($lobjCountry['DateofBirth']));?><?php }?> 
		 
		 <?php if($lobjCountry['Gender'] =='INCORRECT' || $lobjCountry['Gender'] =='EMPTY') {?>
		 <td bgcolor="#F63434"><?php print_r($this->escape($lobjCountry['Gender']));?></td><?php }else{ ?><td ><?php print_r($this->escape($lobjCountry['Gender']));?><?php }?> 
		 
		 <?php if($lobjCountry['Mailing Address'] =='EMPTY') {?>
		 <td bgcolor="#F63434"><?php print_r($this->escape($lobjCountry['Mailing Address']));?></td><?php }else{ ?><td ><?php print_r($this->escape($lobjCountry['Mailing Address']));?><?php }?>  
         		 
		 <?php if($lobjCountry['Postal Code'] =='EMPTY') {?>
		 <td bgcolor="#F63434"><?php print_r($this->escape($lobjCountry['Postal Code']));?></td><?php }else{ ?><td ><?php print_r($this->escape($lobjCountry['Postal Code']));?><?php }?> 
		 
		 <?php if($lobjCountry['Remarks'] !='') {?>
		 <td bgcolor="#F63434"><?php print_r($this->escape($lobjCountry['Remarks']));?></td><?php }else{ ?><td ><?php print_r($this->escape($lobjCountry['Remarks']));?><?php }?> 
		 
	 <?php endforeach; ?>
    </tr>
</table>
</fieldset>   
	
	<?php }?>
    <br/>
	</form>
	</head>
	</html>
	