<head>
<script type="text/javascript">
dojo.addOnLoad(function(){			
	document.getElementById('definitiontype').value=0;
	document.getElementById('languagess').value = 0;
//	alert(document.getElementById('languagess').value);
funcajax(0);
var cnt = <?php  echo $this->counarr;?>;
});


function funcajax(idDefinition)
      {
//alert(idDefinition);
if(idDefinition != 0){

    	 var languages =  document.getElementById('languagess').value;
    	 
//    	 alert(languages);
    	  document.getElementById('definitiontype').value=idDefinition;
    	  //alert(idDefinition);
    	  var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/introduction/fngetdetails/idDefinition/"+idDefinition+"/languages/"+languages,
					handleAs:'text',
					load:function(data){ 
//							alert(data);
							document.getElementById('main-content').innerHTML = data;	
					}
			   }
			dojo.xhrGet(xhrArgs); 
}
      }  

      function fngetarabic(languages)
      {
//          alert(languages);
    	  idDefinition =  document.getElementById('definitiontype').value;
//    	  alert(idDefinition);
    	  var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/introduction/fngetdetails/languages/"+languages+"/idDefinition/"+idDefinition,
					handleAs:'text',
					load:function(data){ 
							//alert(data);
							document.getElementById('main-content').innerHTML = data;		
					}
			   }
			dojo.xhrGet(xhrArgs); 
    	//  var cnt = <?php  echo $this->counarr;?>;
               var cnt = 12;
    	 for (var f = 0; f < cnt; f++)
 		 {

			if(languages == 0){
//				alert('masuk');
//				alert(languages);
				 document.getElementById("main-content-english").style.display = 'block';	
				 document.getElementById("main-content-malay").style.display = 'none';	
				 document.getElementById("eng"+f).style.display = 'block';	
				 document.getElementById("arb"+f).style.display = 'none';
				 document.getElementById("oth"+f).style.display = 'none';
				 document.getElementById('menuHome').innerHTML  = "Home";
				 document.getElementById('menuContact').innerHTML  = "Contact";
				 
			}
			else if(languages ==1)
			{
				document.getElementById("main-content-english").style.display = 'none';	
				document.getElementById("main-content-malay").style.display = 'block';
				document.getElementById("eng"+f).style.display = 'none';
				document.getElementById("arb"+f).style.display = 'block';
				 document.getElementById("oth"+f).style.display = 'none';	
				 document.getElementById('menuHome').innerHTML  = "Utama";
				 document.getElementById('menuContact').innerHTML  = "Hubungi";
			}
			else if(languages =3)
			{
				document.getElementById("eng"+f).style.display = 'none';
				document.getElementById("arb"+f).style.display = 'none';
				 document.getElementById("oth"+f).style.display = 'block';
				 document.getElementById('menuHome').innerHTML  = "";
				 document.getElementById('menuContact').innerHTML  = "";	
			}
 		 }
      }      
 </script>

<script language='javascript' src='/lib/chkform.js' type='text/javascript'></script>

<form dojoType="dijit.form.Form"  id="form"  name="form" action ="introduction/index" method= "post" >
 <script type="dojo/method" event="onSubmit">
     if (this.validate()) {
		return true;
     } else {
         return false;
    }
</script>
</form>

<?
ini_set("display_errors","1");
//header("location:/notavailable.php");
//include_once("mylms/session.php");
session_name("mylms");
header('Pragma: no-cache');
header('Cache-Control: no-cache, must-revalidate');
session_start();

//new portal intergration
if ($_SESSION["user"] && $_SESSION["user_password"] ){
  $_SESSION["ses_username"]=$_SESSION["user"];
  $_SESSION["ses_userpass"]=$_SESSION["user_password"];
  header("Location: loginv3.php");
}

if ($_SESSION["ses_username"] && $_SESSION["ses_userpass"]){
	echo header("Location: /redirect.php?");
}
?>

<div id="navigation">
	<div id="menutop">  
        <a href="/tbe/introduction" class="topmenu"><b id='menuHome'>Home</b> </a><span class="lsep">|</span>
        <a href="/tbe/introduction" class="topmenu"><b id='menuContact'>Contact</b>  </a>
    </div>
	
	<div id="language">
	    <select name="language" id="languagess" onChange='fngetarabic(this.value);'>
<!--	     <option value="0">-- Please select-- </option>-->
					   <option value="0">English</option>
					   <option value="1">Bahasa-Malaysia</option>
<!--					   <option value="2">Others</option>-->
			</select>
			
	</div>
    </div>
    <div id="content">
            <div id="left">
                    <div id="left_upper">                                           
                         <div id="left_navigation">
<!--                             <ul id="menu" class="menu">-->
                              <table width="100%"   border="0">   
                              
               <?php $mm =0;   foreach ($this->larrsideview as $larrcenter ):?>
                    
                   		 <tr>
 
                             <td colspan="3" cellpadding="2" onclick="funcajax(<?php echo $larrcenter['idwebpagetemplate'];?>)";>
                             
                             <div id="eng<?php echo $mm;?>" style="display:block;font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;font-size: 12px;padding: 5px;">
                             <a href="#"><?php  echo $larrcenter['content'];?></a>
                               </div> 
                               
                              <div id="arb<?php echo $mm;?>" style="display:none;font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;font-size: 12px;padding: 5px;">  
                              <a href="#"><?php  echo $larrcenter['banhasa'];?></a>
                                </div> 
                                
                                 <div id="oth<?php echo $mm;?>" style="display:none;font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;font-size: 12px;padding: 5px;">  
                              <a href="#"><?php  echo $larrcenter['others'];?></a>
                                </div> 
                             </td> 
                               
				      </tr>
				      
				      
				      
				      
                     <?php $mm++;  endforeach; ?>                 
               </table>                            
			   <input type="hidden" name="definitiontype" id="definitiontype" value="">   
			           
                        </div>
                    
                    </div>
                  
           
            </div>
            
            <div id="main-content" >
              <div id="banner">
                <div class="slider-wrapper theme-default">
                    <div id="slider" class="nivoSlider">
<!--                        <img src="<?php  echo $this->baseUrl();?>/images-web/main_02.png" alt="" />-->
                        <img src="<?php  echo $this->baseUrl();?>/images-web/main_03.png" alt="" />
<!--                        <img src="<?php  echo $this->baseUrl();?>/images-web/main_04.png" alt="" />-->
                    </div>
                </div>
            </div> <!--banner ends-->
    
    	
            	<div id="content_below">
                	<div id="below_column1">
                   	  <div class="heading2">
                            <h2>Registered User</h2>
                         </div>
                          <div class="content_login">
                                <ul style="-webkit-padding-start: 0px;">
                                	<li><a href="" class="register">Individual </a><span class="lsep"> |</span></li>
                                    <li><a href="/tbe/introduction/index/page/company" class="register"><?php if($this->pagename == 'company'){?><b>Company </b><?php }else {?>Company <?php }?></a><span class="lsep"> |</span></li>
                                    <li><a href="/tbe/introduction/index/page/takaful" class="register"><?php if($this->pagename == 'takaful'){?><b>Takaful </b><?php }else {?>Takaful <?php }?></a></li>
<!--                                    <li><a href="" class="register">Individual </a><span class="lsep">|</span></li>-->
<!--                                    <li><a href="" class="register">Company </a><span class="lsep">|</span></li>-->
<!--                                    <li><a href="" class="register">Takaful</a></li>-->
                                </ul>
                                <br /><br /><br />
                             <?php if($this->pagename == 'company'){?>   
                                 <form action="http://onlinetestibfim.oum.edu.my/tbe/batchlogin/login" method="post" name="frm" onSubmit="return chkForm('frm','ses_username','Please fill in the following field: Username','ses_userpass','Please fill in the following field: Password')">
							<?php } 
							else if($this->pagename == 'takaful'){?>
									 <form action="http://onlinetestibfim.oum.edu.my/tbe/takafullogin/login" method="post" name="frm" onSubmit="return chkForm('frm','ses_username','Please fill in the following field: Username','ses_userpass','Please fill in the following field: Password')">
							<?php } else { ?>
									<form action="" method="post" name="frm" onSubmit="return chkForm('frm','ses_username','Please fill in the following field: Username','ses_userpass','Please fill in the following field: Password')">
							<?php } ?>
							

<!--                                <form action="http://onlinetestibfim.oum.edu.my/loginv3.php" method="post" name="frm" onSubmit="return chkForm('frm','ses_username','Please fill in the following field: Username','ses_userpass','Please fill in the following field: Password')">-->
                                
<!--                                <form name="form1" method="post" action="http://onlinetestibfim.oum.edu.my/loginv3.php">            -->
                                    <table cellpadding="0" border="0" width="100%">
                                      <tbody><tr>
                                        <td><span class="tittle">Username </span></td>
                                        <td><input type="text" size="10" class="inputbox" id="ses_username" name="ses_username"></td>
                                      </tr>
                                      <tr>
                                        <td><span class="tittle">Password</span></td>
                                        <td><input type="password" id="ses_userpass" size="10" class="inputbox" name="ses_userpass"> <input type="submit" class="searchbutton" value="Login" name="login"></td>
                                      </tr>
                                      
                                      <tr>
									    <td colspan="2" >
									    <?if ($this->errorUsername == 1 || $this->errorPassword == 1){?>
											<table border="0" cellspacing="1" cellpadding="0" width="100%" dir="ltr">
											<tr>
											<td align="center"><br><font color = "red">Login Incorrect. Please contact IBFIM.</font></td>
											</tr>
											</table>
										<?}?>
									    </td>
									  </tr>
                                    </tbody></table>          
                                    <input type="hidden" name="from_login" value="login">
<!--								  <input type="hidden" name="session_login" value="Ei<?=time()?>dAM">-->
		                                                                     
<!--                                <input type="hidden" value="" name="random_num">-->
<!--                                    <input type="hidden" value="" name="gfx_check">-->
<!--                                    <input type="hidden" value="login" name="op">-->
                                </form>			
                        </div>  
                         
                         
                         
                         
                         
                	</div>
                    
                    <div id="below_column2" >
                    	                   	  <div class="heading2">
                            <h2>New Registration</h2>                                                  
                         </div>
                         <div class="icon1" style="margin-right: 50px;float: right;" ><a href="/tbe/registration/index/fromweb/1"><img src="<?php  echo $this->baseUrl();?>/images-web/icons_01.png" /></a> </div>
                            <div class="icon2" style="margin-left: 50px;float: left;" ><a href="/tbe/companyregistration/index/fromweb/1"><img src="<?php  echo $this->baseUrl();?>/images-web/icons_02.png" /></a> </div>
                          <!--   <div class="icon3"><img src="<?php  echo $this->baseUrl();?>/images-web-new/b&w_03.png" /></div>   -->                       
                    </div>
                    
                
            
            
                
                
                
                
                
                </div>
                
            </div>
            
<!--          malay  style="display:none;"-->
            
            
            <div id="main-content-malay" style="display: none">
              <div id="banner">
                <div class="slider-wrapper theme-default">
                    <div id="slider" class="nivoSlider">
                        <img src="<?php  echo $this->baseUrl();?>/images-web/main_02.png" alt="" />
                        <img src="<?php  echo $this->baseUrl();?>/images-web/main_03.png" alt="" />
                        <img src="<?php  echo $this->baseUrl();?>/images-web/main_04.png" alt="" />
                    </div>
                </div>
            </div> <!--banner ends-->
    
    	
            	<div id="content_below">
                	<div id="below_column1">
                   	  <div class="heading2">
                            <h2>Pemohon Berdaftar</h2>
                         </div>
                          <div class="content_login">
                                <ul style="-webkit-padding-start: 0px;">
                                    <li><a href="" class="register">Individu </a><span class="lsep"> |</span></li>
                                    <li><a href="/tbe/introduction/index/page/company" class="register"><?php if($this->pagename == 'company'){?><b>Syarikat </b><?php }else {?>Syarikat <?php }?></a><span class="lsep"> |</span></li>
                                    <li><a href="/tbe/introduction/index/page/takaful" class="register"><?php if($this->pagename == 'takaful'){?><b>Takaful </b><?php }else {?>Takaful <?php }?></a></li>
<!--                                    <li><a href="" class="register">Takaful</a></li>-->
                                </ul>
                                <br /><br /><br />
                                  <?php if($this->pagename == 'company'){?>   
                                 <form action="http://onlinetestibfim.oum.edu.my/tbe/batchlogin/login" method="post" name="frm" onSubmit="return chkForm('frm','ses_username','Please fill in the following field: Username','ses_userpass','Please fill in the following field: Password')">
							<?php } 
							else if($this->pagename == 'takaful'){?>
									 <form action="http://onlinetestibfim.oum.edu.my/tbe/takafullogin/login" method="post" name="frm" onSubmit="return chkForm('frm','ses_username','Please fill in the following field: Username','ses_userpass','Please fill in the following field: Password')">
							<?php } else { ?>
									<form action="" method="post" name="frm" onSubmit="return chkForm('frm','ses_username','Please fill in the following field: Username','ses_userpass','Please fill in the following field: Password')">
							<?php } ?>
<!--                                <form action="http://onlinetestibfim.oum.edu.my/tbe/batchlogin/login" method="post" name="frm" onSubmit="return chkForm('frm','ses_username','Please fill in the following field: Username','ses_userpass','Please fill in the following field: Password')">-->
                                
<!--                                <form action="http://onlinetestibfim.oum.edu.my/loginv3.php" method="post" name="frm" onSubmit="return chkForm('frm','ses_username','Please fill in the following field: Username','ses_userpass','Please fill in the following field: Password')">-->
                                
<!--                                <form name="form1" method="post" action="http://onlinetestibfim.oum.edu.my/loginv3.php">            -->
                                    <table cellpadding="0" border="0" width="100%">
                                      <tbody><tr>
                                        <td><span class="tittle">Emel </span></td>
                                        <td><input type="text" size="10" class="inputbox" id="ses_username" name="ses_username"></td>
                                      </tr>
                                      <tr>
                                        <td><span class="tittle">Kata Laluan</span></td>
                                        <td><input type="password" id="ses_userpass" size="10" class="inputbox" name="ses_userpass"> <input type="submit" class="searchbutton" value="Login" name="login"></td>
                                      </tr>
                                      
                                      <tr>
									    <td colspan="2" >
									    <?if ($_REQUEST["action"]){
									    
									    	echo $_REQUEST["action"];?>
											<table border="0" cellspacing="1" cellpadding="0" width="100%" dir="ltr">
											<tr>
											<td align="center"><b>asfasf</b></td>
											</tr>
											</table>
										<?}?>
									    </td>
									  </tr>
                                    </tbody></table>          
                                    <input type="hidden" name="from_login" value="login">
<!--								  <input type="hidden" name="session_login" value="Ei<?=time()?>dAM">-->
		                                                                     
<!--                                <input type="hidden" value="" name="random_num">-->
<!--                                    <input type="hidden" value="" name="gfx_check">-->
<!--                                    <input type="hidden" value="login" name="op">-->
                                </form>			
                        </div>  
                         
                         
                         
                         
                         
                	</div>
                    
                    <div id="below_column2" align="center">
                    	                   	  <div class="heading2">
                            <h2>Pendaftaran Baru</h2>                                                  
                         </div>
                         	<div class="icon1" style="margin-right: 50px;float: right;" ><a href="/tbe/registration/index/fromweb/1"><img src="<?php  echo $this->baseUrl();?>/images-web/icons_01.png" /></a> </div>
                            <div class="icon2" style="margin-left: 50px;float: left;" ><a href="/tbe/companyregistration/index/fromweb/1"><img src="<?php  echo $this->baseUrl();?>/images-web/icons_02.png" /></a> </div>
                        <!--     <div class="icon3"><img src="<?php  echo $this->baseUrl();?>/images-web-new/b&w_03.png" /></div>      -->                    
                    </div>
                    
                
            
            
                
                
                
                
                
                </div>
                
            </div>
            
<!--           english -->

<div id="main-content-english" style="display:none">
              <div id="banner">
                <div class="slider-wrapper theme-default">
                    <div id="slider" class="nivoSlider">
                        <img src="<?php  echo $this->baseUrl();?>/images-web/main_02.png" alt="" />
                        <img src="<?php  echo $this->baseUrl();?>/images-web/main_03.png" alt="" />
                        <img src="<?php  echo $this->baseUrl();?>/images-web/main_04.png" alt="" />
                    </div>
                </div>
            </div> <!--banner ends-->
    
    	
            	<div id="content_below">
                	<div id="below_column1">
                   	  <div class="heading2">
                            <h2>Registered User</h2>
                         </div>
                          <div class="content_login">
                                <ul style="-webkit-padding-start: 0px;">
                                    <li><a href="" class="register">Individual </a><span class="lsep"> |</span></li>
                                    <li><a href="/tbe/introduction/index/page/company" class="register"><?php if($this->pagename == 'company'){?><b>Company </b><?php }else {?>Company <?php }?></a><span class="lsep"> |</span></li>
                                     <li><a href="/tbe/introduction/index/page/takaful" class="register"><?php if($this->pagename == 'takaful'){?><b>Takaful </b><?php }else {?>Takaful <?php }?></a></li>
<!--                                    <li><a href="" class="register">Takaful</a></li>-->
                                </ul>
                                <br /><br /><br />
                                  <?php if($this->pagename == 'company'){?>   
                                 <form action="http://onlinetestibfim.oum.edu.my/tbe/batchlogin/login" method="post" name="frm" onSubmit="return chkForm('frm','ses_username','Please fill in the following field: Username','ses_userpass','Please fill in the following field: Password')">
							<?php } 
							else if($this->pagename == 'takaful'){?>
									 <form action="http://onlinetestibfim.oum.edu.my/tbe/takafullogin/login" method="post" name="frm" onSubmit="return chkForm('frm','ses_username','Please fill in the following field: Username','ses_userpass','Please fill in the following field: Password')">
							<?php } else { ?>
									<form action="" method="post" name="frm" onSubmit="return chkForm('frm','ses_username','Please fill in the following field: Username','ses_userpass','Please fill in the following field: Password')">
							<?php } ?>                             
 <!--                                <form action="http://onlinetestibfim.oum.edu.my/loginv3.php" method="post" name="frm" onSubmit="return chkForm('frm','ses_username','Please fill in the following field: Username','ses_userpass','Please fill in the following field: Password')"> -->
                                
<!--                                <form name="form1" method="post" action="http://onlinetestibfim.oum.edu.my/loginv3.php">            -->
                                    <table cellpadding="0" border="0" width="100%">
                                      <tbody><tr>
                                        <td><span class="tittle">Username </span></td>
                                        <td><input type="text" size="10" class="inputbox" id="ses_username" name="ses_username"></td>
                                      </tr>
                                      <tr>
                                        <td><span class="tittle">Password</span></td>
                                        <td><input type="password" id="ses_userpass" size="10" class="inputbox" name="ses_userpass"> <input type="submit" class="searchbutton" value="Login" name="login"></td>
                                      </tr>
                                      
                                      <tr>
									    <td colspan="2" >
									    <?if ($this->errorUsername == 1 || $this->errorPassword == 1){?>
											<table border="0" cellspacing="1" cellpadding="0" width="100%" dir="ltr">
											<tr>
											<td align="center"><br><font color = "red">Login Incorrect. Please contact IBFIM.</font></td>
											</tr>
											</table>
										<?}?>
									    </td>
									  </tr>
                                    </tbody></table>          
                                    <input type="hidden" name="from_login" value="login">
<!--								  <input type="hidden" name="session_login" value="Ei<?=time()?>dAM">-->
		                                                                     
<!--                                <input type="hidden" value="" name="random_num">-->
<!--                                    <input type="hidden" value="" name="gfx_check">-->
<!--                                    <input type="hidden" value="login" name="op">-->
                                </form>			
                        </div>  
                         
                	</div>
                    
                    <div id="below_column2" align="center">
                    	                   	  <div class="heading2">
                            <h2>New Registration</h2>                                                  
                         </div>
                         	<div  class="icon1" style="margin-right: 50px;float: right;"><a href="/tbe/registration/index/fromweb/1"><img src="<?php  echo $this->baseUrl();?>/images-web/icons_01.png" /></a> </div>
                            <div class="icon2" style="margin-left: 50px;float: left;" ><a href="/tbe/companyregistration/index/fromweb/1"><img src="<?php  echo $this->baseUrl();?>/images-web/icons_02.png" /></a> </div>
                        <!--     <div class="icon3"><img src="<?php  echo $this->baseUrl();?>/images-web-new/b&w_03.png" /></div>    -->                      
                    </div>
                    
                </div>
                
            </div>
            
            
            
            
           <!-- <div id="right">
            <p>Secondary Sidebar</p>
            </div>-->
     </div>
     
