<head>
<style>
.content_login li {
    display: block;
    margin-left: -14px;
    width: 75px;
}
</style>
<script type="text/javascript">

dojo.addOnLoad(function(){	
	var cnt = <?php  echo $this->counarr;?>;
	var lange	=	'<?php echo $this->lange; ?>'; 	
	if(lange == 'mal'){
		document.getElementById('definitiontype').value=0;
		document.getElementById('languagess').value = 1;
		fngetarabic(1);
		onloaddisplay(1);
	}else {
		document.getElementById('definitiontype').value=0;
		document.getElementById('languagess').value = 0;
		fngetarabic(0);
		funcajax(0);
	}
});
$(document).ready(function(){
    $('#imgSmile').width(712);
	    
    $('#imgSmile').on('mouseenter',function()
    {
	       $(this).stop(true);
       $(this).css("cursor","pointer");
       $(this).animate({width: "900px"}, 'slow');
		  
    });
 
 $('#imgSmile').on('mouseleave',function()
   {   
	      $(this).stop(true);
       $(this).animate({width: "712px"}, 'slow');
		 
    });
});


function Closefn()
{

	document.getElementById('divLogin').style.display = 'none';
	document.getElementById('divLogin2').style.display = 'none';
}

function contactdetails()
{
	document.getElementById('divLogin').style.display = 'block';
	document.getElementById('divLogin2').style.display = 'block';
}
function onloaddisplay(languages){
	if(languages == 1){
		document.getElementById("englishul").style.display = 'none';								 
	 	document.getElementById("malaul").style.display = 'block';	
	}
	else{
		document.getElementById("malaul").style.display = 'none';								 
	 	document.getElementById("englishul").style.display = 'block';	
	}
}

function fnimageclick()
{

    	 
var languages =  document.getElementById('languagess').value; 				
    	 		idDefinition=12;
    	 		//alert(idDefinition);
    	 		 var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/introduction/fngetdetails/idDefinition/"+idDefinition+"/languages/"+languages,
					handleAs:'text',
					load:function(data){ 
							//alert(data);
							document.getElementById('main-content').innerHTML = data;	
							document.location = "#"+'AB21';
					}
			   }
			dojo.xhrGet(xhrArgs); 
			
}
function funcajax(idDefinition)   {
			//alert(idDefinition);
			if(idDefinition != 0){
    	 		var languages =  document.getElementById('languagess').value; 				
    	 		document.getElementById('definitiontype').value=idDefinition;
    	 		//alert(idDefinition);
    	 		 var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/introduction/fngetdetails/idDefinition/"+idDefinition+"/languages/"+languages,
					handleAs:'text',
					load:function(data){ 
							//alert(data);
							document.getElementById('main-content').innerHTML = data;	
							
					}
			   }
			dojo.xhrGet(xhrArgs); 
			}
      }  

      function fngetarabic(languages)  {		 
    	  idDefinition =  document.getElementById('definitiontype').value;
		  //alert(idDefinition);
    	  var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/introduction/fngetdetails/languages/"+languages+"/idDefinition/"+idDefinition,
					handleAs:'text',
					load:function(data){ 
							//alert(data);
							if(data)document.getElementById('main-content').innerHTML = data;		
							else{
								
								/*if(languages == 1){
									document.getElementById("main-content").style.display = 'none';								 
								 	document.getElementById("main-content-malay").style.display = 'block';	
									document.getElementById("main-content-english").style.display = 'none';	
								}
								if(languages == 0){
									document.getElementById("main-content").style.display = 'block';
								 	document.getElementById("main-content-english").style.display = 'none';	
								 	document.getElementById("main-content-malay").style.display = 'none';	
								}*/
							}
							onloaddisplay(languages);
					}
			   }
			dojo.xhrGet(xhrArgs); 
    		// var cnt = <?php  echo $this->counarr;?>;
            var cnt = 14;
    	 	for (var f = 0; f < cnt; f++){
    	 		if(languages == 0){
      				 document.getElementById("eng"+f).style.display = 'block';	
      				 document.getElementById("arb"+f).style.display = 'none';
      				 document.getElementById("oth"+f).style.display = 'none';
      				}
      				else if(languages ==1)
      				{
      					document.getElementById("eng"+f).style.display = 'none';
      					document.getElementById("arb"+f).style.display = 'block';
      					 document.getElementById("oth"+f).style.display = 'none';	
      				}
      				else if(languages ==2)
      				{
      					document.getElementById("eng"+f).style.display = 'none';
      					document.getElementById("arb"+f).style.display = 'none';
      					 document.getElementById("oth"+f).style.display = 'block';	
      				}
				/*if(languages == 0){
	  				//alert('masuk');
					//alert(languages);
					 document.getElementById("main-content-english").style.display = 'block';	
					 document.getElementById("main-content-malay").style.display = 'none';	
					 document.getElementById("eng"+f).style.display = 'block';	
					 document.getElementById("arb"+f).style.display = 'none';
					 document.getElementById("oth"+f).style.display = 'none';
					 document.getElementById('menuHome').innerHTML  = "Home";
					 document.getElementById('menuContact').innerHTML  = "Contact";				 
				}
				else if(languages ==1){
					document.getElementById("main-content-english").style.display = 'none';	
					document.getElementById("main-content-malay").style.display = 'block';
					document.getElementById("eng"+f).style.display = 'none';
					document.getElementById("arb"+f).style.display = 'block';
					 document.getElementById("oth"+f).style.display = 'none';	
					 document.getElementById('menuHome').innerHTML  = "Utama";
					 document.getElementById('menuContact').innerHTML  = "Hubungi";
				}
				else if(languages =3){
					document.getElementById("eng"+f).style.display = 'none';
					document.getElementById("arb"+f).style.display = 'none';
					 document.getElementById("oth"+f).style.display = 'block';
					 document.getElementById('menuHome').innerHTML  = "";
					 document.getElementById('menuContact').innerHTML  = "";	
				}*/
 		 }
      }      
 </script>

<script language='javascript' src='/lib/chkform.js' type='text/javascript'></script>

<form dojoType="dijit.form.Form"  id="form"  name="form" action ="introduction/index" method= "post" >
 <script type="dojo/method" event="onSubmit">
     if (this.validate()) {
		return true;
     } else {
         return false;
    }
</script>
</form>

<?
ini_set("display_errors","1");
//header("location:/notavailable.php");
//include_once("mylms/session.php");
session_name("mylms");
header('Pragma: no-cache');
header('Cache-Control: no-cache, must-revalidate');
session_start();

//new portal intergration
if ($_SESSION["user"] && $_SESSION["user_password"] ){
  $_SESSION["ses_username"]=$_SESSION["user"];
  $_SESSION["ses_userpass"]=$_SESSION["user_password"];
  header("Location: loginv3.php");
}

if ($_SESSION["ses_username"] && $_SESSION["ses_userpass"]){
	echo header("Location: /redirect.php?");
}
?>

<div id="navigation">
	<div id="menutop">  
        <a href="/tbe/introduction" class="topmenu"><b id='menuHome'>Home</b> </a><span class="lsep"></span>
     
    </div>
	
	<div id="language">
	    <select name="language" id="languagess" onChange='fngetarabic(this.value);'>
<!--	     <option value="0">-- Please select-- </option>-->
					   <option value="0">English</option>
					   <option value="1">Bahasa-Malaysia</option>
<!--					   <option value="2">Others</option>-->
			</select>
			
	</div>
    </div>
    <div id="content">
            <div id="left" style="height:500px;">
                    <div id="left_upper"  style="height:500px;">                                           
                         <div id="left_navigation"  style="height:500px;">
<!--                             <ul id="menu" class="menu">-->
                              <table width="100%"   border="0">   
                              
               <?php $mm =0;   foreach ($this->larrsideview as $larrcenter ):?>
                    
                   		 <tr>
 
                             <td colspan="3" cellpadding="2" onclick="funcajax(<?php echo $larrcenter['idwebpagetemplate']?>);">
                             
                             <div id="eng<?php echo $mm;?>" style="display:block;font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;font-size: 13px;padding: 5px;">
                             <a href="#"><?php  echo $larrcenter['content'];?></a>
                               </div> 
                               
                              <div id="arb<?php echo $mm;?>" style="display:none;font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;font-size: 13px;padding: 5px;">  
                              <a href="#"><?php  echo $larrcenter['banhasa'];?></a>
                                </div> 
                                
                                 <div id="oth<?php echo $mm;?>" style="display:none;font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;font-size: 13px;padding: 5px;">  
                              <a href="#"><?php  echo $larrcenter['others'];?></a>
                                </div> 
                             </td> 
                               
				      </tr>
				      
				      
				      
				      
                     <?php $mm++;  endforeach; ?>   
                 
               <tr> 
                             <td colspan="3" cellpadding="2" >                             
	                              
	                                <div id="eng<?php echo $mm;?>" style="display:block;font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;font-size: 15px;padding: 5px;">
                           <a href="/tbe/studentviewdetails/index"><b>View Registration Details/Examination Result</b></a>
                               </div> 
                               
                              <div id="arb<?php echo $mm;?>" style="display:none;font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;font-size: 15px;padding: 5px;">  
                              <a href="/tbe/studentviewdetails/index"><b>View Registration Details/Examination Result A</b></a>
                                </div> 
                                
                                 <div id="oth<?php echo $mm;?>" style="display:none;font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;font-size: 15px;padding: 5px;">  
                              <a href="/tbe/studentviewdetails/index"><b>View Registration Details/Examination Result O</b></a>
                                </div>                       
                             </td>                                
				      </tr>
  <tr> 
                             <td colspan="3" cellpadding="2" >                             
	                              
	                                <div id="eng<?php echo $mm;?>" style="display:block;font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;font-size: 15px;padding: 5px;">
                           <a href="/tbe/registrationreport/index"><b>Examination Dates</b></a>
                               </div> 
                               
                              <div id="arb<?php echo $mm;?>" style="display:none;font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;font-size: 15px;padding: 5px;">  
                              <a href="/tbe/registrationreport/index"><b>Examination Dates</b></a>
                                </div> 
                                
                                 <div id="oth<?php echo $mm;?>" style="display:none;font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;font-size: 15px;padding: 5px;">  
                              <a href="/tbe/registrationreport/index"><b>Examination Dates</b></a>
                                </div>                       
                             </td>                                
				      </tr>
 			</table>          
 			<a href="#" onclick="funcajax(16);"> <img src="<?php  echo $this->baseUrl();?>/images-web/important.png" alt="" border="0"/></a>                  
			   <input type="hidden" name="definitiontype" id="definitiontype" value="">   
			           
                        </div>
                    
                    </div>
                  
           
            </div>
            
            <div id="main-content" >
              <div id="banner">
                <div class="slider-wrapper theme-default">
                    <div id="slider" class="nivoSlider">
<!--                       <img src="<?php  echo $this->baseUrl();?>/images-web/main_02.png" alt="" />-->
<!--<img src="<?php  echo $this->baseUrl();?>/images-web/TBE roadshow_c-01.jpg" alt="" />
-->
 

<!--<img src="<?php  echo $this->baseUrl();?>/images-web/Changenotice.png" alt="" />-->
<img src="<?php  echo $this->baseUrl();?>/images-web/main_07.png" alt="" />

                        <a href="#AB21" onClick='fnimageclick();'><img src="<?php  echo $this->baseUrl();?>/images-web/Reg.png" alt=""></img></a>
                        <img src="<?php  echo $this->baseUrl();?>/images-web/main_05.png" alt="" />
                         <img src="<?php  echo $this->baseUrl();?>/images-web/underconstruction.jpg" alt="" />
                    </div>
                </div>
            </div> <!--banner ends-->
    
    	
            	<div id="content_below">
                	<div id="below_column1"  style="width:300px;height:200px;">
                   	  <div class="heading2" >
                            <h2>Registered User</h2>
                         </div>
                          <div class="content_login">
                          		 <ul id="englishul" style="-webkit-padding-start: 0px;">
                                	<li><a href="/tbe/introduction/index/lang/eng" class="register">Individual </a><span class="lsep"> |</span></li>
                                    <li><a href="/tbe/introduction/index/page/company/lang/eng" class="register"><?php if($this->pagename == 'company'){?><b>Company </b><?php }else {?>Company <?php }?></a><span class="lsep"> |</span></li>
                                    <li><a href="/tbe/introduction/index/page/takaful/lang/eng" class="register"><?php if($this->pagename == 'takaful'){?><b>Takaful </b><?php }else {?>Takaful <?php }?></a><span class="lsep"> |</span></li>
     <li><a href="/tbe/introduction/index/page/mta/lang/eng" class="register"><?php if($this->pagename == 'mta'){?><b>MTA</b><?php }else {?>MTA<?php }?></a></li>
<!--                                    <li><a href="" class="register">Individual </a><span class="lsep">|</span></li>-->
<!--                                    <li><a href="" class="register">Company </a><span class="lsep">|</span></li>-->
<!--                                    <li><a href="" class="register">Takaful</a></li>-->
                                </ul>
                                <ul id="malaul" style="-webkit-padding-start: 0px;">
                                	<li><a href="/tbe/introduction/index/lang/mal" class="register">Individual </a><span class="lsep"> |</span></li>
                                    <li><a href="/tbe/introduction/index/page/company/lang/mal" class="register"><?php if($this->pagename == 'company'){?><b>Company </b><?php }else {?>Company <?php }?></a><span class="lsep"> |</span></li>
                                    <li><a href="/tbe/introduction/index/page/takaful/lang/mal" class="register"><?php if($this->pagename == 'takaful'){?><b>Takaful </b><?php }else {?>Takaful <?php }?></a></li>
 <li><a href="/tbe/introduction/index/page/mta/lang/eng" class="register"><?php if($this->pagename == 'mta'){?><b>MTA </b><?php }else {?>MTA <?php }?></a></li>
<!--                                    <li><a href="" class="register">Individual </a><span class="lsep">|</span></li>-->
<!--                                    <li><a href="" class="register">Company </a><span class="lsep">|</span></li>-->
<!--                                    <li><a href="" class="register">Takaful</a></li>-->
                                </ul>
                                <br /><br /><br />
                             <?php if($this->pagename == 'company'){?>   
                                 <form action="http://takafuleexam.com/tbe/batchlogin/login" method="post" name="frm" onSubmit="return chkForm('frm','ses_username','Please fill in the following field: Username','ses_userpass','Please fill in the following field: Password')">
							<?php } 
							else if($this->pagename == 'takaful'){?>
									 <form action="http://takafuleexam.com/tbe/takafullogin/login" method="post" name="frm" onSubmit="return chkForm('frm','ses_username','Please fill in the following field: Username','ses_userpass','Please fill in the following field: Password')">
							<?php } else if($this->pagename == 'mta'){?>
									 <form action="http://takafuleexam.com/tbe/specialstatusreport/login" method="post" name="frm" onSubmit="return chkForm('frm','ses_username','Please fill in the following field: Username','ses_userpass','Please fill in the following field: Password')">
							<?php } else { ?>
									<form action="http://takafuleexam.com/loginv3.php" method="post" name="frm" onSubmit="return chkForm('frm','ses_username','Please fill in the following field: Username','ses_userpass','Please fill in the following field: Password')">
							<?php } ?>
							

<!--                                <form action="http://takafuleexam.com/loginv3.php" method="post" name="frm" onSubmit="return chkForm('frm','ses_username','Please fill in the following field: Username','ses_userpass','Please fill in the following field: Password')">-->
                                
<!--                                <form name="form1" method="post" action="http://takafuleexam.com/loginv3.php">            -->
                                    <table cellpadding="0" border="0" width="100%">
                                      <tbody><tr>
                                        <td><span class="tittle">Username </span></td>
                                        <td><input type="text" size="10" class="inputbox" id="ses_username" name="ses_username"></td>
                                      </tr>
                                      <tr>
                                        <td><span class="tittle">Password</span></td>
                                        <td><input type="password" id="ses_userpass" size="10" class="inputbox" name="ses_userpass"> <input type="submit" class="searchbutton" value="Login" name="login"></td>
                                      </tr>
                                      
                                      <tr>
									    <td colspan="2" >
									    <?if ($this->errorUsername == 1 || $this->errorPassword == 1){?>
											<table border="0" cellspacing="1" cellpadding="0" width="100%" dir="ltr">
											<tr>
											<td align="center"><br><font color = "red">Login Incorrect. Please contact IBFIM.</font></td>
											</tr>
											</table>
										<?}?>
									    </td>
									  </tr>
					   <tr>

						  <td colspan="2" align="left">
						  <br>
							<?php if($this->pagename){?>  
								<a href="/tbe/forgotpassword/index/page/<?php echo $this->pagename;?>" class="register">Forgot Password </a>
							<?php } else {?> 
								<a href="" class="register">Forgot Password </a>
							<?php } ?>  
						   </td>
					 </tr>
					
                                    </tbody></table> 
      
                                    <input type="hidden" name="from_login" value="login">
<!--								  <input type="hidden" name="session_login" value="Ei<?=time()?>dAM">-->
		                                                                     
<!--                                <input type="hidden" value="" name="random_num">-->
<!--                                    <input type="hidden" value="" name="gfx_check">-->
<!--                                    <input type="hidden" value="login" name="op">-->
                                </form>			
                        </div>  
                         
                         
                         
                         
                         
                	</div>
                    
                    <div id="below_column2"  style="width:390px;">
                    	                   	  <div class="heading2">
                            <h2>Registration</h2>                                                  
                         </div>
                         
                      <!--    <table id="Table_01" width="383" height="144" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<img src="<?php  echo $this->baseUrl();?>/images-web/new-registration2_01.png" width="5" height="6" alt=""></td>
		<td>
			<img src="<?php  echo $this->baseUrl();?>/images-web/new-registration2_02.png" width="182" height="6" alt=""></td>
		<td>
			<img src="<?php  echo $this->baseUrl();?>/images-web/new-registration2_03.png" width="10" height="6" alt=""></td>
		<td>
			<img src="<?php  echo $this->baseUrl();?>/images-web/new-registration2_04.png" width="182" height="6" alt=""></td>
		<td>
			<img src="<?php  echo $this->baseUrl();?>/images-web/new-registration2_05.png" width="4" height="6" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="<?php  echo $this->baseUrl();?>/images-web/new-registration2_06.png" width="5" height="128" alt=""></td>
		<td>
			<img src="<?php  echo $this->baseUrl();?>/images-web/new-registration2_07.png" width="182" height="128" alt=""></td>
		<td width="10" height="128" background="<?php  echo $this->baseUrl();?>/images-web/new-registration2_08.png">
			</td>
		<td>
			<img src="<?php  echo $this->baseUrl();?>/images-web/new-registration2_09.png" width="182" height="128" alt=""></td>
		<td>
			<img src="<?php  echo $this->baseUrl();?>/images-web/new-registration2_10.png" width="4" height="128" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="<?php  echo $this->baseUrl();?>/images-web/new-registration2_11.png" width="5" height="10" alt=""></td>
		<td>
			<img src="<?php  echo $this->baseUrl();?>/images-web/new-registration2_12.png" width="182" height="10" alt=""></td>
		<td>
			<img src="<?php  echo $this->baseUrl();?>/images-web/new-registration2_13.png" width="10" height="10" alt=""></td>
		<td>
			<img src="<?php  echo $this->baseUrl();?>/images-web/new-registration2_14.png" width="182" height="10" alt=""></td>
		<td>
			<img src="<?php  echo $this->baseUrl();?>/images-web/new-registration2_15.png" width="4" height="10" alt=""></td>
	</tr>
</table>-->



                        <div class="icon1"><a href="/tbe/registration/index/fromweb/1"><img src="<?php  echo $this->baseUrl();?>/images-web/new-registration2_09.png" width="182" height="128"  alt=""></a> </div>
                            <div class="icon2"><a href="/tbe/companyregistration/index/fromweb/1"><img src="<?php  echo $this->baseUrl();?>/images-web/new-registration2_07.png" width="182" height="128"  alt=""></a> </div>
                           <!-- <div class="icon3"><img src="<?php  echo $this->baseUrl();?>/images-web-new/b&w_03.png" /></div>                       
                    </div> -->  
                    
                
            
            
                
                
                
                
                
                </div>
                
            </div>
            
<!--          malay  style="display:none;"-->
            
            
            <div id="main-content-malay" style="display: none">
              <div id="banner">
                <div class="slider-wrapper theme-default">
                    <div id="slider" class="nivoSlider">
                        <img src="<?php  echo $this->baseUrl();?>/images-web/main_02.png" alt="" />
                        <img src="<?php  echo $this->baseUrl();?>/images-web/main_03.png" alt="" />
                        <img src="<?php  echo $this->baseUrl();?>/images-web/main_04.png" alt="" />
                    </div>
                </div>
            </div> <!--banner ends-->
    
    	
            	<div id="content_below">
                	<div id="below_column1" style="width:300px;height:200px;">
                   	  <div class="heading2">
                            <h2>Pemohon Berdaftar</h2>
                         </div>
                          <div class="content_login">
                                <ul style="-webkit-padding-start: 0px;">
                                    <li><a href="" class="register">Individu </a><span class="lsep"> |</span></li>
                                    <li><a href="/tbe/introduction/index/page/company" class="register"><?php if($this->pagename == 'company'){?><b>Syarikat </b><?php }else {?>Syarikat <?php }?></a><span class="lsep"> |</span></li>
                                    <li><a href="/tbe/introduction/index/page/takaful" class="register"><?php if($this->pagename == 'takaful'){?><b>Takaful </b><?php }else {?>Takaful <?php }?></a></li>
 
<!--                                    <li><a href="" class="register">Takaful</a></li>-->
                                </ul>
                                <br /><br /><br />
                                  <?php if($this->pagename == 'company'){?>   
                                 <form action="http://takafuleexam.com/tbe/batchlogin/login" method="post" name="frm" onSubmit="return chkForm('frm','ses_username','Please fill in the following field: Username','ses_userpass','Please fill in the following field: Password')">
							<?php } 
							else if($this->pagename == 'takaful'){?>
									 <form action="http://takafuleexam.com/tbe/takafullogin/login" method="post" name="frm" onSubmit="return chkForm('frm','ses_username','Please fill in the following field: Username','ses_userpass','Please fill in the following field: Password')">
							<?php } else { ?>
									<form action="" method="post" name="frm" onSubmit="return chkForm('frm','ses_username','Please fill in the following field: Username','ses_userpass','Please fill in the following field: Password')">
							<?php } ?>
<!--                                <form action="http://takafuleexam.com/tbe/batchlogin/login" method="post" name="frm" onSubmit="return chkForm('frm','ses_username','Please fill in the following field: Username','ses_userpass','Please fill in the following field: Password')">-->
                                
<!--                                <form action="http://takafuleexam.com/loginv3.php" method="post" name="frm" onSubmit="return chkForm('frm','ses_username','Please fill in the following field: Username','ses_userpass','Please fill in the following field: Password')">-->
                                
<!--                                <form name="form1" method="post" action="http://takafuleexam.com/loginv3.php">            -->
                                    <table cellpadding="0" border="0" width="100%">
                                      <tbody><tr>
                                        <td><span class="tittle">Emel </span></td>
                                        <td><input type="text" size="10" class="inputbox" id="ses_username" name="ses_username"></td>
                                      </tr>
                                      <tr>
                                        <td><span class="tittle">Kata Laluan</span></td>
                                        <td><input type="password" id="ses_userpass" size="10" class="inputbox" name="ses_userpass"> <input type="submit" class="searchbutton" value="Login" name="login"></td>
                                      </tr>
                                      
                                      <tr>
									    <td colspan="2" >
									    <?if ($_REQUEST["action"]){
									    
									    	echo $_REQUEST["action"];?>
											<table border="0" cellspacing="1" cellpadding="0" width="100%" dir="ltr">
											<tr>
											<td align="center"><b>asfasf</b></td>
											</tr>
											</table>
										<?}?>
									    </td>
									  </tr>
					<tr>

						  <td colspan="2" align="right">
							<?php if($this->pagename){?>  
								<a href="/tbe/forgotpassword/index/page/<?php echo $this->pagename;?>" class="register">Forgot Password </a>
							<?php } else {?> 
								<a href="" class="register">Forgot Password </a>
							<?php } ?>   
						   </td>
					 </tr>
					

                                    </tbody></table>
         
                                    <input type="hidden" name="from_login" value="login">
<!--								  <input type="hidden" name="session_login" value="Ei<?=time()?>dAM">-->
		                                                                     
<!--                                <input type="hidden" value="" name="random_num">-->
<!--                                    <input type="hidden" value="" name="gfx_check">-->
<!--                                    <input type="hidden" value="login" name="op">-->
                                </form>			
                        </div>  
                         
                         
                         
                         
                         
                	</div>
                    
                    <div id="below_column2"  style="width:390px;">
                    	                   	  <div class="heading2">
                            <h2>Pendaftaran Baru</h2>                                                  
                         </div>
                         	<div class="icon1" style="margin-right: 30px;float: right;" ><a href="/tbe/registration/index/fromweb/1"><img src="<?php  echo $this->baseUrl();?>/images-web/icons_01.png" /></a> </div>
                            <div class="icon2" style="margin-left: 30px;float: left;" ><a href="/tbe/companyregistration/index/fromweb/1"><img src="<?php  echo $this->baseUrl();?>/images-web/icons_02.png" /></a> </div>
                        <!--     <div class="icon3"><img src="<?php  echo $this->baseUrl();?>/images-web-new/b&w_03.png" /></div>      -->                    
                    </div>
                    
                
            
            
                
                
                
                
                
                </div>
                
            </div>
            
<!--           english -->

<div id="main-content-english" style="display:none">
              <div id="banner">
                <div class="slider-wrapper theme-default">
                    <div id="slider" class="nivoSlider">
                        <img src="<?php  echo $this->baseUrl();?>/images-web/main_02.png" alt="" />
                        <img src="<?php  echo $this->baseUrl();?>/images-web/main_03.png" alt="" />
                        <img src="<?php  echo $this->baseUrl();?>/images-web/main_04.png" alt="" />
                    </div>
                </div>
            </div> <!--banner ends-->
    
    	
            	<div id="content_below">
                	<div id="below_column1" style="width:300px;height:200px;">
                   	  <div class="heading2">
                            <h2>Registered User</h2>
                         </div>
                          <div class="content_login">
                                <ul style="-webkit-padding-start: 0px;">
                                    <li><a href="" class="register">Individual </a><span class="lsep"> |</span></li>
                                    <li><a href="/tbe/introduction/index/page/company" class="register"><?php if($this->pagename == 'company'){?><b>Company </b><?php }else {?>Company <?php }?></a><span class="lsep"> |</span></li>
                                     <li><a href="/tbe/introduction/index/page/takaful" class="register"><?php if($this->pagename == 'takaful'){?><b>Takaful </b><?php }else {?>Takaful <?php }?></a></li>
<!--                                    <li><a href="" class="register">Takaful</a></li>-->
                                </ul>
                                <br /><br /><br />
                                  <?php if($this->pagename == 'company'){?>   
                                 <form action="http://takafuleexam.com/tbe/batchlogin/login" method="post" name="frm" onSubmit="return chkForm('frm','ses_username','Please fill in the following field: Username','ses_userpass','Please fill in the following field: Password')">
							<?php } 
							else if($this->pagename == 'takaful'){?>
									 <form action="http://takafuleexam.com/tbe/takafullogin/login" method="post" name="frm" onSubmit="return chkForm('frm','ses_username','Please fill in the following field: Username','ses_userpass','Please fill in the following field: Password')">
							<?php } else { ?>
									<form action="" method="post" name="frm" onSubmit="return chkForm('frm','ses_username','Please fill in the following field: Username','ses_userpass','Please fill in the following field: Password')">
							<?php } ?>                             
 <!--                                <form action="http://takafuleexam.com/loginv3.php" method="post" name="frm" onSubmit="return chkForm('frm','ses_username','Please fill in the following field: Username','ses_userpass','Please fill in the following field: Password')"> -->
                                
<!--                                <form name="form1" method="post" action="http://takafuleexam.com/loginv3.php">            -->
                                    <table cellpadding="0" border="0" width="100%">
                                      <tbody><tr>
                                        <td><span class="tittle">Username </span></td>
                                        <td><input type="text" size="10" class="inputbox" id="ses_username" name="ses_username"></td>
                                      </tr>
                                      <tr>
                                        <td><span class="tittle">Password</span></td>
                                        <td><input type="password" id="ses_userpass" size="10" class="inputbox" name="ses_userpass"> <input type="submit" class="searchbutton" value="Login" name="login"></td>
                                      </tr>
                                      
                                      <tr>
									    <td colspan="2" >
									    <?if ($this->errorUsername == 1 || $this->errorPassword == 1){?>
											<table border="0" cellspacing="1" cellpadding="0" width="100%" dir="ltr">
											<tr>
											<td align="center"><br><font color = "red">Login Incorrect. Please contact IBFIM.</font></td>
											</tr>
											</table>
										<?}?>
									    </td>
									  </tr>
						<tr>

						  <td colspan="2" align="right">
							<?php if($this->pagename){?>  
								<a href="/tbe/forgotpassword/index/page/<?php echo $this->pagename;?>" class="register">Forgot Password </a>
							<?php } else {?> 
								<a href="" class="register">Forgot Password </a>
							<?php } ?>   
						   </td>
					 </tr>
					
                                    </tbody></table> 
       
                                    <input type="hidden" name="from_login" value="login">
<!--								  <input type="hidden" name="session_login" value="Ei<?=time()?>dAM">-->
		                                                                     
<!--                                <input type="hidden" value="" name="random_num">-->
<!--                                    <input type="hidden" value="" name="gfx_check">-->
<!--                                    <input type="hidden" value="login" name="op">-->
                                </form>			
                        </div>  
                        
                	</div>
                    
                    <div id="below_column2"  style="width:390px;"> 
                    	                   	  <div class="heading2">
                            <h2>Registration</h2>                                                  
                         </div>
                         	<div  class="icon1" style="margin-right: 30px;float: right;"><a href="/tbe/registration/index/fromweb/1"><img src="<?php  echo $this->baseUrl();?>/images-web/icons_01.png" /></a> </div>
                            <div class="icon2" style="margin-left: 30px;float: left;" ><a href="/tbe/companyregistration/index/fromweb/1"><img src="<?php  echo $this->baseUrl();?>/images-web/icons_02.png" /></a> </div>
                        <!--     <div class="icon3"><img src="<?php  echo $this->baseUrl();?>/images-web-new/b&w_03.png" /></div>    -->                      
                    </div>
                    
                </div>
                
            </div>
            
            
            
            
           <!-- <div id="right">
            <p>Secondary Sidebar</p>
            </div>-->
     </div>
     <div runat="server" id="divLogin"  style="display:none; z-index: 153; position: absolute; left: 30%; width: 650px; top: 15%;">
					                <asp:Panel runat="server" ID="popupLogin">
					                    <asp:Panel runat="server" ID="popupContent1">
					                        <table style="height: 125px; width: 100%; background-color: #FFFFFF;" border="3"   frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">
					                                    	<div id="contentdiv">
					                                    	<table class="table" align="center">
					                                    	 <tr><td>Please contact IBFIM at 03 - 2031 1010 (extension 582/583) or email us at tbe@ibfim.com</td>
					                                    	 </tr>
					                                    	 <tr>
					                                    	 <td align="right"><input type="button" name="Close" class="NormalBtn" value="Close"   id="Close" onclick="Closefn()"></td>
					                                    	 </tr>
					                                    	</table>
					                                    	</div>
					                                      
					                                   </td>
					                                </tr>
					                                <tr>
					                                    <td colspan="2" align="left">
					                                        <asp:Label ID="lblmandatory" runat="server" Text="* Mandatory Information Required"
					                                            class="LeftLabelStyle" Width="350px" />
					                                    </td>
					                                </tr>
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
					            </div> 
<div runat="server" id="divLogin2"  style="display:none; opacity:0.4; z-index: 150; position: absolute; left: 0%; height: 100%; width: 100%; top: 0%;">
					                <asp:Panel >
					                    <asp:Panel  >
					                        <table style="height: 100%; width: 100%; background-color: #000000;" border="3"   frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">					                                      
					                                   </td>
					                                </tr>					                               
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
					            </div>
