<head>
<script type="text/javascript">
dojo.addOnLoad(function(){			
	document.getElementById('definitiontype').value=0;
	document.getElementById('languagess').value = 0;
funcajax(0);
var cnt = <?php  echo $this->counarr;?>;
});
      function funcajax(idDefinition)
      {
//alert(idDefinition);
if(idDefinition != 0){

    	 var languages =  document.getElementById('languagess').value;
//    	 alert(languages);
    	  document.getElementById('definitiontype').value=idDefinition;
    	  //alert(idDefinition);
    	  var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/introduction/fngetdetails/idDefinition/"+idDefinition+"/languages/"+languages,
					handleAs:'text',
					load:function(data){ 
//							alert(data);
							document.getElementById('main-content').innerHTML = data;		
					}
			   }
			dojo.xhrGet(xhrArgs); 
}
      }  

      function fngetarabic(languages)
      {
    	
    	  idDefinition =  document.getElementById('definitiontype').value;
//    	  alert(idDefinition);
    	  var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/introduction/fngetdetails/languages/"+languages+"/idDefinition/"+idDefinition,
					handleAs:'text',
					load:function(data){ 
							//alert(data);
							document.getElementById('main-content').innerHTML = data;		
					}
			   }
			dojo.xhrGet(xhrArgs); 
    	  var cnt = <?php  echo $this->counarr;?>;
    	  for (var f = 0; f < cnt; f++)
 		 {
 		    
			if(languages == 0){
				 document.getElementById("eng"+f).style.display = 'block';	
				 document.getElementById("arb"+f).style.display = 'none';
				 document.getElementById("oth"+f).style.display = 'none';
				}
				else if(languages ==1)
				{
					document.getElementById("eng"+f).style.display = 'none';
					document.getElementById("arb"+f).style.display = 'block';
					 document.getElementById("oth"+f).style.display = 'none';	
				}
				else if(languages ==2)
				{
					document.getElementById("eng"+f).style.display = 'none';
					document.getElementById("arb"+f).style.display = 'none';
					 document.getElementById("oth"+f).style.display = 'block';	
				}
 		 }
      }      
 </script>


<form dojoType="dijit.form.Form"  id="form"  name="form" action ="introduction/index" method= "post" >
 <script type="dojo/method" event="onSubmit">
     if (this.validate()) {
		return true;
     } else {
         return false;
    }
</script>

<div id="navigation">
	<div id="menutop">  
        <a href="/tbe/introduction" class="topmenu">Home </a><span class="lsep">|</span>
        <a href="/tbe/introduction" class="topmenu">Contact </a>
    </div>
	
	<div id="language">
	    <select name="language" id="languagess" onChange='fngetarabic(this.value);'>
					   <option value="0">English</option>
					   <option value="1">Bahasa-Malaysia</option>
					   <option value="2">Others</option>
			</select>
			
	</div>
    </div>
    <div id="content">
            <div id="left">
                    <div id="left_upper">                                           
                         <div id="left_navigation">
                             <ul id="menu" class="menu">
               <?php $mm =0;   foreach ($this->larrsideview as $larrcenter ):?>
                    <li><a href="#" onclick="funcajax(<?php echo $larrcenter['idwebpagetemplate'];?>)";><?php  echo $larrcenter['content'];?></a></li>
                     <?php $mm++;  endforeach; ?>                 
                </ul>                            
			   <input type="hidden" name="definitiontype" id="definitiontype" value="">   
			           
                        </div>
                    
                    </div>
                  
           
            </div>
            
            <div id="main-content">
              <div id="banner">
                <div class="slider-wrapper theme-default">
                    <div id="slider" class="nivoSlider">
                        <img src="<?php  echo $this->baseUrl();?>/images-web/main_02.png" alt="" />
                        <img src="<?php  echo $this->baseUrl();?>/images-web/main_03.png" alt="" />
                        <img src="<?php  echo $this->baseUrl();?>/images-web/main_04.png" alt="" />
                    </div>
                </div>
            </div> <!--banner ends-->
    
    	
            	<div id="content_below">
                	<div id="below_column1">
                   	  <div class="heading2">
                            <h2>Registered User</h2>
                         </div>
                          <div class="content_login">
                                <ul>
                                    <li><a href="" class="register">Individual </a><span class="lsep">|</span></li>
                                    <li><a href="" class="register">Company </a><span class="lsep">|</span></li>
<!--                                    <li><a href="" class="register">Takaful</a></li>-->
                                </ul>
                                <br /><br /><br />
                                <form method="post" action="">            
                                    <table cellpadding="0" border="0" width="100%">
                                      <tbody><tr>
                                        <td><span class="tittle">Username </span></td>
                                        <td><input type="text" size="10" class="inputbox" id="username" name="username"></td>
                                      </tr>
                                      <tr>
                                        <td><span class="tittle">Password</span></td>
                                        <td><input type="password" id="passwd" size="10" class="inputbox" name="passwd"> <input type="submit" class="searchbutton" value="Login" name="login"></td>
                                      </tr>
                                    </tbody></table>                                                                               
                                <input type="hidden" value="" name="random_num">
                                    <input type="hidden" value="" name="gfx_check">
                                    <input type="hidden" value="login" name="op">
                                </form>			
                        </div>  
                         
                         
                         
                         
                         
                	</div>
                    
                    <div id="below_column2">
                    	                   	  <div class="heading2">
                            <h2>New Registration</h2>                                                  
                         </div>
                         	<div class="icon1"><a href=""><img src="<?php  echo $this->baseUrl();?>/images-web/icons_01.png" /></a> </div>
                            <div class="icon2"><a href=""><img src="<?php  echo $this->baseUrl();?>/images-web/icons_02.png" /></a> </div>
                            <div class="icon3"><a href=""><img src="<?php  echo $this->baseUrl();?>/images-web/icons_03.png" /></a></div>                          
                    </div>
                    
                
            
            
                
                
                
                
                
                </div>
                
            </div>
           <!-- <div id="right">
            <p>Secondary Sidebar</p>
            </div>-->
     </div>
     
