<table width="100%" border="1" cellpadding="5">
  <tr>
   	<td>No</td>
    <td>Date Applied</td>
   </tr>
   
   <?php foreach($this->center as $center){?>
<tr>
   	<td><?php echo $center['centername'];?></td>
    <td></td>
   </tr>
   <?php }?>
   </table>



<table width="100%" border="1" cellpadding="5">
  <tr>
    <td>No</td>
    <td>Date Applied</td>
    <td>IDNO</td>
    <td>Name</td>
    <td>ICNO</td>
    <td>Email</td>
    <td>Center Name</td>
    <td>Exam Date</td>
    <td>Session</td>
    <td>Start Exam</td>
    <td>End Exam</td>
    
    <td>Part</td>
    <td>Payment Status</td>
  </tr>


<?php 
$i=1;
foreach($this->data as $data){
	echo "<tr>";
	echo "<td>".$i.") </td>";
	echo "<td>".$data['UpdDate']."</td>";
	echo "<td>".$data['IDApplication']."</td>";
	echo "<td>".$data['FName']."</td>";
	echo "<td>".$data['ICNO']."</td>";
	echo "<td>".$data['EmailAddress']."</td>";
	echo "<td>".$data['centername']."</td>";
	echo "<td>".$data['Year']."/".$data['Exammonth']."/".$data['Examdate']."</td>";
	echo "<td>".$data['managesessionname']."</td>";
	echo "<td>".$data['starttime']."</td>";
	echo "<td>".$data['endtime']."</td>";
	
	echo "<td>".$data['ProgramName']."</td>";
	echo "<td>".$data['Payment']."</td>";
	echo "</tr>";
	$i++;
}

?>

</table>