<head>
<script type="text/javascript">
dojo.addOnLoad(function() {

	});

function fngetstudetails(qtnid)
{
	 if(qtnid != "")
		{   
		    var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/examination/questionsattended/fngetquestiondetails/qtnid/"+qtnid,
					handleAs:'text',
					load:function(data){					
						document.getElementById('divLogin').style.display = 'block';						
						document.getElementById('divLogin2').style.display = 'block';
						document.getElementById('contentdiv').innerHTML = data;						
					}
			   }
			dojo.xhrGet(xhrArgs); 
		} 
	 
}
function checkAll()
{
 	nodes = dojo.query('[name=\"stdid[]\"]');
 	if(document.getElementById('idstudent').checked == true) {		 
 		
 		dojo.forEach(nodes,
 		    function(node)
 		    {
 		        dijit.getEnclosingWidget(node).set("checked",true);
 		    }
 		);
 	}
 	else {	
 		dojo.forEach(nodes,
 			    function(node)
 			    {
 			        dijit.getEnclosingWidget(node).set("checked",false);
 			    }
 			);
 	}
 }
function Closefn()
{
	document.getElementById('contentdiv').innerHTML = "";
	document.getElementById('divLogin').style.display = 'none';
	document.getElementById('divLogin2').style.display = 'none';
} 
function fngetattemptsdetails(icno,examdate,program)
{
  var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/examination/studentattempts/getallattempts/icno/"+icno+"/examdate/"+examdate+"/program/"+program,
			handleAs:'text',
			load:function(data){ 
				document.getElementById('contentvenuediv').innerHTML = data;
				document.getElementById('divLoginvenue').style.display = 'block';
				document.getElementById('divLoginvenue2').style.display = 'block';
			}
	   }
	dojo.xhrGet(xhrArgs);
}

function fngetdate()
{
	var frmdate = dijit.byId('FromDate');
	var todate = dijit.byId('ToDate');
	alert(todate);
	var prog = dijit.byId('Program');
	var difftype = dijit.byId('Difficultytype');
	 var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/examination/questionsattended/fnpdfexport/prog/"+prog+"/frmdate/"+frmdate+"/difftype/"+difftype+"/todate/"+todate,
				handleAs:'text',
				load:function(data){					
										
				}
		   }
		dojo.xhrGet(xhrArgs); 

}
function Closevenue()
 {
    document.getElementById('contentvenuediv').innerHTML = "";
	document.getElementById('divLoginvenue').style.display = 'none';
	document.getElementById('divLoginvenue2').style.display = 'none';
     
 }
</script>
</head>
<body class='claro'>
	 <form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm" >
<script type="dojo/method" event="onSubmit">
                              if (this.validate()) {
					  return true;
                } else {
                    return false;
                }
				</script>
<fieldset>
	<legend><?php echo $this->translate("Student Exam Attempts");?></legend>

 			
		<table width="100%" >
		
		         <tr>
					<td><?php echo $this->translate("Exam From Date")?></td>
					<td><?php echo $this->lobjStudentattemptsForm->FromDate;?></td>
					<td><?php echo $this->translate("Exam To Date")?></td>
					<td><?php echo $this->lobjStudentattemptsForm->ToDate;?></td>	
                    <td><?php //echo $this->translate("Program")?></td>
					<td><?php //echo $this->lobjStudentattemptsForm->Program;?></td>	
				</tr>
				  
				<tr>
				 <td colspan="4" align="center">
				 	<?php echo $this->lobjStudentattemptsForm->Search;?>
				 	<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Clear"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'examination','controller'=>'studentattempts', 'action'=>'index'),'default',true);?>';" />
				</td>
               </tr>
		</table>

	</fieldset> 
	
	<fieldset>
	
	 <?php $cnnt=0; if (count($this->paginator)): ?>
		<table class="table" width="100%" cellpadding="8" cellspacing="3">
		
	    		<tr>
				      <th><input type="checkbox" dojoType="dijit.form.CheckBox" name="idstudent" onClick="checkAll();" id="idstudent"></th>
	    	        <?php  //echo "IDAppliction"?>
					 <th><?php echo "Exam Date";?></th>
					  <th><?php echo "Exam Venue";?></th>
					  <th><?php echo "Session";?></th>
					  <th><?php echo "Program";?></th>
					  <th><?php echo "ICNO";?></th>
					 <th><?php  echo "Candidate Name"?></th>
				    <th><?php echo "Result";?></th>
					 <th><?php echo "Already Appeared";?></th>
	    	       
	    	       
	    	       
	    	        
					
	    	    </tr>
	       
   			       <?php $larrcnts=$this->cntattempt; $lobjCountry=$this->paginator;   for ($mn=0;$mn<count($lobjCountry);$mn++): //echo "<pre>"; print_r($lobjCountry);$center=0;?>
				    <tr><td><input type="checkbox"  dojoType="dijit.form.CheckBox" name="stdid[]" value="<?php  echo $this->escape($lobjCountry[$mn]['IDApplication']) ;?>" id="stdid<?php echo $cnnt;?>"></td>
					<?php //echo $lobjCountry['IDApplication'];?>
					<td ><?php echo  date('d-m-Y',strtotime($lobjCountry[$mn]['examdate']));?></td>
					<td ><?php echo $lobjCountry[$mn]['centername'];?></td>
					<td ><?php echo $lobjCountry[$mn]['managesessionname'];?></td>
					<td ><?php echo $lobjCountry[$mn]['ProgramName'];?></td>
					<td ><?php echo $lobjCountry[$mn]['ICNO'];?></td>
					<td ><?php echo $lobjCountry[$mn]['FName'];?></td>
					<td ><?php if($lobjCountry[$mn]['pass']==1){ echo "Pass";}elseif($lobjCountry[$mn]['pass']==2){ echo "Fail";
					}elseif($lobjCountry[$mn]['pass']==3){ echo "Applied"; }else {echo "Absent";}?></td>
					
					<td ><?php if(array_key_exists($lobjCountry[$mn]['IDApplication'],$larrcnts)) { $idaty=$lobjCountry[$mn]['IDApplication'];  $atems= $larrcnts[$idaty];  if(($lobjCountry[$mn]['ICNO']==$lobjCountry[$mn-1]['ICNO'])&&($lobjCountry[$mn]['DateTime']==$lobjCountry[$mn-1]['DateTime'])) { $idapp=$lobjCountry[$mn]['IDApplication']; $idappss=$lobjCountry[$mn-1]['IDApplication']; $larrcnts[$idapp]= $larrcnts[$idappss] +1; ?><a href="#" onclick="fngetattemptsdetails('<?php echo $lobjCountry[$mn]['ICNO'];?>','<?php echo $lobjCountry[$mn]['DateTime'];?>','<?php echo $lobjCountry[$mn]['Program'];?>')"><?php echo $atems;?></a><input type="hidden" id="attem" name="attem[<?php $lobjCountry[$mn]['IDApplication']?>]" value="<?php echo $larrcnts[$idapp];?>" /> <?php  } else {  $idapp=$lobjCountry[$mn]['IDApplication'];?><?php if( $larrcnts[$idapp]==0){ echo $atems;}else{?> <a href="#" onclick="fngetattemptsdetails('<?php echo $lobjCountry[$mn]['ICNO'];?>','<?php echo $lobjCountry[$mn]['DateTime'];?>','<?php echo $lobjCountry[$mn]['Program'];?>')"><?php echo $atems; } ?><input type="hidden" id="attem" name="attem[<?php echo $lobjCountry[$mn]['IDApplication']?>]" value="<?php echo $larrcnts[$idapp];?>" /></a><?php }  }  ?></td></tr>
					 
	    <?php $cnnt++; endfor; ?>
		
          
           
		<tr> <td align="right" colspan="5"><b>Total: <?php echo count($this->paginator);?> </b></td><td align="left" colspan="2" ><input type='submit'  dojotype="dijit.form.Button" id="Update" name="Update" value="Update" label = "<?php echo $this->translate('Save')?>"  />
		<input type='button'  dojotype="dijit.form.Button" label="<?php echo $this->translate("Export to Excel"); ?>"onclick="window.location.href='<?php echo $this->url(array('module'=>'examination','controller'=>'Studentattempts', 'action'=>'fnpdfexport', 'frmdate'=>$this->fromdate, 'prog'=>$this->prog, 'difftype'=>$this->difftype, 'todate'=>$this->todate, 'questionids'=>$this->questionids),'default',true);?>';"></td></tr>
	  <?php endif; ?>		
	          
	         
	
		</table>
		
		
	</fieldset>
	<div runat="server" id="divLogin"  style="display:none; z-index: 153; position: fixed; left: 23%; width: 750px; top:10%">
					                <asp:Panel runat="server" ID="popupLogin">
					                    <asp:Panel runat="server" ID="popupContent1">
					                        <table style="height: 125px; width: 100%; background-color: #FFFFFF;" border="3"   frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">
					                                    
					                                    	<div id="contentdiv"></div>					                                      
					                                   </td>
					                                </tr>
					                                <tr>
					                                    <td colspan="2" align="left">
					                                        <asp:Label ID="lblmandatory" runat="server" Text="* Mandatory Information Required"
					                                            class="LeftLabelStyle" Width="350px" />
					                                    </td>
					                                </tr>
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
					            </div>
					                   	<div runat="server" id="divLogin2"  style="display:none; opacity:0.4; z-index: 150; position: absolute; left: 0%; height: 100%; width: 100%; top: 0%;">
					                <asp:Panel >
					                    <asp:Panel  >
					                        <table style="height: 100%; width: 100%; background-color: #000000;" border="3"   frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">
					                                    	
					                                      
					                                   </td>
					                                </tr>
					                               
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
					            </div>
								<div runat="server" id="divLoginvenue"  style="display:none; z-index: 153;  position: fixed; left: 20%; width: 600px; top:25% " >
  <div runat="server" id="divLoginvenue2"  style="display:none; opacity:0.5; z-index: 150; position: relative; left: 0%; height: 100%; width: 100%; top: 0%;"> </div>
					                <div id="scroll" style="height: 600px; width: 150%; overflow:auto;">
					                        <table style="height: 125px; width: 100%; background-color: #FFFFFF;" border="3" frame="box">
					                             <tr>
					                                    <td align="right">
					                                    	<div id="contentvenuediv">
															</div>					                                      
					                                   </td>
					                                </tr>
					                        </table>
    							   </div>
</div> 
</body>
