<head>
<script type="text/javascript">
<?if(isset($this->alertError)){?>
	alert('<? echo $this->alertError; ?>.');

<?}?>

function Closefn()
	{	 
	   	 window.location = "<?php echo $this->baseUrl();?>/batchlogin/logout";        
	}
</script>
</head>
	<fieldset><?php $companyDetails = $this->companyDetails; ?>
		<legend><?php echo $this->translate("Company").' '.$this->translate("Application");?></legend>
        
            <table width="100%" class="table">
                <tr>
                   <td><?php echo $this->translate("Company");?></td>
                   <td ><?php echo $companyDetails['CompanyName'];?></td>                  
                </tr>
                <tr>
                     <td><?php echo $this->translate("Contact")." ".$this->translate("Person");?></td>
                     <td ><?php echo $companyDetails['ContactPerson'];?></td>
                  	
                </tr>
               
         <!--        <tr>
	               <td align = "center" colspan = "4">
						<?php //echo $this->lobsearchform->Search;?>
						<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Add"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'stu-app','controller'=>'studentapplication', 'action'=>'newstudentapplication'),'default',true);?>';" />	
						<?php //echo $this->lobsearchform->Clear;?>
				   </td>
                </tr>
                 -->
            </table>
        </form>	
    </fieldset> 
    <br/>
	<fieldset>
	<form action="<?php echo $this->baseUrl();?>/companyapplication/index" method="POST">
	     <table class="table" width="30%" align="center">
                     <tr>
                          <th colspan = "5"><?php echo $this->translate("New Application");?></th>
                     </tr>                       
                         <tr>
                            <td><input type="radio" name="newapp" id="newapp" value="1" ><?php  echo $this->translate("New ")." ".$this->translate("Application");?></td>
                            <td align="right"></td>
                         </tr>
                    	 <tr>
                            <td><input type="radio" name="newapp" id="newapp" value="2" checked><?php  echo $this->translate("Register ")." ".$this->translate("Id");?></td>
                            <td align="right"><?php  echo $this->lobjstudentForm->IdRegister;?></td>
                         </tr>   	                        
	                     <tr>                           
                            <td colspan="2" align="right"><?php  echo $this->lobjstudentForm->Next;?>
                            <input type="button" name="Close" class="buttonStyle" onClick="Closefn();" value="Close" dojoType="dijit.form.Button"  label="Logout" >	</td>
                        </tr>     
	        </table>
        </form>
        </fieldset>                
	   <!-- 	<table class="table" width="100%" cellpadding="5" cellspacing="1">
		
	    	<tr>
	        	<th><?php //echo $this->translate("Student First Name");?></th>
	        	<th><?php //echo $this->translate("Middle Name");?></th>
	        	<th><?php //echo $this->translate("Last Name");?></th>
	       	   
	    	</tr>
	        <?php //if (count($this->paginator)): ?>
	        <?php // foreach ($this->paginator as $lobjuser ): ?>
	  		<tr style="background-color:<?php //echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	<td><a href="<?php //echo //$this->url(array('module'=>'stu-app','controller'=>'studentapplication', 'action'=>'studentapplicationedit' , 'id'=>$lobjuser['IDApplication']),'default',true);?>" ><?php echo $this->escape($lobjuser['FName']);?></a></td>
	    	    <td><?php //echo $this->escape($lobjuser['MName']);?></td>
	    		<td><?php //echo $this->escape($lobjuser['LName']);?></td>
	            <?php //endforeach; ?>
	            <?php //endif; ?> 
			</tr>
	    	<tr>
	        	<td colspan="8" align="right"><div class="pagination"><?php //echo $this->paginationControl($this->lobjpaginator,'Sliding','/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>
		</table>
	</fieldset> -->
