<head>
<script type="text/javascript">
dojo.addOnLoad(function() {

	});
</script>
</head>
<body class='claro'>
	 <form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm" >
<script type="dojo/method" event="onSubmit">
                              if (this.validate()) {
					  return true;
                } else {
                    return false;
                }
				</script>
<fieldset>
	<legend><?php echo $this->translate("Questions Encryption Technique");?></legend>

 			
		<table width="100%" >
		<tr>
		<?php if($this->encrypt==1){?>
		<td><input type="submit" Name="Decrypt" value="Decrypt" id="Decrypt"></td>
		<?php } else{?>
		<td><input type="submit" Name="Encrypt" value="Encrypt" id="Encrypt"></td>
		<?php }?>
		</tr>
		        
				
				
				
		</table>

	</fieldset> 
	
	
</body>
