<head>
<script type="text/javascript">
dojo.addOnLoad(function() {

	});

function fngetstudetails(qtnid)
{
	 if(qtnid != "")
		{   
		    var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/examination/questionsattended/fngetquestiondetails/qtnid/"+qtnid,
					handleAs:'text',
					load:function(data){					
						document.getElementById('divLogin').style.display = 'block';						
						document.getElementById('divLogin2').style.display = 'block';
						document.getElementById('contentdiv').innerHTML = data;						
					}
			   }
			dojo.xhrGet(xhrArgs); 
		} 
	 
}
function Closefn()
{
	document.getElementById('contentdiv').innerHTML = "";
	document.getElementById('divLogin').style.display = 'none';
	document.getElementById('divLogin2').style.display = 'none';
} 

function fngetdate()
{
	var frmdate = dijit.byId('FromDate');
	var todate = dijit.byId('ToDate');
	var prog = dijit.byId('Program');
	var difftype = dijit.byId('Difficultytype');
	 var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/examination/questionsattended/fnpdfexport/prog/"+prog+"/frmdate/"+frmdate+"/difftype/"+difftype+"/todate"+todate,
				handleAs:'text',
				load:function(data){					
										
				}
		   }
		dojo.xhrGet(xhrArgs); 

}
</script>
</head>
<body class='claro'>
	 <form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm" >
<script type="dojo/method" event="onSubmit">
                              if (this.validate()) {
					  return true;
                } else {
                    return false;
                }
				</script>
<fieldset>
	<legend><?php echo $this->translate("Questions Utility");?></legend>

 			
		<table width="100%" >
		
		         <tr>
					<td><?php echo $this->translate("From Date")?></td>
					<td><?php echo $this->lobjQuestionsattendedForm->FromDate;?></td>
					<td><?php echo $this->translate("From Date")?></td>
					<td><?php echo $this->lobjQuestionsattendedForm->ToDate;?></td>		
					
				</tr>
				  <tr>
					<td><?php echo $this->translate("Program")?></td>
					<td><?php echo $this->lobjQuestionsattendedForm->Program;?></td>
					<td><?php echo $this->translate("Difficultytype")?></td>
					<td><?php echo $this->lobjQuestionsattendedForm->Difficultytype;?></td>	
				</tr>
				<tr>
				<td><?php echo $this->translate("Question Ids")?></td>
					<td><?php echo $this->lobjQuestionsattendedForm->questionids;?></td>
<td></td>
<td></td>			
				
				</tr>
				<tr>
				 <td colspan="4" align="center">
				 	<?php echo $this->lobjQuestionsattendedForm->Search;?>
				 	<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Clear"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'examination','controller'=>'questionsattended', 'action'=>'index'),'default',true);?>';" />
				</td>
               </tr>
		</table>

	</fieldset> 
	
	<fieldset>
	<?php $questionids =$this->questionids;?>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
		
	    		<tr>
	    	
	    	       <th><?php if($questionids==1){echo "Question Ids";}else echo "Questions"?></th>
	    	       <th><?php echo "Question Group";?></th>
	    	       <th><?php echo "Chapter";?></th>
	    	            <th><?php echo "Question Level";?></th>
	    	     <th><?php echo "Total Candidate";?></th>
	    	       <th><?php echo "Appeared";?></th>
	    	         <th><?php echo "Attended";?></th>
	    	         <th><?php echo "Correct";?></th>
	    	         <th><?php echo "Wrong";?></th>
	        	
	    	</tr>
	       
   			     <?php $cnts = count($this->questions);$larrquestiondetails = $this->questions; $examdate = $this->examdate;
   			     $sum=0;$attended=0;$correct=0;
   			     $regids =$this->regids;?>
	        <?php for($i=0;$i<$cnts;$i++){
	        	$questionlevel = $larrquestiondetails[$i]['QuestionLevel'];
	        	if($questionlevel=='1')
	        	  $questionanswelevel = "Easy";
	        	else if($questionlevel=='2')
	        	  $questionanswelevel = "Medium";
	        	else 
	        	    $questionanswelevel = "Difficult";
	        ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next();?>">
	  		<td><span style="position: absolute;top:relative;" ></span><a href="javascript:fngetstudetails(<?php echo $larrquestiondetails[$i]['idquestions']?>);"><?php  if($questionids==1){echo $larrquestiondetails[$i]['idquestions'];}else echo $larrquestiondetails[$i]['Question']?></a></td>
	  		      <td><?php echo $larrquestiondetails[$i]['QuestionGroup']?></td>
	  		     <td><?php echo $larrquestiondetails[$i]['QuestionNumber']?></td>
	  		     <td><?php echo $questionanswelevel?></td>
	  	
	  		       
	  		    
	  		    <?php $lobjexamquestionsattendedmodel = new Examination_Model_Questionsattended();
	  		    $maxidss =  $this->maxids;
	  		 ?>
	  	         <?php  $larrresultattended = $lobjexamquestionsattendedmodel->fnGetQtnsapperedinexam($larrquestiondetails[$i]['idquestions'],$maxidss);
	  	          $cnt = count($larrresultattended);
	  	      $sum = $sum+$cnt;
	  	         ?>
	  	         
	  	         
	  	          <?php  $larrresultstudentattended = $lobjexamquestionsattendedmodel->fnGettotalattended($larrquestiondetails[$i]['idquestions'],$regids);
	  	          $total = count($larrresultstudentattended);
	  	     $attended = $attended+$total;
	  	         ?>
	  	         
	  	          <?php  $larrresultstudentcorrectattended = $lobjexamquestionsattendedmodel->fnGettotalCorrectattended($larrquestiondetails[$i]['idquestions'],$regids);
	  	       $totalcor = count($larrresultstudentcorrectattended);
	  	     $correct = $correct+$totalcor;
	  	         ?>
	  	
	  	
	  	
	              <td><?php echo $this->cntofstudent;?></td>
	  		      <td><?php echo count($larrresultattended);?></td>
	  		      <td><?php echo count($larrresultstudentattended);?></td>
	  		      <td><?php echo count($larrresultstudentcorrectattended);?></td>
	  		      <td><?php echo count($larrresultstudentattended)-count($larrresultstudentcorrectattended);?></td>
	  		     
	  		</tr>
	
	  		
	            <?php } ?>
	            
	          
<tr><td colspan='5' align="left">
</td>
<td><?php echo $sum;?></td>
<td><?php echo $attended;?></td>
<td><?php echo $correct;?></td>
<td><?php echo $attended-$correct;?>
<input type='button' align="right" dojotype="dijit.form.Button" label="<?php echo $this->translate("Export to Excel"); ?>"onclick="window.location.href='<?php echo $this->url(array('module'=>'examination','controller'=>'questionsattended', 'action'=>'fnpdfexport', 'frmdate'=>$this->fromdate, 'prog'=>$this->prog, 'difftype'=>$this->difftype,'todate'=>$this->todate, 'questionids'=>$this->questionids),'default',true);?>';"></td></tr>
	            
	         
	
		</table>
		
		
	</fieldset>
	<div runat="server" id="divLogin"  style="display:none; z-index: 153; position: fixed; left: 23%; width: 750px; top:10%">
					                <asp:Panel runat="server" ID="popupLogin">
					                    <asp:Panel runat="server" ID="popupContent1">
					                        <table style="height: 125px; width: 100%; background-color: #FFFFFF;" border="3"   frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">
					                                    
					                                    	<div id="contentdiv"></div>					                                      
					                                   </td>
					                                </tr>
					                                <tr>
					                                    <td colspan="2" align="left">
					                                        <asp:Label ID="lblmandatory" runat="server" Text="* Mandatory Information Required"
					                                            class="LeftLabelStyle" Width="350px" />
					                                    </td>
					                                </tr>
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
					            </div>
					                   	<div runat="server" id="divLogin2"  style="display:none; opacity:0.4; z-index: 150; position: absolute; left: 0%; height: 100%; width: 100%; top: 0%;">
					                <asp:Panel >
					                    <asp:Panel  >
					                        <table style="height: 100%; width: 100%; background-color: #000000;" border="3"   frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">
					                                    	
					                                      
					                                   </td>
					                                </tr>
					                               
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
					            </div>
</body>
