<?php
//get locale
$registry = Zend_Registry::getInstance();
$locale = $registry->get('Zend_Locale');
$this->locale = $locale->toString();

if($locale == 'ar_YE'){
	$this->direction = "rtl";
	$this->float = "right";
	$locale = 'ar';
}else{
	$this->direction = "ltr";
	$this->float = "left";
	$locale = 'en';
}
$lobjinitialconfigModel = new GeneralSetup_Model_DbTable_Initialconfiguration(); 
$larrInitialSettings = $lobjinitialconfigModel->fnGetInitialConfigDetails(1);
$this->College = empty($larrInitialSettings['CollegeAliasName']) ? "College":$larrInitialSettings['CollegeAliasName'];
$this->Department =  empty($larrInitialSettings['DepartmentAliasName']) ? "Department":$larrInitialSettings['DepartmentAliasName'];
$this->Subject = empty($larrInitialSettings['SubjectAliasName']) ? "Subject":$larrInitialSettings['SubjectAliasName'];
$this->Course = empty($larrInitialSettings['CourseAliasName']) ? "Course":$larrInitialSettings['CourseAliasName'];
$this->Program = empty($larrInitialSettings['ProgramAliasName']) ? "Program":$larrInitialSettings['ProgramAliasName'];
$this->Branch = empty($larrInitialSettings['BranchAliasName']) ? "Branch":$larrInitialSettings['BranchAliasName'];
$this->Center = empty($larrInitialSettings['CenterAliasName']) ? "Center":$larrInitialSettings['CenterAliasName'];
$this->Batch = empty($larrInitialSettings['BatchAliasName ']) ? "Set":$larrInitialSettings['BatchAliasName'];
?>
<?php  echo $this->doctype(); ?>
<!--[if IE]>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<![endif]-->
<html xmlns="http://www.w3.org/1999/xhtml"
	xml:lang="<?php echo $this->locale; ?>"
	dir="<?php echo $this->direction; ?>">
<head>

<!-- ///////////////////////// DOJO ////////////////////////// -->
<script type="text/javascript" src="<?php  echo $this->baseUrl();?>/js/dojo/dojo/dojo.js" djConfig="parseOnLoad: true,locale:'<?php echo $locale;?>'"></script>
<script type="text/javascript" src="<?php  echo $this->baseUrl();?>/js/dojo/dojo/nls/dojo_<?php echo $locale;?>.js"></script>
<link rel="stylesheet" type="text/css" href="<?php  echo $this->baseUrl();?>/js/dojo/dijit/themes/claro/claro.css" />
<link rel="stylesheet" type="text/css" href="<?php  echo $this->baseUrl();?>/js/dojo/dojo/resources/dojo.css" />
<link rel="stylesheet" type="text/css" href="<?php  echo $this->baseUrl();?>/js/dojo/dojox/grid/enhanced/resources/claro/EnhancedGrid.css" />
<link rel="stylesheet" type="text/css" href="<?php  echo $this->baseUrl();?>/js/dojo/dojox/grid/enhanced/resources/EnhancedGrid_rtl.css" />
<link rel="stylesheet" type="text/css" href="<?php  echo $this->baseUrl();?>/js/dojo/dojox/grid/enhanced/resources/Pagination.css" />


<!-- ///////////////////////// DOJO ////////////////////////// -->

<?php echo $this->headMeta(); ?>
<?php echo $this->headTitle(); ?>
<?php echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/layout.css'); ?>
<?php echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/usty/simpletree.css'); ?>
<?php echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/usty/topmenu.css'); ?>
<?php echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/usty/style.css'); ?>
<?php echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/usty/left-menu.css'); ?>
<?php
if($this->direction == 'rtl'){
	echo "<style>";
	echo "ul.potato-menu li.potato-menu-item {
	 				float:right;
				}";
	echo "#language{
	 				left:10px;
	 			}";

	echo "#appTitle{
	 				left: 15px;
					top: 25px;
	 			}";

	echo "#main-content{
						margin-right: 200px;
				}";

	echo "div.toolbar-button {
				float:left;
				text-align: left;
				}";

	echo "</style>";
}else{
	echo "<style>";
	echo "ul.potato-menu li.potato-menu-item {
	 				float:left;
				}";
	echo "#language{
	 				right:10px;
	 			}";

	echo "#appTitle{
	 				right: 15px;
					top: 25px;
	 			}";

	echo "#main-content{
						margin-left: 200px;
				}";

	echo "div.toolbar-button {
				float:right;
				text-align: right;
				}";

	echo "</style>";
}

?>

</head>

<body class="claro">
	<div id="container">
		<div id="header">
				<div style=background-color:#FFFFFF;></div>
			<div id="appTitle" style=background-color:#FFFFFF;><?php echo $this->translate(APPLICATION_TITLE);?></div>
		</div>
	   
		<div id="menu" style="background-color:#75B737;"><?php $auth = Zend_Auth::getInstance();?>
			<!--<div id="language"><?php //echo $auth->getIdentity()->loginName;?>&nbsp;|&nbsp <?php //echo $this->translate("Language"); ?>: 
				 <select
					style="width: 80px;" onchange="window.location = '?lang=' + this.options[this.selectedIndex].value">
						<option value="ar"
							<?php //echo $this->locale=="ar_YE"?"selected='selected'":""; ?>>Arabic
						</option>
						<option value="en"
							<?php //echo $this->locale=="en_US"?"selected='selected'":""; ?>>English
						</option>
				</select> 
			</div>-->
			<div id="topmenu">
				<div class="underlinemenu" style="backgroundcolor:red">
					<ul>
<!--						<li><a href="<?php echo $this->url(array('controller'=>'introduction','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Home"); ?></a></li>-->
						
				</div>
			</div>
		</div>
		<div id="body">
			<!-- Begin Section Content-->
			<table width="100%" border="0" cellpadding="0" cellspacing="0">
				<tbody>
					<tr>
						
						<td valign="top">
							<div style="background: #fff; height: 30px;" align="center">
								<ul class="stepsmenu">
								<?php  //$module = Zend_Controller_Front::getInstance()->getRequest()->getModuleName();
									  // $controller = Zend_Controller_Front::getInstance()->getRequest()->getControllerName(); ?>
								   
								<?php /*	switch($module) {
									case "general-setup": ?>
										<?php switch($controller) {
												  case "university": ?>
											<?php case "collegemaster": ?>
											<?php case "departmentmaster": ?>
												<li class="first"><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'university','action'=>'index'),'default',true) ?>"><?php echo $this->translate("University"); ?></a></li>
								    			<li class="second"><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'collegemaster','action'=>'index'),'default',true) ?>"><?php echo $this->translate("$this->College"); ?></a></li>
								    			<li class="third"><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'departmentmaster','action'=>'index'),'default',true) ?>"><?php echo $this->translate("$this->Department"); ?></a></li>
								    			<?php break; ?>
								    			
								    			
											<?php case "coursemaster": ?>
											<?php case "program": ?>
											<?php case "programbranch": ?>
												<li class="first"><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'coursemaster','action'=>'index'),'default',true) ?>"><?php echo $this->translate($this->Course).' '.$this->translate("Master"); ?></a></li>
								    			<li class="second"><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'program','action'=>'index'),'default',true) ?>"><?php echo $this->translate("$this->Program"); ?></a></li>
								    			<li class="third"><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'programbranch','action'=>'index'),'default',true) ?>"><?php echo $this->translate($this->Program).' '.$this->translate($this->Branch).' '.$this->translate("Link"); ?></a></li>
								    			<?php break; ?>
								    			
								    			
											<?php case "semestermaster": ?>
											<?php case "semester": ?>
												<li class="first"><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'semestermaster','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Semester").' '.$this->translate("Master"); ?></a></li>
								    			<li class = "second"><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'semester','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Semester"); ?></a></li>
								    			<?php break; ?>
								    			
								    			
											<?php default: ?>
												<?php echo "";?>	
										<?php } ?>	
										<?php break;?>	
									<?php default: 
										echo "";	
								}*/ ?>
								
								<!-- 
									<li class="first"><a href="http://trisakti.oum.edu.my/general-setup/university"><?php //echo $this->translate("University"); ?></a></li>
								    <li class="second"><a href="http://trisakti.oum.edu.my/general-setup/faculty"><?php //echo $this->translate("College"); ?></a></li>
								    <li class="third"><a href="http://trisakti.oum.edu.my/general-setup/department"><?php //echo $this->translate("Department"); ?></a></li>
								    <li class="fourth"><a href="http://trisakti.oum.edu.my/general-setup/branch"><?php //echo $this->translate("Branch"); ?></a></li>
								    <li class="fifth"><a href="http://trisakti.oum.edu.my/general-setup/office"><?php //echo $this->translate("Office"); ?></a></li>
								    <li class="sixth"><a href="http://trisakti.oum.edu.my/general-setup/venue"><?php //echo $this->translate("Venue"); ?></a></li>
								-->
								</ul>
							</div>
						</td>
					</tr>
					<tr>
						<td valign="top">
							<!-- 
							<div class="message toolbar">
								<h2><?php echo $this->translate("University Setup"); ?></h2>
								<div class="toolbar-button">
									<ul>
										<li>
											<a href="#" onclick="javascript:edit(1)">
												<span class="edit"></span>
												<?php echo $this->translate("Edit"); ?>
											</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">
												<span class="info"></span>
												<?php echo $this->translate("Info"); ?>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<br>
							-->
							<table width="100%" cellpadding="0" cellspacing="0" border="0">
								<tbody>
									<tr>
										<td valign="top"><?php echo $this->layout()->content; ?></td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
			<!-- End Section Content-->
		</div>
		<div id="footer"><!-- Footer start --> <?php //echo $this->translate("Copyright"); ?><?php //echo $this->translate(APPLICATION_ENTERPRISE) ;?> 
		<!-- Footer end --></div>
	</div>
</body>
</html>
