<?php
error_reporting(E_ALL ^ E_NOTICE);
//get locale
$registry = Zend_Registry::getInstance();
$locale = $registry->get('Zend_Locale');
$this->locale = $locale->toString();

if($locale == 'ar_YE'){
	$this->direction = "rtl";
	$this->float = "right";
	$locale = 'ar';
}else{
	$this->direction = "ltr";
	$this->float = "left";
	$locale = 'en';
}
$lobjinitialconfigModel = new GeneralSetup_Model_DbTable_Initialconfiguration(); 
$larrInitialSettings = $lobjinitialconfigModel->fnGetInitialConfigDetails(1);




//////////////////force logout on click of refresh or copied same url in new tab done by chm(16-12-2014)//////////
$auth = Zend_Auth::getInstance();
$this->gsessionbatch= new Zend_Session_Namespace('sis');  
$iduser=$this->gsessionbatch->__get('iduser');
$uri =  $_SERVER['REQUEST_URI'];
$array = explode("/",$uri);
//print_r($array);
//in_array("schedulestudents",$array
if(($array[4]!="coursevenue")){
	$this->gsessionbatch->visitcoursevenue = 0;
	//echo $this->gsessionbatch->visitcoursevenue."initial time";
}else{	
	$this->gsessionbatch->visitcoursevenue = $this->gsessionbatch->visitcoursevenue + 1;	
	//echo $this->gsessionbatch->visitcoursevenue."first time";	
	if($this->gsessionbatch->visitcoursevenue > 1){
		//echo $this->gsessionbatch->visitcoursevenue."second time";
		$ModelBatchlogin = new App_Model_Batchlogin();		
		$ModelBatchlogin->fnupdatelastlogindetails($iduser,1);
		echo "<script>alert('You have used multiple requests you are forced logged out')</script>";
		echo "<script>parent.location = '".$this->baseUrl()."/index/login';</script>";
		session_destroy();
	}
}
if ($array[4]!="schedulestudents"){
	$this->gsessionbatch->visistsschedulestudents = 0;	
}else{$this->gsessionbatch->visistsschedulestudents = $this->gsessionbatch->visistsschedulestudents + 1;	
	//echo $this->gsessionbatch->visistsschedulestudents."first time";	
	if($this->gsessionbatch->visistsschedulestudents > 1){
		//echo $this->gsessionbatch->visistsschedulestudents."second time";
		$ModelBatchlogin = new App_Model_Batchlogin();		
		$ModelBatchlogin->fnupdatelastlogindetails($iduser,1);
		echo "<script>alert('You have made multiple requests,you are forced to Logout')</script>";
		echo "<script>parent.location = '".$this->baseUrl()."/index/login';</script>";
		session_destroy();
	}
}
$Typeofuser=1;
$activitytime=date("Y-m-d H:i:s");
$ModelBatchlogin = new App_Model_Batchlogin();
$ModelBatchlogin->fnUpdateLastActivity($iduser,$Typeofuser,$activitytime);

/////////end of force logout on click of refresh or copied same url in new tab done by chm(16-12-2014)//////////





$this->College = empty($larrInitialSettings['CollegeAliasName']) ? "College":$larrInitialSettings['CollegeAliasName'];
$this->Department =  empty($larrInitialSettings['DepartmentAliasName']) ? "Department":$larrInitialSettings['DepartmentAliasName'];
$this->Subject = empty($larrInitialSettings['SubjectAliasName']) ? "Subject":$larrInitialSettings['SubjectAliasName'];
$this->Course = empty($larrInitialSettings['CourseAliasName']) ? "Course":$larrInitialSettings['CourseAliasName'];
$this->Program = empty($larrInitialSettings['ProgramAliasName']) ? "Program":$larrInitialSettings['ProgramAliasName'];
$this->Branch = empty($larrInitialSettings['BranchAliasName']) ? "Branch":$larrInitialSettings['BranchAliasName'];
$this->Center = empty($larrInitialSettings['CenterAliasName']) ? "Center":$larrInitialSettings['CenterAliasName'];
$this->Batch = empty($larrInitialSettings['BatchAliasName ']) ? "Set":$larrInitialSettings['BatchAliasName'];
?>
<?php  echo $this->doctype(); ?>
<!--[if IE]>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<![endif]-->
<html xmlns="http://www.w3.org/1999/xhtml"
	xml:lang="<?php echo $this->locale; ?>"
	dir="<?php echo $this->direction; ?>">
<head>

<!-- ///////////////////////// DOJO ////////////////////////// -->
<script>
	
    
</script>

<script type="text/javascript" src="<?php  echo $this->baseUrl();?>/js/dojo/dojo/dojo.js.uncompressed.js" djConfig="parseOnLoad: true,locale:'<?php echo $locale;?>'"></script>
<script type="text/javascript" src="<?php  echo $this->baseUrl();?>/js/dojo/dojo/nls/dojo_<?php echo $locale;?>.js"></script>
<link rel="stylesheet" type="text/css" href="<?php  echo $this->baseUrl();?>/js/dojo/dijit/themes/claro/claro.css" />
<link rel="stylesheet" type="text/css" href="<?php  echo $this->baseUrl();?>/js/dojo/dojo/resources/dojo.css" />
<link rel="stylesheet" type="text/css" href="<?php  echo $this->baseUrl();?>/js/dojo/dojox/grid/enhanced/resources/claro/EnhancedGrid.css" />
<link rel="stylesheet" type="text/css" href="<?php  echo $this->baseUrl();?>/js/dojo/dojox/grid/enhanced/resources/EnhancedGrid_rtl.css" />
<link rel="stylesheet" type="text/css" href="<?php  echo $this->baseUrl();?>/js/dojo/dojox/grid/enhanced/resources/Pagination.css" />


<!-- ///////////////////////// DOJO ////////////////////////// -->

<?php echo $this->headMeta(); ?>
<?php echo $this->headTitle(); ?>
<?php echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/layout.css'); ?>
<?php echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/usty/simpletree.css'); ?>
<?php echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/usty/topmenu.css'); ?>
<?php echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/usty/style.css'); ?>
<?php echo $this->headLink()->prependStylesheet($this->baseUrl().'/css/usty/left-menu.css'); ?>
<?php
if($this->direction == 'rtl'){
	echo "<style>";
	echo "ul.potato-menu li.potato-menu-item {
	 				float:right;
				}";
	echo "#language{
	 				left:10px;
	 			}";

	echo "#appTitle{
	 				left: 15px;
					top: 25px;
	 			}";

	echo "#main-content{
						margin-right: 200px;
				}";

	echo "div.toolbar-button {
				float:left;
				text-align: left;
				}";

	echo "</style>";
}else{
	echo "<style>";
	echo "ul.potato-menu li.potato-menu-item {
	 				float:left;
				}";
	echo "#language{
	 				right:10px;
	 			}";

	echo "#appTitle{
	 				right: 15px;
					top: 25px;
	 			}";

	echo "#main-content{
						margin-left: 200px;
				}";

	echo "div.toolbar-button {
				float:right;
				text-align: right;
				}";

	echo "</style>";
}

?>

</head>
<body class="claro"  oncontextmenu="return false;">
	<div id="container">
		<div id="header">
			<div style=background-color:#FFFFFF;><img src="<?php echo $this->baseUrl();?>/images/header.jpg" height="80" width="75%"></div>
			<div id="appTitle" style=background-color:#FFFFFF;><?php echo $this->translate(APPLICATION_TITLE);?></div>
		</div>
	   
		<div id="menu" style="background-color:#75B737;"><?php $auth = Zend_Auth::getInstance();?>
			
			<div id="topmenu">
				<div class="underlinemenu" style="backgroundcolor:red">
					<ul>
					<?php $auth = Zend_Auth::getInstance();
				          $iduser=$auth->getIdentity()->iduser;
						  if($iduser ==21)
						  {  ?>
						<li><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'initialconfiguration','action'=>'index'),'default',true) ?>"><?php echo $this->translate(" Setup "); ?></a></li>
						<li><a href="<?php echo $this->url(array('module'=>'registrations','controller'=>'batchapproval','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Registration");?></a></li>
						<li><a href="<?php echo $this->url(array('module'=>'scheduler','controller'=>'center','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Scheduler");?></a></li>
						<li><a href="<?php echo $this->url(array('module'=>'finance','controller'=>'companypayment','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Finance"); ?></a></li>
						<li><a href="<?php echo $this->url(array('module'=>'examination','controller'=>'closetime','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Examination"); ?></a></li>
						<li><a href="<?php echo $this->url(array('module'=>'website','controller'=>'webpagetemplate','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Website"); ?></a></li>
						<li><a href="<?php echo $this->url(array('module'=>'reports','controller'=>'attendancelist','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Reports"); ?></a></li>
						<li><a href="<?php echo $this->url(array('module'=>'default','controller'=>'index','action'=>'logout'),'default',true) ?>"><?php echo $this->translate("Logout"); ?></a></li>
						<?php } else { ?>
						<li><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'user','action'=>'index'),'default',true) ?>"><?php echo $this->translate(" Setup "); ?></a></li>
						<li><a href="<?php echo $this->url(array('module'=>'registrations','controller'=>'batchapproval','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Registration");?></a></li>
						<li><a href="<?php echo $this->url(array('module'=>'scheduler','controller'=>'center','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Scheduler");?></a></li>
						<li><a href="<?php echo $this->url(array('module'=>'finance','controller'=>'companypayment','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Finance"); ?></a></li>
						<li><a href="<?php echo $this->url(array('module'=>'examination','controller'=>'closetime','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Examination"); ?></a></li>
						<li><a href="<?php echo $this->url(array('module'=>'website','controller'=>'webpagetemplate','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Website"); ?></a></li>
						<li><a href="<?php echo $this->url(array('module'=>'reports','controller'=>'attendancelist','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Reports"); ?></a></li>
						<li><a href="<?php echo $this->url(array('module'=>'default','controller'=>'index','action'=>'logout'),'default',true) ?>"><?php echo $this->translate("Logout"); ?></a></li>
						
						
						<?php } ?>
						
					</ul>
				</div>
			</div>
		</div>
		<div id="body">
			<!-- Begin Section Content-->
			<table width="100%" border="0" cellpadding="0" cellspacing="0">
				<tbody >
					<tr>
						<td rowspan="2" valign="top" width="20%">
							<div id="vertmenu">
								<ul>
									<?php  $module = Zend_Controller_Front::getInstance()->getRequest()->getModuleName();
									 $auth = Zend_Auth::getInstance();
				                            $iduser=$auth->getIdentity()->iduser;
                                             //echo 	$iduser;	?>
										<?php switch($module) { 
										case 'general-setup': 
										
										if($iduser == 21){ ?>
									<li><h1><?php echo $this->translate("General").' '.$this->translate("Set-up"); ?></h1></li>
									
									<li><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'initialconfiguration','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Initial Configuration"); ?></a></li>
									<li><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'maintenance','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Maintenance"); ?></a></li> 
									<li><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'roles','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Role"); ?></a></li>
									<li><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'emailtemplate','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Email Template"); ?></a></li>
									<li><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'program','action'=>'index'),'default',true) ?>"><?php echo $this->translate("$this->Program").' '.("Master"); ?></a></li>
									<li><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'programmaster','action'=>'index'),'default',true) ?>"><?php echo $this->translate("$this->Course").' '.$this->translate("Master"); ?></a></li>
									<li><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'takafuloperator','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Takaful").' '.$this->translate("Operator"); ?></a></li>
									<li><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'businesstype','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Business Type"); ?></a></li> 
									<li><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'securityquestion','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Security Questions"); ?></a></li>
									<li><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'countrymaster','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Country Master"); ?></a></li> 
									<li><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'statemaster','action'=>'index'),'default',true) ?>"><?php echo $this->translate("State Master"); ?></a></li> 
									<li><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'city','action'=>'index'),'default',true) ?>"><?php echo $this->translate("City Master"); ?></a></li>   
									<li><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'studentedit','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Edit Student"); ?></a></li>
									<li><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'companieslist','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Edit Company"); ?></a></li>
									<?php }else { ?>
									<li><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'user','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Users"); ?></a></li>
									<li><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'initialconfiguration','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Initial Configuration"); ?></a></li>
									<li><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'maintenance','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Maintenance"); ?></a></li> 
									<li><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'roles','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Role"); ?></a></li>
									<li><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'emailtemplate','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Email Template"); ?></a></li>
									<li><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'program','action'=>'index'),'default',true) ?>"><?php echo $this->translate("$this->Program").' '.("Master"); ?></a></li>
									<li><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'programmaster','action'=>'index'),'default',true) ?>"><?php echo $this->translate("$this->Course").' '.$this->translate("Master"); ?></a></li>
									<li><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'takafuloperator','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Takaful").' '.$this->translate("Operator"); ?></a></li>
									<li><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'businesstype','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Business Type"); ?></a></li> 
									<li><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'securityquestion','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Security Questions"); ?></a></li>
									<li><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'countrymaster','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Country Master"); ?></a></li> 
									<li><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'statemaster','action'=>'index'),'default',true) ?>"><?php echo $this->translate("State Master"); ?></a></li> 
									<li><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'city','action'=>'index'),'default',true) ?>"><?php echo $this->translate("City Master"); ?></a></li>   
									<li><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'studentedit','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Edit Student"); ?></a></li>
									<li><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'companieslist','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Edit Company"); ?></a></li>
									
									<?php } break; ?>
											
										<?php case 'finance': ?>
										<li><h1><?php echo $this->translate("Finance"); ?></h1></li>
										    <li><a href="<?php echo $this->url(array('module'=>'finance','controller'=>'accountmaster','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Accounts Master"); ?></a></li>
											<li><a href="<?php echo $this->url(array('module'=>'finance','controller'=>'accounthead','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Discount Set Up"); ?></a></li>
											<li><a href="<?php echo $this->url(array('module'=>'finance','controller'=>'programrate','action'=>'index'),'default',true) ?>"><?php echo $this->translate("$this->Course").' '.("Rate");?></a></li>
											<li><a href="<?php echo $this->url(array('module'=>'finance','controller'=>'companytypepayment','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Payment Terms"); ?></a></li>  
											<li><a href="<?php echo $this->url(array('module'=>'finance','controller'=>'companypayment','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Company Cheque Payment"); ?></a></li>
											<li><a href="<?php echo $this->url(array('module'=>'finance','controller'=>'takafulpayment','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Takaful Cheque Payment"); ?></a></li>
											<li><a href="<?php echo $this->url(array('module'=>'finance','controller'=>'studentpayment','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Confirm Student Payment Receipt"); ?></a></li>
											<li><a href="<?php echo $this->url(array('module'=>'finance','controller'=>'approvecreditstudent','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Company Credit Application Approval"); ?></a></li>
											<li><a href="<?php echo $this->url(array('module'=>'finance','controller'=>'approvecreditstudenttakaful','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Takaful Credit Application Approval"); ?></a></li>
											<li><a href="<?php echo $this->url(array('module'=>'finance','controller'=>'fpxautopayment','action'=>'index'),'default',true) ?>"><?php echo $this->translate("FPX Manual Entry"); ?></a></li>
											<li><a href="<?php echo $this->url(array('module'=>'finance','controller'=>'fpxcompanypayment','action'=>'index'),'default',true) ?>"><?php echo $this->translate("FPX Company Entry"); ?></a></li>
											<li><a href="<?php echo $this->url(array('module'=>'finance','controller'=>'fpxtakafulpayment','action'=>'index'),'default',true) ?>"><?php echo $this->translate("FPX Takaful Entry"); ?></a></li>
											<li><a href="<?php echo $this->url(array('module'=>'finance','controller'=>'payment','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Paypal Manual Entry"); ?></a></li>
											<li><a href="<?php echo $this->url(array('module'=>'finance','controller'=>'paymentcomapny','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Paypal Company Entry"); ?></a></li>
											<li><a href="<?php echo $this->url(array('module'=>'finance','controller'=>'paymenttakaful','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Paypal Takaful Entry"); ?></a></li>
											<li><a href="<?php echo $this->url(array('module'=>'finance','controller'=>'commonpaymentcancel','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Payment Cancel"); ?></a></li>
											<li><a href="<?php echo $this->url(array('module'=>'finance','controller'=>'credittoibfim','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Credit To IBFIM"); ?></a></li>
											<li><a href="<?php echo $this->url(array('module'=>'finance','controller'=>'companyapprove','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Approve Credit to IBFIM "); ?></a></li>											 
										    <li><a href="<?php echo $this->url(array('module'=>'finance','controller'=>'paymentcancelation','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Cancel Exam Payment"); ?></a></li>	
										<!-- <li><a href="<?php //echo $this->url(array('module'=>'finance','controller'=>'paymentcancel','action'=>'index'),'default',true) ?>"><?php //echo $this->translate("Payment Cancel"); ?></a></li>
											<li><a href="<?php //echo $this->url(array('module'=>'finance','controller'=>'indivdualpaymentcancel','action'=>'index'),'default',true) ?>"><?php //echo $this->translate("Individual Payment Cancel"); ?></a></li>
									 -->	
									 	<?php break;?>
										
										<?php case 'scheduler': ?>
										<li><h1><?php echo $this->translate("Scheduler"); ?></h1></li>
											<li><a href="<?php echo $this->url(array('module'=>'scheduler','controller'=>'center','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Manage Venue");?></a></li>
											<li><a href="<?php echo $this->url(array('module'=>'scheduler','controller'=>'managesession','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Manage Session");?></a></li>
											<li><a href="<?php echo $this->url(array('module'=>'scheduler','controller'=>'newscheduler','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Manage Scheduler");?></a></li>
											<li><a href="<?php echo $this->url(array('module'=>'scheduler','controller'=>'sessionconstraints','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Scheduler Exception");?></a></li>
										     <li><a href="<?php echo $this->url(array('module'=>'scheduler','controller'=>'schedulereport','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Scheduler Report"); ?></a></li>
											  <li><a href="<?php echo $this->url(array('module'=>'scheduler','controller'=>'venueexamdetails','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Venuewise Exams"); ?></a></li>
										       <li><a href="<?php echo $this->url(array('module'=>'scheduler','controller'=>'chronescheduling','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Chrone Scheduling"); ?></a></li>
										<li><a href="<?php echo $this->url(array('module'=>'scheduler','controller'=>'managetakafulcenters','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Manage TO Centers and Scheduler"); ?></a></li>
										 <li><a href="<?php echo $this->url(array('module'=>'scheduler','controller'=>'manageibfimapproval','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Manage IBFIM Approval"); ?></a></li>
										
										<?php break;?>
										
										<?php case 'registrations': ?>
											<li><h1><?php echo $this->translate("Registrations"); ?></h1></li>
											<li><a href="<?php echo $this->url(array('module'=>'registrations','controller'=>'batchapproval','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Company Batch Approval");?></a></li>
											<li><a href="<?php echo $this->url(array('module'=>'registrations','controller'=>'studentapproval','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Student Approval");?></a></li>

											<li><a href="<?php echo $this->url(array('module'=>'registrations','controller'=>'takafulapprove','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Takaful Batch Approval");?></a></li>

											<li><a href="<?php echo $this->url(array('module'=>'registrations','controller'=>'companyapplication','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Batch Student Registration");?></a></li>
											<li><a href="<?php echo $this->url(array('module'=>'registrations','controller'=>'registrationfailedcompany','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Re-Registration");?></a></li>
											<li><a href="<?php echo $this->url(array('module'=>'registrations','controller'=>'companystudentdetails','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Student Scheduling");?></a></li>
										     <!--  	<li><a href="<?php echo $this->url(array('module'=>'registrations','controller'=>'takafulapplication','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Takaful Batch Student Registrations");?></a></li>

<li><a href="<?php echo $this->url(array('module'=>'registrations','controller'=>'registrationfailedtakaful','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Takaful Re-Registration");?></a></li>
											<li><a href="<?php echo $this->url(array('module'=>'registrations','controller'=>'takafulstudentdetails','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Takaful Student Scheduling");?></a></li>
										    --><li><a href="<?php echo $this->url(array('module'=>'registrations','controller'=>'batchreport','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Batchregistration Report"); ?></a></li>
										     <li><a href="<?php echo $this->url(array('module'=>'registrations','controller'=>'studentupdate','action'=>'index'),'default',true) ?>"><?php echo $this->translate("ICNO Update"); ?></a></li>
											<li><a href="<?php echo $this->url(array('module'=>'registrations','controller'=>'bulkinvoicegeneration','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Bulk Invoice Generation"); ?></a></li>
											<li><a href="<?php echo $this->url(array('module'=>'registrations','controller'=>'paymentdistribution','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Receipt Generation"); ?></a></li>
										<?php break;?>
										<?php case 'website': ?>
											<li><h1><?php echo $this->translate("Website"); ?></h1></li>
											<li><a href="<?php echo $this->url(array('module'=>'website','controller'=>'webpagetemplate','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Web Page Menus"); ?></a></li>
											<li><a href="<?php echo $this->url(array('module'=>'website','controller'=>'detailstemplate','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Web Page Menu Details"); ?></a></li>
										<?php break;?>
										
										<?php case 'examination':?>
										
										<li><h1><?php echo $this->translate("Examination"); ?></h1></li>
										 <li><a href="<?php echo $this->url(array('module'=>'examination','controller'=>'testexcel','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Test Your Excel"); ?></a></li>
										 <li><a href="<?php echo $this->url(array('module'=>'examination','controller'=>'closetime','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Close Time"); ?></a></li>
										 <li><a href="<?php echo $this->url(array('module'=>'examination','controller'=>'questionmaster','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Question Master"); ?></a></li>
										<li><a href="<?php echo $this->url(array('module'=>'examination','controller'=>'examquestions','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Questions Report"); ?></a></li>	
                                        <li><a href="<?php echo $this->url(array('module'=>'examination','controller'=>'group','action'=>'index'),'default',true) ?>"><?php echo  $this->translate("Question Pool"); ?></a></li>	
                                        <li><a href="<?php echo $this->url(array('module'=>'examination','controller'=>'createexam','action'=>'index'),'default',true) ?>"><?php echo  $this->translate("Exam").' '.$this->translate($this->Batch).' '.$this->translate("Creation"); ?></a></li>		
                                  		<li><a href="<?php echo $this->url(array('module'=>'examination','controller'=>'createquestionpaper','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Print Question Paper ");?></a></li>
                                  		<li><a href="<?php echo $this->url(array('module'=>'examination','controller'=>'createmanualquestionpaper','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Create Manual Question Paper ");?></a></li>
                                  		<li><a href="<?php echo $this->url(array('module'=>'examination','controller'=>'createanswerpaper','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Print Answer Paper ");?></a></li>
                                  		<li><a href="<?php echo $this->url(array('module'=>'examination','controller'=>'examreport','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Exam Report");?></a></li>
 										<li><a href="<?php echo $this->url(array('module'=>'examination','controller'=>'studentissues','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Student Exam Issue");?></a></li>																
										<li><a href="<?php echo $this->url(array('module'=>'examination','controller'=>'newscreen','action'=>'examchangerequest'),'default',true) ?>"><?php echo $this->translate("Exam Schedule Change Request"); ?></a></li>
										<li><a href="<?php echo $this->url(array('module'=>'examination','controller'=>'exambulkdatechange','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Exam Schedule Bulk Change Request"); ?></a></li>
											<li><a href="<?php echo $this->url(array('module'=>'examination','controller'=>'individualpaymentchange','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Individual Payment Change"); ?></a></li>
										<li><a href="<?php echo $this->url(array('module'=>'examination','controller'=>'elapsedexamdate','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Change After Exam Date"); ?></a></li>
										<li><a href="<?php echo $this->url(array('module'=>'examination','controller'=>'examtime','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Exam Extra Time"); ?></a></li>
										<li><a href="<?php echo $this->url(array('module'=>'examination','controller'=>'manualmarksentry','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Manual Marks Entry"); ?></a></li>
										<li><a href="<?php echo $this->url(array('module'=>'examination','controller'=>'autovenue','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Chrone Jobs"); ?></a></li>
										<li><a href="<?php echo $this->url(array('module'=>'examination','controller'=>'dashboard','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Dash Board"); ?></a></li>
										<li><a href="<?php echo $this->url(array('module'=>'examination','controller'=>'chronepull','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Chrone Pull"); ?></a></li>
									<li><a href="<?php echo $this->url(array('module'=>'examination','controller'=>'autochronepush','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Auto Chrone Push"); ?></a></li>
									<li><a href="<?php echo $this->url(array('module'=>'examination','controller'=>'chronepushrevert','action'=>'selectoption'),'default',true) ?>"><?php echo $this->translate("Chrone revert"); ?></a></li>
									
										<?php break;?>
										
										<?php case 'reports':?>
                                      
                                       <li><h1><?php echo $this->translate("Reports"); ?></h1></li>
                                       <li><a href="<?php echo $this->url(array('module'=>'reports','controller'=>'attendancelist','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Attendence List Report "); ?></a></li>
                                       <li><a href="<?php echo $this->url(array('module'=>'reports','controller'=>'pullpushdata','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Pull/Push Data Report"); ?></a></li>
                                       <li><a href="<?php echo $this->url(array('module'=>'reports','controller'=>'examdetailsreport','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Examdetails Report New"); ?></a></li>
                                       <li><a href="<?php echo $this->url(array('module'=>'reports','controller'=>'manualmarksreport','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Manual Marks Entry Report"); ?></a></li>
                                       <li><a href="<?php echo $this->url(array('module'=>'reports','controller'=>'schedulereport','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Schedulereport Report"); ?></a></li>
                                       <li><a href="<?php echo $this->url(array('module'=>'reports','controller'=>'batchreport','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Batchregistration Report"); ?></a></li>
                                       <li><a href="<?php echo $this->url(array('module'=>'reports','controller'=>'statistics','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Statistics Report"); ?></a></li>
                                       <li><a href="<?php echo $this->url(array('module'=>'reports','controller'=>'allstatistics','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Statistics Report New"); ?></a></li>
                                       <li><a href="<?php echo $this->url(array('module'=>'reports','controller'=>'examanddate','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Attendence List Report Old"); ?></a></li>
                                       <li><a href="<?php echo $this->url(array('module'=>'reports','controller'=>'companypayment','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Company Payment Report"); ?></a></li>
                                       <li><a href="<?php echo $this->url(array('module'=>'reports','controller'=>'studentpayment','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Student Payment Report"); ?></a></li>
                                       <li><a href="<?php echo $this->url(array('module'=>'reports','controller'=>'statusreport','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Status Report"); ?></a></li>
                                       <li><a href="<?php echo $this->url(array('module'=>'reports','controller'=>'datereport','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Examination Daily Report"); ?></a></li>
                                       <li><a href="<?php echo $this->url(array('module'=>'reports','controller'=>'examinationpartwisenew','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Examination Parts-Wise Report New"); ?></a></li>
                                       <li><a href="<?php echo $this->url(array('module'=>'reports','controller'=>'examinationpartwise','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Examination Parts-Wise Report"); ?></a></li>
                                       <li><a href="<?php echo $this->url(array('module'=>'reports','controller'=>'totalsummary','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Total Summary Report"); ?></a></li>	 	
                                       <li><a href="<?php echo $this->url(array('module'=>'reports','controller'=>'studentexamreport','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Student Summary Report"); ?></a></li>
                                       <li><a href="<?php echo $this->url(array('module'=>'reports','controller'=>'log','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Log Report"); ?></a></li>																		 																	
                                       <li><a href="<?php echo $this->url(array('module'=>'reports','controller'=>'takaful','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Takaful Operator Report"); ?></a></li>
                                       <li><a href="<?php echo $this->url(array('module'=>'reports','controller'=>'company','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Batch Registration Report"); ?></a></li>
                                       <li><a href="<?php echo $this->url(array('module'=>'reports','controller'=>'newapplicationreport','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Student Application Report-New"); ?></a></li>																			 																	
									   <li><a href="<?php echo $this->url(array('module'=>'reports','controller'=>'transactionreport','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Paypal Receipt Information Report"); ?></a></li>
									   <li><a href="<?php echo $this->url(array('module'=>'reports','controller'=>'registrationreport','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Registration Details Report"); ?></a></li>																		 																	
									   <li><a href="<?php echo $this->url(array('module'=>'reports','controller'=>'examinationschechange','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Exam Schedule Change Request Report"); ?></a></li>																		 																	
									   <li><a href="<?php echo $this->url(array('module'=>'reports','controller'=>'paypalentryreport','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Paypal Receipt Report"); ?></a></li>																		 																	
									   <li><a href="<?php echo $this->url(array('module'=>'reports','controller'=>'fpxentryreport','action'=>'index'),'default',true) ?>"><?php echo $this->translate("FPX Receipt Report"); ?></a></li>																		 																	
									   <li><a href="<?php echo $this->url(array('module'=>'reports','controller'=>'recieptreport','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Payment Receipt Report"); ?></a></li>
									    <li><a href="<?php echo $this->url(array('module'=>'reports','controller'=>'chronepushreport','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Chrone Push Report"); ?></a></li>																		 																	
									     <li><a href="<?php echo $this->url(array('module'=>'reports','controller'=>'completedetails','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Billing Report"); ?></a></li>
									    <li><a href="<?php echo $this->url(array('module'=>'reports','controller'=>'duplicatereport','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Duplicate Report"); ?></a></li>
									    
									    <li><a href="<?php echo $this->url(array('module'=>'reports','controller'=>'invoicereport','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Invoice Report"); ?></a></li>
									    <li><a href="<?php echo $this->url(array('module'=>'reports','controller'=>'invoicereceiptreport','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Receipt Report"); ?></a></li>
									    
											<?php break;?>
										
										<?php } ?>		
									</ul>
								<br>
							</div>
						</td>
						<!-- <td valign="top">
							<div style="background: #fff; height: 30px;" align="center">
								<ul class="stepsmenu">
								<?php  $module = Zend_Controller_Front::getInstance()->getRequest()->getModuleName();
									   $controller = Zend_Controller_Front::getInstance()->getRequest()->getControllerName(); ?>
								   
								<?php /*	switch($module) {
									case "general-setup": ?>
										<?php switch($controller) {
												  case "university": ?>
											<?php case "collegemaster": ?>
											<?php case "departmentmaster": ?>
												<li class="first"><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'university','action'=>'index'),'default',true) ?>"><?php echo $this->translate("University"); ?></a></li>
								    			<li class="second"><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'collegemaster','action'=>'index'),'default',true) ?>"><?php echo $this->translate("$this->College"); ?></a></li>
								    			<li class="third"><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'departmentmaster','action'=>'index'),'default',true) ?>"><?php echo $this->translate("$this->Department"); ?></a></li>
								    			<?php break; ?>
								    			
								    			
											<?php case "coursemaster": ?>
											<?php case "program": ?>
											<?php case "programbranch": ?>
												<li class="first"><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'coursemaster','action'=>'index'),'default',true) ?>"><?php echo $this->translate($this->Course).' '.$this->translate("Master"); ?></a></li>
								    			<li class="second"><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'program','action'=>'index'),'default',true) ?>"><?php echo $this->translate("$this->Program"); ?></a></li>
								    			<li class="third"><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'programbranch','action'=>'index'),'default',true) ?>"><?php echo $this->translate($this->Program).' '.$this->translate($this->Branch).' '.$this->translate("Link"); ?></a></li>
								    			<?php break; ?>
								    			
								    			
											<?php case "semestermaster": ?>
											<?php case "semester": ?>
												<li class="first"><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'semestermaster','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Semester").' '.$this->translate("Master"); ?></a></li>
								    			<li class = "second"><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'semester','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Semester"); ?></a></li>
								    			<?php break; ?>
								    			
								    			
											<?php default: ?>
												<?php echo "";?>	
										<?php } ?>	
										<?php break;?>	
									<?php default: 
										echo "";	
								}*/ ?>
								
							
									<li class="first"><a href="http://trisakti.oum.edu.my/general-setup/university"><?php //echo $this->translate("University"); ?></a></li>
								    <li class="second"><a href="http://trisakti.oum.edu.my/general-setup/faculty"><?php //echo $this->translate("College"); ?></a></li>
								    <li class="third"><a href="http://trisakti.oum.edu.my/general-setup/department"><?php //echo $this->translate("Department"); ?></a></li>
								    <li class="fourth"><a href="http://trisakti.oum.edu.my/general-setup/branch"><?php //echo $this->translate("Branch"); ?></a></li>
								    <li class="fifth"><a href="http://trisakti.oum.edu.my/general-setup/office"><?php //echo $this->translate("Office"); ?></a></li>
								    <li class="sixth"><a href="http://trisakti.oum.edu.my/general-setup/venue"><?php //echo $this->translate("Venue"); ?></a></li>
							
							</div>
						</td>-->
					</tr> 
					<tr>
						<td valign="top">
							<!-- 
							<div class="message toolbar">
								<h2><?php echo $this->translate("University Setup"); ?></h2>
								<div class="toolbar-button">
									<ul>
										<li>
											<a href="#" onclick="javascript:edit(1)">
												<span class="edit"></span>
												<?php echo $this->translate("Edit"); ?>
											</a>
										</li>
										<li class="divider"></li>
										<li>
											<a href="#">
												<span class="info"></span>
												<?php echo $this->translate("Info"); ?>
											</a>
										</li>
									</ul>
								</div>
							</div>
							<br>
							-->
							<table width="100%" cellpadding="0" cellspacing="0" border="0">
								<tbody>
									<tr>
										<td valign="top"><?php echo $this->layout()->content; ?></td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
			<!-- End Section Content-->
		</div>
		<div id="footer"><!-- Footer start --> <?php echo $this->translate("Copyright"); ?>&copy;<?php echo $this->translate(APPLICATION_ENTERPRISE) ;?> 
		<!-- Footer end --></div>
	</div>
</body>
</html>
