<html>
<script>    
</script>
<head>
</head>
<body class="claro">
    <fieldset>
    <legend><?php echo "Details";?></legend>
    <?php if($this->larrresult) { foreach ($this->larrresult as $lobjstudetails ): ?>
     <?php endforeach; ?>
	    <table class="table" width="100%" cellpadding="5" cellspacing="1">
		    <tr>
		        <th><?php echo $this->translate("Venue") ?></th>
		        <th><?php echo $this->translate("Program") ?></th>
		        <th><?php echo $this->translate("Session") ?></th>
		        <th><?php echo $this->translate("Exam Date") ?><?php echo " ";?><?php echo"(dd-mm-yyyy)";?></th>
		    </tr>
		     <tr>
			    <td><b><?php print_r($this->escape($lobjstudetails['centername']));?></b></td>
		        <td><b><?php print_r($this->escape($lobjstudetails['ProgramName']));?></b></td>
		        <td><b><?php print_r($this->escape($lobjstudetails['managesessionname']));?></b></td>
		        <td><b> <?php  echo  date( "d-m-Y", strtotime ( $lobjstudetails["DateTime"] )); ?></b></td>
		    </tr>
		   </table>
	</fieldset></br>
    <fieldset>
       <legend><?php echo "Candidate Details";?></legend>       
	    <table class="table" width="100%" cellpadding="5" cellspacing="1">
		    <tr>
		        <th><?php echo $this->translate("Candidate Name") ?></th>
		        <th><?php echo $this->translate("IC No") ?></th>
		        <th><?php echo $this->translate("Date Of Birth") ?></th>
		        <th><?php echo $this->translate("Regisration Date") ?></th>
		        <th><?php echo $this->translate("Payment Status") ?></th>
		        <th><?php echo $this->translate("Mode of Payment") ?></th>
		        <th><?php echo $this->translate("Paid Date") ?></th>
		        <th><?php echo $this->translate("Paid Amount") ?></th>
		        <th><?php echo $this->translate($this->TrasactionIdLabel) ?></th>
		        <th><?php echo $this->translate("Email Address") ?></th>
		    </tr>
		  <?php foreach ($this->larrresult as $lobjstudetails ): ?>
		    <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
		         <td><?php print_r($this->escape($lobjstudetails['FName'].' '.$lobjstudetails['MName'].' '.$lobjstudetails['LName']));?></td> 
		         <td><?php print_r($this->escape($lobjstudetails['ICNO']));?></td>
		         <td><?php print_r($this->escape(date( "d-m-Y", strtotime ($lobjstudetails['DateOfBirth']))));?></td>
		         <td><?php print_r($this->escape(date( "d-m-Y", strtotime ($lobjstudetails['UpdDate']))));?></td>
		         <td><?php print_r($this->escape($lobjstudetails['PaymentStatus']));?></td>
		         <?php if($lobjstudetails['ModeofPayment'] =='1'){
		         		   $ModeofPayment="FPX";
		         		}else if($lobjstudetails['ModeofPayment'] =='2'){
		         			$ModeofPayment="Credit Card";
		         		}else if($lobjstudetails['ModeofPayment'] =='5'){
		         			$ModeofPayment="Money Order";
		         			
		         		}else if($lobjstudetails['ModeofPayment'] =='6'){
		         			$ModeofPayment="Postal Order";
		         			
		         		}else if($lobjstudetails['ModeofPayment'] =='7'){
		         			$ModeofPayment="Credit/Bank to IBFIM account";
		         			
		         		}else{
		         			$ModeofPayment="Others";
		         		}
		         		
		         
		         
		         ?>
		         
		          <td><?php echo $ModeofPayment;?></td>
		          <td><?php print_r($this->escape($lobjstudetails['TrasactionDate']));?></td>
		          <td><?php print_r($this->escape($lobjstudetails['PaidAmount']));?></td>
		           <td><?php print_r($this->escape($lobjstudetails['TrasactionId']));?></td>
		          <td><?php print_r($this->escape($lobjstudetails['EmailAddress']));?></td>
			</tr>         
		    <?php endforeach; ?>
		   <?php }else { ?> <table class="table" width="100%">  <tr> <td colspan= "4" align="left" > <?php echo "No Data Found"; ?>  </td>  </tr></table> <?php } ?><br/>
		    <tr>
					<td colspan= "10" align="right"><input type="button" id="close" name="close"  value="Close" onClick="closebox();"></td>
		    </tr>
	</table>
</fieldset>   
</body>
</html>
