<head>
<script>
dojo.addOnLoad(function(){
	//dijit.byId('Venue').focus();
	//dijit.byId('Venue').set('value','');
  	//dijit.byId('Venuenew').set('placeHolder','');	
	});
	function validateform()
   {
	 var n = <?php echo count($this->paginator); ?>;
	 flgs = 0;	 
	 for(i=0;i<=n;i++)
	 {
	      var element = document.getElementById("idcompany"+i);
		  
	      if (element != null && element.value != '')
	     {
		   if(document.getElementById("idcompany"+i).checked) 
		   flgs	=	1;
		 }
	 }		
	 if( flgs == 0)
	 {
	    alert('Please Select Atleast one company');		
	     return false;
	 }
	 else
	 {
	   return true;
	 }
    } 
	
function checkAll(){
 	nodes = dojo.query('[name=\"idcompany[]\"]');
 	if(document.getElementById('IDCompany').checked == true)
	{	
 		dojo.forEach(nodes,
 		function(node)
 		{
 		        dijit.getEnclosingWidget(node).set("checked",true);
 		}
 		);
 	}
 	else {	
 		dojo.forEach(nodes,
 			    function(node)
 			    {
 			        dijit.getEnclosingWidget(node).set("checked",false);
 			    }
 			);
 	     }
 }
</script>
</head>
<body class='claro'>
	<fieldset>
		<legend><?php  echo $this->translate("Company").' '.$this->translate("Credit").' '.$this->translate("To").' '.$this->translate("IBFIM Bank");?></legend>
         <form action="<?php echo $this->baseUrl();?>/finance/credittoibfim/index/search/1" dojoType="dijit.form.Form"  method="POST" id="myform" name="myform">
            <script type="dojo/method" event="onSubmit">
                              if (this.validate()) {
					  return true;
                } else {
                    return false;
                }
				</script>
			<table width="100%">
                <tr>				
                    <td><?php echo $this->translate("Company").' '.$this->translate("Name");?></td>
                    <td><?php echo $this->lobjCredittoibfimform->Companyname;?></td>                
				    <td><?php echo $this->translate("Credit").' '.$this->translate("To").' '.$this->translate("IBFIM");?></td>
					<td><?php echo $this->lobjCredittoibfimform->Active;?></td>
				</tr>
                <tr>
	               <td align = "center" colspan = "4">
						<?php echo $this->lobjCredittoibfimform->Search;?>
						<?php echo $this->lobjCredittoibfimform->Clear;?>
				   </td>
                </tr>
            </table>
        </form>	
    </fieldset> 
    <br/>
	<form action=""  method="POST" id="myform" name="myform">
    <?php if (count($this->paginator)): ?>
	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
	    	<tr>
			    <?php if($this->activestatus == 1){?>
			    <th><?php echo $this->translate->_("Inactive All");?>
               
				<?php } else {?>
				<th><?php echo $this->translate->_("Active All");?> 
				<?php } ?>
                <input type="checkbox" dojoType="dijit.form.CheckBox" name="IDCompany"  onClick="checkAll();" id="IDCompany"></th>
				
	        	<th><?php echo $this->translate("Company");?></th>
				<th><?php echo $this->translate("Shortname");?></th>
	       	    <th><?php echo $this->translate("Address");?></th>
	        	<th><?php echo $this->translate("Credited").' '.$this->translate("To").' '.$this->translate("IBFIM");?></th>
				
	    	</tr>
     <?php  $cnnt = 0;count($this->paginator); foreach ($this->paginator as $lobjCountry ): $cnnt++;  ?>
     <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">	
	 <td><input type="checkbox" dojoType="dijit.form.CheckBox"  name="idcompany[]" id="idcompany<?php echo $cnnt;?>" value="<?php echo $lobjCountry['IdCompany']; ?>" checked="false" /></td>	 
	 	
	<td><?php print_r($this->escape($lobjCountry['CompanyName']));?></td>
	<td><?php print_r($this->escape($lobjCountry['ShortName']));?></td>
	<td><input type="hidden" name="act" id="act" value="<?php echo $this->activestatus;?>"/><?php print_r($this->escape($lobjCountry['Address']));?></td><?php //if($lobjCountry['Allotedseats']>0){?>
      		  
	
	<?php if($this->activestatus == 0){?>
	<td><?php echo "NO";?></td>
	<?php }else{ ?>
	<td><?php echo "YES";?></td>
	<?php } ?>
    </tr>
	<?php endforeach; ?>
	 <tr><td colspan="5" align="right"><?php echo $this->lobjCredittoibfimform->Save;?></td></tr>
     <?php endif; ?>
	</table>
</form>
  
<br/>
</body>
</html>

