<html>
<head>
<script type="text/javascript">
function validateform()
{
	 var n = <?php echo count($this->info); ?>;
	 flgs = 0;	 
	 for(i=0;i<=n;i++)
	 {
	      var element = document.getElementById("idapp"+i);
		  
	      if (element != null && element.value != '')
	     {
		   if(document.getElementById("idapp"+i).checked) 
		   flgs	=	1;
		 }
	 }		
	 if( flgs == 0)
	 {
	    alert('Please Select Atleast one candidate');		
	     return false;
	 }
	 else
	 {
	   return true;
	 }
} 

function fngetctlist(id)
{
		var xhrArgs = {
									url: "<?php echo $this->baseUrl();?>"+"/registrations/testexcel/getctlist/idct/"+id,
									handleAs:'json',
									load:function(data)
									{ 			
										AutoFillNextEditableDropDown("Ctlist",data);
									}
					  }
		dojo.xhrGet(xhrArgs);
}
function AutoFillNextEditableDropDown(EditableDropDownId,JSONText)
{
				dijit.byId(EditableDropDownId).setValue("");
				var ddwidget = dijit.byId(EditableDropDownId);
				ddwidget.setAttribute('disabled', false);
				var options = {
							label:"name",
							identifier:"key",
							items:JSONText
						  };
				ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}
function fnclear()
{
        window.location="<?php echo $this->baseUrl();?>/registrations/testexcel/index";
}
</script>
<form  dojoType="dijit.form.Form" action="" method="POST" enctype="multipart/form-data">

<fieldset>
	<legend><?php echo $this->translate("Test").' '.$this->translate("Excel Sheet");?></legend>
                   
                            <table width="100%">
                                <tr>
                                    <td width="15%"><?php echo $this->translate("Select your excel sheet to test:");?></td>
                                    <td width="25%"><?php echo $this->lobjTestexcelForm->FileName;?></td>
                                </tr>
                                <tr>
                                <td align = "center" colspan = "4">
									<?php echo $this->lobjTestexcelForm->Upload;?>	
									<?php echo $this->lobjTestexcelForm->Clear;?>
								</td>
                                </tr>
                        </table>
    </fieldset> 
	</form>
	<form  dojoType="dijit.form.Form" action="" method="POST" enctype="multipart/form-data">
	<?php if($this->status != 0){?>
	<fieldset>       
    <table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr>
	    <th></th>
        <th><?php echo $this->translate("ICNO") ?></th>
        <th><?php echo $this->translate("Candidate Name") ?></th>
        <th><?php echo $this->translate("E-Mail") ?></th>
        <th><?php echo $this->translate("Race") ?></th>
        <th><?php echo $this->translate("Education") ?></th>
        <th><?php echo $this->translate("DateofBirth") ?></th>
        <th><?php echo $this->translate("Gender") ?></th>
		<th><?php echo $this->translate("Mailing Address") ?></th>      
        <th><?php echo $this->translate("Postal Code") ?></th>
		<th><?php echo $this->translate("REMARKS") ?></th>
    </tr>
  <?php $count=0; $cnt=0; foreach ($this->info as $lobjCountry ): ?>
    <tr>
    <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	     <?php if($lobjCountry['IDApplication'] != 0 && $this->user == 22) { $count++;?>
		 <td ><b ><input type ="checkbox"  dojotype="dijit.form.CheckBox" name="idapp[]" id="idapp<?php echo $cnt;?>" value="<?php echo $lobjCountry['IDApplication'];?>" /></b><?php  // print_r($this->escape($lobjCountry['IDApplication']));?></td><?php }
		 else{ ?><td ><?php print_r("");?><?php }?>
		 
	     <?php if($lobjCountry['ICNO'] =='DUPLICATE IN EXCEL' || $lobjCountry['ICNO'] =='INFORMAT ICNO' || $lobjCountry['ICNO'] =='EMPTY' || $lobjCountry['ICNO'] =='NOT NUMBERS') {?>
		 <td bgcolor="#F63434"><?php print_r($this->escape($lobjCountry['ICNO']));?></td><?php }
		 elseif($lobjCountry['ICNO'] =='DUPLICATE IN SYSTEM'){
		 ?><td bgcolor="#008000"><?php print_r($this->escape($lobjCountry['ICNO']));}else{ ?><td ><?php print_r($this->escape($lobjCountry['ICNO']));?><?php }?> 
         
		 <?php if($lobjCountry['Studentname'] =='EMPTY') {?>
		 <td bgcolor="#F63434 "><?php print_r($this->escape($lobjCountry['Studentname']));?></td><?php }else{ ?><td ><?php print_r($this->escape($lobjCountry['Studentname']));?><?php }?>  
         		 
		 <?php if($lobjCountry['Email'] =='EMPTY' || $lobjCountry['Email'] =='INVALID EMAIL') {?>
		 <td bgcolor="#F63434"><?php print_r($this->escape($lobjCountry['Email']));?></td><?php }else{ ?><td ><?php print_r($this->escape($lobjCountry['Email']));?><?php }?> 
		 
		 <?php if($lobjCountry['Race'] =='EMPTY') {?>
		 <td bgcolor="#F63434"><?php print_r($this->escape($lobjCountry['Race']));?></td><?php }else{ ?><td ><?php print_r($this->escape($lobjCountry['Race']));?><?php }?> 
		 
		 <?php if($lobjCountry['Education'] =='EMPTY') {?>
		 <td bgcolor="#F63434"><?php print_r($this->escape($lobjCountry['Education']));?></td><?php }else{ ?><td ><?php print_r($this->escape($lobjCountry['Education']));?><?php }?>  
         
		 <?php if($lobjCountry['DateofBirth'] =='EMPTY' || $lobjCountry['DateofBirth'] =='DOB NOT ELIGIBLE') {?>
		 <td bgcolor="#F63434"><?php print_r($this->escape($lobjCountry['DateofBirth']));?></td><?php }else{ ?><td ><?php print_r($this->escape($lobjCountry['DateofBirth']));?><?php }?> 
		 
		 <?php if($lobjCountry['Gender'] =='INCORRECT' || $lobjCountry['Gender'] =='EMPTY') {?>
		 <td bgcolor="#F63434"><?php print_r($this->escape($lobjCountry['Gender']));?></td><?php }else{ ?><td ><?php print_r($this->escape($lobjCountry['Gender']));?><?php }?> 
		 
		 <?php if($lobjCountry['Mailing Address'] =='EMPTY') {?>
		 <td  bgcolor="#F63434"><?php print_r($this->escape($lobjCountry['Mailing Address']));?></td><?php }else{ ?><td ><?php print_r($this->escape($lobjCountry['Mailing Address']));?><?php }?>  
         		 
		 <?php if($lobjCountry['Postal Code'] =='EMPTY') {?>
		 <td bgcolor="#F63434"><?php print_r($this->escape($lobjCountry['Postal Code']));?></td><?php }else{ ?><td ><?php print_r($this->escape($lobjCountry['Postal Code']));?><?php }?> 
		 
		 <?php if($lobjCountry['Remarks'] !='') {?>
		 <td bgcolor="#F63434"><?php print_r($this->escape($lobjCountry['Remarks']));?></td><?php }else{ ?><td ><?php print_r($this->escape($lobjCountry['Remarks']));?><?php }?> 
		 
	 <?php $cnt++; endforeach; ?>
	
    </tr>
	<?php if($this->displaycheck == 1 && $this->user == 22){?>
	<tr ><td colspan = "11"></td></tr>
	<tr ><td  align="left"><?php echo $this->translate->_("Company/Takaful"); ?></td><td  ><?php echo $this->lobjTestexcelForm->Companytakaful;?></td></tr>
	<tr ><td  align="left"><?php echo $this->translate->_("Name"); ?></td><td  ><?php echo $this->lobjTestexcelForm->Ctlist;?></td></tr>
	<tr ><td  align="left" ><input type="submit"  dojotype="dijit.form.Button" id="Change" name="Change" value="Change" label="<?php echo $this->translate("Apply Changes");?>" onClick="return validateform();"/></td>
	</tr>
	<?php }?>
</table>
</fieldset>   
	
	<?php }?>
    <br/>
	</form>
	</head>
	</html>
	