<head>
<script type="text/javascript">
dojo.addOnLoad(function(){			
	document.getElementById('definitiontype').value=1;
	document.getElementById('languagess').value = 0;
funcajax(1);
var cnt = <?php  echo $this->counarr;?>;
});
      function funcajax(idDefinition)
      {
    	 var languages =  document.getElementById('languagess').value;
    	// alert(languages);
    	  document.getElementById('definitiontype').value=idDefinition;
    	  var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/introduction/fngetdetails/idDefinition/"+idDefinition+"/languages/"+languages,
					handleAs:'text',
					load:function(data){ 
							//alert(data);
							document.getElementById('contentArea').innerHTML = data;		
					}
			   }
			dojo.xhrGet(xhrArgs); 
      }  

      function fngetarabic(languages)
      {
    	
    	  idDefinition =  document.getElementById('definitiontype').value;
    	  var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/introduction/fngetdetails/languages/"+languages+"/idDefinition/"+idDefinition,
					handleAs:'text',
					load:function(data){ 
							//alert(data);
							document.getElementById('contentArea').innerHTML = data;		
					}
			   }
			dojo.xhrGet(xhrArgs); 
    	  var cnt = <?php  echo $this->counarr;?>;
    	  for (var f = 0; f < cnt; f++)
 		 {
 		    
			if(languages == 0){
				 document.getElementById("eng"+f).style.display = 'block';	
				 document.getElementById("arb"+f).style.display = 'none';
				 document.getElementById("oth"+f).style.display = 'none';
				}
				else if(languages ==1)
				{
					document.getElementById("eng"+f).style.display = 'none';
					document.getElementById("arb"+f).style.display = 'block';
					 document.getElementById("oth"+f).style.display = 'none';	
				}
				else if(languages ==2)
				{
					document.getElementById("eng"+f).style.display = 'none';
					document.getElementById("arb"+f).style.display = 'none';
					 document.getElementById("oth"+f).style.display = 'block';	
				}
 		 }
      }      
 </script>
 <style type="text/css">

table.sample {
	border-width: 5px;
	border-spacing: 0px;
	border-style: solid;
	border-color: #D8D8D8;
	background-color: white;
}


.mytd {
	padding:20px;
margin: 5px 5px 5px 5px;
}

</style>
<body   >

<form style="background-color:#002255" dojoType="dijit.form.Form"  id="form"  name="form" action ="introduction/index" method= "post" >
 <script type="dojo/method" event="onSubmit">
     if (this.validate()) {
		return true;
     } else {
         return false;
    }
</script>
        
		<table  width="70%" align="center" cellpadding="50" cellspacing="0" border="1">
		<tr>
		  <td colspan="2"> <img src="<?php echo $this->baseUrl();?>/images/detailslogo.png" width="100%">

		  </td>

		  </tr>
		  <tr>
		  <td></td>
		  
		  		 			 <td width="20%" align="right"	height="25"><select name="language" id="languagess" onChange='fngetarabic(this.value);'>
							   <option value="0">English</option>
							   <option value="1">Bahasa-Malaysia</option>
							   <option value="2">Others</option>
					</select></td>
		  </tr>
		 
		<tr>
		  <td align="center"  width="25%" height="300px;" valign="top"   style="background-color:#D8D8D8">

		  <img src="<?php echo $this->baseUrl();?>/images/basicexam.jpg" width="90%">
			 <table width="220px;" height="200" class="sample" border="0" >   
			 
				<?php $mm =0;   foreach ($this->larrsideview as $larrcenter ):?>
				
                      <tr>
 
                             <td align="left" colspan="3" cellpadding="2" onclick="funcajax(<?php echo $larrcenter['idwebpagetemplate'];?>)";>
                             
                             <div id="eng<?php echo $mm;?>" style="display:block;margin-left:10px;" >
                             <a href="#"><?php  echo $larrcenter['content'];?></a>
                               </div> 
                               
                              <div id="arb<?php echo $mm;?>" style="display:none;margin-left:10px;">  
                              <a href="#"><?php  echo $larrcenter['banhasa'];?></a>
                                </div> 
                                
                                 <div id="oth<?php echo $mm;?>" style="display:none;margin-left:10px;">  
                              <a href="#"><?php  echo $larrcenter['others'];?></a>
                                </div> 
                             </td> 
                               
				      </tr>
				    
				   
				 <?php $mm++;  endforeach; ?>
				
			 </table>
			 <input type="hidden" name="countMenu" id="countMenu" value="<?php echo $mm;?>">
			 <input type="hidden" name="definitiontype" id="definitiontype" value="">
 			 <img src="<?php echo $this->baseUrl();?>/images/downimage.png" width="88%">
		    </td>
		   		 	
		 	 
			     <td class="mytd" align="left" valign="top" rowspan="4" width="80%"  style="background-color:white" id="contentArea"></td>
			   </td>

		  </tr>	 
			 
			 
		<tr>
		 	<td height="100px;"  align="center" style="background-color:#D8D8D8" valign="top">
		     <a  href="<?php echo $this->baseUrl();?>/registration/index"><img src="<?php echo $this->baseUrl();?>/images/btnApplynow.jpg" width="90%" ></a>

		</tr>	 
		
		<tr>
		  <td height="100px;" align="center"  style="background-color:#D8D8D8"  valign="top">
		    <a href="http://onlinetestibfim.oum.edu.my/loginft.php"><img src="<?php echo $this->baseUrl();?>/images/btnebook.jpg" width="90%"></a>
			</td>
		</tr>	
		
		 
		<tr>
		   <td  valign="top"  align="center" style="background-color:#D8D8D8" >
		     <img src="<?php echo $this->baseUrl();?>/images/btnadmin.jpg" width="90%">
			</td>
		</tr>	 
 
       <tr>
		  <td colspan="2"> <img src="<?php echo $this->baseUrl();?>/images/footerdetails.jpg" width="100%">
		  
		  </td>
		  </tr>
		  
		
			</table>
			
					
</form>
</body>
