
<head>
<script>
dojo.addOnLoad(function(){
	dijit.byId('field3').focus();	
	});
</script>
</head>

<fieldset>
<legend><?php echo $this->translate->_("Student Payment Details Search");?></legend>
<form id="initconfigForm" name="form1" method="post" action="<?php echo $this->baseUrl();?>/finance/studentpayment/index/search/1">
	    	<table width="100%">	    		
      			<tr>
      			
         			<td class="label"><?php echo $this->translate->_("Student Name")?></td>
        			<td><?php echo $this->lobjform->field3?></td>
        			<td class="label"><?php echo $this->translate->_("ICNO")?></td>
        			<td><?php echo $this->lobjform->field2?></td>	 
        		</tr>
        		<tr>
        			<td class="label"><?php echo $this->translate->_("Exam Date")?></td>
        			<td><?php echo $this->lobjform->field35?></td>	
        			<td class="label"><?php echo $this->translate->_("Course")?></td>
        			<td><?php echo $this->lobjform->field5?></td>      	        	
      			</tr>
      			
      			<tr>
      			    <td class="label"><?php echo $this->translate->_("Mode of Payment")?></td>
        			<td><?php echo $this->lobjform->modepayment?></td>
        				<td></td>
        				<td></td> 
      			
      			</tr>		   
		      	  <tr>
	               <td align = "center" colspan = "4">
						<?php echo $this->lobjform->Search;?>
						<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Clear"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'finance','controller'=>'studentpayment', 'action'=>'index'),'default',true);?>';" />
						<?php //echo $this->lobjform->Clear;?>
				   </td>
				   </tr>      	
	        </table>		
</form>
	<?php  if (count($this->paginator)): ?>    	
</fieldset>
<br />
<fieldset>
  	<table class="table" width="100%" cellpadding="5" cellspacing="1">
		<thead>
    		<tr>
				<th><?php echo $this->translate->_("Student Name");?></th>
				<th><?php echo $this->translate->_("ICNO")?></th>
				<th><?php echo $this->translate->_("ExamDate")?></th>
				<th><?php echo $this->translate->_("Course")?></th>
			    <th><?php echo $this->translate->_("Mode Of Payment")?></th>
			    <th><?php echo $this->translate->_("Amount(RM)")?></th>
			   
									
    		</tr>
    	</thead>
    
    	<tbody>       	            
            <?php   foreach ($this->paginator as $lobjcategory ): // ($this->accountdetails as $lobjcategory ): ?>
            <tr>  
          		<td><a href="<?php echo $this->url(array('module'=>'finance','controller'=>'studentpayment', 'action'=>'studentpaymentedit' , 'lvaredit'=>$lobjcategory['IDApplication']),'default',true);?>" ><?php  echo $lobjcategory['FName'];?></a></td>
          		<td><?php  echo $lobjcategory['ICNO'];?></td>
          		<td><?php  echo $lobjcategory['examdate'];?></td>
          		<td><?php  echo $lobjcategory['ProgramName'];?></td>
          		<td><?php if($lobjcategory['ModeofPayment']==5){ echo $this->translate->_("Money Order") ;?><?php }else if($lobjcategory['ModeofPayment']==6) { echo $this->translate->_("Postal Order") ; ?><?php }else if($lobjcategory['ModeofPayment']==7){  echo $this->translate->_("Credit/Bank to IBFIM account");?><?php } else { ?><?php  echo $this->translate->_("Cheque"); }?></td>
     		          		<td><?php  echo $lobjcategory['Amount'];?></td>
     		</tr>
     		<?php  endforeach; ?>
     	
     	</tbody>		
     		<tr>
	        	
   			</tr>
      </table>
   </fieldset> 
   	 <?php  endif; ?>
   </html>
