<html>
<head>
<script type="text/javascript">
function fnhidebtn()
{
	document.getElementById('btnsave').style.display='none';
}

</script>
</head>
<body class="claro">            
	
	<?php if($this->mess){?>
	
	<fieldset>
	<legend><?php echo $this->translate->_("Student Payment Details");?></legend>
		 <form dojoType="dijit.form.Form"  id="myFormform" action="" method="post"  name= "myFormform" >
			<?php echo $this->mess;?>	
	    	   <table class="table" width="100%" >
                    	
                   
                       <td></td>
                       <td></td>
                       <td></td>        
                     
					   <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("ok"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'finance','controller'=>'companypayment', 'action'=>'index'),'default',true);?>';" />	
                       </td> 
                    </tr>       
            </table>	
            	
		</form>
	</fieldset>
	<?php }else {?>
	
	
		<fieldset >
	<legend><?php echo $this->translate->_("Student Payment Details");?></legend>
		 <form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm" >
			<script type="dojo/method" event="onSubmit" >
                if (this.validate()) {
				 fnhidebtn();
					return true;
                } else {
                    return false;
                }
				</script>	
			
				
	    	   <table class="table" width="100%" >
                    	<tr>
                          <th colspan = "4"><?php echo $this->translate("Student Payment Details");?></th>
                     </tr>
                  <tr>         							                        
         			  <td class="label" ><?php echo $this->translate->_("Student Name")?></td>
        			  <td colspan="3"><?php echo $this->FName;?><?php echo $this->lobjCompanypaymentForm->UpdDate;?><?php echo $this->lobjCompanypaymentForm->UpdUser;?></td>
        			</tr> 
        			 <tr>         							                        
         			  <td class="label" ><?php echo $this->translate->_("Program")?></td>
        			  <td colspan="3"><?php echo $this->ProgramName;?></td>
        			</tr> 
        			 <tr>         							                        
         			  <td class="label" ><?php echo $this->translate->_("ICNO")?></td>
        			  <td colspan="3"><?php echo $this->icno;?></td>
        			</tr>
        			 <tr>         							                        
         			  <td class="label" ><?php echo $this->translate->_("Exam Center")?></td>
        			  <td colspan="3"><?php echo $this->center;?></td>
        			</tr> 
        			 <tr>         							                        
         			  <td class="label" ><?php echo $this->translate->_("Exam Date")?></td>
        			  <td colspan="3"><?php echo $this->examdate;?></td>
        			</tr> 
        			
        			<tr>  
        			<?php $mop=$this->mop;?>       							                        
         			  <td class="label" ><?php if($mop==5){ echo $this->translate->_("Money Order Number") ;?><?php }else if($mop==6) { echo $this->translate->_("Postal Order Number") ; ?><?php }else if($mop==7){  echo $this->translate->_("Reference Number");?><?php } else { ?><?php  echo $this->translate->_("Cheque Number"); }?><span class="reqMark">*</span></td>
        			
        			  <td colspan="3"><?php echo $this->lobjCompanypaymentForm->ChequeNo;?></td>
        			</tr>
        			<tr>         							                        
         			  <td class="label" ><?php echo $this->translate->_("Date")?><span class="reqMark">*</span></td>
        			  <td colspan="3"><?php echo $this->lobjCompanypaymentForm->ChequeDt;?></td>
        			</tr>
        			<?php if($mop==4){?>       	
        			<tr>         							                        
         			  <td class="label" ><?php echo $this->translate->_("Bank Name")?><span class="reqMark">*</span></td>
        			  <td colspan="3"><?php echo $this->lobjCompanypaymentForm->BankName;?></td>
        			</tr>   
        			<?php }?>    			
        			<tr>		        	
      			      <td class="label"><?php echo $this->translate->_("Amount(RM)")?></span><span class="reqMark">*</span></td>
        			  <td colspan="3"><?php echo $this->lobjCompanypaymentForm->Amount;?></td>		
        		    </tr>	
        		    <input type="hidden" name="companymail" id="companymail" value="<?php echo $this->companyemail;?>">
        		       <input type="hidden" name="companyname" id="companyname" value="<?php echo $this->companyname;?>">
        		       <input type="hidden" name="address" id="address" value="<?php echo $this->address;?>">
        		        <input type="hidden" name="loginname" id="loginname" value="<?php echo $this->username;?>">
        		         <input type="hidden" name="password" id="password" value="<?php echo $this->password;?>">
        		     <tr>
                       <td></td>
                       <td></td>
                       <td></td>        
                       <td align = "right" id='btnsave'><?php echo $this->lobjCompanypaymentForm->Save;?>
					   <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'finance','controller'=>'studentpayment', 'action'=>'index'),'default',true);?>';" />	
                       </td> 
                    </tr>       
            </table>	
            	
		</form>
	</fieldset>
	<?php }?>
</body>
</html>
          