<script type="text/javascript">

	dojo.addOnLoad(function() {
		dijit.byId('IdCourseMaster').set('value','');
		dijit.byId('IdCourseMaster').set('placeHolder','Select');
		dijit.byId('Award').set('value','');
		dijit.byId('Award').set('placeHolder','Select');
		dijit.byId('LearningMode').set('value','');
		dijit.byId('LearningMode').set('placeHolder','Select');
	});
</script> 
<fieldset>
    <legend><?php echo $this->translate($this->Program);?></legend>
    
                <Form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">
                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>
                    <table class="table" width="100%" >
                        <tr>
                            <th colspan = "4"><?php echo $this->translate("$this->Program").' '.$this->translate("Details");?></th>
                        </tr>
                        <tr>
                            <td ><?php echo $this->translate("$this->Program").' '.$this->translate("Name");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjprogramForm->ProgramName;?>
                            	<?php echo $this->lobjprogramForm->UpdDate;?>
                            	<?php echo $this->lobjprogramForm->UpdUser;?></td>
                            <td ><?php echo $this->translate("Short").' '.$this->translate("Name");?><span class="reqMark"></span></td>
                            <td  ><?php echo $this->lobjprogramForm->ArabicName;?></td>
                        </tr>
                        <tr>
                            <td><?php echo $this->translate("Active");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjprogramForm->Active;?></td>
                            <td></td>
                            <td></td>
                        </tr>
               			<tr>
                            <td colspan=4 align = "right"><?php echo $this->lobjprogramForm->Save;?>
							<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'general-setup','controller'=>'program', 'action'=>'index'),'default',true);?>';" />	
                            </td> 
                               
                        </tr>           
                        
              </table>
            
            </Form>

</fieldset>
