
<head>
<script>
dojo.addOnLoad(function(){
	dijit.byId('field3').focus();

	flgs='<?php echo $this->flgs ?>';
	 flgs=parseInt(flgs);
	 if(flgs==1)
	 {
		 fnvalidate('payment31',1);
	 }	
	});

function checkAll(){
	//alert("gdfwtyer");
 	nodes = dojo.query('[name=\"IDApplication[]\"]');
 	if(document.getElementById('IDApplication').checked == true) {		 
 		
 		dojo.forEach(nodes,
 		    function(node)
 		    {
 		        dijit.getEnclosingWidget(node).set("checked",true);
 		    }
 		);
 	}
 	else {	
 		dojo.forEach(nodes,
 			    function(node)
 			    {
 			        dijit.getEnclosingWidget(node).set("checked",false);
 			    }
 			);
 	}
 	
 }
 

function validateform(){
	 var n = <?php echo $this->count;?>;
		//alert(n);
		 flgs = 0;	 
		 for(i=1;i<=n;i++){		 
		if(document.getElementById("IDApplication"+i).checked) 
				flgs	=	1;			
		 }		
		 if( flgs == 0){
		    alert('Please Select Atleast One Student');		
		     return false;
		 }
		 else{
			    //alert(i);
		   return true;
		 }
		 
}



</script>
</head>

<form dojoType="dijit.form.Form"  id="initconfigForm" name="form1" method="post" action="<?php echo $this->baseUrl();?>/finance/fpxpayment/index/search/1">
<fieldset>
<legend><?php echo $this->translate->_("Manul Fpx Payment");?></legend>
	    	<table    width="100%">	    		
      			<tr>
      			
         			<td class="label"><?php echo $this->translate->_("Student Name")?></td>
        			<td><?php echo $this->lobjform->field3?></td>	
        			<td class="label"><?php echo $this->translate->_("ICNO")?></td>
        			<td><?php echo $this->lobjform->field4?></td>	        			  	       	
      			</tr>
      			<tr>
                    <td><?php echo $this->translate("Application From").' '.$this->translate("Date") ?></td>
                    <td><?php echo $this->lobjform->Date;?></td>
                    <td><?php echo $this->translate("Application To").' '.$this->translate("Date") ?></td>
                    <td><?php echo $this->lobjform->Date2;?></td>
                </tr>
      			<tr>
      			<td class="label"><?php echo $this->translate('Program Name');?></td>
		            <td ><?php echo $this->lobjform->field15;?></td>
		            </tr>		   
		      	  <tr>
	               <td align = "center" colspan = "4">
						<?php echo $this->lobjform->Search;?>
						<?php echo $this->lobjform->Clear;?>
				   </td>
				   </tr>      	
	        </table>		

</fieldset>
</form>

<fieldset>
<script>
  	function fnvalidate(idchk,chk)
  	{ 	  	
  		//alert(idchk); 	  		
  			var str1="IDApplication";
  	  		var str2=chk;
  	  	  	//alert(str1.concat(str2));
  	  		var actived=document.getElementById(str1.concat(str2)).checked;	 
  	  	  	//alert(actived); 		
  	  		if(actived==true)
  	  		{	
		  	  var payment3=dojo.byId('payment3'+chk);
		  	  //alert('text1'+chk);
		  	  dojo.style(payment3,'display','block');
		  	  var payment4=dojo.byId('payment4'+chk);
			  //alert('text1'+chk);
			  dojo.style(payment4,'display','block');
			 
			  
			  var payment8=dojo.byId('payment8'+chk);
			  	  //alert('text1'+chk);
			  dojo.style(payment8,'display','block');
			  var payment9=dojo.byId('payment9'+chk);
		  	  //alert('text1'+chk);
		  	  dojo.style(payment9,'display','block');
			  var payment10=dojo.byId('payment10'+chk);
			  	  //alert('text1'+chk);
			   dojo.style(payment10,'display','block');
			   var payment11=dojo.byId('payment11'+chk);
			  	  //alert('text1'+chk);
			  dojo.style(payment11,'display','block');
			  var payment12=dojo.byId('payment12'+chk);
		  	  //alert('text1'+chk);
		  	  dojo.style(payment12,'display','block');
			  var payment13=dojo.byId('payment13'+chk);
			  	  //alert('text1'+chk);
			  dojo.style(payment13,'display','block');	  	
			  	    	
  	  		}
  	  		else
  	  		{	
  	  	  	 var payment3=dojo.byId('payment3'+chk);
	  		 //alert('text1'+chk);
	  		 dojo.style(payment3,'display','none');
	  	  	 var payment4=dojo.byId('payment4'+chk);
	  		 //alert('text1'+chk);
	  		 dojo.style(payment4,'display','none');	
		  		
		  		
				  var payment8=dojo.byId('payment8'+chk);
				  	  //alert('text1'+chk);
				  dojo.style(payment8,'display','none');
				  var payment9=dojo.byId('payment9'+chk);
			  	  //alert('text1'+chk);
			  	  dojo.style(payment9,'display','none');
				  var payment10=dojo.byId('payment10'+chk);
				  	  //alert('text1'+chk);
				   dojo.style(payment10,'display','none');
				   var payment11=dojo.byId('payment11'+chk);
				  	  //alert('text1'+chk);
				  dojo.style(payment11,'display','none');
				  var payment12=dojo.byId('payment12'+chk);
			  	  //alert('text1'+chk);
			  	  dojo.style(payment12,'display','none');
				  var payment13=dojo.byId('payment13'+chk);
				  	  //alert('text1'+chk);
				  dojo.style(payment13,'display','none');	 	
  	  		}
  	  	  	
  	  	  	 
  	  		//if()
  	  }
  	</script>
 <form method="post" action="">
  	<table class="table"  cellpadding="5" cellspacing="1">
    		<tr>
    		    <th >
				<?php echo $this->translate->_("Student Name");?></th>
				<th ><?php echo $this->translate->_("ICNO"); ?></th>	
				<th ><?php echo $this->translate->_("Program Name"); ?></th>
				<th ><?php echo $this->translate->_("Transaction Amount");?></th>
				<th ><?php echo $this->translate->_("Payer Id"); ?></th>
				<th ><?php echo $this->translate->_("Settlement Date"); ?></th>				
				<th ><?php echo $this->translate->_("Transaction Date"); ?></th>
				<th ><?php echo $this->translate->_("Seller Order Number");?></th>
				<th ><?php echo $this->translate->_("Receipt Id");?></th>
				<th ><?php echo $this->translate->_("Transaction Id"); ?></th>
				
				<th ><?php echo $this->translate->_("Buyer Bank"); ?></th>				
				<th ><?php echo $this->translate->_("Buyer Bank Acc"); ?></th>	
				<th ><?php echo $this->translate->_("Debit Auth Code"); ?></th>
				<th ><?php echo $this->translate->_("Debit Auth Number");?></th>
				<th ><?php echo $this->translate->_("Credit Auth Code"); ?></th>
				<th ><?php echo $this->translate->_("Credit Auth Number"); ?></th>	
										
    		</tr>
    	
    	<?php  if (count($this->countcomp)):  $cnnt = 0; ?>    	
    	<tbody>       	            
            <?php   foreach ($this->countcomp as $lobjcategory ): $cnnt++ ?>
            <tr>  
              <?php $flg= $this->flgs; if($flg==1) {?> 
          <td ><input type="checkbox" dojoType="dijit.form.CheckBox"  checked="true" name="IDApplication[]" value="<?php echo $this->escape($lobjcategory['IDApplication']);?>" onClick = "fnvalidate('payment3<?php echo $cnnt;?>',<?php echo $cnnt;?>)" id="IDApplication<?php echo $cnnt;?>">
     
          <?php } else {?>
             <td ><input type="checkbox" dojoType="dijit.form.CheckBox" name="IDApplication[]" value="<?php echo $this->escape($lobjcategory['IDApplication']);?>" onClick = "fnvalidate('payment3<?php echo $cnnt;?>',<?php echo $cnnt;?>)" id="IDApplication<?php echo $cnnt;?>">
          <?php }?>		
          <?php  echo $lobjcategory['FName'];?></td>
          		<td ><?php  echo $lobjcategory['ICNO'];?></td>  
          		<td ><?php  echo $lobjcategory['ProgramName'];?></td>       		
          		<?php  echo  $this->lobjpaymentForm->UpdDate;?>
          		<?php  echo  $this->lobjpaymentForm->UpdUser;?>
          		<td  id="text1<?php echo $cnnt;?>"><input type="text"  dojotype="dijit.form.TextBox" id="payment1<?php echo $cnnt;?>" name="payment1[<?php echo $lobjcategory['IDApplication'];?>]"  value="<?php echo $lobjcategory['Amount'];?>"  />  </td>  
          		<td id="text2<?php echo $cnnt;?>" ><input type="text"  dojotype="dijit.form.TextBox"  id="payment2<?php echo $cnnt;?>" name="payment2[<?php echo $lobjcategory['IDApplication'];?>]" value="<?php echo $lobjcategory['EmailAddress'];?>"/>  </td> 

          		<td id="text5<?php echo $cnnt;?>" ><input type="date" dojotype="dijit.form.DateTextBox" constraints="{datePattern:'dd-MM-yyyy'}" id="payment5<?php echo $cnnt;?>" name="payment5[<?php echo $lobjcategory['IDApplication'];?>]" value="<?php echo $lobjcategory['TransactionDate'];?>" />  </td>        		  		
     		    <td id="text6<?php echo $cnnt;?>" ><input type="date" dojotype="dijit.form.DateTextBox" constraints="{datePattern:'dd-MM-yyyy'}" id="payment6<?php echo $cnnt;?>" name="payment6[<?php echo $lobjcategory['IDApplication'];?>]" value="<?php echo $lobjcategory['TransactionDate'];?>" />  </td>        		  		    		    
                <td id="text7<?php echo $cnnt;?>" ><input type="text" dojotype="dijit.form.TextBox" id="payment7<?php echo $cnnt;?>" name="payment7[<?php echo $lobjcategory['IDApplication'];?>]" value="<?php echo $lobjcategory['TxnOrderNo'];?>" />  </td> 
     		    
     		    <td id="text3<?php echo $cnnt;?>" ><input type="text" style="display:none; dojotype="dijit.form.TextBox"" id="payment3<?php echo $cnnt;?>" name="payment3[<?php echo $lobjcategory['IDApplication'];?>]"  />  </td> 
          		<td id="text4<?php echo $cnnt;?>" ><input type="text" style="display:none; dojotype="dijit.form.TextBox"" id="payment4<?php echo $cnnt;?>" name="payment4[<?php echo $lobjcategory['IDApplication'];?>]"  />  </td>  
          		
          		<td id="text8<?php echo $cnnt;?>"><input type="text"  style="display:none; dojotype="dijit.form.TextBox"" id="payment8<?php echo $cnnt;?>" name="payment8[<?php echo $lobjcategory['IDApplication'];?>]"  />  </td>  
          		 <td id="text9<?php echo $cnnt;?>"><input type="text" style="display:none; dojotype="dijit.form.TextBox"" id="payment9<?php echo $cnnt;?>" name="payment9[<?php echo $lobjcategory['IDApplication'];?>]"  />  </td> 
          		<td id="text10<?php echo $cnnt;?>"><input type="text"  style="display:none; dojotype="dijit.form.TextBox"" id="payment10<?php echo $cnnt;?>" name="payment10[<?php echo $lobjcategory['IDApplication'];?>]"  />  </td>  
          		 <td id="text11<?php echo $cnnt;?>"><input type="text" style="display:none; dojotype="dijit.form.TextBox"" id="payment11<?php echo $cnnt;?>" name="payment11[<?php echo $lobjcategory['IDApplication'];?>]"  />  </td> 
          		 <td id="text12<?php echo $cnnt;?>"><input type="text"  style="display:none; dojotype="dijit.form.TextBox"" id="payment12<?php echo $cnnt;?>" name="payment12[<?php echo $lobjcategory['IDApplication'];?>]"  />  </td>  
          		 <td id="text13<?php echo $cnnt;?>"><input type="text" style="display:none; dojotype="dijit.form.TextBox"" id="payment13<?php echo $cnnt;?>" name="payment13[<?php echo $lobjcategory['IDApplication'];?>]"  />  </td> 
     		    </tr>
     		<?php  endforeach; ?>
     		 <?php  endif; ?>
     	</tbody>		
     		<td colspan="16" align="right">  
				  <?php  echo  $this->lobjpaymentForm->Confirm;?>
				  </td>
      </table>
        </form>
      </fieldset> 
    
     
   
   
   </html>
