<head>
<script>
dojo.addOnLoad(function(){
	dijit.byId('field3').focus();	
	});

function fngetfeedetails(valu){
	document.getElementById('eachAmounts').value = 10;	
	document.getElementById('totalAmt').value  = eval(document.getElementById('eachAmounts').value)*eval(document.getElementById('noOfCand').value);	
}
function fncalculateSum(noC){	
	document.getElementById('totalAmt').value  = eval(document.getElementById('eachAmounts').value)*eval(document.getElementById('noOfCand').value);
}
var statarray = new Array();
id = 1;
sumno = 0;
sumTot = 0;
function addRows() {	
	var StudentIdHTML   =  dijit.byId("idPrograms").value;
	var StudentNameHTML = document.getElementById("idPrograms").value;
	var eachAmounts  	= document.getElementById('eachAmounts').value;
	var noOfCand  		=  document.getElementById('noOfCand').value;
	var totalAmt 		=  document.getElementById('totalAmt').value
	sumno = eval(sumno) + eval(noOfCand);
	sumTot = eval(sumTot) + eval(totalAmt);
	
	//var id = $("#id").val();
	if(StudentIdHTML == "Select"||StudentIdHTML == "")
	{
	
		alert("Select Part Name");
		return false;
	}
	else
	{ 		
			statarray.push(StudentIdHTML);
			if(arrHasDupes(statarray))
			{
				statarray = statarray.unique();
				alert("Duplicate Program Name");
			}
			else
			{	
				document.getElementById("contentBody").innerHTML = document.getElementById("contentBody").innerHTML+"<tr id='row"+id+"'><td>"+StudentNameHTML+"<input type='hidden'   name='idProgram[]' id='idProgram' value='"+StudentIdHTML+"'></td><td  align='right'><input type='hidden'   name='eachAmount[]' id='eachAmount' value='"+eachAmounts+"'>"+eachAmounts+"</td><td  align='right'><input type='hidden' name='noofCandidates[]'  id='noofCandidates' value='"+noOfCand+"'>"+noOfCand+"</td><td  align='right'><input type='hidden' name='toatlAmount[]'   id='toatlAmount' value='"+totalAmt+"'>"+totalAmt+"</td><td><a href='#' onClick='removeFormField(\"#row" + id + "\"\,\"" +totalAmt+ "\"\); return false;'><img src='<?php echo $this->baseUrl()?>/images/delete.png'  border=0 width='16' height='16'></a></td></tr>";
				id++;
				//document.getElementById("id").value = id;
				dijit.byId("totalNoofCand").value = sumno;
				dijit.byId("grossAmt").value = sumno;
				document.getElementById('totalNoofCand').value = sumno;
				document.getElementById('grossAmt').value = sumTot;
			}
			
		
	}
}
function removeFormField(id,StudentIdHTML) {
	
	for(var i=0; i<statarray.length; i++) {
        if(statarray[i] == StudentIdHTML) {
        	statarray.splice(i, 1);
            break;
        }
	}
	
	$(id).remove();
	}
function arrHasDupes( A ) {                          // finds any duplicate array elements using the fewest possible comparison
	var i, j, n;
	n=A.length;
                                                     // to ensure the fewest possible comparisons
	for (i=0; i<n; i++) {                        // outer loop uses each item i at 0 through n
		for (j=i+1; j<n; j++) {              // inner loop only compares items j at i+1 to n
			if (A[i]==A[j]) return true;
	}	}
	return false;
}
Array.prototype.unique = function () {
    var r = new Array();
    o:for(var i = 0, n = this.length; i < n; i++)
    {
        for(var x = 0, y = r.length; x < y; x++)
        {
                if(r[x]==this[i])
                {
                	continue o;
                }
                
        }
        r[r.length] = this[i];
    }
    return r;
}
function Closefn()
{
	window.location="<?php echo $this->baseUrl();?>/batch-reg/companyapplication";
}
</script>
</head>
	<fieldset><?php $companyDetails = $this->companyDetails; ?>
		<legend><?php echo $this->translate("Company").' '.$this->translate("Application");?></legend>
        
            <table width="100%" class="table">
                <tr>
                   <td><?php echo $this->translate("Company");?></td>
                   <td ><?php echo $companyDetails['CompanyName'];?></td>                  
                </tr>
                <tr>
                     <td><?php echo $this->translate("Contact")." ".$this->translate("Person");?></td>
                     <td ><?php echo $companyDetails['ContactPerson'];?></td>
                   
                </tr>
               
         <!--        <tr>
	               <td align = "center" colspan = "4">
						<?php //echo $this->lobsearchform->Search;?>
						<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Add"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'stu-app','controller'=>'studentapplication', 'action'=>'newstudentapplication'),'default',true);?>';" />	
						<?php //echo $this->lobsearchform->Clear;?>
				   </td>
                </tr>
                 -->
            </table>
        </form>	
    </fieldset> 
    <br/>
	<fieldset>
	<form action="<?php echo $this->baseUrl();?>/batch-reg/companyapplication" method="POST">
	     <table class="table" width="100%" >
                     <tr>
                          <th colspan = "5"><?php echo $this->translate("New Application");?></th>
                     </tr>
                         <tr>
                            <th width="35%"><?php  echo $this->translate("Program");?></th>
                            <th width="10%"><?php  echo $this->translate("Amount");?></th>
                            <th width="25%"><?php  echo $this->translate("No OF Candidates");?></th>
                            <th width="20%"> <?php  echo $this->translate("Total");?></th>
                             <th width="10%"></th>
                        </tr>
                         <tr>
                            <td><?php  echo $this->lobjstudentForm->idPrograms;?></td>
                            <td align="right"><?php  echo $this->lobjstudentForm->eachAmounts;?></td>
                            <td align="right"><?php  echo $this->lobjstudentForm->noOfCand;?></td>
                            <td align="right"><?php  echo $this->lobjstudentForm->totalAmt;?></td>
                             <td><input type="button" name="Add" id="Add" value="Add" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Add"); ?>" onclick="addRows();"></td>
                        </tr>
                        <tr>
                        	<td colspan="5"><?php echo $this->lobjstudentForm->idCompany?></td>
                        </tr>
                         <tbody id="contentBody" >                      	
                        	
                        </tbody>
	                     <tr>
                            <td></td>
                            <td></td>
                            <td align="right"><b><?php  echo $this->translate("Total No of Candidates:");?></b><?php  echo $this->lobjstudentForm->totalNoofCand;?></td>
                            <td align="right"><b><?php  echo $this->translate("Gross Amount:");?></b><?php  echo $this->lobjstudentForm->grossAmt;?></td>
                             <td></td>
                        </tr> 
	                        
	                     <tr>
                           
                            <td colspan="5" align="right"><?php  echo $this->lobjstudentForm->Save;?>
                            <input type="button" name="Close" class="buttonStyle" onClick="Closefn(); return false;" value="Close" dojoType="dijit.form.Button"  label="Close" >	</td>
                            
                        </tr>     
	        </table>
        </form>
        </fieldset>                
	   <!-- 	<table class="table" width="100%" cellpadding="5" cellspacing="1">
		
	    	<tr>
	        	<th><?php //echo $this->translate("Student First Name");?></th>
	        	<th><?php //echo $this->translate("Middle Name");?></th>
	        	<th><?php //echo $this->translate("Last Name");?></th>
	       	   
	    	</tr>
	        <?php //if (count($this->paginator)): ?>
	        <?php // foreach ($this->paginator as $lobjuser ): ?>
	  		<tr style="background-color:<?php //echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	<td><a href="<?php //echo //$this->url(array('module'=>'stu-app','controller'=>'studentapplication', 'action'=>'studentapplicationedit' , 'id'=>$lobjuser['IDApplication']),'default',true);?>" ><?php echo $this->escape($lobjuser['FName']);?></a></td>
	    	    <td><?php //echo $this->escape($lobjuser['MName']);?></td>
	    		<td><?php //echo $this->escape($lobjuser['LName']);?></td>
	            <?php //endforeach; ?>
	            <?php //endif; ?> 
			</tr>
	    	<tr>
	        	<td colspan="8" align="right"><div class="pagination"><?php //echo $this->paginationControl($this->lobjpaginator,'Sliding','/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>
		</table>
	</fieldset> -->
