<head>
<Script type="text/javascript">
dojo.addOnLoad(function(){
	});

function fntakcompnames(){
	var idname = dijit.byId('Takcomp');
	    var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/reports/batchactionreport/fnajaxgettakcompnames/idname/"+idname,
				handleAs:'json',
				load:function(data){ 
					AutoFillNextEditableDropDown("Takcompnames",data);
				}
		   }
		dojo.xhrGet(xhrArgs);
}

function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}
</Script>	
</head>
<body class='claro'>
<fieldset>
	<legend><?php echo $this->translate("Action").' '.$this->translate("Report");?></legend>
	<div class="search" style="margin-left:20px;">
 		<form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/reports/batchactionreport" method="POST" > 
 		  <script type="dojo/method" event="onSubmit">
             if (this.validate()){
					return true;
                } else {
                   return false;
               }
			</script>
		<table width="100%">
				<tr>
                    <td><?php echo $this->translate("Takaful/Company")?></td>
                    <td><?php echo $this->lobjform->Takcomp;?></td>
                    <td><?php echo $this->translate("Takaful/Company Names")?></td>
                    <td><?php echo $this->lobjform->Takcompnames;?></td>
                    <td><?php echo $this->translate("Select Action")?></td>
                    <td><?php echo $this->lobjform->Action;?></td>
                </tr>
                <tr>
                 <td></td>  
                 <td></td>             
                 <td><?php echo $this->lobjform->Search;?>
					<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Clear"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'reports','controller'=>'batchactionreport','action'=>'index'),'default',true);?>';" />
				</td>
               </tr>
		</table>
	</form>	
		</div>
	</fieldset> 
<br>

<form id="myForm1" name = "myform1" action="<?php echo $this->baseUrl();?>/reports/batchactionreport/exporttoexcel" method="POST" >
    <table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr>
	  <?php if (count($this->paginator)): ?>
	  <fieldset>
	     <?php if($this->action ==3){ ?>
	    <?php if($this->Takcomp ==1){ ?>
        <th><?php echo $this->translate("Company Name") ?></th>
		<?php }else {?>
		 <th><?php echo $this->translate("Takaful Name") ?></th>
		 <?php }?>
        <th><?php echo $this->translate("Total Candidates") ?></th>
        <th><?php echo $this->translate("Old Registrationpin") ?></th>
        <th><?php echo $this->translate("New Registrationpin") ?></th>
        <th><?php echo $this->translate("Date") ?></th>
        <th><?php echo $this->translate("User") ?></th>
       <?php }elseif($this->action ==2){?>
	   <?php if($this->Takcomp ==1){ ?>
        <th><?php echo $this->translate("Company Name") ?></th>
		<?php }else {?>
		 <th><?php echo $this->translate("Takaful Name") ?></th>
		 <?php }?>
        <th><?php echo $this->translate("Total Registered") ?></th>
        <th><?php echo $this->translate("Current Total") ?></th>
       
        <th><?php echo $this->translate("Date") ?></th>
        <th><?php echo $this->translate("User") ?></th>
		<?php }elseif($this->action ==1){?>
		<?php if($this->Takcomp ==1){ ?>
        <th><?php echo $this->translate("Company Name") ?></th>
		<?php }else {?>
		 <th><?php echo $this->translate("Takaful Name") ?></th>
		 <?php }?>
		  <th><?php echo $this->translate("Canceled Registration Pin") ?></th>
        <th><?php echo $this->translate("Remarks") ?></th>
        <th><?php echo $this->translate("Cancelation Details") ?></th>
       
        <th><?php echo $this->translate("Date") ?></th>
        <th><?php echo $this->translate("User") ?></th>
		<?php }?>
    </tr>
      
        <?php foreach ($this->paginator as $lobjCountry ):?>
	        <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
			    <?php if($this->action ==3){?>
		        <td><?php print_r($this->escape($lobjCountry['Company']));?></td>
		        <td><?php print_r($this->escape($lobjCountry['Totalcandidates']));?></td>
				<td><?php print_r($this->escape($lobjCountry['Oldregpin']));?></td> 
				<td><?php print_r($this->escape($lobjCountry['Newregpin']));?></td>
				<td><?php print_r($this->escape($lobjCountry['Date']));?></td>
				<td><?php print_r($this->escape($lobjCountry['User']));?></td>
				<?php }if($this->action ==2){?>
				<td><?php print_r($this->escape($lobjCountry['Company']));?></td>
		        <td><?php print_r($this->escape($lobjCountry['Totalregistered']));?></td>
				<td><?php print_r($this->escape($lobjCountry['Totalcandidates']));?></td> 
				
				<td><?php print_r($this->escape($lobjCountry['Date']));?></td>
				<td><?php print_r($this->escape($lobjCountry['User']));?></td>
				<?php } if($this->action ==1){?>
				<td><?php print_r($this->escape($lobjCountry['Company']));?></td>
		        <td><?php print_r($this->escape($lobjCountry['Regpin']));?></td> 
				<td><?php print_r($this->escape($lobjCountry['Remarks']));?></td> 
				<td><?php print_r($this->escape($lobjCountry['Details']));?></td>
				<td><?php print_r($this->escape($lobjCountry['Date']));?></td>
				<td><?php print_r($this->escape($lobjCountry['User']));?></td>
				<?php }?>
				<input type="hidden" name="Takcomp" id="Takcomp" value="<?php echo $this->Takcomp;?>"></td>
				<input type="hidden" name="Takcompnames" id="Takcompnames" value="<?php echo $this->Takcompnames;?>"></td>
				
				<input type="hidden" name="Act" id="Act" value="<?php echo $this->action;?>"></td>
	       </tr>
       <?php endforeach;?>
	    <tr>
	      <td align="right" colspan="6"><input name="Print1" id="Print1" type="submit" dojoType=dijit.form.Button  label="<?php echo $this->translate("Export To Excel"); ?>" value=<?php echo $this->translate("Excel");?> /></td>
      </tr>	
	  </fieldset>
       <?php endif;?>	
     
</table>
</form>

</body>
</html>
