<head>
<script type="text/javascript">
dojo.addOnLoad(function() {
	

	});
function checkAll(){
 	nodes = dojo.query('[name=\"IDApplication[]\"]');
 	if(document.getElementById('IDApplication').checked == true) {		 
 		
 		dojo.forEach(nodes,
 		    function(node)
 		    {
 		        dijit.getEnclosingWidget(node).set("checked",true);
 		    }
 		);
 	}
 	else {	
 		dojo.forEach(nodes,
 			    function(node)
 			    {
 			        dijit.getEnclosingWidget(node).set("checked",false);
 			    }
 			);
 	}
 }

function newsessionlists()
{

	   iddate = dijit.byId("Date");
	  // document.getElementById('date').value = iddate;
	   if(iddate !='')
	   {
		var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/examination/revertback/getsessions/iddate/"+iddate,
			handleAs:'json',
			load:function(data){
			if(data==null || data=='')
				{
					alert("There is no scheduler for this date Please change the Date");
					dijit.byId("Date").set('value',null);
				}
			else
			{ 
				AutoFillNextEditableDropDown("Venue",data);
			}
	      }
		}
	dojo.xhrGet(xhrArgs);
	   }

	   
}



function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}
function fngetsessiondetails()
{

	
	var selecteddate = dijit.byId("Date");
	var selectedvenue = dijit.byId("Venue");
	if(selectedvenue!='')
	{
		
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/examination/revertback/selectsession/selecteddate/"+selecteddate+"/selectedvenue/"+selectedvenue,
			handleAs:'json',
			load:function(data){
				
				AutoFillNextEditableDropDown("session",data);
				
				
				}
		
	      
    
		}
	dojo.xhrGet(xhrArgs);
	}
	
}


</script>
</head>
<body class='claro'>
	 <form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm" >
<script type="dojo/method" event="onSubmit">
                              if (this.validate()) {
					  return true;
                } else {
                    return false;
                }
				</script>
<fieldset>
	<legend><?php echo $this->translate("Candidate Details");?></legend>

 			
		<table width="100%" >
		
		<tr>
					<td><?php echo $this->translate("Exam Date(dd-mm-yyyy)")?></td>
					<td><?php echo $this->lobjRefertbackForm->Date;?></td>
					<td><?php echo $this->translate("Select Venue") ?></td>
					<td><?php echo $this->lobjRefertbackForm->Venue;?></td>
				</tr>
				<tr>
				<td><?php echo $this->translate("Select Session") ?></td>
					<td><?php echo $this->lobjRefertbackForm->session;?></td>
				</tr>
				<tr>
				 <td colspan="4" align="center">
				 	<?php echo $this->lobjRefertbackForm->Search;?>
				 	<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Clear"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'examination','controller'=>'closetime', 'action'=>'index'),'default',true);?>';" />
				</td>
               </tr>
		</table>

	</fieldset> 
	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
		
    		<tr>
    		     <th><input type="checkbox" dojoType="dijit.form.CheckBox" name="IDApplication"  checked='checked' onClick="checkAll();" id="IDApplication">Select All</th>
				<th><?php echo $this->translate->_("Student Name");?></th>		
				<th><?php echo $this->translate->_("IC number");?></th>			
				<th><?php echo $this->translate->_("Exam Date");?></th>	
				<th><?php echo $this->translate->_("Program");?></th>	
				<th><?php echo $this->translate->_("Venue");?></th>	
				<th><?php echo $this->translate->_("Session");?></th>						
    		</tr>
    	
    	<?php  if (count($this->studentnames)):  $cnnt = 0; ?>    	
    	<tbody>       	            
            <?php   foreach ($this->studentnames as $lobjcategory ): $cnnt++ ?>
            <tr>  
            <td><input type="checkbox" dojoType="dijit.form.CheckBox" name="IDApplication[]"  checked='checked' value="<?php echo $this->escape($lobjcategory['IDApplication']);?>" id="IDApplication<?php echo $cnnt;?>"</td>
          		<td><?php  echo $lobjcategory['FName'];?></a></td>
          		<td><?php  echo $lobjcategory['ICNO'];?></td>
          		<td><?php echo date('d-m-Y',strtotime($lobjcategory['DateTime']));?></td>
          		<td><?php  echo $lobjcategory['ProgramName'];?></td>
	          	<td><?php  echo $lobjcategory['centername'];?></td>          		          		
          		<td><?php  echo $lobjcategory['managesessionname'];?></td>
		
     		</tr>
     		<?php  endforeach; ?>
     		 <?php  endif; ?>
     	</tbody>		
     		<td colspan="8" align="right">  
				 <input type="submit" dojotype="dijit.form.Button" id="Approve" name="Approve" value="Approve" label="<?php echo $this->translate("Revert Back");?>"/>
		
		   
																		   
		</td>
      </table>
      </fieldset>
		</form>
</body>
