<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<link href="<?php  echo $this->baseUrl();?>/css/calendar.css" rel="stylesheet" type="text/css" />   
<script type="text/javascript">
dojo.addOnLoad(function() {
	var Program = 1;
	fngetstatedetails(Program);

});
function fngetstatedetails(idprog)
{
	
	var xhrArgs1 = {
			url: "<?php echo $this->baseUrl();?>"+"/general-setup/examtime/newfngetyear/idprog/"+idprog,
			handleAs:'json',
			load:function(data){ 
				
				AutoFillNextEditableDropDown("schedulerename1",data); 
			}
	   }
	dojo.xhrGet(xhrArgs1);

 
}


function newcitylistss(year)
{
	if(year>1)
	{
		//var Program = dijit.byId("Coursename");
		var year = dijit.byId("schedulerename1").value;
	
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/general-setup/examtime/newfngetcitynames/year/"+year,
			handleAs:'json',
			load:function(data){ 
				document.getElementById('calender').innerHTML='';
				AutoFillNextEditableDropDown("newexamcity",data); 
				
				
			}
	   }
	dojo.xhrGet(xhrArgs);

	}

	
	
}


function fngetstatelist()
{
	var year = dijit.byId("schedulerename1").value;
	//alert(year);
	var Program = dijit.byId("Coursename");
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/general-setup/newscreen/fngetstatename/year/"+year+"/Program/"+Program,
			handleAs:'json',
			load:function(data){ 
				//document.getElementById('calender').innerHTML="";
				AutoFillNextEditableDropDown("newexamstate",data); 
				 
			}
	   }
	dojo.xhrGet(xhrArgs);

	exp='<?php echo $this->exp;?>';

	expiredate='<?php echo $this->examdateDate;?>';

if(exp==1)
{
	var xhrArgs3 = {
			url: "<?php echo $this->baseUrl();?>"+"/general-setup/newscreen/fngetmonthname/year/"+year+"/Program/"+Program+"/expiredate/"+expiredate,
			handleAs:'json',
			load:function(data){ 
				AutoFillNextEditableDropDown("newexammonth",data); 
				//dijit.byId("newexammonth").setValue(data);
			}
	   }
	dojo.xhrGet(xhrArgs3);
}	
else
{
	var xhrArgs3 = {
			url: "<?php echo $this->baseUrl();?>"+"/general-setup/newscreen/fngetmonthnamevalid/year/"+year+"/Program/"+Program+"/expiredate/"+expiredate,
			handleAs:'json',
			load:function(data){ 
				AutoFillNextEditableDropDown("newexammonth",data); 
				//dijit.byId("newexammonth").setValue(data);
			}
	   }
	dojo.xhrGet(xhrArgs3);	
}
		
	
}


function fnGetCitylist(idstate)
{
	//alert('asdf');
	
	var Program = dijit.byId("Coursename");
	var year = dijit.byId("schedulerename1").value;
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/general-setup/newscreen/fngetcitynames/idstate/"+idstate+"/Program/"+Program+"/idsecheduler/"+year,
			handleAs:'json',
			load:function(data){ 
				//document.getElementById('calender').innerHTML;
				AutoFillNextEditableDropDown("newexamcity",data); 
				//showcalender()
			}
	   }
	dojo.xhrGet(xhrArgs);
}





function funct(day,month)
{
///////////////scheduler exception/////////////////

	var year = dijit.byId("schedulerename1");
	
	var city = dijit.byId("newexamcity");

	if(month<10)
	{
		month='0'+month;
	}
	if(day<10)
	{
		day='0'+day;	
	}
	
     selecteddate=day+'-'+month+'-'+year;
    // alert(selecteddate);
	
	var yearss = dijit.byId("Examdate").setValue(selecteddate);

	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/general-setup/examtime/schedulerexception/day/"+day+"/month/"+month+"/city/"+city+"/year/"+year,
			handleAs:'text',
			load:function(data){
				 if(data == '')
				 {
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/general-setup/examtime/tempdays/day/"+day+"/month/"+month+"/year/"+year+"/city/"+city,
			handleAs:'json',
			load:function(data){ 
				AutoFillNextEditableDropDown("examsession",data); 
			}
	   }
	dojo.xhrGet(xhrArgs);
				 }
				 else
				 { 
					 
					alert(data);
					dijit.byId("Examdate").setValue("");
					dijit.byId("examsession").setValue("");
					//document.getElementById('newexamdates').value ='';
					//var flagssss=1;
				 }
				
			}
	   }
	dojo.xhrGet(xhrArgs);
	

	
}



function fndisplaycalender(city)
{
	
	
	
	var year = dijit.byId("schedulerename1");

	
	var NewCity = dijit.byId("newexamcity");
	
	if(city == '')
	{
		document.getElementById('calender').innerHTML="";
	}
	document.getElementById('calender').innerHTML="";
	
	document.getElementById('sessiondays').innerHTML = ""; 

	if(year>0 && city!='')
	{

			var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/general-setup/examtime/newfnnewmonthslistvalidate/NewCity/"+city+"/year/"+year,
					handleAs:'json',
					load:function(data){ 
						AutoFillNextEditableDropDown("newexammonth",data); 
					}
			   }
			dojo.xhrGet(xhrArgs);
	



		
	}
}


function fnShowCalendarnew(idmonth)
{   
		
		var Year = dijit.byId("schedulerename1");
		var NewCity = dijit.byId("newexamcity");
		//alert(Year);
		if(idmonth == 0)
	 	{
	 		var NewCity = dijit.byId("newexamcity");
	 		fndisplaycalender(NewCity);
	 	}
		else
		{
				var xhrArgs = {
			 			url: "<?php echo $this->baseUrl();?>"+"/general-setup/examtime/caleshowmonth/idmonth/"+idmonth+"/Year/"+Year+"/NewCity/"+NewCity,
			 			handleAs:'text',
			 			load:function(data)
			 			{ 
			 			document.getElementById('calender').innerHTML = data; 
			 			}
			 	   }
			 	dojo.xhrGet(xhrArgs);


				var xhrArgs = {
			 			url: "<?php echo $this->baseUrl();?>"+"/general-setup/examtime/fngetmonthofsession/idmonth/"+idmonth+"/Year/"+Year+"/NewCity/"+NewCity,
			 			handleAs:'text',
			 			load:function(data)
			 			{ 
				 			if(data==1)
				 			{
				 				document.getElementById('sessiondays').innerHTML = '<table><tr><td> <B>1 SESSIONS :</B></td><td><div style="background-color:green;width:50px;height:20px;align:right;"></div></td></tr></table>'; 
				 			}
				       if(data==2)
				 			{
				    	   document.getElementById('sessiondays').innerHTML = '<table><tr><td> <B>1 SESSIONS :</B></td><td><div style="background-color:green;width:50px;height:20px;"></div></td><td>  <B>2 SESSIONS :</B> </td><td> <div style="background-color:skyblue;width:50px;height:20px;"></div></td></tr></table>'; 	
				 			}
				 		if(data==3)
				 			{
				 			document.getElementById('sessiondays').innerHTML = ' <table><tr><td> <B>1 SESSIONS :</B></td><td><div style="background-color:green;width:50px;height:20px;"></div></td><td>  <B>2 SESSIONS :</B> </td><td> <div style="background-color:skyblue;width:50px;height:20px;"></div></td><td><B>3 SESSIONS :</B></td><td> <div style="background-color:violet;width:50px;height:20px;"></div></td></tr></table>';
				 			}
				 		 if(data==4)
				 			{
					 			document.getElementById('sessiondays').innerHTML = '<table><tr><td>  <B>1 SESSIONS :</B></td><td><div style="background-color:green;width:50px;height:20px;"></div> </td><td> <B>2 SESSIONS :</B></td><td> <div style="background-color:skyblue;width:50px;height:20px;"></div></td><td><B>3 SESSIONS :</B> </td><td> <div style="background-color:violet;width:50px;height:20px;"></div></td><td><B>4 SESSIONS :</B> </td><td><div style="background-color:pink;width:50px;height:20px;"></div></td></tr></table>';
				 			}
				 		
			 			//alert(data);
			 			//document.getElementById('sessiondays').innerHTML = data; 
			 			}
			 	   }
			 	dojo.xhrGet(xhrArgs);


			
		
		}




		
	 	
}

function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}


function Closefn()
{
	document.getElementById('divLogin').style.display = 'none';
	document.getElementById('divLogin2').style.display = 'none';
}



function fnhidebtn()
{
	document.getElementById('btnsave').style.display='none';
}

</script> 
</head>
<body>

	<fieldset>
	         
				<Form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">
				 <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
                       fnhidebtn();
					return true;
                } else {
                    return false;
                }
				</script>
				<table width="100%" class="table">
			
				      <tr>
                         <th colspan = "2"><?php echo $this->translate('Exam-Time Enhance Details')?></th>
                     </tr>
                   
		             <tr>
			                 <td><?php echo $this->translate("Year");?></td>
			               <td><?php echo $this->lobjnewscreenForm->schedulerename1;?></td>
			             
		             </tr>
		   
		              <tr>
			                 <td><?php echo $this->translate("New Exam Venue");?></td>
			               <td><?php echo $this->lobjnewscreenForm->newexamcity;?></td>
			             
		             </tr>
		             
		               <tr>
		                  <td><?php echo $this->translate("Exam Month");?></td>
			               <td><?php echo $this->lobjnewscreenForm->newexammonth;?></td>
			               </tr>
			               
			               
			            <tr >
			            	<td></td>
			                 <td ><div id="sessiondays" width="100%"></div></td>
			             
			             
		             </tr>
		            
		                
			                 <tr>
			                
                             <td colspan="2">
                             
                                   
                             <div align="left "id="calender" >  
                             </div>         
                              </td>              
                          </tr>  
                          
                             <tr>
		                  <td><?php echo $this->translate("Exam Date");?></td>
			               <td><?php echo $this->lobjnewscreenForm->Examdate;?></td>
			               </tr>
			               
			                   <tr>
		                  <td><?php echo $this->translate("Exam Session");?></td>
			               <td><?php echo $this->lobjnewscreenForm->examsession;?></td>
			               </tr>
			               
			                 <tr>
		                  <td><?php echo $this->translate("Time");?></td>
			               <td><?php echo $this->lobjnewscreenForm->examtime;?>(min)</td>
			               </tr>  
                      
		             <tr>
		                       
		                      
		                   <td  colspan="2" align="right">
		                   <?php echo $this->lobjnewscreenForm->Save;?>
		                   <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo "Back";?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'general-setup','controller'=>'examtime', 'action'=>'index'),'default',true);?>';" /><td>
  		            
  		              </tr> 
				</table>
					
				</Form> 
</fieldset>
</body>
</html>