<head>
<script type="text/javascript">

    dojo.addOnLoad(function() {

    	dijit.byId('IdRegister').set('value','');
    	dijit.byId('IdRegister').set('placeHolder','Select');	
	fnhidetext();

	var printrep = '<?php echo $this->editid;?>';
	//alert(printrep);
	if(printrep>1)
	{
		var print = confirm('Invoice saved successfully, Do you wants to print Invoice?')
		if(print == true)
		{
			//window.open("http://<?php echo $_SERVER['SERVER_NAME']?><?php  echo $this->baseUrl();?>/companyapplication/printreport/insertedId/<?php echo $this->editid;?>");
		}
	}
	

});
<?if(isset($this->alertError)){?>
	alert('<? echo $this->alertError; ?>.');

<?}?>
function fnhidetext()
{
	 Student = dojo.byId('register');
     dojo.style(Student,'display','none');
}

function fnshowtext()
{
	dojo.removeAttr(Student,'style');	
}

function Closefn()
	{	 
	   	 window.location = "<?php echo $this->baseUrl();?>/batchlogin/logout";        
	}
</script>
</head>
	<fieldset><?php $companyDetails = $this->takafulDetails; ?>
		<legend><?php echo $this->translate("Takaful").' '.$this->translate("Application");?></legend>
        
            <table width="100%" class="table">
                <tr>
                   <td><?php echo $this->translate("Takaful Name");?></td>
                   <td ><?php echo $companyDetails['TakafulName'];?></td>                  
                </tr>
                <tr>
                     <td><?php echo $this->translate("Contact")." ".$this->translate("Person");?></td>
                     <td ><?php echo $companyDetails['ContactName'];?></td>
                  	
                </tr>

            </table>
    </fieldset> 
    <br/>
	<fieldset>
	<form action="<?php echo $this->baseUrl();?>/takafulapplication/changepassword"  dojoType="dijit.form.Form"  id="myForm"  name= "myForm" method="POST">
	     <script type="dojo/method" event="onSubmit">
               if (this.validate()) {
pass=document.getElementById("newpassword").value;
conpass=document.getElementById("conpassword").value;
if(pass==conpass){
			return true;
			}
else{
alert("Password and Confirm Password Fields Are Not Matching");
return false;	
}
} else {
	return false;}
				</script>
	     <table class="table" width="30%" align="center">
                     <tr>
                          <th colspan = "5"><?php echo $this->translate("Change Password");?></th>
                     </tr>                       
                    	 <tr>
                            <td><?php  echo $this->translate("Old Password");?><span class="reqMark">*</span></td>
                            <td align="right" id="register" ><?php  echo $this->lobjAdhocApplicationForm->oldpassword;?></td>
                         </tr>  
                          <tr>
                            <td><?php  echo $this->translate("New Password");?><span class="reqMark">*</span></td>
                            <td align="right" id="register" ><?php  echo $this->lobjAdhocApplicationForm->newpassword;?></td>
                         </tr> 
                          <tr>
                            <td><?php  echo $this->translate("Confirm Password");?><span class="reqMark">*</span></td>
                            <td align="right" id="register" ><?php  echo $this->lobjAdhocApplicationForm->conpassword;?></td>
                         </tr>  	                        
	                     <tr>                           
                            <td colspan="2" align="right"><?php  echo $this->lobjAdhocApplicationForm->Save;?>
                            <input type="button" name="Close" class="buttonStyle" onClick="Closefn();" value="Close" dojoType="dijit.form.Button"  label="Logout" >	</td>
                        </tr>     
	        </table>
        </form>
        </fieldset>                
	 
