<head>
<script>
dojo.addOnLoad(function(){
	dijit.byId('idPrograms').focus();
	dijit.byId('idPrograms').set('value','');
	dijit.byId('idPrograms').set('placeHolder','Select');
	dijit.byId('ModeofPayment').set('value','');
	dijit.byId('ModeofPayment').set('placeHolder','Select');	
	});
	
function fngetfeedetails(valu){
	
	if(valu!='')
	{
		document.getElementById('noOfCand').value="";
		document.getElementById('discount').value="";
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/takafulapplication/getprogramtotal/idprogram/"+valu,
			handleAs:'text',
			load:function(data){ 
				document.getElementById('eachAmounts').value = data;	
				document.getElementById('totalAmt').value  = eval(document.getElementById('eachAmounts').value)*eval(document.getElementById('noOfCand').value);
			}
	   }
	dojo.xhrGet(xhrArgs); 	


 
	var xhrArgs1 = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetprerequesition/idprog/"+valu,
			handleAs:'text',
			load:function(data){ 
				if(data == '')
				{
				}
				else
				{
				alert(data);
				}
			}
	   }
	dojo.xhrGet(xhrArgs1);
	
  
}
}
function fncalculateSum(noC){	
	document.getElementById('totalAmt').value  = eval(document.getElementById('eachAmounts').value)*eval(document.getElementById('noOfCand').value);
}

function fngetDiscount(stuno)
{
	 idprograms=dijit.byId('idPrograms');
	 discount='<?php echo $this->discount;?>';
	 if(stuno!='' && idprograms!='' && stuno>0)
	{
			document.getElementById('totalAmt').value="NaN";
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/takafulapplication/getdiscount/nocandidates/"+stuno+"/idprogram/"+idprograms,
			handleAs:'text',
			load:function(data){ 
				var total = document.getElementById('eachAmounts').value;	
				var nocan=stuno
				document.getElementById('discount').value = data;
				if(discount==1)
				{
                var totaldiscountedamount = total - (data);
				document.getElementById('totalAmt').value  = eval(totaldiscountedamount*nocan);
				}
				else
				{
					 var discountedamount = ((eval(total*nocan) *data)/100);
					 discounted=parseInt(discountedamount);
					 var totals=eval(total*stuno);
						document.getElementById('totalAmt').value  = eval(totals)-eval(discounted);
				}
			}
	   }
	dojo.xhrGet(xhrArgs);
	}
}

var statarray = new Array();
id = 1;
sumno = 0;
sumTot = 0;
function addRows() {	
	var StudentIdHTML   =  dijit.byId("idPrograms").value;
	var StudentNameHTML = document.getElementById("idPrograms").value;
	var eachAmounts  	= document.getElementById('eachAmounts').value;
	var noOfCand  		=  document.getElementById('noOfCand').value;
	var totalAmt 		=  document.getElementById('totalAmt').value;
	var discountamount 		=  document.getElementById('discount').value;
	if(noOfCand == 0){		
		alert("Enter No of Candidates");
		return false;
	}

	sa3=dijit.byId("noOfCand").value
	var stricna=new String(sa3);	
	var the_char=stricna.charAt(0);
	if(dijit.byId("noOfCand").value==0 || dijit.byId("noOfCand").value=='' || the_char==0){
	    dijit.byId("noOfCand").attr('required','true');
		dijit.byId("noOfCand").focus();
		return false;
	}
	if(isNaN(document.getElementById("totalAmt").value)){		
		alert("Wait Total amount cannot be NaN");
		return false;
	}
	if(dijit.byId("totalAmt").value==''){
	    dijit.byId("totalAmt").attr('required','true');
		dijit.byId("totalAmt").focus();
		return false;
	}
	if(StudentIdHTML == "Select"||StudentIdHTML == ""){	
		alert("Select Course Name");
		return false;
	}
	else{ 		
		statarray.push(StudentIdHTML);
		if(arrHasDupes(statarray))
		{
			statarray = statarray.unique();
			alert("Duplicate Course Name");
		}
		else
		{	
			sumno = eval(sumno) + eval(noOfCand);
			sumTot = eval(sumTot) + eval(totalAmt);				
			document.getElementById("contentBody").innerHTML = document.getElementById("contentBody").innerHTML+"<tr id='row"+id+"'><td>"+StudentNameHTML+"<input type='hidden'   name='idProgram[]' id='idProgram' value='"+StudentIdHTML+"'></td><td  align='right'><input type='hidden'   name='eachAmount[]' id='eachAmount' value='"+eachAmounts+"'>"+eachAmounts+"</td><td  align='right'><input type='hidden' name='noofCandidates[]'  id='noofCandidates' value='"+noOfCand+"'>"+noOfCand+"</td><td  align='right'><input type='hidden'   name='discountamount[]' id='discountamount' value='"+discountamount+"'>"+discountamount+"</td><td  align='right'><input type='hidden' name='toatlAmount[]'   id='toatlAmount' value='"+totalAmt+"'>"+totalAmt+"</td><td><img src='<?php echo $this->baseUrl()?>/images/delete.png' onClick='removeFormField(this,\"#row"+id+"\"\,\"" +StudentIdHTML+ "\"\,\"" +totalAmt+ "\"\,\"" +noOfCand+ "\"\);   return false;'  border=0 width='16' height='16'></td></tr>";
			id++;
			//document.getElementById("id").value = id;
			//dijit.byId("totalNoofCand").value = sumno;
			//dijit.byId("grossAmt").value = sumno;
			//document.getElementById('totalNoofCand').value = sumno;
			//document.getElementById('grossAmt').value = sumTot;
			dijit.byId("totalNoofCand").setValue(sumno);
			dijit.byId("grossAmt").setValue(sumTot);
		}		
	}
}
function removeFormField(currents,id,StudentIdHTML,totalAmt,noOfCan) {
	currents.parentNode.parentNode.parentNode.removeChild(currents.parentNode.parentNode);	
	for(var i=0; i<statarray.length; i++) {
        if(statarray[i] == StudentIdHTML) {
        	statarray.splice(i, 1);
            break;
        }
	}	
	sumno  = eval(sumno) - eval(noOfCan);
	sumTot = eval(sumTot) - eval(totalAmt);;
	//document.getElementById('totalNoofCand').value = sumno;
	//document.getElementById('grossAmt').value      = sumTot;	
	dijit.byId("totalNoofCand").setValue(sumno);
	dijit.byId("grossAmt").setValue(sumTot);
}
function arrHasDupes( A ) {                          // finds any duplicate array elements using the fewest possible comparison
	var i, j, n;
	n=A.length;                                                     // to ensure the fewest possible comparisons
	for (i=0; i<n; i++) {                        // outer loop uses each item i at 0 through n
		for (j=i+1; j<n; j++) {              // inner loop only compares items j at i+1 to n
			if (A[i]==A[j]) return true;
		}
	}
	return false;
}
Array.prototype.unique = function () {
    var r = new Array();
    o:for(var i = 0, n = this.length; i < n; i++) {
        for(var x = 0, y = r.length; x < y; x++) {
                if(r[x]==this[i]) {
                	continue o;
                }                
        }
        r[r.length] = this[i];
    }
    return r;
}
function Closefn(){
	window.location="<?php echo $this->baseUrl();?>/companyapplication/index";
}
</script>
</head>
	<fieldset><?php $companyDetails = $this->takafulDetails; ?>
		<legend><?php echo $this->translate("Takaful").' '.$this->translate("Application");?></legend>
        
            <table width="100%" class="table">
                <tr>
                   <td><?php echo $this->translate("Takaful Name");?></td>
                   <td ><?php echo $companyDetails['TakafulName'];?></td>                  
                </tr>
                <tr>
                     <td><?php echo $this->translate("Contact")." ".$this->translate("Person");?></td>
                     <td ><?php echo $companyDetails['ContactName'];?></td>
                  	
                </tr>

            </table>
        </form>	
    </fieldset> 
    <br/>
	<fieldset>
	<form action="<?php echo $this->baseUrl();?>/takafulapplication/newapplication"  dojoType="dijit.form.Form" method="POST">
	    <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
cn=dijit.byId("grossAmt").value;

                    if(cn==0)
                     {
                     alert("Please Add Atleast One Row");
                        return false;
                       }

					return true;
                } else {
                    return false;
                }
				</script> 
	     <table class="table" width="100%" >
                     <tr>
                          <th colspan = "5"><?php echo $this->translate("New Application");?></th>
                     </tr>
                         <tr>
                            <th width="35%"><?php if($this->caption) {echo $this->translate("$this->caption");?><?php }else{?><?php echo $this->translate("Course");}?></th>
                            <th width="10%"><?php  echo $this->translate("Amount");?></th>
                            <th width="25%"><?php  echo $this->translate("No OF Candidates");?></th>
                              <th width="25%"><?php  echo $this->translate("Discount");?></th>
                            <th width="20%"> <?php  echo $this->translate("Total");?></th>
                             <th width="10%"></th>
                        </tr>
                         <tr>  
                            <td><?php  echo $this->lobjTakafulForm->idPrograms;?></td>
                            <td align="right"><?php  echo $this->lobjTakafulForm->eachAmounts;?></td>
                            <td align="right"><?php  echo $this->lobjTakafulForm->noOfCand;?></td>
                             <td>   <input type="text"  id="discount" name="discount[]" dojoType="dijit.form.ValidationTextBox"   readOnly="true"  style="width:40px"   value="0"></td>
                            <td align="right"><?php  echo $this->lobjTakafulForm->totalAmt;?></td>
                             <td><input type="button" name="Add" id="Add" value="Add" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Add"); ?>" onclick="addRows();"></td>
                        </tr>
                        <tr>
                        	<td colspan="5"><?php echo $this->lobjTakafulForm->idTakaful?></td>
                        </tr>
                         <tbody id="contentBody" >                      	
                        	
                        </tbody>
	                     <tr>
                            <td></td>
                            <td></td>
                            <td align="right"><b><?php  echo $this->translate("Total No of Candidates:");?></b><?php  echo $this->lobjTakafulForm->totalNoofCand;?></td>
                            <td align="right"><b><?php  echo $this->translate("Gross Amount:");?></b><?php  echo $this->lobjTakafulForm->grossAmt;?></td>
                             <td></td>
                        </tr> 
	                         <tr>
                           <td><?php  echo $this->translate("Mode of Payment:");?></td>
                            <td><?php  echo $this->lobjTakafulForm->ModeofPayment;?></td>
                            
                            <td></td>
                           <td></td>
                             <td></td>
                        </tr> 
	                     <tr>
                           
                            <td colspan="5" align="right"><?php  echo $this->lobjTakafulForm->Save;?>
                            <input type="button" name="Close" class="buttonStyle" onClick="Closefn(); return false;" value="Close" dojoType="dijit.form.Button"  label="Close" >	</td>
                            
                        </tr>     
	        </table>
        </form>
        </fieldset>                
	  
