
<script type="text/javascript">
    dojo.require("dijit.form.TimeTextBox");
    dojo.addOnLoad(function() {
       
       
    });
	function fnvalidatetime(capacity)
{
alert(capacity);
	
	Maxseatcapacity='<?php echo $this->seatcapacity;?>';
	if(eval(capacity) > eval(Maxseatcapacity))
	{
		alert("The max seat capacity is "+Maxseatcapacity);	
		dijit.byId("capacity").setValue('');
		
	}
	
}
  
</script>
</script> 
<fieldset>
    <legend><?php echo $this->translate("Edit Scheduler");?></legend>
    
                <Form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">
                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>
                    <table class="table" width="100%" >
                    <?php $idnewscheduler = $this->idnewscheduler;?>
                        <tr>
                            <th colspan = "4"><?php echo $this->translate("Scheduler").' '.$this->translate("Details");?>	<?php echo $this->lobjprogramForm->UpdDate;?>
                            	<?php echo $this->lobjprogramForm->UpdUser;?></th>
                        </tr>
                        
                       
                         <tr>
                            <td ><?php echo $this->translate("Select").' '.$this->translate("Year");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjprogramForm->Year;?>
                            </td>
                        </tr>
                             <tr>
                            <td ><?php echo $this->translate("Description");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjprogramForm->description;?>
                            </td>
                        </tr>                    
                       
                          <tr>
                            <th colspan = "4"><?php echo $this->translate($this->Course).' '.$this->translate("Master");?></th>
                        </tr>
                          <tr>
                            <td valign="top"><?php echo $this->translate("Select").' '.$this->translate("Examination").' '.$this->translate("Type");?><span class="reqMark">*</span></td> 
                            <td>
                             <?php $cnt=0; $mn=0; $active=$this->activeset;$schedulercoursearray = $this->schedulercourse; foreach ($this->courses as $larrcenter ): $cnt++?>
                    
                         <input type="checkbox" dojoType="dijit.form.CheckBox" name="idprogram[]"  value="<?php echo $larrcenter['IdProgrammaster'];?>" id="idprogram<?php echo $cnt;?>" <?php if(in_array($larrcenter['IdProgrammaster'],$schedulercoursearray)){?> checked<?php }?>><?php  echo $larrcenter['ProgramName'];?><?php  //echo ' '.'('.$active[$mn]['BatchName'].')';?><br>
     		              <?php  endforeach; ?>
                              </td>
                            
                            </tr>
                           <tr>
                            <th colspan = "4"><?php echo $this->translate("Session").' '.$this->translate("Master");?></th>
                           </tr>
                             <tr>
                            <td valign="top"><?php echo $this->translate("Select").' '.$this->translate("Session");?><span class="reqMark">*</span></td> 
                            <td>
                             <?php $cnt1=0; $editsessionarray = $this->schedulersession;foreach ($this->mansession as $larrsession ): $cnt1++?>
                    
                         <input type="checkbox" dojoType="dijit.form.CheckBox" name="idsession[]"  value="<?php echo $larrsession['idmangesession'];?>" id="idsession<?php echo $cnt1;?>" <?php if(in_array($larrsession['idmangesession'],$editsessionarray)){?> checked<?php }?>><?php  echo $larrsession['managesessionname'];?><?php  echo '('.''.$larrsession['starttime'].' '.$this->translate("To").' '.$larrsession['endtime'].')';?><br>
     		            <?php  endforeach; ?>
                              </td>
                            
                            </tr>
                             <tr>
                            <th colspan = "4"><?php echo $this->translate($this->Center).' '.$this->translate("Master");?></th>
                           </tr>
                             <tr>
                            <td valign="top"><?php echo $this->translate("Select").' '.$this->translate("Venue");?><span class="reqMark">*</span></td> 
                            <td>
                            <table>
                             <?php  $cnt2=0;$i=0; $schedulervenuearray = $this->schedulervenue;foreach ($this->centerarray as $larrcenter ):$cnt2++;?>
                    <tr><td>
                         <input type="checkbox" dojoType="dijit.form.CheckBox" name="idcenter[]"   value="<?php echo $larrcenter['idcenter'];?>" id="idcenter<?php echo $cnt2;?>" <?php if(in_array($larrcenter['idcenter'],$schedulervenuearray)){?> checked <?php ;}?> ></td><td><?php echo  $larrcenter['centername'];?></td><td>Sit Capacity:<?php echo '['.$schedulervenuearray[$i]['Totalcapacity'];?>
						<input readonly type="hidden"   name='capacity[<?php echo $larrcenter['idcenter'];?>]'  value='<?php if(in_array($larrcenter['idcenter'],$schedulervenuearray)){ echo $schedulervenuearray[$i]['Totalcapacity']; $i++; } else echo "0";?>' id='capacity<?php echo $larrcenter['idcenter'];?>'><?php echo ']';?></td>
                         </tr>
     		            <?php endforeach; ?></table>
                              </td>
                            
                            </tr>                       
                           
               			<tr>
                            <td colspan=4 align = "right"><input type="hidden" name="Examdate" id="Examdate" value="<?php echo $this->Examdate;?>"><?php echo  $this->lobjprogramForm->Save;?>
							<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('controller'=>'inhousescheduler', 'action'=>'index'),'default',true);?>';" />	
                            </td> 
                               
                        </tr>           
                        
              </table>
            
            </Form>

</fieldset>
