<fieldset>
	<legend><?php echo $this->translate("Inhouse").' '.$this->translate("Scheduler").' '.$this->translate("Search");?></legend>
                    <form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">
                            <table width="100%">
                                <tr>
                                    <td><?php echo $this->translate("Inhouse").' '.$this->translate("Scheduler").' '.$this->translate("Description");?></td>
                                    <td><?php echo $this->lobjform->field3;?></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td ><?php echo $this->translate("Approved");?>
                                    <?php echo $this->lobjform->field7;?></td>
                                </tr>
                                <tr>
                                <td align = "center" colspan = "4">
											<?php echo $this->lobjform->Search;?>
											<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Add"); ?>" onclick="window.location.href='<?php echo $this->url(array('controller'=>'inhousescheduler', 'action'=>'addspecialscheduler'),'default',true);?>';" />	
											<?php echo $this->lobjform->Clear;?>
								</td>
							     </tr>
                        </table>
                    </form>	
    </fieldset> 
    <br/>
    <?php if (count($this->paginator)): ?>
	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
	    	<tr>
	        	
	        			<th><?php echo $this->translate("Description");?></th>
						<th><?php echo $this->translate("Exam Date")?></th>
						<th><?php echo $this->translate("Exam Venue")?></th>
						<th><?php echo $this->translate("Exam Session")?></th>
						<?php if($this->status ==1){?>
						<th><?php echo $this->translate("Approved On")?></th>
						<?php }else{
						?>
						<th><?php echo $this->translate("Created On")?></th>
						<?php }?>
	        			<th><?php echo $this->translate("Status")?></th>
	        			
	        	
	    	</tr>
	        
	        <?php foreach ($this->paginator as $lobjprogram): ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	<?php if($lobjprogram['Status']!=1) { ?>
	            		<td><a href="<?php echo $this->baseUrl();?>/inhousescheduler/editscheduler/id/<?php echo $this->escape($lobjprogram['idnewscheduler']);?>"><?php echo $lobjprogram['Description'];?></a></td>
						<?php } else { ?>
						<td><?php echo $lobjprogram['Description'];?></td>
						<?php }?>
						<td><?php print_r($this->escape($lobjprogram['Examdate']));?></td>
						<td><?php print_r($this->escape($lobjprogram['centername']));?></td>
						<td><?php print_r($this->escape($lobjprogram['managesessionname']));?></td>
						<td><?php print_r($this->escape($lobjprogram['createddate']));?></td>
						
						
						
	            			<td><?php if($lobjprogram['Status']==1) { echo $this->translate('Approved');?><?php }else {?><?php echo $this->translate('Not Approved');}?></td>
					 
	           
	            <?php endforeach; ?>
	           
			</tr>
			<tr>
	        	<td colspan="8" align="right"><div class="pagination"><?php  echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>
			<tr>
	        	
   			</tr>
		</table>
	</fieldset>
	 <?php endif; ?> 