<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html dir="ltr">
    
    <head>
       <script type="text/javascript">
          function fnOpenPopUp() 
           {
    	     var batchprint = document.getElementById('batchprint').value;
    	     var batchChart = document.getElementById('batchChart').value;
    	     //alert(batchprint);
    	     //alert(batchChart);   	   
    	     window.open("<?php echo $this->baseUrl();?>/general-setup/racereport/print/batchprint/"+batchprint+"/batchChart/"+batchChart);
           }
       </script>
        
       <script type="text/javascript">
          var cntrlchart;
          var cnt=3;
          var batch;
             dojo.require("dojox.charting.Chart2D");
             dojo.require("dojox.charting.plot2d.Pie");
             dojo.require("dojox.charting.action2d.Highlight");
             dojo.require("dojox.charting.action2d.MoveSlice");
             dojo.require("dojox.charting.action2d.Tooltip");
             dojo.require("dojox.charting.themes.MiamiNice");
             dojo.require("dojox.charting.widget.Legend");    
            
        	 dojo.addOnLoad(function() 
              {
               aray= new Array();
               <?php foreach($this->racearray as $racenames):?>
               v1='<?php echo $racenames['DefinitionDesc'];?>'
               aray.push(v1);
               <?php endforeach;?>
               
               batch = <?php echo $this->Batch;?>;
               cntrlchart = <?php echo $this->Chart;?>;
        	  });
          	                             
        	 function piechart() {
            	
                var dc = dojox.charting;
                var chartTwo = new dc.Chart2D("chartTwo");
                chartTwo.setTheme(dc.themes.MiamiNice).addPlot("default", {
                    type: "Pie",
                    font: "normal normal 11pt Tahoma",
                    fontColor: "black",
                    labelOffset: -50,
                    radius: 100
                }).addSeries("Series A", [{
                    y: <?php echo $this->chinese;?>,
                   // text: "Total No of Student",
                    stroke: "black",
                    tooltip: "Student Attended"
                },
                {
                    y: <?php echo $this->white;?>,
                    //text: "Absent",
                    stroke: "black",
                    tooltip: "Total Student Absent"
                },
                {
                    y: <?php echo $this->black;?>,
                    //text: "Absent",
                    stroke: "black",
                    tooltip: "Total Student Absent"
                }
                ,
                {
                    y: <?php echo $this->black;?>,
                    //text: "Absent",
                    stroke: "black",
                    tooltip: "Total Student Absent"
                }
                ]);
                var anim_a = new dc.action2d.MoveSlice(chartTwo, "default");
                var anim_b = new dc.action2d.Highlight(chartTwo, "default");
                var anim_c = new dc.action2d.Tooltip(chartTwo, "default");
                chartTwo.render();
                var legendTwo = new dojox.charting.widget.Legend({
                    chart: chartTwo
                },
                "legendTwo");
            }
            
            
            
            makeCharts = function() {
              
            	gchart = cntrlchart;
                var chart1 = new dojox.charting.Chart2D("simplechart");
                if(gchart == 0)
                {
		                chart1.addPlot("default", {
		                    type: "Columns",
		           			markers: true,
		            		gap: 5
		                   });
                }
                else if(gchart ==1)
                {
               	      chart1.addPlot("default", {
	                    type: "Markers"
	                   });
                }
                else if(gchart ==4)
                {
                	piechart();
                	document.getElementById("simplechart").style.display = 'none';
                }
                
                chart1.addAxis("x", {
                    labels: [{value: 1, text: aray[0]}, {value: 2, text: aray[1]},
                            {value: 3, text: aray[2]},{value: 4, text: aray[3]},{value: 5, text: aray[4]},{value: 6, text: aray[5]},{value: 7, text: aray[6]},{value: 8, text: aray[7]},{value: 9, text: aray[8]}]
                    });

                chart1.addAxis("y", {
                    vertical: true
                });
                var chinese = <?php echo $this->chinese;?>;
                var white = <?php echo $this->white;?>;
                var black = <?php echo $this->black;?>;
            	var others = <?php echo $this->others;?>; 
            	chart1.addSeries("Series 1", [chinese,white,black,others,0]);
				var five=<?php echo $this->countvalue;?>;
            	if(five>4)    
            	{         
            	var others1 = <?php echo $this->others1;?>;    
            	var others2 = <?php echo $this->others2;?>;
            	chart1.addSeries("Series 1", [chinese,white,black,others,others1,others2,0]);
            	} 

            	if(five>6)
            	{
            	var others3 = <?php echo $this->others3;?>; 
            	var others4 = <?php echo $this->others4;?>; 
            	var others5 = <?php echo $this->others5;?>;
            	chart1.addSeries("Series 1", [chinese,white,black,others,others1,others2,others3,others4,others5,0]);
            	 
            	}
                chart1.render();
            };
            dojo.addOnLoad(makeCharts);
        </script>
    </head>   
     <body class="claro">
       <Form action="" method="POST">
        
        
            <table border="1" width="50%"> 
                   <tr>
                       <th></th>
                       <th>Total</th>
                       <th>Chinese</th>
                       <th>White</th>
                       <th>Black</th>
                   </tr>
                   <tr>
                        <td>Number of Students</td>
                       <td><?php echo $this->total?></td>
                        <td><?php echo $this->chinese?></td>
                        <td><?php echo $this->white?></td>
                        <td><?php echo $this->black?></td>
                   </tr>
                   
               </table>     
            <table><tr>                        
               <input type="hidden" value="<?php echo $this->Batch;?>" id="batchprint" name="batchprint">
               <input type="hidden" value="<?php echo $this->Chart;?>" id="batchChart" name="batchChart">
              
              </td>
              <td align="left">
              <?php $var = $this->countvalue;?>
               <?php if($var>6){?>
                  <div id="simplechart" style="width:700px; height: 150px; margin: 5px auto 0px auto;" align="Center"></div>
                  <?php }?>
                  
                   <div id="simplechart" style="width:400px; height: 150px; margin: 5px auto 0px auto;" align="Center"></div>
                 
                  <div id="chartTwo" style="width: 300px; height: 300px;"></div>
                  <div id="legendTwo"></div>
               </td>
           </tr>
           </table>                       	           
        <!-- NOTE: the following script tag is not intended for usage in real
        world!! it is part of the CodeGlass and you should just remove it when
        you use the code -->
        <script type="text/javascript">
            dojo.addOnLoad(function() {
                if (document.pub) {
                    document.pub();
                }
            });

            
        </script>
        </Form>
    </body>
</html>