<head>
<script type="text/javascript">
dojo.addOnLoad(function(){
	fnhidetext();
	});
function fnshowtext()
{
	 Student = dojo.byId('show');
     dojo.style(Student,'display','block');	
}
function fnhidetext()
{
	 Student = dojo.byId('show');
     dojo.style(Student,'display','none');
}


function checkAll(){
 	nodes = dojo.query('[name=\"idcenter[]\"]');
 	if(document.getElementById('centerid').checked == true) {		 
 		
 		dojo.forEach(nodes,
 		    function(node)
 		    {
 		        dijit.getEnclosingWidget(node).set("checked",true);
 		    }
 		);
 	}
 	else {	
 		dojo.forEach(nodes,
 			    function(node)
 			    {
 			        dijit.getEnclosingWidget(node).set("checked",false);
 			    }
 			);
 	}
 }
 
function newsessionlists()
{

	   iddate = dijit.byId("Date");
	   if(iddate !='')
	   {
		var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/examination/autovenue/getsessions/iddate/"+iddate,
			handleAs:'text',
			load:function(data){
				alert(data);
			if(data=='0')
				{
					alert("There is no scheduler for this date Please change the Date");
					dijit.byId("Date").set('value',null);
				}
			if(data=='2')
			{
				alert("The Chrone job for this date has already been set please change the Date");
				
			}
			
	      }
		}
	    dojo.xhrGet(xhrArgs);
	}   
}

function fnshowdate(idtype)
{
	if(idtype=='1')
	{
		document.getElementById('exam').style.display="";
		document.getElementById('examfrom').style.display="";
		document.getElementById('schedulerfromlabel').style.display="none";
		document.getElementById('schedulerfromid').style.display="none";
		document.getElementById('shedulertolabel').style.display="none";
		document.getElementById('shedulertolabelid').style.display="none";
		document.getElementById('question').style.display="none";
	}
	if(idtype=='2')
	{
		document.getElementById('exam').style.display="none";
		document.getElementById('examfrom').style.display="none";
		document.getElementById('schedulerfromlabel').style.display="none";
		document.getElementById('schedulerfromid').style.display="none";
		document.getElementById('shedulertolabel').style.display="none";
		document.getElementById('shedulertolabelid').style.display="none";
		document.getElementById('question').style.display="";
	}
	if(idtype=='3')
	{
		document.getElementById('exam').style.display="none";
		document.getElementById('examfrom').style.display="none";
		document.getElementById('schedulerfromlabel').style.display="";
		document.getElementById('schedulerfromid').style.display="";
		document.getElementById('shedulertolabel').style.display="";
		document.getElementById('shedulertolabelid').style.display="";
		document.getElementById('question').style.display="none";
	}
}
</script>
</head>
<body class='claro' onload="fnshowdate(<?php echo $this->typeid;?>)">
	 <form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm" >
<script type="dojo/method" event="onSubmit">
                              if (this.validate()) {
					  return true;
                } else {
                    return false;
                }
				</script>
<fieldset>
	<legend><?php echo $this->translate("Local Server Dashboard");?></legend>

 			
		<table width="100%" >

              <tr>
                 <td align="left">On <?php echo date('F j, Y g:i a');?></td>
              </tr>
				<tr>
				 <td colspan="4" align="center">
				 	<?php echo $this->lobjdashboardForm->Search;?>
				 	</td>
               </tr>
		</table>

	</fieldset> 



	<fieldset>
	
		
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
		
	    	<tr>
				<th><!--<input type="checkbox" dojoType="dijit.form.CheckBox" name="centerid" onClick="checkAll();" id="centerid">
	    	     --><?php echo $this->translate("Exam Venue")?></th>
	    	    <th>Status</th>
	        	
	    	</tr>
	        <?php if (count($this->centers)): $cnnt=0;?>

	             <?php foreach ($this->centers as $lobcentreslist):?>
	             
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	
	      
	      
	      <?php $larrvenuequestions = new Examination_Model_Dashboard();
		       
	        	   		$larresultvenuequestions = $larrvenuequestions->fncheckstatusclient($lobcentreslist['idcenter']);
	        	   		
	        	   		
	        	   		print_R($larresultvenuequestions);
	        	   		?>
	        	   	
	        	    <td>
	        	    
	        	    
	        	    <!--<input type="checkbox" dojoType="dijit.form.CheckBox" name="idcenter[]" value="<?php echo $this->escape($lobcentreslist['idcenter']);?>" id="idcenter<?php echo $cnnt;?>">
	        	   
	             --><?php print_r($this->escape($lobcentreslist['centername']));?></td>
        	   		
	        	  
	        	   	
	        	<td><?php if($larresultvenuequestions==1){ ?>
	        	<input type="button" style="background-color:Green"name="present">
	        	<?php } else if($larresultvenuequestions==0){?>
	        		<input type="button" style="background-color:Red"name="present">
	        	<?php }?>
	        	
	        	</td>
	        		
	              <?php  $cnnt++; endforeach; ?>
	                  
	            <?php endif; ?> 
			</tr>

           <tr>
           <td align="right">	 <input type="submit" dojotype="dijit.form.Button" id="Approve" name="Approve" value="Approve" label="<?php echo $this->translate("Add to Chrone");?>"/></td>
           </tr>


				
		</table>
		
	</fieldset>

		</form>
</body>
