<head>
<script type="text/javascript">

function fngetgradevalues(ids)
{
//alert(ids);
if(ids!='')
{



		var xhrArgs1 = {
				url: "<?php echo $this->baseUrl();?>"+"/general-setup/programmaster/showgrades/idgrade/"+ids,
				handleAs:'text',
				load:function(data){ 
					if(data)
					{
	    			//	dijit.byId("newremainingseats").set('value',data);
						document.getElementById('divLogin').style.display = 'block';
					document.getElementById('divLogin2').style.display = 'block';
				 	document.getElementById('contentdiv').innerHTML = data;
					}	
				}
		   }
		dojo.xhrGet(xhrArgs1);

		
		
	
}
}


function Closefn()
{	
	document.getElementById('divLogin').style.display = 'none';
	document.getElementById('divLogin2').style.display = 'none';
	dijit.byId("Coursename1").set('value',null);
}

</script>

</head>

<fieldset>
    <legend><?php echo $this->translate("$this->Course");?></legend>
    
                <Form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">
                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>
                    <table class="table" width="100%" >
                        <tr>
                            <th colspan = "4"><?php echo $this->translate("$this->Course").' '.$this->translate("Details");?></th>
                        </tr>
                        <tr>
                            <td ><?php echo $this->translate("$this->Course").' '.$this->translate("Name");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjcoursemasterForm->ProgramName;?>
                            	<?php echo $this->lobjcoursemasterForm->UpdDate;?>
                            	<?php echo $this->lobjcoursemasterForm->UpdUser;?></td>
                            <td ><?php echo $this->translate("$this->Course").' '.$this->translate("Code");?><span class="reqMark">*</span></td>
                            <td  ><?php echo $this->lobjcoursemasterForm->ProgramCode;?></td>
                            
                        </tr>
                         <tr> 
                        	<td ><?php echo $this->translate("Description")?><span class="reqMark"></span></td>
                            <td  ><?php echo $this->lobjcoursemasterForm->Description;?></td>
                            <td><?php echo $this->translate("Pre-Requisite");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjcoursemasterForm->PreRequesition;?></td>
                           
                        </tr>
                         <tr> 
                        	    <td><?php echo $this->translate("$this->Program");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjcoursemasterForm->idprog;?></td>
                            <td><?php echo $this->translate("Active");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjcoursemasterForm->Active;?></td>
                        </tr>
                        <tr>
                        <td><?php echo $this->translate("Mark(s) for each question");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjcoursemasterForm->Marks;?></td>
                    <td><?php echo $this->translate("Grade Set");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjcoursemasterForm->Idgradeset;?></td>
                       
                        </tr>
               			<tr>
                            <td colspan=4 align = "right"><?php echo $this->lobjcoursemasterForm->Save;?>
							<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'general-setup','controller'=>'programmaster', 'action'=>'index'),'default',true);?>';" />	
                            </td> 
                               
                        </tr>           
                        
              </table>
            
            </Form>
		<div runat="server" id="divLogin"  style="display:none; z-index: 153; position: absolute; left: 30%; width: 650px; top: 15%;">
					                <asp:Panel runat="server" ID="popupLogin">
					                    <asp:Panel runat="server" ID="popupContent1">
					                        <table style="height: 125px; width: 100%; background-color: #FFFFFF;" border="3"   frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">
					                                    	<div id="contentdiv"></div>
					                                      
					                                   </td>
					                                </tr>
					                                <tr>
					                                    <td colspan="2" align="left">
					                                        <asp:Label ID="lblmandatory" runat="server" Text="* Mandatory Information Required"
					                                            class="LeftLabelStyle" Width="350px" />
					                                    </td>
					                                </tr>
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
					            </div>
				<div runat="server" id="divLogin2"  style="display:none; opacity:0.4; z-index: 150; position: absolute; left: 0%; height: 100%; width: 100%; top: 0%;">
					                <asp:Panel >
					                    <asp:Panel  >
					                        <table style="height: 100%; width: 100%; background-color: #000000;" border="3"   frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">
					                                    	
					                                      
					                                   </td>
					                                </tr>
					                               
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
					            </div>
					                    
					                    

</fieldset>
