
<head>
<script>
dojo.addOnLoad(function(){
	//dijit.byId('field3').focus();
	 // dijit.byId('field21').set('value','');
	  dijit.byId('field21').set('placeHolder','dd-mm-yyyy');	
	});

function checkAll(){
 	nodes = dojo.query('[name=\"IDApp[]\"]');
 	if(document.getElementById('IDApp').checked == true) {		 
 		
 		dojo.forEach(nodes,
 		    function(node)
 		    {
 		        dijit.getEnclosingWidget(node).set("checked",true);
 		    }
 		);
 	}
 	else {	
 		dojo.forEach(nodes,
 			    function(node)
 			    {
 			        dijit.getEnclosingWidget(node).set("checked",false);
 			    }
 			);
 	}
 }
 
function fnGetProgramName(dates){ 
	//alert(dates.value);
	dates = dates.toString(); 
	//alert(dates);
	if(dates != "")
	{ 
		var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/regidapproval/getprogramlist/dates/"+dates,
				handleAs:'json',
				load:function(data){ 
					//alert(data);
					//exit;
					AutoFillNextEditableDropDown("field5",data); 
				}
		   }
		dojo.xhrGet(xhrArgs); 
	} 
	
	} 
function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}
	
function validateform(){
	 var n = <?php echo $this->countcomp;?>;
	 //alert(n);
	 flgs = 0;	 
	 for(i=1;i<=n;i++){
		 
		if(document.getElementById("IDApp"+i).checked) 
			flgs	=	1;
		
	 }		
	 if( flgs == 0){
	    alert('Please Select Atleast One Student');		
	     return false;
	 }
	 else{
	   return true;
	 }
} 

</script>
</head>
<form dojoType="dijit.form.Form"  id="initconfigForm" name="form1" method="post" action="<?php echo $this->baseUrl();?>/regidapproval/index/search/1">
<fieldset>
<legend><?php echo $this->translate->_("Verification of candidate by the venue admin");?></legend>
	    	<table    width="100%">	    		
      			<tr>
      			
         			<td class="label"><?php echo $this->translate->_("Candidate Name")?></td>
        			<td><?php echo $this->lobjform->field3?></td>
        			<td class="label"><?php echo $this->translate->_("IC no")?></td>
        			<td><?php echo $this->lobjform->field4?></td>	
        		</tr>
        		<tr>
        			<td class="label"><?php echo $this->translate->_("Exam Date(DD-MM-YYYY)")?></td>
        			<td><?php echo $this->lobjform->field21?></td>
        			<td class="label"><?php echo $this->translate->_("Program Name")?></td>
        			<td><?php echo $this->lobjform->field5?></td>	 
        				        	
      			</tr>		   
		      	  <tr>
	               <td align = "center" colspan = "4">
						<?php echo $this->lobjform->Search;?>
						<?php echo $this->lobjform->Clear;?>
				   </td>
				   </tr>      	
	        </table>	
	      

</fieldset>

<fieldset>
 
  	<table class="table" width="100%" cellpadding="5" cellspacing="1">
		
    		<tr>
    		    <th><input type="checkbox" dojoType="dijit.form.CheckBox" name="IDApp" onClick="checkAll();" id="IDApp"></th>
				<th><?php echo $this->translate->_("Candidate Name");?></th>				
			    <th><?php echo $this->translate->_("IC no"); ?></th>
			     <th><?php echo $this->translate->_("Course"); ?></th>
			 <th><?php echo $this->translate->_("Registration Date"); ?></th>
								
    		</tr>
    	
    	<?php  if (count($this->studentdetails)):  $cnnt = 0; ?>    	
          	            
            <?php   foreach ($this->studentdetails as $lobjcategory ): $cnnt++ ?>
            <tr>  
             <td><input type="checkbox" dojoType="dijit.form.CheckBox" name="IDApp[]" value="<?php echo $this->escape($lobjcategory['IDApplication']);?>" id="IDApp<?php echo $cnnt;?>"></td>
          		<td><?php  echo $lobjcategory['FName'];?></td>
          		<td><?php  echo $lobjcategory['ICNO'];?></td>
          		<td><?php  echo $lobjcategory['ProgramName'];?></td>
		       <td><?php echo date('d-m-Y',strtotime($lobjcategory['dares']));?></td>
          	
          		
     		</tr>
     		<?php  endforeach; ?>
     		 <?php  endif; ?>
     		
     		<td colspan="8" align="right">  
            <input type="submit" class="NormalBtn" dojotype="dijit.form.Button" id="Approve" name="Approve" value="Approve" label="<?php echo $this->translate("Approve");?>" onClick="return validateform();"/>
		
		   
			<div class="pagination">
				<?php //echo $this->paginationControl($this->paginator,'Sliding','/partials/my_pagination_control.phtml'); ?>
			</div>																   
		</td>
      </table>
      </form>
   </fieldset> 
   
   </html>
