<html>
<head>
<script>
dojo.addOnLoad(function(){
	});
	
</script>
</head>
<body class='claro'>
<fieldset>
	<legend><?php echo $this->translate("Migspayment").' '.$this->translate("Details");?></legend>
	<div class="search" style="margin-left:20px;">
 		<form dojoType="dijit.form.Form"  id="myForm" action="" method="POST" > 
 		  <script type="dojo/method" event="onSubmit">
             if (this.validate()) {
					return true;
                } else {
                    return false;
                }
			</script>
		<table width="100%">				
				<tr>
                    <td><?php echo $this->translate("Payment").' '.$this->translate("From").' '.$this->translate("Date") ?></td>
                    <td><?php echo $this->lobjmigsform->Fromdate;?></td>
                    <td><?php echo $this->translate("Payment").' '.$this->translate("To").' '.$this->translate("Date") ?></td>
                    <td><?php echo $this->lobjmigsform->Todate;?></td>
                </tr>
                <tr>
                 <td></td>  
                 <td></td>             
               <td ><?php echo $this->lobjmigsform->Search;?>
					<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Clear"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'reports','controller'=>'migspaymentreport', 'action'=>'index'),'default',true);?>';" />
				</td>
               </tr>
		</table>
	</form>	
		</div>
	</fieldset> 
	<form id="myForm1" name = "myform1" action="<?php echo $this->baseUrl();?>/reports/migspaymentreport/pdfexport" method="POST">
	<br/>
	<table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr>
	    <th><?php echo $this->translate("IDApplication") ?></th>
		 <th><?php echo $this->translate("Student Name") ?></th>
		<th><?php echo $this->translate("Program") ?></th>
		<th><?php echo $this->translate("Venue") ?></th>
		<th><?php echo $this->translate("Examdate") ?></th>
		<th><?php echo $this->translate("Card Type") ?></th>  
        <th><?php echo $this->translate("Transaction Number") ?></th>
		<th><?php echo $this->translate("Payment Date") ?></th>        		
	    <th><?php echo $this->translate("Payment Status") ?></th>
    </tr>
	 <?php  if (count($this->paginator)): ?>
        <?php foreach ($this->paginator as $lobjCountry ):  ?>
    <tr>
     <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>"> 
	 <td><?php   print_r($this->escape($lobjCountry['vpc_MerchTxnRef']));?></td> 
		   <td><?php   print_r($this->escape($lobjCountry['FName']));?></td>
	 <td><?php   print_r($this->escape($lobjCountry['ProgramName']));?></td>
	 <td><?php   print_r($this->escape($lobjCountry['centername']));?></td>
	  <td><?php   print_r($this->escape($lobjCountry['Examdate']));?></td>
	      
		   <td><?php   print_r($this->escape($lobjCountry['vpc_Card']));?></td>
		   <td><?php   print_r($this->escape($lobjCountry['vpc_TransactionNo']));?></td> 
		   <td><?php   print_r($this->escape($lobjCountry['Date']));?></td>
           
		   
		   <?php if($lobjCountry['Status'] == 0){?>
		   <td><?php  echo "Success";?></td>
          <?php }else{?>
		   <td><?php  echo "Fail";?></td>			   
		   	<?php }?> 
			 <td></td><input type="hidden" name="Fromdate" id="Fromdate" value="<?php echo $this->fromdate;?>">
	      <td></td><input type="hidden" name="Todate" id="Todate" value="<?php echo $this->todate;?>">
     </tr>    
	<?php endforeach; ?>
     <?php endif; ?>  
<tr>
       <td colspan="8" align="right"><b>TOTAL :<?php echo count($this->paginator);?></b></td>
	   
       <td align="right">
	 <input name="Print1" id="Print1" type="submit" dojoType=dijit.form.Button style= "Width=900px" label="<?php echo $this->translate("Export To Excel"); ?>" value=<?php echo $this->translate("Excel");?>></td></tr>
       
    </table>
</form>
</body>
</html>
