<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="<?php echo $this->rtl;?>">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
<title></title>
<link rel="stylesheet" type="text/css"  href="<?php  echo $this->baseUrl();?>/js/themes/cupertino/jquery.ui.all.css" />
<script language='javascript' src='<?php  echo $this->baseUrl();?>/js/jquery-1.4.3.js'></script>

<script language='javascript' src='<?php  echo $this->baseUrl();?>/js/sfs-common.js'></script>
<link rel="stylesheet" type="text/css"  href="<?php  echo $this->baseUrl();?>/css/default.css" />
<link rel="stylesheet" type="text/css"  href="<?php  echo $this->baseUrl();?>/css/style2.css" />	
	


<!-- ///////////////////////// DOJO ////////////////////////// -->
<script type="text/javascript" src="<?php  echo $this->baseUrl();?>/js/dojo/dojo/dojo.js" djConfig="parseOnLoad: true,locale:'<?php echo $this->lang;?>'"></script>
<script type="text/javascript" src="<?php  echo $this->baseUrl();?>/js/dojo/dojo/nls/dojo_en-us.js"></script>
<script type="text/javascript" src="<?php  echo $this->baseUrl();?>/js/dojo/dojo/nls/dojo_ar.js"></script>
<script type="text/javascript" src="<?php  echo $this->baseUrl();?>/js/dojo/dojo/nls/dojo_en.js"></script>
<style type="text/css"> body, html { font-family:helvetica,arial,sans-serif; font-size:90%; } </style>
<link rel="stylesheet" type="text/css" href="<?php  echo $this->baseUrl();?>/js/dojo/dijit/themes/claro/claro.css" />
<link rel="stylesheet" type="text/css" href="<?php  echo $this->baseUrl();?>/js/dojo/dijit/themes/claro/document.css" />
<link rel="stylesheet" type="text/css" href="<?php  echo $this->baseUrl();?>/js/dojo/dojo/resources/dojo.css" />
<!-- ///////////////////////// DOJO ////////////////////////// -->
</head>
<body  class = "claro"> 
<fieldset>
    <legend><?php echo $this->translate->_("Course");?></legend>
        <div class="register">
            <div class="profile_tab">
                <form action="" method="POST"  name= "myform"   dojoType="dijit.form.Form">
                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
		</script>
                    <table id="hor-minimalist-b">
                        <tr>
                            <th><?php echo $this->translate->_("Course Details");?></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <?php echo $this->lobjCoursemasterForm->UpdDate;?>
                        <?php echo $this->lobjCoursemasterForm->UpdUser;?>
                        <?php echo $this->lobjCoursemasterForm->idCourse;?>
                       <tr>
                            <td class="label"><?php echo $this->translate->_("Course Name");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjCoursemasterForm->CourseName;?></td>
                             <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="label"><?php echo $this->translate->_("Course Short Name");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjCoursemasterForm->Alias;?></td>
                            <td></td>
                            <td></td>
                            
                        </tr>

                        <tr>
                        	<td class="label"><?php echo $this->translate->_("Description");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjCoursemasterForm->Description;?></td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>                         	
                            <td class="label"><?php echo $this->translate->_("Active");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjCoursemasterForm->Active;?></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>	
                        		<td></td>
                        		<td></td>
                        		<td></td>
                        		
                        		<td>
                        			<a href="<?php  echo $this->baseUrl();?>/coursedetail/coursedetail/idCourse/<?php echo  $this->idCourses; ?>/lvarsave/0';"><!-- Edit Course Details--></a>
                        		</td>
                        	
                        </tr>
                </table>
                <table>
                	<tr>
                    	<td align = "right">
                    		<?php foreach($this->roles as $resultItem):?>
								     <?php if($resultItem['functionCode']=='CRMTS' && $resultItem['operationCode']=='SAVE'){?>
			                            <?php echo $this->lobjCoursemasterForm->Save;?>
									 <?php }?>
	                        <?php endforeach;?>
                            <?php echo $this->lobjCoursemasterForm->Close;?>	                            
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</fieldset>
</body>
</html>