<fieldset>
    <legend><?php echo $this->translate("Takaful").' '.$this->translate("Operator").' '.$this->translate("search");?></legend>
                    <form action="<?php echo $this->baseUrl();?>/general-setup/takafuloperator/index/search/1" method="POST">
                            <table width="100%">
                                <tr>
                                    <td><?php echo $this->translate("Takaful").' '.$this->translate("Operator").' '.$this->translate("Name");?></td>
                                    <td><?php echo $this->lobjform->field3;?></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                               
                                <td align = "center" colspan = "4">

											<?php echo $this->lobjform->Search;?>
											<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Add"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'general-setup','controller'=>'takafuloperator', 'action'=>'newtakafuloperator'),'default',true);?>';" />	
											<?php echo $this->lobjform->Clear;?>
								</td>
							    
                                </tr>
                        </table>
                    </form>	
    </fieldset> 
    <br/>
	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
	    	<tr>
	        	<th><?php echo $this->translate("Takaful").' '.$this->translate("Operator").' '.$this->translate("Name");?></th>
	        	<th><?php echo $this->translate("Takaful").' '.$this->translate("Operator").' '.$this->translate("Short").' '.$this->translate("Name");?></th>
	        	<th><?php echo $this->translate("Address");?></th>
	        	<th><?php echo $this->translate("Register").' '.$this->translate("For").' '.$this->translate("Pay").' '.$this->translate("later");?></th>
	    	</tr>
	        <?php if (count($this->paginator)): ?>
	        <?php foreach ($this->paginator as $lobjprogram): ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	<td><a href="<?php echo $this->baseUrl();?>/general-setup/takafuloperator/edittakafuloperator/id/<?php echo $this->escape($lobjprogram['idtakafuloperator']);?>" ><?php print_r($this->escape($lobjprogram['TakafulName']));?></a></td>
	        	<td><?php print_r($this->escape($lobjprogram['TakafulShortName']));?></td>
	        	<td><?php print_r($this->escape($lobjprogram['paddr1']));?></td>
	        	<?php if($lobjprogram['paymenttype']==181){ ?>
	        	<td><?php echo "yes";?></td>
	        	<?php }else{?>
	        	<td><?php echo "no";?></td>
	        	<?php }?>
	            <?php endforeach; ?>
	            <?php endif; ?> 
			</tr>
			<tr>
	        	<td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>
		</table>
	</fieldset>