<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>	
	<script type="text/javascript">
		function ExportReport(){
		
			var str =<?php echo $this->datacount?>;
			dojo.byId("datacount").value=str;
			
			dojo.byId("datacounttable").value=str;
			document.reportexportform.submit();
		}		
	</script>  	
</head>
<body>
<div>
	<fieldset>
	<legend><?php echo $this->translate->_("Invoice").' '.$this->translate->_("Details").' '.$this->translate->_("Report");?></legend>
		<div style="margin-left:20px;">
 			<form action="<?php echo $this->baseUrl();?>/reports/log/pdfexport" method="POST" name="reportexportform" id="reportexportform">
 				<input type="hidden" id="checkedvalues" name="checkedvalues" value="<?php echo $this->CheckedValues?>" />
 				<input type="hidden" id="datacount" name="datacount" value="" />
 				<input type="hidden" id="datacounttable" name="datacounttable" value="" />
				<table width="100%" class="table">
				
				<tr>
					<th colspan = "2"><?php echo $this->translate->_("Select").' '.$this->translate->_("Report").' '.$this->translate->_("Type");?></th>
				</tr>
					<tr>					
						<td style="text-align:center"  class="table"><?php echo $this->translate("Select").' '.$this->translate("Your").' '.$this->translate("Report").' '.$this->translate("Type")?></td>
						<td>
							<?php echo $this->form->ReportType;?>
							<?php  echo $this->form->Export;?>
							 <input type='button' class="NormalBtn"
			dojotype="dijit.form.Button"
			label="<?php echo $this->translate('Back')?>" value='click'
			onclick="window.location.href='<?php echo $this->url(array('module'=>'reports','controller'=>'log', 'action'=>'index'),'default',true);?>';" />
						</td>    						  
					</tr>
				</table>
			</form>	
		</div>
	</fieldset> 
</div>
</br>
<fieldset>
	<div class="table" id="generated" style="height:400px;overflow:auto" >
	
			<?php echo $this->datacount;?>
	</div>	
</fieldset> 
</body>
</html>