<head>
<!-- ///////////////////////// DOJO ////////////////////////// -->
	<script type="text/javascript">
		dojo.addOnLoad(function(){
			//OnLoadAction();
			 var store = new dojo.data.ItemFileReadStore({
				 data:<?php echo $this->jsondata;?>
             });
            // alert(store);
			 var layout = [
		                    [
		                {
		                    name: '<?php  echo $this->translate->_("Date")." ".$this->translate->_("Time")?>',
		                    field: 'time',
		                    width: "auto"
		                },
		                {
		                    name: '<?php  echo $this->translate->_("Controller")." ".$this->translate->_("Name")?>',
		                    field: 'Controller',
		                    width: "auto"
		                },
						{
		                    name: '<?php  echo $this->translate->_("User")?>',
		                    field: 'user',
		                    width: "auto"
		                },
		                {
		                    name: '<?php  echo $this->translate->_("Description")?>',
		                    field: 'Description',
		                    width: "auto"
		                },
		                {
		                    name: '<?php  echo $this->translate->_("System IP")?>',
		                    field: 'FromIP',
		                    width: "auto"
		                }]];
			 var grid = new dojox.grid.EnhancedGrid({
				 id:'grid2',
                 store: store,
                 structure: layout,
                 plugins:{exporter:true,dnd:true,pagination:true}    
             }); 
			// alert(grid);
             grid.placeAt('gridDiv');            
             // Call startup() to render the grid
             grid.startup();
            var checkBoxes = [];
  			var container = dojo.byId('checkBoxContainer');
  			dojo.forEach(grid.layout.cells, function(cell, index){
  				var cb = new dijit.form.CheckBox({
  					checked: !cell.hidden
  				});
  				dojo.connect(cb, "onChange", function(newValue){
  					grid.layout.setColumnVisibility(index, newValue);
  				});
  				var label = dojo.doc.createElement('label');
  				label.innerHTML = cell.name;
  				dojo.attr(label, 'for', cb.id);
  				dojo.place(cb.domNode, container);
  				dojo.place(label, container);
  				dojo.place(dojo.doc.createElement("br"), container);
  				checkBoxes.push(cb);
  			});             
		});		 
		  function exportHTML()
			{
			  <?php if($this->checkEmpty == 0){?>
				alert("<?php echo $this->translate('Please').' '.$this->translate('Generate').' '.$this->translate('The').' '.$this->translate('Data')?>");
				return false;
				<?php  }?>
			  dijit.byId("grid2").exportGrid("table",{writerArgs:{table:"id='hor-minimalist-b'"}},function(str){				  
				  dojo.byId("datacount").value="";
				  dojo.byId("datacount").value=str;
				 	});
			  dijit.byId("grid2").exportGrid("table",{writerArgs:{table:"border=1"}},function(strtable){
				  dojo.byId("datacounttable").value="";
				  dojo.byId("datacounttable").value=strtable;
				 });
			  var formprint = document.PrintForm;
			  formprint.submit();				
			}
		  function exportSelectedHTML()
			{
			  var str = dijit.byId("grid2").exportSelected("table");
			  //alert(str);
			  dojo.byId("datacount").value="";
			  dojo.byId("datacount").value=str;
			  var formprint = document.PrintForm;
			  formprint.submit();	
			}	        		        
	</script>  
</head>
<body class='claro'>
<div>
<fieldset>
	<legend><?php echo $this->translate("Log").' '.$this->translate("Report");?></legend>
	<div class="search" style="margin-left:20px;">
 		<form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/reports/log" method="POST">
 			<script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
			</script>
		<table width="100%">
				<tr>
					<td><?php echo $this->translate("Month-Year");?><span>*</span></td>
					<td><?php echo $this->form->Monthyear;?></td>
					<td><?php echo $this->translate("Login Name");?></td>
					<td><?php echo $this->form->UserNameList;?></td>
				</tr>
				<!--<tr>
					<td><?php //echo $this->translate("From Date");?></td>
					<td><?php //echo $this->form->FromDate;?></td>
					<td><?php //echo $this->translate("To Date");?></td>
					<td><?php //echo $this->form->ToDate;?></td>
				</tr>
				--><tr>
					<td><?php echo $this->translate("Description");?></td>
					<td><?php echo $this->form->Description;?></td>
					<td><?php echo $this->translate("Contoller-Name");?></td>
					<td><?php echo $this->form->Controller1;?></td>
				</tr>
        		
				<tr>
					<td colspan="4" align="center">
					<?php echo $this->form->Generate;?>
					<input name="Print" id="Print" type="button" onClick="exportHTML()" class="NormalBtn" dojoType=dijit.form.Button label = <?php echo $this->translate("Print");?> value=<?php echo $this->translate("Print");?>>
					<input name="clear" type="button" class="NormalBtn" onClick="window.location.href='<?php echo $this->url(array('module'=>'reports','controller'=>'log', 'action'=>'index'),'default',true);?>';" ; dojoType=dijit.form.Button label = <?php echo $this->translate("Clear");?> value=<?php echo $this->translate("Clear"); ?>>
					</td>
				</tr>
		</table>
	</form>	
		</div>
	</fieldset> 
</div>
</br>
<fieldset>

<div style="width:100% ;height:400px;  float:left;" id="gridDiv"></div>
</fieldset>               
<form id="PrintForm" name="PrintForm" method="post" action="<?php echo $this->baseUrl();?>/reports/log/generatereport">
<input type="hidden" id="datacount" name="datacount" value="" />
<input type="hidden" id="datacounttable" name="datacounttable" value="" />
</form>
</body>
</html>
