<html>
	<head>
	<script>    
		dojo.addOnLoad(function(){	
			<?php      if ($this->checkEmpty == 1){ ?>
				   dijit.byId('passwd').focus();
			<?php   } if ($this->checkEmpty == 2){ ?>
				examtoDateSetting();
	              <?php   }  ?>
			}
	          	);
		
		function checkAll()
		{
 			nodes = dojo.query('[name=\"idvenuedateschedule[]\"]');
 			if(document.getElementById('idvenuedateschedule').checked == true) 
			{		 
 				dojo.forEach(nodes,
 		    		function(node)
 		    		{
 		        		dijit.getEnclosingWidget(node).set("checked",true);
 		    		}
 				);
 			}
 			else 
			{	
 				dojo.forEach(nodes,
 			    	function(node)
 			    	{
 			        	dijit.getEnclosingWidget(node).set("checked",false);
 			   	}
 				);
 			}
 		}

		/*function fncheked(idvenuedateschedule,count)
		{
			//alert(count);
			var flag=0;
	 		for(i=1;i<=count;i++)
			{
				if(document.getElementById("idvenuedateschedule"+i).checked && !document.getElementById("Active").checked)
				{
					//fncheckvalidate(idvenuedateschedule);
					flag=1;
				}
			}
			if(flag==1)
			{
				fncheckvalidate(idvenuedateschedule);
			}
		}

		function fncheckvalidate(idvenuedateschedule)
		{
			alert(idvenuedateschedule);
			var xhrArgs = {
		url: "<?php echo $this->baseUrl();?>"+"/scheduler/venuescheduler/venueschedulevalidation/idvenuedateschedule/"+idvenuedateschedule,
					handleAs:'text',
					load:function(data)
					{
						if(data!=0)
						{
							alert("This Date is already Active for particular Venue and Session");
						   	//dijit.byId('email').set('value','');
						}
					}
				       }
		          dojo.xhrGet(xhrArgs);
		}
		
		function AutoFillNextEditableDropDown(EditableDropDownId,JSONText)
		{
			dijit.byId(EditableDropDownId).setValue("");
			var ddwidget = dijit.byId(EditableDropDownId);
			ddwidget.setAttribute('disabled', false);
    			var options = 
		    		{
					label:"name",
					identifier:"key",
					items:JSONText
				};
    			ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
		}*/
		
		function examtoDateSetting()
		{ 			
			RegFromDate = dijit.byId('Date7');
			var da = new Date();
    			var date = da.getDate();
    			var month = da.getMonth()+1;
    			var year = da.getFullYear();
    			if(month<10) month = "0"+month;
    			if(date<10) date = "0"+date;
    			var nextdate = year+'-'+month +'-'+date;
    			RegFromDate.constraints = dojo.mixin(RegFromDate.constraints, {min: dojo.date.stamp.fromISOString(nextdate)});

			var RegFromDate = dijit.byId('Date7').value;
			var startDate = dijit.byId('Date8');
			var d = new Date(RegFromDate); 
			var date = d.getDate();
    			var month = d.getMonth()+1;
    			var year = d.getFullYear();
    			if(month<10) month = "0"+month;
    			if(date<10) date = "0"+date;
    			var nextdate1 = year+'-'+month +'-'+date;
			startDate.constraints = dojo.mixin(startDate.constraints, {min: dojo.date.stamp.fromISOString(nextdate1)});
		}

		function clearpageAdd() 
		{
			dijit.byId('Venue').set('value','');
			dijit.byId("Date7").set("value","00-00-00");
			dijit.byId("Date8").set("value","00-00-00");
		} 
	</script>

	</head>
	<body class="claro">
	<!-- ///////////////////// -->
		<?php   if ($this->checkEmpty == 1): ?>    
		         <form  method="POST" dojoType="dijit.form.Form"  id="Search"  name= "Search">
 				<script type="dojo/method" event="onSubmit">
                			if (this.validate()) {
					  	return true;
                			} else {
                    				return false;
                			}
				</script>
			<fieldset>
				<legend><?php echo "Enter authentication password to view this menu";?></legend>
       				<table>
      					<tr>
                   				<td colspan="3"><?php  echo "Password";?></td>
                   				<td ><?php echo $this->lobjform->passwd;?></td> 
                   				<td></td>
                   				<td></td> 
                			</tr> 
                			<tr>
                				<td colspan="3"></td>
	                			<td>
	                  			     <input name="Auth" id="Auth" type="Submit" value="Auth" class="NormalBtn" dojoType=dijit.form.Button label = <?php echo $this->translate("Auth");?>>
						</td>
					</tr>
       				</table>
       			</fieldset>
			</form>  
		<?php endif; ?>
	<!-- ///////////////////// -->	
		<?php   if ($this->checkEmpty == 2 ): ?> 
 		<!-- ************ -->	
			<fieldset>
				<legend><?php echo "Venue Scheduler Search";?></legend>
        			<form action="" method="POST" dojoType="dijit.form.Form"  id="myForm"  name= "myForm">
	            			<script type="dojo/method" event="onSubmit">
                				if (this.validate()) 
									{
					  					return true;
                					} 
								else 
									{
                    					return false;
                					}
							</script>
      				<table width="100%">
	      				<tr>
	                   			<td><?php  echo "Exam From Date";?></td>
	                   			<td><?php echo $this->lobjvenueschedulerForm->Date7;?>
								<td><?php  echo "Exam To Date";?></td>
	                   	   		<td><?php echo $this->lobjvenueschedulerForm->Date8;?></td>
						</tr> 
						<tr> 
	                   			<td><?php  echo "Venue";?></td>
	                   			<td><?php  echo $this->lobjvenueschedulerForm->Venue;?></td>
								<td colspan="2"></td>
	                  	</tr> 
	                 	<tr>
	                  			<td><?php  echo "Active";?></td>
	                			<td><?php echo $this->lobjvenueschedulerForm->Active;?></td>
								<td></td>
	                  			<td></td>
	               		</tr>   	
	                	<tr>
	                 		            
	              	 			<td align = "center" colspan = "4"><?php echo $this->lobjvenueschedulerForm->Search;?>
						<input type="Button"  onclick="clearpageAdd()" class="NormalBtn" dojoType=dijit.form.Button  		label = <?php echo $this->translate("Clear");?> value=<?php echo $this->translate("Clear");?>>
								</td>
	               		</tr>
       				</table>
				</form>
       			</fieldset>
	<!-- ************ -->	 
		
 
 	<!-- ************ -->
    
      <?php if (count($this->paginatorsss)){ $cnnt = 0;?>
       <br>
		<form dojoType="dijit.form.Form"  id="venuescheduler" name="form1" method="post" action="">
		<script type="dojo/method" event="onSubmit">
                			if (this.validate()) 
					{
						var n = <?php echo $this->countcomp; ?>;
	 					flgs = 0;	 
	 					for(i=1;i<=n;i++)
						{
		 					if(document.getElementById("idvenuedateschedule"+i).checked) 
							flgs	=	1;
		
	 					}		
	 					if( flgs == 0)
						{
	   		 				alert('Please Select Atleast One Check Box');		
	     						return false;
	 					}
	 					else
						{
	   						return true;
	 					}
                			}
		</script>
       <fieldset>       
    	<table class="table" width="100%" cellpadding="5" cellspacing="1">
    	<tr>
    		<th><?php echo $this->translate("Exam Date") ?></th>
    		<th><?php echo $this->translate("Exam Venue") ?></th>
    		<th><?php echo $this->translate("Exam Session") ?></th>
        	<th><?php echo $this->translate("Total Capacity") ?></th>
    	</tr>
        <?php foreach ($this->paginatorsss as $lobjCountry ): $cnnt++ ?>
        <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
    		<td><input type="checkbox"  dojoType="dijit.form.CheckBox" name="idvenuedateschedule[]" 
			   value="<?php echo $this->escape($lobjCountry['idvenuedateschedule']);?>" id="idvenuedateschedule<?php echo $cnnt;?>"> 
		<!--onClick="fncheked(this.value, <?php //echo $this->countcomp;?>);"-->
		<?php print_r($this->escape($lobjCountry['formatdate']));?></td>
    	 	<td><?php print_r($this->escape($lobjCountry['centername']));?></td> 
         	<td><?php print_r($this->escape($lobjCountry['managesessionname']));?></td>
        	<td><?php print_r($this->escape($lobjCountry['Totalcapacity']));?></td>
	</tr>
	<?php endforeach; ?>
   	<tr>
        	<td colspan="4" align="right">
		<?php if($this->Active){?>
		<input name="InActives"value="InActives"id="InActives" type="Submit" class="NormalBtn" dojoType=dijit.form.Button label ="InActive"/>  
		<?php } else {?>
		<input name="Actives" id="Actives" type="Submit"  value="Actives" class="NormalBtn" dojoType=dijit.form.Button label = "Active" /> 
		<?php }?>
		<input type="hidden" id="activevalue" name="activevalue" value="<?php echo $this->Activevalue; ?>"/>
        	</td>
    	</tr>
	</table>
	</fieldset> 
	</form>  
	<?php } else if($this->larrNoResult){  ?>
			<div align = "center"> <h1><b>No Data Found</b></h1></div>
 		<?php }?> 

<?php endif; ?>
<!-- ************ -->
<!-- ///////////////////// -->
</body>
</html>
