<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="<?php echo $this->rtl;?>">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
<title></title>
<link rel="stylesheet" type="text/css"  href="<?php  echo $this->baseUrl();?>/js/themes/cupertino/jquery.ui.all.css" />
<script language='javascript' src='<?php  echo $this->baseUrl();?>/js/jquery-1.4.3.js'></script>
<script type="text/javascript">
function checkAll(){
	nodes = dojo.query('[name=\"IDApplication[]\"]');
 	if(document.getElementById('checkAlls').checked == true) {		 
 		
 		dojo.forEach(nodes,
 		    function(node)
 		    {
 		        dijit.getEnclosingWidget(node).set("checked",true);
 		    }
 		);
 	}
 	else {	
 		dojo.forEach(nodes,
 			    function(node)
 			    {
 			        dijit.getEnclosingWidget(node).set("checked",false);
 			    }
 			);
 	}
 	
 }
 function fnvalidate(){ return true;
	 /*var n = <?php echo count($this->paginator);?>;
		//alert(n);
		 flgs = 0;	 
		 for(i=1;i<=n;i++){		 
		if(document.getElementById("IDApplication"+i).checked) 
				flgs	=	1;			
		 }		
		 if( flgs == 0){
		    alert('Please Select Atleast One Student');		
		     return false;
		 }
		 else{
			    //alert(i);
		   return true;
		 }*/
		 
}
 function Closefn(){
	 window.location = "<?php echo $this->baseUrl();?>/examination/venuexlupload/index";
  }
</script>
</head>
<body  class = "claro"> 
<fieldset>
    <legend><?php echo $this->translate->_("File Uploads");?></legend>
        <div class="register">
            <div class="profile_tab">
                <form action="" method="POST"  name= "myform"  dojoType="dijit.form.Form"  enctype="multipart/form-data">
                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
		</script>	
              <table id="hor-minimalist-b" width="100%">                   
                      
                        <tr>
                            <td class="label" width="10%"><?php echo $this->translate->_("Select Excel File");?><span class="reqMark"></span></td>
                            <td width="50%" ><?php echo $this->lobjUploadfilesForm->FileName;?></td>
                            <td><?php //echo $this->remspplication;?></td>
                        </tr>
                                     
                      	<tr>
                    	<td colspan="4" align = "right">                    	       		
			                 <?php echo $this->lobjUploadfilesForm->Save; ?>	                     	
			                					
                             <input type="button" name="Close" value="Close" id="Close" onClick="Closefn();" dojoType="dijit.form.Button"  label="Close"  class="buttonStyle">     
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</fieldset>
<br>

<?php $this->lobjexamreport = new Examination_Model_Examreports();
			  $this->lobjVenuexlcreation = new Examination_Model_Venuexlcreation();?>
<form dojoType="dijit.form.Form"  id="myForms" action="<?php echo $this->baseUrl();?>/examination/venuexlupload/index/data/yes/Venue/<?php echo $this->venufield;?>/dateExam/<?php echo $this->datefield;?>" method="POST">
	<fieldset>
	 <legend><?php echo $this->translate->_("Confirm Results");?></legend>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
  <tr>
        <th><?php echo $this->translate("Venue") ?></th>
        <th><?php echo $this->translate("Program") ?></th>
        <th><?php echo $this->translate("Session") ?></th>
        <th><?php echo $this->translate("Start Time") ?></th>
        <th><?php echo $this->translate("Extra Time(Min)") ?></th>
        <th><?php echo $this->translate("Close Time") ?></th>
        <th><?php echo $this->translate("Auto Close Time") ?></th>
        <th><?php echo $this->translate("Exam Date (dd-mm-yyyy)") ?></th>
        <th><?php echo $this->translate("Registered") ?></th>
        <th><?php echo $this->translate("Approved") ?></th>
        <th><?php echo $this->translate("Attended") ?></th>
        <th><?php echo $this->translate("Absent") ?></th>
        <th><?php echo $this->translate("Pass") ?></th>
        <th><?php echo $this->translate("Fail") ?></th>
    </tr>
        
       
      
   	<?php 	$centerarray = array();
		   	$registeredsum = array();
		   	$attendedApproved = array();
		   	$attendedsum = array();
		   	$absentsum = array();
		   	$passedsum = array();
		   	$failedsum = array();
   	 if (count($this->paginar)): ?>
	<?php foreach ($this->paginar as $lobjexamreport ): ?> 
    <tr>
    <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
         <td>
         	<?php if(!in_array($lobjexamreport['idcenter'],$centerarray)){
				$centerarray[] = $lobjexamreport['idcenter'];		
				$centerarrays[$lobjexamreport['idcenter']] = array();
				print_r($this->escape($lobjexamreport['centername']));
			}?>
		 </td>
         <td>
			<?php if(!in_array($lobjexamreport['ProgramName'],$centerarrays[$lobjexamreport['idcenter']])){
					$centerarrays[$lobjexamreport['idcenter']][] = $lobjexamreport['ProgramName'];
					$centerarrayss[$lobjexamreport['idcenter']][$lobjexamreport['IdProgrammaster']] = array();;								
					 print_r($this->escape($lobjexamreport['ProgramName']));
			}?>
		 </td>
         <td>
			<?php if(!in_array($lobjexamreport['managesessionname'],$centerarrayss[$lobjexamreport['idcenter']][$lobjexamreport['IdProgrammaster']])){
					$centerarrayss[$lobjexamreport['idcenter']][$lobjexamreport['IdProgrammaster']][] = $lobjexamreport['managesessionname'];								
					print_r($this->escape($lobjexamreport['managesessionname']));
			}?>
         </td> 
         
         <?php if($lobjexamreport['ExamStartTime'] == "" || $lobjexamreport['ExamStartTime'] == NULL) { ?>
         	<td>00:00:00</td>
         <?php } else {?>
         <td>
			<?php if(!in_array($lobjexamreport['ExamStartTime'],$centerarrayss[$lobjexamreport['idcenter']][$lobjexamreport['IdProgrammaster']])){
					$centerarrayss[$lobjexamreport['idcenter']][$lobjexamreport['IdProgrammaster']][] = $lobjexamreport['ExamStartTime'];								
					print_r($this->escape($lobjexamreport['ExamStartTime']));
			}?>
		</td>
		<?php } ?>
		
		
        <?php $larrresultextratime = $this->lobjexamreport->fnGetExtratime($lobjexamreport['idcenter'],$lobjexamreport['idmangesession'],$lobjexamreport['exdate']);?>
		<?php if(!empty($larrresultextratime)) { ?>
			<td><?php echo $larrresultextratime['Gracetime'];?></td>
		<?php } else { ?>	
			<td>0</td>
		<?php }?>	


         <?php if($lobjexamreport['CloseTime'] == "" || $lobjexamreport['CloseTime'] == NULL) { ?>
         	<td>00:00:00</td>
         <?php } else {?>	
         <td>
			<?php if(!in_array($lobjexamreport['CloseTime'],$centerarrayss[$lobjexamreport['idcenter']][$lobjexamreport['IdProgrammaster']])){
					$centerarrayss[$lobjexamreport['idcenter']][$lobjexamreport['IdProgrammaster']][] = $lobjexamreport['CloseTime'];								
					print_r($this->escape($lobjexamreport['CloseTime']));
			}?>
		</td>
		<?php }?>
		
		
         <?php if($lobjexamreport['AutoSubmitCloseTime'] == "" || $lobjexamreport['AutoSubmitCloseTime'] == NULL) { ?>
         	<td>00:00:00</td>
         <?php } else {?>	
         <td>
			<?php if(!in_array($lobjexamreport['AutoSubmitCloseTime'],$centerarrayss[$lobjexamreport['idcenter']][$lobjexamreport['IdProgrammaster']])){
					$centerarrayss[$lobjexamreport['idcenter']][$lobjexamreport['IdProgrammaster']][] = $lobjexamreport['AutoSubmitCloseTime'];								
					print_r($this->escape($lobjexamreport['AutoSubmitCloseTime']));
			}?>
		</td>
		<?php } ?>

         <td><?php print_r($this->escape($lobjexamreport['ExamDate']));?></td>
         
         <td><?php print_r($this->escape($lobjexamreport['Registered']));?></td>
         <?php $registeredsum[] = $this->escape($lobjexamreport['Registered']);?>
         
         <?php $larrresultApprovedStudents = $this->lobjVenuexlcreation->fnGetCountOfTempApprovedStudents($lobjexamreport['idcenter'],$lobjexamreport['IdProgrammaster'],$lobjexamreport['idmangesession'],$lobjexamreport['exdate']);?>
         <?php if(count($larrresultApprovedStudents) == '0') { ?>
         <td><?php echo $lobjexamreport['Registered'];//count($larrresultApprovedStudents);?></td>	
         <?php } else { ?>	
         <td><?php echo $lobjexamreport['Registered'];// count($larrresultApprovedStudents);?></td>
         <?php } ?>
         <?php $attendedApproved[] = $lobjexamreport['Registered'];//count($larrresultApprovedStudents);?>
          
         <?php $larrresultattended = $this->lobjVenuexlcreation->fnGetCountOfTempStudentsAttended($lobjexamreport['idcenter'],$lobjexamreport['IdProgrammaster'],$lobjexamreport['idmangesession'],$lobjexamreport['exdate'],'3');?>
         <?php if(count($larrresultattended) == '0') { ?>
         <td><?php echo count($larrresultattended);?></td>	
         <?php } else { ?>	
         <td><?php echo count($larrresultattended);?></td>
         <?php } ?>
         <?php $attendedsum[] = count($larrresultattended);?>
          
          <?php if(($lobjexamreport['Registered'] - count($larrresultattended)) == '0' ) {?>
          <td><?php echo ($lobjexamreport['Registered'] - count($larrresultattended));?></td>
         <?php } else { ?>	
         <td><?php echo ($lobjexamreport['Registered'] - count($larrresultattended));?></td>
         <?php } ?>
         <?php $absentsum[] = $lobjexamreport['Registered'] - count($larrresultattended);?>
         
         <?php $passresult = $this->passresult; $larrresultpass = $passresult[$lobjexamreport['IdProgrammaster']]['pass']; // $larrresultpass = $this->lobjVenuexlcreation->fnGetCountOfTempStudents($lobjexamreport['idcenter'],$lobjexamreport['IdProgrammaster'],$lobjexamreport['idmangesession'],$lobjexamreport['exdate'],'1');?>
         
         <td><?php if($larrresultpass) echo $larrresultpass;else echo 0;// count($larrresultpass);?></td>
         
         <?php $passedsum[] = $larrresultpass;//count($larrresultpass);?>
         
         <?php $larrresultfail = $passresult[$lobjexamreport['IdProgrammaster']]['failed'];//$larrresultfail = $this->lobjVenuexlcreation->fnGetCountOfTempStudents($lobjexamreport['idcenter'],$lobjexamreport['IdProgrammaster'],$lobjexamreport['idmangesession'],$lobjexamreport['exdate'],'2');?>
         
         <td><?php if($larrresultfail)echo $larrresultfail; else echo 0;//count($larrresultfail);?></td>
        
         <?php $failedsum[] = $larrresultfail;//count($larrresultfail);?>    
    </tr>
      <?php endforeach; ?>
	   <?php endif; ?> 
	   
	   
	 <tr>
	 <td colspan="7" align="center"></td>
	  <td align="center"><b><?php echo $this->translate("Total") ?></b></td>
	  <td><b><?php echo array_sum($registeredsum);?></b></td>
	  <td><b><?php echo array_sum($attendedApproved);?></b></td>
	  <td><b><?php echo array_sum($attendedsum);?></b></td>
	  <td><b><?php echo array_sum($absentsum);?></b></td>
	  <td><b><?php echo array_sum($passedsum);?></b></td>
	  <td><b><?php echo array_sum($failedsum);?></b></td>
   	</tr>

 <?php if (count($this->paginar)): ?>
			<tr>
	        	<td colspan="14" align="right"><input type="submit" dojoType="dijit.form.Button" name="Confirm" value="Confirm" label="Confirm" onClick = "return fnvalidate();"></td>
   			</tr>
   			<?php endif; ?> 
		</table>
	</fieldset>
	</form>
	<br>
	<fieldset>
	 <legend><?php echo $this->translate->_("Confirmed Results");?></legend>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
	    	
    <tr>
        <th><?php echo $this->translate("Venue") ?></th>
        <th><?php echo $this->translate("Program") ?></th>
        <th><?php echo $this->translate("Session") ?></th>
        <th><?php echo $this->translate("Start Time") ?></th>
        <th><?php echo $this->translate("Extra Time(Min)") ?></th>
        <th><?php echo $this->translate("Close Time") ?></th>
        <th><?php echo $this->translate("Auto Close Time") ?></th>
        <th><?php echo $this->translate("Exam Date (dd-mm-yyyy)") ?></th>
        <th><?php echo $this->translate("Registered") ?></th>
        <th><?php echo $this->translate("Approved") ?></th>
        <th><?php echo $this->translate("Attended") ?></th>
        <th><?php echo $this->translate("Absent") ?></th>
        <th><?php echo $this->translate("Pass") ?></th>
        <th><?php echo $this->translate("Fail") ?></th>
    </tr>
        
       
      
   	<?php 	$centerarray 	= array();
   			$registeredsum  = array();
   			$attendedApproved = array();
   			$attendedsum 	= array();
   			$absentsum 		= array();
   			$passedsum 		= array();
   			$failedsum 		= array();
   	if (count($this->paginar1)): ?>
	<?php foreach ($this->paginar1 as $lobjexamreport ): ?> 
    <tr>
    <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
         <td>
         	<?php if(!in_array($lobjexamreport['idcenter'],$centerarray)){
				$centerarray[] = $lobjexamreport['idcenter'];		
				$centerarrays[$lobjexamreport['idcenter']] = array();
				print_r($this->escape($lobjexamreport['centername']));
			}?>
		 </td>
         <td>
			<?php if(!in_array($lobjexamreport['ProgramName'],$centerarrays[$lobjexamreport['idcenter']])){
					$centerarrays[$lobjexamreport['idcenter']][] = $lobjexamreport['ProgramName'];
					$centerarrayss[$lobjexamreport['idcenter']][$lobjexamreport['IdProgrammaster']] = array();;								
					 print_r($this->escape($lobjexamreport['ProgramName']));
			}?>
		 </td>
         <td>
			<?php if(!in_array($lobjexamreport['managesessionname'],$centerarrayss[$lobjexamreport['idcenter']][$lobjexamreport['IdProgrammaster']])){
					$centerarrayss[$lobjexamreport['idcenter']][$lobjexamreport['IdProgrammaster']][] = $lobjexamreport['managesessionname'];								
					print_r($this->escape($lobjexamreport['managesessionname']));
			}?>
         </td> 
         
         <?php if($lobjexamreport['ExamStartTime'] == "" || $lobjexamreport['ExamStartTime'] == NULL) { ?>
         	<td>00:00:00</td>
         <?php } else {?>
         <td>
			<?php if(!in_array($lobjexamreport['ExamStartTime'],$centerarrayss[$lobjexamreport['idcenter']][$lobjexamreport['IdProgrammaster']])){
					$centerarrayss[$lobjexamreport['idcenter']][$lobjexamreport['IdProgrammaster']][] = $lobjexamreport['ExamStartTime'];								
					print_r($this->escape($lobjexamreport['ExamStartTime']));
			}?>
		</td>
		<?php } ?>
		
		
        <?php $larrresultextratime = $this->lobjexamreport->fnGetExtratime($lobjexamreport['idcenter'],$lobjexamreport['idmangesession'],$lobjexamreport['exdate']);?>
		<?php if(!empty($larrresultextratime)) { ?>
			<td><?php echo $larrresultextratime['Gracetime'];?></td>
		<?php } else { ?>	
			<td>0</td>
		<?php }?>	


         <?php if($lobjexamreport['CloseTime'] == "" || $lobjexamreport['CloseTime'] == NULL) { ?>
         	<td>00:00:00</td>
         <?php } else {?>	
         <td>
			<?php if(!in_array($lobjexamreport['CloseTime'],$centerarrayss[$lobjexamreport['idcenter']][$lobjexamreport['IdProgrammaster']])){
					$centerarrayss[$lobjexamreport['idcenter']][$lobjexamreport['IdProgrammaster']][] = $lobjexamreport['CloseTime'];								
					print_r($this->escape($lobjexamreport['CloseTime']));
			}?>
		</td>
		<?php }?>
		
		
         <?php if($lobjexamreport['AutoSubmitCloseTime'] == "" || $lobjexamreport['AutoSubmitCloseTime'] == NULL) { ?>
         	<td>00:00:00</td>
         <?php } else {?>	
         <td>
			<?php if(!in_array($lobjexamreport['AutoSubmitCloseTime'],$centerarrayss[$lobjexamreport['idcenter']][$lobjexamreport['IdProgrammaster']])){
					$centerarrayss[$lobjexamreport['idcenter']][$lobjexamreport['IdProgrammaster']][] = $lobjexamreport['AutoSubmitCloseTime'];								
					print_r($this->escape($lobjexamreport['AutoSubmitCloseTime']));
			}?>
		</td>
		<?php } ?>

         <td><?php print_r($this->escape($lobjexamreport['ExamDate']));?></td>
         
         <td><?php print_r($this->escape($lobjexamreport['Registered']));?></td>
         <?php $registeredsum[] = $this->escape($lobjexamreport['Registered']);?>
         
         <?php $larrresultApprovedStudents = $this->lobjexamreport->fnGetCountOfApprovedStudents($lobjexamreport['idcenter'],$lobjexamreport['IdProgrammaster'],$lobjexamreport['idmangesession'],$lobjexamreport['exdate']);?>
         <?php if(count($larrresultApprovedStudents) == '0') { ?>
         <td><?php echo count($larrresultApprovedStudents);?></td>	
         <?php } else { ?>	
         <td><?php echo $lobjexamreport['Registered'];//count($larrresultApprovedStudents);?></td>
         <?php } ?>
         <?php $attendedApproved[] = $lobjexamreport['Registered'];//count($larrresultApprovedStudents);?>
          
         <?php $larrresultattended = $this->lobjexamreport->fnGetCountOfStudentsAttended($lobjexamreport['idcenter'],$lobjexamreport['IdProgrammaster'],$lobjexamreport['idmangesession'],$lobjexamreport['exdate'],'3');?>
         <?php if(count($larrresultattended) == '0') { ?>
         <td><?php echo count($larrresultattended);?></td>	
         <?php } else { ?>	
         <td><?php echo count($larrresultattended);?></td>
         <?php } ?>
         <?php $attendedsum[] = count($larrresultattended);?>
          
          <?php if(($lobjexamreport['Registered'] - count($larrresultattended)) == '0' ) {?>
          <td><?php echo ($lobjexamreport['Registered'] - count($larrresultattended));?></td>
         <?php } else { ?>	
         <td><?php echo ($lobjexamreport['Registered'] - count($larrresultattended));?></td>
         <?php } ?>
         <?php $absentsum[] = $lobjexamreport['Registered'] - count($larrresultattended);?>
         
         <?php $larrresultpass = $this->lobjexamreport->fnGetCountOfStudents($lobjexamreport['idcenter'],$lobjexamreport['IdProgrammaster'],$lobjexamreport['idmangesession'],$lobjexamreport['exdate'],'1');?>
         <?php if(count($larrresultpass) == '0') { ?>
         <td><?php echo count($larrresultpass);?></td>
         <?php } else {?>	
         <td><?php echo count($larrresultpass);?></td>
         <?php } ?>	
         <?php $passedsum[] = count($larrresultpass);?>
         
         <?php $larrresultfail = $this->lobjexamreport->fnGetCountOfStudents($lobjexamreport['idcenter'],$lobjexamreport['IdProgrammaster'],$lobjexamreport['idmangesession'],$lobjexamreport['exdate'],'2');?>
         <?php if(count($larrresultfail) == '0') { ?>
         <td><?php echo count($larrresultfail);?></td>
         <?php } else {?>	
         <td><?php echo count($larrresultfail);?></td>
         <?php } ?>
         <?php $failedsum[] = count($larrresultfail);?>    
    </tr>
      <?php endforeach; ?>
	   <?php endif; ?> 
	   
	   
	 <tr>
	 <td colspan="7" align="center"></td>
	  <td align="center"><b><?php echo $this->translate("Total") ?></b></td>
	  <td><b><?php echo array_sum($registeredsum);?></b></td>
	  <td><b><?php echo array_sum($attendedApproved);?></b></td>
	  <td><b><?php echo array_sum($attendedsum);?></b></td>
	  <td><b><?php echo array_sum($absentsum);?></b></td>
	  <td><b><?php echo array_sum($passedsum);?></b></td>
	  <td><b><?php echo array_sum($failedsum);?></b></td>
   	</tr>
	 
		
		</table>
	</fieldset>
</body>
</html>