<head>
	  <script type="text/javascript">
			dojo.addOnLoad(function() 
				{
 				 $("input#StateName").focus();
			    });
	  </script>
</head>
	<fieldset>
    	<legend><?php echo $this->translate("State");?></legend>
        		<form dojoType="dijit.form.Form"  id="myform" name="myform" method="post" action="">
						<?php echo $this->lobjstateForm->UpdUser;?><?php echo $this->lobjstateForm->UpdDate;?>
						<script type="dojo/method" event="onSubmit" >
                			if (this.validate()) {
								return true;
                			} else {
                    			return false;
                			}
						</script>
                        <table class="table" width="100%" >
							<tr>
                            <th colspan = "4"><?php echo $this->translate("State").' '.$this->translate("Details") ;?></th>
                       		</tr>
                        	<tr>
                            	<td><?php echo $this->translate("Country").' '.$this->translate("Name") ?></td>
                             	<td><?php echo $this->lobjstateForm->idCountry;?></td>                             	
                          	</tr>
                          	<tr>
                            	<td><?php echo $this->translate("State").' '.$this->translate("Name")?><span class="reqMark">*</span></td>
                             	<td><?php echo $this->lobjstateForm->StateName;?></td>                             	          
                        	</tr>
                        	<tr>
                        		<td><?php echo $this->translate("Active") ?></td>
                        		<td><?php echo $this->lobjstateForm->Active;?></td>                             	
                        	</tr>
                			<tr>
                            	<td align = "right" colspan="4"><?php echo $this->lobjstateForm->Save;?>
                           		<input type='button' class="NormalBtn" dojotype="dijit.form.Button" label = "<?php echo $this->translate('Back')?>" value='click' onclick="window.location.href='<?php echo $this->url(array('module'=>'general-setup','controller'=>'statemaster', 'action'=>'index'),'default',true);?>';" />	
                            	</td> 
                       		</tr>
                		</table>
            		</form>
        	</fieldset>
        	<br>
			<fieldset>
				<table class="table" width="100%" cellpadding="5" cellspacing="1">
					<tr>
						<th><?php echo $this->translate("State").' '.$this->translate("Name");?></th>
					</tr>				
						<?php if (count($this->paginator)): ?>
						<?php foreach ($this->paginator as $lobjStateModel ): ?>
						<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
    					<td><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'statemaster', 'action'=>'statelist' ,'id'=>$lobjStateModel['idState'],'edit'=>'true','idCountry'=>$lobjStateModel['idCountry']),'default',true);?>" ><?php print_r($this->escape($lobjStateModel['StateName']));?></a></td>      							
						<?php endforeach; ?>
						<?php endif; ?>
					<tr>
	        			<td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   					</tr>
			   </table>
		   </fieldset>
          </br>
        </html>