<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="<?php echo $this->rtl;?>">
<head>
<title></title>
<link rel="stylesheet" type="text/css"  href="<?php  echo $this->baseUrl();?>/js/themes/cupertino/jquery.ui.all.css" />
<script language='javascript' src='<?php  echo $this->baseUrl();?>/js/jquery-1.4.3.js'></script>

<script language='javascript' src='<?php  echo $this->baseUrl();?>/js/sfs-common.js'></script>
<link rel="stylesheet" type="text/css"  href="<?php  echo $this->baseUrl();?>/css/default.css" />
<!-- Editable Drop down files -->
<link rel="stylesheet" type="text/css" href="<?php  echo $this->baseUrl();?>/css/JED/jed.css">

<script language="JavaScript" type="text/javascript">
$(document).ready(function() {
	
	
	var floatingbox = $('#floating-box');
	var flhtml=	$('#floating-box').html();

	var scrollY = $(window).scrollTop();
	
	  var scrollY = $(window).scrollTop();
	 floattd(floatingbox,flhtml,scrollY);
	 if(scrollY == 0)
		{ 			  
				 
			    //alert(scrollY);
		 		scrollY = 10;
		 		 var bodyY = parseInt($('#body').offset().top);
				 // alert(bodyY);
				  var originalX = floatingbox.css('margin-left');
			   var isfixed = floatingbox.css('position') == 'fixed';
			 
			   if(floatingbox.length > 0){
		 
			     // floatingbox.html("srollY : " + scrollY + ", bodyY : " 
		                               //     + bodyY + ", isfixed : " + isfixed);
		 
			      if ( 114 > bodyY && !isfixed ) {
			    	  floatingbox.html(flhtml);
					  floatingbox.stop().css({
					  position: 'fixed',
					  left: '80%',
					  top: 3,
					  marginLeft: -50
					});
				} else if ( 114 < bodyY && isfixed ) {
					 floatingbox.html(flhtml);
				 	  floatingbox.css({
					  position: 'relative',
					  left: 0,
					  top: 0,
					  marginLeft: originalX
				});
			     }		
			   }
		       
			
		}
    
	 var firstone =0;
		fnhidegroup(firstone);
		fngetarabic(firstone);
});

function  floattd(floatingbox,flhtml,scrollY){
	if($('#body').length > 0){		 
		  var bodyY = parseInt($('#body').offset().top);
		 // alert(bodyY);
		  var originalX = floatingbox.css('margin-left');
		
		  $(window).scroll(function () { 			  
		 
		    //alert(scrollY);
		   var isfixed = floatingbox.css('position') == 'fixed';

		 
		   if(floatingbox.length > 0){
	 
		     // floatingbox.html("srollY : " + scrollY + ", bodyY : " 
	                               //     + bodyY + ", isfixed : " + isfixed);
	 
		      if ( 114 > bodyY && !isfixed ) {
		    	  floatingbox.html(flhtml);
				  floatingbox.stop().css({
				  position: 'fixed',
				  left: '80%',
				  top: 3,
				  marginLeft: -50
				});
			} else if ( 114 < bodyY && isfixed ) {
				 floatingbox.html(flhtml);
			 	  floatingbox.css({
				  position: 'relative',
				  left: 0,
				  top: 0,
				  marginLeft: originalX
			});
		     }		
		   }
	       });
	     }
}

//-------------------------------------------------------------------------------
var sec =59;   // set the seconds
var min = <?php echo $this->timelimit;?>;   // set the minutes
var alerttime = <?php echo $this->AlertTime?>;
//alert(alerttime);

function countDown() {	
   sec--;
  if (sec == -01) {
   sec = 59;
   min = min - 1; }
  else {
   min = min; }

if (sec<=9) { sec = "0" + sec; }

  time = (min<=9 ? "0" + min : min) + " min and " + sec + " sec ";
 

if(min < alerttime)
{
	 messag = min+" minutes remaining";
	 document.getElementById("theTime21").innerHTML = messag.blink();
}
  
if(min == 00 && sec == 00)
{
	alert('The time has been completed whatever the data present has been saved sucessfully');
	var IdBatch = document.getElementById('IdBatch').value;
	var RegId = document.getElementById('RegId').value;

	idcenters = document.getElementById('idcenter').value;
	//alert(idcenters);

	$.ajax({
		type: "GET",
		url: "<?php echo $this->baseUrl();?>/examdetails/getanswertemp/IdBatch/"+IdBatch+"/RegId/"+RegId,		
		success: function(content){
		}
	});

	$.ajax({
		type: "GET",
		url: "<?php echo $this->baseUrl();?>/examdetails/passfail/IdBatch/"+IdBatch+"/RegId/"+RegId,		
		success: function(content){
		}
	});

	
	window.location = "<?php echo $this->baseUrl();?>/index/login";

}

if (document.getElementById) { document.getElementById('theTime').innerHTML = time; }

SD=window.setTimeout("countDown();", 1000);
if (min == '00' && sec == '00') { sec = "00"; window.clearTimeout(SD); }
}
window.onload = countDown;

function fnhidegroup(ids)
{
	 var fullsection = document.getElementById('arrayqtns').value;
	   //var fullsection = document.getElementById('sec').value;
		
		 arrays=fullsection.split(",");
		 for (var f = 0; f < arrays.length; f++)
		 {
		     var sectionname =(arrays[f]);
		     //alert(sectionname);
		     document.getElementById(sectionname).style.display = 'block';
		 }
		 //document.getElementById(qtnnbr).style.display = 'block';
		 
		
	var totalprts = document.getElementById('totalparts').value;
	
	for(i=0;i<totalprts;i++)
	{	
		document.getElementById("abc"+i).style.display = 'none';		
	}
	
	document.getElementById("abc"+ids).style.display = 'block';	
}

function showparticularquestion(qtnnbr)
{
    var totalprts = document.getElementById('totalparts').value;
	for(i=0;i<totalprts;i++)
	{	
		document.getElementById("abc"+i).style.display = 'block';		
	}

	
   var totalnumberofquestions = document.getElementById('totalnumberofquestions').value;
   var fullsection = document.getElementById('arrayqtns').value;
	
	 arrays=fullsection.split(",");
	 for (var f = 0; f < arrays.length; f++)
	 {
	     var sectionname =(arrays[f]);
	     //alert(sectionname);
	     document.getElementById(sectionname).style.display = 'none';
	 }
	 document.getElementById(qtnnbr).style.display = 'block';
	
}

function fngetarabic(lang)
{
	if(lang==1)
	{
	$('.eng').hide();
	$('.arb').show();
	}
	else
	{
		$('.arb').hide();
		$('.eng').show();
	}
}

function radioclick(qtnans)
{
	//alert(qtnans);
	var IdBatch = document.getElementById('IdBatch').value;
	var RegId = document.getElementById('RegId').value;
	$.ajax({
		type: "GET",
		url: "<?php echo $this->baseUrl();?>/examdetails/inserttempanswer/IdBatch/"+IdBatch+"/RegId/"+RegId+"/QuestionNo/"+qtnans,		
		success: function(content){
			//alert(content);	
			// arrays=content.split("--");
			//alert(arrays[0]);
			//alert(arrays[1]);
			//document.getElementById("btn"+arrays[1]).style.backgroundColor = arrays[0];
		
		}
	});
	buttoncolor=qtnans.split("--");
	 //alert(buttoncolor[0]);
	// alert(buttoncolor[1]);
	 document.getElementById("btn"+buttoncolor[0]).style.backgroundColor ='#8DB87C';
}

function fnsave()
{
	
	var RegId = document.getElementById('RegId').value;

	$.ajax({
		type: "GET",
		url: "<?php echo $this->baseUrl();?>/examdetails/noofqtns/RegId/"+RegId,		
		success: function(content){
			//alert(content);
            var totalqtns = <?php echo $this->noofqtns;?>;
        	//idcenter = document.getElementById('idcenter').value;
        	//alert(idcenters);
            if(content == totalqtns)
            {
                var answer = confirm('Do you want to check once again');
            }
            else
            {
                var answer = confirm('You have left some of the questions do u want to save these details');
                if(answer==true)
                    alert('Do You want to submit');
            }

         // alert(answer);
            
			if(answer==true)
			{
				var IdBatch = document.getElementById('IdBatch').value;
				var RegId = document.getElementById('RegId').value;
				
				$.ajax({
					type: "GET",
					url: "<?php echo $this->baseUrl();?>/examdetails/getanswertemp/IdBatch/"+IdBatch+"/RegId/"+RegId,	
						
					success: function(content){
						//alert(content);
						//window.location = "<?php echo $this->baseUrl();?>/index/login";
					}
				});

				$.ajax({
					type: "GET",
					url: "<?php echo $this->baseUrl();?>/examdetails/passfail/IdBatch/"+IdBatch+"/RegId/"+RegId,		
					success: function(content){
						arrays=content.split("****");
						
						//alert(arrays[0]);
						alert(arrays[1]);
						
						pass = arrays[0];
						window.location = "<?php echo $this->baseUrl();?>/examdetails/examdetails/RegId/"+RegId+"/pass/"+pass;
					}
				});

				//document.forms['myform'].submit();
				
			}
			else
			{
			}
		}
	});
	
	
}
function noBack() 
{ 
	window.toolbar.visible = false;
}

</script>
<style type="text/css">
 .timeClass {
  font-family:arial,verdana,helvetica,sans-serif;
  font-weight:normal;
  font-size:10pt;
  }

	
</style>
</head>
<body>
<table width="100%">
<tr><td width="90%" rowspan="2">
<fieldset><h4 align="center" style="font-family:verdana;color:red;">Do not click Refresh or Back</h4>
<h4 align="right">scroll down for different Parts</h4>
  <input type="button"  style="background-color:#FF0000;">Un Answered 
         <input type="button"  style="background-color:#8DB87C;">Answered <br/>
         	                            
	    
                <form action="" method="POST" id="myform" name= "myform">
                         <table id="hor-minimalist-b">
							<tr>
							<input type="hidden" id="idcenter" name="idcenter" value="<?php echo $this->examvenue;?>">
	                            <th colspan="2"><?php echo $this->translate->_("Student Name:")?>
	                            <?php echo $this->studentname;?></th>
	                            <th><span id="theTime21"></span><input type="hidden" value="" name="sec" id="sec"></th>
	                            <th><input type="hidden" value="" name="totalqtn" id="totalqtn"></th>
	                            
                           </tr>

			               <tr>
			               		
			                    <td><input type="hidden" name="IdBatch" id="IdBatch" value="<?php echo $this->idbatch;?>"></td>
			                    <td><input type="hidden" name="RegId" id="RegId" value="<?php echo $this->RegId;?>"></td>
			               </tr>

						</table>
						
						<?php $larrQtns=$this->questionsdisplay;
							   $larrAns = $this->answers; ?>
							   
							   <input type="hidden" id="arrayqtns" name="arrayqtns" value="<?php echo $this->arrayqtns;?>">
							   <input type="hidden" id="totalparts" name="totalparts" value="<?php echo count($larrQtns);?>">
							   <input type="hidden" id="totalnumberofquestions" name="totalnumberofquestions" value="<?php echo $this->totalnumberofquestions;?>">
					     <?php for($i=0;$i<count($larrQtns);$i++){?>
					     <?php $cnt=0;?>
					           <table id="abc<?php echo $i;?>" border="0">
					           
					          <?php for($j=0;$j<count($larrQtns[$i]);$j++){?>
					          <?php $cnt++;?>
					           		<tr>
					                    <td  id="<?php echo $larrQtns[$i][$j]['idquestions']?>">
					                     <div class="eng" style="background-color:#C0C0C0;font-family:arial;font-size:12px;"><?php 
												 $mainstring = $larrQtns[$i][$j]['Question'];
												 $substring = '@';
												 $pos = strpos($mainstring, $substring);
												   if($pos == false)
												   {
												  
															echo 'Q'.$cnt.':'.'<br/>'.$larrQtns[$i][$j]['Question'];
												   }
												   else
												    { 
												  
														$totallength = strlen($larrQtns[$i][$j]['Question']);
														$fromposition = 0;
														for ($k =0;$k<5;$k++)
														{
															if($k==0)
															{
															}
															else
															{
																$totallength = strlen($afterstring);
																$fromposition = 0;
																$mainstring = substr($afterstring,1);;
															
															
															}
															
																for($i=0;$i<$totallength;$i++)
																{
																	$mystring = $mainstring;
																	$findme   = '@';
																	$afterstring = strpbrk($mystring,$findme);
																
																	$pos = strpos($mystring,$findme);
																	//echo $pos;
																
																	$strings1 =  substr($mainstring,$fromposition,$pos); 
																	//echo $strings1;
																	$totallength = strlen($strings1);
																 	echo"<br />";
																 //	print_r($strings1);
																 	//die();
																 	$pizza  = $strings1;
																	$pieces = explode("@", $pizza);
																	if($k==0 && $i==0)
																	{
																		echo 'Q'.$cnt.':'.'<br/>';
																	}
																	echo $pieces[0]; // piece1
																	 break;
																}
																
														}
												   }?></div>
					                         <div class="arb" style="background-color:#C0C0C0;font-family:arial;font-size:12px;"><?php 
												 $mainstring = $larrQtns[$i][$j]['Malay'];
												 $substring = '@';
												 $pos = strpos($mainstring, $substring);
												   if($pos == false)
												   {
												  
															echo 'Q'.$cnt.':'.'<br/>'.$larrQtns[$i][$j]['Malay'];
												   }
												   else
												    { 
												  
														$totallength = strlen($larrQtns[$i][$j]['Malay']);
														$fromposition = 0;
														for ($k =0;$k<5;$k++)
														{
															if($k==0)
															{
															}
															else
															{
																$totallength = strlen($afterstring);
																$fromposition = 0;
																$mainstring = substr($afterstring,1);;
															
															
															}
															
																for($i=0;$i<$totallength;$i++)
																{
																	$mystring = $mainstring;
																	$findme   = '@';
																	$afterstring = strpbrk($mystring,$findme);
																
																	$pos = strpos($mystring,$findme);
																	//echo $pos;
																
																	$strings1 =  substr($mainstring,$fromposition,$pos); 
																	//echo $strings1;
																	$totallength = strlen($strings1);
																 	echo"<br />";
																 //	print_r($strings1);
																 	//die();
																 	$pizza  = $strings1;
																	$pieces = explode("@", $pizza);
																	if($k==0 && $i==0)
																	{
																		echo 'Q'.$cnt.':'.'<br/><br/>';
																	}
																	echo $pieces[0]; // piece1
																	 break;
																}
																
														}
												   }?></div>
					                            <?php for($k=0;$k<count($larrAns);$k++){?><?php 
					                                   if($larrQtns[$i][$j]['idquestions']==$larrAns[$k]['idquestion'])
					                                   {?>
					                                   <br/>
					                                   
					                                   	<div><input type="radio" onClick="radioclick('<?php echo $larrQtns[$i][$j]['idquestions'].'--'.$larrAns[$k]['idanswers'];?>');" name="qtn<?php echo $larrAns[$k]['idquestion'];?>" id="<?php echo $larrAns[$k]['idquestion'];?>">&nbsp;&nbsp;<span class="eng" style="font-family:arial;font-size:12px;"><?php echo $larrAns[$k]['answers']?></span><span class="arb" style="font-family:arial;font-size:12px;"><?php echo $larrAns[$k]['Malay']?></span></div>
					                                   	<br/>
					                                  <?php  
					                                   }
					                             }?>
					                     </td>
					                   </tr>   
					                  
					          <?php }?>
					  <?php }?>
					  
					 
					</table>	
				</form>
				<input type="hidden" id="eng" name = "eng" value="10"> 
				<input type="hidden" id="engcounter" name = "engcounter"value="<?php echo $counter;?>"> 
				<input type="hidden" id="anseng" name = "anseng" value="<?php echo $intans;?>"> 
				<input type="hidden" id="ansengcounter" name = "ansengcounter"value="<?php echo $counter;?>"> 
				
	</fieldset>
	</td>
	
	<td  id="floating-box" valign="top" bgcolor="#E2E2E2">

	<div style="width:100%;height:650px;overflow-y: scroll;">
	<fieldset>
	<legend><?php echo $this->translate->_("Section")?></legend>
	 <div ><?php echo $this->translate->_("Timer:")?><span id="theTime" class="timeClass"></span></div>
         <div style="color:red"><?php echo $this->translate->_("Total Time:")?><?php echo $this->timelimit+1?> min</div><br/>
     <table>
     
     <tr>
							<input type="hidden" id="idcenter" name="idcenter" value="<?php echo $this->examvenue;?>">
	                            <th colspan="2"><?php echo $this->translate->_("Student Name:")?>
	                            <?php echo $this->studentname;?></th>
	                            <th><span id="theTime21"></span><input type="hidden" value="" name="sec" id="sec"></th>
	                            <th><input type="hidden" value="" name="totalqtn" id="totalqtn"></th>
	                            <td><select name="language" onChange='fngetarabic(this.value);'>
							   <option value="0">English</option>
							   <option value="1">Bahasa-Malaysia</option>
							   </select></td>
                           </tr>
     </table>

	<?php $larrQtns=$this->questionsdisplay;?>
	<?php $cntt=0;?>
					     <?php for($i=0;$i<count($larrQtns);$i++){?>
					        
					           <table style="height:30%; bgcolor="#E2E2E2" id="abc<?php echo $i;?>">
					               <input type="button" style="height:25px; width: 100px" name="abc[]" id="abc<?php echo $i;?>" value="<?php echo $larrQtns[$i][0]['QuestionGroup']?>" onClick="fnhidegroup(<?php echo $i;?>);">
					                <?php for($j=0;$j<count($larrQtns[$i]);$j++){?>
					                  <?php $cntt++;?>
					           		<?php if($j%5 == 0){?> <?php if($j!=0){?></tr><?php }?> <tr>  <?php }?>
					                    <td bgcolor="#E2E2E2">
					                       <input type="button" style="background-color:#FF0000;" id="btn<?php echo $larrQtns[$i][$j]['idquestions'];?>" name="" value="Q <?php echo $cntt;?>" onclick="showparticularquestion(<?php echo $larrQtns[$i][$j]['idquestions'];?>)">
					                            
					                     </td>
					                      
					                  
					          <?php }?>
					           </table>
					       <?php }?>    
	
	<input type="button" name="Submit"  label="Submit" onClick="fnsave(); return false;" value="Submit">
	
	
</div>
	</fieldset>
	</div>
	</td>

	</tr>
	<tr><td></td></tr>
	</table>
</body>


</html>
