<html>
<head>
<script>
dojo.addOnLoad(function(){
	
	});
</script>
</head>
<body class='claro'>
<fieldset>
	<legend><?php echo $this->translate("Gender").' '.$this->translate("Stastics");?></legend>
<?php if ($this->searchdate): ?>
<fieldset>
<form id="myForm1" name = "myform1" action="<?php echo $this->baseUrl();?>/reports/genderstatistics/fnexportexcel" method="POST">
    
     <table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr>
        <th><?php echo $this->translate(" ");?></th>
        <th align ="center" colspan = 5 ><b><?php echo $this->translate("$this->month").' '.$this->translate("$this->year");?></b></th>
    </tr> 
     <tr> 
        <th align ="center"><b><?php echo $this->translate("Gender") ?></b></th>
        <th align ="center"><b><?php echo $this->translate("Male") ?></b></th>
        <th align ="center"><b><?php echo $this->translate("Female") ?></b></th>
        <th align ="center"><b><?php echo $this->translate("Total") ?></b></th>
     </tr>
      <?php $lobjCountry = $this->larrracescount;?>
      <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
      <td><b><?php echo "Registered";?></b></td>
      <td><?php echo $lobjCountry[1]['NoOfCandidates'];?><input type="hidden" name="malecand" id="malecand" value="<?php echo $lobjCountry[1]['NoOfCandidates'];?>"></td>
      <td><?php echo $lobjCountry[0]['NoOfCandidates'];?><input type="hidden" name="femalecand" id="femalecand" value="<?php echo $lobjCountry[0]['NoOfCandidates'];?>"></td>
      <td><?php echo $lobjCountry[2]['regtotal'];?><input type="hidden" name="regtotal" id="regtotal" value="<?php echo $lobjCountry[2]['regtotal'];?>"></td>
      </tr>
      <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
      <td><b><?php echo "Sat";?></b></td>
      <td><?php echo $lobjCountry[3]['msat'];?><input type="hidden" name="msat" id="msat" value="<?php echo $lobjCountry[3]['msat'];?>"></td>
      <td><?php echo $lobjCountry[7]['fsat'];?><input type="hidden" name="fsat" id="fsat" value="<?php echo $lobjCountry[7]['fsat'];?>"></td>
      <td><?php echo $lobjCountry[11]['sattotal'];?><input type="hidden" name="sattotal" id="sattotal" value="<?php echo $lobjCountry[11]['sattotal'];?>"></td>
      </tr>
      <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
      <td><b><?php echo "Pass";?></b></td>
      <td><?php echo $lobjCountry[4]['mpass'];?><input type="hidden" name="mpass" id="mpass" value="<?php echo $lobjCountry[4]['mpass'];?>"></td>
      <td><?php echo $lobjCountry[8]['fpass'];?><input type="hidden" name="fpass" id="fpass" value="<?php echo $lobjCountry[8]['fpass'];?>"></td>
      <td><?php echo $lobjCountry[12]['passtotal'];?><input type="hidden" name="passtotal" id="passtotal" value="<?php echo $lobjCountry[12]['passtotal'];?>"></td>
      </tr>
      <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
      <td><b><?php echo "Fail";?></b></td>
      <td><?php echo $lobjCountry[5]['mfail'];?><input type="hidden" name="mfail" id="mfail" value="<?php echo $lobjCountry[5]['mfail'];?>"></td>
      <td><?php echo $lobjCountry[9]['ffail'];?><input type="hidden" name="ffail" id="ffail" value="<?php echo $lobjCountry[9]['ffail'];?>"></td>
      <td><?php echo $lobjCountry[13]['failtotal'];?><input type="hidden" name="failtotal" id="failtotal" value="<?php echo $lobjCountry[13]['failtotal'];?>"></td>
      </tr>
      <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>"><input type="hidden" name="selmonth" id="selmonth" value="<?php echo $this->month.'_'.$this->year;?>"></td>
      <td><b><?php echo "Absent";?></b></td>
      <td><?php echo $lobjCountry[6]['mabsent'];?><input type="hidden" name="mabsent" id="mabsent" value="<?php echo $lobjCountry[6]['mabsent'];?>"></td>
      <td><?php echo $lobjCountry[10]['fabsent'];?><input type="hidden" name="fabsent" id="fabsent" value="<?php echo $lobjCountry[10]['fabsent'];?>"></td>
      <td><?php echo $lobjCountry[14]['absenttotal'];?><input type="hidden" name="absenttotal" id="absenttotal" value="<?php echo $lobjCountry[14]['absenttotal'];?>"></td>
      </tr>
      <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	  <td colspan="6" align="right"><?php echo $this->lobjform->ExportToExcel?>
	  	  <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'reports','controller'=>'statistics', 'action'=>'index'),'default',true);?>';" />
	  
      </tr>
      </table>
        </form>
</fieldset> 
<?php endif; ?>
</form>
</body>
</html>
