<?php if(count($this->distributionres)):?>
<table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr >
        
        <th><?php echo $this->translate("Select All") ?><input type="checkbox"  onclick="fncheckall();" value="0" id ="chk" name="chk"/></th>
        <th><?php echo $this->translate("SI No") ?></th>
        <th><?php echo $this->translate("Batch ID") ?></th>   
        <th><?php echo $this->translate("Invoice Number") ?></th>
        <th><?php echo $this->translate("Invoice Amount") ?></th>
     	<th><?php echo $this->translate("Outstanding Amount") ?></th>
     	<th width="30px"><?php echo $this->translate("Paid Amount") ?></th>
     	<th><?php echo $this->translate("Invoice Date") ?></th>
     </tr>
    <?php  
    $cnt=1;$Totaloutstandingamount=0;
    $index=0;
    $pinrowarray=array();
    $this->lobjdistributionModel = new Registrations_Model_DbTable_Paymentdistribution();//distribution model
    
    foreach($this->distributionres as $distributionres){
    	$sum=0;$sumtotal=0;//$outstandingamount=0;
    	$sum=$this->lobjdistributionModel->fngetamount($distributionres['Regpin'],$distributionres['idoperator']);
    	//echo "<pre/>";print_r($sum);
        //echo "<pre/>";print_r($distributionres);
        $sumtotal=$sum['0']['sum'];
       // echo $distributionres['Amount'].'-'.$sumtotal."<br/>";
    	if($distributionres['Amount']!=$sumtotal ){
            if(!in_array($distributionres['Regpin'], $pinrowarray)){
    		array_push($pinrowarray,$distributionres['Regpin']);
                $regname=$index;
                ?>
                <input type="hidden" name="idoperator" value="<?php echo $distributionres['idoperator'];?>"/>
	     	<input type="hidden" name="Flag" value="<?php echo $distributionres['Flag'];?>"/>
                <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
                    <td width="5%">
                        <input type="checkbox" dojoType=dijit.form.CheckBox disabled="true" onclick="fnsubcheck(this.value);" value="<?php echo $cnt?>" id="<?php echo $cnt;?>chk" name="<?php echo $regname?>[chk]"/>
                    </td>
                    <td width="3%"><?php echo $cnt;?></td>
                    <td><?php echo $distributionres['Regpin'];?>
                        <input type="hidden" name="<?php echo $regname?>[regpin]" value="<?php echo $distributionres['Regpin'];?>"/>
                    </td>
                    <td><?php echo $distributionres['invoiceno'];?>
                        <input type="hidden" name="<?php echo $regname?>[invoiceno]" value="<?php echo $distributionres['invoiceno'];?>"/>
                    </td>
                    <td><?php echo number_format($distributionres['Amount'],2);?>
                        <input type="hidden" name="<?php echo $regname?>[Amount]" value="<?php echo $distributionres['Amount'];?>"/>
                    </td>
                    <?php if($distributionres['batchamount']>0){
                        $outstandingamount=$distributionres['Amount']-$sumtotal;?>
                            <td style="color: green"><?php echo number_format($outstandingamount,2);?>
                                <input type="hidden" name="<?php echo $regname?>[outstandingamount]" id="<?php echo $cnt;?>outstandingamount" value="<?php echo $outstandingamount;?>"/>
                            </td>
                    <?php }else {
                        $outstandingamount=$distributionres['Amount']-$sumtotal;?>
                            <td><?php echo number_format($outstandingamount,2);?>
                                <input type="hidden" name="<?php echo $regname?>[outstandingamount]" id="<?php echo $cnt;?>outstandingamount" value="<?php echo $outstandingamount;?>"/>
                            </td>
                    <?php } ?>

                    <td><input type="text" autocomplete="off" dojoType=dijit.form.ValidationTextBox onkeyup="fnvalidateenteredamount('<?php echo $cnt;?>');" onblur="fncheckboxval('<?php echo $cnt;?>');" name="<?php echo $regname?>[paidamount]" id="<?php echo $cnt;?>paidamount" value=""</td>
                    <td><?php echo $distributionres['UpdDate'];?></td>
                    <input type="hidden" name="<?php echo $regname?>[Idinvoicedetails]" value="<?php echo $distributionres['Idinvoicedetails'];?>"/>
                </tr>
                <?php 
                 $cnt++;$index++;
                $Totaloutstandingamount+=$outstandingamount;
                //echo $Totaloutstandingamount;echo ":";echo $distributionres['Amount'];echo ":";echo $distributionres['batchamount'];echo "<br/>";
            }
    	} 
    }
    //echo "<pre/>";print_r($this->distributionres);
    //echo $Totaloutstandingamount;die();
    ?>
    <tr><td colspan="8"><hr></td></tr>
    <?php if($cnt>1){?>
	<tr>
            <td align="right" colspan="6"><b>Total Paid Amount</b></td>
            <td colspan="2" align="left"><input type="text" name="totalpaid" readonly="readonly" style="background-color : #d1eed1;" id="totalpaid" value="0.00" /></td>
	</tr>
    <?php }?>
	<tr>
            <td><input type="hidden" name="Totaloutstandingamount" id="Totaloutstandingamount" value="<?php echo $Totaloutstandingamount;?>" /></td>
	</tr>
	<input type="hidden" name="totalrows" id="totalrows" value="<?php echo $cnt;?>" />
</table>

<?php endif;?>
