<head>
<script>

dojo.addOnLoad(function(){
		<?php if($this->generated == '1'){ ?>	
		//alert("p");				
							//document.getElementById('contentdiv').style.display = '';							
							document.getElementById('divLogin').style.display = 'block';
							document.getElementById('divLogin2').style.display = 'block';
							//document.getElementById('contentdiv').style.display = 'block';							
		<?php } ?>
		});

	
function BlockClosefn()
	{
			document.getElementById('contentdiv').innerHTML = "";
			document.getElementById('divLogin').style.display = 'none';
			document.getElementById('divLogin2').style.display = 'none';	
	}
</script>
<Script type="text/javascript">
	function fnGetOperatorNames(){
		optype=dijit.byId('operator').value;
		namestring=document.getElementById("operatorname").value;
	    if(optype==""){
	        alert("Please Select Operator Type");
	        return false;
	    }
		if(namestring!=""){
				var xhrArgs = {
						url: "<?php echo $this->baseUrl();?>"+"/registrations/paymentdistribution/getoperatornames/opType/"+optype+"/namestring/"+namestring,
						handleAs:'text',
						load:function(data){ 
							//AutoFillNextEditableDropDown("operatorname",data);
							document.getElementById("opnames").innerHTML=data;
						}
				   }
				dojo.xhrGet(xhrArgs);
		}
	}

 	function fnsetvalue(opname){
 		document.getElementById("opnames").innerHTML="";
		document.getElementById("operatorname").value=opname;
		fnSearchdistrubution(opname);
		
	}	

	function fnemptyoperatornames(){
		document.getElementById("operatorname").value="";
	}

	function fnfillamountbox(){
		receivedamt=document.getElementById("TotalAmountReceived").value;
		document.getElementById("Amount").value=receivedamt;
	}

	function fnSearchdistrubution(name){
		if(name!=""){
			var oprtype=dijit.byId("operator").value;
			var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/registrations/paymentdistribution/fnsearchpaymentdistribution/oprtype/"+oprtype+"/opname/"+name,
					handleAs:'text',
					load:function(data){
						if(data!=''){
							document.getElementById('empdetails').innerHTML = data;
							var payableamount = document.getElementById('Totaloutstandingamount').value;
							if(payableamount>0){
								document.getElementById('totalpayableamount').value=payableamount; 
								document.getElementById("TotalAmountReceived").value=payableamount;
								document.getElementById("Amount").value=payableamount;
								document.getElementById("saving").style.display='block';
								document.getElementById("dist").style.display='block';
								document.getElementById("fclear").style.display='none';
								document.getElementById("nodata").style.display='none';
								document.getElementById("paymentdone").style.display='none';
								
							}else{
								document.getElementById('empdetails').innerHTML = "";
								document.getElementById("paymentdone").style.display='block';
								document.getElementById("nodata").style.display='none';
							}
						}else if(data==""){
							document.getElementById("nodata").style.display='block';
							document.getElementById('empdetails').innerHTML = "";
							document.getElementById('totalpayableamount').value= "";
							document.getElementById('Amount').value= "";
							document.getElementById('TotalAmountReceived').value= "";
							document.getElementById("saving").style.display='none';
							document.getElementById("dist").style.display='none';
							document.getElementById("fclear").style.display='block';
							document.getElementById("paymentdone").style.display='none';
						}
					}
			   }
			dojo.xhrGet(xhrArgs);
		}
		
	}

	function fndistribute(){
		var num = document.getElementById("totalrows").value;
		var receivedamt=document.getElementById("TotalAmountReceived").value;
		var varamt=parseInt(receivedamt);
		var numrows=num-1;
		document.getElementById("chk").checked=false;
		var i;
		if(receivedamt==''){
			alert("Please enter Total Amount Received");
			window.setTimeout(function (){
			 	document.getElementById("TotalAmountReceived").focus();
			}, 0);
			return false;
		}
		if(isNaN(receivedamt)){
			alert("Only Digits Allowed");
			document.getElementById("TotalAmountReceived").value="";
			window.setTimeout(function (){
			 	document.getElementById("TotalAmountReceived").focus();
			}, 0);
			return false;
		}
		var totalamount=0;
		for(i=1;i<=numrows;i++){
			document.getElementById(+i+'paidamount').value="0.00";
			var outstandingamount = document.getElementById(+i+'outstandingamount').value;
			if(parseFloat(receivedamt)<=0){
				alert("Total Amount Received should not be 0");
				document.getElementById("TotalAmountReceived").value="";
				window.setTimeout(function (){
				 	document.getElementById("TotalAmountReceived").focus();
				}, 0);
				return false;
				
			}else{
				if(parseFloat(varamt) > parseFloat(outstandingamount)){
					document.getElementById(+i+'paidamount').value=outstandingamount;	
					if((document.getElementById(+i+'paidamount').value)>0){
						document.getElementById(+i+"chk").disabled=false;
					}else{
						document.getElementById(+i+"chk").checked=false;
						document.getElementById(+i+"chk").disabled=true;
						
					}
					totalamount=parseFloat(totalamount)+parseFloat(outstandingamount);
					varamt=parseFloat(varamt)-parseFloat(outstandingamount);
				}else{
					document.getElementById(+i+'paidamount').value=varamt;
					if((document.getElementById(+i+'paidamount').value)>0){
						document.getElementById(+i+"chk").disabled=false;
						document.getElementById(+i+"chk").checked=false;
					}else{
						document.getElementById(+i+"chk").checked=false;
						document.getElementById(+i+"chk").disabled=true;
					}
					totalamount=parseFloat(totalamount)+parseFloat(varamt);
					varamt=parseFloat(varamt)-parseFloat(varamt);
				}
				
			}
		}
		document.getElementById('totalpaid').value=totalamount;
		return true;
		
	}


	function fncheckall(){
		var totalchk1 = document.getElementById("totalrows").value;
		totalchk=totalchk1-1;
		var i;
		if(document.getElementById("chk").checked==true){
			for(i=1;i<=totalchk;i++){
				if((document.getElementById(+i+'paidamount').value)>0){
					document.getElementById(+i+"chk").checked=true;
					document.getElementById(+i+"chk").value=1;
				}
			}
		}else if(document.getElementById("chk").checked==false){
			for(i=1;i<=totalchk;i++){
				document.getElementById(+i+"chk").checked=false;
				document.getElementById(+i+"chk").value=2;
			}
		}
	}

	function fnsubcheck(value){
		var paid=document.getElementById(+value+'paidamount').value;
		
		if(paid>0){
			document.getElementById(+value+"chk").checked==true;
			document.getElementById(+value+"chk").value=1;
		}else if(paid<=0 || paid==""){
			document.getElementById(+value+"chk").checked==false;
			document.getElementById(+value+"chk").value=2;
			document.getElementById(+value+"chk").disabled=true;
		}
		//if(document.getElementById(+value+"chk").checked==true){
			//document.getElementById(+value+"chk").value=1;
		//}else if(document.getElementById(+value+"chk").checked==false){
			//document.getElementById(+value+"chk").value=2;
		//}
	}

	function fnvalidatechkboxchecked(){
		var totalchk1 = document.getElementById("totalrows").value;
		totalchk=totalchk1-1;
		var flag=false;
		var valamt=fnvalidatetotalamount(totalchk);
		if(valamt==true){
			flag=true;
		}else{
			flag=false;
			return false;
		}
		
		for(i=1;i<=totalchk;i++){
			var paidbox=document.getElementById(+i+'paidamount').value;
			var chkbox=document.getElementById(+i+"chk").checked;
			if(paidbox>0 && chkbox==false){
				alert("Please Check the Checkboxes with Paidamount > 0");
				return false;
			}
		}
		
		return flag;
		
	}

	function fnvalidatetotalamount(totalchk){
		var TotalAmountReceived=document.getElementById('TotalAmountReceived').value;
		var total=0;
		for(i=1;i<=totalchk;i++){
			var paid=document.getElementById(+i+"paidamount").value;
			if(paid!=''){
				total=parseFloat(total)+parseFloat(document.getElementById(+i+"paidamount").value);
			}
		}
		if(total!=TotalAmountReceived){
			alert("Total Paid Amount is not equal to Total Amount Received");
			return false;
		}else{
			return true;
			}

	}

	function fncheckboxval(row){
		var paidamt=document.getElementById(+row+"paidamount").value;
		if(paidamt<=0){
			document.getElementById(+row+"chk").disabled=true;
		}
	}

	function fnvalidateenteredamount(row){
		var outstandingamount=document.getElementById(+row+"outstandingamount").value;
		var paidamt=document.getElementById(+row+"paidamount").value;
		if(isNaN(paidamt)){
			alert("Only Numbers Allowed");
			document.getElementById(+row+"paidamount").value="";
			window.setTimeout(function (){
				 	document.getElementById(+row+'paidamount').focus();
			}, 0);
			document.getElementById(+row+"chk").disabled=true;
		}
		if(parseFloat(paidamt)>parseFloat(outstandingamount)){
			alert("Paid Amount should not be greater than the Outstanding Amount");
			document.getElementById(+row+"paidamount").value="";
			window.setTimeout(function (){
				 	document.getElementById(+row+'paidamount').focus();
			}, 0);
			document.getElementById(+row+"chk").disabled=true;
			
		}
		if(paidamt<=0){
			document.getElementById(+row+"chk").checked==false;
			document.getElementById(+row+"chk").disabled=true;
			
		}else{
			document.getElementById(+row+"chk").disabled=false;
		}
		var num = document.getElementById("totalrows").value;
		num=num-1;
		var totalpaid1=0;
		var i;
		for(i=1;i<=num;i++){
			var textamt=document.getElementById(+i+"paidamount").value;
			if(textamt>0){
			totalpaid1=parseFloat(totalpaid1)+parseFloat(textamt);
			}
			
		}
		document.getElementById('totalpaid').value=totalpaid1;
		
	}

	function validateForm(){
		flag=false;
		var receivedamt=document.getElementById("TotalAmountReceived").value;
		if(receivedamt==""){
			alert("Total Amount Received should not be Empty");
			window.setTimeout(function (){
			 	document.getElementById("TotalAmountReceived").focus();
			}, 0);
			return false;
		}
		if(receivedamt==0){
			alert("Total Amount Received should not be 0");
			document.getElementById("TotalAmountReceived").value="";
			window.setTimeout(function (){
			 	document.getElementById("TotalAmountReceived").focus();
			}, 0);
			return false;
		}
		var chkchecked=fnvalidatechkboxchecked();
		if(chkchecked==true){
			flag=true;
		}else{
			flag=false;
			return flag;
		}
		
		
		return flag;
	}

	function fnhideboxes(){
		var mode=document.getElementById("PaymentMode").value
		if(mode=="Cash"){
			dijit.byId("Branchname").attr("required",false);
			dijit.byId("ChequeDate").attr("required",false);
			dijit.byId("ChequeNumber").attr("required",false);

			dijit.byId("Branchname").attr("value","");
			dijit.byId("ChequeDate").attr("placeholder",'d-m-y');
			dijit.byId("ChequeNumber").attr("value","");
			
			
			document.getElementById("bn").style.display='none';
			document.getElementById("bnf").style.display='none';
			document.getElementById("tr1").style.display='none';
		}else if(mode=="Cheque"){
			dijit.byId("Branchname").attr("required",true);
			dijit.byId("ChequeDate").attr("required",true);
			dijit.byId("ChequeNumber").attr("required",true);
			document.getElementById("bn").style.display='table-cell';
			document.getElementById("bnf").style.display='table-cell';
			document.getElementById("tr1").style.display='table-row';
			
		}
	}
	
</Script>




<script type="text/javascript">    
function disable_fresh(e)
{
  if (e.which == 116) e.preventDefault();
};
   //$(document).bind("keydown", disable_fresh); // To re-enable f5 $(document).unbind("keydown", disable_fresh); 
 </script>







<style>
.HighlightableRow:hover
{
  background-color: red;
}


div.opnames { 
  width:165px;
  background-color:white;
  border:1px solid #888;
  margin:0px;
  padding:0px; 
  cursor:pointer;
  overflow:auto;  
}
</style>
</head>
<body class='claro'>
<fieldset>
	<legend><?php echo $this->translate("Payment").' '.$this->translate("Distribution");?></legend>
	<div class="search" style="margin-left:20px;">
 		<form dojoType="dijit.form.Form"  id="myForm" action="" method="POST"> 
 		 <script type="dojo/method" event="onSubmit">
				var flag=false;
				if (this.validate()) {
					flag=true;
                } else {
                    flag=false;
					return flag;
                }
				var res=validateForm();
				if(res==true){
					flag=true;
					return flag;
				}else if(res==false){
					flag=false;
					return flag;
				}
				
			</script>
 		<table width="100%">				
                <tr>
                    <td><?php echo $this->translate("Type of Operator") ?><span class="reqMark">*</span></td>
                    <td><?php echo $this->lobjform->operator;?></td>
                    <td><?php echo $this->translate("Company/Takaful Name") ?><span class="reqMark">*</span></td>
                    <td><?php echo $this->lobjform->operatorname;?><div id="opnames" class="opnames"></td>
                </tr>
                 <tr>
                    <td><?php echo $this->translate("Payment Mode") ?></td>
                    <td><?php echo $this->lobjform->PaymentMode;?></td>
                 	<td><?php echo $this->translate("Receipt Date") ?><span class="reqMark">*</span></td>
                    <td><?php echo $this->lobjform->ReceiptDate;?></td>
                 </tr>
                
               <tr>
                    <td><?php echo $this->translate("Total Amount Received") ?></td>
                    <td><?php echo $this->lobjform->TotalAmountReceived;?></td>
                    <td><?php echo $this->translate("Total Payable Amount") ?></td>
                    <!-- style="background-color : #d1eed1;" -->
                    <td><input type="text"  readonly="true" name="totalpayableamount" dojotype="dijit.form.ValidationTextBox" id="totalpayableamount" value=""/></td>
                </tr>
                 <tr id="tr1">
                  	<td><?php echo $this->translate("Cheque Date") ?><span class="reqMark">*</span></td>
                    <td><?php echo $this->lobjform->ChequeDate;?></td>
                    <td><?php echo $this->translate("Cheque Number") ?><span class="reqMark">*</span></td>
                    <td><?php echo $this->lobjform->ChequeNumber;?></td>
                    
                </tr>
                 <tr>
                 	<td id="bn"><?php echo $this->translate("Bank/Branchname") ?><span class="reqMark">*</span></td>
                    <td id="bnf" ><?php echo $this->lobjform->Branchname;?></td>
                    <td><?php echo $this->translate("Amount") ?></td>
                    <td><input type="text" readonly="true" name="Amount" dojotype="dijit.form.ValidationTextBox" id="Amount" value=""/></td>
                 </tr>
                 <tr>
                </tr>
                <tr>
                	<td></td>
                	<td></td>
                	<td   id="fclear">
                		<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Clear"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'registrations','controller'=>'paymentdistribution', 'action'=>'index'),'default',true);?>';" />
                	</td>
				</tr>
                <tr>
                	<td></td>
                	<td></td>
                	<input type="hidden" name="refresh" value="1"/>
                	<td style="display:none" id="dist">
                		<span><?php echo $this->lobjform->Distribute;?></span>
                		<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Clear"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'registrations','controller'=>'paymentdistribution', 'action'=>'index'),'default',true);?>';" />
                	</td>
				</tr>
				
               
		</table>
		
			<br/>
	
			<table class="table" width="100%" cellpadding="5" cellspacing="1">
				<tr>
                                    <td>
                                        <div id="empdetails"  style="width:100%;overflow:auto"></div>
                                    </td>
                                </tr>
				<tr>
                                    <td colspan="4" align="center" style="display:none" id="nodata"><b>Invoice not yet generated | Students are not Added </b></td>
				</tr>
				<tr>
                                    <td colspan="4" align="center" style="display:none" id="paymentdone"><b>Payments done already</b></td>
				</tr>
				<tr>
					<td style="display:none" id="saving" align="right"><input type="submit" dojotype="dijit.form.Button"  id="Save" name="Save" label="Save" value="Save"/></td>
				</tr>
				
			</table>
   	  
	</form>	
</div>
</fieldset> 
<?php if($this->generated==1){?>	
 <div runat="server" id="divLogin"  style="display:block; z-index: 153; position: fixed; left: 20%; width: 1140px; top:28%">
	<div runat="server" id="divLogin2"  style="display:block; opacity:1.0; z-index: 150; position: relative; left: 0%; height: 100%; width: 100%; top: 0%;"> </div>
		<div id="scroll" style="height: 600px; width: 100%; overflow:auto;">
			<asp:Panel runat="server" ID="popupLogin">
				<asp:Panel runat="server" ID="popupContent1">
					<table style="height: 125px; width: 90%; background-color: #FFFFFF;" border="3" frame="box" >
						<tbody>
							<tr>
								<td >
									<div id="contentdiv" >
										<form action=""  dojoType="dijit.form.Form" method="POST">
										<?php $lobjcompanystudentdetails = new Registrations_Model_DbTable_Companystudentdetails();
										$Amountinwords = $lobjcompanystudentdetails->fnconvertnumbertowords( $this->receiptdetails['0']['totalamount']);?>
										<input type="hidden" name="Totalamount" id="Totalamount" value="<?php echo $this->$receiptdetails['0']['totalamount'];?>">
										<input type="hidden" name="rcn" id="rcn" value="<?php echo $this->receiptnum;?>">
										<input type="hidden" name="flag" id="flag" value="<?php echo $this->companyflag;?>">
										<input type="hidden" name="CompanyName" id="CompanyName" value="<?php echo $this->receiptdetails['0']['operatorname'];?>">
										<input type="hidden" name="Contact" id="Contact" value="<?php echo $this->receiptdetails['0']['ContactName'];?>">
										<input type="hidden" name="Address" id="Address" value="<?php echo $this->receiptdetails['0']['Address'];?>">
										<input type="hidden" name="Postcode" id="Postcode" value="<?php echo $this->receiptdetails['0']['Postcode'];?>">
										<input type="hidden" name="StateName" id="StateName" value="<?php echo $this->receiptdetails['0']['StateName'];?>">
										<input type="hidden" name="CountryName" id="CountryName" value="<?php echo $this->receiptdetails['0']['CountryName'];?>">
										<input type="hidden" name="Phone" id="Phone" value="<?php echo $this->receiptdetails['0']['workphone'];?>">
										<input type="hidden" name="Fax" id="Fax" value="<?php echo $this->receiptdetails['0']['Fax'];?>">
										<input type="hidden" name="Email" id="Email" value="<?php echo $this->receiptdetails['0']['Email'];?>">
										<input type="hidden" name="mailsend" id="mailsend" value="1">	
											<table border="0" width="100%" style="font-size:104%;">
												<tr></tr>
												<tr></tr>					
							                	<tr>								
							                     	<td align="center" colspan="3"><b>Islamic Banking and Finance Institute of Malaysia(IBFIM)</b></td>
							                    </tr>
							                    <tr></tr>
							                    <tr  style="height:20px;">
							                     	<td align="left" width="40%"><b>No. <?php echo $this->receiptnum;?></b></td>
							                     	<td align="left" style="font-size:130%;"><b><u><i>RECEIPT</i></u></b></td>
							                     	<td align="left"><b>Date:<?php echo date("d-m-Y");?></b></td>
							                    </tr>
							                    <tr  style="height:20px;">
							                    	<td align="left" colspan="3"><i>Received With Thanks from:<b><?php echo $this->receiptdetails['0']['operatorname'];?></b></i></td>
							                    </tr>
							              
							                    <tr >
							                    	<td align="left" colspan="3"><i>Address :<?php echo $this->receiptdetails['0']['Address'];?></i></td>
							                    </tr>
							                    <tr  style="height:20px;">
							                    	<td align="left" colspan="3">
							                    	<i>
	                    								<div  style="padding-left:50px">
						                    				<?php
						                    			 	echo $this->receiptdetails['0']['StateName'];echo "<br/>";
						                    			 	echo $this->receiptdetails['0']['CountryName'];echo "<br/>";
						                    			 	echo "Postcode : ";echo $this->receiptdetails['0']['Postcode'];echo "<br/>";
						                    			 	echo "workphone : ";echo $this->receiptdetails['0']['workphone'];echo "<br/>";
						                    			 	echo "Email : ";echo $this->receiptdetails['0']['Email'];echo "<br/>";
						                    			  	echo "Fax : ";if(isset($this->receiptdetails['0']['Fax'])) echo $this->BatchAddressdetails['0']['Fax']; else echo "-"; echo "<br/>";
								                    		echo "Attn : ";echo $this->receiptdetails['0']['ContactName'];echo "<br/>";
						                    			  	?>
							                    		</div>
							                    	</i></td>
							                    </tr>
							                    <tr style="height:20px;">
							                    	<td align="left" colspan="3"><i>a Sum of Ringgit Malaysia: <?php echo $Amountinwords.'  Only.'; ?></i></td>
							                    </tr>
							                    <tr style="height:20px;">
							                    	<td align="left" colspan="3"><i>By: <?php if($this->PaymentMode==1)echo "Cheque";else echo "Cash";?>.</i></td>
							                    </tr>
							                    <tr style="height:20px;">
							                    	<td align="left" colspan="3"><i>towards Examination Fees as detail bellow.</i></td>
							                    </tr>
							                    <tr></tr>
											</table>	
															
											<table border="2" width="100%" align='center' padding="100">
												<tr>
													<th style="text-align:center;"><b>SL NO</b></th>
													<th style="text-align:center;"><b>BatchId</b></th>							
													<th style="text-align:center;"><b>Invoice Number</b></th>
													<th style="text-align:center;"><b>Batch Amount</b></th>
													<th style="text-align:center;"><b>Outstanding Amount</b></th>							
													<th style="text-align:center;"><b>Received Amount</b></th>
													<th style="text-align:center;"><b>Balance</b></th>
												</tr>
												<?php 
												$count=1;
												//echo "<pre/>";print_r($this->receiptdetails);
												$this->lobjdistributionModel = new Registrations_Model_DbTable_Paymentdistribution();//distribution model
												foreach($this->receiptdetails as $receiptdetails){
												$sum=0;$outstandingamountafterinsert=0;$outstandingamount=0;$balance=0;
												$sum=$this->lobjdistributionModel->fngetamount($receiptdetails['BatchId'],$receiptdetails['Idcompany']);
												$outstandingamountafterinsert=($receiptdetails['batchamount']-$sum['0']['sum']);
												$outstandingamount=$outstandingamountafterinsert+$receiptdetails['Amount'];
												$balance=$outstandingamount-$receiptdetails['Amount'];
												?>
												 <tr>
													<td align="center"><?php echo $this->escape($count);?></td>
											      	<td ><?php echo $this->escape($receiptdetails['BatchId']);?></td>	    		
													<td ><?php echo $this->escape($receiptdetails['InvoiceNum']);?></td>	    		       
												  	<td align="right"><?php echo $this->escape(number_format($receiptdetails['batchamount'],2));?></td>
												  	<td align="right"><?php echo $this->escape(number_format($outstandingamount,2));?></td>	    		
													<td align="right"><?php echo $this->escape(number_format($receiptdetails['Amount'],2));?></td>	    		       
												 	<td align="right"><?php echo $this->escape(number_format($balance,2));?></td>
												</tr>
												<?php $count++;}
												?>
												</table>
												<table border="0" width="100%" align='center'>
												<tr><td><?php echo "<br/>";?></td></tr>
												<tr >             						   
													<td align="center" ><b>Total Amount Received : <?php echo number_format(($this->receiptdetails['0']['totalamount']),2);?><b></td>
												</tr>
												<tr></tr>
												</table>
												<table border="0" width="100%" align='center'>
												<tr><td><?php echo "<br/>";?></td></tr>
												<tr >             						   
													<td  style="padding-left:90%" ><b>Signature<b></td>
													
												</tr>
												<?php if($this->PaymentMode==1){?>
												<tr>
													<td>*This Receipt is valid subject to realisation of Cheque</td>
												</tr>
												<?php }?>
											    </table>
											   
											    <table border="0" width="100%" align='center'>			   
													<tr>
														<td align="right"><button type="submit"  dojotype="dijit.form.Button"  id="Export" name="Export" value="1" >Send Mail</button> &nbsp;
															<input type="submit" id="Print"  dojotype="dijit.form.Button" label="Print Receipt" name="Print"  value="Print"  />
															<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Close"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'registrations','controller'=>'paymentdistribution', 'action'=>'index'),'default',true);?>';" />	
														</td>
																        
			                                       	</tr>
			                                       	<tr>
			                                       	<td><?php echo "<br/>";?><?php echo "<br/>";?>	</td>
			                                       	</tr>
		                                	   </table>		                                	    
										</form>
									</div>					                                      
								</td>
							</tr>
							<tr>
								<td colspan="2" align="left"><asp:Label ID="lblmandatory" runat="server" Text="* Mandatory Information Required" class="LeftLabelStyle" Width="350px" /></td>
							</tr>
						</tbody>
		 			</table>
				</asp:Panel>
			</asp:Panel>
		</div>
	</div>
</div>
	<!-- 
	Islamic Banking and Finance Institute of Malaysia(IBFIM)
	3rd Floor, Menara Takaful Malaysia,
Jalan Sultan Sulaiman,
50000 Kuala Lumpur
Malaysia
	
	
	
	
	 -->
 <?php }?>
 
</body>
</html>
