<head>
<style>
.HighlightableRow:hover
{
  background-color: red;
}


div.opnames { 
  width:165px;
  background-color:white;
  border:1px solid #888;
  margin:0px;
  padding:0px; 
  cursor:pointer;
  overflow:auto;  
}
</style>
</head>

<body class='claro'>

<?php if($this->generated==1){?>	
 <div runat="server" id="divLogin"  style="display:block; z-index: 153; position: fixed; left: 20%; width: 1140px; top:28%">
	<div runat="server" id="divLogin2"  style="display:block; opacity:1.0; z-index: 150; position: relative; left: 0%; height: 100%; width: 100%; top: 0%;"> </div>
		<div id="scroll" style="height: 600px; width: 100%; overflow:auto;">
			<asp:Panel runat="server" ID="popupLogin">
				<asp:Panel runat="server" ID="popupContent1">
					<table style="height: 125px; width: 90%; background-color: #FFFFFF;" border="3" frame="box" >
						<tbody>
							<tr>
								<td >
									<div id="contentdiv" >
										<form action=""  dojoType="dijit.form.Form" method="POST">
										<?php $lobjcompanystudentdetails = new Registrations_Model_DbTable_Companystudentdetails();
										$Amountinwords = $lobjcompanystudentdetails->fnconvertnumbertowords( $this->receiptdetails['0']['totalamount']);?>
										<input type="hidden" name="Totalamount" id="Totalamount" value="<?php echo $this->receiptdetails['0']['totalamount'];?>">
										<input type="hidden" name="rcn" id="rcn" value="<?php echo $this->receiptnum;?>">
										<input type="hidden" name="flag" id="flag" value="<?php echo $this->companyflag;?>">
										<input type="hidden" name="CompanyName" id="CompanyName" value="<?php echo $this->receiptdetails['0']['operatorname'];?>">
										<input type="hidden" name="Contact" id="Contact" value="<?php echo $this->receiptdetails['0']['ContactName'];?>">
										<input type="hidden" name="Address" id="Address" value="<?php echo $this->receiptdetails['0']['Address'];?>">
										<input type="hidden" name="Postcode" id="Postcode" value="<?php echo $this->receiptdetails['0']['Postcode'];?>">
										<input type="hidden" name="StateName" id="StateName" value="<?php echo $this->receiptdetails['0']['StateName'];?>">
										<input type="hidden" name="CountryName" id="CountryName" value="<?php echo $this->receiptdetails['0']['CountryName'];?>">
										<input type="hidden" name="Phone" id="Phone" value="<?php echo $this->receiptdetails['0']['workphone'];?>">
										<input type="hidden" name="Fax" id="Fax" value="">
										<input type="hidden" name="Email" id="Email" value="<?php echo $this->receiptdetails['0']['Email'];?>">
										<input type="hidden" name="mailsend" id="mailsend" value="1">	
											<table border="0" width="100%" style="font-size:104%;">
												<tr></tr>
												<tr></tr>					
							                	<tr>								
							                     	<td align="center" colspan="3"><b>Islamic Banking and Finance Institute of Malaysia(IBFIM)</b></td>
							                    </tr>
							                    <tr></tr>
							                    <tr  style="height:20px;">
							                     	<td align="left" width="40%"><b>No. <?php echo $this->receiptnum;?></b></td>
							                     	<td align="left" style="font-size:130%;"><b><u><i>RECEIPT</i></u></b></td>
							                     	<td align="left"><b>Date:<?php echo date("d-m-Y");?></b></td>
							                    </tr>
							                    <tr  style="height:20px;">
							                    	<td align="left" colspan="3"><i>Received With Thanks from:<b><?php echo $this->receiptdetails['0']['operatorname'];?></b></i></td>
							                    </tr>
							              
							                    <tr >
							                    	<td align="left" colspan="3"><i>Address :<?php echo $this->receiptdetails['0']['Address'];?></i></td>
							                    </tr>
							                    <tr  style="height:20px;">
							                    	<td align="left" colspan="3">
							                    	<i>
	                    								<div  style="padding-left:50px">
						                    				<?php
						                    			 	echo $this->receiptdetails['0']['StateName'];echo "<br/>";
						                    			 	echo $this->receiptdetails['0']['CountryName'];echo "<br/>";
						                    			 	echo "Postcode : ";echo $this->receiptdetails['0']['Postcode'];echo "<br/>";
						                    			 	echo "workphone : ";echo $this->receiptdetails['0']['workphone'];echo "<br/>";
						                    			 	echo "Email : ";echo $this->receiptdetails['0']['Email'];echo "<br/>";
						                    			  	echo "Fax : ";if(isset($this->receiptdetails['0']['Fax'])) echo $this->BatchAddressdetails['0']['Fax']; else echo "-"; echo "<br/>";
								                    		echo "Attn : ";echo $this->receiptdetails['0']['ContactName'];echo "<br/>";
						                    			  	?>
							                    		</div>
							                    	</i></td>
							                    </tr>
							                    <tr style="height:20px;">
							                    	<td align="left" colspan="3"><i>a Sum of Ringgit Malaysia: <?php echo $Amountinwords.'  Only.'; ?></i></td>
							                    </tr>
							                    <tr style="height:20px;">
							                    	<td align="left" colspan="3"><i>By: <?php if($this->PaymentMode==1)echo "Cheque";else echo "Cash";?>.</i></td>
							                    </tr>
							                    <tr style="height:20px;">
							                    	<td align="left" colspan="3"><i>towards Examination Fees as detail bellow.</i></td>
							                    </tr>
							                    <tr></tr>
											</table>	
															
											<table border="2" width="100%" align='center' padding="100">
												<tr>
													<th style="text-align:center;"><b>SL NO</b></th>
													<th style="text-align:center;"><b>BatchId</b></th>							
													<th style="text-align:center;"><b>Invoice Number</b></th>
													<th style="text-align:center;"><b>Batch Amount</b></th>
													<th style="text-align:center;"><b>Outstanding Amount</b></th>							
													<th style="text-align:center;"><b>Received Amount</b></th>
													<th style="text-align:center;"><b>Balance</b></th>
												</tr>
												<?php 
												$count=1;
												
												$this->lobjdistributionModel = new Registrations_Model_DbTable_Paymentdistribution();//distribution model
												foreach($this->receiptdetails as $receiptdetails){
												$sum=0;$outstandingamountafterinsert=0;$outstandingamount=0;$balance=0;
												$sum=$this->lobjdistributionModel->fngetamount($receiptdetails['BatchId'],$receiptdetails['Idcompany']);
												//echo "<pre/>";print_r($sum);die();
                                                                                                $outstandingamountafterinsert=($receiptdetails['batchamount']-$sum['0']['sum']);
												$outstandingamount=$outstandingamountafterinsert+$receiptdetails['Amount'];
												$balance=$outstandingamount-$receiptdetails['Amount'];
												?>
												 <tr>
													<td align="center"><?php echo $this->escape($count);?></td>
											      	<td ><?php echo $this->escape($receiptdetails['BatchId']);?></td>	    		
													<td ><?php echo $this->escape($receiptdetails['InvoiceNum']);?></td>	    		       
												  	<td align="right"><?php echo $this->escape(number_format($receiptdetails['batchamount'],2));?></td>
												  	<td align="right"><?php echo $this->escape(number_format($outstandingamount,2));?></td>	    		
													<td align="right"><?php echo $this->escape(number_format($receiptdetails['Amount'],2));?></td>	    		       
												 	<td align="right"><?php echo $this->escape(number_format($balance,2));?></td>
												</tr>
												<?php $count++;}
												?>
												</table>
												<table border="0" width="100%" align='center'>
												<tr><td><?php echo "<br/>";?></td></tr>
												<tr >             						   
													<td align="center" ><b>Total Amount Received : <?php echo number_format(($this->receiptdetails['0']['totalamount']),2);?><b></td>
												</tr>
												<tr></tr>
												</table>
												<table border="0" width="100%" align='center'>
												<tr><td><?php echo "<br/>";?></td></tr>
												<tr >             						   
													<td  style="padding-left:90%" ><b>Signature<b></td>
													
												</tr>
												<?php if($this->PaymentMode==1){?>
												<tr>
													<td>*This Receipt is valid subject to realisation of Cheque</td>
												</tr>
												<?php }?>
											    </table>
											   
											    <table border="0" width="100%" align='center'>			   
													<tr>
														<td align="right"><button type="submit"  dojotype="dijit.form.Button"  id="Export" name="Export" value="1" >Send Mail</button> &nbsp;
															<input type="submit" id="Print"  dojotype="dijit.form.Button" label="Print Receipt" name="Print"  value="Print"  />
															<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Close"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'registrations','controller'=>'paymentdistribution', 'action'=>'index'),'default',true);?>';" />	
														</td>
																        
			                                       	</tr>
			                                       	<tr>
			                                       	<td><?php echo "<br/>";?><?php echo "<br/>";?>	</td>
			                                       	</tr>
		                                	   </table>		                                	    
										</form>
									</div>					                                      
								</td>
							</tr>
							<tr>
								<td colspan="2" align="left"><asp:Label ID="lblmandatory" runat="server" Text="* Mandatory Information Required" class="LeftLabelStyle" Width="350px" /></td>
							</tr>
						</tbody>
		 			</table>
				</asp:Panel>
			</asp:Panel>
		</div>
	</div>
</div>
	
	
	 
 <?php }?>
 
</body>
</html>
