<script type="text/javascript">

function fnGetOperatorNames(){
	namestring=document.getElementById("Takafuldrop").value;
	if(namestring!=""){
			var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/general-setup/takafuloperator/getakafulnames/namestring/"+namestring,
					handleAs:'text',
					load:function(data){ 
						//AutoFillNextEditableDropDown("opnames",data);
						document.getElementById("opnames").innerHTML=data;
					}
			   }
			dojo.xhrGet(xhrArgs);
	}
}

function fnsetvalue(opname){
	document.getElementById("Takafuldrop").value=opname;
	document.getElementById("opnames").innerHTML="";
}

</script>

<style>
.HighlightableRow:hover
{
  background-color: red;
}


div.opnames { 
  width:165px;
  background-color:white;
  border:1px solid #888;
  margin:0px;
  padding:0px; 
  cursor:pointer;
  overflow:auto;  
}
.regwidth{
	 width:3%;
}
}
</style>

<fieldset>
    <legend><?php echo $this->translate("Takaful").' '.$this->translate("Operator").' '.$this->translate("search");?></legend>
                    <form action="" method="POST">
                            <table width="100%">
                                <tr>
                                    <td><?php echo $this->translate("Takaful").' '.$this->translate("Name");?></td>
                                    <td><?php echo $this->lobjform->Takafuldrop;?><div id="opnames" class="opnames"></td>
                                    <td><?php echo $this->translate("Takaful").' '.$this->translate("Short").' '.$this->translate("Name");?></td>
                                    <td><?php echo $this->lobjform->TakafulSN;?></td>
                                     <td><?php echo $this->translate("Takaful").' '.$this->translate("ID");?></td>
                                    <td><?php echo $this->lobjform->TakafulId;?></td>
                                </tr>
                               
                                <td align = "center" colspan = "6">

											<?php echo $this->lobjform->Search;?>
											<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Add"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'general-setup','controller'=>'takafuloperator', 'action'=>'newtakafuloperator'),'default',true);?>';" />	
											<?php echo $this->lobjform->Clear;?>
								</td>
							    
                                </tr>
                        </table>
                    </form>	
    </fieldset> 
    <br/>
   <?php  if (count($this->count)):  $cnnt = 0; ?>
	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
	    	<tr>
	        	<th><?php echo $this->translate("Takaful").' '.$this->translate("Operator").' '.$this->translate("Name");?></th>
	        	<th><?php echo $this->translate("Takaful").' '.$this->translate("Operator").' '.$this->translate("Short").' '.$this->translate("Name");?></th>
	        	<th><?php echo $this->translate("Address");?></th>
	        	<th><?php echo $this->translate("Registered").' '.$this->translate("For").' '.$this->translate("Pay").' '.$this->translate("Later");?></th>
	    	    <th><?php echo $this->translate("Registered").' '.$this->translate("For").' '.$this->translate("In-house");?></th>
			</tr>
	    	
	        <?php if (count($this->paginator)): $cnnt++  ?>
	        <?php foreach ($this->paginator as $lobjprogram): ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	<td><a href="<?php echo $this->baseUrl();?>/general-setup/takafuloperator/edittakafuloperator/id/<?php echo $this->escape($lobjprogram['idtakafuloperator']);?>" ><?php print_r($this->escape($lobjprogram['TakafulName']));?></a></td>
	        	<td><?php print_r($this->escape($lobjprogram['TakafulShortName']));?></td>
	        	<td><?php print_r($this->escape($lobjprogram['paddr1']));?></td>
	        	<?php if($lobjprogram['paymenttype']==181){ ?>
	        	<td><a href="<?php echo $this->baseUrl();?>/general-setup/takafuloperator/takafultypepaymentchange/id/<?php echo $this->escape($lobjprogram['idtakafulpaymenttype']);?>" ><?php echo "Yes";?></a></td>
	        	<?php }else{?>
	        	<td><a href="<?php echo $this->baseUrl();?>/general-setup/takafuloperator/takafultypepaymentchange/id/<?php echo $this->escape($lobjprogram['idtakafulpaymenttype']);?>" ><?php echo "No"?></a></td>
	        	<?php }?>
				
				
				<?php if($lobjprogram['TakafulField6']==1){ ?>
	        	<td><?php echo "Yes"?></td>
	        	<?php }else{?>
	        	<td><?php echo "No"?></td>
	        	<?php }?>
				
				
				
				
	            <?php endforeach; ?>
	            <?php endif; 
	            if (!count($this->paginator)):?>
	            	<tr>
	            	<td colspan="4" align="center">No Takaful Operators found for the Search Criteria.</td>
	            	
	            	</tr>
	           <?php  endif; ?>
			</tr>
			<tr>
	        	<td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>
		</table>
	</fieldset>
	<?php endif;?>