<script type="text/javascript">

	dojo.addOnLoad(function() {
		
		dijit.byId('state').set('value','');
		dijit.byId('state').set('placeHolder','Select State');

		

	});


	function fnGetCountryStateList(idCountry){ 
		if(idCountry != "" || idCountry != undefined)
			{ 
				var xhrArgs = {
						url: "<?php echo $this->baseUrl();?>"+"/general-setup/user/getcountrystateslist/idCountry/"+idCountry,
						handleAs:'json',
						load:function(data){ 
							AutoFillNextEditableDropDown("state",data); 
						}
				   }
				dojo.xhrGet(xhrArgs); 
			} 
		} 

	function fnGetCityList(idCountry){ 
		
		if(idCountry != "" || idCountry != undefined)
			{  
			var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/general-setup/center/getcitylist/idCountry/"+idCountry,
					handleAs:'json',
					load:function(data){ 
						AutoFillNextEditableDropDown("city",data); 
					}
			   }
			dojo.xhrGet(xhrArgs);  
				
			} 
		} 
	
			
		function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
			dijit.byId(EditableDropDownId).setValue("");
			var ddwidget = dijit.byId(EditableDropDownId);
			ddwidget.setAttribute('disabled', false);
	    	var options = {
						label:"name",
						identifier:"key",
						items:JSONText
					  };
	    	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
		}

		function setlogin(abc)
		{
			dijit.byId('LoginId').set('value',abc);
			
		}	

		function duplicatetakafulname(takafullname)
		{   

			//alert(takafullname);
			
			if(takafullname!='')
			{  
				var xhrArgs = { 
						
	 							url: "<?php echo $this->baseUrl();?>"+"/general-setup/takafuloperator/fnajaxgettakafullnames/takafullname/"+takafullname,
	 							handleAs:'text',
	 							load:function(data)
	 							{ 
	 							 if(data == '')
								  {
								  }
								 else
								  {
									 alert(data);
									 dijit.byId("TakafulName").setValue('');
									 dijit.byId("TakafulName").focus();
								  }
	 			                }
	 	                      }
	 	         dojo.xhrGet(xhrArgs);
	         }
		}	

		function duplicatetakafull(takafull)
		{   

			//alert(takafull);
			
			if(takafull!='')
			{  
				var xhrArgs = { 
						
	 							url: "<?php echo $this->baseUrl();?>"+"/general-setup/takafuloperator/fnajaxgettakafull/takafull/"+takafull,
	 							handleAs:'text',
	 							load:function(data)
	 							{ 
	 							 if(data == '')
								  {
								  }
								 else
								  {
									 alert(data);
									 dijit.byId("email").setValue('');
									 dijit.byId("email").focus();
								  }
	 			                }
	 	                      }
	 	         dojo.xhrGet(xhrArgs);
	         }
		}	
</script> 
<fieldset>
    <legend><?php echo $this->translate("Takaful").' '.$this->translate("Operator");?></legend>
    
                <Form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">
                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>
                    <table class="table" width="100%" >
                        <tr>
                            <th colspan = "4"><?php echo $this->translate("Takaful").' '.$this->translate("Operator").' '.$this->translate("Name");?></th>
                        </tr>
                        <tr>
                            <td ><?php echo $this->translate("Takaful").' '.$this->translate("Name");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjTakafuloperatorForm->TakafulName;?>
                            	<?php echo $this->lobjTakafuloperatorForm->UpdDate;?>
                            	<?php echo $this->lobjTakafuloperatorForm->UpdUser;?></td>
                            <td ><?php echo $this->translate("Takaful").' '.$this->translate("Short").' '.$this->translate("Name");?><span class="reqMark"></span></td>
                            <td  ><?php echo $this->lobjTakafuloperatorForm->TakafulShortName;?></td>
                        </tr>
                     <?php echo $this->lobjTakafuloperatorForm->NumberofSeat;?>
                      <tr>                                                          
                          <td ><?php echo $this->translate("Address");?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjTakafuloperatorForm->paddr1;?></td>
                          <td ><?php echo $this->translate("Email");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjTakafuloperatorForm->email;?></td>
                       </tr>
                       <tr>                                                     
                            <td ><?php echo $this->translate("Country");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjTakafuloperatorForm->country;?></td>
                            <td ><?php echo $this->translate("State");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjTakafuloperatorForm->state;?></td>
                        </tr>
                        
                        
                        <tr>                                                        
                            <td ><?php echo $this->translate("City");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjTakafuloperatorForm->city;?></td>
                            <td ><?php echo $this->translate("Zip Code");?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjTakafuloperatorForm->zipCode;?></td>
                        </tr>
                        <tr> 
                            
                            <td><?php echo $this->translate("Work Phone");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjTakafuloperatorForm->workcountrycode;?><?php echo $this->lobjTakafuloperatorForm->workstatecode;?><?php echo $this->lobjTakafuloperatorForm->workphone;?></td>
                            <td ><?php echo $this->translate("Business Type");?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjTakafuloperatorForm->Businesstype;?></td>
                       
                        </tr>
                        
                        
                         <tr>	<?php if($this->TakafulField1){?>				
						<td><?php echo $this->translate($this->TakafulField1);?><span class="reqMark"></span></td>
						<td><?php echo $this->lobjTakafuloperatorForm->TakafulField1;?></td>
								<?php }?>

<td><?php echo $this->translate("Show In Individual");?><span class="reqMark"></span></td>
						<td><?php echo $this->lobjTakafuloperatorForm->Active;?></td>

					</tr>	
					<tr>	


						<?php if($this->Takafulfield2){?>
						<td><?php echo $this->translate($this->TakafulField2);?><span class="reqMark"></span></td>
						<td><?php echo $this->lobjTakafuloperatorForm->TakafulField2;?></td>
						<?php }?>

						<?php if($this->Takafulfield3){?>					
						<td><?php echo $this->translate($this->TakafulField3);?><span class="reqMark"></span></td>
						<td><?php echo $this->lobjTakafuloperatorForm->TakafulField3;?></td>
							<?php }?>
						
							
					</tr>	
						<tr>

<?php if($this->Takafulfield4){?>		
						<td><?php echo $this->translate($this->TakafulField4);?><span class="reqMark"></span></td>
						<td><?php echo $this->lobjTakafuloperatorForm->TakafulField4;?></td>
						<?php }?>
							<?php if($this->Takafulfield5){?>							
						<td><?php echo $this->translate($this->TakafulField5);?><span class="reqMark"></span></td>
						<td><?php echo $this->lobjTakafuloperatorForm->TakafulField5;?></td>
						<?php }?>
						
							
					</tr>	
						<tr>	


<?php if($this->Takafulfield6){?>	
						<td><?php echo $this->translate($this->TakafulField6);?><span class="reqMark"></span></td>
						<td><?php echo $this->lobjTakafuloperatorForm->TakafulField6;?></td>
						<?php }?>
					
							<?php if($this->Takafulfield7){?>	
						<td><?php echo $this->translate($this->TakafulField7);?><span class="reqMark"></span></td>
						<td><?php echo $this->lobjTakafuloperatorForm->TakafulField7;?></td>
						<?php }?>
						
							
					</tr>	
						<tr>	

					<?php if($this->Takafulfield8){?>	
						<td><?php echo $this->translate($this->TakafulField8);?><span class="reqMark"></span></td>
						<td><?php echo $this->lobjTakafuloperatorForm->TakafulField8;?></td>
						<?php }?>
					
							<?php if($this->Takafulfield9){?>	
						<td><?php echo $this->translate($this->TakafulField9);?><span class="reqMark"></span></td>
						<td><?php echo $this->lobjTakafuloperatorForm->TakafulField9;?></td>
						<?php }?>
						
							
					</tr>
					<tr>
                            <th colspan = "4"><?php echo $this->translate("Contact").' '.$this->translate("Details").' '.$this->translate("Name");?></th>
                    </tr>
					    <tr> 
					        <td><?php echo $this->translate("Contact").' '.$this->translate("Person");?><span class="reqMark">*</span></td>
							<td><?php echo $this->lobjTakafuloperatorForm->ContactName;?></td>
                            <td><?php echo $this->translate("Contact").' '.$this->translate("Cell");?><span class="reqMark">*</span></td>
							<td><?php echo $this->lobjTakafuloperatorForm->ContactCell;?></td>
                       </tr>
                       
                        <tr>     
                            <td ><?php echo $this->translate("Contact Email");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjTakafuloperatorForm->ContactEmail;?></td>
                            <td></td>
                            <td></td>

                       </tr>
                       <tr>
                            <th colspan = "4"><?php echo $this->translate("Login").' '.$this->translate("Credentials");?></th>
                        </tr>
					 <tr> 
					         <td><?php echo $this->translate("Login Id");?><span class="reqMark">*</span></td>
							<td><?php echo $this->lobjTakafuloperatorForm->LoginId;?></td>
                              <td><?php echo $this->translate("Password");?><span class="reqMark">*</span></td>
							<td><?php echo $this->lobjTakafuloperatorForm->Password;?></td>
                     </tr>
					   <tr> 
					         <td><?php echo $this->translate("Enable In-house");?></td>
							 <td><input type="checkbox" name="TakafulField6" id="TakafulField6" class="NormalBtn" dojotype="dijit.form.CheckBox"  /></td>
                             <td></td>
							 <td></td>
                     </tr>
                     
                     
               			<tr>
                            <td colspan=4 align = "right"><?php echo $this->lobjTakafuloperatorForm->Save;?>
							<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'general-setup','controller'=>'takafuloperator', 'action'=>'index'),'default',true);?>';" />	
                            </td> 
                               
                        </tr>           
                        
              </table>
            
            </Form>

</fieldset>
