<?php
/*
 *  @author Suliana
 *  @created May 16, 2011
 */

 //get session user id
//   $auth = Zend_Auth::getInstance(); 
//   $user_id = $auth->getIdentity()->id; 
?>


<div id="vertmenu">
	<ul>  
		<li><h1>Pre Application Set-up</h1></li>
		<li><a href="<?php echo $this->url(array('module'=>'application','controller'=>'placement-test','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Placement Test"); ?></a></li>
		<li><a href="<?php echo $this->url(array('module'=>'application','controller'=>'entry-requirement','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Entry Requirement"); ?></a></li>
	    <li><a href="<?php echo $this->url(array('module'=>'application','controller'=>'education-level','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Education Level"); ?></a></li>
	    <li><a href="<?php echo $this->url(array('module'=>'application','controller'=>'document-type','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Document Type"); ?></a></li>
	    
	</ul>
	<br />
	<ul>  
	<li><h1>Application</h1></li>
	    <!--li><a href="<?php echo $this->url(array('module'=>'application','controller'=>'placement-test','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Placement Test"); ?></a></li>
	    <li><a href="<?php echo $this->url(array('module'=>'application','controller'=>'education-level','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Qualification Item"); ?></a></li>
	    <li><a href="<?php echo $this->url(array('module'=>'application','controller'=>'entry-requirement','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Entry Requirement"); ?></a></li-->
<!--	    <li><a href="<?php echo $this->url(array('module'=>'application','controller'=>'credittransfer','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Credit Transfer"); ?></a></li>-->
	    <!--<li><a href="<?php echo $this->url(array('module'=>'application','controller'=>'offer-letter-template','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Offer Letter Template"); ?></a></li>-->
	    <li><a href="<?php echo $this->url(array('module'=>'application','controller'=>'online-application','action'=>'index'),'default',true) ?>" target="_blank"><?php echo $this->translate("Online Application"); ?></a></li>
	    <li><a href="<?php echo $this->url(array('module'=>'application','controller'=>'confirmation','action'=>'index'),'default',true) ?>" target="_blank"><?php echo $this->translate("Confirmation"); ?></a></li>
	    <li><a href="<?php echo $this->url(array('module'=>'application','controller'=>'application-list','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Application Summary"); ?></a></li>
	   <!--  <li><a href="<?php echo $this->url(array('module'=>'application','controller'=>'manual','action'=>'list'),'default',true) ?>"><?php echo $this->translate("Application List"); ?></a></li>--> 
	   <li><a href="<?php echo $this->url(array('module'=>'application','controller'=>'manual','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Manage Application"); ?></a></li>
	   <li><a href="<?php echo $this->url(array('module'=>'application','controller'=>'manual-student','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Manage Student"); ?></a></li>
		<?php //if(!$user_id){?>
	    <li><a href="<?php echo $this->url(array('module'=>'application','controller'=>'placement-test','action'=>'mark-entry'),'default',true) ?>"><?php echo $this->translate("Mark Entry (Placement Test)"); ?></a></li>
	    <?php //}?>
	    <li><a href="<?php echo $this->url(array('module'=>'application','controller'=>'migration','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Migration"); ?></a></li>
	</ul>
</div>

					    