
<div id="vertmenu">
   <ul>  
    <li><h1><?php echo $this->translate("General Setup");?></h1></li>
    	<li>
    		<a href="<?php echo $this->url(array('module'=>'exam','controller'=>'user-setup','action'=>'user'),'default',true) ?>"><?php echo $this->translate("Examiner Access"); ?></a>
    	</li>
    	<li>
    		<a href="<?php echo $this->url(array('module'=>'exam','controller'=>'user-setup','action'=>'tagging'),'default',true) ?>"><?php echo $this->translate("Examiner Tagging"); ?></a>
    	</li>
   </ul>
   <br>
	<ul>  
	    <li><h1><?php echo $this->translate("Exam Setup");?></h1></li>  	
	      <li><a href="<?php echo $this->url(array('module'=>'exam','controller'=>'grade','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Grade"); ?></a></li>    
	    
	    
		<li><a href="<?php echo $this->url(array('module'=>'exam','controller'=>'asscomponent','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Mark Distribution"); ?></a></li>
		<li><a href="<?php echo $this->url(array('module'=>'exam','controller'=>'markadjsetup','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Mark Adjustment"); ?></a></li>
	</ul>
	 <br>
	<ul>  
    <li>
    	<h1><?php echo $this->translate("Exam");?></h1></li>  
        <li><a href="<?php echo $this->url(array('module'=>'exam','controller'=>'examsitting','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Exam Sitting"); ?></a></li>
    	<li><a href="<?php echo $this->url(array('module'=>'exam','controller'=>'markentry','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Mark Entry"); ?></a></li>
    	<li><a href="<?php echo $this->url(array('module'=>'exam','controller'=>'defer','action'=>'index-student'),'default',true) ?>"><?php echo $this->translate("Exam Defer (Student)"); ?></a></li>
    	<li><a href="<?php echo $this->url(array('module'=>'exam','controller'=>'defer','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Exam Defer (Admin)"); ?></a></li>
    	<li><a href="<?php echo $this->url(array('module'=>'exam','controller'=>'result','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Transcript"); ?></a></li>
    	
  
   </ul>
	
  
</div>



