<?php
/*
 *  @author Alif
 *  @created Jul 17, 2011
 */
?>
<div id="vertmenu">
	<ul>  
		<li><h1>general set-up</h1></li>
	    <li><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'university','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Organization"); ?></a></li>
	    <li><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'country','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Country/State"); ?></a></li>
	    <!-- li><a href="<?php echo $this->url(array('module'=>'system-setup','controller'=>'module','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Configuration"); ?></a></li-->
	    <li><a href="<?php echo $this->url(array('module'=>'system-setup','controller'=>'user','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Users"); ?></a></li>
	    <li><a href="<?php echo $this->url(array('module'=>'language-setup','controller'=>'index','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Language"); ?></a></li>
	    <li><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'date','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Date"); ?></a></li>
	</ul>
	<br />
	<ul>  
		<li><h1>Program Set-up</h1></li>
		 <li><a href="<?php echo $this->url(array('module'=>'anr-setup','controller'=>'award','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Programme"); ?></a></li>   	 
	</ul>
	<br />
	<ul>  
		<li><h1>Course Set-up</h1></li>
		<li><a href="<?php echo $this->url(array('module'=>'anr-setup','controller'=>'course','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Course"); ?></a></li>
	</ul>
	<br />
	
	<ul>  
		<li><h1>Pre Registration Set-up</h1></li>
		<li><a href="<?php echo $this->url(array('module'=>'anr-setup','controller'=>'semester','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Semester Set-up"); ?></a></li>
		<li><a href="<?php echo $this->url(array('module'=>'anr-setup','controller'=>'credit-transfer','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Credit Transfer Set-up"); ?></a></li>
	</ul>
	
	<br />
	<ul>  
		<li><h1>Policy Set-up</h1></li>
		<li><a href="<?php echo $this->url(array('module'=>'anr-setup','controller'=>'policy','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Policy Set-up"); ?></a></li>
		<li><a href="<?php echo $this->url(array('module'=>'anr-setup','controller'=>'exception','action'=>'index-type'),'default',true) ?>"><?php echo $this->translate("Exception Set-up"); ?></a></li>
	</ul>
</div>