<head>

<script type="text/javascript">
	dojo.addOnLoad(function() {
  
    
	});

	


</script> 
</head>
 <fieldset>
    <legend><?php echo $this->translate("Scheduler");?></legend>
                <Form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">
                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>
                    <table class="table" width="100%" >
                        <tr>
                            <th colspan = "6"><?php echo $this->translate("Batch and Time Selection");?></th>
                        </tr>
                        <tr>
                            <td><?php echo $this->translate("Batch Name");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjschedulerForm->idBatch;?><?php echo $this->lobjschedulerForm->UpdDate;?><?php echo $this->lobjschedulerForm->UpdUser;?></td>
                            <td><?php echo $this->translate("Schedule Name");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjschedulerForm->ScheduleName;?></td>
                        </tr>
                            <td><?php echo $this->translate("BatchFrom");?><span class="reqMark">*</span></td>
                            <td><input type="text" value="" name="FromDate" id="FromDate"></td>
                            <td><?php echo $this->translate("Batch To");?><span class="reqMark"></span></td>
                            <td><input type="text" value="" name="ToDate" id="ToDate"></td>
                       		<td><input type="hidden" value="" name="HiddenFromDate" id="HiddenFromDate"></td>
                        	<td><input type="hidden" value="" name="HiddenToDate" id="HiddenToDate"></td>
                         <tr> 
                         
                         
                         
                            <td align = "right"><?php echo $this->lobjschedulerForm->Save;?>
							<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'general-setup','controller'=>'scheduler', 'action'=>'index'),'default',true);?>';" />	
                            </td> 
                        </tr>
              </table>
            
            </Form>

</fieldset>
