<head>
<script>
dojo.addOnLoad(function(){
	dijit.byId('field3').focus();	
	});
</script>
</head>
	<fieldset>
		<legend><?php echo $this->translate("Scheduler").' '.$this->translate("Search");?></legend>
         <form action="<?php echo $this->baseUrl();?>/general-setup/scheduler/index/search/1" method="POST">
            <table width="100%">
                <tr>
                   <td><?php echo $this->translate("Scheduler Name");?></td>
                   <td ><?php echo $this->lobjform->field3;?></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
	               <td align = "center" colspan = "4">
						<?php echo $this->lobjform->Search;?>
						<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Add"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'general-setup','controller'=>'scheduler', 'action'=>'newscheduler'),'default',true);?>';" />	
						<?php echo $this->lobjform->Clear;?>
				   </td>
                </tr>
            </table>
        </form>	
    </fieldset> 
    <br/>
    <fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
		
	    	<tr>
	        	<th><?php echo $this->translate("Scheduler Name");?></th>
	    	</tr>
	        <?php if (count($this->paginator)): ?>
	        <?php foreach ($this->paginator as $lobjcenter ): ?>
	  		<tr style="background-color:<?php   echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	<td><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'scheduler', 'action'=>'schedulerlist' , 'id'=>$lobjcenter['idschedulermaster']),'default',true);?>" ><?php print_r($this->escape($lobjcenter['ScheduleName']));?></a></td>
	            <?php  endforeach; ?>
	            <?php endif; ?> 
			</tr>
	    	<tr>
	        	<td colspan="8" align="right"><div class="pagination"><?php  echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>
		</table>
	</fieldset>
    

