<head>

<script type="text/javascript">
	dojo.addOnLoad(function() {

			dijit.byId('idBatch').set('value','');
			dijit.byId('idBatch').set('placeHolder','Select Set');
	});

	
function fnGetDatedetails(idbatch){ 

	
	if(idbatch >=1)
	 {
			var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/general-setup/scheduler/fngetdates/idbatch/"+idbatch,
					handleAs:'text',
					load:function(data){ 
						content = data.split("#@#");

						document.getElementById("FromDate").value = content[0];
						document.getElementById("ToDate").value = content[1];
						document.getElementById("HiddenFromDate").value = content[2];
						document.getElementById("HiddenToDate").value = content[3];
						document.getElementById("BatchFrom").value =' ';
						
						
					}
			   }
			dojo.xhrGet(xhrArgs); 
	  }
	} 
		
	function fngetdate()
	{
		//alert('asdfsdaf');
		var d = dijit.byId('BatchFrom');
		//var to = dijit.byId('BatchTo');
		var FromDate = document.getElementById("HiddenFromDate").value;
		var ToDate = document.getElementById("HiddenToDate").value;
        var id=0;
        if(d==0)
        {
            
        }
        else
        {
	    if(d<FromDate)
	    {
		    
		       alert('Select Date Greater than From Date');
		     
		   dijit.byId('BatchFrom').set('value','Select');
		   
	    }
	    if(d>ToDate)
	    {
	    	 alert('Select Date less than To Date');
	    	 dijit.byId('BatchFrom').set('value','Select');
	    }
        }
		
	}
	var count = 0;
	count1 = 0;
	function getdatedetails()
	{
		count++;
		count1++;
		var datess = dijit.byId('BatchFrom');
		//alert(datess);
		
		//alert(datess);
		if(datess!='')
		{
		rows = document.getElementById('theadid').innerHTML;
		rows	= rows+'<tr id="rw'+count+'"><td><a href="#"><input type="text" onClick="displaytime(this.value,'+count+');" value="'+datess+'" name="rowss[]" id="rowss'+count+'"></a><a href="javascript:deletefunction('+count1+')"><img src="<?php echo "http://".$_SERVER['SERVER_NAME'].$this->baseUrl()?>/images/delete.png"  border=0 width="16" height="16"></td></tr>';
		document.getElementById('theadid').innerHTML = rows;
		}
		else
		{
			alert("please select Date");
		}
		}

 function deletefunction(cnt)
 {
	 table =document.getElementById('tableid');
	 table.deleteRow(cnt-1);
	 count1--;
	 
 }

 function displaytime(clickdate,countss)
 {
	 //alert(countss);
	// window.open(url,'Edit_Employee_Classifications','width=800, height=250,left=350,top=300');
		//alert("<?php echo $this->baseUrl();?>/general-setup/scheduler/tempvenuetime/datea/"+clickdate+"/iddate/"+countss);
	window.open("<?php echo $this->baseUrl();?>/general-setup/scheduler/tempvenuetime/datea/"+clickdate+"/iddate/"+countss,'Edit_Employee_Classifications','width=500, height=250,left=350,top=300');
 }

 function maxseat(id,no)
 {
	//alert(id);
	// alert(no);
	 var  max = document.getElementById("noofseats"+no).value;
	// alert(max);
	 if(eval(id)>eval(max))
	 {
		 alert('it can have max of '+max);
		 dojoid = no-1;
		 dijit.byId('dijit_form_TextBox_'+dojoid).setValue(max);
	 }
	 
 }
</script> 
</head>
 <fieldset>
    <legend><?php echo $this->translate("Scheduler");?></legend>
                <Form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">
                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
            var n='<?php echo count($this->centerarray); ?>';
               	 flgs = 0;	 
	 for(i=1;i<=n;i++){
		 
		if(document.getElementById("idcenter"+i).checked) 
			flgs	=	1;
		
	 }		
	 if( flgs == 0){
	    alert('Please Select Atleast One Center');		
	     return false;
	 }
	 else{
	   return true;
	 }
                } else {
                    return false;
                }
				</script>
                    <table class="table" width="100%" >
                        <tr>
                            <th colspan = "6"><?php echo $this->translate("Set and Time Selection");?></th>
                        </tr>
                        <tr>
                            <td><?php echo $this->translate("Set Name");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjschedulerForm->idBatch;?><?php echo $this->lobjschedulerForm->UpdDate;?><?php echo $this->lobjschedulerForm->UpdUser;?></td>
                            <td><?php echo $this->translate("Schedule Name");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjschedulerForm->ScheduleName;?></td>
                        </tr>
                            <td><?php echo $this->translate("Set From");?><span class="reqMark">*</span></td>
                            <td><input type="text" value="" name="FromDate" id="FromDate"></td>
                            <td><?php echo $this->translate("Set To");?><span class="reqMark"></span></td>
                            <td><input type="text" value="" name="ToDate" id="ToDate"></td>
                       			<td><input type="hidden" value="" name="HiddenFromDate" id="HiddenFromDate"></td>
                        		<td><input type="hidden" value="" name="HiddenToDate" id="HiddenToDate"></td>
                        <tr>
                            <td><?php echo $this->translate("Select Date");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjschedulerForm->BatchFrom;?><?php echo $this->lobjschedulerForm->AddDate;?></td>
                            <td colspan="4">
                            				<table id="tableid">
                                					<thead id="theadid"></thead>	
                           					 </table>
                            
                            </td>     
                       </tr>
                        <tr>
                            <th colspan = "2"><?php echo $this->translate("$this->Center");?></th>
                            <th><?php echo $this->translate("No of Seats");?></th>
                            <th></th>
                        </tr><?php $cnt=0;?>
                          <?php   foreach ($this->centerarray as $larrcenter ): $cnt++?>
                         <tr>
                         <td><input type="checkbox" dojoType="dijit.form.CheckBox" name="idcenter[]" value="<?php echo $larrcenter['idcenter'];?>" id="idcenter<?php echo $cnt;?>"</td>
          					<td><?php  echo $larrcenter['centername'];?></td>   
          					<td><input type="text" dojoType="dijit.form.TextBox" name="noofseats[<?php echo $larrcenter['idcenter'];?>]" regExp="'regExp'=>[0-9]*" value="<?php echo $larrcenter['NumberofSeat'];?>" onblur="maxseat(this.value,<?php echo $larrcenter['idcenter'];?>);"></td>
          					<td><input type="hidden" id="noofseats<?php echo $larrcenter['idcenter'];?>" name="noofseats<?php echo $larrcenter['idcenter'];?>"  value="<?php echo $larrcenter['NumberofSeat'];?>"></td>      	    	
     					</tr>
     		            <?php  endforeach; ?>
                       
                           <tr>      
                               <td align = "right" colspan = "6"><?php echo $this->lobjschedulerForm->Save;?>
							 <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'general-setup','controller'=>'scheduler', 'action'=>'index'),'default',true);?>';" />	
                            </td> 
                        </tr>
              </table>
            
            </Form>

</fieldset>
