<fieldset>
    <legend><?php echo $this->translate("Scheduler");?></legend>
                <form dojoType="dijit.form.Form"  id="myForm12" action="<?php echo $this->baseUrl();?>/general-setup/scheduler/index" method="post"  name= "myForm12">
               
                    <table class="table" width="100%" >
                        <tr>
                            <th colspan = "6"><?php echo $this->translate("Batch and Time Selection");?></th>
                        </tr>
                        <tr>
                            <td><?php echo $this->translate("Batch Name");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjschedulerForm->idBatch;?><?php echo $this->lobjschedulerForm->UpdDate;?><?php echo $this->lobjschedulerForm->UpdUser;?></td>
                            <td><?php echo $this->translate("Schedule Name");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjschedulerForm->ScheduleName;?></td>
                            <td colspan = "2"></td>
                        </tr>
                            <td><?php echo $this->translate("BatchFrom");?><span class="reqMark">*</span></td>
                            <td><input type="text" value="" name="FromDate" id="FromDate"></td>
                            <td><?php echo $this->translate("Batch To");?><span class="reqMark"></span></td>
                            <td><input type="text" value="" name="ToDate" id="ToDate"></td>
                       		<td><input type="hidden" value="" name="HiddenFromDate" id="HiddenFromDate"></td>
                        	<td><input type="hidden" value="" name="HiddenToDate" id="HiddenToDate"></td>
                         <tr> 
                         
                          
                          <tr>
                          	<td>Exam Date</td>
                           	<td colspan = "5">
                           		<table>	
                           			<thead> 
                           				<?php   foreach ($this->venuetime as $venue):?>                            				
                                					<?php //echo $venue['Date'];?>
                                				<tr>	<td><a href="<?php echo $this->baseUrl();?>/general-setup/scheduler/tempvenuetime/datea/<?php echo $venue['Date'];?>" ><?php echo date('d-m-Y',strtotime($venue['Date']));?></a></td>
                                				<tr>                            		
                           					
                             				<?php  endforeach; ?>
                             		</thead>
                              </table>
                            </td>  
                         </tr>
                           <tr>
                            <th colspan = "6"><?php echo $this->translate("Venue Location");?></th>
                        </tr>
                        
                          <?php $editarray = $this->larrcenter;foreach ($this->centerarray as $larrcenter ):?>
                         <tr>
                         <td colspan = "5"><input type="checkbox" dojoType="dijit.form.CheckBox" name="idcenter[]" value="<?php echo $larrcenter['idcenter'];?>"<?php if(in_array($larrcenter['idcenter'],$editarray)){?> checked<?php }?>></td>
          					<td><?php  echo $larrcenter['centername'];?></td>           	
     					</tr>
                             <?php  endforeach; ?>	 
                          </tr>
                            <td align = "right" colspan = "6"><?php echo $this->lobjschedulerForm->Save;?>
							<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'general-setup','controller'=>'scheduler', 'action'=>'index'),'default',true);?>';" />	
                            </td> 
                        </tr>
              </table>
            
            </form>

</fieldset>
