<head>

<script type="text/javascript">
	dojo.addOnLoad(function() {
     idbatch = <?php echo $this->idBatch;?>;
     fnGetDatedetails(idbatch);
	});

	
function fnGetDatedetails(idbatch){ 
			var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/general-setup/scheduler/fngetdates/idbatch/"+idbatch,
					handleAs:'text',
					load:function(data){ 
						content = data.split("#@#");

						document.getElementById("FromDate").value = content[0];
						document.getElementById("ToDate").value = content[1];
						document.getElementById("HiddenFromDate").value = content[2];
						document.getElementById("HiddenToDate").value = content[3];
						
					}
			   }
			dojo.xhrGet(xhrArgs); 
	
	} 
		
	function fngetdate(date)
	{
		var d = dijit.byId('BatchFrom');
		var FromDate = document.getElementById("HiddenFromDate").value;
		var ToDate = document.getElementById("HiddenToDate").value;

	    if(d<FromDate)
	    {
		    alert('Select Date Greater than From Date');
	    }
	    if(d>ToDate)
	    {
	    	 alert('Select Date less than To Date');
	    }
		
	}
	var count = 0;
	count1 = 0;
	function getdatedetails()
	{
		count++;
		count1++;
		var datess = dijit.byId('BatchFrom');
		
		//alert(datess);
		rows = document.getElementById('theadid').innerHTML;
		rows	= rows+'<tr id="rw'+count+'"><td><a href="#"><input type="text" onClick="displaytime(this.value,'+count+');" value="'+datess+'" name="rowss[]" id="rowss'+count+'"></a><a href="javascript:deletefunction('+count1+')"><img src="<?php echo "http://".$_SERVER['SERVER_NAME'].$this->baseUrl()?>/images/delete.png"  border=0 width="16" height="16"></td></tr>';
		document.getElementById('theadid').innerHTML = rows;
	}

 function deletefunction(cnt)
 {
	 table =document.getElementById('tableid');
	 table.deleteRow(cnt-1);
	 count1--;
	 
 }

 function openNewWindow(dates,counts)
 {
	 alert(dates);
	 var clickdate = dates;
	 var countss= counts;
	 
	 //alert(countss);
	// window.open(url,'Edit_Employee_Classifications','width=800, height=250,left=350,top=300');
		//alert("<?php echo $this->baseUrl();?>/general-setup/scheduler/tempvenuetime/datea/"+clickdate+"/iddate/"+countss);
	window.open("<?php echo $this->baseUrl();?>/general-setup/scheduler/tempvenuetime/datea/"+clickdate+"/iddate/"+countss,'Edit_Employee_Classifications','width=500, height=250,left=350,top=300');
 }
</script> 
</head>
<fieldset>
    <legend><?php echo $this->translate("Scheduler");?></legend>
                <form dojoType="dijit.form.Form"  id="myForm12" action="" method="post"  name= "myForm12">
               
                    <table class="table" width="100%" >
                        <tr>
                            <th colspan = "6"><?php echo $this->translate("Batch and Time Selection");?></th>
                        </tr>
                        <tr>
                            <td><?php echo $this->translate("Batch Name");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjschedulerForm->idBatch;?><?php echo $this->lobjschedulerForm->UpdDate;?><?php echo $this->lobjschedulerForm->UpdUser;?></td>
                            <td><?php echo $this->translate("Schedule Name");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjschedulerForm->ScheduleName;?></td>
                            <td colspan = "2"></td>
                        </tr>
                            <td><?php echo $this->translate("BatchFrom");?><span class="reqMark">*</span></td>
                            <td><input type="text" value="" name="FromDate" id="FromDate"></td>
                            <td><?php echo $this->translate("Batch To");?><span class="reqMark"></span></td>
                            <td><input type="text" value="" name="ToDate" id="ToDate"></td>
                       		<td><input type="hidden" value="" name="HiddenFromDate" id="HiddenFromDate"></td>
                        	<td><input type="hidden" value="" name="HiddenToDate" id="HiddenToDate"></td>
                         <tr> 
                         
                          
                          <tr>
                          	<td>Exam Date</td>
                           	<td colspan = "5">
                           		<table>	
                           			<thead> 
                           				<?php   foreach ($this->venuetime as $venue):?>                            				
                                					<?php //echo $venue['Date'];?>
                                				<tr>	
                                				
                                				<td><a href="javascript:openNewWindow('<?php echo $venue['Date'];?>',0);"><?php echo date('d-m-Y',strtotime($venue['Date']));?></a></td>
                                				<tr>                            		
                           					
                             				<?php  endforeach; ?>
                             		</thead>
                              </table>
                            </td>  
                         </tr>
                           <tr>
                            <th colspan = "6"><?php echo $this->translate("Venue Location");?></th>
                        </tr>
                        
                          <?php $editarray = $this->larrcenter;foreach ($this->centerarray as $larrcenter ):?>
                         <tr>
                         <td><input type="checkbox" dojoType="dijit.form.CheckBox" name="idcenter[]" value="<?php echo $larrcenter['idcenter'];?>"<?php if(in_array($larrcenter['idcenter'],$editarray)){?> checked<?php }?>></td>
          					<td><?php  echo $larrcenter['centername'];?></td>           	
     					</tr>
                             <?php  endforeach; ?>	 
                          </tr>
                            <td align = "right" colspan = "6">
							<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'general-setup','controller'=>'scheduler', 'action'=>'index'),'default',true);?>';" />	
                            </td> 
                        </tr>
              </table>            
            </form>
</fieldset>
