<head>

<script type="text/javascript">

dojo.addOnLoad(function(){

	dijit.byId('IdCollege').set('value','');
	dijit.byId('IdCollege').set('placeHolder','Select');
	dijit.byId("IdBranch").set('value','');
	dijit.byId('IdBranch').set('placeHolder','Select');
	
	dojo.byId("branch_row1").style.display = "none";
	dojo.byId("branch_row2").style.display = "none";
	var form = dijit.byId("myForm");
	var value=form.attr('value').DepartmentType;
	fnToggleCollegeDetails(value)	
	});
	
function fnToggleCollegeDetails(value){
	if(value == "0"){
		dojo.byId("branch_row1").style.display = "none";
		dojo.byId("branch_row2").style.display = "none";
		
		dijit.byId('IdCollege').set('value','');
		dijit.byId('IdCollege').set('placeHolder','Select');
	
	}else if(value == "1"){
		dojo.byId("branch_row1").style.display = "inline";
		dojo.byId("branch_row2").style.display = "inline";
		if(dijit.byId("IdBranch")!= "" ) {
			dijit.byId("IdBranch").set('value','');
			dijit.byId('IdBranch').set('placeHolder','Select');

			dijit.byId('IdCollege').set('value','');
			dijit.byId('IdCollege').set('placeHolder','Select');
		} 
	}
}
function fnGetBrancheList(idCollege){ 
	var form = dijit.byId("myForm");
	var value=form.attr('value').DepartmentType;
	if(idCollege != "" || idCollege != undefined)
		{ 
			var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/general-setup/departmentmaster/getbranchlist/idCollege/"+idCollege+"/value/"+value,
				handleAs:'json',
				load:function(data){ 
					AutoFillNextEditableDropDown("IdBranch",data); 
					if(value == '0') {
						dijit.byId('IdBranch').set('value','0');
					}
				}
		   }
			dojo.xhrGet(xhrArgs); 
		} 
	}
	 
function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
    var options = {
					label:"name",
					identifier:"key",
					items:JSONText
				  };
    ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}

</script> 
</head>
 <fieldset>
    <legend><?php echo $this->translate("$this->Department");?></legend>
                <Form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/general-setup/departmentmaster/newdepartmentmaster" method="post"  name= "myForm">
                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>
                    <table class="table" width="100%" >
                        <tr>
                            <th colspan = "4"><?php echo $this->translate("$this->Department").' '.$this->translate("Details");?></th>
                        </tr>
                        <tr>
                            <td ><?php echo $this->translate("$this->Department").' '.$this->translate("Name");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjdepartmentmasterForm->DepartmentName;?>
                            <td ><?php echo $this->translate("Arabic").' '.$this->translate("Name");?></td>
                            <td ><?php echo $this->lobjdepartmentmasterForm->ArabicName;?></td>
                          </tr>  
                             <?php echo $this->lobjdepartmentmasterForm->IdDepartment;?>
                            <?php echo $this->lobjdepartmentmasterForm->UpdDate;?>
                            <?php echo $this->lobjdepartmentmasterForm->UpdUser;?>
                       <tr> 
                      		<td ><?php echo $this->translate("$this->Department").' '.$this->translate("Code");?><span class="reqMark">*</span></td>
                            <td  ><?php echo $this->lobjdepartmentmasterForm->DeptCode;?></td>
                            <td ></td>
                           	<td ></td>
                        </tr>
                        <tr> 
                        	<td ><?php echo $this->translate("$this->Department").' '.$this->translate("Type");?><span class="reqMark"></span></td>
                      		<td><?php echo $this->lobjdepartmentmasterForm->DepartmentType;?></td>
                      		<td ></td>
                      		<td ></td>
                        </tr>
                        <tr> 
                            <td ><span id="label1"><?php echo $this->translate("$this->College");?></span><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjdepartmentmasterForm->IdCollege;?></td>
                            <td ><span id="branch_row1"><?php echo $this->translate("Branch");?><span class="reqMark">*</span></span></td>
                            <td ><span id="branch_row2"><?php echo $this->lobjdepartmentmasterForm->IdBranch;?></span></td>
                        </tr>
                        <tr>
                        <td ><?php echo $this->translate("Active");?><span class="reqMark"></span></td>
                        <td ><?php echo $this->lobjdepartmentmasterForm->Active;?></td>
                        <td></td>
                      	<td></td>
                        </tr>
                        <tr>
                            <td align = "right" colspan="4"><?php echo $this->lobjdepartmentmasterForm->Save;?>
                            <input type='button' class="NormalBtn" dojotype="dijit.form.Button" label = "<?php echo $this->translate('Back')?>" value='click' onclick="window.location.href='<?php echo $this->url(array('module'=>'general-setup','controller'=>'departmentmaster', 'action'=>'index'),'default',true);?>';" />	
                            </td> 
                        </tr>
              </table>
            
            </Form>

</fieldset>
