
<div align="center" style="background:#fff; height:30px;">
	<ul class="stepsmenu">
		<li class="first"><a href="<?php echo $this->url(array('module'=>'anr-setup','controller'=>'exception','action'=>'index-type'),'default',true) ?>"> <?php echo $this->translate("Setup Exception Type"); ?></a></li>
		<li class="second"><a href="<?php echo $this->url(array('module'=>'anr-setup','controller'=>'exception','action'=>'index'),'default',true) ?>"> <?php echo $this->translate("Setup User"); ?></a></li>		
	</ul>	
</div>