<?php
/*
 *  @author Suliana
 *  @created May 16, 2011
 */
?>


<div align="center" style="background:#fff; height:30px;">
	<ul class="stepsmenu">
		<li class="first"><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'university','action'=>'index'),'default',true) ?>"><?php echo $this->translate("University"); ?></a></li>
	    <li class="second"><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'faculty','action'=>'index'),'default',true) ?>"><?php echo $this->translate("College"); ?></a></li>
	    <li class="third"><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'department','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Department"); ?></a></li>
	    <li class="fourth"><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'branch','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Branch"); ?></a></li>
	    <li class="fifth"><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'office','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Office"); ?></a></li>
	    <li class="sixth"><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'venue','action'=>'index'),'default',true) ?>"><?php echo $this->translate("Venue"); ?></a></li>
	</ul>
</div>