<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<link href="<?php  echo $this->baseUrl();?>/css/calendar.css" rel="stylesheet" type="text/css" />   
<script type="text/javascript">
dojo.addOnLoad(function() {
	var Program = dijit.byId("Coursename");
	//fngetstatedetails(Program);
	firstdays='<?php echo $this->oldday;?>';
	iddaysaray=new Array();
	iddaysaray.push(firstdays);
	//kj=iddaysaray[iddaysaray.length-1];
	
		
});
function fngetstatedetails(idprog)
{
	if(idprog!='')
	{


		icno='<?php echo $this->ICNO;?>';

		 intialprg='<?php echo $this->idprg;?>';
		/*	if(intialprg!=idprog)  
			{
			var xhrArgs1 = {
					url: "<?php echo $this->baseUrl();?>"+"/examination/newscreen/newvalidatepresenticno/idprog/"+idprog+"/icno/"+icno,
					handleAs:'text',
					load:function(data){ 
						alert(data)
						if(data==2)
						{
							
                       

								
						}
						else
						{
							if(data==1)
							{
							alert("This student already passed this Course");
							 dijit.byId("Coursename1").setValue("");
							}
							else
							{
								alert("This student already applied for this Course");
								 dijit.byId("Coursename1").setValue("");
							}
						}

                 
						
							
					}
			   }
			dojo.xhrGet(xhrArgs1);

			}*/







			amount="<?php echo $this->amount?>";
			 amount=parseInt(amount);

			var xhrArgs1 = {
					url: "<?php echo $this->baseUrl();?>"+"/examination/newscreen/newfngetnewprogramamount/idprog/"+idprog,
					handleAs:'text',
					load:function(data){
						//alert(data)
						newamount=data;
						newamount=parseInt(newamount);
						if(newamount!=0)
						{
						 if(eval(newamount>amount))
						 {
							/* result=prompt("The actual paid amount is less than the selected program amount");

							 
							 if(result==null)
							 {
								 dijit.byId("Coursename1").setValue("");
							 }
							 else
							 {

									var xhrArgs1 = {
											url: "<?php echo $this->baseUrl();?>"+"/examination/newscreen/newvalidateconfidential/idusers/"+result,
											handleAs:'text',
											load:function(data){ 
												if(data==2)
												{
													alert("There is no scheduler for this date for this program Please change the Date");
								    				dijit.byId("Newprgdate").set('value',null);
												}
													
											}
									   }
									dojo.xhrGet(xhrArgs1);

								 
							 }*/
								 
						 }
						}
					}
			   }
			dojo.xhrGet(xhrArgs1);
			result=1

		  
			if(intialprg!=idprog)  
			{
			var xhrArgs1 = {
					url: "<?php echo $this->baseUrl();?>"+"/examination/newscreen/newvalidateconfidential/idusers/"+result,
					handleAs:'text',
					load:function(data){ 


			if(data)
			{
			document.getElementById('divLogin').style.display = 'block';
			document.getElementById('divLogin2').style.display = 'block';
		 	document.getElementById('contentdiv').innerHTML = data;
			}
						
					}
			   }
			dojo.xhrGet(xhrArgs1);

			}

			

			presentdate=dijit.byId("Newprgdate");



			if( idprog!='' && presentdate!='' )
			{


				var xhrArgs1 = {
						url: "<?php echo $this->baseUrl();?>"+"/examination/newscreen/newvalidatepresentdata/idprog/"+idprog+"/presentdate/"+presentdate,
						handleAs:'text',
						load:function(data){ 
							if(data==2)
							{
								alert("There is no scheduler for this date for this program Please change the Date");
			    				dijit.byId("Newprgdate").set('value',null);
							}
								
						}
				   }
				dojo.xhrGet(xhrArgs1);

			}




	
	}

	



 
}



function newvenuelists(Newprgdates)
{

	
	   iddate=dijit.byId("Newprgdate");
	   idprog=dijit.byId("Coursename1");
	   if( idprog!='' && iddate!='' )
	   {



		  // olddays='<?php echo $this->oldday;?>';
		   firstdayss=iddaysaray[iddaysaray.length-1];
		   //alert(firstdayss);

		   
           var xhrArgs1 = {
       			url: "<?php echo $this->baseUrl();?>"+"/examination/newscreen/getnewdatedaydata/iddate/"+iddate,
       			handleAs:'text',
       			load:function(data){
           			 
       				iddays = data; 
		   
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/examination/newscreen/newvenuelistsnames/iddate/"+iddate+"/idprog/"+idprog,
			handleAs:'json',
			load:function(data){ 
				if(data==null || data=='')
				{
    				alert("There is no scheduler for this date Please change the Date");
    				dijit.byId("Newprgdate").set('value',null);
    				dijit.byId("newexamcity").setValue('');
    				//fnemptyvenue();
    				flag=1;
				}
				else
				{
                        if(iddays!=iddaysaray[iddaysaray.length-1])
                        {
					
        					AutoFillNextEditableDropDown("newprgexamvenue",data);
                        }

                      
                        
				} 
			
			}
	   }
	dojo.xhrGet(xhrArgs);




	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/examination/newscreen/newsessionlistsnames/iddate/"+iddate+"/idprog/"+idprog,
			handleAs:'json',
			load:function(data){ 
				if(data==null || data=='')
				{
					if(flag!=1)
					{
    				alert("There is no scheduler for this date Please change the Date");
    				dijit.byId("Newprgdate").set('value',null);
    				dijit.byId("newexamcity").setValue('');
					}
				}
				else
				{

					if(iddays!=iddaysaray[iddaysaray.length-1])
    				{
					AutoFillNextEditableDropDown("newprgexamsession",data);
    				}
//alert(iddays);
                    if(iddays!='')
                    {
					  iddaysaray.push(iddays);
                    }
						presntvenue=dijit.byId("newprgexamvenue");

						presntsession=dijit.byId("newprgexamsession");

					  if( iddate!='' && presntvenue!='' && presntsession!='')
						{

						  var xhrArgs1 = {
									url: "<?php echo $this->baseUrl();?>"+"/examination/newscreen/newgetremseatsdata/presentdate/"+presentdate+"/presntvenue/"+presntvenue+"/presntsession/"+presntsession,
									handleAs:'text',
									load:function(data){ 
										if(data)
						    				dijit.byId("newremainingseats").set('value',data);
					    				if(data=='' || data==null)
					    				{
						    				alert("This Exam venue is Inactive for this date please change date or venue");
						    				dijit.byId("newprgexamvenue").setValue('');
					    				}
											
									}
							   }
							dojo.xhrGet(xhrArgs1);
					                          
							
						}

					  
    				
					} 
			
			}
	   }
	dojo.xhrGet(xhrArgs);

    			}
       	   }
       	dojo.xhrGet(xhrArgs1);	
}
}


function newdatexption(idvenue)
{
	presntsession=dijit.byId("newprgexamsession");
   	if(presntsession!='')
	{
		newgetremlists(presntsession);
	}

	presentdate=dijit.byId("Newprgdate");

	if(presentdate!='' && idvenue!='' )
	{

		 var xhrArgs1 = {
					url: "<?php echo $this->baseUrl();?>"+"/examination/newscreen/newgetvalidateactivecenter/presentdate/"+presentdate+"/idvenue/"+idvenue,
					handleAs:'text',
					load:function(data){ 
	    				if(data=='2')
	    				{
		    				alert("This Exam venue is Inactive for this date please change date or venue");
		    				dijit.byId("newprgexamvenue").setValue('');
	    				}
							
					}
			   }
			dojo.xhrGet(xhrArgs1);  
			
	}
	
}

function newgetremlists(idses)
{

	presentdate=dijit.byId("Newprgdate");

	presntvenue=dijit.byId("newprgexamvenue");

	presntsession=dijit.byId("newprgexamsession");

	if( presentdate!='' && presntvenue!='' && presntsession!='')
	{

		var xhrArgs1 = {
				url: "<?php echo $this->baseUrl();?>"+"/examination/newscreen/newgetremseatsdata/presentdate/"+presentdate+"/presntvenue/"+presntvenue+"/presntsession/"+presntsession,
				handleAs:'text',
				load:function(data){ 
					if(data)
	    				dijit.byId("newremainingseats").set('value',data);
					
						
				}
		   }
		dojo.xhrGet(xhrArgs1);

		
		
	}
	
	
}

function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}


function Closefn()
{	
	document.getElementById('divLogin').style.display = 'none';
	document.getElementById('divLogin2').style.display = 'none';
	dijit.byId("Coursename1").set('value',null);
}



function Closeokfn()
{
	passval=document.getElementById('passwd').value;
	if(passval=='')
	{
		alert("Please Enter password");
	}
	else
	{
		var xhrArgs1 = {
				url: "<?php echo $this->baseUrl();?>"+"/examination/newscreen/newvalidateuser/idusers/"+passval,
				handleAs:'text',
				load:function(data){ 
					if(data==2)
					{
						alert("Password is Invalid");
						document.getElementById('passwd').value='';
	    				//dijit.byId("Coursename1").set('value',null);
					}
					if(data==1)
					{

						document.getElementById('divLogin').style.display = 'none';
						document.getElementById('divLogin2').style.display = 'none';
					}
						
				}
		   }
		dojo.xhrGet(xhrArgs1);

		
		//document.getElementById('divLogin').style.display = 'none';
		//document.getElementById('divLogin2').style.display = 'none';	
	}
	
}


function fnhidebtn()
{
	document.getElementById('btnsave').style.display='none';
}

</script> 
</head>
<body>
<fieldset>
<table width="100%" class="table">
					 <tr>
                         <th colspan = "4"><?php echo $this->translate('Personal Details')?></th>
                     </tr>
                      <tr>
			               <td><?php echo $this->translate("Candidate Name:");?></td>
			               <td><?php echo $this->Fname;?></td>
			                    <td><?php echo $this->translate("ICNO :");?></td>
			               <td><?php echo $this->ICNO;?></td>
			              
		             </tr>
		        
		                  <tr>
			          
			                <td><?php echo $this->translate("Email Id :");?></td>
			               <td><?php echo $this->EmailAddress;?></td>
			               <td><?php echo $this->translate("Applied Date :");?></td>
			               <td><?php echo $this->AppliedDate;?></td>
		             </tr>
		             
		                      <tr>
			               <td><?php echo $this->translate("Payment Status");?></td>
			               <td><?php echo $this->lobjnewscreenForm->Payment;?></td>
			               	  <?php  $batch=$this->batch; if($batch!=0){?>
			               	  <td></td>
			               	   <td></td>
			               	  <?php }else {?>
		                     <td><?php echo $this->translate("Mode Of Payment");?></td>
			               <td><?php echo $this->lobjnewscreenForm->paymentmode;?></td>
		             <?php }?>
		             </tr>
		             	</table>

	            </fieldset> 
            </br>
				<fieldset>
				<table  width="100%" class="table" >
				
				<tr>
                         <th colspan = "2"><?php echo $this->translate('Exam Schedule Details')?></th>
                     </tr>
                   
                     <tr>
                       	<td width="35%"><?php echo $this->translate("Course Name");?></td>
			            <td><?php echo $this->lobjnewscreenForm->Coursename;?></td>
		             </tr>
		             <tr>
		                  <td><?php echo $this->translate("Exam Venue");?></td>
			               <td><?php echo $this->lobjnewscreenForm->Venues;?></td>
			          </tr>
		              <tr>
		                  
			               <td><?php echo $this->translate("Exam Date");?></td>
			               <td><?php echo $this->lobjnewscreenForm->Examdate;?></td>
			              
		             </tr>
		          
		                 <tr>
			                <td><?php echo $this->translate("Exam Session");?></td>
			               <td><?php echo $this->lobjnewscreenForm->examsession;?></td>
		             </tr>
		              <tr>
		                 <td><?php echo $this->translate("Schedule");?></td>
			               <td><?php echo $this->lobjnewscreenForm->schedulerename;?></td>
		             </tr>
		            
		        
				</table>

	            </fieldset> 
            </br>
				<fieldset>
				<Form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">
				 <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
                       fnhidebtn();
					return true;
                } else {
                    return false;
                }
				</script>
				<table width="100%" class="table">
				<input type="hidden" id="IDApplication" name='IDApplication' value="<?php echo $this->id;?>">
				      <tr>
                         <th colspan = "2"><?php echo $this->translate('Candidate changed Details')?></th>
                     </tr>
                   
                    <tr>
                       <td width="35%"><?php echo $this->translate("Course Name");?></td>
			               <td><?php echo $this->lobjnewscreenForm->Coursename1;?></td>
		             </tr>
		            
		            
		             
		              <tr>
			                 <td><?php echo $this->translate("Date");?></td>
			               <td><?php echo $this->lobjnewscreenForm->Newprgdate;?></td>
			             
		             </tr>
		            
		   
		              <tr>
			                 <td><?php echo $this->translate("New Exam Venue");?></td>
			               <td><?php echo $this->lobjnewscreenForm->newprgexamvenue;?></td>
			             
		             </tr>
		            
		               <tr>
		                  <td><?php echo $this->translate("New Exam Session");?></td>
			               <td><?php echo $this->lobjnewscreenForm->newprgexamsession;?></td>
			               </tr>
			               
			           <tr>
		                  <td><?php echo $this->translate("Remaining seats");?></td>
			               <td><?php echo $this->lobjnewscreenForm->newremainingseats;?></td>
			           </tr>
			           <tr>
		                            
		                   <td  colspan="2" align="right">
		                   <?php echo $this->lobjnewscreenForm->Save;?> 
		                   <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo "Back";?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'examination','controller'=>'newscreen', 'action'=>'index'),'default',true);?>';" /><td>
  		            
  		              </tr> 
			           
		            </table>
					<div runat="server" id="divLogin"  style="display:none; z-index: 153; position: absolute; left: 30%; width: 650px; top: 15%;">
					                <asp:Panel runat="server" ID="popupLogin">
					                    <asp:Panel runat="server" ID="popupContent1">
					                        <table style="height: 125px; width: 100%; background-color: #FFFFFF;" border="3"   frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">
					                                    	<div id="contentdiv"></div>
					                                      
					                                   </td>
					                                </tr>
					                                <tr>
					                                    <td colspan="2" align="left">
					                                        <asp:Label ID="lblmandatory" runat="server" Text="* Mandatory Information Required"
					                                            class="LeftLabelStyle" Width="350px" />
					                                    </td>
					                                </tr>
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
					            </div>
				<div runat="server" id="divLogin2"  style="display:none; opacity:0.4; z-index: 150; position: absolute; left: 0%; height: 100%; width: 100%; top: 0%;">
					                <asp:Panel >
					                    <asp:Panel  >
					                        <table style="height: 100%; width: 100%; background-color: #000000;" border="3"   frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">
					                                    	
					                                      
					                                   </td>
					                                </tr>
					                               
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
					            </div>
					                                </tr>
					                               
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
</div>	
				</Form> 
</fieldset>
</body>
</html>