<head>
<Script type="text/javascript">
dojo.addOnLoad(function(){
	});

function fntakcompnames(){
	var idname = dijit.byId('Takcomp');
	    var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/reports/batchreport/fnajaxgettakcompnames/idname/"+idname,
				handleAs:'json',
				load:function(data){ 
					AutoFillNextEditableDropDown("Takcompnames",data);
				}
		   }
		dojo.xhrGet(xhrArgs);
}

function fngetpin(){
	
	var idname = dijit.byId('Takcomp');
	var idcomp = dijit.byId('Takcompnames');
	    var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/reports/batchreport/fnajaxgetpins/idname/"+idname+"/idcomp/"+idcomp,
				handleAs:'json',
				load:function(data){ 
					AutoFillNextEditableDropDown("Pin",data);
				}
		   }
		dojo.xhrGet(xhrArgs);
}

function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}
</Script>	
</head>
<body class='claro'>
<fieldset>
	<legend><?php echo $this->translate("Batchregistration").' '.$this->translate("Report");?></legend>
	<div class="search" style="margin-left:20px;">
 		<form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/reports/batchreport" method="POST" > 
 		  <script type="dojo/method" event="onSubmit">
             if (this.validate()){
					return true;
                } else {
                   return false;
               }
			</script>
		<table width="100%">
				<tr>
                    <td><?php echo $this->translate("Takaful/Company")?></td>
                    <td><?php echo $this->lobjform->Takcomp;?></td>
                    <td><?php echo $this->translate("Takaful/Company Names")?></td>
                    <td><?php echo $this->lobjform->Takcompnames;?></td>
                    <td><?php echo $this->translate("Registration Pin")?></td>
                    <td><?php echo $this->lobjform->Pin;?></td>
                </tr>
                <tr>
                 <td></td>  
                 <td></td>             
                 <td><?php echo $this->lobjform->Search;?>
					<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Clear"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'reports','controller'=>'batchreport','action'=>'index'),'default',true);?>';" />
				</td>
               </tr>
		</table>
	</form>	
		</div>
	</fieldset> 
<br>
<fieldset>
<form id="myForm1" name = "myform1" action="<?php echo $this->baseUrl();?>/reports/batchreport/fnexport" method="POST">
    <table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr>
        <th><?php echo $this->translate("Candidate Name") ?></th>
        <th><?php echo $this->translate("ICNO") ?></th>
        <th><?php echo $this->translate("Program Name") ?></th>
        <th><?php echo $this->translate("Exam Date") ?></th>
        <th><?php echo $this->translate("Exam Venue") ?></th>
        <th><?php echo $this->translate("Exam Session") ?></th>
        <th><?php echo $this->translate("Status") ?></th>
        <th><?php echo $this->translate("Grade") ?></th>
    </tr>
        <?php if (count($this->paginator)): ?>
        <?php foreach ($this->paginator as $lobjCountry ):?>
	        <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
		        <td><?php print_r($this->escape($lobjCountry['FName']));?></td>
		        <td><?php print_r($this->escape($lobjCountry['ICNO']));?></td>
				<td><?php print_r($this->escape($lobjCountry['ProgramName']));?></td> 
				<td><?php print_r($this->escape($lobjCountry['ExamDate']));?></td>
				<td><?php print_r($this->escape($lobjCountry['ExamVenue']));?></td>
				<td><?php print_r($this->escape($lobjCountry['session']));?></td>
				<td><?php print_r($this->escape($lobjCountry['Result']));?></td>
				<td><?php print_r($this->escape($lobjCountry['Grade']));?></td>
				<input type="hidden" name="Takcomp" id="Takcomp" value="<?php echo $this->Takcomp;?>"></td>
				<input type="hidden" name="Takcompnames" id="Takcompnames" value="<?php echo $this->Takcompnames;?>"></td>
				<input type="hidden" name="Pin" id="Pin" value="<?php echo $this->Pin;?>"></td>
	       </tr>
       <?php endforeach;?>
       <?php endif;?>	
      <tr>
	     <td colspan="8" align="right"><?php echo $this->lobjform->ExportToExcel;?></td>
      </tr>	
</table>
</form>
</fieldset>
</body>
</html>
