<!--[if IE]>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<![endif]-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<script language="JavaScript">
dojo.addOnLoad(function() {
	dijit.byId('email').focus();
	pageName = '<?php echo $this->pageName;?>';
});
function validateEmail( value )	{		
		var loginID = dijit.byId( "email" );
		var bNoNameFound =  ( "Error" == loginID.get( "state" ) ) ? false:true;
		if( "" == loginID.value ) {		
		    bNoNameFound = false;
		}
		else {      
		    if( false == loginID._focused ) {
		        console.log( "Checking email..." );
		        dojo.xhrGet({
		            url: "<?php echo $this->baseUrl();?>"+"/forgotpassword/getemail/email/"+value+"/pagename/"+pageName,
		            handleAs: 'text',
		            content: { l: value},
		            timeout: 10000, 
		            load: function( data ) {
		                if (!data) {
		                    // setting the state to error since the username is already taken
		                    bNoNameFound = false;
		                    loginID.set( "state", "Error" );
		                    loginID.displayMessage( "The Email ID is not registered" );
		                    // used to change the style of the control to represent a error
		                    loginID._setStateClass();
		                }
		                else
		                {
		                    bNoNameFound = true;
		                    loginID.set( "state", "" );
		                    loginID.displayMessage( "" );
		                }
		            }
		        });
		    }
		}
	return bNoNameFound;
}
</script>

</head>
<body class = "claro"><br><br><br><br>
	<fieldset>
		<form dojoType="dijit.form.Form"  action="<?php echo $this->baseUrl();?>/forgotpassword/index/page/<?php echo $this->pageName;?>" method="post">  
		                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>
				<br><br>
				<table class="table" width="100%">
					<tr>
						<td class = "label" colspan=2 align = "center"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email <span class="reqMark">*</span> : <?php echo $this->reterivepassword->email; ?></td>
						
					</tr>
					<tr>
						<td class = "label" colspan=2 align="center">
							<?php echo $this->reterivepassword->retrievepassword;?>
							<?php echo $this->lobjLoginForm->Reset; ?>
						</td>
					</tr>
				</table>
		</form>
</body>
</html>
