<head>
<script type="text/javascript">
dojo.addOnLoad(function() {

	});


</script>
</head>
<body class='claro'>
	 <form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm" >
<script type="dojo/method" event="onSubmit">
                              if (this.validate()) {
					  return true;
                } else {
                    return false;
                }
				</script>
<fieldset>
	<legend><?php echo $this->translate("Updating the Seats for Venue");?></legend>

 			
		<table width="100%" >
		
		<tr>
					<td><?php echo $this->translate("Applied Date(dd-mm-yyyy)")?></td>
					<td><?php echo $this->lobjClosetimeForm->Date;?></td>
					
				</tr>
				<tr>
				 <td colspan="4" align="center">
				 	<?php echo $this->lobjClosetimeForm->Search;?>
				 	<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Clear"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'examination','controller'=>'schedulerutility', 'action'=>'index'),'default',true);?>';" />
				</td>
               </tr>
		</table>

	</fieldset> 
		</form>
	<br>
	 <form dojoType="dijit.form.Form"  id="myFoccrm" action="" method="post"  name= "mycccForm" >
	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
		
	    	<tr>
	    	<input type="hidden" name="datess" value="<?php echo $this->datesresult?>" id="datess">
	    	<input type="hidden" name="sessionsss" value="<?php echo $this->sessionsss?>" id="sessionsss">
	    	
	    	      <th><input type="checkbox" style="display:none" dojoType="dijit.form.CheckBox" name="center" onClick="checkAll();" id="centreiddfdfs">
	    	       <?php echo $this->translate("Venue")?></th>
	    	      <th><?php echo $this->translate("Exam Date");?></th>
	    	     <th><?php echo $this->translate("Applied Date");?></th>
	    	     <th><?php echo $this->translate("Session");?></th>
	    	       <!--<th><?php //echo $this->translate("Total Seats");?></th>
	    	      --><th><?php echo $this->translate("No of Candidates");?></th>
	    	        <th><?php //echo $this->translate("Remaining Seats");?></th>
	        	
	    	</tr>
	       
   			     <?php if (count($this->studentresult)):$centerarray = array();  $cnnt = 0; ?>
	        <?php foreach ($this->studentresult as $lobcentreslist): ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	<td>
	        	<?php if(!in_array($lobcentreslist['centername'],$centerarray)){
				$centerarray[] = $lobcentreslist['centername'];$cnnt++ ;?> 
				<?php print_r($this->escape($lobcentreslist['centername']));
	        	}?>
	        	</td>
	        	<td><?php print_r($this->escape($lobcentreslist['DateTime']));?></td>
	        	<td><?php print_r($this->escape($lobcentreslist['Applied Date']));?></td>
	        	 <input type="hidden" name='Examvenue[]' id='Examvenue' value=<?php print_r($this->escape($lobcentreslist['Examvenue']));?>>
	        	 <input type="hidden" name='Examsession[]' id='Examsession' value=<?php print_r($this->escape($lobcentreslist['Examsession']));?>>
	           <input type="hidden" name='DateTime[]' id='DateTime' value=<?php print_r($this->escape($lobcentreslist['DateTime']));?>>	
	             <input type="hidden" name='candidates[]' id='candidates' value=<?php print_r($this->escape($lobcentreslist['No of Candidates']));?>>		  	        		
                <td><?php print_r($this->escape($lobcentreslist['managesessionname']));?></td><!--
                <td><?php //print_r($this->escape($lobcentreslist['NumberofSeat']));?></td>
	        	--><td><?php print_r($this->escape($lobcentreslist['No of Candidates']));?></td>
	        	<td><?php // print_r($this->escape($lobcentreslist['NumberofSeat'] - $lobcentreslist['No of Candidates']));?></td>

	            <?php endforeach; ?>
	            <?php endif; ?> 
			</tr>

           <tr>
           <td colspan="7" align="right">	 <input type="submit" class="NormalBtn" dojotype="dijit.form.Button" id="Approve" name="Approve" value="Approve" label="<?php echo $this->translate("Update");?>"/></td>
           </tr>


				
		</table>
	</fieldset>
		</form>
</body>
