<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="<?php echo $this->rtl;?>">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css"  href="<?php  echo $this->baseUrl();?>/js/themes/cupertino/jquery.ui.all.css" />
	<script language='javascript' src='<?php  echo $this->baseUrl();?>/js/jquery-1.4.3.js'></script>
	<script language='javascript' src='<?php  echo $this->baseUrl();?>/js/sfs-common.js'></script>	
	<script language="JavaScript" type="text/javascript">
	function showHidden(ids) {		
		$('#'+ids).slideToggle('slow', function() {
		    // Animation complete.
		  });
		/*	if(document.getElementById(ids).style.display == "none") document.getElementById(ids).style.display = "block"; 
			else if(document.getElementById(ids).style.display == "block") document.getElementById(ids).style.display = "none"; */
	
	}	
	function fnUpdateData(data){ 
		$('#hiddenMainTable').slideToggle('slow', function() {
		    
		  });
		$('#BatchFrom').val('01-11-2011');
		$('#BatchTo').val('01-11-2011');
		$.ajax({
			type: "GET",
			url: "<?php echo $this->baseUrl();?>/examination/createexam/getbatchinputdatas/IdBatch/"+data,
			success: function(content){			
				content = content.split("#@#");
				$("#BatchFrom").val(content[0]);
				$("#BatchTo").val(content[1]);
			}
		});
		if(data){
			$.ajax({
				type: "GET",
				url: "<?php echo $this->baseUrl();?>/examination/createexam/getbatchdetails/IdBatch/"+data,
				success: function(content1){					
					$("#hiddenMainTable").html(content1);
				
				}
			});
		}
	
	} 

	function fnClearThirdSubDetails(ids,ParentId,ChildId,possibleMax)
	{
		//alert(ParentId);
		//alert(ChildId);
		curValue = ids.value;
		document.getElementById('percent['+ParentId+']['+ChildId+'][1]').value = '0';
		document.getElementById('percent['+ParentId+']['+ChildId+'][2]').value = '0';
		document.getElementById('percent['+ParentId+']['+ChildId+'][3]').value = '0';

		var firsttotal = document.getElementById('hidden['+ParentId+']['+ChildId+'][1]').value;
		var secondtotal = document.getElementById('hidden['+ParentId+']['+ChildId+'][2]').value;
		var thirdtotal = document.getElementById('hidden['+ParentId+']['+ChildId+'][3]').value;

		var totalss = document.getElementById('thirdquestion').value
		var alltotal = eval(firsttotal)+eval(secondtotal)+eval(thirdtotal);
		var totalfinal = eval(totalss)-eval(alltotal);
		
		document.getElementById('thirdquestion').value = totalfinal;
		
		document.getElementById('hidden['+ParentId+']['+ChildId+'][1]').value = '0';
		document.getElementById('hidden['+ParentId+']['+ChildId+'][2]').value = '0';
		document.getElementById('hidden['+ParentId+']['+ChildId+'][3]').value = '0';


		//document.getElementById('hidden'+ParentId+ChildId).value = curValue;
		//alert(curValue)
	}
	
	function fnCheckAvailability(curValue){			
		if(!document.getElementById('totalNoOfQuestions')){
				//alert("Select Batch First");
				document.getElementById('NoOfQuestion').value = "0";
				return true;
		}
		else if(eval(curValue) > eval(document.getElementById('totalNoOfQuestions').value)){
			alert("Maximum no of questions are  "+document.getElementById('totalNoOfQuestions').value);
			document.getElementById('NoOfQuestion').value = "0";
			document.getElementById('NoOfQuestion').focus();
			return false;
		}
	}
	var sum=0;
	function fnCheckAvailabilitySub(ids,possibleMax,Aid){

		curValue = ids.value;
		//alert(curValue);
		//alert(possibleMax);
		//alert(Aid);
		var cnt = document.getElementById('hidden'+Aid).value ;
		sum = eval (sum)+eval(curValue)-eval(cnt);
		
		document.getElementById('hidden'+Aid).value  = curValue;
		//alert(sum);
		
		ParentValue  = document.getElementById('NoOfQuestion').value;
		if(ParentValue == "" || ParentValue == 0)	{
				alert("Enter No Of Questions");	
				ids.value = "0";
				document.getElementById('NoOfQuestion').focus();
				return false;
		}
		//alert(curValue);
		//alert(possibleMax);
		if(eval(curValue) > eval(possibleMax)){
			alert("Maximum no of questions are "+possibleMax+"");
			ids.value = "0";
			ids.focus();
			return false;
		}
		if(eval(curValue) > eval(ParentValue))
		{
			alert("Maximum no of questions are "+ParentValue+"");
			ids.value = "0";
			ids.focus();
			return false;
		}
		if(eval(sum) > eval(ParentValue))
		{
			alert("Maximum no of questions are "+ParentValue+"");
			ids.value = "0";
			ids.focus();
			return false;
		}
				
	}
	var sump = new  Array();
	
	function fnCheckAvailabilitySubDetails(ids,ParentId,ChildId,possibleMax){	
		
		if(isNaN(sump[ParentId])) sump[ParentId] = document.getElementById('hidden'+ParentId).value ;
		
		var firstparentid  = document.getElementById('hidden'+ParentId).value ;
		ParentValue  = document.getElementById('NoOfQuestion').value;
		curValue = ids.value;
		var totalss = document.getElementById('hiddenthirdquestion').value;
		var cnt =document.getElementById('hidden'+ParentId+ChildId).value;
		sump[ParentId] = eval(sump[ParentId])-eval(cnt);
		//alert(totalss);
		document.getElementById('hiddenthirdquestion').value = eval(totalss)-eval(cnt);
		//alert(totalss);
		if(curValue == '')
		{			
			ids.value = "0";
			document.getElementById('hidden'+ParentId+ChildId).value =0;
			return false;
		}
		validatenumb(ids);
		if(ParentValue == "" || ParentValue == 0)	{
			alert("Enter No Of Questions");	
			ids.value = "0";
			document.getElementById('hidden'+ParentId+ChildId).value =0;
			document.getElementById('NoOfQuestion').focus();
			return false;
		}
		ChildValue  = document.getElementById("hidden"+ParentId).value;
		
		if(ChildValue == "" || ChildValue == 0)	{
			alert("Enter No Of Questions In Level One");	
			ids.value = "0";
			document.getElementById('hidden'+ParentId+ChildId).value =0;
			return false;
		}

		if(eval(ChildValue) < eval(curValue))
		{
			alert("No of Questions in Child excees theParent value");
			ids.value = "0";
			document.getElementById('hidden'+ParentId+ChildId).value =0;
			ids.focus();
			return false;
		}
		
		if(eval(curValue) > eval(possibleMax)) {
			alert("Maximum no of questions are "+possibleMax+"");
			ids.value = "0";		
			document.getElementById('hidden'+ParentId+ChildId).value =0;
			return false;
		}		
		sump[ParentId] = eval(sump[ParentId])+eval(curValue);
		//alert(totalss);
		
		if(eval(sump[ParentId]) > eval(firstparentid))
		{
			alert('More number of questions');
			sump[ParentId] = eval(sump[ParentId]) - eval(curValue);			
			ids.value = "0";	
			document.getElementById('hidden'+ParentId+ChildId).value =0;		
			ids.focus();
			return false;
		}
		document.getElementById('hiddenthirdquestion').value = eval(document.getElementById('hiddenthirdquestion').value)+eval(curValue);		
		document.getElementById('hidden'+ParentId+ChildId).value = curValue;
	}
	var totalss =<?php echo $this->thirdquestion;?>;
	function fnCheckAvailabilityLastSubDetails(ids,ParentId,ChildId,possibleMax,idtrail){	
		
		curValue      = ids.value;
		totalsssub    =  document.getElementById('thirdquestion').value;
		validatenumb(ids);
		ParentValue   = document.getElementById('NoOfQuestion').value;
		ChildValue    = document.getElementById("hidden"+ParentId).value;
		SubChildValue = document.getElementById("hidden"+ParentId+ChildId).value;

		var hiddenid = document.getElementById('hidden['+ParentId+']['+ChildId+']['+idtrail+']').value;

		
		if(ChildValue == "" || ChildValue == 0)	{
			alert("Enter No Of Questions In Level One");	
			ids.value = "0";
			return false;
		}
		if(SubChildValue == "" || SubChildValue == 0)	{
			alert("Enter No Of Questions In Level Two");	
			ids.value = "0";
			return false;
		}		
		if(curValue>possibleMax){
			alert("Maximum no of questions as "+possibleMax);
			ids.value = "0";
			totalsssub = eval(totalsssub)-eval(hiddenid);
			document.getElementById('hidden['+ParentId+']['+ChildId+']['+idtrail+']').value = 0;
			document.getElementById('thirdquestion').value = totalsssub;
			return false;
		}
	
		if(eval(curValue)>eval(SubChildValue))
		{
			alert("Maximum no of questions are "+possibleMax);
			ids.value = "0";
			document.getElementById('hidden['+ParentId+']['+ChildId+']['+idtrail+']').value = 0;
			return false;
		}
		
		var firsttotal = document.getElementById('percent['+ParentId+']['+ChildId+'][1]').value;
		var secondtotal = document.getElementById('percent['+ParentId+']['+ChildId+'][2]').value;
		var thirdtotal = document.getElementById('percent['+ParentId+']['+ChildId+'][3]').value;
		var total = eval(firsttotal)+eval(secondtotal)+eval(thirdtotal);
		if(eval(SubChildValue) < eval(total))
		{
			alert("More Questions");
			ids.value = "0";
			totalsssub = eval(totalsssub)-eval(hiddenid);
			document.getElementById('hidden['+ParentId+']['+ChildId+']['+idtrail+']').value = 0;
			document.getElementById('thirdquestion').value = totalsssub;
			return false;
		}

		totalsssub = eval(totalsssub)+eval(curValue)-eval(hiddenid);
		document.getElementById('thirdquestion').value = totalsssub;
        
		document.getElementById('hidden['+ParentId+']['+ChildId+']['+idtrail+']').value = curValue;
		
	}
	function validatenumb(num){
		validateNaN(num);
		if(num.value >100){
				alert("Enter Below 100");
				num.value = "0";
				num.focus();
				return false;
			}
		return true;
	}
	function validateNaN(num){
		if(isNaN(num.value)){
			alert("Enter A Number");
			num.value = "0";
			num.focus();			
		}
	}
	</script>
</head>
<body>
<fieldset>
    <legend>TOS Creation</legend>
        <div class="register">
            <div class="profile_tab">
                <form action="<?php echo $this->baseUrl();?>/examination/createexam/editcreateexam/id/<?php echo $this->idTOSMaster;?>"  dojoType="dijit.form.Form" method="POST"  name= "myform">
                           <script type="dojo/method" event="onSubmit">
                if (this.validate()) 
				{
                    var addedqtns = document.getElementById('thirdquestion').value;
                    var totalqtns = document.getElementById('NoOfQuestion').value;
                   		if(eval(addedqtns) == eval(totalqtns))
						    {
                           		return true;
						    }
                   	    else
							{
								alert('The total no of questions are not matching with the added questions');
								return false;

							}
                
                } 
				else 
				{
                    return false;
                }
				</script> 
                         <table border="0" width="100%">
							<tr>
							<input type="hidden" name="thirdquestion" id="thirdquestion" value='<?php echo $this->thirdquestion;?>'>
							<input type="hidden" name="hiddenthirdquestion" id="hiddenthirdquestion" value='<?php echo $this->thirdquestion;?>'>
	                            <th><?php echo $this->translate->_($this->Batch)?><span class="reqMark">*</span></th>
	                            <th><?php echo $this->form->Batch;?></th>
	                            <th><?php echo $this->translate->_("From")?></th>
	                            <th><?php echo $this->form->BatchFrom;?></th>
	                            <th><?php echo $this->translate->_("To")?></th>
	                            <th><?php echo $this->form->BatchTo;?></th>
                           </tr>

			               <tr>
	                            <th><?php echo $this->translate->_("No Of Questions")?><span class="reqMark">*</span></th>
	                            <th><?php echo $this->form->NoOfQuestion;?></th>
	                            <th><?php echo $this->translate->_("Time")?><span class="reqMark">*</span></th>
	                            <th><?php echo $this->form->ReqTime;?> &nbsp;(Min)</th>
	                            <th><?php echo $this->translate->_("Alert Time")?><span class="reqMark">*</span></th>
	                            <th><?php echo $this->form->AlertTime;?> &nbsp;(Min)<?php  $NoOfTotalQuestions = $this->NoOfTotalQuestions;?></th>
                           </tr>
                            <tr>
	                            <th><?php echo $this->translate->_("Pass Percentage")?><span class="reqMark">*</span></th>
	                            <th><?php echo $this->form->Pass;?></th>
	                           <th><?php echo $this->translate->_("$this->Course")?><span class="reqMark">*</span></th>
	                            <th><?php echo $this->form->Course;?></th>
	                              <th><?php echo $this->translate->_("Active")?><span class="reqMark">*</span></th>
	                            <th><?php echo $this->form->Active;?></th>
                           </tr>
                             <tr>
	                            <th><?php echo $this->translate->_("Set Code")?><span class="reqMark">*</span></th>
	                            <th><?php echo $this->form->Setcode;?></th>
	                           <th></th>
	                            <th></th>
	                              <th></th>
	                            <th></th>
                           </tr>
                           <tr><td colspan="6"><hr></td></tr>
                           <tr>
                           		<td colspan="6" ><input type="hidden" name="idTOSMaster" id="idTOSMaster" value="<?php echo $this->idTOSMaster?>" >
                            			<div id="hiddenMainTable" >
                           						<table   border="0"  width="100%">
                           						<?php  $fullArr	=	$this->larrSections;				
						for($i=0;$i<count($fullArr['IdPart']);$i++){					
					?>
					
                           		<tr>
                           			 <td width="16%"><?php echo $fullArr['IdPart'][$i]?><input type="hidden" name="totalNoOfQuestions" id="totalNoOfQuestions" value="<?php echo $fullArr['count'];?>"></td>
                           			 <td width="14%">
                           			 	<input type="text" name="percent[<?php echo $fullArr['IdPart'][$i]?>][]" id="percent" value="<?php if(array_key_exists('NOQ',$fullArr[$fullArr['IdPart'][$i]])){ echo $fullArr[$fullArr['IdPart'][$i]]['NOQ'];}?>" size="5" maxlength="7" onkeyup="fnCheckAvailabilitySub(this,<?php echo $fullArr[$fullArr['IdPart'][$i]]['count']?>,'<?php echo $fullArr['IdPart'][$i]?>');">
                           			 	<input type="hidden" name="hidden<?php echo $fullArr['IdPart'][$i]?>" id="hidden<?php echo $fullArr['IdPart'][$i]?>" value="<?php if(array_key_exists('NOQ',$fullArr[$fullArr['IdPart'][$i]])){ echo $parentLevelValue = $fullArr[$fullArr['IdPart'][$i]]['NOQ'];} else echo $parentLevelValue = 0;?>">
                           			 	<input type="hidden" name="Idpart[]" id="Idpart" value="<?php echo $fullArr['IdPart'][$i]?>">
                           			 
                           			 </td>
                           			  <td width="10%"><input type="button" onclick="javascript:showHidden('hiddenTable<?php echo $fullArr['id'][$i]?>');" value="+"></td>
                           					    <td width="60%">
                           					    	<div id="hiddenTable<?php echo $fullArr['id'][$i]?>" >
                           					    		<table   border="0"  width="100%">
                           					    		<?php  if(array_key_exists('idquestions',$fullArr[$fullArr['IdPart'][$i]])){
                           					    			for($j=0;$j<count($fullArr[$fullArr['IdPart'][$i]]['idquestions']);$j++){?>
                           					    			<tr>
                           					    				<td width="16%"><?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?></td>		
                           					    				<td width="26%">Qtn:Max(<?php echo $fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]]['count']?>)
                           					    				<input type="text" name="percent[<?php echo $fullArr['IdPart'][$i]?>][<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>][0]" id="percent" value="<?php if(array_key_exists(0,$fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]])) echo $fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][0];?>" size="5" maxlength="5" onkeyup="fnCheckAvailabilitySubDetails(this,'<?php echo $fullArr['IdPart'][$i]?>','<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>',<?php echo $fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]]['count']?>);" onchange="fnClearThirdSubDetails(this,'<?php echo $fullArr['IdPart'][$i]?>','<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>',<?php echo $fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]]['count']?>);">
                           					    				<input type="hidden" name="hidden<?php echo $fullArr['IdPart'][$i]?><?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>" id="hidden<?php echo $fullArr['IdPart'][$i]?><?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>" value="<?php if(array_key_exists(0,$fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]])) echo  $fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][0]; else echo 0;?>">
                           					    				<input type="hidden" name="idquestions[<?php echo $fullArr['IdPart'][$i]?>][]" id="idquestions" value="<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>">
                           					    				</td>
                           					    				<td width="10%"><input type="button" onclick="javascript:showHidden('hiddenTable<?php echo $fullArr['id'][$i]?><?php echo $fullArr[$fullArr['IdPart'][$i]]['idquestions'][$j]?>');" value="+"></td>
                           					    				<td width="48%">
				                           					    	<div id="hiddenTable<?php echo $fullArr['id'][$i]?><?php echo $fullArr[$fullArr['IdPart'][$i]]['idquestions'][$j]?>">
				                           					    		<table  >
				                           					    			<tr>
				                           					    				<td>Easy:Max(<?php if($fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][1]['count']) echo $fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][1]['count'];else echo 0;?>)</td>		
				                           					    				<td><input type="text" name="percent[<?php echo $fullArr['IdPart'][$i]?>][<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>][1]" id="percent[<?php echo $fullArr['IdPart'][$i]?>][<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>][1]" value="<?php if(array_key_exists(1,$fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]])) { if($fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][0] != 0){ echo $fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][1];} else  echo $fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][0];} else echo 0;?>" size="5" maxlength="5" onkeyup="fnCheckAvailabilityLastSubDetails(this,'<?php echo $fullArr['IdPart'][$i]?>','<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>',<?php if($fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][1]['count']) echo $fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][1]['count'];else echo 0;?>,1);"></td>
				                           					    				<td><input type="hidden" name="hidden[<?php echo $fullArr['IdPart'][$i]?>][<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>][1]" id="hidden[<?php echo $fullArr['IdPart'][$i]?>][<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>][1]" value="<?php if(array_key_exists(1,$fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]])) { if($fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][0] != 0){ echo $fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][1];} else  echo $fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][0];} else echo 0;?>" size="5" maxlength="5"></td>				                           					    								                           					    				
				                           					    			</tr>
				                           					    			<tr>
				                           					    				<td>Intermediate:Max(<?php if($fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][2]['count']) echo $fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][2]['count'];else echo 0;?>)</td>		
				                           					    				<td><input type="text" name="percent[<?php echo $fullArr['IdPart'][$i]?>][<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>][2]" id="percent[<?php echo $fullArr['IdPart'][$i]?>][<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>][2]" value="<?php if(array_key_exists(2,$fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]])) { if($fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][0] != 0){ echo $fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][2];} else echo $fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][0];} else echo 0;?>" size="5" maxlength="5" onkeyup="fnCheckAvailabilityLastSubDetails(this,'<?php echo $fullArr['IdPart'][$i]?>','<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>',<?php if($fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][2]['count']) echo $fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][2]['count'];else echo 0;?>,2);"></td>	
				                           					    				<td><input type="hidden" name="hidden[<?php echo $fullArr['IdPart'][$i]?>][<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>][2]" id="hidden[<?php echo $fullArr['IdPart'][$i]?>][<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>][2]" value="<?php if(array_key_exists(1,$fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]])) { if($fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][0] != 0){ echo $fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][2];} else  echo $fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][0];} else echo 0;?>" size="5" maxlength="5" ></td>				                           					    							                           					    				
				                           					    			</tr>
				                           					    			<tr>
				                           					    				<td>Difficult:Max(<?php if($fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][3]['count']) echo $fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][3]['count'];else echo 0;?>)</td>
				                           					    				<td><input type="text" name="percent[<?php echo $fullArr['IdPart'][$i]?>][<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>][3]" id="percent[<?php echo $fullArr['IdPart'][$i]?>][<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>][3]" value="<?php if(array_key_exists(3,$fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]])) { if($fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][0] != 0){ echo $fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][3];} else echo $fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][0];} else echo 0;?>" size="5" maxlength="5" onkeyup="fnCheckAvailabilityLastSubDetails(this,'<?php echo $fullArr['IdPart'][$i]?>','<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>',<?php if($fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][3]['count']) echo $fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][3]['count'];else echo 0;?>,3);"></td>	
				                           					    				<td><input type="hidden" name="hidden[<?php echo $fullArr['IdPart'][$i]?>][<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>][3]" id="hidden[<?php echo $fullArr['IdPart'][$i]?>][<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>][3]" value="<?php if(array_key_exists(1,$fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]])) { if($fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][0] != 0){ echo $fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][3];} else  echo $fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][0];} else echo 0;?>" size="5" maxlength="5" ></td>				                           					    							                           					    				
				                           					    			</tr>                           					    	
					                           					    	</table>
					                           					    </div>
				                           					    </td>
                           					    			</tr> 
                           					    			<?php }
                           					    			}?>                          					    			                         					    	
	                           					    	</table>
	                           					    </div>
                           					    </td>
                           					   <td></td>
                           					</tr>  
                           					 <tr><td colspan="5"><hr></td></tr>
                           					<?php }?>                       				
                           	</table>	
                           		
                           		</div>
                           		
                           		</td>
                           </tr>
                           <tr>
                           		<td colspan="6" align="right"><?php echo $this->form->Save; ?><a  href="#" onclick="javascript:window.location.href='<?php echo $this->baseUrl();?>/examination/createexam'"><?php echo $this->form->Close;?></a></td>
                           </tr>
						</table>
				</form>
			</div>
		</div>
	</fieldset>	
</body>
</html>
