					<head>
	<script type="text/javascript">

	dojo.addOnLoad(function(){

		/*va=confirm("Do you want for each section percentage then press ok?");
	if(va!=true)
		{
		ca='<?php //echo count($this->larrSections);?>';
		//alert(ca);
     /*   if(ca)
        {
		for(i=0;i<ca;i++)
		{
		var Exame = dojo.byId('Exame'+i);
		dojo.style(Exame,'display','none');
		}
        }	
         
		
		}
		*/

		/*var hidepass='<?php //echo $this->hidepass?>';
		//alert(hidepass);
	//	if(hidepass == 0)
		//{
			//document.getElementById('pass').style.display = none;
		}*/
		
	});
	</script>
	</head>
					
					<table width="100%"><?php $ma=0; $fullArr	=	$this->larrSections;	//echo $fullArr['count'];			
						for($i=0;$i<count($fullArr['IdPart']);$i++){					
					?>
					
                           		<tr>
                           			 <td width="16%"><?php echo $fullArr['IdPart'][$i]?><input type="hidden" name="totalNoOfQuestions" id="totalNoOfQuestions" value="<?php echo $fullArr['count'];?>"></td>
                           			 <td width="14%">
                           			 	<input type="text" name="percent[<?php echo $fullArr['IdPart'][$i]?>][]" id="percent" size="5" maxlength="7" value="0" onChange="fnclearsubdetails(this,<?php echo $fullArr[$fullArr['IdPart'][$i]]['count']?>,'<?php echo $fullArr['IdPart'][$i]?>');" onkeyup="fnCheckAvailabilitySub(this,<?php echo $fullArr[$fullArr['IdPart'][$i]]['count']?>,'<?php echo $fullArr['IdPart'][$i]?>');"><input type="hidden" name="hidden<?php echo $fullArr['IdPart'][$i]?>" id="hidden<?php echo $fullArr['IdPart'][$i]?>" value="0">
                           			    <input type="hidden" name="Idpart[]" id="Idpart" value="<?php echo $fullArr['IdPart'][$i]?>">
                           			 
                           			 </td>
                           			  <td width="10%"><input type="button" onclick="javascript:showHidden('hiddenTable<?php echo $fullArr['id'][$i]?>');" value="+"></td>
                           					    <td width="60%">
                           					    	<div id="hiddenTable<?php echo $fullArr['id'][$i]?>" style="display:none;">
                           					    		<table width="100%">
                           					    		<?php   for($j=0;$j<count($fullArr[$fullArr['IdPart'][$i]]['idquestions']);$j++){?>
                           					    			<tr>
                           					    				<td width="8%"><?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?></td>	
                           					    				<td width="26%">Qtn
                           					    				 <input type="text"  name="percent[<?php echo $fullArr['IdPart'][$i]?>][<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>][0]" id="percent" size="5" maxlength="5" value="0" onkeyup="fnCheckAvailabilitySubDetails(this,'<?php echo $fullArr['IdPart'][$i]?>','<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>',<?php echo $fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]]['count']?>);" onchange="fnClearThirdSubDetails(this,'<?php echo $fullArr['IdPart'][$i]?>','<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>',<?php echo $fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]]['count']?>);">
                           					    				 <input type="hidden" name="hidden<?php echo $fullArr['IdPart'][$i]?><?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>" id="hidden<?php echo $fullArr['IdPart'][$i]?><?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>" value="0">
                           					    				 <input type="hidden" name="idquestions[<?php echo $fullArr['IdPart'][$i]?>][]" id="idquestions" value="<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>">
                           					    				</td>
                           					    				<td width="10%"><input type="button" onclick="javascript:showHidden('hiddenTable<?php echo $fullArr['id'][$i]?><?php echo $fullArr[$fullArr['IdPart'][$i]]['idquestions'][$j]?>');" value="+"></td>
                           					    				<td width="48%">
				                           					    	<div id="hiddenTable<?php echo $fullArr['id'][$i]?><?php echo $fullArr[$fullArr['IdPart'][$i]]['idquestions'][$j]?>" style="display:none;">
				                           					    		<table width="100%">
				                           					    			<tr>
				                           					    				<td>Easy</td>		
				                           					    				<td><input type="text" name="percent[<?php echo $fullArr['IdPart'][$i]?>][<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>][1]" id="percent[<?php echo $fullArr['IdPart'][$i]?>][<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>][1]" size="5" maxlength="5" value="0" onblur="fnCheckAvailabilityLastSubDetails(this,'<?php echo $fullArr['IdPart'][$i]?>','<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>',<?php if($fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][1]['count']) echo $fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][1]['count'];else echo 0;?>,1);"></td>
				                           					    				<td><input type="hidden" name="hidden[<?php echo $fullArr['IdPart'][$i]?>][<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>][1]" id="hidden[<?php echo $fullArr['IdPart'][$i]?>][<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>][1]" size="5" maxlength="5" value="0"></td>				                           					    				
				                           					    			</tr>
				                           					    			<tr>
				                           					    				<td>Intermediate</td>		
				                           					    				<td><input type="text" name="percent[<?php echo $fullArr['IdPart'][$i]?>][<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>][2]" id="percent[<?php echo $fullArr['IdPart'][$i]?>][<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>][2]" size="5" maxlength="5" value="0" onkeyup="fnCheckAvailabilityLastSubDetails(this,'<?php echo $fullArr['IdPart'][$i]?>','<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>',<?php if($fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][2]['count']) echo $fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][2]['count'];else echo 0;?>,2);"></td>
				                           					    				<td><input type="hidden" name="hidden[<?php echo $fullArr['IdPart'][$i]?>][<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>][2]" id="hidden[<?php echo $fullArr['IdPart'][$i]?>][<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>][2]" size="5" maxlength="5" value="0" ></td>				                           					    				
				                           					    			</tr>
				                           					    			<tr>
				                           					    				<td>Difficult</td>
				                           					    				<td><input type="text" name="percent[<?php echo $fullArr['IdPart'][$i]?>][<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>][3]" id="percent[<?php echo $fullArr['IdPart'][$i]?>][<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>][3]" size="5" maxlength="5" value="0" onkeyup="fnCheckAvailabilityLastSubDetails(this,'<?php echo $fullArr['IdPart'][$i]?>','<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>',<?php if($fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][3]['count']) echo $fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][3]['count'];else echo 0;?>,3);"></td>
				                           					    				<td><input type="hidden" name="hidden[<?php echo $fullArr['IdPart'][$i]?>][<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>][3]" id="hidden[<?php echo $fullArr['IdPart'][$i]?>][<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>][3]" size="5" maxlength="5" value="0" ></td>				                           					    				
				                           					    			</tr>                           					    	
					                           					    	</table>
					                           					    </div>
				                           					    </td>
                           					    			</tr> 
                           					    			<?php }?>                          					    			                         					    	
	                           					    	</table>
	                           					    </div>
                           					    </td>
                           					   <td></td>
                           					</tr>  
                           					  <tr><td colspan="5"><hr></td></tr> 
                           					<?php }?>                       				
                           	</table>	
                           		