
<head>
<script>
   dojo.addOnLoad(function(){
	 dijit.byId('field3').focus();	
	});

function checkAll(){
 	nodes = dojo.query('[name=\"IDApplication[]\"]');
 	if(document.getElementById('IDAppl').checked == true) {	
 		 dojo.forEach(nodes,
 		    function(node)
 		    {
 		        dijit.getEnclosingWidget(node).set("checked",true);
 		    }
 		);
 	}
 	else {	
 		dojo.forEach(nodes,
 			    function(node)
 			    {
 			        dijit.getEnclosingWidget(node).set("checked",false);
 			    }
 			);
 	}
 	
 }
function fnhidebtn()
{
	document.getElementById('Confirm').style.display='none';
}

function validateform(){
	 var n = <?php echo $this->count;?>;
		
		 flgs = 0;	 
		 for(i=1;i<=n;i++){			 
		if(document.getElementById("IDApplication"+i).checked) 
				flgs	=	1;			
		 }		
		 if( flgs == 0){
		    alert('Please Select Atleast One Takaful Details');		
		     return false;
		 }
		 else{
			 fnhidebtn();
		   return true;
		 }
}



</script>
</head>

<form dojoType="dijit.form.Form"  id="initconfigForm" name="form1" method="post" action="<?php echo $this->baseUrl();?>/finance/paymenttakaful/index/search/1">
   <fieldset>
           <legend><?php echo $this->translate->_("Paypal Takaful Payment");?></legend>
	    	<table    width="100%">	    		
      			<tr>
         			<td class="label"><?php echo $this->translate->_("Takaful Name")?></td>
        			<td><?php echo $this->lobjform->field3?></td>	
        			<td class="label"></td>
        			<td></td>	        			  	       	
      			</tr>
      			   
		      	<tr>
	               <td align = "center" colspan = "4">
						<?php echo $this->lobjform->Search;?>
						<?php echo $this->lobjform->Clear;?>
				   </td>
				</tr>      	
	        </table>		

    </fieldset>
</form>
<br>
<?php  if (count($this->countcomp)):  $cnnt = 0; ?>  
<fieldset>
  <script>
  	function fnvalidate(idchk,chk)
  	{ 	  	
  		 	  		
  			var str1="IDApplication";
  	  		var str2=chk;
  	  		var actived=document.getElementById(str1.concat(str2)).checked;	
  	  		if(actived==true)
  	  		{
		  	  var payment3=dojo.byId('payment3'+chk);
		  	  dojo.style(payment3,'display','block');
		  	  var payment4=dojo.byId('payment4'+chk);
			  dojo.style(payment4,'display','block');	
  	  		}
  	  		else
  	  		{	
  	  	  	 var payment3=dojo.byId('payment3'+chk);
	  		 dojo.style(payment3,'display','none');
	  	  	 var payment4=dojo.byId('payment4'+chk);
	  		 dojo.style(payment4,'display','none');		
  	  		} 
  	  }
  	</script>
 <form method="post" action="<?php echo $this->baseUrl();?>/finance/paymenttakaful/index/idtakaful/<?php echo $this->idtakaful;?>">
  	<table class="table"  cellpadding="5" width="100%" cellspacing="1">
    		<tr>
    		<th ><?php echo $this->translate->_("Select All");?>
    			
    			
             <input type="checkbox" dojoType="dijit.form.CheckBox" name="IDAppl"  onClick="checkAll();" id="IDAppl">
          		<?php  echo $lobjcategory['FName'];?>
    			
    			</th>
    		    <th ><?php echo $this->translate->_("Takaful Name");?></th>
    		    <th ><?php echo $this->translate->_("Description");?></th>
				<th ><?php echo $this->translate->_("Number of Students Registred"); ?></th>	
				
				<th ><?php echo $this->translate->_("Payment Fee");?></th>
				<th ><?php echo $this->translate->_("Payer Id"); ?></th>					
				<th ><?php echo $this->translate->_("Payment date"); ?></th>
				<th ><?php echo $this->translate->_("Verify Sign");?></th>
				<th ><?php echo $this->translate->_("Transaction Id"); ?></th>							
    		</tr>
    	
    	  	
    	<tbody>       	            
            <?php   foreach ($this->countcomp as $lobjcategory ): $cnnt++ ?>
          <tr> 
          	<td><input type="checkbox" dojoType="dijit.form.CheckBox" name="IDApplication[]" value="<?php echo $this->escape($lobjcategory['IDApplication']);?>" onClick = "fnvalidate('payment3<?php echo $cnnt;?>',<?php echo $cnnt;?>)" id="IDApplication<?php echo $cnnt;?>"></td>
             <td ><?php  echo $lobjcategory['TakafulName'];?><input type="hidden" name="idtakafuloperator[<?php echo $lobjcategory['IDApplication'];?>]" id="payment5<?php echo $cnnt;?>" value="<?php echo $lobjcategory['idtakafuloperator'];?>"></td>
          	 <td ><?php  echo $lobjcategory['IDApplication'];?></td>   
          	 <td ><?php  echo $lobjcategory['totalNoofCandidates'];?></td>            
          	 <td  id="text1<?php echo $cnnt;?>"><input type="text"  dojotype="dijit.form.TextBox" id="payment1<?php echo $cnnt;?>" name="grossAmount[<?php echo $lobjcategory['IDApplication'];?>]"  value="<?php echo $lobjcategory['totalAmount'];?>"  />  </td>  
          	 <td id="text2<?php echo $cnnt;?>" ><input type="text"  dojotype="dijit.form.TextBox" id="payment2<?php echo $cnnt;?>" name="payerId[<?php echo $lobjcategory['IDApplication'];?>]" value="<?php echo $lobjcategory['email'];?>"/>  </td> 
          	 <td id="text6<?php echo $cnnt;?>" ><input type="text"  dojotype="dijit.form.TextBox" id="payment6<?php echo $cnnt;?>" name="UpdDate[<?php echo $lobjcategory['IDApplication'];?>]" value="<?php echo $lobjcategory['UpdDate'];?>" />  </td>        		  		    		    
     		 <td id="text3<?php echo $cnnt;?>" ><input type="text"  dojotype="dijit.form.TextBox"" id="payment3<?php echo $cnnt;?>" name="verifySign[<?php echo $lobjcategory['IDApplication'];?>]"  />  </td> 
          	 <td id="text4<?php echo $cnnt;?>" ><input type="text"  dojotype="dijit.form.TextBox"" id="payment4<?php echo $cnnt;?>" name="transactionId[<?php echo $lobjcategory['IDApplication'];?>]"  />  </td>  
          		
     	 </tr>
     		 <?php  endforeach; ?>
     		 
     </tbody>		
     	<td colspan="9" align="right" id="Confirm">  
			<?php  echo  $this->lobjpaymentForm->Confirm;?>
	    </td>
   </table>
  </form>
</fieldset> 
<?php  endif; ?>
</html>
