<head>
<script>
dojo.addOnLoad(function(){
	dijit.byId('field3').focus();	

	dijit.byId('field5').set('value','');
	dijit.byId('field5').set('placeHolder','Select');

	fnGetCountryStateList("121");
});


function fnGetCountryStateList(idCountry)
{ 
	if(idCountry != "")
		{ 
			var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/general-setup/user/getcountrystateslist/idCountry/"+idCountry,
					handleAs:'json',
					load:function(data){ 
						AutoFillNextEditableDropDown("field1",data); 
					}
			   }
			dojo.xhrGet(xhrArgs); 
		} 
}

function fnGetCityList(idCountry){ 
	
	if(idCountry != "" || idCountry != undefined)
		{  
		var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/general-setup/center/getcitylist/idCountry/"+idCountry,
				handleAs:'json',
				load:function(data){ 
					AutoFillNextEditableDropDown("field8",data); 
				}
		   }
		dojo.xhrGet(xhrArgs);  
			
	} 
} 

function fnGetOperatorNames(){

	optype=dijit.byId('field19').value;
	namestring=document.getElementById("field3").value;
    if(optype==""){
        alert("Please Select Operator Type");
        return false;
    }
	if(namestring!=""){
			var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/registrations/companyapplication/getoperatornames/opType/"+optype+"/namestring/"+namestring,
					handleAs:'text',
					load:function(data){ 
						//AutoFillNextEditableDropDown("opnames",data);
						document.getElementById("opnames").innerHTML=data;
					}
			   }
			dojo.xhrGet(xhrArgs);
	}
}


function fnsetvalue(opname){
	document.getElementById("field3").value=opname;
	document.getElementById("opnames").innerHTML="";
}


function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}
</script>

<style>
.HighlightableRow:hover
{
  background-color: red;
}


div.opnames { 
  width:165px;
  background-color:white;
  border:1px solid #888;
  margin:0px;
  padding:0px; 
  cursor:pointer;
  overflow:auto;  
}
</style>

</head>
	<fieldset>
		<legend><?php echo $this->translate("Company Details").' '.$this->translate("Search");?></legend>
         <form action="<?php echo $this->baseUrl();?>/registrations/companystudentdetails/index/search/1" method="POST">
            <table width="100%">
          		<tr>
                     <td><?php echo $this->translate("Type Of Operator");?></td>
                     <td><?php echo $this->lobjform->field19;?></td>
                     <td></td>
                     <td></td>
                </tr>
                <tr>
                   <td><?php echo $this->translate("Company/Takaful Name");?></td>
                   <td ><?php echo $this->lobjform->field3;?><div id="opnames" class="opnames"></td>
                   <td><?php echo $this->translate("Short Name");?></td>
                   <td ><?php echo $this->lobjform->field2;?></td>
                </tr>
            <!--     <tr>
                     <td><?php echo $this->translate("State");?></td>
                     <td ><?php echo $this->lobjform->field1;?></td>
                     <td><?php echo $this->translate("City");?></td>
                     <td ><?php echo $this->lobjform->field8;?></td>
                </tr>
                <tr>
                     <td><?php echo $this->translate("Phone");?></td>
                     <td ><?php echo $this->lobjform->field12;?></td>
                     <td><?php echo $this->translate("Email");?></td>
                     <td ><?php echo $this->lobjform->field13;?></td>
                </tr>
                <tr>
                     <td><?php echo $this->translate("Address");?></td>
                     <td ><?php echo $this->lobjform->field6;?></td>
                     <td><?php echo $this->translate("Business Type");?></td>
                     <td ><?php echo $this->lobjform->field5;?></td>
                     <td></td>
                     <td ></td>
                </tr>
                 --> 
                <tr>
	               <td align = "center" colspan = "4">
						<?php echo $this->lobjform->Search;?>
						<?php echo $this->lobjform->Clear;?>
				   </td>
                </tr>
            </table>
        </form>	
    </fieldset> 
    <br/>
	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
		
	    	<tr>
	        	<th><?php echo $this->translate("Company/Takaful Name");?></th>
	       	    <th><?php echo $this->translate("Short Name");?></th>
	        	<th><?php echo $this->translate("Address");?></th>
	        	<th><?php echo $this->translate("State");?></th>
	        	<th><?php echo $this->translate("City");?></th>
	        	<th><?php echo $this->translate("Phone");?></th>
	        	<th><?php echo $this->translate("Email");?></th>
	        	<th><?php echo $this->translate("Business Type");?></th>
	    	</tr>
	        <?php if (count($this->paginator)): ?>
	        <?php foreach ($this->paginator as $lobjcompanydetails ): ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	<td><a href="<?php echo $this->url(array('module'=>'registrations','controller'=>'companystudentdetails', 'action'=>'companystudentlist' , 'idcompany'=>$lobjcompanydetails['IdCompany']),'default',true);?>" ><?php print_r($this->escape($lobjcompanydetails['CompanyName']));?></a></td>
	    	    <td><?php echo $this->escape($lobjcompanydetails['ShortName']);?></td>
	    		<td><?php echo $this->escape($lobjcompanydetails['Address']);?></td>
	    		<td><?php echo $this->escape($lobjcompanydetails['StateName']);?></td>
	    		<td><?php echo $this->escape($lobjcompanydetails['CityName']);?></td>
	    		<td><?php echo $this->escape($lobjcompanydetails['Phone1']);?></td>
	    		<td><?php echo $this->escape($lobjcompanydetails['Email']);?></td>
	    		<td><?php echo $this->escape($lobjcompanydetails['BusinessType']);?></td>
	            <?php endforeach; ?>
	            <?php endif; ?> 
			</tr>
	    	<tr>
	        	<td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>
		</table>
	</fieldset>
