<script>
var ss = 10;
function countdown() {
	
	if (ss<1) {
	//window.location="http://www.sitename.com";
		window.location.href= "<?php echo $this->baseurl();?>/registrations/companystudentdetails/coursevenue/registrationpin/<?php echo $this->ids;?>/idcompany/<?php echo $this->idcompany;?>"; // the redirect goes here
	}
	else {
	document.getElementById("countdown").innerHTML=ss;
	window.setTimeout("countdown()", 1000);
	}
	ss = ss-1;
}

//setTimeout(function () { 
	//window.location.href= "<?php echo $this->baseurl();?>/registrations/companystudentdetails/coursevenue/registrationpin/<?php echo $this->ids;?>/idcompany/<?php echo $this->idcompany;?>"; // the redirect goes here
//},5000); // 5 seconds


</script>

<body onload="countdown()">
	<h3>You Have Successfully Registered The Candidates</h3>
	<h3>You willl be redirected back to the Registration Page in (<span id="countdown" style="color:green;">5</span>) Seconds Please Wait...</h3>
</body>


<?php 

?>














