<html>
<head>
<script type="text/javascript">
function fnhidesavebutton()
{
  document.getElementById('saved').style.display='none'; 
}
dojo.addOnLoad(function(){
document.getElementById('leb1').innerHTML = 'Select Registration Pin:';
	var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/registrations/companystudentdetails/getallregpins/batch/"+<?php echo $this->batch;?>+"/companyflag/"+<?php echo $this->flag;?>+"/idcompany/"+<?php echo $this->idcompany;?>,
				handleAs:'json',
				load:function(data){ 
						AutoFillNextEditableDropDown("NewRegpin",data); 
					}
		   }
		dojo.xhrGet(xhrArgs);
});
function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"key",
				identifier:"name",
				items:JSONText
			  };
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}
function fngoback()
{
  window.location = "<?php echo $this->baseUrl();?>"+"/registrations/companystudentdetails/companystudentlist/idcompany/"+<?php echo $this->idcompany;?>;
}


function fngetabsentlist(valid)
{

dijit.byId('NewRegpin').setValue('');
	
	if(valid==1)
	{
		
		document.getElementById('leb1').innerHTML = 'Select Registration Pin:';
		document.getElementById('grtele').innerHTML = '';
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/registrations/companystudentdetails/getallregpins/batch/"+<?php echo $this->batch;?>+"/companyflag/"+<?php echo $this->flag;?>+"/idcompany/"+<?php echo $this->idcompany;?>,
			handleAs:'json',
			load:function(data){ 
					AutoFillNextEditableDropDown("NewRegpin",data); 
				}
	   }
	dojo.xhrGet(xhrArgs);
	}
	if(valid==2)
	{
		
		document.getElementById('leb1').innerHTML = 'Select Month:';

		var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/registrations/companystudentdetails/companydummibatchlist/batch/"+<?php echo $this->batch;?>+"/companyflag/"+<?php echo $this->flag;?>+"/idcompany/"+<?php echo $this->idcompany;?>,
				handleAs:'json',
				load:function(data){ 
					if(data){ 
						//console.log(data);
						AutoFillNextEditableDropDownss("NewRegpin",data); 
					}
					else
					{
						AutoFillNextEditableDropDownss("NewRegpin",data); 
						alert("There is no absent candidates to move");
					dijit.byId('NewRegpin').setValue('');
					}
					
						}
		   }
		dojo.xhrGet(xhrArgs);
		
	}
}


function AutoFillNextEditableDropDownss(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}
function fngetcheckall(ids){
res=document.getElementById('allstu').checked;
 cnt=ids;

if(res)
{
	//alert(res);

	for(iter1=0;iter1<ids;iter1++)
	{
		document.getElementById("stuapp"+iter1).checked=true;
		//alert(document.getElementById("stuapp"+iter1).value);
	}
}
else
{
	for(iter1=0;iter1<ids;iter1++)
	{
		document.getElementById("stuapp"+iter1).checked=false;
	}
}

	
}


function  fnlistabs(dts)
{
	datsd=dijit.byId('NewRegpin');
	
	valid=dijit.byId('NewType');
	if(valid==2)
	{
	
		document.getElementById('grtele').innerHTML = '<img src="<?php echo $this->baseUrl()."/images/reregloader.gif";?>"  height="20" width="150" />';
		var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/registrations/companystudentdetails/getallabsentstudents/batch/"+<?php echo $this->batch;?>+"/companyflag/"+<?php echo $this->flag;?>+"/idcompany/"+<?php echo $this->idcompany;?>+"/datess/"+datsd,
				handleAs:'text',
				load:function(data){ 
					document.getElementById('grtele').innerHTML = data;
					}
		   }
		dojo.xhrGet(xhrArgs);

		
	}
	
}

</script>
</head>
<body>
	
         <form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">
    	<script type="dojo/method" event="onSubmit">
              if (this.validate()) {
types=dijit.byId('NewType').value;
//alert(types)
if(types==2){
 var n = <?php echo $this->totalcandidates;?>;
	 //alert(n);
	 flgs = 0;	 
	 for(i=1;i<=n;i++){
//alert(i);
//alert(document.getElementById("stuapp"+i).value);
		 if(document.getElementById("stuapp"+i)){

		if(document.getElementById("stuapp"+i).checked) 
			flgs=1;
		}
	 }
//alert(flgs);		
	 if( flgs!= 1){
	    alert('Please Select Atleast One Student');		
	     return false;
	 }
	 else{
	   return true;
	 }
}
else
{
return true;
}	
		}
else{
	   return false;
	 }	
			</script>
		 <fieldset>
			<legend><?php echo $this->translate("Company Details");?></legend>
            <table class="table" width="100%">          		
                <tr>
				<?php if($this->flag ==1){?>
                   <th><?php echo $this->translate("Company Name");?></th>
				   <?php }else{?>
				   <th><?php echo $this->translate("Takaful Name");?></th>
				   <?php }?>
				   <th><?php echo $this->translate("Registration Pin");?></th>
				   <th><?php echo $this->translate("Total Candidates");?></th>
				   <th><?php echo $this->translate("Mode Of Payment");?></th>
                </tr>
				<tr>
				    <td ><?php echo $this->companyname;?></td>
                    <td ><?php echo $this->regpin;?></td>
					<td ><?php echo $this->totalcandidates;?></td>
					<?php 
	    			$modpayment="";
	    		 if( $this->paymentmode == 2 ){
	    			$modpayment="PayPal";    			
	    		}else if ($this->paymentmode==1){
	    			$modpayment="FPX";
	    		}else if($this->paymentmode==4){
	    			$modpayment="Cheque";
	    		}else if ($this->paymentmode==181){
	    			$modpayment="Pay Later";
	    		}else if ($this->paymentmode==10){
	    			$modpayment="MIGS";
	    		}
	    		else if ($this->paymentmode==7){
	    			$modpayment="Credit to IBFIM";
	    		}?>
                   <td ><?php echo $modpayment;?></td>
                   
                </tr>				
			</table>
			</fieldset>
			<br/>
			<fieldset>
			<legend><?php echo $this->translate("Move Candidates To");?></legend>
            <table width="100%" >
<tr>
				      <td><?php echo $this->translate("Select Type:");?></td>
                      <td><?php echo $this->lobjBatchcandidatesForm->NewType;?></td>
                      </tr>
                      			
				<tr>
				       <td><div id='leb1'></div></td>
                      <td><?php echo $this->lobjBatchcandidatesForm->NewRegpin;?></td>
 		               <td><input type="hidden" id="idbatch" name="idbatch" value="<?php echo $this->batch;?>" /></td>
					   <td><input type="hidden" id="idcompany" name="idcompany" value="<?php echo $this->idcompany;?>" /></td>
                       <td><input type="hidden" id="oldregpin" name="oldregpin" value="<?php echo $this->regpin;?>" /></td>
					     <td><input type="hidden" id="amount" name="amount" value="<?php echo $this->amount;?>" /></td>
						   <td><input type="hidden" id="oldgst" name="oldgst" value="<?php echo $this->gst;?>" /></td>
					   
					  <td><input type="hidden" id="totalcandidates" name="totalcandidates" value="<?php echo $this->totalcandidates;?>" /></td>
				</tr>

 <tr>
                      
                      <td colspan="2"><div id="grtele">  </div></td>
                      </tr>

                <tr>
	               <td align = "center" id="saved" colspan = "4">
						<?php echo $this->lobjBatchcandidatesForm->Save;?>
						<?php echo $this->lobjBatchcandidatesForm->Back;?>
				   </td>
                </tr>
            </table>
			</fieldset>
        </form>	
   
  </body>  
 </html> 