<head>
<script language="JavaScript" type="text/javascript">
function Closefn(Regpin)
{ 
  	  window.location = "<?php echo $this->baseUrl();?>/takafulcandidates/import/batchId/"+Regpin;
}

</script>
</head>
     <fieldset>
           <legend><?php echo $this->translate("Candidate").' '.$this->translate("Applied Details");?></legend>
           <table width="80%"  border="0" class="table3" cellspacing="1" align ="center">
				    <tr>
                    	 <input type="hidden" value="<?php echo $this->idbatchss;?>" name="idbatch" id="idbatch">
							 <th><?php echo $this->translate("Student Name");?></th>
                             <th><?php echo $this->translate("ICNO");?></th>  
                             <th><?php echo $this->translate("Email-ID");?></th>              
                             <th><?php echo $this->translate("Reason");?></th>        
                             <th><?php echo $this->translate("Applied Date");?></th> 
                             <th><?php echo $this->translate("Applied Time");?></th>                               
                    	 </tr>  
                    	<?php foreach ($this->larrappliederr as $larrappliedresult){  if($larrappliedresult['Flag']==1){$reason="ICNO Improper";}else if($larrappliedresult['Flag']==2){$reason="Email Improper";}else if($larrappliedresult['Flag']==3){$reason="Age Not Proper";}else if($larrappliedresult['Flag']==4){$reason="Race Not Proper";}else if($larrappliedresult['Flag']==5){$reason="Education Not Proper";}else if($larrappliedresult['Flag']==6){$reason="Gender Not Proper";}else if($larrappliedresult['Flag']==7){$reason="Postal Code Not Proper";}else if($larrappliedresult['Flag']==8){$reason="Country Not Proper";}else if($larrappliedresult['Flag']==9){$reason="State Not Proper";}else if($larrappliedresult['Flag']==10){$reason="ICNO Repeated Entry";}else if($larrappliedresult['Flag']==13){$reason="ICNO Should Be Numeric";}else if($larrappliedresult['Flag']==11){$reason="ICNO and Date of birth not matching";}?>
                    	<tr>
                    	<td><?php echo $larrappliedresult['StudentName'];?></td>
                    	<td><?php echo $larrappliedresult['ICNO'];?></td>
                    	<td><?php echo $larrappliedresult['MailId'];?></td> 
                    	<td><?php echo $reason;?></td>      
                    	<td><?php echo date('d-m-Y',strtotime($larrappliedresult['UpdDate']));?></td>                    	
                    	<td><?php echo date('H:i:s',strtotime($larrappliedresult['UpdDate']));?></td> 
                    	</tr>                 	
                    	<?php }?>
                    	
                    	<tr>
                    		      
                            <td align = "right" colspan="6">    
			 				<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'registrations','controller'=>'companystudentdetails', 'action'=>'excelstudents','idcompany'=>$this->idcompany,'idRegPin'=>$this->idbatchss),'default',true);?>';" />	

                            </td> 
                        </tr>
					</table>
       
       
        </fieldset>
     
