<head>
<script>
</script>
</head>
<form action=""  dojoType="dijit.form.Form" method="POST">
	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
	    	<tr>
			     <?php if($this->compflag==1){?>
				 
	        	<th><?php echo $this->translate("Company Name");?></th>
				<?php } else if($this->compflag==2){ ?>
				<th><?php echo $this->translate("Takaful Name");?></th>			<?php } ?>
                <th><?php echo $this->translate("Invoice");?></th>	
				<th><?php echo $this->translate("BatchId");?></th>	
	        	<th><?php echo $this->translate("Address");?></th>	        	
	        	<th><?php echo $this->translate("Phone");?></th>
	        	<th><?php echo $this->translate("Email");?></th>
	        	<th><?php echo $this->translate("Business Type");?></th>
	    	</tr>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	<td><?php echo $this->escape($this->companydetails['CompanyName']);?></td>
				<td><?php echo $this->escape($this->pindetails['Invoiceuniqueid']);?></td>
				<td><?php echo $this->escape($this->pindetails['Regpin']);?></td>	
	    		<td><?php echo $this->escape($this->companydetails['Address']);?></td>	    	
	    		<td><?php echo $this->escape($this->companydetails['Phone1']);?></td>
	    		<td><?php echo $this->escape($this->companydetails['Email']);?></td>
	    		<td><?php echo $this->escape($this->companydetails['BusinessType']);?></td>
	            <input type="hidden" name="CompanyName" id="CompanyName" value="<?php echo $this->escape($this->companydetails['CompanyName']);?>">	
		        <input type="hidden" name="flag" id="flag" value="<?php echo $this->escape($this->compflag);?>">
		        <input type="hidden" name="Regpin" id="Regpin" value="<?php echo $this->escape($this->regpin);?>">
		        <input type="hidden" name="Idcomp" id="Idcomp" value="<?php echo $this->companydetails['IdCompany'];?>">
			</tr>
		</table>
	</fieldset>
	<fieldset>
	<legend><?php echo $this->translate("Candidate Details");?></legend>
		<table  class="table" width="100%" cellpadding="5" cellspacing="1">
	    	<tr  >
	       	   <th align='center' ><?php echo $this->translate("Program Name");?></th>	
				<th  ><?php echo $this->translate("Number");?></th>	
	        	<th  ><?php echo $this->translate("FEE");?></th>	        	
	        	<th  ><?php echo $this->translate("TOTAL");?></th>	        	
	    	</tr>
			<?php $serialno =1;
				$programs = $this->Program;
					$Programrate = $this->Programrate;
					$Total=0;
					$Totalamount = 0.00;
 				 foreach ($this->studentprogramdetails as $lobjstudentProgramdetails ):
			
				//for($i=0;$i<count($programs);$i++){
 				?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
			<?php $idprg=$lobjstudentProgramdetails['Program']; $total=$lobjstudentProgramdetails['Totalappln']*$Programrate[$idprg];
			$totalcandidates = $Total+$lobjstudentProgramdetails['Totalappln'];
			$Total = $totalcandidates;
			$totalamt = $Totalamount+$total;
			$Totalamount = $totalamt;
			?>
	    		<td ><?php echo $this->escape($programs[$idprg]);?></td>
				<td  ><?php echo $this->escape($lobjstudentProgramdetails['Totalappln']);?></td>
	    		<td  ><?php echo $this->escape($Programrate[$idprg]);?></td>
	    		<td  ><?php echo $this->escape($total);?></td>
				
				
				
				
				
	    		<input type="hidden" name="FName[]" id="FName<?php echo $i?>" value="<?php echo $lobjstudentProgramdetails['Candidatename'];?>">			
				<input type="hidden" name="ICNO[]" id="ICNO<?php echo $i?>" value="<?php echo $lobjstudentProgramdetails['ICNO'];?>">
				<input type="hidden" name="EmailAddress[]" id="EmailAddress<?php echo $i?>" value="<?php echo $lobjstudentProgramdetails['EmailAddress'];?>">
				<input type="hidden" name="Regid[]" id="Regid<?php echo $i?>" value="<?php echo $lobjstudentProgramdetails['Regid'];?>">
				
				<input type="hidden" name="ProgramName[]" id="ProgramName<?php echo $i?>" value="<?php echo $programs[$idprg];?>">
				<input type="hidden" name="Programrate[]" id="Programrate<?php echo $i?>" value="<?php echo $Programrate[$idprg];?>">
				<input type="hidden" name="Amount[]" id="Amount" value="<?php echo $this->pindetails['Totalamount'];?>">			
				<input type="hidden" name="TotalCandidates[]" id="TotalCandidates" value="<?php echo $lobjstudentProgramdetails['Totalappln'];?>">
				<input type="hidden" name="invoiceid" id="invoiceid" value="<?php echo $this->pindetails['Invoiceuniqueid'];?>">
				
				
				<input type="hidden" name="centername[]" id="centername<?php echo $i?>" value="<?php echo $lobjstudentProgramdetails['centername'];?>">
				<input type="hidden" name="sessionname[]" id="sessionname<?php echo $i?>" value="<?php echo $lobjstudentProgramdetails['managesessionname'];?>">
				<input type="hidden" name="result[]" id="result<?php echo $i?>" value="<?php echo $varstatus;?>">
        		<input type="hidden" name="dateofexam[]" id="dateofexam<?php echo $i?>" value="<?php echo date('d-m-Y',strtotime($lobjstudentProgramdetails['DateTime']));?>">
	    		<input type="hidden" name="examtime[]" id="examtime<?php echo $i?>" value="<?php echo $lobjstudentProgramdetails['starttime'];?>">
				
				
	    		</td>
			</tr>
			 <?php //} 
			 endforeach; ?>
			<tr >
	                <td colspan="2"></td>
					 <td ><b><input type="hidden" name="Totalamount" id="Totalamount" value="<?php echo $Totalamount;?>"><?php echo $this->translate("TOTAL CANDIDATES: ");?><?php echo $Total;?></b></td>
				    <td ><b><?php echo $this->translate("TOTAL AMOUNT: ");?><?php echo $Totalamount;?></b></td>
				   
				
			</tr>
		</table>
        <table class="table" width="100%" >
		    
        	<tr>
	            <td colspan=6 align = "right">
				 <!--<input type="submit" class="NormalBtnauto"  dojotype="dijit.form.Button" label="<?php //echo $this->translate("Save"); ?>" name="Save" id="Save" value="Save"/>-->
	             <input type="submit" class="NormalBtnauto"  dojotype="dijit.form.Button" label="<?php echo $this->translate("Print Invoice"); ?>" name="Export" id="Export" value="Export"/>
			 	 <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'registrations','controller'=>'companystudentdetails', 'action'=>'companystudentlist','idcompany'=>$this->idcompany),'default',true);?>';" />	
	            </td> 
            </tr>           
        </table>
	</fieldset>
  </form>