<head>
<script>
dojo.addOnLoad(function(){
		<?php if($this->generated == '1'){ ?>
					
							//document.getElementById('contentdiv').style.display = '';
							
							document.getElementById('divLogin').style.display = '';
							document.getElementById('divLogin2').style.display = '';
							//document.getElementById('contentdiv').style.display = '';
							
		<?php } ?>
		});
		
function BlockClosefn()
	{
	document.getElementById('contentdiv').innerHTML = "";
	document.getElementById('divLogin').style.display = 'none';
	document.getElementById('divLogin2').style.display = 'none';
	
	
	}
</script>
</head>
<form action=""  dojoType="dijit.form.Form" method="POST">
	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
	    	<tr>
			     <?php if($this->compflag==1){?>
				 
	        	<th><?php echo $this->translate("Company Name");?></th>
				<?php } else if($this->compflag==2){ ?>
				<th><?php echo $this->translate("Takaful Name");?></th>	<?php } ?>
               	
				<th><?php echo $this->translate("BatchId");?></th>	
	        	<th><?php echo $this->translate("Address");?></th>	        	
	        	<th><?php echo $this->translate("Phone");?></th>
	        	<th><?php echo $this->translate("Email");?></th>
	        	<th><?php echo $this->translate("Business Type");?></th>
	    	</tr>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	<td><?php echo $this->escape($this->companydetails['CompanyName']);?></td>
				
				<td><?php echo $this->escape($this->regpin);?></td>	
	    		<td><?php echo $this->escape($this->companydetails['Address']);?></td>	    	
	    		<td><?php echo $this->escape($this->companydetails['Phone1']);?></td>
	    		<td><?php echo $this->escape($this->companydetails['Email']);?></td>
	    		<td><?php echo $this->escape($this->companydetails['BusinessType']);?></td>
	            <input type="hidden" name="CompanyName" id="CompanyName" value="<?php echo $this->escape($this->companydetails['CompanyName']);?>">	
		        <input type="hidden" name="flag" id="flag" value="<?php echo $this->escape($this->compflag);?>">
		        <input type="hidden" name="Regpin" id="Regpin" value="<?php echo $this->escape($this->regpin);?>">
		        <input type="hidden" name="Idcomp" id="Idcomp" value="<?php echo $this->companydetails['IdCompany'];?>">
			</tr>
		</table>
	</fieldset>
	<fieldset>
	<legend><?php echo $this->translate("Candidate Details");?></legend>




<table border="1" width="100%" align="center" >
							
							<tr >								
							<th colspan=3 align='left'><b>To:</b>
<b>&nbsp;&nbsp;&nbsp;<?php echo $this->comp; ?></b><br/>
<b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $this->BatchAddressdetails['Contact'];?></b><br/>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><?php echo $this->BatchAddressdetails['Address'];?></b><br/>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><?php echo $this->BatchAddressdetails['Postcode'];?></b><br/>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><?php echo $this->BatchAddressdetails['StateName'];?></b><br/>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><?php echo $this->BatchAddressdetails['CountryName'];?></b><br/>
									<b>Attn:</b><b>&nbsp;<?php echo $this->BatchAddressdetails['Contact'];?></b>
<br/>
									<b>Tel:</b><b>&nbsp;&nbsp;<?php echo $this->BatchAddressdetails['Phone'];?>
                                                                                                                        </b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Fax:</b><b><?php if(isset($this->BatchAddressdetails['Fax'])) echo $this->BatchAddressdetails['Fax']; else ""; ;?></b><br/></th>
								        <th align ='left' valign='top' colspan=3>

<b>Invoice:</b><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<?php  echo $this->translate("Invoice will generate on click of save"); ?></b><br/><br/>									
									<b>Date:</b><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<?php echo date("d-m-Y");?></b><br/><br/>
									<b>Term:</b><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<?php echo $this->Configdetails['Duration'];?> Days</b></th>
								
							</tr>
						</table>
					
		        <table border="1" width="100%" align='center' >
						<tr>
                                                        <th ><b>SL NO</b></th>
							<th ><b>BatchId</b></th>
							<th ><b>Program Name</b></th>
							<th ><b>No of Candidates</b></th>							
							<th ><b>Rate</b></th>
							<th ><b>TOTAL</b></th>
						</tr>


		
			<?php $slcount =0;
				$programs = $this->Program;
                                //echo "<pre/>";print_r($this->studentprogramdetails);
                                //echo "<pre/>";print_r($programs);die();
					$Programrate = $this->Programrate;
					$Total=0;
					$Totalamount = 0.00;
                                        
                                        $taxamt=$this->pindetails['GST'];
                                        
                                        //echo"<pre/>";print_r($taxamt);die();
 				 foreach ($this->studentprogramdetails as $lobjstudentProgramdetails ):
			$slcount =$slcount+1;
				//for($i=0;$i<count($programs);$i++){
 				?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
			<?php $idprg=$lobjstudentProgramdetails['Program']; 
            $total=$lobjstudentProgramdetails['Totalappln']*$Programrate[$idprg];
			$totalcandidates = $Total+$lobjstudentProgramdetails['Totalappln'];
			$Total = $totalcandidates;
			$totalamt = $Totalamount+$total;
			$Totalamount = $totalamt;
			?>
                        <td ><b><?php echo $this->escape($slcount);?></b></td>
                        <td ><b><?php echo $this->escape($this->regpin);?></b></td>
	    		<td ><b><?php echo $this->escape($programs[$idprg]);?></b></td>
			<td   ><b><?php echo $this->escape($lobjstudentProgramdetails['Totalappln']);?></b></td>
	    		<td   ><b><?php echo $this->escape($Programrate[$idprg]);?></b></td>
	    		<td align="right" ><b><?php echo number_format($total,2);?></b></td>
				
				
				
				
	
	    		<input type="hidden" name="FName[]" id="FName<?php echo $i?>" value="<?php echo $lobjstudentProgramdetails['Candidatename'];?>">			
				<input type="hidden" name="ICNO[]" id="ICNO<?php echo $i?>" value="<?php echo $lobjstudentProgramdetails['ICNO'];?>">
				<input type="hidden" name="EmailAddress[]" id="EmailAddress<?php echo $i?>" value="<?php echo $lobjstudentProgramdetails['EmailAddress'];?>">
				<input type="hidden" name="Regid[]" id="Regid<?php echo $i?>" value="<?php echo $lobjstudentProgramdetails['Regid'];?>">
				
				<input type="hidden" name="ProgramName[]" id="ProgramName<?php echo $i?>" value="<?php echo $programs[$idprg];?>">
				<input type="hidden" name="Programrate[]" id="Programrate<?php echo $i?>" value="<?php echo $Programrate[$idprg];?>">
				<input type="hidden" name="Amount[]" id="Amount" value="<?php echo $this->pindetails['Totalamount'];?>">
                               
				
                                <input type="hidden" name="TotalCandidates[]" id="TotalCandidates" value="<?php echo $lobjstudentProgramdetails['Totalappln'];?>">
				<input type="hidden" name="invoiceid" id="invoiceid" value="<?php echo $this->pindetails['Invoiceuniqueid'];?>">
				
				
				<input type="hidden" name="centername[]" id="centername<?php echo $i?>" value="<?php echo $lobjstudentProgramdetails['centername'];?>">
				<input type="hidden" name="sessionname[]" id="sessionname<?php echo $i?>" value="<?php echo $lobjstudentProgramdetails['managesessionname'];?>">
				<input type="hidden" name="result[]" id="result<?php echo $i?>" value="<?php echo $varstatus;?>">
        		<input type="hidden" name="dateofexam[]" id="dateofexam<?php echo $i?>" value="<?php echo date('d-m-Y',strtotime($lobjstudentProgramdetails['DateTime']));?>">
	    		<input type="hidden" name="examtime[]" id="examtime<?php echo $i?>" value="<?php echo $lobjstudentProgramdetails['starttime'];?>">
				
				
	    		</td>
			</tr>
			 <?php //} 
			 endforeach; 
                         $caltax=$Totalamount*(($this->GST)/100);
                         //echo $caltax;
                         $totalamount=$Totalamount+$caltax;
                         ?>
                         <tr >             						   
                             <td  colspan = "5" align="right"><b>Sub-Total:<b></td><td align="right"><b><?php echo number_format($Totalamount,2);?></b></td>
                         </tr>
                         <tr >             						   
                             <td  colspan = "5" align="right"><input type="hidden" name="TaxAmount" id="TaxAmount" value="<?php echo $caltax;?>"><b>GST payable @ <?php echo $this->GST.'%';?>:<b></td><td align="right"><b><?php echo number_format($caltax,2);?></b></td>
                         </tr>
			<tr >
                            <td  colspan = "5" align="right"><b>Total Amount:<b></td><td align="right"><b><?php echo number_format($totalamount,2);?></b><input type="hidden" name="Totalamount" id="Totalamount" value="<?php echo $Totalamount;?>"></b></td>
                        </tr>
               <tr>
			          <td  align="center" colspan=6><b>Ringgit Malaysia:</b><b><?php 
                               $lobjcompanystudentdetails = new Registrations_Model_DbTable_Companystudentdetails(); //Company student details model object
                               $Amountinwords = $lobjcompanystudentdetails->fnconvertnumbertowords($totalamount);
                               $number = number_format($totalamount, 2, ".", "");
                               sscanf($number, '%d.%d', $whole, $fraction);
                               if($fraction){
                                    $fractioninwords = $lobjcompanystudentdetails->fnconvertnumbertowords($fraction);
                                    $Amountinwords=$Amountinwords.' and '.$fractioninwords.' cent Only';
                               }else{
                                   $Amountinwords=$Amountinwords.' Only';
                               }
                               
                               ?><b>
                                <?php 
                               
                               
                               echo $Amountinwords; ?></b></td> 
               </tr>
		</table>
        <table  width="100%" >
		    
        	<tr>
	            <td colspan=6 align = "right">
				 <!--<input type="submit" class="NormalBtnauto"  dojotype="dijit.form.Button" label="<?php //echo $this->translate("Save"); ?>" name="Save" id="Save" value="Save"/>-->
	             <input type="submit" class="NormalBtnauto"  dojotype="dijit.form.Button" label="<?php echo $this->translate("Save"); ?>" name="Save" id="Save" value="Save"/>

<input type="button" class="NormalBtnauto"  dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'registrations','controller'=>'companystudentdetails', 'action'=>'invoicegeneration','idRegPin'=>$this->regpin,'idcompany'=>$this->idcompany,'companyflag'=>$this->compflag,'batch'=>$this->Idbatch),'default',true);?>';" />



			 	 <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Cancel"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'registrations','controller'=>'companystudentdetails', 'action'=>'companystudentlist','idcompany'=>$this->idcompany),'default',true);?>';" />	
	            </td> 
            </tr>           
        </table>
	</fieldset>
  </form>
<div runat="server" id="divLogin"  style="display:none; z-index: 153; position: fixed; left: 20%; width: 1140px; top:23%">
							<div runat="server" id="divLogin2"  style="display:none; opacity:1.0; z-index: 150; position: relative; left: 0%; height: 100%; width: 100%; top: 0%;"> </div>
								  <div id="scroll" style="height: 600px; width: 100%; overflow:auto;">
									  <asp:Panel runat="server" ID="popupLogin">
										 <asp:Panel runat="server" ID="popupContent1">
										  <table style="height: 125px; width: 100%; background-color: #FFFFFF;" border="3" frame="box">
												<tbody>
													<tr>
													   <td >
														  <div id="contentdiv">
														    <form action="<?php echo $this->baseUrl();?>/registrations/companystudentdetails/viewinvoice"  dojoType="dijit.form.Form" method="POST">
															 <table border="1" width="100%" align="center" >							
							                                 <tr >								
							                                      <th colspan=3 align='left'><b>To:</b>
                                                                  <b>&nbsp;&nbsp;&nbsp;<?php echo $this->comp; ?></b><br/>
                                                                  <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $this->BatchAddressdetails['Contact'];?></b><br/>
                                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><?php echo $this->BatchAddressdetails['Address'];?></b><br/>
                                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><?php echo $this->BatchAddressdetails['Postcode'];?></b><br/>
                                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><?php echo $this->BatchAddressdetails['StateName'];?></b><br/>
                                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><?php echo $this->BatchAddressdetails['CountryName'];?></b><br/>
                                                                <b>Attn:</b><b>&nbsp;<?php echo $this->BatchAddressdetails['Contact'];?></b>
                                                                <br/>
                                                                <b>Tel:</b><b>&nbsp;&nbsp;<?php echo $this->BatchAddressdetails['Phone'];?>
                                                                </b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Fax:</b><b><?php if(isset($this->BatchAddressdetails['Fax'])) echo $this->BatchAddressdetails['Fax']; else ""; ;?></b><br/></th>
                                                                 <th align ='left' valign='top' colspan=3>
                                                                <b>Invoice:</b><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                <?php  echo $this->invoicenum; ?></b><br/><br/>									
                                                                <b>Date:</b><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                <?php echo date("d-m-Y");?></b><br/><br/>
                                                                <b>Term:</b><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                <?php $idcomp = $this->companydetails['IdCompany']; echo $this->Configdetails['Duration'];?> Days</b></th>
                                                                </tr>
                                                                </table>					
                                                                <table border="1" width="100%" align='center' >
                                                                <tr>
                                                                        <th ><b>SL NO</b></th>
                                                                                        <th ><b>BatchId</b></th>
                                                                                        <th ><b>Program Name</b></th>
                                                                                        <th ><b>No of Candidates</b></th>							
                                                                                        <th ><b>Rate</b></th>
                                                                                        <th ><b>TOTAL</b></th>
                                                                                </tr>
                                                                                <?php $slcount =0;
                                                                                        $programs = $this->Program;
                                                                                        
                                                                                                $Programrate = $this->Programrate;
                                                                                                $Total=0;
                                                                                                $Totalamount = 0.00;
                                                                                                $taxamt=$this->pindetails['GST'];
                                                                                         foreach ($this->studentprogramdetails as $lobjstudentProgramdetails ):
                                                                                $slcount =$slcount+1;
                                                                                        //for($i=0;$i<count($programs);$i++){
                                                                                        ?>
                                                                                <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
                                                                                <?php 
                                                                                $idprg=$lobjstudentProgramdetails['Program']; 
                                                                                $total=$lobjstudentProgramdetails['Totalappln']*$Programrate[$idprg];
                                                                                $totalcandidates = $Total+$lobjstudentProgramdetails['Totalappln'];
                                                                                $Total = $totalcandidates;
                                                                                $totalamt = $Totalamount+$total;
                                                                                $Totalamount = $totalamt;
                                                                                ?>
                                                                                <td ><b><?php echo $this->escape($slcount);?></b></td>
                                                                                <td ><b><?php echo $this->escape($this->regpin);?></b></td>
                                                                                <td ><b><?php echo $this->escape($programs[$idprg]);?></b></td>
                                                                                <td ><b><?php echo $this->escape($lobjstudentProgramdetails['Totalappln']);?></b></td>
                                                                                <td   ><b><?php echo $this->escape($Programrate[$idprg]);?></b></td>
                                                                                <td align="right" ><b><?php echo number_format($total,2);?></b></td>
                                                                                        </td>
                                                                                </tr>
                                                                                <input type="hidden" name="ProgramName[]" id="ProgramName" value="<?php echo $programs[$idprg];?>">
                                                                                <input type="hidden" name="CompanyName" id="CompanyName" value="<?php echo $this->escape($this->companydetails['CompanyName']);?>">
                                                                                 <input type="hidden" name="TotalCandidates[]" id="TotalCandidates" value="<?php echo $lobjstudentProgramdetails['Totalappln'];?>">
                                                                                 <input type="hidden" name="Programrate[]" id="Programrate" value="<?php echo $Programrate[$idprg];?>">   
                                                                                    <?php //} 
                                                                                 endforeach;
                                                                                 $caltax=$Totalamount*(($this->GST)/100);
                                                                                 $totalamount=$Totalamount+$caltax;
                                                                                 ?>
                                                                                 <tr >             						   
                                                                                    <td  colspan = "5" align="right"><b>Sub-Total:<b></td><td align="right"><b><?php echo number_format($Totalamount,2);?></b></td>
                                                                                </tr>
                                                                                <tr >             						   
                                                                                    <td  colspan = "5" align="right"><b>GST payable @ <?php echo $this->GST.'%';?>:<b></td><td align="right"><b><?php echo number_format($caltax,2);?></b></td>
                                                                                </tr>
                                                                                <tr >
                                                                                    <td  colspan = "5" align="right"><b>Total Amount:<b></td><td align="right"><b><?php echo number_format($totalamount,2);?></b><input type="hidden" name="Totalamount" id="Totalamount" value="<?php echo $Totalamount;?>"></b></td>
                                                                                </tr>
               <tr>
			          <td  align="center" colspan=6><b>Ringgit Malaysia:</b><b><?php 
                               $lobjcompanystudentdetails = new Registrations_Model_DbTable_Companystudentdetails(); //Company student details model object
                               $Amountinwords = $lobjcompanystudentdetails->fnconvertnumbertowords($totalamount);
                               $number = number_format($totalamount, 2, ".", "");
                               sscanf($number, '%d.%d', $whole, $fraction);
                               if($fraction){
                                    $fractioninwords = $lobjcompanystudentdetails->fnconvertnumbertowords($fraction);
                                    $Amountinwords=$Amountinwords.' and '.$fractioninwords.' cent Only';
                               }else{
                                   $Amountinwords=$Amountinwords.' Only';
                               }
                               
                               ?><b>
                               <?php echo $Amountinwords; ?></b></td> 
               </tr>
                                                                                        <tr>
                                                                                              <td align="right" colspan='6'><button type="submit"  dojotype="dijit.form.Button"  id="Sendmail" name="Sendmail" value="1" >Send Invoice To Admin</button> &nbsp;
                                                                                                  <input type="submit" id="Print"  dojotype="dijit.form.Button" label="Print invoice" name="Print"  value="Print"  /> 

                                                                                                        <input type="button" id="close" class="NormalBtn" dojotype="dijit.form.Button" label="Close"
                            name="close"  value="Close" onClick="BlockClosefn();">
                           	
                           <input type="hidden" name="mailsend" id="mailsend" value="1">
                           <input type="hidden" name="flag" id="flag" value="<?php echo $this->escape($this->compflag);?>">
                           <input type="hidden" name="Regpin" id="Regpin" value="<?php echo $this->escape($this->regpin);?>">
                           <input type="hidden" name="Idcomp" id="Idcomp" value="<?php echo $this->companydetails['IdCompany'];?>">
                           
                            
                            
                            
                            <input type="hidden" name="Amount[]" id="Amount" value="<?php echo $this->pindetails['Totalamount'];?>">			
                           <input type="hidden" name="TaxAmount" id="TaxAmount" value="<?php echo $caltax;?>">
                            
                            <input type="hidden" name="invoiceid" id="invoiceid" value="<?php echo $this->invoicenum;?>">


                                                                                                  </td>




                                                                                        </tr>
                                                                                        </table>
                                                                         </form>



                                                                        </div>					                                      
                                                           </td>
                                                         </tr>
                                                         <tr>
                                                                <td colspan="2" align="left">
                                                                   <asp:Label ID="lblmandatory" runat="server" Text="* Mandatory Information Required"
                                                                        class="LeftLabelStyle" Width="350px" />
                                                                 </td>
                                                          </tr>
                                                 </tbody>
                                          </table>
										 
											
								</asp:Panel>
					</asp:Panel>
		</div>
	</div>