<head>
<script>
</script>
</head>
<form action=""  dojoType="dijit.form.Form" method="POST">
	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
	    	<tr>
			     <?php if($this->compflag==1){?>
				 
	        	<th><?php echo $this->translate("Company Name");?></th>
				<?php } else if($this->compflag==2){ ?>
				<th><?php echo $this->translate("Takaful Name");?></th>			<?php } ?>
                <th><?php echo $this->translate("Invoice");?></th>	
				<th><?php echo $this->translate("BatchId");?></th>	
	        	<th><?php echo $this->translate("Address");?></th>	        	
	        	<th><?php echo $this->translate("Phone");?></th>
	        	<th><?php echo $this->translate("Email");?></th>
	        	<th><?php echo $this->translate("Business Type");?></th>
	    	</tr>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	<td><?php echo $this->escape($this->companydetails['CompanyName']);?></td>
				<td><?php echo $this->escape($this->pindetails['Invoiceuniqueid']);?></td>
				<td><?php echo $this->escape($this->pindetails['Regpin']);?></td>	
	    		<td><?php echo $this->escape($this->companydetails['Address']);?></td>	    	
	    		<td><?php echo $this->escape($this->companydetails['Phone1']);?></td>
	    		<td><?php echo $this->escape($this->companydetails['Email']);?></td>
	    		<td><?php echo $this->escape($this->companydetails['BusinessType']);?></td>
	            <input type="hidden" name="CompanyName" id="CompanyName" value="<?php echo $this->escape($this->companydetails['CompanyName']);?>">	
		        <input type="hidden" name="flag" id="flag" value="<?php echo $this->escape($this->compflag);?>">
		        <input type="hidden" name="Regpin" id="Regpin" value="<?php echo $this->escape($this->regpin);?>">
		        <input type="hidden" name="Idcomp" id="Idcomp" value="<?php echo $this->companydetails['IdCompany'];?>">
			</tr>
		</table>
	</fieldset>
	<fieldset>
	<legend><?php echo $this->translate("Candidate Details");?></legend>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
	    	<tr>
	       	    <th><?php echo $this->translate("Candidate Name");?></th>
				<th><?php echo $this->translate("ICNO");?></th>
	       	    <th><?php echo $this->translate("Registration ID");?></th>
	        	<th><?php echo $this->translate("Exam Date(DD-MM-YYYY)");?></th>
				<th><?php echo $this->translate("Venue");?></th>
				<th><?php echo $this->translate("Session");?></th>
	        	<th><?php echo $this->translate("Course");?></th>
				<th><?php echo $this->translate("Result");?></th>	        	
	    	</tr>
			<?php $serialno =1;
 				 foreach ($this->studentdetails as $lobjstudentdetails ):
				 if($lobjstudentdetails['pass']==3){ 				
 				$varstatus="Applied";}
 			    if($lobjstudentdetails['pass']==1){ 			
 				$varstatus="Pass";}
 			   if($lobjstudentdetails['pass']==2){ 				
 				$varstatus="Fail";}		
			   if($lobjstudentdetails['pass']==4){ 				
 				$varstatus="Absent";}
 				?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	    		<td><?php echo $this->escape($lobjstudentdetails['Candidatename']);?></td>
				<td><?php echo $this->escape($lobjstudentdetails['ICNO']);?></td>
	    		<td><?php echo $this->escape($lobjstudentdetails['Regid']);?></td>
	    		<td><?php echo $this->escape($lobjstudentdetails['DateTime']);?></td>
				<td><?php echo $this->escape($lobjstudentdetails['centername']);?>
				<td><?php echo $this->escape($lobjstudentdetails['managesessionname']);?></td>
	    		<td><?php echo $this->escape($lobjstudentdetails['ProgramName']);?></td>
				<td><?php echo $this->escape($varstatus);?></td>
				
				
				
				
	    		<input type="hidden" name="FName[]" id="FName<?php echo $i?>" value="<?php echo $lobjstudentdetails['Candidatename'];?>">			
				<input type="hidden" name="ICNO[]" id="ICNO<?php echo $i?>" value="<?php echo $lobjstudentdetails['ICNO'];?>">
				<input type="hidden" name="EmailAddress[]" id="EmailAddress<?php echo $i?>" value="<?php echo $lobjstudentdetails['EmailAddress'];?>">
				<input type="hidden" name="Regid[]" id="Regid<?php echo $i?>" value="<?php echo $lobjstudentdetails['Regid'];?>">
				<input type="hidden" name="ProgramName[]" id="ProgramName<?php echo $i?>" value="<?php echo $lobjstudentdetails['ProgramName'];?>">
				<input type="hidden" name="centername[]" id="centername<?php echo $i?>" value="<?php echo $lobjstudentdetails['centername'];?>">
				<input type="hidden" name="sessionname[]" id="sessionname<?php echo $i?>" value="<?php echo $lobjstudentdetails['managesessionname'];?>">
				<input type="hidden" name="result[]" id="result<?php echo $i?>" value="<?php echo $varstatus;?>">
        		<input type="hidden" name="dateofexam[]" id="dateofexam<?php echo $i?>" value="<?php echo date('d-m-Y',strtotime($lobjstudentdetails['DateTime']));?>">
	    		<input type="hidden" name="examtime[]" id="examtime<?php echo $i?>" value="<?php echo $lobjstudentdetails['starttime'];?>">
				
				<input type="hidden" name="Amount" id="Amount" value="<?php echo $this->pindetails['Totalamount'];?>">			
				<input type="hidden" name="TotalCandidates" id="TotalCandidates" value="<?php echo $this->pindetails['totalNoofCandidates'];?>">
				<input type="hidden" name="invoiceid" id="invoiceid" value="<?php echo $this->pindetails['Invoiceuniqueid'];?>">
	    		</td>
			</tr>
			 <?php endforeach; ?>
			<tr >
	                <td colspan="6"></td>
					 <td ><b><?php echo $this->translate("TOTAL CANDIDATES: ");?><?php echo $this->pindetails['totalNoofCandidates'];?></b></td>
				    <td ><b><?php echo $this->translate("TOTAL AMOUNT: ");?><?php echo $this->pindetails['Totalamount'];?></b></td>
				   
				
			</tr>
		</table>
        <table class="table" width="100%" >
		    
        	<tr>
	            <td colspan=6 align = "right">
				 <!--<input type="submit" class="NormalBtnauto"  dojotype="dijit.form.Button" label="<?php //echo $this->translate("Save"); ?>" name="Save" id="Save" value="Save"/>-->
	             <input type="submit" class="NormalBtnauto"  dojotype="dijit.form.Button" label="<?php echo $this->translate("Print Invoice"); ?>" name="Export" id="Export" value="Export"/>
			 	 <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'registrations','controller'=>'companystudentdetails', 'action'=>'companystudentlist','idcompany'=>$this->idcompany),'default',true);?>';" />	
	            </td> 
            </tr>           
        </table>
	</fieldset>
  </form>