<html xmlns="http://www.w3.org/1999/xhtml" dir="<?php echo $this->rtl;?>">
<fieldset>

<!--  Search Forms -->
<div class="search" style="margin-left:20px;">
<script type="text/javascript">
function goback()
{

	
	
	window.location = "/islamicbank/examdetails/newbank";
}


</script>

<form action="<?php echo $this->baseUrl();?>/examdetails/examdetails" method="POST" name="jknmk" >
<table class="table" width="100%">
<tr>
    <th>Exam Details</th>
</tr>
<tr>
    <td>Regid:<?php echo $this->regid;?></td>
 </tr>
<tr>
    <td>Total No of Questions:<?php echo $this->noofquestion;?></td>
 </tr>
<tr>
    <td>Attended:<?php echo $this->attended;?></td>
   </tr>

</table>

	<div id="sav" name="sav" align="right">
	 <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('controller'=>'index', 'action'=>'index'),'default',true);?>';" />
</div>
</form>	
</div>
</fieldset> 
</html>   