<html xmlns="http://www.w3.org/1999/xhtml" dir="<?php echo $this->rtl;?>">
<fieldset>

<!--  Search Forms -->
<div class="search" style="margin-left:20px;">
<script type="text/javascript">
function goback()
{

	window.location="<?php echo $this->baseUrl();?>/index/logout";
	
	//window.location = "/islamicbank/examdetails/newbank";
}


</script>

<form action="<?php echo $this->baseUrl();?>/examdetails/examsheet" method="POST" name="jknmk" >
<table width="60%" border="0" align="center">
<?php $arrbatch =$this->BatchName;?>
<tr>
		<td align="center"><img src='<?php echo $this->baseUrl();?>/images/imageonline.jpg'  border=1 width='150' height='150'> </td>
		</tr>
		<tr>
			<td>COURSE:</td>
			<td><?php echo $arrbatch[0]['ProgramName']?></td>
			<td></td>
		</tr>
		
		<tr>
			<td>DATE:</td>
			<td><?php echo date('d-m-Y');?></td>
			<td></td>
		</tr>
		<tr>
			<td>TIME:</td>
			<td><?php  echo $arrbatch[0]['TimeLimit'];?> Min</td>
			<td></td>
		</tr>
		<tr>
			<td>ALERT TIME:</td>
			<td><?php  echo $arrbatch[0]['AlertTime'];?> Min</td>
			<td></td>
		</tr>
		<tr>
		<td colspan="3"><hr>INSTRUCTIONS TO CANDIDATES:<br/>

1.	Answer ALL questions.<br/>
2. Candidates are not allowed to bring any material other than those allowed by the invigilator into the examination room.<br/>
3. Candidates are required to answer by selecting the answer at the box provided.<br/>
4. Candidates are allowed to review the answers.<br/>
5. Click on the each section to get the questions(If the exam has more than one (1)parts).<br/>
6. Click on Submit Until all answers have done. * DO NOT CLICK START THIS QUESTION PAPER UNTIL YOU ARE TOLD TO DO SO</td>
		</tr>
		<tr>
		<tr>
		<td colspan="3">
		</td>
		</tr>
		<tr>
		<td colspan="3" align="center">
			* DO NOT CLICK START THIS QUESTION PAPER UNTIL YOU ARE TOLD TO DO SO<br/>
			===================================================================<br/>
			This question paper consists of <?php echo $arrbatch[0]['NosOfQues']; ?> Questions
		</td>
		</tr>
		<td colspan="3" align="right"><?php echo $this->lobjform->Back;?>
	<?php echo $this->lobjform->Accept;?></td>
		</tr>	
</table>
</form>	
</div>
</fieldset> 
</html>   