<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="<?php echo $this->rtl;?>">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css"  href="<?php  echo $this->baseUrl();?>/js/themes/cupertino/jquery.ui.all.css" />
	<script language='javascript' src='<?php  echo $this->baseUrl();?>/js/jquery-1.4.3.js'></script>
	<script language='javascript' src='<?php  echo $this->baseUrl();?>/js/sfs-common.js'></script>	
<style type="text/css">
		input[type='text']{
			border:1px solid black;
			width:30%;
		}
</style>
<style>
		.th
		{
		background-color:#767676;
		border: 2px solid #767676;
		color:white;	
		}
	</style>
<script language="JavaScript" type="text/javascript">
	$(document).ready(function(){
	    $('form').attr('autocomplete', 'off');
	});
	
	function showHidden(ids) {		
		$('#'+ids).slideToggle('slow', function() {
		    // Animation complete.
		  });
	}	
	
	function fnUpdateData(data){ 
		$('#hiddenMainTable').slideToggle('slow', function() {
		    
		});
		$('#BatchFrom').val('01-11-2011');
		$('#BatchTo').val('01-11-2011');
		$.ajax({
			type: "GET",
			url: "<?php echo $this->baseUrl();?>/examination/createexam/getbatchinputdatas/IdBatch/"+data,
			success: function(content){			
				content = content.split("#@#");
				$("#BatchFrom").val(content[0]);
				$("#BatchTo").val(content[1]);
			}
		});
		if(data){
			$.ajax({
				type: "GET",
				url: "<?php echo $this->baseUrl();?>/examination/createexam/getbatchdetails/IdBatch/"+data,
				success: function(content1){					
					$("#hiddenMainTable").html(content1);
				
				}
			});
		}
	
	} 

	function fnClearThirdSubDetails(ids,ParentId,ChildId,possibleMax)
	{
		curValue = ids.value;
		document.getElementById('percent['+ParentId+']['+ChildId+'][1]').value = '0';
		document.getElementById('percent['+ParentId+']['+ChildId+'][2]').value = '0';
		document.getElementById('percent['+ParentId+']['+ChildId+'][3]').value = '0';

		document.getElementById('percent['+ParentId+']['+ChildId+'][1]').style.backgroundColor="white";
		document.getElementById('percent['+ParentId+']['+ChildId+'][2]').style.backgroundColor="white";
		document.getElementById('percent['+ParentId+']['+ChildId+'][3]').style.backgroundColor="white";

		var firsttotal = document.getElementById('hidden['+ParentId+']['+ChildId+'][1]').value;
		var secondtotal = document.getElementById('hidden['+ParentId+']['+ChildId+'][2]').value;
		var thirdtotal = document.getElementById('hidden['+ParentId+']['+ChildId+'][3]').value;

		var totalss = document.getElementById('thirdquestion').value
		var alltotal = eval(firsttotal)+eval(secondtotal)+eval(thirdtotal);
		var totalfinal = eval(totalss)-eval(alltotal);
		
		document.getElementById('thirdquestion').value = totalfinal;
		document.getElementById('hidden['+ParentId+']['+ChildId+'][1]').value = '0';
		document.getElementById('hidden['+ParentId+']['+ChildId+'][2]').value = '0';
		document.getElementById('hidden['+ParentId+']['+ChildId+'][3]').value = '0';
	}
	
	function fnCheckAvailability(curValue){			
		if(!document.getElementById('totalNoOfQuestions')){
			//alert("Select Batch First");
			document.getElementById('NoOfQuestion').value = "0";
			return true;
		}else if(eval(curValue) > eval(document.getElementById('totalNoOfQuestions').value)){
			alert("Maximum no of questions are  "+document.getElementById('totalNoOfQuestions').value);
			document.getElementById('NoOfQuestion').value = "0";
			document.getElementById('NoOfQuestion').focus();
			return false;
		}
	}

	var sum=0;
	function fnCheckAvailabilitySub(ids,possibleMax,Aid){
		curValue = ids.value;
		var cnt = document.getElementById('hidden'+Aid).value ;
		sum = eval (sum)+eval(curValue)-eval(cnt);
		document.getElementById('hidden'+Aid).value  = curValue;
		ParentValue  = document.getElementById('NoOfQuestion').value;
		if(ParentValue == "" || ParentValue == 0)	{
			alert("Enter No Of Questions");	
			ids.value = "0";
			document.getElementById('NoOfQuestion').focus();
			return false;
		}
		if(eval(curValue) > eval(possibleMax)){
			alert("Maximum no of questions are "+possibleMax+"");
			ids.value = "0";
			ids.focus();
			return false;
		}
		if(eval(curValue) > eval(ParentValue))
		{
			alert("Maximum no of questions are "+ParentValue+"");
			ids.value = "0";
			ids.focus();
			return false;
		}
		if(eval(sum) > eval(ParentValue))
		{
			alert("Maximum no of questions are "+ParentValue+"");
			ids.value = "0";
			ids.focus();
			return false;
		}
				
	}

	//var sump = new  Array();
	<?php 
		//$lobjbankmodel = new Examination_Model_Createexam(); //Exam model object
		//$addedquestionsinchapter=$lobjbankmodel->fngetaddedquestionsinchapter();
		
	?>

	var sump = new  Array();
	
	function fnCheckAvailabilitySubDetails(ids,ParentId,ChildId,possibleMax){
		if(ids.value<=possibleMax){
			document.getElementById('percent['+ParentId+']['+ChildId+']['+0+']').style.backgroundColor="white";	
		}
			
		if(isNaN(sump[ParentId])) {
			//sump[ParentId] = document.getElementById('hidden'+ParentId).value ; 
			sump[ParentId] = document.getElementById('sum'+ParentId).value;//total chapterwise added questions
		}
		var firstparentid  = document.getElementById('hidden'+ParentId).value ;//level one count ex 50
		var totalss = document.getElementById('hiddenthirdquestion').value;//total of level 2 ex 100
		var cnt =document.getElementById('hidden'+ParentId+ChildId).value;//previous value of box in level two
		ParentValue  = document.getElementById('NoOfQuestion').value;//total questions

		sump[ParentId] = eval(sump[ParentId])-eval(cnt);
		document.getElementById('hiddenthirdquestion').value = eval(totalss)-eval(cnt);
		validatenumb(ids);
		if(ParentValue == "" || ParentValue == 0)	{// to check total questions entered or not
			alert("Enter No Of Questions");	
			ids.value = "0";
			document.getElementById('hidden'+ParentId+ChildId).value =0;
			document.getElementById('NoOfQuestion').focus();
			return false;
		}
		curValue = ids.value;
		//alert(eval(curValue));
		if(curValue == ''){			
			ids.value = "0";
			document.getElementById('hidden'+ParentId+ChildId).value =0;
			return false;
		}
		ChildValue  = document.getElementById("hidden"+ParentId).value;//level one value
		if(ChildValue == "" || ChildValue == 0)	{
			alert("Enter No Of Questions In Level One");	
			ids.value = "0";
			document.getElementById('hidden'+ParentId+ChildId).value =0;
			return false;
		}
		if(eval(ChildValue) < eval(curValue)){
			alert("No of Questions in Child excees the Parent value");
			ids.value = "0";
			document.getElementById('hidden'+ParentId+ChildId).value =0;
			ids.focus();
			return false;
		}
		
		if(eval(curValue) > eval(possibleMax)) {
			alert("Maximum no of questions are "+possibleMax+"");
			ids.value = "0";		
			document.getElementById('hidden'+ParentId+ChildId).value =0;
			return false;
		}	
			
		sump[ParentId] = eval(sump[ParentId])+eval(curValue);
		//alert(sump[ParentId]);
		if(eval(sump[ParentId]) > eval(firstparentid)){
			
			alert('More number of questions');
			sump[ParentId] = eval(sump[ParentId]) - eval(curValue);			
			ids.value = "0";	
			document.getElementById('hidden'+ParentId+ChildId).value =0;		
			ids.focus();
			return false;
		}
		document.getElementById('hiddenthirdquestion').value = eval(document.getElementById('hiddenthirdquestion').value)+eval(curValue);		
		document.getElementById('hidden'+ParentId+ChildId).value = curValue;
	}
	
	function fnCheckAvailabilityLastSubDetails(ids,ParentId,ChildId,possibleMax,idtrail){
		if(ids.value==""){
			ids.value = "0";
		}
		if(ids.value<=possibleMax){
			document.getElementById('percent['+ParentId+']['+ChildId+']['+idtrail+']').style.backgroundColor="white";	
		}
		curValue      = ids.value;
		totalsssub    =  document.getElementById('thirdquestion').value;
		validatenumb(ids);
		ParentValue   = document.getElementById('NoOfQuestion').value;
		ChildValue    = document.getElementById("hidden"+ParentId).value;
		SubChildValue = document.getElementById("hidden"+ParentId+ChildId).value;

		var hiddenid = document.getElementById('hidden['+ParentId+']['+ChildId+']['+idtrail+']').value;
		if(ChildValue == "" || ChildValue == 0)	{
			alert("Enter No Of Questions In Level One");	
			ids.value = "0";
			return false;
		}
		if(SubChildValue == "" || SubChildValue == 0)	{
			
			alert("Enter No Of Questions In Level Two");	
			ids.value = "0";
			return false;
		}		
		if(curValue>possibleMax){
			alert("Maximum no of questions as "+possibleMax);
			ids.value = "0";
			totalsssub = eval(totalsssub)-eval(hiddenid);
			document.getElementById('hidden['+ParentId+']['+ChildId+']['+idtrail+']').value = 0;
			document.getElementById('thirdquestion').value = totalsssub;
			return false;
		}
	
		if(eval(curValue)>eval(SubChildValue))
		{
			alert("Maximum no of questions are "+SubChildValue+" as in Level Two");
			ids.value = "0";
			totalsssub = eval(totalsssub)-eval(hiddenid);
			document.getElementById('hidden['+ParentId+']['+ChildId+']['+idtrail+']').value = 0;
			document.getElementById('thirdquestion').value = totalsssub;
			return false;
		}
		
		var firsttotal = document.getElementById('percent['+ParentId+']['+ChildId+'][1]').value;
		var secondtotal = document.getElementById('percent['+ParentId+']['+ChildId+'][2]').value;
		var thirdtotal = document.getElementById('percent['+ParentId+']['+ChildId+'][3]').value;
		var total = eval(firsttotal)+eval(secondtotal)+eval(thirdtotal);
		//var i = s.replace(/^(0+)/g, '');
		if(eval(SubChildValue) < eval(total))
		{
		   	alert("More Questions");
			ids.value = "0";
			totalsssub = eval(totalsssub)-eval(hiddenid);
			document.getElementById('hidden['+ParentId+']['+ChildId+']['+idtrail+']').value = 0;
			document.getElementById('thirdquestion').value = totalsssub;
			return false;
		}
		totalsssub = eval(totalsssub)+eval(curValue)-eval(hiddenid);
		document.getElementById('thirdquestion').value = totalsssub;
        document.getElementById('hidden['+ParentId+']['+ChildId+']['+idtrail+']').value = curValue;
		
	}
	
	function validatenumb(num){
		validateNaN(num);
		if(num.value >100){
			alert("Enter Below 100");
			num.value = "0";
			num.focus();
			return false;
		}
		return true;
	}
	function validateNaN(num){
		if(isNaN(num.value)){
			alert("Enter A Number");
			num.value = "0";
			num.focus();			
		}
	}

	function fnvalidatetotalchaptermax(){
		var percentchp=new Array();
		var chpmaxarr=new Array();
		percentchp=$('.chpmax').find("input[name^='percent']");
		chpmaxarr=$('.chpmax').find("input[name^='chapmaxval']");
		for(var p=0;p<percentchp.length;p++){
			maxvalue=chpmaxarr[p].value;
			enterdvalue=percentchp[p].value;
			if(parseFloat(enterdvalue)>parseFloat(maxvalue)){
				rep=percentchp[p].name;
				rep=rep.replace("[0]","");
				rep=rep.slice(7);
				alert("Entered value should be less than or equal to max value at:"+rep);
				return false;	
			}	
		}
		return true;
	}
	
	function fnvalidatetotaledition(){
		var percent=new Array();
		percent=$('.ppp').find("input[name^='percent']");
		var maxarray=new Array();
		maxarray=$('.ppp').find("input[name^='maxval']");
		var maxvalue;var enterdvalue;var rep;
		//alert(percent.length);
		for(var p=0;p<percent.length;p++){
			maxvalue=maxarray[p].value;
			enterdvalue=percent[p].value;
			if(parseFloat(enterdvalue)>parseFloat(maxvalue)){
				rep=percent[p].name;
				rep=rep.replace("[1]","[Easy]");
				rep=rep.replace("[2]","[Intermediate]");
				rep=rep.replace("[3]","[Difficult]");
				rep=rep.slice(7);
				alert("Entered value should be less than or equal to max value at:"+rep);
				return false;
			}
		}
		return true;
	}

	function fngettotalenterdvalues(){
		
		var percent=new Array();
		var tot=0;
		percent=$('.ppp').find("input[name^='percent']");
		for(var p=0;p<percent.length;p++){
			tot=eval(tot)+eval(percent[p].value);
		}
		document.getElementById('thirdquestion').value=tot;
		var noofque=dijit.byId('NoOfQuestion').value;
		if(noofque!=tot){
			document.getElementById('thirdquestion').style.backgroundColor="red";	
		}
		
		var chapcount=new Array();
		var totchap=0;
		chapcount=$('.chaplvlcount').find("input[name^='hidden']");
		for(var q=0;q<chapcount.length;q++){
			totchap=eval(totchap)+eval(chapcount[q].value);
		}
		document.getElementById('hiddenthirdquestion').value=totchap;
		if(noofque!=totchap){
			document.getElementById('hiddenthirdquestion').style.backgroundColor="red";	
		}
		
	}
	
</script>
</head>
<body onload="fngettotalenterdvalues();">
<fieldset>
	<legend>TOS Creation</legend>
	<div class="register">
		<div class="profile_tab">
				<form action="<?php echo $this->baseUrl();?>/examination/createexam/editcreateexam/id/<?php echo $this->idTOSMaster;?>"  dojoType="dijit.form.Form" method="POST"  name= "myform">
 					<script type="dojo/method" event="onSubmit">
                		if (this.validate()){
							var flag=false;
							flag = fnvalidatetotalchaptermax();
							if(flag==false){
								return flag;
							}

							flag = fnvalidatetotaledition();
							if(flag==false){
								return flag;
							}
							
							var addedqtns = document.getElementById('thirdquestion').value;
                    		var totalqtns = dijit.byId('NoOfQuestion').value;

							if(eval(addedqtns) == eval(totalqtns)){
                    			flag=true;
							}else{
								alert('The total added questions are not matching with the no of questions');
								flag=false;
							}
							if(flag==false){
								return flag;
							}

							var con=confirm("Are you sure you want to submit?");
							if(con){
								flag=true;
							}else{
								flag=false;
							}

							return flag;
                	}else {
                    	return false;
                	}
				</script> 
				<table border="0" width="100%">
					<tr>
						<th><?php echo $this->translate->_($this->Batch)?><span class="reqMark">*</span></th>
                      	<th><?php echo $this->form->Batch;?></th>
                 		<th><?php echo $this->translate->_("From")?></th>
                  		<th><?php echo $this->form->BatchFrom;?></th>
                  		<th><?php echo $this->translate->_("To")?></th>
                  		<th><?php echo $this->form->BatchTo;?></th>
           			</tr>

		      		<tr>
            			<th><?php echo $this->translate->_("No Of Questions")?><span class="reqMark">*</span></th>
                		<th><?php echo $this->form->NoOfQuestion;?></th>
                    	<th><?php echo $this->translate->_("Time")?><span class="reqMark">*</span></th>
                   		<th><?php echo $this->form->ReqTime;?> &nbsp;(Min)</th>
               			<th><?php echo $this->translate->_("Alert Time")?><span class="reqMark">*</span></th>
                		<th><?php echo $this->form->AlertTime;?> &nbsp;(Min)<?php  $NoOfTotalQuestions = $this->NoOfTotalQuestions;?></th>
           			</tr>
          			<tr>
	            		<th><?php echo $this->translate->_("Pass Percentage")?><span class="reqMark">*</span></th>
	            		<th><?php echo $this->form->Pass;?></th>
	              		<th><?php echo $this->translate->_("Course")?><span class="reqMark">*</span></th>
	              		<th><?php echo $this->form->Course;?></th>
	               		<th><?php echo $this->translate->_("Active")?><span class="reqMark">*</span></th>
	         			<th><?php echo $this->form->Active;?></th>
        			</tr>
                	<tr>
	              		<th><?php echo $this->translate->_("Set Code")?><span class="reqMark">*</span></th>
	 			  		<th><?php echo $this->form->Setcode;?></th>
	                  	<th></th>
	                  	<th></th>
	                   	<th></th>
	                 	<th></th>
             		</tr>
             		<tr><td colspan="6"><hr></td></tr>
             		<tr>
						<th class="th">Course Name</th>
						<th class="th" colspan="2">Course Questions(Level one)</th>
						
	                 	
						<th class="th" colspan="4">
							<div style="width: 50%; float:left">
							   Chapter Questions(Level Two)
							</div>
							
							<div style="width: 50%; float:right">
							   Difficulty Level Questions
							</div>
							
						</th>
						
					</tr>
					
                    
               		<tr>
                  		<td colspan="6" >
                  			<input type="hidden" name="idTOSMaster" id="idTOSMaster" value="<?php echo $this->idTOSMaster?>" />
                        	<div id="hiddenMainTable" >
                        		<table   border="0"  width="100%">
                        		
                        		
                        		
                        		
                           			<?php  $fullArr	=	$this->larrSections;
                         			$k=0;  										
									for($i=0;$i<count($fullArr['IdPart']);$i++){					
									?>
									<tr>
                           			 	<td width="16%"><?php echo $fullArr['IdPart'][$i]?><input type="hidden" name="totalNoOfQuestions" id="totalNoOfQuestions" value="<?php echo $fullArr['count'];?>"></td>
                           			 	<td width="14%">
                           			 		<input type="text" pattern="^(0*|[1-9][0-9]*)$" title="Leading Zeros not allowed" name="percent[<?php echo $fullArr['IdPart'][$i]?>][]" id="percent" value="<?php if(array_key_exists('NOQ',$fullArr[$fullArr['IdPart'][$i]])){ echo $fullArr[$fullArr['IdPart'][$i]]['NOQ'];}?>" maxlength="7" onkeyup="fnCheckAvailabilitySub(this,<?php echo $fullArr[$fullArr['IdPart'][$i]]['count']?>,'<?php echo $fullArr['IdPart'][$i]?>');">
                           			 		<input type="hidden" name="hidden<?php echo $fullArr['IdPart'][$i]?>" id="hidden<?php echo $fullArr['IdPart'][$i]?>" value="<?php if(array_key_exists('NOQ',$fullArr[$fullArr['IdPart'][$i]])){ echo $parentLevelValue = $fullArr[$fullArr['IdPart'][$i]]['NOQ'];} else echo $parentLevelValue = 0;?>">
                           			 		<input type="hidden" name="Idpart[]" id="Idpart" value="<?php echo $fullArr['IdPart'][$i]?>">
                           			 	</td>
                           			  	<td width="10%"><input type="button" onclick="javascript:showHidden('hiddenTable<?php echo $fullArr['id'][$i]?>');" value="+"></td>
                           				<td width="60%">
                           					<div id="hiddenTable<?php echo $fullArr['id'][$i]?>" >
                           						<table   border="0"  width="100%">
                           					    <?php if(array_key_exists('idquestions',$fullArr[$fullArr['IdPart'][$i]])){
                           					    		for($j=0;$j<count($fullArr[$fullArr['IdPart'][$i]]['idquestions']);$j++){ $k++;?>
                           					    	<tr>
                           					    		<td width="16%"><?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?></td>		
                           					    		<td width="26%">
                           					    			<div class="chpmax">
                           					    				Qtn:Max(<?php echo $fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]]['count']?>)
                           					    				<input type="text" pattern="^(0*|[1-9][0-9]*)$" title="Leading Zeros not allowed" 
                           					    				name="percent[<?php echo $fullArr['IdPart'][$i]?>][<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>][0]" 
                           					    				id="percent[<?php echo $fullArr['IdPart'][$i]?>][<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>][0]" 
                           					    				value="<?php if(array_key_exists(0,$fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]])) 
                           					    								echo $fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][0];?>" 
                           					    				 maxlength="5" 
                           					    				onkeyup="fnCheckAvailabilitySubDetails(this,'<?php echo $fullArr['IdPart'][$i]?>','<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>',<?php echo $fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]]['count']?>);" 
                           					    				onchange="fnClearThirdSubDetails(this,'<?php echo $fullArr['IdPart'][$i]?>','<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>',<?php echo $fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]]['count']?>);" />
                           					    				
                           					    				<?php 
                           					    				$sump1[$fullArr['IdPart'][$i]]=($sump1[$fullArr['IdPart'][$i]])+($fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][0]);
                           					    				?>
                           					    				<input type="hidden"  name="chapmaxval" value="<?php echo $fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]]['count']?>"/>
                           					    			</div>
                           					    			<script>
				                           						var chaptermaxvalue = <?php echo $fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]]['count']?>;
				                           						var chaptertextvalue = document.getElementById("percent[<?php echo $fullArr['IdPart'][$i]?>][<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>][0]").value;
				                           						if(chaptertextvalue>chaptermaxvalue){
				                           							document.getElementById("percent[<?php echo $fullArr['IdPart'][$i]?>][<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>][0]").style.backgroundColor="red";	
																}
				                           					</script>
                           					    			<div class="chaplvlcount">
                           					    				<input type="hidden"  name="hidden<?php echo $fullArr['IdPart'][$i]?><?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>" id="hidden<?php echo $fullArr['IdPart'][$i]?><?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>" value="<?php if(array_key_exists(0,$fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]])) echo  $fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][0]; else echo 0;?>">
                           					    			</div>
                           					    			<input type="hidden" name="idquestions[<?php echo $fullArr['IdPart'][$i]?>][]" id="idquestions" value="<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>">
                           					    		</td>
                           					    		<td width="12%"><input type="button" onclick="javascript:showHidden('hiddenTable<?php echo $fullArr['id'][$i]?><?php echo $fullArr[$fullArr['IdPart'][$i]]['idquestions'][$j]?>');" value="+"></td>
                           					    		<td width="48%">
				                           					<div class="ppp" id="hiddenTable<?php echo $fullArr['id'][$i]?><?php echo $fullArr[$fullArr['IdPart'][$i]]['idquestions'][$j]?>">
				                           						<table  id="tablehtml" width="100%">
				                           					    	<tr>
				                           					    		<td width="50%;">Easy:Max(<?php if($fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][1]['count']) echo $fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][1]['count'];else echo 0;?>)</td>
				                           					    			<input type="hidden"  name="maxval" value="<?php if($fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][1]['count']) echo $fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][1]['count'];else echo 0;?>"/>
				                           					    			&nbsp;&nbsp;
				                           					    		<td><input type="text" pattern="^(0*|[1-9][0-9]?)$" title="Leading Zeros not allowed" autocomplete="off" name="percent[<?php echo $fullArr['IdPart'][$i]?>][<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>][1]" id="percent[<?php echo $fullArr['IdPart'][$i]?>][<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>][1]" value="<?php if(array_key_exists(1,$fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]])) { if($fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][0] != 0){ echo $fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][1];} else  echo $fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][0];} else echo 0;?>"  maxlength="5"  onkeyup="fnCheckAvailabilityLastSubDetails(this,'<?php echo $fullArr['IdPart'][$i]?>','<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>',<?php if($fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][1]['count']) echo $fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][1]['count'];else echo 0;?>,1);"></td>
				                           					    		<td><input type="hidden"  name="hidden[<?php echo $fullArr['IdPart'][$i]?>][<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>][1]" id="hidden[<?php echo $fullArr['IdPart'][$i]?>][<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>][1]" value="<?php if(array_key_exists(1,$fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]])) { if($fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][0] != 0){ echo $fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][1];} else  echo $fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][0];} else echo 0;?>"  maxlength="5"></td>				                           					    								                           					    				
				                           					    			<script>
				                           					    				var texteasyvalue = document.getElementById("percent[<?php echo $fullArr['IdPart'][$i]?>][<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>][1]").value;
				                           					    				var easymaxvalue = <?php  echo $fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][1]['count'];?>;
				                           					    				if(texteasyvalue>easymaxvalue){
				                           					    					document.getElementById("percent[<?php echo $fullArr['IdPart'][$i]?>][<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>][1]").style.backgroundColor="red";	
																				}
				                           					    			</script>
				                           					    	</tr>
				                           					    	<tr>
				                           					    		<td width="50%;">Intermediate:Max(<?php if($fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][2]['count']) echo $fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][2]['count'];else echo 0;?>)</td>		
				                           					    			<input type="hidden"  name="maxval" value="<?php if($fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][2]['count']) echo $fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][2]['count'];else echo 0;?>"/>
				                           					    			&nbsp;&nbsp;
				                           					    		<td><input type="text" pattern="^(0*|[1-9][0-9]?)$" title="Leading Zeros not allowed" name="percent[<?php echo $fullArr['IdPart'][$i]?>][<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>][2]" id="percent[<?php echo $fullArr['IdPart'][$i]?>][<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>][2]" value="<?php if(array_key_exists(2,$fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]])) { if($fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][0] != 0){ echo $fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][2];} else echo $fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][0];} else echo 0;?>"  maxlength="5" onkeyup="fnCheckAvailabilityLastSubDetails(this,'<?php echo $fullArr['IdPart'][$i]?>','<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>',<?php if($fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][2]['count']) echo $fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][2]['count'];else echo 0;?>,2);"></td>	
				                           					    		<td><input type="hidden" name="hidden[<?php echo $fullArr['IdPart'][$i]?>][<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>][2]" id="hidden[<?php echo $fullArr['IdPart'][$i]?>][<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>][2]" value="<?php if(array_key_exists(1,$fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]])) { if($fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][0] != 0){ echo $fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][2];} else  echo $fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][0];} else echo 0;?>" maxlength="5" ></td>				                           					    							                           					    				
				                           					    			<script>
				                           					    				var textmedvalue = document.getElementById("percent[<?php echo $fullArr['IdPart'][$i]?>][<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>][2]").value;
				                           					    				var diffmedvalue = 
				                           					    				<?php  
				                           					    				if($fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][2]['count']){
				                           					    					echo $fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][2]['count'];
				                           					    				}else{
				                           					    					echo 0;
				                           					    				}
				                           					    				?>;
				                           					    				if(textmedvalue>diffmedvalue){
				                           					    					document.getElementById("percent[<?php echo $fullArr['IdPart'][$i]?>][<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>][2]").style.backgroundColor="red";	
																				}
				                           					    			</script>
				                           					    	</tr>
				                           					    	<tr>
				                           					    		<td width="50%;">Difficult:Max(<?php if($fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][3]['count']) echo $fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][3]['count'];else echo 0;?>)</td>
				                           					    			<input type="hidden"  name="maxval" value="<?php if($fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][3]['count']) echo $fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][3]['count'];else echo 0;?>"/>
				                           					    			&nbsp;&nbsp;
				                           					    		<td><input type="text" pattern="^(0*|[1-9][0-9]?)$" title="Leading Zeros not allowed" name="percent[<?php echo $fullArr['IdPart'][$i]?>][<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>][3]" id="percent[<?php echo $fullArr['IdPart'][$i]?>][<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>][3]" value="<?php if(array_key_exists(3,$fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]])) { if($fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][0] != 0){ echo $fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][3];} else echo $fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][0];} else echo 0;?>" maxlength="5" onkeyup="fnCheckAvailabilityLastSubDetails(this,'<?php echo $fullArr['IdPart'][$i]?>','<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>',<?php if($fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][3]['count']) echo $fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][3]['count'];else echo 0;?>,3);"></td>	
				                           					    		<td><input type="hidden" name="hidden[<?php echo $fullArr['IdPart'][$i]?>][<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>][3]" id="hidden[<?php echo $fullArr['IdPart'][$i]?>][<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>][3]" value="<?php if(array_key_exists(1,$fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]])) { if($fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][0] != 0){ echo $fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][3];} else  echo $fullArr[$fullArr['IdPart'][$i]][$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][0];} else echo 0;?>" maxlength="5" ></td>				                           					    							                           					    				
				                           					    			<script>
				                           					    				var textdiffvalue = document.getElementById("percent[<?php echo $fullArr['IdPart'][$i]?>][<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>][3]").value;
				                           					    				var diffmaxvalue = 
				                           					    				<?php  
				                           					    				if($fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][3]['count']){
				                           					    					echo $fullArr[$fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]][3]['count'];
				                           					    				}else{
				                           					    					echo 0;
				                           					    				}
				                           					    				?>;
				                           					    				if(textdiffvalue>diffmaxvalue){
				                           					    					document.getElementById("percent[<?php echo $fullArr['IdPart'][$i]?>][<?php echo $fullArr[$fullArr['IdPart'][$i]]['QuestionNumber'][$j]?>][3]").style.backgroundColor="red";	
																				}
				                           					    			</script>
				                           					    	</tr>                           					    	
					                           					 </table>
					                           				</div>
				                           				</td>
                           					    	</tr> 
                           					    <?php }?>
                           					    <input type="hidden" name="sum<?php echo $fullArr['IdPart'][$i]?>" id="sum<?php echo $fullArr['IdPart'][$i]?>" value=<?php echo $sump1[$fullArr['IdPart'][$i]];?> />
                           					 <?php    }?>                          					    			                         					    	
	                           			</table>
	                           		</div>
                           		</td>
                           	</tr>  
                           	<tr><td colspan="5"><hr></td></tr>
                         	<?php }?> 
                          	<tr>
                          		<td></td>
                           		<td></td>
                           		<td></td>
                           		<td>
                           			<!--  <div style="width:28%;float:left">-->
							  				<input type="hidden" style="background:green;color:gold;border:0;width:20%;" readonly="readonly" name="totalchapters" id="totalchapters" value="<?php echo $k;?>">
									<!--<b>:Total Chapters</b>
										  </div>-->
									<div style="width:35%; float:left;text-align:right;"><b>Total Chapter Questions:</b>
									   <input type="text" style="background:green; color:gold;border:0;width:20%;" readonly="readonly"  name="hiddenthirdquestion" id="hiddenthirdquestion" value=''>
										
									</div>
													
									<div style="width:47%; float:right"><b>Total Added Questions:</b>
									   <input type="text" style="background:green; color:gold;border:0;width:15%;" readonly="readonly" name="thirdquestion" id="thirdquestion" value=''>
										
									</div>
								</td>
							</tr>   
                          	<tr><td colspan="5"><hr></td></tr>                   				
						</table>	
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="6" align="right"><?php echo $this->form->Save; ?><a  href="#" onclick="javascript:window.location.href='<?php echo $this->baseUrl();?>/examination/createexam'"><?php echo $this->form->Close;?></a></td>
			</tr>
		</table>
	   </form>
	 </div>
   </div>
</fieldset>	
</body>
</html>
