<html xmlns="http://www.w3.org/1999/xhtml" dir="<?php echo $this->rtl;?>">
<script type="text/javascript">
function AddNewfn()
{
	window.location="<?php echo $this->baseUrl();?>/examination/batchmaster/newbatch";
}
</script>
<fieldset>
 <legend>TOS</legend>
<!--  Search Forms -->
<div class="search" style="margin-left:20px;">
<form action="<?php echo $this->baseUrl();?>/examination/createexam/index/search/1" method="POST" name="" >
<table width="100%">
	<tr>
     	<td class="label"><?php echo $this->translate($this->Batch);?></td>
     	<td><?php echo $this->form->field5;?></td>
     	<td class="label"><?php //echo $this->translate('Start Exam');?></td>
     	<td><?php //echo $this->form->field3;?></td>
    </tr>
    <tr>
    	<td class = "label"><?php //echo $this->translate->_("Active")?></td>
     	<td><?php //echo $this->form->field7;?></td>
    </tr>
    <tr>
    	<td colspan="4" align=center>
	    <?php //foreach($this->roles as $resultItem):?>
		    <?php //if($resultItem['functionCode']=='BANK' && $resultItem['operationCode']=='SRCH'){?>
		    	<?php echo $this->form->Search;?>
			<?php  //}?>
		    
			<?php //if($resultItem['functionCode']=='BANK' && $resultItem['operationCode']=='ADD'){?>
				<input type="button" name="Add" class="NormalBtn" onClick="AddNewfn(); return false;" value="Add"  dojoType="dijit.form.Button" label="Add">
			<?php ///}?>
		    
			<?php //if($resultItem['functionCode']=='BANK' && $resultItem['operationCode']=='CLR'){?>
			 	<input name="submit" type="button" class="NormalBtn" value="Clear"  dojoType="dijit.form.Button" label="Clear"  onclick="javascript:window.location.href='<?php echo $this->baseUrl();?>/examination/createexam'">
		         
			<?php //}?>
	    <?php //endforeach;?>
                                    
        </td>
	</tr>
</table>
</form>	
</div>
</fieldset> 
<br>
<!--  Grid Display -->       
<fieldset>
<table id="hor-minimalist-b"  width="100%"  class="table" cellpadding="5" cellspacing="1">
    <tr>
        <th><?php echo $this->translate->_($this->Batch).''. $this->translate->_("Name")?></th>
        <th><?php echo $this->translate->_("From")?></th>
        <th><?php echo $this->translate->_("To")?></th>
        <th><?php echo $this->translate->_("No Of Questions")?></th>
        <th><?php echo $this->translate->_("Time Required")?></th>
        <th><?php echo $this->translate->_("Alert Time")?></th>
        <th><?php echo $this->translate->_("Status")?></th>
         <th><?php echo $this->translate->_("View")?></th>
  

    </tr>
        <?php if (count($this->paginator)): ?>
        <?php foreach ($this->paginator as $exam ): ?>
    
    <?php if($exam['Active']==1){?>
    	<tr style="color:green;">
    <?php }else{?>
    	<tr>
    <?php }?>
        <td><a href="<?php echo $this->baseUrl();?>/examination/createexam/editcreateexam/id/<?php echo $this->escape($exam['IdTOS']);?>" >
        		<?php echo $this->escape($exam['BatchName']);?>
   			</a>
   		</td>
    	<td><?php echo date('d-m-Y',strtotime($exam['BatchFrom']));?></td>
    	<td><?php echo date('d-m-Y',strtotime($exam['BatchTo']));?></td>
    	<td><?php echo $this->escape($exam['NosOfQues']);?></td>
    	<td><?php echo $this->escape($exam['TimeLimit']);?></td>
    	<td><?php echo $this->escape($exam['AlertTime']);?></td>
    	<?php if($exam['Active']!=1){?>
    	 <td><?php echo $this->translate->_("Inactive");?></td>	 
    	 <?php }else {?> 
    	  <td><span ><?php echo $this->translate->_("Active");?></span></td>	 
    	  <?php }?>
    	  <td><input type="button" dojoType="dijit.form.Button" name="view" value="View" label="View" onclick="javascript:window.location.href='<?php echo $this->baseUrl();?>/examination/examset/view/id/<?php echo $this->escape($exam['IdTOS']);?>'"/></td>
    	 <?php endforeach; ?>
        <?php endif; ?>
    </tr>
    <tr>
        <td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->paginator,'Sliding',
                                    '/partials/my_pagination_control.phtml'); ?></div>
        </td>
    </tr>
</table>
</fieldset>      
</html>   