<head>
<Script type="text/javascript">
dojo.addOnLoad(function(){
	});

function fntakcompnames(){
	var idname = dijit.byId('Takcomp');
	    var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/registrations/batchreport/fnajaxgettakcompnames/idname/"+idname,
				handleAs:'json',
				load:function(data){ 
					AutoFillNextEditableDropDown("Takcompnames",data);
				}
		   }
		dojo.xhrGet(xhrArgs);
}

function fngetpin(){
	
	var idname = dijit.byId('Takcomp');
	var idcomp = dijit.byId('Takcompnames');
	    var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/registrations/batchreport/fnajaxgetpins/idname/"+idname+"/idcomp/"+idcomp,
				handleAs:'json',
				load:function(data){ 
					AutoFillNextEditableDropDown("Pin",data);
				}
		   }
		dojo.xhrGet(xhrArgs);
}

function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}

function fngetstudmarks(idapp,idprog){
	
	if(idapp != "")
	{   
	    var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/registrations/batchreport/fngetstudentmarks/idapp/"+idapp+"/idprog/"+idprog,
				handleAs:'text',
				load:function(data){					
					document.getElementById('divLogin').style.display = 'block';						
					document.getElementById('divLogin2').style.display = 'block';
					document.getElementById('contentdiv').innerHTML = data;						
				}
		   }
		dojo.xhrGet(xhrArgs); 
	} 
}
function Closefn()
{
	document.getElementById('contentdiv').innerHTML = "";
	document.getElementById('divLogin').style.display = 'none';
	document.getElementById('divLogin2').style.display = 'none';
} 


</Script>	
</head>
<body class='claro'>
<fieldset>
	<legend><?php echo $this->translate("Batchregistration").' '.$this->translate("Report");?></legend>
	<div class="search" style="margin-left:20px;">
 		<form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/registrations/batchreport" method="POST" > 
 		  <script type="dojo/method" event="onSubmit">
             if (this.validate()){
					return true;
                } else {
                   return false;
               }
			</script>
		<table width="100%">
				<tr>
                    <td><?php echo $this->translate("Takaful/Company")?></td>
                    <td><?php echo $this->lobjform->Takcomp;?></td>
                    <td><?php echo $this->translate("Takaful/Company Names")?></td>
                    <td><?php echo $this->lobjform->Takcompnames;?></td>
                    <td><?php echo $this->translate("Registration Pin")?></td>
                    <td><?php echo $this->lobjform->Pin;?></td>
                </tr>
                <tr>
                 <td></td>  
                 <td></td>             
                 <td><?php echo $this->lobjform->Search;?>
					<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Clear"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'registrations','controller'=>'batchreport','action'=>'index'),'default',true);?>';" />
				</td>
               </tr>
		</table>
	</form>	
		</div>
	</fieldset> 
<br>
<?php if($this->set){?>
<fieldset>
<form id="myForm1" name = "myform1" action="<?php echo $this->baseUrl();?>/registrations/batchreport/fnexport" method="POST">
    <table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr>
        <th><?php echo $this->translate("Candidate Name") ?></th>
        <th><?php echo $this->translate("ICNO") ?></th>
        <th><?php echo $this->translate("Program Name") ?></th>
        <th><?php echo $this->translate("Exam Date") ?></th>
        <th><?php echo $this->translate("Exam Venue") ?></th>
        <th><?php echo $this->translate("Exam Session") ?></th>
        <th><?php echo $this->translate("Status") ?></th>
        <th><?php echo $this->translate("Grade") ?></th>
    </tr>
        <?php if (count($this->paginator)): ?>
        <?php foreach ($this->paginator as $lobjCountry ):?>
	        <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
		        <td><?php print_r($this->escape($lobjCountry['FName']));?></td>
		        <td><?php print_r($this->escape($lobjCountry['ICNO']));?></td>
				<td><?php print_r($this->escape($lobjCountry['ProgramName']));?></td> 
				<td><?php print_r($this->escape($lobjCountry['ExamDate']));?></td>
				<td><?php print_r($this->escape($lobjCountry['ExamVenue']));?></td>
				<td><?php print_r($this->escape($lobjCountry['session']));?></td>
				<td><?php if(($lobjCountry['Result'] == 'Applied')|| ($lobjCountry['Result'] == 'Absent')){
					  print_r($this->escape($lobjCountry['Result']));
                    }else{?>
                    <a href="javascript:fngetstudmarks(<?php echo $lobjCountry['IDApplication']?>,'<?php echo $lobjCountry['ProgramName'];?>');"><?php print_r($this->escape($lobjCountry['Result']));?></a><?php }?>
                </td>
				<td><?php print_r($this->escape($lobjCountry['Grade']));?></td>
				<input type="hidden" name="Takcomp" id="Takcomp" value="<?php echo $this->Takcomp;?>"></td>
				<input type="hidden" name="Takcompnames" id="Takcompnames" value="<?php echo $this->Takcompnames;?>"></td>
				<input type="hidden" name="Pin" id="Pin" value="<?php echo $this->Pin;?>"></td>
	       </tr>
       <?php endforeach;?>
       <?php endif;?>	
      <tr>
	     <td colspan="8" align="right"><?php echo $this->lobjform->ExportToExcel;?></td>
      </tr>	
</table>
<div runat="server" id="divLogin"  style="display:none; z-index: 153; position: fixed; left: 23%; width: 750px; top:10%">
					                <asp:Panel runat="server" ID="popupLogin">
					                    <asp:Panel runat="server" ID="popupContent1">
					                        <table style="height: 125px; width: 100%; background-color: #FFFFFF;" border="3"   frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">
					                                    
					                                    	<div id="contentdiv"></div>					                                      
					                                   </td>
					                                </tr>
					                                <tr>
					                                    <td colspan="2" align="left">
					                                        <asp:Label ID="lblmandatory" runat="server" Text="* Mandatory Information Required"
					                                            class="LeftLabelStyle" Width="350px" />
					                                    </td>
					                                </tr>
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
					            </div>
					                   	<div runat="server" id="divLogin2"  style="display:none; opacity:0.4; z-index: 150; position: absolute; left: 0%; height: 100%; width: 100%; top: 0%;">
					                <asp:Panel >
					                    <asp:Panel  >
					                        <table style="height: 100%; width: 100%; background-color: #000000;" border="3"   frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">
					                                    	
					                                      
					                                   </td>
					                                </tr>
					                               
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
					            </div>
</form>
</fieldset>
<?php }?>
</body>
</html>
