<head>
<script>
dojo.addOnLoad(function(){
	dijit.byId('Venuenew').focus();
	dijit.byId('Venuenew').set('value','');
  	//dijit.byId('Venuenew').set('placeHolder','');	
	});

</script>
</head>
<body class='claro'>
	<fieldset>
		<legend><?php  echo $this->translate($this->Center).' '.$this->translate("Search");?></legend>
         <form action="<?php echo $this->baseUrl();?>/scheduler/center/index/search/1"  method="POST" id="myform" name="myform">
         
            <table width="100%">
                <tr>
                   <td><?php echo $this->translate($this->Center).' '.$this->translate("Name");?></td>
                   <td ><?php echo $this->lobjform->Venuenew;?></td>
                   <td><?php //echo $this->translate("City");?></td>
                   <td ><?php //echo $this->lobjform->field2;?></td>
                </tr>
                <tr>
                    <td ><?php echo $this->translate("Active");?></td>
                    <td ><?php echo $this->lobjform->Active;?></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
	               <td align = "center" colspan = "4">
						<?php echo $this->lobjform->Search;?>
						<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Add"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'scheduler','controller'=>'center', 'action'=>'newcenter'),'default',true);?>';" />	
						<?php echo $this->lobjform->Clear;?>
				   </td>
                </tr>
            </table>
        </form>	
    </fieldset> 
    <br/>
     <?php if (count($this->paginator)): ?>
	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
	    	<tr>
	        	<th><?php echo $this->translate($this->Center).' '.$this->translate("Name");?></th>
	       	    <th><?php echo $this->translate("City");?></th>
	        	<th><?php echo $this->translate("Address");?></th>
	        	<th><?php //echo $this->translate("Country");?></th>
	    	</tr>
	       
	        <?php foreach ($this->paginator as $lobjcenter ): ?>
	  		<tr style="background-color:<?php   echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	<td><a href="<?php echo $this->url(array('module'=>'scheduler','controller'=>'center', 'action'=>'centerlist' , 'id'=>$lobjcenter['idcenter']),'default',true);?>" ><?php print_r($this->escape($lobjcenter['centername']));?></a></td>
	    	    <td><?php if($lobjcenter['city']){?><?php echo $this->escape($lobjcenter['city']);?><?php }else {?><?php echo $this->translate("Others");}?></td>
	    		<td><?php echo $this->escape($lobjcenter['addr1']);?></td>
	    		<td><?php // echo $this->escape($lobjcenter['country']);?></div></td>	          
			</tr>
			  <?php  endforeach; ?>
	            
	    	<tr>
	        	<td colspan="8" align="right"><div class="pagination"><?php  echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>
		</table>
	</fieldset>
	<?php endif; ?> 
	</body>
