<head>

<script type="text/javascript">
	dojo.addOnLoad(function() {
		
	});
	
</script> 
</head>
 <fieldset>
    <legend><?php echo $this->translate("Individual  Application");?></legend>
               <Form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/studentedit/newstudent" method="post"  name= "myForm">
                <script type="dojo/method" event="onSubmit">
                
				</script>
                    <table class="table" width="100%" >
                        <tr>
                            <th colspan = "4"><?php echo $this->translate("Enter Registered Id");?></th>
                        </tr>
                   
                        <tr  id="Student">
                 			
                            <td ><?php echo $this->translate("Registration Id");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjstudentForm->ArmyNo;?></td>
                            
                        </tr>
                     
                        <tr>
                          <td></td>
                   
                            <td>        
                           <input type="submit" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Next"); ?>" />	
							<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('controller'=>'index', 'action'=>'index'),'default',true);?>';" />	
                            </td> 
                        </tr>
              </table>
            
            </Form>

</fieldset>
