<head>


</head>

	<fieldset>
	<form action="<?php echo $this->baseUrl();?>/registration/selectvenue/insertedId/<?php echo $this->id;?>"  dojoType="dijit.form.Form" method="POST">
	    <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script> 
	     <table class="table" width="50%" border="1" align="center">
	                     <tr>
                            <th><?php echo $this->translate("Examination Details");?></th>
                         </tr>
                         <tr>
                           <td>Date Selected:<?php echo $this->dates;?></td>
                         </tr>
                   <input type="hidden" value="<?php echo $this->id;?>" id="idapplication" name="idapplication">
                    
          </table>
          <table class="table" width="50%" border="1" align="center">
	                     <tr>
                            <th><?php echo $this->translate("Num");?></th>
                            <th><?php echo $this->translate("SESSION/TIME");?></th>
                            <th><?php echo $this->translate("VENUE");?></th>
                            <th><?php echo $this->translate("");?></th>
                         </tr>
                         <tr>
                           
                          <?php if(count($this->larrvenues)):?>
                             <?php $cnt1=0;foreach ($this->larrvenues as $larrsession ): $cnt1++?>
              <tr><td><?php echo $cnt1;?></td>
                   <td><?php echo $larrsession['managesessionname']?>(<?php echo $larrsession['starttime'].'--'.$larrsession['endtime'];?>)</td>  
                   <td><?php  echo $larrsession['centername'];?></td>
                   <td>
                   
                    <input type="radio" dojoType="dijit.form.RadioButton" name="idvenues[]" value="<?php echo $larrsession['idcenter'];?>" id="idsession<?php echo $cnt1;?>"></td>
     		            <?php  endforeach; ?>
     		            <?php endif; ?>
     		            </td>
                         </tr>
                    <tr>
                            <th colspan="4"><?php echo $this->translate("Payment Mode");?></th>
                     </tr>
                      <td >Payment</td>
                            <td> <?php echo $this->lobjstudentForm->ModeofPayment;?></td> 
                      <tr>
                       <tr>
                            <th colspan="4"><?php echo $this->translate("");?></th>
                     </tr>
                     <td colspan="3" style="font-family:verdana;color:red;">Note *:<br/>Exam location and date may be changed.We will inform candidates atleast two days before any changes by email and sms</td>
                     
                   </tr>
                    <tr>
                     <td colspan="3" style="font-family:verdana;color:red;">Last date of registration is 14 working days prior to the choosen examination date</td>
                   </tr>
                <tr>                         
                         
                          <td></td>
                                                
                             
                                                 <td colspan="2">Are you sure with above selection of venue and payment type
                            <?php echo $this->lobjstudentForm->Save;?>
                            </td> 
                        </tr>     
          </table>
          
        </form>
        </fieldset>                
