<head>
<Script type="text/javascript">
dojo.addOnLoad(function(){

	<?php if($this->clear == 1){?>
	document.getElementById('contentdiv').style.innerHTML = "";
	document.getElementById('divLogin').style.display = 'none';
	document.getElementById('divLogin2').style.display = 'none';
	
	<?php } else if($this->search == 1){?>
	document.getElementById('contentdiv').style.innerHTML = "";
	document.getElementById('divLogin').style.display = 'none';
	document.getElementById('divLogin2').style.display = 'none';
	
	<?php }else{?>
	fninstruction();
	//document.getElementById('contentdiv').style.display = 'block';
	//document.getElementById('divLogin').style.display = 'block';
	//document.getElementById('divLogin2').style.display = 'block';
	<?php }?>

	});
	function fninstruction()
	{
	
	   document.getElementById('contentdiv').style.display = '';
	   document.getElementById('divLogin').style.display = '';
	   document.getElementById('divLogin2').style.display = '';
	}
	function Closefn()
	{
		//document.getElementById('contentdiv').innerHTML = "";
		document.getElementById('divLogin').style.display = 'none';
		document.getElementById('divLogin2').style.display = 'none';
	}
	
function fngetcenterdetails(centerid)
{
  var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/registrationreport/centerdetails/idcenter/"+centerid,
			handleAs:'text',
			load:function(data){ 
				document.getElementById('contentvenuediv').innerHTML = data;
				document.getElementById('divLoginvenue').style.display = 'block';
				document.getElementById('divLoginvenue2').style.display = 'block';
			}
	   }
	dojo.xhrGet(xhrArgs);
}
 function Closevenue()
 {
    document.getElementById('contentvenuediv').innerHTML = "";
	document.getElementById('divLoginvenue').style.display = 'none';
	document.getElementById('divLoginvenue2').style.display = 'none';
     
 }
function examtoDateSetting(){ 
	var RegFromDate = dijit.byId('FromDate').value;
	var startDate = dijit.byId('ToDate');
	var trdat = ""+RegFromDate;
	var d = new Date(trdat); 
	d.setDate(d.getDate());
    var date = d.getDate();
    var month = d.getMonth()+1;
    var year = d.getFullYear();
	
    if(month<10) month = "0"+month;
    if(date<10) date = "0"+date;
    var nextdate = year+'-'+month +'-'+date;
    
	startDate.constraints = dojo.mixin(startDate.constraints, {min: dojo.date.stamp.fromISOString(nextdate)}); 

	var trdat = ""+RegFromDate;
	var d = new Date(trdat); 
	d.setDate(d.getDate() + 30);
    var date = d.getDate();
    var month = d.getMonth()+1;
    var year = d.getFullYear();
	
    if(month<10) month = "0"+month;
    if(date<10) date = "0"+date;
    var nextdate = year+'-'+month +'-'+date;
	startDate.constraints = dojo.mixin(startDate.constraints, {max: dojo.date.stamp.fromISOString(nextdate)}); 
}

</script>
<style type = "text/css">
td.border 
{
border-width: 1px;
border-color: black;
border-style: solid;
}
td.adjust
{
	align : right;
}

</style>
</style>
</head>
<body class='claro'>
<table class = "table" width="100%">
<tr>
	<td colspan = "16" align="center"><input type='button'  dojotype="dijit.form.Button" label="Show Instructions" id='Show' name='Show'  onclick ="fninstruction();"/></td>
</tr>
</table>				
<fieldset>
	<legend><?php echo $this->translate("Examination").' '.$this->translate("Schedule");?></legend>
 		<form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/registrationreport" method="POST" > 
 		  <script type="dojo/method" event="onSubmit">
             if (this.validate()){
					return true;
                } else {
                   return false;
               }
			</script>
		<table class = "table" width="100%">
		        
				<tr>
				    <td colspan = "2"><?php echo $this->translate("Select Exam Center")?></td>
                    <td colspan = "2"><?php echo $this->lobjform->Venue;?></td>
                    <td colspan = "2"><?php echo $this->translate("From Date")?></td>
                    <td colspan = "2"><?php echo $this->lobjform->FromDate;?></td>
                    <td colspan = "2"><?php echo $this->translate("To Date")?></td>
                    <td colspan = "2"><?php echo $this->lobjform->ToDate;?></td>
                    <td colspan = "2"><?php echo $this->translate("Select Day")?></td>
                    <td colspan = "2"><?php echo $this->lobjform->day;?></td>
                </tr>
               <tr>
               <td colspan = "16" align = "center"><?php echo $this->lobjform->Search;?>
					 <?php echo $this->lobjform->Clear;?>
				    <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('controller'=>'introduction','action'=>'index'),'default',true);?>';" />
				</td>
               </tr>
		</table>
	</form>	
		</div>
	</fieldset> 
<br>

<?php if($this->search){?>
<?php if($this->bulkvenue == 1){ ?>
<fieldset> 
<form id="myForm1" name = "myform1" action="<?php echo $this->baseUrl();?>/registrationreport/fnexportexcel" method="POST">
    <?php if($this->dates){?>
    <table  class = "table" width="100%" border = '1' >
    <?php $dat =  $this->dates;?>
    <tr>
        <th style="background-color:grey"><b><?php echo $this->translate("VENUES / DATE ")?></b></th>
        <?php for($lvars=0;$lvars<count($dat);$lvars++){?>
		<th style="background-color:grey"><b><?php echo $dat[$lvars]['Date'];?><br>
		<?php echo $dat[$lvars]['dayname'];}?></b></th>
    </tr>
     <?php $ven =  $this->venuegroup;?>
        <?php for($lvars=0;$lvars<count($ven);$lvars++){?>
        <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
		 <td class = "border " valign = "top"><a href="#" onclick="fngetcenterdetails('<?php echo $ven[$lvars]['idcenter'];?>')"><?php print_r($this->escape($ven[$lvars]['centername']));?></a></td>
        	
        	 <?php for($j=0;$j<count($dat);$j++){?>
        	 
        	 <?php $this->lobjSchedulereport = new App_Model_Registrationreport();
        	       $idcenter = $ven[$lvars]['idcenter'];
        	       $date = $dat[$j]['date'];
        	       $larresult =$this->lobjSchedulereport->fngetseats($idcenter,$date); 

        	       $cnt = count($larresult);
        	       if($cnt==2)
        	       { ?> 
        	       	<td class = "border " valign = "top">
        	       		 <table width="100%">
        	       		 	<tr><td align="left"><?php echo $larresult[0]['ampmstart'];?></td>
							
							<?php if($larresult[0]['Totalcapacity']-$larresult[0]['Allotedseats'] <= 0){?>
							<td align="right">[Full]</td>
							<?php } else{?>
        	       		 	<td align="right">[<?php echo $larresult[0]['Totalcapacity']-$larresult[0]['Allotedseats'];?>]</td></tr>
        	       		    <?php } ?>
							
        	       		    <tr><td align="left"><?php echo $larresult[1]['ampmstart'];?></td>
							
        	       		    <?php if($larresult[1]['Totalcapacity']-$larresult[1]['Allotedseats'] <= 0){?>
							<td align="right">[Full]</td>
							<?php } else{?>
        	       		 	<td align="right">[<?php echo $larresult[1]['Totalcapacity']-$larresult[1]['Allotedseats'];?>]</td></tr>							
        	       		    <?php } ?>
							
        	       	    </table>
        	       	</td><?php 
        	       }
        	       else if($cnt==1)
        	       { ?> 
        	       	<td class = "border " valign = "top">
        	       		<table width="100%">
        	       		 	<tr>
							     <td align="left"><?php echo $larresult[0]['ampmstart'];?></td>
								 <?php if($larresult[0]['Totalcapacity']-$larresult[0]['Allotedseats'] <= 0){?>
							     <td align="right">[Full]</td>
							     <?php } else{?>
        	       		 	     <td align="right">[<?php echo $larresult[0]['Totalcapacity']-$larresult[0]['Allotedseats'];?>]</td>
        	       		         <?php } ?>
							</tr>
        	       		</table>
        	       	 </td>
        	       	 <?php 
        	       }
        	       else 
        	       {?>
        	       	 <td class = "border " valign = "top" >No Exam</td>
        	       	 <?php 
        	       }
        	       ?>
        	 <?php }?>
        </tr>
    <?php }?>
	<table class = 'table' ><tr> 
        <td><?php echo $this->lobjform->ExportToExcel;?></td>
        <td><input type="hidden" name="FromDate" id="FromDate" value="<?php echo $this->FromDate;?>"></td>
        <td> <input type="hidden" name="ToDate" id="ToDate" value="<?php echo $this->ToDate;?>"></td>
        <td> <input type="hidden" name="day" id="day" value="<?php echo $this->day;?>"></td>
		<td> <input type="hidden" name="center" id="center" value="<?php echo $this->center;?>"></td>
   </tr>
   </table>	
</table>
<?php }
     else
       { ?>
        <table width = '100%'> <tr><td align = 'center' ><b> <?php echo $this->translate("NO SCHEDULER FOR THE SELECTED DATES AND DAY"); ?></b></td></tr></table>
       <?php  }?>
</form>
</fieldset>
<?php }else {?>
<fieldset> 
<form id="myForm1" name = "myform1" action="<?php echo $this->baseUrl();?>/registrationreport/fnexportexcel" method="POST">
    <?php if($this->dates){?>
    <table  class = "table" width="100%" border = '1' >
    <?php $dat =  $this->dates; $columns = count($this->dates);?>
    <tr>
        <th style="background-color:grey"><b><?php echo $this->translate("VENUE / DATE ")?></b></th>
        <?php for($lvars=0;$lvars<count($dat);$lvars++){?>
		<th style="background-color:grey"><b><?php echo $dat[$lvars]['Date'];?><br>
		<?php echo $dat[$lvars]['dayname'];}?></b></th>
    </tr>
     <?php $ven =  $this->venues;?>
        <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
		<td class = "border " valign = "top"><a href="#" onclick="fngetcenterdetails('<?php echo $ven[0]['idcenter'];?>')"><?php print_r($this->escape($ven[0]['centername']));?></a></td>
        	
        	 <?php for($j=0;$j<count($dat);$j++){?>
        	 
        	 <?php $this->lobjSchedulereport = new App_Model_Registrationreport();
        	       $idcenter = $ven[0]['idcenter'];
        	       $date = $dat[$j]['date'];
        	       $larresult =$this->lobjSchedulereport->fngetseats($idcenter,$date); 
				   //echo "<pre>";print_r($larrresultcomp);
        	       $cnt = count($larresult);
        	       if($cnt==2)
        	       { ?> 
        	       	<td class = "border " valign = "top">
        	       		 <table width="100%">
        	       		 	<tr><td align="left"><?php echo $larresult[0]['ampmstart'];?></td>
							
							<?php if($larresult[0]['Totalcapacity']-$larresult[0]['Allotedseats'] <= 0){?>
							<td align="right">[Full]</td>
							<?php } else{?>
        	       		 	<td align="right">[<?php echo $larresult[0]['Totalcapacity']-$larresult[0]['Allotedseats'];?>]</td></tr>
        	       		    <?php } ?>
							
        	       		    <tr><td align="left"><?php echo $larresult[1]['ampmstart'];?></td>
							
        	       		    <?php if($larresult[1]['Totalcapacity']-$larresult[1]['Allotedseats'] <= 0){?>
							<td align="right">[Full]</td>
							<?php } else{?>
        	       		 	<td align="right">[<?php echo $larresult[1]['Totalcapacity']-$larresult[1]['Allotedseats'];?>]</td></tr>							
        	       		    <?php } ?>
        	       	    </table>
        	       	</td><?php 
        	       }
        	       else if($cnt==1)
        	       { ?> 
        	       	 <td class = "border " valign = "top">
        	       		<table width="100%">
        	       		 	<tr>
							     <td align="left"><?php echo $larresult[0]['ampmstart'];?></td>
								 <?php if($larresult[0]['Totalcapacity']-$larresult[0]['Allotedseats'] <= 0){?>
							     <td align="right">[Full]</td>
							     <?php } else{?>
        	       		 	     <td align="right">[<?php echo $larresult[0]['Totalcapacity']-$larresult[0]['Allotedseats'];?>]</td>
        	       		         <?php } ?>
							</tr>
        	       		</table>
        	       	 </td>
        	       	 <?php 
        	       }
        	       else 
        	       {?>
        	       	 <td class = "border " valign = "top" >No Exam</td>
        	       	 <?php 
        	       }
        	       ?>
        	<?php }?> 
        </tr>
    
	<table class = "table">
	   <tr>
            <td colspan ="<?php echo $columns; ?>" ><?php echo $this->lobjform->ExportToExcel;?></td>
       </tr>
	   <tr>	   
			<td><input type="hidden" name="FromDate" id="FromDate" value="<?php echo $this->FromDate;?>"></td>
			<td> <input type="hidden" name="ToDate" id="ToDate" value="<?php echo $this->ToDate;?>"></td>
			<td> <input type="hidden" name="day" id="day" value="<?php echo $this->day;?>"></td>
			<td> <input type="hidden" name="center" id="center" value="<?php echo $this->center;?>"></td>
			<td> <input type="hidden" name="centername" id="centername" value="<?php echo $ven[0]['centername'];?>"></td>
      </tr>
   </table>	
</table>
<?php }
     else
       { ?>
        <table width = '100%'> <tr><td align = 'center' ><b> <?php echo $this->translate("NO SCHEDULER FOR THE SELECTED DATES AND DAY"); ?></b></td></tr></table>
       <?php  }?>
</form>
</fieldset>
<?php }?>
<?php }?>

<div runat="server" id="divLogin"  style="display:none; z-index: 153; opacity:1.0;background-color: #FFFFFF; position: fixed; left: 0%;right:100%; width:100%; top:20% " >
  <div runat="server" id="divLogin2"  style="display:none; opacity:0.5; z-index: 150; background-color: #FFFFFF; position: relative; left: 0%; height: 100%; width: 100%; top: 0%;"> </div>
					                <div id="scroll" style="height: 600px; width: 100%; overflow:auto;">
					                        <table style="height: 125px; width: 100%; background-color: #FFFFFF;" border="3" frame="box">
					                             <tr>
					                                    <td align="left">
					                                    	<div id="contentdiv" style="display:none;">
															 <div>
															 <div><b>
            You have chosen the menu option to view the Exam Schedule and below are the step to view the exam schedule: Once you have read the step by step instructions Click ok and you will be taken to the Takaful Basic Exam (TBE) application.</b>
		 </div>
            <ol>			
			<li>You have the option to view the exam schedule by exam venue, exam date and day of the week.
				   </li>
           <li>All the exam centres on all dates will conduct exams for all the four examination types -  Part A & B, Part A & C, Part B and Part C
				  </li>
            <li>Select the exam centre where you want to take the exam from the drop down option - you can pick the exam centre of your choice or select "All centres" and the exam schedule at all the exam centres will be displayed
				   </li>	
            <li>Next you will need to select a range for the exam dates (Mandatory field) when you intend to take the exam, ('From Date' and 'To Date') the maximum date range is one month.
				   </li>
            <li>You may want to select the day of the week for e.g. Monday, Tuesday etc... when you want to take the exam, alternatively you can choose "All Days" and the exam schedule for all the days of the week (Monday through Sunday) will be displayed.
				   </li>
            <li>With your selection of choice, you now search - click on the search button. If you want to clear the data selected, use the 'Clear' button and you can select different combinations of Venue, Dates and Day. The 'Back' button takes you to the Home page of the portal. When you click on the search button, the exam dates for the selected criteria is displayed. If there are no exam schedule for the selected criteria the search results will show a message accordingly. 
				  </li>
            <li>You will see against the selected 'Exam Venue" the "Exam Dates" and "Days" the exam schedule, you will also see the exam session timings and against each of the session timings the numbers in the brackets is the no of seats available at the time of generation of the report. If the 'Sit Capacity' (Number of seats to take the exam in an exam centre on a given date and session) is full, the search will show the exam date with "Full" in brackets denoting that there are no more seats for that session. If you click on the exam venue, the address of the exam venue is shown in a pop up window.
				  </li>
            <li>You also have the option to down load the data what you see on the screen to an xl sheet and save it on your local computer drives. Use the option 'Export to Excel Sheet' which is available at the the left hand bottom corner.
				   </li>
            <li>Use the back button to take you to the Home page of the portal from where you started. You can repeat the search with other search criteria till you have all the information you wanted. 
				   </li>
			
			<div align="center">
			<input type='button'  class="NormalBtn" dojotype="dijit.form.Button" label="OK" id='close' name='close'  onclick ="Closefn();"/></td>
			</div>
			 </ol>
   </div>
															</div>					                                      
					                                   </td>
					                                </tr>
					                            
					                        </table>
    							   </div>
</div> 

<div runat="server" id="divLoginvenue"  style="display:none; z-index: 153;  position: fixed; left: 20%; width: 600px; top:25% " >
  <div runat="server" id="divLoginvenue2"  style="display:none; opacity:0.5; z-index: 150; position: relative; left: 0%; height: 100%; width: 100%; top: 0%;"> </div>
					                <div id="scroll" style="height: 600px; width: 100%; overflow:auto;">
					                        <table style="height: 125px; width: 100%; background-color: #FFFFFF;" border="3" frame="box">
					                             <tr>
					                                    <td align="right">
					                                    	<div id="contentvenuediv">
															</div>					                                      
					                                   </td>
					                                </tr>
					                        </table>
    							   </div>
</div> 

</body>
</html>
