
	<fieldset>
	<legend>Company payment</legend>
		 <form dojoType="dijit.form.Form"  id="myFormform" action="" method="post"  name= "myFormform" >
			<?php  $dataArray = $this->data; $PaymentDetails = $this->PaymentDetails;?>	
	    	<table class="table" width="80%" align="center">
<tr>
	<td>Company Name</td>
	<td><?php echo $dataArray['CompanyName'];?></td>
</tr>
<tr>
	<td>Contact Person</td>
	<td><?php echo $dataArray['ContactPerson'];?></td>
</tr>
<tr>
	<td colspan="2">
			Registration Date: <?php echo date('d M Y');?><br><br>
		You intend to register <?php echo $PaymentDetails[0]['totalNoofCandidates'];?> candidates for the TBE Examination <br> <br>
<?php  for($m=0;$m<count($PaymentDetails);$m++){
	
 echo	$PaymentDetails[$m]['ProgramName']."&nbsp;:&nbsp; ".$PaymentDetails[$m]['noofCandidates']." candidates<br>";
	
	
	
	
	
}?>
<br><br>
Total Fee(RM)	:	<?php echo $PaymentDetails[0]['totalAmount'];?> <?php //(Ringgit Malaysia: Eight Hundred Only)?><br><br>

Admin has to approve the Registration pin for the company <?php echo $dataArray['CompanyName'];?><br><br>

Thank you
		
	
	
	</td>



</tr>

 




<tr>
	<td colspan="2" align ="right">&nbsp;<input type="button" value="Back" name="btn1" onClick="window.location.href='<?php  echo $this->baseUrl();?>/registrations/registrationfailedcompany/index'" /></td>
</tr>
</table>	
            	
		</form>
	</fieldset>
