<head>

<style><!--
	table.calendar    { 
		border-left:1px solid #999; 
	}
	td.calendar-day-head { 
		background:#808080; 
		font-weight:bold; 
		text-align:center; 
		height:20px; 
		width:50px; 
		color : #FFFFFF;
		padding:1px; 
		border-bottom:1px solid #999; 
		border-top:1px solid #999; 
		border-right:1px solid #999; 
	}
	div.day-number   { 
		background:#999; 
		position:absolute; 
		z-index:2; 
		top:-15px; 
		right:-25px; 
		padding:6px; 
		color:#fff; 
		font-weight:bold; 
		width:10px; 
		text-align:center; 
	}
	td.calendar-day, td.calendar-day-np { 
		padding:4px 5px 4px 4px; 

	}
-->
</style>
<script language="JavaScript" type="text/javascript"><!--
dojo.addOnLoad(function() {

		fngetstatedetails(<?php echo $this->progid?>);
	
});


function Closefn()
{	 
   	 window.location = "<?php echo $this->baseUrl();?>/registrations/registrationfailedcompany/index/";        
}

function Closefns(){
	document.getElementById('contentdiv').innerHTML = "";
	document.getElementById('divLogin').style.display = 'none';
	document.getElementById('divLogin2').style.display = 'none';
}
function selectallfunction(cout) {
	
	var selectall = document.getElementById('selectall').checked;
	if(selectall)
	{
		for(i=0;i<cout;i++) {
			  dijit.byId("studentId"+i).attr('checked',true);
			//document.getElementById('batchinvoice'+i).checked = true;
	    }
	} else {
		for(i=0;i<cout;i++) {
			  dijit.byId("studentId"+i).attr('checked',false);
			//document.getElementById('batchinvoice'+i).checked = false;
	    }
	}
}	

function Closefn()
{	 
   	 window.location = "<?php echo $this->baseUrl();?>/registrations/companystudentdetails/index";        
}



function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){

	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };

	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}

//**************
 function fngetstatedetails(idprog)
 {
 	document.getElementById('calender').style.display='none';
 	var xhrArgs1 = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/newfngetyear/idprog/"+idprog,
			handleAs:'json',
			load:function(data){ 
			//	alert(data);				
				AutoFillNextEditableDropDown("Year",data); 
			}
	   }
	dojo.xhrGet(xhrArgs1);

 	var xhrArgs2 = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetactiveset/idprog/"+idprog,
			handleAs:'text',
			load:function(data){ 
				document.getElementById('setactive').value = data;
			}
	   }
	dojo.xhrGet(xhrArgs2);
 }

 function fngetstatelist()
 {
 	
 	var Program = dijit.byId("Program");
 	var year = dijit.byId("Year").value;
	idcompany ='<?php echo $this->idcompany;?>';
 	var xhrArgs = {
 			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetvenuelist/Program/"+Program+"/year/"+year+"/idcompany/"+idcompany,
 			handleAs:'json',
 			load:function(data){ 
 				document.getElementById('calender').innerHTML;
 				AutoFillNextEditableDropDown("NewVenue",data); 
 			}
 	   }
 	dojo.xhrGet(xhrArgs);

 }

 function newcitylist()
 {
 	
 	var Program = dijit.byId("Program");
 	var year = dijit.byId("Year").value;
 	var xhrArgs = {
 			url: "<?php echo $this->baseUrl();?>"+"/registration/newfngetcitynames/Program/"+Program+"/year/"+year,
 			handleAs:'json',
 			load:function(data){ 
 				document.getElementById('calender').innerHTML;
 				AutoFillNextEditableDropDown("NewVenue",data);  				
 			}
 	   }
 	dojo.xhrGet(xhrArgs);
	
 }


 function fndisplaycalender(city)
 {
 	var Month = dijit.byId("Month"); 
 	var Program = dijit.byId("Program"); 	
 	document.getElementById('calender').style.display='block';
 	
 	var year = dijit.byId("Year").value;
 	var NewCity = dijit.byId("NewVenue");

 	opertor='<?php echo $this->operatortype;?>';
 	if(city == '')
 	{
 		document.getElementById('calender').innerHTML="";
 	}
 	var Program = dijit.byId("Program");
 	//var NewCity = dijit.byId("NewVenue");
 	document.getElementById('calender').style.display='block';
 	var year = dijit.byId("Year").value;
 	if(year>0 && city!='')
 	{
 		//alert('asf');
 	var xhrArgs = {
 			url: "<?php echo $this->baseUrl();?>"+"/registration/newfnnewcaleshow/Program/"+Program+"/NewCity/"+city+"/year/"+year+"/comp/"+opertor,
 			handleAs:'text',
 			load:function(data){ 
 				//alert(data);
 				document.getElementById('calender').innerHTML = "<style>Instruction: Click on date to view details and proceed </style><br>"+data;
 				//showcalender()
 			}
 	   }
 	dojo.xhrGet(xhrArgs);

 	var xhrArgs = {
  			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetyearofsession/Year/"+year+"/Program/"+Program+"/NewCity/"+city,
  			handleAs:'text',
  			load:function(data)
  			{ 
 	 			if(data==1)
 	 			{
 	 				document.getElementById('sessiondays').innerHTML = '<table><tr><td> <B>1 SESSIONS :</B></td><td><div style="background-color:green;width:50px;height:20px;align:right;"></div></td></tr></table>'; 
 	 			}
 	       if(data==2)
 	 			{
 	    	   document.getElementById('sessiondays').innerHTML = '<table><tr><td> <B>1 SESSIONS :</B></td><td><div style="background-color:green;width:50px;height:20px;"></div></td><td>  <B>2 SESSIONS :</B> </td><td> <div style="background-color:skyblue;width:50px;height:20px;"></div></td></tr></table>'; 	
 	 			}
 	 		if(data==3)
 	 			{
 	 			document.getElementById('sessiondays').innerHTML = ' <table><tr><td> <B>1 SESSIONS :</B></td><td><div style="background-color:green;width:50px;height:20px;"></div></td><td>  <B>2 SESSIONS :</B> </td><td> <div style="background-color:skyblue;width:50px;height:20px;"></div></td><td><B>3 SESSIONS :</B></td><td> <div style="background-color:violet;width:50px;height:20px;"></div></td></tr></table>';
 	 			}
 	 		 if(data==4)
 	 			{
 		 			document.getElementById('sessiondays').innerHTML = '<table><tr><td>  <B>1 SESSIONS :</B></td><td><div style="background-color:green;width:50px;height:20px;"></div> </td><td> <B>2 SESSIONS :</B></td><td> <div style="background-color:skyblue;width:50px;height:20px;"></div></td><td><B>3 SESSIONS :</B> </td><td> <div style="background-color:violet;width:50px;height:20px;"></div></td><td><B>4 SESSIONS :</B> </td><td><div style="background-color:pink;width:50px;height:20px;"></div></td></tr></table>';
 	 			}
 	 		
  			//alert(data);
  			//document.getElementById('sessiondays').innerHTML = data; 
  			}
  	   }
  	dojo.xhrGet(xhrArgs);
 	
 	}
 	
 	//var NewCity = dijit.byId("NewVenue");
 	var xhrArgs = {
 			url: "<?php echo $this->baseUrl();?>"+"/registration/newfnnewmonthslist/Program/"+Program+"/NewCity/"+city+"/year/"+year,
 			handleAs:'json',
 			load:function(data){ 
 				AutoFillNextEditableDropDown("Month",data); 
 			}
 	   }
 	dojo.xhrGet(xhrArgs);
 	
 	document.getElementById('calender').style.display = 'none'; 
 	document.getElementById('sessiondays').style.display = 'none'; 
 }

 function fnnewshowcalender()
 {	
 	var Program = dijit.byId("Program");
 	if(Program=='')
 	{
 		alert('Please Select the Program');
 	}
 	var Year = dijit.byId("Year");
 	if(Year=='')
 	{
 		alert('Please Select the Year');
 	}
 	var NewVenue = dijit.byId("NewVenue");
 	if(NewVenue=='')
 	{
 		alert('Please Select the Venue');
 	}
 	
 	document.getElementById('calender').style.display = 'block'; 
 	document.getElementById('sessiondays').style.display = 'block'; 
 	
 }


 function fnShowCalendar(idmonth)
 {
 	//alert(idmonth);
 	// dijit.byId("Examdate"+no).setValue('');
 		var Year = dijit.byId("Year");
 		var Program = dijit.byId("Program");
 		var NewCity = dijit.byId("NewVenue");
 		var year = Year;
 		//alert(Year);
 		if(idmonth == 0)
 	 	{
 	 		var NewCity = dijit.byId("NewVenue");
 	 		var xhrArgs = {
 	 				url: "<?php echo $this->baseUrl();?>"+"/registration/newfnnewcaleshow/Program/"+Program+"/NewCity/"+NewCity+"/year/"+year,
 	 				handleAs:'text',
 	 				load:function(data){ 
 	 					document.getElementById('calender').innerHTML = "<style>Instruction: Click on date to view details and proceed </style><br>"+data;
 	 				}
 	 		   }
 	 		dojo.xhrGet(xhrArgs);

 			var xhrArgs = {
 		 			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetyearofsession/Year/"+Year+"/Program/"+Program+"/NewCity/"+NewCity,
 		 			handleAs:'text',
 		 			load:function(data)
 		 			{ 
 			 			if(data==1)
 			 			{
 			 				document.getElementById('sessiondays').innerHTML = '<table><tr><td> <B>1 SESSIONS :</B></td><td><div style="background-color:green;width:50px;height:20px;align:right;"></div></td></tr></table>'; 
 			 			}
 			       if(data==2)
 			 			{
 			    	   document.getElementById('sessiondays').innerHTML = '<table><tr><td> <B>1 SESSIONS :</B></td><td><div style="background-color:green;width:50px;height:20px;"></div></td><td>  <B>2 SESSIONS :</B> </td><td> <div style="background-color:skyblue;width:50px;height:20px;"></div></td></tr></table>'; 	
 			 			}
 			 		if(data==3)
 			 			{
 			 			document.getElementById('sessiondays').innerHTML = ' <table><tr><td> <B>1 SESSIONS :</B></td><td><div style="background-color:green;width:50px;height:20px;"></div></td><td>  <B>2 SESSIONS :</B> </td><td> <div style="background-color:skyblue;width:50px;height:20px;"></div></td><td><B>3 SESSIONS :</B></td><td> <div style="background-color:violet;width:50px;height:20px;"></div></td></tr></table>';
 			 			}
 			 		 if(data==4)
 			 			{
 				 			document.getElementById('sessiondays').innerHTML = '<table><tr><td>  <B>1 SESSIONS :</B></td><td><div style="background-color:green;width:50px;height:20px;"></div> </td><td> <B>2 SESSIONS :</B></td><td> <div style="background-color:skyblue;width:50px;height:20px;"></div></td><td><B>3 SESSIONS :</B> </td><td> <div style="background-color:violet;width:50px;height:20px;"></div></td><td><B>4 SESSIONS :</B> </td><td><div style="background-color:pink;width:50px;height:20px;"></div></td></tr></table>';
 			 			}
 			 		
 		 			//alert(data);
 		 			//document.getElementById('sessiondays').innerHTML = data; 
 		 			}
 		 	   }
 		 	dojo.xhrGet(xhrArgs);


 	 		
 	 	}
 		else
 		{
 		var xhrArgs = {
 	 			url: "<?php echo $this->baseUrl();?>"+"/registration/caleshowmonth/idmonth/"+idmonth+"/Year/"+Year+"/Program/"+Program+"/NewCity/"+NewCity,
 	 			handleAs:'text',
 	 			load:function(data)
 	 			{ 
 	 			//alert(data);
 	 			document.getElementById('calender').innerHTML = data; 
 	 			}
 	 	   }
 	 	dojo.xhrGet(xhrArgs);


 		var xhrArgs = {
 	 			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetmonthofsession/idmonth/"+idmonth+"/Year/"+Year+"/Program/"+Program+"/NewCity/"+NewCity,
 	 			handleAs:'text',
 	 			load:function(data)
 	 			{ 
 		 			if(data==1)
 		 			{
 		 				document.getElementById('sessiondays').innerHTML = '<table><tr><td> <B>1 SESSIONS :</B></td><td><div style="background-color:green;width:50px;height:20px;align:right;"></div></td></tr></table>'; 
 		 			}
 		       if(data==2)
 		 			{
 		    	   document.getElementById('sessiondays').innerHTML = '<table><tr><td> <B>1 SESSIONS :</B></td><td><div style="background-color:green;width:50px;height:20px;"></div></td><td>  <B>2 SESSIONS :</B> </td><td> <div style="background-color:skyblue;width:50px;height:20px;"></div></td></tr></table>'; 	
 		 			}
 		 		if(data==3)
 		 			{
 		 			document.getElementById('sessiondays').innerHTML = ' <table><tr><td> <B>1 SESSIONS :</B></td><td><div style="background-color:green;width:50px;height:20px;"></div></td><td>  <B>2 SESSIONS :</B> </td><td> <div style="background-color:skyblue;width:50px;height:20px;"></div></td><td><B>3 SESSIONS :</B></td><td> <div style="background-color:violet;width:50px;height:20px;"></div></td></tr></table>';
 		 			}
 		 		 if(data==4)
 		 			{
 			 			document.getElementById('sessiondays').innerHTML = '<table><tr><td>  <B>1 SESSIONS :</B></td><td><div style="background-color:green;width:50px;height:20px;"></div> </td><td> <B>2 SESSIONS :</B></td><td> <div style="background-color:skyblue;width:50px;height:20px;"></div></td><td><B>3 SESSIONS :</B> </td><td> <div style="background-color:violet;width:50px;height:20px;"></div></td><td><B>4 SESSIONS :</B> </td><td><div style="background-color:pink;width:50px;height:20px;"></div></td></tr></table>';
 		 			}
 		 		
 	 			//alert(data);
 	 			//document.getElementById('sessiondays').innerHTML = data; 
 	 			}
 	 	   }
 	 	dojo.xhrGet(xhrArgs);
 	
 		}
 	document.getElementById('calender').style.display = 'none'; 	
 	document.getElementById('sessiondays').style.display = 'none'; 	
 }


 function functp(day,month) {
 	
		var Program = dijit.byId("Program");
		if(Program=='') {
			 alert('Please Select the program');
		}  else {
		var city = dijit.byId("NewVenue");
		var year = dijit.byId("Year");
		document.getElementById('setdate').value = day;
		document.getElementById('setmonth').value = month;

		
		var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/newtempdays/day/"+day+"/month/"+month+"/year/"+year+"/city/"+city,
			handleAs:'text',
			load:function(data){ 
			//	alert(data);
			if(eval(data)!=0) {
				//document.getElementById('hiddenscheduler').value = 0;
				//document.forms["myForm"].submit();
				var xhrArgs = {
			 			url: "<?php echo $this->baseUrl();?>"+"/registration/selectvenuetakaful/day/"+day+"/month/"+month+"/year/"+year+"/city/"+city,
			 			handleAs:'text',
			 			load:function(data)
			 			{ 
			 			    //alert(data);
			 				document.getElementById('contentdiv').innerHTML = data;
			 				document.getElementById('divLogin').style.display = 'block';
			 				document.getElementById('divLogin2').style.display = 'block';
				           
			 			}
			 	   }
				dojo.xhrGet(xhrArgs);
				
			} else {
				alert("The Seats are full for this date In this Exam Venue ,Please Change Date Or Venue")
				document.getElementById('setdate').value ='';
				document.getElementById('setmonth').value = '';
				document.getElementById(x).style.backgroundColor = '#FEFFBF';
				}
			}
		}
		dojo.xhrGet(xhrArgs);
		}
	}


 function fnhidediv(){	
		var vBn = dojo.byId("Yes");	
		vBn.style.visibility="hidden";
		document.getElementById('msgtoblockrefresh').style.display = 'block';			
	}
 document.onkeydown = function(event) {  	
	    switch (event.keyCode) { 
	        case 116 : //F5 button	
		        alert("Sorry Refresh is disabled");	      
	            event.returnValue = false;
	            event.keyCode = 0;
	            return false; 
	        case 82 : //R button
	            if (event.ctrlKey) { 
	                event.returnValue = false; 
	                event.keyCode = 0;  
	                return false; 
	            } 
	    }
	}
</script>
</head>
	<fieldset><?php $companyDetails = $this->companyDetails; ?>
		<legend><?php echo $this->translate("Company").' '.$this->translate("Application");?></legend>
			<form dojoType="dijit.form.Form"  id="myForm"  action="" method="POST" enctype="multipart/form-data">
			 <script type="dojo/method" event="onSubmit">
                if (this.validate()) 
				{               				
                    return true;
					 
                } else {
                    return false;
                }
				</script>
				<?php $mmm =0;	         
	       		 if (count($this->larrresultdata)): 
	      		 	foreach ($this->larrresultdata as $lobjstudesnts):	        
	        		$mmm++; 
	        		endforeach; 
	            endif; ?> 	
				<table width="80%"  border="0" class="table3" cellspacing="1" align ="center">
				    <tr>
                    	 <input type="hidden" value="<?php echo $this->idbatchss;?>" name="idbatch" id="idbatch">
                    	 <input type="hidden" value="<?php echo $this->idcompany;?>" name="idcompany" id="idcompany">
                    	                     	 
							 <th align="center"><input type='checkbox' id='selectall' value='selectall' dojoType='dijit.form.CheckBox' onclick='selectallfunction(<?php echo $mmm;?>)' name='selectall'/><?php echo $this->translate("Select All");?> </th>
                         	 <th><?php echo $this->translate("Student Name");?></th>
                             <th><?php echo $this->translate("ICNO");?></th> 
                             <th><?php echo $this->translate("Email-Id");?></th> 
                             <th><?php echo $this->translate("Contact Number");?></th> 
                             <th><?php echo $this->translate("Mobile Number");?></th>                         
                    	 </tr>  
                    	 <?php  $cnt=0;
                          		foreach($this->larrresultdata as $failcandiddetails){ ?>
                         <tr>
								<td align="center"><input type="Checkbox"  name ="studentId[<?php echo $cnt?>]" dojoType="dijit.form.CheckBox"  value="<?php echo $failcandiddetails['IDApplication']?>" id="studentId<?php echo $cnt?>" /></td>	
								<td><?php echo $failcandiddetails['FName'];?></td>
								<td><?php echo $failcandiddetails['ICNO'];?>									
								<input type="hidden" name="regId[<?php echo $cnt?>]" id="regId<?php echo $cnt?>" value="<?php echo $failcandiddetails['Regid']?>" />
								<input type="hidden" name="ICNO[<?php echo $cnt?>]" id="ICNO<?php echo $cnt?>" value="<?php echo $failcandiddetails['ICNO']?>" />
						</td> 
							<td><?php echo $failcandiddetails['EmailAddress'];?></td>
							<td><?php echo $failcandiddetails['ContactNo'];?></td>
							<td><?php echo $failcandiddetails['MobileNo'];?></td>		                    		       
                         </tr>  
                    	 <?php $cnt++; }?>								
									
					</table>
					</br></br></br></br>
       
       <table align = "center">
  						<tr>
                            <th colspan = "2" ><?php echo $this->translate("EXAMINATION DETAILS"); //echo $_SESSION['ExamYear'];?></th>
                        </tr>
                          <tr> 
                             <td style:"width=100px"><?php echo $this->translate("Please Choose Your Examination");?><span class="reqMark">*</span></td>
                            <td>:&nbsp<?php echo $this->lobjstudentForm->Program;?></td>
                        </tr>                       
                        <tr>
                          <td ><?php echo $this->translate("Please Select Year");?><span class="reqMark">*</span></td>
                             <td >:&nbsp<?php echo $this->lobjstudentForm->Year;?> </td>
                        </tr>
                        <tr> 
                             <td ><?php echo $this->translate("Select Your Examination Venue");?><span class="reqMark">*</span></td>
                            <td >:&nbsp<?php echo $this->lobjstudentForm->NewVenue;?></td>
                        </tr>
                         
                        <tr>
                          <td>Search for the Exam Dates</td>
                             <td>:&nbsp;&nbsp;<input type="button" dojotype="dijit.form.Button" label="<?php echo $this->translate("Search for examdate"); ?>"  style="width:250px;" onclick="fnnewshowcalender();"/>	</td> 
                        </tr>
                        
                        <tr>
                            <th colspan = "2" ><?php echo $this->translate("EXAMINATION DATES");?></th>
                        </tr>
                          <tr >
			            	<td></td>
			                <td><div id="sessiondays" width="100%"></div></td>			             
		             </tr>
                        <tr> 
                           <td></td>
                           <td></td>
                          		<input type="hidden" id="setactive" name="setactive" value="">
                          		<input type="hidden" id="setdate" name="setdate" value="<?php echo $this->datesss;?>">
                           	 	<input type="hidden" id="setmonth" name="setmonth" value="<?php echo $this->monthss;?>">
                        </tr>
                         
         </table>
         
         			<table   align = "center">
         			 <tr>
         			    <td colspan="4" align = "left" style="font-family:verdana;color:red;">Instruction:Click on the date to view the exam sessions and select the session to proceed.</td>
	                 </tr>
	                 <tr>
                             <td align="center" colspan="2">                                   
                             <div align="center "id="calender">  
                             </div>         
                              </td>              
                          </tr>  
	                 <tr>
	                  <td colspan="2"  align = "left" style="font-family:verdana;color:red;">Note:</td>
	                </tr>
	                <tr>
	                  <td colspan="2"  align = "left" style="font-family:verdana;color:red;">1.Management can change the Exam Location and exam Date if need be and will send an email of the change atleast two days before the date of the exam</td>
	                </tr>
                    <tr>
                     <td colspan="2" align="left" style="font-family:verdana;color:red;">2.Latest date of registration is 14 days prior to the chosen date of examination</td>
                   </tr>                 
                       <tr>                     
                            <td></td>        
                            <td align = "right">    
                            <input type="button" name="Close" class="buttonStyle" onClick="Closefn(); return false;" value="Close" dojoType="dijit.form.Button"  label="Close" >                        
							
                            </td> 
                        </tr>
				</table>
        </div>
        
        <table width=100%>            
            <tr>
            	<td>            	
            	<div runat="server" id="divLogin"  style="display:none; z-index: 153; position: absolute; left: 30%; width: 650px; top: 15%;">
					                <asp:Panel runat="server" ID="popupLogin">
					                    <asp:Panel runat="server" ID="popupContent1">
					                        <table style="height: 125px; width: 100%; background-color: #FFFFFF;" border="3"   frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">
					                                    	<div id="contentdiv"></div>					                                      
					                                   </td>
					                                </tr>
					                                <tr>
					                                    <td colspan="2" align="left">
					                                        <asp:Label ID="lblmandatory" runat="server" Text="* Mandatory Information Required"
					                                            class="LeftLabelStyle" Width="350px" />
					                                    </td>
					                                </tr>
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
					            </div>
				<div runat="server" id="divLogin2"  style="display:none; opacity:0.4; z-index: 150; position: absolute; left: 0%; height: 100%; width: 100%; top: 0%;">
					                <asp:Panel >
					                    <asp:Panel  >
					                        <table style="height: 100%; width: 100%; background-color: #000000;" border="3"   frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">					                                      
					                                   </td>
					                                </tr>					                               
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
					            </div>
					  </td>
            </tr>
            </table>
       
<div runat="server" id="msgtoblockrefresh"  style="display:none; z-index: 153; position: absolute; left: 30%; width: 650px; top: 15%; ">	
           <table style="height: 125px; width: 100%; background-color: #FFFFFF;" border="0">
                <tr>
                    <td colspan="2" style="font-family:verdana;color:red;font-size:5;" align="center"><br/>Warning:<br/>The exam scheduling and e-mailing is in progress .<br/>Please do not refresh or click on the browser back button  </td>
                </tr>
                <tr>
                	<td align="center"><img src="<?php echo $this->baseUrl()."/images/blockrefreshloader2.gif";?>"  height="150" width="150" /> </td>
                </tr>
           </table>
           <table style="height: 125px; width: 100%; background-color: #FFFFFF;" border="0">
                <tr>
                    <td colspan="2" style="font-family:verdana;color:red;"></td>
                </tr>
                <tr>
                	<td align="center"></td>
                </tr>
           </table>
   	
</div>
           </form>
       
       </fieldset>    
       </br>
  
      <form action="<?php echo $this->baseUrl();?>/registrations/companystudentdetails/pdfexportreg"  dojoType="dijit.form.Form" method="POST">
     <fieldset>
           <legend><?php echo $this->translate("Scheduled").' '.$this->translate("Application Details");?></legend>
          
           <table width="80%"  border="0" class="table3" cellspacing="1" align ="center">
				    <tr>
                    		 <input type="hidden" value="<?php echo $this->idbatchss;?>" name="idbatch" id="idbatch">
                    	 	 <th><?php echo $this->translate("Sl:No");?></th>
							 <th><?php echo $this->translate("Student Name");?></th>
							  <th><?php echo $this->translate("ICNO");?></th>  
							 <th><?php echo $this->translate("Registration Id");?></th>
							 <th><?php echo $this->translate("Program Applied");?></th>                            
                             <th><?php echo $this->translate("Venue Name");?></th> 
                             <th><?php echo $this->translate("Exam Date");?></th>
                             <th><?php echo $this->translate("Exam Session");?></th>                        
                    	 </tr>  
                    	<?php  $i=0;
                    	foreach ($this->larrappliedresult as $larrappliedresult){
                    		$i++;
                    	?>
                    	<tr>                    	
                    	<td><?php echo $i.")";?></td>
                    	<td><?php echo $larrappliedresult['FName'];?></td>
                    	<td><?php echo $larrappliedresult['ICNO'];?></td>
                    	<td><?php echo $larrappliedresult['Regid'];?></td>
                    	<td><?php echo $larrappliedresult['ProgramName'];?></td>
                    	<td><?php echo $larrappliedresult['centername'];?></td>
                    	<td><?php echo date('d-m-Y',strtotime($larrappliedresult['DateTime']));?></td>
                    	<td><?php echo $larrappliedresult['managesessionname'];?>
                    	
                    	<input type="hidden" name="FName[]" id="FName<?php echo $i?>" value="<?php echo $larrappliedresult['FName'];?>">
                    	<input type="hidden" name="ICNO[]" id="ICNO<?php echo $i?>" value="<?php echo $larrappliedresult['ICNO'];?>">                    	
                    	<input type="hidden" name="Email[]" id="Email<?php echo $i?>" value="<?php echo $larrappliedresult['EmailAddress'];?>">                      	                  	
                    	<input type="hidden" name="Regid[]" id="Regid<?php echo $i?>" value="<?php echo $larrappliedresult['Regid'];?>">
                    	<input type="hidden" name="ProgramName[]" id="ProgramName<?php echo $i?>" value="<?php echo $larrappliedresult['ProgramName'];?>">
                    	<input type="hidden" name="centername[]" id="centername<?php echo $i?>" value="<?php echo $larrappliedresult['centername'];?>">
                    	<input type="hidden" name="dateofexam[]" id="dateofexam<?php echo $i?>" value="<?php echo date('d-m-Y',strtotime($larrappliedresult['DateTime']));?>">
                    	<input type="hidden" name="session[]" id="session<?php echo $i?>" value="<?php echo $larrappliedresult['managesessionname'];?>">
                    	
                    	</td>   
                    	</tr>                 	
                    	<?php }?>
					</table>
					
					<table colspan="2" align= "right">
					    <tr>
					       <td><input type="submit" class="NormalBtnauto"  dojotype="dijit.form.Button" label="<?php echo $this->translate("Export"); ?>" name="Export" id="Export" value="Export"/></td>
					    </tr>
					</table>
     
       
        </fieldset>
       </form>
     
