<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="<?php echo $this->rtl;?>">
<head>
<title></title>
<link rel="stylesheet" type="text/css"  href="<?php  echo $this->baseUrl();?>/js/themes/cupertino/jquery.ui.all.css" />
<script language='javascript' src='<?php  echo $this->baseUrl();?>/js/jquery-1.4.3.js'></script>

<script language='javascript' src='<?php  echo $this->baseUrl();?>/js/sfs-common.js'></script>


<script language="JavaScript" type="text/javascript">
$(document).ready(function() {
	
	
	var floatingbox = $('#floating-box');
	var flhtml=	$('#floating-box').html();

	var scrollY = $(window).scrollTop();
	
	  var scrollY = $(window).scrollTop();
	 floattd(floatingbox,flhtml,scrollY);
	 if(scrollY == 0)
		{ 			  
				 
			    //alert(scrollY);
		 		 scrollY = 10;
		 		 var bodyY = parseInt($('#body').offset().top);
				 // alert(bodyY);
				 var originalX = floatingbox.css('margin-left');
			   var isfixed = floatingbox.css('position') == 'fixed';
			 
			   if(floatingbox.length > 0){
		 
			     // floatingbox.html("srollY : " + scrollY + ", bodyY : " 
		                               //     + bodyY + ", isfixed : " + isfixed);
		 
			      if ( 114 > bodyY && !isfixed ) {
			    	  floatingbox.html(flhtml);
					  floatingbox.stop().css({
					  position: 'fixed',
					  left: '80%',
					  top: 3,
					  marginLeft: -50
					});
				} else if ( 114 < bodyY && isfixed ) {
					 floatingbox.html(flhtml);
				 	  floatingbox.css({
					  position: 'relative',
					  left: 0,
					  top: 0,
					  marginLeft: originalX
				});
			     }		
			   }
		       
			
		}
    
	 var firstone =0;
	// alert('dg')
	 $(".class2").hide();
	 $(".class1").show();
	 
	 //$(".class1").style.display = 'none';
	// $(".class2").style.display = 'block';
	// document.getElementById(.red).style.display = 'none';
		fngetarabic(firstone);
});

function  floattd(floatingbox,flhtml,scrollY){
	if($('#body').length > 0){		 
		  var bodyY = parseInt($('#body').offset().top);
		 // alert(bodyY);
		  var originalX = floatingbox.css('margin-left');
		
		  $(window).scroll(function () { 			  
		 
		    //alert(scrollY);
		   var isfixed = floatingbox.css('position') == 'fixed';

		 
		   if(floatingbox.length > 0){
	 
		     // floatingbox.html("srollY : " + scrollY + ", bodyY : " 
	                               //     + bodyY + ", isfixed : " + isfixed);
	 
		      if ( 114 > bodyY && !isfixed ) {
		    	  floatingbox.html(flhtml);
				  floatingbox.stop().css({
				  position: 'fixed',
				  left: '80%',
				  top: 3,
				  marginLeft: -50
				});
			} else if ( 114 < bodyY && isfixed ) {
				 floatingbox.html(flhtml);
			 	  floatingbox.css({
				  position: 'relative',
				  left: 0,
				  top: 0,
				  marginLeft: originalX
			});
		     }		
		   }
	       });
	     }
}

//-------------------------------------------------------------------------------
var sec =59;   // set the seconds
var min = <?php echo $this->timelimit;?>;   // set the minutes
var alerttime = <?php echo $this->AlertTime?>;
//alert(alerttime);

function countDown() {	
   sec--;
  if (sec == -01) {
   sec = 59;
   min = min - 1; }
  else {
   min = min; }

if (sec<=9) { sec = "0" + sec; }

  time = (min<=9 ? "0" + min : min) + " min and " + sec + " sec ";
 

if(min < alerttime)
{
	 messag = min+" minutes remaining";
	 document.getElementById("theTime21").innerHTML = messag.blink();
}
  
if(min == 00 && sec == 00)
{
	alert('The time has been completed whatever the data present has been saved sucessfully');
	var IdBatch = document.getElementById('IdBatch').value;
	var RegId = document.getElementById('RegId').value;

	idcenters = document.getElementById('idcenter').value;
	//alert(idcenters);

	$.ajax({
		type: "GET",
		url: "<?php echo $this->baseUrl();?>/examdetails/getanswertemp/IdBatch/"+IdBatch+"/RegId/"+RegId,		
		success: function(content){
		}
	});

	$.ajax({
		type: "GET",
		url: "<?php echo $this->baseUrl();?>/examdetails/passfail/IdBatch/"+IdBatch+"/RegId/"+RegId,		
		success: function(content){
		}
	});

	
	window.location = "<?php echo $this->baseUrl();?>/index/login";

}

if (document.getElementById) { document.getElementById('theTime').innerHTML = time; }

SD=window.setTimeout("countDown();", 1000);
if (min == '00' && sec == '00') { sec = "00"; window.clearTimeout(SD); }
}
window.onload = countDown;

function fnhidegroup(ids)
{
	 var fullsection = document.getElementById('arrayqtns').value;
	   //var fullsection = document.getElementById('sec').value;
		
		 arrays=fullsection.split(",");
		 for (var f = 0; f < arrays.length; f++)
		 {
		     var sectionname =(arrays[f]);
		     //alert(sectionname);
		     document.getElementById(sectionname).style.display = 'block';
		 }
		 //document.getElementById(qtnnbr).style.display = 'block';
		 
		
	var totalprts = document.getElementById('totalparts').value;
	
	for(i=0;i<totalprts;i++)
	{	
		document.getElementById("abc"+i).style.display = 'none';		
	}
	
	document.getElementById("abc"+ids).style.display = 'block';	
}
function fnhidegroupsss()
{
	 var fullsection = document.getElementById('arrayqtns').value;
	   //var fullsection = document.getElementById('sec').value;
		
		 arrays=fullsection.split(",");
		 for (var f = 0; f < arrays.length; f++)
		 {
		     var sectionname =(arrays[f]);
		     //alert(sectionname);
		     document.getElementById(sectionname).style.display = 'block';
		 }
		 //document.getElementById(qtnnbr).style.display = 'block';
		 
		
	var totalprts = document.getElementById('totalparts').value;
	
	for(i=0;i<totalprts;i++)
	{	
		document.getElementById("abc"+i).style.display = 'block';		
	}
	
	document.getElementById("abc"+ids).style.display = 'block';	
}

function showparticularquestion(qtnnbr)
{
    var totalprts = document.getElementById('totalparts').value;
	for(i=0;i<totalprts;i++)
	{	
		document.getElementById("abc"+i).style.display = 'block';		
	}

	
   var totalnumberofquestions = document.getElementById('totalnumberofquestions').value;
   var fullsection = document.getElementById('arrayqtns').value;
	
	 arrays=fullsection.split(",");
	 for (var f = 0; f < arrays.length; f++)
	 {
	     var sectionname =(arrays[f]);
	     //alert(sectionname);
	     document.getElementById(sectionname).style.display = 'none';
	 }
	 document.getElementById(qtnnbr).style.display = 'block';
	
}

function fngetarabic(lang)
{
	if(lang==1)
	{
	$('.eng').hide();
	$('.arb').show();
	}
	else
	{
		$('.arb').hide();
		$('.eng').show();
	}
}

function radioclick(qtnans)
{
	//alert(qtnans);
	var IdBatch = document.getElementById('IdBatch').value;
	var RegId = document.getElementById('RegId').value;
	$.ajax({
		type: "GET",
		url: "<?php echo $this->baseUrl();?>/examdetails/inserttempanswer/IdBatch/"+IdBatch+"/RegId/"+RegId+"/QuestionNo/"+qtnans,		
		success: function(content){
			//alert(content);	
			// arrays=content.split("--");
			//alert(arrays[0]);
			//alert(arrays[1]);
			//document.getElementById("btn"+arrays[1]).style.backgroundColor = arrays[0];
		
		}
	});
	buttoncolor=qtnans.split("--");
	 //alert(buttoncolor[0]);
	// alert(buttoncolor[1]);
	 document.getElementById("btn"+buttoncolor[0]).style.backgroundColor ='#8DB87C';
	 document.getElementById("rbtn"+buttoncolor[0]).style.backgroundColor ='#8DB87C';
}

function fnsave()
{
	
	var RegId = document.getElementById('RegId').value;

	$.ajax({
		type: "GET",
		url: "<?php echo $this->baseUrl();?>/examdetails/noofqtns/RegId/"+RegId,		
		success: function(content){
			//lert(content);
            var totalqtns = <?php echo $this->noofqtns;?>;
        	//idcenter = document.getElementById('idcenter').value;
        	//alert(idcenters);
            if(content == totalqtns)
            {
                var answer = confirm('Do you want to check once again');
                if(answer==true)
                 {
                    flag2=0;
                 }
                else
                 {
                    flag2=1;
                 }
            }
            else
            {
                var answer = confirm('You have NOT attempted all questions. Are you sure you want to submit ?');
		             if(answer==false)
		             {
		               	 $(".class1").hide();
		             	 $(".class2").show();
		            	 document.getElementById('unanswered').style.backgroundColor ='#FF0000';
		             	
		             }
		             if(answer==true)
		             {
		               var secondconfirm =   confirm('Are you sure you want to submit');
			              if(secondconfirm == false)
			             {
			                //  alert('asdf');
			                 
			                 $(".class1").hide();
			               	 $(".class2").show();
			              	 document.getElementById('unanswered').style.backgroundColor ='#FF0000';
			               	flag2==1;
			             }
			             else
			             {
			                 flag2=0;
			             }
		           }
            }

         // alert(answer);
            
			if(flag2==0)
			{
				var IdBatch = document.getElementById('IdBatch').value;
				var RegId = document.getElementById('RegId').value;
				window.location = "<?php echo $this->baseUrl();?>/examdetails/examdetails/RegId/"+RegId+"/IdBatch/"+IdBatch;
				/*$.ajax({
					type: "GET",
					url: "<?php echo $this->baseUrl();?>/examdetails/getanswertemp/IdBatch/"+IdBatch+"/RegId/"+RegId,	
						
					success: function(content){
						//alert(content);
						//window.location = "<?php echo $this->baseUrl();?>/index/login";
					}
				});

				$.ajax({
					type: "GET",
					url: "<?php echo $this->baseUrl();?>/examdetails/passfail/IdBatch/"+IdBatch+"/RegId/"+RegId,		
					success: function(content){
						arrays=content.split("****");
						
						var pass = arrays[0];
						if(pass==1)
						{
						alert('Sorry, You are unsuccessful on your attempt.\n Please re-register and try again.\n Good Luck');
						}
						else
						{
							alert('Congratulations! You have passed the exam');
						}
						pass = arrays[0];
						window.location = "<?php echo $this->baseUrl();?>/examdetails/examdetails/RegId/"+RegId+"/pass/"+pass;
					}
				});*/

				//document.forms['myform'].submit();
				
			}
			else
			{
			}
		}
	});
	
	
}
function noBack() 
{ 
	window.toolbar.visible = false;
}

function floatingnavigation(nbr)
{
	var lang = document.getElementById('languagesssss').value;
	if(nbr == 0)
	{
		nbr=1;
	}
	qtnsnumber = 'Q'+nbr;
	//alert(qtnsnumber);
	if(lang == 0)
	{
		document.location = "#"+qtnsnumber;
	}
	else 
	{
		arbqtnsnumber = 'R'+qtnsnumber;
		document.location = "#"+arbqtnsnumber;
	}
}

</script>
<style type="text/css">
 .timeClass {
  font-family:arial,verdana,helvetica,sans-serif;
  font-weight:normal;
  font-size:10pt;
  }
.answered{
	background-color:green;color:#000000;
    width: 50px;
    border:1px solid; 
}
.xanswered{
	color:#050; 
	  font: bold 84% 'trebuchet ms',helvetica,sans-serif; 
	  background-color:#fed; 
	  border:1px solid;
	  width:50px;
	Height:25px;
		font-size:10pt;
	  border-color: #696 #363 #363 #696; }
	
.tbmenu{
	font: bold 84% 'trebuchet ms',helvetica,sans-serif; 
	font-size:10pt;
}
</style>
</head>
<body>
<table width="100%" border="0">
<tr>
<td width="90%" rowspan="2" border="0">
<h4 align="center" style="font-family:verdana;color:red;">Do not click Refresh or Back</h4>
<h4 align="center">scroll down for different Parts</h4>
  <input type="button" id="unanswered" style="background-color:#FAFAD2;">Un Answered 
         <input type="button"  style="background-color:#8DB87C;">Answered <br/>
         	                            
	    
                <form action="" method="POST" id="myform" name= "myform">
                         <table style="width:100%">
							<tr>
							<input type="hidden" id="idcenter" name="idcenter" value="<?php echo $this->examvenue;?>">
	                            <th colspan="2"><?php echo $this->translate->_("Student Name:")?>
	                            <?php echo $this->studentname;?></th>
	                            <th><span id="theTime21"></span><input type="hidden" value="" name="sec" id="sec"></th>
	                            <th><input type="hidden" value="" name="totalqtn" id="totalqtn"></th>
	                            
                           </tr>

			               <tr>
			               		
			                    <td><input type="hidden" name="IdBatch" id="IdBatch" value="<?php echo $this->idbatch;?>"></td>
			                    <td><input type="hidden" name="RegId" id="RegId" value="<?php echo $this->RegId;?>"></td>
			               </tr>

						</table>
						
						<?php $larrQtns=$this->questionsdisplay;
							   $larrAns = $this->answers; ?>
							   
							   <input type="hidden" id="arrayqtns" name="arrayqtns" value="<?php echo $this->arrayqtns;?>">
							   <input type="hidden" id="totalparts" name="totalparts" value="<?php echo count($larrQtns);?>">
							   <input type="hidden" id="totalnumberofquestions" name="totalnumberofquestions" value="<?php echo $this->totalnumberofquestions;?>">
							    <?php $cnt=0;?>
					     <?php for($i=0;$i<count($larrQtns);$i++){?>
					    
					           <table width="84%" id="abc<?php echo $i;?>" border="0">
					           
					          <?php for($j=0;$j<count($larrQtns[$i]);$j++){?>
					          <?php $cnt++;?>
					           		<tr>
					                    <td  id="<?php echo $larrQtns[$i][$j]['idquestions']?>">
					                     <div  style="border:1px solid rgb(224,224,224);padding-left:10px;padding-right:10px;">
					                     <div class="eng" style="background-color:#FFFFFF;font-family:arial;font-size:12px;">&nbsp;<?php 
												 $mainstring = $larrQtns[$i][$j]['Question'];
												 $substring = '@';
												 $pos = strpos($mainstring, $substring);
												   if($pos == false)
												   {
												            ?>
												              <div style="background-color:rgb(224,224,224)">
												             <a name=<?php echo 'Q'.$cnt;?>></a>
												              <?php echo 'Q'.' '.$cnt.':';?></div>
												              <?php echo $larrQtns[$i][$j]['Question']?>
												            <?php 
												        	//echo 'Q'.$cnt.':'.'<br/>'.'&nbsp;&nbsp;'.$larrQtns[$i][$j]['Question'];
															//echo 'Q'.$cnt.':'.'&nbsp;&nbsp;'.$larrQtns[$i][$j]['Question'];
												   }
												   else
												    { 
												  
														$totallength = strlen($larrQtns[$i][$j]['Question']);
														$fromposition = 0;
														for ($k =0;$k<5;$k++)
														{
															if($k==0)
															{
															}
															else
															{
																$totallength = strlen($afterstring);
																$fromposition = 0;
																$mainstring = substr($afterstring,1);;
															
															
															}
															
																for($i=0;$i<$totallength;$i++)
																{
																	$mystring = $mainstring;
																	$findme   = '@';
																	$afterstring = strpbrk($mystring,$findme);
																
																	$pos = strpos($mystring,$findme);
																	//echo $pos;
																
																	$strings1 =  substr($mainstring,$fromposition,$pos); 
																	//echo $strings1;
																	$totallength = strlen($strings1);
																 	echo"<br />";
																 //	print_r($strings1);
																 	//die();
																 	$pizza  = $strings1;
																	$pieces = explode("@", $pizza);
																	if($k==0 && $i==0)
																	{
																		echo 'Q'.$cnt.':';
																	}
																	echo $pieces[0]; // piece1
																	 break;
																}
																
														}
												   }?></div>
					                         <div class="arb" style="background-color:#FFFFFF;font-family:arial;font-size:12px;"><br>&nbsp;<?php 
												 $mainstring = $larrQtns[$i][$j]['Malay'];
												 $substring = '@';
												 $pos = strpos($mainstring, $substring);
												   if($pos == false)
												   {
												  
															 ?>
												              <div style="background-color:rgb(224,224,224)">
												             <a name=<?php echo 'RQ'.$cnt;?>></a>
												              <?php echo 'Q'.' '.$cnt.':';?></div>
												              <?php echo $larrQtns[$i][$j]['Malay']?>
												            <?php
												   }
												   else
												    { 
												  
														$totallength = strlen($larrQtns[$i][$j]['Malay']);
														$fromposition = 0;
														for ($k =0;$k<5;$k++)
														{
															if($k==0)
															{
															}
															else
															{
																$totallength = strlen($afterstring);
																$fromposition = 0;
																$mainstring = substr($afterstring,1);;
															
															
															}
															
																for($i=0;$i<$totallength;$i++)
																{
																	$mystring = $mainstring;
																	$findme   = '@';
																	$afterstring = strpbrk($mystring,$findme);
																
																	$pos = strpos($mystring,$findme);
																	//echo $pos;
																
																	$strings1 =  substr($mainstring,$fromposition,$pos); 
																	//echo $strings1;
																	$totallength = strlen($strings1);
																 	echo"<br />";
																 //	print_r($strings1);
																 	//die();
																 	$pizza  = $strings1;
																	$pieces = explode("@", $pizza);
																	if($k==0 && $i==0)
																	{
																		echo 'Q'.$cnt.':'.'<br/><br/>';
																	}
																	echo $pieces[0]; // piece1
																	 break;
																}
																
														}
												   }?></div>
					                           
					                                   <br/>
					                                   
					                                   	<div>
					                                   	<table>
					                                   	 <?php  $attended = $this->attended;
					                                   	 for($k=0;$k<count($larrAns);$k++){?><?php 
					                                   if($larrQtns[$i][$j]['idquestions']==$larrAns[$k]['idquestion'])
					                                   {?>
					                                     <?php if($this->systemshutdown == 0){?>
					                                   	      <tr>
					                                   	          <td><input type="radio" onClick="radioclick('<?php echo $larrQtns[$i][$j]['idquestions'].'--'.$larrAns[$k]['idanswers'];?>');" name="qtn<?php echo $larrAns[$k]['idquestion'];?>" id="<?php echo $larrAns[$k]['idquestion'];?>">&nbsp;&nbsp;</td>
					                                   	          <td><span class="eng" style="font-family:arial;font-size:12px;"><?php echo $larrAns[$k]['answers']?></span><span class="arb" style="font-family:arial;font-size:12px;"><?php echo $larrAns[$k]['Malay']?></span></td>
					                                   	     </tr>
					                                   	     <?php } else {?>
					                                   	     <tr>
					                                   	          <td><input type="radio" <?php if(in_array($larrAns[$k]['idanswers'],$attended)) { ?> checked="true"  <?php }?> onClick="radioclick('<?php echo $larrQtns[$i][$j]['idquestions'].'--'.$larrAns[$k]['idanswers'];?>');" name="qtn<?php echo $larrAns[$k]['idquestion'];?>" id="<?php echo $larrAns[$k]['idquestion'];?>">&nbsp;&nbsp;</td>
					                                   	          <td><span class="eng" style="font-family:arial;font-size:12px;"><?php echo $larrAns[$k]['answers']?></span><span class="arb" style="font-family:arial;font-size:12px;"><?php echo $larrAns[$k]['Malay']?></span></td>
					                                   	     </tr>
					                                   	     <?php }?>
					                                  
					                                  <?php  
					                                   }
					                             }?>
					                              	</table>
					                                   	</div>
					                                   
					                                   	
					                                   	
					                                   	<br/>
					                     
					                     </div>
					                     </td>
					                   </tr>   
					                  
					          <?php }?>
					  <?php }?>
					  
					 
					</table>	
				</form>
				<input type="hidden" id="eng" name = "eng" value="10"> 
				<input type="hidden" id="engcounter" name = "engcounter"value="<?php echo $counter;?>"> 
				<input type="hidden" id="anseng" name = "anseng" value="<?php echo $intans;?>"> 
				<input type="hidden" id="ansengcounter" name = "ansengcounter"value="<?php echo $counter;?>"> 
				

	</td>
	
	<td  id="floating-box" valign="top" bgcolor="#E2E2E2" style="border:2px solid #00CCFF;">

	<div style="width:100%;height:550px;overflow-y:scroll;bgcolor:#E2E2E2" style="border:2px solid #00CCFF; padding-left:10px;">
	  <table bgcolor="#E2E2E2" style="padding-left:10px;padding-right:10px;">
			<div>&nbsp;&nbsp;</div>
	 		
        	
         <!-- <input type="button" style="height:25px; width: 100px" name="abc" id="" value="Show All Parts" onClick="fnhidegroupsss();"> --> 
     					
     					<tr>
     					<td class="tbmenu"><?php echo $this->translate->_("Time Remaining:")?></td>
     					<td ><span id="theTime" class="timeClass"></span></td>
     					</tr>
     					<tr>
     					<td class="tbmenu"><?php echo $this->translate->_("Total Time:")?></td>
     					<td><?php echo $this->totaltimeforexam;?>min</td>
     					</tr>     			
     					<tr>
     					<td class="tbmenu"><?php echo $this->translate->_("Student Name:")?></td>
     					<td><?php echo $this->studentname;?></td>
     					</tr>  
     					<tr>
     					<td class="tbmenu"><?php echo $this->translate->_("Language:")?></td>
     					<td><select name="language" id='languagesssss' onChange='fngetarabic(this.value);'>
							   <option value="0">English</option>
							   <option value="1">Bahasa-Malaysia</option>
							   </select></td>
     					</tr>
     					<tr>
     					<td colspan=2><hr></td>
     					</tr>     					    							
     					
							<input type="hidden" id="idcenter" name="idcenter" value="<?php echo $this->examvenue;?>">
                           
	                            <span id="theTime21"></span><input type="hidden" value="" name="sec" id="sec">
	                            <input type="hidden" value="" name="totalqtn" id="totalqtn">
	                           
                        
     </table>


	<?php $larrQtns=$this->questionsdisplay;?>
	<?php $cntt=0;
	$attendedqtn = $this->qtnqttended;?>
					     <?php for($i=0;$i<count($larrQtns);$i++){?>
					        
					           <table style="height:30%;padding-left:10px;padding-right:10px;" bgcolor="#E2E2E2" id="abc<?php echo $i;?>">
					           <tr>
					           <td class="tbmenu">Part <?php echo $larrQtns[$i][0]['QuestionGroup']?></td>
					           <td colspan=4 align="right"><input type="button" style="height:25px; width:100px;" name="abc[]" id="abc<?php echo $i;?>" value="<?php echo $larrQtns[$i][0]['QuestionGroup']?>" onclick="floatingnavigation(<?php echo $cntt;?>);"></td>
					           </tr>
					                 
					                <?php for($j=0;$j<count($larrQtns[$i]);$j++){?>
					                  <?php $cntt++;?>
					           		<?php if($j%5 == 0){?> <?php if($j!=0){?></tr><?php }?> <tr>  <?php }?>
					                    <td>
					                     
					                      <?php if($this->systemshutdown == 1){?>
					                    <div class="class1" style="height:30px">
					                       <input type="button" <?php if(in_array($larrQtns[$i][$j]['idquestions'],$attendedqtn)) { ?> style="background-color:#8DB87C;"  <?php } else { ?> style="background-color:#FAFAD2;" <?php } ?> class="xanswered" style="background-color:#FAFAD2;border-color:#696 #363 #363 #696;"  id="btn<?php echo $larrQtns[$i][$j]['idquestions'];?>" name="" value="Q<?php echo $cntt;?>" onclick="floatingnavigation(<?php echo $cntt;?>);">
					                    </div>  
					                    <div class="class2" style="height:30px">
					                       <input type="button" <?php if(in_array($larrQtns[$i][$j]['idquestions'],$attendedqtn)) { ?> style="background-color:#8DB87C;"  <?php } else { ?> style="background-color:#FF0000;" <?php } ?> class="xanswered" style="background-color:#FF0000;" id="rbtn<?php echo $larrQtns[$i][$j]['idquestions'];?>" name="" value="Q <?php echo $cntt;?>" onclick="floatingnavigation(<?php echo $cntt;?>);">
					                    </div>
					                 
					                      <?php } 
					                      else{?>
					                       <div class="class1" style="height:30px">
					                          <input type="button" class="xanswered" style="background-color:#FAFAD2;border-color: #696 #363 #363 #696;"  id="btn<?php echo $larrQtns[$i][$j]['idquestions'];?>" name="" value="Q<?php echo $cntt;?>" onclick="floatingnavigation(<?php echo $cntt;?>);">
					                       </div>  
					                       <div class="class2" style="height:30px">
					                            <input type="button" class="xanswered" style="background-color:#FF0000;border-color: #696 #363 #363 #696;" id="rbtn<?php echo $larrQtns[$i][$j]['idquestions'];?>" name="" value="Q<?php echo $cntt;?>" onclick="floatingnavigation(<?php echo $cntt;?>);">
					                       </div>
					                      <?php }?>
					                      </td>
					          <?php }?>
					         
					       <?php }?>   
 							<tr>
					          <td align="center" colspan=5>
								<input type="button" name="Submit"  label="Submit" onClick="fnsave(); return false;" value="Submit">
								</td>
							  </tr>
					           </table>
					        
	
	
</div>
	
	</div>
	</td>

	</tr>
	<tr><td></td></tr>
	</table>
</body>


</html>
