<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="<?php echo $this->rtl;?>">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css"  href="<?php  echo $this->baseUrl();?>/js/themes/cupertino/jquery.ui.all.css" />
	<script language='javascript' src='<?php  echo $this->baseUrl();?>/js/jquery-1.4.3.js'></script>
	<script language='javascript' src='<?php  echo $this->baseUrl();?>/js/sfs-common.js'></script>
	<script language="JavaScript" type="text/javascript">
	</script>
</head>

<fieldset>
    <legend>TOS Creation</legend>
        <div class="register">
            <div class="profile_tab">
                <form action="" dojoType="dijit.form.Form" method="POST"  name= "myform">
                          <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					
return true;
 } else {
                    return false;
                }
				</script> 
				<body>
                         <table width="100%" class="table">
							 <tr>
                            <th colspan = "4"><?php echo $this->translate("Questions").' '.$this->translate("Details of  This Set");?></th>
                            <input type="hidden" value="<?php echo $this->idhiddenprog;?>" id="hiddenprogramid" name="hiddenprogramid">
                           </tr>
                           <tr>
                             <tr id="Exame">
                             <td>
                           
                             <?php if(count($this->remquestion)):?>
                             <?php $cnt1=0;foreach ($this->remquestion as $larrsession ): $cnt1++?>                  
                         <input type="checkbox" dojoType="dijit.form.CheckBox" checked="checked" name="idques[]" value="<?php echo  $larrsession['idquestions'];?>" id="idques<?php echo $cnt1;?>"><?php  echo $cnt1.')'.$larrsession['Question'];?><?php echo '('.''.$this->translate("Section").':'.$larrsession['QuestionGroup'].' , '.$this->translate("Section").':'.$larrsession['QuestionNumber'].')'; ?><br><br>
     		            <?php  endforeach; ?>
     		            <?php endif; ?>
                              
 </td>
  </tr>
			                <tr>
			                <td colspan = "4">
			                <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'examination','controller'=>'createexam', 'action'=>'index'),'default',true);?>';" />	
                           </td>		
                           </tr>
						</table>
						</body>
				</form>
			</div>
		</div>
	</fieldset>	

</html>
