<script type="text/javascript">
   
	dojo.addOnLoad(function() {
		alert('asdf');
		document.forms["frm"].submit();
	});
	
		</script>
<?php
/*+
// Include the paypal library
include_once ('Paypal/Paypal.php');
$dataArray = $this->data;
// Create an instance of the paypal library
$myPaypal = new Paypal();

// Specify your paypal email
$myPaypal->addField('business', 'shashi_1321354655_biz@gmail.com');

		$this->lobjintialConfigmodel = new GeneralSetup_Model_DbTable_Initialconfiguration();		
		$InitialConfigDetails = $this->lobjintialConfigmodel->fnGetInitialConfigDetails(1);
// Specify the currency
$myPaypal->addField('currency_code', $InitialConfigDetails['PaypalCurrency']);

// Specify the url where paypal will send the user on success/failure
$myPaypal->addField('return', 'http://www.tbedemo.com:10081/stu-app/studentapplication/confirmpayment/insertedId/'.$this->idstudent);
$myPaypal->addField('cancel_return', 'http://www.tbedemo.com:10081/stu-app/studentapplication/confirmpayment/insertedId/'.$this->idstudent);

// Specify the url where paypal will send the IPN
$myPaypal->addField('notify_url', 'http://YOUR_HOST/payment/paypal_ipn.php');

// Specify the product information
$myPaypal->addField('item_name', 'Reg Fee');
$myPaypal->addField('amount', $dataArray['Amount']);
$myPaypal->addField('item_number', '001');

// Specify any custom value
$myPaypal->addField('custom', 'muri-khao');

// Enable test mode if needed
$myPaypal->enableTestMode();

// Let's start the train!
$myPaypal->submitPayment();

*/

?>

<?php $dataArray = $this->data;
//echo "<pre>";
///print_r($dataArray);
$this->lobjintialConfigmodel = new GeneralSetup_Model_DbTable_Initialconfiguration();		
		$InitialConfigDetails = $this->lobjintialConfigmodel->fnGetInitialConfigDetails(1);

?><form action="<?php echo $InitialConfigDetails['PayPalAPIUrl'];?>" name="frm" id="frm" method="post">
<input type=hidden name=USER value="<?php echo $InitialConfigDetails['PayPalUserid'];?>"> 
<!-- <input type=hidden name=PWD value="<?php echo $InitialConfigDetails['PayPalPassword'];?>"> 
<input type=hidden name=SIGNATURE value="<?php echo $InitialConfigDetails['PayPalSignature'];?>"> 
 -->
<input type="hidden" name="cmd" value="_xclick">
<input type="hidden" name="upload" value="1">
<input type="hidden" name="business" value="<?php echo $InitialConfigDetails['PayPalUserid'];?>">
<input type="hidden" name="item_name" value="Registration Fee">
<input type="hidden" name="amount" value="<?php echo $dataArray['Amount'];?>">
<input type="hidden" name="currency_code" value="<?php echo $InitialConfigDetails['PaypalCurrency'];?>">
<input type="hidden" name="country" value="MY" >
<input type="hidden" name="charset" value="utf-8">
<input type="hidden" name="rm" value="2" >
<input type="hidden" name="return" id="return" value="http://<?php echo $_SERVER['SERVER_NAME']?><?php  echo $this->baseUrl();?>/registration/confirmpayment/insertedId/<?php echo $this->idstudent;?>" />
<input type="hidden" name="cancel_return" value="http://<?php echo $_SERVER['SERVER_NAME']?><?php  echo $this->baseUrl();?>/registration/confirmpayment/insertedId/<?php echo $this->idstudent;?>">
<input type="hidden" name="notify_url" value="http://<?php echo $_SERVER['SERVER_NAME']?><?php  echo $this->baseUrl();?>/registration/confirmpayment/insertedId/<?php echo $this->idstudent;?>"">
<input type="hidden" name="first_name" value="<?php echo $dataArray['FName'];?>" />
<input type="hidden" name="last_name" value="<?php echo $dataArray['LName'];?>" />
<div align="center"><font color="blue"><b><?php echo $this->mess; ?></b></font></div>
<fieldset>
<?php if(!$this->mess){?>
<legend>Pay Amount</legend>
<?php }?>
<!-- 
<table class="table" width="40%" align="center">

<tr>
	<td colspan="2" >Please note: When you are done with the payment through secured PayPal gateway, you will be navigated back to IBFIM site automatically, please wait until you are navigated back to IBFIM site. Please don't refresh or click back button on the browser.</td>
</tr>

<tr>
	<td>Name</td>
	<td><?php echo $dataArray['FName'].' '.$dataArray['MName'].' '.$dataArray['LName'];?></td>
</tr>
<tr>
	<td>Amount</td>
	<td>MYR:<?php echo $dataArray['Amount'];?></td>
</tr>
<tr>
	<td colspan="2" align ="right"><?php if(!$this->mess){?><input type="submit" value="Pay By Credit Card" name="btn" /><?php }?>&nbsp;<input type="button" value="Back" name="btn1" onClick="window.location.href='<?php  echo $this->baseUrl();?>/index'" /></td>
</tr>
</table>
 -->


<table class="table" width="40%" align="center">

<tr>
	<td>Please wait you are redirecting to the payment gateway.</td>
</tr>

</table>


</form> 
