<script type="text/javascript">
   
	dojo.addOnLoad(function() {
		//alert('asdf');
		var beforepayment = <?php echo $this->beforepayment;?>;
		setTimeout("", 10000);
		if(beforepayment ==1)
		{
		document.forms["frm"].submit();
		}
	});
</script>
<?php $dataArray = $this->data;
		$this->lobjintialConfigmodel = new GeneralSetup_Model_DbTable_Initialconfiguration();		
		$InitialConfigDetails = $this->lobjintialConfigmodel->fnGetInitialConfigDetails(1);

?><form action="<?php echo $InitialConfigDetails['PayPalAPIUrl'];?>" name="frm" id="frm" method="post">
<input type="hidden" name=USER value="<?php echo $InitialConfigDetails['PayPalUserid'];?>"> 
<input type="hidden" name="cmd" value="_xclick">
<input type="hidden" name="upload" value="1">
<input type="hidden" name="business" value="<?php echo $InitialConfigDetails['PayPalUserid'];?>">
<input type="hidden" name="item_name" value="Registration Fee">
<input type="hidden" name="amount" value="<?php echo $dataArray['Amount'];?>">
<input type="hidden" name="currency_code" value="<?php echo $InitialConfigDetails['PaypalCurrency'];?>">
<input type="hidden" name="country" value="MY" >
<input type="hidden" name="charset" value="utf-8">
<input type="hidden" name="rm" value="2" >
<input type="hidden" name="return" id="return" value="http://<?php echo $_SERVER['SERVER_NAME']?><?php  echo $this->baseUrl();?>/registration/confirmpayment/insertedId/<?php echo $this->idstudent;?>" />
<input type="hidden" name="cancel_return" value="http://<?php echo $_SERVER['SERVER_NAME']?><?php  echo $this->baseUrl();?>/registration/confirmpayment/insertedId/<?php echo $this->idstudent;?>">
<input type="hidden" name="notify_url" value="http://<?php echo $_SERVER['SERVER_NAME']?><?php  echo $this->baseUrl();?>/registration/confirmpayment/insertedId/<?php echo $this->idstudent;?>"">
<input type="hidden" name="first_name" value="<?php echo $dataArray['FName'];?>" />
<input type="hidden" name="last_name" value="<?php echo $dataArray['LName'];?>" />
<div align="left"><font color="black"><b><?php echo $this->mess; ?></b></font></div>
<fieldset>

<?php   if(!$this->mess){

if($this->beforepayment  != 2 && $this->beforepayment  != 3){
 $myFile = "/var/www/tbe/Testfile.txt";
			$fh = fopen($myFile, 'a') or die("can't open file");
		
				$stringData = "---------------------------------------------------------------------\n New Row \n".			
				" Business:".$InitialConfigDetails['PayPalUserid'].
				"\n Item Name : Registration Fee \n Amount:".$dataArray['Amount'].
				"\n Currency Code:".$InitialConfigDetails['PaypalCurrency'].
				"\n Country:MY \n Upload:1 \n Cmd:_xclick".
				"\n charset:utf-8".
				"\n rm:2".
				"\n Return URL:".$_SERVER['SERVER_NAME'].$this->baseUrl()."/registration/confirmpayment/insertedId/".$this->idstudent.
				"\n Cancel URL:".$_SERVER['SERVER_NAME'].$this->baseUrl()."/registration/confirmpayment/insertedId/".$this->idstudent.
				"\n Notify URL:".$_SERVER['SERVER_NAME'].$this->baseUrl()."/registration/confirmpayment/insertedId/".$this->idstudent.
				"\n First_name:".$dataArray['FName']."\n Date".date("h:i:s d-M-Y")."\n\n\n\n"
				;	
				
				
				fwrite($fh, $stringData);		
				fclose($fh);
}

?>
<legend>Pay Amount</legend>
<?php echo $this->mess;
 }?>

<table class="table" width="40%" align="left">
<tr>
	<td colspan="2" align ="left"><?php if(!$this->mess){?><?php }?>&nbsp;<input type="button" value="Back" name="btn1" onClick="window.location.href='<?php  echo $this->baseUrl();?>/index'" /></td>
</tr>
</table>
<?php if(!$this->mess){?>
<table class="table" width="40%" align="center">

<tr>
	<td>Please wait while you are redirected to the payment gateway.</td>
	
</tr>
<tr>
<td><font color="Red">After completing of payment please click on Return to oum payment in confirmation page to complete the transaction.</font></td>
</tr>

</table>

<?php }?>
</form> 
