<head>

<script type="text/javascript">
	dojo.addOnLoad(function() {
		
	});
	function fnGetAllGroupNames(code)
	{
		
	}
	function disableArmyid()
	{
		 Student = dojo.byId('Student');
		dojo.style(Student,'display','none');
		or = dojo.byId('or');
		dojo.style(or,'display','none');
	}
	function icnoid()
	{
		 Exame = dojo.byId('Exame');
		dojo.style(Exame,'display','none');
		or = dojo.byId('or');
		dojo.style(or,'display','none');
	
	}
	function autotab(original,destination){
		//alert(original);
		//alert(destination);
		var destination = dijit.byId(destination);
		var wlength = dojo.byId(original).maxLength;
		var nlength=document.getElementById(original).value;
		var slength = nlength.length;
		if (slength == wlength) {
		dijit.byId(destination).focus();
	}
	}
</script> 
</head>
 <fieldset>
    <legend><?php echo $this->translate("Individual  Application");?></legend>
                <Form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/registration/newstudent" method="post"  name= "myForm">
                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
flag=true;
flg=0;
cn=0;
cun='<?php echo $this->counts;?>';
ICN1='';ICN2='';ICN3='';ICN4='';ICN5='';ICN6='';
if(dijit.byId("ICN1"))
{
ICN1=dijit.byId("ICN1").value;
cn=dijit.byId("ICN1").value.length;
st1=new String(ICN1);
feb=st1[2]+st1[3];
las=st1[4]+st1[5];
if(feb==02)
{
if(las==30||las==31)
{
alert("last Digit of date In first Sectiion of ICNO is not valid");
flag=false;
}
}

}
if(dijit.byId("ICN2"))
{
ICN2=dijit.byId("ICN2").value;
cn=parseInt(cn) + parseInt(dijit.byId("ICN2").value.length);
}
if(dijit.byId("ICN3"))
{
ICN3=dijit.byId("ICN3").value;
cn=parseInt(cn) + parseInt(dijit.byId("ICN3").value.length);
}
if(dijit.byId("ICN4"))
{
ICN4=dijit.byId("ICN4").value;
cn=parseInt(cn) +parseInt(dijit.byId("ICN4").value.length);
}
if(dijit.byId("ICN5"))
{
ICN5=dijit.byId("ICN5").value;
cn=parseInt(cn) + parseInt(dijit.byId("ICN5").value.length);
}
if(dijit.byId("ICN6"))
{
ICN6=dijit.byId("ICN6").value;
cn=parseInt(cn) + parseInt(dijit.byId("ICN6").value.length);
}
armyno=dijit.byId("ArmyNo").value;

if(ICN1==''&&ICN2==''&&ICN3==''&&ICN4==''&&ICN5==''&&ICN6=='')
flg=1;
if((armyno=='')&&(flg==1))
{
alert("Please enter IC Number or Army Number");
flag=false;
}
if(flg!=1)
{
if(cun!=cn)
{
alert("Please enter IC Number of "+cun+" digits");
flag=false;
}
}
	 return flag;
                } else {
                    return false;
                }
				</script>
                    <table class="table" width="100%" >
                        <tr>
                            <th colspan = "4"><?php echo $this->translate("PLEASE ENTER YOUR DETAILS BELOW");?></th>
                        </tr>
                        <tr id="Exame">
                           <td ><?php echo $this->translate("IC Number");?><span class="reqMark">*</span></td>
                            <td ><?php $t1=$this->Txt1; $t2=$this->Txt2;$t3=$this->Txt3;$t4=$this->Txt4;$t5=$this->Txt5;$t6=$this->Txt6;$Dd1=$this->Dpd1;$Dd2=$this->Dpd2;$Dd3=$this->Dpd3;$Dd4=$this->Dpd4;$Dd5=$this->Dpd5;$Dd6=$this->Dpd6;?>
                            <?php // for($i=0;$i<$count;$i++):?>
                            <?php if($t1>0):?>
                            <?php if($Dd1!=1){?>
                                <input type="text" name="ICN1" id="ICN1" dojoType="dijit.form.ValidationTextBox"  style="width:60px" maxlength="<?php echo $t1;?>" regExp="[0-9]{2}(0{1}[1-9]{1}|1[012]{1})(0{1}[1-9]{1}|1[0-9]{1}|2[0-9]{1}|3[01]{1})$" onfocus="disableArmyid();" invalidMessage="Please Enter <?php echo $t1;?> Digits only in format as 'YYMMDD'" onKeyup="autotab('ICN1','ICN2');"> -
                            <?php }else{?>
                                 <input type="text" name="ICN1" id="ICN1" dojoType="dijit.form.ValidationTextBox"  style="width:40px" maxlength="<?php echo $t1;?>" regExp="[0-9A-Za-z]{<?php echo $t1;?>}" invalidMessage="Please Enter <?php echo $t1;?> Alpha-Numberics"  onKeyup="autotab('ICN1','ICN2');">
                            <?php }?>
                            <?php endif;?>
                                  <?php if($t2>0):?>
                                   <?php if($Dd2!=1){?>
                                <input type="text" name="ICN2" id="ICN2" dojoType="dijit.form.ValidationTextBox"  style="width:40px" maxlength="<?php echo $t2;?>" regExp="[0-9]{<?php echo $t2;?>}" invalidMessage="Please Enter <?php echo $t2;?> Digits only"   onKeyup="autotab('ICN2','ICN3');"> -
                                 <?php }else{?>
                                 <input type="text" name="ICN2" id="ICN2" dojoType="dijit.form.ValidationTextBox"  style="width:40px" maxlength="<?php echo $t2;?>" regExp="[0-9A-Za-z]{<?php echo $t2;?>}" invalidMessage="Please Enter <?php echo $t2;?> Alpha-Numberics"   onKeyup="autotab('ICN2','ICN3');">
                                 <?php }?>
                                   <?php endif;?>
                                  <?php if($t3>0):?>
                                     <?php if($Dd3!=1){?>
                                <input type="text" name="ICN3" id="ICN3" dojoType="dijit.form.ValidationTextBox"  style="width:40px" maxlength="<?php echo $t3;?>" regExp="[0-9]{<?php echo $t3;?>}" invalidMessage="Please Enter <?php echo $t3;?> Digits only">
                                 <?php }else{?>
                                 <input type="text" name="ICN3" id="ICN3" dojoType="dijit.form.ValidationTextBox"  style="width:40px" maxlength="<?php echo $t3;?>" regExp="[0-9A-Za-z]{<?php echo $t3;?>}" invalidMessage="Please Enter <?php echo $t3;?> Alpha-Numberics">
                                 <?php }?>
                                <?php endif;?>
                                  <?php if($t4>0):?>
                                   <?php if($Dd4!=1){?>
                                <input type="text" name="ICN4" id="ICN4" dojoType="dijit.form.ValidationTextBox"  style="width:40px" maxlength="<?php echo $t4;?>" regExp="[0-9]{<?php echo $t4;?>}" invalidMessage="Please Enter <?php echo $t4;?> Digits only">
                                 <?php }else{?>
                                 <input type="text" name="ICN4" id="ICN4" dojoType="dijit.form.ValidationTextBox"  style="width:40px" maxlength="<?php echo $t4;?>" regExp="[0-9A-Za-z]{<?php echo $t4;?>}" invalidMessage="Please Enter <?php echo $t4;?> Alpha-Numberics">
                                <?php }?>
                                <?php endif;?>
                                  <?php if($t5>0):?>
                                    <?php if($Dd5!=1){?>
                                <input type="text" name="ICN5" id="ICN5" dojoType="dijit.form.ValidationTextBox"  style="width:40px"  maxlength="<?php echo $t5;?>" regExp="[0-9]{<?php echo $t5;?>}" invalidMessage="Please Enter <?php echo $t5;?> Digits only">
                                <?php }else{?>
                               <input type="text" name="ICN5" id="ICN5" dojoType="dijit.form.ValidationTextBox"  style="width:40px"  maxlength="<?php echo $t5;?>" regExp="[0-9A-Za-z]{<?php echo $t5;?>}" invalidMessage="Please Enter <?php echo $t5;?> Alpha-Numberics">
                                <?php }?>
                                    <?php endif;?>
                                  <?php if($t6>0):?>
                                    <?php if($Dd5!=1){?>
                                <input type="text" name="ICN6" id="ICN6" dojoType="dijit.form.ValidationTextBox"  style="width:40px" maxlength="<?php echo $t6;?>" regExp="[0-9]{<?php echo $t6;?>}" invalidMessage="Please Enter <?php echo $t6;?> Digits only">
                                <?php }else{?>
                                 <input type="text" name="ICN6" id="ICN6" dojoType="dijit.form.ValidationTextBox"  style="width:40px" maxlength="<?php echo $t6;?>" regExp="[0-9A-Za-z]{<?php echo $t6;?>}" invalidMessage="Please Enter <?php echo $t6;?> Alpha-Numberics">
                                <?php }?>
                                <?php endif;?>
                                <?php //endfor;?>
                            </td>
                        </tr>
                       
                          <tr>
                           <td ><?php //echo $this->translate("IC Number");?><span class="reqMark"></span></td>
                            <td id="or"><?php echo 'OR'?></td>
                        </tr>
                      
                        <tr  id="Student">
                 			
                            <td ><?php echo $this->translate("IC POLICE/ARMY");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjstudentForm->ArmyNo;?></td>
                            
                        </tr>
                     
                        <tr>
                          <td></td>
                   
                            <td>        
                           <input type="submit" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Next"); ?>" />	
                           <?php if($this->fromweb == 1){?>
                          	 	<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('controller'=>'introduction', 'action'=>'index'),'default',true);?>';" />	
                           
                           <?php }else {?>
								<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('controller'=>'index', 'action'=>'login'),'default',true);?>';" />	
                           
                           <?php }?> </td> 
                        </tr>
              </table>
            
            </Form>

</fieldset>
