<html>
<head>
<script type="text/javascript" src="<?php  echo $this->baseUrl();?>/js/dojo/dojo/dojo.js" djConfig="parseOnLoad: true,locale:'en'"></script>
<script type="text/javascript" src="<?php  echo $this->baseUrl();?>/js/dojo/dojo/nls/dojo_en.js"></script>
<link rel="stylesheet" type="text/css" href="<?php  echo $this->baseUrl();?>/js/dojo/dojo/resources/dojo.css" />
<link rel="stylesheet" type="text/css" href="<?php  echo $this->baseUrl();?>/js/dojo/dijit/themes/claro/claro.css" />
<link rel="stylesheet" type="text/css" href="<?php  echo $this->baseUrl();?>/css/usty/style.css" />

</head>
<body class = "claro">
    <form  dojoType="dijit.form.Form"  id="myFormss" action="" method="post"  name= "myFormss">
<table class="table" width="100%" border="0" align="center">
	<tr>
		<th><?php echo $this->translate("Examination Details");?></th>
	</tr>
	<tr>
		<td align="left">Date Selected:<?php echo date ( "d-m-Y", strtotime ( $this->regdate ) );  ;?></td>
	</tr>
	<input type="hidden" value="<?php echo $this->id;?>" id="idapplication" name="idapplication">

</table>
<table class="table" width="100%" border="0" align="center">
	<tr>
		<th><?php echo $this->translate("Num");?></th>
		<th><?php echo $this->translate("SESSION/TIME");?></th>
		<th></th>

	</tr>
	<tr>
	<?php if(count($this->sessresult)):?>
	<?php $cnt1=1;foreach ($this->sessresult as $larrsession ):?>
	<tr>
		<td align="left"><?php echo $cnt1;?></td>
		<td align="left"><?php echo $larrsession['managesessionname']?>(<?php echo $this->daystu;?>)<br />
		<?php echo $larrsession['starttime'].'--'.$larrsession['endtime'];?></td>
		<td align="left"><input type="radio"
		<?php  if($cnt1 == 1) echo "checked"; ?>
			dojoType="dijit.form.RadioButton" name="idsession"
			value="<?php echo $larrsession['idsession'];?>"
			id="idsession<?php echo $cnt1;?>"
			onclick='fngettheVenues(this.value,<?php echo $cnt1;?>);'></td>
			<?php  $cnt1++; ; ?>
			<?php  endforeach; ?>
			<?php endif; ?>
		</td>
	</tr>

	<tr>
		<th colspan="4"><?php echo $this->translate("Payment Mode");?></th>
	</tr>
	<td align="left">Payment</td>
	<td align="left"><?php echo $this->lobjstudentForm->ModeofPayment;?></td>
	<tr>
	
	
	<tr>
		<th colspan="4"><?php echo $this->translate("");?></th>
	</tr>
	<td colspan="3" style="font-family: verdana; color: red;" align="left">Note
	*:<br />
	Exam location and date may be changed.We will inform candidates atleast
	two days before any changes by email and sms</td>

	</tr>
	<tr>
		<td colspan="3" style="font-family: verdana; color: red;" align="left">Last
		date of registration is 14 days prior to the choosen examination date</td>
	</tr>

	<tr>
		<td colspan="3">
		<center>Are you sure with above selection of venue and payment type ?<br />
		<?php echo $this->lobjstudentForm->Yes;?> <input type="button"
			class="NormalBtn" dojotype="dijit.form.Button" value="No"
			label="<?php echo $this->translate("No"); ?>" onClick="Closefn()" />
		</center>
		</td>
	</tr>
</table>
</form>
</body>
</html>