



<html>
		<head>
			   <title>::: FPX - Simple. Convenient. Secure. :::</title>
		
				<link type="text/css" rel="stylesheet" href="css/appendix.css">
				<link rel="Shortcut icon" href="favicon.ico">
			    <link rel="icon" type="image/gif" href="favicon1.gif">

				 <style type="text/css">

html, body { 
  margin:0; 
  padding:0; 
  border:1; 
}



#container {
  width: 752px;
  max-width: 1000px; 
  min-width: 300px; 
  margin: 0 auto; 
  padding: 0;
  background-color: white;

}




#container_appendix {
  width: 70%;
  max-width: 1000px; 
  min-width: 300px; 
  margin: 0 auto; 
  padding: 0;
  background-color: white;
}

#txn_container {
	width: 100%; 
	float: right; 
	 margin: 0 auto; 
	 padding: 0; 
	background-color: white;
}

#container h1 { 

}

#container h2 { 

}

#col1 { 
	  width: 4%; 
	  float: left; 
	  border: thin solid white; 
}

#col2 {
	width: 92%;
	float: left;
	border: thin solid white; 
}

#col3 {
	width: 4%;
	float: right;
	border: thin solid white; 
} 

#footer {
	  width:100%;
	  float: left;
	  background-color: white;
}
 

.tr_caption{
	text-indent: 0px;
        font-family: "arial",Arial, Helvetica, sans-serif;
        font-size: 16px;
        color: #368DB4;;
        text-decoration: none;
}

.caption_banner{
        font-family: "arial",Arial, Helvetica, sans-serif;
        font-size: 32px;
        color: #368DB4;;
        text-decoration: none;
	font-weight:bold;
}




.tr_sub_caption{
	text-indent: 0px;
        font-family: "arial",Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: white;
        text-decoration: none;
	background-color:#4682B4;   
	font-weight:bold;
}

.bgcolor_code{
	background-color:white;
}

.table_common_txn
{
	background:white;	
	font-family : "arial", "MS Sans Serif", Geneva, sans-serif;
	width:100%;	

	text-align:left;
	valign:"top";
	align:"right";	
}

tr.txn_font_header
{
	color:black;
	font-size:14px;
	font-family:arial,verdana;
	background:white;
}


tr.txn_fontB_even
{
	color:black;
	font-size:14px;
	font-family:arial,verdana;
	background:#E0E8F8;		
}

tr.txn_fontB_odd
{
	color:black;
	font-size:14px;
	font-family:arial,verdana;
	background:white;		
}

.register_fontB_odd
{
	color:black;
	font-size:14px;
	font-family:arial,verdana;
	background:#FFF8C6;		
}

.td_anchor_footer
{
	width: 100%;
	height:2%;
	font-size: 12px;
	background:white;
	font-family : "arial","MS Sans Serif", Geneva, sans-serif;

}

.tagline {
        text-indent: 0px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: small;
        color:#368DB4 ;
        text-decoration: none;
}


#table_footer_home
{
	text-align:center;
	width: 100%;
	height:2%;
	font-size: 12px;
	background:white;
	font-family : "arial","MS Sans Serif", Geneva, sans-serif;
	color:#368DB4;
}

.tr_anchor_footer
{
	width: 100%;
	height:2%;
	font-size: 12px;
	background:white;
	font-family : "arial","MS Sans Serif", Geneva, sans-serif;
	color:#368DB4;
}


input.btn {   
  color:white;   
  font: bold 84%arial, 'trebuchet ms',helvetica,sans-serif;   
  background-color:#4682B4;   
}   


input.btn_over {   
  color:black;   
  font: bold 84%arial, 'trebuchet ms',helvetica,sans-serif;   
  background-color:white;
}   


tr.fontB_even
{
        color:black;
        font-size:12px;
        font-family:arial,verdana;
}

.fontB_even_p
{
        color:black;
        font-size:14px;
        font-family:arial,verdana;
}

tr.txn_fontB_even_tc
{
	color:black;
	font-size:14px;
	font-family:arial,verdana;
	background:white;
}

tr.fontB_even_tc
{
	color:black;
	font-size:14px;
	font-family:arial,verdana;
	background:white;
}

hr.bck_ground{
	color: red;
	background-color: red;
	height: 5px;
	width:100%;
	border: 0;
}



</style>


		<script language="JavaScript">
				function closeWin()
				{
					window.close();
				}



				function checkBrowserVersion()
				{

						var agt=navigator.userAgent.toLowerCase();
						
						if((agt.indexOf('msie')!=-1))
						{
							var obj=document.getElementById("IEXPLORER");
							obj.style.display='';

							obj=document.getElementById("UNKNOWN");
							obj.style.display='none';

							obj=document.getElementById("MOZILLA_FIREFOX");
							obj.style.display='none';

							obj=document.getElementById("CHROME");
							obj.style.display='none';
							
							
							return;
						}
						else if((agt.indexOf('chrome')!=-1))
						{
							var obj=document.getElementById("IEXPLORER");
							obj.style.display='none';

							obj=document.getElementById("MOZILLA_FIREFOX");
							obj.style.display='none';

							obj=document.getElementById("UNKNOWN");
							obj.style.display='none';

							obj=document.getElementById("CHROME");
							obj.style.display='';
							
							
							return;	
							
						}
						else if((agt.indexOf('navigator')!=-1))
						{
							var obj=document.getElementById("IEXPLORER");
							obj.style.display='none';

							obj=document.getElementById("MOZILLA_FIREFOX");
							obj.style.display='none';

							obj=document.getElementById("CHROME");
							obj.style.display='none';
							
							placeVersion();
						}
						else if ((agt.indexOf('firefox')!=-1))
						{
							var obj=document.getElementById("IEXPLORER");
							obj.style.display='none';

							obj=document.getElementById("CHROME");
							obj.style.display='none';

							obj=document.getElementById("MOZILLA_FIREFOX");
							obj.style.display='';
							
							obj=document.getElementById("UNKNOWN");
							obj.style.display='none';
							
						}
						else if ((agt.indexOf('opera')!=-1))
						{
							var obj=document.getElementById("IEXPLORER");
							obj.style.display='none';

							obj=document.getElementById("MOZILLA_FIREFOX");
							obj.style.display='none';

							obj=document.getElementById("CHROME");
							obj.style.display='none';
							
							placeVersion();
						}
						else if ((agt.indexOf('seamonkey')!=-1))
						{
							var obj=document.getElementById("IEXPLORER");
							obj.style.display='none';

							obj=document.getElementById("MOZILLA_FIREFOX");
							obj.style.display='none';

							obj=document.getElementById("CHROME");
							obj.style.display='none';
								
							placeVersion();
						}
						else
						{
							var obj=document.getElementById("IEXPLORER");
							obj.style.display='none';

							obj=document.getElementById("MOZILLA_FIREFOX");
							obj.style.display='none';

							obj=document.getElementById("CHROME");
							obj.style.display='none';
							
							placeVersion();
						}


				}

				function placeVersion()
				{
					var objBrw	=	document.getElementById('BR_ID');
					document.getElementById('BR_ID').innerHTML = getBrowserVersion();
				}

				function getBrowserVersion()
				{
						var agt=navigator.userAgent.toLowerCase();
						if((agt.indexOf('msie')!=-1))
						{
							return "Internet Explorer";
						}
						else if((agt.indexOf('chrome')!=-1))
						{
							return "Google Chrome";
						}
						else if((agt.indexOf('navigator')!=-1))
						{
							return "Netscape Navigator";
						}
						else if ((agt.indexOf('firefox')!=-1))
						{
							return "Mozilla Firefox";
						}
						else if ((agt.indexOf('opera')!=-1))
						{
							return "Opera";
						}
						else if ((agt.indexOf('seamonkey')!=-1))
						{
							return "Sea Monkey";
						}
						else
						{
							return "- NA -";
						}
				}


				function closeWin()
				{
					window.close();
				}

		</script>

	</head>


<body class="bgcolor_code" onload="javascript:checkBrowserVersion()">
			
			<!-- INTERNET EXPLORER --> 
			<div ID="IEXPLORER">

		
			<table id="table_common_faq" align="center" border="0" cellspacing="0" cellpadding="3" frame="box" rules="none" 	bordercolor="silver">
					<tr width="100%"  class="tr_sub_caption" >
						<td align="center">&nbsp;<strong>Pop-Up Blocker Setting </strong></td>
					</tr>

					<tr class="tr_caption" >
						<td>
							<br />
							<strong>HOW TO DISABLE COMMON POP-UP BLOCKERS</strong>

						</td>
					</tr>

					<tr class="fontB_even_tc" align="left">
						<td>
							<ul>
							<br />
							<li>
							&nbsp;&nbsp;&nbsp;Please <strong>DISABLE</strong> all <strong>POP-UP-BLOCKERS </strong> to ensure transaction goes &nbsp;&nbsp;&nbsp;through successfully.
							<br /><br />

							<li>
							&nbsp;&nbsp;&nbsp;If you have  pop-up blocker enabled please follow these simple steps :</strong>
							<br />
							</ul>
						</td>
					</tr>
					
					<tr class="fontB_even_tc" align="left">
						<td>

								<strong>
									<br />
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. Go to Tools <strong>>></strong> Pop-up Blocker <strong>>> </strong>Pop-up Blocker Setting <br>
									<br />
									<br />
									
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img  src="<?php echo $this->baseUrl()?>/images/pop_a.JPG">

									
								</strong>
						</td>
					</tr>
							
					<tr class="fontB_even_tc" align="left">
						<td>
								<strong>
								<br />
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Add the internet banking site to the Allowed sites as per following :<br>

								<br />
								<br />								
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img align="center"src="<?php echo $this->baseUrl()?>/images/pop_b.JPG">
								</strong>
						</td>
					</tr>

					<tr>
							<td align="center">
<input type="button" name="close" value=" Close " class="btn" onmouseover="this.className='btn_over'" onmouseout="this.className='btn'" style="cursor:pointer;" onClick="javascript:closeWin();"> 

<input type="button" name="print" value=" Print " class="btn" onmouseover="this.className='btn_over'" onmouseout="this.className='btn'" style="cursor:pointer" onClick="javascript:window.print()"> 

							</td>
					</tr>

				</table>
			</div>






			<!-- INTERNET EXPLORER --> 
			<div ID="MOZILLA_FIREFOX">

			<table id="table_common_faq" align="center" border="0" cellspacing="0" cellpadding="3" frame="box" rules="none" 	bordercolor="silver">
					<tr width="100%"  class="tr_sub_caption" >
						<td align="center">&nbsp;<strong>Pop-Up Blocker Setting </strong></td>
					</tr>

					<tr class="tr_caption" >
						<td>
							<br />

							<strong>HOW TO DISABLE COMMON POP-UP BLOCKERS</strong>
						</td>
					</tr>

					<tr class="fontB_even_tc" align="left">
						<td>
							<ul>
							<br />
							<li>

							&nbsp;&nbsp;&nbsp;Please <strong>DISABLE</strong> all <strong>POP-UP-BLOCKERS </strong> to ensure transaction goes &nbsp;&nbsp;through successfully.
							<br /><br />
							<li>
							&nbsp;&nbsp;&nbsp;If you have a pop-up blocker enabled, you are advised to perform the following steps to avoid difficulties during payment process:</strong>
							<br />

							</ul>
						</td>
					</tr>



					<tr class="fontB_even_tc" align="left">
						<td>
								<strong>
								<br />

								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. Go to Tools >> Option >> Exception <br>
								<br />
								<br />
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="<?php echo $this->baseUrl()?>/images/pop_c.JPG">	
								</strong>
						</td>
					</tr>
							
					<tr class="fontB_even_tc" align="left">
						<td>

								<strong>
								<br />
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Add the internet banking site to the Allowed sites as per following :
								<br />
								<br />

								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="<?php echo $this->baseUrl()?>/images/pop_d.JPG">
								</strong>
						</td>
					</tr>

					<tr>
							<td align="center">
<input type="button" name="close" value=" Close " class="btn" onmouseover="this.className='btn_over'" onmouseout="this.className='btn'" style="cursor:pointer;" onClick="javascript:closeWin();"> 
<input type="button" name="print" value=" Print " class="btn" onmouseover="this.className='btn_over'" onmouseout="this.className='btn'" style="cursor:pointer" onClick="javascript:window.print()"> 

							</td>
					</tr>
				</table>
			</div>


				<!-- OTHER BROWSERS --> 
				<div ID="UNKNOWN">

				<table id="table_common_faq" align="center" border="0" cellspacing="0" cellpadding="3" frame="box" rules="none" 	bordercolor="silver">
					<tr class="tr_caption" >
						<td>
							<strong>Sorry , instructions for <B id="BR_ID"></B> is not available</strong>
						</td>
					</tr>

					<tr>

							<td align="center">
<input type="button" name="close" value=" Close " class="btn" onmouseover="this.className='btn_over'" onmouseout="this.className='btn'" style="cursor:pointer;" onClick="javascript:closeWin();"> 
<input type="button" name="print" value=" Print " class="btn" onmouseover="this.className='btn_over'" onmouseout="this.className='btn'" style="cursor:pointer" onClick="javascript:window.print()"> 

							</td>
					</tr>
				</table>
			</div>

			<!-- GOOGLE CHROME --> 
			<div ID="CHROME">
		
			<table id="table_common_faq" align="center" border="0" cellspacing="0" cellpadding="3" frame="box" rules="none" 	bordercolor="silver">

					<tr width="100%"  class="tr_sub_caption" >
						<td align="center">&nbsp;<strong>Pop-Up Blocker Setting </strong></td>
					</tr>

					<tr class="tr_caption" >
						<td>
							<br />
							<strong>HOW TO DISABLE COMMON POP-UP BLOCKERS</strong>

						</td>
					</tr>

					<tr class="fontB_even_tc" align="left">
						<td>
							<ul>
							<br />
							<li>
							&nbsp;&nbsp;&nbsp;Please <strong>DISABLE</strong> all <strong>POP-UP-BLOCKERS </strong> to ensure transaction goes &nbsp;&nbsp;&nbsp;through successfully.
							<br /><br />

							<li>
							&nbsp;&nbsp;&nbsp;If you have  pop-up blocker enabled please follow these simple steps :</strong>
							<br />
							</ul>
						</td>
					</tr>
					
					<tr class="fontB_even_tc" align="left">
						<td>

								<strong>
									<br />
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. Go to Tools >> Options  <br>
									<br />
									<br />
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img align="center" src="<?php echo $this->baseUrl()?>/images/pop_e.PNG">			
								</strong>
						</td>
					</tr>

							
					<tr class="fontB_even_tc" align="left">
						<td>
								<strong>
								<br />
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Go to Under the Hood  >> Content Settings Options, Choose Allow all &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;sites to show pop-ups :<br>
								<br />
								<br />
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img align="center" src="<?php echo $this->baseUrl()?>/images/pop_f.PNG">			
						</td>

					</tr>

					<tr>
							<td align="center">
<input type="button" name="close" value=" Close " class="btn" onmouseover="this.className='btn_over'" onmouseout="this.className='btn'" style="cursor:pointer;" onClick="javascript:closeWin();"> 
<input type="button" name="print" value=" Print " class="btn" onmouseover="this.className='btn_over'" onmouseout="this.className='btn'" style="cursor:pointer" onClick="javascript:window.print()"> 

							</td>
					</tr>

				</table>
			</div>

</body>
</html>		