<head>
<script>
dojo.addOnLoad(function(){
	dijit.byId('field3').focus();	
	});
</script>
</head>
	<fieldset>
		<legend><?php  echo $this->translate($this->Center).' '.$this->translate("Search");?></legend>
         <form action="<?php echo $this->baseUrl();?>/general-setup/center/index/search/1" method="POST">
            <table width="100%">
                <tr>
                   <td><?php echo $this->translate($this->Center).' '.$this->translate("Name");?></td>
                   <td ><?php echo $this->lobjform->field3;?></td>
                   <td><?php //echo $this->translate("City");?></td>
                   <td ><?php //echo $this->lobjform->field2;?></td>
                </tr>
                <tr>
                    <td ><?php echo $this->translate("Active");?></td>
                    <td ><?php echo $this->lobjform->field7;?></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
	               <td align = "center" colspan = "4">
						<?php echo $this->lobjform->Search;?>
						<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Add"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'general-setup','controller'=>'center', 'action'=>'newcenter'),'default',true);?>';" />	
						<?php echo $this->lobjform->Clear;?>
				   </td>
                </tr>
            </table>
        </form>	
    </fieldset> 
    <br/>
	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
		
	    	<tr>
	        	<th><?php echo $this->translate($this->Center).' '.$this->translate("Name");?></th>
	       	    <th><?php echo $this->translate("City");?></th>
	        	<th><?php echo $this->translate("Address");?></th>
	        	<th><?php //echo $this->translate("Country");?></th>
	    	</tr>
	        <?php if (count($this->paginator)): ?>
	        <?php foreach ($this->paginator as $lobjcenter ): ?>
	  		<tr style="background-color:<?php   echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	<td><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'center', 'action'=>'centerlist' , 'id'=>$lobjcenter['idcenter']),'default',true);?>" ><?php print_r($this->escape($lobjcenter['centername']));?></a></td>
	    	    <td><?php if($lobjcenter['city']){?><?php echo $this->escape($lobjcenter['city']);?><?php }else {?><?php echo $this->translate("Others");}?></td>
	    		<td><?php echo $this->escape($lobjcenter['addr1']);?></td>
	    		<td><?php // echo $this->escape($lobjcenter['country']);?></div></td>
	            <?php  endforeach; ?>
	            <?php endif; ?> 
			</tr>
	    	<tr>
	        	<td colspan="8" align="right"><div class="pagination"><?php  echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>
		</table>
	</fieldset>
