
<head>
<script>
   dojo.addOnLoad(function(){
	 dijit.byId('field15').focus();	 
   });
   function fncancelpaymentindudual(ICNO){ 

		 if(ICNO != "")
			{   
			    var xhrArgs = {
						url: "<?php echo $this->baseUrl();?>"+"/finance/commonpaymentcancel/fncancelpaymentindudual/ICNO/"+ICNO,
						handleAs:'text',
						load:function(data){					
							document.getElementById('divLogin').style.display = 'block';						
							document.getElementById('divLogin2').style.display = 'block';
							document.getElementById('contentdiv').innerHTML = data;						
						}
				   }
				dojo.xhrGet(xhrArgs); 
			} 
	}

function fncancelpayment(idBatchRegistration,companyflag){ 
	 if(idBatchRegistration != "")	{   
		    var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/finance/commonpaymentcancel/fncancelpayment/idBatchRegistration/"+idBatchRegistration+"/companyflag/"+companyflag,
					handleAs:'text',
					load:function(data){					
						document.getElementById('divLogin').style.display = 'block';						
						document.getElementById('divLogin2').style.display = 'block';
						document.getElementById('contentdiv').innerHTML = data;						
					}
			   }
			dojo.xhrGet(xhrArgs); 
		} 
}

function Closefn(){
	document.getElementById('contentdiv').innerHTML = "";
	document.getElementById('divLogin').style.display = 'none';
	document.getElementById('divLogin2').style.display = 'none';
} 
</script>
</head>
<form dojoType="dijit.form.Form"  id="initconfigForm" name="form1" method="post" action="<?php echo $this->baseUrl();?>/finance/commonpaymentcancel/index/search/1">
   <fieldset>
           <legend><?php echo $this->translate->_("Payment Cancel");?></legend>
	    	<table    width="100%">	    		
      		  <tr>
         			<td class="label"><?php echo $this->translate->_("Registration Type")?></td>
        			<td><?php echo $this->lobjform->field15?></td>	        			      			  	       	
      		 </tr>     		
              <tr>
	               <td align = "center" colspan = "2">
						<?php echo $this->lobjform->Search;?>
						<?php echo $this->lobjform->Clear;?>
				   </td>
				</tr>      	
	        </table>		

    </fieldset>
</form>
<br>
<?php  if (count($this->countcomp)):  $cnnt = 0; ?>
<fieldset>
  <script>
  	function fnvalidate(idchk,chk)
  	{ 	  	
  		 	  		
  			var str1="IDApplication";
  	  		var str2=chk;
  	  		var actived=document.getElementById(str1.concat(str2)).checked;	
  	  		if(actived==true)
  	  		{
		  	  var payment3=dojo.byId('payment3'+chk);
		  	  dojo.style(payment3,'display','block');
		  	  var payment4=dojo.byId('payment4'+chk);
			  dojo.style(payment4,'display','block');	
  	  		}
  	  		else
  	  		{	
  	  	  	 var payment3=dojo.byId('payment3'+chk);
	  		 dojo.style(payment3,'display','none');
	  	  	 var payment4=dojo.byId('payment4'+chk);
	  		 dojo.style(payment4,'display','none');		
  	  		} 
  	  }
  	</script>
 <form method="post" action="">      
    <?php if($this->lvartype == 3) {?>     
     <table class="table" width="100%"  cellpadding="5" cellspacing="1">
    		<tr>
    		    <th width="15%" ><?php echo $this->translate->_("Registration Id");?></th>
    		    <th ><?php  echo $this->translate->_("Student Name"); ?></th>
    		    <th ><?php  echo $this->translate->_("IC NO"); ?></th>
				<th width="12%"><?php echo $this->translate->_("Amount"); ?></th>					
				<th width="12%"><?php echo $this->translate->_("Mode Of Payment"); ?></th>													
    		</tr>
    	<tbody>       	            
         <?php   foreach ($this->countcomp as $lobjcategory ): $cnnt++ ?>
	         <tr> 
		        <td ><a href="javascript:fncancelpaymentindudual('<?php echo $lobjcategory['ICNO']?>');" ><?php echo $lobjcategory['Regid'];?></a>       </td>
		        <td ><?php  echo $lobjcategory['CompanyName'];?></td>
		        <td ><?php  echo $lobjcategory['ICNO'];?></td>
		        <td ><?php  echo $lobjcategory['Amount'];?></td>            	
		        <td ><?php if($lobjcategory['ModeofPayment']==1) echo "Direct Debit FPX";else if($lobjcategory['ModeofPayment']==2) echo "Credit Card"; else if($lobjcategory['ModeofPayment']==5) echo "Money Order"; else if($lobjcategory['ModeofPayment']==6) echo "Postal Order"; else if($lobjcategory['ModeofPayment']==7) echo "Credit/Bank to IBFIM account";?>
		          		</td>            	    
	        </tr>
     	<?php  endforeach; ?>     		
     </tbody>		     	
   </table>
 <?php } else {?>
 
 
 
 
  	<table class="table" width="100%"  cellpadding="5" cellspacing="1">
    		<tr>
    		    <th width="30%" ><?php echo $this->translate->_("Registration Pin");?></th>
				<th width="12%"><?php echo $this->translate->_("Amount"); ?></th>	
				<th ><?php if($this->countcomp[0]['companyflag'] == 1) echo $this->translate->_("Company Name"); else echo $this->translate->_("Takaful Name");?></th>
				<th width="12%"><?php echo $this->translate->_("Total No Of Candidates"); ?></th>											
    		</tr>
    		<tbody>       	            
            <?php   foreach ($this->countcomp as $lobjcategory ): $cnnt++ ?>
         	 <tr>          
            	 <td><a href="javascript:fncancelpayment('<?php echo $lobjcategory['idBatchRegistration']?>',<?php echo $lobjcategory['companyflag']?>);" ><?php echo $lobjcategory['registrationPin'];?></a>
          					</td>
          	 	 <td><?php  echo $lobjcategory['totalAmount'];?></td>  
          		 <td><?php  echo $lobjcategory['CompanyName'];?></td>
          		 <td><?php  echo $lobjcategory['totalNoofCandidates'];?>
          	  	     	 </td>              	    
          	  </tr>     		 
          	  <?php  endforeach; ?>
     		</tbody>	    	
   </table>
   <?php }?>
  </form>
  
</fieldset> 
 <form method="post" action="">
 <input type="hidden" name="lvartype" id="lvartype" value="<?php echo  $this->lvartype;?>">
 <?php  endif; ?>
 <div runat="server" id="divLogin"  style="display:none; z-index: 153; position: fixed; left: 23%; width: 750px; top:5%">
 <div runat="server" id="divLogin2"  style="display:none; opacity:1.0; z-index: 150; position: relative; left: 0%; height: 100%; width: 100%; top: 0%;"> </div>
					                <div id="scroll" style="height: 600px; width: 100%; overflow:auto;">
					                <asp:Panel runat="server" ID="popupLogin">
					                    <asp:Panel runat="server" ID="popupContent1">
					                        <table style="height: 125px; width: 100%; background-color: #FFFFFF;" border="3" frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">
					                                    	<div id="contentdiv"></div>					                                      
					                                   </td>
					                                </tr>
					                                <tr>
					                                    <td colspan="2" align="left">
					                                        <asp:Label ID="lblmandatory" runat="server" Text="* Mandatory Information Required"
					                                            class="LeftLabelStyle" Width="350px" />
					                                    </td>
					                                </tr>
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
    </div>
 </div>
 </form>
</html>
