<head>
<Script type="text/javascript">
dojo.addOnLoad(function(){
	});
</script>
</head>
<body class='claro'>
<fieldset>
	<legend><?php echo $this->translate("Schedule").' '.$this->translate("Report");?></legend>
 		<form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/reports/schedulereport" method="POST" > 
 		  <script type="dojo/method" event="onSubmit">
             if (this.validate()){
					return true;
                } else {
                   return false;
               }
			</script>
		<table width="65%">
				<tr>
                    <td><?php echo $this->translate("From Date")?></td>
                    <td><?php echo $this->lobjform->FromDate;?></td>
                    <td></td><td><?php echo $this->translate("To Date")?></td>
                    <td><?php echo $this->lobjform->ToDate;?></td></tr>
               <tr><td></td><td></td>
               <td ><?php echo $this->lobjform->Search;?>
					<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Clear"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'reports','controller'=>'schedulereport','action'=>'index'),'default',true);?>';" />
				</td>
               </tr>
		</table>
	</form>	
		</div>
	</fieldset> 
<br>

<fieldset>
<form id="myForm1" name = "myform1" action="<?php echo $this->baseUrl();?>/reports/schedulereport/fnexportexcel" method="POST">
    <table  width="100%" border = '1'>
    <?php $dat =  $this->dates;?>
    <tr>
        <th style="background-color:grey"><b><?php echo $this->translate("VENUES / DATE ")?></b></th>
        <?php for($lvars=0;$lvars<count($dat);$lvars++){?>
		<th style="background-color:grey"><b><?php echo $dat[$lvars]['Date'];?><br>
		<?php echo $dat[$lvars]['dayname'];}?></b></th>
    </tr>
     <?php $ven =  $this->venues;?>
        <?php for($lvars=0;$lvars<count($ven);$lvars++){?>
        <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
        	<td class = "border " valign = "top"><?php echo $ven[$lvars]['centername']?></td>
        	 <?php for($j=0;$j<count($dat);$j++){?>
        	 
        	 <?php $this->lobjSchedulereport = new Reports_Model_DbTable_Schedulereportmodel();
        	       $idcenter = $ven[$lvars]['idcenter'];
        	       $date = $dat[$j]['date'];
        	       $larresult =$this->lobjSchedulereport->fngetseats($idcenter,$date); 
        	       $cnt = count($larresult);
        	       if($cnt==2)
        	       { ?> 
        	       	<td class = "border " valign = "top">
        	       		 <table width="100%">
        	       		 	<tr><td align="left"><?php echo $larresult[0]['ampmstart'];?></td>
        	       		 	<td align="right">[<?php echo $larresult[0]['Totalcapacity'];?>]</td></tr>
        	       		
        	       		    <tr><td align="left"><?php echo $larresult[1]['ampmstart'];?></td>
        	       		    <td align="right">[<?php echo $larresult[1]['Totalcapacity'];?>]</td></tr>
        	       	    </table>
        	       	</td><?php 
        	       }
        	      else if($cnt==1)
        	       { ?> 
        	       	<td class = "border " valign = "top">
        	       		<?php 
        	       	 echo $larresult[0]['ampmstart'];?>[<?php 
        	       	 echo $larresult[0]['Totalcapacity'];?>]
        	       	 </td><?php 
        	       }
        	       else 
        	       {?>
        	       	 <td class = "border " valign = "top" >No Exam</td>
        	       	 <?php 
        	       }
        	       ?>
        	 <?php }?>
        </tr>
    <?php }?>
	<table class = 'table' ><tr> 
        <td><?php echo $this->lobjform->ExportToExcel;?></td>
        <td><input type="hidden" name="FromDate" id="FromDate" value="<?php echo $this->FromDate;?>"></td>
       <td> <input type="hidden" name="ToDate" id="ToDate" value="<?php echo $this->ToDate;?>"></td>
   </tr>
   </table>	
</table>
</form>
</fieldset>
</body>
</html>
