
<script type="text/javascript">
    dojo.require("dijit.form.TimeTextBox");
    dojo.addOnLoad(function() {
    	
    	dijit.byId('Year').set('value','');
    	dijit.byId('Year').set('placeHolder','Select Year');
       
    });

    function checkAll(){
     	nodes = dojo.query('[name=\"idcenter[]\"]');
     	if(document.getElementById('idcenter').checked == true) {		 
     		
     		dojo.forEach(nodes,
     		    function(node)
     		    {
     		        dijit.getEnclosingWidget(node).set("checked",true);
     		    }
     		);
     	}
     	else {	
     		dojo.forEach(nodes,
     			    function(node)
     			    {
     			        dijit.getEnclosingWidget(node).set("checked",false);
     			    }
     			);
     	}
     }

    function validateform(){
        
      	 var n = <?php echo count($this->days);?>;
      	 //alert(n);
      	 flgs = 0;	 
      	 for(i=1;i<=n;i++){
      		 
      		if(document.getElementById("iddays"+i).checked) 
      			flgs	=	1;
      		
      	 }		
      	 if( flgs == 0){
      	    alert('Please Select Atleast One Day');	
      	    return false;	   	     
      	 }
      	 else{   	      
      	var n1 = <?php echo count($this->courses);?>;
      	 //alert(n1);
      	 flgs = 0;	 
      	 for(i=1;i<=n1;i++){
      		 
      		if(document.getElementById("idprogram"+i).checked) 
      			flgs	=	1;
      		
      	 }		
      	 if( flgs == 0){
      	    alert('Please Select Atleast One Course');		
      	    return false;
      	 }
      	 else{
      	   
      	 
      	var n2 = <?php echo count($this->mansession);?>;
      	//alert(n2);
      	 flgs = 0;	 
      	 for(i=1;i<=n2;i++){
      		 
      		if(document.getElementById("idsession"+i).checked) 
      			flgs	=	1;
      		
      	 }		
      	 if( flgs == 0){
      	    alert('Please Select Atleast One Session');		
      	     return false;
      	 }
      	 else{
      	   
      	  
      	 
      	var n3 = <?php echo count($this->centerarray);?>;
      	//alert(n3);
      	 flgs = 0;	 
      	 for(i=1;i<=n3;i++){
      		 
      		if(document.getElementById("idcenter"+i).checked) 
      			flgs	=	1;
      		
      	 }		
      	 if( flgs == 0){
      	    alert('Please Select Atleast One Venue');		
      	     return false;
      	 }
      	 else{
      	   return true;
      	 }
      	}
      }
     }	
    }
    
    function fnGetMonthList(idyear){ 
    	if(idyear != "" || idyear != undefined)
    		{  
    		var xhrArgs = {
    				url: "<?php echo $this->baseUrl();?>"+"/scheduler/newscheduler/getmonthlist/idyear/"+idyear,
    				handleAs:'json',
    				load:function(data){ 
    					AutoFillNextEditableDropDown("From",data); 
    				}
    		   }
    		dojo.xhrGet(xhrArgs);  
    			
    		} 
    	} 

    function fnGetToMonthList(idmonth){ 
    	if(idmonth != "")
    		{  
    		var xhrArgs = {
    				url: "<?php echo $this->baseUrl();?>"+"/scheduler/newscheduler/gettomonthlist/idmonth/"+idmonth,
    				handleAs:'json',
    				load:function(data){ 
    					AutoFillNextEditableDropDown("To",data); 
    				}
    		   }
    		dojo.xhrGet(xhrArgs);  
    			
    		} 
    	} 
	
    	function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
    		dijit.byId(EditableDropDownId).setValue("");
    		var ddwidget = dijit.byId(EditableDropDownId);
    		ddwidget.setAttribute('disabled', false);
        	var options = {
    					label:"name",
    					identifier:"key",
    					items:JSONText
    				  };
        	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
    	}
        
    
</script>
</script> 
<fieldset>
    <legend><?php echo $this->translate("New Scheduler");?></legend>
    
                <Form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">
                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>
                    <table class="table" width="100%" >
                        <tr>
                            <th colspan = "4"><?php echo $this->translate("Scheduler").' '.$this->translate("Details");?>	<?php echo $this->lobjprogramForm->UpdDate;?>
                            	<?php echo $this->lobjprogramForm->UpdUser;?></th>
                        </tr>
                         <tr>
                            <td ><?php echo $this->translate("Select").' '.$this->translate("Year");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjprogramForm->Year;?>
                            </td>
                        </tr>
                        
                        <tr>
                            <td ><?php echo $this->translate("Select").' '.$this->translate("Month");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->translate("From")?><?php echo $this->lobjprogramForm->From;?><?php echo $this->translate("To")?><?php echo $this->lobjprogramForm->To;?>
                            </td>
                        </tr>
                        
                         <tr>
                            <td ><?php echo $this->translate("Description");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjprogramForm->description;?>
                            </td>
                        </tr>
                        
                         <tr>
                            <th colspan = "4"><?php echo $this->translate("Days");?></th>
                        </tr>
                        
                         <tr>
                            <td valign="top"><?php echo $this->translate("Select").' '.$this->translate("Days");?><span class="reqMark">*</span></td>
                         	  <td>
                             <?php $cnt4=0; foreach ($this->days as $larrdays ): $cnt4++?>
                         <input type="checkbox" dojoType="dijit.form.CheckBox" name="iddays[]" value="<?php echo $larrdays['iddays'];?>" id="iddays<?php echo $cnt4;?>"><?php  echo $larrdays['Days'];?><br>
     		            <?php  endforeach; ?>
                              </td>
                         </tr>
                          <tr>
                            <th colspan = "4"><?php echo $this->translate($this->Course).' '.$this->translate("Master");?></th>
                        </tr>
                          <tr>
                            <td valign="top"><?php echo $this->translate("Select").' '.$this->translate("Examination").' '.$this->translate("Type");?><span class="reqMark">*</span></td> 
                            <td>
                             <?php $mn=0; $active=$this->activeset; $cnt=0; foreach ($this->courses as $larrcenter ): $cnt++?>
                    
                         <input type="checkbox" dojoType="dijit.form.CheckBox" name="idprogram[]" value="<?php echo $larrcenter['IdProgrammaster'];?>" id="idprogram<?php echo $cnt;?>"><?php  echo $larrcenter['ProgramName'];?><?php  //echo ' '.'('.$active[$mn]['BatchName'].')';?><br>
     		            <?php $mn++; endforeach; ?>
                              </td>
                            
                            </tr>
                           <tr>
                            <th colspan = "4"><?php echo $this->translate("Session").' '.$this->translate("Master");?></th>
                           </tr>
                             <tr>
                            <td valign="top"><?php echo $this->translate("Select").' '.$this->translate("Session");?><span class="reqMark">*</span></td> 
                            <td>
                             <?php $cnt1=0; foreach ($this->mansession as $larrsession ): $cnt1++?>
                    
                         <input type="checkbox" dojoType="dijit.form.CheckBox" name="idsession[]" value="<?php echo $larrsession['idmangesession'];?>" id="idsession<?php echo $cnt1;?>"><?php  echo $larrsession['managesessionname'];?><?php  echo '('.''.$larrsession['starttime'].' '.$this->translate("To").' '.$larrsession['endtime'].')';?><br>
     		            <?php  endforeach; ?>
                              </td>
                            
                            </tr>
                             <tr>
                            <th><?php echo $this->translate($this->Center).' '.$this->translate("Master");?></th>
                             <th colspan="3"><input type="checkbox" dojoType="dijit.form.CheckBox" name="idcenter" onClick="checkAll();" id="idcenter">Check All</th>
                           </tr>
                             <tr>
                            <td valign="top"><?php echo $this->translate("Select").' '.$this->translate("Venue");?><span class="reqMark">*</span></td> 
                            <td>
                              <table>
                             <?php $cnt2=0;  foreach ($this->centerarray as $larrcenter ):$cnt2++?>
                      <tr><td>
                                 <input type="checkbox" dojoType="dijit.form.CheckBox" name="idcenter[]" value="<?php echo $larrcenter['idcenter'];?>" id="idcenter<?php echo $cnt2;?>" ><?php echo  $larrcenter['centername'];?></td><td>Sit Capacity:</td><td><input type="text" name='capacity[<?php echo $larrcenter['idcenter'];?>]' value='' id='capacity<?php echo $larrcenter['idcenter'];?>'></td>
                           </tr>
     		            <?php  endforeach; ?></table>
                              </td>
                            
                            </tr>
                            <tr>
                            <td><?php echo $this->translate("Active");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjprogramForm->Active;?></td>
                        </tr>
               			<tr>
                            <td colspan=4 align = "right">
                            <input type="submit" class="NormalBtn" dojotype="dijit.form.Button" id="Save" name="Save" value="Save" label="<?php echo $this->translate("Save");?>" onClick="return validateform();"/>									
							<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'scheduler','controller'=>'newscheduler', 'action'=>'index'),'default',true);?>';" />	
                            </td> 
                               
                        </tr>           
                        
              </table>
            
            </Form>

</fieldset>
