
<head>
<script>
dojo.addOnLoad(function(){
	dijit.byId('field3').focus();	
	});
</script>
</head>

<fieldset>
<legend><?php echo $this->translate->_("Takafulpayment Search");?></legend>
<form id="initconfigForm" name="form1" method="post" action="<?php echo $this->baseUrl();?>/general-setup/takafulpayment/index/search/1">
	    	<table width="100%">	    		
      			<tr>     			
         			<td class="label"><?php echo $this->translate->_("Takaful Name")?></td>
        			<td><?php echo $this->lobjform->field3?></td>	        	
      			</tr>		   
		      	  <tr>
	               <td align = "center" colspan = "4">
						<?php echo $this->lobjform->Search;?>
						<?php echo $this->lobjform->Clear;?>
				   </td>
				   </tr>      	
	        </table>		
</form>
</fieldset>
<br />
<fieldset>
  	<table class="table" width="100%" cellpadding="5" cellspacing="1">
		<thead>
    		<tr>
				<th><?php echo $this->translate->_("Takaful Name");?></th>	
				<th><?php echo $this->translate->_("Contact Person");?></th>	
				<th><?php echo $this->translate->_("Email");?></th>	
															
    		</tr>
    	</thead>
    	<?php  if (count($this->paginator)): ?>    	
    	<tbody>       	            
            <?php   foreach ($this->paginator as $lobjcategory ): // ($this->accountdetails as $lobjcategory ): ?>
            <tr>  
          		<td><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'takafulpayment', 'action'=>'takafulpaymentedit' , 'lvaredit'=>$lobjcategory['IDApplication']),'default',true);?>" ><?php  echo $lobjcategory['TakafulName'];?></a></td>
          		  <td><?php  echo $lobjcategory['ContactName'];?></td>      		           	
          		  <td><?php  echo $lobjcategory['ContactEmail'];?></td>
     		</tr>
     		<?php  endforeach; ?>
     		 <?php  endif; ?>
     	</tbody>		
     		<tr>
	        	<td colspan="8" align="right"><div class="pagination"><?php  echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>
      </table>
   </fieldset> 
   </html>
