<html>
<head>
</head>
<body class="claro">            
	<fieldset >
	<legend><?php echo $this->translate->_("Takaful Data");?></legend>
		 <form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm" >
			<script type="dojo/method" event="onSubmit" >
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>		
	    	   <table class="table" width="100%" >
                    	
                    <tr>         							                        
         			  <td class="label" ><?php echo $this->translate->_("Takaful Name")?><span class="reqMark">*</span></td>
        			  <td colspan="3"><?php echo $this->takafulname;?></td>
        			</tr> 
        			<tr>         							                        
         			  <td class="label" ><?php echo $this->translate->_($this->Course)?><span class="reqMark">*</span></td>
        			  <td colspan="3"><?php echo $this->progname;?></td>
        			</tr>
        			<tr>         							                        
         			  <td class="label" ><?php echo $this->translate->_("Cheque Number")?><span class="reqMark">*</span></td>
        			  <td colspan="3"><?php echo $this->lobjTakafulpaymentForm->ChequeNo;?></td>
        			</tr>
        			<tr>         							                        
         			  <td class="label" ><?php echo $this->translate->_("Cheque Date")?><span class="reqMark">*</span></td>
        			  <td colspan="3"><?php echo $this->lobjTakafulpaymentForm->ChequeDt;?></td>
        			</tr>
        			<tr>         							                        
         			  <td class="label" ><?php echo $this->translate->_("Bank Name")?><span class="reqMark">*</span></td>
        			  <td colspan="3"><?php echo $this->lobjTakafulpaymentForm->BankName;?></td>
        			</tr>       			
        			<tr>		        	
      			      <td class="label"><?php echo $this->translate->_("Amount")?></span><span class="reqMark">*</span></td>
        			  <td colspan="3"><?php echo $this->lobjTakafulpaymentForm->Amount;?></td>		
        		    </tr>	
        		      <input type="hidden" name="takafulemail" id="takafulemail" value="<?php echo $this->takafulemail;?>">
        		       <input type="hidden" name="takafulname" id="takafulname" value="<?php echo $this->takafulname;?>">
        		     <tr>
                       <td></td>
                       <td></td>
                       <td></td>        
                       <td align = "right"><?php echo $this->lobjTakafulpaymentForm->Save;?>
					   <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'general-setup','controller'=>'takafulpayment', 'action'=>'index'),'default',true);?>';" />	
                       </td> 
                    </tr>       
            </table>		
		</form>
	</fieldset>
</body>
</html>
          