<html>
<head>
<script>
dojo.addOnLoad(function()
		       {
	              dijit.byId('field2').focus();	
	           }
	          );
</script>
</head>
<body class="claro">
    <fieldset>
    <table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr>
        <th><?php echo $this->translate("Exam-Set Name") ?></th>
        <th><?php echo $this->translate("Program Name") ?></th>
        <th><?php echo $this->translate("No Of Questions") ?></th>
        <th><?php echo $this->translate("Time Required") ?></th>
         <th><?php echo $this->translate("Alert Time") ?></th>
         <th><?php echo $this->translate("Status") ?></th>
    </tr>
        <?php if (count($this->paginator)): ?>
        <?php foreach ($this->paginator as $exam ): ?>
    <tr>
    <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
     <td><a href="<?php echo $this->baseUrl();?>/examination/examset/view/id/<?php echo $this->escape($exam['IdTOS']);?>" >
        		<?php echo $this->escape($exam['BatchName']);?>
   			</a>
   		</td>
    	<td><?php echo $this->escape($exam['ProgramName']);?></td>
    	<td><?php echo $this->escape($exam['NosOfQues']);?></td>
    	<td><?php echo $this->escape($exam['TimeLimit']);?></td>
    	<td><?php echo $this->escape($exam['AlertTime']);?></td>   
    		<td><?php if($exam['Active']!=1){echo $this->translate->_("Inactive"); }else { echo $this->translate->_("Active");}?></td>       
     <?php endforeach; ?>
     <?php endif; ?>
                
    </tr>
    <tr>
	    <td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   	</tr>
</table>
</fieldset>     
</body>
</html>























