<html>
	<body>  
		<fieldset>
              <legend>Exam Set Details </legend>
    		<table class="table" width="100%" cellpadding="5" cellspacing="1">
    			<tr><td><b><?php echo $this->translate("Program Name :");echo $this->prgramname?></b></td>
    			
    			<td colspan="4" align="right">
    				<div style="text-align:right;">
    					
    					<span style="color:green;">(Active)</span>
    					<span style="color:red;">(Inactive)</span>
    					<span style="color:blue;">(Review)</span>
    				</div>
    			</td>
    			</tr>
        		<tr><td><b><?php echo $this->translate("Set Name :");echo $this->setname?></b></td></tr>
    			<?php  $tolpartss3=$this->groups; $eachpartsss=$this->eachgrp; $partsum1=0;$partsum2=0;
    			for($ip=0;$ip<count($tolpartss3);$ip++) {?>
	     			<tr>
		     			<td><b><?php echo $this->translate("Group name :");
		     			echo $this->escape($tolpartss3[$ip]['QuestionGroup']);?>=<?php 
		     			if (array_key_exists($tolpartss3[$ip]['QuestionGroup'],$eachpartsss)) 
		     			{ 
		     				$idpart=$tolpartss3[$ip]['QuestionGroup']; 
		     				echo $this->escape($eachpartsss[$idpart]); 
		     			}
    					
		     			?>&nbsp;<span style="color:green;">(<?php echo $this->escape($tolpartss3[$ip]['cnt']);?>)</span>
		     			<?php if(isset($this->totalinactivequestions[$ip]['Active']) && $this->totalinactivequestions[$ip]['Active']==0){?>
		     				<span style="color:red;">(<?php echo $this->totalinactivequestions[$ip]['cnt'];?>)</span>
		     			<?php }else{?>
		     				<span style="color:red;">(<?php echo "0";?>)</span>
		     			<?php }?>
		     			<?php if(isset($this->totalreviewquestions[$ip]['Active']) && $this->totalreviewquestions[$ip]['Active']==2){?>
		     				<span style="color:blue;">(<?php echo $this->totalreviewquestions[$ip]['cnt'];?>)</span>
		     			<?php }else{?>
		     				<span style="color:blue;">(<?php echo "0";?>)</span>
		     			<?php }?>
		     			
		     			
		     			<?php if($ip==0){
		     			$partsum1=$partsum1+$tolpartss3[$ip]['cnt']+$this->totalinactivequestions[$ip]['cnt']+$this->totalreviewquestions[$ip]['cnt'];
		     				
		     				?>
		     			=<?php echo $partsum1;?>
		     			<?php }?>
		     			<?php if($ip==1){
		     			$partsum2=$partsum2+$tolpartss3[$ip]['cnt']+$this->totalinactivequestions[$ip]['cnt']+$this->totalreviewquestions[$ip]['cnt'];
		     				
		     				?>
		     			=<?php echo $partsum2;?>
		     			<?php }?>
		     			</b>
		     			
		     			<td>
	     			</tr>
     			<?php }?>
			    <tr>
			        <th><?php echo $this->translate("Chapter Name");echo  "(max)(max)(max)"; ?></th>
			        <th><?php echo $this->translate("Total Number of Questions");?></th>
			        <th><?php echo $this->translate("Easy Questions");echo  "(max)(max)(max)";  ?></th>
			        <th><?php echo $this->translate("Medium Questions");echo  "(max)(max)(max)";  ?></th>
			        <th><?php echo $this->translate("Difficult Questions");echo  "(max)(max)(max)";  ?></th>
			    </tr>
        		<?php $larresult=$this->tosfull;  
        		if (count($this->chapters)): ?>
       				 <?php $exactvalues=$this->exactvalue; $larrlevelchapter=$this->levelchapters; 
        				$sum=0; $sum1=0; $sum2=0; $sum3=0; $activesum=0;$inactivesum=0;$reviewsum=0;$activeeasy=0;$inactiveeasy=0;$revieweasy=0;$activemed=0;$inactivemed=0;$reviewmed=0;$activediff=0;$inactivediff=0;$reviewdiff=0;
        				foreach ($this->chapters as $exam ): ?>
 							<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
						     <td><?php echo $this->escape($exam['QuestionNumber']);?>&nbsp&nbsp &nbsp&nbsp<span style="color:green;">(<?php echo $this->escape($exam['cnt']);?>)</span>
						        <?php 
						        $lobjGroup = new Examination_Model_Examsetmodel();
						        $inctivechaptr=$lobjGroup->fngetinactivechapters($exam['QuestionNumber']);
						        $revchaptr=$lobjGroup->fngetreviewchapters($exam['QuestionNumber']);
						        ?>
						        <span style="color:red;">(<?php echo $this->escape($inctivechaptr['0']['chcount']);?>)</span>
						        <span style="color:blue;">(<?php echo $this->escape($revchaptr['0']['chcount']);?>)</span>
						        <?php $activesum=$activesum+$this->escape($exam['cnt']);?>
						        <?php $inactivesum=$inactivesum+$inctivechaptr['0']['chcount'];?>
						        <?php $reviewsum=$reviewsum+$revchaptr['0']['chcount'];?>
						        
						   	</td>
						    	<?php  
						    	//echo count($this->chapters);echo "-";
						    	//echo count($larresult);
						    	
						    	$kn=0; for($ip=0;$ip<count($larresult);$ip++) {?>
						    					<?php if($exam['QuestionNumber']==$larresult[$ip]['QuestionNumber']) {
						    					
						    						//echo $exam['QuestionNumber'];
						    						//echo $larresult[$ip]['QuestionNumber'];
						    						?>
						    					<?php if($kn==0){ $sum=$sum+$larresult[$ip]['tdNosOfQuestion'];?>
												    	<td><?php echo $this->escape($larresult[$ip]['tdNosOfQuestion']);?></td>
												    		<?php }?>
												    		<?php  if($larresult[$ip]['IdDiffcultLevel']==1){   
												    					$sum1=$sum1+$larresult[$ip]['NoofQuestions']; ?>
												    					<td><?php echo $this->escape($larresult[$ip]['NoofQuestions']);?>&nbsp&nbsp &nbsp&nbsp<span style="color:green;">(<?php if(array_key_exists($larresult[$ip]['QuestionNumber'],$larrlevelchapter)){ $keyvalue=$larresult[$ip]['QuestionNumber']; if(empty($larrlevelchapter[$keyvalue][1])){$larrlevelchapter[$keyvalue][1]=0;} echo $this->escape($larrlevelchapter[$keyvalue][1]); }?>)</span>
															    			<?php 
															    			$easyinactivetotal=$lobjGroup->fngetinactiveeasy($larresult[$ip]['QuestionNumber']);
															    			$easyreviewtotal=$lobjGroup->fngetrevieweeasy($larresult[$ip]['QuestionNumber']);
															    			?>
															    			 <span style="color:red;">(<?php echo $this->escape($easyinactivetotal['0']['chcount']);?>)</span>
															    			 <span style="color:blue;">(<?php echo $this->escape($easyreviewtotal['0']['chcount']);?>)</span>
															    			<?php 
															    			
															    			$activeeasy=$activeeasy+$larrlevelchapter[$keyvalue][1];
															    			$inactiveeasy=$inactiveeasy+$easyinactivetotal['0']['chcount'];
															    			$revieweasy=$revieweasy+$easyreviewtotal['0']['chcount'];
															    			
															    			?>
															    		</td>
															    	<?php } ?>
															    	<?php if($larresult[$ip]['IdDiffcultLevel']==2){ 
															    				$sum2=$sum2+$larresult[$ip]['NoofQuestions'];?>
															    		<td><?php echo $this->escape($larresult[$ip]['NoofQuestions']);?>&nbsp&nbsp &nbsp&nbsp<span style="color:green;">(<?php if(array_key_exists($larresult[$ip]['QuestionNumber'],$larrlevelchapter)){ $keyvalue=$larresult[$ip]['QuestionNumber'];  if(empty($larrlevelchapter[$keyvalue][2])){$larrlevelchapter[$keyvalue][2]=0;} echo $this->escape($larrlevelchapter[$keyvalue][2]); }?>)</span>
																	    	<?php 
																	    	$medinactivetotal=$lobjGroup->fngetinactivemed($larresult[$ip]['QuestionNumber']);
																	    	$medreviewtotal=$lobjGroup->fngetreviewemed($larresult[$ip]['QuestionNumber']);
																	    	?>
																	    	<span style="color:red;">(<?php echo $this->escape($medinactivetotal['0']['chcount']);?>)</span>
																	    	<span style="color:blue;">(<?php echo $this->escape($medreviewtotal['0']['chcount']);?>)</span>
																	    	<?php 
																	    	$activemed=$activemed+$larrlevelchapter[$keyvalue][2];
															    			$inactivemed=$inactivemed+$medinactivetotal['0']['chcount'];
															    			$reviewmed=$reviewmed+$medreviewtotal['0']['chcount'];
																	    	?>
															    		</td>
															    	<?php }?>
															    	<?php if($larresult[$ip]['IdDiffcultLevel']==3){ 
															    			$sum3=$sum3+$larresult[$ip]['NoofQuestions'];?>
																    	<td><?php echo $this->escape($larresult[$ip]['NoofQuestions']);?>&nbsp&nbsp &nbsp&nbsp<span style="color:green;">(<?php if(array_key_exists($larresult[$ip]['QuestionNumber'],$larrlevelchapter)){ $keyvalue=$larresult[$ip]['QuestionNumber'];  if(empty($larrlevelchapter[$keyvalue][3])){$larrlevelchapter[$keyvalue][3]=0;} echo $this->escape($larrlevelchapter[$keyvalue][3]); }?>)</span>
																	    	<?php 
																	    	$difinactivetotal=$lobjGroup->fngetinactivedif($larresult[$ip]['QuestionNumber']);
																	    	$difreviewtotal=$lobjGroup->fngetreviewedif($larresult[$ip]['QuestionNumber']);
																	    	?>
																	    	<span style="color:red;">(<?php echo $this->escape($difinactivetotal['0']['chcount']);?>)</span>
																	    	<span style="color:blue;">(<?php echo $this->escape($difreviewtotal['0']['chcount']);?>)</span>
																	    	<?php 
																	    	$activediff=$activediff+$larrlevelchapter[$keyvalue][3];
															    			$inactivediff=$inactivediff+$difinactivetotal['0']['chcount'];
															    			$reviewdiff=$reviewdiff+$difreviewtotal['0']['chcount'];
															    			
																	    	?>
																	    	
																    	</td>
															    	<?php } ?>
						    	
															    	<?php if(empty($larresult[$ip]['IdDiffcultLevel'])){ ?>
																    	<td><?php echo "0";?>&nbsp&nbsp &nbsp&nbsp<span style="color:green;">(<?php 
																    	
																	    	if(array_key_exists($larresult[$ip]['QuestionNumber'],$larrlevelchapter))
																	    	{ 
																	    		$keyvalue=$larresult[$ip]['QuestionNumber']; 
																	    	
																	    		if(empty($larrlevelchapter[$keyvalue][1]))
																	    		{
																	    			$larrlevelchapter[$keyvalue][1]=0;
																	    		} 
																	    		echo $this->escape($larrlevelchapter[$keyvalue][1]); 
																	    	}?>)</span>
																	    	
																	    	
																	    	<?php 
															    			$easyinactivetotal=$lobjGroup->fngetinactiveeasy($larresult[$ip]['QuestionNumber']);
															    			$easyreviewtotal=$lobjGroup->fngetrevieweeasy($larresult[$ip]['QuestionNumber']);
															    			?>
															    			<span style="color:red;">(<?php echo $this->escape($easyinactivetotal['0']['chcount']);?>)</span>
															    			<span style="color:blue;">(<?php echo $this->escape($easyreviewtotal['0']['chcount']);?>)</span>
															    			<?php 
															    			$activeeasy=$activeeasy+$larrlevelchapter[$keyvalue][1];
															    			$inactiveeasy=$inactiveeasy+$easyinactivetotal['0']['chcount'];
															    			$revieweasy=$revieweasy+$easyreviewtotal['0']['chcount'];
															    			?>
																	    	
																    	</td>
																    	<td><?php echo "0";?>&nbsp&nbsp &nbsp&nbsp<span style="color:green;">(<?php if(array_key_exists($larresult[$ip]['QuestionNumber'],$larrlevelchapter)){ $keyvalue=$larresult[$ip]['QuestionNumber'];  if(empty($larrlevelchapter[$keyvalue][2])){$larrlevelchapter[$keyvalue][2]=0;} echo $this->escape($larrlevelchapter[$keyvalue][2]); }?>)</span>
																    	<?php 
																	    	$medinactivetotal=$lobjGroup->fngetinactivemed($larresult[$ip]['QuestionNumber']);
																	    	$medreviewtotal=$lobjGroup->fngetreviewemed($larresult[$ip]['QuestionNumber']);
																	    	?>
																	    	<span style="color:red;">(<?php echo $this->escape($medinactivetotal['0']['chcount']);?>)</span>
																	    	<span style="color:blue;">(<?php echo $this->escape($medreviewtotal['0']['chcount']);?>)</span>
																	    	<?php 
																	    	$activemed=$activemed+$larrlevelchapter[$keyvalue][2];
															    			$inactivemed=$inactivemed+$medinactivetotal['0']['chcount'];
															    			$reviewmed=$reviewmed+$medreviewtotal['0']['chcount'];
																	    	?>
																    	</td>
																       	<td><?php echo "0";?>&nbsp&nbsp &nbsp&nbsp<span style="color:green;">(<?php if(array_key_exists($larresult[$ip]['QuestionNumber'],$larrlevelchapter)){ $keyvalue=$larresult[$ip]['QuestionNumber'];  if(empty($larrlevelchapter[$keyvalue][3])){$larrlevelchapter[$keyvalue][3]=0;} echo $this->escape($larrlevelchapter[$keyvalue][3]); }?>)</span>
																       	<?php 
																	    	$difinactivetotal=$lobjGroup->fngetinactivedif($larresult[$ip]['QuestionNumber']);
																	    	$difreviewtotal=$lobjGroup->fngetreviewedif($larresult[$ip]['QuestionNumber']);
																	    	?>
																	    	<span style="color:red;">(<?php echo $this->escape($difinactivetotal['0']['chcount']);?>)</span>
																	    	<span style="color:blue;">(<?php echo $this->escape($difreviewtotal['0']['chcount']);?>)</span>
																	    	<?php 
																	    	$activediff=$activediff+$larrlevelchapter[$keyvalue][3];
															    			$inactivediff=$inactivediff+$difinactivetotal['0']['chcount'];
															    			$reviewdiff=$reviewdiff+$difreviewtotal['0']['chcount'];
															    			
																	    	?>
																       	</td>
															    
															    	<?php } 
														$kn++;}?>
						    	
						    	<?php }?>
						    	</tr>
				<?php endforeach; ?>
				<tr>
					<td colspan="6"><hr/></td>
				</tr>
				<tr>
					<td>Total &nbsp&nbsp
						<span style="color:green;">(<?php echo $activesum;?>)</span>
						<span style="color:red;">(<?php echo $inactivesum;?>)</span>
						<span style="color:blue;">(<?php echo $reviewsum;?>)</span>
					</td>
					<td></td>
					<td>&nbsp&nbsp&nbsp&nbsp
						<span style="color:green;">(<?php echo $activeeasy;?>)</span>
						<span style="color:red;">(<?php echo $inactiveeasy;?>)</span>
						<span style="color:blue;">(<?php echo $revieweasy;?>)</span>
					</td>
					<td>&nbsp&nbsp&nbsp&nbsp
						<span style="color:green;">(<?php echo $activemed;?>)</span>
						<span style="color:red;">(<?php echo $inactivemed;?>)</span>
						<span style="color:blue;">(<?php echo $reviewmed;?>)</span>
					</td>
					<td>&nbsp&nbsp&nbsp&nbsp
						<span style="color:green;">(<?php echo $activediff;?>)</span>
						<span style="color:red;">(<?php echo $inactivediff;?>)</span>
						<span style="color:blue;">(<?php echo $reviewdiff;?>)</span>
					</td>
				</tr>
				<tr>
					<td colspan="6"><hr/></td>
				</tr>
   				<tr>
     				<td></td>
          			<td><b><?php echo $this->translate("Total TOS Questions = ");echo  $sum; ?></b></td>
               		<td><b><?php echo $this->translate("Total TOS Easy = ");echo  $sum1; ?></b></td>
                    <td><b><?php echo $this->translate("Total TOS Medium = ");echo  $sum2; ?></b></td>
                    <td><b><?php echo $this->translate("Total TOS difficult = ");echo  $sum3; ?></b></td>
                </tr>
            	<tr><td  colspan="5" align="right"><input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo "Back";?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'examination','controller'=>'createexam', 'action'=>'index'),'default',true);?>';" /><td></tr> 
     		<?php endif; ?>

		</table>
		</fieldset> 
	</<body>
</html>

<?php 


?>
