<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html dir="ltr">
    
    <head>
        <style type="text/css">
            body, html { font-family:helvetica,arial,sans-serif; font-size:90%; }
        </style>
        <script src="http://ajax.googleapis.com/ajax/libs/dojo/1.6/dojo/dojo.xd.js"
        djConfig="parseOnLoad: true">
        </script>
        <script type="text/javascript">
            dojo.require("dijit.form.TimeTextBox");
            dojo.addOnLoad(function() {
                 id = <?php echo $this->edittrue;?>;                 
                 if(id ==1)
                 {
                	 dat = "<?php echo $this->fromtime;?>";
                	 dat1 = "<?php echo $this->totime;?>";

                 }
               if(id==0){
                new dijit.form.TimeTextBox({
                    name: "prog_val",
                    value: new Date(),
                    constraints: {
                        timePattern: 'HH:mm:ss',
                        clickableIncrement: 'T00:15:00',
                        visibleIncrement: 'T00:15:00',
                        visibleRange: 'T01:00:00'
                    }
                },
                "prog_val");
                new dijit.form.TimeTextBox({
                    name: "prog_val1",
                    value: new Date(),
                    constraints: {
                        timePattern: 'HH:mm:ss',
                        clickableIncrement: 'T00:15:00',
                        visibleIncrement: 'T00:15:00',
                        visibleRange: 'T01:00:00'
                    }
                },
                "prog_val1");
               }
               else
               {
            	   new dijit.form.TimeTextBox({
                       name: "prog_val",
                       value:new Date(dat),
                       constraints: {
                           timePattern: 'HH:mm:ss',
                           clickableIncrement: 'T00:15:00',
                           visibleIncrement: 'T00:15:00',
                           visibleRange: 'T01:00:00'
                       }
                   },
                   "prog_val");

            	   new dijit.form.TimeTextBox({
                       name: "prog_va1l",
                       value:new Date(dat1),
                       constraints: {
                           timePattern: 'HH:mm:ss',
                           clickableIncrement: 'T00:15:00',
                           visibleIncrement: 'T00:15:00',
                           visibleRange: 'T01:00:00'
                       }
                   },
                   "prog_val1");
               }
            });

            function fngettime()
            {
               
                var from = document.getElementById('prog_val').value;
                var iddates = document.getElementById('iddates').value;
                var to =document.getElementById('prog_val1').value;
                if(to<from)
                {
                    alert('To time cannot ge greater than from time');
                    return false;
                }
                return true;
            }
        </script>
        <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/dojo/1.6/dijit/themes/claro/claro.css"
        />
    </head>
    
    <body class=" claro ">
  <form action="<?php echo $this->baseUrl();?>/general-setup/scheduler/tempvenuetime/datea/<?php echo $this->datetime;?>/iddate/<?php echo $this->iddate;?>" method="POST">   
 <table class="table" width="100%" >
                        <tr>
                            <th colspan = "4"><?php echo $this->translate("Exam Timings")?></th>
                        </tr>
                        <tr>
                            <td><?php echo $this->translate("Date:");?></td>
                            <td><?php echo $this->datetime;?></td>
                            <td></td>
                            <td><input type="hidden" name="iddates" id="iddates" value=<?php echo $this->iddate;?>></td>
                            <td><input type="hidden" name="date" id="date" value=<?php echo $this->datetime;?>></td>
                            <td><input type="hidden" name="idtempvenuetimings" id="idtempvenuetimings" value="<?php echo $this->idtempvenuetimings;?>"</td>
                        </tr> </tr> <?php $id  =  $this->edittrue;?> 
                        <tr>
                        	<td>From Time</td>
                            <td><input id="prog_val"/></td>
                            <td>To Time</td>
                            <td><input id="prog_val1"/>
                            <input type="submit" name="Save" id="add1" value="Add" onClick="return fngettime();"></td>
                        </tr>
    </table>  
    </form>                  
    <table class="table" width="100%" border="1" >
                        <tr>
                            <th><?php echo $this->translate("From Time")?></th>
                            <th><?php echo $this->translate("To Time")?></th>
                       
                          <?php   foreach ($this->larrtempresult as $tempresult ):?>
                         <tr>
 <td><a href="<?php echo $this->baseUrl();?>/general-setup/scheduler/tempvenuetime/datea/<?php echo $this->datetime;?>/iddate/<?php echo $this->iddate;?>/editid/<?php  echo $tempresult['idtempvenuetimings'];?>"><?php  echo $tempresult['Fromtime'];?></a></td>                        
          					<td><?php  echo $tempresult['Totime'];?></td>           	
     					</tr>
     		<?php  endforeach; ?>
                       
    </table>          
        
        
     
        <script type="text/javascript">
            dojo.addOnLoad(function() {
                if (document.pub) {
                    document.pub();
                }
            });
        </script>
    </body>

</html>