<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<html>
<head>
<script>
dojo.addOnLoad(function(){
	//dijit.byId('field3').focus();	
	});


dojo.addOnLoad(function(){
	//dijit.byId('field3').focus();	
	});
	
function validateform()
   {
	 var n = <?php echo count($this->paginator); ?>;
	 
	 flgs = 0;	 
	 for(i=0;i<=n;i++)
	 {
	      var element = document.getElementById("IdCompany"+i);
		  
	      if (element != null && element.value != '')
	     {
		   if(document.getElementById("IdCompany"+i).checked) 
		   flgs	=	1;
		 }
	 }		
	 if( flgs == 0)
	 {
	    alert('Please Select Atleast one company');		
	     return false;
	 }
	 else
	 {
	   return true;
	 }
    } 	

function checkAll(){
 	nodes = dojo.query('[name=\"idcompany[]\"]');
 	if(document.getElementById('centerid').checked == true) {		 
 		
 		dojo.forEach(nodes,
 		    function(node)
 		    {
 		        dijit.getEnclosingWidget(node).set("checked",true);
 		    }
 		);
 	}
 	else {	
 		dojo.forEach(nodes,
 			    function(node)
 			    {
 			        dijit.getEnclosingWidget(node).set("checked",false);
 			    }
 			);
 	}
 }



</script>
</head>
<body>
<fieldset>
<legend><?php echo $this->translate->_("Company Registration Pin Approval");?></legend>
<form dojoType="dijit.form.Form"  id="initconfigForm" name="form1" method="post" action="">
	    	<table width="100%">	    		
      			<tr>
      			
         			<td class="label"><?php echo $this->translate->_("Company Name")?></td>
        			<td><?php echo $this->lobjCompanypaymentForm->CompanyName?></td>	
        			<td class="label"><?php echo $this->translate->_("Registration Pin")?></td>
        			<td><?php echo $this->lobjCompanypaymentForm->Regpin?></td>        	
      			</tr>      			   
		      	<tr>
	               <td align = "center" colspan = "4">
						<?php echo $this->lobjCompanypaymentForm->Search;?>
						<?php echo $this->lobjCompanypaymentForm->Clear;?>
				   </td>
				</tr>      	
	        </table>		

</fieldset>
</form>
<br />
<form dojoType="dijit.form.Form"  id="initconfigForm1" name="form1" method="post" action="">
<?php  if (count($this->paginator)): ?>
<fieldset>
  	<table class="table" width="100%" cellpadding="5" cellspacing="1">
		<thead>
    		<tr>
			    <th><input type="checkbox" dojoType="dijit.form.CheckBox" name="centerid" onClick="checkAll();" id="centerid"></th>
				<th><?php echo $this->translate->_("Company Name");?></th>
				<th><?php echo $this->translate->_("Registration Pin")?></th>
				<th><?php echo $this->translate->_("Total Candidates")?></th>			   
    		</tr>
    	</thead>
    	    	
    	<tbody>       	            
            <?php  $cnnt=0; foreach ($this->paginator as $lobjcategory ): // ($this->accountdetails as $lobjcategory ): ?>
            <tr>  
          	    <td><input type="checkbox"  dojoType="dijit.form.CheckBox" name="idcompany[]" value="<?php echo $this->escape($lobjcategory['IdCompany']).','.$this->escape($lobjcategory['idBatchRegistration'])?>" id="IdCompany<?php echo $cnnt;?>"></td>
          		<td><?php  echo $lobjcategory['CompanyName'];?></td>
          		<td><?php  echo $lobjcategory['registrationPin'];?></td>
          		<td><?php  echo $lobjcategory['totalNoofCandidates'];?></td>
     		</tr>
     		<?php  $cnnt++; endforeach; ?>
     		
     	</tbody>		
     		 <tr>
                  <td colspan="4" align="right"><input type='submit'  dojotype="dijit.form.Button" id="Approve" name="Approve" value="Approve" label = "<?php echo $this->translate('Approve')?>" onclick="return validateform()" /></td>
             </tr>
			 <?php  endif; ?> 
		</table>
   </fieldset> 
   
   </form>
   </body>
   </html>
