<fieldset>
    <legend><?php echo $this->translate("Grade").' '.$this->translate("Master").' '.$this->translate("search");?></legend>
                    <form action="<?php echo $this->baseUrl();?>/general-setup/gradebase/index/search/1" method="POST">
                            <table width="100%">
                                <tr>
                                    <td><?php echo $this->translate("Grade").' '.$this->translate("Name");?></td>
                                    <td><?php echo $this->lobjform->field3;?></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                               
                                <td align = "center" colspan = "4">

											<?php echo $this->lobjform->Search;?>
											<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Add"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'general-setup','controller'=>'gradebase', 'action'=>'newgradebase'),'default',true);?>';" />	
											<?php echo $this->lobjform->Clear;?>
								</td>
							    
                                </tr>
                        </table>
                    </form>	
    </fieldset> 
    <br/>
	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
	    	<tr>
	        	<th><?php echo $this->translate("Course").' '.$this->translate("Name");?></th>
	        	<th><?php echo $this->translate("Grade Name");?></th>
	        	<th><?php echo $this->translate("Min Marks");?></th>
	        	<th><?php echo $this->translate("Max Marks");?></th>
	        	
	    	</tr>
	        <?php if (count($this->paginator)): ?>
	        <?php foreach ($this->paginator as $lobjprogram): ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	<td><?php print_r($this->escape($lobjprogram['ProgramName']));?></a></td>
	        	<td><?php print_r($this->escape($lobjprogram['GradeName']));?></td>
	        	<td><?php print_r($this->escape($lobjprogram['Minmarks']));?></td>
	        	<td><?php print_r($this->escape($lobjprogram['Maxmarks']));?></td>
	            <?php endforeach; ?>
	            <?php endif; ?> 
			</tr>
			<tr>
	        	<td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>
		</table>
	</fieldset>