<script type="text/javascript">

	dojo.addOnLoad(function() {
	});

	var statarray = new Array();
	idss = 1;
	function addFormField() {	
		var StudentNameHTML = document.getElementById("Gradename").value;
		StudentIdHTML = document.getElementById("MinMarks").value;
		maxmarks = document.getElementById("Maxmarks").value;
		MinMarks = document.getElementById("MinMarks").value;
		
		//var StudentName = document.getElementById("field17").value;
		//var StudentNameHTML=document.getElementById("IdPart").value;		
	    var id = document.getElementById("idss").value;
		if(StudentNameHTML == "Select"||StudentNameHTML == "")
		{
		
			alert("Select Part Name");
		}
		else
		{ 		
				statarray.push(StudentNameHTML);
				if(arrHasDupes(statarray))
				{
					statarray = statarray.unique();
					alert("Duplicate Part Name");
				}
				else
				{					
					document.getElementById("divTxt").innerHTML =document.getElementById("divTxt").innerHTML+"<tr id='row" + idss + "'><td></td><td><input type='text' name='Gradename[]' id='Gradename' value='"+StudentNameHTML+"'></td><td><input type='text' name='MinMarks[]' id='MinMarks' value='"+MinMarks+"'></td><td><input type='text' name='maxmarks[]' id='maxmarks' value='"+maxmarks+"'><a href='#' onClick='removeFormField(\"#row" + idss + "\"\,\"" + StudentIdHTML + "\"\); return false;'><img src='<?php echo $this->baseUrl()?>/images/delete.png'  border=0 width='16' height='16'></a></td><td></td><td></td></tr>";
					idss++;
					document.getElementById("idss").value = idss;
				}
				
			
		}
	}
	function removeFormField(id,StudentIdHTML) {
		
		for(var i=0; i<statarray.length; i++) {
	        if(statarray[i] == StudentIdHTML) {
	        	statarray.splice(i, 1);
	            break;
	        }
		}
		
		document.getElementById("idss").remove();
		}
	function arrHasDupes( A ) {                          // finds any duplicate array elements using the fewest possible comparison
		var i, j, n;
		n=A.length;
	                                                     // to ensure the fewest possible comparisons
		for (i=0; i<n; i++) {                        // outer loop uses each item i at 0 through n
			for (j=i+1; j<n; j++) {              // inner loop only compares items j at i+1 to n
				if (A[i]==A[j]) return true;
		}	}
		return false;
	}
		
	Array.prototype.unique = function () {
	    var r = new Array();
	    o:for(var i = 0, n = this.length; i < n; i++)
	    {
	        for(var x = 0, y = r.length; x < y; x++)
	        {
	                if(r[x]==this[i])
	                {
	                	continue o;
	                }
	                
	        }
	        r[r.length] = this[i];
	    }
	    return r;
	}
	
</script> 
<fieldset>
    <legend><?php echo $this->translate("Grade").' '.$this->translate("Master");?></legend>
    
                <Form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">
                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>
                    <table class="table" width="100%" >
                        <tr>
                            <th colspan = "6"><?php echo $this->translate("Grade").' '.$this->translate("Master").' '.$this->translate("Name");?></th>
                        </tr>
                        <tr>
                           <td><?php echo $this->translate("Grade").' '.$this->translate("Name");?><span class="reqMark">*</span></td>
                           <td><?php echo $this->lobjGradebaseForm->Gradename;?></td>
                           <td><?php echo $this->translate("Minimum").' '.$this->translate("Marks");?><span class="reqMark">*</span></td>
                           <td><?php echo $this->lobjGradebaseForm->MinMarks;?></td>
                            <td><?php echo $this->translate("Maximum").' '.$this->translate("Marks");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjGradebaseForm->Maxmarks;?></td>
                            <td><input type="button" name="Add" onClick="addFormField(); return false;" value="Add" class="buttonStyle" dojoType="dijit.form.Button"  label="Add" ></a><input type="hidden" id="idss" value="1"> </td>
                        </tr>
                       
                     <tr>
                     
                           </tr>
                           <tbody id="divTxt"> 
                           
			                </tbody>
			          <tr>
			            <td ><?php echo $this->translate("Course").' '.$this->translate("Name");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjGradebaseForm->IdCourseMaster;?></td>
			           <td></td>
			           <td></td>
			          </tr>
               			<tr>
                            <td colspan=4 align = "right"><?php echo $this->lobjGradebaseForm->Save;?>
							<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'general-setup','controller'=>'takafuloperator', 'action'=>'index'),'default',true);?>';" />	
                            </td> 
                               
                        </tr>           
                        
              </table>
            
            </Form>

</fieldset>
