<head>

</head>
	<fieldset>
		<legend><?php echo $this->translate("Send").' '.$this->translate("Email");?></legend>
         <form dojoType="dijit.form.Form" action="<?php echo $this->baseUrl();?>/examination/sendemailtemplate/index" method="POST" name= "myForm">
            <table width="100%">
                <tr>
                   <td><?php echo $this->translate("Emailtemplate");?></td>
                   <td ><?php echo $this->lobjform->Emailtemplate;?></td>
                   <td><?php echo $this->translate("Email Address");?></td>
                   <td ><?php echo $this->lobjform->email;?></td>
                   <td><?php echo $this->lobjform->Send;?></td>
                </tr>
                
            </table>
        </form>	
    </fieldset> 
    