<html>
<head>
<script >
function checkAll(){
	nodes = dojo.query('[name=\"IDApplication[]\"]');
 	if(document.getElementById('checkAlls').checked == true) {		 
 		
 		dojo.forEach(nodes,
 		    function(node)
 		    {
 		        dijit.getEnclosingWidget(node).set("checked",true);
 		    }
 		);
 	}
 	else {	
 		dojo.forEach(nodes,
 			    function(node)
 			    {
 			        dijit.getEnclosingWidget(node).set("checked",false);
 			    }
 			);
 	}
 	
 }
 

function fnvalidate(){
	 var n = <?php echo $this->count;?>;
		//alert(n);
		 flgs = 0;	 
		 for(i=1;i<=n;i++){		 
		if(document.getElementById("IDApplication"+i).checked) 
				flgs	=	1;			
		 }		
		 if( flgs == 0){
		    alert('Please Select Atleast One Student');		
		     return false;
		 }
		 else{
			    //alert(i);
		   return true;
		 }
		 
}



</script>
</head>
<body class='claro'>
<fieldset>
	<legend><?php echo $this->translate("Venue File Creation");?></legend>
 		<form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/examination/venuexlcreation/index/search/1" method="POST">
 			<script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
			</script>
		<table width="100%" >		
			<!--  	
				<tr>
					<td><?php //echo $this->translate("Candidate").' '.$this->translate("Name") ?></td>
					<td><?php //echo $this->lobjform->Studentname;?></td>
					<td><?php //echo $this->translate("IC NO") ?></td>
					<td><?php //echo $this->lobjform->ICNO;?></td>
				</tr>
			-->				
		        <tr>
                    <td><?php echo $this->translate("Exam").' '.$this->translate("").' '.$this->translate("Date") ?></td>
                    <td><?php echo $this->lobjform->Date;?></td>                   
                    <td><?php echo $this->translate("Course").' '.$this->translate("Name") ?></td>
                    <td><?php echo $this->lobjform->Coursename;?></td>
                </tr>			
		        <tr>   
                    <td><?php echo $this->translate("Exam Venue") ?></td>
                    <td><?php echo $this->lobjform->Venues;?></td>
                  	<td><?php echo $this->translate("Session") ?></td>
                    <td><?php echo $this->lobjform->examsession;?></td>
                </tr>                        
				 <tr>
				 	<td colspan="4" align="center">
				 		<?php echo $this->lobjform->Search;?>
				 		<?php echo $this->lobjform->Clear;?>
					</td>
               </tr>
		</table>
	</form>	
	</fieldset> 
	<br>
	<form dojoType="dijit.form.Form"  id="myForms" action="<?php echo $this->baseUrl();?>/examination/venuexlcreation" method="POST">
	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
	    	<tr>
	    	   
          	 <th><input type="checkbox" dojoType="dijit.form.CheckBox" name="checkAlls"  onClick = "checkAll();" id="checkAlls" checked="true"></th>
          	  <th><?php echo $this->translate("Serial No");?></th>
	    	     <th><?php echo $this->translate("Candidate").' '.$this->translate("Name");?></th>
	    	      <th><?php echo $this->translate("Exam Date");?></th>
	    	     <th><?php echo $this->translate("Course").' '.$this->translate("Name");?></th>
	    	     <th><?php echo $this->translate("Exam Venue");?></th>
	    	     <th><?php echo $this->translate("Exam Session").' '.$this->translate("Name");?></th>	        	
	    	</tr>
	       
   		 <?php if (count($this->paginator)):  $cnnt =0;?>
	        <?php foreach ($this->paginator as $lobjprogram): $cnnt++;?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	<td><input type="checkbox" dojoType="dijit.form.CheckBox" name="IDApplication[]" value="<?php echo $this->escape($lobjprogram['IDApplication']);?>"  id="IDApplication<?php echo $cnnt;?>" checked="true"></td>
	        	<td><?php echo  $cnnt;?></td>
	        	<td><a href="<?php echo $this->baseUrl();?>/examination/venuexlcreation/venuexlcreation/id/<?php echo $this->escape($lobjprogram['IDApplication']);?>" ><?php print_r($this->escape($lobjprogram['FName']));?></a></td>
	        	<td><?php echo date('d-m-Y',strtotime($lobjprogram['DateTime']));?></td>
	        	<td><?php print_r($this->escape($lobjprogram['ProgramName']));?></td>
	        	<td><?php print_r($this->escape($lobjprogram['centername']));?></td>
	        	<td><?php print_r($this->escape($lobjprogram['managesessionname']));?></td>	            
			</tr>
			<?php  endforeach; ?>
	     <?php endif; ?> 
<?php if (empty($this->larrresult ) && ($this->paramsearch == 1)): ?>
			<tr>
	        	<td colspan="7" align="right"><div class="pagination">Unable to find the Candidate with Search You have provided Please Check If the Candidate Completed the payment</div></td>
   			</tr>
			<?php endif; ?>


			<tr>
	        	<td colspan="7" align="right"><input type="submit" dojoType="dijit.form.Button" name="Create" value="Create" label="Generate File" onClick = "return fnvalidate();"></td>
   			</tr>
		</table>
	</fieldset>
	</form>
</body>
</html>
