<head>
<style><!--
	table.calendar    { 
		border-left:1px solid #999; 
	}
	td.calendar-day-head { 
		background:#808080; 
		font-weight:bold; 
		text-align:center; 
		height:20px; 
		width:50px; 
		color : #FFFFFF;
		padding:1px; 
		border-bottom:1px solid #999; 
		border-top:1px solid #999; 
		border-right:1px solid #999; 
	}
	div.day-number   { 
		background:#999; 
		position:absolute; 
		z-index:2; 
		top:-15px; 
		right:-25px; 
		padding:6px; 
		color:#fff; 
		font-weight:bold; 
		width:10px; 
		text-align:center; 
	}
	td.calendar-day, td.calendar-day-np { 
		padding:4px 5px 4px 4px; 

	}
-->
</style>
 
<script language="JavaScript" type="text/javascript"><!--
dojo.addOnLoad(function() {
		fngetstatedetails(<?php echo $this->progid?>);
});


function fnhidediv(){
	var vBn = dojo.byId("Yes");	
	vBn.style.visibility="hidden";
	document.getElementById('msgtoblockrefresh').style.display = 'block';
}


function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}
function fnsetdate(t){
	sa=dijit.byId('candidateicno'+t).value;
	if(sa=='')
	{
			yes='<?php echo $this->yesdate;?>';
			dijit.byId('candidatedateofbirth'+t).set('value',yes);
	}
}


function fngetschedulerdetails(idbatch,no)
{
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/takafulcandidates/fngetschedulerdetails/idbatch/"+idbatch,
			handleAs:'json',
			load:function(data){ 				
				AutoFillNextEditableDropDown("candidatescheduler"+no,data); 
			}
	   }
	dojo.xhrGet(xhrArgs);
}


function fngetvenuedetails(idscheduler,no)
{
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/takafulcandidates/fngetvenue/idscheduler/"+idscheduler,
			handleAs:'json',
			load:function(data){ 			
				AutoFillNextEditableDropDown("candidatevenue"+no,data); 
			}
	   }
	dojo.xhrGet(xhrArgs);
}


function fngetvenueDate(idvenue,no)
{	
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/takafulcandidates/fngetvenuetime/idvenue/"+idvenue,
			handleAs:'json',
			load:function(data){ 
				AutoFillNextEditableDropDown("candidatedate"+no,data); 
			}
	   }
	dojo.xhrGet(xhrArgs);
}



function fngettime(date,no)
{
	var idvenue = (dijit.byId("candidatevenue"+no));
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/takafulcandidates/fngetdatetime/date/"+date+"/idvenue/"+idvenue,
			handleAs:'json',
			load:function(data){ 
				AutoFillNextEditableDropDown("candidatetime"+no,data); 
			}
	   }
	dojo.xhrGet(xhrArgs);
	
}

function Closefn()
{ 
   	  window.location = "<?php echo $this->baseUrl();?>/takafulapplication/index";
}

function Closefns()
{
	document.getElementById('contentdiv').innerHTML = "";
	document.getElementById('divLogin').style.display = 'none';
	document.getElementById('divLogin2').style.display = 'none';
}


function fnviewerrcandidtes(regpin){
	 window.location = "<?php echo $this->baseUrl();?>/takafulcandidates/viewerrapplication/regpin/"+regpin;
}


function takafulss()
{
	var candidatetakafulval = document.getElementById('candidatetakaful0').value;
	if(candidatetakafulval == 'Select')
	{
		document.getElementById('takaful').checked =false;
		alert('Please Select the First Takaful Operator');
		
	}
	else
	{
		if((document.getElementById('takaful').checked)==true)
		{
			takafulid = document.getElementById('candidatehiddentakaful0').value;
				var total = <?php echo $this->total;?>;
				for(i=1;i<total;i++)
				{
					document.getElementById('candidatehiddentakaful'+i).value = takafulid;
					document.getElementById('candidatetakaful'+i).value = candidatetakafulval;
				}
		}		
	}
	
}

function fnhiddentakaful(takafulid,no)
{
	document.getElementById('candidatehiddentakaful'+no).value = takafulid;
	if(no==0)
	{
			if((document.getElementById('takaful').checked)==true)
			{
					var total = <?php echo $this->total;?>;
					for(i=1;i<total;i++)
					{
						document.getElementById('candidatehiddentakaful'+i).value = takafulid;
						
					}
			}
	}
	else
	{
		document.getElementById('candidatehiddentakaful'+no).value = takafulid;
	}	
}
//////////////////////////////////////////
function fngetstatedetails(idprog,no)
{	
 if(idprog>0)
 {
	 var xhrArgs1 = {
				url: "<?php echo $this->baseUrl();?>"+"/registration/fngetprerequesition/idprog/"+idprog,
				handleAs:'text',
				load:function(data){ 
					if(data == '')
					{
					}
					else
					{
					}
				}
		   }
		dojo.xhrGet(xhrArgs1);
	
	var xhrArgs1 = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetyear/idprog/"+idprog,
			handleAs:'json',
			load:function(data){ 
				AutoFillNextEditableDropDown("Year"+no,data); 
			}
	   }
	dojo.xhrGet(xhrArgs1);

	var xhrArgs2 = {
			url: "<?php echo $this->baseUrl();?>"+"/takafulcandidates/fngetactiveset/idprog/"+idprog,
			handleAs:'text',
			load:function(data){ 
				document.getElementById('activeset'+no).value = data;
			}
	   }
	dojo.xhrGet(xhrArgs2);

 }
}
 function fnGetCitylist(idstate,no)
 {	
		var Program = dijit.byId("candidateprog"+no);
		var year = dijit.byId("Year"+no).value;
	 	var xhrArgs = {
	 			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetcitynames/idstate/"+idstate+"/Program/"+Program+"/idsecheduler/"+year,
	 			handleAs:'json',
	 			load:function(data){ 
	 				AutoFillNextEditableDropDown("NewCity"+no,data); 
	 			}
	 	   }
	 	dojo.xhrGet(xhrArgs);
 }

 function fnGetMonth(idyear,no)
 {
		var Program = dijit.byId("candidateprog"+no);
		var xhrArgs = {
	 			url: "<?php echo $this->baseUrl();?>"+"/takafulcandidates/fngetmonthslist/idyear/"+idyear+"/Program/"+Program,
	 			handleAs:'json',
	 			load:function(data){ 
	 				AutoFillNextEditableDropDown("NewMonth"+no,data); 
	 			}
	 	   }
	 	dojo.xhrGet(xhrArgs);

		var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/takafulcandidates/fngetstatename/idyear/"+idyear+"/Program/"+Program,
				handleAs:'json',
				load:function(data){ 
					AutoFillNextEditableDropDown("NewState"+no,data); 
				}
		   }
		dojo.xhrGet(xhrArgs);
 }
 function fngeticno(icno,no)
 {
 	var stricna=new String(icno);	
 	var the_char=stricna.charAt(0);
 	var year=stricna.charAt(0) + stricna.charAt(1);
 	if((year>=30) &&(year<=99))
 	{
 		year=19+year;
 		
 	}
 	else
 	{
 		year=20+year; 		
 	}
 	
 	var month=stricna.charAt(2)+stricna.charAt(3);
 	var date1=stricna.charAt(4)+stricna.charAt(5);
 	var dob=year+'-'+month+'-'+date1;
 	dijit.byId('candidatedateofbirth'+no).set('value',dob);


	var Program = dijit.byId("candidateprog"+no);
	var xhrArgs = {
 			url: "<?php echo $this->baseUrl();?>"+"/takafulcandidates/fngetstudentconfirm/icno/"+icno+"/Program/"+Program,
 			handleAs:'text',
 			load:function(data){ 
 				content = data.split("***");
				if(content[0]==1)
				{
				alert(content[1]);
				dijit.byId('candidateicno'+no).set('value','');
				//flag=1;
				}
		
 			}
 	   }
 	dojo.xhrGet(xhrArgs);
 }

 function fnGetDays(idmonth,no)
 {
    if(idmonth!='')
  	{
	 dijit.byId("Examdate"+no).setValue('');
		var Year = dijit.byId("Year"+no);
		var Program = dijit.byId("candidateprog"+no);
		var xhrArgs = {
	 			url: "<?php echo $this->baseUrl();?>"+"/takafulcandidates/caleshow/idmonth/"+idmonth+"/Year/"+Year+"/Program/"+Program+"/no/"+no,
	 			handleAs:'text',
	 			load:function(data){ 
	 			document.getElementById('calender').innerHTML = data; 
	 			}
	 	   }
	 	dojo.xhrGet(xhrArgs);
  	}
 }

 function funct(day,month,number)
 {
 	x=day+""+month;
 	var selecteddate = day;
 	dijit.byId('Examdate'+number).setValue(selecteddate);
 	dijit.byId('NewCity'+number).set('value','');
	dijit.byId('NewCity'+number).set('placeHolder','Select City');
 	for(i=1;i<=31;i++)
 	{
 	 	z = i+""+month;
 	 	if(document.getElementById(z))
 	 	document.getElementById(z).style.backgroundColor = '#FEFFBF';
 	}
 	document.getElementById('setdate').value = day;
 	document.getElementById('setmonth').value = month;
 	document.getElementById(x).style.backgroundColor = '#ff0000';
 	//document.getElementById(165).style.backgroundColor = '#8DB87C';

 }


 /*

 function fnGetVenuename(idcity,no)
 {
		var Year = dijit.byId("Year"+no);
		var Program = dijit.byId("candidateprog"+no);
		var xhrArgs = {
	 			url: "<?php echo $this->baseUrl();?>"+"/takafulcandidates/fngetvenuedetails/Year/"+Year+"/Program/"+Program+"/idcity/"+idcity,
	 			handleAs:'json',
	 			load:function(data){ 
	 				AutoFillNextEditableDropDown("NewVenue"+no,data);
	 			}
	 	   }
	 	dojo.xhrGet(xhrArgs);


		var xhrArgs = {
	 			url: "<?php echo $this->baseUrl();?>"+"/takafulcandidates/fngetvenuesessiondetails/Year/"+Year+"/Program/"+Program+"/idcity/"+idcity,
	 			handleAs:'json',
	 			load:function(data){ 
	 				AutoFillNextEditableDropDown("Newsession"+no,data);
	 			}
	 	   }
	 	dojo.xhrGet(xhrArgs);
 }
*/

 function fnGetVenuename(idcity,no)
 {
	 var day = dijit.byId("Examdate"+no).value;
	 var month = dijit.byId("NewMonth"+no);
	 var year = dijit.byId("Year"+no);
	
if(idcity!='')
{

var xhrArgs1 = {
		url: "<?php echo $this->baseUrl();?>"+"/takafulcandidates/newtempdays/day/"+day+"/month/"+month+"/year/"+year+"/city/"+idcity,
		handleAs:'text',
		load:function(data){ 
			//document.getElementById(data).style.backgroundColor = '#FFFFFF';
			if(data==1)
			{
				fnGetVenuenames(idcity,no);
			}
			else
			{
				alert("The Seats are full for this date In this City ,Please Change Date Or City");
				fnGetVenuenames2(8888,no);
			}
		}
   }
dojo.xhrGet(xhrArgs1);
 }
 }

 function fnGetVenuenames(idcity,no)
 {

		var Year = dijit.byId("Year"+no);
		var Program = dijit.byId("candidateprog"+no);
		var idcity = dijit.byId("NewCity"+no);
		var day = dijit.byId("Examdate"+no).value;
		var month = dijit.byId("NewMonth"+no);
		
		var xhrArgs = {
	 			url: "<?php echo $this->baseUrl();?>"+"/takafulcandidates/fngetvenuedetails/Year/"+Year+"/Program/"+Program+"/idcity/"+idcity,
	 			handleAs:'json',
	 			load:function(data){ 	 			
	 				AutoFillNextEditableDropDown("NewVenue"+no,data);
	 			}
	 	   }
	 	dojo.xhrGet(xhrArgs); 
}


 function fnGetVenuenames2(idcity,no)
 {
	    var Year = dijit.byId("Year"+no);
		var Program = dijit.byId("candidateprog"+no);
		var idcity = dijit.byId("NewCity"+no);
		var day = dijit.byId("Examdate"+no).value;
		var month = dijit.byId("NewMonth"+no);
		
		var xhrArgs = {
	 			url: "<?php echo $this->baseUrl();?>"+"/takafulcandidates/fngetvenuedetails/Year/"+Year+"/Program/"+Program+"/idcity/"+888899,
	 			handleAs:'json',
	 			load:function(data){ 
	 			//alert(data);
	 				AutoFillNextEditableDropDown("NewVenue"+no,data);
	 			}
	 	   }
	 	dojo.xhrGet(xhrArgs);
 
}

 function fnGetVenuesessionname(idcity,no)
 {

	 var Year = dijit.byId("Year"+no);
		var Program = dijit.byId("candidateprog"+no);
		 var idcity = dijit.byId("NewCity"+no);
		 var venue = dijit.byId("NewVenue"+no);

		 var day = dijit.byId("Examdate"+no).value;
		 var month = dijit.byId("NewMonth"+no);
		
		var xhrArgs = {
	 			url: "<?php echo $this->baseUrl();?>"+"/takafulcandidates/fngetvenuesessiondetails/Year/"+Year+"/Program/"+Program+"/idcity/"+idcity+"/venue/"+venue+"/day/"+day+"/month/"+month,
	 			handleAs:'json',
	 			load:function(data){ 
	 			if(data=='')
	 			{
		 			alert("This Venue is Filled Plz change The Venue");
		 			dijit.byId("Rem"+no).setValue('');
	 			}
	 					
	 				AutoFillNextEditableDropDown("Newsession"+no,data);
	 			
		 			}
	 	   }
	 	dojo.xhrGet(xhrArgs);
	 
 }

 function fnGetgetremaining(sessionsids,no)
 {
	 if(no>0)
	 {
	 if(dijit.byId("Newsession"+(no-1)).value=="")
		 alert("Please fill the above rows");
	 }
		 if(sessionsids!='')
{
	 var Year = dijit.byId("Year"+no);
		var Program = dijit.byId("candidateprog"+no);
		 var idcity = dijit.byId("NewCity"+no);
		 var venue = dijit.byId("NewVenue"+no);

		 var day = dijit.byId("Examdate"+no).value;
		 var month = dijit.byId("NewMonth"+no);
		
		var xhrArgs = {
	 			url: "<?php echo $this->baseUrl();?>"+"/takafulcandidates/fngetremainingseats/Year/"+Year+"/Program/"+Program+"/idcity/"+idcity+"/venue/"+venue+"/day/"+day+"/month/"+month+"/sessionsids/"+sessionsids,
	 			handleAs:'json',
	 			load:function(data){ 
	 			if(data=='')
	 			{
		 		
	 			}
	 			else
	 			{
		 			//alert(data);
	 				//dijit.byId("Rem"+no).setValue(data);
	 				document.getElementById("Rem"+no).value=data;
	 				document.getElementById("Rems"+no).value=(data);
	 				fnvalidateremainingseats(sessionsids,no);
	 			}
	 				
	 			}
	 	   }
	 	dojo.xhrGet(xhrArgs);
	 
 }
 }


 var  aray= new Array();
 var ay5=new Array();
 var hg=2000;
 var ut=0;
 var fda=0;
 var ut2=0;
 var kg=0;
 var ibm=0;
 function  fnvalidateremainingseats(sessionids,no)
 {  
	 if(sessionids!='')
	 {
	 flag=1;
	 var gf=0;
	 var sa3=0;
	 var xy=888;
	
	 da='<?php echo $this->total;?>';
	 da=parseInt(da);
	 //alert(da);
	 if(no>0)
	 {
		kg=0;		 
rem=document.getElementById("Rem"+no).value;//dijit.byId("Rem"+no).value;
rem=parseInt(rem);

	
for(i=0;i<no;i++)
{
year=dojo.byId('Year'+i).value;
year=parseInt(year);
month=dijit.byId("NewMonth"+i);
month=parseInt(month);
date=dijit.byId("Examdate"+i).value;
date=parseInt(date);
venue=dijit.byId("NewVenue"+i);
venue=parseInt(venue);
sessionname=dijit.byId("Newsession"+i);
sessionname=parseInt(sessionname);

year1=dojo.byId('Year'+no).value;
year1=parseInt(year1);
month1=dijit.byId("NewMonth"+no);
month1=parseInt(month1);
date1=dijit.byId("Examdate"+no).value;
date1=parseInt(date1);
venue1=dijit.byId("NewVenue"+no);
venue1=parseInt(venue1);
remns=document.getElementById("Rem"+no).value;//dijit.byId("Rem"+no).value;
remns=parseInt(remns);
if((year1==year) && (month1==month) && (date1==date) && (venue1==venue) && (sessionids==sessionname) )
{
	//aray4.push(no);
	hg= no;
	document.getElementById("Rems"+no).value=(remns - flag);
	fd=remns - flag;
	kh=remns-1;
if(fd==kh)
{
	kg=1;
}

	flag++;	
	fg=parseInt(flag);
	
//alert(fg);
	//alert(remns);
if(eval(fg>remns))
{
alert("Please change this Session,it Is full already for this date in this venue");
dijit.byId('Newsession'+no).set('value','');
//dijit.byId('Rem'+no).set('value','');
}
}
}


			
}
	
	 for(i=0;i<aray.length;i++)
	 {
		
	 	if(no==aray[i])
	 	{
	 		dupnochange=no;
	 		 gf=1;
	 		 fnvalidatebelow(dupnochange);
	 		 fnvalidateabove(ut2,dupnochange);
			 break;
	 		
	 	}
	 	else
	 	{
	 		
		 	xy=no;
		 	sa3=1;	
		 	
		 	
	 	}
	 	
	 }
		//alert(hg);

	/* if(gf==1)
	 	{
			
		 	//sa=aray4.length-1;
		//alert(hg);
			 //	fa=aray4[sa];
		 if(ut==0)
		 {
		 		//dijit.byId('Newsession'+hg).set('value','');
		 		ut++;
		 }
			 	}*/
	 	
	
	 aray.push(no);
	if((no==0))
	{
		ay5.push(0);	
	}
	if(sa3==1)
	{
		ay5.push(xy);	
		
	}
	//alert("cx");
	// for(i=0;i<ay5.length;i++)
	// {
	//	 alert(ay5[i]);
	// }
	
	// alert(aray[0]);
	//fda=1;
 }
	 }



 var fs=0;
 var ins=999;
 var frar=new Array();
 function  fnvalidateabove(ut2,no)
 {
		//alert(ut2);
		//alert(no);

	
		da='<?php echo $this->total;?>';
		da=parseInt(da);

		//alert("xyz");
		
		//alert(no);
		sa=ay5.length-1;
		//alert(ay5[sa]);
if(ay5[sa]!=no)
	{
	//alert("below");
	//alert(ay5[sa]);
for(i=no+1;i<da;i++)
{
year=dojo.byId('Year'+i).value;
year=parseInt(year);
month=dijit.byId("NewMonth"+i);
month=parseInt(month);
date=dijit.byId("Examdate"+i).value;
date=parseInt(date);
venue=dijit.byId("NewVenue"+i);
venue=parseInt(venue);
sessionname=dijit.byId("Newsession"+i);
sessionname=parseInt(sessionname);

year1=dojo.byId('Year'+no).value;
year1=parseInt(year1);
month1=dijit.byId("NewMonth"+no);
month1=parseInt(month1);
date1=dijit.byId("Examdate"+no).value;
date1=parseInt(date1);
venue1=dijit.byId("NewVenue"+no);
venue1=parseInt(venue1);
//sessionids=dijit.byId("Newsession"+no);
//sessionids=parseInt(sessionids);


Rems=document.getElementById("Rems"+i).value;
Rems=parseInt(Rems);

Rems1=document.getElementById("Rems"+no).value;
Rems1=parseInt(Rems1);

ut2=parseInt(ut2);

remns=document.getElementById("Rem"+i).value;//dijit.byId("Rem"+no).value;
remns=parseInt(remns);
if( (year1==year) && (month1==month) && (date1==date) && (venue1==venue) && (ut2==sessionname) )
{
	//alert("c");
	//alert(i);
	//alert(Rems);
	//alert(remns);
	if(Rems!=remns)
	{
		//alert("a");
		//alert(Rems);
		//alert(remns);
		
	if(fs!=1)
	{//alert("d");
		ga= Rems + 1;
		 fs=0;
		 document.getElementById("Rems"+i).value=ga;
	}

	if(fs==1)
	{
		 if(eval(ins<i))
		 {//alert(ins);
		 //alert(i);
		 //alert("b");
	ga= Rems + 1;
	 fs=0;
	 document.getElementById("Rems"+i).value=ga;
		 }
	}
	}

	if(Rems==remns)
	{
		 ins=i;
	var fs=1;	
}
}
 }
	}
if(eval(no>0))
{
	//alert("xyz");
	
//	alert(no);
	//sa=ay5.length-1;
	//alert(ay5[sa]);
	if(ay5[sa]!=no)
	{
		//alert("abc");
		//alert("above");
		//alert(ay5[sa]);
		
	for(i=0;i<no;i++)
	{
	year=dojo.byId('Year'+i).value;
	year=parseInt(year);
	month=dijit.byId("NewMonth"+i);
	month=parseInt(month);
	date=dijit.byId("Examdate"+i).value;
	date=parseInt(date);
	venue=dijit.byId("NewVenue"+i);
	venue=parseInt(venue);
	sessionname=dijit.byId("Newsession"+i);
	sessionname=parseInt(sessionname);

	year1=dojo.byId('Year'+no).value;
	year1=parseInt(year1);
	month1=dijit.byId("NewMonth"+no);
	month1=parseInt(month1);
	date1=dijit.byId("Examdate"+no).value;
	date1=parseInt(date1);
	venue1=dijit.byId("NewVenue"+no);
	venue1=parseInt(venue1);
	//sessionids=dijit.byId("Newsession"+no);
	//sessionids=parseInt(sessionids);


	Rems=document.getElementById("Rems"+i).value;
	Rems=parseInt(Rems);

	Rems1=document.getElementById("Rems"+no).value;
	Rems1=parseInt(Rems1);

	ut2=parseInt(ut2);

	remns=document.getElementById("Rem"+i).value;//dijit.byId("Rem"+no).value;
	remns=parseInt(remns);
	if( (year1==year) && (month1==month) && (date1==date) && (venue1==venue) && (ut2==sessionname) )
	{
		
		//alert("c");
		//alert(i);
		//alert(Rems);
		//alert(remns);
		if(Rems!=remns)
		{
			//alert("a");
			//alert(Rems);
			//alert(remns);
			if(fs!=1)
			{
				//alert("c");
			ga= Rems + 1;
			 fs=0;
			 document.getElementById("Rems"+i).value=(ga);
			}
			if(fs==1)
			{ alert("v");
				alert(kg);
				 if(eval(ins>i))
				 {
			ga= Rems + 1;
			 fs=0;
			 document.getElementById("Rems"+i).value=(ga);
				 }
				 if(kg==1)
				 {
					 ga= Rems + 1;
					 fs=0;
					 kg=0;
					 document.getElementById("Rems"+i).value=(ga); 
				 }
					 
			}
		}
		if(Rems==remns)
		{
			 ins=i;
		var fs=1;	
		}

			
	}
	}	
}
}
}



 

 var flag=1;
 function  fnvalidatebelow(no)
 {
da='<?php echo $this->total;?>';
da=parseInt(da);
for(i=no+1;i<da;i++)
{
year=dojo.byId('Year'+i).value;
year=parseInt(year);
month=dijit.byId("NewMonth"+i);
month=parseInt(month);
date=dijit.byId("Examdate"+i).value;
date=parseInt(date);
venue=dijit.byId("NewVenue"+i);
venue=parseInt(venue);
sessionname=dijit.byId("Newsession"+i);
sessionname=parseInt(sessionname);

year1=dojo.byId('Year'+no).value;
year1=parseInt(year1);
month1=dijit.byId("NewMonth"+no);
month1=parseInt(month1);
date1=dijit.byId("Examdate"+no).value;
date1=parseInt(date1);
venue1=dijit.byId("NewVenue"+no);
venue1=parseInt(venue1);
sessionids=dijit.byId("Newsession"+no);
sessionids=parseInt(sessionids);

remns=document.getElementById("Rem"+no).value;//dijit.byId("Rem"+no).value;
remns=parseInt(remns);
if((year1==year) && (month1==month) && (date1==date) && (venue1==venue) && (sessionids==sessionname) )
{
	document.getElementById("Rems"+no).value=(remns - flag);
	flag++;	
	fg=parseInt(flag);
//alert(fg);
	//alert(remns);
if(eval(fg>remns))
{
alert("Please change this Session,it Is full already for this date in this venue");
dijit.byId('Newsession'+no).set('value','');
//dijit.byId('Rem'+no).set('value','');
}
}
}

 }

 
 function fnGetoldsession(sessionsids,no)
 {
	 if(sessionsids!='')
	 {
	 for(i=0;i<aray.length;i++)
	 {
	 	if(no==aray[i])
	 	{
	 		ut2=sessionsids;
	 		//alert(sessionsids);
	 		// alert(no);
	 		
	 	}
	 	
	 }
	 }
	 
 }

 
 function duplicateemail(email,no)
	{
		var Program = dijit.byId("candidateprog"+no);
		var xhrArgs = {
	 			url: "<?php echo $this->baseUrl();?>"+"/takafulcandidates/fngetemaildetails/Year/"+email+"/Program/"+Program,
	 			handleAs:'text',
	 			load:function(data){ 
	 				if(data == '')
					{
					}
					else
					{
					alert(data);
					document.getElementById("candidateemail"+no).value="";
					dijit.byId("candidateemail"+no).focus();
					}
			
	 			}
	 	   }
	 	dojo.xhrGet(xhrArgs);
			
				
	}


 function selectallfunction(cout) {
	
		var selectall = document.getElementById('selectall').checked;
		if(selectall)
		{
			for(i=0;i<cout;i++) {
				  dijit.byId("studenttakful"+i).attr('checked',true);
				//document.getElementById('batchinvoice'+i).checked = true;
		    }
		} else {
			for(i=0;i<cout;i++) {
				  dijit.byId("studenttakful"+i).attr('checked',false);
				//document.getElementById('batchinvoice'+i).checked = false;
		    }
		}
	}	


//**************
 function fngetstatedetails(idprog)
 {
	 //alert(idprog);
 	document.getElementById('calender').style.display='none';
 	var xhrArgs1 = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/newfngetyear/idprog/"+idprog,
			handleAs:'json',
			load:function(data){ 
				AutoFillNextEditableDropDown("Year",data); 
			}
	   }
	dojo.xhrGet(xhrArgs1);

 	var xhrArgs2 = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetactiveset/idprog/"+idprog,
			handleAs:'text',
			load:function(data){ 
				document.getElementById('setactive').value = data;
			}
	   }
	dojo.xhrGet(xhrArgs2);
 }


 function fngetstatelist()
 {
 	
 	var Program = dijit.byId("Program");
 	var year = dijit.byId("Year").value;

        operator ='<?php echo $this->operator;?>';
 	var xhrArgs = {
 			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetvenuelist/Program/"+Program+"/year/"+year+"/idcompany/"+operator,
 			handleAs:'json',
 			load:function(data){ 
 				document.getElementById('calender').innerHTML;
 				AutoFillNextEditableDropDown("NewVenue",data); 
 				
 			}
 	   }
 	dojo.xhrGet(xhrArgs);

 	
 }


 function fndisplaycalender(city)
 {
 	var Month = dijit.byId("Month");
 	//alert(Month);
 	var Program = dijit.byId("Program");
 	//var NewCity = dijit.byId("NewVenue");
 	document.getElementById('calender').style.display='block';
 	var year = dijit.byId("Year").value;
 	//alert(city);
 		
 	var NewCity = dijit.byId("NewVenue");
 	
 	if(city == '')
 	{
 		document.getElementById('calender').innerHTML="";
 	}
 	var Program = dijit.byId("Program");
 	//var NewCity = dijit.byId("NewVenue");
 	document.getElementById('calender').style.display='block';
 	var year = dijit.byId("Year").value;
 	if(year>0 && city!='')
 	{
 		//alert('asf');
 		comp=2;
 	var xhrArgs = {
 			url: "<?php echo $this->baseUrl();?>"+"/registration/newfnnewcaleshow/Program/"+Program+"/NewCity/"+city+"/year/"+year+"/comp/"+comp,
 			handleAs:'text',
 			load:function(data){ 
 				//alert(data);
 				document.getElementById('calender').innerHTML = "<style>Instruction: Click on date to view details and proceed </style><br>"+data;
 				//showcalender()
 			}
 	   }
 	dojo.xhrGet(xhrArgs);

 	var xhrArgs = {
  			url: "<?php echo $this->baseUrl();?>"+"/registration/newfngetyearofsession/Year/"+year+"/Program/"+Program+"/NewCity/"+city,
  			handleAs:'text',
  			load:function(data)
  			{ 
 	 			if(data==1)
 	 			{
 	 				document.getElementById('sessiondays').innerHTML = '<table><tr><td> <B>1 SESSIONS :</B></td><td><div style="background-color:green;width:50px;height:20px;align:right;"></div></td></tr></table>'; 
 	 			}
 	       if(data==2)
 	 			{
 	    	   document.getElementById('sessiondays').innerHTML = '<table><tr><td> <B>1 SESSIONS :</B></td><td><div style="background-color:green;width:50px;height:20px;"></div></td><td>  <B>2 SESSIONS :</B> </td><td> <div style="background-color:skyblue;width:50px;height:20px;"></div></td></tr></table>'; 	
 	 			}
 	 		if(data==3)
 	 			{
 	 			document.getElementById('sessiondays').innerHTML = ' <table><tr><td> <B>1 SESSIONS :</B></td><td><div style="background-color:green;width:50px;height:20px;"></div></td><td>  <B>2 SESSIONS :</B> </td><td> <div style="background-color:skyblue;width:50px;height:20px;"></div></td><td><B>3 SESSIONS :</B></td><td> <div style="background-color:violet;width:50px;height:20px;"></div></td></tr></table>';
 	 			}
 	 		 if(data==4)
 	 			{
 		 			document.getElementById('sessiondays').innerHTML = '<table><tr><td>  <B>1 SESSIONS :</B></td><td><div style="background-color:green;width:50px;height:20px;"></div> </td><td> <B>2 SESSIONS :</B></td><td> <div style="background-color:skyblue;width:50px;height:20px;"></div></td><td><B>3 SESSIONS :</B> </td><td> <div style="background-color:violet;width:50px;height:20px;"></div></td><td><B>4 SESSIONS :</B> </td><td><div style="background-color:pink;width:50px;height:20px;"></div></td></tr></table>';
 	 			}
 	 		
  			//alert(data);
  			//document.getElementById('sessiondays').innerHTML = data; 
  			}
  	   }
  	dojo.xhrGet(xhrArgs);
 	
 	}
 	
 	
 	//var NewCity = dijit.byId("NewVenue");
 	var xhrArgs = {
 			url: "<?php echo $this->baseUrl();?>"+"/registration/newfnnewmonthslist/Program/"+Program+"/NewCity/"+city+"/year/"+year,
 			handleAs:'json',
 			load:function(data){ 
 				AutoFillNextEditableDropDown("Month",data); 
 			}
 	   }
 	dojo.xhrGet(xhrArgs);
 	
 	document.getElementById('calender').style.display = 'none'; 
 	document.getElementById('sessiondays').style.display = 'none'; 
 }

 function fnnewshowcalender()
 {	
 
 	var Program = dijit.byId("Program");
 	if(Program=='')
 	{
 		alert('Please Select the Program');
 	}
 	var Year = dijit.byId("Year");
 	if(Year=='')
 	{
 		alert('Please Select the Year');
 	}
 	var NewVenue = dijit.byId("NewVenue");
 	if(NewVenue=='')
 	{
 		alert('Please Select the Venue');
 	}
 	
 	document.getElementById('calender').style.display = 'block'; 
 	document.getElementById('sessiondays').style.display = 'block'; 
 	
 }


 function fnShowCalendar(idmonth)
 {
 	//alert(idmonth);
 	// dijit.byId("Examdate"+no).setValue('');
 		var Year = dijit.byId("Year");
 		var Program = dijit.byId("Program");
 		var NewCity = dijit.byId("NewVenue");
 		var year = Year;
 		//alert(Year);
 		if(idmonth == 0)
 	 	{
 	 		var NewCity = dijit.byId("NewVenue");
 	 		var xhrArgs = {
 	 				url: "<?php echo $this->baseUrl();?>"+"/registration/newfnnewcaleshow/Program/"+Program+"/NewCity/"+NewCity+"/year/"+year,
 	 				handleAs:'text',
 	 				load:function(data){ 
 	 					document.getElementById('calender').innerHTML = "<style>Instruction: Click on date to view details and proceed </style><br>"+data;
 	 				}
 	 		   }
 	 		dojo.xhrGet(xhrArgs);

 			var xhrArgs = {
 		 			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetyearofsession/Year/"+Year+"/Program/"+Program+"/NewCity/"+NewCity,
 		 			handleAs:'text',
 		 			load:function(data)
 		 			{ 
 			 			if(data==1)
 			 			{
 			 				document.getElementById('sessiondays').innerHTML = '<table><tr><td> <B>1 SESSIONS :</B></td><td><div style="background-color:green;width:50px;height:20px;align:right;"></div></td></tr></table>'; 
 			 			}
 			       if(data==2)
 			 			{
 			    	   document.getElementById('sessiondays').innerHTML = '<table><tr><td> <B>1 SESSIONS :</B></td><td><div style="background-color:green;width:50px;height:20px;"></div></td><td>  <B>2 SESSIONS :</B> </td><td> <div style="background-color:skyblue;width:50px;height:20px;"></div></td></tr></table>'; 	
 			 			}
 			 		if(data==3)
 			 			{
 			 			document.getElementById('sessiondays').innerHTML = ' <table><tr><td> <B>1 SESSIONS :</B></td><td><div style="background-color:green;width:50px;height:20px;"></div></td><td>  <B>2 SESSIONS :</B> </td><td> <div style="background-color:skyblue;width:50px;height:20px;"></div></td><td><B>3 SESSIONS :</B></td><td> <div style="background-color:violet;width:50px;height:20px;"></div></td></tr></table>';
 			 			}
 			 		 if(data==4)
 			 			{
 				 			document.getElementById('sessiondays').innerHTML = '<table><tr><td>  <B>1 SESSIONS :</B></td><td><div style="background-color:green;width:50px;height:20px;"></div> </td><td> <B>2 SESSIONS :</B></td><td> <div style="background-color:skyblue;width:50px;height:20px;"></div></td><td><B>3 SESSIONS :</B> </td><td> <div style="background-color:violet;width:50px;height:20px;"></div></td><td><B>4 SESSIONS :</B> </td><td><div style="background-color:pink;width:50px;height:20px;"></div></td></tr></table>';
 			 			}
 			 		
 		 			//alert(data);
 		 			//document.getElementById('sessiondays').innerHTML = data; 
 		 			}
 		 	   }
 		 	dojo.xhrGet(xhrArgs);


 	 		
 	 	}
 		else
 		{
 		var xhrArgs = {
 	 			url: "<?php echo $this->baseUrl();?>"+"/registration/caleshowmonth/idmonth/"+idmonth+"/Year/"+Year+"/Program/"+Program+"/NewCity/"+NewCity,
 	 			handleAs:'text',
 	 			load:function(data)
 	 			{ 
 	 			//alert(data);
 	 			document.getElementById('calender').innerHTML = data; 
 	 			}
 	 	   }
 	 	dojo.xhrGet(xhrArgs);


 		var xhrArgs = {
 	 			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetmonthofsession/idmonth/"+idmonth+"/Year/"+Year+"/Program/"+Program+"/NewCity/"+NewCity,
 	 			handleAs:'text',
 	 			load:function(data)
 	 			{ 
 		 			if(data==1)
 		 			{
 		 				document.getElementById('sessiondays').innerHTML = '<table><tr><td> <B>1 SESSIONS :</B></td><td><div style="background-color:green;width:50px;height:20px;align:right;"></div></td></tr></table>'; 
 		 			}
 		       if(data==2)
 		 			{
 		    	   document.getElementById('sessiondays').innerHTML = '<table><tr><td> <B>1 SESSIONS :</B></td><td><div style="background-color:green;width:50px;height:20px;"></div></td><td>  <B>2 SESSIONS :</B> </td><td> <div style="background-color:skyblue;width:50px;height:20px;"></div></td></tr></table>'; 	
 		 			}
 		 		if(data==3)
 		 			{
 		 			document.getElementById('sessiondays').innerHTML = ' <table><tr><td> <B>1 SESSIONS :</B></td><td><div style="background-color:green;width:50px;height:20px;"></div></td><td>  <B>2 SESSIONS :</B> </td><td> <div style="background-color:skyblue;width:50px;height:20px;"></div></td><td><B>3 SESSIONS :</B></td><td> <div style="background-color:violet;width:50px;height:20px;"></div></td></tr></table>';
 		 			}
 		 		 if(data==4)
 		 			{
 			 			document.getElementById('sessiondays').innerHTML = '<table><tr><td>  <B>1 SESSIONS :</B></td><td><div style="background-color:green;width:50px;height:20px;"></div> </td><td> <B>2 SESSIONS :</B></td><td> <div style="background-color:skyblue;width:50px;height:20px;"></div></td><td><B>3 SESSIONS :</B> </td><td> <div style="background-color:violet;width:50px;height:20px;"></div></td><td><B>4 SESSIONS :</B> </td><td><div style="background-color:pink;width:50px;height:20px;"></div></td></tr></table>';
 		 			}
 		 		
 	 			//alert(data);
 	 			//document.getElementById('sessiondays').innerHTML = data; 
 	 			}
 	 	   }
 	 	dojo.xhrGet(xhrArgs);
 	
 		}
 	document.getElementById('calender').style.display = 'none'; 	
 	document.getElementById('sessiondays').style.display = 'none'; 	
 }


 function functp(day,month) {
	 
		var Program = dijit.byId("Program");
		if(Program=='') {
			 alert('Please Select the program');
		}  else {
		var city = dijit.byId("NewVenue");
		var year = dijit.byId("Year");
		document.getElementById('setdate').value = day;
		document.getElementById('setmonth').value = month;
		
		var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/newtempdays/day/"+day+"/month/"+month+"/year/"+year+"/city/"+city,
			handleAs:'text',
			load:function(data){ 
			if(eval(data)!=0) {
				//document.getElementById('hiddenscheduler').value = 0;
				//document.forms["myForm"].submit();
				var xhrArgs = {
			 			url: "<?php echo $this->baseUrl();?>"+"/registration/selectvenuetakaful/day/"+day+"/month/"+month+"/year/"+year+"/city/"+city,
			 			handleAs:'text',
			 			load:function(data)
			 			{ 
			 			    //alert(data);
			 				document.getElementById('contentdiv').innerHTML = data;
			 				document.getElementById('divLogin').style.display = 'block';
			 				document.getElementById('divLogin2').style.display = 'block';
				           
			 			}
			 	   }
				dojo.xhrGet(xhrArgs);
				
			} else {
				alert("The Seats are full for this date In this Exam Venue ,Please Change Date Or Venue")
				document.getElementById('setdate').value ='';
				document.getElementById('setmonth').value = '';
				document.getElementById(x).style.backgroundColor = '#FEFFBF';
				}
			}
		}
		dojo.xhrGet(xhrArgs);
		}
	}



	function checkallfunction(count,cnt) {
		var subchecked = 0
		for(i=0;i<=count;i++) {
			var schecked = document.getElementById('studenttakful'+i).checked;
			if(schecked == true) {
				subchecked++;
			}
		}
	
		if(subchecked == cnt)
		{
			dijit.byId("selectall").attr('checked',true);
		} else {
			dijit.byId("selectall").attr('checked',false);
		}	
		
	}

	 document.onkeydown = function(event) {  
			
		    switch (event.keyCode) { 
		        case 116 : //F5 button	
			        alert("Sorry Refresh is disabled");	      
		            event.returnValue = false;
		            event.keyCode = 0;
		            return false; 
		        case 82 : //R button
		            if (event.ctrlKey) { 
		                event.returnValue = false; 
		                event.keyCode = 0;  
		                return false; 
		            } 
		    }
		}



	 function deletestudentfromtemp(idcandidatetemp){
		 // Added on 28-02-2013
		var r=confirm("Are you sure you want to delete the candidate ?? ");
	    if (r==true)
		{
		document.getElementById('loader').style.display = 'block';	
		var xhrArgs = {
	 			url: "<?php echo $this->baseUrl();?>"+"/takafulcandidates/deletefromtemp/idcandidates/"+idcandidatetemp,
	 			handleAs:'text',
	 			load:function(data)
	 			{ 
	 				document.getElementById('loader').style.display = 'none';
	 				if(data==1){
	 	 				alert("Candidate Successfully Deleted");
	 	 				window.location.reload();
	 				}else{
	 	 				alert("Sorry Candidate Couldnot Be Deleted ..!!!");
	 	 				window.location.reload();
	 				}
	 				
	 			}
	 	   }
	 	dojo.xhrGet(xhrArgs);
		}
	}
		
</script>
</head>
	<fieldset><?php $companyDetails = $this->companyDetails; ?>
		<legend><?php echo $this->translate("Takaful").' '.$this->translate("Application");?></legend>
			<form dojoType="dijit.form.Form"  id="myForm"  action="" method="POST" enctype="multipart/form-data">
			 <script type="dojo/method" event="onSubmit">
                if (this.validate()) 
						{
               					 	var addcounts = document.getElementById('idss').value;
                					var addcount = addcounts-1;
              						if(addcount == <?php echo $this->countparts;?>)
 									{
                   							return true;
									}
                                  else
                                   {
											alert("please add venue details for all the parts");
										 return false;
                                    }
                             return true;
					 
                } else {
                    return false;
                }
				</script>
				<?php $mmm =0;	         
	       		 if (count($this->takcandiddetails)): 
	      		 	foreach ($this->takcandiddetails as $lobjstudesnts):	        
	        		$mmm++; 
	        		endforeach; 
	            endif; ?> 	
				<table width="80%"  border="0" class="table3" cellspacing="1" align ="center">
				    <tr>
                    	 <input type="hidden" value="<?php echo $this->idbatchss;?>" name="idbatch" id="idbatch">
                    	 <th><?php echo $this->translate("Sl:No");?></th>
							 <th align="center"><input type='checkbox' id='selectall' value='selectall' dojoType='dijit.form.CheckBox' onclick='selectallfunction(<?php echo $mmm;?>)' name='selectall'/><?php echo $this->translate("Select All");?> </th>
                         	 <th><?php echo $this->translate("Student Name");?></th>
                             <th><?php echo $this->translate("ICNO");?></th> 
                             <th><?php echo $this->translate("Email-Id");?></th> 
                             <th><?php echo $this->translate("Contact Number");?></th> 
                             <th><?php echo $this->translate("Mobile Number");?></th>   
                             <th><?php echo $this->translate("Delete");?></th>                         
                    	 </tr>  
                    	 <?php  $cnt=0;
                    	 $i=0;
                    	 $countt = count($this->takcandiddetails);
                          		foreach($this->takcandiddetails as $takcandiddetails){

                          			$i++;?>
                         <tr>
                         		<td><?php echo $i.")";?></td>
								<td align="center"><input type="Checkbox"   onclick='checkallfunction("<?php echo $cnt?>","<?php echo $countt?>")' name ="studenttakful[<?php echo $cnt?>]" dojoType="dijit.form.CheckBox"  value="<?php echo $takcandiddetails['idcandidates']?>" id="studenttakful<?php echo $cnt?>" /></td>	
								<td><?php echo $takcandiddetails['StudentName'];?></td>
								<td><?php echo $takcandiddetails['ICNO'];?>									
								<input type="hidden" name="candidatenametakaful[<?php echo $takcandiddetails['idcandidates']?>]" id="candidatenametakaful<?php echo $cnt;?>" value="<?php echo $takcandiddetails['StudentName'];?>">	
								<input type="hidden" name="candidateDOBtakaful[<?php echo $takcandiddetails['idcandidates']?>]" id="candidateDOBtakaful<?php echo $cnt;?>" value="<?php echo $takcandiddetails['DOB'];?>">
								<input type="hidden" name="candidateEMAILtakaful[<?php echo $takcandiddetails['idcandidates']?>]" id="candidateEMAILtakaful<?php echo $cnt;?>" value="<?php echo $takcandiddetails['email'];?>">
								<input type="hidden" name="candidateICNOtakaful[<?php echo $takcandiddetails['idcandidates']?>]" id="candidateICNOtakaful<?php echo $cnt;?>" value="<?php echo $takcandiddetails['ICNO'];?>">
								<input type="hidden" name="Takafuloperator[<?php echo $takcandiddetails['idcandidates']?>]" id="Takafuloperator<?php echo $cnt;?>" value="<?php echo $takcandiddetails['Takafuloperator'];?>">
								<input type="hidden" name="Gender[<?php echo $takcandiddetails['idcandidates']?>]" id="Gender<?php echo $cnt;?>" value="<?php echo $takcandiddetails['Gender'];?>">
								<input type="hidden" name="Race[<?php echo $takcandiddetails['idcandidates']?>]" id="Race<?php echo $cnt;?>" value="<?php echo $takcandiddetails['Race'];?>">	
								<input type="hidden" name="Address[<?php echo $takcandiddetails['idcandidates']?>]" id="Address<?php echo $cnt;?>" value="<?php echo $takcandiddetails['Address'];?>">
								<input type="hidden" name="education[<?php echo $takcandiddetails['idcandidates']?>]" id="Address<?php echo $cnt;?>" value="<?php echo $takcandiddetails['education'];?>">
								
								<input type="hidden" name="CorrespAddress[<?php echo $takcandiddetails['idcandidates']?>]" id="CorrespAddress<?php echo $cnt;?>" value="<?php echo $takcandiddetails['CorrespAddress'];?>">
								<input type="hidden" name="PostalCode[<?php echo $takcandiddetails['idcandidates']?>]" id="PostalCode<?php echo $cnt;?>" value="<?php echo $takcandiddetails['PostalCode'];?>">
								<input type="hidden" name="IdCountry[<?php echo $takcandiddetails['idcandidates']?>]" id="IdCountry<?php echo $cnt;?>" value="<?php echo $takcandiddetails['IdCountry'];?>">
								<input type="hidden" name="IdState[<?php echo $takcandiddetails['idcandidates']?>]" id="IdState<?php echo $cnt;?>" value="<?php echo $takcandiddetails['IdState'];?>">
								<input type="hidden" name="ContactNo[<?php echo $takcandiddetails['idcandidates']?>]" id="ContactNo<?php echo $cnt;?>" value="<?php echo $takcandiddetails['ContactNo'];?>">
								<input type="hidden" name="MobileNo[<?php echo $takcandiddetails['idcandidates']?>]" id="MobileNo<?php echo $cnt;?>" value="<?php echo $takcandiddetails['MobileNo'];?>">
						</td> 
							<td><?php echo $takcandiddetails['email'];?></td>
							<td><?php echo $takcandiddetails['ContactNo'];?></td>
							<td><?php echo $takcandiddetails['MobileNo'];?></td>	
							<td><a href='#' onClick='deletestudentfromtemp(<?php echo $takcandiddetails['idcandidates']?>); return false;'><img src='<?php echo $this->baseUrl();?>/images/delete.png'  border=0 width='16' height='16'></a></td>	                    		       
                         </tr>  
                    	 <?php $cnt++; }?>								
									
					</table>
					</br></br></br></br>
	    		
	         
       
       <table>
  						<tr>
                            <th colspan = "2" ><?php echo $this->translate("EXAMINATION DETAILS"); echo $_SESSION['ExamYear'];?></th>
                        </tr>
                          <tr> 
                             <td style:"width=100px"><?php echo $this->translate("Please Choose Your Examination");?><span class="reqMark">*</span></td>
                            <td>:&nbsp<?php echo $this->lobjstudentForm->Program;?></td>
                        </tr>                       
                        <tr>
                          <td ><?php echo $this->translate("Please Select Year");?><span class="reqMark">*</span></td>
                             <td >:&nbsp<?php echo $this->lobjstudentForm->Year;?> </td>
                        </tr>
                        <tr> 
                             <td ><?php echo $this->translate("Select Your Examination Venue");?><span class="reqMark">*</span></td>
                            <td >:&nbsp<?php echo $this->lobjstudentForm->NewVenue;?></td>
                        </tr>
                         
                        <tr>
                          <td>Search for the Exam Dates</td>
                             <td>:&nbsp;&nbsp;<input type="button" dojotype="dijit.form.Button" label="<?php echo $this->translate("Search for examdate"); ?>"  style="width:250px;" onclick="fnnewshowcalender();"/>	</td> 
                        </tr>
                        
                        <tr>
                            <th colspan = "2" ><?php echo $this->translate("EXAMINATION DATES");?></th>
                        </tr>
                          <tr >
			            	<td></td>
			                 <td ><div id="sessiondays" width="100%"></div></td>
			             
			             
		             </tr>
                        <tr> 
                           <td></td>
                           <td></td>
                          <input type="hidden" id="setactive" name="setactive" value="">
                           <input type="hidden" id="setdate" name="setdate" value="<?php echo $this->datesss;?>">
                            <input type="hidden" id="setmonth" name="setmonth" value="<?php echo $this->monthss;?>">
                        </tr>
                         
         </table>
         
         			<table width=100%>
         			 <tr>
         			    <td colspan="2" style="font-family:verdana;color:red;">Instruction:Click on the date to view the exam sessions and select the session to proceed.</td>
	                 </tr>
	                 <tr>
                             <td align="left" colspan="2">                                   
                             <div align="left "id="calender">  
                             </div>         
                              </td>              
                          </tr>  
	                      <tr>
	                          <td colspan="2" style="font-family:verdana;color:red;">Note:<br/>1.Management can change the Exam Location and exam Date if need be and will send an email of the change atleast two days before the date of the exam</td>
	                     
	                   	  </tr>
                    <tr>
                     <td colspan="2" style="font-family:verdana;color:red;">2.Latest date of registration is 14 days prior to the chosen date of examination</td>
                   </tr>                 
                       <tr>                     
                            <td></td>        
                            <td align = "right">    
                            <input type="button" name="Close" class="buttonStyle" onClick="Closefn(); return false;" value="Close" dojoType="dijit.form.Button"  label="Close" >                        
							<input type="button" class="NormalBtnauto"  dojotype="dijit.form.Button" label="<?php echo $this->translate("Open Log"); ?>" onclick='fnviewerrcandidtes("<?php echo $this->idbatchss;?>");' />	
                            <?php // echo $this->lobjstudentForm->Save;?>
                            </td> 
                        </tr>
				</table>
        </div>
        
        <table width=100%>            
            <tr>
            	<td>            	
            	<div runat="server" id="divLogin"  style="display:none; z-index: 153; position: absolute; left: 30%; width: 650px; top: 15%;">
					                <asp:Panel runat="server" ID="popupLogin">
					                    <asp:Panel runat="server" ID="popupContent1">
					                        <table style="height: 125px; width: 100%; background-color: #FFFFFF;" border="3"   frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">
					                                    	<div id="contentdiv"></div>					                                      
					                                   </td>
					                                </tr>
					                                <tr>
					                                    <td colspan="2" align="left">
					                                        <asp:Label ID="lblmandatory" runat="server" Text="* Mandatory Information Required"
					                                            class="LeftLabelStyle" Width="350px" />
					                                    </td>
					                                </tr>
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
					            </div>
				<div runat="server" id="divLogin2"  style="display:none; opacity:0.4; z-index: 150; position: absolute; left: 0%; height: 100%; width: 100%; top: 0%;">
					                <asp:Panel >
					                    <asp:Panel  >
					                        <table style="height: 100%; width: 100%; background-color: #000000;" border="3"   frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">					                                      
					                                   </td>
					                                </tr>					                               
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
					            </div>
					  </td>
            </tr>
            </table>
    <div runat="server" id="msgtoblockrefresh"  style="display:none; z-index: 153; position: absolute; left: 30%; width: 650px; top: 15%; ">	
           <table style="height: 125px; width: 100%; background-color: #FFFFFF;" border="0">
                <tr>
                    <td colspan="2" style="font-family:verdana;color:red;font-size:5;" align="center"><br/>Warning:<br/>The exam scheduling and e-mailing is in progress .<br/>Please do not refresh or click on the browser back button  </td>
                </tr>
                <tr>
                	<td align="center"><img src="<?php echo $this->baseUrl()."/images/blockrefreshloader2.gif";?>"  height="150" width="150" /> </td>
                </tr>
           </table>
           <table style="height: 125px; width: 100%; background-color: #FFFFFF;" border="0">
                <tr>
                    <td colspan="2" style="font-family:verdana;color:red;"></td>
                </tr>
                <tr>
                	<td align="center"></td>
                </tr>
           </table>
   	
    </div>
            
            
           </form>
       
       </fieldset>    
       </br>
       <form action="<?php echo $this->baseUrl();?>/takafulcandidates/pdfexport"  dojoType="dijit.form.Form" method="POST">
     <fieldset>
           <legend><?php echo $this->translate("Scheduled").' '.$this->translate("Application Details");?></legend>
           <table width="80%"  border="0" class="table3" cellspacing="1" align ="center">
				    <tr>
                    	 <input type="hidden" value="<?php echo $this->idbatchss;?>" name="idbatch" id="idbatch">                    	 	
							  <th><?php echo $this->translate("Sl:No");?></th>
							 <th><?php echo $this->translate("Student Name");?></th>
							  <th><?php echo $this->translate("ICNO");?></th>  
							 <th><?php echo $this->translate("Registration Id");?></th>
							 <th><?php echo $this->translate("Program Applied");?></th>                            
                             <th><?php echo $this->translate("Venue Name");?></th> 
                             <th><?php echo $this->translate("Exam Date");?></th>
                             <th><?php echo $this->translate("Exam Session");?></th>                         
                    	 </tr>  
                    	<?php $i=0;
                    	foreach ($this->larrappliedresult as $larrappliedresult){
                    	$i++;
                    		?>
                    	<tr>
                    	<td><?php echo $i.")";?></td>                    	
                    	<td><?php echo $larrappliedresult['FName'];?></td>
                    	<td><?php echo $larrappliedresult['ICNO'];?></td>
                    	<td><?php echo $larrappliedresult['Regid'];?></td>
                    	<td><?php echo $larrappliedresult['ProgramName'];?></td>
                    	<td><?php echo $larrappliedresult['centername'];?></td>
                    	<td><?php echo date('d-m-Y',strtotime($larrappliedresult['DateTime']));?></td>
                    	<td><?php echo $larrappliedresult['managesessionname'];?>
                    	
                    	<input type="hidden" name="FName[]" id="FName<?php echo $i?>" value="<?php echo $larrappliedresult['FName'];?>">
                    	<input type="hidden" name="ICNO[]" id="ICNO<?php echo $i?>" value="<?php echo $larrappliedresult['ICNO'];?>">
                    	<input type="hidden" name="Regid[]" id="Regid<?php echo $i?>" value="<?php echo $larrappliedresult['Regid'];?>">
                    	<input type="hidden" name="ProgramName[]" id="ProgramName<?php echo $i?>" value="<?php echo $larrappliedresult['ProgramName'];?>">
                    	<input type="hidden" name="centername[]" id="centername<?php echo $i?>" value="<?php echo $larrappliedresult['centername'];?>">
                    	<input type="hidden" name="dateofexam[]" id="dateofexam<?php echo $i?>" value="<?php echo date('d-m-Y',strtotime($larrappliedresult['DateTime']));?>">
                    	<input type="hidden" name="session[]" id="session<?php echo $i?>" value="<?php echo $larrappliedresult['managesessionname'];?>">
                    	</td>
                    	</tr>                 	
                    	<?php }?>
					</table>
					<table colspan="2" align= "right">
					    <tr>
					       <td><input type="submit" class="NormalBtnauto"  dojotype="dijit.form.Button" label="<?php echo $this->translate("Export"); ?>" name="Export" id="Export" value="Export"/></td>
					    </tr>
					</table>
        </fieldset>
        
        
        
         <div runat="server" id="loader"  style="display:none; z-index: 153; position: absolute; left: 55%; width: 850px; top: 40%; ">	
                <table>
                <tr>
                	<td><img src="<?php echo $this->baseUrl()."/images/reregloader.gif";?>"  height="20" width="150" /> </td>
                </tr>
                </table>
   	
</div>
      </form>
