
	<fieldset>
	<legend><?php echo "The data have been saved for the below students"?></legend>
		 <form dojoType="dijit.form.Form"  id="myFormform" action="" method="post"  name= "myFormform" >
			<?php //print_r($this->message);?>	
	    	   <table class="table" width="100%" >
                 <tr>
                 
                   <td>Student Name</td>
                   <td>Registration Pin</td>
                 </tr>   	
                    <?php   foreach ($this->message as $lobjcategory ):?>
            <tr>  
            
          		<td><?php  echo $lobjcategory['FName'];?></td>
          		<td><?php  echo $lobjcategory['Regid'];?></td>
          		
     		</tr>
     		<?php  endforeach; ?>      
                      <tr>  
            <td></td>
            <td>
          		   <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("ok"); ?>" onclick="window.location.href='<?php echo $this->url(array('controller'=>'takafulapplication', 'action'=>'index'),'default',true);?>';" />	
                       </td> 
                    </tr>   
					    
            </table>	
            	
		</form>
	</fieldset>
