<head>

<style><!--
	table.calendar    { 
		border-left:1px solid #999; 
	}
	td.calendar-day-head { 
		background:#808080; 
		font-weight:bold; 
		text-align:center; 
		height:20px; 
		width:50px; 
		color : #FFFFFF;
		padding:1px; 
		border-bottom:1px solid #999; 
		border-top:1px solid #999; 
		border-right:1px solid #999; 
	}
	div.day-number   { 
		background:#999; 
		position:absolute; 
		z-index:2; 
		top:-15px; 
		right:-25px; 
		padding:6px; 
		color:#fff; 
		font-weight:bold; 
		width:10px; 
		text-align:center; 
	}
	td.calendar-day, td.calendar-day-np { 
		padding:4px 5px 4px 4px; 
	}
-->
</style>
  
<script language="JavaScript" type="text/javascript"><!--

dojo.addOnLoad(function() {
			fngetstatedetails(<?php echo $this->progid?>);
});


function fnhidediv(){
	var vBn = dojo.byId("Yes");	
	vBn.style.visibility="hidden";
}

function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}
function fnsetdate(t){
	sa=dijit.byId('candidateicno'+t).value;
	if(sa=='')
	{
			yes='<?php echo $this->yesdate;?>';
			dijit.byId('candidatedateofbirth'+t).set('value',yes);
	}
}
		

function fngetschedulerdetails(idbatch,no)
{
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/takafulcandidates/fngetschedulerdetails/idbatch/"+idbatch,
			handleAs:'json',
			load:function(data){ 
				//alert(data);
				AutoFillNextEditableDropDown("candidatescheduler"+no,data); 
			}
	   }
	dojo.xhrGet(xhrArgs);
}

function fngetvenuedetails(idscheduler,no)
{
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/takafulcandidates/fngetvenue/idscheduler/"+idscheduler,
			handleAs:'json',
			load:function(data){ 
				//alert(data);
				AutoFillNextEditableDropDown("candidatevenue"+no,data); 
			}
	   }
	dojo.xhrGet(xhrArgs);
}

function fngetvenueDate(idvenue,no)
{
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/takafulcandidates/fngetvenuetime/idvenue/"+idvenue,
			handleAs:'json',
			load:function(data){ 
				//alert(data);
				AutoFillNextEditableDropDown("candidatedate"+no,data); 
			}
	   }
	dojo.xhrGet(xhrArgs);
}

function fngettime(date,no)
{
	
	var idvenue = (dijit.byId("candidatevenue"+no));

	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/takafulcandidates/fngetdatetime/date/"+date+"/idvenue/"+idvenue,
			handleAs:'json',
			load:function(data){ 
				//alert(data);
				AutoFillNextEditableDropDown("candidatetime"+no,data); 
			}
	   }
	dojo.xhrGet(xhrArgs);
	
}

function Closefn()
{
	 
   	  window.location = "<?php echo $this->baseUrl();?>/takafulapplication/index";
        
}
function Closefns()
{
	document.getElementById('contentdiv').innerHTML = "";
	document.getElementById('divLogin').style.display = 'none';
	document.getElementById('divLogin2').style.display = 'none';
}

function takafulss()
{
	var candidatetakafulval = document.getElementById('candidatetakaful0').value;
	//alert(candidatetakafulval);
	if(candidatetakafulval == 'Select')
	{
		document.getElementById('takaful').checked =false;
		alert('Please Select the First Takaful Operator');
		
	}
	else
	{
		if((document.getElementById('takaful').checked)==true)
		{
			takafulid = document.getElementById('candidatehiddentakaful0').value;
				var total = <?php echo $this->total;?>;
				for(i=1;i<total;i++)
				{
					document.getElementById('candidatehiddentakaful'+i).value = takafulid;
					document.getElementById('candidatetakaful'+i).value = candidatetakafulval;
				}
		}		
	}
	
}

function fnhiddentakaful(takafulid,no)
{
	
	//alert(takafulid);
	//alert(no);
	document.getElementById('candidatehiddentakaful'+no).value = takafulid;
	if(no==0)
	{
			if((document.getElementById('takaful').checked)==true)
			{
					var total = <?php echo $this->total;?>;
					for(i=1;i<total;i++)
					{
						document.getElementById('candidatehiddentakaful'+i).value = takafulid;
						
					}
			}
	}
	else
	{
		//alert('asdfsdaf');
		document.getElementById('candidatehiddentakaful'+no).value = takafulid;
	}	
}


//////////////////////////////////////////

function fngetstatedetails111(idprog,no)
{	
 if(idprog>0)
 {
	 var xhrArgs1 = {
				url: "<?php echo $this->baseUrl();?>"+"/registration/fngetprerequesition/idprog/"+idprog,
				handleAs:'text',
				load:function(data){ 
					if(data == '')
					{
					}
					else
					{
					//alert(data);
					}
				}
		   }
		dojo.xhrGet(xhrArgs1);

		
	
	
	var xhrArgs1 = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetyear/idprog/"+idprog,
			handleAs:'json',
			load:function(data){ 
				//alert(data);
				AutoFillNextEditableDropDown("Year"+no,data); 
			}
	   }
	dojo.xhrGet(xhrArgs1);

	var xhrArgs2 = {
			url: "<?php echo $this->baseUrl();?>"+"/takafulcandidates/fngetactiveset/idprog/"+idprog,
			handleAs:'text',
			load:function(data){ 
				//alert(data);
				document.getElementById('activeset'+no).value = data;
			}
	   }
	dojo.xhrGet(xhrArgs2);

 }
}
 function fnGetCitylist(idstate,no)
 {
		//alert(idstate);
		var Program = dijit.byId("candidateprog"+no);
		var year = dijit.byId("Year"+no).value;
	 	var xhrArgs = {
	 			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetcitynames/idstate/"+idstate+"/Program/"+Program+"/idsecheduler/"+year,
	 			handleAs:'json',
	 			load:function(data){ 
	 			//alert(data);
	 				AutoFillNextEditableDropDown("NewCity"+no,data); 
	 			}
	 	   }
	 	dojo.xhrGet(xhrArgs);
 }

 function fnGetMonth(idyear,no)
 {
		//alert(idyear);
		var Program = dijit.byId("candidateprog"+no);
		//alert(Program);
		var xhrArgs = {
	 			url: "<?php echo $this->baseUrl();?>"+"/takafulcandidates/fngetmonthslist/idyear/"+idyear+"/Program/"+Program,
	 			handleAs:'json',
	 			load:function(data){ 
	 			//alert(data);
	 				AutoFillNextEditableDropDown("NewMonth"+no,data); 
	 			}
	 	   }
	 	dojo.xhrGet(xhrArgs);

		var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/takafulcandidates/fngetstatename/idyear/"+idyear+"/Program/"+Program,
				handleAs:'json',
				load:function(data){ 
					//alert(data);
					AutoFillNextEditableDropDown("NewState"+no,data); 
					 
				}
		   }
		dojo.xhrGet(xhrArgs);
 }
 function fngeticno(icno,no)
 {
 
 	var stricna=new String(icno);	
 	var the_char=stricna.charAt(0);
 	var year=stricna.charAt(0) + stricna.charAt(1);
 	if((year>=30) &&(year<=99))
 	{
 		year=19+year;
 		
 	}
 	else
 	{
 		year=20+year;
 		
 	}
 	
 	var month=stricna.charAt(2)+stricna.charAt(3);
 	var date1=stricna.charAt(4)+stricna.charAt(5);
 	var dob=year+'-'+month+'-'+date1;
 	dijit.byId('candidatedateofbirth'+no).set('value',dob);
 	if(icno!='')
	{
	var Program = dijit.byId("Program");
	<?php $noofprog = $this->noofprog; ?>
	var Program ='<?php echo $noofprog['0']?>';
	var xhrArgs = {
 			url: "<?php echo $this->baseUrl();?>"+"/takafulcandidates/fngetstudentconfirm/icno/"+icno+"/Program/"+Program,
 			handleAs:'text',
 			load:function(data){ 
 				content = data.split("***");
				//alert(content[0]);
				if(content[0]==1)
				{
				alert(content[1]);
				dijit.byId('candidateicno'+no).set('value','');
				//flag=1;
				}
		
 			}
 	   }
 	dojo.xhrGet(xhrArgs);


	

		 da='<?php echo $this->alreadyapppliedexcel ?>';
		// alert(da);
			icno=parseInt(icno);
		for(i=0;i<no;i++)
		{
			
			
			icno2=dijit.byId("candidateicno"+i).value;
			icno2=parseInt(icno2);
			
		    if( icno == icno2)
			{
				//alert("a");
		    	alert("You have  already applied for this course");
				dijit.byId("candidateicno"+no).set('value','');
			}
		}

		for(i=no+1;i<da;i++)
		{
			
			
			icno2=dijit.byId("candidateicno"+i).value;
			icno2=parseInt(icno2);
		    if(icno == icno2)
			{
				alert("You have  already applied for this course");
				dijit.byId("candidateicno"+no).set('value','');
			}
		}
		


	}
 }

 function fnGetDays(idmonth,no)
 {
	 //alert(idmonth);

     if(idmonth!='')
  	{
	 dijit.byId("Examdate"+no).setValue('');
		var Year = dijit.byId("Year"+no);
		var Program = dijit.byId("candidateprog"+no);
		//alert(Year);
		var xhrArgs = {
	 			url: "<?php echo $this->baseUrl();?>"+"/takafulcandidates/caleshow/idmonth/"+idmonth+"/Year/"+Year+"/Program/"+Program+"/no/"+no,
	 			handleAs:'text',
	 			load:function(data){ 
	 			//alert(data);
	 			document.getElementById('calender').innerHTML = data; 
	 			}
	 	   }
	 	dojo.xhrGet(xhrArgs);
  	}
 }

 function funct(day,month,number)
 {
 	//alert(day);
 //	alert(month);
 	
 	x=day+""+month;
 	//alert(x);

 	//var selectedmonth=dijit.byId('NewMonth'+number).value;
 	//var selectedyear= dojo.byId('Year'+number).value;  
 	
 	var selecteddate = day;
 	//alert(Examdate);
 	

 	dijit.byId('Examdate'+number).setValue(selecteddate);
 	dijit.byId('NewCity'+number).set('value','');
	dijit.byId('NewCity'+number).set('placeHolder','Select City');
 	for(i=1;i<=31;i++)
 	{
 	 	z = i+""+month;
 	 	//alert('forloop');
 	 	//alert(z);
 	 	if(document.getElementById(z))
 	 	document.getElementById(z).style.backgroundColor = '#FEFFBF';
 	}
 	document.getElementById('setdate').value = day;
 	document.getElementById('setmonth').value = month;
 	document.getElementById(x).style.backgroundColor = '#ff0000';
 	//document.getElementById(165).style.backgroundColor = '#8DB87C';

 }


 /*

 function fnGetVenuename(idcity,no)
 {
	// alert(idcity);
		var Year = dijit.byId("Year"+no);
		var Program = dijit.byId("candidateprog"+no);
		//alert(Year);
		var xhrArgs = {
	 			url: "<?php echo $this->baseUrl();?>"+"/takafulcandidates/fngetvenuedetails/Year/"+Year+"/Program/"+Program+"/idcity/"+idcity,
	 			handleAs:'json',
	 			load:function(data){ 
	 			//alert(data);
	 				AutoFillNextEditableDropDown("NewVenue"+no,data);
	 			}
	 	   }
	 	dojo.xhrGet(xhrArgs);


		var xhrArgs = {
	 			url: "<?php echo $this->baseUrl();?>"+"/takafulcandidates/fngetvenuesessiondetails/Year/"+Year+"/Program/"+Program+"/idcity/"+idcity,
	 			handleAs:'json',
	 			load:function(data){ 
	 			//alert(data);
	 				AutoFillNextEditableDropDown("Newsession"+no,data);
	 			}
	 	   }
	 	dojo.xhrGet(xhrArgs);
 }
*/

 function fnGetVenuename(idcity,no)
 {
	 var day = dijit.byId("Examdate"+no).value;
	 var month = dijit.byId("NewMonth"+no);
	 var year = dijit.byId("Year"+no);
	
if(idcity!='')
{

var xhrArgs1 = {
		url: "<?php echo $this->baseUrl();?>"+"/takafulcandidates/tempdays/day/"+day+"/month/"+month+"/year/"+year+"/city/"+idcity,
		handleAs:'text',
		load:function(data){ 
			//document.getElementById(data).style.backgroundColor = '#FFFFFF';
			if(data==1)
			{
				fnGetVenuenames(idcity,no);
			}
			else
			{
				alert("The Seats are full for this date In this City ,Please Change Date Or City");
				fnGetVenuenames2(8888,no);
			}
		}
   }
dojo.xhrGet(xhrArgs1);
 }
 }

 function fnGetVenuenames(idcity,no)
 {

	  var Year = dijit.byId("Year"+no);
		var Program = dijit.byId("candidateprog"+no);

		 var idcity = dijit.byId("NewCity"+no);
		 var day = dijit.byId("Examdate"+no).value;
		 var month = dijit.byId("NewMonth"+no);
		
		var xhrArgs = {
	 			url: "<?php echo $this->baseUrl();?>"+"/takafulcandidates/fngetvenuedetails/Year/"+Year+"/Program/"+Program+"/idcity/"+idcity,
	 			handleAs:'json',
	 			load:function(data){ 
	 			//alert(data);
	 				AutoFillNextEditableDropDown("NewVenue"+no,data);
	 			}
	 	   }
	 	dojo.xhrGet(xhrArgs);




 
}


 function fnGetVenuenames2(idcity,no)
 {

	  var Year = dijit.byId("Year"+no);
		var Program = dijit.byId("candidateprog"+no);

		 var idcity = dijit.byId("NewCity"+no);
		 var day = dijit.byId("Examdate"+no).value;
		 var month = dijit.byId("NewMonth"+no);
		
		var xhrArgs = {
	 			url: "<?php echo $this->baseUrl();?>"+"/takafulcandidates/fngetvenuedetails/Year/"+Year+"/Program/"+Program+"/idcity/"+888899,
	 			handleAs:'json',
	 			load:function(data){ 
	 			//alert(data);
	 				AutoFillNextEditableDropDown("NewVenue"+no,data);
	 			}
	 	   }
	 	dojo.xhrGet(xhrArgs);
 
}

 function fnGetVenuesessionname(idcity,no)
 {

	 var Year = dijit.byId("Year"+no);
		var Program = dijit.byId("candidateprog"+no);
		 var idcity = dijit.byId("NewCity"+no);
		 var venue = dijit.byId("NewVenue"+no);

		 var day = dijit.byId("Examdate"+no).value;
		 var month = dijit.byId("NewMonth"+no);
		
		var xhrArgs = {
	 			url: "<?php echo $this->baseUrl();?>"+"/takafulcandidates/fngetvenuesessiondetails/Year/"+Year+"/Program/"+Program+"/idcity/"+idcity+"/venue/"+venue+"/day/"+day+"/month/"+month,
	 			handleAs:'json',
	 			load:function(data){ 
	 			if(data=='')
	 			{
		 			alert("This Venue is Filled Plz change The Venue");
		 			dijit.byId("Rem"+no).setValue('');
	 			}
	 					
	 				AutoFillNextEditableDropDown("Newsession"+no,data);
	 			
		 			}
	 	   }
	 	dojo.xhrGet(xhrArgs);
	 
 }

 function fnGetgetremaining(sessionsids,no)
 {
	 if(no>0)
	 {
	 if(dijit.byId("Newsession"+(no-1)).value=="")
		 alert("Please fill the above rows");
	 }
		 if(sessionsids!='')
{
	 var Year = dijit.byId("Year"+no);
		var Program = dijit.byId("candidateprog"+no);
		 var idcity = dijit.byId("NewCity"+no);
		 var venue = dijit.byId("NewVenue"+no);

		 var day = dijit.byId("Examdate"+no).value;
		 var month = dijit.byId("NewMonth"+no);
		
		var xhrArgs = {
	 			url: "<?php echo $this->baseUrl();?>"+"/takafulcandidates/fngetremainingseats/Year/"+Year+"/Program/"+Program+"/idcity/"+idcity+"/venue/"+venue+"/day/"+day+"/month/"+month+"/sessionsids/"+sessionsids,
	 			handleAs:'json',
	 			load:function(data){ 
	 			if(data=='')
	 			{
		 		
	 			}
	 			else
	 			{
		 			//alert(data);
	 				//dijit.byId("Rem"+no).setValue(data);
	 				document.getElementById("Rem"+no).value=data;
	 				document.getElementById("Rems"+no).value=(data);
	 				fnvalidateremainingseats(sessionsids,no);
	 			}
	 				
	 			}
	 	   }
	 	dojo.xhrGet(xhrArgs);
	 
 }
 }


 var  aray= new Array();
 var ay5=new Array();
 var hg=2000;
 var ut=0;
 var fda=0;
 var ut2=0;
 var kg=0;
 var ibm=0;
 function  fnvalidateremainingseats(sessionids,no)
 {  
	 if(sessionids!='')
	 {
	 flag=1;
	 var gf=0;
	 var sa3=0;
	 var xy=888;
	
	 da='<?php echo $this->total;?>';
	 da=parseInt(da);
	 //alert(da);
	 if(no>0)
	 {
		kg=0;		 
rem=document.getElementById("Rem"+no).value;//dijit.byId("Rem"+no).value;
rem=parseInt(rem);

	
for(i=0;i<no;i++)
{
year=dojo.byId('Year'+i).value;
year=parseInt(year);
month=dijit.byId("NewMonth"+i);
month=parseInt(month);
date=dijit.byId("Examdate"+i).value;
date=parseInt(date);
venue=dijit.byId("NewVenue"+i);
venue=parseInt(venue);
sessionname=dijit.byId("Newsession"+i);
sessionname=parseInt(sessionname);

year1=dojo.byId('Year'+no).value;
year1=parseInt(year1);
month1=dijit.byId("NewMonth"+no);
month1=parseInt(month1);
date1=dijit.byId("Examdate"+no).value;
date1=parseInt(date1);
venue1=dijit.byId("NewVenue"+no);
venue1=parseInt(venue1);
remns=document.getElementById("Rem"+no).value;//dijit.byId("Rem"+no).value;
remns=parseInt(remns);
if((year1==year) && (month1==month) && (date1==date) && (venue1==venue) && (sessionids==sessionname) )
{
	//aray4.push(no);
	hg= no;
	document.getElementById("Rems"+no).value=(remns - flag);
	fd=remns - flag;
	kh=remns-1;
if(fd==kh)
{
	kg=1;
}

	flag++;	
	fg=parseInt(flag);
	
//alert(fg);
	//alert(remns);
if(eval(fg>remns))
{
alert("Please change this Session,it Is full already for this date in this venue");
dijit.byId('Newsession'+no).set('value','');
//dijit.byId('Rem'+no).set('value','');
}
}
}
		
}
	
	 for(i=0;i<aray.length;i++)
	 {
		
	 	if(no==aray[i])
	 	{
	 		dupnochange=no;
	 		 gf=1;
	 		 fnvalidatebelow(dupnochange);
	 		 fnvalidateabove(ut2,dupnochange);
			 break;
	 		
	 	}
	 	else
	 	{
	 		
		 	xy=no;
		 	sa3=1;	
		 	
		 	
	 	}
	 	
	 }
		//alert(hg);

	/* if(gf==1)
	 	{
			
		 	//sa=aray4.length-1;
		//alert(hg);
			 //	fa=aray4[sa];
		 if(ut==0)
		 {
		 		//dijit.byId('Newsession'+hg).set('value','');
		 		ut++;
		 }
			 	}*/
	 	
	
	 aray.push(no);
	if((no==0))
	{
		ay5.push(0);	
	}
	if(sa3==1)
	{
		ay5.push(xy);	
		
	}
	//alert("cx");
	// for(i=0;i<ay5.length;i++)
	// {
	//	 alert(ay5[i]);
	// }
	
	// alert(aray[0]);
	//fda=1;
 }
	 }



 var fs=0;
 var ins=999;
 var frar=new Array();
 function  fnvalidateabove(ut2,no)
 {
		//alert(ut2);
		//alert(no);

	
		da='<?php echo $this->total;?>';
		da=parseInt(da);

		//alert("xyz");
		
		//alert(no);
		sa=ay5.length-1;
		//alert(ay5[sa]);
if(ay5[sa]!=no)
	{
	//alert("below");
	//alert(ay5[sa]);
for(i=no+1;i<da;i++)
{
year=dojo.byId('Year'+i).value;
year=parseInt(year);
month=dijit.byId("NewMonth"+i);
month=parseInt(month);
date=dijit.byId("Examdate"+i).value;
date=parseInt(date);
venue=dijit.byId("NewVenue"+i);
venue=parseInt(venue);
sessionname=dijit.byId("Newsession"+i);
sessionname=parseInt(sessionname);

year1=dojo.byId('Year'+no).value;
year1=parseInt(year1);
month1=dijit.byId("NewMonth"+no);
month1=parseInt(month1);
date1=dijit.byId("Examdate"+no).value;
date1=parseInt(date1);
venue1=dijit.byId("NewVenue"+no);
venue1=parseInt(venue1);
//sessionids=dijit.byId("Newsession"+no);
//sessionids=parseInt(sessionids);


Rems=document.getElementById("Rems"+i).value;
Rems=parseInt(Rems);

Rems1=document.getElementById("Rems"+no).value;
Rems1=parseInt(Rems1);

ut2=parseInt(ut2);

remns=document.getElementById("Rem"+i).value;//dijit.byId("Rem"+no).value;
remns=parseInt(remns);
if( (year1==year) && (month1==month) && (date1==date) && (venue1==venue) && (ut2==sessionname) )
{
	//alert("c");
	//alert(i);
	//alert(Rems);
	//alert(remns);
	if(Rems!=remns)
	{
		//alert("a");
		//alert(Rems);
		//alert(remns);
		
	if(fs!=1)
	{//alert("d");
		ga= Rems + 1;
		 fs=0;
		 document.getElementById("Rems"+i).value=ga;
	}

	if(fs==1)
	{
		 if(eval(ins<i))
		 {//alert(ins);
		 //alert(i);
		 //alert("b");
	ga= Rems + 1;
	 fs=0;
	 document.getElementById("Rems"+i).value=ga;
		 }
	}
	}

	if(Rems==remns)
	{
		 ins=i;
	var fs=1;	
}
}
 }
	}
if(eval(no>0))
{
	//alert("xyz");
	
//	alert(no);
	//sa=ay5.length-1;
	//alert(ay5[sa]);
	if(ay5[sa]!=no)
	{
		//alert("abc");
		//alert("above");
		//alert(ay5[sa]);
		
	for(i=0;i<no;i++)
	{
	year=dojo.byId('Year'+i).value;
	year=parseInt(year);
	month=dijit.byId("NewMonth"+i);
	month=parseInt(month);
	date=dijit.byId("Examdate"+i).value;
	date=parseInt(date);
	venue=dijit.byId("NewVenue"+i);
	venue=parseInt(venue);
	sessionname=dijit.byId("Newsession"+i);
	sessionname=parseInt(sessionname);

	year1=dojo.byId('Year'+no).value;
	year1=parseInt(year1);
	month1=dijit.byId("NewMonth"+no);
	month1=parseInt(month1);
	date1=dijit.byId("Examdate"+no).value;
	date1=parseInt(date1);
	venue1=dijit.byId("NewVenue"+no);
	venue1=parseInt(venue1);
	//sessionids=dijit.byId("Newsession"+no);
	//sessionids=parseInt(sessionids);


	Rems=document.getElementById("Rems"+i).value;
	Rems=parseInt(Rems);

	Rems1=document.getElementById("Rems"+no).value;
	Rems1=parseInt(Rems1);

	ut2=parseInt(ut2);

	remns=document.getElementById("Rem"+i).value;//dijit.byId("Rem"+no).value;
	remns=parseInt(remns);
	if( (year1==year) && (month1==month) && (date1==date) && (venue1==venue) && (ut2==sessionname) )
	{
		
		//alert("c");
		//alert(i);
		//alert(Rems);
		//alert(remns);
		if(Rems!=remns)
		{
			//alert("a");
			//alert(Rems);
			//alert(remns);
			if(fs!=1)
			{
				//alert("c");
			ga= Rems + 1;
			 fs=0;
			 document.getElementById("Rems"+i).value=(ga);
			}
			if(fs==1)
			{ alert("v");
				alert(kg);
				 if(eval(ins>i))
				 {
			ga= Rems + 1;
			 fs=0;
			 document.getElementById("Rems"+i).value=(ga);
				 }
				 if(kg==1)
				 {
					 ga= Rems + 1;
					 fs=0;
					 kg=0;
					 document.getElementById("Rems"+i).value=(ga); 
				 }
					 
			}
		}
		if(Rems==remns)
		{
			 ins=i;
		var fs=1;	
		}

			
	}
	}	
}
}
}



 

 var flag=1;
 function  fnvalidatebelow(no)
 {
da='<?php echo $this->total;?>';
da=parseInt(da);
for(i=no+1;i<da;i++)
{
year=dojo.byId('Year'+i).value;
year=parseInt(year);
month=dijit.byId("NewMonth"+i);
month=parseInt(month);
date=dijit.byId("Examdate"+i).value;
date=parseInt(date);
venue=dijit.byId("NewVenue"+i);
venue=parseInt(venue);
sessionname=dijit.byId("Newsession"+i);
sessionname=parseInt(sessionname);

year1=dojo.byId('Year'+no).value;
year1=parseInt(year1);
month1=dijit.byId("NewMonth"+no);
month1=parseInt(month1);
date1=dijit.byId("Examdate"+no).value;
date1=parseInt(date1);
venue1=dijit.byId("NewVenue"+no);
venue1=parseInt(venue1);
sessionids=dijit.byId("Newsession"+no);
sessionids=parseInt(sessionids);

remns=document.getElementById("Rem"+no).value;//dijit.byId("Rem"+no).value;
remns=parseInt(remns);
if((year1==year) && (month1==month) && (date1==date) && (venue1==venue) && (sessionids==sessionname) )
{
	document.getElementById("Rems"+no).value=(remns - flag);
	flag++;	
	fg=parseInt(flag);
//alert(fg);
	//alert(remns);
if(eval(fg>remns))
{
alert("Please change this Session,it Is full already for this date in this venue");
dijit.byId('Newsession'+no).set('value','');
//dijit.byId('Rem'+no).set('value','');
}
}
}

 }

 
 function fnGetoldsession(sessionsids,no)
 {
	 if(sessionsids!='')
	 {
	 for(i=0;i<aray.length;i++)
	 {
	 	if(no==aray[i])
	 	{
	 		ut2=sessionsids;
	 		//alert(sessionsids);
	 		// alert(no);
	 		
	 	}
	 	
	 }
	 }
	 
 }

 function duplicateemail(email,no)
	{
		var Program = dijit.byId("candidateprog"+no);
		Program=parseInt(Program);

		 ICNO = dijit.byId("candidateicno"+no).value;
		 if(ICNO=='')
		 {
			 alert("Please Enter ICNO First");
			 dijit.byId("candidateemail"+no).set('value','');
			 dijit.byId("candidateicno"+no).focus();
		 }
			if((email!='') && (ICNO !=''))
			{
	 da='<?php echo $this->total;?>';
		var xhrArgs = {
	 			url: "<?php echo $this->baseUrl();?>"+"/takafulcandidates/fngetemaildetails/Year/"+email+"/Program/"+Program+"/ICNO/"+ICNO,
	 			handleAs:'text',
	 			load:function(data){ 
	 				if(data == '')
					{
					}
					else
					{
					alert(data);
					document.getElementById("candidateemail"+no).value="";
					dijit.byId("candidateemail"+no).focus();
					}
			
	 			}
	 	   }
	 	dojo.xhrGet(xhrArgs);



		for(i=0;i<no;i++)
		{
			Program1 = dijit.byId("candidateprog"+i);
			Program1=parseInt(Program1);
			//alert(Program1);
			//alert(Program);
			//email2=dijit.byId("candidateemail"+i).value;
			email2=dijit.byId("candidateemail"+i).value;
			//alert(email);
			//alert(email2);
			//if(eval(Program)==eval(Program1))
		    if((Program == Program1) && (email == email2))
			{
				//alert("a");
				alert("This email id is already taken by other persons for this course");
				dijit.byId("candidateemail"+no).set('value','');
			}
		}

		for(i=no+1;i<da;i++)
		{
			Program1 = dijit.byId("candidateprog"+i);
			Program1=parseInt(Program1);
			
			email2=dijit.byId("candidateemail"+i).value;
		
		    if((Program == Program1) && (email == email2))
			{
				//alert("b");
				alert("This email id is already taken by other persons for this course");
				dijit.byId("candidateemail"+no).set('value','');
			}
		}
		}
			
				
	}	



//**************
 
 function fngetstatedetails(idprog)
 {
	
 	document.getElementById('calender').style.display='none';
 	var xhrArgs1 = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/newfngetyear/idprog/"+idprog,
			handleAs:'json',
			load:function(data){ 				
				AutoFillNextEditableDropDown("Year",data); 
			}
	   }
	dojo.xhrGet(xhrArgs1);

 	var xhrArgs2 = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetactiveset/idprog/"+idprog,
			handleAs:'text',
			load:function(data){ 
				document.getElementById('setactive').value = data;
			}
	   }
	dojo.xhrGet(xhrArgs2);
 }


 function fngetstatelist()
 {
 	
 	var Program = dijit.byId("Program");
 	var year = dijit.byId("Year").value;
 	var xhrArgs = {
 			url: "<?php echo $this->baseUrl();?>"+"/registration/newfngetcitynames/Program/"+Program+"/year/"+year,
 			handleAs:'json',
 			load:function(data){ 
 				document.getElementById('calender').innerHTML;
 				AutoFillNextEditableDropDown("NewVenue",data); 
 				
 			}
 	   }
 	dojo.xhrGet(xhrArgs);

 	

 	
 }


 function fndisplaycalender(city)
 {
 	var Month = dijit.byId("Month");
 	//alert(Month);
 	var Program = dijit.byId("Program");
 	//var NewCity = dijit.byId("NewVenue");
 	document.getElementById('calender').style.display='block';
 	var year = dijit.byId("Year").value;
 	//alert(city);
 		
 	var NewCity = dijit.byId("NewVenue");
 	
 	if(city == '')
 	{
 		document.getElementById('calender').innerHTML="";
 	}
 	var Program = dijit.byId("Program");
 	//var NewCity = dijit.byId("NewVenue");
 	document.getElementById('calender').style.display='block';
 	var year = dijit.byId("Year").value;
 	if(year>0 && city!='')
 	{
 		//alert('asf');
 	var xhrArgs = {
 			url: "<?php echo $this->baseUrl();?>"+"/registration/newfnnewcaleshow/Program/"+Program+"/NewCity/"+city+"/year/"+year,
 			handleAs:'text',
 			load:function(data){ 
 				//alert(data);
 				document.getElementById('calender').innerHTML = "<style>Instruction: Click on date to view details and proceed </style><br>"+data;
 				//showcalender()
 			}
 	   }
 	dojo.xhrGet(xhrArgs);

 	var xhrArgs = {
  			url: "<?php echo $this->baseUrl();?>"+"/registration/newfngetyearofsession/Year/"+year+"/Program/"+Program+"/NewCity/"+city,
  			handleAs:'text',
  			load:function(data)
  			{ 
 	 			if(data==1)
 	 			{
 	 				document.getElementById('sessiondays').innerHTML = '<table><tr><td> <B>1 SESSIONS :</B></td><td><div style="background-color:green;width:50px;height:20px;align:right;"></div></td></tr></table>'; 
 	 			}
 	       if(data==2)
 	 			{
 	    	   document.getElementById('sessiondays').innerHTML = '<table><tr><td> <B>1 SESSIONS :</B></td><td><div style="background-color:green;width:50px;height:20px;"></div></td><td>  <B>2 SESSIONS :</B> </td><td> <div style="background-color:skyblue;width:50px;height:20px;"></div></td></tr></table>'; 	
 	 			}
 	 		if(data==3)
 	 			{
 	 			document.getElementById('sessiondays').innerHTML = ' <table><tr><td> <B>1 SESSIONS :</B></td><td><div style="background-color:green;width:50px;height:20px;"></div></td><td>  <B>2 SESSIONS :</B> </td><td> <div style="background-color:skyblue;width:50px;height:20px;"></div></td><td><B>3 SESSIONS :</B></td><td> <div style="background-color:violet;width:50px;height:20px;"></div></td></tr></table>';
 	 			}
 	 		 if(data==4)
 	 			{
 		 			document.getElementById('sessiondays').innerHTML = '<table><tr><td>  <B>1 SESSIONS :</B></td><td><div style="background-color:green;width:50px;height:20px;"></div> </td><td> <B>2 SESSIONS :</B></td><td> <div style="background-color:skyblue;width:50px;height:20px;"></div></td><td><B>3 SESSIONS :</B> </td><td> <div style="background-color:violet;width:50px;height:20px;"></div></td><td><B>4 SESSIONS :</B> </td><td><div style="background-color:pink;width:50px;height:20px;"></div></td></tr></table>';
 	 			}
 	 		
  			//alert(data);
  			//document.getElementById('sessiondays').innerHTML = data; 
  			}
  	   }
  	dojo.xhrGet(xhrArgs);
 	
 	}
 	
 	
 	//var NewCity = dijit.byId("NewVenue");
 	var xhrArgs = {
 			url: "<?php echo $this->baseUrl();?>"+"/registration/newfnnewmonthslist/Program/"+Program+"/NewCity/"+city+"/year/"+year,
 			handleAs:'json',
 			load:function(data){ 
 				AutoFillNextEditableDropDown("Month",data); 
 			}
 	   }
 	dojo.xhrGet(xhrArgs);
 	
 	document.getElementById('calender').style.display = 'none'; 
 	document.getElementById('sessiondays').style.display = 'none'; 
 }

 function fnnewshowcalender()
 {	
    
			reg=false;
    da='<?php echo $this->total;?>';
   /*
    for(i=0;i<da;i++)
      {
if(dijit.byId("candidatedateofbirth"+i).isValid()){

	flag =1;
}
else
{  
   flag =0;
	  dijit.byId("candidatedateofbirth"+i).attr('required','true');
	dijit.byId("candidatedateofbirth"+i).focus();
          break;
}

if(dijit.byId("candidatename"+i).value=='')
{
	  dijit.byId("candidatename"+i).attr('required','true');
	  flag =0;
}
if(dijit.byId("candidateicno"+i).value=='')
{
	  dijit.byId("candidateicno"+i).attr('required','true');
	  flag =0;
}


}*/
  
 	
 	var Program = dijit.byId("Program");
 	if(Program=='')
 	{
 		alert('Please Select the Program');
 	}
 	var Year = dijit.byId("Year");
 	if(Year=='')
 	{
 		alert('Please Select the Year');
 	}
 	var NewVenue = dijit.byId("NewVenue");
 	if(NewVenue=='')
 	{
 		alert('Please Select the Venue');
 	}
 	
 	document.getElementById('calender').style.display = 'block'; 
 	document.getElementById('sessiondays').style.display = 'block'; 
 	
 }


 function fnShowCalendar(idmonth)
 {
 	//alert(idmonth);
 	// dijit.byId("Examdate"+no).setValue('');
 		var Year = dijit.byId("Year");
 		var Program = dijit.byId("Program");
 		var NewCity = dijit.byId("NewVenue");
 		var year = Year;
 		//alert(Year);
 		if(idmonth == 0)
 	 	{
 	 		var NewCity = dijit.byId("NewVenue");
 	 		var xhrArgs = {
 	 				url: "<?php echo $this->baseUrl();?>"+"/registration/newfnnewcaleshow/Program/"+Program+"/NewCity/"+NewCity+"/year/"+year,
 	 				handleAs:'text',
 	 				load:function(data){ 
 	 					document.getElementById('calender').innerHTML = "<style>Instruction: Click on date to view details and proceed </style><br>"+data;
 	 				}
 	 		   }
 	 		dojo.xhrGet(xhrArgs);

 			var xhrArgs = {
 		 			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetyearofsession/Year/"+Year+"/Program/"+Program+"/NewCity/"+NewCity,
 		 			handleAs:'text',
 		 			load:function(data)
 		 			{ 
 			 			if(data==1)
 			 			{
 			 				document.getElementById('sessiondays').innerHTML = '<table><tr><td> <B>1 SESSIONS :</B></td><td><div style="background-color:green;width:50px;height:20px;align:right;"></div></td></tr></table>'; 
 			 			}
 			       if(data==2)
 			 			{
 			    	   document.getElementById('sessiondays').innerHTML = '<table><tr><td> <B>1 SESSIONS :</B></td><td><div style="background-color:green;width:50px;height:20px;"></div></td><td>  <B>2 SESSIONS :</B> </td><td> <div style="background-color:skyblue;width:50px;height:20px;"></div></td></tr></table>'; 	
 			 			}
 			 		if(data==3)
 			 			{
 			 			document.getElementById('sessiondays').innerHTML = ' <table><tr><td> <B>1 SESSIONS :</B></td><td><div style="background-color:green;width:50px;height:20px;"></div></td><td>  <B>2 SESSIONS :</B> </td><td> <div style="background-color:skyblue;width:50px;height:20px;"></div></td><td><B>3 SESSIONS :</B></td><td> <div style="background-color:violet;width:50px;height:20px;"></div></td></tr></table>';
 			 			}
 			 		 if(data==4)
 			 			{
 				 			document.getElementById('sessiondays').innerHTML = '<table><tr><td>  <B>1 SESSIONS :</B></td><td><div style="background-color:green;width:50px;height:20px;"></div> </td><td> <B>2 SESSIONS :</B></td><td> <div style="background-color:skyblue;width:50px;height:20px;"></div></td><td><B>3 SESSIONS :</B> </td><td> <div style="background-color:violet;width:50px;height:20px;"></div></td><td><B>4 SESSIONS :</B> </td><td><div style="background-color:pink;width:50px;height:20px;"></div></td></tr></table>';
 			 			}
 			 		
 		 			//alert(data);
 		 			//document.getElementById('sessiondays').innerHTML = data; 
 		 			}
 		 	   }
 		 	dojo.xhrGet(xhrArgs);


 	 		
 	 	}
 		else
 		{
 		var xhrArgs = {
 	 			url: "<?php echo $this->baseUrl();?>"+"/registration/caleshowmonth/idmonth/"+idmonth+"/Year/"+Year+"/Program/"+Program+"/NewCity/"+NewCity,
 	 			handleAs:'text',
 	 			load:function(data)
 	 			{ 
 	 			//alert(data);
 	 			document.getElementById('calender').innerHTML = data; 
 	 			}
 	 	   }
 	 	dojo.xhrGet(xhrArgs);


 		var xhrArgs = {
 	 			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetmonthofsession/idmonth/"+idmonth+"/Year/"+Year+"/Program/"+Program+"/NewCity/"+NewCity,
 	 			handleAs:'text',
 	 			load:function(data)
 	 			{ 
 		 			if(data==1)
 		 			{
 		 				document.getElementById('sessiondays').innerHTML = '<table><tr><td> <B>1 SESSIONS :</B></td><td><div style="background-color:green;width:50px;height:20px;align:right;"></div></td></tr></table>'; 
 		 			}
 		       if(data==2)
 		 			{
 		    	   document.getElementById('sessiondays').innerHTML = '<table><tr><td> <B>1 SESSIONS :</B></td><td><div style="background-color:green;width:50px;height:20px;"></div></td><td>  <B>2 SESSIONS :</B> </td><td> <div style="background-color:skyblue;width:50px;height:20px;"></div></td></tr></table>'; 	
 		 			}
 		 		if(data==3)
 		 			{
 		 			document.getElementById('sessiondays').innerHTML = ' <table><tr><td> <B>1 SESSIONS :</B></td><td><div style="background-color:green;width:50px;height:20px;"></div></td><td>  <B>2 SESSIONS :</B> </td><td> <div style="background-color:skyblue;width:50px;height:20px;"></div></td><td><B>3 SESSIONS :</B></td><td> <div style="background-color:violet;width:50px;height:20px;"></div></td></tr></table>';
 		 			}
 		 		 if(data==4)
 		 			{
 			 			document.getElementById('sessiondays').innerHTML = '<table><tr><td>  <B>1 SESSIONS :</B></td><td><div style="background-color:green;width:50px;height:20px;"></div> </td><td> <B>2 SESSIONS :</B></td><td> <div style="background-color:skyblue;width:50px;height:20px;"></div></td><td><B>3 SESSIONS :</B> </td><td> <div style="background-color:violet;width:50px;height:20px;"></div></td><td><B>4 SESSIONS :</B> </td><td><div style="background-color:pink;width:50px;height:20px;"></div></td></tr></table>';
 		 			}
 		 		
 	 			//alert(data);
 	 			//document.getElementById('sessiondays').innerHTML = data; 
 	 			}
 	 	   }
 	 	dojo.xhrGet(xhrArgs);
 	
 		}
 	document.getElementById('calender').style.display = 'none'; 	
 	document.getElementById('sessiondays').style.display = 'none'; 	
 }


 function functp(day,month) {
	
		var Program = dijit.byId("Program");
		if(Program=='') {
			 alert('Please Select the program');
		}  else {
		var city = dijit.byId("NewVenue");
		var year = dijit.byId("Year");
		document.getElementById('setdate').value = day;
		document.getElementById('setmonth').value = month;
		
		var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/newtempdays/day/"+day+"/month/"+month+"/year/"+year+"/city/"+city,
			handleAs:'text',
			load:function(data){ 
			if(eval(data)!=0) {
				//document.getElementById('hiddenscheduler').value = 0;
				//document.forms["myForm"].submit();
				var xhrArgs = {
			 			url: "<?php echo $this->baseUrl();?>"+"/registration/selectvenuetakaful/day/"+day+"/month/"+month+"/year/"+year+"/city/"+city,
			 			handleAs:'text',
			 			load:function(data)
			 			{ 
			 			    //alert(data);
			 				document.getElementById('contentdiv').innerHTML = data;
			 				document.getElementById('divLogin').style.display = 'block';
			 				document.getElementById('divLogin2').style.display = 'block';
				           
			 			}
			 	   }
				dojo.xhrGet(xhrArgs);
				
			} else {
				alert("The Seats are full for this date In this Exam Venue ,Please Change Date Or Venue")
				document.getElementById('setdate').value ='';
				document.getElementById('setmonth').value = '';
				document.getElementById(x).style.backgroundColor = '#FEFFBF';
				}
			}
		}
		dojo.xhrGet(xhrArgs);
		}
	}
 function fngetstate(idcountry,ccnt){

	 var xhrArgs = {
	 			url: "<?php echo $this->baseUrl();?>"+"/takafulcandidates/fngetstate/idcountry/"+idcountry,
	 			handleAs:'json',
	 			load:function(data){ 	
		 			//alert(data); 				
	 				AutoFillNextEditableDropDown("candidatestate"+ccnt,data); 
	 				
	 			}
	 	   }
	 	dojo.xhrGet(xhrArgs);
 }


 document.onkeydown = function(event) {  
		
	    switch (event.keyCode) { 
	        case 116 : //F5 button	

		        alert("Sorry Refresh is disabled");	      
	            event.returnValue = false;
	            event.keyCode = 0;
	            return false; 
	        case 82 : //R button
	            if (event.ctrlKey) { 
	                event.returnValue = false; 
	                event.keyCode = 0;  
	                return false; 
	            } 
	    }
	}


 
--></script>
</head>
	<fieldset><?php $companyDetails = $this->companyDetails; ?>
		<legend><?php echo $this->translate("Takaful Operator").' '.$this->translate("Application");?></legend>
			<form dojoType="dijit.form.Form"  id="myForm"  action="" method="POST">
			 <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					reg=false;
                  da='<?php echo $this->total;?>';
                  for(i=0;i<da;i++)
                    {
if(dijit.byId("candidatedateofbirth"+i).isValid()){
		  
			flag =1;
		}
		else
		{  
		         flag =0;
			  dijit.byId("candidatedateofbirth"+i).attr('required','true');
			dijit.byId("candidatedateofbirth"+i).focus();
                        break;
		}
                       }
		if(flag==1)
		{
			reg=true;
		}
				  return reg;
                } else {
                    return false;
                }
				</script>		
	    		 <table class="" width="100%">	    		 
	    		 <?php
					$excelapplied=$this->alreadyapppliedexcel;
	    		 if($excelapplied>0){
                       			?>
                    	 <tr>
                    	 <input type="hidden" value="<?php echo $this->idbatchss;?>" name="idbatch" id="idbatch">
                         	 <th><?php echo $this->translate("Candidates Name");?></th>
                         	 <th><?php echo $this->translate("IC Number");?></th>
                         	 <th><?php echo $this->translate("Email");?></th>
                         	 
                         	  <th><?php echo $this->translate("Race");?></th>
                         	  <th><?php echo $this->translate("Religion");?></th>
                         	  <th><?php echo $this->translate("Education");?></th>
                         	  <th><?php echo $this->translate("Date of Birth");?></th>
                         	  <th><?php echo $this->translate("Gender");?></th>
                         	  <th><?php echo $this->translate("Mailing Address");?></th>
                         	  <th><?php echo $this->translate("Correspondance Address");?></th>
                         	  <th><?php echo $this->translate("Postal Code");?></th> 
                         	  <th><?php echo $this->translate("Country");?></th>
                         	  <th><?php echo $this->translate("State");?></th>         
                         	  <th><?php echo $this->translate("Contact No");?></th>  
                         	  <th><?php echo $this->translate("Mobile No");?></th>              	 
                    	 </tr>                       
                          <?php 
                          		$progname = $this->progname; 
                          		$noofprog = $this->noofprog;
                          		$totalnoofcandidate = $this->noofcandidates;  
                          		             		
                          		$programarray = $this->programresult;
                          		$count = 0;                          		
                          		$batcharrray = $this->batchresults;
                          		$raceresultarray = $this->raceresult;
                          		$Religionarray = $this->Religion;
                          		$educationresultarray = $this->educationresult;
                          		$takafularray = $this->takafuloperator;
                          		$excelapplied=$this->alreadyapppliedexcel;
                          		$countryresult=$this->countryresult;
                          	       
                         ?>
                          		
                         <?php 		        
                         					$month= date("m"); // Month value
											$day= date("d"); //today's date
											$year=  $this->yearss;// Year value
											$yesterdaydate= date('Y-m-d', mktime(0,0,0,$month,($day-1),$year));
											$dateofbirth = "{max:'$yesterdaydate',datePattern:'dd-MM-yyyy'}";
						 ?>
                          	
 <?php  $counttakaful = count($takafularray);?>
 <?php  $countprogramarray = count($programarray);?>
 <?php  $countReligionarray = count($Religionarray);?>
 <?php  $countrace = count($raceresultarray);?>
 <?php  $counteducation = count($educationresultarray);  
 		$countcountry = count($countryresult); 		
 ?>
                            <?php    for($i=0;$i<count($noofprog);$i++):?>
                       		<?php $cccnt =  count($batcharrray[$noofprog[$i]]);
                       		//$totalnoofcandidate[$noofprog[$i]]-$excelapplied;                      
                       		//($totalnoofcandidate[$noofprog[$i]]-$excelapplied);
                       		?>
                         		  <?php endfor;?>
                       		<?php 
                       		//$excelapplied;
                       		for($k=0;$k<1;$k++):?>                         		    
                         		       <tr>
												<td></td>
												<td></td> 
												<td></td>
												<td></td>
												                       		       
                         		       </tr>
                         		     <tr>   
                         		     <?php //regExp="[0-9]{2}(0{1}[1-9]{1}|1[012]{1})(0{1}[1-9]{1}|1[0-9]{1}|2[0-9]{1}|3[01]{1})[0-9]{6}$" invalidMessage="Enter your ICNO";?>
                         		     <td><input type="text" name="candidatename[]" id="candidatename<?php echo $count;?>" dojoType="dijit.form.ValidationTextBox"  required="true"   propercase="true"  propercase="true" regExp="[A-Za-z ]+[/]*[A-Za-z ]*" invalidMessage="Alphabets Only" >	</td>
                         		     <td><input type="text" name="candidateicno[]" id="candidateicno<?php echo $count;?>" dojoType="dijit.form.ValidationTextBox"  required="true"  onBlur="fngeticno(this.value,<?php echo $count;?>)"   maxlength="12"   regExp="[0-9]{2}(0{1}[1-9]{1}|1[012]{1})(0{1}[1-9]{1}|1[0-9]{1}|2[0-9]{1}|3[01]{1})[0-9]{6}$" invalidMessage="Enter your valid ICNO" >	</td>
                         		     <td><input type="text" name="candidateemail[]" id="candidateemail<?php echo $count;?>" dojoType="dijit.form.ValidationTextBox" required="true" onBlur="duplicateemail(this.value,<?php echo $count;?>)"  regExp="^[_a-zA-Z0-9-]+(\.[_a-zA-Z0-9-]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,3})$" invalidMessage="Not a valid email"</td>
                         		     <td><input type="hidden" name="candidatetakaful" id="candidatetakaful" value="<?php echo $this->candidatetakaful;?>"> 
                         		     <select name="candidaterace[]" id="candidaterace<?php echo $count;?>"  dojoType="dijit.form.FilteringSelect">	
                         		       <?php for($r=0;$r<$countrace;$r++):?>	                         		      			 
                         		      		<option value="<?php echo $raceresultarray[$r]['key']?>"><?php echo $raceresultarray[$r]['value']?></option>
                         		        <?php endfor?>
                         		      </select>
                         		      </td>
                         		       <td><select name="candidatereligion[]" id="candidatereligion<?php echo $count;?>"  dojoType="dijit.form.FilteringSelect">	
                         		      			 <?php for($r=0;$r<$countReligionarray;$r++):?>	
                         		      				<option value="<?php echo $Religionarray[$r]['key']?>"><?php echo $Religionarray[$r]['value']?></option>
                         		      				<?php endfor?>
                         		      		</select>
                         		      </td>
                         		      <td><select name="candidateeducation[]" id="candidateeducation<?php echo $count;?>"   dojoType="dijit.form.FilteringSelect">	
                         		      			<?php for($r=0;$r<$counteducation;$r++):?>	                         		      			 
                         		      				<option value="<?php echo $educationresultarray[$r]['key']?>"><?php echo $educationresultarray[$r]['value']?></option>
                         		      			<?php endfor?>
                         		      		</select>
                         		      </td>
                         		      
                         		      <td><input type="text" name="candidatedateofbirth[]" id="candidatedateofbirth<?php echo $count;?>" onClick="fnsetdate('<?php echo $count;?>');"  dojoType="dijit.form.DateTextBox" onClick="fnsetdate('<?php echo $count;?>');" required="true" constraints="<?php echo $dateofbirth;?>")>	</td>
                         		      
                         		       <td><select name="candidategender[]" id="candidategender<?php echo $count;?>" dojoType="dijit.form.FilteringSelect">	
                         		      			 
                         		      				<option value="1">Male</option>
                         		      				<option value="0">female</option>
                         		      				
                         		      	</select>
                         		      	</td>
                         		      	<td><input type="text" name="candidateaddress[]" id="candidateaddress<?php echo $count;?>" dojoType="dijit.form.ValidationTextBox"  required="true" ></td>
                         		      	<td><input type="text" name="correspondanceaddress[]" id="correspondanceaddress<?php echo $count;?>" dojoType="dijit.form.ValidationTextBox"  required="true" ></td>
                         		      	<td><input type="text" name="postalcode[]" id="postalcode<?php echo $count;?>" dojoType="dijit.form.ValidationTextBox"  required="true" regExp="[0-9]+" invalidMessage="Only Numbers" maxlength="6"></td>
                         		        <td><select name="candidatecountry[]" id="candidatecountry<?php echo $count;?>"   dojoType="dijit.form.FilteringSelect" onchange="fngetstate(this.value,<?php echo $count;?>)" placeHolder="Select Country">	
                         		      				<option value="">-Select-</option>
                         		      			<?php for($r=0;$r<$countcountry;$r++):?>	                         		      			 
                         		      				<option value="<?php echo $countryresult[$r]['key']?>"><?php echo $countryresult[$r]['value']?></option>
                         		      			<?php endfor?>
                         		      		</select>
                         		      </td>
                         		      <td><select name="candidatestate[]" id="candidatestate<?php echo $count;?>"   dojoType="dijit.form.FilteringSelect" >	
                         		      			
                         		      		</select>
                         		      </td>
                         		      <td><input type="text" name="candidatenum[]" id="candidatenum<?php echo $count;?>" dojoType="dijit.form.ValidationTextBox"  required="true" regExp="[0-9]+" invalidMessage="Only Numbers" maxlength="10"></td>
                        			  <td><input type="text" name="candidatemobnum[]" id="candidatemobnum<?php echo $count;?>" dojoType="dijit.form.ValidationTextBox"  required="true" regExp="[0-9]+" invalidMessage="Only Numbers" maxlength="10"></td>
                          </tr>
                         		<?php  $count++;?>                         		
                       <?php endfor;?>
                       <table width=100%>         			               
              <tr>                        
                  <td></td>        
                    <td align = "right">    
			 		   <input type="button" name="Back" class="NormalBtn" onClick="Closefn(); return false;" value="Back" dojoType="dijit.form.Button"  label="Back" > 	
				    	
				    <input type="submit" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Save");?>" id="save" name="save" value="save"/>	
				    </td> 
             </tr>
		</table> 
            
               <?php 
                        }
                         		 else{?>
                         		  <table width=100%>   
                         		 <tr>
                         		 <td>!!!!! Sorry Maximum Number Of Applications Reached</td>
                         		 <td align = "right">    
                            <input type="button" name="Close" class="buttonStyle" onClick="Closefn(); return false;" value="Close" dojoType="dijit.form.Button"  label="Close" >                        
							</td> 
                         		 </tr>
                         		 
                         		<?php }?>         
	   </table>
           </form>
       </fieldset>                
	  
