<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="">
<head>
<!--<style>
.barrel_roll {
-webkit-transition: -webkit-transform 4s ease;
-webkit-transform: rotate(360deg);
-moz-transition: -moz-transform 4s ease;
-moz-transform: rotate(360deg);
-o-transition: -o-transform 4s ease;
-o-transform: rotate(360deg);
transition: transform 4s ease;
transform: rotate(360deg);
}
</style> 
--><script type="text/javascript">
	dojo.addOnLoad(function() {
		dojo.byId("label1").style.display = "none";
		dojo.byId("label2").style.display = "none";
		dijit.byId('IdLevel').set('value','');
		dijit.byId('IdLevel').set('placeHolder','Select');
		dijit.byId('Country').set('value','');
		dijit.byId('Country').set('placeHolder','Select');
		dijit.byId('Countrystaff').set('value','');
		dijit.byId('Countrystaff').set('placeHolder','Select');
		dijit.byId('State').set('value','');
		dijit.byId('State').set('placeHolder','Select State');
		dijit.byId('Statestaff').set('value','');
		dijit.byId('Statestaff').set('placeHolder','Select State');
		dijit.byId('AffiliatedTo').set('value','');
		dijit.byId('AffiliatedTo').set('placeHolder','Select');
		dijit.byId('CollegeType').set('value','');
		dijit.byId('CollegeType').set('placeHolder','Select');
		var cid = dijit.byId('Country').value;
		var coid = dijit.byId('Countrystaff').value;
		
		var form = dijit.byId("myForm");
		var value=form.attr('value').CollegeType;
		fnToggleCollegeType(value);
	});

	function fnToggleCollegeDetails(value){
		if(value == "0"){
			dojo.byId("label1").style.display = "none";
			dojo.byId("label2").style.display = "none";
		} else if(value == "1"){
			dojo.byId("label1").style.display = "inline";
			dojo.byId("label2").style.display = "inline";

			dijit.byId('Idhead').set('value','');
			dijit.byId('Idhead').set('placeHolder','Select');
	
		}
		fnToggleCollegeType(value);
	}
	
function fnGetCountryStateList(idCountry,state){ 
	if(idCountry != "" || idCountry != undefined)
		{ 
			var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/general-setup/user/getcountrystateslist/idCountry/"+idCountry,
					handleAs:'json',
					load:function(data){ 
						AutoFillNextEditableDropDown(state,data);  
					}
			   }
			dojo.xhrGet(xhrArgs); 
		} 
	} 


function fnToggleCollegeType(coltype){ 
	if(coltype != "" || coltype != undefined)
		{ 
			var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/general-setup/collegemaster/getcollegelist/coltype/"+coltype,
				handleAs:'json',
				load:function(data){ 
					AutoFillNextEditableDropDown("Idhead",data); 
					if(coltype == '0') {
						dijit.byId('Idhead').set('value','0');
					}
				}
		   }
			dojo.xhrGet(xhrArgs); 
		} 
	}
		
function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
    var options = {
					label:"name",
					identifier:"key",
					items:JSONText
				  };
    ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}




</script> 
</head>
<body class='claro'>
<!--<button onclick="document.getElementsByTagName('body')[0].className='barrel_roll';">BARREL ROLL!</button>
 --><fieldset>
    <legend><?php echo $this->translate($this->College);?></legend>
                <Form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/general-setup/collegemaster/newcollege" method="post"  name= "myForm">
                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>
                    <table class="table" width="100%" >
                        <tr>
                            <th colspan = "4"><?php echo $this->translate("$this->College").' '.$this->translate("Details");?></th>
                        </tr>
                        <tr>
                            <td ><?php echo $this->translate("$this->College Name");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjcollegeForm->CollegeName;?>
                            	<?php echo $this->lobjcollegeForm->UpdDate;?>
                            	<?php echo $this->lobjcollegeForm->UpdUser;?></td>
                            <td ><?php echo $this->translate("Short Name");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjcollegeForm->ShortName;?></td>
                            
                        </tr>
                     <!--<tr>
                            <td ><?php //echo $this->translate("Arabic").' '.$this->translate("Name");?><span class="reqMark"></span></td>
                            <td  ><?php //echo $this->lobjcollegeForm->Arabic_Name;?></td>
                            <td></td>
                            <td></td>
                        </tr>
                         --> 
                       
                       <tr>
                            <th colspan = "4"><?php echo $this->translate("Address").' '.$this->translate("Details");?></th>
                        </tr>
                        <tr> 
                            <td ><?php echo $this->translate("Address 1");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjcollegeForm->Add1;?></td>
                            <td ><?php echo $this->translate("Address 2");?><span class="reqMark">*</span></td>
                             <td ><?php echo $this->lobjcollegeForm->Add2;?>
                        </tr>
                        <tr> 
                            <td ><?php echo $this->translate("City");?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjcollegeForm->City;?></td>
                            <td ><?php echo $this->translate("Country");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjcollegeForm->Country;?></td>
                            
                        </tr>
                        <tr> 
                            <td ><?php echo $this->translate("State");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjcollegeForm->State;?></td>
                            <td ><?php echo $this->translate("Zip Code");?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjcollegeForm->Zip;?></td>
                        </tr>
                        <tr> 
                            <td ><?php echo $this->translate("Phone 1");?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjcollegeForm->Phone1;?></td>
                            <td ><?php echo $this->translate("Phone 2");?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjcollegeForm->Phone2;?></td>
                        </tr>
                        <tr> 
                            <td ><?php echo $this->translate("Fax");?></td>
                            <td ><?php echo $this->lobjcollegeForm->Fax;?></td>
                            <td ><?php echo $this->translate("Email");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjcollegeForm->Email;?></td>
                        </tr>
                        <tr> 
                            <td ><?php echo $this->translate("Affiliated").' '.$this->translate("To");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjcollegeForm->AffiliatedTo;?></td>
                            <td ><?php echo $this->translate("$this->College").' '.$this->translate("Type");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjcollegeForm->CollegeType;?></td>
                        </tr>
                        
                        <tr>
                        	<td ><span id="label1"><?php echo $this->translate("College");?><span class="reqMark">*</span></span></td>
                            <td ><span id="label2"><?php echo $this->lobjcollegeForm->Idhead;?></span></td>
                            <td></td>
                            <td></td>
                        </tr>
                       
                         <tr>
                            <th colspan = "4"><?php echo $this->translate($this->Dean).' '.$this->translate("Details");?></th>
                        </tr>
                        <tr>
                            <td><?php echo $this->translate("First").' '.$this->translate("Name");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjcollegeForm->FirstName;?>
                            	<?php echo $this->lobjcollegeForm->UpdDate;?>
                            	<?php echo $this->lobjcollegeForm->UpdUser;?></td>
                            <td><?php echo $this->translate("Second").' '.$this->translate("Name");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjcollegeForm->SecondName;?></td>
                        </tr>
                        <tr>
                            <td><?php echo $this->translate("Third").' '.$this->translate("Name");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjcollegeForm->ThirdName;?></td>
							<td><?php echo $this->translate("Fourth").' '.$this->translate("Name");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjcollegeForm->FourthName;?></td>
                        </tr>
                        <tr>
                            <td><?php echo $this->translate("Full").' '.$this->translate("Name");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjcollegeForm->FullName;?></td>
							<td><?php echo $this->translate("Arabic").' '.$this->translate("Name");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjcollegeForm->ArabicName;?></td>
                        </tr>
                        <tr>
                            <th colspan = "4"><?php echo $this->translate("Address").' '.$this->translate("Details");?></th>
                        </tr>
                        <tr> 
                            <td><?php echo $this->translate("Address 1");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjcollegeForm->Address1;?></td>
                            <td><?php echo $this->translate("Address 2");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjcollegeForm->Address2;?>
                        </tr>
                        <tr> 
                            <td><?php echo $this->translate("City");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjcollegeForm->Citystaff;?></td>
                            <td><?php echo $this->translate("Country");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjcollegeForm->Countrystaff;?></td>
                            
                        </tr>
                        <tr> 
                            <td><?php echo $this->translate("State");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjcollegeForm->Statestaff;?></td>
                            <td><?php echo $this->translate("Zip Code");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjcollegeForm->Zipcode;?></td>
                        </tr>
                        <tr> 
                            <td><?php echo $this->translate("Phone");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjcollegeForm->Phone;?></td>
                            <td><?php echo $this->translate("Mobile");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjcollegeForm->Mobile;?></td>
                        </tr>	
                        </tr>	
                        <tr>
                            <td><?php echo $this->translate("Email");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjcollegeForm->Emailstaff;?></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th colspan = "4"><?php echo $this->translate("Other").' '.$this->translate("Details");?></th>
                        </tr>
                        <tr> 
                            <td><?php echo $this->translate("Level");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjcollegeForm->IdLevel;?></td>
                            <td><?php echo $this->translate("Staff").' '.$this->translate("Type");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjcollegeForm->StaffType;?></td>
                        </tr>
                        <tr> 
                            <td><?php echo $this->translate("From").' '.$this->translate("Date");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjcollegeForm->FromDate;?></td>
                            <td><?php echo $this->translate("To").' '.$this->translate("Date");?></td>
                            <td><?php echo $this->lobjcollegeForm->ToDate;?></td>
                        </tr>
                        <tr> 
                            <td ><?php echo $this->translate("Active");?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjcollegeForm->Active;?></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                            <td></td>        
                            <td align = "right"><?php echo $this->lobjcollegeForm->Save;?>
							<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'general-setup','controller'=>'collegemaster', 'action'=>'index'),'default',true);?>';" />	
                            </td> 
                               
                        </tr>
              </table>
            
            </Form>

</fieldset>
</body>
</html>