<html xmlns="http://www.w3.org/1999/xhtml" dir="<?php echo $this->rtl;?>">
<fieldset>

<!--  Search Forms -->
<div class="search" style="margin-left:20px;">
<script type="text/javascript">
dojo.addOnLoad(function() 
{
	
});


function goback()
{
	window.location = "/islamicbank/examdetails/newbank";
}
function printreport()
{
	//alert('hi');
	window.open("http://<?php echo $_SERVER['SERVER_NAME']?><?php  echo $this->baseUrl();?>/examdetails/pdfexport/regId/<?php echo $this->regid;?>/pass/<?php echo $this->pass;?>");
}

</script>

<form action="<?php echo $this->baseUrl();?>/examdetails/examdetails" method="POST" name="jknmk" >
<table class="table" width="100%">
	<tr>
     <th>Exam Details</th>
    </tr>
    <tr>
     <td><?php echo $this->result;?></td>
    </tr>
	<tr>
     <td>Regid:<?php echo $this->regid;?></td>
    </tr>
	<tr>
     <td>Total No of Questions:<?php echo $this->noofquestion;?></td>
    </tr>
	<tr>
     <td>Attended:<?php echo $this->attended;?></td>
   </tr>
   <tr>
     <td>Result:<?php echo $this->studentpass;?></td>
    </tr>
	<tr>
     <td>Grade:<?php echo $this->grade;?></td>
   </tr>
   

</table>

	<div id="sav" name="sav" align="right">
	  <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Print"); ?>" onclick="printreport();"/>
	 <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('controller'=>'index', 'action'=>'index'),'default',true);?>';" />
	
</div>
</form>	
</div>
</fieldset> 
</html>   