<fieldset>
<legend><?php echo $this->translate->_("Upload Files");?></legend>
<!--  Search Forms -->
<div class="search" style="margin-left:20px;">
<form action="<?php echo $this->baseUrl();?>/examination/uploadfiles/index/search/1" method="POST" name="" >
<table width="100%">
	<tr>
     	<td class="label"><?php echo $this->translate('Question');?></td>
     	<td><?php echo $this->form->field3;?></td>
     	<td class="label"><?php echo $this->translate('Question Group');?></td>
     	<td><?php echo $this->form->field8;?></td>
    </tr>
    <tr>
  	    <td class="label"><?php echo $this->translate('Section');?></td>
		<td ><?php echo $this->form->field1;?></td>     	
		   <td class="label"><?php echo $this->translate('Question Chapter');?></td>
		<td ><?php echo $this->form->field15;?></td>  
    </tr>
    
    <tr>
    	<td colspan="4" align="center">
	    <?php //foreach($this->roles as $resultItem):?>
		    <?php //if($resultItem['functionCode']=='CRMTS' && $resultItem['operationCode']=='SRCH'){?>
		    	<?php echo $this->form->Search;?>
			<?php  //}?>
		    
			<?php //if($resultItem['functionCode']=='CRMTS' && $resultItem['operationCode']=='ADD'){?>
				
				<input name="submit" type="button" class="NormalBtn" label="Import" value="Add" dojoType="dijit.form.Button" onclick="javascript:window.location.href='<?php echo $this->baseUrl(); ?>/examination/uploadfiles/newfiles/id/1'">
			<?php //}?>
			<?php //if($resultItem['functionCode']=='CRMTS' && $resultItem['operationCode']=='ADD'){?>
				
				<input name="submit" type="button" class="NormalBtn" label="Add" value="single" dojoType="dijit.form.Button" onclick="javascript:window.location.href='<?php echo $this->baseUrl(); ?>/examination/uploadfiles/addquestion'">
			<?php //}?>
		    
			<?php //if($resultItem['functionCode']=='CRMTS' && $resultItem['operationCode']=='CLR'){?>
		       <input name="submit" type="button" class="NormalBtn"  dojoType="dijit.form.Button" label="Clear"  value="Clear" onclick="javascript:window.location.href='<?php echo $this->baseUrl(); ?>/examination/uploadfiles'">
			<?php //}?>
	    <?php //endforeach;?>
                                    
        </td>
	</tr>
</table>
</form>	
</div>
</fieldset> 
     <br> 
<fieldset>
<table id="hor-minimalist-b" width="100%"  class="table" cellpadding="5" cellspacing="1">
    <tr>
        <th width="80%"> <?php echo $this->translate('Question');?> </th>
        <th> <?php echo $this->translate('Section');?> </th>
    </tr>
       
        <?php foreach ($this->paginator as $larrcoursemaster): ?>
    <tr>
     <td><a href="<?php echo $this->baseUrl();?>/examination/uploadfiles/editquestion/Questionid/<?php echo $this->escape($larrcoursemaster['idquestions']);?>" ><?php echo $this->escape($larrcoursemaster['Question']);?>
   			</a>
   		</td>
    	
    	<td><?php echo $this->escape($larrcoursemaster['DefinitionDesc']);?></td>
    	<?php endforeach; ?>
    </tr>
    <tr>
        <td colspan="8" align="right"><div class="pagination"><div class="pagination"><?php  echo $this->paginationControl($this->lobjpaginator,'Sliding','/partials/my_pagination_control.phtml'); ?></div>
        </td>
    </tr>
</table>
</fieldset>     
 