
<table id="hor-minimalist-b">
	                  <tr>
                            <th><?php echo $this->translate->_("Course Details");?></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <?php $larreasyquestion = $this->questions;?>
                        <?php $larranswers = $this->answers;?>
                        
                         <?php for($i=0;$i<count($larreasyquestion);$i++){?>
                         <h4><?php echo $larreasyquestion[$i]['Question'];?></h4>
                            
                            <?php  for($j=0;$j<count($larranswers);$j++){?>
                                 <?php  if($larreasyquestion[$i]['idquestions'] == $larranswers[$j]['idquestion'] ){?>
                        		<ul>
								  <li><input type="radio"  name="<?php echo $larreasyquestion[$i]['idquestions']?>" value="<?php echo $larranswers[$j]['idanswers'];?>"/><?php echo $larranswers[$j]['answers'];?></li>
								</ul>
                        
                        <?php }}?>
                        
                       <?php }?>
                        </table>

