<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="<?php echo $this->rtl;?>">
<head>
<title></title>
<link rel="stylesheet" type="text/css"  href="<?php  echo $this->baseUrl();?>/js/themes/cupertino/jquery.ui.all.css" />
<script language='javascript' src='<?php  echo $this->baseUrl();?>/js/jquery-1.4.3.js'></script>

<script language='javascript' src='<?php  echo $this->baseUrl();?>/js/sfs-common.js'></script>
<link rel="stylesheet" type="text/css"  href="<?php  echo $this->baseUrl();?>/css/default.css" />
<!-- Editable Drop down files -->
<link rel="stylesheet" type="text/css" href="<?php  echo $this->baseUrl();?>/css/JED/jed.css">
<script language="JavaScript" type="text/javascript">
$(document).ready(function() {
	//alert("asfsadfsad");
	var Batch = <?php echo $this->idbatch;?>;
	var RegId = '<?php echo $this->RegId;?>';
	var ar = '<?php echo $this->arrayqtns;?>';
	///$this->idbatch = $idIdBatch;
	
	document.getElementById('totalqtn').value = ar;
	
	document.getElementById('IdBatch').value = Batch;
	document.getElementById('RegId').value = RegId;

	var countse = <?php echo $this->countsections;?>;
	
	var listsections = '<?php echo $this->listsections;?>';
	document.getElementById('sec').value = listsections;
	//alert(listsections);
	 arrays=listsections.split(",");
	 for (var i = 1; i < arrays.length; i++)
	 {
	     var sectionname =(arrays[i]);
	    // alert(sectionname);
		   
	     document.getElementById("sss"+sectionname).style.display = 'none';
	 }

	
});
var sec =59;   // set the seconds
var min = <?php echo $this->timelimit;?>;   // set the minutes
var alerttime = <?php echo $this->AlertTime?>;
//alert(alerttime);

function countDown() {	
   sec--;
  if (sec == -01) {
   sec = 59;
   min = min - 1; }
  else {
   min = min; }

if (sec<=9) { sec = "0" + sec; }

  time = (min<=9 ? "0" + min : min) + " min and " + sec + " sec ";
 

if(min < alerttime)
{
	 messag = min+" minutes remaining";
	 document.getElementById("theTime21").innerHTML = messag.blink();
}
  
if(min == 00 && sec == 00)
{
	alert('The time has been completed whatever the data present has been saved sucessfully');
	var IdBatch = document.getElementById('IdBatch').value;
	var RegId = document.getElementById('RegId').value;

	$.ajax({
		type: "GET",
		url: "<?php echo $this->baseUrl();?>/reg/examdetails/getanswertemp/IdBatch/"+IdBatch+"/RegId/"+RegId,		
		success: function(content){
		}
	});
	window.location = "<?php echo $this->baseUrl();?>/index/login";

}

if (document.getElementById) { document.getElementById('theTime').innerHTML = time; }

SD=window.setTimeout("countDown();", 1000);
if (min == '00' && sec == '00') { sec = "00"; window.clearTimeout(SD); }
}
window.onload = countDown;

function ajaxfunction($section)
{
	var IdBatch = document.getElementById('IdBatch').value;
	
	$.ajax({
		type: "GET",
		url: "<?php echo $this->baseUrl();?>/reg/examdetails/getsection/IdBatch/"+IdBatch+"/Questionlevel/"+$section,		
		success: function(content){
			$("#Section").html(content);	
		
		}
	});
}

function hidefunction($sec,flg)
{
	
	var qtnsnoofsection=new Array();
	
	var clickedsec = $sec;
	var fullsection = document.getElementById('sec').value;
	
	 arrays=fullsection.split(",");
	 for (var f = 0; f < arrays.length; f++)
	 {
	     var sectionname =(arrays[f]);
	     //alert(sectionname);
	     document.getElementById("sss"+sectionname).style.display = 'none';
	 }
	 
	 document.getElementById("sss"+clickedsec).style.display = 'block';
	 if(flg == 1){
	var countsec = (document.getElementById("abcd"+clickedsec).value);
	
	for(var p=1;p<=countsec;p++)
	{
		var qtnnumbers =  document.getElementById("buttons"+clickedsec+p).value;
	     document.getElementById(qtnnumbers).style.display = 'block';
	}
	 
	 }
	
}

function radioclick($var)
{
	//alert($var);
	var IdBatch = document.getElementById('IdBatch').value;
	var RegId = document.getElementById('RegId').value;
//alert(IdBatch);
	$.ajax({
		type: "GET",
		url: "<?php echo $this->baseUrl();?>/reg/examdetails/getanswer/IdBatch/"+IdBatch+"/RegId/"+RegId+"/QuestionNo/"+$var,		
		success: function(content){
			//alert(content);	
			 arrays=content.split("--");
			//alert(arrays[0]);
			//alert(arrays[1]);
			document.getElementById("div"+arrays[1]).style.backgroundColor = arrays[0];
		
		}
	});
	buttoncolor=$var.split("--");
	 //alert(buttoncolor[0]);
	// alert(buttoncolor[1]);
	 document.getElementById("button--"+buttoncolor[0]).style.backgroundColor ='#8DB87C';
}

function buttonclick($aa)
{
	
	var clickedsec = $aa;
	//alert(clickedsec);
	var fullQtn = document.getElementById('totalqtn').value;
	// alert(fullsection);
	 arrays=fullQtn.split(",");
	 for (var f = 0; f < arrays.length; f++)
	 {
	     var fullQtnname =(arrays[f]);
	     document.getElementById(fullQtnname).style.display = 'none';
	 }
	 $.ajax({
			type: "GET",
			url: "<?php echo $this->baseUrl();?>/reg/examdetails/getqtnnumber/QuestionNo/"+$aa,		
			success: function(content){
				//alert(content)
				hidefunction(content,0);
			}
		});
	 
	  
	 document.getElementById(clickedsec).style.display = 'block';
}

function fnsave()
{
	
	var RegId = document.getElementById('RegId').value;

	$.ajax({
		type: "GET",
		url: "<?php echo $this->baseUrl();?>/reg/examdetails/noofqtns/RegId/"+RegId,		
		success: function(content){
			//alert(content);
            var totalqtns = <?php echo $this->noofqtns;?>;
            if(content == totalqtns)
            {
                var answer = confirm('Do you want to check once again');
            }
            else
            {
                var answer = confirm('You have left some of the questions do u want to save these details');
            }

			if(answer)
			{
				var IdBatch = document.getElementById('IdBatch').value;
				var RegId = document.getElementById('RegId').value;
				$.ajax({
					type: "GET",
					url: "<?php echo $this->baseUrl();?>/reg/examdetails/getanswertemp/IdBatch/"+IdBatch+"/RegId/"+RegId,		
					success: function(content){
					}
				});
				window.location = "<?php echo $this->baseUrl();?>/index/login";
			}
			else
			{
			}
		}
	});
	
	
}
</script>
<style type="text/css">
<!--
 .timeClass {
  font-family:arial,verdana,helvetica,sans-serif;
  font-weight:normal;
  font-size:10pt;
  }
-->
</style>
<fieldset><h4 align="center" style="font-family:verdana;color:red;">Do not click Refresh or Back</h4>
        <div class="register">
            <div class="profile_tab">
                <form action="<?php echo $this->baseUrl();?>/bank/banklist" method="POST"  name= "myform">
                         <table id="hor-minimalist-b">
							<tr>
	                            <th><?php echo $this->translate->_("Total Time:")?><?php echo $this->timelimit+1?></th>
	                            <th colspan="2" width="20%"><?php echo $this->translate->_("Remaining Time:")?>
	                            <span id="theTime" class="timeClass"></span></th>
	                            <th colspan="2"><?php echo $this->translate->_("Student Name:")?>
	                            <?php echo $this->studentname;?></th>
	                            <th><span id="theTime21"></span><input type="hidden" value="" name="sec" id="sec"></th>
	                            <th><input type="hidden" value="" name="totalqtn" id="totalqtn"></th>
                           </tr>

			               <tr>
			               		  <td width ="20%" bgcolor="#E2E2E2">Answered 0-25%</td>
			               		       <td  width ="20%" bgcolor="#C0C0C0">Answered 25 - 50%</td>
			               		        <td  width ="20%"bgcolor="#4FD5D6">Answered 50- 75%</td>
			               		         <td  width ="20%" bgcolor="#D4E8C1">Answered 75 - 99%</td>
			                      <td  width ="20%" bgcolor="#8DB87C">All Answered</td>
			                          
			                      
			                
			                      <td><input type="hidden" name="IdBatch" id="IdBatch" value=""></td>
			                       <td><input type="hidden" name="RegId" id="RegId" value=""></td>
			               </tr>

						</table>

						<?php
						$strSec="";$counter=0;
foreach($this->sectionsarray as $sec)
{
if($counter==0){
$strSec=$sec;
	
}else{
$strSec=$strSec.",".$sec;	
}

	?>
 
	<div id="sss<?php echo $sec; ?>" <?php if($counter!=0){?> style="display:none;" <?php }else{ ?> style="display:block;" <?php }?>>
	<?php
	$larrQtns=$this->arrQuestions[$sec];
	$larrAns = $this->answers;
?>

<?php 	
	foreach($larrQtns as $Qtns)
	{
						?>
					<div id="<?php echo $Qtns['idquestions'];?>" style="display:block;">
						<h4 style="font-family:verdana;color:red;"><?php 
						$mainstring = $Qtns['Question'];
						$substring = '@';
						 $pos = strpos($mainstring, $substring);
						   if($pos == false)
						   {
						  
									echo $Qtns['Question'];
						   }
						   else { 
						  
								$totallength = strlen($Qtns['Question']);
								$fromposition = 0;
								for ($k =0;$k<5;$k++)
								{
									if($k==0)
									{
									}
									else
									{
										$totallength = strlen($afterstring);
										$fromposition = 1;
										$mainstring = substr($afterstring,2);;
									
									
									}
									
										for($i=0;$i<$totallength;$i++)
										{
											$mystring = $mainstring;
											$findme   = '@';
											$afterstring = strpbrk($mystring,$findme);
										
											$pos = strpos($mystring,$findme);
											//echo $pos;
										
											$strings1 =  substr($mainstring,$fromposition,$pos); 
											//echo $strings1;
											$totallength = strlen($strings1);
										 echo"<br />";
										 $pizza  = $strings1;
$pieces = explode("@", $pizza);
echo $pieces[0]; // piece1
										 
										 
											
											
											//$totallength=strlen(strings1);
											 break;
										}
										
								}
						   }	?></h4>
						
						
						
						
						 <?php  foreach($larrAns as $Ans){?>
                                 <?php  if($Qtns['idquestions'] == $Ans['idquestion'] ){?>
                        		<ul>
								  <li><input type="radio" onClick="radioclick('<?php echo $Qtns['idquestions'].'--'.$Ans['idanswers'];?>');" name="<?php echo $Qtns['idquestions']?>" value="<?php echo $Qtns['idquestions'].'--'.$Ans['idanswers'];?>"/><?php echo $Ans['answers'];?></li>
								</ul>
                        
                        <?php }
						  }?> </div><?php 
						  
	}
	?>
	 </div>	
	 <?php
$counter++;
 }?>

						  
					
				</form>
			</div>
		</div>
	</fieldset>
	
	
	
	<fieldset>
	<legend><?php echo $this->translate->_("Section Navigation")?></legend>
	 <!--<table id="hor-minimalist-b" border="1">
	<?php $examsections = $this->sections;?>
	 <tr>
	  <?php for($i=0;$i<count($examsections);$i++){?>
		  
		<td bgcolor="#ffffff"><a href="javascript:hidefunction('<?php echo $examsections[$i]['IdSection'];?>');"><?php echo $examsections[$i]['IdSection'];?> </a><input type="text" value="<?php echo $examsections[$i]['IdSection'];?>" name="section[$i]" >
</td>	
	  <?php }?>
		</tr>
		</table>
	-->
	<table id="hor-minimalist-b" border="1"><tr>
	<?php 
	foreach($this->sectionsarray as $secnavigation)
{?>
  <?php $noarray = $this->sectionqtns;$qtnsnoofsection = $this->questionno;?> <?php if(count($qtnsnoofsection[$secnavigation])>0){?>
<td>
	

 <div id="div<?php echo $secnavigation;?>"
 		
 		                 
			   <h4>
			   <a href="javascript:hidefunction('<?php echo $secnavigation;?>',1);"><?php echo $secnavigation;?></a></h4>
			   </div>
			   
			   
			   <div>
			  <?php  //echo $noarray[$secnavigation];
			  $coun=1;
			  ?><input type="hidden" name="abcd<?php echo $secnavigation;?>" value="<?php echo count($qtnsnoofsection[$secnavigation]);?>" id="abcd<?php echo $secnavigation;?>"><?php 
			   for($i=0;$i<count($qtnsnoofsection[$secnavigation]);$i++)
			/*   echo"<pre/>";
			   print_r(count($qtnsnoofsection[$secnavigation]));*/
			   
			   {?>
			     
	        
			
			    <input type="hidden" name="buttons<?php echo $secnavigation;?>[<?php echo $coun;?>]"  id="buttons<?php echo $secnavigation;?><?php echo $coun;?>" value="<?php echo $qtnsnoofsection[$secnavigation][$i];?>"><input type="button" name="button" id="button--<?php echo $qtnsnoofsection[$secnavigation][$i];?>" style="background-color:#F5F1DE;" value="<?php echo $coun;?>" onClick="buttonclick(<?php echo $qtnsnoofsection[$secnavigation][$i];?>,0)">
			    
			  
			   <?php  $coun++;
}?>
			   
			   
			    
	
	 
			    </td>
			    <?php }?>
	<?php }?>
	</tr>

	</table>
	
	<div id="sav" name="sav" align="right">
	<input type="button" name="Save" class="buttonStyle" onClick="fnsave(); return false;" value="Save">
</div>
	</fieldset>
</body>


</html>
