<head>
<script type="text/javascript">
dojo.addOnLoad(function(){
	fnhidetext();
	});
function fnshowtext()
{
	 Student = dojo.byId('show');
     dojo.style(Student,'display','block');	
}
function fnhidetext()
{
	 Student = dojo.byId('show');
     dojo.style(Student,'display','none');
}


function checkAll(){
 	nodes = dojo.query('[name=\"idcenter[]\"]');
 	if(document.getElementById('centerid').checked == true) {		 
 		
 		dojo.forEach(nodes,
 		    function(node)
 		    {
 		        dijit.getEnclosingWidget(node).set("checked",true);
 		    }
 		);
 	}
 	else {	
 		dojo.forEach(nodes,
 			    function(node)
 			    {
 			        dijit.getEnclosingWidget(node).set("checked",false);
 			    }
 			);
 	}
 }
 
function newsessionlists()
{

	   iddate = dijit.byId("Date");
	   if(iddate !='')
	   {
		var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/examination/autovenue/getsessions/iddate/"+iddate,
			handleAs:'text',
			load:function(data){
				//alert(data);
			if(data=='0')
				{
					alert("There is no scheduler for this date Please change the Date");
					dijit.byId("Date").set('value',null);
				}
			if(data=='2')
			{
				//	alert("The Chrone job for this date has already been set please change the Date");
				
			}
			
	      }
		}
	    dojo.xhrGet(xhrArgs);
	}   
}

function fnshowdate(idtype)
{
	if(idtype=='1')
	{
		document.getElementById('exam').style.display="";
		document.getElementById('examfrom').style.display="";
		document.getElementById('schedulerfromlabel').style.display="none";
		document.getElementById('schedulerfromid').style.display="none";
		document.getElementById('shedulertolabel').style.display="none";
		document.getElementById('shedulertolabelid').style.display="none";
		document.getElementById('question').style.display="none";
	}
	if(idtype=='2')
	{
		document.getElementById('exam').style.display="none";
		document.getElementById('examfrom').style.display="none";
		document.getElementById('schedulerfromlabel').style.display="none";
		document.getElementById('schedulerfromid').style.display="none";
		document.getElementById('shedulertolabel').style.display="none";
		document.getElementById('shedulertolabelid').style.display="none";
		document.getElementById('question').style.display="";
	}
	if(idtype=='3')
	{
		document.getElementById('exam').style.display="none";
		document.getElementById('examfrom').style.display="none";
		document.getElementById('schedulerfromlabel').style.display="";
		document.getElementById('schedulerfromid').style.display="";
		document.getElementById('shedulertolabel').style.display="";
		document.getElementById('shedulertolabelid').style.display="";
		document.getElementById('question').style.display="none";
	}
}
</script>
</head>
<body class='claro' onload="fnshowdate(<?php echo $this->typeid;?>)">
	 <form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm" >
<script type="dojo/method" event="onSubmit">
                              if (this.validate()) {
					  return true;
                } else {
                    return false;
                }
				</script>
<fieldset>
	<legend><?php echo $this->translate("Chrone Jobs");?></legend>

 			
		<table width="100%" >
		
		<tr>
					<td><?php echo $this->translate("Select Type")?></td>
					<td><?php echo $this->lobjAutovenueForm->Type;?></td>
						
				
					<td id ="exam" style="display:none"><?php echo $this->translate("Exam Date(dd-mm-yyyy)")?></td>
					<td id="examfrom" style="display:none"><?php echo $this->lobjAutovenueForm->Date;?></td>
					
					<td id="schedulerfromlabel" style="display:none"><?php echo $this->translate("Scheduler From Date(dd-mm-yyyy)")?></td>
					<td id="schedulerfromid" style="display:none"><?php echo $this->lobjAutovenueForm->FromDate;?></td>
					
					
					<td id="shedulertolabel" style="display:none"><?php echo $this->translate("Scheduler To Date(dd-mm-yyyy)")?></td>
					<td id="shedulertolabelid" style="display:none"><?php echo $this->lobjAutovenueForm->ToDate;?></td>
					
					<td id="question" style="display:none">All Question will be updated to the local servers from the Main Servers</td>
				</tr>
				<tr>
				 <td colspan="4" align="center">
				 	<?php echo $this->lobjAutovenueForm->Search;?>
				 	<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Clear"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'examination','controller'=>'autovenue', 'action'=>'index'),'default',true);?>';" />
				 		
				</td>
               </tr>
		</table>

	</fieldset> 



	<fieldset>
	<?php $ids = $this->typeid;?>
	<?php if($ids==1){?>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
		
	    	<tr>
				<th><input type="checkbox" dojoType="dijit.form.CheckBox" name="centerid" onClick="checkAll();" id="centerid">
	    	     <?php echo $this->translate("Exam Venue")?></th>
	    	     <th><?php echo $this->translate("Exam Date");?></th>
  <th><?php echo $this->translate("Status");?></th>
	        	
	    	</tr>
	        <?php if (count($this->centerdetails)): $cnnt=0;?>

	             <?php foreach ($this->centerdetails as $lobcentreslist): ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	
	        	   <?php $larrvenueupdates = new Examination_Model_Autovenue();
	        	   		$larresultvenuestatus = $larrvenueupdates->fngetstatusofvenue($lobcentreslist['idcenter'],$lobcentreslist['date']);
	        	   		
	        	   		$cnt = count($larresultvenuestatus);
	        	   		
	        	   		?>
	        	   	
	        	<?php if($cnt==1){?>
	        		 <td>
	        	    <?php if($larresultvenuestatus['idcenter']!=$lobcentreslist['idcenter']){?>
	        	    <input type="checkbox" dojoType="dijit.form.CheckBox" name="idcenter[]" value="<?php echo $this->escape($lobcentreslist['idcenter']);?>" id="idcenter<?php echo $cnnt;?>">
	        	    <?php }?>
	             <?php print_r($this->escape($lobcentreslist['centername']));?></td>
	        		<td><?php  echo date('d-m-Y',strtotime($lobcentreslist['date']));?></td>
	        		<td><?php echo "Not Scheduled";?></td>
	        		<?php } else {?>
	        		
	        		<?php if($larresultvenuestatus['Status']==1) 
	        					{?>
	        					
	        					
	        					 <td style="color:#088A29">
	        	    <?php if($larresultvenuestatus['idcenter']!=$lobcentreslist['idcenter']){?>
	        	    <input type="checkbox" dojoType="dijit.form.CheckBox" name="idcenter[]" value="<?php echo $this->escape($lobcentreslist['idcenter']);?>" id="idcenter<?php echo $cnnt;?>">
	        	    <?php }?>
	             <?php print_r($this->escape($lobcentreslist['centername']));?></td>
	        		<td style="color:#088A29"><?php  echo date('d-m-Y',strtotime($lobcentreslist['date']));?></td>
	        		
	        					<td style="color:#088A29"><?php echo "Pushed to Local";?> </td>
	        			<?php	     }
	        		 if($larresultvenuestatus['Status']==0)
	        					{?>
	        					
	        					 <td style="color: #0000FF">
	        	    <?php if($larresultvenuestatus['idcenter']!=$lobcentreslist['idcenter']){?>
	        	    <input type="checkbox" dojoType="dijit.form.CheckBox" name="idcenter[]" value="<?php echo $this->escape($lobcentreslist['idcenter']);?>" id="idcenter<?php echo $cnnt;?>">
	        	    <?php }?>
	             <?php print_r($this->escape($lobcentreslist['centername']));?></td>
	        		<td style="color: #0000FF"><?php  echo date('d-m-Y',strtotime($lobcentreslist['date']));?></td>
	        		
	        						<td style="color: #0000FF"><?php 	echo "Added to Chrone";?></td>
	        			<?php		}
	        		else if($larresultvenuestatus['Status']==2)
	        	        {?>
	        	        
	        	         <td style="color: #FF0000">
	        	    <?php if($larresultvenuestatus['idcenter']!=$lobcentreslist['idcenter']){?>
	        	    <input type="checkbox" dojoType="dijit.form.CheckBox" name="idcenter[]" value="<?php echo $this->escape($lobcentreslist['idcenter']);?>" id="idcenter<?php echo $cnnt;?>">
	        	    <?php }?>
	             <?php print_r($this->escape($lobcentreslist['centername']));?></td>
	        		<td style="color: #FF0000"><?php  echo date('d-m-Y',strtotime($lobcentreslist['date']));?></td>
	        	        	<td style="color: #FF0000"><?php echo "Not Updated because of some issue";?><input type="submit" dojotype="dijit.form.Button" id="updatenow<?php echo $cnnt;?>" name="updatenow[]" value="<?php echo $this->escape($lobcentreslist['idcenter']);?>" label="<?php echo $this->translate("updatenow");?>">
	        	       <?php  }?>
	        	        </td>
	        		<?php }?>
	        		
	              <?php  $cnnt++; endforeach; ?>
	                  
	            <?php endif; ?> 
			</tr>

           <tr>
           <td colspan="3" align="right">	  <input type='button' class="NormalBtn" dojotype="dijit.form.Button" label = "<?php echo $this->translate('ADD')?>" value='click' onclick="fnshowtext();" /></td>
           </tr>


				
		</table>
		<?php } else if($ids==2){?>
		
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
		
	    	<tr>
				<th><input type="checkbox" dojoType="dijit.form.CheckBox" name="centerid" onClick="checkAll();" id="centerid">
	    	     <?php echo $this->translate("Exam Venue")?></th>
	    	    <th>Status</th>
	        	
	    	</tr>
	        <?php if (count($this->centers)): $cnnt=0;?>

	             <?php foreach ($this->centers as $lobcentreslist):?>
	             
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	
	      
	      
	      <?php $larrvenuequestions = new Examination_Model_Autovenue();
		       $date = date('Y-m-d');
	        	   		$larresultvenuequestions = $larrvenuequestions->fngetvenuequestions($lobcentreslist['idcenter'],$date);
	        	   		
	        	   		$cnt = count($larresultvenuequestions);
	        	   		//print_R($larresultvenuequestions);die();
	        	   		?>
	        	   	
	        	    <td>
	        	    
	        	    <?php if($larresultvenuequestions['Status']=='') {?>
	        	    <input type="checkbox" dojoType="dijit.form.CheckBox" name="idcenter[]" value="<?php echo $this->escape($lobcentreslist['idcenter']);?>" id="idcenter<?php echo $cnnt;?>">
	        	   <?php }?>
	             <?php print_r($this->escape($lobcentreslist['centername']));?></td>
        	   		
	        	  
	        	   	
	        	<td><?php if($cnt==5)
	        		{
	        	        if($larresultvenuequestions['Status']==0)
	        	        {
	        	        	 echo "Added to Chrone";
	        	        }
	        	        else if($larresultvenuequestions['Status']==1)
	        	        {
	        	        	echo "Update in Clinet";
	        	        }
	        	        else if($larresultvenuequestions['Status']==2)
	        	        {
	        	        	echo "Not Updated because of some issue";
	        	        }
	        		
					} else 
					{
						 echo "Not Added to Chrone";
					}?></td>
	        		
	              <?php  $cnnt++; endforeach; ?>
	                  
	            <?php endif; ?> 
			</tr>

           <tr>
           <td colspan="3" align="right">	 <input type='button' class="NormalBtn" dojotype="dijit.form.Button" label = "<?php echo $this->translate('ADD')?>" value='click' onclick="fnshowtext();" /></td>
           </tr>


				
		</table>
		<?php }else if($ids==3){?>
			
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
		
	    	<tr>
				<th><input type="checkbox" dojoType="dijit.form.CheckBox" name="centerid" onClick="checkAll();" id="centerid">
	    	     <?php echo $this->translate("Exam Venue")?></th>
	    	     <th>Scheduler From Date</th>
	    	     <th>Scheduler To Date</th>
	    	    
	        	
	    	</tr>
	        <?php if (count($this->centersscheduler)): $cnnt=0;?>

	             <?php foreach ($this->centersscheduler as $lobcentreslist): ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	
	      
	        	   	
	        	    <td>
	        	    <?php if($larresultvenuestatus['idcenter']!=$lobcentreslist['idcenter']){?>
	        	    <input type="checkbox" dojoType="dijit.form.CheckBox" name="idcenter[]" value="<?php echo $this->escape($lobcentreslist['idcenter']);?>" id="idcenter<?php echo $cnnt;?>">
	        	    <?php }?>
	             <?php print_r($this->escape($lobcentreslist['centername']));?></td>
	        	
	        			<td><?php echo $this->fromdate;?></td>
	        		<td><?php echo $this->todate;?></td>
	        		
	              <?php  $cnnt++; endforeach; ?>
	                  
	            <?php endif; ?> 
			</tr>

           <tr>
           <td colspan="3" align="right"> <input type='button' class="NormalBtn" dojotype="dijit.form.Button" label = "<?php echo $this->translate('ADD')?>" value='click' onclick="fnshowtext();" />	 </td>
           </tr>


				
		</table>
		<?php }?>
	</fieldset>
	<fieldset id = "show"> 
		<table width="100%" >
		        <tr>
                    <td><?php echo $this->translate("Schedule").' '.$this->translate("Date")?></td>
                    <td><?php echo $this->lobjAutovenueForm->Schedulerdate;?></td>
                    <td><?php echo $this->translate("Schedule").' '.$this->translate("Time")?></td>
                    <td><?php echo $this->lobjAutovenueForm->ScheduleStartTime;?></td>
                  <td align="right"> <input type="submit" dojotype="dijit.form.Button" id="Approve" name="Approve" value="Approve" label="<?php echo $this->translate("Add to Chrone");?>"/></td>
                </tr>
		</table>
		</fieldset>
		</form>
</body>
