<head>
     
<script type="text/javascript">
dojo.addOnLoad(function(){
	
});



</script>
</head>
<body class="claro">            
	<fieldset >
	<legend><?php echo $this->translate->_("Discount Setup");?></legend>
		 <form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">
			<script type="dojo/method" event="onSubmit" >
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>
				<?php echo $this->lobjaccountheadentryform->UpdDate?>
				<?php echo $this->lobjaccountheadentryform->UpdUser?>		
	    	   <table class="table" width="100%" >
                	   <tr>
                            <th colspan = "4"><?php echo $this->translate->_("Account Head");?></th>
                        </tr>	
                        <tr>         							
         			
        			<?php echo $this->lobjaccountheadentryform->Discount?>        	
        		</tr>	
	    		<tr>         							
         			<td class="label"><?php echo $this->translate->_("Account Name")?><span class="reqMark">*</span></td>
        			<td><?php echo $this->lobjaccountheadentryform->idAccount?></td>		        	
      			    <td class="label"><?php echo $this->translate->_("Effective Date")?><span class="reqMark">*</span></td>
        			<td><?php echo $this->lobjaccountheadentryform->effectiveDate?></td>        			
        		</tr>	
        		<tr>
        			<td class="label"><?php echo $this->translate->_("Amount(RM) / Percentage")?><span class="reqMark">*</span></td>
        			<td><?php echo $this->lobjaccountheadentryform->Amount?></td>       
        			 <td class="label"><?php echo $this->translate->_("Active")?></td>
        			<td><?php echo $this->lobjaccountheadentryform->Active?></td>	
        	    
		      	</tr>	
		      	<tr id="fieldrow1">			    			
        			 <td class="label" ><?php echo $this->translate->_("Minimum No of Student")?></td>
        			<td><?php echo $this->lobjaccountheadentryform->minnostd?></span></td>		   
        		   	
        		  <td></td>
                     <td></td>       	
		      	</tr>	
		      	 <tr>
                          <td></td>
                          <td></td>
                            <td></td>        
                            <td align = "right"><?php echo $this->lobjaccountheadentryform->Save;?>
							<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'finance','controller'=>'accounthead', 'action'=>'index'),'default',true);?>';" />	
                            </td> 
                        </tr>       
            </table>
		
		</form>
	</fieldset>
</body>
</html>
     