
<head>
<script>
dojo.addOnLoad(function(){
	dijit.byId('field3').focus();	
	});
</script>
</head>

<fieldset>
<legend><?php echo $this->translate->_("Discount Setup");?></legend>
<form id="initconfigForm" name="form1" method="post" action="<?php echo $this->baseUrl();?>/finance/accounthead/index/search/1">
	    	<table    width="100%">	    		
      			<tr>
      			
         			<td class="label"><?php echo $this->translate->_("Account Name")?></td>
        			<td><?php echo $this->lobjform->field3?></td>	        	
      			</tr>
		      	<tr>
         			<td class="label"><?php echo $this->translate->_("Active")?></td>
        			<td><?php echo $this->lobjform->field7?></td>	        				       	        	
		      	</tr>
		      	  <tr>
	               <td align = "center" colspan = "4">
						<?php echo $this->lobjform->Search;?>
						<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Add"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'finance','controller'=>'accounthead', 'action'=>'accounthead'),'default',true);?>';" />	
						<?php echo $this->lobjform->Clear;?>
				   </td>
				   </tr>      	
	        </table>		
</form>
</fieldset>
<br/>
   <?php  if (count($this->paginator)): ?>
<fieldset>
  	<table class="table" width="100%" cellpadding="5" cellspacing="1">
		<thead>
    		<tr>
				<th><?php echo $this->translate->_("Account Name")?></th>
				<th><?php echo $this->translate->_("Effective Date")?></th>  	
				<th><?php echo $this->translate->_("Amount(RM)")?></th> 					
    		</tr>
    	</thead>
    	 	
    	<tbody>       	            
            <?php   foreach ($this->paginator as $lobjcategory ): // ($this->accountdetails as $lobjcategory ): ?>
            <tr>
            	<td><a href="<?php echo $this->url(array('module'=>'finance','controller'=>'accounthead', 'action'=>'accounthead' , 'lvaredit'=>$lobjcategory['idAccountHead']),'default',true);?>" ><?php print_r($this->escape( $lobjcategory['AccountName']));?></a></td>
	    	   <td><?php  echo date('d-m-Y',strtotime($lobjcategory['effectiveDate']));?></a></td>   
          		<td><?php  echo $lobjcategory['Amount'];?></a></td>          		           	
     		</tr>
     		<?php  endforeach; ?>
     		
     	</tbody>		
     		<tr>
	        	<td colspan="8" align="right"><div class="pagination"><?php  echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>
      </table>
   </fieldset> 
    <?php  endif; ?>
   </html>
