<html>
<head>
<script type= "text/javascript">
dojo.addOnLoad(function(){
	fnhidetext();
	});


function fnshowtext()
{
	 Student = dojo.byId('show');
     dojo.style(Student,'display','block');	
}
function fnhidetext()
{
	 Student = dojo.byId('show');
     dojo.style(Student,'display','none');
}
function checkAll(){
	nodes = dojo.query('[name=\"idapp[]\"]');
 	if(document.getElementById('allcheck').checked == true) {		 
 		
 		dojo.forEach(nodes,
 		    function(node)
 		    {
 		        dijit.getEnclosingWidget(node).set("checked",true);
 		    }
 		);
 	}
 	else {	
 		dojo.forEach(nodes,
 			    function(node)
 			    {
 			        dijit.getEnclosingWidget(node).set("checked",false);
 			    }
 			);
 	}
 }
</script>
</head>
<body class='claro'>
	<fieldset>
	<legend><?php echo $this->translate("Auto Mailing");?></legend>
 		<form dojoType="dijit.form.Form"  id="myForm" action="" method="POST">
 			<script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
			</script>
		<table width="100%" >
		
		        <tr>
					<td><?php echo $this->translate("Candidate").' '.$this->translate("Name") ?></td>
					<td><?php echo $this->lobjform->Studentname;?></td>
					<td><?php echo $this->translate("IC NO") ?></td>
					<td><?php echo $this->lobjform->ICNO;?><?php echo date('H:i');?></td>
				</tr>
				 <tr>
				 <td colspan="4" align="center">
				 	<?php echo $this->lobjform->Search;?>
				 	<input type='button' class="NormalBtn" dojotype="dijit.form.Button" label = "<?php echo $this->translate('Clear')?>" value='click' onclick="window.location.href='<?php echo $this->url(array('module'=>'examination','controller'=>'automail', 'action'=>'index'),'default',true);?>';" />	
				</td>
               </tr>
		</table>
	</form>
	</fieldset> 
		<br>
	<form dojoType="dijit.form.Form"  id="myForm1" action="" method="POST">
	     <script type="dojo/method" event="onSubmit">
                if (this.validate()){
					return true;
                } else {
                    return false;
                }
			</script>
		<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
	    	 <tr>
	    	     <th><input type="checkbox" dojoType="dijit.form.CheckBox" name="allcheck" onClick="checkAll();" id="allcheck">
	    	     <?php echo $this->translate("Candidate").' '.$this->translate("Name");?></th>
	    	     <th><?php echo $this->translate("ICNO");?></th>
	    	     <th><?php echo $this->translate("Program");?></th>
	    	     <th><?php echo $this->translate("Exam Date");?></th>
	    	     <th><?php echo $this->translate("Exam Venue");?></th>
	    	</tr>
   			     <?php if (count($this->paginator)):?>
	             <?php $cnt =0;foreach ($this->paginator as $lobjprogram):?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	 <td><input type="checkbox" dojoType="dijit.form.CheckBox" name="idapp[]" value="<?php echo $lobjprogram['IDApplication'];?>" id="idprogram<?php echo $cnt;?>" >&nbsp;&nbsp;<?php echo $lobjprogram['StudentName'];?></td>
	        	 <td><?php print_r($this->escape($lobjprogram['ICNO']));?></td><input type="hidden" name="UpdUser" id="UpdUser" value="<?php echo $this->UpdUser;?>">
	        	 <td><?php print_r($this->escape($lobjprogram['Coursename']));?></td><input type="hidden" name="UpdDate" id="UpdDate" value="<?php echo $this->UpdDate;?>">
	        	 <td><?php print_r($this->escape($lobjprogram['Examdate']));?></td>
	        	 <td><?php print_r($this->escape($lobjprogram['Venue']));?></td>
	             <?php $cnt++; endforeach; ?>
	             <?php endif; ?> 
			</tr>
			<tr>
				<td colspan="5" align="right">
				  <input type='button' class="NormalBtn" dojotype="dijit.form.Button" label = "<?php echo $this->translate('ADD')?>" value='click' onclick="fnshowtext();" />
				</td>
			</tr>
	</table>
	<div id = "show"> 
	   <fieldset>
		<table width="100%">
		        <tr>
                    <td><?php echo $this->translate("Schedule").' '.$this->translate("Date")?></td>
                    <td><?php echo $this->lobjform->Dates;?></td>
                    <td><?php echo $this->translate("Schedule").' '.$this->translate("Time")?></td>
                    <td><?php echo $this->lobjform->ScheduleStartTime;?></td>
                    <td><?php echo $this->lobjform->Save;?></td>
                </tr>
		</table>
		</fieldset>
		</div>
	</fieldset>
	
	
	</form>
</body>
</html>
