<head>
<script type="text/javascript">

    dojo.addOnLoad(function() {

    	dijit.byId('IdRegister').set('value','');
    	dijit.byId('IdRegister').set('placeHolder','Select');	
	fnhidetext();

	var printrep = '<?php echo $this->editid;?>';
	//alert(printrep);
	if(printrep>1)
	{
		//var print = confirm('Invoice saved successfully, Do you wants to print Invoice?')
		if(print == true)
		{
			//window.open("http://<?php echo $_SERVER['SERVER_NAME']?><?php  echo $this->baseUrl();?>/companyapplication/printreport/insertedId/<?php echo $this->editid;?>");
		}
	}
	

});
<?if(isset($this->alertError)){?>
	alert('<? echo $this->alertError; ?>.');

<?}?>
function fnhidetext()
{
	 Student = dojo.byId('register');
     dojo.style(Student,'display','none');
}

function fnshowtext()
{
	 Student = dojo.byId('register');
     dojo.style(Student,'display','block');	
}

function Closefn()
	{	 
	   	 window.location = "<?php echo $this->baseUrl();?>/batchlogin/logout";        
	}
</script>
</head>
	<fieldset><?php $companyDetails = $this->companyDetails; ?>
		<legend><?php echo $this->translate("Company").' '.$this->translate("Application");?></legend>
        
            <table width="100%" class="table" cellpadding="5" cellspacing="1">
                <tr>
                   <td width="20%"><?php echo $this->translate("Company Name");?></td>
                   <td width="80%"><?php echo $companyDetails['CompanyName'];?></td>                  
                </tr>
                <tr>
                     <td><?php echo $this->translate("Contact")." ".$this->translate("Person");?></td>
                     <td ><?php echo $companyDetails['ContactPerson'];?></td>
                </tr>
                <tr>
                     <td><?php echo $this->translate("Registration No");?></td>
                     <td ><?php echo $companyDetails['RegistrationNo'];?></td>
                </tr>
               
         <!--        <tr>
	               <td align = "center" colspan = "4">
						<?php //echo $this->lobsearchform->Search;?>
						<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Add"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'stu-app','controller'=>'studentapplication', 'action'=>'newstudentapplication'),'default',true);?>';" />	
						<?php //echo $this->lobsearchform->Clear;?>
				   </td>
                </tr>
                 -->
            </table>
       
   <br>
    
    <input type="button" name="newapp" id="newapp" value="New Application" onclick="window.location.href='<?php echo $this->baseUrl();?>/companyapplication/newapplication'">
    <br>
    <table width="100%"  border="0" class="table3" cellspacing="1" align ="center">
	
	<tr>
		<th width="3%" ><strong>Num</strong></th>
		<th width="10%"  ><strong>Date</strong></th>
		<th width="20%" ><strong>Application ID</strong></th>
		<th width="10%" ><strong>Number of Candidate</strong></th>
		<th width="30%"  ><strong>Status</strong></th>
	</tr>
<!--	<tr>-->
<!--		<th width="10%"><strong>A</strong></th>-->
<!--		<th width="10%"><strong>B</strong></th>-->
<!--		<th width="10%"><strong>A & B</strong></th>-->
<!--		<th width="10%"><strong>A & C</strong></th>-->
<!--	</tr>-->
	<?php 
	$i=1;
//	echo "<pre>";
//	print_r($this->application);
//	echo "</pre>";
	foreach($this->application as $result){?>
	<tr>
		<td align="center"><?php echo $i;?>)</td>
		<td align="center"><?php echo $result['UpdDate'];?></td>
		<td>
		
		<?php 
		if($result['paymentStatus'] == 1){
			$url = "<a href='".$this->baseUrl()."/batchcandidates/index/batchId/".$result[idBatchRegistration]."'>";
			$status = "Candidate Registration";
		}elseif($result['paymentStatus'] == 2){
			$status = "Registration Completed";
			$url = "<a href='".$this->baseUrl()."/batchcandidates/report/batchId/".$result[idBatchRegistration]."'>";
		}else{
			$status = "Pending Payment";
			$url = "";
		}
		
		?><?php echo $result['registrationPin'];?></td>
		<td><?php echo $result['totalNoofCandidates'];?> </td>
		<td align="left"><?php echo $url;?><?php echo $status;?></a></td>
	</tr>
	<?php 
	$i++;
	}?>
	
</table>
<br>
* Click on Status to view details.

<br><br>
 </fieldset><!-- 
    <br/>
	<fieldset>
	<form action="<?php echo $this->baseUrl();?>/companyapplication/index/editid/0" method="POST">
	     <table class="table" width="30%" align="center">
                     <tr>
                          <th colspan = "5"><?php echo $this->translate("New Application");?></th>
                     </tr>                       
                         <tr>
                            <td><input type="radio" name="newapp" id="newapp" value="1" checked onClick="fnhidetext();" ><?php  echo $this->translate("New ")." ".$this->translate("Application");?></td>
                            <td align="right"></td>
                         </tr>
                    	 <tr>
                            <td><input type="radio" name="newapp" id="newapp" value="2" onClick="fnshowtext();" ><?php  echo $this->translate("Register ")." ".$this->translate("Id");?></td>
                            <td align="right" id="register" ><?php  echo $this->lobjstudentForm->IdRegister;?></td>
                         </tr>   	                        
	                     <tr>                           
                            <td colspan="2" align="right"><?php  echo $this->lobjstudentForm->Next;?>
                            <input type="button" name="Close" class="buttonStyle" onClick="Closefn();" value="Close" dojoType="dijit.form.Button"  label="Logout" >	</td>
                        </tr>     
	        </table>
        </form>
        </fieldset>                
	   --><!-- 	<table class="table" width="100%" cellpadding="5" cellspacing="1">
		
	    	<tr>
	        	<th><?php //echo $this->translate("Student First Name");?></th>
	        	<th><?php //echo $this->translate("Middle Name");?></th>
	        	<th><?php //echo $this->translate("Last Name");?></th>
	       	   
	    	</tr>
	        <?php //if (count($this->paginator)): ?>
	        <?php // foreach ($this->paginator as $lobjuser ): ?>
	  		<tr style="background-color:<?php //echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	<td><a href="<?php //echo //$this->url(array('module'=>'stu-app','controller'=>'studentapplication', 'action'=>'studentapplicationedit' , 'id'=>$lobjuser['IDApplication']),'default',true);?>" ><?php echo $this->escape($lobjuser['FName']);?></a></td>
	    	    <td><?php //echo $this->escape($lobjuser['MName']);?></td>
	    		<td><?php //echo $this->escape($lobjuser['LName']);?></td>
	            <?php //endforeach; ?>
	            <?php //endif; ?> 
			</tr>
	    	<tr>
	        	<td colspan="8" align="right"><div class="pagination"><?php //echo $this->paginationControl($this->lobjpaginator,'Sliding','/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>
		</table>
	</fieldset> -->
