<head>
<script>
dojo.addOnLoad(function(){
	dijit.byId('field3').focus();	
	});
</script>
</head>
<body>  
<fieldset>
<legend><?php echo $this->translate->_("Mode").' '.$this->translate->_("Of").' '.$this->translate->_("Payment");?></legend>
<form dojoType="dijit.form.Form"  id="initconfigForm" name="form1" method="post" action="<?php echo $this->baseUrl();?>/finance/paymentoptions/index/search/1">
	    	<table   width="100%">	    		
      			<tr>
         			<td ><?php echo $this->translate->_("Payment").' '.$this->translate->_("Name");?></td>
        			<td <?php if( $this->rtl=='rtl'){?>style="text-align:right;padding-right:10px" <?php }?>><?php echo $this->lobjform->field3?></td>	        	
      			
			        <td ><?php echo $this->translate->_("Payment").' '.$this->translate->_("Short").' '.$this->translate->_("Name")?></td>
        			<td <?php if( $this->rtl=='rtl'){?>style="text-align:right;padding-right:10px" <?php }?>><?php echo $this->lobjform->field2?></td>		        	
		      	</tr>
		      	<tr>
			        <td ><?php echo $this->translate->_("Active")?></td>
        			<td <?php if( $this->rtl=='rtl'){?>style="text-align:right;padding-right:10px" <?php }?>><?php echo $this->lobjform->field7?></td>		 
        			<td></td><td></td>      	
		      	</tr>
		      	<tr>
	               <td align = "center" colspan = "4">
						<?php echo $this->lobjform->Search;?>
						<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Add"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'finance','controller'=>'paymentoptions', 'action'=>'editpaymentoption'),'default',true);?>';" />	
						<?php echo $this->lobjform->Clear;?>
				   </td>
                </tr>    	
	        </table>		
	
</form>
</fieldset>
	<br/>	
<fieldset>
  		<table class="table" width="100%" cellpadding="5" cellspacing="1">
		<thead>
    		<tr>
				<th><?php echo $this->translate->_("Payment").' '.$this->translate->_("Name")?></th>
				<th><?php echo $this->translate->_("Payment").' '.$this->translate->_("Short").' '.$this->translate->_("Name")?></th> 
                                <th ><?php echo $this->translate->_("Active")?></th>
                                    						
    		</tr>
    	</thead>
    	<?php  if (count($this->paginator)): ?>    	
    	<tbody>   
    	            
            <?php   foreach ($this->paginator as $lobjcategory ):// ($this->accountdetails as $lobjcategory ): ?>
            <tr>
            <td><a href="<?php echo $this->url(array('module'=>'finance','controller'=>'paymentoptions', 'action'=>'editpaymentoption' ,'lvaredit'=>$lobjcategory['Idpaymentmode']),'default',true);?>" > <?php print_r($this->escape($lobjcategory['Paymentname']));?></a></td>
         
          		<td><?php  echo $lobjcategory['Shortname'];?></td>
                        <?php if($lobjcategory['Active']==1){?>
                        <td ><?php echo $this->translate->_("Active")?></td>
                        <?php } else { ?>
                        <td ><?php echo $this->translate->_("Inactive")?></td>
                        <?php } ?>	           	
     		</tr>
     		<?php  endforeach; ?>
     		 <?php  endif; ?>
     	</tbody>		
     		<tr>
	        	<td colspan="8" align="right"><div class="pagination"><?php  echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>
      </table>
   </fieldset> 
   </body>
   </html>
		      			

     
		      			

     