<head>
<script type="text/javascript">
dojo.addOnLoad(function(){
	 dojo.require("dijit.form.TimeTextBox");
	fnhidetext();


	dat = "<?php echo $this->StartTime;?>";
	 //alert(dat);
	new dijit.form.TimeTextBox({
      name: "ScheduleStartTime",
      value:new Date(dat),
      constraints: {
          timePattern: 'HH:mm',
          clickableIncrement: 'T00:15',
          visibleIncrement: 'T00:15',
          visibleRange: 'T01:00'
      }
  },
  "ScheduleStartTime");

	});
function fnshowtext()
{
	 Student = dojo.byId('show');
     dojo.style(Student,'display','block');	
}
function fnhidetext()
{
	 Student = dojo.byId('show');
     dojo.style(Student,'display','none');
}

 
function newsessionlists()
{

	   iddate = dijit.byId("Date");
	   if(iddate !='')
	   {
		var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/examination/chronepull/getsessions/iddate/"+iddate,
			handleAs:'json',
			load:function(data){
				AutoFillNextEditableDropDown("Session",data);
			
			
			
	      }
		}
	    dojo.xhrGet(xhrArgs);
	}   
}
function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}

</script>
</head>
<body >
	 <form dojoType="dijit.form.Form"  id="myForms" action="" method="post"  name= "myForms" >
<script type="dojo/method" event="onSubmit">
                              if (this.validate()) {
					  return true;
                } else {
                    return false;
                }
				</script>
<fieldset>
	<legend><?php echo $this->translate("Chrone Pull");?></legend>

 			
		<table width="100%" >
		<tr>
			<td>Select Exam Date</td>
			<td><?php echo $this->lobjChronepullForm->Date;?>Time <?php echo date('H:i')?></td>
			<td>Session</td>
			<td><?php echo $this->lobjChronepullForm->Session;?></td>
		</tr>
		<tr>
				 <td colspan="4" align="center">
				 	<?php echo $this->lobjChronepullForm->Search;?>
				 </td>
        </tr>
		</table>
		</fieldset>
		
		
	<fieldset>
	<table class="table" width="100%" cellpadding="5" cellspacing="1">
	 <tr>
	   <th>Venue</th>
	   <th>Exam Date</th>
	   <th>Exam Session</th>
	   <th></th>
	 </tr>
	 
	 <?php $larrcenter = $this->centreresults;
	      for($i=0;$i<count($larrcenter);$i++){?>
	      
		      <?php 
		          $lobjchronepullmodel = new Examination_Model_Chronepull();
		          $larresultstatusofveneue = $lobjchronepullmodel->fngetstatusofvenue($larrcenter[$i]['date'],$larrcenter[$i]['idvenue'],$larrcenter[$i]['idmangesession']);
		         $totalcount = count($larresultstatusofveneue);// print_r($larresultstatusofveneue);
		      ?>
		      <?php if($totalcount>1){?>
				      <?php if($larresultstatusofveneue['Status']==0){?>
							     <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
							     <td><?php echo $larrcenter[$i]['centername']?></td>
							       <td><?php  echo date('d-m-Y',strtotime($larrcenter[$i]['date']))?></td>
							        <td><?php echo $larrcenter[$i]['managesessionname']?></td>
							      
							   <td>Added to Chrone Push</td>
							 
							 </tr>
				 	<?php }?>
				 	<?php if($larresultstatusofveneue['Status']==1){?>
							     <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
							     <td><?php echo $larrcenter[$i]['centername']?></td>
							       <td><?php  echo date('d-m-Y',strtotime($larrcenter[$i]['date']))?></td>
							        <td><?php echo $larrcenter[$i]['managesessionname']?></td>
							      
							   <td>Updated in the Main Server</td>
							 
							 </tr>
				 	<?php }?>
				 	<?php if($larresultstatusofveneue['Status']==2){?>
							     <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
							     <td><?php echo $larrcenter[$i]['centername']?></td>
							       <td><?php  echo date('d-m-Y',strtotime($larrcenter[$i]['date']))?></td>
							        <td><?php echo $larrcenter[$i]['managesessionname']?></td>
							      <input type="hidden" value=<?php echo $larresultstatusofveneue['idchronepull'];?> name="idchronepull" id="chronepull">
							   <td style="color: #FF0000"><?php echo "Not Updated because of some issue";?><input type="submit" dojotype="dijit.form.Button" id="updatenow<?php echo $i;?>" name="updatenow[]" value="<?php echo $this->escape($larrcenter[$i]['idvenue']);?>" label="<?php echo $this->translate("updatenow");?>"></td>
							 
							 </tr>
				 	<?php }?>
		 	
		 	<?php } else {?>
		 	<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
			       <td><input type="checkbox" dojoType="dijit.form.CheckBox" name="idcenter[]" value="<?php echo $larrcenter[$i]['idvenue'];?>" id="idcenter<?php echo $i;?>"><?php echo $larrcenter[$i]['centername']?></td>
			       <td><?php  echo date('d-m-Y',strtotime($larrcenter[$i]['date']))?></td>
			        <td><?php echo $larrcenter[$i]['managesessionname']?></td>
			        <td>Not Scheduled</td>
			 </tr>
	 			<?php }?>
	 <?php }?>
	 
	  <tr>
           <td colspan="3" align="right">	  <input type='button' class="NormalBtn" dojotype="dijit.form.Button" label = "<?php echo $this->translate('ADD')?>" value='click' onclick="fnshowtext();" /></td>
           </tr>
	 
	</table>
	
	</fieldset>
	
	<fieldset id = "show"> 
		<table width="100%" >
		
		        <tr>
                    <td><?php echo $this->translate("Schedule").' '.$this->translate("Date")?></td>
                    <td><?php echo $this->lobjChronepullForm->Schedulerdate;?></td>
                    <td><?php echo $this->translate("Schedule").' '.$this->translate("Time")?></td>
                    <td><input id="ScheduleStartTime"/></td>
                  <td align="right"> <input type="submit"  dojotype="dijit.form.Button" id="Approve" name="Approve" value="Approve" label="<?php echo $this->translate("Add to Chrone");?>"/></td>
                </tr>
		</table>
		</fieldset>
	</form>	
</body>