<head>
	

<!-- ///////////////////////// DOJO ////////////////////////// -->
	<script type="text/javascript">
		dojo.addOnLoad(function(){
			//OnLoadAction();
			
			
             });
			 function examtoDateSetting(){ 
	var RegFromDate = dijit.byId('Fromdate').value;
	var startDate = dijit.byId('Todate');
	var trdat = ""+RegFromDate;
	var d = new Date(trdat); 
	d.setDate(d.getDate());
    var date = d.getDate();
    var month = d.getMonth()+1;
    var year = d.getFullYear();
	
    if(month<10) month = "0"+month;
    if(date<10) date = "0"+date;
    var nextdate = year+'-'+month +'-'+date;
    
	startDate.constraints = dojo.mixin(startDate.constraints, {min: dojo.date.stamp.fromISOString(nextdate)}); 

	var trdat = ""+RegFromDate;
	var d = new Date(trdat); 
	d.setDate(d.getDate() + 30);
    var date = d.getDate();
    var month = d.getMonth()+1;
    var year = d.getFullYear();
	
    if(month<10) month = "0"+month;
    if(date<10) date = "0"+date;
    var nextdate = year+'-'+month +'-'+date;
	startDate.constraints = dojo.mixin(startDate.constraints, {max: dojo.date.stamp.fromISOString(nextdate)}); 
}
	 
function fnGetStudentsNames(){
     fromdate=dijit.byId('Fromdate');
	 todate=dijit.byId('Todate');
	 
    if(fromdate=="" || todate=="")
	{
        alert("Please Select Exam Date");
		document.getElementById("opnames").innerHTML="";
        return false;
    }
		
	namestring=document.getElementById("Student").value;
	if(namestring!=""){
	var ExamFromDate = dijit.byId('Fromdate');
				var ExamToDate = dijit.byId('Todate');				
				    var xhrArgs = {
							url: "<?php echo $this->baseUrl();?>"+"/reports/statusreport/getstudentsnames/FromDate/"+ExamFromDate+"/ToDate/"+ExamToDate+"/namestring/"+namestring,
							handleAs:'text',
							load:function(data){ 
							document.getElementById("opnames").innerHTML=data;
								
							}
					   }
					dojo.xhrGet(xhrArgs);
					}
	else
	{
	    document.getElementById("opnames").innerHTML="";
	  
	}
	
}  
function fngetattemptsdetails(idapp,cnt,icno)
{
  var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/specialstatusreport/getallattempts/idapp/"+idapp+"/cnt/"+cnt+"/icno/"+icno,
			handleAs:'text',
			load:function(data){ 
				document.getElementById('contentvenuediv').innerHTML = data;
				document.getElementById('divLoginvenue').style.display = 'block';
				document.getElementById('divLoginvenue2').style.display = 'block';
			}
	   }
	dojo.xhrGet(xhrArgs);
}   
function Checkstudent()
{
//alert("fine");
    if(dijit.byId("Student").value!="")
	{
	    dijit.byId('Fromdate').setAttribute("required", false);
		dijit.byId('Todate').setAttribute("required", false);
	}


}  
function Closevenue()
 {
    document.getElementById('contentvenuediv').innerHTML = "";
	document.getElementById('divLoginvenue').style.display = 'none';
	document.getElementById('divLoginvenue2').style.display = 'none';
     
 } 
function fnsetvalue(opname){
	document.getElementById("Student").value=opname;
	document.getElementById("opnames").innerHTML="";
} 
	</script>  
	<style>
.HighlightableRow:hover
{
  background-color: red;
}


div.opnames { 
  width:165px;
  background-color:white;
  border:1px solid #888;
  margin:0px;
  padding:0px; 
  cursor:pointer;
  overflow:auto;  
}
</style>
</head>
<body class='claro'>

<div>
<fieldset>
	<legend><?php echo $this->translate("Result").' '.$this->translate("Status").' '.$this->translate("Report");?></legend>
	<div class="search" style="margin-left:20px;">
 		<form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/specialstatusreport" method="POST">
 			<script type="dojo/method" event="onSubmit">
               // if (this.validate()) {
				//if(document.getElementById("Student").value =="")
				//{
				     //alert(document.getElementById("Student").value);
				     //dijit.byId('Fromdate').setAttribute("required", true);
		            // dijit.byId('Todate').setAttribute("required", true);
					// if(document.getElementById("Fromdate").value !='' && document.getElementById("Todate").value !='')
					// {
					//   return true;
					// }
					// else
					// {
					//   return false;
					// }
					 
				//}
				//else if(document.getElementById("Student").value !="")
				//{
				   //  dijit.byId('Fromdate').setAttribute("required", false);
		           //  dijit.byId('Todate').setAttribute("required", false);
					
				//}
				
					//return true;
                //} else {
                   // return false;
                //}
				if (this.validate()){
					return true;
                } else {
                   return false;
               }
			</script>
		<table width="100%">
				<tr>
                    <td><?php echo $this->translate("Exam").' '.$this->translate("From").' '.$this->translate("Date") ?></td>
                    <td><?php echo $this->lobjform->Fromdate;?></td>
                    <td><?php echo $this->translate("Exam").' '.$this->translate("To").' '.$this->translate("Date") ?></td>
                    <td><?php echo $this->lobjform->Todate;?></td>
                </tr>
				<tr>
                    <td><?php echo $this->translate("Course").' '.$this->translate("Name") ?></td>
                    <td><?php echo $this->lobjform->Coursename;?></td>
                    <td><?php echo $this->translate("Result") ?></td>
                    <td><?php echo $this->lobjform->Result;?></td>
                </tr>
				<tr>
					<td><?php echo $this->translate("Student").' '.$this->translate("Name") ?></td>
					<td><?php echo $this->lobjform->Student;?><div id="opnames" class="opnames"></td>
					<td><?php echo $this->translate("IC NO") ?></td>
					<td><?php echo $this->lobjform->ICNO;?></td>
				</tr>
				
				<tr>
					<td colspan="4" align="center">
					<?php echo $this->lobjform->Search;?>
						<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Clear"); ?>" onclick="window.location.href='<?php echo $this->url(array('controller'=>'specialstatusrepot', 'action'=>'index'),'default',true);?>';" />
					</td>
				</tr>
		</table>
	</form>	
		</div>
	</fieldset> 
	
	<form id="myForm1" name = "myform1" action="<?php echo $this->baseUrl();?>/specialstatusreport/pdfexport" method="POST">
	
	<br/>
	 <?php $centerarray = array();  $attemptsarray=$this->attempts;  $partialreg=$this->partialreg;?>
	 <?php if (count($this->paginator)){ ?>
	<table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr>
		<th><?php echo $this->translate("Student Name") ?></th> 
        <th><?php echo $this->translate("ICNO") ?></th>
        <th><?php echo $this->translate("Course") ?></th> 		
        <th><?php echo $this->translate("Exam Date") ?></th>
		<th><?php echo $this->translate("Venue") ?></th>        		
	    <th><?php echo $this->translate("Result") ?></th>
		<th><?php echo $this->translate("Attempts") ?></th>
    </tr>
	  <tr > 
	 <?php $sum=0; foreach ($this->paginator as $lobjCountry ):  ?>
	 
	 
	         <td><?php   print_r($this->escape($lobjCountry['StudentName']));?>  
                                                    			             <input type="hidden"  name="fromdate" value="<?php  echo $this->ExamFromdate; ?>" id="fromdate"/>
	                                                                         <input type="hidden"  name="todate" value="<?php  echo $this->ExamTodate; ?>" id="todate"/>
																			 <input type="hidden"  name="student" value="<?php  echo $this->Name; ?>" id="student"/>
																			 <input type="hidden"  name="icno" value="<?php  echo $this->ICNO; ?>" id="icno"/>
																			 <input type="hidden"  name="result" value="<?php  echo $this->Result; ?>" id="result"/>
																			 <input type="hidden"  name="coursename" value="<?php  echo $this->Courseee; ?>" id="coursename"/>
																			 </td>
		                                                                    
             <td><?php   print_r($this->escape($lobjCountry['ICNO']));?></td> 
		     <td><?php   print_r($this->escape($lobjCountry['Coursename']));?></td> 
		     <td><?php   print_r($this->escape($lobjCountry['Date']));?></td> 
		     <td><?php   print_r($this->escape($lobjCountry['Venue']));?></td> 
		     <td><?php   print_r($this->escape($lobjCountry['Result']));?></td> 
		   <td ><a href="#" onclick="fngetattemptsdetails('<?php echo $lobjCountry['IDApplication'];?>','<?php echo $lobjCountry['Attempts'];?>','<?php echo $lobjCountry['ICNO'];?>')"><?php   print_r($this->escape($lobjCountry['Attempts']));  ?></td> 
	  </tr>       
	<?php endforeach; ?>
	<tr>
  <td  colspan="7" align="right" >
	 <input name="excel" id="excel" type="submit" dojoType=dijit.form.Button style= "Width=900px" label="<?php echo $this->translate("Export To Excel"); ?>" value=<?php echo $this->translate("Excel");?> >
	 <input name="pdf" id="pdf" type="submit" dojoType=dijit.form.Button style= "Width=900px" label="<?php echo $this->translate("Print PDF"); ?>" value=<?php echo $this->translate("Print PDF");?> >
    </td></tr>
	<?php } elseif($this->find ==1)

       {  ?>
 
        <table width = '100%'> <tr><td align = 'center' ><b> <?php echo $this->translate("NO Candidates Found"); ?></b></td></tr></table>
		
       <?php  }?>
	  
	 </form>
	 </table>
</br>
 <div runat="server" id="divLoginvenue"  style="display:none; z-index: 153;  position: fixed; left: 20%; width: 600px; top:25% " >
    <div runat="server" id="divLoginvenue2"  style="display:none; opacity:0.5; z-index: 150; position: relative; left: 0%; height: 100%; width: 100%; top: 0%;"> </div>
					                <div id="scroll" style="height: 600px; width: 150%; overflow:auto;">
					                        <table style="height: 125px; width: 100%; background-color: #FFFFFF;" border="3" frame="box">
					                             <tr>
					                                    <td align="right">
					                                    	<div id="contentvenuediv">
															</div>					                                      
					                                   </td>
					                                </tr>
					                        </table>
    							   </div>
</body>
</html>