
<script type="text/javascript">
    function duplicatesessionname(sessionname)
	{   
		//alert(sessionname);
		if(sessionname!='')
		{  
			var xhrArgs = { 
 							url: "<?php echo $this->baseUrl();?>"+"/scheduler/managesession/fnajaxgetsessionname/sessionname/"+sessionname,
 							handleAs:'text',
 							load:function(data)
 							{ 
 							 if(data == '')
							  {
							  }
							 else
							  {
								 alert(data);
								 dijit.byId("managesessionname").setValue('');
								 dijit.byId("managesessionname").focus();
							  }
 			                }
 	                      }
 	         dojo.xhrGet(xhrArgs);
         }
	}	
</script>
</script> 
<fieldset>
    <legend><?php echo $this->translate("Add Issue");?></legend>
    
                <Form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">
                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
                
					return true;
                } else {
                    return false;
                }
				</script>
                    <table class="table" width="100%" >
                        <tr>
                            <th colspan = "4"><?php echo $this->translate("New Student").' '.$this->translate("Issue");?></th>
                        </tr>
                        <tr>
                            <td ><?php echo $this->translate("ISSUE");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjform->Issue;?>
                            	<?php echo $this->lobjform->UpdDate;?>
                            	<?php echo $this->lobjform->UpdUser;?></td>
                        </tr>
                        
                         <tr>
                            <td><?php echo $this->translate("Active");?></td>
                            <td><?php echo $this->lobjform->Active;?></td>
                        </tr>
               			<tr>
                            <td colspan=4 align = "right"><?php echo $this->lobjform->Save;?>
							<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'examination','controller'=>'studentissues', 'action'=>'index'),'default',true);?>';" />	
                            </td> 
                               
                        </tr>           
                        
              </table>
            
            </Form>

</fieldset>
