<head>

<script type="text/javascript">
	dojo.addOnLoad(function() {
		
	});
	
</script> 
</head>
 <fieldset>
    <legend><?php echo $this->translate("Student Issues");?></legend>
               <Form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">
                <script type="dojo/method" event="onSubmit">
                
				</script>
                    <table  class="table" width="30%" align="center" >
                        <tr >
						    
                                   
                              <td ><?php echo $this->translate("Issue:");?></td>
							  <td align="right" ><?php echo $this->lobjform->Issue;?><?php echo $this->lobjform->UpdDate;?>
                            	<?php echo $this->lobjform->UpdUser;?></td>
							
                        </tr>
                        <tr >
						     
                                    
                                    <td   ><?php echo $this->translate("Active:");?>
									<?php echo $this->lobjform->Active;?></td>
                        </tr>
                        <tr>
                                <td align = "center" colspan = "4">        
                          	     <?php echo $this->lobjform->Search;?>	
								 <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Add"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'examination','controller'=>'studentissues', 'action'=>'addissue'),'default',true);?>';" />	
							<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Clear"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'examination','controller'=>'studentissues', 'action'=>'index'),'default',true);?>';" />	
                            </td> 
                        </tr>
              </table>
            
            </Form>

</fieldset>
<br/>
    <?php if (count($this->paginator)): ?>
	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
	    	<tr>
	        	<th><?php echo $this->translate("ISSUE");?></th>
	        	<th><?php echo $this->translate("Status");?></th>
				<th><?php echo $this->translate("UpdDate");?></th>
	    	</tr>
	        
	        <?php foreach ($this->paginator as $lobjprogram): ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	<td><a href="<?php echo $this->baseUrl();?>/examination/studentissues/editissue/id/<?php echo $this->escape($lobjprogram['Idissue']);?>" ><?php print_r($this->escape($lobjprogram['Issue']));?></a></td>
	        	        	
	        	<td><?php  if($lobjprogram['Active'] == 1) echo "Active"; else echo "Inactive";?></div></td>  
	           <td><?php print_r($this->escape($lobjprogram['Date']));?></td>	
	           
			</tr>
			 <?php endforeach; ?>
				
		</table>
	</fieldset>
	 <?php endif; ?> 
