<html>
<head>
</head>
<body class='claro'>
<fieldset>
	<legend><?php echo $this->translate("Exam Center/Exam Date Change");?></legend>
 		<form dojoType="dijit.form.Form"  id="myForm" action="" method="POST">
 			<script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
			</script>
		<table width="100%" >
		
                <tr>
                   <td><?php echo $this->translate("Change Type") ?></td>
                  <td><?php echo $this->lobjform->Changetype;?></td>
                 
                </tr>
                
                   <tr>
                  
                 
                </tr>
               <!-- <tr>
                   <td><?php //echo $this->translate("Payment") ?></td>
                  <td><?php //echo $this->lobjform->Payment;?></td>
                  <td><?php //echo $this->translate("Admin Approval") ?></td>
                  <td><?php //echo $this->lobjform->approval;?></td>
                </tr>-->
				 <tr>
				 <td colspan="4" align="center">
				 	<?php echo $this->lobjform->go;?>
				 	<?php //echo $this->lobjform->Clear;?>
				</td>
               </tr>
		</table>
	</form>	
</body>
</html>
