<html>

<script>    
dojo.addOnLoad(function(){
		// dijit.byId('Fromdate').set('placeHolder','dd-mm-yyyy');
		// dijit.byId('ToDate').set('placeHolder','dd-mm-yyyy');
		// dijit.byId('field5').set('value','');
		 //dijit.byId('field5').set('placeHolder','Select');
		 <?php if($this->venufield==0 && $this->venufield=="") { ?>
			 dijit.byId('field5').set('value','');
			 dijit.byId('field5').set('placeHolder','Select');
			<?php }?> 
	  });

	          

function fnGetVenuedetails(examdate){ 
	 var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/reports/examdetails/getvebudetails/examdate/"+examdate,
				handleAs:'json',
				load:function(data){ 
					AutoFillNextEditableDropDown("field5",data); 
				}
		   }
		dojo.xhrGet(xhrArgs); 
} 	


function fnFillToDate(RegFromDate){ 
	
	var trdat = ""+RegFromDate;
	var d = new Date(trdat); 
	d.setDate(d.getDate() + 15);
    var date = d.getDate();
    var month = d.getMonth()+1;
    var year = d.getFullYear();
	
    if(month<10) month = "0"+month;
    if(date<10) date = "0"+date;
    var nextdate = year+'-'+month +'-'+date;
	dijit.byId('RegToDate').set('value',nextdate);
    
	} 	

function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}


function fngetstudentdetails(idcenter,idprogram,idsession,examdate,type) {
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/reports/examdetails/reportdetails/idcenter/"+idcenter+"/idprogram/"+idprogram+"/idsession/"+idsession+"/examdate/"+examdate+"/type/"+type,
			handleAs:'text',
			load:function(data){ 
				document.getElementById('contentdiv').innerHTML = data;
				document.getElementById('divLogin').style.display = 'block';
				document.getElementById('prgmdetails').style.display = 'block';
			}
	   }
	dojo.xhrGet(xhrArgs);
}
function fngetfpxstudentdetails(idcenter,idprogram,idsession,examdate,type) {
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/reports/examdetails/paymentmodedetails/idcenter/"+idcenter+"/idprogram/"+idprogram+"/idsession/"+idsession+"/examdate/"+examdate+"/type/"+type,
			handleAs:'text',
			load:function(data){ 
				document.getElementById('contentdiv').innerHTML = data;
				document.getElementById('divLogin').style.display = 'block';
				document.getElementById('prgmdetails').style.display = 'block';
			}
	   }
	dojo.xhrGet(xhrArgs);
}
function fngetpendingstudentdetails(idcenter,idprogram,idsession,examdate,type) {
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/reports/examdetails/pendingdetails/idcenter/"+idcenter+"/idprogram/"+idprogram+"/idsession/"+idsession+"/examdate/"+examdate+"/type/"+type,
			handleAs:'text',
			load:function(data){ 
				document.getElementById('contentdiv').innerHTML = data;
				document.getElementById('divLogin').style.display = 'block';
				document.getElementById('prgmdetails').style.display = 'block';
			}
	   }
	dojo.xhrGet(xhrArgs);
}

function closebox() {
	document.getElementById('contentdiv').innerHTML = "";
	document.getElementById('divLogin').style.display = 'none';
	document.getElementById('prgmdetails').style.display = 'none';
}
</script>

</head>
<body class="claro">

	<fieldset>
	<legend><?php echo "Exam Details Report";?></legend>
        <form action="<?php echo $this->baseUrl();?>/reports/examdetails/index/search/1" method="POST" dojoType="dijit.form.Form"  id="myForm"  name= "myForm">
            <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					  return true;
                } else {
                    return false;
                }
				</script>
      <table width="100%" class="table">
      			<tr>
                    <td><?php echo $this->translate("Exam").' '.$this->translate("From").' '.$this->translate("Date").' '.$this->translate("(dd-mm-yyyy)") ?></td>
                    <td><?php echo $this->lobjform->FromDate;?></td>
                    <td><?php echo $this->translate("Exam").' '.$this->translate("To").' '.$this->translate("Date").' '.$this->translate("(dd-mm-yyyy)") ?></td>
                    <td><?php echo $this->lobjform->ToDate;?></td>
                </tr>
                <tr>
                    <td><?php echo $this->translate("Applied").' '.$this->translate("From").' '.$this->translate("Date").' '.$this->translate("(dd-mm-yyyy)") ?></td>
                    <td><?php echo $this->lobjform->RegFromDate;?></td>
                    <td><?php echo $this->translate("Applied").' '.$this->translate("To").' '.$this->translate("Date").' '.$this->translate("(dd-mm-yyyy)") ?></td>
                    <td><?php echo $this->lobjform->RegToDate;?></td>
                </tr>
                <tr>
                    <td><?php echo $this->translate("Program") ?></td>
                    <td><?php echo $this->lobjform->field8;?></td>
                    <td><?php  echo "Venue";?></td>
                    <td><?php  echo $this->lobjform->field5;?></td>
                </tr>
               
                <tr>
              	 <td align = "center" colspan = "4">
                    <?php echo $this->lobjform->Search;?>
					 <input name="Clear" id="Clear" type="Clear"   class="NormalBtn" dojoType=dijit.form.Button label = <?php echo $this->translate("Clear");?> value=<?php echo $this->translate("Clear");?> onclick="window.location.href='<?php echo $this->url(array('module'=>'reports','controller'=>'examdetails', 'action'=>'index'),'default',true);?>';" >
				 </td>
               </tr>
       </table>
       </form>
       </fieldset>
 <div style="width:100%;height:400px;overflow:auto;">     
      <?php   if (count($this->paginator)): ?>
       <br>
       <fieldset>       
       <?php $centerarray = array();?>
    <table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr>
    	<th><?php echo $this->translate("Venue") ?></th>
    	<th><?php echo $this->translate("Exam Date") ?></th>
        <th><?php echo $this->translate("Program") ?></th>
        <th><?php echo $this->translate("Session") ?></th>
        <th><?php echo $this->translate("Registered") ?></th>
        <th colspan="5"  align="center"> <?php echo $this->translate("Paid") ?></th>
        <th><?php echo $this->translate("Pending") ?></th> 
    </tr>
    <tr>
    	<th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><?php echo $this->translate("FPX") ?></th> 
        <th><?php echo $this->translate("CC") ?></th> 
        <th><?php echo $this->translate("MO") ?></th>
        <th><?php echo $this->translate("PO") ?></th>
        <th ><?php echo $this->translate("Others") ?></th>
        <th colspan="3"></th>
    </tr>
    
        
    <?php if (count($this->paginator)): ?>
   	
   	<?php 
     	$countReg=0;
     	$countPaid=0;
     	$countPending=0;
     	$countFPX=0;
     	$countCreditcard=0;
     	$countMoneyOrder=0;
     	$countPostalOrder=0;
     	$countCreditBankIBFIM =0;
     	
     	
     ?>
	<?php foreach ($this->paginator as $lobjexamreport ): ?>  
    <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
            <td>
            <?php $centerarrays[$lobjexamreport['idcenter']] = array(); ?> 
            <?php if(!in_array($lobjexamreport['idcenter'],$centerarray)){
				$centerarray[] = $lobjexamreport['idcenter'];		
				print_r($this->escape($lobjexamreport['centername']));
			}?>
		 </td>
		 <td >
        	<?php if(!in_array($lobjexamreport['ExamDate'],$centerarrays[$lobjexamreport['idcenter']])){
					$centerarrays[$lobjexamreport['idcenter']][] = $lobjexamreport['ExamDate'];
					$centerarrayss[$lobjexamreport['idcenter']][$lobjexamreport['IdProgrammaster']] = array();							
					 print_r($this->escape($lobjexamreport['ExamDate']));
			}?>
		 </td>
		 
         <td>
			<?php if(!in_array($lobjexamreport['ProgramName'],$centerarrays[$lobjexamreport['idcenter']])){
					$centerarrays[$lobjexamreport['idcenter']][] = $lobjexamreport['ProgramName'];
					$centerarrayss[$lobjexamreport['idcenter']][$lobjexamreport['IdProgrammaster']] = array();;								
					 print_r($this->escape($lobjexamreport['ProgramName']));
			}?>
		 </td>
         <td>
			<?php if(!in_array($lobjexamreport['managesessionname'],$centerarrayss[$lobjexamreport['idcenter']][$lobjexamreport['IdProgrammaster']])){
					$centerarrayss[$lobjexamreport['idcenter']][$lobjexamreport['IdProgrammaster']][] = $lobjexamreport['managesessionname'];								
					print_r($this->escape($lobjexamreport['managesessionname']));
			}?>
         
         </td> 
        
          <?php 
		      $lobjExamdetailsmodel = new Reports_Model_DbTable_Examdetails(); 
		      $idcenter = $lobjexamreport['idcenter'];
		      $IdProgrammaster = $lobjexamreport['IdProgrammaster'];
		      $idmangesession = $lobjexamreport['idmangesession'];
		      $exdate = $lobjexamreport['exdate'];
		      
		      $pendingresult = $lobjExamdetailsmodel->fnGetCountPendingdRegistered($idcenter,$IdProgrammaster,$idmangesession,$exdate);
		      
		      $FPXresult = $lobjExamdetailsmodel->fnGetCountModeOfPaymenFPXtRegistered($idcenter,$IdProgrammaster,$idmangesession,$exdate);
		      $CreditCardresult = $lobjExamdetailsmodel->fnGetCountModeOfPaymenCreditCardtRegistered($idcenter,$IdProgrammaster,$idmangesession,$exdate);
		      $MoneyOrderresult = $lobjExamdetailsmodel->fnGetCountModeOfPaymenMoneyOrderRegistered($idcenter,$IdProgrammaster,$idmangesession,$exdate);
		      $PostalOrderresult = $lobjExamdetailsmodel->fnGetCountModeOfPaymenPostalOrderRegistered($idcenter,$IdProgrammaster,$idmangesession,$exdate);
		      $CreditBankIBFIMresult = $lobjExamdetailsmodel->fnGetCountModeOfPaymenCreditBankIBFIMRegistered($idcenter,$IdProgrammaster,$idmangesession,$exdate);
		      $Regresult = $lobjExamdetailsmodel->fnGetCountRegistered($idcenter,$IdProgrammaster,$idmangesession,$exdate);
       ?>
       
        <td align="center"><a href="#" onclick="fngetstudentdetails('<?php echo $lobjexamreport['idcenter'];?>','<?php echo $lobjexamreport['IdProgrammaster'];?>','<?php echo $lobjexamreport['idmangesession'];?>','<?php echo $lobjexamreport['exdate'];?>','registered')"><?php print_r($this->escape($Regresult['CountReg']));?></a></td>
        <td align="center"><a href="#" onclick="fngetfpxstudentdetails('<?php echo $lobjexamreport['idcenter'];?>','<?php echo $lobjexamreport['IdProgrammaster'];?>','<?php echo $lobjexamreport['idmangesession'];?>','<?php echo $lobjexamreport['exdate'];?>','fpx')"><?php print_r($this->escape($FPXresult['FPX']));?></a></td>
        <td align="center"><a href="#" onclick="fngetfpxstudentdetails('<?php echo $lobjexamreport['idcenter'];?>','<?php echo $lobjexamreport['IdProgrammaster'];?>','<?php echo $lobjexamreport['idmangesession'];?>','<?php echo $lobjexamreport['exdate'];?>','creditcard')"><?php print_r($this->escape($CreditCardresult['CreditCard']));?></a></td>
        <td align="center"><a href="#" onclick="fngetfpxstudentdetails('<?php echo $lobjexamreport['idcenter'];?>','<?php echo $lobjexamreport['IdProgrammaster'];?>','<?php echo $lobjexamreport['idmangesession'];?>','<?php echo $lobjexamreport['exdate'];?>','moneyorder')"><?php print_r($this->escape($MoneyOrderresult['MoneyOrder']));?></a></td>
        <td align="center"><a href="#" onclick="fngetfpxstudentdetails('<?php echo $lobjexamreport['idcenter'];?>','<?php echo $lobjexamreport['IdProgrammaster'];?>','<?php echo $lobjexamreport['idmangesession'];?>','<?php echo $lobjexamreport['exdate'];?>','postalorder')"><?php print_r($this->escape($PostalOrderresult['PostalOrder']));?></a></td>
        <td align="center"><a href="#" onclick="fngetfpxstudentdetails('<?php echo $lobjexamreport['idcenter'];?>','<?php echo $lobjexamreport['IdProgrammaster'];?>','<?php echo $lobjexamreport['idmangesession'];?>','<?php echo $lobjexamreport['exdate'];?>','creditbank')"><?php print_r($this->escape($CreditBankIBFIMresult['CreditBankIBFIM']));?></a></td>
        <td align="center"><a href="#" onclick="fngetpendingstudentdetails('<?php echo $lobjexamreport['idcenter'];?>','<?php echo $lobjexamreport['IdProgrammaster'];?>','<?php echo $lobjexamreport['idmangesession'];?>','<?php echo $lobjexamreport['exdate'];?>','registered')"><?php print_r($this->escape($pendingresult['Pending']));?></a></td>
     </tr>
     
     <?php 
     	$countReg = $countReg+$Regresult['CountReg'];
     	$countPending = $countPending+$pendingresult['Pending'];
     	$countFPX = $countFPX+$FPXresult['FPX'];
     	$countCreditcard = $countCreditcard+$CreditCardresult['CreditCard'];
     	$countMoneyOrder = $countMoneyOrder+$MoneyOrderresult['MoneyOrder'];
     	$countPostalOrder = $countPostalOrder+$PostalOrderresult['PostalOrder'];
     	$countCreditBankIBFIM = $countCreditBankIBFIM+$CreditBankIBFIMresult['CreditBankIBFIM'];
     ?>
      <?php endforeach; ?>
      
       <tr>
	      <td> </td>
	      <td> </td>
	      <td> </td>
	      <td> </td>
		  <td align="right"> Total Registered: <?php echo $countReg?></td>
		  <td align="right"> Total FPX: <?php echo $countFPX?></td>
		  <td align="right"> Total CC: <?php echo $countCreditcard?></td>
		  <td align="right"> Total MO: <?php echo $countMoneyOrder?></td>
		  <td align="right"> Total PO: <?php echo $countPostalOrder?></td>
		  <td align="right"> Total Others: <?php echo $countCreditBankIBFIM?></td>
		  <td align="right"> Total Pending: <?php echo $countPending?></td>
		  
   	 </tr>
   	
	   <?php endif; ?> 
</div>
	 <tr>
	  <td colspan="13" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   	</tr>
  <tr>
	  <td colspan="13" align="right"><input name="Print" id="Print" type="Button"   class="NormalBtn" dojoType=dijit.form.Button label = <?php echo $this->translate("Print");?> value=<?php echo $this->translate("Print");?> onclick="window.location.href='<?php echo $this->url(array('module'=>'reports','controller'=>'examdetails', 'action'=>'pdfexport','venu'=>$this->venufield,'program'=>$this->Programfield,'FromDate'=>$this->FromDate,'ToDate'=>$this->ToDate,'RegFromDate'=>$this->RegFromDate,'RegToDate'=>$this->RegToDate),'default',true);?>';" ></td>
 </tr>
</table>

	<div runat="server" id="divLogin"  style="display:none; z-index: 153; position: absolute; left: 18%; width: 850px; top: 150px;">
					                <asp:Panel runat="server" ID="popupLogin">
					                    <asp:Panel runat="server" ID="popupContent1">
					                        <table style="height: 125px; width: 100%; background-color: #FFFFFF;" border="3"   frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">
					                                    	<div id="contentdiv"></div>
					                                      
					                                   </td>
					                                </tr>
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
					            </div>
<div runat="server" id="prgmdetails" style="display:none; opacity:0.4; z-index: 150; position: absolute; left: 0%; height: 100%; width: 100%; top: 0%;">

<asp:Panel >
					                    <asp:Panel  >
					                        <table style="height: 100%; width: 100%; background-color: #000000;" border="3"   frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">
					                                    	
					                                      
					                                   </td>
					                                </tr>
					                               
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
</div>	

</fieldset>   
<?php endif; ?>
</body>
</html>























