<head>
	<script type="text/javascript">
	function fnhidebutton()
	{
		 document.getElementById('detailsdata').style.display='';
		 document.getElementById('menudetails').style.display='none';
	}
	
	function fnprintpdf()
	{
		var chronetype = dijit.byId('Changetype');
		 var fromdate = dojo.byId('Date').value;
		 var todate = dojo.byId('Date2').value;
		 window.location = "<?php echo $this->baseUrl()?>"+"/reports/chronepushreport/fnexportexcel/fromdate/"+fromdate+"/todate/"+todate+"/chronetype/"+chronetype;
	}
	function fnhidedetails()
	{
		var inde = <?php echo $this->id;?>;
		if(inde==0)
		{
			hidedetails();
		}
		else
		{
			fnhidebutton();
		}
	}
	function hidedetails()
	{
		 document.getElementById('detailsdata').style.display='none';
		 document.getElementById('menudetails').style.display='';
	}
	</script>

</head>
<body class='claro' onload="fnhidedetails();">


<fieldset>
	<legend><?php echo $this->translate("Chrone Push Report");?></legend>
	
 		<form dojoType="dijit.form.Form"  id="myForm" action="" method="POST" > 
 			<script type="dojo/method" event="onSubmit">
                
			</script>
		<table width="100%" id="menudetails">	
		<tr>
                  
                    <td colspan="4" align="center"><?php echo $this->Chronepushreport->Changetype;?></td>
                 
                </tr>
                <tr>
                  
                    <td colspan="4" align="center"><input type="button" class="NormalBtn" dojotype="dijit.form.Button" name="Go" value="Go" id="Go" label="Go" onClick="fnhidebutton();"></td>
                 
                </tr>	
        </table>
        <table width="100%" id="detailsdata">		
				<tr>
                    <td><?php echo $this->translate("From").' '.$this->translate("Date") ?></td>
                    <td><?php echo $this->Chronepushreport->Date;?></td>
                    <td><?php echo $this->translate("To").' '.$this->translate("Date") ?></td>
                    <td><?php echo $this->Chronepushreport->Date2;?></td>
                </tr>
               
				<tr>
					<td colspan="4" align="center"><?php echo $this->Chronepushreport->Search;?>
					<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Clear"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'reports','controller'=>'chronepushreport', 'action'=>'index'),'default',true);?>';" />
					</td>
				</tr>
		</table>
	</form>	
		
	</fieldset> 

<fieldset>
<?php if(($this->viewtable)==1){?>
<table class="table" width="100%">
   <tr><th>Exam Date</th>
   <th>Center Name</th>
   <th>Scheduled Date</th>
   <th>Scheduled Status</th>
   <th>Scheduled Time</th>
   <th>UpdDate</th>
   <th>User</th></tr>
 <?php $larrresults = $this->results;$totalresults = count($larrresults);
 for($i=0;$i<$totalresults;$i++){?>
 <tr>
 <td><?php echo date('d-m-Y',strtotime($larrresults[$i]['Examdate']))?></td>
 <td><?php echo $larrresults[$i]['centername']?></td>
  <td><?php echo date('d-m-Y',strtotime($larrresults[$i]['schdeduleddate']))?></td>
  <?php if($larrresults[$i]['Status']==1){?>
    <td>Success</td>
  <?php } else if($larrresults[$i]['Status']==2){?>
    <td>Failed</td>
  <?php } else if($larrresults[$i]['Status']==0){?>
    <td>Not Chroned</td>
  <?php }?>

 <td><?php echo $larrresults[$i]['scheduledtime']?></td>
 <td><?php echo date('d-m-Y',strtotime($larrresults[$i]['UpdDate']))?></td>
 <td><?php echo $larrresults[$i]['fName']?></td>
 <?php }?>
 
 </tr>
 <tr>
 <td colspan="6" align="right">    <input type="button" name="print" id="print" value="print" class="NormalBtn" dojoType=dijit.form.Button label ="Print" onclick="fnprintpdf()"></td>
 </tr>
</table>
<?php } else if(($this->viewtable)==2){?>

<table class="table" width="100%">
   <tr>
   <th>Center Name</th>
   <th>Scheduled Date</th>
   <th>Scheduled Status</th>
   <th>Scheduled From Date</th>
   <th>Scheduled To Date</th>
   <th>Scheduled Time</th>
   <th>UpdDate</th>
   <th>User</th></tr>
 <?php $larrresults = $this->results;$totalresults = count($larrresults);
 for($i=0;$i<$totalresults;$i++){?>
 <tr>
 <td><?php echo $larrresults[$i]['centername']?></td>
  <td><?php echo date('d-m-Y',strtotime($larrresults[$i]['schdeduleddate']))?></td>
  <?php if($larrresults[$i]['Status']==1){?>
    <td>Success</td>
  <?php } else if($larrresults[$i]['Status']==2){?>
    <td>Failed</td>
  <?php } else if($larrresults[$i]['Status']==0){?>
    <td>Not Chroned</td>
  <?php }?>
<td><?php echo date('d-m-Y',strtotime($larrresults[$i]['Schedulerfromdate']))?></td>
<td><?php echo date('d-m-Y',strtotime($larrresults[$i]['Schedulertodate']))?></td>
 <td><?php echo $larrresults[$i]['scheduledtime']?></td>
 <td><?php echo date('d-m-Y',strtotime($larrresults[$i]['UpdDate']))?></td>
 <td><?php echo $larrresults[$i]['fName']?></td>
 <?php }?>
 
 </tr>
 <tr>
 <td colspan="6" align="right">    <input type="button" name="print" id="print" value="print" class="NormalBtn" dojoType=dijit.form.Button label ="Print" onclick="fnprintpdf()"></td>
 </tr>
</table>
<?php } else if(($this->viewtable)==3){?>
<table class="table" width="100%">
   <tr>
   <th>Center Name</th>
   <th>Scheduled Date</th>
   <th>Scheduled Status</th>
   <th>Scheduled Time</th>
   <th>UpdDate</th>
   <th>User</th></tr>
 <?php $larrresults = $this->results;$totalresults = count($larrresults);
 for($i=0;$i<$totalresults;$i++){?>
 <tr>
 <td><?php echo $larrresults[$i]['centername']?></td>
  <td><?php echo date('d-m-Y',strtotime($larrresults[$i]['schdeduleddate']))?></td>
  <?php if($larrresults[$i]['Status']==1){?>
    <td>Success</td>
  <?php } else if($larrresults[$i]['Status']==2){?>
    <td>Failed</td>
  <?php } else if($larrresults[$i]['Status']==0){?>
    <td>Not Chroned</td>
  <?php }?>

 <td><?php echo $larrresults[$i]['scheduledtime']?></td>
 <td><?php echo date('d-m-Y',strtotime($larrresults[$i]['UpdDate']))?></td>
 <td><?php echo $larrresults[$i]['fName']?></td>
 <?php }?>
 
 </tr>
 <tr>
 <td colspan="6" align="right">    <input type="button" name="print" id="print" value="print" class="NormalBtn" dojoType=dijit.form.Button label ="Print" onclick="fnprintpdf()"></td>
 </tr>
</table>
<?php }?>
</fieldset>

            

</body>
</html>
