<html>
<head>
</head>
<body class='claro'>
<fieldset>
	<legend><?php echo $this->translate("Revert Back Action");?></legend>
 		<form dojoType="dijit.form.Form"  id="myForm" action="" method="POST">
 			<script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
			</script>
		<table width="100%">
		
                <tr>
                   <td><?php echo $this->translate("Change Type") ?></td>
                  <td><?php echo $this->lobjChronepushrevertForm->Changetype;?></td>
                 
                </tr>

        
				 <tr>
				 <td colspan="2" align="center">
				 	<?php echo $this->lobjChronepushrevertForm->go;?>
				</td>
               </tr>
		</table>
	</form>	
</body>
</html>
