<head>
<script>
dojo.addOnLoad(function(){
	//dijit.byId('Venue').focus();
	//dijit.byId('Venue').set('value','');
  	//dijit.byId('Venuenew').set('placeHolder','');	
	});
	function validateform()
   {
	 var n = <?php echo count($this->paginator); ?>;
	 flgs = 0;	 
	 for(i=0;i<=n;i++)
	 {
	      var element = document.getElementById("idvenue"+i);
		  
	      if (element != null && element.value != '')
	     {
		   if(document.getElementById("idvenue"+i).checked) 
		   flgs	=	1;
		 }
	 }		
	 if( flgs == 0)
	 {
	    alert('Please Select Atleast one candidate');		
	     return false;
	 }
	 else
	 {
	   return true;
	 }
    } 
	function Closefn()
	{
		document.getElementById('contentdiv').innerHTML = "";
		document.getElementById('divLogin').style.display = 'none';
		document.getElementById('divLogin2').style.display = 'none';
		
	}
	function fngetalloteddetails(idcenter,edate,idsess,activestatus){
	
	 if(idcenter != "")
		{   
		    var xhrArgs = {
		    		url: "<?php echo $this->baseUrl();?>"+"/scheduler/venueexamdetails/getalloteddetails/idcenter/"+idcenter+"/edate/"+edate+"/idsess/"+idsess+"/active/"+activestatus,
					handleAs:'text',
					load:function(data){					
						document.getElementById('divLogin').style.display = 'block';						
						document.getElementById('divLogin2').style.display = 'block';
						document.getElementById('contentdiv').innerHTML = data;						
					}
			   }
			dojo.xhrGet(xhrArgs); 
		} 
}
function checkAll(){
 	nodes = dojo.query('[name=\"idvenue[]\"]');
 	if(document.getElementById('IDAppl').checked == true)
	{	
 		dojo.forEach(nodes,
 		function(node)
 		{
 		        dijit.getEnclosingWidget(node).set("checked",true);
 		}
 		);
 	}
 	else {	
 		dojo.forEach(nodes,
 			    function(node)
 			    {
 			        dijit.getEnclosingWidget(node).set("checked",false);
 			    }
 			);
 	     }
 }
</script>
</head>
<body class='claro'>
	<fieldset>
		<legend><?php  echo $this->translate("Venue").' '.$this->translate("Exam").' '.$this->translate("Details");?></legend>
         <form action="<?php echo $this->baseUrl();?>/scheduler/venueexamdetails/index/search/1"  method="POST" id="myform" name="myform">
            <script type="dojo/method" event="onSubmit">
                              if (this.validate()) {
					  return true;
                } else {
                    return false;
                }
				</script>
			<table width="100%">
                <tr>				
                    <td><?php echo $this->translate("Select").' '.$this->translate("Venue");?></td>
                    <td><?php echo $this->lobjvenueexamsform->Venue;?></td>
                </tr>
                <tr>
                    <td><?php echo $this->translate("Exam From Date");?></td>
                    <td><?php echo $this->lobjvenueexamsform->Fromdate;?></td>
                    <td><?php echo $this->translate("Exam To Date");?></td>
                    <td><?php echo $this->lobjvenueexamsform->Todate;?></td>
                </tr>
				<tr>
				    <td><?php echo $this->translate("Active");?></td>
					<td><?php echo $this->lobjvenueexamsform->Active;?></td>
				</tr>
                <tr>
	               <td align = "center" colspan = "4">
						<?php echo $this->lobjvenueexamsform->Search;?>
						<?php echo $this->lobjvenueexamsform->Clear;?>
				   </td>
                </tr>
            </table>
        </form>	
    </fieldset> 
    <br/>
	<form action="<?php echo $this->baseUrl();?>/scheduler/venueexamdetails/index/search/1"  method="POST" id="myform" name="myform">
    <?php if (count($this->paginator)): ?>
	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
	    	<tr>
			    <?php if($this->activestatus == 1){?>
			    <th><?php echo $this->translate->_("Inactive All");?>
               
				<?php } else {?>
				<th><?php echo $this->translate->_("Active All");?> 
				<?php } ?>
                <input type="checkbox" dojoType="dijit.form.CheckBox" name="IDAppl"  onClick="checkAll();" id="IDAppl"></th>
				<th><?php echo $this->translate("Day");?></th>
	        	<th><input type="hidden" name="fromdatess" id="fromdatess" value="<?php echo $this->fromdatess;?>"/><?php echo $this->translate("Examdate");?></th>
	       	    <th><input type="hidden" name="todatess" id="todatess" value="<?php echo $this->todatess;?>"/><?php echo $this->translate("Session");?></th>
	        	<th><input type="hidden" name="act" id="act" value="<?php echo $this->activestatus;?>"/><?php echo $this->translate("Total Capacity");?></th>
				<th><?php echo $this->translate("Alloted Seats");?></th>
				<th><?php echo $this->translate("Status");?></th>
	    	</tr>
     <?php  $cnnt = 0;count($this->paginator); foreach ($this->paginator as $lobjCountry ): $cnnt++;  ?>
     <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">	
	 <td><input type="checkbox" dojoType="dijit.form.CheckBox"  name="idvenue[]" id="idvenue<?php echo $cnnt;?>" value="<?php echo $lobjCountry['idvenuedateschedule']; ?>" checked="false" /></td>	 
	 <td>
	 <?php $centerarray = array();?>
	 <?php  if(!in_array($lobjCountry['date'],$centerarray))
         	{
				$centerarray[] = $lobjCountry['date'];		
				$centerarrays[$lobjCountry['date']] = array();?>
				<?php 
				print_r($this->escape($lobjCountry['dayname'])); 
				?>
				</td><td>
				<?php 
				print_r($this->escape($lobjCountry['date'])); 
			}?>
	</td>	
    <td>
	<?php if(!in_array($lobjCountry['managesessionname'],$centerarrays[$lobjCountry['date']])){
			$centerarrays[$lobjCountry['date']][] = $lobjCountry['managesessionname'];
			$centerarrayss[$lobjCountry['managesessionname']][] = array();
			print_r($this->escape($lobjCountry['managesessionname']));
	}?>
	</td>	
	<td><?php print_r($this->escape($lobjCountry['Totalcapacity']));?></td>
	<td><?php print_r($this->escape($lobjCountry['Allotedseats']));?></td><?php //if($lobjCountry['Allotedseats']>0){?>
      		  <!-- <span style="position: absolute;top:relative;" id="checks"></span>
      		   <a href="javascript:fngetalloteddetails('<?php //echo $lobjCountry['idcenter']?>','<?php //echo $lobjCountry['date'];?>',<?php //echo $lobjCountry['idmangesession']?>,<?php //echo $this->activestatus;?>);" style="color: #000000"><?php print_r($this->escape($lobjCountry['Allotedseats']));
      		    		  // }else{ //echo 0;}
      		    ?>
      		    </a>-->
	
	<?php if($lobjCountry['Reserveflag'] == 0 && $lobjCountry['Active'] == 0){?>
	<td><?php echo "Inactive";?></td>
	<?php }else{ ?>
	<td><?php echo "Active";?></td>
	<?php } ?>
    </tr>
	<?php endforeach; ?>
	 <tr><td colspan="5" align="right"><?php echo $this->lobjvenueexamsform->Save;?></td></tr>
     <?php endif; ?>
	</table>
</form>
<div runat="server" id="divLogin"  style="display:none; z-index: 153; position: fixed; left: 20%; width: 850px; top:5%">
  <div runat="server" id="divLogin2"  style="display:none; opacity:1.0; z-index: 150; position: relative; left: 0%; height: 100%; width: 100%; top: 0%;"> </div>
					                <div id="scroll" style="height: 600px; width: 100%; overflow:auto;">
					                        <table style="height: 125px; width: 100%; background-color: #FFFFFF;" border="3" frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">
					                                    	<div id="contentdiv"></div>					                                      
					                                   </td>
					                                </tr>
					                            </tbody>
					                        </table>
    							   </div>
</div>   
<br/>
</body>
</html>

