
 <fieldset>
    <legend><?php echo $this->translate("Candidates Application");?></legend>
                <Form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/general-setup/studentedit/editstudent/id/<?php echo $this->id;?>" method="post"  name= "myForm">
                    <table class="table" width="100%" >
                        <tr>
                            <th colspan = "2"><?php echo $this->translate("Candidates Details");?></th>
                        </tr>
                        <tr>
                            <td><?php echo $this->translate("Full Name");?></td>
                            <td><?php echo $this->FName;?><?php echo $this->UpdDate;?><?php echo $this->UpdUser;?></td>
                        </tr>                      
                        <tr>    
                            <td><?php echo $this->translate("Date of Birth");?></td>
                            <td><?php echo $this->DateOfBirth;?></td>
                            
                        </tr>    
                       <tr>     
                            <td ><?php echo $this->translate("Email");?></td>
                            <td ><?php echo $this->EmailAddress;?></td>
                        </tr>
                        <tr>
                           <td><?php echo $this->translate("Mailing Address");?></td>
                           <td ><?php echo $this->PermAddressDetails;?></td>
                       </tr>    
                        <tr>
                           <td><?php echo $this->translate("Address 2");?></td>
                           <td ><?php echo $this->CorrAddress;?></td>
                       </tr> 
                       <tr>
                           <td><?php echo $this->translate("Postal Code");?></td>
                           <td ><?php echo $this->PostalCode;?></td>
                       </tr> 
                        <tr>
                           <td><?php echo $this->translate("State");?></td>
                           <td ><?php echo $this->State;?></td>
                       </tr> 
                        </tr> 
                           <tr>
                           <td><?php echo $this->translate("Contact No");?></td>
                           <td ><?php echo $this->ContactNo;?></td>
                       </tr> 
                           <tr>
                           <td><?php echo $this->translate("Mobile No");?></td>
                           <td ><?php echo $this->MobileNo;?></td>
                       </tr> 
                        <tr>
                            <td><?php echo $this->translate("Race");?></td>
                            <td><?php echo $this->Race;?></td>
                        </tr>    
                        <tr>    
                            <td><?php echo $this->translate("Gender");?></td>
                            <td><?php echo $this->Gender;?></td>
                        </tr>
                        <tr>
                         <td><?php echo $this->translate("Takaful").' '.$this->translate("operator");?></td>
                          <td><?php echo $this->Takafuloperator;?></td>                            
                        </tr>
                        <tr>  
                         <td><?php echo $this->translate("Qualification")?></td>
                          <td><?php echo $this->Qualification;?></td>                            
                        </tr>
                         <tr>
                            <th colspan = "2"><?php echo $this->translate("Login to e-books using the following credentials");?></th>
                        </tr>
                          <tr>
                         <td><?php echo $this->translate("User").' '.$this->translate("Name");?><span class="reqMark"></span></td>
                          <td><?php echo $this->login;?></td>                            
                        </tr>
                        <tr>  
                         <td><?php echo $this->translate("Password")?></td>
                          <td><?php echo $this->password;?></td>                            
                        </tr>

                         <tr>
                            <th colspan="2"><?php echo $this->translate("Set Selection");?></th>
                        </tr>
                          <tr> 
                             <td style:"width=100px">Course</span></td>
                            <td><?php echo $this->programs;?></td>
                        </tr>
                          <tr> 
                             <td style:"width=100px">State</span></td>
                            <td><?php echo $this->StateNames;?></td>
                        </tr>
                          <tr> 
                             <td style:"width=100px">Venue</span></td>
                            <td><?php echo $this->centernames;?></td>
                        </tr>
                         <tr> 
                             <td style:"width=100px">Session</span></td>
                            <td><?php echo $this->managesession;?></td>
                        </tr>
                        <input type="hidden" name="studid" id="studid" value="<?php echo $this->idapplication;?>">
                        
                        <tr> 
                           
                          <input type="hidden" id="setactive" name="setactive" value="">
                           <input type="hidden" id="setdate" name="setdate" value="">
                            <input type="hidden" id="setmonth" name="setmonth" value="">
                        </tr>    
                             
                                           
                       <tr>                         
                                                
                            <td></td>        
                            <td align = "right">                            
							 <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo "Back";?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'general-setup','controller'=>'resendemails', 'action'=>'index'),'default',true);?>';" /><td>
  		            	
                            </td> 
                        </tr>
              </table>
            </Form>

</fieldset>
