<head>

<script type="text/javascript">
function getthestudents(ids)
{
	

	if(ids==1)
	{
		 document.getElementById('venuechange').style.display='none';
		document.getElementById('registration').style.display='';
	}
	else if(ids==2)
	{
		 document.getElementById('venuechange').style.display='';
			document.getElementById('registration').style.display='none';		
	}
	
}
</script>
<body onload="getthestudents(1);">
 <form action="<?php echo $this->baseUrl();?>/examination/resendemails/index" method="POST">
<fieldset>
	<legend><?php echo $this->translate("Student Details").' '.$this->translate("Search");?></legend>
                   
                            <table width="100%">
                                <tr>
                                    <td><?php echo $this->translate("Re-Send email for");?></td>
                                    <td><?php echo $this->lobjform->Emailtypes;?></td>
                                    <td><?php echo $this->translate("Registration Type");?></td>
                                    <td><?php echo $this->lobjform->Regtype;?></td>

                                </tr>
                                <tr>
                                    <td width="25%"><?php echo $this->translate("Student Name");?></td>
                                    <td width="25%"><?php echo $this->lobjform->FName;?></td>
                                    <td width="25%"><?php echo $this->translate("ICNO");?></td>
                                    <td width="25%"><?php echo $this->lobjform->ICNO;?></td>
                                </tr>
                                  <tr id="registration">
                                    <td ><?php echo $this->translate("Registration Date");?></td>
                                    <td ><?php echo $this->lobjform->Regdate;?></td>
                                    <td ><?php echo $this->translate("Exam Date");?></td>
                                    <td ><?php echo $this->lobjform->Examdate;?></td>
                                </tr>
                                    <tr id="venuechange">
                                    <td ><?php echo $this->translate("Change Requested Date");?></td>
                                    <td ><?php echo $this->lobjform->Changedate;?></td>
                                    <td ><?php echo $this->translate("Exam Date");?></td>
                                    <td ><?php echo $this->lobjform->Changeexamdate;?></td>
                                </tr>
                                <tr>
                                <td align = "center" colspan = "4">

											<?php echo $this->lobjform->Search;?>	
											<?php echo $this->lobjform->Clear;?>
								</td>
							    
                                </tr>
                        </table>
                 
    </fieldset> 
    <br/>
	<fieldset>
	
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
	    	<tr>
	        	<th><?php echo $this->translate("Candidate").' '.$this->translate("Name");?></th>
	        	<th><?php echo $this->translate($this->Course);?></th>
	        	<th><?php echo $this->translate("venue")?></th>
	        	<th><?php echo $this->translate("Exam date")?></th>
	        	<th><?php echo $this->translate("Applied date")?></th>
	    	</tr>
	        <?php if (count($this->paginator)): $cnnt = 0;  ?>
	        <?php foreach ($this->paginator as $lobjprogram): $cnnt++ ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	  		  <td><input type="checkbox" dojoType="dijit.form.CheckBox" name="IDApplication[]" value="<?php echo $this->escape($lobjprogram['IDApplication']);?>" id="IDApplication<?php echo $cnnt;?>">
	        	<?php print_r($this->escape($lobjprogram['FName']));?></td>
	        	<td><?php print_r($this->escape($lobjprogram['ProgramName']));?></td>
	        	<td><?php print_r($this->escape($lobjprogram['centername']));?></td>
	        	<td><?php echo date('d-m-Y',strtotime($lobjprogram['DateTime']));?></td>
  	<td><?php echo date('d-m-Y',strtotime($lobjprogram['Applieddate']));?></td>
	       	        	
	        	
	            <?php endforeach; ?>
	            <?php endif; ?> 
			</tr>
			<tr>
			<td colspan="5" align="right">
	        	<input type="submit" class="NormalBtn" dojotype="dijit.form.Button" id="sendemails" name="sendemails" value="sendemails" label="<?php echo $this->translate("Send Email");?>"/>
	        	</td>																   
   			</tr>
		</table>
		
	</fieldset></form>