<head>
<!-- ///////////////////////// DOJO ////////////////////////// -->
	<script type="text/javascript">
		dojo.addOnLoad(function(){
			//OnLoadAction();
			dijit.byId('Pin').setAttribute("required", false);
		});	
		
		
		
		function fngettakafulpins(takafulid)
		{
		   var xhrArgs = {
		   
				url: "<?php echo $this->baseUrl();?>"+"/reports/takaful/getallregpinsforbatch/idtakaful/"+takafulid,
				handleAs:'json',
				load:function(data){ 
						AutoFillNextEditableDropDown("Pin",data); 
						dijit.byId('Pin').setAttribute("required", false);
					}
		   }
		   dojo.xhrGet(xhrArgs);
		  
		}
		function AutoFillNextEditableDropDown(EditableDropDownId,JSONText)
		{
				dijit.byId(EditableDropDownId).setValue("");
				var ddwidget = dijit.byId(EditableDropDownId);
				ddwidget.setAttribute('disabled', false);
				var options = {
							label:"key",
							identifier:"name",
							items:JSONText
						  };
				ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
       }
	</script>  
</head>
<body class='claro'>

<div>
<fieldset>
	 <legend><?php echo $this->translate("Takaful").' '.$this->translate("Summary").' '.$this->translate("Report");?></legend>
	<div class="search" style="margin-left:20px;">
 		<form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/reports/takaful" method="POST">
 			<script type="dojo/method" event="onSubmit">
					if (this.validate())
					{
						if(dijit.byId("Takafulname").value == '')
						{
								alert("Please Select Takaful Operator");
								return false;
						}else{
							  return true;
							 }
					}
					else
					{
						return false;
					}
					</script>
		<table width="100%">
				
				
				
                <tr>
                    <td><?php echo $this->translate("Takaful Name").' '.$this->translate("*") ?></td>
                    <td><?php echo $this->lobjform->Takafulname;?></td>
					<td><?php echo $this->translate("Student").' '.$this->translate("Name") ?></td>
					<td><?php echo $this->lobjform->Studentname;?></td>
                </tr>
				<tr>
				    <td><?php echo $this->translate("Batch ID") ?></td>
					<td><?php echo $this->lobjform->Pin;?></td>					
					<td><?php echo $this->translate("IC NO") ?></td>
					<td><?php echo $this->lobjform->ICNO;?></td>
				</tr>
				<tr>
                    <td><?php echo $this->translate("Course").' '.$this->translate("Name") ?></td>
                    <td><?php echo $this->lobjform->Coursename;?></td>
                    <td><?php echo $this->translate("Venue") ?></td>
                    <td><?php echo $this->lobjform->Venues;?></td>
                </tr>
				<tr>
                    <td><?php echo $this->translate("Exam").' '.$this->translate("From").' '.$this->translate("Date") ?></td>
                    <td><?php echo $this->lobjform->Date;?></td>
                    <td><?php echo $this->translate("Exam").' '.$this->translate("To").' '.$this->translate("Date") ?></td>
                    <td><?php echo $this->lobjform->Date2;?></td>
                </tr>
				<tr>
                    <td><?php echo $this->translate("Applied").' '.$this->translate("From").' '.$this->translate("Date") ?></td>
                    <td><?php echo $this->lobjform->AFromDate;?></td>
                    <td><?php echo $this->translate("Applied").' '.$this->translate("To").' '.$this->translate("Date") ?></td>
                    <td><?php echo $this->lobjform->AToDate;?></td>
                </tr>
				<tr>
					<td colspan="4" align="center">
					<?php echo $this->lobjform->Search;?>
						<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Clear"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'reports','controller'=>'takaful', 'action'=>'index'),'default',true);?>';" />
					
					</td>
				</tr>
		</table>
	</form>	
		</div>
	</fieldset> 
	<form id="myForm1" name = "myform1" action="<?php echo $this->baseUrl();?>/reports/takaful/pdfexport" method="POST">
	
	<br/>
	 <?php $centerarray = array();  $attemptsarray=$this->attempts; ?>
	<table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr>
	    <th><?php echo $this->translate("Takaful Name") ?></th>
		<th><?php echo $this->translate("Batch Id") ?></th> 
        <th><?php echo $this->translate("Exam Date") ?></th> 		
        <th><?php echo $this->translate("Venue") ?></th>
		<th><?php echo $this->translate("Course") ?></th>        		
	    <th><?php echo $this->translate("Session") ?></th>
		<th><?php echo $this->translate("Student Name") ?></th>
        <th><?php echo $this->translate("ICNO") ?></th>
		<th><?php echo $this->translate("Applied") ?></th>
        <th><?php echo $this->translate("Result") ?></th>
          <th><?php echo $this->translate("Payment Status") ?></th>
    </tr>
		 <?php if (count($this->paginator)): ?>
        <?php $sum=0; foreach ($this->paginator as $lobjCountry ):  ?>
    <tr>
     <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>"> 
	 <td>
	 <?php  if(!in_array($lobjCountry['TakafulName'],$centerarray))
         	  {
				$centerarray[] = $lobjCountry['TakafulName'];		
				$centerarrays[$lobjCountry['TakafulName']] = array();
				print_r($this->escape($lobjCountry['TakafulName']));
				}?>
				
		
	</td>	
    <td>
			<?php if(!in_array($lobjCountry['registrationPin'],$centerarrays[$lobjCountry['TakafulName']])){
					$centerarrays[$lobjCountry['TakafulName']][] = $lobjCountry['registrationPin'];
					$centerarrayss[$lobjCountry['registrationPin']][] = array();
					 print_r($this->escape($lobjCountry['registrationPin']));
			}?>
	    </td> 
        <td>
			<?php if(!in_array($lobjCountry['DateTime'],$centerarrayss[$lobjCountry['registrationPin']])){
			       // $centerarrayss[$lobjCountry['registrationPin']][] = array();
					$centerarrayss[$lobjCountry['registrationPin']][] = $lobjCountry['DateTime'];
					$centerarraysss[$lobjCountry['DateTime']][] = array();
					
					 print_r($this->escape(date('d-m-Y',strtotime($lobjCountry['DateTime']))));
			}?>
	    </td>	
            <?php //if(!in_array($lobjCountry['ExamVenue'],$centerarraysss[$lobjCountry['DateTime']])){?>		
		<td> <?php if(!in_array($lobjCountry['ExamVenue'],$centerarrayss[$lobjCountry['registrationPin']])){ 
			
			        $centerarrayss[$lobjCountry['registrationPin']][]=$lobjCountry['ExamVenue'];
					$centerarraysss[$lobjCountry['DateTime']][] = $lobjCountry['ExamVenue'];
					$centerarrayssss[$lobjCountry['ExamVenue']][] = array();
					
					 print_r($this->escape($lobjCountry['ExamVenue']));
			}?>
	    </td> 
		<td>
			 <?php //if(!in_array($lobjCountry['ProgramName'],$centerarrayssss[$lobjCountry['ExamVenue']])){?>
			<?php if(!in_array($lobjCountry['ProgramName'],$centerarrayss[$lobjCountry['registrationPin']])){
			         $centerarrayss[$lobjCountry['registrationPin']][]=$lobjCountry['ProgramName'];
					$centerarrayssss[$lobjCountry['ExamVenue']][] = $lobjCountry['ProgramName'];
					$centerarraysssss[$lobjCountry['ProgramName']][] = array();
					 print_r($this->escape($lobjCountry['ProgramName']));
			}?>
	    </td> 
		 
		<td>
			<?php // if(!in_array($lobjCountry['managesessionname'],$centerarraysssss[$lobjCountry['ProgramName']])){?>
			<?php if(!in_array($lobjCountry['managesessionname'],$centerarrayss[$lobjCountry['registrationPin']])){
			         $centerarrayss[$lobjCountry['registrationPin']][]=$lobjCountry['managesessionname'];
					$centerarraysssss[$lobjCountry['ProgramName']][] = $lobjCountry['ProgramName'];
					$centerarrayssssss[$lobjCountry['managesessionname']][] = array();
					 print_r($this->escape($lobjCountry['managesessionname']));
			}?>
	    </td> 
		
		
		
	       <?php  // print_r($this->escape($lobjCountry['DateTime']));?>
		   <?php  // print_r($this->escape($lobjCountry['centername']));?>
		   <?php   //print_r($this->escape($lobjCountry['managesessionname']));?>
		 <td>  <?php   print_r($this->escape($lobjCountry['FName']));?></td>
           <td><?php   print_r($this->escape($lobjCountry['ICNO']));?></td> 
		    <td><?php   print_r($this->escape($lobjCountry['upddate']));?></td> 
		   
		   
		   <td ><?php   print_r($this->escape($lobjCountry['Result']));  ?></td> 
		   <?php if($lobjCountry['paymentStatus'] == 2){?>
		   <td colspan='2'><?php  echo "Registration Completed";?></td>
          <?php }if($lobjCountry['paymentStatus'] == 1){?>
		   <td><?php   echo "Partially Filled";?></td>			   
		   	<?php }?>			
	     </td>
     </tr>       
	<?php endforeach; ?>
     
	 <tr>
	  <td colspan="8" align="right"><b>TOTAL :<?php echo count($this->paginator);?> 
	     <input type="hidden"  name="takafulname" value="<?php  echo $this->Takaful; ?>" id="takafulname"></b>
	     <input type="hidden"  name="student" value="<?php   echo $this->Student ?>" id="student">
		 <input type="hidden"  name="takafulpin" value="<?php  echo $this->Regpin; ?>" id="takafulpin">
	     <input type="hidden"  name="icno" value="<?php  echo $this->Icno; ?>" id="icno">
		 <input type="hidden"  name="course" value="<?php  echo $this->Course; ?>" id="course"></b>
	     <input type="hidden"  name="venue" value="<?php  echo $this->Venue; ?>" id="venue">
		 
	     <input type="hidden"  name="fromdate" value="<?php  echo $this->ExamFromdate; ?>" id="fromdate"></b>
	     <input type="hidden"  name="todate" value="<?php  echo $this->ExamTodate; ?>" id="todate">
	     <input type="hidden"  name="Afromdate" value="<?php  echo $this->AppliedFromdate; ?>" id="Afromdate">
		 <input type="hidden"  name="Atodate" value="<?php  echo $this->AppliedTodate; ?>" id="Atodate">
		
	    
		 	    
	  </td>
	   
       <td  colspan="3" >
	 <input name="excel" id="excel" type="submit" dojoType=dijit.form.Button style= "Width=900px" label="<?php echo $this->translate("Export To Excel"); ?>" value=<?php echo $this->translate("Excel");?> >
	 <input name="pdf" id="pdf" type="submit" dojoType=dijit.form.Button style= "Width=900px" label="<?php echo $this->translate("Print PDF"); ?>" value=<?php echo $this->translate("Print PDF");?> >
    </td></tr>
	<?php endif; ?>
	 </form>
	 </table>
</div>
</br>
</body>
</html>
