<html>
<script type ="text/javascript">    
	          
function function1()
{
	var fdate = document.getElementById('fromdate').value;
	var tdate = document.getElementById('todate').value;
	if ( fdate != '')
	{   
        var xhrArgs = {
                url:"<?php echo $this->baseUrl();?>"+"/examination/examschedule/newfnnewcaleshow/fromdate/"+fdate+"/todate/"+tdate,
        		handleAs:'text',
				load:function(data)
				    { 
					 document.getElementById('calender').innerHTML = data;
					}
                   }
		dojo.xhrGet(xhrArgs); 
} 
}

</script>

</head>
<body class="claro">
	<fieldset>
	<legend><?php echo "Examschedule";?></legend>
        <form action="<?php echo $this->baseUrl();?>/examination/examschedule/index/search/1" method="POST" dojoType="dijit.form.Form"  id="myForm"  name= "myForm">
            <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					  return true;
                } else {
                    return false;
                }
				</script>
      <table width="100%">
      			<tr>
                   <td><?php  echo "Exam Venue";?><span>*</span></td>
                   <td><?php echo $this->lobjExamscheduleform->field5;?></td>  
                   <td><?php  echo "Program";?></td>
                   <td><?php  echo $this->lobjExamscheduleform->field1;?></td>                  
                </tr> 
                <tr>
                   <td><?php echo "Exam From Date";?></td>
                   <td ><?php echo $this->lobjExamscheduleform->fromdate;?></td>  
                   <td><?php  echo "Exam To Date";?></td>
                   <td><?php echo $this->lobjExamscheduleform->todate;?>
                   <input type="button" dojotype="dijit.form.Button" label="<?php echo $this->translate("Display Calender"); ?>"  style="width:250px;" onclick="function1();"/>	</td> 
                    
                </tr>   
       </table>
      </form>
       </fieldset>
       <br>
       
       <table>
             <tr>
                <td align="center" colspan="2">
                <div align="center "id="calender">   </div>  
                </td>                    
             </tr>                              
       </table>
       
</body>
</html>























