<html>
<head>
<script>
dojo.addOnLoad(function()
		       {
	           }
	          );
</script>
</head>
<body class="claro">
	<fieldset>
	<legend><?php echo "Details Search";?></legend>
        <form dojoType="dijit.form.Form" id="myForm" name="myForm" action="<?php echo $this->baseUrl();?>/reports/pullpushdata" method="POST">
            <table width="100%">
                <tr>
                   <td><?php echo "Exam Date";?></td>
                   <td><?php echo $this->lobjform->ExamDate;?></td>                   
                   <td><?php echo "Exam Centre";?></td>
                   <td><?php echo $this->lobjform->Centre;?></td>                  
                </tr>   
                 <tr>
                <td colspan = "4" align = "center"><?php echo $this->lobjform->Search;?>
					<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo "Clear"; ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'reports','controller'=>'pullpushdata', 'action'=>'index'),'default',true);?>';" />	
				</td>
               </tr>
            </table>
          </form>	               	
    </fieldset>
    <br>
    <fieldset>
    <table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr>
        <th><?php echo $this->translate("Exam Centre")?></th>
        <th><?php echo $this->translate("Total Registered")?></th>
        <th><?php echo $this->translate("To local Server")?></th>
        <th><?php echo $this->translate("From local Server")?></th>
    </tr>
        <?php //if (count($this->paginator)): ?>
        <?php //foreach ($this->paginator as $lobjCountry ): ?>
    <tr>
    <tr style="background-color:<?php //echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
      <td><a href="<?php //echo $this->url(array('module'=>'general-setup','controller'=>'businesstype', 'action'=>'edit' ,'id'=>$lobjCountry['idbusinesstype']),'default',true);?>" ><?php //print_r($this->escape($lobjCountry['BusinessType']));?></a></td> 
      <td><?php //print_r($this->escape($lobjCountry['Description']));?></a></td>     
     <?php //endforeach; ?>
     <?php //endif; ?>
    </tr>
    <tr>
	    <td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   	</tr>
</table>
</fieldset>     
<br/>
</body>
</html>























