<head>
</head>
<body class="claro">            
	<fieldset>
	<legend><?php echo $this->translate->_("Add New Security Question");?></legend>
		 <form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">
			<script type="dojo/method" event="onSubmit" >
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>						
	    	   <table class="table" width="100%" >
                	   <tr>
                            <th colspan = "2"><?php echo $this->translate->_("Security Questions");?></th>
                        </tr>	
                        <tr>         							     			    	
        		</tr>	
	    		<tr>         							
         			<td class="label"><?php echo $this->translate->_("Security Question")?><span class="reqMark">*</span></td>
        			<td><?php echo $this->lobjSecurityquestionForm->SecurityQuestions?></td>
        					        	        			
        		</tr>	
        		<tr>       		       
        			 <td class="label"><?php echo $this->translate->_("Active")?></td>
        			<td><?php echo $this->lobjSecurityquestionForm->Active?></td>	
        			
		      	 <tr>
                                  
                            <td colspan=2 align = "right"><?php echo $this->lobjSecurityquestionForm->Save;?>
							<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'general-setup','controller'=>'Securityquestion', 'action'=>'index'),'default',true);?>';" />	
                            </td> 
                        </tr>       
            </table>
		
		</form>
	</fieldset>
</body>
</html>
     