<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">


<style><!--
	table.calendar    { 
		border-left:1px solid #999; 
	}
	td.calendar-day-head { 
		background:#808080; 
		font-weight:bold; 
		text-align:center; 
		height:20px; 
		width:50px; 
		color : #FFFFFF;
		padding:1px; 
		border-bottom:1px solid #999; 
		border-top:1px solid #999; 
		border-right:1px solid #999; 
	}
	div.day-number   { 
		background:#999; 
		position:absolute; 
		z-index:2; 
		top:-15px; 
		right:-25px; 
		padding:6px; 
		color:#fff; 
		font-weight:bold; 
		width:10px; 
		text-align:center; 
	}
	td.calendar-day, td.calendar-day-np { 
		padding:4px 5px 4px 4px; 

	}
-->
</style>

<head>
<link href="<?php  echo $this->baseUrl();?>/css/calendar.css" rel="stylesheet" type="text/css" />   
<script type="text/javascript">
dojo.addOnLoad(function() {
	venue=year = dijit.byId("newexamcity");
	fndisplaycalender(venue);
});




function fndisplaycalender(city)
{
	//alert(city);
	
	var year = dijit.byId("year");

	if(city == '')
	{
		document.getElementById('calender').innerHTML="";
	}
	
	if(year>0 && city>0)
	{
	var Program = '<?php echo $this->idprograms;?>';


	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/examination/exambulkdatechange/newfnnewcaleshow/Program/"+Program+"/NewCity/"+city+"/year/"+year,
			handleAs:'text',
			load:function(data){ 
				//alert(data);
				document.getElementById('calender').innerHTML = "<style>Instruction: Click on date to view details and proceed </style><br>"+data;
				//showcalender()
			}
	   }
	dojo.xhrGet(xhrArgs);

	var xhrArgs = {
 			url: "<?php echo $this->baseUrl();?>"+"/examination/exambulkdatechange/newfngetyearofsession/Year/"+year+"/Program/"+Program+"/NewCity/"+city,
 			handleAs:'text',
 			load:function(data)
 			{ 
	 			if(data==1)
	 			{
	 				document.getElementById('sessiondays').innerHTML = '<table><tr><td> <B>1 SESSION :</B></td><td><div style="background-color:green;width:50px;height:20px;align:right;"></div></td></tr></table>'; 
	 			}
	       if(data==2)
	 			{
	    	   document.getElementById('sessiondays').innerHTML = '<table><tr><td> <B>1 SESSION :</B></td><td><div style="background-color:green;width:50px;height:20px;"></div></td><td>  <B>2 SESSIONS :</B> </td><td> <div style="background-color:skyblue;width:50px;height:20px;"></div></td></tr></table>'; 	
	 			}
	 		if(data==3)
	 			{
	 			document.getElementById('sessiondays').innerHTML = ' <table><tr><td> <B>1 SESSION :</B></td><td><div style="background-color:green;width:50px;height:20px;"></div></td><td>  <B>2 SESSIONS :</B> </td><td> <div style="background-color:skyblue;width:50px;height:20px;"></div></td><td><B>3 SESSIONS :</B></td><td> <div style="background-color:violet;width:50px;height:20px;"></div></td></tr></table>';
	 			}
	 		 if(data==4)
	 			{
		 			document.getElementById('sessiondays').innerHTML = '<table><tr><td>  <B>1 SESSION :</B></td><td><div style="background-color:green;width:50px;height:20px;"></div> </td><td> <B>2 SESSIONS :</B></td><td> <div style="background-color:skyblue;width:50px;height:20px;"></div></td><td><B>3 SESSIONS :</B> </td><td> <div style="background-color:violet;width:50px;height:20px;"></div></td><td><B>4 SESSIONS :</B> </td><td><div style="background-color:pink;width:50px;height:20px;"></div></td></tr></table>';
	 			}
	 		
 			//alert(data);
 			//document.getElementById('sessiondays').innerHTML = data; 
 			}
 	   }
 	dojo.xhrGet(xhrArgs);

	document.getElementById('calender').style.display = 'none'; 
	document.getElementById('sessiondays').style.display = 'none'; 
	


	}
	
}

function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}



function fnnewshowcalender()
{	
	//initLytebox();
	
	var Year = dijit.byId("year");
	if(Year=='')
	{
		alert('Please Select the Year');
	}
	var NewVenue = dijit.byId("newexamcity");
	if(NewVenue=='')
	{
		alert('Please Select the Venue');
	}

/*
	 var	flagss=true;
		
		if(dijit.byId("NewVenue").value==''){
		    dijit.byId("NewVenue").attr('required','true');
			dijit.byId("NewVenue").focus();
			flagss = false;
		}
	
		if(dijit.byId("Year").value==''){
		    dijit.byId("Year").attr('required','true');
			dijit.byId("Year").focus();
			flagss = false;
		}
		if(dijit.byId("Program").value==''){
		    dijit.byId("Program").attr('required','true');
			dijit.byId("Program").focus();
			flagss = false;
		}*/

		
	document.getElementById('calender').style.display = 'block'; 
	document.getElementById('sessiondays').style.display = 'block'; 
	
}

function Closefn()
{
	document.getElementById('divLogin').style.display = 'none';
	document.getElementById('divLogin2').style.display = 'none';
}

function functp(day,month)
{
	var city = dijit.byId("newexamcity");
	var year = dijit.byId("year");
	document.getElementById('setdate').value = day;
	document.getElementById('setmonth').value = month;
	var xhrArgs = {
		url: "<?php echo $this->baseUrl();?>"+"/examination/exambulkdatechange/newtempdays/day/"+day+"/month/"+month+"/year/"+year+"/city/"+city,
		handleAs:'text',
		load:function(data){ 
		if(eval(data)!=0) {
			
			var xhrArgs = {
		 			url: "<?php echo $this->baseUrl();?>"+"/examination/exambulkdatechange/selectvenue/day/"+day+"/month/"+month+"/year/"+year+"/city/"+city,
		 			handleAs:'text',
		 			load:function(data)
		 			{ 
		 				document.getElementById('contentdiv').innerHTML = data;
		 				document.getElementById('divLogin').style.display = 'block';
		 				document.getElementById('divLogin2').style.display = 'block';
			           
		 			}
		 	   }
			dojo.xhrGet(xhrArgs);
			
		} 
		else 
			{
			alert("The Seats are full for this date In this Exam Venue ,Please Change Date Or Venue")
			document.getElementById('setdate').value ='';
			document.getElementById('setmonth').value = '';
			document.getElementById(x).style.backgroundColor = '#FEFFBF';
			}
		}
	}
	dojo.xhrGet(xhrArgs);
	
}


function fngetstatelist(venue)
{
	
	var Program = '<?php echo $this->idprograms;?>';
	//alert(Program);
	var year = dijit.byId("year").value;

	if(Program!='' && year!='')
	{
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/examination/exambulkdatechange/newfngetcitynames/Program/"+Program+"/year/"+year,
			handleAs:'json',
			load:function(data){ 
			
				AutoFillNextEditableDropDown("newexamcity",data); 
				
			}
	   }
	dojo.xhrGet(xhrArgs);
	}
	
	
	
}



function fnhidebtn()
{
	document.getElementById('btnsave').style.display='none';
}

</script> 
</head>
<body>


          
				<Form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">
				 <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
                       fnhidebtn();
					return true;
                } else {
                    return false;
                }
				</script>
				<table width="100%" class="table">
				<input type="hidden" id="IDApplication" name='IDApplication' value="<?php echo $this->idapplicationvalues;?>">
				      <tr>
                         <th colspan = "2"><?php echo $this->translate('Candidate changed Details')?></th>
                     </tr>
                   
                  <tr>
                  
			                 <td><?php echo $this->translate("Year");?></td>
			               <td><?php echo $this->lobjnewscreenForm->year;?></td>
			             
		             </tr>
		   
		              <tr>
			                 <td><?php echo $this->translate("New Exam Venue");?></td>
			               <td><?php echo $this->lobjnewscreenForm->newexamcity;?></td>
			                <input type="hidden" id="setdate" name="setdate" value="">
                            <input type="hidden" id="setmonth" name="setmonth" value="">
			             
		             </tr>
		             
		             
		            <tr>
                          <td>Search for the Exam Dates</td>
                             <td>:&nbsp;&nbsp;<input type="button" dojotype="dijit.form.Button" label="<?php echo $this->translate("Search for examdate"); ?>"  style="width:250px;" onclick="fnnewshowcalender();"/>	</td> 
                        </tr>
			            <tr >
			            	<td></td>
			                 <td ><div id="sessiondays" width="100%"></div></td>
			             
			             
		             </tr>
		            
		                
			                 <tr>
			                
                             <td colspan="2">
                             
                                   
                             <div align="left "id="calender" >  
                             </div>         
                              </td>              
                          </tr>  
                          <input type="hidden" id="newexamdates" name='newexamdates' value="">
                         
		         <input type="hidden" name="hiddenscheduler" id="hiddenscheduler" value="">
		             <tr>
		                            
		                   <td  colspan="2" align="right">
		                   <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo "Back";?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'examination','controller'=>'exambulkdatechange', 'action'=>'index'),'default',true);?>';" /><td>
  		            
  		              </tr> 
				</table>
					<div runat="server" id="divLogin"  style="display:none; z-index: 153; position: absolute; left: 30%; width: 650px; top: 15%;">
					                <asp:Panel runat="server" ID="popupLogin">
					                    <asp:Panel runat="server" ID="popupContent1">
					                        <table style="height: 125px; width: 100%; background-color: #FFFFFF;" border="3"   frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">
					                                    	<div id="contentdiv"></div>
					                                      
					                                   </td>
					                                </tr>
					                                <tr>
					                                    <td colspan="2" align="left">
					                                        <asp:Label ID="lblmandatory" runat="server" Text="* Mandatory Information Required"
					                                            class="LeftLabelStyle" Width="350px" />
					                                    </td>
					                                </tr>
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
					            </div>
	<div runat="server" id="divLogin2"  style="display:none; opacity:0.4; z-index: 150; position: absolute; left: 0%; height: 100%; width: 100%; top: 0%;">
					                <asp:Panel >
					                    <asp:Panel  >
					                        <table style="height: 100%; width: 100%; background-color: #000000;" border="3"   frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">
					                                    	
					                                      
					                                   </td>
					                                </tr>
					                               
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
					            </div>
					                                </tr>
					                               
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
</div>	
				</Form> 
</fieldset>
</body>
</html>