<html>
<head>
<script type="text/javascript">

function newvenuelists(iddate)
{
	   iddate=dijit.byId("Date");
	   idprog=dijit.byId("Coursename");
	   if( idprog!='' && iddate!='' )
	   {
   
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/examination/exambulkdatechange/newvenuelistsnames/iddate/"+iddate+"/idprog/"+idprog,
			handleAs:'json',
			load:function(data){ 
				if(data==null || data=='')
				{
    				alert("There is no scheduler for this date Please change the Date");
    				dijit.byId("Newprgdate").set('value',null);
    				dijit.byId("newexamcity").setValue('');
    				//fnemptyvenue();
    				flag=1;
				}
				else
				{
        		AutoFillNextEditableDropDown("Venues",data);      
				} 
			
			}
	   }
	dojo.xhrGet(xhrArgs);




	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/examination/exambulkdatechange/newsessionlistsnames/iddate/"+iddate+"/idprog/"+idprog,
			handleAs:'json',
			load:function(data){ 
				if(data==null || data=='')
				{
					if(flag!=1)
					{
    				alert("There is no scheduler for this date Please change the Date");
    				dijit.byId("Newprgdate").set('value',null);
    				dijit.byId("newexamcity").setValue('');
					}
				}
				else
				{
					AutoFillNextEditableDropDown("newvenues",data);
	
					} 
			
			}
	   }
	dojo.xhrGet(xhrArgs);

    	

			
}
}

function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}


function checkAll(){
 	nodes = dojo.query('[name=\"IDApplication[]\"]');
 	if(document.getElementById('IDApplications').checked == true) {		 
 		
 		dojo.forEach(nodes,
 		    function(node)
 		    {
 		        dijit.getEnclosingWidget(node).set("checked",true);
 		    }
 		);
 	}
 	else {	
 		dojo.forEach(nodes,
 			    function(node)
 			    {
 			        dijit.getEnclosingWidget(node).set("checked",false);
 			    }
 			);
 	}
 }

function validateform(){
	var flgs=0;
	<?php if($this->countcomp){?>
	 var n = <?php echo $this->countcomp;?>;
	 flgs = 0;	 
	 for(i=0;i<n;i++){
		if(document.getElementById("IDApplication"+i).checked) 
			flgs	=	1;
	 }	
	 <?php }?>	
	 if( flgs == 0){
	    alert('Please Select Atleast One Student');		
	     return false;
	 }
	 else{
	   return true;
	 }
} 

function fnvalidate(idapp,id)
{
	alert(idapp);
	status=dijit.byId(id).checked;
	alert(status);
	Program=dijit.byId("Coursename");
	//alert(Program);
	if(status==true)
	{
		var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/examination/exambulkdatechange/validatestudenticno/Program/"+Program+"/idapp/"+idapp,
				handleAs:'json',
				load:function(data){ 
				
					AutoFillNextEditableDropDown("newexamcity",data); 
					
				}
		   }
		dojo.xhrGet(xhrArgs);
	}
}

</script> 

</head>
<body class='claro'>
<fieldset>
	<legend><?php echo $this->translate("Exam Center/Exam Date Change");?></legend>
 		<form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/examination/exambulkdatechange/index/search/1" method="POST">
 			<script type="dojo/method" event="onSubmit">
                if (this.validate()) {
		return true;
                } else {
                    return false;
                }
			</script>
		<table width="100%" >
		
	
				
				<tr>
                    <td><?php echo $this->translate("Course").' '.$this->translate("Name") ?></td>
                    <td><?php echo $this->lobjform->Coursename;?></td>
                  
                       <td><?php echo $this->translate("Exam").' '.$this->translate("Date") ?></td>
                    <td><?php echo $this->lobjform->Date;?></td>
               
                </tr>
                <tr>
         <td><?php echo $this->translate("Exam Venue") ?></td>
                    <td><?php echo $this->lobjform->Venues;?></td>
                                <td><?php echo $this->translate("Exam Session") ?></td>
                    <td><?php echo $this->lobjform->newvenues;?></td>
                 
                </tr>
                
                   <tr>
                  
                 
                </tr>
               <!-- <tr>
                   <td><?php //echo $this->translate("Payment") ?></td>
                  <td><?php //echo $this->lobjform->Payment;?></td>
                  <td><?php //echo $this->translate("Admin Approval") ?></td>
                  <td><?php //echo $this->lobjform->approval;?></td>
                </tr>-->
				 <tr>
				 <td colspan="4" align="center">
				 	<?php echo $this->lobjform->Search;?>
				 	<?php echo $this->lobjform->Clear;?>
				</td>
               </tr>
		</table>
	</form>	
	</fieldset> 
	<br>
	<?php if($this->larrresult):?>
	<fieldset>
	<form dojoType="dijit.form.Form"  id="myForm2" action="<?php echo $this->baseUrl();?>/examination/exambulkdatechange/editstudentinfo" method="POST">
 			<script type="dojo/method" event="onSubmit">
                if (this.validate()) {

	return true;
                } else {
                    return false;
                }
			</script>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
	    	<tr>
	    
  <th><input type="checkbox" dojoType="dijit.form.CheckBox" name="IDApplications" onClick="checkAll();" id="IDApplications"></th>
	    	     <th><?php echo $this->translate("Candidate").' '.$this->translate("Name");?></th>
	    	     <th><?php echo $this->translate("Exam Date");?></th>
	    	     <th><?php echo $this->translate("Course").' '.$this->translate("Name");?></th>
	    	     <th><?php echo $this->translate("Exam Venue");?></th>
	    	     <th><?php echo $this->translate("Exam").' '.$this->translate("Session");?></th>
	    	</tr>
	       
   			     <?php if (count($this->paginator)): $cnnt=0;?>
	        <?php foreach ($this->paginator as $lobjprogram): ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	  		<td><input type="checkbox" dojoType="dijit.form.CheckBox" name="IDApplication[]" value="<?php echo $this->escape($lobjprogram['IDApplication']);?>" id="IDApplication<?php echo $cnnt;?>"  onclick=fnvalidate('<?php echo $this->escape($lobjprogram['IDApplication']);?>',"IDApplication<?php echo $cnnt;?>");></td>
	        	<td><?php print_r($this->escape($lobjprogram['FName']));?></td>
	        	<td><?php echo date('d-m-Y',strtotime($lobjprogram['DateTime']));?></td>
	        	<td><?php print_r($this->escape($lobjprogram['ProgramName']));?></td>
	        	  				
	        		<td><?php print_r($this->escape($lobjprogram['centername']));?></td>
	        			<td><?php print_r($this->escape($lobjprogram['managesessionname']));?></td>
	      
	            <?php $cnnt++; endforeach; ?>
	            
	            <?php endif; ?> 
			</tr>
<tr>
<td colspan="6" align="right"> <?php echo $this->lobjform->Change;?> </td>
</tr>
		</table>
		</form>
	</fieldset>
	<?php endif;?>
	<?php if (empty($this->larrresult ) && ($this->paramsearch == 1)): ?>
	<fieldset>
	        <table>
			  <tr>
	        	<td colspan="8" align="right"><div class="pagination">Unable to find the Candidates with Search You have provided Please Check If the Candidate Completed the payment OR Candidates have the exam today  </div></td>
   			  </tr>
   			</table>
   			</fieldset>
			<?php endif; ?>
</body>
</html>
