<head>

<script type="text/javascript">
	dojo.addOnLoad(function() {
		
	});
</script> 
</head>

       <form action="<?php echo $this->baseUrl();?>/documentdownload/downloadzip" method="POST"  name= "myform"  dojoType="dijit.form.Form"  enctype="multipart/form-data">
       <script type="dojo/method" event="onSubmit">
            if (this.validate())
            {
				return true;
            }
            else
            {
                 return false;
            }
		</script>
			<fieldset>
				<table class="table" width="100%" align="center">
					<tr>
						<th colspan="3"><?php echo $this->translate("Documents(files)");?></th>
					</tr>
					<tr>
						<td><input type="Checkbox" dojoType="dijit.form.CheckBox" id="Photo" name="Photo" value='1'/><?php echo $this->translate("Passport Size Photo");?></td>
						<td><input type="Checkbox" dojoType="dijit.form.CheckBox" id="Address" name="Address" value='1'/><?php echo $this->translate("Documents For Address");?></td>
						<td><input type="Checkbox" dojoType="dijit.form.CheckBox" id="Passport" name="Passport" value='1'/><?php echo $this->translate("Documents For Passport");?></td>
					</tr>
				</table>
				<table class="table" width="100%" align="center">
					<tr>
						<th><?php echo $this->translate("Idapplication");?></th>
						<th><?php echo $this->translate("Photo");?></th>
						<th><?php echo $this->translate("Address proof");?></th>
						<th><?php echo $this->translate("Passport Document");?></th>
						<th>
								<?php echo $this->translate("Click Button To Download Documents");?>
						</th>
						
					</tr>
					<?php  $lararrdata = $this->lararrdata; 
					      for ($i=0;$i<count($lararrdata);$i++){ ?>
						<tr>
							<td><?php echo $lararrdata[$i]['idapplication']; ?></td>
							<td><?php echo $lararrdata[$i]['Photo']; ?></td>
							<td><?php echo $lararrdata[$i]['Address']; ?></td>
							<td><?php echo $lararrdata[$i]['passport']; ?></td>
							<td>
									<input type="submit" class="NormalBtn" name="idapp[]" value = "<?php echo $lararrdata[$i]['idapplication'];?>" id="idapp<?php echo $lararrdata[$i]['idapplication']; ?>" dojotype="dijit.form.Button"  label="<?php echo $this->translate("Download"); ?>"    />
							</td>
						</tr>
					 <?php } ?>
				</table>
			</fieldset>
            </Form>


