<head>
<script>

dojo.addOnLoad(function(){
	dijit.byId('Takcompnames').focus();	
	 dijit.byId('BatchIds').setAttribute("required", false);

});
function fngetpin()
{
			//dijit.byId('BatchIds').setValue("");
			var compflag = dijit.byId('Takcomp');
	         var idcomp = dijit.byId('Takcompnames');	
	         if(idcomp!='')
	         {
		     var xhrArgs = 
			 {
		   
				url: "<?php echo $this->baseUrl();?>"+"/registrations/bulkinvoicegeneration/getallregpinsforbatch/compflag/"+compflag+"/idcomp/"+idcomp,
				handleAs:'json',
				load:function(data)
				{ 
						AutoFillNextEditableDropDown("BatchIds",data); 
						dijit.byId('BatchIds').setAttribute("required", false);
	
				}
		     }
		   dojo.xhrGet(xhrArgs);
		}
}
function fnGetOperatorNames()
{
	optype=dijit.byId('Takcomp').value;
	namestring=document.getElementById("Takcompnames").value;
    if(optype=="")
	{
        alert("Please Select Operator Type");
        return false;
    }
	if(namestring!="")
	{
			var xhrArgs = 
			{
					url: "<?php echo $this->baseUrl();?>"+"/registrations/bulkinvoicegeneration/getoperatornames/opType/"+optype+"/namestring/"+namestring,
					handleAs:'text',
					load:function(data)
					{ 
						//AutoFillNextEditableDropDown("opnames",data);
						document.getElementById("opnames").innerHTML=data;
					}
			}
			dojo.xhrGet(xhrArgs);
	}
}

function fntakcompnames()
{
	    var idname = dijit.byId('Takcomp');
	    var xhrArgs = 
		{
				url: "<?php echo $this->baseUrl();?>"+"/registrations/bulkinvoicegeneration/fnajaxgettakcompnames/idname/"+idname,
				handleAs:'json',
				load:function(data)
				{ 
					AutoFillNextEditableDropDown("Takcompnames",data);


				}
		}
		dojo.xhrGet(xhrArgs);
}
function fnsetvalue(opname)
{
	document.getElementById("Takcompnames").value=opname;
	document.getElementById("opnames").innerHTML="";
}

function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}


var rowid = 1;
function addcompanyDetails()
{
				var flag = true;
				
				var Takcomp = dijit.byId("Takcomp");
				var Takcompname = dijit.byId("Takcomp").displayedValue;				
				
				var Takcompnames = dijit.byId("Takcompnames");
				var Takcompnamesname = dijit.byId("Takcompnames").displayedValue;				
				
				var BatchIds = dijit.byId("BatchIds");
				var BatchIdsname = dijit.byId("BatchIds").displayedValue;				
				

                                if(Takcompname == "Select")
				{
					alert('Please Select the Type of Operator');
					return flag = false;
				}
				
				
				if(Takcompnamesname == ""){
					alert('Please Enter Name Of Company/Takaful');
					return flag = false;
				}
				
				if(BatchIdsname == ""){
					alert('Please Select the Batch ID');
					return flag = false;
				}
				dijit.byId("Takcomp").setAttribute('readOnly',true);
				dijit.byId("Takcompnames").setAttribute('readOnly',true);
				
				if(flag == true) {
					var xhrArgs = 
					{
					
							url: "<?php echo $this->baseUrl();?>"+"/registrations/bulkinvoicegeneration/confirmregistereddetails/Batchid/"+BatchIdsname+"/Flag/"+Takcomp,
							handleAs:'text',
							load:function(data)
							{ 
							
									if(data == 0)
									{
										alert("There is no candidates for this batch Id");
									}
									else
									{
									     companydetailsInsert();	
									}
								//AutoFillNextEditableDropDown("Takcompnames",data);
							}
					}
				dojo.xhrGet(xhrArgs);
				}			
				return flag;
}
var companyArray  = new Array();				
function companydetailsInsert() 
{				
				var Takcomp = dijit.byId("Takcomp");
				var Takcompname = dijit.byId("Takcomp").displayedValue;				
				
				var Takcompnames = dijit.byId("Takcompnames");
				var Takcompnamesname = dijit.byId("Takcompnames").displayedValue;				
				
				var BatchIds = dijit.byId("BatchIds");
				var BatchIdsname = dijit.byId("BatchIds").displayedValue;
				
				companyArray.push(BatchIdsname);				
				if(arrHasDupes(companyArray))
				{
					companyArray = companyArray.unique();					
					alert("This Type of Batch ID  already Exist");
				} 
				else
				{
					var trow=document.getElementById('hor').insertRow(rowid);
					var tcol1=trow.insertCell(0);
					var tcol2=trow.insertCell(1);
					var tcol3=trow.insertCell(2);
					var tcol4=trow.insertCell(3);
					tcol1.innerHTML="<input type='hidden' id = 'Takcomp' value='"+Takcomp+"' name=Takcompname[]>"+Takcompname;	
					tcol2.innerHTML="<input type='hidden' id = 'Takcompnames' value='"+Takcompnames+"' name=Takcompnamesname[]>"+Takcompnamesname;	
					tcol3.innerHTML="<input type='hidden' id = 'BatchIds' value='"+BatchIds+"' name=BatchIdsname[]>"+BatchIdsname;	
					tcol4.innerHTML="<a href='#' onClick='deleteRow(this); return false;'><img src='<?php echo $this->baseUrl();?>/images/delete.png'  border=0 width='16' height='16'></a>";
					rowid++;					
				}
}
function deleteRow(r)
{
				rowid--;
				var i=r.parentNode.parentNode.rowIndex;
				companyArray.splice(parseInt(i-1),1);
				document.getElementById('hor').deleteRow(i);
}
			
function arrHasDupes( A ) // finds any duplicate array elements using the fewest possible comparison
{              
				var i, j, n;
				n=A.length;
													 // to ensure the fewest possible comparisons
				for (i=0; i<n; i++)
				{
													 // outer loop uses each item i at 0 through n
					for (j=i+1; j<n; j++) 
					{                                // inner loop only compares items j at i+1 to n
						if (A[i]==A[j]) return true;
					}
				}
				return false;
}

Array.prototype.unique = function () 
{
	var r = new Array();
	o:for(var i = 0, n = this.length; i < n; i++)
	{
		for(var x = 0, y = r.length; x < y; x++)
		{
			if(r[x]==this[i])
			{
				continue o;
			}
							
		}
	r[r.length] = this[i];
	}
	return r;
}


</script>
<style>
.HighlightableRow:hover
{
  background-color: red;
}
div.opnames 
{ 
  width:165px;
  background-color:white;
  border:1px solid #888;
  margin:0px;
  padding:0px; 
  cursor:pointer;
  overflow:auto;  
}
</style>
</head>
	<fieldset>
		<legend><?php echo $this->translate("Bulk").' '.$this->translate("Invoice Generation");?></legend>
         <form action="<?php echo $this->baseUrl();?>/registrations/bulkinvoicegeneration/invoicegeneration"  method="POST">
                     <table width="100%">            
             	<tr>
                     <td><?php echo $this->translate("Type Of Operator");?></td>
                     <td><?php echo $this->lobjbulkform->Takcomp;?></td>
                     <td><?php echo $this->translate("Company/Takaful Name");?></td>
                     <td><?php echo $this->lobjbulkform->Takcompnames;?><div id="opnames" class="opnames"></div></td>
                </tr>
                <tr>
                     <td><?php echo $this->translate("Select BatchId");?></td>
                     <td><?php echo $this->lobjbulkform->BatchIds;?></td>
                     <td></td>
                     <td></td>
                  
                </tr>
				<tr>
								<td colspan = "2" align = "right"><?php echo $this->lobjbulkform->Add;?></td>
							</tr>
				
                <tr>
				
				</table>
				<table id="hor"   class="table" width = "100%">            			 
							<tr>
								<th align ="right"><?php echo $this->translate->_("Type Of Operator");?></th>
								<th align ="right"><?php echo $this->translate->_("Company/Takaful Name");?></th>
								<th align ="right"><?php echo $this->translate->_("Batch Id");?></th>
								<th><?php echo $this->translate->_("Delete");?></th>
							</tr>
						</table>
				
				<table width="100%"> 
				<tr>
	               <td align = "center" colspan = "4">
						<?php echo $this->lobjbulkform->Next;?>
						<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Clear"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'registrations','controller'=>'bulkinvoicegeneration', 'action'=>'index'),'default',true);?>';" />	
						
				   </td>
                </tr>
            </table>
        </form>	
    </fieldset> 
    <br/>
	
		<table class="table" width="100%" cellpadding="5" cellspacing="1">		
	    	
	        <?php if (count($this->paginator)):  ?>
	        <?php foreach ($this->paginator as $lobjcompanydetails ): ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	<td><a href="<?php echo $this->url(array('module'=>'registrations','controller'=>'bulkinvoicegeneration', 'action'=>'newapplication' , 'idcompany'=>$lobjcompanydetails['IdCompany']),'default',true);?>" ><?php print_r($this->escape($lobjcompanydetails['CompanyName']));?></a></td>
	    	    <td><?php echo $this->escape($lobjcompanydetails['ShortName']);?></td>
	    		<td><?php echo $this->escape($lobjcompanydetails['Address']);?></td>
	    		<td><?php echo $this->escape($lobjcompanydetails['StateName']);?></td>
	    		<td><?php echo $this->escape($lobjcompanydetails['CityName']);?></td>
	    		<td><?php echo $this->escape($lobjcompanydetails['Phone1']);?></td>
	    		<td><?php echo $this->escape($lobjcompanydetails['Email']);?></td>
	    		<td><?php echo $this->escape($lobjcompanydetails['BusinessType']);?></td>
	            <?php endforeach; ?>
	            <?php endif; ?> 
			</tr>
	    	<tr>
	        	<td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>
		</table>
	
