<head>
<script type="text/javascript">
function fnshow()
{
   //alert("fine");
   
	document.getElementById('divLogin5').style.display = '';
	document.getElementById('divLogin6').style.display = '';
        document.getElementById('show').style.display = 'none';
          document.getElementById('hide').style.display = '';

}
function fnhide()
{
  document.getElementById('divLogin5').style.display = 'none';
	document.getElementById('divLogin6').style.display = 'none';
  document.getElementById('show').style.display = '';
  document.getElementById('hide').style.display = 'none';
 
 
}
</script>
</head>
<form action="<?php echo $this->baseUrl();?>/registrations/bulkinvoicegeneration/viewgeneration"  dojoType="dijit.form.Form" method="POST">
	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
	    	<tr>
			     <?php if($this->compflag==1){?>
				 
	        	<th><?php echo $this->translate("Company Name");?></th>
				<?php } else if($this->compflag==2){ ?>
				<th><?php echo $this->translate("Takaful Name");?></th>
				<?php } ?>
	       	    <th><?php echo $this->translate("Short Name");?></th>
	        	<th><?php echo $this->translate("Address");?></th>
	        	<th><?php echo $this->translate("State");?></th>
	        	<th><?php echo $this->translate("Phone");?></th>
	        	<th><?php echo $this->translate("Email");?></th>
	        	<th><?php echo $this->translate("Business Type");?></th>
	    	</tr>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	<td><?php echo $this->escape($this->companydetails['CompanyName']);?></td>
	    	    <td><?php echo $this->escape($this->companydetails['ShortName']);?></td>
	    		<td><?php echo $this->escape($this->companydetails['Address']);?></td>
	    		<td><?php echo $this->escape($this->companydetails['StateName']);?></td>
	    		<td><?php echo $this->escape($this->companydetails['Phone1']);?></td>
	    		<td><?php echo $this->escape($this->companydetails['Email']);?></td>
	    		<td><?php $idcomp =$this->companydetails['IdCompany'];echo $this->escape($this->companydetails['BusinessType']);?></td>
	            <input type="hidden" name="CompanyName" id="CompanyName" value="<?php echo $this->escape($this->companydetails['CompanyName']);?>">	
		        <input type="hidden" name="flag" id="flag" value="<?php echo $this->escape($this->compflag);?>">
		      
				
				
		        <input type="hidden" name="Idcomp" id="Idcomp" value="<?php echo $this->companydetails['IdCompany'];?>">
				<?php $res = $this->regpinarray; for($i=0;$i<count($res);$i++){?>
				<input type="hidden" name="Regpinarray[<?php echo $res[$i]['key'];?>]" id="<?php echo $res[$i]['key']; ?>" value="<?php  echo $res[$i]['value'];?>" />
				<input type="hidden" name="Amountarray[<?php echo $res[$i]['key'];?>]" id="<?php echo $res[$i]['key']; ?>" value="<?php  echo $res[$i]['Amount'];?>" />
				<input type="hidden" name="Regpins[<?php echo $i;?>]" id="<?php echo $i;?>" value="<?php echo $res[$i]['key'];?>">
				<?php } ?>
			</tr>
		</table>
	</fieldset>
	<fieldset>
	<legend><?php echo $this->translate("Candidate Details");?></legend>
<div id="show"  style="display:block;"><input type="button" class="NormalBtnauto"  dojotype="dijit.form.Button" label="<?php echo $this->translate("Show Candidates"); ?>" onclick="fnshow()";/></div>
<div id="hide" style="display:none;" ><input type="button" class="NormalBtnauto"  dojotype="dijit.form.Button" label="<?php echo $this->translate("Hide Candidates"); ?>" onclick="fnhide()";/></div>



<div  id="divLogin5"  style="display:none;" >
 
					                <div id="divLogin6"  style="display:none;" >
					                
					                        
                                                            <table class="table" width="100%" cellpadding="5" cellspacing="1">
	    	<tr>
			    <th><?php echo $this->translate("Batch Id");?></th>
	       	    <th><?php echo $this->translate("Candidate Name");?></th>
				<th><?php echo $this->translate("ICNO");?></th>
	       	    <th><?php echo $this->translate("Registration ID");?></th>
	        	<th><?php echo $this->translate("Exam Date(DD-MM-YYYY)");?></th>
				<th><?php echo $this->translate("Venue");?></th>
				<th><?php echo $this->translate("Session");?></th>
	        	<th><?php echo $this->translate("Course");?></th>
				<th><?php echo $this->translate("Result");?></th>	        	
	    	</tr>
			<?php $serialno =1; $centerarray = array();
 				 foreach ($this->studentdetails as $lobjstudentdetails ):
				 if($lobjstudentdetails['pass']==3){ 				
 				$varstatus="Applied";}
 			    if($lobjstudentdetails['pass']==1){ 			
 				$varstatus="Pass";}
 			   if($lobjstudentdetails['pass']==2){ 				
 				$varstatus="Fail";}		
			   if($lobjstudentdetails['pass']==4){ 				
 				$varstatus="Absent";}
 				?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
			   <td>
			   <?php  if(!in_array($lobjstudentdetails['RegistrationPin'],$centerarray))
         	   {
				    $centerarray[] = $lobjstudentdetails['RegistrationPin'];		
				    //$centerarrays[$lobjstudentdetails['RegistrationPin']] = array();
				    print_r($this->escape($lobjstudentdetails['RegistrationPin']));
				}?>
				</td>
			    <?php //echo $this->escape($lobjstudentdetails['RegistrationPin']);   ?>
	    		<td><?php echo $this->escape($lobjstudentdetails['Candidatename']);?></td>
				<td><?php echo $this->escape($lobjstudentdetails['ICNO']);?></td>
	    		<td><?php echo $this->escape($lobjstudentdetails['Regid']);?></td>
	    		<td><?php echo $this->escape($lobjstudentdetails['DateTime']);?></td>
				<td><?php echo $this->escape($lobjstudentdetails['centername']);?>
				<td><?php echo $this->escape($lobjstudentdetails['managesessionname']);?></td>
	    		<td><?php echo $this->escape($lobjstudentdetails['ProgramName']);?></td>
				<td><?php echo $this->escape($varstatus);?></td>
				
				
				
				
	    		<input type="hidden" name="FName[]" id="FName<?php echo $i?>" value="<?php echo $lobjstudentdetails['Candidatename'];?>">			
				<input type="hidden" name="ICNO[]" id="ICNO<?php echo $i?>" value="<?php echo $lobjstudentdetails['ICNO'];?>">
				<input type="hidden" name="EmailAddress[]" id="EmailAddress<?php echo $i?>" value="<?php echo $lobjstudentdetails['EmailAddress'];?>">
				<input type="hidden" name="Regid[]" id="Regid<?php echo $i?>" value="<?php echo $lobjstudentdetails['Regid'];?>">
				<input type="hidden" name="ProgramName[]" id="ProgramName<?php echo $i?>" value="<?php echo $lobjstudentdetails['ProgramName'];?>">
				<input type="hidden" name="centername[]" id="centername<?php echo $i?>" value="<?php echo $lobjstudentdetails['centername'];?>">
				<input type="hidden" name="sessionname[]" id="sessionname<?php echo $i?>" value="<?php echo $lobjstudentdetails['managesessionname'];?>">
				<input type="hidden" name="result[]" id="result<?php echo $i?>" value="<?php echo $varstatus;?>">
        		<input type="hidden" name="dateofexam[]" id="dateofexam<?php echo $i?>" value="<?php echo date('d-m-Y',strtotime($lobjstudentdetails['DateTime']));?>">
	    		<input type="hidden" name="examtime[]" id="examtime<?php echo $i?>" value="<?php echo $lobjstudentdetails['starttime'];?>">
				
				<input type="hidden" name="Amount" id="Amount" value="<?php echo $this->pindetails['Totalamount'];?>">			
				<input type="hidden" name="TotalCandidates" id="TotalCandidates" value="<?php echo $this->pindetails['totalNoofCandidates'];?>">
	    		</td>
			</tr>
			 <?php endforeach; ?>
		<tr >
			</tr>
		                                    </table>
    </div>
 </div> 
        <table class="table" width="100%" >		    
        	<tr>
 <td colspan="6"></td>
<td ><b><?php echo $this->translate("TOTAL CANDIDATES: ");?><?php echo $this->pindetails['totalNoofCandidates'];?></b></td>
<td ><b><?php echo $this->translate("TOTAL AMOUNT: ");?><?php echo $this->pindetails['Totalamount'];?></b></td>				   
<td colspan=6 align = "right">
<input type="submit" class="NormalBtnauto" value="Save" name="Next" id="Next" dojotype="dijit.form.Button" label="<?php echo $this->translate("Next"); ?>" />	       
<!--<input type="submit" class="NormalBtnauto"  dojotype="dijit.form.Button" label="<?php echo $this->translate("Export"); ?>" name="Export" id="Export" value="Export"/>-->
			 	 <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'registrations','controller'=>'bulkinvoicegeneration', 'action'=>'index','idcompany'=>$idcomp),'default',true);?>';" />	
	            </td> 
            </tr>           
        </table>
	</fieldset>
  </form>