<head>
<script>
dojo.addOnLoad(function(){
		<?php if($this->generated == '1'){ ?>
					
							//document.getElementById('contentdiv').style.display = '';
							
							document.getElementById('divLogin').style.display = '';
							document.getElementById('divLogin2').style.display = '';
							//document.getElementById('contentdiv').style.display = '';
							
		<?php } ?>
		});
		
function BlockClosefn()
	{
	document.getElementById('contentdiv').innerHTML = "";
	document.getElementById('divLogin').style.display = 'none';
	document.getElementById('divLogin2').style.display = 'none';
	
	
	}
</script>
</head>
<form action="<?php echo $this->baseUrl();?>/registrations/bulkinvoicegeneration/viewgeneration"  dojoType="dijit.form.Form" method="POST">
	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
	    	<tr><?php if($this->compflag==1){?>
	        	<th><?php echo $this->translate("Company Name");?></th>
				<?php } else if($this->compflag==2){ ?>
				<th><?php echo $this->translate("Takaful Name");?></th>			<?php } ?> 
	        	<th><?php echo $this->translate("Address");?></th>	        	
	        	<th><?php echo $this->translate("Phone");?></th>
	        	<th><?php echo $this->translate("Email");?></th>
	        	<th><?php echo $this->translate("Business Type");?></th>
	    	</tr>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	<td><?php echo $this->escape($this->companydetails['CompanyName']);?></td>
	    		<td><?php echo $this->escape($this->companydetails['Address']);?></td>	    	
	    		<td><?php echo $this->escape($this->companydetails['Phone1']);?></td>
	    		<td><?php echo $this->escape($this->companydetails['Email']);?></td>
	    		<td><?php echo $this->escape($this->companydetails['BusinessType']);?></td>
	            <input type="hidden" name="CompanyName" id="CompanyName" value="<?php echo $this->escape($this->companydetails['CompanyName']);?>">	
		        <input type="hidden" name="flag" id="flag" value="<?php echo $this->escape($this->compflag);?>">		      
		        <input type="hidden" name="Idcomp" id="Idcomp" value="<?php echo $this->companydetails['IdCompany'];?>">
			</tr>
		</table>
	</fieldset>
	<fieldset>
	<legend><?php echo $this->translate("Batch Details");?></legend>
<table border="1" width="100%" align="center" >							
							<tr >								
							<th colspan=3 align='left'><b>To:</b>
<b>&nbsp;&nbsp;&nbsp;<?php echo $this->comp; ?></b><br/>
<b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $this->BatchAddressdetails['Contact'];?></b><br/>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><?php echo $this->BatchAddressdetails['Address'];?></b><br/>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><?php echo $this->BatchAddressdetails['Postcode'];?></b><br/>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><?php echo $this->BatchAddressdetails['StateName'];?></b><br/>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><?php echo $this->BatchAddressdetails['CountryName'];?></b><br/>
									<b>Attn:</b><b>&nbsp;<?php echo $this->BatchAddressdetails['Contact'];?></b>
<br/>									<b>Tel:</b><b>&nbsp;&nbsp;<?php echo $this->BatchAddressdetails['Phone'];?>                                                                                                                        </b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Fax:</b><b><?php if(isset($this->BatchAddressdetails['Fax'])) echo $this->BatchAddressdetails['Fax']; else ""; ;?></b><br/></th>
								        <th align ='left' valign='top' colspan=3>
<b>Invoice:</b><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<?php  echo $this->translate("Invoice will generate on click of save"); ?></b><br/><br/>									
									<b>Date:</b><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<?php echo date("d-m-Y");?></b><br/><br/>
									<b>Term:</b><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<?php echo $this->Configdetails['Duration'];?> Days</b></th>								
							</tr>
						</table>					
		        <table border="1" width="100%" align='center' >
						<tr>
                            <th ><b>SL NO</b></th>
							<th ><b>BatchId</b></th>							
							<th ><b>No of Candidates</b></th>
							<th ><b>TOTAL</b></th>
						</tr>
			<?php $slcount =0;
				//$programs = $this->Program;
					$Amount = $this->Amount;
					$Pins =  $this->Pins;
					$Regpinscandidates =  $this->Regpinscandidates;
					$Total=0;
					$Totalamount = 0.00;
 				 foreach ($this->Pins as $lobjpindetails ):
			$slcount =$slcount+1;
				//for($i=0;$i<count($programs);$i++){
 				?>
	  		<tr >
			<?php $pin=$lobjpindetails; 
			$total=$Amount[$pin];			
			$totalcandidates = $Total+$Regpinscandidates[$pin];
			$Total = $totalcandidates;
			$totalamt = $Totalamount+$total;
			$Totalamount = $totalamt;
			?>
                        <td ><b><?php echo $this->escape($slcount);?></b></td>
                        <td ><b><?php echo $this->escape($lobjpindetails);?></b></td>	    		
			            <td ><b><?php echo $this->escape($Regpinscandidates[$pin]);?></b></td>	    		       
	    		        <td  align="right"><b><?php echo $this->escape($Amount[$pin]);?></b></td>
	    		
				<input type="hidden" name="Pins[]" id="result<?php echo $i?>" value="<?php echo $pin;?>">
				<input type="hidden" name="Candidates[<?php echo $pin?>]" id="result<?php echo $i?>" value="<?php echo $Regpinscandidates[$pin];?>">
				<input type="hidden" name="Amount[<?php echo $pin?>]" id="result<?php echo $i?>" value="<?php echo $Amount[$pin];?>">
        		</td>
			</tr>
			 <?php //} 
			 endforeach; ?>
			<tr >
             						   
							   <td  colspan = "3" align="right"><b>Total Amount:<b></td><td align="right"><b><?php echo $Totalamount.'.00';?></b><input                                                   type="hidden" name="Totalamount" id="Totalamount" value="<?php echo $Totalamount;?>"></b></td>
               </tr>
               <tr>
			          <td  align="center" colspan=4><b>Ringgit Malaysia:</b><b><?php 
                               $lobjcompanystudentdetails = new Registrations_Model_DbTable_Companystudentdetails(); //Company student details model object
                               $Amountinwords = $lobjcompanystudentdetails->fnconvertnumbertowords($Totalamount);?><b>
                               <?php echo $Amountinwords.'  Only'; ?></b></td> 
               </tr>	
		</table>
        <table  width="100%" >		    
        	<tr>
	            <td colspan=6 align = "right">				
	             <input type="submit" class="NormalBtnauto"  dojotype="dijit.form.Button" label="<?php echo $this->translate("Save"); ?>" name="Submit" id="Submit" value="Submit"/>
                <!-- <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'registrations','controller'=>'bulkinvoicegeneration', 'action'=>'index'),'default',true);?>';" />-->	                
				 <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Cancel"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'registrations','controller'=>'bulkinvoicegeneration', 'action'=>'index'),'default',true);?>';" />	
	            </td> 
            </tr>           
        </table>
	</fieldset>
  </form>
<div runat="server" id="divLogin"  style="display:none; z-index: 153; position: fixed; left: 20%; width: 1140px; top:23%">
							<div runat="server" id="divLogin2"  style="display:none; opacity:1.0; z-index: 150; position: relative; left: 0%; height: 100%; width: 100%; top: 0%;"> </div>
								  <div id="scroll" style="height: 600px; width: 100%; overflow:auto;">
									  <asp:Panel runat="server" ID="popupLogin">
										 <asp:Panel runat="server" ID="popupContent1">
										  <table style="height: 125px; width: 100%; background-color: #FFFFFF;" border="3" frame="box">
												<tbody>
													<tr>
													   <td >
														  <div id="contentdiv">
														    <form action="<?php echo $this->baseUrl();?>/registrations/bulkinvoicegeneration/viewgeneration"  dojoType="dijit.form.Form" method="POST">
															 <table border="1" width="100%" align="center" >							
							<tr >								
							<th colspan=3 align='left'><b>To:</b>
<b>&nbsp;&nbsp;&nbsp;<?php echo $this->comp; ?></b><br/>
<b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $this->BatchAddressdetails['Contact'];?></b><br/>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><?php echo $this->BatchAddressdetails['Address'];?></b><br/>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><?php echo $this->BatchAddressdetails['Postcode'];?></b><br/>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><?php echo $this->BatchAddressdetails['StateName'];?></b><br/>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><?php echo $this->BatchAddressdetails['CountryName'];?></b><br/>
									<b>Attn:</b><b>&nbsp;<?php echo $this->BatchAddressdetails['Contact'];?></b>
<br/>									<b>Tel:</b><b>&nbsp;&nbsp;<?php echo $this->BatchAddressdetails['Phone'];?>                                                                                                                        
</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Fax:</b><b><?php if(isset($this->BatchAddressdetails['Fax'])) echo $this->BatchAddressdetails['Fax']; else ""; ;?></b><br/></th>
								        <th align ='left' valign='top' colspan=3>
<b>Invoice:</b><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<?php  echo  $this->invoicenum; ?></b><br/><br/>									
									<b>Date:</b><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<?php echo date("d-m-Y");?></b><br/><br/>
									<b>Term:</b><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<?php echo $this->Configdetails['Duration'];?> Days</b></th>								
							</tr>
						</table>					
		        <table border="1" width="100%" align='center' >
						<tr>
                            <th ><b>SL NO</b></th>
							<th ><b>BatchId</b></th>							
							<th ><b>No of Candidates</b></th>
							<th ><b>TOTAL</b></th>
						</tr>
			<?php $slcount =0;
				//$programs = $this->Program;
					$Amount = $this->Amount;
					$Pins =  $this->Pins;
					$Regpinscandidates =  $this->Regpinscandidates;
					$Total=0;
					$Totalamount = 0.00;
 				 foreach ($this->Pins as $lobjpindetails ):
			$slcount =$slcount+1;
				//for($i=0;$i<count($programs);$i++){
 				?>
	  		<tr >
			<?php $pin=$lobjpindetails; 
			$total=$Amount[$pin];			
			$totalcandidates = $Total+$Regpinscandidates[$pin];
			$Total = $totalcandidates;
			$totalamt = $Totalamount+$total;
			$Totalamount = $totalamt;
			?>
                        <td ><b><?php echo $this->escape($slcount);?></b></td>
                        <td ><b><?php echo $this->escape($lobjpindetails);?></b></td>	    		
			            <td ><b><?php echo $this->escape($Regpinscandidates[$pin]);?></b></td>	    		       
	    		        <td align="right"><b><?php echo $this->escape($Amount[$pin]);?></b></td>
	    		
				<input type="hidden" name="Pins[]" id="result<?php echo $i?>" value="<?php echo $pin;?>">
				<input type="hidden" name="Candidates[<?php echo $pin?>]" id="result<?php echo $i?>" value="<?php echo $Regpinscandidates[$pin];?>">
				<input type="hidden" name="Amount[<?php echo $pin?>]" id="result<?php echo $i?>" value="<?php echo $Amount[$pin];?>">
        		<input type="hidden" name="flag" id="flag" value="<?php echo $this->escape($this->compflag);?>">		      
		        <input type="hidden" name="Idcomp" id="Idcomp" value="<?php echo $this->companydetails['IdCompany'];?>">
				<input type="hidden" name="CompanyName" id="CompanyName" value="<?php echo $this->escape($this->companydetails['CompanyName']);?>">	
				<input type="hidden" name="mailsend" id="mailsend" value="1">
				</td>
			</tr>
			 <?php //} 
			 endforeach; ?>
			<tr >
             						   
							   <td  colspan = "3" align="right"><b>Total Amount:<b></td><td align="right"><b><?php echo $Totalamount.'.00';?></b><input type="hidden" name="Totalamount" id="Totalamount" value="<?php echo $Totalamount;?>"></b></td>
               </tr>
               <tr>
			          <td  align="center" colspan=4><b>Ringgit Malaysia:</b><b><?php 
                               $lobjcompanystudentdetails = new Registrations_Model_DbTable_Companystudentdetails(); //Company student details model object
                               $Amountinwords = $lobjcompanystudentdetails->fnconvertnumbertowords($Totalamount);?><b>
                               <?php echo $Amountinwords.'  Only'; ?></b></td> 
               </tr>			   
			                                                       <tr><td align="right" colspan='4'><button type="submit"  dojotype="dijit.form.Button"  id="Export" name="Export" value="1" >Send Invoice To Admin</button> &nbsp;
																		  
																		  <input type="submit" id="Print"  dojotype="dijit.form.Button" label="Print invoice"
                                                                            name="Print"  value="Print"  />  
																<input type="button" id="close" class="NormalBtn" dojotype="dijit.form.Button" label="Close"
                                                                            name="close"  value="Close" onClick="BlockClosefn();"></td>
		                                                    </tr>
															</table>
															 </form>
															 
															
															 
															</div>					                                      
													   </td>
													 </tr>
													 <tr>
														<td colspan="2" align="left">
														   <asp:Label ID="lblmandatory" runat="server" Text="* Mandatory Information Required"
															class="LeftLabelStyle" Width="350px" />
														 </td>
													  </tr>
												 </tbody>
											  </table>
										 
											
								</asp:Panel>
					</asp:Panel>
		</div>
	</div>