* {
	margin: 0px;
	padding: 0px;
}

body {
	padding: 25px 0px 12px;
	background-color: #6383a6;
	color: #fff;
	font-family: verdana, arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
}

a {
	color: #fff;
	background-color: inherit;
	text-decoration: underline;
}

a:hover {
	color: #526052;
	background-color: inherit;
}

span {
	display: none;
}

img {
	border: none;
}

ul {
	list-style-type: none;
}

li {
	list-style-type: none;
}

p {
	margin: 10px 0px 12px;
	text-align: justify;
	line-height: 15px;
}

.clearthis {
	margin : 0px;
	height : 1px;
	clear : both;
	float : none;
	font-size : 1px;
	line-height : 0px;
	overflow : hidden;
	visibility: hidden;
}

#container {
	margin: 0px auto;
	width: 767px;
	background-image: url('images/background_image.jpg');
	background-repeat: no-repeat;
	text-align: left;
}

#page_static {
	width: 767px;
	height: 235px;
	overflow: hidden;
}

.thumbnail {
	padding: 10px 0px;
	text-align: center;
}


/* Page Header */

#page_header {
	padding: 5px 14px 2px;
	z-index: 1;
	position: absolute;
}

#page_header h1 {
	width: 265px;
	height: 49px;
	background: url('images/radio_station.gif') no-repeat 0% 50%;
}


/* Navigation Menu */

#navmenu {
	margin: 54px 528px 0px 66px;
	padding-bottom: 2px;
	width: 173px;
	clear: both;
	text-align: center;
	z-index: 1;
	position: absolute;
}

#navmenu a {
	text-decoration: none;
}

#navmenu li {
	padding: 0px 11px;
	float: left;
	background: url('images/navmenu_background.gif') repeat-y 50% 0%;
	line-height: 23px;
}

#navmenu li#menu_first {
	padding-top: 5px;
	background-image: url('images/navmenu_background_top.gif');
	background-repeat: no-repeat;
}

#navmenu li#menu_last {
	padding-bottom: 12px;
	background-image: url('images/navmenu_background_bot.gif');
	background-repeat: no-repeat;
}

#navmenu li a {
	display: block;
	background-color: #7898ba;
	color: inherit;
	font-size: 12px;
	text-transform: uppercase;
	cursor: pointer;
}

#navmenu li a:hover {
	background-color: #FFFFFF;
	color: #526052;
}

#navmenu li#menu_first a {
	padding-top: 2px;
	background-image: url('images/navmenu_background_litop.gif');
	background-repeat: no-repeat;
	background-position: 50% 0%;
}

#navmenu li#menu_last a {
	background-image: url('images/navmenu_background_libot.gif');
	background-repeat: no-repeat;
	background-position: 50% 100%;
}

#navmenu li a b {
	margin: 0px auto;
	padding-bottom: 2px;
	display: block;
	width: 151px;
	border-bottom: #fff 1px solid;
}


/* Main Content */

#main_content {
	padding-left: 22px;
	background: url('images/main_background.gif') repeat-y 22px 0%;
	float: left;
	clear: both;
	text-align: center;
}

#main_content2 {
	width: 435px;
	background: url('images/main_background_right.gif') no-repeat 100% 0%;
}

#main_content_header {
	width: 435px;
	background: url('images/main_background_top.gif') no-repeat 50% 0%;
}

#main_content_header h2 {
	padding: 20px 10px 12px;
	font-size: 12px;
	text-transform: uppercase;
	
}

#main_content_body {
	margin: 0px auto;
	padding: 2px 0px;
	width: 411px;
	height: expression('220px');min-height:220px; 
	background-color: #6484a6;
	color: inherit;
}

#main_content_body #content_box {
	margin: 0px auto;
	padding-bottom: 15px;
	width: 380px;
	text-align: justify;
}

#main_content_footer {
	width: 435px;
	height: 21px;
	background: url('images/main_background_bot.gif') no-repeat 50% 100%;
	overflow: hidden;
}


/* Page Footer */

#page_footer {
	padding: 18px 11px 0px;
	font-size: 10px;
	text-align: center;
	letter-spacing: 1px;
}

#login-box {
	float: left;
	width: 400px;
}
#login {
	background: url(images/login_bg.jpg) repeat-y;
	font-weight: bold;
	color: #E1E1D5;
	
}
#login h2 {
	margin: 0px;
	padding: 0px 0px 3px;
	
}
#login a {
	color: #303228;
}
#login a:hover {
	color: #1C1D10;
}
#login-username {
	float: left;
	text-align: right;
	color: #303228;
	font-size: 13px;
}
#login-username input {
	background: #FFFFFF;
	color: #303228;
	font-size: 13px;
	border: 1px solid #60654E;
}
#login-username div {
	padding-bottom: 1px;
}
#login-button {
	float: left;
	width: 45px;
	margin: 2px 10px;
}

#login-box h2 {
	padding: 0px 0px 3px 40px;
	margin-left: 0px;
	margin-bottom: 3px;
  color: #303228;
  font: 22px "arial narrow", arial, sans-serif;
  background: url(images/h_login.gif) no-repeat;
}
#login-box h2 em {
  font-style: normal;
  color: #ECEEE4;
}
#login-error {
	float: left;
	text-align: left;
	color: yellow;
	font-size: 11px;
}

#main_content_oe {
	background: url('images/main_background.gif') repeat-y;
	float: left;
	text-align: center;
	
}
/*@import 'default.css';*/