<head>
</head>
<body class='claro'>
<fieldset>
	<legend><?php echo $this->translate("Qualification").' '.$this->translate("statistics").' '.$this->translate("Report");?></legend>
	<?php if ($this->Monthyear): ?>
<fieldset>
<form id="myForm1" name = "myform1" action="<?php echo $this->baseUrl();?>/reports/qualificationreport/fnexportexcel" method="POST">
 <?php $centerarray = array();?>
    <table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr>
    <th></th>
        <th align ="center" colspan = 6 ><b><?php echo $this->translate("$this->month").' '. $this->translate("$this->Year");?></b></th>
    </tr>
    
    <tr>
       <th><?php echo $this->translate("Qualification") ?></th>
        <th><?php echo $this->translate("SPM") ?></th>
        <th><?php echo $this->translate("STPM") ?></th>
        <th><?php echo $this->translate("DIPLOMA") ?></th>
        <th><?php echo $this->translate("DEGREE") ?></th>
        <th><?php echo $this->translate("OTHERS") ?></th>
        <th><?php echo $this->translate("TOTAL") ?></th>
    </tr>
    <?php  $lobjQualification = $this->larrqualificationcount;  ?>
    <tr style="background-color:#F0F0F0">
      <td><b><?php echo "Registered";?></b></td>
      <td><?php echo $lobjQualification[2]['NoOfCandidates'];?><input type="hidden" name="spmcand" id="spmcand" value="<?php echo $lobjQualification[2]['NoOfCandidates'];?>"></td>
      <td><?php echo $lobjQualification[3]['NoOfCandidates'];?><input type="hidden" name="stpmcand" id="stpmcand" value="<?php echo $lobjQualification[3]['NoOfCandidates'];?>"></td>
      <td><?php echo $lobjQualification[0]['NoOfCandidates'];?><input type="hidden" name="diplomacand" id="diplomacand" value="<?php echo $lobjQualification[0]['NoOfCandidates'];?>"></td>
      <td><?php echo $lobjQualification[1]['NoOfCandidates'];?><input type="hidden" name="degreecand" id="degreecand" value="<?php echo $lobjQualification[1]['NoOfCandidates'];?>"></td>
      <td><?php echo $lobjQualification[4]['NoOfCandidates'];?><input type="hidden" name="othercand" id="othercand" value="<?php echo $lobjQualification[4]['NoOfCandidates'];?>"></td>
      <td><?php echo $this->regtotal;?><input type="hidden" name="regtotal" id="regtotal" value="<?php echo $this->regtotal;?>"></td>  
        </tr>
      <tr style="background-color:#FFFFFF">
      <td><b><?php echo "Sat";?></b></td>
      <td><?php echo $lobjQualification[13]['SPMsat'];?><input type="hidden" name="SPMsat" id="SPMsat" value="<?php echo $lobjQualification[13]['SPMsat'];?>"></td>
      <td><?php echo $lobjQualification[17]['STPMsat'];?><input type="hidden" name="STPMsat" id="STPMsat" value="<?php echo $lobjQualification[17]['STPMsat'];?>"></td>
      <td><?php echo $lobjQualification[5]['Diplomasat'];?><input type="hidden" name="Diplomasat" id="Diplomasat" value="<?php echo $lobjQualification[5]['Diplomasat'];?>"></td>
      <td><?php echo $lobjQualification[9]['Degreesat'];?><input type="hidden" name="Degreesat" id="Degreesat" value="<?php echo $lobjQualification[9]['Degreesat'];?>"></td>
      <td><?php echo $lobjQualification[21]['otherssat'];?><input type="hidden" name="otherssat" id="otherssat" value="<?php echo $lobjQualification[21]['otherssat'];?>"></td>
      <td><?php echo $lobjQualification[25]['sattotal'];?><input type="hidden" name="sattotal" id="sattotal" value="<?php echo $lobjQualification[25]['sattotal'];?>"></td>
      </tr>
        <tr style="background-color:#F0F0F0">
      <td><b><?php echo "Pass";?></b></td>
      <td><?php echo $lobjQualification[14]['SPMpass'];?><input type="hidden" name="SPMpass" id="SPMpass" value="<?php echo $lobjQualification[14]['SPMpass'];?>"></td>
      <td><?php echo $lobjQualification[18]['STPMpass'];?><input type="hidden" name="STPMpass" id="STPMpass" value="<?php echo $lobjQualification[18]['STPMpass'];?>"></td>
      <td><?php echo $lobjQualification[6]['Diplomapass'];?><input type="hidden" name="Diplomapass" id="Diplomapass" value="<?php echo $lobjQualification[6]['Diplomapass'];?>"></td>
      <td><?php echo $lobjQualification[10]['Degreepass'];?><input type="hidden" name="Degreepass" id="Degreepass" value="<?php echo $lobjQualification[10]['Degreepass'];?>"></td>
      <td><?php echo $lobjQualification[22]['otherspass'];?><input type="hidden" name="otherspass" id="otherspass" value="<?php echo $lobjQualification[22]['otherspass'];?>"></td>
      <td><?php echo $lobjQualification[26]['passtotal'];?><input type="hidden" name="passtotal" id="passtotal" value="<?php echo $lobjQualification[26]['passtotal'];?>"></td>  
        </tr>
      <tr style="background-color:#FFFFFF">
      <input type="hidden" name="selmonth" id="selmonth" value="<?php echo $this->month.'_'.$this->Year;?>">
      <td><b><?php echo "Fail";?></b></td>
      <td><?php echo $lobjQualification[15]['SPMfail'];?><input type="hidden" name="SPMfail" id="SPMfail" value="<?php echo $lobjQualification[15]['SPMfail'];?>"></td>
      <td><?php echo $lobjQualification[19]['STPMfail'];?><input type="hidden" name="STPMfail" id="STPMfail" value="<?php echo $lobjQualification[19]['STPMfail'];?>"></td>
      <td><?php echo $lobjQualification[7]['Diplomafail'];?><input type="hidden" name="Diplomafail" id="Diplomafail" value="<?php echo $lobjQualification[7]['Diplomafail'];?>"></td>
      <td><?php echo $lobjQualification[11]['Degreefail'];?><input type="hidden" name="Degreefail" id="Degreefail" value="<?php echo $lobjQualification[11]['Degreefail'];?>"></td>
      <td><?php echo $lobjQualification[23]['othersfail'];?><input type="hidden" name="othersfail" id="othersfail" value="<?php echo $lobjQualification[23]['othersfail'];?>"></td>
      <td><?php echo $lobjQualification[27]['failtotal'];?><input type="hidden" name="failtotal" id="failtotal" value="<?php echo $lobjQualification[27]['failtotal'];?>"></td>
      </tr>
        <tr style="background-color:#F0F0F0">
      <td><b><?php echo "Absent";?></b></td>
      <td><?php echo $lobjQualification[16]['SPMabsent'];?><input type="hidden" name="SPMabsent" id="SPMabsent" value="<?php echo $lobjQualification[16]['SPMabsent'];?>"></td>
      <td><?php echo $lobjQualification[20]['STPMabsent'];?><input type="hidden" name="STPMabsent" id="STPMabsent" value="<?php echo $lobjQualification[20]['STPMabsent'];?>"></td>
      <td><?php echo $lobjQualification[8]['Diplomaabsent'];?><input type="hidden" name="Diplomaabsent" id="Diplomaabsent" value="<?php echo $lobjQualification[8]['Diplomaabsent'];?>"></td>
      <td><?php echo $lobjQualification[12]['Degreeabsent'];?><input type="hidden" name="Degreeabsent" id="Degreeabsent" value="<?php echo $lobjQualification[12]['Degreeabsent'];?>"></td>
      <td><?php echo $lobjQualification[24]['othersabsent'];?><input type="hidden" name="othersabsent" id="othersabsent" value="<?php echo $lobjQualification[24]['othersabsent'];?>"></td>
      <td><?php echo $lobjQualification[28]['absenttotal'];?><input type="hidden" name="absenttotal" id="absenttotal" value="<?php echo $lobjQualification[28]['absenttotal'];?>"></td>  
      </tr>
 <tr>
	 <td colspan="7" align="right"><?php echo $this->lobjform->ExportToExcel?>
	 <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'reports','controller'=>'statistics', 'action'=>'index'),'default',true);?>';" />
 </tr> 
</table>
</form>
</fieldset>
<?php endif; ?> 
</body>
</html>
