<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="<?php echo $this->rtl;?>">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
<title></title>
<link rel="stylesheet" type="text/css"  href="<?php  echo $this->baseUrl();?>/js/themes/cupertino/jquery.ui.all.css" />
<script language='javascript' src='<?php  echo $this->baseUrl();?>/js/jquery-1.4.3.js'></script>

<script language='javascript' src='<?php  echo $this->baseUrl();?>/js/sfs-common.js'></script>

<script type="text/javascript">
function redirect(){
	var from = <?php echo $this->from;?>;
	if(from == 0){
			parent.location = '<?php echo $this->baseUrl();?>/examination/uploadfiles/index';
	}
	else {
		var editId = <?php echo $this->editId;?>;
		if(editId == 0) window.location = '<?php echo $this->baseUrl();?>/examination/uploadfiles/newcollegemaster';
		else window.location = '<?php echo $this->baseUrl();?>/examination/uploadfiles/editcollegemaster/id/'+editId;
	}
}
</script>
</head>
<body  class = "claro"> 
<fieldset>
    <legend><?php echo $this->translate->_("File Uploads");?></legend>
        <div class="register">
            <div class="profile_tab">
                <form action="" method="POST"  name= "myform"  dojoType="dijit.form.Form"  enctype="multipart/form-data">
                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
		</script>	
                    <table id="hor-minimalist-b" width="100%">
                       
                        <?php echo $this->lobjUploadfilesForm->UpdDate;?>
                        <?php echo $this->lobjUploadfilesForm->UpdUser;?>
                        <tr>
                            <td class="label" width="20%"><?php echo $this->translate->_("Select").' '.$this->translate->_("Section");?><span class="reqMark">*</span></td>
                            <td width="25%"><?php echo $this->lobjUploadfilesForm->Section;?></td>
                            <td class="label" width="10%"><?php echo $this->translate->_("Upload");?><span class="reqMark"></span></td>
                            <td width="45%" ><?php echo $this->lobjUploadfilesForm->FileName;?></td>
                        </tr>
                        <!--<tr>
                            <td class="label"><?php echo $this->translate->_("File Name");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjUploadfilesForm->Name;?></td>
                             <td></td>
                            <td></td>
                        </tr>
                        -->
                        <tr>                         	
                            <td class="label"><?php echo $this->translate->_("Active");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjUploadfilesForm->Active;?></td>
                            <td></td>
                            <td></td>
                        </tr>                        
                      	<tr>
                    	<td colspan="4" align = "right">
                    		<?php //foreach($this->roles as $resultItem):?>
								     <?php //if($resultItem['functionCode']=='CRMTS' && $resultItem['operationCode']=='SAVE'){?>
			                            <?php echo $this->lobjUploadfilesForm->Save;?>
									 <?php //}?>
	                        <?php //endforeach;?>
                           		 <?php //echo $this->lobjCoursemasterForm->Close;?>	
                             	<input type="button" name="Close" value="Close" id="Close" onClick="redirect();" dojoType="dijit.form.Button"  label="Close"  class="buttonStyle">     
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</fieldset>
</body>
</html>
