<html>
<head>
<script>
dojo.addOnLoad(function(){
	
	});
	
	
	function Closevenue()
 {
    document.getElementById('contentvenuediv').innerHTML = "";
	document.getElementById('divLoginvenue').style.display = 'none';
	document.getElementById('divLoginvenue2').style.display = 'none';
     
 }
	function fngetattemptsdetails(idapp,cnt,icno)
{
  var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/reports/completedetails/getallattempts/idapp/"+idapp+"/cnt/"+cnt+"/icno/"+icno,
			handleAs:'text',
			load:function(data){ 
				document.getElementById('contentvenuediv').innerHTML = data;
				document.getElementById('divLoginvenue').style.display = 'block';
				document.getElementById('divLoginvenue2').style.display = 'block';
			}
	   }
	dojo.xhrGet(xhrArgs);
}
	
	function examtoDateSetting(){ 
	var RegFromDate = dijit.byId('Fromdate').value;
	var startDate = dijit.byId('Todate');
	var trdat = ""+RegFromDate;
	var d = new Date(trdat); 
	d.setDate(d.getDate());
    var date = d.getDate();
    var month = d.getMonth()+1;
    var year = d.getFullYear();
	
    if(month<10) month = "0"+month;
    if(date<10) date = "0"+date;
    var nextdate = year+'-'+month +'-'+date;
    
	startDate.constraints = dojo.mixin(startDate.constraints, {min: dojo.date.stamp.fromISOString(nextdate)}); 

	var trdat = ""+RegFromDate;
	var d = new Date(trdat); 
	d.setDate(d.getDate() + 30);
    var date = d.getDate();
    var month = d.getMonth()+1;
    var year = d.getFullYear();
	
    if(month<10) month = "0"+month;
    if(date<10) date = "0"+date;
    var nextdate = year+'-'+month +'-'+date;

	startDate.constraints = dojo.mixin(startDate.constraints, {max: dojo.date.stamp.fromISOString(nextdate)}); 
}
</script>
</head>
<body class='claro'>
<fieldset>
	<legend><?php echo $this->translate("Student").' '.$this->translate("Details");?></legend>
	<div class="search" style="margin-left:20px;">
 		<form dojoType="dijit.form.Form"  id="myForm" action="" method="POST" > 
 		  <script type="dojo/method" event="onSubmit">
             if (this.validate()) {
					return true;
                } else {
                    return false;
                }
			</script>
		<table width="100%">				
				<tr>
                    <td><?php echo $this->translate("Exam").' '.$this->translate("From").' '.$this->translate("Date") ?></td>
                    <td><?php echo $this->lobjcompletedetailsform->Fromdate;?></td>
                    <td><?php echo $this->translate("Exam").' '.$this->translate("To").' '.$this->translate("Date") ?></td>
                    <td><?php echo $this->lobjcompletedetailsform->Todate;?></td>
                </tr>
                <tr>
                 <td></td>  
                 <td></td>             
               <td ><?php echo $this->lobjcompletedetailsform->Search;?>
					<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Clear"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'reports','controller'=>'completedetails', 'action'=>'index'),'default',true);?>';" />
				</td>
               </tr>
		</table>
	</form>	
		</div>
	</fieldset> 
	<br/>
	<table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr>
	    <th><?php echo $this->translate("Exam Date") ?></th>
		<th><?php echo $this->translate("Venue") ?></th>  
        <th><?php echo $this->translate("Session") ?></th>
		<th><?php echo $this->translate("Program") ?></th>        		
	    <th><?php echo $this->translate("Student Name") ?></th>
        <th><?php echo $this->translate("ICNO") ?></th>
        <th><?php echo $this->translate("Result") ?></th>
            <th><?php echo $this->translate("Attempts") ?></th>
        
    </tr>
	 <?php  if (count($this->paginator)): ?>
        <?php echo count($this->paginator); foreach ($this->paginator as $lobjCountry ):  ?>
    <tr>
     <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>"> 
	       <td><?php   print_r($this->escape($lobjCountry['examdate']));?></td> 
		   <td><?php   print_r($this->escape($lobjCountry['centername']));?></td>
		   <td><?php   print_r($this->escape($lobjCountry['managesessionname']));?></td> 
		   <td><?php   print_r($this->escape($lobjCountry['centername']));?></td>
           <td><?php   print_r($this->escape($lobjCountry['FName']));?></td> 
		   <td><?php   print_r($this->escape($lobjCountry['ICNO']));  ?></td> 
		   <?php if($lobjCountry['pass'] == 1){?>
		   <td><?php  echo "Pass";?></td>
          <?php }if($lobjCountry['pass'] == 2){?>
		   <td><?php  echo "Fail";?></td>			   
		   	<?php }?> 
		   	 <td><a href="#" onclick="fngetattemptsdetails('<?php echo $lobjCountry['IDApplication'];?>','<?php echo $lobjCountry['PermCity'];?>','<?php echo $lobjCountry['ICNO'];?>')"><?php    print_r($this->escape($lobjCountry['PermCity']));  ?></a></td> 
     </tr>    
	<?php endforeach; ?>
     <?php endif; ?>   
       
    </table>
</form>

<div runat="server" id="divLogin"  style="display:none; z-index: 153; position: fixed; left: 23%; width: 750px; top:10%">
					                <asp:Panel runat="server" ID="popupLogin">
					                    <asp:Panel runat="server" ID="popupContent1">
					                        <table style="height: 125px; width: 100%; background-color: #FFFFFF;" border="3"   frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">
					                                    
					                                    	<div id="contentdiv"></div>					                                      
					                                   </td>
					                                </tr>
					                                <tr>
					                                    <td colspan="2" align="left">
					                                        <asp:Label ID="lblmandatory" runat="server" Text="* Mandatory Information Required"
					                                            class="LeftLabelStyle" Width="350px" />
					                                    </td>
					                                </tr>
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
					            </div>
					                   	<div runat="server" id="divLogin2"  style="display:none; opacity:0.4; z-index: 150; position: absolute; left: 0%; height: 100%; width: 100%; top: 0%;">
					                <asp:Panel >
					                    <asp:Panel  >
					                        <table style="height: 100%; width: 100%; background-color: #000000;" border="3"   frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">
					                                    	
					                                      
					                                   </td>
					                                </tr>
					                               
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
					            </div>
								<div runat="server" id="divLoginvenue"  style="display:none; z-index: 153;  position: fixed; left: 20%; width: 600px; top:25% " >
  <div runat="server" id="divLoginvenue2"  style="display:none; opacity:0.5; z-index: 150; position: relative; left: 0%; height: 100%; width: 100%; top: 0%;"> </div>
					                <div id="scroll" style="height: 600px; width: 150%; overflow:auto;">
					                        <table style="height: 125px; width: 100%; background-color: #FFFFFF;" border="3" frame="box">
					                             <tr>
					                                    <td align="right">
					                                    	<div id="contentvenuediv">
															</div>					                                      
					                                   </td>
					                                </tr>
					                        </table>
    							   </div>
</div> 
</body>
</html>
