<head>
<script type="text/javascript">
dojo.addOnLoad(function() {

	});
</script>
</head>
<body class='claro'>
	 <form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm" >
<script type="dojo/method" event="onSubmit">
                              if (this.validate()) {
					  return true;
                } else {
                    return false;
                }
				</script>
<fieldset>
	<legend><?php echo $this->translate("Questions Utility");?></legend>

 			
		<table width="100%" >
		
		        
				
				
				<tr>
				 <td colspan="2" align="center"><input type='button' align="right" dojotype="dijit.form.Button" label="<?php echo $this->translate("Export to Excel"); ?>"onclick="window.location.href='<?php echo $this->url(array('module'=>'examination','controller'=>'questionnoutility', 'action'=>'fnpdfexport', 'Type'=>'Questions'),'default',true);?>';"></td>
				 	
				 	
               </tr>
		</table>

	</fieldset> 
	
	
</body>
