<head>
<script language="JavaScript" type="text/javascript">
  dojo.require("dojox.layout.ScrollPane");
</script>
<link href="<?php echo $this->baseUrl();?>/js/dojo/dojox/layout/resources/ScrollPane.css" type="text/css" rel="stylesheet"></link>
<script language="JavaScript" type="text/javascript">

var statarray = new Array();
idss = 1;
function addFormField() {	
	var StudentNameHTML = document.getElementById("candidateprog").value;
	hiddenprog = dijit.byId("candidateprog");
	StudentIdHTML = document.getElementById("Year").value;
	hiddenyear = dijit.byId("Year");
	maxmarks = document.getElementById("NewState").value;
	hiddenstate = dijit.byId("NewState");
	MinMarks = document.getElementById("NewMonth").value;
	hiddenmonths = dijit.byId("NewMonth");
	Examdate = document.getElementById("Examdate").value;
	NewCity = document.getElementById("NewCity").value;
	hiddencity = dijit.byId("NewCity");
	NewVenue = document.getElementById("NewVenue").value;
	hiddenvenue = dijit.byId("NewVenue");
	
	Newsession = document.getElementById("Newsession").value;
	hiddensession = dijit.byId("Newsession");

	activeset = document.getElementById("activeset").value;

	
	
	//var StudentName = document.getElementById("field17").value;
	//var StudentNameHTML=document.getElementById("IdPart").value;		
    var id = document.getElementById("idss").value;
	if(StudentNameHTML == "Select"||StudentNameHTML == "")
	{
	
		alert("Select Part Name");
	}
	else
	{ 		
			statarray.push(StudentNameHTML);
			if(arrHasDupes(statarray))
			{
				statarray = statarray.unique();
				alert("Duplicate Part Name");
			}
			else
			{					
				document.getElementById("divTxt").innerHTML =document.getElementById("divTxt").innerHTML+"<tr id='row" + idss + "'><td></td><td><input type='text' name='Gradename[]' id='Gradename' value='"+StudentNameHTML+"'></td><td><input type='text' name='MinMarks[]' id='MinMarks' value='"+MinMarks+"'></td><td><input type='text' name='maxmarks[]' id='maxmarks' value='"+maxmarks+"'></td><td><input type='text' name='Examdate[]' id='Examdate' value='"+Examdate+"'></td><td><input type='text' name='NewCity[]' id='NewCity' value='"+NewCity+"'></td><td><input type='text' name='NewVenue[]' id='NewVenue' value='"+NewVenue+"'></td><td><input type='text' name='Newsession[]' id='Newsession' value='"+Newsession+"'></td><td><input type='hidden' name='hiddenstate[]' id='hiddenstate' value='"+hiddenstate+"'></td><td><input type='hidden' name='hiddenprog[]' id='hiddenprog' value='"+hiddenprog+"'></td><td><input type='hidden' name='hiddenyear[]' id='hiddenyear' value='"+hiddenyear+"'></td><td><input type='hidden' name='hiddenmonths[]' id='hiddenmonths' value='"+hiddenmonths+"'></td><td><input type='hidden' name='hiddencity[]' id='hiddencity' value='"+hiddencity+"'></td><td><input type='hidden' name='hiddenvenue[]' id='hiddenvenue' value='"+hiddenvenue+"'></td><td><input type='hidden' name='hiddensession[]' id='hiddensession' value='"+hiddensession+"'></td><td><input type='hidden' name='activeset[]' id='activeset' value='"+activeset+"'><a href='#' onClick='removeFormField(\"#row" + idss + "\"\,\"" + StudentIdHTML + "\"\); return false;'><img src='<?php echo $this->baseUrl()?>/images/delete.png'  border=0 width='16' height='16'></a></td><td></td><td></td></tr>";
				idss++;
				document.getElementById("idss").value = idss;
				document.getElementById("Year").value = '';
				document.getElementById("NewMonth").value = '';
				document.getElementById("NewState").value = '';
				document.getElementById("Examdate").value = '';
				document.getElementById("NewCity").value = '';
				document.getElementById("NewVenue").value = '';
				var mon='';
				fnGetDays(mon);
			}
			
		
	}
}
function removeFormField(id,StudentIdHTML) {
	
	for(var i=0; i<statarray.length; i++) {
        if(statarray[i] == StudentIdHTML) {
        	statarray.splice(i, 1);
            break;
        }
	}
	
	document.getElementById("idss").remove();
	}
function arrHasDupes( A ) {                          // finds any duplicate array elements using the fewest possible comparison
	var i, j, n;
	n=A.length;
                                                     // to ensure the fewest possible comparisons
	for (i=0; i<n; i++) {                        // outer loop uses each item i at 0 through n
		for (j=i+1; j<n; j++) {              // inner loop only compares items j at i+1 to n
			if (A[i]==A[j]) return true;
	}	}
	return false;
}
	
Array.prototype.unique = function () {
    var r = new Array();
    o:for(var i = 0, n = this.length; i < n; i++)
    {
        for(var x = 0, y = r.length; x < y; x++)
        {
                if(r[x]==this[i])
                {
                	continue o;
                }
                
        }
        r[r.length] = this[i];
    }
    return r;
}


function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}

function Closefn()
{
	 
   	  window.location = "<?php echo $this->baseUrl();?>/companyapplication/index";
        
}

//////////////////////////////////////////

function fngetstatedetails(idprog)
{	
	//alert(idprog);
 if(idprog>0)
 {
	 var xhrArgs1 = {
				url: "<?php echo $this->baseUrl();?>"+"/registration/fngetprerequesition/idprog/"+idprog,
				handleAs:'text',
				load:function(data){ 
					if(data == '')
					{
					}
					else
					{
					//alert(data);
					}
				}
		   }
		dojo.xhrGet(xhrArgs1);

		
	
	
	var xhrArgs1 = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetyear/idprog/"+idprog,
			handleAs:'json',
			load:function(data){ 
				//alert(data);
				AutoFillNextEditableDropDown("Year",data); 
			}
	   }
	dojo.xhrGet(xhrArgs1);

	var xhrArgs2 = {
			url: "<?php echo $this->baseUrl();?>"+"/batchcandidates/fngetactiveset/idprog/"+idprog,
			handleAs:'text',
			load:function(data){ 
				//alert(data);
				document.getElementById('activeset').value = data;
			}
	   }
	dojo.xhrGet(xhrArgs2);

 }
}
 function fnGetCitylist(idstate)
 {
		//alert(idstate);
		var Program = dijit.byId("candidateprog");
         var year = dijit.byId("Year").value;
	 	var xhrArgs = {
	 			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetcitynames/idstate/"+idstate+"/Program/"+Program+"/idsecheduler/"+year,
	 			handleAs:'json',
	 			load:function(data){ 
	 			//alert(data);
	 				AutoFillNextEditableDropDown("NewCity",data); 
	 			}
	 	   }
	 	dojo.xhrGet(xhrArgs);
 }

 
 function fnGetMonth(idyear)
 {
		//alert(idyear);
		var Program = dijit.byId("candidateprog");
		//alert(Program);
		var xhrArgs = {
	 			url: "<?php echo $this->baseUrl();?>"+"/batchcandidates/fngetmonthslist/idyear/"+idyear+"/Program/"+Program,
	 			handleAs:'json',
	 			load:function(data){ 
	 			//alert(data);
	 				AutoFillNextEditableDropDown("NewMonth",data); 
	 			}
	 	   }
	 	dojo.xhrGet(xhrArgs);

		var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/batchcandidates/fngetstatename/idyear/"+idyear+"/Program/"+Program,
				handleAs:'json',
				load:function(data){ 
					//alert(data);
					AutoFillNextEditableDropDown("NewState",data); 
					 
				}
		   }
		dojo.xhrGet(xhrArgs);
 }

 function fnGetDays(idmonth)
 {
	 //alert(idmonth);
		var Year = dijit.byId("Year");
		var Program = dijit.byId("candidateprog");
		//alert(Year);
		var xhrArgs = {
	 			url: "<?php echo $this->baseUrl();?>"+"/batchcandidates/caleshowimport/idmonth/"+idmonth+"/Year/"+Year+"/Program/"+Program,
	 			handleAs:'text',
	 			load:function(data){ 
	 			//alert(data);
	 			document.getElementById('calender').innerHTML = data; 
	 			}
	 	   }
	 	dojo.xhrGet(xhrArgs);
 }

 function funct(day,month)
 {
 	//alert(day);
 //	alert(month);
 	
 	x=day+""+month;
 	//alert(x);

 	var selecteddate = day;
 	//alert(Examdate);
 	var selectedmonth=dijit.byId('NewMonth').value;
 	var selectedyear=dijit.byId('Year').value;

 	dijit.byId('Examdate').setValue(selecteddate);
 	for(i=1;i<=31;i++)
 	{
 	 	z = i+""+month;
 	 	//alert('forloop');
 	 	//alert(z);
 	 	if(document.getElementById(z))
 	 	document.getElementById(z).style.backgroundColor = '#FFFFFF';
 	}
 	document.getElementById('setdate').value = day;
 	document.getElementById('setmonth').value = month;
 	document.getElementById(x).style.backgroundColor = '#ff0000';
 	//document.getElementById(165).style.backgroundColor = '#8DB87C';

 }


 function fnGetVenuename(idcity)
 {
	 //alert(idcity);
		var Year = dijit.byId("Year");
		var Program = dijit.byId("candidateprog");
		//alert(Year);
		var xhrArgs = {
	 			url: "<?php echo $this->baseUrl();?>"+"/batchcandidates/fngetvenuedetails/Year/"+Year+"/Program/"+Program+"/idcity/"+idcity,
	 			handleAs:'json',
	 			load:function(data){ 
	 			//alert(data);
	 				AutoFillNextEditableDropDown("NewVenue",data);
	 			}
	 	   }
	 	dojo.xhrGet(xhrArgs);
 }


 
 function fnGetVenuename(idcity)
 {
	 //alert(idcity);
		var Year = dijit.byId("Year");
		var Program = dijit.byId("candidateprog");
		//alert(Year);
		var xhrArgs = {
	 			url: "<?php echo $this->baseUrl();?>"+"/batchcandidates/fngetvenuedetails/Year/"+Year+"/Program/"+Program+"/idcity/"+idcity,
	 			handleAs:'json',
	 			load:function(data){ 
	 			//alert(data);
	 				AutoFillNextEditableDropDown("NewVenue",data);
	 			}
	 	   }
	 	dojo.xhrGet(xhrArgs);


		 var Year = dijit.byId("Year");
			var Program = dijit.byId("candidateprog");
			 var idcity = dijit.byId("NewCity");
			 var venue = dijit.byId("NewVenue");

			 var day = dijit.byId("Examdate");
			 var month = dijit.byId("NewMonth");
			
			var xhrArgs = {
		 			url: "<?php echo $this->baseUrl();?>"+"/batchcandidates/fngetvenuesessiondetails/Year/"+Year+"/Program/"+Program+"/idcity/"+idcity+"/venue/"+venue+"/day/"+day+"/month/"+month,
		 			handleAs:'json',
		 			load:function(data){ 
		 			
		 				AutoFillNextEditableDropDown("Newsession",data);
		 			}
		 	   }
		 	dojo.xhrGet(xhrArgs);
 }

 function fnGetVenuesessionname(idcity)
 {

	 var Year = dijit.byId("Year");
		var Program = dijit.byId("candidateprog");
		 var idcity = dijit.byId("NewCity");
		 var venue = dijit.byId("NewVenue");

		 var day = dijit.byId("Examdate").value;
		 var month = dijit.byId("NewMonth");
		//alert(Year);
		//alert(Program);
		//alert(idcity);

		//alert(day);
		//alert(month);
		var xhrArgs = {
	 			url: "<?php echo $this->baseUrl();?>"+"/batchcandidates/fngetvenuesessiondetails/Year/"+Year+"/Program/"+Program+"/idcity/"+idcity+"/venue/"+venue+"/day/"+day+"/month/"+month,
	 			handleAs:'json',
	 			load:function(data){ 
	 			if(data=='')
	 			{
		 			alert("This Venue is Filled Plz change The Venue");
		 			//dijit.byId("Rem").setValue('');
	 			}
	 				AutoFillNextEditableDropDown("Newsession",data);
	 			}
	 	   }
	 	dojo.xhrGet(xhrArgs);
	 
 }
	
 
</script>
</head>
	<fieldset><?php $companyDetails = $this->companyDetails; ?>
		<legend><?php echo $this->translate("Batch").' '.$this->translate("Application");?></legend>
			<form dojoType="dijit.form.Form"  id="myForm"  action="" method="POST" enctype="multipart/form-data">
			 <script type="dojo/method" event="onSubmit">
                if (this.validate()) 
						{
               					 	var addcounts = document.getElementById('idss').value;
                					var addcount = addcounts-1;
              						 if(addcount == <?php echo $this->countparts;?>)
 									{
                   							return true;
									}
                                  else
                                   {
											alert("please add venue details for all the parts");
										 return false;
                                    }
                             return true;
					 
                } else {
                    return false;
                }
				</script>
								
								<table>
								  <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Add"); ?>" onclick="window.location.href='<?php echo $this->url(array('controller'=>'batchcandidates', 'action'=>'downloadfile'),'default',true);?>';" />	
								</table>
	    		 <table class="">
                    	 <tr>
                    	 <input type="hidden" value="<?php echo $this->idbatchss;?>" name="idbatch" id="idbatch">
                         	
                         	 <th><?php echo $this->translate("Course");?></th>
                             <th><?php echo $this->translate("year");?></th>
                         	 <th><?php echo $this->translate("state");?></th>
                         	
                         	 <th><?php echo $this->translate("Month");?></th>
                         	  <th><?php echo $this->translate("Calender");?></th>
                         	 <th><?php echo $this->translate("Exam Date");?></th>
                         	  <th><?php echo $this->translate("City");?></th>
                         	 <th><?php echo $this->translate("Venue");?></th>
                         	 <th><?php echo $this->translate("Exam Session");?></th>
                    	 </tr>                       
                         
                          		<?php  
                          		$raceresultarray = $this->programresult;?>
                          		<?php  $countrace = count($raceresultarray);?>
                          		
                          	
                         		       <tr>
												<td></td>
												<td></td> 
												<td></td>
												<td></td>
												                       		       
                         		       </tr>
                         		     <tr>   
                         		     
                         		     
                         		    <input type="hidden" name="candidatehiddentakaful" id="candidatehiddentakaful" value="">	
                         		     <td><select name="candidateprog" id="candidateprog"  dojoType="dijit.form.FilteringSelect" onChange="fngetstatedetails(this.value)">	
                         		      			 
                         		      				<option value="">Select</option>
                         		      			 <?php for($r=0;$r<$countrace;$r++):?>	
                         		      			 
                         		      				<option value="<?php echo $raceresultarray[$r]['key']?>"><?php echo $raceresultarray[$r]['value']?></option>
                         		      				<?php endfor?>
                         		      			 
                         		      				
                         		      		</select>
                         		      		
                         		      </td>
                         		      <td><select name="Year" id="Year"   dojoType="dijit.form.FilteringSelect" onChange="fnGetMonth(this.value);">	
                         		      				
                         		      	</select>
                         		      	</td>
                         		       <td><select name="NewState" id="NewState" dojoType="dijit.form.FilteringSelect"  onChange="fnGetCitylist(this.value);" >	
                         		      			 
                         		      				<option value="">Select</option>
                         		      				
                         		      	</select>
                         		      </td>
                         		      
                         		      	<td><select name="NewMonth" id="NewMonth" dojoType="dijit.form.FilteringSelect" onChange="fnGetDays(this.value);">	
                         		      			 
                         		      				<option value="">Select</option>
                         		      				
                         		      	</select>
                         		      </td>
                         		       <input type="hidden" id="setdate" name="setdate" value="">
                          				  <input type="hidden" id="setmonth" name="setmonth" value="">
                         		      <td><div style:"width=200px" id="calender"></div>
                         		      </td>
                         		      </td>
                         		      <td> <input type="text" name="Examdate" id="Examdate"    readOnly="true" dojoType="dijit.form.ValidationTextBox"  value=""></td>
                         		       <td><select name="NewCity" id="NewCity" dojoType="dijit.form.FilteringSelect" onChange="fnGetVenuename(this.value);">	
                         		      			 
                         		      				<option value="">Select</option>
                         		      				
                         		      	</select>
                         		      </td>
                         		       <td><select name="NewVenue" id="NewVenue" dojoType="dijit.form.FilteringSelect"  onChange="fnGetVenuesessionname(this.value);" >	
                         		      			 
                         		      				<option value="">Select</option>
                         		      				
                         		      	</select>
                         		      </td> 
                         		      <td><select name="Newsession" id="Newsession" dojoType="dijit.form.FilteringSelect" >	
                         		      			 
                         		      				<option value="">Select</option>
                         		      				
                         		      	</select>
                         		      	 </td> 
                         		      <td><input type="hidden" name="activeset" id="activeset" value="">
                         		      </td> 
                         		      	<td><input type="button" name="Add" onClick="addFormField(); return false;" value="Add" class="buttonStyle" dojoType="dijit.form.Button"  label="Add" ></a><input type="hidden" id="idss" value="1"> </td>
                         		           
                          </tr>
                           <tr>
                     
                           </tr>
                           <tbody id="divTxt"> 
                           
			                </tbody>
			          <tr>
                         		        
                         		     
                         		  <?php  $count++;?>      
                         		  
                         		   
                           <tr>   
	                                                
                            <td colspan="5"><?php // echo 'Note:The minimum age to apply for the exam is'.$this->minages;?>
                            
                        </tr>                      
	                     <tr>   
	                                                
                            <td colspan="24" align="right"><?php  echo $this->lobjBatchcandidatesForm->Save;?>
                            <input type="button" name="Close" class="buttonStyle" onClick="Closefn(); return false;" value="Close" dojoType="dijit.form.Button"  label="Close" >	</td>
                        </tr>     
	          </table>
	          </div>
           </form>
       </fieldset>                
	  
