<html>
<head>
<script type="text/javascript">
function fnhidebtn()
{
	document.getElementById('btnsave').style.display='none';
}
function goback(idcompany)
{
 window.location = "<?php echo $this->baseUrl();?>"+"/registrations/companystudentdetails/companystudentlist/idcompany/"+idcompany;
//window.location.href=<?php echo $this->baseUrl();?>/registrations/companystudentdetails/companystudentlist/idcompany/<?php echo $this->Idcompany; ?>;
}
</script>
</head>
<body class="claro">    
		<fieldset >
	<legend><?php echo $this->translate->_("Company Details");?></legend>
		 <form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm" >
			<script type="dojo/method" event="onSubmit" >
                if (this.validate()) {
				 fnhidebtn();
					return true;
                } else {
                    return false;
                }
				</script>	
			
				
	    	   <table class="table" width="100%" >
                    	<tr>
                          <th colspan = "4"><?php echo $this->translate("Company Payment Details");?></th>
                     </tr>
                  <tr>         							                        
         			  <td class="label" ><?php echo $this->translate->_("Company Name")?></td>
        			  <td colspan="3"><?php echo $this->CompanyName;?><?php echo $this->lobjCompanyapprove->UpdDate;?><?php echo $this->lobjCompanyapprove->UpdUser;?></td>
        			</tr> 
        			 <tr>         							                        
         			  <td class="label" ><?php echo $this->translate->_("Registration Pin")?></td>
        			  <td colspan="3"><?php echo $this->RegistrationPin;?></td>
        			</tr>        			 
        			 <tr>         							                        
         			  <td class="label" ><?php echo $this->translate->_("Total Candidates")?></td>
        			  <td colspan="3"><?php echo $this->Totalno;?></td>
        			</tr> 
					
					
					<tr>         							                        
         			  <td class="label" ><?php echo $this->translate->_("Reference Number")?></td>
        			  <td colspan="3"><?php echo $this->lobjCompanyapprove->ChequeNo;?></td>
        			</tr> 
					<tr>         							                        
         			  <td class="label" ><?php echo $this->translate->_("Date")?></td>
        			  <td colspan="3"><?php echo $this->lobjCompanyapprove->ChequeDt;?></td>
        			</tr> 
					
        			<tr>		        	
      			      <td class="label"><?php echo $this->translate->_("Amount(RM)")?></span><span class="reqMark">*</span></td>
        			  <td colspan="3"><?php echo $this->lobjCompanyapprove->Amount;?></td>		
        		    </tr>	
        		       <input type="hidden" name="Idbatch" id="Idbatch" value="<?php echo $this->Idbatch;?>">
        		       <input type="hidden" name="Idcompany" id="Idcompany" value="<?php echo $this->Idcompany;?>">
					    <input type="hidden" name="regpin" id="regpin" value="<?php echo $this->RegistrationPin;?>">
        		     <tr>
                       <td></td>
                       <td></td>
                       <td></td>        
                       <td align = "right" id='btnsave'><?php echo $this->lobjCompanyapprove->Save;?>
					   <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="goback('<?php echo $this->Idcompany;?>')" />	
                       </td> 
                    </tr>       
            </table>
		</form>
	</fieldset>
</body>
</html>
          