
<head>
<script>
dojo.addOnLoad(function(){
	dijit.byId('field3').focus();	
	});
</script>
</head>
<fieldset>
<legend><?php echo $this->translate->_("Company Confirm for IBFIM");?></legend>
<form dojoType="dijit.form.Form"  id="initconfigForm" name="form1" method="post" action="<?php echo $this->baseUrl();?>/finance/companyapprove/index/search/1">
	    	<table width="100%">	    		
      			<tr>
      			
         			<td class="label"><?php echo $this->translate->_("Company Name")?></td>
        			<td><?php echo $this->lobjCompanyapprove->CompanyName?></td>        			   	
      			</tr>      			   
		      	<tr>
	               <td align = "center" colspan = "4">
						<?php echo $this->lobjCompanyapprove->Search;?>
						<?php echo $this->lobjCompanyapprove->Clear;?>
				   </td>
				</tr>      	
	        </table>		

</fieldset>
	<?php  if (count($this->paginator)): ?> 
<br />
<fieldset>
  	<table class="table" width="100%" cellpadding="5" cellspacing="1">
		<thead>
    		<tr>
				<th><?php echo $this->translate->_("Company Name");?></th>				
				<th><?php echo $this->translate->_("Short Name")?></th>
				<th><?php echo $this->translate->_("RegistrationPin")?></th>
			    <th><?php echo $this->translate->_("Mode Of Payment")?></th>
				 <th><?php echo $this->translate->_("Total Candidates")?></th>
			    <th><?php echo $this->translate->_("Amount(RM)")?></th>
			   
									
    		</tr>
    	</thead>
    
    	<tbody>       	            
            <?php 		foreach ($this->paginator as $lobjcategory ): // ($this->accountdetails as $lobjcategory ): ?>
            <tr>  
          		<td><a href="<?php echo $this->url(array('module'=>'finance','controller'=>'companyapprove', 'action'=>'edit' , 'idbatch'=>$lobjcategory['IDApplication']),'default',true);?>" ><?php  echo $lobjcategory['CompanyName'];?></a></td>
          		<td><?php  echo $lobjcategory['ShortName'];?><?php echo $this->lobjCompanyapprove->UpdDate;?><?php echo $this->lobjCompanyapprove->UpdUser;?></td>
          		<td><?php  echo $lobjcategory['registrationPin'];?></td>
          		<td><?php echo $this->translate->_("Credit/Bank to IBFIM account") ;?></td>
     		    <td><?php  echo $lobjcategory['totalNoofCandidates'];?></td>
				<td><?php  echo $lobjcategory['totalAmount'];?></td>
     		</tr>
     		<?php  endforeach; ?>
     	
     	</tbody>		
     		<tr>
	        	
   			</tr>
      </table>
   </fieldset> 
   	 <?php  endif; ?>
   </html>
