<head>
<script type="text/javascript" src="<?php echo $this->baseUrl();?>/js/jquery-1.4.3.js"></script>
<Script type="text/javascript">
dojo.addOnLoad(function(){
		});
function fncheckvalue()
{
	var fmarks = dijit.byId('Marksfrom').value;
	fmarks = parseInt(fmarks);
	var tmarks = dijit.byId('Marksto').value;
	tmarks = parseInt(tmarks);
	if(tmarks<fmarks)
		{
		 alert ("Questions To field cannnot be less than From Questions.Select the Correct range ");
		 dijit.byId('Marksfrom').set('value',1);
		 dijit.byId('Marksto').set('value',1);
	    }
}

function fnloadLoader() {
   
        //alert("hai");
    	//document.getElementById("dvloader").style.display = 'block';
    	//$("#dvloader").show();
    	//$(".block1").load("views/changepass.template.php", function(){ $("#dvloader").hide(); });
    	//return false;
    
}
</script>

<style>
#widget_Marksfrom{
width: 8em;
}
#widget_Marksto{
width: 8em;
}
#widget_Questiongroup{
width: 8em;
}
#widget_Questionstatus{
width: 8em;
}
</style>	
</head>
<body class='claro'>

<fieldset>
	<legend><?php echo $this->translate("ExamQuestions").' '.$this->translate("Report");?></legend>
	<div class="search" style="margin-left:20px;">
 		<form dojoType="dijit.form.Form"  id="myForm" action="" method="POST" > 
 		  <script type="dojo/method" event="onSubmit">
             if (this.validate()){
					var fmarks = dijit.byId('Marksfrom').value;
					fmarks=parseInt(fmarks);
					var tmarks = dijit.byId('Marksto').value;
					tmarks=parseInt(tmarks);
					if(tmarks<fmarks)
					{
					 alert ("Questions To field cannnot be less than From Questions.Select the Correct range");
		 			 dijit.byId('Marksfrom').set('value',1);
		 			 dijit.byId('Marksto').set('value',1);
                     return false;
	    			}
					return true;
                } else {
                   return false;
               }
			</script>
		<table width="100%">
				<tr>
                    <td><?php echo $this->translate("Questions Group")?></td>
                    <td><?php echo $this->lobjform->Questiongroup;?></td>
                    <td><?php echo $this->translate("Questions Status")?></td>
                    <td><?php echo $this->lobjform->Questionstatus;?></td>
                </tr>
				<tr>
                    <td><?php echo $this->translate("Questions From")?></td>
                    <td><?php echo $this->lobjform->Marksfrom;?></td>
                    <td><?php echo $this->translate("Questions To")?></td>
                    <td><?php echo $this->lobjform->Marksto;?></td>
                </tr>
                <tr>
                 <td></td>  
                 <td></td>             
                 <td >
                     <?php echo $this->lobjform->Search;?>
                      <?php echo $this->lobjform->submit;?>
					<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Clear"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'reports','controller'=>'examquestions','action'=>'index'),'default',true);?>';" />
				</td>
               </tr>
		</table>
	</form>	
		</div>
	</fieldset>
	<br/>
	<div  style="display:none" id="dvloader"><img src="<?php  echo $this->baseUrl();?>/images/loading.gif" /></div>
	
	<?php 
	if(isset($this->displayquestions)){?>
	<fieldset>
		<?php 
		if(count($this->displayquestions)!=0){
		$displayquestions=$this->displayquestions;
		$this->lobjExammarksModel = new Reports_Model_DbTable_Examquestions();?>
		<h3 style="text-align:right;">Total Questions=<?php echo count($this->displayquestions);?></h3>
		<?php for($i=1,$s=0;$i<=count($displayquestions),$s<count($displayquestions);$s++,$i++) { ?>
			
			<table >
	  			<tr>
     				<td valign="top" ><?php echo "Q".$i.'.'?>&nbsp;<?php echo $displayquestions[$s]['idquestions'].')'?></td>
					<td align="left"><?php echo trim($displayquestions[$s]['Question'])?><br></td>
	  			</tr>
	  		</table>
	  		<br/>
	  		<?php 
            $larranswers = $this->lobjExammarksModel->fndisplayanswersforquestions($displayquestions[$s]['idquestions']);
            for($d=1,$a=0;$d<=count($larranswers),$a<count($larranswers);$d++,$a++){?>
            <table>
				<tr>
					<td valign="top">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<?php echo ('A'.$i.'.'.$larranswers[$a]['idanswers']).')';?></td>
					<td><?php echo $larranswers[$a]['answers'];?><br></td>
					<?php if($larranswers[$a]['CorrectAnswer']==1){?>
						<td style="background-color:green;">Correct Answer</td>
					<?php }?>
				</tr> 
				 
			</table>
			<br/>
       		<?php }
       		
		}?>
		
		<?php }else{?>
			<p align="center" style="font-weight:bold;">Results not Found for the Your Search Criteria.</p>
		<?php }
		?>
	</fieldset>
	<?php }?>

	 
<br>
</body>
</html>
