<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<link href="<?php  echo $this->baseUrl();?>/css/calendar.css" rel="stylesheet" type="text/css" />   
<script type="text/javascript">
dojo.addOnLoad(function() {
	var Program = dijit.byId("Coursename");
	fngetstatedetails(Program);

});
function fngetstatedetails(idprog)
{
	
	var xhrArgs1 = {
			url: "<?php echo $this->baseUrl();?>"+"/general-setup/newscreen/newfngetyear/idprog/"+idprog,
			handleAs:'json',
			load:function(data){ 
				
				AutoFillNextEditableDropDown("schedulerename1",data); 
			}
	   }
	dojo.xhrGet(xhrArgs1);

 
}


function newcitylistss(year)
{
	if(year>1)
	{
		var Program = dijit.byId("Coursename");
		var year = dijit.byId("schedulerename1").value;
	
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/general-setup/newscreen/newfngetcitynames/Program/"+Program+"/year/"+year,
			handleAs:'json',
			load:function(data){ 
				document.getElementById('calender').innerHTML='';
				AutoFillNextEditableDropDown("newexamcity",data); 
				
				
			}
	   }
	dojo.xhrGet(xhrArgs);

	}

	
	
}


function fngetstatelist()
{
	var year = dijit.byId("schedulerename1").value;
	//alert(year);
	var Program = dijit.byId("Coursename");
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/general-setup/newscreen/fngetstatename/year/"+year+"/Program/"+Program,
			handleAs:'json',
			load:function(data){ 
				//document.getElementById('calender').innerHTML="";
				AutoFillNextEditableDropDown("newexamstate",data); 
				 
			}
	   }
	dojo.xhrGet(xhrArgs);

	exp='<?php echo $this->exp;?>';

	expiredate='<?php echo $this->examdateDate;?>';

if(exp==1)
{
	var xhrArgs3 = {
			url: "<?php echo $this->baseUrl();?>"+"/general-setup/newscreen/fngetmonthname/year/"+year+"/Program/"+Program+"/expiredate/"+expiredate,
			handleAs:'json',
			load:function(data){ 
				AutoFillNextEditableDropDown("newexammonth",data); 
				//dijit.byId("newexammonth").setValue(data);
			}
	   }
	dojo.xhrGet(xhrArgs3);
}	
else
{
	var xhrArgs3 = {
			url: "<?php echo $this->baseUrl();?>"+"/general-setup/newscreen/fngetmonthnamevalid/year/"+year+"/Program/"+Program+"/expiredate/"+expiredate,
			handleAs:'json',
			load:function(data){ 
				AutoFillNextEditableDropDown("newexammonth",data); 
				//dijit.byId("newexammonth").setValue(data);
			}
	   }
	dojo.xhrGet(xhrArgs3);	
}
		
	
}


function fnGetCitylist(idstate)
{
	//alert('asdf');
	
	var Program = dijit.byId("Coursename");
	var year = dijit.byId("schedulerename1").value;
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/general-setup/newscreen/fngetcitynames/idstate/"+idstate+"/Program/"+Program+"/idsecheduler/"+year,
			handleAs:'json',
			load:function(data){ 
				//document.getElementById('calender').innerHTML;
				AutoFillNextEditableDropDown("newexamcity",data); 
				//showcalender()
			}
	   }
	dojo.xhrGet(xhrArgs);
}





function funct(day,month)
{
///////////////scheduler exception/////////////////

	var year = dijit.byId("schedulerename1");
	document.getElementById('newexamdates').value=day;

	var city = dijit.byId("newexamcity");
	
	var flagssss=0;
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/general-setup/newscreen/schedulerexception/day/"+day+"/month/"+month+"/city/"+city+"/year/"+year,
			handleAs:'text',
			load:function(data){
				 if(data == '')
				 {
						

					//////////////////////////////////////////////	
					 var Program = dijit.byId("Coursename");
						
					
					
						var idap = <?php echo $this->id;?>;
						var xhrArgs = {
								url: "<?php echo $this->baseUrl();?>"+"/general-setup/newscreen/tempdays/day/"+day+"/month/"+month+"/year/"+year+"/city/"+city+"/Program/"+Program,
								handleAs:'text',
								load:function(data){ 
									//alert(data)
									//document.getElementById(data).style.backgroundColor = '#FFFFFF';
									
									
									document.getElementById('divLogin').style.display = 'block';
									document.getElementById('divLogin2').style.display = 'block';


									
									if(eval(data)!=0)
									{		idsechduler=data;	
									document.getElementById('hiddenscheduler').value = data;				
										var xhrArgs = {
									 			url: "<?php echo $this->baseUrl();?>"+"/general-setup/newscreen/selectvenue/day/"+day+"/month/"+month+"/year/"+year+"/city/"+city+"/idsechduler/"+idsechduler,
									 			handleAs:'text',
									 			load:function(data)
									 			{ 
									 			
									 				document.getElementById('contentdiv').innerHTML = data;
										 			//dijit.byId('idsession1').attr('checked','true');
										            ca= 1;//dijit.byId('idsession1').value;
										            fngettheVenues(ca,1);
									 			}
									 	   }
										dojo.xhrGet(xhrArgs);

										}
									else
									{
										alert("The Seats are full for this date In this City ,Please Change Date Or City ")
										document.getElementById('newexamdates').value ='';
										//document.getElementById('setmonth').value = '';
										//alert(x);
										//document.getElementById(x).style.backgroundColor = '#FEFFBF';
									}
								}
						   }
						dojo.xhrGet(xhrArgs);
						
				 }
				 else
				 { 
					 
					alert(data);
					//document.getElementById('newexamdates').value ='';
					//var flagssss=1;
				 }
				
			}
	   }
	dojo.xhrGet(xhrArgs);

	
}



function fndisplaycalender(city)
{
	
	
	var Program = dijit.byId("Coursename");
	var year = dijit.byId("schedulerename1");

	
	var NewCity = dijit.byId("newexamcity");
	
	if(city == '')
	{
		document.getElementById('calender').innerHTML="";
	}
	document.getElementById('calender').innerHTML="";
	
	document.getElementById('sessiondays').innerHTML = ""; 

	if(year>0 && city!='')
	{
	//var NewCity = dijit.byId("NewVenue");

		applieddate='<?php echo $this->examdateDate;?>';
		//alert(applieddate);

		expiredate='<?php echo $this->exp;?>';
	         // alert(expiredate);

		if(expiredate==1)
		{
			
			var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/general-setup/newscreen/newfnnewmonthslistvalidate/Program/"+Program+"/NewCity/"+city+"/year/"+year+"/applieddate/"+applieddate,
					handleAs:'json',
					load:function(data){ 
						AutoFillNextEditableDropDown("newexammonth",data); 
					}
			   }
			dojo.xhrGet(xhrArgs);
	}

	else
	{
		var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/general-setup/newscreen/newfnnewmonthslistvalidate/Program/"+Program+"/NewCity/"+city+"/year/"+year+"/applieddate/"+applieddate,
				handleAs:'json',
				load:function(data){ 
					AutoFillNextEditableDropDown("newexammonth",data); 
				}
		   }
		dojo.xhrGet(xhrArgs);
		
	}



		
	}
}


function fnShowCalendarnew(idmonth)
{
	
	//alert('asdf');
	// dijit.byId("Examdate"+no).setValue('');

		var Program = dijit.byId("Coursename");
		var Year = dijit.byId("schedulerename1");
		var NewCity = dijit.byId("newexamcity");
		//alert(Year);
		if(idmonth == 0)
	 	{
	 		var NewCity = dijit.byId("NewVenue");
	 		fndisplaycalender(NewCity);
	 	}
		else
		{
			applieddate='<?php echo $this->examdateDate;?>';
			  //alert(applieddate);

			expiredate='<?php echo $this->exp;?>';
		        //  alert(expiredate);

			
				
				var xhrArgs = {
			 			url: "<?php echo $this->baseUrl();?>"+"/general-setup/newscreen/caleshowmonth/idmonth/"+idmonth+"/Year/"+Year+"/Program/"+Program+"/applieddate/"+applieddate+"/NewCity/"+NewCity,
			 			handleAs:'text',
			 			load:function(data)
			 			{ 
			 			//alert(data);
			 			document.getElementById('calender').innerHTML = data; 
			 			}
			 	   }
			 	dojo.xhrGet(xhrArgs);


				var xhrArgs = {
			 			url: "<?php echo $this->baseUrl();?>"+"/general-setup/newscreen/fngetmonthofsession/idmonth/"+idmonth+"/Year/"+Year+"/Program/"+Program+"/NewCity/"+NewCity,
			 			handleAs:'text',
			 			load:function(data)
			 			{ 
				 			if(data==1)
				 			{
				 				document.getElementById('sessiondays').innerHTML = '<table><tr><td> <B>1 SESSIONS :</B></td><td><div style="background-color:green;width:50px;height:20px;align:right;"></div></td></tr></table>'; 
				 			}
				       if(data==2)
				 			{
				    	   document.getElementById('sessiondays').innerHTML = '<table><tr><td> <B>1 SESSIONS :</B></td><td><div style="background-color:green;width:50px;height:20px;"></div></td><td>  <B>2 SESSIONS :</B> </td><td> <div style="background-color:skyblue;width:50px;height:20px;"></div></td></tr></table>'; 	
				 			}
				 		if(data==3)
				 			{
				 			document.getElementById('sessiondays').innerHTML = ' <table><tr><td> <B>1 SESSIONS :</B></td><td><div style="background-color:green;width:50px;height:20px;"></div></td><td>  <B>2 SESSIONS :</B> </td><td> <div style="background-color:skyblue;width:50px;height:20px;"></div></td><td><B>3 SESSIONS :</B></td><td> <div style="background-color:violet;width:50px;height:20px;"></div></td></tr></table>';
				 			}
				 		 if(data==4)
				 			{
					 			document.getElementById('sessiondays').innerHTML = '<table><tr><td>  <B>1 SESSIONS :</B></td><td><div style="background-color:green;width:50px;height:20px;"></div> </td><td> <B>2 SESSIONS :</B></td><td> <div style="background-color:skyblue;width:50px;height:20px;"></div></td><td><B>3 SESSIONS :</B> </td><td> <div style="background-color:violet;width:50px;height:20px;"></div></td><td><B>4 SESSIONS :</B> </td><td><div style="background-color:pink;width:50px;height:20px;"></div></td></tr></table>';
				 			}
				 		
			 			//alert(data);
			 			//document.getElementById('sessiondays').innerHTML = data; 
			 			}
			 	   }
			 	dojo.xhrGet(xhrArgs);


			
		
		}




		
	 	
}

function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}


function Closefn()
{
	document.getElementById('divLogin').style.display = 'none';
	document.getElementById('divLogin2').style.display = 'none';
}



function fnhidebtn()
{
	document.getElementById('btnsave').style.display='none';
}

</script> 
</head>
<body>

	<fieldset>
	           
				<table width="100%" class="table">
					 <tr>
                         <th colspan = "4"><?php echo $this->translate('Personal Details')?></th>
                     </tr>
                      <tr>
			               <td><?php echo $this->translate("Candidate Name :");?></td>
			               <td><?php echo $this->Fname;?></td>
			                    <td><?php echo $this->translate("ICNO :");?></td>
			               <td><?php echo $this->ICNO;?></td>
			              
		             </tr>
		        
		                  <tr>
			          
			                <td><?php echo $this->translate("Email Id :");?></td>
			               <td><?php echo $this->EmailAddress;?></td>
			               <td><?php echo $this->translate("Applied Date :");?></td>
			               <td><?php echo $this->AppliedDate;?></td>
		             </tr>
		             
		                  <tr>
		                  
		                     <td><?php echo $this->translate("Mode Of Payment");?></td>
			               <td><?php echo $this->lobjnewscreenForm->paymentmode;?></td>
			               <td><?php echo $this->translate("Payment Status");?></td>
			               <td><?php echo $this->lobjnewscreenForm->Payment;?></td>
		             </tr>
		             	</table>

	            </fieldset> 
            </br>
				<fieldset>
				<table  width="100%" class="table" >
				
				<tr>
                         <th colspan = "2"><?php echo $this->translate('Exam Schedule Details')?></th>
                     </tr>
                   
                     <tr>
                       	<td width="35%"><?php echo $this->translate("Course Name");?></td>
			            <td><?php echo $this->lobjnewscreenForm->Coursename;?></td>
		             </tr>
		             <tr>
		                  <td><?php echo $this->translate("Exam Venue");?></td>
			               <td><?php echo $this->lobjnewscreenForm->Venues;?></td>
			          </tr>
		              <tr>
		                  
			               <td><?php echo $this->translate("Exam Date");?></td>
			               <td><?php echo $this->lobjnewscreenForm->Examdate;?></td>
			              
		             </tr>
		          
		                 <tr>
			                <td><?php echo $this->translate("Exam Session");?></td>
			               <td><?php echo $this->lobjnewscreenForm->examsession;?></td>
		             </tr>
		              <tr>
		                 <td><?php echo $this->translate("Schedule");?></td>
			               <td><?php echo $this->lobjnewscreenForm->schedulerename;?></td>
		             </tr>
		            
		        
				</table>

	            </fieldset> 
            </br>
				<fieldset>
				<Form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">
				 <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
                       fnhidebtn();
					return true;
                } else {
                    return false;
                }
				</script>
				<table width="100%" class="table">
				<input type="hidden" id="IDApplication" name='IDApplication' value="<?php echo $this->id;?>">
				      <tr>
                         <th colspan = "2"><?php echo $this->translate('Candidate changed Details')?></th>
                     </tr>
                   
                    <tr>
                       <td width="35%"><?php echo $this->translate("Course Name");?></td>
			               <td><?php echo $this->lobjnewscreenForm->Coursename1;?></td>
		             </tr>
		             <tr>
			                 <td><?php echo $this->translate("Year");?></td>
			               <td><?php echo $this->lobjnewscreenForm->schedulerename1;?></td>
			             
		             </tr>
		   
		              <tr>
			                 <td><?php echo $this->translate("New Exam Venue");?></td>
			               <td><?php echo $this->lobjnewscreenForm->newexamcity;?></td>
			             
		             </tr>
		             
		               <tr>
		                  <td><?php echo $this->translate("Exam Month");?></td>
			               <td><?php echo $this->lobjnewscreenForm->newexammonth;?></td>
			               </tr>
			            <tr >
			            	<td></td>
			                 <td ><div id="sessiondays" width="100%"></div></td>
			             
			             
		             </tr>
		            
		                
			                 <tr>
			                
                             <td colspan="2">
                             
                                   
                             <div align="left "id="calender" >  
                             </div>         
                              </td>              
                          </tr>  
                          <input type="hidden" id="newexamdates" name='newexamdates' value="">
                         
		         <input type="hidden" name="hiddenscheduler" id="hiddenscheduler" value="">
		             <tr>
		                            
		                   <td  colspan="2" align="right">
		                   <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo "Back";?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'general-setup','controller'=>'newscreen', 'action'=>'index'),'default',true);?>';" /><td>
  		            
  		              </tr> 
				</table>
					<div runat="server" id="divLogin"  style="display:none; z-index: 153; position: absolute; left: 30%; width: 650px; top: 15%;">
					                <asp:Panel runat="server" ID="popupLogin">
					                    <asp:Panel runat="server" ID="popupContent1">
					                        <table style="height: 125px; width: 100%; background-color: #FFFFFF;" border="3"   frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">
					                                    	<div id="contentdiv"></div>
					                                      
					                                   </td>
					                                </tr>
					                                <tr>
					                                    <td colspan="2" align="left">
					                                        <asp:Label ID="lblmandatory" runat="server" Text="* Mandatory Information Required"
					                                            class="LeftLabelStyle" Width="350px" />
					                                    </td>
					                                </tr>
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
					            </div>
	<div runat="server" id="divLogin2"  style="display:none; opacity:0.4; z-index: 150; position: absolute; left: 0%; height: 100%; width: 100%; top: 0%;">
					                <asp:Panel >
					                    <asp:Panel  >
					                        <table style="height: 100%; width: 100%; background-color: #000000;" border="3"   frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">
					                                    	
					                                      
					                                   </td>
					                                </tr>
					                               
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
					            </div>
					                                </tr>
					                               
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
</div>	
				</Form> 
</fieldset>
</body>
</html>