<html>
<head>
</head>
<body class="claro">            
	<fieldset >
	<legend><?php echo $this->translate->_("Student Data");?></legend>
		 <form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm" >
			<script type="dojo/method" event="onSubmit" >
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>		
	    	   <table class="table" width="100%" >
                    	
                    <tr>         							                        
         			  <td class="label" ><?php echo $this->translate->_("Student Name")?><span class="reqMark">*</span></td>
        			  <td colspan="3"><?php echo $this->studentname;?></td>
        			</tr>
        			<tr>		        	
      			      <td class="label"><?php echo $this->translate->_("Amount")?></span><span class="reqMark">*</span></td>
        			  <td colspan="3"><?php echo $this->lobjStudentpaymentForm->Amount;?></td>		
        		    </tr>	
        		    <input type="hidden" value="<?php echo $this->idstudent;?>" name="studentid" id="studentid">
        		     <input type="hidden" value="<?php echo $this->studentemail;?>" name="studentemail" id="studentemail">
        		     <input type="hidden" value="<?php echo $this->studentname;?>" name="studentname" id="studentname">
		      	    <tr>
                       <td></td>
                       <td></td>
                       <td></td>        
                       <td align = "right"><?php echo $this->lobjStudentpaymentForm->Save;?>
					   <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'general-setup','controller'=>'studentpayment', 'action'=>'index'),'default',true);?>';" />	
                       </td> 
                    </tr>       
            </table>		
		</form>
	</fieldset>
</body>
</html>
          