<head>
	<script type="text/javascript">
		        
	function fngetstudentdetails(idcenter,idprogram,idsession,examdate,type) {
		var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/examination/examreport/reportdetails/idcenter/"+idcenter+"/idprogram/"+idprogram+"/idsession/"+idsession+"/examdate/"+examdate+"/type/"+type,
				handleAs:'text',
				load:function(data){ 
					document.getElementById('contentdiv').innerHTML = data;
					document.getElementById('divLogin').style.display = 'block';
					document.getElementById('prgmdetails').style.display = 'block';
				}
		   }
		dojo.xhrGet(xhrArgs);
	}

	function closebox() {
		document.getElementById('contentdiv').innerHTML = "";
		document.getElementById('divLogin').style.display = 'none';
		document.getElementById('prgmdetails').style.display = 'none';
	}	        
	</script>  
</head>
<body class='claro'>

<div>
<fieldset>
	<legend><?php echo $this->translate("Venue Result Exel Creation");?></legend>
 		<form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/venueresultxlcreation/index/search/1" method="POST">
 			<script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
			</script>
		<table width="100%" >		
			<!--  	
				<tr>
					<td><?php //echo $this->translate("Candidate").' '.$this->translate("Name") ?></td>
					<td><?php //echo $this->lobjform->Studentname;?></td>
					<td><?php //echo $this->translate("IC NO") ?></td>
					<td><?php //echo $this->lobjform->ICNO;?></td>
				</tr>
			-->				
		        <tr>
                    <td><?php echo $this->translate("Exam").' '.$this->translate("").' '.$this->translate("Date") ?></td>
                    <td><?php echo $this->lobjform->Date;?></td>                   
                    <td><?php //echo $this->translate("Course").' '.$this->translate("Name") ?></td>
                    <td><?php //echo $this->lobjform->Coursename;?></td>
                </tr>			
		        <tr>                      
                  	<td><?php //echo $this->translate("Session") ?></td>
                    <td><?php //echo $this->lobjform->examsession;?></td>
                </tr>                        
				 <tr>
				 	<td colspan="4" align="center">
				 		<?php echo $this->lobjform->Search;?>
				 		<?php echo $this->lobjform->Clear;?>
					</td>
               </tr>
		</table>
	</form>	
	</fieldset> 
</div>
</br>

   <?php   if (count($this->paginar)):  ?>
       <br>
       <fieldset>       
       <?php $centerarray = array();?>
    <table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr>
        <th><?php echo $this->translate("Venue") ?></th>
        <th><?php echo $this->translate("Program") ?></th>
        <th><?php echo $this->translate("Session") ?></th>
        <th><?php echo $this->translate("Start Time") ?></th>
        <th><?php echo $this->translate("Extra Time(Min)") ?></th>
        <th><?php echo $this->translate("Close Time") ?></th>
        <th><?php echo $this->translate("Auto Close Time") ?></th>
        <th><?php echo $this->translate("Exam Date (dd-mm-yyyy)") ?></th>
        <th><?php echo $this->translate("Registered") ?></th>
        <th><?php echo $this->translate("Approved") ?></th>
        <th><?php echo $this->translate("Attended") ?></th>
        <th><?php echo $this->translate("Absent") ?></th>
        <th><?php echo $this->translate("Pass") ?></th>
        <th><?php echo $this->translate("Fail") ?></th>
    </tr>
        
       
      
   	<?php if (count($this->paginar)): ?>
	<?php foreach ($this->paginar as $lobjexamreport ): ?> 
    <tr>
    <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
         <td>
         	<?php if(!in_array($lobjexamreport['idcenter'],$centerarray)){
				$centerarray[] = $lobjexamreport['idcenter'];		
				$centerarrays[$lobjexamreport['idcenter']] = array();
				print_r($this->escape($lobjexamreport['centername']));
			}?>
		 </td>
         <td>
			<?php if(!in_array($lobjexamreport['ProgramName'],$centerarrays[$lobjexamreport['idcenter']])){
					$centerarrays[$lobjexamreport['idcenter']][] = $lobjexamreport['ProgramName'];
					$centerarrayss[$lobjexamreport['idcenter']][$lobjexamreport['IdProgrammaster']] = array();;								
					 print_r($this->escape($lobjexamreport['ProgramName']));
			}?>
		 </td>
         <td>
			<?php if(!in_array($lobjexamreport['managesessionname'],$centerarrayss[$lobjexamreport['idcenter']][$lobjexamreport['IdProgrammaster']])){
					$centerarrayss[$lobjexamreport['idcenter']][$lobjexamreport['IdProgrammaster']][] = $lobjexamreport['managesessionname'];								
					print_r($this->escape($lobjexamreport['managesessionname']));
			}?>
         </td> 
         
         <?php if($lobjexamreport['ExamStartTime'] == "" || $lobjexamreport['ExamStartTime'] == NULL) { ?>
         	<td>00:00:00</td>
         <?php } else {?>
         <td>
			<?php if(!in_array($lobjexamreport['ExamStartTime'],$centerarrayss[$lobjexamreport['idcenter']][$lobjexamreport['IdProgrammaster']])){
					$centerarrayss[$lobjexamreport['idcenter']][$lobjexamreport['IdProgrammaster']][] = $lobjexamreport['ExamStartTime'];								
					print_r($this->escape($lobjexamreport['ExamStartTime']));
			}?>
		</td>
		<?php } ?>
		
		<?php $this->lobjexamreport = new Examination_Model_Examreports();?>
        <?php $larrresultextratime = $this->lobjexamreport->fnGetExtratime($lobjexamreport['idcenter'],$lobjexamreport['idmangesession'],$lobjexamreport['exdate']);?>
		<?php if(!empty($larrresultextratime)) { ?>
			<td><?php echo $larrresultextratime['Gracetime'];?></td>
		<?php } else { ?>	
			<td>0</td>
		<?php }?>	


         <?php if($lobjexamreport['CloseTime'] == "" || $lobjexamreport['CloseTime'] == NULL) { ?>
         	<td>00:00:00</td>
         <?php } else {?>	
         <td>
			<?php if(!in_array($lobjexamreport['CloseTime'],$centerarrayss[$lobjexamreport['idcenter']][$lobjexamreport['IdProgrammaster']])){
					$centerarrayss[$lobjexamreport['idcenter']][$lobjexamreport['IdProgrammaster']][] = $lobjexamreport['CloseTime'];								
					print_r($this->escape($lobjexamreport['CloseTime']));
			}?>
		</td>
		<?php }?>
		
		
         <?php if($lobjexamreport['AutoSubmitCloseTime'] == "" || $lobjexamreport['AutoSubmitCloseTime'] == NULL) { ?>
         	<td>00:00:00</td>
         <?php } else {?>	
         <td>
			<?php if(!in_array($lobjexamreport['AutoSubmitCloseTime'],$centerarrayss[$lobjexamreport['idcenter']][$lobjexamreport['IdProgrammaster']])){
					$centerarrayss[$lobjexamreport['idcenter']][$lobjexamreport['IdProgrammaster']][] = $lobjexamreport['AutoSubmitCloseTime'];								
					print_r($this->escape($lobjexamreport['AutoSubmitCloseTime']));
			}?>
		</td>
		<?php } ?>

         <td><?php print_r($this->escape($lobjexamreport['ExamDate']));?></td>
         
         <td><a href="#" onclick="fngetstudentdetails('<?php echo $lobjexamreport['idcenter'];?>','<?php echo $lobjexamreport['IdProgrammaster'];?>','<?php echo $lobjexamreport['idmangesession'];?>','<?php echo $lobjexamreport['exdate'];?>','registered')"><?php print_r($this->escape($lobjexamreport['Registered']));?></a></td>
         <?php $registeredsum[] = $this->escape($lobjexamreport['Registered']);?>
         
         <?php $larrresultApprovedStudents = $this->lobjexamreport->fnGetCountOfApprovedStudents($lobjexamreport['idcenter'],$lobjexamreport['IdProgrammaster'],$lobjexamreport['idmangesession'],$lobjexamreport['exdate']);?>
         <?php if(count($larrresultApprovedStudents) == '0') { ?>
         <td><?php echo count($larrresultApprovedStudents);?></td>	
         <?php } else { ?>	
         <td><a href="#" onclick="fngetstudentdetails('<?php echo $lobjexamreport['idcenter'];?>','<?php echo $lobjexamreport['IdProgrammaster'];?>','<?php echo $lobjexamreport['idmangesession'];?>','<?php echo $lobjexamreport['exdate'];?>','approved')"><?php echo count($larrresultApprovedStudents);?></a></td>
         <?php } ?>
         <?php $attendedApproved[] = count($larrresultApprovedStudents);?>
          
         <?php $larrresultattended = $this->lobjexamreport->fnGetCountOfStudentsAttended($lobjexamreport['idcenter'],$lobjexamreport['IdProgrammaster'],$lobjexamreport['idmangesession'],$lobjexamreport['exdate'],'3');?>
         <?php if(count($larrresultattended) == '0') { ?>
         <td><?php echo count($larrresultattended);?></td>	
         <?php } else { ?>	
         <td><a href="#" onclick="fngetstudentdetails('<?php echo $lobjexamreport['idcenter'];?>','<?php echo $lobjexamreport['IdProgrammaster'];?>','<?php echo $lobjexamreport['idmangesession'];?>','<?php echo $lobjexamreport['exdate'];?>','attended')"><?php echo count($larrresultattended);?></a></td>
         <?php } ?>
         <?php $attendedsum[] = count($larrresultattended);?>
          
          <?php if(($lobjexamreport['Registered'] - count($larrresultattended)) == '0' ) {?>
          <td><?php echo ($lobjexamreport['Registered'] - count($larrresultattended));?></td>
         <?php } else { ?>	
         <td><a href="#" onclick="fngetstudentdetails('<?php echo $lobjexamreport['idcenter'];?>','<?php echo $lobjexamreport['IdProgrammaster'];?>','<?php echo $lobjexamreport['idmangesession'];?>','<?php echo $lobjexamreport['exdate'];?>','absent')"><?php echo ($lobjexamreport['Registered'] - count($larrresultattended));?></a></td>
         <?php } ?>
         <?php $absentsum[] = $lobjexamreport['Registered'] - count($larrresultattended);?>
         
         <?php $larrresultpass = $this->lobjexamreport->fnGetCountOfStudents($lobjexamreport['idcenter'],$lobjexamreport['IdProgrammaster'],$lobjexamreport['idmangesession'],$lobjexamreport['exdate'],'1');?>
         <?php if(count($larrresultpass) == '0') { ?>
         <td><?php echo count($larrresultpass);?></td>
         <?php } else {?>	
         <td><a href="#" onclick="fngetstudentdetails('<?php echo $lobjexamreport['idcenter'];?>','<?php echo $lobjexamreport['IdProgrammaster'];?>','<?php echo $lobjexamreport['idmangesession'];?>','<?php echo $lobjexamreport['exdate'];?>','passed')"><?php echo count($larrresultpass);?></a></td>
         <?php } ?>	
         <?php $passedsum[] = count($larrresultpass);?>
         
         <?php $larrresultfail = $this->lobjexamreport->fnGetCountOfStudents($lobjexamreport['idcenter'],$lobjexamreport['IdProgrammaster'],$lobjexamreport['idmangesession'],$lobjexamreport['exdate'],'2');?>
         <?php if(count($larrresultfail) == '0') { ?>
         <td><?php echo count($larrresultfail);?></td>
         <?php } else {?>	
         <td><a href="#" onclick="fngetstudentdetails('<?php echo $lobjexamreport['idcenter'];?>','<?php echo $lobjexamreport['IdProgrammaster'];?>','<?php echo $lobjexamreport['idmangesession'];?>','<?php echo $lobjexamreport['exdate'];?>','failed')"><?php echo count($larrresultfail);?></a></td>
         <?php } ?>
         <?php $failedsum[] = count($larrresultfail);?>    
    </tr>
      <?php endforeach; ?>
	   <?php endif; ?> 
	   
	   
	 <tr>
	 <td colspan="7" align="center"></td>
	  <td align="center"><b><?php echo $this->translate("Total") ?></b></td>
	  <td ><b><?php echo array_sum($registeredsum);?></b></td>
	  <td ><b><?php echo array_sum($attendedApproved);?></b></td>
	  <td><b><?php echo array_sum($attendedsum);?></b></td>
	  <td ><b><?php echo array_sum($absentsum);?></b></td>
	  <td ><b><?php echo array_sum($passedsum);?></b></td>
	  <td ><b><?php echo array_sum($failedsum);?></b></td>
   	</tr>
	 

  <tr>
 	  <td colspan="14" align="right"><input name="Print" id="Print" type="submit"   class="NormalBtn" dojoType=dijit.form.Button label = <?php echo $this->translate("Generate Exel");?> value=<?php echo $this->translate("Generate Exel");?> onclick="window.location.href='<?php echo $this->url(array('module'=>'default','controller'=>'venueresultxlcreation', 'action'=>'index','examdate'=>$this->datefield),'default',true);?>';" ></td>
  </tr>
</table>

	<div runat="server" id="divLogin"  style="display:none; z-index: 153; position: absolute; left: 18%; width: 850px; top: 150px;">
					                <asp:Panel runat="server" ID="popupLogin">
					                    <asp:Panel runat="server" ID="popupContent1">
					                        <table style="height: 125px; width: 100%; background-color: #FFFFFF;" border="3"   frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">
					                                    	<div id="contentdiv"></div>
					                                      
					                                   </td>
					                                </tr>
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
					            </div>
<div runat="server" id="prgmdetails" style="display:none; opacity:0.4; z-index: 150; position: absolute; left: 0%; height: 100%; width: 100%; top: 0%;">

<asp:Panel >
					                    <asp:Panel  >
					                        <table style="height: 100%; width: 100%; background-color: #000000;" border="3"   frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">
					                                    	
					                                      
					                                   </td>
					                                </tr>
					                               
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
</div>	

</fieldset>   
<?php endif; ?>

             

</body>
</html>
