
<style><!--
	table.calendar    { 
		border-left:1px solid #999; 
	}
	td.calendar-day-head { 
		background:#808080; 
		font-weight:bold; 
		text-align:center; 
		height:20px; 
		width:50px; 
		color : #FFFFFF;
		padding:1px; 
		border-bottom:1px solid #999; 
		border-top:1px solid #999; 
		border-right:1px solid #999; 
	}
	div.day-number   { 
		background:#999; 
		position:absolute; 
		z-index:2; 
		top:-15px; 
		right:-25px; 
		padding:6px; 
		color:#fff; 
		font-weight:bold; 
		width:10px; 
		text-align:center; 
	}
	td.calendar-day, td.calendar-day-np { 
		padding:4px 5px 4px 4px; 

	}
-->
</style>
<script language="JavaScript" type="text/javascript">

dojo.addOnLoad(function() {

		var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/centerauthnew/newfnnewcaleshow/",
				handleAs:'text',
				load:function(data){ 
					//alert(data);
					document.getElementById('calender').innerHTML = "<style>Instruction: Click on date to view details and proceed </style><br>"+data;
					//showcalender()
				}
		   }
		dojo.xhrGet(xhrArgs);



		

		<?php  foreach($this->examsession as $examsessions) { ?>
		<?php 
			$this->lobjCenterloginmodel = new App_Model_Centerloginnew();
			$larrcheckvalidate = $this->lobjCenterloginmodel->fncheckvalidate($examsessions['idmangesession'],$this->seessionidcenter);
		?>

		<?php 
		
			$currenttime = $this->currenttime;
			$starttime = $examsessions['starttime'];
			$endtime = $examsessions['endtime'];
		?>			

		
		<?php if($currenttime < $starttime) { ?>
			<?php	
			
					$xctdate = explode(":",$this->currenttime);
					$stddate = explode(":",$examsessions['starttime']);
					$edddate = explode(":",$examsessions['endtime']);
			
			        /* Start and current time*/
					$xhours = $stddate['0']-$xctdate['0'];
					if($xhours < 0) { 
						$xhoursmin= ($xhours+24)*(60);
				 	} elseif($xhours >= 0) { 
						$xhoursmin= ($xhours)*(60);
					} 
	 				$xmin = $stddate['1']-$xctdate['1'];
					$minofcloseoriginal = ($xhoursmin)+($xmin);
					
					$minofclosecorrect = ((($minofcloseoriginal)*(60000))- ((1)*(60000)));
					/* End of Start and current time*/
					
					
					/* End and current time*/
					$xhourse = $edddate['0']-$xctdate['0'];
					if($xhourse < 0) { 
						$xhoursmine= ($xhourse+24)*(60);
				 	} elseif($xhourse >= 0) { 
						$xhoursmine= ($xhourse)*(60);
					} 
	 				$xmine = $edddate['1']-$xctdate['1'];
					$minofcloseoriginale = ($xhoursmine)+($xmine);
					
					$minofclosecorrecte = ((($minofcloseoriginale)*(60000)));
					/* End of End and current time*/
			?>
			<?php if(empty($larrcheckvalidate)) { ?>
				setTimeout("timeout('"+<?php echo $examsessions['idmangesession']; ?>+"','"+<?php echo $this->seessionidcenter; ?>+"');",<?php echo $minofclosecorrect; ?>);
				setTimeout("timeoutexceed('"+<?php echo $examsessions['idmangesession']; ?>+"','"+<?php echo $this->seessionidcenter; ?>+"');",<?php echo $minofclosecorrecte;?>);
			<?php } else { ?>
				setTimeout("timeoutexceed('"+<?php echo $examsessions['idmangesession']; ?>+"','"+<?php echo $this->seessionidcenter; ?>+"');",0);
			<?php } ?>	

		<?php } elseif(($currenttime >= $starttime) && ($currenttime < $endtime)) { ?>
				<?php if(empty($larrcheckvalidate)) { ?>
					setTimeout("timeout('"+<?php echo $examsessions['idmangesession']; ?>+"','"+<?php echo $this->seessionidcenter; ?>+"');",0);
				<?php } else { ?>
					setTimeout("timeoutexceed('"+<?php echo $examsessions['idmangesession']; ?>+"','"+<?php echo $this->seessionidcenter; ?>+"');",0);
				<?php } ?>	

				<?php	
						
						$xctdate = explode(":",$this->currenttime);
						$stddate = explode(":",$examsessions['starttime']);
						$edddate = explode(":",$examsessions['endtime']);
						
						/* End and current time*/
						$xhourse = $edddate['0']-$xctdate['0'];
						if($xhourse < 0) { 
							$xhoursmine= ($xhourse+24)*(60);
					 	} elseif($xhourse >= 0) { 
							$xhoursmine= ($xhourse)*(60);
						} 
		 				$xmine = $edddate['1']-$xctdate['1'];
						$minofcloseoriginale = ($xhoursmine)+($xmine);
						
						$minofclosecorrecte = ((($minofcloseoriginale)*(60000)));
						/* End of End and current time*/
				?>
				<?php if(empty($larrcheckvalidate)) { ?>
					setTimeout("timeoutexceed('"+<?php echo $examsessions['idmangesession']; ?>+"','"+<?php echo $this->seessionidcenter; ?>+"');",<?php echo $minofclosecorrecte;?>);
				<?php } else { ?>
					setTimeout("timeoutexceed('"+<?php echo $examsessions['idmangesession']; ?>+"','"+<?php echo $this->seessionidcenter; ?>+"');",0);
				<?php } ?>	
				
		<?php } elseif($currenttime >= $endtime) { ?>
			<?php if(empty($larrcheckvalidate)) { ?>
				setTimeout("timeoutexceed('"+<?php echo $examsessions['idmangesession']; ?>+"','"+<?php echo $this->seessionidcenter; ?>+"');",0);
				<?php } else { ?>
				setTimeout("timeoutexceed('"+<?php echo $examsessions['idmangesession']; ?>+"','"+<?php echo $this->seessionidcenter; ?>+"');",0);
			<?php } ?>	
		<?php } ?>
	<?php } ?>


	tick('<?php echo $this->sur;?>','<?php echo $this->mun;?>','<?php echo $this->hur;?>');	

});


function timeout(issession,idcenter) {
	dijit.byId("startexam"+"["+issession+"/"+idcenter+"]").set("disabled",false);
}

function timeoutexceed(issession,idcenter) {
	dijit.byId("startexam"+"["+issession+"/"+idcenter+"]").set("disabled",true);
}

function countDown(issession,idcenter,min,sec,alerttime) {
	  sec--;
	  if (sec == -01) {
	   sec = 59;
	   min = min - 1; }
	  else {
	   min = min; }
	
	if (sec<=9) { sec = "0" + sec; }
	
	  time = (min<=9 ? "0" + min : min) + " min and " + sec + " sec ";
	 
	
	if(min < alerttime)
	{
		 messag = min+" minutes remaining";
		 document.getElementById("theTime"+"["+issession+"/"+idcenter+"]").innerHTML = messag.blink();
	}
	  
	if(min == 00 && sec == 00)
	{
		dijit.byId("Close"+"["+issession+"/"+idcenter+"]").set("disabled",false);
		var autosubmit = 1;
		var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/autosubmitbycenter/index/idsession/"+issession+"/autosub/"+autosubmit,
					handleAs:'text',
					load:function(data){ 
				}
		   }
		dojo.xhrGet(xhrArgs);
	}
	
	if (document.getElementById) { document.getElementById("theTime"+"["+issession+"/"+idcenter+"]").innerHTML = time; }
	
	SD=window.setTimeout("countDown("+issession+","+idcenter+","+min+","+sec+","+alerttime+");", 1000);
	if (min == '00' && sec == '00') { sec = "00"; window.clearTimeout(SD); }
	
}

function startexam(issession,idcenter,endtime,starttime,min)
{
	dijit.byId("startexam"+"["+issession+"/"+idcenter+"]").set("disabled",true);
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/centerauthnew/insertintotemp/issession/"+issession+"/idcenter/"+idcenter+"/endtime/"+endtime+"/starttime/"+starttime,
			handleAs:'text',
			load:function(data){ 
				if(data == 1) {
					alert('Start Exam');
					
					var sec =60;
					var alerttime = 5;
					countDown(issession,idcenter,min,sec,alerttime); 
					//setTimeout("timeout('"+issession+"','"+idcenter+"');",min);
				}

				if(data == 0) {
					alert('Sorry Exam End Time Is Over. So You Cannot Start The Exam');
					dijit.byId("startexam"+"["+issession+"/"+idcenter+"]").set("disabled",true);
				}
			}
	   }
	dojo.xhrGet(xhrArgs);
}

function functp(iddays,idmonth) {
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/centerauthnew/showsessions/iddays/"+iddays+"/idmonth/"+idmonth,
			handleAs:'text',
			load:function(data){ 
				document.getElementById('contentdiv').innerHTML = data;
				document.getElementById('divLogin').style.display = 'block';
				document.getElementById('prgmdetails').style.display = 'block';
			}
	   }
	dojo.xhrGet(xhrArgs);
}

function closebox() {
	document.getElementById('contentdiv').innerHTML = "";
	document.getElementById('divLogin').style.display = 'none';
	document.getElementById('prgmdetails').style.display = 'none';
}

function closesubmission(idsession,idcenter) {

	dijit.byId("Close"+"["+idsession+"/"+idcenter+"]").set("disabled",true);
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/autosubmitbycenter/index/idsession/"+idsession,
				handleAs:'text',
				load:function(data){ 
			}
	   }
	dojo.xhrGet(xhrArgs);
}


function tick(sec,min,hours) {
	sec++;
	if (sec == 60) {
	 	sec = 1;
	 	min = min + 1; 
	 } else {
	 	min = min; 
	 }

	if (sec<=9) { 
		sec = "0" + sec; 
	}

	if(min == 60) {
		 min = 1;
		 hours = hours+1;
	} else {
		hours = hours;
	}

	if (min<=9) { 
		min = "0" + min; 
	}

	if(hours == 24) {
		hours = 0;
	}

	if (hours<=9) { 
		hours = "0" + hours; 
	}
	
	document.getElementById("timediv").innerHTML = hours + ":" + min + ":" + sec;
	SD=window.setTimeout("tick("+sec+","+min+","+hours+");", 1000);
}


</script>

<body >
	<fieldset>
	<legend>Center Details</legend>
		<table class="table" width="100%" border="0">
			<tr>
				<td><B>Exam Center</B></td>
				<td><?php echo $this->centername;?></td>
				<td><B>Welcome</B></td>
				<td><?php echo $this->contactperson;?></td>
     		</tr>
			</tr>	
		</table>
	</fieldset></br>
	<fieldset>
	<legend>Colour Legends</legend>
		<table width="100%" >
			<tr>
			
				<?php if($this->maxcolourcodes == 1) { ?>
					<td width="8%"><B>1 SESSION :</td>
					<td width="92%" align="left"><div style="background-color:green;width:50px;height:20px;"></div></td>
				<?php } ?>			

				<?php if($this->maxcolourcodes == 2) { ?>
					<td width="8%"><B>1 SESSION :</td>
					<td width="8%" align="left"><div style="background-color:green;width:50px;height:20px;"></div></td>
					<td width="8%"><B>2 SESSIONS :</B></td>
					<td width="76%" align="left"><div style="background-color:skyblue;width:50px;height:20px;"></div></td>
				<?php } ?>	
				
				<?php if($this->maxcolourcodes == 3) { ?>
					<td width="8%"><B>1 SESSION :</td>
					<td width="8%" align="left"><div style="background-color:green;width:50px;height:20px;"></div></td>
					<td width="8%"><B>2 SESSIONS :</B></td>
					<td width="8%" align="left"><div style="background-color:skyblue;width:50px;height:20px;"></div></td>
					<td width="8%"><B>3 SESSIONS :</B></td>
					<td width="62%" align="left"><div style="background-color:violet;width:50px;height:20px;"></div></td>
				<?php } ?>	
				
				<?php if($this->maxcolourcodes >= 4) { ?>
					<td width="8%"><B>1 SESSION :</td>
					<td width="8%"><div style="background-color:green;width:50px;height:20px;"></div></td>
					<td width="8%"><B>2 SESSIONS :</B></td>
					<td width="8%"><div style="background-color:skyblue;width:50px;height:20px;"></div></td>
					<td width="8%"><B>3 SESSIONS :</B></td>
					<td width="8%"><div style="background-color:violet;width:50px;height:20px;"></div></td>
					<td width="8%"><B>4 SESSIONS :</B></td>
					<td width="44%"><div style="background-color:pink;width:50px;height:20px;"></div></td>
				<?php } ?>	
				
				
				
				
			</tr>	
			<tr>
				<td colspan="5"><p><font color="red"><b>*Please Click On Respective Dates To View Details!</b></font></p></td>
			</tr>
		</table>
	</fieldset>
</br>
		<table class="table" width="100%" border="0">
			<tr>
				<th width="10%"><B>Date</B></th>
				<th width="30%"><B><?php echo date("d-m-Y");?></B></th>
				<th width="10%"><B>Time</B></th>
				<th width="50%"><B><div id="timediv"></div></B></th>
     		</tr>
			</tr>	
		</table>
<fieldset>
<table>
	<tr>
		<td valign="top" width="25%">
			<table class="table" width="100%" border="0" >
				
				<?php  foreach($this->examsession as $examsessions) { ?>
				<?php $this->lobjCenterloginmodel = new App_Model_Centerloginnew(); ?>
				<?php $presntdate= date("Y-m-d");?>
				<?php $larrsessionresult = $this->lobjCenterloginmodel->fngetprogramDetails($this->seessionidcenter,$examsessions['idmangesession'],$presntdate);?>
					<th colspan="2"><?php echo $this->translate->_("Time Remaining:")?><span id="theTime[<?php echo $examsessions['idmangesession']?>/<?php echo $this->seessionidcenter;?>]"></span></th> 
				
			        <tr>
						<td>Exam :</td>
						<td ><?php echo $examsessions['managesessionname'];?>(<?php echo $examsessions['starttime']?><?php echo " " ?><?php echo "to" ?><?php echo " " ?><?php echo $examsessions['endtime']?>)</td>
						
					</tr>
		            <tr>
						<td>Exam :</td>
						<td></td>
					</tr>
						
						<?php foreach($larrsessionresult as $larrsessionresults) { ?>
						     <tr>
								<td><?php echo $larrsessionresults['ProgramName'];?><?php echo "="?></td>
								
								
								<?php $larrsessionresultcount = $this->lobjCenterloginmodel->fngetprogramCount($this->seessionidcenter,$examsessions['idmangesession'],$larrsessionresults['IdProgrammaster'],$presntdate);?>
								<td><?php echo COUNT($larrsessionresultcount);?></td>
								
							</tr>
						<?php }?>
						<tr>
							<td><div id="hidebutton">
								<?php $larrcheckvalidate = $this->lobjCenterloginmodel->fncheckvalidate($examsessions['idmangesession'],$this->seessionidcenter);?>
								<?php $currenttime=  date("H:i:s");
								
									$xstdate = explode(":",$examsessions['starttime']);
									$xeddate = explode(":",$examsessions['endtime']);
									
									$xhours = $xeddate['0']-$xstdate['0'];
									if($xhours < 0) {
										$xhoursmin= ($xhours+24)*(60);
									} elseif($xhours >= 0) {
										$xhoursmin= ($xhours)*(60);
									}
									$xmin = $xeddate['1']-$xstdate['1'];
									$minofcloseoriginal = ($xhoursmin)+($xmin);
									$minofclosecorrect = ($minofcloseoriginal)-(1);
								?>
								<input type="button"  disabled="true" id="startexam[<?php echo $examsessions['idmangesession']?>/<?php echo $this->seessionidcenter;?>]" name="startexam" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Start"); ?>" onClick="startexam('<?php echo $examsessions['idmangesession']?>','<?php echo $this->seessionidcenter;?>','<?php echo $examsessions['endtime'];?>','<?php echo $examsessions['starttime'];?>','<?php echo $minofclosecorrect;?>');">
								<td ><input type="button" id="Close[<?php echo $examsessions['idmangesession']?>/<?php echo $this->seessionidcenter;?>]" disabled="true" name="Close" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Close"); ?>" onClick="closesubmission('<?php echo $examsessions['idmangesession']?>','<?php echo $this->seessionidcenter;?>')"></td>
							</div>
							</td>
							
						</tr>
					
				<?php  } ?>
			</table>
		</td>
		<td >
			<table>
				<tr>
					<td ><div id="calender" ></div>     </td>
				</tr>
			</table>
		</td>
	</tr>
</table>

	<div runat="server" id="divLogin"  style="display:none; z-index: 153; position: absolute; left: 30%; width: 650px; top: 200px;">
					                <asp:Panel runat="server" ID="popupLogin">
					                    <asp:Panel runat="server" ID="popupContent1">
					                        <table style="height: 125px; width: 100%; background-color: #FFFFFF;" border="3"   frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">
					                                    	<div id="contentdiv"></div>
					                                      
					                                   </td>
					                                </tr>
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
					            </div>
<div runat="server" id="prgmdetails" style="display:none; opacity:0.4; z-index: 150; position: absolute; left: 0%; height: 100%; width: 100%; top: 0%;">

<asp:Panel >
					                    <asp:Panel  >
					                        <table style="height: 100%; width: 100%; background-color: #000000;" border="3"   frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">
					                                    	
					                                      
					                                   </td>
					                                </tr>
					                               
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
</div>	


</fieldset>
</body>
</html>
