<html>
     <head>
     </head>
        <body>  
           <fieldset>
             <legend><?php echo "WebPageTemplate";?></legend>
	            <Form dojoType="dijit.form.Form" id="myForm" action="" method="POST"  name= "myForm" >
	                 <script type="dojo/method" event="onSubmit">
                       if (this.validate()) 
                        {
					     return true;
                        } 
                          else 
                        {
                         return false;
                        }
                       </script> 
	                 <table class="table" width="100%">
		                    <tr>
                            <th colspan = "4"><?php echo $this->translate('WebPage Template Details')?></th>
                           </tr>
                           
		                   <tr>
			               <td><?php echo $this->translate("English");?><span class="reqMark">*</span></td>
			               <td><?php echo $this->lobjwebtemplateform->content;?></td>
			               <td><?php echo $this->translate("Malay");?></td>
			               <td><?php echo $this->lobjwebtemplateform->banhasa;?></td>
		                   </tr>	
		                   			                   
		                   <tr>
		                   <td><?php echo $this->translate("Other");?></td>
			               <td><?php echo $this->lobjwebtemplateform->others;?></td>
                           <td><?php echo "Active";?></td>
                           <td ><?php echo $this->lobjwebtemplateform->Active;?></td>                  
                           </tr>   
		                   <tr>			    		                   
		                   <td  colspan="4" align="right"><?php echo $this->lobjwebtemplateform->Save;?> 
		                     <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo "Back";?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'website','controller'=>'webpagetemplate', 'action'=>'index'),'default',true);?>';" /><td>
  		                   </tr>                
		               </table>
                   </Form>
	         </fieldset>
       </<body>
</html>
