<html>
<head>
</head>
<body class="claro">            
	<fieldset >
	<legend><?php echo $this->translate->_("Date Setup");?></legend>
		 <form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm" >
			<script type="dojo/method" event="onSubmit" >
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>		
	    	   <table class="table" width="100%" >
                    <tr>
                       <th colspan = "4"><?php echo $this->translate->_("Date Head");?></th>
                    </tr>	
                    <tr>         							                        
         			  <td class="label" ><?php echo $this->translate->_("Date")?><span class="reqMark">*</span></td>
        			  <td colspan="3"><?php echo $this->lobjbookform->Date;?></td>
        			</tr>
        			<tr>		        	
      			      <td class="label"><?php echo $this->translate->_("Amount")?></span><span class="reqMark">*</span></td>
        			  <td colspan="3"><?php echo $this->lobjbookform->Amount;?></td>		
        		    </tr>	
		      	    <tr>
                       <td></td>
                       <td></td>
                       <td></td>        
                       <td align = "right"><?php echo $this->lobjbookform->Save;?>
					   <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'general-setup','controller'=>'bookmaster', 'action'=>'index'),'default',true);?>';" />	
                       </td> 
                    </tr>       
            </table>		
		</form>
	</fieldset>
</body>
</html>
     