
<head>
<script>
dojo.addOnLoad(function(){
	dijit.byId('field3').focus();	
	});
</script>
</head>

<fieldset>
<legend><?php echo $this->translate->_("Books Setup");?></legend>
<form id="initconfigForm" name="form1" method="post" action="<?php echo $this->baseUrl();?>/general-setup/bookmaster/index/search/1">
	    	<table    width="100%">	    		
      			<tr>
      			
         			<td class="label"><?php echo $this->translate->_("Title")?></td>
        			<td><?php echo $this->lobjform->field3?></td>	        	      			
         			<td class="label"><?php echo $this->translate->_("Auther")?></td>
        			<td><?php echo $this->lobjform->field15?></td>	        	     			
         			<td class="label"><?php echo $this->translate->_("Active")?></td>
        			<td><?php echo $this->lobjform->field7?></td>	        				       	        	
		      	</tr>
		      	  <tr>
	               <td align = "center" colspan = "4">
						<?php echo $this->lobjform->Search;?>
						<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Add"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'general-setup','controller'=>'bookmaster', 'action'=>'downloadfile'),'default',true);?>';" />	
						<?php echo $this->lobjform->Clear;?>						
				   </td>
				   </tr>      	
	        </table>		
</form>
</fieldset> 
<br />
<fieldset>
  	<table class="table" width="100%" cellpadding="5" cellspacing="1">
		<thead>
    		<tr>
				<th><?php echo $this->translate->_("Title")?></th>
				<th><?php echo $this->translate->_("Author")?></th>  	
				 					
    		</tr>
    	</thead>
    	<?php  if (count($this->paginator)): ?>    	
    	<tbody>       	            
            <?php   foreach ($this->paginator as $lobjcategory ): // ($this->accountdetails as $lobjcategory ): ?>
            <tr>
            	<td><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'bookmaster', 'action'=>'downloadfile' , 'lvaredit'=>$lobjcategory['idebook']),'default',true);?>" ><?php print_r($this->escape( $lobjcategory['Title']));?></a></td>
	    	   <td><?php print_r($this->escape( $lobjcategory['author']));?></a></td>             		           	
     		</tr>
     		<?php  endforeach; ?>
     		 <?php  endif; ?>
     	</tbody>		
     		<tr>
	        	<td colspan="8" align="right"><div class="pagination"><?php  echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>
      </table>
   </fieldset> 
</html>