<html>
<head>
<script type="text/javascript">   
dojo.addOnLoad(function(){
	var form = dijit.byId("myForm");
	var code =  form.attr('value').BookType;
	BaseType(code);
});
           function BaseType(id)
      	   {  
          	  //alert(id);            	  
      	   	  ///////////////////////////////////////////////////////////////
				var xhrArgs = {                   	 
    	                       url: "<?php echo $this->baseUrl();?>"+"/general-setup/bookmaster/getgroupdetails/idprog/"+id,
    	                       handleAs:'json',
    	                       load:function(data){              	                                        	                    
    	                    	                   AutoFillNextEditableDropDown("BookDetails",data);
    	                                          }
                              }       	   
                              dojo.xhrGet(xhrArgs); 
                
      	   	  //////////////////////////////////////////////////////////        
           }    
           function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
        		dijit.byId(EditableDropDownId).setValue("");
        		var ddwidget = dijit.byId(EditableDropDownId);
        		ddwidget.setAttribute('disabled', false);
        		var options = {
        					label:"name",
        					identifier:"key",
        					items:JSONText
        				  };
        		ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
        	}
         </script>   
</head>
<body class="claro">            
	<fieldset >
	<legend><?php echo $this->translate->_("Books Setup");?></legend>
		 <form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm" enctype="multipart/form-data">
			<script type="dojo/method" event="onSubmit" >
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>		
	    	   <table class="table" width="100%" >
                    <tr>
                       <th colspan = "4"><?php echo $this->translate->_("Books Head");?></th>
                    </tr>	
                    <tr>         							                        
         			  <td class="label" ><?php echo $this->translate->_("Title")?><span class="reqMark">*</span></td>
        			  <td colspan="3"><?php echo $this->lobjbookform->Title;?></td>
        			</tr>
        			<tr>		        	
      			      <td class="label"><?php echo $this->translate->_("Alias")?></span><span class="reqMark">*</span></td>
        			  <td colspan="3"><?php echo $this->lobjbookform->Alias;?></td>		
        		    </tr>	
        		    <tr>
        		      <td class="label"><?php echo $this->translate->_("BookType")?><span class="reqMark">*</span></td>
        			  <td><?php echo $this->lobjbookform->BookType;?></td>
        			  <td class="label" ><?php echo $this->translate->_("BookDetails")?><span class="reqMark">*</span></td>
        			<td><?php echo $this->lobjbookform->BookDetails;?></td>	
        		    </tr>
	    		    <tr>         							
         			  <td class="label"><?php echo $this->translate->_("Author")?><span class="reqMark">*</span></td>
        			  <td><?php echo $this->lobjbookform->idauthor;?></td>		        	
      			      <td class="label"><?php echo $this->translate->_("Keyword")?><span class="reqMark">*</span></td>
        			  <td><?php echo $this->lobjbookform->Keywords?></td>        			
        		    </tr>	
        		    <tr>
        			  <td class="label"><?php echo $this->translate->_("Upload Book")?></td>
        			  <td><?php echo $this->lobjbookform->UploadBook?></td> 
        			  <td class="label"><?php echo $this->translate->_("Preview Book")?></td>
        			  <td><?php echo $this->lobjbookform->PreviewBook?></td>      
        		    </tr>
        	        <tr>
        			  <td class="label"><?php echo $this->translate->_("Active")?></td>
        			  <td><?php echo $this->lobjbookform->Active?></td>	        	    
		         	</tr>			      	
		      	    <tr>
                       <td></td>
                       <td></td>
                       <td></td>        
                       <td align = "right"><?php echo $this->lobjbookform->Save;?>
					   <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'general-setup','controller'=>'bookmaster', 'action'=>'index'),'default',true);?>';" />	
                       </td> 
                    </tr>       
            </table>
		
		</form>
	</fieldset>
</body>
</html>
     