<html>
<script>    
dojo.addOnLoad(function(){
		 dijit.byId('field10').set('placeHolder','dd-mm-yyyy');
	  });
	          



function closebox() {
	document.getElementById('contentdiv').innerHTML = "";
	document.getElementById('divLogin').style.display = 'none';
	document.getElementById('prgmdetails').style.display = 'none';
}


function fngetstudentdetails(idapp){
	//alert(idapp);
	//alert(paymentmode);
		 if(idapp != "")
			{   
			    var xhrArgs = {
						url: "<?php echo $this->baseUrl();?>"+"/examination/examissuesreport/studentdetails/idapplication/"+idapp,
						handleAs:'text',
						load:function(data){					
							document.getElementById('divLogin').style.display = 'block';						
							document.getElementById('prgmdetails').style.display = 'block';
							document.getElementById('contentdiv').innerHTML = data;						
						}
				   }
				dojo.xhrGet(xhrArgs); 
			} 
	}



function fngetremarkdetails(idissue){
	//alert(idissue);
	//alert(paymentmode);
		 if(idissue != "")
			{   
			    var xhrArgs = {
						url: "<?php echo $this->baseUrl();?>"+"/examination/examissuesreport/studentissuedetails/idissue/"+idissue,
						handleAs:'text',
						load:function(data){					
							document.getElementById('divLogin').style.display = 'block';						
							document.getElementById('prgmdetails').style.display = 'block';
							document.getElementById('contentdiv').innerHTML = data;						
						}
				   }
				dojo.xhrGet(xhrArgs); 
			} 
	}
	
</script>

</head>
<body class="claro">

	<fieldset>
	<legend><?php echo "Exam Report";?></legend>
        <form action="<?php echo $this->baseUrl();?>/examination/examissuesreport/index/search/1" method="POST" dojoType="dijit.form.Form"  id="myForm"  name= "myForm">
            <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					  return true;
                } else {
                    return false;
                }
				</script>
      <table width="100%">
                <tr>
                   <td><?php  echo "Exam Date";?><?php echo " ";?><?php echo"(dd-mm-yyyy)";?></td>
                   <td><?php echo $this->lobjform->field10;?></td>  
                   <td><?php  echo "Venue";?></td>
                   <td><?php  echo $this->lobjform->field5;?></td>        
                </tr>
                
                <tr>
                   <td><?php  echo "ICNO";?></td>
                   <td><?php echo $this->lobjform->ICNO;?></td>  
                   <td><?php  echo "Name";?></td>
                   <td><?php  echo $this->lobjform->Name;?></td>        
                </tr>
                
                
                <tr>
                   <td><?php  echo "Issue";?></td>
                   <td colspan="3"><?php echo $this->lobjform->Issues;?></td>  
                       
                </tr>
                
               
               
                <tr>
              	 <td align = "center" colspan = "4">
                    <?php echo $this->lobjform->Search;?>
					 <input name="Clear" id="Clear" type="Clear"   class="NormalBtn" dojoType=dijit.form.Button label = <?php echo $this->translate("Clear");?> value=<?php echo $this->translate("Clear");?> onclick="window.location.href='<?php echo $this->url(array('module'=>'examination','controller'=>'examissuesreport', 'action'=>'index'),'default',true);?>';" >
				 </td>
               </tr>
       </table>
       </form>
       </fieldset>
      
      <?php   if (count($this->paginator)): ?>
       <br>
       <fieldset>       
       <?php $centerarray = array();?>
    <table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr>
     <th><?php echo $this->translate("Examvenue") ?></th>
        <th><?php echo $this->translate("Program") ?></th>
          <th><?php echo $this->translate("Exam Session")?></th>
        <th><?php echo $this->translate("Student Name") ?></th>
        <th><?php echo $this->translate("Issue") ?></th>
     
      
        
    </tr>
        
       
      
   	<?php if (count($this->paginator)):  $ColorArray = $this->larrcolor;?>
	<?php foreach ($this->paginator as $lobjexamreport ): $flag=0; $examdate = $this->datefield;?> 
    <tr>
    <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
    		<?php   if(in_array($lobjexamreport['idcenter'],$ColorArray['red'])){  ?>
	           <td >
	         	<?php if(!in_array($lobjexamreport['idcenter'],$centerarray)){
				     
					$centerarray[] = $lobjexamreport['idcenter'];		
					$centerarrays[$lobjexamreport['idcenter']] = array();
					print_r($this->escape($lobjexamreport['centername']));
				}?>
			   </td>
			   <?php }
			         else{?>
			   <td>
	         	<?php if(!in_array($lobjexamreport['idcenter'],$centerarray)){
				 
				//$flag=1;
					$centerarray[] = $lobjexamreport['idcenter'];		
					$centerarrays[$lobjexamreport['idcenter']] = array();
					print_r($this->escape($lobjexamreport['centername']));
				}?> 
			  </td>
			 <?php }?>
		 
		  <?php if(!in_array($lobjexamreport['ProgramName'],$centerarrays[$lobjexamreport['idcenter']])){
					$centerarrays[$lobjexamreport['idcenter']][] = $lobjexamreport['ProgramName'];
					$centerarrayss[$lobjexamreport['idcenter']][$lobjexamreport['IdProgrammaster']] = array();
                   
					?><td><?php 
				      print_r($this->escape($lobjexamreport['ProgramName']));
			        ?></td>
		    <?php }else{?>
		    <td></td><?php }?>
		    
        
       
       	<?php if(!in_array($lobjexamreport['managesessionname'],$centerarrayss[$lobjexamreport['idcenter']][$lobjexamreport['IdProgrammaster']])){
					$centerarrayss[$lobjexamreport['idcenter']][$lobjexamreport['IdProgrammaster']][] = $lobjexamreport['managesessionname'];
                   ?><td><?php 
				      print_r($this->escape($lobjexamreport['managesessionname']));
			        ?></td>
		    <?php }else{?>
		    <td></td><?php }?>
		    
       
         
         <td><a href="#" onclick="fngetstudentdetails('<?php echo $lobjexamreport['IDApplication'];?>')"><?php print_r($this->escape($lobjexamreport['Studentname'])); ?></a></td>
           <td><a href="#" onclick="fngetremarkdetails('<?php echo $lobjexamreport['Idissuedetails'];?>')"><?php print_r($this->escape($lobjexamreport['Issue'])); ?></a></td>
          
        
    </tr>
      <?php endforeach; ?>
	   <?php endif; ?> 
	   
	   
	 
	 <tr>
	  <td colspan="7" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   	</tr>

  <tr>
 	  <td colspan="7" align="right"><input name="Print" id="Print" type="Button"   class="NormalBtn" dojoType=dijit.form.Button label = <?php echo $this->translate("Print");?> value=<?php echo $this->translate("Print");?> onclick="window.location.href='<?php echo $this->url(array('module'=>'examination','controller'=>'examissuesreport', 'action'=>'pdfexport','venu'=>$this->venufield,'examdate'=>$this->datefield),'default',true);?>';" ></td>
	  
  </tr>
</table>

	<div runat="server" id="divLogin"  style="display:none; z-index: 153; position: absolute; left: 18%; width: 850px; top: 150px;">
					                <asp:Panel runat="server" ID="popupLogin">
					                    <asp:Panel runat="server" ID="popupContent1">
					                        <table style="height: 125px; width: 100%; background-color: #FFFFFF;" border="3"   frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">
					                                    	<div id="contentdiv"></div>
					                                      
					                                   </td>
					                                </tr>
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
					            </div>
<div runat="server" id="prgmdetails" style="display:none; opacity:0.4; z-index: 150; position: absolute; left: 0%; height: 100%; width: 100%; top: 0%;">

<asp:Panel >
					                    <asp:Panel  >
					                        <table style="height: 100%; width: 100%; background-color: #000000;" border="3"   frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">
					                                    	
					                                      
					                                   </td>
					                                </tr>
					                               
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
</div>	

</fieldset>   
<?php endif; ?>
</body>
</html>























