<head>
<script type="text/javascript">
dojo.addOnLoad(function() {
	var funcall = <?php echo $this->flag;?>;
	if(funcall==1)
	{
	newsessionlists();
	}

	});

function checkAll(){
 	nodes = dojo.query('[name=\"centreids[]\"]');
 	if(document.getElementById('centreids').checked == true) {		 
 		
 		dojo.forEach(nodes,
 		    function(node)
 		    {
 		        dijit.getEnclosingWidget(node).set("checked",true);
 		    }
 		);
 	}
 	else {	
 		dojo.forEach(nodes,
 			    function(node)
 			    {
 			        dijit.getEnclosingWidget(node).set("checked",false);
 			    }
 			);
 	}
 }

function getsessiondetails(idsss)
{
	 document.getElementById('sessionsss').value = idsss;
	 fngetsessiondetails();
}
function newsessionlists()
{

	   iddate = dijit.byId("Date");
	  // document.getElementById('date').value = iddate;
	   if(iddate !='')
	   {
		var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/examination/closetime/getsessions/iddate/"+iddate,
			handleAs:'json',
			load:function(data){
			if(data==null || data=='')
				{
					alert("There is no scheduler for this date Please change the Date");
					dijit.byId("Date").set('value',null);
				}
			else
			{ 
				AutoFillNextEditableDropDown("session",data);
			}
	      }
		}
	dojo.xhrGet(xhrArgs);
	   }

	   
}

function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}
function fngetsessiondetails()
{

	
	var selecteddate = dijit.byId("Date");
	var selectedsession = dijit.byId("session");
	if(selectedsession!='')
	{
		
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/examination/closetime/checkthevenuepending/selecteddate/"+selecteddate+"/selectedsession/"+selectedsession,
			handleAs:'text',
			load:function(data){
				if(data=='0')
				{
					 alert('All the venues close time has been updated. Please change the session or the Date');
					//dijit.byId('session').set('value','');
				}
				
				}
		
	      
    
		}
	dojo.xhrGet(xhrArgs);
	}
	
}
function fnfindtheendtime(idvenue,ids)
{
	cheval = ids.checked ;
	var selecteddate = document.getElementById('datess').value;
	var selectedsession = document.getElementById('sessionsss').value;
	//ids.checked = false;
	 
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/examination/closetime/findthetime/selecteddate/"+selecteddate+"/selectedsession/"+selectedsession+"/idvenue/"+idvenue,
			handleAs:'text',
			load:function(data){
				if(data=='0')
				{
					
					
					ids.checked = false;
					 alert('Still Exams are going on');

				}
				
				}
		
	      
    
		}
	dojo.xhrGet(xhrArgs);


	
}

</script>
</head>
<body class='claro'>
	 <form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm" >
<script type="dojo/method" event="onSubmit">
                              if (this.validate()) {
					  return true;
                } else {
                    return false;
                }
				</script>
<fieldset>
	<legend><?php echo $this->translate("Close time of centre by admin");?></legend>

 			
		<table width="100%" >
		
		<tr>
					<td><?php echo $this->translate("Exam Date(dd-mm-yyyy)")?></td>
					<td><?php echo $this->lobjClosetimeForm->Date;?></td>
					<td><?php echo $this->translate("Select Session") ?></td>
					<td><?php echo $this->lobjClosetimeForm->session;?></td>
				</tr>
				<tr>
				 <td colspan="4" align="center">
				 	<?php echo $this->lobjClosetimeForm->Search;?>
				 	<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Clear"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'examination','controller'=>'closetime', 'action'=>'index'),'default',true);?>';" />
				</td>
               </tr>
		</table>

	</fieldset> 
		</form>
	<br>
	 <form dojoType="dijit.form.Form"  id="myFoccrm" action="" method="post"  name= "mycccForm" >
	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
		
	    	<tr>
	    	<input type="hidden" name="datess" value="<?php echo $this->datesresult?>" id="datess">
	    	<input type="hidden" name="sessionsss" value="<?php echo $this->sessionsss?>" id="sessionsss">
	    	
	    	      <th><input type="checkbox" style="display:none" dojoType="dijit.form.CheckBox" name="center" onClick="checkAll();" id="centreiddfdfs">
	    	     <?php echo $this->translate("Exam Venue")?></th>
	    	      <th><?php echo $this->translate("Program");?></th>
	    	     <th><?php echo $this->translate("Start Time");?></th>
	        	
	    	</tr>
	       
   			     <?php if (count($this->centreslist)):$centerarray = array();  $cnnt = 0; ?>
	        <?php foreach ($this->centreslist as $lobcentreslist): ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	<td>
	        	<?php if(!in_array($lobcentreslist['centername'],$centerarray)){
				$centerarray[] = $lobcentreslist['centername'];$cnnt++ ;?> 
				<input type="checkbox"  value="<?php echo $this->escape($lobcentreslist['centreids']);?>" name="centreids[]" onClick="fnfindtheendtime(<?php echo $this->escape($lobcentreslist['centreids']);?>,this)" id="centreids<?php echo $this->escape($lobcentreslist['centreids']);?>"><?php print_r($this->escape($lobcentreslist['centername']));
	        	}?>
	        	</td>
	        	<td><?php print_r($this->escape($lobcentreslist['ProgramName']));?></td>
	        		<td><?php print_r($this->escape($lobcentreslist['ExamStartTime']));?></td>

	            <?php endforeach; ?>
	            <?php endif; ?> 
			</tr>

<th>Exam venue which has not started</th>
			<th>Program</th>
			<th>Start Time</th>
		
			 <?php if (count($this->centreslistnotstarted)):$centerarraynotstarted = array();  $cnnt = 0; ?>
	        <?php foreach ($this->centreslistnotstarted as $lobcentreslistnotstarted): ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	<td>
	        	<?php if(!in_array($lobcentreslistnotstarted['centername'],$centerarraynotstarted)){
				$centerarraynotstarted[] = $lobcentreslistnotstarted['centername'];$cnnt++ ;?> 
				<input type="checkbox"  value="<?php echo $this->escape($lobcentreslistnotstarted['idcenter']);?>" name="centreids[]" ><?php print_r($this->escape($lobcentreslistnotstarted['centername']));
	        	}?>
	        	</td>
	        	<td><?php print_r($this->escape($lobcentreslistnotstarted['programname']));?></td>
	        		<td><?php print_r('00:00:00');?></td>

	            <?php endforeach; ?>
	            <?php endif; ?> 
	            
			</tr>


           <tr>
           <td colspan="3" align="right">	 <input type="submit"  dojotype="dijit.form.Button" id="Approve" name="Approve" value="Approve" label="<?php echo $this->translate("Close Exam");?>"/></td>
           </tr>


				
		</table>
	</fieldset>
		</form>
</body>
<!--
				
				
		        <tr>
                    <td><?php echo $this->translate("Venue")?></td>
                    <td><?php echo $this->lobjClosetimeForm->Course;?></td>
                    <td></td>
                    <td></td>
                </tr>
               
				
				 -->