<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="<?php echo $this->rtl;?>">
<head>
<title></title>
<link rel="stylesheet" type="text/css"  href="<?php  echo $this->baseUrl();?>/js/themes/cupertino/jquery.ui.all.css" />
<script language='javascript' src='<?php  echo $this->baseUrl();?>/js/jquery-1.4.3.js'></script>

<script language='javascript' src='<?php  echo $this->baseUrl();?>/js/sfs-common.js'></script>
<style type="text/css">
<!--
 .timeClass {
  font-family:arial,verdana,helvetica,sans-serif;
  font-weight:normal;
  font-size:10pt;
  }
-->
</style>
<script type="text/javascript"><!--
$(document).ready(function() {
	 <?php if (count($this->result)): ?>
		<?php foreach($this->result as $parts):?>
		var part="<?php echo $this->escape($parts['IdPart']);?>";
		
			statarray.push(part);
		
		<?php endforeach; ?>
	 	 <?php endif; ?>
});
var flag=0;
var statarray = new Array();
id = 1;

function addFormField() {
	//var StudentName = document.getElementById("field17").value;
	
	//alert(StudentName);
	
	
		//var StudentName = document.getElementById("field17").value;
	var StudentNameHTML=document.getElementById("IdPart").value;
	StudentIdHTML=document.getElementById("IdPart").value;
	//alert(StudentIdHTML);
	// $("div#ComboInnerPanel-field17").each(function () {
	//	 StudentNameHTML = $("div#ComboInnerPanel-field17").find("div#combobox-item-id-"+StudentName).html();
	 //});
	
	 var id = $("#id").val();
	//var StudentId = document.getElementById("StudentId").value;
	//var StudentIdHTML = "";
	//$("div#ComboInnerPanel-StudentId").each(function (i) {
	//	 StudentIdHTML = $("div#ComboInnerPanel-StudentId").find("div#combobox-item-id-"+StudentId).html();
	// });
	
	//alert(StudentIdHTML);
		
		if(flag==0)
		{
			statarray.push(StudentNameHTML);
			if(arrHasDupes(statarray))
			{
				statarray = statarray.unique();
				alert("Duplicate Part Name");
			}
			else
			{					
				$("#divTxt").append("<tr id='row" + id + "'><td></td><td><input type='text' name='IdParts[]' id='IdParts' value='"+StudentIdHTML+"'><a href='#' onClick='removeFormField(\"#row" + id + "\"\,\"" + StudentIdHTML + "\"\); return false;'><img src='<?php echo $this->baseUrl()?>/images/delete.png'  border=0 width='16' height='16'></a></td><td></td><td></td></tr>");
				id++;
				document.getElementById("id").value = id;
			}
		
		}
	else{
	if(StudentNameHTML == "Select"||StudentNameHTML == "")
	{
	
		alert("Select Part Name");
	}
	else 
	{ 	
			
			statarray.push(StudentNameHTML);
			
			if(arrHasDupes(statarray))
			{
				statarray = statarray.unique();
				alert("Duplicate Part Name");
			}
			else
			{					
				$("#divTxt").append("<tr id='row" + id + "'><td></td><td><input type='text' name='IdParts[]' id='IdParts' value='"+StudentIdHTML+"'><a href='#' onClick='removeFormField(\"#row" + id + "\"\,\"" + StudentIdHTML + "\"\); return false;'><img src='<?php echo $this->baseUrl()?>/images/delete.png'  border=0 width='16' height='16'></a></td><td></td><td></td></tr>");
				id++;
				document.getElementById("id").value = id;
			}
			
			
		
	}
		}
	flag=1;
}
function removeFormField(id,StudentIdHTML) {
	for(var i=0; i<statarray.length; i++) {
        if(statarray[i] == StudentIdHTML) {
        	statarray.splice(i, 1);
            break;
        }
	}
	$(id).remove();
	}
function arrHasDupes( A ) {                          // finds any duplicate array elements using the fewest possible comparison
	var i, j, n;
	n=A.length;
                                                     // to ensure the fewest possible comparisons
	for (i=0; i<n; i++) {                        // outer loop uses each item i at 0 through n
		for (j=i+1; j<n; j++) {              // inner loop only compares items j at i+1 to n
			if (A[i]==A[j]) return true;
	}	}
	return false;
}
	
Array.prototype.unique = function () {
    var r = new Array();
    o:for(var i = 0, n = this.length; i < n; i++)
    {
        for(var x = 0, y = r.length; x < y; x++)
        {
                if(r[x]==this[i])
                {
                	continue o;
                }
                
        }
        r[r.length] = this[i];
    }
    return r;
}

function Closefn()
{
	window.location="<?php echo $this->baseUrl();?>/examination/batchmaster";
}
--></script>
<fieldset>
        <div class="register">
            <div class="profile_tab">
             <form action="<?php echo $this->baseUrl();?>/examination/batchmaster/batchlist" method="POST"   dojoType="dijit.form.Form" name= "myform">
                 <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script> 
                <?php echo $this->form->UpdDate;?>
				<?php echo $this->form->UpdUser;?>
				<?php echo $this->form->IdBatch;?>
                        <table class="table" width="100%">
                          <tr>
                            <th colspan = "4"><?php echo $this->translate($this->Batch).' '.$this->translate("Details");?></th>
                        </tr>
							<tr>
	                            <td><?php echo $this->translate($this->Batch).' '.$this->translate("Name")?><span class="reqMark">*</span></td>
	                            <td><?php echo $this->form->BatchName;?></td>
	                             <td><?php echo $this->translate->_("$this->Course")?></td>
	                            <td><?php echo $this->form->IdProgrammaster;?></td>
                           </tr>
			               <tr>
			               <td><?php echo $this->translate->_("Period").' '.$this->translate->_("From")?><span class="reqMark">*</span></td>
	                            <td><?php echo $this->form->BatchFrom;?></td>
	                            <td><?php echo $this->translate->_("Period").' '.$this->translate->_("To")?><span class="reqMark">*</span></td>
	                            <td><?php echo $this->form->BatchTo;?></td>
                           </tr>
                           <tr>
                           	 <td><?php echo $this->translate->_("Batch").' '.$this->translate->_("Status")?></td>
	                            <td><?php echo $this->form->BatchStatus;?></td>
                           </tr>
                           <tr>
                           <td><?php echo $this->translate->_("Syllabus")?><span class="reqMark">*</span></td>
	                            <td><?php echo $this->form->IdPart;?></td>
	                            <td><input type="button" name="Add" onClick="addFormField(); return false;" value="Add" class="buttonStyle" dojoType="dijit.form.Button"  label="Add" ></a><input type="hidden" id="id" value="1"> </td>
	                            <td></td>
                           </tr>
                           <tbody id="divTxt"> 
                            <?php if (count($this->result)): $keys = 0;?>
                           <?php foreach($this->result as $parts): $keys++;?>
                           <tr id='row<?php echo $keys;?>'>
                           <td></td>
                           <td><input type='text' readonly="readonly" name='IdParts[]' id='IdParts' value='<?php echo $this->escape($parts['IdPart']);?>'>
                         <!--   <input type='hidden' name='IdBatchDetails[]' id='IdBatchDetails' value='<?php //echo $this->escape($parts['IdBatchDetail']); ?>'> -->
                           	<a href='#' onClick='removeFormField("#row<?php echo $keys;?>","<?php echo $this->escape($parts['IdPart']);?>"); return false;'><img src='<?php echo $this->baseUrl()?>/images/delete.png'  border=0 width='16' height='16'></a>
                           </td>
                           <td></td>
                           <td></td>
                           	</tr>
                           	<?php endforeach; ?>
                           	 <?php endif; ?>
			                </tbody>						
                	<tr>
                    	<td colspan="4" align = "right">
                    		
			                            <?php echo $this->form->Save;?>
			                         <input type="button" name="Close" class="buttonStyle" onClick="Closefn(); return false;" value="Close" value="Close" dojoType="dijit.form.Button"  label="Close">
                            
                        </td>
                    </tr>
                </table>
				</form>
			</div>
		</div>
	</fieldset>
	
</body>


</html>
