<html xmlns="http://www.w3.org/1999/xhtml" dir="<?php echo $this->rtl;?>">
<script type="text/javascript">
function AddNewfn()
{
	window.location="<?php echo $this->baseUrl();?>/examination/batchmaster/newbatch";
}
</script>
<fieldset>
<legend><?php  echo $this->translate($this->Batch).' '.$this->translate("Search");?></legend>
<form action="<?php echo $this->baseUrl();?>/examination/batchmaster/index/search/1"  method="POST" name="" >
<table width="100%">
	<tr>
     	<td class="label"><?php echo $this->translate($this->Batch).' '.$this->translate("Name");?></td>
     	<td><?php echo $this->form->field3;?></td>
     	<td class="label"><?php echo $this->translate('Syllabus');?></td>
     	<td><?php echo $this->form->field5;?></td>
    </tr>
    <tr>
     	<td class="label"><?php echo $this->translate('Period From');?></td>
     	<td><?php echo $this->form->field10;?></td>
     	<td class="label"><?php echo $this->translate('Period To');?></td>
     	<td><?php echo $this->form->field11;?></td>
    </tr>
    <tr>
    	<td class = "label"><?php echo $this->translate->_("Active")?></td>
     	<td><?php echo $this->form->field7;?></td>
    </tr>
    <tr>
    	<td colspan="4" align="center">
	    <?php //foreach($this->roles as $resultItem):?>
		    <?php //if($resultItem['functionCode']=='BANK' && $resultItem['operationCode']=='SRCH'){?>
		    	<?php echo $this->form->Search;?>
			<?php  //}?>
		    
			<?php // if($resultItem['functionCode']=='BANK' && $resultItem['operationCode']=='ADD'){?>
				<input type="button" name="Add" class="NormalBtn" onClick="AddNewfn(); return false;" value="Add"  dojoType="dijit.form.Button" label="Add" >
			<?php //}?>
		    
			<?php //if($resultItem['functionCode']=='BANK' && $resultItem['operationCode']=='CLR'){?>
			 	<input name="submit" type="button" class="NormalBtn" value="Clear"  dojoType="dijit.form.Button" label="Clear"  onclick="javascript:window.location.href='<?php echo $this->baseUrl();?>/examination/batchmaster'">
		         
			<?php //}?>
	    <?php //endforeach;?>
                                    
        </td>
	</tr>
</table>
</form>	
</fieldset> 
<br />  
<fieldset>
<table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr>
        <th><?php echo $this->translate($this->Batch).' '.$this->translate("Name");?></th>
        <th><?php echo $this->translate->_("Period From")?></th>
        <th><?php echo $this->translate->_("Period To")?></th>
    </tr>
            <?php if (count($this->paginator)): ?>
        <?php foreach ($this->paginator as $batch ): ?>
    <tr>
    <?php if(empty($batch['Tos'])){?>
        <td><a href="<?php echo $this->baseUrl();?>/examination/batchmaster/batchlist/id/<?php echo $this->escape($batch['IdBatch']);?>" ><?php echo $this->escape($batch['BatchName']);?>
   			</a>
   		</td>
    	<?php } else{?>
    	<td><?php echo $this->escape($batch['BatchName']);?>
   		</td>
    	<?php }?>
    	<td><?php echo date('d-m-Y',strtotime($this->escape($batch['BatchFrom'])));?></td>
    	<td><?php echo date('d-m-Y',strtotime($this->escape($batch['BatchTo'])));?></td>
    	
    	<?php endforeach; ?>
        <?php endif; ?>
    </tr>
    <tr>
        <td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->paginator,'Sliding',
                                    '/partials/my_pagination_control.phtml'); ?></div>
        </td>
    </tr>
</table>
</fieldset>      
</html>   