<script type="text/javascript">
	function del(){
		var id = $('input[name=state_id]:checked').val();

		if(!id){
			alert('Please select any governorate first');
		}else{
			window.location = "<?php echo $this->url(array('module'=>'general-setup','controller'=>'state', 'action'=>'delete'),'default',true); ?>/id/"+id;
		}
	}
	
	function add(){
		window.location="<?php echo $this->url(array('module'=>'general-setup','controller'=>'state', 'action'=>'add'),'default',true);?>";
	}

	function edit(){
		var id = $('input[name=state_id]:checked').val();

		if(!id){
			alert('Please select any governorate first');
		}else{
			window.location="<?php echo $this->url(array('module'=>'general-setup','controller'=>'state', 'action'=>'edit'),'default',true);?>/id/"+id;
		}
	}

</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="#" onclick="javascript:add()">
					<span class='add'></span>
					Add
				</a>
			</li>
			<li>
				<a href="#" onclick="javascript:edit()">
					<span class='edit'></span>
					Edit
				</a>
			</li>
			<li>
				<a href="#" onclick="javascript:del()">
					<span class='delete'></span>
					Delete
				</a>
			</li>
			<li class="divider"></li>
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
		</ul>
	</div>
</div>
<br />
<?if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><? echo $this->noticeMessage;?></strong>.</div>
<br />
<?}?>
<?if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><? echo $this->noticeSuccess;?></strong>.</div>
<br />
<?}?>
<?if(isset($this->noticeError)){?>
<div class="message error"><strong><? echo $this->noticeError;?></strong>.</div>
<br />
<?}?>

<?php 
	echo $this->paginationControl($this->paginator,'Sliding','paginationTop.phtml');
?>
<table class="table" width="100%" cellpadding="5" cellspacing="1" border="0">
	<tr>
		<th>Country</th>
		<th>Governorate</th>
	</tr>
	
	<?php 
	$i=0;
	foreach ($this->paginator as $entry): 
	?>
	<tr <?php echo $i%2==0?"class='shade'":""; ?>>
		<td><?php echo $entry['country_name']; ?><?php echo $entry['country_arab_name']!=null?" - ".$entry['country_arab_name']:""; ?></td>
		<td>
			<table class="table2" width="100%">
			<?php 
			foreach ($entry['state'] as $state):
			?>
			<tr> 
				<td width="5px">
					<input type="radio" name="state_id" value="<?php echo $state['id']; ?>">
				</td>
				<td>
					<a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'state', 'action'=>'view', 'id'=>$state['id']));?>"><?php echo $state['name']; ?><?php echo $state['name_arabic']!=null? " - ".$state['name_arabic']:""; ?></a>
				</td>	
			</tr>
			<?php endforeach;?>
			</table>
		</td>
	</tr>
	<?php 
	$i++;
	endforeach 
	?>

</table>
<?php 
	echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
?>