<script type="text/javascript">
	function del(){
		var id = $('input[name=district_id]:checked').val();

		if(!id){
			alert('Please select any district first');
		}else{
			window.location = "<?php echo $this->url(array('module'=>'general-setup','controller'=>'state', 'action'=>'delete-district'),'default',true); ?>/id/"+id;
		}
	}
	
	function add(){
		window.location="<?php echo $this->url(array('module'=>'general-setup','controller'=>'state', 'action'=>'add-district')); ?>";
	}

	function edit(){
		var id = $('input[name=district_id]:checked').val();

		if(!id){
			alert('Please select any district first');
		}else{
			window.location="<?php echo $this->url(array('module'=>'general-setup','controller'=>'state', 'action'=>'edit-district'),'default',true);?>/id/"+id;
		}
	}

</script>

<div class="message toolbar">
	<h2><?php echo $this->title; ?></h2>
	<div class="toolbar-button">
		<ul>
			<li>
				<a href="#" onclick="javascript:add()">
					<span class='add'></span>
					Add
				</a>
			</li>
			<li>
				<a href="#" onclick="javascript:edit()">
					<span class='edit'></span>
					Edit
				</a>
			</li>
			<li>
				<a href="#" onclick="javascript:del()">
					<span class='delete'></span>
					Delete
				</a>
			</li>
			<li class="divider"></li>
			<li>
				<a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'state', 'action'=>'index'),'default',true);?>" >
					<span class='back'></span>
					Back
				</a>
			</li>
			<li>
				<a href="#" >
					<span class='info'></span>
					Info
				</a>
			</li>
		</ul>
	</div>
</div>
<br />
<?if(isset($this->noticeMessage)){?>
<div class="message notice"><strong><? echo $this->noticeMessage;?></strong>.</div>
<br />
<?}?>
<?if(isset($this->noticeSuccess)){?>
<div class="message success"><strong><? echo $this->noticeSuccess;?></strong>.</div>
<br />
<?}?>
<?if(isset($this->noticeError)){?>
<div class="message error"><strong><? echo $this->noticeError;?></strong>.</div>
<br />
<?}?>

<fieldset>
	<table>
		<tr>
			<td>Country</td>
			<td>:</td>
			<td><?php echo $this->state['country_name']; ?></td>
		</tr>
		<tr>
			<td>Govenorate</td>
			<td>:</td>
			<td><?php echo $this->state['name']; ?></td>
		</tr>
	</table>
</fieldset>
<br />

<div style="width:500px;">
<?php 
	echo $this->paginationControl($this->paginator,'Sliding','paginationTop.phtml');
?>
<table class="table" width="100%" cellpadding="5" cellspacing="0" border="0">
	<tr>
		<th width="25px">&nbsp;</th>
		<th>District</th>
	</tr>
	
	<?php 
	$i=0;
	foreach ($this->paginator as $entry): 
	?>
	<tr <?php echo $i%2==0?"class='shade'":""; ?>>
		<td>
			<input type="radio" name="district_id" value="<?php echo $entry['id']; ?>">
		</td>
		<td>
			<?php echo $entry['name']; ?><?php echo $entry['name_arabic']!=null?" - ".$entry['name_arabic']:""; ?>	
		</td>
	</tr>
	<?php 
	$i++;
	endforeach 
	?>

</table>
<?php 

	echo $this->paginationControl($this->paginator,'Sliding','paginationBottom.phtml');
?>
</div>