<html>
     <head>
     <script type="text/javascript">
     function validateUsername( value, constraint )
{

var loginID = dijit.byId( "field29" );

var bNoNameFound =  ( "Error" == loginID.get( "state" ) ) ? false:true;

if( "" == loginID.value ) {
    // for some required=true is not kicking in, so we are forcing it.
    bNoNameFound = false;
}
else {      
    if( false == loginID._focused ) {
        console.log( "Checking username..." );
        dojo.xhrGet({
            url: "<?php echo $this->baseUrl();?>"+"/examination/createquestionpaper/getvalidpaper/code/"+value,
            handleAs: 'text',
            content: { l: value},
            timeout: 10000, 
            load: function( data ) {
                if ( data ) {
                    // setting the state to error since the username is already taken
                    bNoNameFound = false;
                    loginID.set( "state", "Error" );
                    loginID.displayMessage( "The Code is already taken" );
                    // used to change the style of the control to represent a error
                    loginID._setStateClass();
                    console.log( "Invalid username" ); 
                }
                else
                {
                    bNoNameFound = true;
                    loginID.set( "state", "" );
                    loginID.displayMessage( "" );
                }
            }
        });
    }
}
</script>
     </head>
        <body>  
           <fieldset>
             <legend><?php echo "Create Question Paper";?></legend>
	            <Form dojoType="dijit.form.Form" id="myForm" action="" method="POST"  name= "myForm" >
	                 <script type="dojo/method" event="onSubmit">
                       if (this.validate()) 
                        {
					     return true;
                        } 
                          else 
                        {
                         return false;
                        }
                       </script> 
	                 <table class = "table" width="100%">
                <tr>
                   <td><?php echo "Course Name";?><span>*</span></td>
                   <td><?php echo $this->lobjGroupform->field1;?></td>
                   <td><?php echo "Question Paper Code";?><span>*</span></td>
                   <td ><?php echo $this->lobjGroupform->field29;?></td> 
                 </tr>                
                 <tr>               
               <td align = "right" colspan = "4">
                        <?php echo $this->lobjGroupform->Generate;?>
						<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'examination','controller'=>'createquestionpaper', 'action'=>'index'),'default',true);?>';" />
			  </td>               
			  </tr>
            </table>
                   </Form>
	         </fieldset>
       </<body>
</html>
