<head>
<script type="text/javascript">
dojo.addOnLoad(function() {

	});


</script>
</head>
<body class='claro'>
	 <form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm" >
<script type="dojo/method" event="onSubmit">
                              if (this.validate()) {
					  return true;
                } else {
                    return false;
                }
				</script>
<fieldset>
	<legend><?php echo $this->translate("Questions Utility");?></legend>

 			
		<table width="100%" >
		
		         <tr>
					<td><?php echo $this->translate("From Date")?></td>
					<td><?php echo $this->lobjQuestionsattendedForm->FromDate;?></td>
<td></td>
<td></td>			
					
				</tr>
				  <tr>
					<td><?php echo $this->translate("Program")?></td>
					<td><?php echo $this->lobjQuestionsattendedForm->Program;?></td>
					<td></td>
					<td></td>					
					
				</tr>
				
				<tr>
				 <td colspan="4" align="center">
				 	<?php echo $this->lobjQuestionsattendedForm->Search;?>
				 	<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Clear"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'examination','controller'=>'schedulerutility', 'action'=>'index'),'default',true);?>';" />
				</td>
               </tr>
		</table>

	</fieldset> 
	
	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
		
	    		<tr>
	    	
	    	       <th><?php echo "Question no";?></th>
	    	        <th><?php echo "Question";?></th>
	    	       <th><?php echo "Question Group";?></th>
	    	       <th><?php echo "Chapter";?></th>
	    	            <th><?php echo "Question Level";?></th>
	    	     <th><?php echo "Total Candidate";?></th>
	    	       <th><?php echo "Question Appeared";?></th>
	        	
	    	</tr>
	       
   			     <?php $cnts = count($this->questions);$larrquestiondetails = $this->questions; $examdate = $this->examdate;$sum=0;?>
	        <?php for($i=0;$i<$cnts;$i++){
	        	$questionlevel = $larrquestiondetails[$i]['QuestionLevel'];
	        	if($questionlevel=='1')
	        	  $questionanswelevel = "Easy";
	        	else if($questionlevel=='2')
	        	  $questionanswelevel = "Medium";
	        	else 
	        	    $questionanswelevel = "Difficult";
	        ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next();?>">
	  		 <td><?php echo $larrquestiondetails[$i]['idquestions']?></td>
	  		    <td><?php echo $larrquestiondetails[$i]['Question']?></td>
	  		      <td><?php echo $larrquestiondetails[$i]['QuestionGroup']?></td>
	  		     <td><?php echo $larrquestiondetails[$i]['QuestionNumber']?></td>
	  		     <td><?php echo $questionanswelevel?></td>
	  	
	  		       
	  		    
	  		    <?php $lobjexamquestionsattendedmodel = new Examination_Model_Questionsattended();
	  		    $maxidss =  $this->maxids;
	  		 ?>
	  	         <?php  $larrresultattended = $lobjexamquestionsattendedmodel->fnGetQtnsapperedinexam($larrquestiondetails[$i]['idquestions'],$maxidss);
	  	          $cnt = count($larrresultattended);
	  	      $sum = $sum+$cnt;
	  	         ?>
	  	
	  <td><?php echo $this->cntofstudent;?></td>
	  		 <td><?php echo count($larrresultattended);?></td>
	  		     
	  		</tr>
	
	  		<td><input type='text' id='ttl' name='ttl' value='<?php echo $sum;?>'></td>
	            <?php } ?>
	         
			</tr>

				
		</table>
	</fieldset>
</body>
