<script type="text/javascript">
dojo.addOnLoad(function(){
	u=0;
	s=10000;
	flg=0;
	flo=0;
	flt=0;
	xyz=0;
	totalroomno1=new Array();
	xy=0;
	roomz='<?php echo count($this->result) ?>';
	floorvalids='<?php echo count($this->result) ?>';
	//alert(floorvalids);
	 def = new Array();
	 roomaray=new Array();
	 wqarray=new Array();
	for(i=0;i<floorvalids;i++)
	{
	v=document.getElementById('NoOfRooms'+i).value;
	def.push(v);
	totalroomno1.push(v);
	}
	//alert(def)
	
});


function fnGetCountryStateList(idCountry){ 
	if(idCountry != "" || idCountry != undefined)
		{
			var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/trainingcenter/getcountrystateslist/idCountry/"+idCountry,
					handleAs:'json',
					load:function(data){ 
						AutoFillNextEditableDropDown("state",data); 
					}
			   }
			dojo.xhrGet(xhrArgs); 
		} 
	} 

function fnGetCityList(idCountry){ 
	
	if(idCountry != "" || idCountry != undefined)
		{  
		var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/trainingcenter/getcitylist/idCountry/"+idCountry,
				handleAs:'json',
				load:function(data){ 
					AutoFillNextEditableDropDown("city",data); 
				}
		   }
		dojo.xhrGet(xhrArgs);  
			
		} 
	} 
	
function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
    var options = {
					label:"name",
					identifier:"key",
					items:JSONText
				  };
    ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}

///////////

function duplicatecenter(cname)
{   
	if(cname!='')
	{  
		var xhrArgs = { 
				
							url: "<?php echo $this->baseUrl();?>"+"/trainingcenter/fnajaxgetcenter/cname/"+cname,
							handleAs:'text',
							load:function(data)
							{ 
							 if(data == '')
						      {
						      }
						     else
						      {
							 	alert(data);
							 	//dijit.byId("centername").setValue('');
							 	dijit.byId("centername").focus();
						      }
			                }
	                   }
	         dojo.xhrGet(xhrArgs);
     }
}

////////
function fngetFloors(valu)
{	
	
	floorval='<?php echo count($this->result) ?>';	
if((eval(valu) >eval(floorval))|| (eval(valu)==eval(floorval)))
{  
	roomz=valu;
	row=floorval;
	vars=valu-floorval;
	tble = "<table width='100%' class='table'  border='0'>";
	for(i=0;i<vars;i++)
	{
		floorval++;
		tble=tble+"<tr><td width='10%'>floor"+floorval+"</td><td width='10%'><input type='text' name='floorname[]' id='floorname"+floorval+"' value=''></td><td width='10%'>No Of Rooms</td><td  width='10%'><input type='text' name='NoOfRooms[]' size='3' onKeyPress='return numbersonly(event);' onKeyup='fngetRooms(this.value,"+(floorval-1)+")'  id='NoOfRooms"+i+"' value=''></td><td colspan='2' id='rooms"+(floorval-1)+"'></td></tr>";
		row++;
		}
	//alert(document.getElementById('divTxt').innerHTML);
	//alert(tble);
	//divs = document.getElementById('divTxt');
	//divs.appendChild(tble);
	//divs.innerHTML=divs.innerHTML;
	tble = tble+"</table>";
	document.getElementById('divTxt').innerHTML  = tble;
	  
	
	}
else
{
	
	alert("You cannot Enter Below "+floorval);
	 document.getElementById('Nooffloors').value=roomz;
}

}

function fngetRooms(roomid,rowNo)
{	xr=rowNo;
//alert(flt);
totalroomno1[rowNo];
		totalroomno=def[rowNo];
		if((eval(roomid) >eval(totalroomno))|| (eval(roomid)==eval(totalroomno)))
		{ 
			for(i=0;i<roomaray.length;i++)
			{
				if(roomaray[i]==xr)
				{
					
					flg=1;
					break;
				}
				else
				{
					flg=0;
				}
			}
			if(flg!=1){
			totalroomno1[rowNo]=document.getElementById('NoOfRooms'+rowNo).value;
			rems=roomid-totalroomno;
			idr=totalroomno;
			tble2 = "";
			for(i=0;i<rems;i++)
			{
				totalroomno++
				tble2 = tble2+"<tr><td width='10%'> Room "+totalroomno+"</td><td width='10%'><input type='text' name='Roomname["+rowNo+"][]' id='Roomname"+rowNo+"id"+totalroomno+"' value=''></td><td width='10%'>Capacity</td><td width='10%'><input type='text' name='Capacity["+rowNo+"][]' size='3' onKeyPress='return numbersonly(event);' id='Capacity"+rowNo+"id"+totalroomno+"' value='0'></td></tr>";
				}
			document.getElementById("divTxt2"+rowNo).innerHTML=tble2;
			}
			else
			{
				
				if(((eval(roomid) >eval(totalroomno))|| (eval(roomid)==eval(totalroomno))) && eval(xy)!=1)
				{ 
					totalroomno1[rowNo]=document.getElementById('NoOfRooms'+rowNo).value;
				
				rems=roomid-totalroomno;
				idr=totalroomno;
			
				tble2 = "";
				for(i=0;i<rems;i++)
				{
					totalroomno++
					tble2 = tble2+"<tr><td width='10%'> Room "+totalroomno+"</td><td width='10%'><input type='text' name='Roomname["+rowNo+"][]' id='Roomname"+rowNo+"id"+totalroomno+"' value=''></td><td width='10%'>Capacity</td><td width='10%'><input type='text' name='Capacity["+rowNo+"][]' size='3' onKeyPress='return numbersonly(event);' id='Capacity"+rowNo+"id"+totalroomno+"' value='0'></td></tr>";
					}
			
				document.getElementById("divTxt2"+rowNo).innerHTML=tble2;
					}
				else
				{
			
			document.getElementById('rooms'+rowNo).innerHTML = " ";
			tble1 = "<table width='100%' class='table'>";	
			for(i=0;i<roomid;i++)
				{			
				tble1 = tble1+"<tr><td width='10%'> Room "+(i+1)+"</td><td width='10%'><input type='text' name='Roomname["+rowNo+"][]' id='Roomname"+rowNo+"id"+i+"' value=''></td><td width='10%'>Capacity</td><td width='10%'><input type='text' name='Capacity["+rowNo+"][]' size='3' onKeyPress='return numbersonly(event);' id='Capacity"+rowNo+"id"+i+"' value='0'></td></tr>";
				}
			
			tble1 = tble1 +"</table>";
			document.getElementById('rooms'+rowNo).innerHTML = tble1;
				}
			
			}
			
		}
		
		else 
		{
			for(i=0;i<wqarray.length;i++)
			{
				if(wqarray[i]==rowNo)
				{
					
					flt=1;
					break;
				}
				else
				{
					flt=0;
				}
			}
			if((totalroomno!=undefined) && (flg!=1))
			{
				
				if(flt!=1)
				{
			result=confirm("It will Clear"+ totalroomno1[rowNo]+" Rooms data In this Floor");
				}
				else{
					result=true;
				}
			
			
			if(result==true)
			{
				roomaray.push(rowNo);
				wqarray.push(rowNo);
				
			rowNo1=rowNo-1;
			
		document.getElementById('rooms'+rowNo).innerHTML = " ";
		
		tble1 = "<table width='100%' class='table'>";	
		for(i=0;i<roomid;i++)
			{
			
				tble1 = tble1+"<tr><td width='10%'> Room "+(i+1)+"</td><td width='10%'><input type='text' name='Roomname["+rowNo+"][]' id='Roomname"+rowNo+"id"+i+"' value=''></td><td width='10%'>Capacity</td><td width='10%'><input type='text' name='Capacity["+rowNo+"][]' size='3' onKeyPress='return numbersonly(event);' id='Capacity"+rowNo+"id"+i+"' value='0'></td></tr>";
		
			}
		xy=1;
		tble1 = tble1 +"</table>";
		
		document.getElementById('rooms'+rowNo).innerHTML = tble1;
			}
			else
			{
			
			
			
				document.getElementById('NoOfRooms'+rowNo).value=totalroomno1[rowNo];
					
					
			}
			}
			else
			{
				


				 for(i=0;i<wqarray.length;i++)
					{
						if(wqarray[i]==rowNo)
						{
							
							flo=1;
							break;
						}
						else
						{
							flo=0;
						}
					}
				if((totalroomno!=undefined)&&(flo!=1)&&(xyz!=1))
				{
					result=confirm("It will Clear"+ totalroomno1[rowNo]+" Rooms data In this Floor");
					alert(result);
					
					if(result==true)
					{
						roomaray.push(rowNo);
				document.getElementById('rooms'+rowNo).innerHTML = " ";
			
				tble1 = "<table width='100%' class='table'>";	
				for(i=0;i<roomid;i++)
					{
					
						tble1 = tble1+"<tr><td width='10%'> Room "+(i+1)+"</td><td width='10%'><input type='text' name='Roomname["+rowNo+"][]' id='Roomname"+rowNo+"id"+i+"' value=''></td><td width='10%'>Capacity</td><td width='10%'><input type='text' name='Capacity["+rowNo+"][]' size='3' onKeyPress='return numbersonly(event);' id='Capacity"+rowNo+"id"+i+"' value='0'></td></tr>";
				
					}
				xy=1;
				xyz=1;
				tble1 = tble1 +"</table>";
				
				//rowNo = rowNo+1;
				document.getElementById('rooms'+rowNo).innerHTML = tble1;
			}
					else
					{
						document.getElementById('NoOfRooms'+rowNo).value=totalroomno1[rowNo];
					}
			}
				else
				{
					document.getElementById('rooms'+rowNo).innerHTML = " ";
					//document.getElementById('rooms'+rowNo).style.display = "block";
					tble1 = "<table width='100%' class='table'>";	
					for(i=0;i<roomid;i++)
						{
						
							tble1 = tble1+"<tr><td width='10%'> Room "+(i+1)+"</td><td width='10%'><input type='text' name='Roomname["+rowNo+"][]' id='Roomname"+rowNo+"id"+i+"' value=''></td><td width='10%'>Capacity</td><td width='10%'><input type='text' name='Capacity["+rowNo+"][]' size='3' onKeyPress='return numbersonly(event);' id='Capacity"+rowNo+"id"+i+"' value='0'></td></tr>";
					
						}
					
					tble1 = tble1 +"</table>";
					
					document.getElementById('rooms'+rowNo).innerHTML = tble1;
				}
			}
		}
		
	
}

function numbersonly(e){
	var unicode=e.charCode? e.charCode : e.keyCode
	if (unicode!=8){ //if the key isn't the backspace key (which we should allow)
	if (unicode<48||unicode>57) //if not a number
	return false //disable key press
	}
}

function duplicatecenternames(cname)
{   

	//alert(cname);
	
	if(cname!='')
	{  
		var xhrArgs = { 
				
							url: "<?php echo $this->baseUrl();?>"+"/trainingcenter/fnajaxgetcenternames/cname/"+cname,
							handleAs:'text',
							load:function(data)
							{ 
							 if(data == '')
						  {
						  }
						 else
						  {
							 alert(data);
							 dijit.byId("centername").setValue('');
							 dijit.byId("centername").focus();
						  }
			                }
	                      }
	         dojo.xhrGet(xhrArgs);
     }
}	

</script> 
 <fieldset>
    <legend><?php echo  $this->translate("Training").' '.$this->translate("Center").' '.$this->translate("Details")?></legend>
                <Form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">
                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>
                    <table class="table" width="100%" >
                        <tr>
                            <th colspan = "4"><?php echo $this->translate("Edit").' '.$this->translate("Details");?></th>
                        </tr>
                        <tr>
                            <td ><?php echo $this->translate("Training").' '.$this->translate("Center").' '.$this->translate("Name");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjcenterForm->centername;?><?php echo $this->lobjcenterForm->UpdDate;?><?php echo $this->lobjcenterForm->UpdUser;?><?php echo $this->lobjcenterForm->idcenter;?></td>
                            <td><?php echo $this->translate("Takaful").' '.$this->translate("Name");?><span class="reqMark">*</span></td>
                            <td  ><?php echo $this->lobjcenterForm->Operators;?></td>
                        </tr>
                <tr> 
                         
                            <td ><?php echo $this->translate("Address 1");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjcenterForm->addr1;?></td>
                             <td ><?php echo $this->translate("Address 2");?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjcenterForm->addr2;?></td>
                            
                        </tr>
                        <tr> 
                            <td ><?php echo $this->translate("Country");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjcenterForm->country;?></td>
                            <td ><?php echo $this->translate("State");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjcenterForm->state;?></td>
                           
                        </tr>
                        <tr> 
                           
                            <td ><?php echo $this->translate("City");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjcenterForm->city;?></td>
                            <td ><?php echo $this->translate("Fax");?></td>
                            <td ><?php echo $this->lobjcenterForm->fax;?></td>
                      
                            
                        </tr>
                        
                        <tr> 
                            <td ><?php echo $this->translate("Zip Code");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjcenterForm->zipCode;?></td>
                            <td ><?php echo $this->translate("Work Phone");?><span class="reqMark"></span></td>
                           <td ><?php echo $this->lobjcenterForm->workcountrycode;?><?php echo $this->lobjcenterForm->workstatecode;?><?php echo $this->lobjcenterForm->workPhone;?></td>
                           
                       
                        </tr>
                        <tr> 
                            
                            <td><?php echo $this->translate("Email Address");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjcenterForm->email;?></td>
                             <td ><?php //echo $this->translate("Active");?><span class="reqMark"></span></td>
                            <td ><?php //echo $this->lobjcenterForm->Active;?></td>
                           
                        </tr>
                            <tr>
                            <th colspan = "4"><?php echo $this->translate("Personal Details");?></th>
                        </tr>
                         <tr> 
                          <td><?php echo $this->translate("Contact Person");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjcenterForm->contactperson;?></td>  
                             <td ><?php echo $this->translate("Cell Phone");?><span class="reqMark">*</span></td>
                          <td ><?php echo $this->lobjcenterForm->countrycode;?><?php echo $this->lobjcenterForm->statecode;?><?php echo $this->lobjcenterForm->cellPhone;?></td>
                           
                        </tr>
                             <tr> 
                            <td ><?php echo $this->translate("Address 1");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjcenterForm->paddr1;?></td>
                            <td ><?php echo $this->translate("Address 2");?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjcenterForm->paddr2;?></td>
                           
                        </tr>
                           <tr>
                            <th colspan = "4"><?php echo $this->translate("Login").' '.$this->translate("Credentials");?></th>
                        </tr>
                         <tr> 
                            <td ><?php echo $this->translate("Center Login");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjcenterForm->centerlogin;?></td>
                            <td ><?php echo $this->translate("password");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjcenterForm->centerpassword;?></td>
                            
                               
                            </tr>
                           
                        <tr>
                          <td></td>
                          <td></td>
                            <td></td>        
                            <td align = "right"><?php echo $this->lobjcenterForm->Save;?>
							<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('controller'=>'trainingcenter', 'action'=>'index'),'default',true);?>';" />	
                            </td> 
                        </tr>
              </table>
            
             
            </Form>
</fieldset>
