<head>
<script type = "text/javascript">
dojo.addOnLoad(function(){
	examtoDateSetting();
	});
function examtoDateSetting(){ 
	var RegFromDate = dijit.byId('Dates').value;
	var startDate = dijit.byId('Dates2');
	var trdat = ""+RegFromDate;
	var d = new Date(trdat); 
	d.setDate(d.getDate());
    var date = d.getDate();
    var month = d.getMonth()+1;
    var year = d.getFullYear();
	
    if(month<10) month = "0"+month;
    if(date<10) date = "0"+date;
    var nextdate = year+'-'+month +'-'+date;
    
	startDate.constraints = dojo.mixin(startDate.constraints, {min: dojo.date.stamp.fromISOString(nextdate)}); 

	var trdat = ""+RegFromDate;
	var d = new Date(trdat); 
	d.setDate(d.getDate() + 30);
    var date = d.getDate();
    var month = d.getMonth()+1;
    var year = d.getFullYear();
	
    if(month<10) month = "0"+month;
    if(date<10) date = "0"+date;
    var nextdate = year+'-'+month +'-'+date;

	startDate.constraints = dojo.mixin(startDate.constraints, {max: dojo.date.stamp.fromISOString(nextdate)}); 
}
function examtoDateSetting1(){ 
	var RegFromDate = dijit.byId('UpDate1').value;
	var startDate = dijit.byId('UpDate2');
	var trdat = ""+RegFromDate;
	var d = new Date(trdat); 
	d.setDate(d.getDate());
    var date = d.getDate();
    var month = d.getMonth()+1;
    var year = d.getFullYear();
	
    if(month<10) month = "0"+month;
    if(date<10) date = "0"+date;
    var nextdate = year+'-'+month +'-'+date;
    
	startDate.constraints = dojo.mixin(startDate.constraints, {min: dojo.date.stamp.fromISOString(nextdate)}); 

	var trdat = ""+RegFromDate;
	var d = new Date(trdat); 
	d.setDate(d.getDate() + 30);
    var date = d.getDate();
    var month = d.getMonth()+1;
    var year = d.getFullYear();
	
    if(month<10) month = "0"+month;
    if(date<10) date = "0"+date;
    var nextdate = year+'-'+month +'-'+date;

	startDate.constraints = dojo.mixin(startDate.constraints, {max: dojo.date.stamp.fromISOString(nextdate)}); 
}
function fngetstudetails(idapp){
	 if(idapp != "")
		{   
		    var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/reports/newapplicationreport/getstudentdetails/idapp/"+idapp,
					handleAs:'text',
					load:function(data){					
						document.getElementById('divLogin').style.display = 'block';						
						document.getElementById('divLogin2').style.display = 'block';
						document.getElementById('contentdiv').innerHTML = data;						
					}
			   }
			dojo.xhrGet(xhrArgs); 
		} 
}
function fngetPaymentdetails(idapp,paymentmode){
//alert(idapp);
//alert(paymentmode);
	 if(idapp != "")
		{   
		    var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/reports/newapplicationreport/studentpaymentdetails/idapplication/"+idapp+"/paymentmode/"+paymentmode,
					handleAs:'text',
					load:function(data){					
						document.getElementById('divLogin').style.display = 'block';						
						document.getElementById('divLogin2').style.display = 'block';
						document.getElementById('contentdiv').innerHTML = data;						
					}
			   }
			dojo.xhrGet(xhrArgs); 
		} 
}


function Closefn()
{
	document.getElementById('contentdiv').innerHTML = "";
	document.getElementById('divLogin').style.display = 'none';
	document.getElementById('divLogin2').style.display = 'none';
} 
function closebox() {
	document.getElementById('contentdiv').innerHTML = "";
	document.getElementById('divLogin').style.display = 'none';
	document.getElementById('prgmdetails').style.display = 'none';
}
</script>
</head>

<body class='claro'>
<fieldset>
	<legend><?php echo $this->translate("Student Application").' '.$this->translate("Report");?></legend>
	<div class="search" style="margin-left:20px;">
 		<form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/reports/newapplicationreport/index/search/1" method="POST">
 			<script type="dojo/method" event="onSubmit">
                if (this.validate()){
					return true;
                } else {
                    return false;
                }
			</script>
		<table width="100%">
		        <tr>
                    <td><?php echo $this->translate("Exam").' '.$this->translate("From").' '.$this->translate("Date") ?></td>
                    <td><?php echo $this->lobjstudentappform->Dates;?></td>
                    <td><?php echo $this->translate("Exam").' '.$this->translate("To").' '.$this->translate("Date") ?></td>
                    <td><?php echo $this->lobjstudentappform->Dates2;?></td>
                </tr>
                <tr>
                    <td><?php echo $this->translate("Applied").' '.$this->translate("From").' '.$this->translate("Date") ?></td>
                    <td><?php echo $this->lobjstudentappform->UpDate1;?></td>
                    <td><?php echo $this->translate("Applied").' '.$this->translate("To").' '.$this->translate("Date") ?></td>
                    <td><?php echo $this->lobjstudentappform->UpDate2;?></td>
                </tr>
				<tr>
					<td><?php echo $this->translate("Student").' '.$this->translate("Name") ?></td>
					<td><?php echo $this->lobjstudentappform->Studentname;?></td>
					<td><?php echo $this->translate("IC NO") ?></td>
					<td><?php echo $this->lobjstudentappform->ICNO;?></td>
				</tr>
				<tr>
                    <td><?php echo $this->translate("Course").' '.$this->translate("Name") ?></td>
                    <td><?php echo $this->lobjstudentappform->Coursename;?></td>
                    <td><?php echo $this->translate("Venue") ?></td>
                    <td><?php echo $this->lobjstudentappform->Venues;?></td>
                </tr>
                <tr>
                  <td><?php echo $this->translate("Payment Status") ?></td>
                  <td><?php echo $this->lobjstudentappform->Payment;?></td>
                  <td><?php echo $this->translate("Payment Mode") ?></td>
                  <td><?php echo $this->lobjstudentappform->paymentmode;?></td>
                </tr>
				<tr>
                  <td><?php echo $this->translate("Army No") ?></td>
                   <td><?php echo $this->lobjstudentappform->Army;?></td>                 
                </tr>
                
				<tr>
					<td colspan="4" align="center">
					<?php echo $this->lobjstudentappform->Search;?>
					<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Clear"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'reports','controller'=>'newapplicationreport', 'action'=>'index'),'default',true);?>';" />
					</td>
				</tr>
		</table>
	</form>	
		</div>
	</fieldset> 
<br>
<?php if($this->set){?>
<fieldset>
<form id="myForm1" name = "myform1" action="<?php echo $this->baseUrl();?>/reports/newapplicationreport/fnpdfexport" method="POST">
    <table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr>
        <th><?php echo $this->translate("Student Name") ?></th>
        <th><?php echo $this->translate("ICNO") ?></th>
        <th><?php echo $this->translate("Course Name") ?></th>
        <th><?php echo $this->translate("Venue") ?></th>
        <th><?php echo $this->translate("Exam Date") ?></th>
        <th><?php echo $this->translate("Applied Date") ?></th>
        <th><?php echo $this->translate("Type") ?></th>
        <th><?php echo $this->translate("Status") ?></th>
        <th><?php echo $this->translate("Payment Status") ?></th>
        <th><?php echo $this->translate("Payment Mode") ?></th>
        
        <th><?php echo $this->translate("Amount") ?></th>
        <th><?php echo $this->translate("GST") ?></th>
        <th><?php echo $this->translate("Total Amount") ?></th>
        <th><?php echo $this->translate("Mobile No") ?></th>
    </tr>
    <?php if (count($this->paginator)){?>
    <?php foreach ($this->paginator as $lobjCountry ){
	
	if($lobjCountry['ArmyNo']==0)$lobjCountry['ArmyNo']="";
	else $lobjCountry['ArmyNo'] = "/".$lobjCountry['ArmyNo'];
	?>
    <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
    <td><a href="javascript:fngetstudetails('<?php echo $lobjCountry['IDApplication']?>');" ><?php print_r($this->escape($lobjCountry['fname']));?></a></td>
    <td><?php print_r($this->escape($lobjCountry['icno'].$lobjCountry['ArmyNo']));?></td>
    <td><?php print_r($this->escape($lobjCountry['programname']));?></td>
    <td><?php print_r($this->escape($lobjCountry['centername']));?></td>
    <td><?php print_r($this->escape($lobjCountry['ExamDate1']));?></td>
    <td><?php print_r($this->escape($lobjCountry['Applieddate']));?></td>
    <td><?php print_r($this->escape($lobjCountry['Type']));?></td>
    <td><?php print_r($this->escape($lobjCountry['Result']));?></td>
    <td><?php print_r($this->escape($lobjCountry['PaymentStatus']));?></td>
    
 <?php if($lobjCountry['PaymentStatus']=='Paid' && $lobjCountry['modeofpayment']!='') {?>
     <td><a href="#" onclick="fngetPaymentdetails('<?php echo $lobjCountry['IDApplication'];?>','<?php echo $lobjCountry['modeofpayment'];?>')"><?php print_r($this->escape($lobjCountry['Modeofpayment']));?></a></td>
    <?php } else {?>
     <td><?php print_r($this->escape($lobjCountry['Modeofpayment']));?></td>
    <?php }?>
     
     <td><?php print_r($this->escape(number_format($lobjCountry['Rate'], 2)));?></td>
     
    <td><?php print_r($this->escape(number_format($lobjCountry['ServiceTax'], 2)));?></td>
    <td><?php print_r($this->escape($lobjCountry['Amount']));?></td>
    <td><?php print_r($this->escape($lobjCountry['MobileNo']));?></td>
    
    
    

    <input type="hidden" name="programname" id="programname" value="<?php print_r($this->formdata['Coursename']);?>"></td>
    <input type="hidden" name="centername" id="centername" value="<?php print_r($this->formdata['Venues']);?>"></td>
    <input type="hidden" name="paymentmode" id="paymentmode" value="<?php print_r($this->formdata['paymentmode']);?>"></td>
    <input type="hidden" name="Payment" id="Payment" value="<?php print_r($this->formdata['Payment']);?>"></td>
    <input type="hidden" name="Venues" id="Venues" value="<?php print_r($this->formdata['Venues']);?>"></td>
    <input type="hidden" name="Coursename" id="Coursename" value="<?php print_r($this->formdata['Coursename']);?>"></td>
    <input type="hidden" name="ICNO" id="ICNO" value="<?php print_r($this->formdata['ICNO']);?>"></td>
    <input type="hidden" name="Studentname" id="Studentname" value="<?php print_r($this->formdata['Studentname']);?>"></td>
    <input type="hidden" name="UpDate2" id="UpDate2" value="<?php print_r($this->formdata['UpDate2']);?>"></td>
    <input type="hidden" name="UpDate1" id="UpDate1" value="<?php print_r($this->formdata['UpDate1']);?>"></td>
    <input type="hidden" name="Dates2" id="Dates2" value="<?php print_r($this->formdata['Dates2']);?>"></td>
    <input type="hidden" name="Dates" id="Dates" value="<?php print_r($this->formdata['Dates']);?>"></td>
    
    <input type="hidden" name="Dates" id="Rate" value="<?php print_r($this->totalamount['Rate']);?>"></td>
    <input type="hidden" name="Dates" id="Dates" value="<?php print_r($this->formdata['Dates']);?>"></td>
    <input type="hidden" name="Dates" id="Dates" value="<?php print_r($this->formdata['Dates']);?>"></td>
    
    </tr>
    
    
    
    <?php }?>
    <tr>
        
        <td colspan = "9" align = "right"><b>TOTAL</b> </td><td><b><?php echo $this->total;?></b></td>
        <td><?php echo $this->AmountSum;?>
        <td><?php echo $this->TaxSum;?></td>
        <td><?php echo $this->Sum_Totalamt;?></td>
    </tr>
    <tr><td colspan = "10" align = "right">
    <td><input name="Print2" id="Print2" type="submit" dojoType=dijit.form.Button style= "Width=900px" label="<?php echo $this->translate("Print PDF "); ?>" value=<?php echo $this->translate("PDF");?>></td>
	<td><input name="Print1" id="Print1" type="submit" dojoType=dijit.form.Button style= "Width=900px" label="<?php echo $this->translate("Export To Excel"); ?>" value=<?php echo $this->translate("Excel");?> ></td>
    <?php }?>
 </tr>
    </table>
</form>
</fieldset>
<?php }?>
<div runat="server" id="divLogin"  style="display:none; z-index: 153; position: fixed; left: 23%; width: 750px; top:5%">
  <div runat="server" id="divLogin2"  style="display:none; opacity:1.0; z-index: 150; position: relative; left: 0%; height: 100%; width: 100%; top: 0%;"> </div>
					                <div id="scroll" style="height: 600px; width: 100%; overflow:auto;">
					                <asp:Panel runat="server" ID="popupLogin">
					                    <asp:Panel runat="server" ID="popupContent1">
					                        <table style="height: 125px; width: 100%; background-color: #FFFFFF;" border="3" frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">
					                                    	<div id="contentdiv"></div>					                                      
					                                   </td>
					                                </tr>
					                                <tr>
					                                    <td colspan="2" align="left">
					                                        <asp:Label ID="lblmandatory" runat="server" Text="* Mandatory Information Required"
					                                            class="LeftLabelStyle" Width="350px" />
					                                    </td>
					                                </tr>
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
    </div>
 </div>
</body>
</html>
