<html>
<script>    
</script>
<head>
</head>
<body class="claro">
    
    <?php  $paymentdeatils = $this->larrresult; //foreach ($this->larrresult as $lobjstudetails ): ?>
     <?php //endforeach; ?>
    <fieldset>
       <legend><?php echo "Candidate Payment Details";?></legend>       
	    <table class="table" width="100%" cellpadding="5" cellspacing="1">
		     <?php if($paymentdeatils['ModeofPayment']==5 || $paymentdeatils['ModeofPayment']==6 || $paymentdeatils['ModeofPayment']==4 || $paymentdeatils['ModeofPayment']==7){?>
		    <tr>
		        <th><?php echo $this->translate("Candidate Name") ?></th>		       
		        <th><?php echo $this->translate("ICNO") ?></th>  
				<th><?php echo $this->translate("Reference Number") ?></th>
				<th><?php echo $this->translate("Amount") ?></th>
				<th><?php echo $this->translate("Date Of Payment") ?></th>
				
		    </tr>
			<?php }?>
			 <?php if($paymentdeatils['ModeofPayment']==1){?>
			  <tr>
		        <th><?php echo $this->translate("Candidate Name") ?></th>		       
		        <th><?php echo $this->translate("ICNO") ?></th>  
				<th><?php echo $this->translate("Transaction Id") ?></th>
				<th><?php echo $this->translate("Order No") ?></th>
				<th><?php echo $this->translate("Amount") ?></th>
				<th><?php echo $this->translate("Date Of Payment") ?></th>
			
		    </tr>
			<?php }?>
			 <?php if($paymentdeatils['ModeofPayment']==10){?>
			  <tr>
		        <th><?php echo $this->translate("Candidate Name") ?></th>		       
		        <th><?php echo $this->translate("ICNO") ?></th> 
                <th><?php echo $this->translate("Transaction Number") ?></th>				
				<th><?php echo $this->translate("Card Type") ?></th>
				<th><?php echo $this->translate("Authorization Id") ?></th>
				<th><?php echo $this->translate("Date Of Payment") ?></th>				
		    </tr>
			<?php }?>
			 <?php if($paymentdeatils['ModeofPayment']==2){?>
			  <tr>
		        <th><?php echo $this->translate("Candidate Name") ?></th>		       
		        <th><?php echo $this->translate("ICNO") ?></th>				
				<th><?php echo $this->translate("Transaction Id") ?></th>
				<th><?php echo $this->translate("Amount") ?></th>
				<th><?php echo $this->translate("Date Of Payment") ?></th>
				
		    </tr>
			<?php }?>
		 
		    <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
		         <td><?php print_r($this->escape($paymentdeatils['FName'].' '.$paymentdeatils['MName'].' '.$paymentdeatils['LName']));?></td> 		        
		         <td><?php print_r($this->escape($paymentdeatils['ICNO']));?></td>
				  <?php if($paymentdeatils['ModeofPayment']==5 || $paymentdeatils['ModeofPayment']==6 || $paymentdeatils['ModeofPayment']==4 || $paymentdeatils['ModeofPayment']==7){?>
				   <td><?php print_r($this->escape($paymentdeatils['Reference']));?></td>
				   <?php }
                        if($paymentdeatils['ModeofPayment']==10 || $paymentdeatils['ModeofPayment']==2 || $paymentdeatils['ModeofPayment']==1){?>
						 <td><?php print_r($this->escape($paymentdeatils['Transaction']));?></td>
						 <?php }  if($paymentdeatils['ModeofPayment']==1){?>
						 <td><?php print_r($this->escape($paymentdeatils['orderNumber']));?></td>
						  <?php }  if($paymentdeatils['ModeofPayment']==10){?>
						  <td><?php print_r($this->escape($paymentdeatils['vpc_Card']));?></td>
						  <td><?php print_r($this->escape($paymentdeatils['vpc_AuthorizeId']));?></td>
						  <?php }  if($paymentdeatils['ModeofPayment']!=10){?>
						   <td><?php print_r($this->escape($paymentdeatils['Amount']));?></td>
						   <?php }?>
						    <td><?php print_r($this->escape($paymentdeatils['AppliedDate']));?></td>
			</tr>         
		   
		    <tr>
					<td colspan= "5" align="right"><input type="button" id="close" name="close"  value="Close" onClick="closebox();"></td>
		    </tr>
	</table>
</fieldset>   
</body>
</html>
