<html>
<head>
<script>
dojo.addOnLoad(function(){
		//fngetmonths();
                //fngetmonthsforToyear();
	});
function fngetmonthsforToyear(){
    var val = dijit.byId('ToYear').value; //2013 or 2012
	var d = new Date();
	var yr = d.getFullYear(); //2013
	var searchtype = '<?php echo $this->search; ?>'; //1 before search or 0 after search
	var nn = '<?php echo $this->searchmon; ?>';
	if(searchtype==1){
		    if(val != yr)
			{
			    var mnumber = 0;
			}else{
				   var mnumber = d.getMonth()-1; // returns previous month starting from 0
				 }
	}else{
		if(val != yr)
		{
               			if(val=='2012')
                                {
                   		  nn = nn-3;
               			}
			   var mnumber = nn-1;
		}else{
			    var mnumber = nn-1;; // returns previous month starting from 0
			 }
	}
	
	if(val != "")
	{ 
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/reports/allstatistics/fngetmonthnames/val/"+val,
			handleAs:'json',
			load:function(data){
				AutoFillNextEditableDropDown("ToMonth",data); 
				var options = {
						label:"name",
						identifier:"key",
						items:data
					  };
				keyvalue = options.items[mnumber].key;
				dijit.byId("ToMonth").set('value',keyvalue);
			}
		  }
dojo.xhrGet(xhrArgs);
	}	
}
function fngetmonths(){
	var val = dijit.byId('Year').value; //2013 or 2012
	var d = new Date();
	var yr = d.getFullYear(); //2013
	var searchtype = '<?php echo $this->search; ?>'; //1 before search or 0 after search
	var nn = '<?php echo $this->searchmon; ?>';
	if(searchtype==1){
		    if(val != yr)
			{
			    var mnumber = 0;
			}else{
				   var mnumber = d.getMonth()-1; // returns previous month starting from 0
				 }
	}else{
		if(val != yr)
		{
               			if(val=='2012')
                                {
                   		  nn = nn-3;
               			}
			   var mnumber = nn-1;
		}else{
			    var mnumber = nn-1;; // returns previous month starting from 0
			 }
	}
	
	if(val != "")
	{ 
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/reports/allstatistics/fngetmonthnames/val/"+val,
			handleAs:'json',
			load:function(data){
				AutoFillNextEditableDropDown("Month",data); 
				var options = {
						label:"name",
						identifier:"key",
						items:data
					  };
				keyvalue = options.items[mnumber].key;
				dijit.byId("Month").set('value',keyvalue);
			}
		  }
dojo.xhrGet(xhrArgs);
	}	
}
function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
    var options = {
					label:"name",
					identifier:"key",
					items:JSONText
				  };
	  
    ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}
///to be added
</script>
</head>
<body class='claro'>
<fieldset>
	<legend><?php echo $this->translate("Centerwise").' '.$this->translate("Statistics");?></legend>

<fieldset>
<form id="myForm1" name = "myform1" action="<?php echo $this->baseUrl();?>/reports/centerwisestatistics/index" method="POST">
    <table width="100%">
		        <tr>
		           
                    <td><?php echo $this->translate("From_Year") ?>
                  
                    <?php echo $this->lobjform->Date1;?></td>
                    
                     <td><?php echo $this->translate("To_Year") ?>
                   <?php echo $this->lobjform->Date2;?></td>
                    
                   </td>
                 </tr>
				<tr>
               <tr><td colspan='4'></td></tr>
                <tr> <td colspan='4' align='center' ><?php echo $this->lobjform->Search;?>
                    <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Clear"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'reports','controller'=>'centerwisestatistics', 'action'=>'index'),'default',true);?>';" />
				 </td>
               </tr>
		</table>
        <?php //endif; ?>
        </form>
</fieldset> 

</form>
</body>
</html>
