<link rel="stylesheet" type="text/css" href="<?php  echo $this->baseUrl();?>/js/dojo/dijit/themes/claro/claro.css" />
<link rel="stylesheet" type="text/css" href="<?php  echo $this->baseUrl();?>/js/dojo/dojo/resources/dojo.css" />

          <table class="table" width="100%"  border="0" align="center">
	                     <tr>
                            <td>To Change the course of candidate please enter the  password</td>
                         
                         </tr>
                      
                   <tr>
                   <td align="center">    <?php echo $this->lobjstudentForm->passwd;?></td>
                   </tr>
                       <tr>
                            <th colspan="4"><?php echo $this->translate("");?></th>
                     </tr>
                  
                   </tr>
                    <tr>
                  
                   </tr>
                 
                <tr>                         
                         
                         
                                                
                             
                                                 <td colspan="3"  id='btnsave'><center>
                      <input type="button" class="NormalBtn"  dojotype="dijit.form.Button" value="ok" label="<?php echo $this->translate("ok"); ?>" onClick="Closeokfn()" />
 <input type="button" class="NormalBtn"  dojotype="dijit.form.Button" value="cancel" label="<?php echo $this->translate("cancel"); ?>" onClick="Closefn()" />
                           </center>   </td> 
                        </tr>     
          </table>