<head>
<script>
dojo.addOnLoad(function(){
	dijit.byId('field3').focus();	
	});
</script>
</head>
	<fieldset>
		<legend><?php  echo $this->translate("Student").' '.$this->translate("Search");?></legend>
         <form action="<?php echo $this->baseUrl();?>/general-setup/promote/index/search/1" method="POST">
            <table width="100%">
                <tr>
                   <td><?php echo $this->translate("Student  Name");?></td>
                   <td ><?php echo $this->lobjform->field3;?></td>
                   <td><?php //echo $this->translate("City");?></td>
                   <td ><?php //echo $this->lobjform->field2;?></td>
                </tr>
                <tr>
                    <td ><?php // echo $this->translate("Active");?></td>
                    <td ><?php // echo $this->lobjform->field7;?></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
	               <td align = "center" colspan = "4">
						<?php echo $this->lobjform->Search;?>
						<?php echo $this->lobjform->Clear;?>
				   </td>
                </tr>
            </table>
        </form>	
    </fieldset> 
    <br/>
	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
		
	    	<tr>
	        	<th><?php echo $this->translate("Student Name");?></th>
	       	    <th><?php echo $this->translate("Batch Name");?></th>
	        	<th><?php echo $this->translate("Center Name");?></th>
	        	<th><?php echo $this->translate("Time");?></th>
	        	<th><?php echo $this->translate("$this->Program Name");?></th>
	        	<th><?php echo $this->translate("Schedule Name");?></th>
	    	</tr>
	        <?php if (count($this->paginator)): ?>
	        <?php foreach ($this->paginator as $lobjcenter ): ?>
	  		<tr style="background-color:<?php   echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	<td><?php echo $this->escape($lobjcenter['Name']);?></td>
	        	 <td><?php echo $this->escape($lobjcenter['BatchName']);?></td>
	    		<td><?php echo $this->escape($lobjcenter['centername']);?></td>
	    		 <td><?php echo $this->escape($lobjcenter['From']);?></td>
	    		<td><?php echo $this->escape($lobjcenter['ProgramName']);?></td>
	    		<td><?php echo $this->escape($lobjcenter['ScheduleName']);?></div></td>
	            <?php  endforeach; ?>
	            <?php endif; ?> 
			</tr>
	    	<tr>
	        	<td colspan="8" align="right"><div class="pagination"><?php  echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>
		</table>
	</fieldset>
