<fieldset>
    <legend><?php echo $this->translate($this->Program);?></legend>
                <form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">
                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>
                    <table class="table" width="100%" >
                        <tr>
                            <th colspan = "4"><?php echo $this->translate($this->Program).' '.$this->translate("Details");?></th>
                        </tr>
                        <tr>
                            <td><?php echo $this->translate($this->Program).' '.$this->translate("Name");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjprogrambranchForm->IdProgram;?>
                            	<?php echo $this->lobjprogrambranchForm->UpdDate;?>
                            	<?php echo $this->lobjprogrambranchForm->UpdUser;?></td>
                            <td><?php echo $this->translate("Arabic").' '.$this->translate("Name");?></td>
                            <td><?php echo $this->ArabicName;?></td>
                        </tr>
                        <tr >
                         	<td><?php echo $this->translate($this->Branch).' '.$this->translate("Name");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjprogrambranchForm->IdCollege;?></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr> 
                            <td><?php echo $this->translate("Active");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjprogrambranchForm->Active;?></td>
                            <td colspan=2></td>
                        </tr>
               			<tr>
                            <td colspan=4 align = "right"><?php echo $this->lobjprogrambranchForm->Save;?>
                               	<a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'programbranch', 'action'=>'index'),'default',true);?>" ><?php echo $this->lobjprogrambranchForm->Back;?></a>
                            </td> 
                               
                        </tr>           
                        
              </table>
            
            </Form>

</fieldset>
