
<fieldset>
    <legend><?php echo $this->translate("Company").' '.$this->translate("Master");?></legend>
    
                <Form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">
 <script type="dojo/method" event="onSubmit">
               if (this.validate()) {
			return true;
			

} else {
	return false;}
				</script>.

                    <table class="table" width="100%" >
                        <tr>
                            <th colspan = "2"><?php echo $this->translate("COMFIRMATION").' '.$this->translate("OF").' '.$this->translate("REGISTRATION");?></th>
                        </tr>
                          <?php   foreach ($this->login as $lobjcategory ): // ($this->accountdetails as $lobjcategory ): ?>
           
     	
                        <tr>
                            <td ><?php echo $this->translate("Your").' '.$this->translate("ID");?><span class="reqMark"></span></td>
                            <td ><?php echo $lobjcategory['Login'];?>
                        </tr>
                        
                         <tr>
                            <td ><?php echo $this->translate("Password");?><span class="reqMark"></span></td>
                            <td ><?php echo  $this->pass;?></td>
                        </tr>
                     
                      <tr> 
                              <td ><?php echo $this->translate("Security").' '.$this->translate("Question");?><span class="reqMark"></span></td>
                            <td ><?php echo $lobjcategory['quest'];?></td>
                     </tr>
  
                    <tr>
                          <td ><?php echo $this->translate("Answer");?><span class="reqMark"></span></td>
                            <td ><?php echo $lobjcategory['answer'];?></td>
                    </tr>   
                    	<?php break; endforeach; ?>
                    <tr>
                     <td colspan='2'><font size="2.5">Your company registration has been completed.<br> Please click here <a href="<?php echo $this->baseUrl();?>/introduction/index"><u>TBE Website</u></a>  to login and start Registering your Candidates.</br>An email of your Company Profile Registration is sent to your email. Please check your Inbox or Spam Folder for the email. </font> </td>
                    </tr>
                    <tr>
           
                    <td colspan="2" align="right">

			 <?php if($this->fromweb == 1){?>
<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Home"); ?>" onclick="window.location.href='<?php echo $this->url(array('controller'=>'introduction', 'action'=>'index'),'default',true);?>';" />	</td>
         

          <?php } else {?>

	<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Home"); ?>" onclick="window.location.href='<?php echo $this->url(array('controller'=>'introduction', 'action'=>'index'),'default',true);?>';" />	</td>
              <?php }?>     
 </tr>                   
              </table>
            </Form>
</fieldset>
