<script type="text/javascript">

	dojo.addOnLoad(function() {
		dijit.byId('Semester').set('value','');
		dijit.byId('Semester').set('placeHolder','Select');
		dijit.byId('year').set('value','');
		dijit.byId('year').set('placeHolder','Select');
	});
</script> 
<fieldset>
    <legend><?php echo $this->translate("Semester");?></legend>
    
                <Form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">
                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>
                    <table class="table" width="100%" >
                        <tr>
                            <th colspan = "4"><?php echo $this->translate("Semester").' '.$this->translate("Details");?></th>
                        </tr>
                        <tr>
                            <td><?php echo $this->translate("Semester").' '.$this->translate("Name");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjsemesterForm->Semester;?><?php echo $this->lobjsemesterForm->year;?>
                            	<?php echo $this->lobjsemesterForm->UpdDate;?>
                            	<?php echo $this->lobjsemesterForm->UpdUser;?></td>
                            <td><?php echo $this->translate("Short Name");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjsemesterForm->ShortName;?></td>
                        </tr>
                        <tr>
                            <td><?php echo $this->translate("Semester").' '.$this->translate("Code");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjsemesterForm->SemesterCode;?></td>
                            <td><?php echo $this->translate("Semester").' '.$this->translate("Intake");?></td>
                            <td><?php echo $this->lobjsemesterForm->StudentIntake;?></td>
                        </tr>
                        <tr>
                         	<td><?php echo $this->translate("Start Date");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjsemesterForm->StartDate;?></td> 
                            <td><?php echo $this->translate("End Date");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjsemesterForm->EndDate;?></td> 
                            
                        </tr>
                       	<tr>
                       		<td><?php echo $this->translate("Active");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjsemesterForm->Active;?></td>
                            <td></td>
                            <td></td>
                       	</tr>
               			<tr>
                            <td colspan=4 align = "right"><?php echo $this->lobjsemesterForm->Save;?>
                           <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'general-setup','controller'=>'semester', 'action'=>'index'),'default',true);?>';" />	
                            </td> 
                               
                        </tr>           
                        
              </table>
            
            </Form>

</fieldset>
