<head>

<script type="text/javascript">
	dojo.addOnLoad(function() {
		
	});
</script> 
</head>

       <form action="" method="POST"  name= "myform"  dojoType="dijit.form.Form"  enctype="multipart/form-data">
       <script type="dojo/method" event="onSubmit">
            if (this.validate())
            {
				return true;
            }
            else
            {
                 return false;
            }
		</script>
			<fieldset>
				<table class="table" width="100%" align="center">
					<tr>
					<td><?php echo $this->translate("Idapplication");?><span class="reqMark">*</span></td>
					<td><input type="text" dojoType="dijit.form.ValidationTextBox" required="true" maxlength="100" name="idapplication" id="idapplication" /></td>
					</tr>
					<tr>
						<td  ><?php echo $this->translate("Passport Size Photo");?><span class="reqMark">*</span></td>
	                    <td >
								<input type="file" required="true"  name="uploadeddocuments1" id="uploaddocuments1"  />
	                    </td>
	                </tr>  
	                        
					<tr>
	                    <td  ><?php echo $this->translate("Documents For Passport");?><span class="reqMark">*</span></td>
	                    <td >
	                         <input  type="file"  required="true"   name="uploadeddocuments2" id="uploaddocuments2"  />
	                   </td>
	                </tr> 	              
	                <tr>
	                    <td ><?php echo $this->translate("Documents For Address");?><span class="reqMark">*</span></td>
	                    <td >
	                           	<input type="file"  required="true"  name="uploadeddocuments3" id="uploaddocuments3" />
	                    </td>
	                </tr> 
					<tr>
						<td colspan="4" align="right">        
							<input type="submit" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Save"); ?>"    />	
							<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('controller'=>'index', 'action'=>'index'),'default',true);?>';" />	
						</td> 
					</tr>
				</table>
			</fieldset>
            </Form>


