<!DOCTYPE html>
<html>
<head>
<Script type="text/javascript">
</script>
<body class='claro' >
<fieldset>
	<legend><?php echo $this->translate("Student").' '.$this->translate("Questions");?></legend>
	<div class="search" style="margin-left:20px;">
 		<form dojoType="dijit.form.Form"  id="myForm" action="" method="POST" > 
 		  <script type="dojo/method" event="onSubmit">
             if (this.validate()) {
					return true;
                } else {
                    return false;
                }
			</script>
		<table width="100%">				
				<tr>
					<td align="center">
						<?php echo $this->translate("Register Id"); echo ":&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"?>
                   	 <?php echo $this->lobjform->field3;?>
                    </td>
                </tr>
               	<tr>
               		<td align="center">
                    	<?php echo $this->lobjform->Search;?>
						<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Clear"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'reports','controller'=>'studentquestions', 'action'=>'index'),'default',true);?>';" />
					</td>
               </tr>
		</table>
	</form>	
		</div>
	</fieldset> 
<br>

<table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr >
        <th><?php echo $this->translate("Candidate name") ?></th>
        <th><?php echo $this->translate("EmailAddress") ?></th>
        <th><?php echo $this->translate("ICNO") ?></th>
        <th><?php echo $this->translate("Regid") ?></th>
        <th><?php echo $this->translate("TOS Set Name") ?></th>
        <th><?php echo $this->translate("TOS From") ?></th>
        <th><?php echo $this->translate("Tos To") ?></th>
       
    </tr>
    <?php 
    if($this->studentquestions){
    foreach($this->studentquestions as $studentquestions){?>
    <tr>
    	<td><?php echo $studentquestions["FName"];?></td>
    	<td><?php echo $studentquestions["EmailAddress"];?></td>
    	<td><?php echo $studentquestions["ICNO"];?></td>
    	<td><?php echo $studentquestions["Regid"];?></td>
    	<td><?php echo $studentquestions["BatchName"];?></td>
    	<td><?php echo $studentquestions["BatchFrom"];?></td>
    	<td><?php echo $studentquestions["BatchTo"];?></td>
    	
    </tr>
    
    <?php }}?>
    
    <tr><td colspan="7"><hr/></td></tr>
</table> 
<?php if($this->tosstructure){?>
<table class="table" width="100%" cellpadding="5" cellspacing="1" border="1">    
	<tr>
		<th><?php echo $this->translate("SI.No") ?></th>
		<th><?php echo $this->translate("QuestionGroup") ?></th>
		<th><?php echo $this->translate("Question Chapter") ?></th>
		<th><?php echo $this->translate("QuestionLevel") ?></th>
		<th style="text-align:center;"><?php echo $this->translate("Idquestion:Question") ?></th>
	</tr> 
	<?php $i=0;$prev="";$prechap=""; foreach($this->tosstructure as $tosstructure){?>
	<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
		<td><?php echo ++$i;?></td>
		<?php 
			
			$now=trim($tosstructure['QuestionGroup']);
			if($prev!=$now){?>
				<td><?php echo $tosstructure['QuestionGroup']?></td>	
		<?php }else{?>
				<td></td>
		<?php }
			$prev=trim($tosstructure['QuestionGroup']);
		?>
		
		
		
		<?php 
		$nowchap=trim($tosstructure['QuestionNumber']);
		if($prechap!=$nowchap){?>
			<td><?php echo $tosstructure['QuestionNumber']?></td>
		<?php }else{?>
			<td></td>
		<?php }
			$prechap=trim($tosstructure['QuestionNumber']);
		?>
		
		
		<?php if($tosstructure['QuestionLevel']==1){?>
			<td><?php echo "Easy";?></td>
		<?php }else if($tosstructure['QuestionLevel']==2){?>
			<td><?php echo "Medium";?></td>
		<?php }else if($tosstructure['QuestionLevel']==3){?>
			<td><?php echo "Difficult";?></td>
		<?php }?>
		<td><?php echo $tosstructure['idquestions'].':'.$tosstructure['Question']?></td>
		
	</tr> 
	<?php }?>
   
</table>
   <?php }?>
   
</body>
</html>


