<head>

<script type="text/javascript">
    var cnnt = 0;
	dojo.addOnLoad(function() {
		dijit.byId('centername').focus();
		dijit.byId('country').set('value','');
		dijit.byId('country').set('placeHolder','Select Country');
		dijit.byId('state').set('value','');
		dijit.byId('state').set('placeHolder','Select State');

	});
	
function fnGetCountryStateList(idCountry){ 
	if(idCountry != "" || idCountry != undefined)
		{ 
			var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/general-setup/user/getcountrystateslist/idCountry/"+idCountry,
					handleAs:'json',
					load:function(data){ 
						AutoFillNextEditableDropDown("state",data); 
					}
			   }
			dojo.xhrGet(xhrArgs); 
		} 
	} 

function fnGetCityList(idCountry){ 
	
	if(idCountry != "" || idCountry != undefined)
		{  
		var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/general-setup/center/getcitylist/idCountry/"+idCountry,
				handleAs:'json',
				load:function(data){ 
					AutoFillNextEditableDropDown("city",data); 
				}
		   }
		dojo.xhrGet(xhrArgs);  
			
		} 
	} 
	function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
		dijit.byId(EditableDropDownId).setValue("");
		var ddwidget = dijit.byId(EditableDropDownId);
		ddwidget.setAttribute('disabled', false);
    	var options = {
					label:"name",
					identifier:"key",
					items:JSONText
				  };
    	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
	}


	function fngetFloors(valu)
	{	
		cnnt = 0;	
		tble = "<table width='100%' class='table'>";		
		for(i=0;i<valu;i++)
		{	
			cnnt++;		
			tble = tble+"<tr><td width='10%'> Floor "+(i+1)+"</td><td width='10%'><input type='text' name='floorname[]' id='floorname"+i+"' value=''></td><td width='10%'>No Of Rooms</td><td width='10%'><input type='text' name='NoOfRooms[]' size='3' onKeyPress='return numbersonly(event);' onKeyup='fngetRooms(this.value,"+i+")' onFocus='showandHide("+i+");' id='NoOfRooms"+i+"' value=''></td><td colspan='2' id='rooms"+i+"'></td></tr>";
		}
		tble = tble +"</table>";
		//alert(tble);
		document.getElementById('nooffloors1').innerHTML = tble;
		//$("#nooffloors").append(tble);
	}
	function showandHide(rowNo){
		for(s=0;s<cnnt;s++){
			document.getElementById('rooms'+s).style.display = "none";
			}
		document.getElementById('rooms'+rowNo).style.display = "block";
	}

	function fngetRooms(roomid,rowNo)
	{		
		document.getElementById('rooms'+rowNo).style.display = "block";
		tble1 = "<table width='100%' class='table'>";	
		for(i=0;i<roomid;i++)
		{			
			tble1 = tble1+"<tr><td width='10%'> Room "+(i+1)+"</td><td width='10%'><input type='text' name='Roomname["+rowNo+"][]' id='Roomname"+rowNo+"id"+i+"' value=''></td><td width='10%'>Capacity</td><td width='10%'><input type='text' onKeyPress='return numbersonly(event);' name='Capacity["+rowNo+"][]' size='3'  id='Capacity"+rowNo+"id"+i+"' value='0'></td></tr>";
		}
		tble1 = tble1 +"</table>";
		document.getElementById('rooms'+rowNo).innerHTML = tble1;
		
		
	}
	function numbersonly(e){
		var unicode=e.charCode? e.charCode : e.keyCode
		if (unicode!=8){ //if the key isn't the backspace key (which we should allow)
		if (unicode<48||unicode>57) //if not a number
		return false //disable key press
		}
	}
	
</script> 
</head>
 <fieldset>
    <legend><?php echo $this->translate($this->Center);?></legend>
                <Form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/scheduler/center/newcenter" method="post"  name= "myForm">
                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>
                    <table class="table" width="100%" >
                        <tr>
                            <th colspan = "4"><?php echo $this->translate($this->Center).' '.$this->translate("Details");?></th>
                        </tr>
                        <tr>
                            <td ><?php echo $this->translate($this->Center).' '.$this->translate("Name");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjcenterForm->centername;?><?php echo $this->lobjcenterForm->UpdDate;?><?php echo $this->lobjcenterForm->UpdUser;?></td>
                            <td><?php echo $this->translate($this->Center).' '.$this->translate("Code");?><span class="reqMark">*</span></td>
                            <td  ><?php echo $this->lobjcenterForm->centercode;?></td>
                        </tr>
                        <tr> 
                            <td ><?php echo $this->translate("Address 1");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjcenterForm->addr1;?></td>
                             <td ><?php echo $this->translate("Address 2");?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjcenterForm->addr2;?></td>
                            
                        </tr>
                        <tr> 
                            <td ><?php echo $this->translate("Country");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjcenterForm->country;?></td>
                            <td ><?php echo $this->translate("State");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjcenterForm->state;?></td>
                           
                        </tr>
                        <tr> 
                           <td ><?php echo $this->translate("City");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjcenterForm->city;?></td>
                              <td ><?php echo $this->translate("Fax");?></td>
                            <td ><?php echo $this->lobjcenterForm->fax;?></td>                                                  
                        </tr>                        
                        <tr> 
                            <td ><?php echo $this->translate("Zip Code");?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjcenterForm->zipCode;?></td>
                            <td ><?php echo $this->translate("Work Phone");?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjcenterForm->workcountrycode;?><?php echo $this->lobjcenterForm->workstatecode;?><?php echo $this->lobjcenterForm->workPhone;?></td>                                                
                        </tr>
                        <tr> 
                          
                            <td><?php echo $this->translate("Email Address");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjcenterForm->email;?></td>
                             <td ><?php echo $this->translate("Active");?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjcenterForm->Active;?></td>
                           
                        </tr>
                        <tr>
                           
                             <td ><?php echo $this->translate("No Of Floors");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjcenterForm->Nooffloors;?></td>
                             <td></td>
                               <td></td>
                        </tr>
                         <tr>
		                        <td id="nooffloors1" colspan="4">
		                        
		                        </td>
                        </tr>
                       
                            <tr>
                            <th colspan = "4"><?php echo $this->translate("Personal Details");?></th>
                        </tr>
                         <tr> 
                          <td><?php echo $this->translate("Contact Person");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjcenterForm->contactperson;?></td>  
                             <td ><?php echo $this->translate("Cell Phone");?><span class="reqMark">*</span></td>
                          <td ><?php echo $this->lobjcenterForm->countrycode;?><?php echo $this->lobjcenterForm->statecode;?><?php echo $this->lobjcenterForm->cellPhone;?></td>
                           
                        </tr>
                             <tr> 
                            <td ><?php echo $this->translate("Address 1");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjcenterForm->paddr1;?></td>
                            <td ><?php echo $this->translate("Address 2");?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjcenterForm->paddr2;?></td>
                           
                        </tr>
                           <tr>
                            <th colspan = "4"><?php echo $this->translate("Login").' '.$this->translate("Credentials");?></th>
                        </tr>
                         <tr> 
                            <td ><?php echo $this->translate("Center Login");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjcenterForm->centerlogin;?></td>
                            </tr>
                            <tr>
                            <td ><?php echo $this->translate("password");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjcenterForm->centerpassword;?></td>
                           
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                            <td></td>        
                            <td align = "right"><?php echo $this->lobjcenterForm->Save;?>
							<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'scheduler','controller'=>'center', 'action'=>'index'),'default',true);?>';" />	
                            </td> 
                        </tr>
              </table>
            
            </Form>

</fieldset>
