<fieldset>
    <legend><?php echo $this->translate("$this->Course");?></legend>
    
                <Form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">
                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>
                    <table class="table" width="100%" >
                        <tr>
                            <th colspan = "4"><?php echo $this->translate("$this->Course").' '.$this->translate("Details");?></th>
                        </tr>
                        <tr>
                            <td ><?php echo $this->translate("$this->Course").' '.$this->translate("Name");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjcoursemasterForm->CourseName;?>
                            	<?php echo $this->lobjcoursemasterForm->UpdDate;?>
                            	<?php echo $this->lobjcoursemasterForm->UpdUser;?></td>
                            <td ><?php echo $this->translate("$this->Program");?><span class="reqMark">*</span></td>
                            <td  ><?php echo $this->lobjcoursemasterForm->IdProgrammaster;?></td>	
                           
                        </tr>
                        <tr> 
                       		<td><?php echo $this->translate("$this->Course").' '.$this->translate("Code");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjcoursemasterForm->CourseCode;?></td>
                        	<td><?php echo $this->translate("Description");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjcoursemasterForm->Description;?></td>
                            
                         </tr>
                        <tr> 
                        	<td><?php echo $this->translate("Active");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjcoursemasterForm->Active;?></td>
                            <td colspan="2"></td>    
                        </tr>
               			<tr>
                            <td colspan=4 align = "right"><?php echo $this->lobjcoursemasterForm->Save;?>
							<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'general-setup','controller'=>'coursemaster', 'action'=>'index'),'default',true);?>';" />	
                            </td> 
                               
                        </tr>           
                        
              </table>
            
            </Form>

</fieldset>
