<html>
<head>
<script><!--
////to be added
dojo.addOnLoad(function(){
		fngetmonths();
	});

function fngetmonths(){
	var val = dijit.byId('Year').value; //2013 or 2012
	var d = new Date();
	var yr = d.getFullYear(); //2013
	var searchtype = '<?php echo $this->search; ?>'; //1 before search or 0 after search
	var nn = '<?php echo $this->searchmon; ?>';
	if(searchtype==1){
		    if(val != yr)
			{
			    var mnumber = 0;
			}else{
				   var mnumber = d.getMonth()-1; // returns previous month starting from 0
				 }
	}else{
		if(val != yr)
		{
               if(val=='2012'){
                   nn = nn-3;
               }
			   var mnumber = nn-1;
		}else{
			    var mnumber = nn-1;; // returns previous month starting from 0
			 }
	}
	
	if(val != "")
	{ 
			var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/reports/examstartreport/fngetmonthnames/val/"+val,
					handleAs:'json',
					load:function(data){
						AutoFillNextEditableDropDown("Month",data); 
						var options = {
								label:"name",
								identifier:"key",
								items:data
							  };
						keyvalue = options.items[mnumber].key;
						dijit.byId("Month").set('value',keyvalue);
					}
				  }
		dojo.xhrGet(xhrArgs);
	}	
}

function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
    var options = {
					label:"name",
					identifier:"key",
					items:JSONText
				  };
	  
    ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}
///to be added
--></script>
</head>
<body class='claro'>
<fieldset>
	<legend><?php echo $this->translate("Examstart").' '.$this->translate("Report");?></legend>
 		<form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/reports/examstartreport" method="POST">
 			<script type="dojo/method" event="onSubmit">
            if (this.validate()){
				return true;
                }else{
                    return false;
                }
			</script>
		<table width="100%">
		        <tr>
                    <td><?php echo $this->translate("Year") ?></td>
                    <td><?php echo $this->lobjform->Year;?></td>
                    <td><?php echo $this->translate("Month")?></td>
                    <td><?php echo $this->lobjform->Month;?></td>
                 </tr>
				<tr>
                <td></td><td></td><td></td><td></td><td></td><td></td>
                 <td ><?php echo $this->lobjform->Search;?>
                    <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Clear"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'reports','controller'=>'allstatistics', 'action'=>'index'),'default',true);?>';" />
				 </td>
               </tr>
		</table>
	</form >	
</fieldset> 
<br>
<?php if($this->paginator):?>
<fieldset>
<form id="myForm1" name = "myform1" action="<?php echo $this->baseUrl();?>/reports/allstatistics/fnexportexcel" method="POST">
 <table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr>
        <th><?php echo $this->translate("Exam Venue") ?></th>
        <th><?php echo $this->translate("Exam Date") ?></th>
        <th><?php echo $this->translate("Exam Session") ?></th>
        <th><?php echo $this->translate("Schedule Time") ?></th>
        <th><?php echo $this->translate("Start Time") ?></th>
        <th><?php echo $this->translate("In-Time") ?></th>
       
    </tr>
        <?php if (count($this->paginator)):  $i=0;$sum=0;?>
        <?php foreach ($this->paginator as $lobjCountry ):?>
	        <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
		        <td><?php print_r($this->escape($lobjCountry['centername']));?></td>
		        <td><?php print_r($this->escape($lobjCountry['ExamDate']));?></td>
				<td><?php print_r($this->escape($lobjCountry['sename']));?></td> 
				<td><?php print_r($this->escape($lobjCountry['starttime']));?></td>
				<td><?php print_r($this->escape($lobjCountry['ExamStartTime']));?></td>
				<?php if($lobjCountry['Startedtime']<=$lobjCountry['totalstarttime']){?>
				<td><?php echo $this->translate("YES");$i++; ?></td>
				
				<?php } else { ?>
					<td><?php echo $this->translate("NO"); ?></td>
				<?php }?>
				
	       </tr>
	        <?php endforeach;?>
        <tr><td colspan="5">Total :<?php echo count($this->paginator);?>  In-Time :<?php echo $i;?>  Notin-Time :<?php echo count($this->paginator)-$i;?></td></tr>
   
       <?php echo $i;endif;?>	
      <tr>
	     <td colspan="8" align="right"><?php echo $this->lobjform->ExportToExcel;?></td>
      </tr>	
</table>     
</form>
</fieldset>
 <?php endif; ?>
</body>
</html>
