
<head>
<script>
dojo.addOnLoad(function(){
	//dijit.byId('field1').set('value','');
	//dijit.byId('field1').set('placeHolder','Select');
	
	});

function checkAll(){
 	nodes = dojo.query('[name=\"idregistereddetails[]\"]');
 	if(document.getElementById('idregistereddetails').checked == true) {		 
 		
 		dojo.forEach(nodes,
 		    function(node)
 		    {
 		        dijit.getEnclosingWidget(node).set("checked",true);
 		    }
 		);
 	}
 	else {	
 		dojo.forEach(nodes,
 			    function(node)
 			    {
 			        dijit.getEnclosingWidget(node).set("checked",false);
 			    }
 			);
 	}
 }

function validateform(){
	 var n = <?php echo $this->countcomp;?>;
	 //alert(n);
	 flgs = 0;	 
	 for(i=1;i<=n;i++){
		 
		if(document.getElementById("idregistereddetails"+i).checked) 
			flgs	=	1;
		
	 }		
	 if( flgs == 0){
	    alert('Please Select Atleast One Student');		
	     return false;
	 }
	 else{
	   return true;
	 }
} 

</script>
</head>
<form dojoType="dijit.form.Form"  id="initconfigForm" name="form1" method="post" action="<?php echo $this->baseUrl();?>/examination/centerapproval/index/search/1">
<fieldset>
<legend><?php echo $this->translate->_("Exam Center Approval of student by the Admin");?></legend>
	    	<table    width="100%">	 
	    		<tr>
      				<td class="label"><?php echo $this->translate->_("Exam Center")?></td>
        			<td><?php echo $this->lobjform->field8?></td>
        			<td class="label"><?php echo $this->translate->_("Student Name")?></td>
        			<td><?php echo $this->lobjform->field3?></td>
        		</tr>	   		
      			<tr>	
        			<td class="label"><?php echo $this->translate->_("IC no")?></td>
        			<td><?php echo $this->lobjform->field4?></td>		 
        		</tr>		   
		      	  <tr>
	               <td align = "center" colspan = "4">
						<?php echo $this->lobjform->Search;?>
						<?php echo $this->lobjform->Clear;?>
						 
				   </td>
				   </tr>      	
	        </table>	
	      

</fieldset>
 </form>
<fieldset>
 <form name="paypalfile" method="POST">
  	<table class="table" width="100%" cellpadding="5" cellspacing="1">
		
    		<tr>
    		    <th><input type="checkbox" dojoType="dijit.form.CheckBox" name="idregistereddetails" onClick="checkAll();" id="idregistereddetails"></th>
				<th><?php echo $this->translate->_("Student Name");?></th>				
			    <th><?php echo $this->translate->_("IC no"); ?></th>
			    <th><?php echo $this->translate->_("Course"); ?></th>
			 	
			 	<th><?php echo $this->translate->_("Exam Center");?></th>
				<th><?php echo $this->translate->_("Exam Session");?></th>
				<th><?php echo $this->translate->_("Exam Date");?></th>		
								
    		</tr>
    	
    	<?php  if (count($this->studentdetails)):  $cnnt = 0; ?>    	
          	            
            <?php   foreach ($this->studentdetails as $lobjcategory ): $cnnt++ ?>
            <tr>  
             <td><input type="checkbox" dojoType="dijit.form.CheckBox" name="idregistereddetails[]" value="<?php echo $this->escape($lobjcategory['idregistereddetails']);?>" id="idregistereddetails<?php echo $cnnt;?>"</td>
          		<td><a href="<?php  echo $this->url(array('module'=>'examination','controller'=>'centerapproval', 'action'=>'studentapprovallist' , 'lvaredit'=>$lobjcategory['IDApplication']),'default',true);?>"><?php  echo $lobjcategory['FName'];?></a></td>
          		<td><?php  echo $lobjcategory['ICNO'];?></td>
          		<td><?php  echo $lobjcategory['ProgramName'];?></td>
				
				<td><?php  echo $lobjcategory['centername'];?></td>
				<td><?php  echo $lobjcategory['managesessionname'];?></td>
          		<td><?php echo $this->escape($lobjcategory['Examdate'].'-'.$lobjcategory['Exammonth'].'-'.$lobjcategory['Years'])?></td>
          	
          		
     		</tr>
     		<?php  endforeach; ?>
     		 <?php  endif; ?>
     		
     		<td colspan="8" align="right">  
				 <input type="submit" class="NormalBtn" dojotype="dijit.form.Button" id="Approve" name="Approve" value="Approve" label="<?php echo $this->translate("Approve");?>" onClick="return validateform();"/>
		
		   <div class="pagination">
				<?php //echo $this->paginationControl($this->paginator,'Sliding','/partials/my_pagination_control.phtml'); ?>
			</div>																   
		</td>
      </table>
      
  </fieldset> 
  </form> 
   </html>
