
<head>
<script>
   dojo.addOnLoad(function(){
	 dijit.byId('field3').focus();	
 flgs='<?php echo $this->flgs ?>';
 flgs=parseInt(flgs);
 if(flgs==1)
 {
	 fnvalidate('payment31',1);
 }
 //alert(flgs);
	 
	});

function checkAll(){
 	nodes = dojo.query('[name=\"IDApplication[]\"]');
 	if(document.getElementById('IDApplication').checked == true) {	
 		 dojo.forEach(nodes,
 		    function(node)
 		    {
 		        dijit.getEnclosingWidget(node).set("checked",true);
 		    }
 		);
 	}
 	else {	
 		dojo.forEach(nodes,
 			    function(node)
 			    {
 			        dijit.getEnclosingWidget(node).set("checked",false);
 			    }
 			);
 	}
 	
 }
function fnhidebtn()
{
	document.getElementById('Confirm').style.display='none';
}

function validateform(){
	 var n = <?php echo $this->count;?>;
		
		 flgs = 0;	 
		 for(i=1;i<=n;i++){			 
		if(document.getElementById("IDApplication"+i).checked) 
				flgs	=	1;			
		 }		
		 if( flgs == 0){
		    alert('Please Select Atleast One Student');		
		     return false;
		 }
		 else{
			 fnhidebtn();
		   return true;
		 }
}



</script>
</head>

<form dojoType="dijit.form.Form"  id="initconfigForm" name="form1" method="post" action="<?php echo $this->baseUrl();?>/finance/payment/index/search/1">
   <fieldset>
           <legend><?php echo $this->translate->_("Student Payment");?></legend>
	    	<table    width="100%">	    		
      			<tr>
         			<td class="label"><?php echo $this->translate->_("Student Name")?></td>
        			<td><?php echo $this->lobjform->field3?></td>	
        			<td class="label"><?php echo $this->translate->_("ICNO")?></td>
        			<td><?php echo $this->lobjform->field4?></td>	        			  	       	
      			</tr>
      			<tr>
                    <td><?php echo $this->translate("Application From").' '.$this->translate("Date") ?></td>
                    <td><?php echo $this->lobjform->Date;?></td>
                    <td><?php echo $this->translate("Application To").' '.$this->translate("Date") ?></td>
                    <td><?php echo $this->lobjform->Date2;?></td>
                </tr>
                <tr>
                    <td><?php echo $this->translate("Exam From").' '.$this->translate("Date") ?></td>
                    <td><?php echo $this->lobjform->RegFromDate;?></td>
                    <td><?php echo $this->translate("Exam To").' '.$this->translate("Date") ?></td>
                    <td><?php echo $this->lobjform->RegToDate;?></td>
                </tr>
      			<tr>
      			    <td class="label"><?php echo $this->translate('Program Name');?></td>
		            <td ><?php echo $this->lobjform->field15;?></td>
		        </tr>		   
		      	<tr>
	               <td align = "center" colspan = "4">
						<?php echo $this->lobjform->Search;?>
						<?php echo $this->lobjform->Clear;?>
				   </td>
				</tr>      	
	        </table>		

    </fieldset>
</form>
<br>
<?php  if (count($this->countcomp)):  $cnnt = 0; ?>
<fieldset>
  <script>
  	function fnvalidate(idchk,chk)
  	{ 	  	
  		 	  		
  			var str1="IDApplication";
  	  		var str2=chk;
  	  		var actived=document.getElementById(str1.concat(str2)).checked;	
  	  		if(actived==true)
  	  		{
		  	  var payment3=dojo.byId('payment3'+chk);
		  	  dojo.style(payment3,'display','block');
		  	  var payment4=dojo.byId('payment4'+chk);
			  dojo.style(payment4,'display','block');	
  	  		}
  	  		else
  	  		{	
  	  	  	 var payment3=dojo.byId('payment3'+chk);
	  		 dojo.style(payment3,'display','none');
	  	  	 var payment4=dojo.byId('payment4'+chk);
	  		 dojo.style(payment4,'display','none');		
  	  		} 
  	  }
  	</script>
 <form method="post" action="">
  	<table class="table"  cellpadding="5" cellspacing="1">
    		<tr>
    		    <th ><?php echo $this->translate->_("Student Name");?></th>
				<th ><?php echo $this->translate->_("ICNO"); ?></th>	
				<th ><?php echo $this->translate->_("Program Name"); ?></th>
				<th ><?php echo $this->translate->_("Exam Date"); ?></th>
				<th ><?php echo $this->translate->_("Payment Fee");?></th>
				<th ><?php echo $this->translate->_("Payer Id"); ?></th>				
				<th ><?php echo $this->translate->_("Application date"); ?></th>	
				<th ><?php echo $this->translate->_("Payment date"); ?></th>
				<th ><?php echo $this->translate->_("Receipt Id");?></th>
				<th ><?php echo $this->translate->_("Transaction Id"); ?></th>							
    		</tr>
    	<tbody>       	            
            <?php   foreach ($this->countcomp as $lobjcategory ): $cnnt++ ?>
          <tr> 
          <?php $flg= $this->flgs; if($flg==1) {?> 
            <td ><input type="checkbox" dojoType="dijit.form.CheckBox"  checked="true" name="IDApplication[]" value="<?php echo $this->escape($lobjcategory['IDApplication']);?>" onClick = "fnvalidate('payment3<?php echo $cnnt;?>',<?php echo $cnnt;?>)" id="IDApplication<?php echo $cnnt;?>">
      
          <?php } else {?>
          
             <td ><input type="checkbox" dojoType="dijit.form.CheckBox" name="IDApplication[]" value="<?php echo $this->escape($lobjcategory['IDApplication']);?>" onClick = "fnvalidate('payment3<?php echo $cnnt;?>',<?php echo $cnnt;?>)" id="IDApplication<?php echo $cnnt;?>">
          <?php }?>		
          <?php  echo $lobjcategory['FName'];?></td>
          	 <td ><?php  echo $lobjcategory['ICNO'];?></td>  
          	 <td ><?php  echo $lobjcategory['ProgramName'];?></td>
          	 <td ><?php  echo  date("d-m-Y", strtotime($lobjcategory['DateTime']));?></td>       		
          	     <?php  echo  $this->lobjpaymentForm->UpdDate;?>
          	     <?php  echo  $this->lobjpaymentForm->UpdUser;?>
          	 <td id="text1<?php echo $cnnt;?>"><input type="text"  dojotype="dijit.form.TextBox" id="payment1<?php echo $cnnt;?>" name="payment1[<?php echo $lobjcategory['IDApplication'];?>]"  value="<?php echo $lobjcategory['Amount'];?>"  />  </td>  
          	 <td id="text2<?php echo $cnnt;?>" ><input type="text"  dojotype="dijit.form.TextBox" id="payment2<?php echo $cnnt;?>" name="payment2[<?php echo $lobjcategory['IDApplication'];?>]" value="<?php echo $lobjcategory['EmailAddress'];?>"/>  </td> 
          	 <td id="text5<?php echo $cnnt;?>" ><input type="text"  dojotype="dijit.form.TextBox" id="payment5<?php echo $cnnt;?>" name="payment5[<?php echo $lobjcategory['IDApplication'];?>]" value="<?php echo $lobjcategory['applied'];?>" />  </td>        		  		
     		 <td id="text6<?php echo $cnnt;?>" ><input type="text"  dojotype="dijit.form.TextBox" id="payment6<?php echo $cnnt;?>" name="payment6[<?php echo $lobjcategory['IDApplication'];?>]" value="<?php echo $lobjcategory['applied'];?>" />  </td>        		  		    		    
     		 <td id="text3<?php echo $cnnt;?>" ><input type="text"  style="display:none; dojotype="dijit.form.TextBox"" id="payment3<?php echo $cnnt;?>" name="payment3[<?php echo $lobjcategory['IDApplication'];?>]"  />  </td> 
          	 <td id="text4<?php echo $cnnt;?>" ><input type="text"  style="display:none; dojotype="dijit.form.TextBox"" id="payment4<?php echo $cnnt;?>" name="payment4[<?php echo $lobjcategory['IDApplication'];?>]"  />  </td>  
          		
     	 </tr>
     		 <?php  endforeach; ?>
     		
     </tbody>		
     	<td colspan="9" align="right" id="Confirm">  
			<?php  echo  $this->lobjpaymentForm->Confirm;?>
	    </td>
   </table>
  </form>
</fieldset> 
 <?php  endif; ?>
</html>
