




<table class="table" width="40%" align="left">
<tr>
	<?php if($this->status==1){?>
	 <td>Payment has been successful</td>
	 <td><input type="button" name="upload" value="upload" id="upload" onClick="window.location.href='<?php  echo $this->baseUrl();?>/registrations/companystudentdetails/companystudentlist/idcompany/<?php echo $this->idcompany;?>'"></td>
	  <td><input type="button" name="back" value="back" id="back" onClick="window.location.href='<?php  echo $this->baseUrl();?>/registrations/companyapplication/index'" ></td>
	 <?php }else {?>
	 <td>Payment has Failed</td>
	
	  <td><input type="button" name="back" value="back" id="back" onClick="window.location.href='<?php  echo $this->baseUrl();?>/registrations/companyapplication/index'" ></td>
	 <?php }?>
</tr>
</table>
