<!DOCTYPE html>
<html>
<head>
<Script type="text/javascript">
function fngetstudetails (idinvoice,opr){
	 var urls = "<?php echo $this->baseUrl();?>"+"/reports/invoicereport/getdetails/idinvoice/"+idinvoice+"/opr/"+opr
	 if(idinvoice != "")
		{   
		    var xhrArgs = {
					url: urls,
					handleAs:'text',
					load:function(data){					
						document.getElementById('divLogin').style.display = 'block';						
						document.getElementById('divLogin2').style.display = 'block';
						document.getElementById('contentdiv').innerHTML = data;						
					}
			   }
			dojo.xhrGet(xhrArgs); 
		} 
	 
 }
 function Closefn()
	{
		document.getElementById('contentdiv').innerHTML = "";
		document.getElementById('divLogin').style.display = 'none';
		document.getElementById('divLogin2').style.display = 'none';
	} 

	function emptythenamelist(){
		document.getElementById("field3").value="";
	}

 function fnGetOperatorNames(){
		optype=dijit.byId('field19').value;
		namestring=document.getElementById("field3").value;
	    if(optype==""){
	        alert("Please Select Operator Type");
	        return false;
	    }
		if(namestring!=""){
				var xhrArgs = {
						url: "<?php echo $this->baseUrl();?>"+"/reports/invoicereport/getoperatornames/opType/"+optype+"/namestring/"+namestring,
						handleAs:'text',
						load:function(data){ 
							//AutoFillNextEditableDropDown("opnames",data);
							document.getElementById("opnames").innerHTML=data;
						}
				   }
				dojo.xhrGet(xhrArgs);
		}
	}

 function fnsetvalue(opname){
		document.getElementById("field3").value=opname;
		document.getElementById("opnames").innerHTML="";
	}	
</Script>
<style>
.HighlightableRow:hover
{
  background-color: red;
}


div.opnames { 
  width:165px;
  background-color:white;
  border:1px solid #888;
  margin:0px;
  padding:0px; 
  cursor:pointer;
  overflow:auto;  
}
.regwidth{
	 width:3%;
}
}
</style>
</head>
<body class='claro'>
<fieldset>
	<legend><?php echo $this->translate("Invoice").' '.$this->translate("Report");?></legend>
	<div class="search" style="margin-left:20px;">
 		<form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/reports/invoicereport" method="POST" > 
 		  <script type="dojo/method" event="onSubmit">
             if (this.validate()) {
					return true;
                } else {
                    return false;
                }
			</script>
		<table width="100%">				
				<tr>
                    <td><?php echo $this->translate("Invoice").' '.$this->translate("From").' '.$this->translate("Date") ?></td>
                    <td><?php echo $this->lobjform->Date3;?></td>
                    <td><?php echo $this->translate("Invoice").' '.$this->translate("To").' '.$this->translate("Date") ?></td>
                    <td><?php echo $this->lobjform->Date4;?></td>
                </tr>
                <tr>
                    <td><?php echo $this->translate("Type of Operator") ?></td>
                    <td><?php echo $this->lobjform->field19;?></td>
                    <td><?php echo $this->translate("Operator").' '.$this->translate("Name") ?></td>
                    <td><?php echo $this->lobjform->field3;?><div id="opnames" class="opnames"></td>
                </tr>
                <tr>
                 <td></td>  
                 <td></td>             
               <td ><?php echo $this->lobjform->Search;?>
					<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Clear"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'reports','controller'=>'invoicereport', 'action'=>'index'),'default',true);?>';" />
				</td>
               </tr>
		</table>
	</form>	
		</div>
	</fieldset> 
<br>
<?php if ($this->fromdate): ?>
<fieldset>
<form dojoType="dijit.form.Form"  id="myDataForm" action="#" method="POST" > 

    <table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr >
        <th><?php echo $this->translate("Company/Takaful") ?></th>
        <th><?php echo $this->translate("Generated Date") ?></th>
        <th><?php echo $this->translate("Operator Name") ?></th>
        <th><?php echo $this->translate("Invoice Number") ?></th>
        <th><?php echo $this->translate("Batch ID") ?></th>   
        <th><?php echo $this->translate("Total Candidates") ?></th>
     	<th><?php echo $this->translate("Amount") ?></th>
     	<th><?php echo $this->translate("GST") ?></th>
     	<th><?php echo $this->translate("Total Amount") ?></th>
     	<th><?php echo $this->translate("Generated By") ?></th>
     	
     </tr>
    <?php 
    $cnt = 0;
    $cnt1 = 0;
    $camt = 0;
    $tamt = 0;
    $ctc = 0;
    $ttc = 0;
    $sumpretax=0;
    $sumtax=0;
    $csumpretax=0;
    $csumtax=0;
     ?>
    <?php 
   // echo $this->fromdate;die();
  if (count($this->invoiceresult)): 
    foreach($this->invoiceresult as $invoiceresult){
	     if($invoiceresult['Flag']==1){?>
	   		 <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
				<td><b><?php if($cnt==0){echo $this->translate("Company");}$cnt++;?></b></td>
				<td ><?php echo $invoiceresult['UpdDate'];?></td>
				<td><?php echo $invoiceresult['CompanyName'];?></td>
				<td width="20%"><a href="javascript:fngetstudetails(<?php echo $invoiceresult['Idinvoice']?>,1);" ><?php print_r($this->escape($invoiceresult['invoiceno']));?></a></td> 
				<td width="25%"><?php echo str_replace(",",", ",trim($invoiceresult['Regpin'],","));?></td>
				<td align="left"><?php echo $invoiceresult['Totalcandidates'];?></td><?php $ctc=$ctc+$invoiceresult['Totalcandidates'];?>
				<?php $tax=$invoiceresult['ServiceTax'];
				      $divisor=($invoiceresult['ServiceTax']/100)+1;
				      $pretaxamount=$invoiceresult['Amount']/$divisor;
				      $taxvolume=$invoiceresult['Amount']-$pretaxamount;?>
				<td align="left"><?php echo number_format($pretaxamount,2) ?></td><?php $csumpretax=$csumpretax+$pretaxamount; ?>
				<td align="left"><?php echo number_format($taxvolume,2);?></td><?php $csumtax=$csumtax+$taxvolume; ?>
				<td align="left"><?php echo number_format($invoiceresult['Amount'],2);?></td><?php $camt=$camt+$invoiceresult['Amount'];?>
				<td align="left"><?php echo $invoiceresult['fName'];?></td>
			</tr>
	    <?php }
    } ?>
   
   <?php  foreach($this->invoiceresult as $invoiceresult){
	    if($invoiceresult['Flag']==2){?>
	    	<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
				<td><b><?php if($cnt1==0){echo $this->translate("Takaful");}$cnt1++;?></b></td>
				<td><?php echo $invoiceresult['UpdDate'];?></td>
				<td><?php echo $invoiceresult['TakafulName'];?></td>
				<td width="20%"><a href="javascript:fngetstudetails(<?php echo $invoiceresult['Idinvoice']?>,2);" ><?php print_r($this->escape($invoiceresult['invoiceno']));?></a></td>
				<td width="25%"><?php echo str_replace(",",", ",trim($invoiceresult['Regpin'],","));?></td>
				<td align="left"><?php echo $invoiceresult['Totalcandidates'];?></td><?php $ttc=$ttc+$invoiceresult['Totalcandidates'];?>
				<?php $tax=$invoiceresult['ServiceTax'];
				      $divisor=($invoiceresult['ServiceTax']/100)+1;
				      $pretaxamount=$invoiceresult['Amount']/$divisor;
				      $taxvolume=$invoiceresult['Amount']-$pretaxamount;?>
				<td align="left"><?php echo number_format($pretaxamount,2); ?></td><?php $sumpretax=$sumpretax+$pretaxamount; ?>
				<td><?php echo number_format($taxvolume,2);?></td><?php $sumtax=$sumtax+$taxvolume; ?>
				<td align="right"><?php echo number_format($invoiceresult['Amount'],2);?></td><?php $tamt=$tamt+$invoiceresult['Amount'];?>
				<td align="right"><?php echo $invoiceresult['fName'];?></td>
				
			</tr>
	    <?php  }
    }
    ?> 
     
     
 	 <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
      	<td></td>
     	<td ><b> <?php  echo $this->translate("Grand Total");?></b></td>
     	<td></td>
     	<td><b> <?php  echo $cnt+$cnt1;?></b></td>
     	<td></td>
     	<td align="left"><b> <?php  echo number_format($ctc+$ttc);?></b></td>
     	<td><b><?php  echo number_format($csumpretax+$sumpretax,2);?></b></td>
     	<td><b><?php  echo number_format($csumtax+$sumtax,2);?></b></td>
     	<td align="right"><b> <?php  echo number_format($camt+$tamt,2);?></b></td>
     	
     	<td align="right"></td>
     		
     </tr>
     
 <tr>
	 <td colspan="8" align="right"><input name="Print" id="Print" type="Button" style= "Width=300px " dojoType=dijit.form.Button label="<?php echo $this->translate("Print PDF"); ?>" value=<?php echo $this->translate(" PDF ");?> onclick="window.location.href='<?php echo $this->url(array('module'=>'reports','controller'=>'invoicereport','action'=>'pdfexport','fromdate'=>$this->fromdate,'todate'=>$this->todate,'operatortype'=>$this->operatortype,'operatorname'=>$this->operatorname,'reporttype'=>'Pdf'),'default',true);?>';" >
	 <input name="Print1" id="Print1" type="Button" dojoType=dijit.form.Button style= "Width=900px" label="<?php echo $this->translate("Export To Excel"); ?>" value=<?php echo $this->translate(" Excel ");?> onclick="window.location.href='<?php echo $this->url(array('module'=>'reports','controller'=>'invoicereport','action'=>'pdfexport','fromdate'=>$this->fromdate,'todate'=>$this->todate,'operatortype'=>$this->operatortype,'operatorname'=>$this->operatorname,'reporttype'=>'Excel'),'default',true);?>';" ></td>
 </tr> 
 <?php endif; 

 if(count($this->invoiceresult)==0){
 	if($this->operatortype==1){
 		$oprtype="Company";
 	}else if($this->operatortype==2){
 		$oprtype="Takaful";
 	}
 if($this->operatortype==""){
 	?>
 	<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
 		<td colspan="8" align="center">The Invoice has not generated for the Time Interval from <?php echo date('d-m-Y',strtotime($this->fromdate));?> to <?php echo date('d-m-Y',strtotime($this->todate)).".";?></td>
 	</tr>
 	
 <?php } elseif ($this->operatortype!="" && $this->operatorname==""){?>
	<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
 		<td colspan="8" align="center">The Invoice has not generated for the Time Interval from <?php echo date('d-m-Y',strtotime($this->fromdate));?> to <?php echo date('d-m-Y',strtotime($this->todate));?> in the <?php echo $oprtype.".";?></td>
 	</tr>
<?php  } elseif ($this->operatortype!="" && $this->operatorname!=""){?>
	 <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
 		<td colspan="8" align="center">The Invoice has not generated for the Time Interval from <?php echo date('d-m-Y',strtotime($this->fromdate));?> to <?php echo date('d-m-Y',strtotime($this->todate));?> in the <?php echo $oprtype; echo " ".$this->operatorname.".";?></td>
 	</tr>
 <?php }}?>
</table>
</form>
</fieldset>
 
 <?php endif; ?> 
<div runat="server" id="divLogin"  style="display:none; z-index: 153; position: fixed; left: 18%; width: 950px;height: 600px;overflow:auto; top:5%" >
					                <asp:Panel runat="server" ID="popupLogin">
					                    <asp:Panel runat="server" ID="popupContent1">
					                        <table style="height: 125px; width: 100%; background-color: #FFFFFF;" border="3"   frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">
					                                    
					                                    	<div id="contentdiv"></div>					                                      
					                                   </td>
					                                </tr>
					                                <tr>
					                                    <td colspan="2" align="left">
					                                        <asp:Label ID="lblmandatory" runat="server" Text="* Mandatory Information Required"
					                                            class="LeftLabelStyle" Width="350px" />
					                                    </td>
					                                </tr>
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
					            </div>
					                   	<div runat="server" id="divLogin2"  style="display:none; opacity:0.4; z-index: 150; position: absolute; left: 0%; height: 100%; width: 100%; top: 0%;">
					                <asp:Panel >
					                    <asp:Panel  >
					                        <table style="height: 100%; width: 100%; background-color: #000000;" border="3"   frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">
					                                    	
					                                      
					                                   </td>
					                                </tr>
					                               
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
					            </div>  
</body>
</html>


