<html>
<head>
<script type="text/javascript">
function fnclear()
{
window.location="<?php echo $this->baseUrl();?>/examination/questionuploads/index";
}
</script>
</head>
<body>
<form  dojoType="dijit.form.Form" action="" method="POST" enctype="multipart/form-data">
<fieldset>
	<legend><?php echo $this->translate("Upload").' '.$this->translate("Tamil and Chinese Questions");?></legend>
                   
                            <table width="100%">
                                
                                <tr>
                                    <td width="15%"><?php echo $this->translate("Select your excel sheet to Upload:");?></td>
                                    <td width="25%"><?php echo $this->lobjform->FileName;?></td>
                                </tr>
                                <tr>
                                <td align = "center" colspan = "4">

											<?php echo $this->lobjform->Upload;?>	
											<?php echo $this->lobjform->Clear;?>
								</td>
							    
                                </tr>
                        </table>
                 
    </fieldset> 
	</form>
	</body>
	</html>
	