<html>
<head>
<title>FPX MERCHANT PAGE - Your One Stop Online Computer Shopping</title>
<script type="text/JavaScript" language="JavaScript">
	// Start of code to detect if customer browser support popup
	//For production, use the following URL
	var mine = window.open("https://www.mepsfpx.com.my/FPXMain/sellerB2CMesgRecv_v2.jsp","test1","width=1,height=1,left=0,top=0,scrollbars=no");
	//var mine = window.open("https://uat.mepsfpx.com.my/FPXMain/sellerB2CMesgRecv_v2.jsp","test1","width=1,height=1,left=0,top=0,scrollbars=no");
	if(mine)
		var popUpsBlocked = false
	else
		var popUpsBlocked = true
	mine.close()
	
	if(popUpsBlocked)
		alert('We have detected that you are using popup blocking software.\n This website needs to open a window to your internet Banking Website.\n Please disable your popup blocker.');
	// End of code to detect if customer browser support popup.  
	
	function showpage(pageName)
	{
		if(pageName=="popup")
		{
			pageName	=	pageName+".html";
			window.open(pageName,'cont','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=no, width=820, height=500');
		}
		else
		{
			pageName	=	pageName+".html";
			window.open(pageName,'cont','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=no, width=400, height=250');
		}
	}
	
	window.name="seller";
	function openFpx()
	{
			if(navigator.appName.indexOf('Explorer') != -1)
			{
					document.form1.action="https://uat.mepsfpx.com.my/FPXMain/sellerB2CMesgRecv_v2.jsp";
					//For production, use the following URL
					//document.form1.action="https://www.mepsfpx.com.my/FPXMain/sellerB2CMesgRecv_v2.jsp";
					document.form1.target="seller";
					document.form1.submit();
			}
			else if(navigator.appName.indexOf('Netscape') != -1)
			{
					document.form1.action="https://uat.mepsfpx.com.my/FPXMain/sellerB2CMesgRecv_v2.jsp";
					//For production, use the following URL
					//document.form1.action="https://www.mepsfpx.com.my/FPXMain/sellerB2CMesgRecv_v2.jsp";
					document.form1.target="seller";
					document.form1.submit();
			}
	}
</script>
</head>
<body >
<center>
<?php
$sendFpxValue = $this->sendFpxValue;
?>
<table border="1" cellpadding="0" cellspacing="0" height="500px;"  width="70%">
    <tbody>
      <tr>
        <td colspan="3" align="left" height="50px;">
					      <table class="table" height="50px;" width="100%">                
					              <tr>
					                <th><div  align="center"><font size="2px;">FPX PAYMENT CONFIRMATION</font></div></th>
					              </tr>			          
		                 
		          </table>
		</td>
      </tr>
      
      <tr>
     		 <td width="22%" valign="top">
		        <table border="1" cellpadding="0" cellspacing="0" width="100%" height="230" background="<?php echo $this->baseUrl()?>/images/FPX_ParticipatingBanks.PNG" style="border: 1px solid rgb(222, 217, 197); background-repeat:no-repeat">
			            <tr>
			              <td>&nbsp;</td>
			            </tr>
			          </table>
          </td>
        <td style="padding-left: 1px; padding-right: 1px;" align="left" valign="top"  colspan=2>
		<table  border="0" cellpadding="0" cellspacing="0" width="100%" height="100%">
            <tbody>
			<tr>
			  <td class="main" align="left"  style="display:none;">
			<div style="display:none;"> * Please disable your pop-up blocker before you proceed. <a href=# onClick="showpage('popup')">(Refer to Pop up Blocker Settings for details)</a></div>
			  </td>
			  </tr>
              <tr>
                <td align="left" height="27" width="100%"><p style="color: rgb(0, 0, 0); font-family: Tahoma,sans-serif; font-size: 12px; padding-left: 5px;"><b>Registration&nbsp;&nbsp;->&nbsp;&nbsp;Transaction Details&nbsp;&nbsp;->&nbsp;&nbsp;Payment Confirmation</b></p></td>
              </tr>
              <tr>
                <td style="padding-top: 2px;" valign="top"><table class="infoBox" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
                    <tbody>
                      <tr>
                        <td valign="top"><table width="100%" height="100%" border="0" cellpadding="0" cellspacing="5" >
                            <tbody>
                              <tr>
                                <td><table class="infoBox" aborder="1" cellpadding="2" cellspacing="1" width="100%">
                                    <tbody>
                                      <tr class="infoBoxContents">
                                        <td valign="top" width="99%"><table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tbody>
											<!-- List of Products Chosen --> 
                                              <tr>
                                                <td>
                                                  <table border="0" cellpadding="10" cellspacing="0" width="60%" align="center">
                                                    <tr>
                                                      <td align=center class="main"><br><b>Registration Fee &nbsp;- MYR : </b>&nbsp;<b><?php echo $this->TxnAmount;?></td>                                                   
                                                       <td  align='right' valign='top' class='main'><input class=productdata type="hidden" size='4' value='1' disabled><input class=productdata type="hidden" size='10' value='<?php echo $this->TxnAmount;?>' disabled></td>
                                                        <td  align='left' valign='top' class='main'></b>
                                                      		<input type="hidden" name="TxnAmount" id="TxnAmount" size='10' value="<?php echo $this->TxnAmount;?>" readonly></td>
                                                    </tr>
                                                  </table></td>
                                              </tr>
                                            </tbody>
                                          </table>
                                      </tr>
                                    </tbody>
                                  </table></td>
                              </tr>
							  <!-- Submit transaction via FPX -->
                              <tr>
                                <td><form name="form1" method="post" target='fpx'>
                                  <table border="0" cellpadding="2" cellspacing="1" width="100%">
                                    <tbody>
                                      <tr class="infoBoxContents">
                                        <td valign="top" width="30%"><table border="0" cellpadding="2" cellspacing="0" width="100%">
                                            <tbody>                                              
                                              <tr>
                                                <td  class="main">
                                                
                                                <div align="center">
												<p>
												<input type="button" style="cursor:hand" dojotype="dijit.form.Button"  name="Submit" class="buttonStyle" label="Click to Pay" value="Click to Pay" onClick="openFpx()" /></p>
												 
                                                  <p> <img src="<?php echo $this->baseUrl()?>/images/Verisign.png" border="2"/></p>
                                                 </div>
                                                 <div align="left">
												 <font color="red" align="left">
                                                  <p class="main"><strong>* You must have Internet Banking Account in order to make transaction using FPX.</strong></p>
                                                 
                                                  <p class="main"><strong>* Please ensure that your browser's pop up blocker has been disabled to avoid any interruption during making transaction.</strong></p>
                                                  
                                                  <p class="main"><strong>* Do not close browser / refresh page until you receive response.</strong></p>
                                                  </font>
                                                  </div>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table></td>
                                      </tr>
                                    </tbody>
                                  </table>                                  
                                 
                          </table></td>
                      </tr>
                    </tbody>
                  </table></td>
              </tr>
            </tbody>
          </table></td>
      </tr>
  
    </tbody>
  </table>
 
  <div style="display:none;">
  <span class="infoBelow">This parameter should be hidden from customer </span>  
  <table width="100%" border="0" align="center"  >
   
  	<tr>
	  <td class="infoBelow" align="center"><p>Sending message to FPX Plugin</p>
		  <p>&nbsp;</p>
		  	<textarea cols="80" rows="4">|<?php //echo $in;?></textarea>
		  <p>&nbsp;</p>	  </tr>
	<tr>
		<td class="infoBelow" align="center"><p>Receiving response from FPX Plugin</p>
		  <p>&nbsp;</p>
		  	<textarea cols="80" rows="4">|<?php //echo $sendFpxValue;?>|</textarea>
		  <p>&nbsp;</p></tr>
	<label>
     <input type=text value='<?php print $sendFpxValue; ?>' name="MsgToFpx">
	 <!-- Parameter name is fixed i.e. ItemName. Value must be 30 characters only //-->
	 <input type=text name="ItemName" value="Registration Fee">
	</label>
  </table>
  </div>
  </form>
</center>
</body>
<?php 
			
			$lobjDbAdpt = Zend_Db_Table::getDefaultAdapter();	
		
    		$table = "tbl_fpxpaymentlog";
			$postDat['ItemName'] = "Takaful Fee";
			$postDat['Amount'] = $this->TxnAmount;
			$postDat['Dates'] = date("H:i:s d-M-Y");
			$postDat['outFpx'] = $sendFpxValue;
			$postDat['IdApplication'] = $this->intidstudent;
			$postDat['entryFrom'] = 3;
			$postDat['TxnOrderNo'] = $this->TxnOrderNo;

			$lobjDbAdpt->insert($table,$postDat);
 
	 ?>
</html>