<head>

<script type="text/javascript">

dojo.addOnLoad(function() {
	fnhidetext();

	var printrep = '<?php echo $this->editid;?>';
	//alert(printrep);
	if(printrep>1)
	{
		if(print == true)
		{
			//window.open("http://<?php echo $_SERVER['SERVER_NAME']?><?php  echo $this->baseUrl();?>/takafulapplication/printreport/insertedId/<?php echo $this->editid;?>");
		}
	}
	
});


function Closefndiclaration()// Added on 29-05-2013
{
	document.getElementById('contentdiv').innerHTML = "";
	document.getElementById('divLogin').style.display = 'none';
	document.getElementById('divLogin2').style.display = 'none';	
	
	document.getElementById('divLogin10').style.display = 'none';
	document.getElementById('divLogin11').style.display = 'none';

}


function calldisclaimer(inptype,idregpin){
	
	   document.getElementById('inputype').value=inptype;
	   document.getElementById('idregpin').value=idregpin;
	 //  document.getElementById('idcompany').value=idcompany;
	   
	   document.getElementById('contentdiv10').style.display = '';
	   document.getElementById('divLogin10').style.display = '';
	   document.getElementById('divLogin11').style.display = '';
}

function registrationredirect(){		
	
	idregpin = document.getElementById('idregpin').value;
	//idcompany = document.getElementById('idcompany').value;
	
	if(document.getElementById('inputype').value == 1){
		window.location = "<?php echo $this->baseUrl();?>"+"/takafulcandidates/import/batchId/"+idregpin;
		
	}else if(document.getElementById('inputype').value == 2){
		window.location = "<?php echo $this->baseUrl();?>"+"/takafulapplication/index/IdRegister/"+idregpin;
		
	}
}






function ShowPopup1(idbatch,idregistration){
	  	document.getElementById('divLogin').style.display = 'block';
	  	document.getElementById('divLogin2').style.display = 'block';
 	    document.getElementById('contentdiv').innerHTML ="<table><tr align='center'><td><a href='<?php echo $this->baseUrl();?>/takafulcandidates/import/batchId/"+idbatch+"'><input type='button' style='width:150px;'  value='Upload Excel File' label='Upload Excel File' border=1/></a></td><td><a  href='<?php echo $this->baseUrl()?>/takafulapplication/index/IdRegister/"+idbatch+"'><input type='button' style='width:150px;' value='Manual Entry' label='Manual Entry' border=1/></a></td></tr><tr align='center'><td><a  href='<?php echo $this->baseUrl()?>/takafulcandidates/coursevenue/batchId/"+idbatch+"'><input type='button' value='Schedule' style='width:150px;' label='Schedule' border=1/></a></td><td><a href='<?php echo $this->baseUrl()?>/takafulapplication/index/'><input type='button' style='width:150px;' value='Close' label='Close' border=1/></a></td></tr></table>";
	
}


function ShowPopup(idbatch,idregistration){
	
	var xhrArgs = {
 			url: "<?php echo $this->baseUrl();?>"+"/takafulapplication/showpopupregistration/idbatch/"+idbatch+"/idbatreg/"+idregistration,
 			handleAs:'text',
 			load:function(data){ 
 			
				document.getElementById('divLogin').style.display = 'block';
				document.getElementById('divLogin2').style.display = 'block';
 				document.getElementById('contentdiv').innerHTML = "<style>Instruction: Click on date to view details and proceed </style><br>"+data;
			  //document.getElementById('contentdiv').innerHTML ="<tr align='left'><td><a href='<?php echo $this->baseUrl();?>/takafulcandidates/import/batchId/"+idbatch+"'>Upload From Excel File</a></td></tr><br><br><br><br><tr><td><a   href='<?php echo $this->baseUrl()?>/takafulapplication/index/IdRegister/"+idbatch+"'>Manual Entry</a></td></tr>";
			  //document.getElementById('contentdiv').innerHTML ="<tr align='left'><td><a href='<?php $this->baseUrl()?>/takafulcandidates/import/batchId/"+idbatch+"'>Upload From Excel File</a></td></tr>";			       
 			}
 	   }
 	dojo.xhrGet(xhrArgs);
	 			
}

function dispmessage(){
	alert("Scheduling Is Inactive..Add Candidates For Enabling");
	return false;
}
function dispmessagefailreg(){
	alert("Sorry Students already Entered Please do Scheduling");
	return false;
}

<?if(isset($this->alertError)){?>
	alert('<? echo $this->alertError; ?>.');
<?}?>

function fnhidetext()
{
	 Student = dojo.byId('register');
     dojo.style(Student,'display','none');
}

function fnshowtext()
{
	 Student = dojo.byId('register');
     dojo.style(Student,'display','block');	
}
	function Closefn()
	{	 
	   	 window.location = "<?php echo $this->baseUrl();?>/takafullogin/logout";        
	}
	
</script>
</head>
	<fieldset><?php $companyDetails = $this->takafulDetails; ?>
		<legend><?php echo $this->translate("Takaful").' '.$this->translate("Application");?></legend>        
            <table width="100%" class="table">
                <tr>
                   <td width="50%"><?php echo $this->translate("Takaful Name");?></td>
                   <td><?php echo $companyDetails['TakafulName'];?></td>                  
                </tr>
                <tr>
                     <td><?php echo $this->translate("Contact")." ".$this->translate("Person");?></td>
                     <td ><?php echo $companyDetails['ContactName'];?></td>
                  	
                </tr>

            </table>
        </form>	
        <br>
    
    <input type="button" name="newapp" id="newapp" value="New Application" onclick="window.location.href='<?php echo $this->baseUrl();?>/takafulapplication/newapplication'">
    <br>
    </fieldset> 
    <br/>
    <!-- new  addition -->
    <table width="100%"  border="0" class="table3" cellspacing="1" align="center">
	
	<tr>
		<th width="3%" ><strong>Sl:No</strong></th>
		<th width="10%"  ><strong>Time (H-M-S)</strong></th>
		<th width="10%"  ><strong>Date(DD-MM-YYYY)</strong></th>		
		<th width="20%" ><strong>Takaful Batch ID</strong></th>
		<th width="20%" ><strong>Mode Of Payment</strong></th>
		<th width="10%" ><strong>Number of Candidate</strong></th>
		<th width="30%"  ><strong>Status</strong></th>
	</tr>

	<?php 
	$i=1;
	foreach($this->application as $result){?>
	<tr>
		<td align="center"><?php echo $i;?>)</td>
		<td align="center"><?php echo date('H:i:s',strtotime($result['UpdDate']));?>
		<td align="center"><?php echo date('d-m-Y',strtotime($result['UpdDate']));?>
		</td>
	<td>
		<?php 
		if($result['paymentStatus'] == 1){
			//$url = "<a  onclick='document.forms[0].submit()' href='".$this->baseUrl()."/takafulapplication/index/IdRegister/".$result[registrationPin]."'>";
			$url = "<a  href='#' onClick=ShowPopup('".$result['registrationPin']."',".$result[idBatchRegistration].") >";
			$status = "Candidate Registration";
		}elseif($result['paymentStatus'] == 2){
			$status = "Registration Completed";
			$url = "<a onclick='document.forms[0].submit()' href='".$this->baseUrl()."/takafulapplication/report/IdRegister/".$result[idBatchRegistration]."'>";
		}elseif($result['paymentStatus'] == 3){
			$status = "Payment Canceled";
			$url = "";
		}
		elseif($result['paymentStatus'] == 4){
			$status = "Candidates Moved";
			$url = "";
		}
		elseif($result['paymentStatus'] == 5){
			$status = "Registration Blocked";
			$url = "";
		}
        elseif($result['paymentStatus'] == 0){
			$status = "Payment Pending";
			$url = "";
		}			
		?><?php echo $result['registrationPin'];?></td>
		<?php 
	    			$modpayment="";
	    		 if($result['ModeofPayment'] == 2 ){
	    			$modpayment="PayPal";    			
	    		}else if ($result['ModeofPayment']==1){
	    			$modpayment="FPX";
	    		}else if($result['ModeofPayment']==4){
	    			$modpayment="Cheque";
	    		}else if ($result['ModeofPayment']==181){
	    			$modpayment="Pay Later";
	    		}else if ($result['ModeofPayment']==10){
	    			$modpayment="MIGS";
	    		}?>
	    		
	    		<td><?php echo $modpayment;?></td>
		<td align="right"><?php echo $result['totalNoofCandidates'];?> </td>
		<td align="left"><?php echo $url;?><?php echo $status;?></a></td>
	</tr>
	<?php 
	$i++;
	}?>
	
</table>

</head>
<body>
	 <table width=100%>            
        <tr>            
            <td>            	
            	<div runat="server" id="divLogin"  style="display:none; z-index: 153; position: absolute; left: 36%; width: 450px; top: 35%;">
					                <asp:Panel runat="server" ID="popupLogin">
					                    <asp:Panel runat="server" ID="popupContent1">
					                        <table style="height: 125px; width: 100%; background-color: #FFFFFF;" border="3"   frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="center">
					                                    	<div id="contentdiv">					                                    	       
					                                  			</div>	
					                                   </td>
					                                </tr>
					                                <tr>
					                                    <td colspan="2" align="left">
					                                        <asp:Label ID="lblmandatory" runat="server" Text="* Mandatory Information Required"
					                                            class="LeftLabelStyle" Width="350px" />
					                                    </td>
					                                </tr>
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
					            </div>
					                   	<div runat="server" id="divLogin2"  style="display:none; opacity:0.4; z-index: 150; position: absolute; left: 0%; height: 100%; width: 100%; top: 0%;">
					                <asp:Panel >
					                    <asp:Panel  >
					                        <table style="height: 100%; width: 100%; background-color: #000000;" border="3"   frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">
					                                    	
					                                      
					                                   </td>
					                                </tr>
					                               
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
					            </div>
					            </td>
            </tr>
            </table>
            
                 <!-- Added on 29-05-2013 -->
<div runat="server" id="divLogin10"  style="display:none; z-index: 153; opacity:1.0;background-color: #; position: fixed; left: 23%;right:50%; width:70%; top:20% " >
  <div runat="server" id="divLogin11"  style="display:none; opacity:0.5; z-index: 153; background-color: #FFFFFF; position: fixed; left: 30%;right:50%; width:50%; top:20% "> </div>
					                <div id="scroll" style="height: 250px; width: 100%; overflow:auto;">
					                        <table style="height: 150px; width: 80%; background-color: #FFFFFF;" border="3" frame="box">
					                            <tr>
					                                <td align="left">
					                                    <div id="contentdiv10" style="display:none;">															 
														<div align="center" style="font-size: 16pt; "><b >Declaration
           </b>
		 </div>
          <div align="center" style="font-size: 12pt; ">
                  I hereby declare that the information given is true and accurate.If I passed <br/>&nbsp&nbsp&nbsp&nbsp&nbsp
				  the examination and the information given is found to be not true,I understand<br/>&nbsp&nbsp&nbsp
				  that IBFIM reserves the right to Cancel the examination result and take action<br/>
				  according to the rules and regulation of Takaful Basic Examination<br/>
		   </div>
		   <br/>
			<div  align="center">
			<input type='hidden' name='inputype' id='inputype' value='0'/>
			<input type='hidden' name='idregpin' id='idregpin' value='0'/>
			
			
			<input type='button'  class="NormalBtn" dojotype="dijit.form.Button" label="Agree" id='Accept' name='Accept'  onclick ="registrationredirect();"/>
			<input type='button'  class="NormalBtn" dojotype="dijit.form.Button" label="Disagree" id='Decline' name='Decline' onclick="Closefndiclaration();"/></div>
			
			
   </div>
															</div>					                                      
					                                   </td>
					                                </tr>
					                            
					                        </table>
    							   </div>
    					 </div>
</div> 
	<!--<fieldset>
	<form action="<?php echo $this->baseUrl();?>/takafulapplication/index/editid/0" method="POST">
	     <table class="table" width="30%" align="center">
                     <tr>
                          <th colspan = "5"><?php echo $this->translate("New Application");?></th>
                     </tr>                       
                         <tr>
                            <td><input type="radio" name="newapp" id="newapp" value="1" checked onClick="fnhidetext();"><?php  echo $this->translate("New ")." ".$this->translate("Application");?></td>
                            <td align="right"></td>
                         </tr>
                    	 <tr>
                            <td><input type="radio" name="newapp" id="newapp" value="2" onClick="fnshowtext();"><?php  echo $this->translate("Register ")." ".$this->translate("Id");?></td>
                            <td align="right" id="register"><?php  echo $this->lobjTakafulForm->IdRegister;?></td>
                         </tr>   	                        
	                     <tr>                           
                            <td colspan="2" align="right"><?php  echo $this->lobjTakafulForm->Next;?>
                            <input type="button" name="Close" class="buttonStyle" onClick="Closefn();" value="Close" dojoType="dijit.form.Button"  label="Logout" >	</td>
                        </tr>     
	        </table>
        </form>
        </fieldset>                

-->