<head>
<script>
dojo.addOnLoad(function(){
	dijit.byId('idPrograms').focus();
	dijit.byId('idPrograms').set('value','');
	dijit.byId('idPrograms').set('placeHolder','Select');
	//dijit.byId('ModeofPayment').set('value','');
	//dijit.byId('ModeofPayment').set('placeHolder','Select');	

	examtoDateSetting();
	
	
	});

var Tax;
function Closefnnew()
{	 	
	document.getElementById('divLogin').style.display = 'none';
	document.getElementById('divLogin2').style.display = 'none';
}

	function fngetfeedetails(valu){	
		document.getElementById('noOfCand').value="";
		document.getElementById('discount').value="";
		document.getElementById('totalAmt').value="";
	
	if(valu!='')
	{
		
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/takafulapplication/getprogramtotal/idprogram/"+valu,
			handleAs:'json',
			load:function(data){ 
				Tax = data.ServiceTax;		
			   document.getElementById('eachAmounts').value = data.Rate;
			   servicetax = eval("data.Rate * data.ServiceTax/100");
			   servicetax = servicetax.toFixed(2);
               document.getElementById('Servicetax').value = servicetax;
			   	
				//document.getElementById('totalAmt').value  = eval(document.getElementById('eachAmounts').value)*eval(document.getElementById('noOfCand').value);
			}
	   }
	dojo.xhrGet(xhrArgs); 	
 
	var xhrArgs1 = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetprerequesition/idprog/"+valu,
			handleAs:'text',
			load:function(data){ 
				if(data == '')
				{
				}
				else
				{
				    alert(data);
				}
			}
	   }
	dojo.xhrGet(xhrArgs1);
	
  
}
}
function fncalculateSum(noC){	
	document.getElementById('totalAmt').value  = eval(document.getElementById('eachAmounts').value)*eval(document.getElementById('noOfCand').value);
}

function fngetDiscount(stuno)
{
	 if(stuno>100){
		 alert("Maximum Nuber Of Candidates tht can apply is 99");
		 dijit.byId('noOfCand').set('value','');
		 return false;
	 }else{
	 idprograms=dijit.byId('idPrograms');
	 discount='<?php echo $this->discount;?>';
	 if(stuno!='' && idprograms!='' && stuno>0)
	 {			
		 document.getElementById('totalAmt').value="NaN";
		var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/takafulapplication/getdiscount/nocandidates/"+stuno+"/idprogram/"+idprograms,
			handleAs:'text',
			load:function(data){ 
				var total = document.getElementById('eachAmounts').value;	
				var nocan=stuno;
				
				var servicetax = (eval(document.getElementById('eachAmounts').value)*Tax/100);	
				
				
				servicetax = servicetax.toFixed(2);
				totalservicetax = eval(stuno*servicetax);
				totalservicetax = totalservicetax.toFixed(2);				
				document.getElementById('Servicetax').value = totalservicetax;  
				totaltax = eval(stuno*servicetax);
				
				
				
				
				document.getElementById('discount').value = data;
				if(discount==1)
				{
                	var totaldiscountedamount = total - (data);
					document.getElementById('totalAmt').value  = eval(totaldiscountedamount*nocan);
				}
				else
				{
						 var discountedamount = ((eval(total*nocan) *data)/100);
						 discounted=parseInt(discountedamount);
						  var totals=eval(total*stuno+totaltax);
						 document.getElementById('totalAmt').value  = eval(totals)-eval(discounted);
				}
			}
	   }
	dojo.xhrGet(xhrArgs);
	}
  }
}

var statarray = new Array();
id = 1;
sumno = 0;
sumTot = 0;
function addRows() {	
	var StudentIdHTML   =  dijit.byId("idPrograms").value;
	var StudentNameHTML = document.getElementById("idPrograms").value;
	var eachAmounts  	= document.getElementById('eachAmounts').value;
	var noOfCand  		=  document.getElementById('noOfCand').value;
	var totalAmt 		=  document.getElementById('totalAmt').value;
	var discountamount 		=  document.getElementById('discount').value;
    /*	if(noOfCand == 0){		
		alert("Enter No of Candidates");
		return false;
	}*/

	sa3=dijit.byId("noOfCand").value
	var stricna=new String(sa3);	
	var the_char=stricna.charAt(0);
	if(dijit.byId("noOfCand").value==0 || dijit.byId("noOfCand").value=='' || the_char==0){
	    dijit.byId("noOfCand").attr('required','true');
		dijit.byId("noOfCand").focus();
		return false;
	}
	if(isNaN(document.getElementById("totalAmt").value)){		
		alert("Wait Total amount cannot be NaN");
		return false;
	}
	if(dijit.byId("totalAmt").value=='' || dijit.byId("totalAmt").value==0){
	    dijit.byId("totalAmt").attr('required','true');
		dijit.byId("totalAmt").focus();
		return false;
	}
	if(StudentIdHTML == "Select"||StudentIdHTML == ""){	
		alert("Select Course Name");
		return false;
	}
	else{ 		
		statarray.push(StudentIdHTML);
		if(arrHasDupes(statarray))
		{
			statarray = statarray.unique();
			alert("Duplicate Course Name");
		}
		else
		{	
			var x=document.getElementById('contentBody').insertRow(3);
			var m=x.insertCell(0);
			var n=x.insertCell(1);
			var u=x.insertCell(2);
			var v=x.insertCell(3);
			var y=x.insertCell(4);
			var z=x.insertCell(5);
			m.innerHTML="<input type='hidden'   name='idProgram[]' id='idProgram' value='"+StudentIdHTML+"'>"+StudentNameHTML;
			n.innerHTML="<input type='hidden'   name='eachAmount[]' id='eachAmount' value='"+eachAmounts+"'>"+eachAmounts;
			u.innerHTML="<input type='hidden' name='noofCandidates[]'  id='noofCandidates' value='"+noOfCand+"'>"+noOfCand;
			v.innerHTML="<input type='hidden'  name='discountamount[]' id='discountamount' value='"+discountamount+"'>"+discountamount;
			y.innerHTML="<input type='hidden' name='toatlAmount[]'   id='toatlAmount' value='"+totalAmt+"'>"+totalAmt;
			z.innerHTML="<img src='<?php echo $this->baseUrl()?>/images/delete.png' onClick='removeFormField(this,\"#row"+id+"\"\,\"" +StudentIdHTML+ "\"\,\"" +totalAmt+ "\"\,\"" +noOfCand+ "\"\);   return false;'  border=0 width='16' height='16'>";
			
			sumno = eval(sumno) + eval(noOfCand);
			sumTot = eval(sumTot) + eval(totalAmt);				
			//document.getElementById("contentBody").innerHTML = document.getElementById("contentBody").innerHTML+"<tr id='row"+id+"'><td>"+StudentNameHTML+"<input type='hidden'   name='idProgram[]' id='idProgram' value='"+StudentIdHTML+"'></td><td  align='right'><input type='hidden'   name='eachAmount[]' id='eachAmount' value='"+eachAmounts+"'>"+eachAmounts+"</td><td  align='right'><input type='hidden' name='noofCandidates[]'  id='noofCandidates' value='"+noOfCand+"'>"+noOfCand+"</td><td  align='right'><input type='hidden'   name='discountamount[]' id='discountamount' value='"+discountamount+"'>"+discountamount+"</td><td  align='right'><input type='hidden' name='toatlAmount[]'   id='toatlAmount' value='"+totalAmt+"'>"+totalAmt+"</td><td><img src='<?php echo $this->baseUrl()?>/images/delete.png' onClick='removeFormField(this,\"#row"+id+"\"\,\"" +StudentIdHTML+ "\"\,\"" +totalAmt+ "\"\,\"" +noOfCand+ "\"\);   return false;'  border=0 width='16' height='16'></td></tr>";
			id++;
			//document.getElementById("id").value = id;
			//dijit.byId("totalNoofCand").value = sumno;
			//dijit.byId("grossAmt").value = sumno;
			dijit.byId("idPrograms").attr('readOnly',true);
			dijit.byId("totalNoofCand").setValue(sumno);
			dijit.byId("grossAmt").setValue(sumTot);
			
		}		
	}
}
function removeFormField(currents,id,StudentIdHTML,totalAmt,noOfCan) {
	currents.parentNode.parentNode.parentNode.removeChild(currents.parentNode.parentNode);	
	for(var i=0; i<statarray.length; i++) {
        if(statarray[i] == StudentIdHTML) {
        	statarray.splice(i, 1);
            break;
        }
	}	
	sumno  = eval(sumno) - eval(noOfCan);
	sumTot = eval(sumTot) - eval(totalAmt);;
	//document.getElementById('totalNoofCand').value = sumno;
	//document.getElementById('grossAmt').value      = sumTot;	
	dijit.byId("idPrograms").attr('readOnly',false);
	dijit.byId("totalNoofCand").setValue(sumno);
	dijit.byId("grossAmt").setValue(sumTot);
}
function arrHasDupes( A ) {                          // finds any duplicate array elements using the fewest possible comparison
	var i, j, n;
	n=A.length;                                                     // to ensure the fewest possible comparisons
	for (i=0; i<n; i++) {                        // outer loop uses each item i at 0 through n
		for (j=i+1; j<n; j++) {              // inner loop only compares items j at i+1 to n
			if (A[i]==A[j]) return true;
		}
	}
	return false;
}
Array.prototype.unique = function () {
    var r = new Array();
    o:for(var i = 0, n = this.length; i < n; i++) {
        for(var x = 0, y = r.length; x < y; x++) {
                if(r[x]==this[i]) {
                	continue o;
                }                
        }
        r[r.length] = this[i];
    }
    return r;
}
function Closefn()
	{	 
	   	 window.location = "<?php echo $this->baseUrl();?>/takafulapplication/index";        
	}

function getDateSelect(){
	var date = document.getElementById('Date').value;
//	alert(date);

}

function fnsetprogram(idprog){
	dijit.byId('idPrograms').set('value',idprog);
}

function setdateto(dvalue){
	day=dvalue.getDate();
	<?php $yesterdaydate = date('Y-m-d', mktime(0,0,0,$month,($day+14),$year)); ?> 
}


function examtoDateSetting(){ 
	var RegFromDate = dijit.byId('FromDate').value;	
	var startDate = dijit.byId('ToDate');
	var trdat = ""+RegFromDate;
	var d = new Date(trdat); 
	d.setDate(d.getDate());
    var date = d.getDate();
    var month = d.getMonth()+1;
    var year = d.getFullYear();
	
    if(month<10) month = "0"+month;
    if(date<10) date = "0"+date;
    var nextdate = year+'-'+month +'-'+date;
    
	startDate.constraints = dojo.mixin(startDate.constraints, {min: dojo.date.stamp.fromISOString(nextdate)}); 

	var trdat = ""+RegFromDate;
	var d = new Date(trdat); 
	d.setDate(d.getDate() + 15);
    var date = d.getDate();
    var month = d.getMonth()+1;
    var year = d.getFullYear();
	
    if(month<10) month = "0"+month;
    if(date<10) date = "0"+date;
    var nextdate = year+'-'+month +'-'+date;

	startDate.constraints = dojo.mixin(startDate.constraints, {max: dojo.date.stamp.fromISOString(nextdate)}); 
}


function ShowPopup(idvenue){

	fdate=document.getElementById("FromDate").value;
	tdate=document.getElementById("ToDate").value;

	var xhrArgs = {
 			url: "<?php echo $this->baseUrl();?>"+"/takafulapplication/venueseatavailability/idvenue/"+idvenue+"/fromdate/"+fdate+"/todate/"+tdate,
 			handleAs:'text',
 			load:function(data){ 
 				//alert(data);
				document.getElementById('divLogin').style.display = 'block';
				document.getElementById('divLogin2').style.display = 'block';
 				document.getElementById('contentdiv').innerHTML = "<style>Instruction: Click on date to view details and proceed </style><br>"+data;
			  //document.getElementById('contentdiv').innerHTML ="<tr align='left'><td><a href='<?php echo $this->baseUrl();?>/takafulcandidates/import/batchId/"+idbatch+"'>Upload From Excel File</a></td></tr><br><br><br><br><tr><td><a   href='<?php echo $this->baseUrl()?>/takafulapplication/index/IdRegister/"+idbatch+"'>Manual Entry</a></td></tr>";
			  //document.getElementById('contentdiv').innerHTML ="<tr align='left'><td><a href='<?php $this->baseUrl()?>/takafulcandidates/import/batchId/"+idbatch+"'>Upload From Excel File</a></td></tr>";			       
							
 			}
 	   }
 	dojo.xhrGet(xhrArgs);
	 			
}

</script>
<?php 				
		$month= date("m"); // Month value
		$day= date("d"); //today's date
		$year= date("Y"); // Year value
		$yesterdaydate = date('Y-m-d', mktime(0,0,0,$month,($day+14),$year)); 		
		$date1=date('Y-m-d');		
		$dateofbirth = "{min:'$yesterdaydate',datePattern:'dd-MM-yyyy'}"; 
?>
</head>
	<fieldset>
	<legend>Seat Availability Information</legend>
	<form action="<?php echo $this->baseUrl();?>/takafulapplication/newapplication/search/1"  dojoType="dijit.form.Form" method="POST">
	<table width="75%">				
			<tr>
			        <td><?php echo $this->translate("From").' '.$this->translate("Date (dd-mm-yyyy)") ?></td>			        
                    <td><?php echo $this->lobjform->FromDate;?></td>                    
                    <td><?php echo $this->translate("To").' '.$this->translate("Date (dd-mm-yyyy)") ?></td>
                    <td><?php echo $this->lobjform->ToDate;?></td>
                    <td><input name="Print" id="Print" type="submit"  class="NormalBtn" dojoType=dijit.form.Button label = <?php echo $this->translate("Search");?> value=<?php echo $this->translate("Search");?>>
                    	<?php  echo $this->lobjform->Clear;?>	
                    </td>
           </tr>
    </table>
	<table width="70%" border="0" cellpadding="5" cellspacing="1" class="table3">
  <tr>
      <th>LEARNING CENTER/PART</th>
	  <th>AVAILABLE SEATS</th>
  </tr>
   <?php 
   if(count($this->examcenter)>0){
   $i=1; 
   foreach ($this->examcenter as $center){?>
   <tr>       
    <td><a  href='#' onClick='ShowPopup(<?php echo $center['idvenue'];?>)' ><?php echo $center['centername'];?></a></td>     
     <!--<td><?php echo date("d-m-y",strtotime($center['date']));?></td>
      --><?php if($center['idsession']==1){$session="Morning Session";}else{$session="Afternoon Session";}?>
      <!-- <td><?php echo $session;?></td>
      -->
    <td align="center"><b><input type="hidden" name="remain<?php echo $i;?>" id="remain<?php echo $i;?>" value=""><?php echo $center['availseat'];?></b></td>

  </tr>
  
  <?php
	$i++;
    }
   }?>
  
</table>
</form>
	
</fieldset>
	<form action="<?php echo $this->baseUrl();?>/takafulapplication/newapplication"  dojoType="dijit.form.Form" method="POST">
	    <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
cn=dijit.byId("grossAmt").value;

                    if(cn==0)
                     {
                     alert("Please Add Atleast One Row");
                        return false;
                       }
          		 if(document.getElementById("totalNoofCand").value >= 99)
                 {
                        alert("To register above 99 students, please contact administrator at phone no. +603 - 20311010 ext. 548/553/582/583");
                        return false;
                  }

					return true;
                } else {
                    return false;
                }
				</script> 
	     <table class="table" width="100%" id="contentBody"  >
                     <tr>
                          <th colspan = "7"><?php echo $this->translate("New Application");?></th>
                     </tr>
                         <tr>
                            <th width="35%"><?php if($this->caption) {echo $this->translate("$this->caption");?><?php }else{?><?php echo $this->translate("Course");}?></th>
                            <th width="10%"><?php  echo $this->translate("Amount(RM)");?></th>
							<th width="25%"><?php  echo $this->translate("GST(RM)");?></th>
                            <th width="25%"><?php  echo $this->translate("No OF Candidates");?></th>
                              <th width="25%"><?php  echo $this->translate("Discount");?></th>
							   
                            <th width="20%"> <?php  echo $this->translate("Total(RM)");?></th>
                             <th width="10%"></th>
                        </tr>
                         <tr>  
                            <td><?php  echo $this->lobjTakafulForm->idPrograms;?></td>
                            <td align="right"><?php  echo $this->lobjTakafulForm->eachAmounts;?></td>
							 <td align="right"><?php  echo $this->lobjTakafulForm->Servicetax;?></td>
                            <td align="right"><?php  echo $this->lobjTakafulForm->noOfCand;?></td>
                             <td>   <input type="text"  id="discount" name="discount[]" dojoType="dijit.form.ValidationTextBox"   readOnly="true"  style="width:40px"   value="0"></td>
                           
							<td align="right"><?php  echo $this->lobjTakafulForm->totalAmt;?></td>
                             <td><input type="button" TABINDEX="3" name="Add" id="Add" value="Add" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Add"); ?>" onclick="addRows();"></td>
                        </tr>
                        <tr>
                        	<td colspan="5"><?php echo $this->lobjTakafulForm->idTakaful?></td>
                        </tr>
                     
	                     <tr>
                            <td></td>
                            <td></td>
                            <td align="right"><b><?php  echo $this->translate("Total No of Candidates:");?></b><?php  echo $this->lobjTakafulForm->totalNoofCand;?></td>
                            <td align="right"><b><?php  echo $this->translate("Gross Amount(RM):");?></b><?php  echo $this->lobjTakafulForm->grossAmt;?></td>
                             <td></td>
                        </tr> 
	                    <tr>
                           <td><?php  echo $this->translate("Mode of Payment:");?></td>
                            <td><?php  echo $this->lobjTakafulForm->ModeofPayment;?></td>
                            
                            <td></td>
                           <td></td>
                             <td></td>
                        </tr> 
	                     <tr>
                           
                            <td colspan="5" align="right"><?php  echo $this->lobjTakafulForm->Save;?>
                            <input type="button" name="Close" TABINDEX="6" class="buttonStyle" onClick="Closefn(); return false;" value="Close" dojoType="dijit.form.Button"  label="Close" >	</td>
                        </tr>     
	        </table>
	        <table width=100%>            
        <tr>            
            <td>            	
            	<div runat="server" id="divLogin"  style="display:none; z-index: 153; position: absolute; left: 30%; width: 650px; top: 15%;">
					                <asp:Panel runat="server" ID="popupLogin">
					                    <asp:Panel runat="server" ID="popupContent1">
					                        <table style="height: 125px; width: 100%; background-color: #FFFFFF;" border="3"   frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="center">
					                                    	<div id="contentdiv">	
					                                    	
					                                  			</div>	
					                                   </td>
					                                </tr>
					                                <tr>
					                                    <td colspan="2" align="left">
					                                        <asp:Label ID="lblmandatory" runat="server" Text="* Mandatory Information Required"
					                                            class="LeftLabelStyle" Width="350px" />
					                                    </td>
					                                </tr>
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
					            </div>
					                   	<div runat="server" id="divLogin2"  style="display:none; opacity:0.4; z-index: 150; position: absolute; left: 0%; height: 100%; width: 100%; top: 0%;">
					                <asp:Panel >
					                    <asp:Panel  >
					                        <table style="height: 100%; width: 100%; background-color: #000000;" border="3"   frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">
					                                    	
					                                      
					                                   </td>
					                                </tr>
					                               
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
					            </div>
					            </td>
            </tr>
            </table>
	        
        </form>
        </fieldset>                
	  
