<head>
<script type="text/javascript">

</script>
</head>
<?php 
if(!$this->failedstudentlist){
?>
<table>
<!--  
<?php //echo $this->baseUrl();?>/takafulcandidates/import/batchId/<?php //echo $this->regpin;?>
<?php //echo $this->baseUrl()?>/takafulapplication/index/IdRegister/<?php //echo $this->regpin;?>-->
	<tr align='center'>
	<td><a href='#'><input type='button' style='width:150px;'  value='Upload Excel File' onclick='calldisclaimer(1,"<?php echo $this->regpin;?>");' label='Upload Excel File' border=1/></a>
	
	</td>
	<td><a  href='#'><input type='button' style='width:150px;' value='Manual Entry' onclick='calldisclaimer(2,"<?php echo $this->regpin;?>");' label='Manual Entry' border=1/></a></td>
	</tr>
	<tr align='center'>
	<?php if($this->showshceduler!=0){?>
	<td><a  href='<?php echo $this->baseUrl()?>/takafulcandidates/coursevenue/batchId/<?php echo $this->regpin;?>'><input type='button' value='Schedule' style='width:150px;' label='Schedule' border=1/></a></td>
	<?php }else{?>
	<td><a  href='#'><input type='button'  value='Schedule' style='width:150px;' label='Schedule' border=1 onclick="dispmessage();"/></a></td>
	<?php }?>
	<td>
	<a href='<?php echo $this->baseUrl()?>/takafulapplication/index/'><input type='button' style='width:150px;' value='Close' label='Close' border=1/></a>
	</td>
	</tr>
</table>
<?php }else{?>
<table>
	<tr align='center'>
	<td><a href='#'><input type='button' style='width:150px;'  value='Upload Excel File' label='Upload Excel File' border=1 onclick="dispmessagefailreg();"/></a>
	</td>
	<td><a  href='#'><input type='button' style='width:150px;' value='Manual Entry' label='Manual Entry' border=1 onclick="dispmessagefailreg();"/></a></td>
	</tr>
	<tr align='center'>	
	<td><a  href='<?php echo $this->baseUrl()?>/registrationfailed/schedulestudents/regpinnum/<?php echo $this->regpin;?>'><input type='button' value='Schedule' style='width:150px;' label='Schedule' border=1/></a></td>	
	<td>
		<a href='<?php echo $this->baseUrl()?>/takafulapplication/index/'><input type='button' style='width:150px;' value='Close' label='Close' border=1/></a>
	</td>
	</tr>
</table>

<?php }?>