<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="<?php echo $this->rtl;?>">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
<title></title>
<link rel="stylesheet" type="text/css"  href="<?php  echo $this->baseUrl();?>/js/themes/cupertino/jquery.ui.all.css" />
<script language='javascript' src='<?php  echo $this->baseUrl();?>/js/jquery-1.4.3.js'></script>
<script type="text/javascript">
function Closefn(){	 
   	  window.location = "<?php echo $this->baseUrl();?>/venueexlupload/index";        
}
</script>
</head>
<body  class = "claro"> 
<fieldset>
    <legend><?php echo $this->translate->_("File Uploads");?></legend>
        <div class="register">
            <div class="profile_tab">
                <form action="" method="POST"  name= "myform"  dojoType="dijit.form.Form"  enctype="multipart/form-data">
                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
		</script>	
              <table id="hor-minimalist-b" width="100%">                   
                      
                        <tr>
                            <td class="label" width="10%"><?php echo $this->translate->_("Select Excel File");?><span class="reqMark"></span></td>
                            <td width="50%" ><?php echo $this->lobjUploadfilesForm->FileName;?></td>
                            <td><?php //echo $this->remspplication;?></td>
                        </tr>
                                     
                      	<tr>
                    	<td colspan="4" align = "right">                    	       		
			                 <?php echo $this->lobjUploadfilesForm->Save; ?>	                     	
			                					
                             <input type="button" name="Close" value="Close" id="Close" onClick="Closefn();" dojoType="dijit.form.Button"  label="Close"  class="buttonStyle">     
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</fieldset>
</body>
</html>