<html xmlns="http://www.w3.org/1999/xhtml" dir="<?php echo $this->rtl;?>">
<fieldset>

<!--  Search Forms -->
<div class="search" style="margin-left:20px;">
<script type="text/javascript">
dojo.addOnLoad(function() 
{
	
});


function printreport()
{
	//alert('hi');
	window.open("http://<?php echo $_SERVER['SERVER_NAME']?><?php  echo $this->baseUrl();?>/examdetails/pdfexport/regId/<?php echo $this->regid;?>");
}

</script>

<form action="<?php echo $this->baseUrl();?>/examdetails/examdetails" method="POST" name="jknmk" >
<table class="table" width="100%">
	<tr>
     <?php echo $this->message;?>
   </tr>
   

</table>

	<div id="sav" name="sav" align="right">
	 <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='http://onlinetestibfim.oum.edu.my';" />
	
</div>
</form>	
</div>
</fieldset> 
</html>   