<head>

<script type="text/javascript">
function fngetcmpnames(){
	var idname = dijit.byId('Cmptype');
	if(idname!=0)
	{
		document.getElementById('displaynames').style.display='';
	    var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/general-setup/studentedit/fnajaxgettakcompnames/idname/"+idname,
				handleAs:'json',
				load:function(data){ 
					AutoFillNextEditableDropDown("cmpnames",data);
					dijit.byId("cmpnames").setValue('0');
				}
		   }
		dojo.xhrGet(xhrArgs);
	}
	else
	{
		document.getElementById('displaynames').style.display='none';
	}
}
function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}

function fnshowothertype()
{
	var companytypeflag = document.getElementById('changetype').checked;
	if(companytypeflag==true)
	{
		document.getElementById('newtakafuldetails').style.display="";
	}
	else 
	{
		document.getElementById('newtakafuldetails').style.display="none";
	}
}
</script> 
</head>
<body onload="fnshowothertype();">
 <fieldset>
    <legend><?php echo $this->translate("Student Application");?></legend>
                <Form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">
               
				<div dojoType="dijit.layout.ContentPane" id="Student" >
                    <table class="table" width="100%" >
                        <tr>
                            <th colspan = "2"><?php echo $this->translate("* PLEASE ENTER YOUR DETAILS BELOW");?></th>
                        </tr>
                        <tr>
                            <td><?php echo $this->translate("Full Name");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjStudenteditForm->FName;?><?php echo $this->lobjStudenteditForm->UpdDate;?><?php echo $this->lobjStudenteditForm->UpdUser;?></td>
                        </tr>                      
                        <tr>    
                            <td><?php echo $this->translate("Date of Birth");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjStudenteditForm->DateOfBirth;?></td>
                            
                        </tr>    
                       <tr>     
                            <td ><?php echo $this->translate("Email");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjStudenteditForm->EmailAddress;?></td>
                        </tr>
                         <tr>     
                            <td ><?php echo $this->translate("ICNO");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjStudenteditForm->ICNO;?></td>
                        </tr>
                        <tr>
                           <td><?php echo $this->translate("Mailing Address");?><span class="reqMark">*</span></td>
                           <td ><?php echo $this->lobjStudenteditForm->PermAddressDetails;?></td>
                       </tr>    
                        <tr>
                           <td><?php echo $this->translate("Address 2");?></td>
                           <td ><?php echo $this->lobjStudenteditForm->CorrAddress;?></td>
                       </tr> 
                       <tr>
                           <td><?php echo $this->translate("Postal Code");?><span class="reqMark">*</span></td>
                           <td ><?php echo $this->lobjStudenteditForm->PostalCode;?></td>
                       </tr> 
                        <tr>
                           <td><?php echo $this->translate("State");?><span class="reqMark">*</span></td>
                           <td ><?php echo $this->lobjStudenteditForm->State;?></td>
                       </tr> 
                        </tr> 
                           <tr>
                           <td><?php echo $this->translate("Contact No");?><span class="reqMark"></span></td>
                           <td ><?php echo $this->lobjStudenteditForm->ContactNo;?></td>
                       </tr> 
                           <tr>
                           <td><?php echo $this->translate("Mobile No");?><span class="reqMark">*</span></td>
                           <td ><?php echo $this->lobjStudenteditForm->MobileNo;?></td>
                       </tr> 
                        <tr>
                            <td><?php echo $this->translate("Race");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjStudenteditForm->Race;?></td>
                        </tr>    
                        <tr>    
                            <td><?php echo $this->translate("Gender");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjStudenteditForm->Gender;?></td>
                        </tr>
                        
                        <tr>  
                         <td><?php echo $this->translate("Qualification")?><span class="reqMark">*</span></td>
                          <td><?php echo $this->lobjStudenteditForm->Qualification;?></td>                            
                        </tr>
                         <tr>
                            <th colspan = "2"><?php echo $this->translate("Login to e-books using the following credentials");?></th>
                        </tr>
                          <tr>
                         <td><?php echo $this->translate("User").' '.$this->translate("Name");?><span class="reqMark"></span></td>
                          <td><?php echo $this->lobjStudenteditForm->login;?></td>                            
                        </tr>
                        <tr>  
                         <td><?php echo $this->translate("Password")?><span class="reqMark">*</span></td>
                          <td><?php echo $this->lobjStudenteditForm->password;?></td>                            
                        </tr>
                         
                       
                         <tr>
                            <th colspan="2"><?php echo $this->translate("Exam Details");?></th>
                         </tr>
                         <tr> 
	                         <?php $companytype = $this->registeredthrough;?>
	                             <td style:"width=100px">Registered through</td><td> <?php if($companytype==1){ echo "Company"; }elseif($companytype==2){ echo "Takful";} else { echo "Individual";}?></span></td>
                        </tr>
                        <tr>
		                        <?php if($companytype==1){?>
		                        <td>Company Name</td>
		                        <td><?php echo $this->companyname;?></td>
		                        <?php }?>
                        </tr>
                         <tr>
		                        <?php if($companytype==2){?>
		                        <td>Takaful Operator Name</td>
		                         <td><?php echo $this->companyname;?></td>
		                        <?php }?>
                        </tr>
                        <?php if(($companytype==1) || ($companytype==2)){?>
                         <tr>
		                       
		                        <td>Batch Id</td>
		                         <td><?php echo $this->registrationpins;?></td>
		                      
                        </tr>
                        
                        <?php }?>
                        
                          <tr> 
                             <td style:"width=100px">Course</span></td>
                            <td><?php echo $this->programs;?></td>
                         </tr>
                          <tr> 
                             <td style:"width=100px">Result</span></td>
                            <td><?php echo $this->pass;?></td>
                        </tr>
                         <tr> 
                             <td style:"width=100px">Exam Date</span></td>
                            <td><?php echo $this->examdate;?></td>
                        </tr>
                         <tr> 
                             <td style:"width=100px">Exam Session</span></td>
                            <td><?php echo $this->managesession;?></td>
                        </tr>
                        <input type="hidden" name="pass" id="pass" value="<?php echo $this->passstatus;?>">
                        <input type="hidden" name="studid" id="studid" value="<?php echo $this->idapplication;?>">
                        
                        <?php $pass = $this->passstatus;
                             if($pass==1 || $pass==2 || $pass==4){?> 
                          <tr><td colspan="2" ><input type="checkbox" name="changetype" id="changetype" value="" onclick="fnshowothertype();">Change to Takaful/Company</td></tr>   
                       </table>
                        <table class="table" width="100%" id="newtakafuldetails">    
                         <tr>
                            <th colspan="2"><?php echo $this->translate("Adding candidate to");?></th>
                        </tr>
                        <tr>
                         <td><?php echo $this->translate("Select Type")?><span class="reqMark">*</span></td>
                          <td><?php echo $this->lobjStudenteditForm->Cmptype;?></td>   
                        </tr>
                             <tr id="displaynames">
                         <td><?php echo $this->translate("Select Company/Takaful Names")?><span class="reqMark">*</span></td>
                          <td><?php echo $this->lobjStudenteditForm->cmpnames;?></td>   
                        </tr>  
                      
                        <?php }?>   
                        </table><table class="table" width="100%">     
                       <tr>                         
                                                
                                   
                            <td align = "right">                            
							<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Close"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'general-setup','controller'=>'studentedit', 'action'=>'index'),'default',true);?>';" />
                            <?php  echo $this->lobjStudenteditForm->Save;?>
                            </td> 
                        </tr>
              </table>
            </div>
            </Form>

</fieldset>
</body>

