<fieldset>
	<legend><?php echo $this->translate("Student ICNO").' '.$this->translate("Search");?></legend>
                    <form action="<?php echo $this->baseUrl();?>/general-setup/studentedit/index/search/1" method="POST">
                            <table width="100%">
                                <tr>
                                    <td><?php echo $this->translate("ICNO");?></td>
                                    <td><?php echo $this->lobjform->field3;?></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                               
                                <tr>
                                <td align = "center" colspan = "4">

											<?php echo $this->lobjform->Search;?>	
											<?php echo $this->lobjform->Clear;?>
								</td>
							    
                                </tr>
                        </table>
                    </form>	
    </fieldset> 
    <br/>
	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
	    	<tr>
	        	<th><?php echo $this->translate("Student").' '.$this->translate("Name");?></th>
	        	<th><?php echo $this->translate($this->Course);?></th>
	        	<th><?php echo $this->translate("venue")?></th>
	    	</tr>
	        <?php if (count($this->paginator)): ?>
	        <?php foreach ($this->paginator as $lobjprogram): ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	<td><a href="<?php echo $this->baseUrl();?>/general-setup/studentedit/editstudent/id/<?php echo $this->escape($lobjprogram['IDApplication']);?>" ><?php print_r($this->escape($lobjprogram['FName']));?></a></td>
	        	<td><?php print_r($this->escape($lobjprogram['ProgramName']));?></td>
	        		<td><?php print_r($this->escape($lobjprogram['centername']));?></td>
	        	
	            <?php endforeach; ?>
	            <?php endif; ?> 
			</tr>
			<tr>
	        	<td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>
		</table>
	</fieldset>