
<script type="text/javascript">
  
dojo.addOnLoad(function() {	
});




 
function checkAll()
{
 	nodes = dojo.query('[name=\"idscheduler[]\"]');
 	if(document.getElementById('IDAppl').checked == true)
	{	
 		dojo.forEach(nodes,
 		function(node)
 		{
		          
 		           dijit.getEnclosingWidget(node).set("checked",true);
 		}
 		);
 	}
 	else {	
 		dojo.forEach(nodes,
 			    function(node)
 			    {
 			        dijit.getEnclosingWidget(node).set("checked",false);
 			    }
 			);
 	     }
 }
function fnGetvenueList(idcity){ 
    	if(idcity != "" || idcity != undefined)
    		{  
    		var xhrArgs = {
    				url: "<?php echo $this->baseUrl();?>"+"/scheduler/sessionconstraints/getvenuelist/idCountry/"+idcity,
    				handleAs:'json',
    				load:function(data){ 
    					AutoFillNextEditableDropDown("idvenue",data); 
    				}
    		   }
    		dojo.xhrGet(xhrArgs);  
    			
    		} 
    	} 
    	function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
    		dijit.byId(EditableDropDownId).setValue("");
    		var ddwidget = dijit.byId(EditableDropDownId);
    		ddwidget.setAttribute('disabled', false);
        	var options = {
    					label:"name",
    					identifier:"key",
    					items:JSONText
    				  };
        	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
    	}
        
</script> 
<fieldset>
    <legend><?php echo $this->translate("Aprrove In-house Scheduler");?></legend>    
              
                    <form dojoType="dijit.form.Form" action="<?php echo $this->baseUrl();?>/scheduler/approvescheduler/index/search/1" method="POST">
                <script type="dojo/method" event="onSubmit">
                              if (this.validate()) {
					  return true;
                } else {
                    return false;
                }				
				</script>
                    <table class="table" width="100%" > 
						<tr>
						     <td><?php echo $this->translate("In-house Scheduler Desciption") ?></td>
                             <td><?php echo $this->lobjprogramForm->Description;?></td>
							 <td><?php echo $this->translate("Status") ?></td>
                             <td><?php echo $this->lobjprogramForm->Status;?></td>
                        </tr>
						<td align = "center" colspan = "4">
							<?php echo $this->lobjprogramForm->Search;?>                           
							<?php echo $this->lobjprogramForm->Clear;?>
						</td>
						  </tr>
                        </table>
                    </form>
					
    </fieldset>
	<?php if($this->paginator) {?>
	<form dojoType="dijit.form.Form" action="<?php echo $this->baseUrl();?>/scheduler/approvescheduler/index/search/1" method="POST">
    <br/>
	  <fieldset>
	<table class="table" width="100%" cellpadding="5" cellspacing="1">
		    <tr> 
                <?php if($this->status==2){?>			
               <th><input type="checkbox" dojoType="dijit.form.CheckBox" name="IDAppl"  onClick="checkAll();" id="IDAppl"/><?php echo $this->translate->_("Approve All");?></th>				
				<?php }else if($this->status==1){?>
				<th><input type="checkbox"  readonly dojoType="dijit.form.CheckBox" name="IDAppl"  onClick="checkAll();" id="IDAppl"/><?php echo $this->translate->_("Approve All");?></th>
				<?php }else {?>
				<th><input type="checkbox" dojoType="dijit.form.CheckBox" name="IDAppl"  onClick="checkAll();" id="IDAppl"/><?php echo $this->translate->_("Approve All");?></th>
				
				<?php }?>
				<th><?php echo $this->translate("Scheduler Name");?></th>
				<th><?php echo $this->translate("Training Center");?></th>
				<th><?php echo $this->translate("Takaful Operator");?></th>
			    <th><?php echo $this->translate("Exam Date");?></th>
				<th><?php echo $this->translate("Exam Session");?></th>
	       	    <th><?php echo $this->translate("Status");?></th>
				<th><?php echo $this->translate("Created On");?></th>
<th><?php echo $this->translate("Approved");?></th>
	    	</tr>
			
			 
<?php 	$cnnt = 0; 
foreach ($this->paginator as $lobjCountry): $cnnt++;
	 ?>	 
               <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>"> 
<?php if($lobjCountry['idprogram']== 10) {?>               
				<td><input type="checkbox" dojoType="dijit.form.CheckBox"  name="idscheduler[]" id="idscheduler<?php echo $cnnt;?>" value="<?php echo $lobjCountry['idvenuedateschedule']; ?>" checked="false"  /></td>	
		<?php }else{?>
		<td></td>
		<?php }?>
		        <td><?php echo $lobjCountry['Description'];?></td>
				<td><?php echo $lobjCountry['centername'];?></td>
				<td><?php echo $lobjCountry['TakafulName'];?></td>
			   
				 <td><?php echo $lobjCountry['Examdate'];?></td>
				  <td><?php echo $lobjCountry['managesessionname'];?></td>
				<?php if($lobjCountry['Active']==1 && $lobjCountry['idprogram']== 5) {?>
	       	    <td><?php echo $this->translate("Approved");;?></td>
				<?php }else {?>
				 <td><?php echo $this->translate("Not Approved");;?></td>
				<?php }?>
				<td><?php echo $lobjCountry['createddate'];?></td>
<?php if($lobjCountry['Active']==1 && $lobjCountry['idprogram']== 5) {?>
				<td><?php echo $lobjCountry['Approvedate'];?></td>
				<?php }else {?>
				 <td></td>
				<?php }?>
				</tr>
	<?php  endforeach; ?>
<tr align = "right">
      <td colspan="8" ><?php echo $this->lobjprogramForm->Save;?>
	  <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'scheduler','controller'=>'manageibfimapproval','action'=>'index'),'default',true);?>';" />
				 		</td>
</tr>	  
	  </table>
	</fieldset>	
</form>	
<?php }?>