<head>
	

<!-- ///////////////////////// DOJO ////////////////////////// -->
	<script type="text/javascript">
		dojo.addOnLoad(function(){
			//OnLoadAction();
			
				
			 var store = new dojo.data.ItemFileReadStore({
				 data:<?php echo $this->jsondata?>
             });

			 var layout = [
		                    [{
		                    name: '<?php  echo $this->translate("Student")." ".$this->translate("Name")?>',
		                    field: 'StudentName',
		                    width: "auto"
		                },
		                {
		                	name: '<?php  echo $this->translate("IC")." ".$this->translate("NO")?>',
		                    field: 'ICNO',
		                    width: "auto"
		                },
		                {
		                    name: '<?php  echo $this->translate("Course")." ".$this->translate("Name")?>',
		                    field: 'Coursename',
		                    width: "auto"
		                  
		                },
		                {
		                    name: '<?php  echo $this->translate("Date")?>',
		                    field: 'Date',
		                    width: "auto"
		                },
		                {
		                    name: '<?php  echo $this->translate("Venue")?>',
		                    field: 'Venue',
		                    width: "auto"
		                },
		                {
		                    name: '<?php  echo $this->translate("Result")?>',
		                    field: 'Result',
		                    width: "auto"
		                }]];




			 var grid = new dojox.grid.EnhancedGrid({
				 id:'grid2',
                 store: store,
                 structure: layout,
                 plugins:{exporter:true,dnd:true,pagination:true,printer:true}    
             });

             
             grid.placeAt('gridDiv');
             
             // Call startup() to render the grid
             grid.startup();

            var checkBoxes = [];
  			var container = dojo.byId('checkBoxContainer');
  			dojo.forEach(grid.layout.cells, function(cell, index){
  				var cb = new dijit.form.CheckBox({
  					checked: !cell.hidden
  				});
  				dojo.connect(cb, "onChange", function(newValue){
  					grid.layout.setColumnVisibility(index, newValue);
  				});

  				var label = dojo.doc.createElement('label');
  				label.innerHTML = cell.name;
  				dojo.attr(label, 'for', cb.id);

  				dojo.place(cb.domNode, container);
  				dojo.place(label, container);
  				dojo.place(dojo.doc.createElement("br"), container);

  				checkBoxes.push(cb);
  			});             
		});
						 
		  function exportHTML()
			{
			  <?php if($this->checkEmpty == 0){?>
				alert("<?php echo $this->translate('Please').' '.$this->translate('Generate').' '.$this->translate('The').' '.$this->translate('Data')?>");
				return false;
				<?php  }?>
			  dijit.byId("grid2").exportGrid("table",{writerArgs:{table:"id='hor-minimalist-b'"}},function(str){
				  
				  dojo.byId("datacount").value="";
				  dojo.byId("datacount").value=str;
					//alert(str);
				 	});
			  dijit.byId("grid2").exportGrid("table",{writerArgs:{table:"border=1"}},function(strtable){
				  dojo.byId("datacounttable").value="";
				  dojo.byId("datacounttable").value=strtable;
				//alert(strtable);
				  
				 });
			  var formprint = document.PrintForm;
			  formprint.submit();				
			}
		  function exportSelectedHTML()
			{
			  var str = dijit.byId("grid2").exportSelected("table");
			  //alert(str);
			  dojo.byId("datacount").value="";
			  dojo.byId("datacount").value=str;
			  var formprint = document.PrintForm;
			  formprint.submit();
			  
					//});
				
			}	        
				        
	</script>  
</head>
<body class='claro'>

<div>
<fieldset>
	<legend><?php echo $this->translate("Center").' '.$this->translate("Report");?></legend>
	<div class="search" style="margin-left:20px;">
 		<form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/examreport" method="POST">
 			<script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
			</script>
		<table width="100%">
				<tr>
					<td><?php echo $this->translate("Student").' '.$this->translate("Name") ?></td>
					<td><?php echo $this->lobjform->Studentname;?></td>
					<td><?php echo $this->translate("IC NO") ?></td>
					<td><?php echo $this->lobjform->ICNO;?></td>
				</tr>
				<tr>
                    <td><?php //echo $this->translate("Course").' '.$this->translate("Name") ?></td>
                    <td><?php //echo $this->lobjform->Coursename;?></td>
                    <td><?php //echo $this->translate("Venue") ?></td>
                    <td><?php //echo $this->lobjform->Venues;?></td>
                </tr>
				<tr>
					<td colspan="4" align="center">
					<?php echo $this->lobjform->Generate;?>
					<input name="Print" id="Print" type="button" onClick="exportHTML()" class="NormalBtn" dojoType=dijit.form.Button label = <?php echo $this->translate("Print");?> value=<?php echo $this->translate("Print");?>>
					<input name="submit" type="submit" class="NormalBtn" dojoType=dijit.form.Button label = <?php echo $this->translate("Clear");?> value=<?php echo $this->translate("Clear");?>>
					</td>
				</tr>
		</table>
	</form>	
		</div>
	</fieldset> 
</div>
</br>

<fieldset>
<div style = "width:100px;border:1px solid rgb(120,120,120);float:left;" id="checkBoxContainer"></div>
<div style="width:85% ;height:400px;  float:left;" id="gridDiv"  ></div>

</fieldset>               
<form id="PrintForm" name="PrintForm" method="post" action="<?php echo $this->baseUrl();?>/examreport/generatereport">
<input type="hidden" id="datacount" name="datacount" value="" />
<input type="hidden" id="datacounttable" name="datacounttable" value="" />
</form>
</body>
</html>
