<html>
<head>
<script>
dojo.addOnLoad(function(){
	
	});
</script>
</head>
<body class='claro'>
<fieldset>
	<legend><?php echo $this->translate("Race Stastics").' '.$this->translate("Report");?></legend>
<?php if ($this->searchdate): ?>
<fieldset>
<form id="myForm1" name = "myform1" action="<?php echo $this->baseUrl();?>/reports/racestatistics/fnexportexcel" method="POST">
     <table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr >
        <th><?php echo $this->translate(" ");?></th>
        <th align ="center" colspan = 5 ><b><?php echo $this->translate("$this->month").' '.$this->translate("$this->year");?></b></th>
    </tr> 
     <tr >
        <th align ="center"><b><?php echo $this->translate("Race") ?></b></td>
        <th align ="center"><b><?php echo $this->translate("Malay") ?></b></th>
        <th align ="center"><b><?php echo $this->translate("Indian") ?></b></th>
        <th align ="center"><b><?php echo $this->translate("Chinese") ?></b></th>
        <th align ="center"><b><?php echo $this->translate("Others") ?></b></th>
        <th align ="center"><b><?php echo $this->translate("Total") ?></b></th>
     </tr>
      <?php //if(count($this->larrracescount)):?>
      <?php  $lobjCountry = $this->larrracescount;  ?>
      <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
      <td><b><?php echo "Registered";?></b></td>
      <td><?php echo $lobjCountry[2]['NoOfCandidates'];?><input type="hidden" name="malaycand" id="malaycand" value="<?php echo $lobjCountry[2]['NoOfCandidates'];?>"></td>
      <td><?php echo $lobjCountry[1]['NoOfCandidates'];?><input type="hidden" name="Indiancand" id="Indiancand" value="<?php echo $lobjCountry[1]['NoOfCandidates'];?>"></td>
      <td><?php echo $lobjCountry[0]['NoOfCandidates'];?><input type="hidden" name="chinesecand" id="Indiancand" value="<?php echo $lobjCountry[0]['NoOfCandidates'];?>"></td>
      <td><?php echo $lobjCountry[3]['NoOfCandidates'];?><input type="hidden" name="otherscand" id="Indiancand" value="<?php echo $lobjCountry[3]['NoOfCandidates'];?>"></td>
      <td><?php echo $this->regtotal;?><input type="hidden" name="regtotal" id="regtotal" value="<?php echo $this->regtotal;?>"></td>
      </tr>
      <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
      <td><b><?php echo "Sat";?></b></td>
      <td><?php echo $lobjCountry[4]['msat'];?><input type="hidden" name="msat" id="msat" value="<?php echo $lobjCountry[4]['msat'];?>"></td>
      <td><?php echo $lobjCountry[8]['isat'];?><input type="hidden" name="isat" id="isat" value="<?php echo $lobjCountry[8]['isat'];?>"></td>
      <td><?php echo $lobjCountry[12]['csat'];?><input type="hidden" name="csat" id="csat" value="<?php echo $lobjCountry[12]['csat'];?>"></td>
      <td><?php echo $lobjCountry[16]['osat'];?><input type="hidden" name="osat" id="osat" value="<?php echo $lobjCountry[16]['osat'];?>"></td>
      <td><?php echo $lobjCountry[20]['sattotal'];?><input type="hidden" name="sattotal" id="sattotal" value="<?php echo $lobjCountry[20]['sattotal'];?>"></td>
      </tr>
      <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
      <td><b><?php echo "Pass";?></b></td>
      <td><?php echo $lobjCountry[5]['mpass'];?><input type="hidden" name="mpass" id="mpass" value="<?php echo $lobjCountry[5]['mpass'];?>"></td>
      <td><?php echo $lobjCountry[9]['ipass'];?><input type="hidden" name="ipass" id="ipass" value="<?php echo $lobjCountry[9]['ipass'];?>"></td>
      <td><?php echo $lobjCountry[13]['cpass'];?><input type="hidden" name="cpass" id="cpass" value="<?php echo $lobjCountry[13]['cpass'];?>"></td>
      <td><?php echo $lobjCountry[17]['opass'];?><input type="hidden" name="opass" id="opass" value="<?php echo $lobjCountry[17]['opass'];?>"></td>
      <td><?php echo $lobjCountry[21]['passtotal'];?><input type="hidden" name="passtotal" id="passtotal" value="<?php echo $lobjCountry[21]['passtotal'];?>"></td>
      </tr>
      <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
      <td><b><?php echo "Fail";?></b></td>
      <td><?php echo $lobjCountry[6]['mfail'];?><input type="hidden" name="mfail" id="mfail" value="<?php echo $lobjCountry[6]['mfail'];?>"></td>
      <td><?php echo $lobjCountry[10]['ifail'];?><input type="hidden" name="ifail" id="ifail" value="<?php echo $lobjCountry[10]['ifail'];?>"></td>
      <td><?php echo $lobjCountry[14]['cfail'];?><input type="hidden" name="cfail" id="cfail" value="<?php echo $lobjCountry[14]['cfail'];?>"></td>
      <td><?php echo $lobjCountry[18]['ofail'];?><input type="hidden" name="ofail" id="ofail" value="<?php  echo $lobjCountry[18]['ofail'];?>"></td>
      <td><?php echo $lobjCountry[22]['failtotal'];?><input type="hidden" name="failtotal" id="failtotal" value="<?php echo $lobjCountry[22]['failtotal'];?>"></td>
      </tr>
      <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>"><input type="hidden" name="selmonth" id="selmonth" value="<?php echo $this->month.'_'.$this->year;?>"></td>
      <td><b><?php echo "Absent";?></b></td>
      <td><?php echo $lobjCountry[7]['mabsent'];?><input type="hidden" name="mabsent" id="mabsent" value="<?php echo $lobjCountry[7]['mabsent'];?>"></td>
      <td><?php echo $lobjCountry[11]['iabsent'];?><input type="hidden" name="iabsent" id="iabsent" value="<?php echo $lobjCountry[11]['iabsent'];?>"></td>
      <td><?php echo $lobjCountry[15]['cabsent'];?><input type="hidden" name="cabsent" id="cabsent" value="<?php echo $lobjCountry[15]['cabsent'];?>"></td>
      <td><?php echo $lobjCountry[19]['oabsent'];?><input type="hidden" name="oabsent" id="oabsent" value="<?php echo $lobjCountry[19]['oabsent'];?>"></td>
      <td><?php echo $lobjCountry[23]['absenttotal'];?><input type="hidden" name="absenttotal" id="absenttotal" value="<?php echo $lobjCountry[23]['absenttotal'];?>"></td>
      </tr>
      <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	  <td colspan="6" align="right"><?php echo $this->lobjform->ExportToExcel?>
	  <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'reports','controller'=>'statistics', 'action'=>'index'),'default',true);?>';" />
      </tr>
      </table>
        <?php //endif; ?>
        </form>
</fieldset> 
<?php endif; ?>
</form>
</body>
</html>
