<!-- [if IE] -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- [endif]-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<script type="text/javascript">
function focusToUser(){	
	//document.getElementById("username").focus();
	dijit.byId("username").focus();		
}
</script>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!-- ///////////////////////// DOJO ////////////////////////// -->
	<script type="text/javascript" src="<?php  echo $this->baseUrl();?>/js/dojo/dojo/dojo.js" djConfig="parseOnLoad: true,locale:'en'"></script>
	<script type="text/javascript" src="<?php  echo $this->baseUrl();?>/js/dojo/dojo/nls/dojo_en.js"></script>
	<link rel="stylesheet" type="text/css" href="<?php  echo $this->baseUrl();?>/js/dojo/dijit/themes/claro/claro.css" />
	<link rel="stylesheet" type="text/css" href="<?php  echo $this->baseUrl();?>/js/dojo/dojo/resources/dojo.css" />
	<!-- ///////////////////////// DOJO ////////////////////////// -->
	<style type="text/css">
	<!--
	body{
		font-family:Verdana,Helvetica;
		font-size:11px;	
	}
	.zend_form{
		width:250px;
		padding:0;
		overflow:auto;
	}
	
	.zend_form dt{
		padding:0;
		clear:both;
		width:80px;
		float:left;
		text-align:right;
		margin:5px 5px 5px 0;
	}
	
	.zend_form dt label:after{
		content: " : ";
	}
	
	.zend_form dd{
		padding:0;
		float:left;
		width:150px;
		margin:5px 2px 5px 0;
	}
	
	.zend_form p{
		padding:0;
		margin:0;
	}
	
	.zend_form input, .zend_form textarea{
		margin:0 0 2px 0;
		padding:0;
	}
	
	.zend_form label.view{
		font-weight: bold;
	}
	
	.submit{
		float:right;
	}
	
	.required {
		font-weight: bold;
		font-size: 11px;
	}
	
	.optional {
		font-style: italic;	
	}
	
	.zend_form .errors{
		margin-left:0px;
		-moz-padding-start: 0px;
	}
	
	.zend_form .errors li{
		color: red;
		list-style: none;
		margin-left:0px;
	}
	
	input[type=text], input[type=password]{
		width:150px;
		background-color: #FAFFBD;
		color: black;
		margin: 0 0 2px 0;
		padding: 0;
	}
	
	#header{
		background: url(<?php echo $this->baseUrl(); ?>/images/background-unity.png) repeat-x;
	}
	
	#logo{
		/*background: url(<?php echo $this->baseUrl(); ?>/images/ustlogo.png) no-repeat;
		height: 78px;
		width: 214px;*/
	}
		
	#footer{
		text-align: center;
		background-color:#fff;
		font-family:Verdana,Helvetica;
		font-size: 10px;
	}
	
	input[type=submit], button{
		border-color:#EEEEEE #DEDEDE #DEDEDE #EEEEEE;
		border-style:solid;
		border-width:1px;
		color:#565656;
		cursor:pointer;
		display:block;
		//float:left;
		font-family:"Lucida Grande",Tahoma,Arial,Verdana,sans-serif;
		font-size:100%;
		font-weight:bold;
		line-height:130%;
		margin:2px 7px 2px 0;
		padding:5px 10px 6px 7px;
		text-decoration:none;
	}
	input[type=reset], button{
		margin:5px 0;
		background-color:#F5F5F5;
		border-color:#EEEEEE #DEDEDE #DEDEDE #EEEEEE;
		border-style:solid;
		border-width:1px;
		color:#565656;
		cursor:pointer;
		display:block;
		//float:left;
		font-family:"Lucida Grande",Tahoma,Arial,Verdana,sans-serif;
		font-size:100%;
		font-weight:bold;
		line-height:130%;
		margin:2px 7px 2px 0;
		padding:5px 10px 6px 7px;
		text-decoration:none;
	}
	input[type=submit]:hover,  button:hover{
		background-color:#E6EFC2;
	}

	-->
	</style>
	<?if(isset($this->alertError)){?>
		<script type="text/javascript">
			alert('<? echo $this->alertError; ?>.');
		</script>
	<?}?>
		
</head>
<body class="claro" onLoad="focusToUser();"   style="background-image: url(<?php echo $this->baseUrl(); ?>/images/batch-background.png); background-size:100% 100%; background-repeat:no-repeat; background-position:center;  background-attachment:fixed;  no-repeat;">
	<?php // echo $this->headTitle(); ?>
	<div >
		
		<div >
			<div >
			<br>
				<table border="0">				
					<tr>
						<td></td>
					</tr>
				</table>
			</div><br>
			<div >
				<form onreset="fnResetForm()" dojoType="dijit.form.Form" id="myform" name="myform" action = "" method= "post" >
					<script type="dojo/method" event="onSubmit" >
						if (this.validate()) {
							return true;
						} else {
							return false;
						}
					</script>
					
					<div style="position:absolute;left:30%;top:8%;">
						<table align = "left"  width="100%" cellpadding="2" cellspacing="0" border="0" bordercolor="white">
							<tr>
								<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!-- <a href="http://ibfim.oum.edu.my/onapp/"> --><a href="<?php echo $this->baseUrl();?>/introduction"><font color="white" SIZE="2"><b>MAIN</b></font></a><br><br></td>
							</tr>
							<tr>
								<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="<?php echo $this->baseUrl();?>/index/login"><font color="white" SIZE="2" font-weight="900"><b>ADMIN LOGIN<?php //ONLINE TEST?></b></font></a><br><br></td>
							</tr>
							
							<tr>
								<td><a href="<?php echo $this->baseUrl();?>/companyregistration"><font color="white" SIZE="2" font-weight="900"><b>BATCH REGISTRATION <?php //ONLINE TEST?></b></font></a><br><br></td>
							</tr>
							<tr>
								<td>&nbsp;<a href="<?php echo $this->baseUrl();?>/centerlogin/login"><font color="white" SIZE="2" font-weight="900"><b>EXAM CENTER LOGIN</b></font></a><br><br></td>
							</tr>
							<tr>
								<td>&nbsp;&nbsp;&nbsp;&nbsp;<a href="<?php echo $this->baseUrl();?>/takafullogin/login"><font color="white" SIZE="2" font-weight="900"><b>TAKAFUL LOGIN <?php //ONLINE TEST?></b></font></a><br><br></td>
							</tr>
							
							<tr>
								<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="<?php echo $this->baseUrl();?>/online/index"><font color="white" SIZE="2" font-weight="900"><b>ONLINE EXAM</b></font></a><br><br></td>
							</tr>
							<tr>
								<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><font color="white" SIZE="2" font-weight="900"><b>CONTACT</b></font></a></td>
							</tr>
							
							</table>
					</div>
					   <div style="position:absolute;left:28%;top:56%;">
						<table align = "left"  width="30%">
							<tr>
								<th class = "required" colspan="4"><b>MTA Login</b><br></th>
							</tr>
							<tr>
								<th class = "required" colspan="4">&nbsp;</th>
							</tr>
							<tr>
								<td class = "required" align="right"> Username </td>
								<td class = "dataObjectStyle" >
									<?php echo $this->lobjform->username;?>
								</td>
								<td rowspan="2"><?php echo $this->lobjform->Login; ?></td>
							</tr>
							<tr>
								<td class = "required" align="right">Password </td>
								<td class = "dataObjec	 <?php ////	Copyright &copy;echo APPLICATION_ENTERPRISE; ?>tStyle"><?php echo $this->lobjform->password;?></td>
							</tr>
				
							<tr>
								<td align = "left"></td>
								<td align = "left">
									
								</td>
								<?php //echo $this->lstrmessage;?>
							</tr> 
							<tr>
								<td></td>
								
							</tr>
						<!-- 	<tr>
								<td></td>
								<td align = "center">
								<a href="<?php //echo $this->baseUrl();?>/forgotpassword" rel="lyteframe" rev="width: 450px; height: 120px; scrolling:no">
									<span style="font-weight:bold;font-size:12px;color:#008000"><u>Forgot Password</u></span>
								</a>
								</td>
							</tr>
						 -->	
						</table>				
					</div>
			</form>
			</div>
		</div>
	</div>
	
</body>

</html>

					