<head>
<script type="text/javascript">
dojo.addOnLoad(function() {

	});
function fngetstudetails (regpin){
	 if(regpin != "")
		{   
		    var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/reports/batchregistrationreport/getstudentdetails/regpin/"+regpin,
					handleAs:'text',
					load:function(data){					
						document.getElementById('divLogin').style.display = 'block';						
						document.getElementById('divLogin2').style.display = 'block';
						document.getElementById('contentdiv').innerHTML = data;						
					}
			   }
			dojo.xhrGet(xhrArgs); 
		} 
}
function Closefn()
	{
		document.getElementById('contentdiv').innerHTML = "";
		document.getElementById('divLogin').style.display = 'none';
		document.getElementById('divLogin2').style.display = 'none';
	} 	
</script>
</head>
<body class='claro'>
<fieldset>
	<legend><?php echo $this->translate("Batch Registration Details").' '.$this->translate("Report");?></legend>
	<div class="search" style="margin-left:20px;">
 		<form dojoType="dijit.form.Form"  id="myForm" name="myForm" action="<?php echo $this->baseUrl();?>/reports/batchregistrationreport" method="POST" > 
 		<script type="dojo/method" event="onSubmit">
             if (this.validate()) {
					return true;
                } else {
                    return false;
                }
			</script>
		<table width="100%">				
				<tr>
				    <td><?php echo $this->translate("From").' '.$this->translate("Date") ?></td>
                    <td><?php echo $this->lobjform->FromDate;?></td>
                    <td><?php echo $this->translate("To").' '.$this->translate("Date") ?></td>
                    <td><?php echo $this->lobjform->ToDate;?></td>
                </tr>
                <tr>
				    <td><?php //echo $this->translate("Company") ?></td>
                    <td><?php //echo $this->lobjform->Company;?></td>
                </tr>
                <tr>
                 <td></td>  
                 <td></td>             
                 <td><?php echo $this->lobjform->Search;?>
                     <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Clear"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'reports','controller'=>'batchregistrationreport', 'action'=>'index'),'default',true);?>';" />
				 </td>
               </tr>
		</table>
	</form>	
		</div>
	</fieldset> 
<br>
<?php if ($this->fromdate): ?>
<fieldset>
 <?php $centerarray = array();?>
    <table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr>
        <th><?php echo $this->translate("Company/Takaful Name") ?></th>
        <th><?php echo $this->translate("Program") ?></th>
        <th><?php echo $this->translate("Registration Pin") ?></th>
        <th><?php echo $this->translate("Payment Status") ?></th>
        <th><?php echo $this->translate("Mode Of Payment") ?></th>
        <th><?php echo $this->translate("Payment Date") ?></th>
    </tr>
    <?php if (count($this->paginator)): ?>
        <?php foreach ($this->paginator as $lobjCountry ):?>
         <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
       <td>
         	<?php if(!in_array($lobjCountry['CompanyName'],$centerarray)){
				  $centerarray[] = $lobjCountry['CompanyName'];		
				  $centerarrays[$lobjCountry['CompanyName']] = array();
				  print_r($this->escape($lobjCountry['CompanyName']));
			}
			?>
        </td> 
        <td>
			<?php if(!in_array($lobjCountry['ProgramName'],$centerarrays[$lobjCountry['CompanyName']])){
					$centerarrays[$lobjCountry['CompanyName']][] = $lobjCountry['ProgramName'];
					$centerarrayss[$lobjCountry['CompanyName']][$lobjCountry['ProgramName']] = array();
					print_r($this->escape($lobjCountry['ProgramName']));
			}?>
	    </td> 
		<td><span style="position: absolute;top:relative;" id="checks"></span><a href="javascript:fngetstudetails('<?php echo $lobjCountry['Regpin']?>');" ><?php print_r($this->escape($lobjCountry['Regpin']));?></a></td>
		<td><?php print_r($this->escape($lobjCountry['paymentstatus']));?></td> 
		<td><?php print_r($this->escape($lobjCountry['Modeofpayment']));?></td>
		<td><?php if($lobjCountry['Paydate']) print_r($this->escape($lobjCountry['Paydate'])); else print_r('00-00-0000'); ?></td>
    </tr>
     <?php endforeach;?>
     <?php endif;?>
     <tr>
	 <td colspan="6" align="right">
	 <input name="Print2" id="Print2" type="Button" dojoType=dijit.form.Button style= "Width=900px" label="<?php echo $this->translate("Export To Excel"); ?>" value=<?php echo $this->translate("Excel");?> onclick="window.location.href='<?php echo $this->url(array('module'=>'reports','controller'=>'batchregistrationreport','action'=>'fnexport','fromdate'=>$this->fromdate,'todate'=>$this->todate,'type'=>'Excel'),'default',true);?>';" >
	 <input name="Print1" id="Print1" type="Button" dojoType=dijit.form.Button style= "Width=900px" label="<?php echo $this->translate("Print PDF"); ?>" value=<?php echo $this->translate("PDF");?> onclick="window.location.href='<?php echo $this->url(array('module'=>'reports','controller'=>'batchregistrationreport','action'=>'fnexport','fromdate'=>$this->fromdate,'todate'=>$this->todate,'type'=>'PDF'),'default',true);?>';" >
	 </td>
 </tr>
    </table>
</fieldset>
<?php endif;?>
<div runat="server" id="divLogin"  style="display:none; z-index: 153; position: fixed; left: 23%; width: 750px; top:5%">
  <div runat="server" id="divLogin2"  style="display:none; opacity:1.0; z-index: 150; position: relative; left: 0%; height: 100%; width: 100%; top: 0%;"> </div>
					                <div id="scroll" style="height: 600px; width: 100%; overflow:auto;">
					                <asp:Panel runat="server" ID="popupLogin">
					                    <asp:Panel runat="server" ID="popupContent1">
					                        <table style="height: 125px; width: 100%; background-color: #FFFFFF;" border="3" frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">
					                                    	<div id="contentdiv"></div>					                                      
					                                   </td>
					                                </tr>
					                                <tr>
					                                    <td colspan="2" align="left">
					                                        <asp:Label ID="lblmandatory" runat="server" Text="* Mandatory Information Required"
					                                            class="LeftLabelStyle" Width="350px" />
					                                    </td>
					                                </tr>
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
    </div>
 </div>
</body>
</html>
