	<fieldset>
	<legend><?php echo $this->translate("$this->Company").' '.$this->translate("Student").' '.$this->translate("Search");?></legend>
                    <form action="<?php echo $this->baseUrl();?>/general-setup/companystudent/index/search/1" method="POST">
                            <table width="100%">
                                <tr>
                                    <td><?php echo $this->translate("Company").' '.$this->translate("Name");?></td>
                                    <td><?php echo $this->lobjform->field5;?></td>
                                    <td><?php echo $this->translate("Student").' '.$this->translate("Name");?></td>
                                    <td><?php echo $this->lobjform->field2;?></td>
                                </tr>
                                <tr></tr>
                                <tr></tr>
                                <tr>
                                	<td><?php echo $this->translate("Registration").' '.$this->translate("PIN");?></td>
                                    <td><?php echo $this->lobjform->field3;?></td>
                                </tr>
                                <tr>
                                	<td align = "center" colspan = "4">
									<?php echo $this->lobjform->Search;?>	
									<?php echo $this->lobjform->Clear;?>
									</td>
                                </tr>
                        </table>
                    </form>	
    </fieldset> 
    <br>
    <fieldset>
    <table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr>
        <th><?php echo $this->translate("Student Name") ?></th>
        <th><?php echo $this->translate("Registration PIN") ?></th>
        <th><?php echo $this->translate("Course Name") ?></th>
    </tr>
        <?php if (count($this->paginator)): ?>
        <?php foreach ($this->paginator as $lobjCountry ): ?>
    <tr>
    <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0"))->next()?>">
       <td><?php print_r($this->escape($lobjCountry['FName']));?></td>
      <td><?php print_r($this->escape($lobjCountry['RegistrationPIN']));?></td> 
      <td><?php print_r($this->escape($lobjCountry['ProgramName']));?></td>      
     <?php endforeach; ?>
     <?php endif; ?>
                
    </tr>
    <tr>
	    <td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   	</tr>
</table>
</fieldset>     
<br/>
</body>
</html>