<head>
<script type="text/javascript">
dojo.addOnLoad(function() {
	//dijit.byId('Course').set('value','');
	//dijit.byId('Course').set('placeHolder','Select');
	});

function newvenuelists()
{
	  iddate=dijit.byId("Date9");
	  var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/reports/examdetailsreport/getvenues/iddate/"+iddate,
			handleAs:'json',
			load:function(data){ 
				if(data==null || data=='')
				{
					alert("There is no scheduler for this date. Please change the Date");
					dijit.byId("Date9").set('value',null);
				}
				else
				{
					AutoFillNextEditableDropDown("Venue",data);
				} 
			}
	   }
	dojo.xhrGet(xhrArgs);
}
function newsessionlists()
{
	   iddate = dijit.byId("Date9");
	   idvenue = dijit.byId("Venue");
		var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/reports/examdetailsreport/getsessions/iddate/"+iddate+"/idvenue/"+idvenue,
			handleAs:'json',
			load:function(data){ 
				AutoFillNextEditableDropDown("session",data);
				var options = {
						label:"name",
						identifier:"key",
						items:data
					  };
				keyvalue = options.items[0].key[0]
				  //console.log(options);				
				dijit.byId("session").set('value',keyvalue);
			}
	   }
	dojo.xhrGet(xhrArgs);
}
function programlists(idsession)
{
	   iddate = dijit.byId("Date9");
	   idvenue = dijit.byId("Venue");
	   var xhrArgs = {  
				url: "<?php echo $this->baseUrl();?>"+"/reports/examdetailsreport/getprograms/iddate/"+iddate+"/idvenue/"+idvenue+"/idsession/"+idsession,
				handleAs:'json',
				load:function(data){ 
					
					AutoFillNextEditableDropDown("Course",data);
					var options = {
							label:"name",
							identifier:"key",
							items:data
						  };
					keyvalue = options.items[0].key[0]
					dijit.byId("Course").set('value',keyvalue);
				}
		   }
		dojo.xhrGet(xhrArgs);
}
function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}
</script>
</head>
<body class='claro'>
<fieldset>
	<legend><?php echo $this->translate("Examdetails").' '.$this->translate("Report");?></legend>
	<div class="search" style="margin-left:20px;">
 		<form dojoType="dijit.form.Form"  id="myForm" name="myForm" action="<?php echo $this->baseUrl();?>/reports/examdetailsreport" method="POST" > 
 		<script type="dojo/method" event="onSubmit">
             if (this.validate()) {
					return true;
                } else {
                    return false;
                }
			</script>
		<table width="100%">				
				<tr>
				    <td><?php echo $this->translate("Exam").' '.$this->translate("Date") ?></td>
                    <td><?php echo $this->lobjform->Date9;?></td>
                    <td><?php echo $this->translate("Venue") ?></td>
                    <td><?php echo $this->lobjform->Venue;?></td>
                </tr>
                <tr>
                	<td><?php echo $this->translate("Session") ?></td>
                    <td><?php echo $this->lobjform->session;?></td>
                    <td><?php echo $this->translate("Course").' '.$this->translate("Name") ?></td>
                    <td><?php echo $this->lobjform->Course;?></td>
                </tr>
                <tr>
                 <td></td>  
                 <td></td>             
                 <td><?php echo $this->lobjform->Search;?>
                     <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Clear"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'reports','controller'=>'examdetailsreport', 'action'=>'index'),'default',true);?>';" />
				 </td>
               </tr>
		</table>
	</form>	
		</div>
	</fieldset> 
<br>
<fieldset>
<table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr>
        <th><?php echo $this->translate("Canditate Name") ?></th>
        <th><?php echo $this->translate("Start Time") ?></th>
        <th><?php echo $this->translate("End Time") ?></th>
        <th><?php echo $this->translate("Submitted By") ?></th>
        <th><?php echo $this->translate("Attended") ?></th>
        <th><?php echo $this->translate("UnAttended") ?></th>
        <th><?php echo $this->translate("Correct") ?></th>
        <th><?php echo $this->translate("Wrong") ?></th>
        <th><?php echo $this->translate("Result") ?></th>
        <th><?php echo $this->translate("Grade") ?></th>
    </tr>
    <?php if (count($this->paginator)): ?>
	        <?php foreach ($this->paginator as $lobjuser ): ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	  		    <td><?php echo $this->escape($lobjuser['FName']);?></td>
	        	<td><?php echo $this->escape($lobjuser['Starttime']);?></td>
	    	    <td><?php echo $this->escape($lobjuser['Endtime']);?></td>
	    		<td><?php echo $this->escape($lobjuser['Submittedby']);?></td>
	    		
	    		<?php if($lobjuser['Attended']>0){?>
	    		<td><a href="<?php echo $this->url(array('module'=>'reports','controller'=>'examdetailsreport', 'action'=>'fnpdfexport','id'=>$lobjuser['IDApplication'],'active'=>1),'default',true);?>" ><?php print_r($this->escape($lobjuser['Attended']));?></a></td>
	    		<?php }else {?>
	    		<td><?php print_r($this->escape($lobjuser['Attended']));?></td>
	    		<?php }?>
	    		
	    		<?php if($lobjuser['Unattended']>0){?>
	    		<td><a href="<?php echo $this->url(array('module'=>'reports','controller'=>'examdetailsreport', 'action'=>'fnpdfexport','id'=>$lobjuser['IDApplication'],'active'=>2),'default',true);?>" ><?php print_r($this->escape($lobjuser['Unattended']));?></a></td>
	    		<?php }else {?>
	    		<td><?php print_r($this->escape($lobjuser['Unattended']));?></td>
	    		<?php }?>
	    		
	    		<?php if($lobjuser['Correct']>0){?>
	    		<td><a href="<?php echo $this->url(array('module'=>'reports','controller'=>'examdetailsreport', 'action'=>'fnpdfexport','id'=>$lobjuser['IDApplication'],'active'=>3),'default',true);?>" ><?php print_r($this->escape($lobjuser['Correct']));?></a></td>
	    		<?php }else {?>
	    		<td><?php print_r($this->escape($lobjuser['Correct']));?></td>
	    		<?php }?>
	    		
	    		<?php if($lobjuser['Wrong']>0){?>
	    		<td><a href="<?php echo $this->url(array('module'=>'reports','controller'=>'examdetailsreport', 'action'=>'fnpdfexport','id'=>$lobjuser['IDApplication'],'active'=>4),'default',true);?>" ><?php print_r($this->escape($lobjuser['Wrong']));?></a></td>
	    		<?php }else {?>
	    		<td><?php print_r($this->escape($lobjuser['Wrong']));?></td>
	    		<?php }?>
	    		
	    		<td><?php echo $this->escape($lobjuser['Result']);?></td>
	    		<td><?php echo $this->escape($lobjuser['Grade']);?></td>
	    		
	            <?php endforeach; ?>
	            <?php endif; ?> 
			</tr>
	    	<tr>
	        	<td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>
</table>    
</fieldset>
</body>
</html>
