<html>
     <head>
     <script>
     
     function fnGetValidategrade(gradval)
     {
    	 gradname=dijit.byId("gradename");
 		if( gradval!='' )
		{


			var xhrArgs1 = {
					url: "<?php echo $this->baseUrl();?>"+"/examination/grade/newvalidategrade/gradname/"+gradname+"/gradval/"+gradval,
					handleAs:'text',
					load:function(data){ 
						if(data)
						{
							
						}
							
					}
			   }
			dojo.xhrGet(xhrArgs1);
			
			gradval2=dijit.byId("Marksto");
	
			if(parseInt(gradval)>parseInt(gradval2))
			{
				dijit.byId("Marksto").setValue('');
			}

		}
		
     }

     function fnGetValidategrade2(gradval)
     {
    	 gradname=dijit.byId("gradename");
 		if( gradval!='' )
		{


			var xhrArgs1 = {
					url: "<?php echo $this->baseUrl();?>"+"/examination/grade/newvalidategrade/gradname/"+gradname+"/gradval/"+gradval,
					handleAs:'text',
					load:function(data){ 
						if(data)
						{
							
						}
							
					}
			   }
			dojo.xhrGet(xhrArgs1);
			gradval1=dijit.byId("Marksfrom");
			//alert(gradval1);


		if(parseInt(gradval)<parseInt(gradval1))
		{
			dijit.byId("Marksfrom").setValue('');
		}

		}
		
     }
     
     </script>
     </head>
        <body>  
           <fieldset>
             <legend><?php echo "GradeName";?></legend>
	            <Form dojoType="dijit.form.Form" id="myForm" action="" method="POST"  name= "myForm" >
	                 <script type="dojo/method" event="onSubmit">
                       if (this.validate()) 
                        {
					     return true;
                        } 
                          else 
                        {
                         return false;
                        }
                       </script> 
	                 <table class="table" width="100%">
		                    <tr>
                            <th colspan = "4"><?php echo $this->translate('Grade Details')?></th>
                           </tr>
                           
		                   <tr>
			               <td><?php echo $this->translate("Grade Name");?><span class="reqMark">*</span></td>
			               <td><?php echo $this->lobjGroupform->gradename;?></td>
			               <td><?php echo $this->translate("Grade Description");?><span class="reqMark">*</span></td>
			               <td><?php echo $this->lobjGroupform->gradedescription;?></td>
		                   </tr>	
		                   
		                    <tr>
			               <td><?php echo $this->translate("From Percentage");?><span class="reqMark">*</span></td>
			               <td><?php echo $this->lobjGroupform->Marksfrom;?></td>
			               <td><?php echo $this->translate("To Percentage");?><span class="reqMark">*</span></td>
			               <td><?php echo $this->lobjGroupform->Marksto;?></td>
		                   </tr>
		                   
		                      <tr>
			               <td ><?php echo $this->translate("Effective Date");?><span class="reqMark">*</span></td>
			               <td colspan="3"><?php echo $this->lobjGroupform->Effectidate;?></td>
		                   </tr>					                   
		                  
		                   <tr>			    		                   
		                   <td  colspan="4" align="right"><?php echo $this->lobjGroupform->Save;?> 
		                     <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo "Back";?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'examination','controller'=>'grade', 'action'=>'index'),'default',true);?>';" /><td>
  		                   </tr>                
		               </table>
                   </Form>
	         </fieldset>
       </<body>
</html>
