<link rel="stylesheet" type="text/css" href="<?php  echo $this->baseUrl();?>/js/dojo/dijit/themes/claro/claro.css" />
<link rel="stylesheet" type="text/css" href="<?php  echo $this->baseUrl();?>/js/dojo/dojo/resources/dojo.css" />

          <table class="table" width="100%"  border="0" align="center">
	                     <tr>
                            <td>The actual paid amount is less than the selected program amount</td>
                            <td> <?php echo $this->lobjstudentForm->newexamcity;?></td>
                         </tr>
                      
                   
                       <tr>
                            <th colspan="4"><?php echo $this->translate("");?></th>
                     </tr>
                  
                   </tr>
                    <tr>
                  
                   </tr>
                 
                <tr>                         
                         
                         
                                                
                             
                                                 <td colspan="3"  id='btnsave'><center>
                          <?php echo $this->lobjstudentForm->Yes;?>
 <input type="button" class="NormalBtn"  dojotype="dijit.form.Button" value="No" label="<?php echo $this->translate("No"); ?>" onClick="Closefn()" />
                           </center>   </td> 
                        </tr>     
          </table>