<html>
<script>    
dojo.addOnLoad(function(){
	<?php   if ($this->checkEmpty == 1){ ?>
				   dijit.byId('passwd').focus();
	<?php   } if ($this->checkEmpty == 2){ ?>		   
	              //dijit.byId('field2').focus();
				  dijit.byId('field10').set('placeHolder','dd-mm-yyyy');
	              <?php   }  ?>	  
	           }
	          );
	          
function fnCloseLyteBox()
{
	if(dijit.byId("field28").value==''){
	    dijit.byId("field28").attr('required','true');
		dijit.byId("field28").focus();
		flag = false;
	}
}

function clearpageAdd() {
	dijit.byId('field1').set('value','');
	dijit.byId('field1').set('placeHolder','Select');
	
	dijit.byId('field5').set('value','');
	dijit.byId('field5').set('placeHolder','Select');
	dijit.byId("field2").set("value","");
	dijit.byId("field10").set("value","00-00-00");
}
</script>

</head>
<body class="claro">
<?php   if ($this->checkEmpty == 1): ?>    
<form  method="POST" dojoType="dijit.form.Form"  id="Search"  name= "Search">
 <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					  return true;
                } else {
                    return false;
                }
				</script>
<fieldset>
	<legend><?php echo "Enter authentication password to view this menu";?></legend>
       
      <table>
      			<tr>
                   <td colspan="3"><?php  echo "Password";?></td>
                   <td ><?php echo $this->lobjform->passwd;?></td> 
                   <td></td>
                   <td></td> 
                </tr> 
                <tr>
                	<td colspan="3"></td>
	                <td>
	                  <input name="Submit" id="Submit" type="Submit"  class="NormalBtn" dojoType=dijit.form.Button label = <?php echo $this->translate("Submit");?> value=<?php echo $this->translate("Submit");?>>
					</td>
					
					
               </tr>
       </table>
       </fieldset>
</form>  
<?php endif; ?>
<?php   if ($this->checkEmpty == 2 ): ?> 
 
	<fieldset>
	<legend><?php echo "Print Answer Paper";?></legend>
        <form action="<?php echo $this->baseUrl();?>/examination/createanswerpaper/index/search/1" method="POST" dojoType="dijit.form.Form"  id="myForm"  name= "myForm">
            <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					  return true;
                } else {
                    return false;
                }
				</script>
      <table width="100%">
      			<tr>
                   <td><?php  echo "Program Name";?></td>
                   <td><?php echo $this->lobjform->field1;?>
                   	   <?php echo $this->lobjform->HiddenField1;?>
                   </td>  
                   <td><?php  echo "Venue";?></td>
                   <td><?php  echo $this->lobjform->field5;?></td>                  
                </tr> 
                <tr>
                   <td><?php echo "Student Name";?></td>
                   <td ><?php echo $this->lobjform->field2;?></td>  
                   <td><?php  echo "Exam Date";?></td>
                   <td><?php echo $this->lobjform->field10;?></td>  
                </tr>   
                <tr>
                    <td><?php  echo "With Question Id ";?></td>
                  <!--
                   <td> <input type="checkbox"   dojoType=dijit.form.CheckBox name="Active" value="1"  checked="true"  /></td>
                -->
                <td><?php echo $this->lobjform->Active;?></td>
                </tr>   	
                <tr>
                 <td></td>               
              	 <td align = "center" colspan = "2">
                    <?php echo $this->lobjform->Search;?>
					 <input type="Button"  onclick="clearpageAdd()" class="NormalBtn" dojoType=dijit.form.Button label = <?php echo $this->translate("Clear");?> value=<?php echo $this->translate("Clear");?>>
					</td>
               </tr>
       </table>
       </fieldset>
<?php endif; ?> 
<?php if($this->larrNoResult) {?> 
	 <table class="table" width="100%" cellpadding="5" cellspacing="1">  
	  <tr><td align="center"><?php echo $this->larrNoResult;?></td>    </tr> 
    </table>
 <?php }?> 
 
 
      <?php   if (count($this->paginator)): ?>
       <br>
       <fieldset>       
    <table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr>
    	<th><?php echo $this->translate("Student Name") ?></th>
    	<th><?php echo $this->translate("Course Name") ?></th>
    	<th><?php echo $this->translate("Venue") ?></th>
        <th><?php echo $this->translate("Exam Date") ?></th>
        <th><?php echo $this->translate("Applied Date") ?></th>
        <th><?php echo $this->translate("Marks Scored") ?></th>
        <th><?php echo $this->translate("Grade") ?></th>
    </tr>
        
       
      
       
  <?php foreach ($this->paginator as $lobjCountry ): ?>
    <tr>
    <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
    	 <td><a href="<?php echo $this->url(array('module'=>'examination','controller'=>'createanswerpaper', 'action'=>'pdfexport','Active'=>$this->Active, 'id'=>$lobjCountry['IDApplication']),'default',true);?>" ><?php print_r($this->escape($lobjCountry['Studentname']));?></a></td>
    	 <td><?php print_r($this->escape($lobjCountry['Programname']));?></td>
    	 <td><?php print_r($this->escape($lobjCountry['Venue']));?></td> 
         <td><?php print_r($this->escape($lobjCountry['ExamDate']));?></td>
         <td><?php print_r($this->escape($lobjCountry['ApplicationDate']));?></td>
         <td><?php print_r($this->escape($lobjCountry['Marksscored']));?></td> 
         <td><?php print_r($this->escape($lobjCountry['Grade']));?></td> 
           
     <?php endforeach; ?>
     
                
    </tr>
   	<tr>
        <td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->paginator,'Sliding',
                                    '/partials/my_pagination_control.phtml'); ?></div>
        </td>
    </tr>
</table>
</fieldset>   
<?php endif; ?>
</body>
</html>























