<html>
<head>
<script>
dojo.addOnLoad(function(){
	
	});
</script>
</head>
<body class='claro'>
<fieldset>
	<legend><?php echo $this->translate("Statistics").' '.$this->translate("Report");?></legend>
 		<form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/reports/statistics" method="POST">
 			<script type="dojo/method" event="onSubmit">
             if (this.validate()){
					return true;
                } else {
                    return false;
                }
			</script>
		<table width="100%">
		        <tr>
                    <td><?php echo $this->translate("Select Type")?></td>
                    <td><?php echo $this->lobjform->Type;?></td>
                     <td><?php echo $this->translate("Exam").' '.$this->translate("Month-Year") ?></td>
                    <td><?php echo $this->lobjform->Date;?></td>
                </tr>
				<tr>
                 <td></td>  <td></td>  
                 <td><?php echo $this->lobjform->Search;?>
                 <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Clear"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'reports','controller'=>'statistics', 'action'=>'index'),'default',true);?>';" />
				</td>
               </tr>
		</table>
	</form >	
	</fieldset> 
</form>
</body>
</html>
