<head>
<script type="text/javascript">
dojo.addOnLoad(function(){
	//fnhidetext();
	});
function fndelete(idautomail,idcronevenue)
{
	if(idautomail != "" && idcronevenue!="")
	{   
	    var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/scheduler/chronescheduling/deletecrone/id/"+idautomail+"/idcvenue/"+idcronevenue,
				handleAs:'text',
				load:function(data){					
					//document.getElementById('divLogin').style.display = 'block';						
					//document.getElementById('divLogin2').style.display = 'block';
					//document.getElementById('contentdiv').innerHTML = data;						
				}
		   }
		dojo.xhrGet(xhrArgs); 
	} 
}

function checkAll(){
 	nodes = dojo.query('[name=\"idcenter[]\"]');
 	if(document.getElementById('centerid').checked == true) {		 
 		
 		dojo.forEach(nodes,
 		    function(node)
 		    {
 		        dijit.getEnclosingWidget(node).set("checked",true);
 		    }
 		);
 	}
 	else {	
 		dojo.forEach(nodes,
 			    function(node)
 			    {
 			        dijit.getEnclosingWidget(node).set("checked",false);
 			    }
 			);
 	}
 }
 



</script>
<script>
            dojo.require("dojo.parser");
            dojo.require("dijit.form.DateTextBox");

         
    </script>
</head>
<body class='claro' >
	 <form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm" >
<script type="dojo/method" event="onSubmit">
                              if (this.validate()) {
					  return true;
                } else {
                    return false;
                }
				</script>
<fieldset>

	<legend><?php echo $this->translate("Chrone Bulk Push");?></legend>
		<table width="100%" >
		        <tr>
					<td  ><?php echo $this->translate("Exam From Date")?></td>
					<td ><?php echo $this->lobjchronescheduleform->FromDate;?></td>
					<td ><?php echo $this->translate("Exam To Date")?></td>
					<td ><?php echo $this->lobjchronescheduleform->ToDate;?></td>
					<td ><?php echo $this->translate("Select Exam Center")?></td>
                    <td ><?php echo $this->lobjchronescheduleform->Venue;?></td>
				</tr>
				<br>
				<tr>
				 <td colspan="6" align="center">
				 	<?php echo $this->lobjchronescheduleform->Search;?>
				 	<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Clear"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'scheduler','controller'=>'chronescheduling','action'=>'index'),'default',true);?>';" />
				 		
				</td>
                 </tr>
		</table>
	</fieldset> 
	<br/>
	 <?php $cnnt=0; if (count($this->paginator)): ?>
	<table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr>
	    <th><th><input type="checkbox" dojoType="dijit.form.CheckBox" name="centerid" onClick="checkAll();" id="centerid"></th>
	    <th><?php echo $this->translate("Exam Date") ?></th>
		<th><?php echo $this->translate("Venue") ?></th>          
		<th><?php echo $this->translate("Scheduledate") ?></th>        		
	    <th><?php echo $this->translate("Scheduletime") ?></th>
		 <th><?php echo $this->translate("Status");?></th>
	</tr>
     <?php $centerarray = array();?>	
	 
	 <?php //echo "<pre>";
	 // print_r($this->paginator); echo count($this->paginator); 
	 $date=1;
	  foreach ($this->paginator as $lobjCountry):  $center=0;?>
	  <?php  //echo "<pre>";
	   //print_r($lobjCountry); ?>
	  
	   <?php $larrvenueupdates = new Scheduler_Model_DbTable_Chronescheduling();
	   $larvenuestatus = $larrvenueupdates->fngetstatusofvenue($lobjCountry['idvenue'],$lobjCountry['Date']);
	   //$larrresult = $larrvenueupdates->fnexamslist($lobjCountry['idvenue'],$lobjCountry['idvenue']);
	    //echo "<pre>";
	  //print_r($larvenuestatus);
	 
	    
	 $cnt = count($larvenuestatus);
	  //die();
 
 if($cnt == 0){ ?>
           <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        <td></td>
	    
	        <td><input type="checkbox"  dojoType="dijit.form.CheckBox" name="idcenter[]" value="<?php  echo $this->escape($lobjCountry['idvenue']).",".$this->escape($lobjCountry['Date']).",".$this->escape($lobjCountry['SDate']).",".$this->escape($lobjCountry['ST']); ?>" id="idcenter<?php echo $cnnt;?>"></td>
	      
		   <td>
				 <?php  if(!in_array($lobjCountry['Date'],$centerarray))
						  {
						    $date =1;
							$centerarray[] = $lobjCountry['Date'];		
							$centerarrays[$lobjCountry['Date']] = array();
							print_r($this->escape($lobjCountry['Date'])."[".$this->escape($lobjCountry['dayname'])."]");
							
							
							}?>
			</td>	
			<td>
						<?php if(!in_array($lobjCountry['centername'],$centerarrays[$lobjCountry['Date']])){
						        $center =1;
								
								$centerarrays[$lobjCountry['Date']][] = $lobjCountry['centername'];
								$centerarrayss[$lobjCountry['Date']][$lobjCountry['centername']][] = array();
								 print_r($this->escape($lobjCountry['centername']));
						}?>
			</td> 	
			 <?php $yesterday= $lobjCountry['Date'];
		     $dateofbirth = "{max:'$yesterday',datePattern:'dd-MM-yyyy'}";
			 //$this->view->lobjchronescheduleform->ToDate->setAttrib('constraints',"$dateofbirth");
		     $dateofbirth = "{min:'$yesterday',datePattern:'dd-MM-yyyy'}"; ?>
		   <?php if($center){?>
			<td>
			<input type="date" constraints="{datePattern:'dd-MM-yyyy'}"  dojoType="dijit.form.DateTextBox" name="SDate[<?php  echo $lobjCountry['Date']?>][<?php  echo $lobjCountry['idvenue']?>]" value="<?php  echo $lobjCountry['SDate'] ?>" id="Sdates<?php echo $cnnt;?>"></td>
			<td><input type="text" constraints ="{timePattern: 'HH:mm'}" dojoType="dijit.form.TimeTextBox" name="Stime[<?php  echo $lobjCountry['Date']?>][<?php  echo $lobjCountry['idvenue']?>]" value="<?php  echo $lobjCountry['ST'] ?>" id="Stimes<?php echo $cnnt;?>"></td>
			
			<td><?php echo "Not Scheduled";?></td></tr>
			<?php }else{ $date=0;?>
			<td><td>
			<td><td>
			<td><td></tr>
			<?php }?>
<?php } else {  $date=0;  
               foreach ($larvenuestatus as $larresultvenuestatus): //echo "<pre>";print_r($larvenuestatus);?>
			   <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
			<?php if($larresultvenuestatus['Status']==1) 
			{?>
			
			<?php if($larresultvenuestatus['idcenter']!=$lobjCountry['idvenue']){?>
			<td style="color:#088A29">
			<input type="checkbox" dojoType="dijit.form.CheckBox" name="idcenter[]" value="<?php  echo $this->escape($lobjCountry['idvenue']); ?>" id="idcenter<?php echo $cnnt;?>"></td>
			
			<?php } else{    ?><td><?php echo ''; ?></td><td><?php echo ''; ?><?php }?>
			
			
			
			
			<td>
				 <?php  if(!in_array($lobjCountry['Date'],$centerarray))
						  {
							$centerarray[] = $lobjCountry['Date'];		
							$centerarrays[$lobjCountry['Date']] = array();
							print_r($this->escape($lobjCountry['Date'])."[".$this->escape($lobjCountry['dayname'])."]");
							}?>
		    </td>	
			<td>
						<?php if(!in_array($lobjCountry['centername'],$centerarrays[$lobjCountry['Date']])){
						$center =1;
								$centerarrays[$lobjCountry['Date']][] = $lobjCountry['centername'];
								$centerarrayss[$lobjCountry['Date']][$lobjCountry['centername']][] = array();
								 print_r($this->escape($lobjCountry['centername']));
						}?>
			</td>

          <?php if($center){?>
			<td><?php   print_r($this->escape($larresultvenuestatus['schdeduleddate']));?></td> 
			<td><?php   print_r($this->escape($larresultvenuestatus['scheduledtime']));  ?></td> 
			<td style="color: #008000"><?php 	echo "Pushed to Local";?><img src="<?php echo $this->baseUrl();?>/images/delete.gif" border="0" width="20px" height="20px" onclick="fndelete('<?php echo $larresultvenuestatus['idautomail']?>','<?php echo $larresultvenuestatus['idcronevenue'] ?>')"></td>
			<?php }else{ $date=0;?>
			<td><td>
			<td><td>
			<td><td></tr>
			<?php }?>			
			
			<?php	}
	        if($larresultvenuestatus['Status']==0)
	        { 
			   ?>
	        <td style="color: #0000FF">
	        <?php if($larresultvenuestatus['idcenter']!=$lobjCountry['idvenue']){ ?>
	        <input type="checkbox" dojoType="dijit.form.CheckBox" name="idcenter[]" value="<?php  echo $this->escape($lobjCountry['idvenue']); ?>" id="idcenter<?php echo $cnnt;?>"></td>
	        <?php } else{   ?></td><td><?php echo ''; ?></td><?php }?>
		    <td>
				 <?php  if(!in_array($lobjCountry['Date'],$centerarray))
						  {
						   
							$centerarray[] = $lobjCountry['Date'];		
							$centerarrays[$lobjCountry['Date']] = array();
							print_r($this->escape($lobjCountry['Date'])."[".$this->escape($lobjCountry['dayname'])."]");
							}?>
		    </td>	
			<td>
						<?php if(!in_array($lobjCountry['centername'],$centerarrays[$lobjCountry['Date']])){
						$center =1;
						     	$centerarrays[$lobjCountry['Date']][] = $lobjCountry['centername'];
								$centerarrayss[$lobjCountry['Date']][$lobjCountry['centername']][] = array();
								 print_r($this->escape($lobjCountry['centername']));
						}?>
			</td> 	
			<?php if($center){?>
			<td><?php   print_r($this->escape($larresultvenuestatus['schdeduleddate']));?></td> 
			<td><?php   print_r($this->escape($larresultvenuestatus['scheduledtime']));  ?></td> 
			<td style="color: #0000FF"><?php 	echo "Added to Chrone";?><img src="<?php echo $this->baseUrl();?>/images/delete.gif" border="0" width="20px" height="20px" onclick="fndelete('<?php echo $larresultvenuestatus['idautomail']?>','<?php echo $larresultvenuestatus['idcronevenue'] ?>')"></td>
			
			<td style="color: #0000FF"><a href = "<?php echo $this->url(array('module'=>'scheduler','controller'=>'chronescheduling','action'=>'deletecrone' , 'id'=>$larresultvenuestatus['idautomail']),'default',true);?>" ><img src='<?php echo $this->baseUrl();?>/images/delete.gif'  border="0" width="20px" height="20px"></a><?php echo "Added to Chrone";?></td>	

			<?php }else{ $date=0;?>
			<td><td>
			<td><td>
			<td><td></tr>
			<?php }?>
			
			
			
			<?php		} 
	        else if($larresultvenuestatus['Status']==2)
	        { ?>
			<?php $lobjchroneclientmodel = new Scheduler_Model_DbTable_Clientchrone();?>
			<td style="color: #FF0000">
	        <?php if($larresultvenuestatus['idcenter']!=$lobjCountry['idvenue']){?>
	        <td><input type="checkbox" dojoType="dijit.form.CheckBox" name="idcenter[]" value="<?php  echo $this->escape($lobjCountry['idvenue']); ?>" id="idcenter<?php echo $cnnt;?>"></td>
	       <?php } else{    ?></td><?php echo ''; ?><td><?php echo ''; ?><?php }?></td>
		    <td>
				 <?php  if(!in_array($lobjCountry['Date'],$centerarray))
						  {
							$centerarray[] = $lobjCountry['Date'];		
							$centerarrays[$lobjCountry['Date']] = array();
							print_r($this->escape($lobjCountry['Date'])."[".$this->escape($lobjCountry['dayname'])."]");
							}?>
			</td>	
			<td>
						<?php if(!in_array($lobjCountry['centername'],$centerarrays[$lobjCountry['Date']])){
						$center=1;
								$centerarrays[$lobjCountry['Date']][] = $lobjCountry['centername'];
								$centerarrayss[$lobjCountry['Date']][$lobjCountry['centername']][] = array();
								 print_r($this->escape($lobjCountry['centername']));
						}?>
			</td> 	
			
			 <input type="hidden"  name="examcenter" value="<?php  echo $this->escape($lobjCountry['idvenue']); ?>" id="center">
			 <input type="hidden"  name="examdate" value="<?php  echo $this->escape($lobjCountry['Date']); ?>" id="date">
			
			<?php if($center){?>
			<td><?php   print_r($this->escape($larresultvenuestatus['schdeduleddate']));?></td> 
			<td><?php   print_r($this->escape($larresultvenuestatus['scheduledtime']));  ?></td> 
			<td style="color: #0000FF"><?php 	echo "Not Updated because of some issue";?><img src="<?php echo $this->baseUrl();?>/images/delete.gif" border="0" width="20px" height="20px" onclick="fndelete('<?php echo $larresultvenuestatus['idautomail']?>','<?php echo $larresultvenuestatus['idcronevenue'] ?>')"></td>
			<?php }else{ $date=0;?>
			<td><td>
			<td><td>
			<td><td></tr>
			<?php }?>
	        <?php  }   ?>
	        
		<?php  endforeach; ?> 
		</tr>
<?php } ?>	
<?php  $cnnt++; endforeach; ?>
 
		
        <tr>
           <td colspan="8" align="right"><input type='submit'  dojotype="dijit.form.Button" id="Approve" name="Approve" value="Approve" label = "<?php echo $this->translate('Add to Chrone')?>"  /></td>
           </tr>
		</table>
<?php endif; ?>		
	
</form>		
</body>
</html>	
	