<head>
	<script type="text/javascript">

	
	function fnprintpdf()
	{
		 var fromdate = dojo.byId('Date').value;
		 var todate = dojo.byId('Date2').value;
		 window.location = "<?php echo $this->baseUrl()?>"+"/reports/chronepullreport/fnexportexcel/fromdate/"+fromdate+"/todate/"+todate;
	}

	</script>

</head>
<body class='claro'>


<fieldset>
	<legend><?php echo $this->translate("Chrone Pull Report");?></legend>
	
 		<form dojoType="dijit.form.Form"  id="myForm" action="" method="POST" > 
 			<script type="dojo/method" event="onSubmit">
                
			</script>

        <table width="100%">		
				<tr>
                    <td><?php echo $this->translate("From").' '.$this->translate("Date") ?></td>
                    <td><?php echo $this->Chronepullreport->Date;?></td>
                    <td><?php echo $this->translate("To").' '.$this->translate("Date") ?></td>
                    <td><?php echo $this->Chronepullreport->Date2;?></td>
                </tr>
               
				<tr>
					<td colspan="4" align="center"><?php echo $this->Chronepullreport->Search;?>
					<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Clear"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'reports','controller'=>'chronepullreport', 'action'=>'index'),'default',true);?>';" />
					</td>
				</tr>
		</table>
	</form>	
		
	</fieldset> 

<fieldset>
<?php  $larrresults = $this->results;$totalresults = count($larrresults);
if(($totalresults)>0){?>
<table class="table" width="100%">
   <tr>
   <th style="width:12.5%">Exam Date</th>
    <th style="width:12.5%">Center Name</th>
   <th style="width:12.5%">Exam Session</th>
    <th style="width:12.5%">Scheduled Date</th>
    <th style="width:12.5%">Scheduled Status</th>
    <th style="width:12.5%">Scheduled Time</th>
    <th style="width:12.5%">UpdDate</th>
    <th style="width:12.5%">User</th></tr>
<?php 
 for($i=0;$i<$totalresults;$i++){?>
 <tr>
 <td><?php echo date('d-m-Y',strtotime($larrresults[$i]['Examdate']))?></td>
 <td><?php echo $larrresults[$i]['centername']?></td>
  <td><?php echo $larrresults[$i]['managesessionname']?></td>
  <td><?php echo date('d-m-Y',strtotime($larrresults[$i]['schdeduleddate']))?></td>
  <?php if($larrresults[$i]['Status']==1){?>
    <td>Success</td>
  <?php } else if($larrresults[$i]['Status']==2){?>
    <td>Failed</td>
  <?php } else if($larrresults[$i]['Status']==0){?>
    <td>Not Chroned</td>
  <?php }?>

 <td><?php echo $larrresults[$i]['scheduledtime']?></td>
 <td><?php echo date('d-m-Y',strtotime($larrresults[$i]['UpdDate']))?></td>
 <td><?php echo $larrresults[$i]['fName']?></td>
 <?php }?>
 
 </tr>

</table>
<?php }?>


 <?php $larrresultss = $this->resultss;$totalresultss = count($larrresultss);
 if(($totalresultss)>0){ ?>

<table class="table" width="100%">
   <tr>
    <th style="width:12.5%">Exam Date</th>
    <th style="width:12.5%">Center Name</th>
    <th style="width:12.5%">Exam Session</th>
    <th style="width:12.5%">Scheduled Date</th>
    <th style="width:12.5%">Scheduled Status</th>
    <th style="width:12.5%">Scheduled Time</th>
    <th style="width:12.5%">UpdDate</th>
    <th style="width:12.5%">Auto</th></tr>
<?php 
 for($i=0;$i<$totalresultss;$i++){?>
 <tr>
 <td><?php echo date('d-m-Y',strtotime($larrresultss[$i]['Examdate']))?></td>
 <td><?php echo $larrresultss[$i]['centername']?></td>
  <td><?php echo $larrresultss[$i]['managesessionname']?></td>
  <td><?php echo date('d-m-Y',strtotime($larrresultss[$i]['schdeduleddate']))?></td>
  <?php if($larrresultss[$i]['Status']==1){?>
    <td>Success</td>
  <?php } else if($larrresultss[$i]['Status']==2){?>
    <td>Failed</td>
  <?php } else if($larrresultss[$i]['Status']==0){?>
    <td>Not Chroned</td>
  <?php }?>

 <td><?php echo $larrresultss[$i]['scheduledtime']?></td>
 <td><?php echo date('d-m-Y',strtotime($larrresultss[$i]['UpdDate']))?></td>
 <td>Automated</td>
 <?php }?>
 
 </tr>
 <?php }?>
 <tr>
 <td colspan="7" align="right">    <input type="button" name="print" id="print" value="print" class="NormalBtn" dojoType=dijit.form.Button label ="Print" onclick="fnprintpdf()"></td>
 </tr>
</table>

</fieldset>

            

</body>
</html>
