<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="<?php echo $this->rtl;?>">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
<title></title>
<script type="text/javascript">

var flag='<?php  echo $this->flag3 ;?>';
var correct= '<?php  echo  $this->cortanswerss ;?>';
var active='<?php  echo  $this->active;?>';

dojo.addOnLoad(function(){		
	var ci = dojo.byId('content_iframe');
	dojo.style(ci,"height","100px");

	var cis = dojo.byId('contents_iframe');
	dojo.style(cis,"height","100px");


	
	//alert(correct);
	
});

</script>
</head>
<body  class = "claro"> 
<fieldset>
    <legend><?php echo $this->translate->_("Edit Question");?></legend>
        <div class="register">
            <div class="profile_tab">
                <form action="" method="POST"  name= "myform"  dojoType="dijit.form.Form"  enctype="multipart/form-data">
                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
				var conte = dijit.byId('contents').attr('value');
		 	    dijit.byId("MalayQuestion").set('value',conte);

				var engcontent = dijit.byId('content').attr('value');
		 	    dijit.byId("Questions").set('value',engcontent);

var selectedans=dijit.byId("CorrectAnswer");
var actived=document.getElementById("Active").checked;
//alert(actived);
res=true; 
tat=0;       
if(flag==1)
{
if(correct!=selectedans)
{
tat=1;
result5=confirm('This Question is already used in exams continuing to edit will make copy of this question and inactivate the original,Do you still want continue?');
if(result5==true)
{

res=true;
}
else
{
res=false;
}
}
if((active==1) && (tat!=1))
{
if(actived==false)
{
result6=confirm('This Question is already used in exams,Do you want continue?');
if(result6==true)
{
res=true;
}
else
{
res=false;
}
}
}
}
return res;
                } else {
                    return false;
                }
			
		</script>	
                    <table class="table" width="100%">
                       
                        <?php echo $this->lobjUploadfilesForm->UpdDate;?>
                        <?php echo $this->lobjUploadfilesForm->UpdUser;?><?php echo $this->lobjUploadfilesForm->Questionid;?>
                        <tr>
                           <th colspan="4"><?php echo $this->translate("Question and Answers");?></th>
                           
                        </tr>
                        
                         <tr>
                           <td colspan="4">    
                     
                     
			                 <script type="text/javascript">
										     dojo.require("dijit._editor.plugins.FontChoice");
										 </script>   
						                     
                          <input  dojoType = "dijit.form.TextBox" id = "Questions" type = "hidden" name = "Questions" value = "">  
                               <table><tr>
							    		
							                             
								 Questions<td dojoType="dijit.Editor" id="content" extraPlugins="['fontName', 'fontSize', 'formatBlock']">
								<?php echo $this->Questions;?></td>
							</tr>
							    </table> 
							</td>
                          </tr> 
                        <tr>
                         	<td><?php echo $this->translate->_("Answers 1");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjUploadfilesForm->Answers1;?><?php echo $this->lobjUploadfilesForm->Hiddenidanswer1;?></td>
                            <td><?php echo $this->translate->_("Answers 2");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjUploadfilesForm->Answers2;?><?php echo $this->lobjUploadfilesForm->Hiddenidanswer2;?></td>
                      	</tr>
                      	<tr>
                         	<td><?php echo $this->translate->_("Answers 3");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjUploadfilesForm->Answers3;?><?php echo $this->lobjUploadfilesForm->Hiddenidanswer3;?></td>
                            <td><?php echo $this->translate->_("Answers 4");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjUploadfilesForm->Answers4;?><?php echo $this->lobjUploadfilesForm->Hiddenidanswer4;?></td>
                      	</tr>
                      	<tr>
                            <th colspan = "4"><?php echo $this->translate("Malay Question and Answers");?></th>
                        </tr>
                        <tr>
                           <td colspan="4"> 
                              	<script type="text/javascript">
										dojo.require("dijit._editor.plugins.FontChoice");
										if (dojo.byId('contents') != null)
										 {
											var content = dijit.byId('contents').attr('value');
											alert(content);
										 }
										 </script>
                    			  <input  dojoType = "dijit.form.TextBox" id = "MalayQuestion" type = "hidden" name = "MalayQuestion" value = "">  
                               <table>
							    	<tr>	
							                                
								 Questions<td dojoType="dijit.Editor" id="contents" extraPlugins="['fontName', 'fontSize', 'formatBlock']">
								<?php echo $this->MalayQuestion;?></td>
									</tr>
							    </table> 
							</td>
                          </tr> 
                        <tr>
                         	<td><?php echo $this->translate->_("Answers 1");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjUploadfilesForm->MalayAnswers1;?><?php echo $this->lobjUploadfilesForm->Hiddenidanswer1;?></td>
                            <td><?php echo $this->translate->_("Answers 2");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjUploadfilesForm->MalayAnswers2;?><?php echo $this->lobjUploadfilesForm->Hiddenidanswer2;?></td>
                      	</tr>
                      	<tr>
                         	<td><?php echo $this->translate->_("Answers 3");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjUploadfilesForm->MalayAnswers3;?><?php echo $this->lobjUploadfilesForm->Hiddenidanswer3;?></td>
                            <td><?php echo $this->translate->_("Answers 4");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjUploadfilesForm->MalayAnswers4;?><?php echo $this->lobjUploadfilesForm->Hiddenidanswer4;?></td>
                      	</tr>
                      	
                      	 <tr>
                            <th colspan = "4"><?php echo $this->translate("Question Details");?></th>
                        </tr>
                         <tr>
                             <td><?php echo $this->translate->_("Answer").' '.$this->translate->_('Style');?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjUploadfilesForm->AnswerStyle;?></td>
                            <td><?php echo $this->translate->_("Question Type");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjUploadfilesForm->Section;?></td>
                      	</tr>
                      	
                      <tr>
                       		
                            <td><?php echo $this->translate->_("Chapter");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjUploadfilesForm->QuestionNumber;?></td>
                                      <td><?php echo $this->translate->_("CorrectAnswer");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjUploadfilesForm->CorrectAnswer;?></td>
                         
                           
                      	</tr>
                      	
                     
                       <tr>
                       <td><?php echo $this->translate->_("Question").' '.$this->translate->_('Group');?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjUploadfilesForm->QuestionGroup;?></td>
                              <td><?php echo $this->translate->_("Question").' '.$this->translate->_('Level');?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjUploadfilesForm->QuestionLevel;?></td>
                         
                            
                      	</tr>
                      	
                      <tr>   
                       <td><?php echo $this->translate->_("Field1");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjUploadfilesForm->Field1;?></td>
                         <td><?php echo $this->translate->_("Field2");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjUploadfilesForm->Field2;?></td>
                        
                      	</tr>
                      	<tr>
                      	    <td><?php echo $this->translate->_("Field3");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjUploadfilesForm->Field3;?></td>
                         <td><?php echo $this->translate->_("Field4");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjUploadfilesForm->Field4;?></td>
                          
                      	</tr>
                      	
                      	<tr>
                      	  <td><?php echo $this->translate->_("Field5");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjUploadfilesForm->Field5;?></td>
                            <td><?php echo $this->translate->_("Active");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjUploadfilesForm->Active;?></td>
                      	</tr>
                      	<tr>
                      	  <td><?php echo $this->translate->_("No of Times This Question Appered ");?><span class="reqMark"></span></td>
                            <td><?php echo $this->appear;?></td>
                            <td></td>
                            <td></td>
                      	</tr>
                    	<td colspan="4" align = "right">
                    		<?php //foreach($this->roles as $resultItem):?>
								     <?php //if($resultItem['functionCode']=='CRMTS' && $resultItem['operationCode']=='SAVE'){?>
			                            <?php echo $this->lobjUploadfilesForm->Save;?>
									 <?php //}?>
	                        <?php //endforeach;?>
                           		 <?php //echo $this->lobjCoursemasterForm->Close;?>	
                             	<input type="button" name="Close" value="Close" id="Close" onclick="window.location.href='<?php echo $this->url(array('module'=>'examination','controller'=>'uploadfiles', 'action'=>'index'),'default',true);?>';" dojoType="dijit.form.Button"  label="Close"  class="buttonStyle">     
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</fieldset>
</body>
</html>
