<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="<?php echo $this->rtl;?>">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
<title></title>
<link rel="stylesheet" type="text/css"  href="<?php  echo $this->baseUrl();?>/js/themes/cupertino/jquery.ui.all.css" />
<script language='javascript' src='<?php  echo $this->baseUrl();?>/js/jquery-1.4.3.js'></script>

<script language='javascript' src='<?php  echo $this->baseUrl();?>/js/sfs-common.js'></script>

<script type="text/javascript">

</script>
</head>
<body  class = "claro"> 
<fieldset>
    <legend><?php echo $this->translate->_("Paypal File Uploads");?></legend>
        <div class="register">
            <div class="profile_tab">
                <form action="" method="POST"  name= "myform"  dojoType="dijit.form.Form"  enctype="multipart/form-data">
                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
		</script>	
                    <table id="hor-minimalist-b" width="100%">
                       
                        <?php echo $this->lobjUploadfilesForm->UpdDate;?>
                        <?php echo $this->lobjUploadfilesForm->UpdUser;?>
                        <tr>
                            <td class="label" width="10%"><?php echo $this->translate->_("Upload");?><span class="reqMark"></span></td>
                            <td width="45%" ><?php echo $this->lobjUploadfilesForm->FileName;?></td>
                        </tr>
                       
                       <tr>
                    	<td colspan="4" align = "right">
                    		<?php echo $this->lobjUploadfilesForm->Save;?>
							 <input type='button' class="NormalBtn" dojotype="dijit.form.Button" label = "<?php echo $this->translate('Back')?>" value='click' onclick="window.location.href='<?php echo $this->url(array('module'=>'finance','controller'=>'paypalimport', 'action'=>'index'),'default',true);?>';" />     
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</fieldset>
</body>
</html>
