<html>
<head>

</head>
<body class="claro">            
	
	<?php if($this->mess){?>
	
	<fieldset>
	<legend><?php echo $this->translate->_("Company Payment Details");?></legend>
		 <form dojoType="dijit.form.Form"  id="myFormform" action="" method="post"  name= "myFormform" >
			<?php echo $this->mess;?>	
	    	   <table class="table" width="100%" >
                       <td></td>
                       <td></td>
                       <td></td>        
					   <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("ok"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'general-setup','controller'=>'companieslist', 'action'=>'index'),'default',true);?>';" />	
                       </td> 
                    </tr>       
            </table>	
            	
		</form>
	</fieldset>
	<?php }else {?>
		<fieldset >
	<legend><?php echo $this->translate->_("Company Payment Terms");?></legend>
		 <form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm" >
			<script type="dojo/method" event="onSubmit" >
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>	
	    	   <table class="table" width="100%" >
                    	<tr>
                          <th colspan = "4"><?php echo $this->translate("Company Payment Details");?></th>
                     </tr>
                    <tr>         							                        
         			  <td><?php echo $this->translate->_("Company Name")?><span class="reqMark">*</span></td>
        			  <td><?php echo $this->lobjCompanytypepaymentForm->idcompany;?></td>
        			   <td></td>
        			  <td></td>
        			  <?php echo $this->lobjCompanytypepaymentForm->upddate;?>
        			  <?php echo $this->lobjCompanytypepaymentForm->upduser;?>
        			   <?php echo $this->lobjCompanytypepaymentForm->idcompanypaymenttype;?>
        			</tr> 
        			<tr>
                       <td><?php echo $this->translate->_("Status")?><span class="reqMark">*</span></td>
                       <td><?php echo $this->lobjCompanytypepaymentForm->paymenttype;?></td>
                       <td align = "right"><?php echo $this->lobjCompanytypepaymentForm->Save;?>
					   <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'general-setup','controller'=>'companieslist', 'action'=>'index'),'default',true);?>';" />	
                       </td> 
                    </tr>       
            </table>	
            	
		</form>
	</fieldset>
	<?php }?>
</body>
</html>
          