<head>

<script>
dojo.addOnLoad(function(){
	//dijit.byId('CompanyName').focus();
	//var IdState = dijit.byId("IdState");
	//fnGetCityList(IdState)
	
});

function fnGetCityList(idCountry){ 
	
	if(idCountry != "" || idCountry != undefined)
		{  
		var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/companyregistration/getcitylist/idCountry/"+idCountry,
				handleAs:'json',
				load:function(data){ 
					AutoFillNextEditableDropDown("City",data); 
				}
		   }
		dojo.xhrGet(xhrArgs);  
			
		} 
	} 
function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}

function fnresetpassworddetails(idcompany) {
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/general-setup/companieslist/resetpassword/lintIdCompany/"+idcompany,
			handleAs:'text',
			load:function(data){ 
				document.getElementById('contentdiv').innerHTML = data;
				document.getElementById('divLogin').style.display = 'block';
				document.getElementById('prgmdetails').style.display = 'block';
			}
	   }
	dojo.xhrGet(xhrArgs);
}
function closebox() {
	document.getElementById('contentdiv').innerHTML = "";
	document.getElementById('divLogin').style.display = 'none';
	document.getElementById('prgmdetails').style.display = 'none';
}

function duplicaCompanyname(Companyname)
{   

	//alert(Companyname);
	
	if(Companyname!='')
	{  
		var xhrArgs = { 
				
							url: "<?php echo $this->baseUrl();?>"+"/general-setup/companieslist/fnajaxgetcompanynames/Companyname/"+Companyname,
							handleAs:'text',
							load:function(data)
							{ 
							 if(data == '')
						  {
						  }
						 else
						  {
							 alert(data);
							 dijit.byId("CompanyName").setValue('<?php //echo $this->TakafulName;?>');
							 dijit.byId("CompanyName").focus();
						  }
			                }
	                      }
	         dojo.xhrGet(xhrArgs);
     }
}	
</script>
</head>
	<fieldset>
		<legend><?php echo $this->translate("Company").' '.$this->translate("Details");?></legend>
         <form dojoType="dijit.form.Form"  id="myform" name="myform" method="post" action="">
         	<script type="dojo/method" event="onSubmit" >
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>
            <table class="table" border="0" width="100%" cellpadding="5" cellspacing="1">
               <tr>
                   <td><?php echo $this->translate("Company").' '.$this->translate("Name");?><span class="reqMark">*</span></td>
                   <td><?php echo $this->lobjTakafuloperatorForm->CompanyName;?>
                   <td><?php echo $this->translate("Company").' '.$this->translate("Short").' '.$this->translate("Name");?><span class="reqMark">*</span></td>
                   <td><?php echo $this->lobjTakafuloperatorForm->ShortName;?></td>
                   <?php echo $this->lobjTakafuloperatorForm->UpdDate;?>
                   <?php echo $this->lobjTakafuloperatorForm->UpdUser;?></td>
              </tr>
              <tr>
              	  <td ><?php echo $this->translate("Registration").' '.$this->translate("No");?><span class="reqMark"></span></td>
                  <td ><?php echo $this->lobjTakafuloperatorForm->RegistrationNo;?></td>
                  <td><?php echo $this->translate("Address");?><span class="reqMark">*</span></td>
                  <td><?php echo $this->lobjTakafuloperatorForm->Address;?></td>
               </tr>
               <tr>
               	  <td><?php echo $this->translate("Business").' '.$this->translate("Type");?><span class="reqMark">*</span></td>
                  <td><?php echo $this->lobjTakafuloperatorForm->businesstype;?></td>
                  <td><?php echo $this->translate("Country");?><span class="reqMark">*</span></td>
                  <td><?php echo $this->lobjTakafuloperatorForm->IdCountry;?></td>
               </tr>
               <tr>
               	  <td><?php echo $this->translate("State");?><span class="reqMark">*</span></td>
                  <td><?php echo $this->lobjTakafuloperatorForm->IdState;?></td>
                  <td><?php echo $this->translate("City");?><span class="reqMark">*</span></td>
                  <td><?php echo $this->lobjTakafuloperatorForm->City;?></td>
               </tr>
               <tr>
               	  <td><?php echo $this->translate("Post").' '.$this->translate("Code");?><span class="reqMark"></span></td>
                  <td><?php echo $this->lobjTakafuloperatorForm->Postcode;?></td>    
                  <td><?php echo $this->translate("Telephone").' '.$this->translate("No.1(0123456879)");?><span class="reqMark">*</span></td>
                  <td><?php echo $this->lobjTakafuloperatorForm->workcountrycode;?><?php echo $this->lobjTakafuloperatorForm->workstatecode;?><?php echo $this->lobjTakafuloperatorForm->Phone1;?></td>
               </tr>
               <tr>
                 <td><?php echo $this->translate("Telephone").' '.$this->translate("No.2");?><span class="reqMark"></span></td>
                 <td><?php echo $this->lobjTakafuloperatorForm->countrycode;?><?php echo $this->lobjTakafuloperatorForm->statecode;?><?php echo $this->lobjTakafuloperatorForm->Phone2;?></td>				
				 <td><?php echo $this->translate("E-mail");?><span class="reqMark">*</span></td>
				 <td><?php echo $this->lobjTakafuloperatorForm->Email;?></td>
			  </tr>	
			  <tr>	
			  	<td><?php echo $this->translate("Alternate").' '.$this->translate("E-mail");?><span class="reqMark"></span></td>
				 <td><?php echo $this->lobjTakafuloperatorForm->AltEmail;?></td>			
				<td><?php echo $this->translate("Fax No");?><span class="reqMark">*</span></td>
				<td><?php echo $this->lobjTakafuloperatorForm->Fax;?></td>	
			 </tr>
              <tr>				
              	<td><?php echo $this->translate("Contact").' '.$this->translate("Person");?><span class="reqMark">*</span></td>
				<td><?php echo $this->lobjTakafuloperatorForm->ContactPerson;?></td>		
				<td></td>
				<td></td>
			</tr>	
			 <tr>
			  <td><a href="#" onclick="fnresetpassworddetails('<?php echo $this->lintIdCompany;?>')"><?php print_r("Reset Company Password");?></a></td>
			 </tr>
		 </table>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
			<tr>
               <td  colspan = "2" align = "right"><?php echo $this->lobjTakafuloperatorForm->Save;?>
			   <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'general-setup','controller'=>'companieslist', 'action'=>'index'),'default',true);?>';" />	
               	</td>        
             </tr>   
          </table>
        </form>	
        
        <div runat="server" id="divLogin"  style="display:none; z-index: 153; position: absolute; left: 18%; width: 850px; top: 150px;">
					                <asp:Panel runat="server" ID="popupLogin">
					                    <asp:Panel runat="server" ID="popupContent1">
					                        <table style="height: 125px; width: 100%; background-color: #FFFFFF;" border="3"   frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">
					                                    	<div id="contentdiv"></div>
					                                      
					                                   </td>
					                                </tr>
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
					            </div>
<div runat="server" id="prgmdetails" style="display:none; opacity:0.4; z-index: 150; position: absolute; left: 0%; height: 100%; width: 100%; top: 0%;">

<asp:Panel >
					                    <asp:Panel  >
					                        <table style="height: 100%; width: 100%; background-color: #000000;" border="3"   frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">
					                                    	
					                                      
					                                   </td>
					                                </tr>
					                               
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
</div>	
        
    </fieldset> 
    
		
