<head>
<script>
dojo.addOnLoad(function(){
	dijit.byId('field3').focus();
	fnGetCountryStateList("121");
});

function fnGetCountryStateList(idCountry)
{ 
	if(idCountry != "")
		{ 
			var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/general-setup/user/getcountrystateslist/idCountry/"+idCountry,
					handleAs:'json',
					load:function(data){ 
						AutoFillNextEditableDropDown("field1",data); 
					}
			   }
			dojo.xhrGet(xhrArgs); 
		} 
}

function fnGetCityList(idCountry){ 
	
	if(idCountry != "" || idCountry != undefined)
		{  
		var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/general-setup/center/getcitylist/idCountry/"+idCountry,
				handleAs:'json',
				load:function(data){ 
					AutoFillNextEditableDropDown("field8",data); 
				}
		   }
		dojo.xhrGet(xhrArgs);  
			
	} 
} 

function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}
</script>
</head>
	<fieldset>
		<legend><?php echo $this->translate("Company Details").' '.$this->translate("Search");?></legend>
         <form action="<?php echo $this->baseUrl();?>/general-setup/companieslist/index/search/1" method="POST">
            <table width="100%">
                <tr>
                   <td><?php echo $this->translate("Company Name");?></td>
                   <td ><?php echo $this->lobjform->field3;?></td>
                   <td><?php echo $this->translate("Short Name");?></td>
                   <td ><?php echo $this->lobjform->field2;?></td>
                </tr>
                <tr>
                	<td><?php echo $this->translate("Address");?></td>
                    <td ><?php echo $this->lobjform->field6;?></td>
                    <td><?php echo $this->translate("State");?></td>
                    <td ><?php echo $this->lobjform->field1;?></td>
                </tr>
                <tr>
                	 <td><?php echo $this->translate("City");?></td>
                     <td ><?php echo $this->lobjform->field8;?></td>
                     <td><?php echo $this->translate("Phone");?></td>
                     <td ><?php echo $this->lobjform->field12;?></td>
                </tr>
                <tr>
               		 <td><?php echo $this->translate("Email");?></td>
                     <td ><?php echo $this->lobjform->field13;?></td>     
                     <td><?php echo $this->translate("Business Type");?></td>
                     <td ><?php echo $this->lobjform->field5;?></td>
                </tr>
                <tr>
					<td><?php echo $this->translate("Company ID");?></td>
					<td><?php echo $this->lobjform->field4;?></td>
					<td></td>
					<td></td>
                </tr>
                <tr>
	               <td align = "center" colspan = "4">
						<?php echo $this->lobjform->Search;?>
						<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Clear"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'general-setup','controller'=>'companieslist', 'action'=>'index'),'default',true);?>';" />
				   </td>
                </tr>
            </table>
        </form>	
    </fieldset> 
    <br/>
    <?php   if ($this->paginator ): ?> 
	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
		
	    	<tr>
	        	<th><?php echo $this->translate("Company Name");?></th>
	       	    <th><?php echo $this->translate("Short Name");?></th>
	        	<th><?php echo $this->translate("Address");?></th>
	        	<th><?php echo $this->translate("State");?></th>
	        	<th><?php echo $this->translate("City");?></th>
	        	<th><?php echo $this->translate("Phone");?></th>
	        	<th><?php echo $this->translate("Email");?></th>
	        	<th><?php echo $this->translate("Business Type");?></th>
	        	<th><?php echo $this->translate("Registered").' '.$this->translate("For").' '.$this->translate("Pay").' '.$this->translate("Later");?></th>
	    	</tr>
	        <?php if (count($this->paginator)): ?>
	        <?php foreach ($this->paginator as $lobjcompanydetails ): ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	<td><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'companieslist', 'action'=>'editcompany' , 'idcompany'=>$lobjcompanydetails['IdCompany']),'default',true);?>" ><?php print_r($this->escape($lobjcompanydetails['CompanyName']));?></a></td>
	    	    <td><?php echo $this->escape($lobjcompanydetails['ShortName']);?></td>
	    		<td><?php echo $this->escape($lobjcompanydetails['Address']);?></td>
	    		<td><?php echo $this->escape($lobjcompanydetails['StateName']);?></td>
	    		<td><?php echo $this->escape($lobjcompanydetails['CityName']);?></td>
	    		<td><?php echo $this->escape($lobjcompanydetails['Phone1']);?></td>
	    		<td><?php echo $this->escape($lobjcompanydetails['Email']);?></td>
	    		<td><?php echo $this->escape($lobjcompanydetails['BusinessType']);?></td>
	    		<?php if($lobjcompanydetails['paymenttype']==181){ ?>
	        	<td><a href="<?php echo $this->baseUrl();?>/general-setup/companieslist/companytypepaymentchange/id/<?php echo $this->escape($lobjcompanydetails['idcompanypaymenttype']);?>" ><?php echo "Yes";?></a></td>
	        	<?php }else{?>
	        	<td><a href="<?php echo $this->baseUrl();?>/general-setup/companieslist/companytypepaymentchange/id/<?php echo $this->escape($lobjcompanydetails['idcompanypaymenttype']);?>/idcompany/<?php echo $this->escape($lobjcompanydetails['IdCompany']);?>" ><?php echo "No"?></a></td>
	        	<?php }?>
	            <?php endforeach; ?>
	            <?php endif; ?> 
			</tr>
	    	<tr>
	        	<td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->paginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>
		</table>
	</fieldset>
<?php endif; ?> 
