<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
<script type="text/javascript" src="<?php  echo $this->baseUrl();?>/js/dojo/dojo/dojo.js" djConfig="parseOnLoad: true,locale:'en'"></script>
<script type="text/javascript" src="<?php  echo $this->baseUrl();?>/js/dojo/dojo/nls/dojo_en.js"></script>
<link rel="stylesheet" type="text/css" href="<?php  echo $this->baseUrl();?>/js/dojo/dijit/themes/claro/claro.css" />
<link rel="stylesheet" type="text/css" href="<?php  echo $this->baseUrl();?>/js/dojo/dojo/resources/dojo.css" />
<script>

dojo.addOnLoad(function(){
	
});

</script>

</head>
<body class="claro">

	<fieldset>
		<legend><?php echo $this->translate("Reset Company").' '.$this->translate("Password");?></legend>
         <form action="<?php echo $this->baseUrl();?>/general-setup/companieslist/resetpassword/lintIdCompany/<?php echo $this->lintIdCompany;?>" dojoType="dijit.form.Form"  id="myform2" name="myform2" method="post">
         	<script type="dojo/method" event="onSubmit" >
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>
            <table class="table" border="0" width="100%" cellpadding="5" cellspacing="1">
               
			  <tr>
                 <th colspan = "5"><?php echo $this->translate("Reset Password");?></th>
               </tr>
               <tr>
				<td><?php echo $this->translate("Login ID");?><span class="reqMark">*</span></td>
				<td><?php echo $this->lobjTakafuloperatorForm->Login;?></td>
			 </tr>
			  <tr>
				<td><?php echo $this->translate("New Password");?><span class="reqMark">*</span></td>
				<td><input type="password" name="NewPassword" style="width: 230px;"  dojoType="dijit.form.ValidationTextBox" required="true" maxlength="20"/> </td>
			 </tr>
		 </table>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
			<tr>
               <td colspan="5" align="right" ><?php echo $this->lobjTakafuloperatorForm->Save;?>
			   <input type="button" id="close" name="close"  value="Close" onClick="closebox();">
               	</td>        
             </tr>   
          </table>
        </form>	
    </fieldset> 
    </body>
</html>		
