<head>
<script language="JavaScript" type="text/javascript"><!--
function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}

function fngetschedulerdetails(idbatch,no)
{
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/batchcandidates/fngetschedulerdetails/idbatch/"+idbatch,
			handleAs:'json',
			load:function(data){ 
				//alert(data);
				AutoFillNextEditableDropDown("candidatescheduler"+no,data); 
			}
	   }
	dojo.xhrGet(xhrArgs);
}
function fngetvenuedetails(idscheduler,no)
{
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/batchcandidates/fngetvenue/idscheduler/"+idscheduler,
			handleAs:'json',
			load:function(data){ 
				//alert(data);
				AutoFillNextEditableDropDown("candidatevenue"+no,data); 
			}
	   }
	dojo.xhrGet(xhrArgs);
}
function fngetvenueDate(idvenue,no)
{
	
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/batchcandidates/fngetvenuetime/idvenue/"+idvenue,
			handleAs:'json',
			load:function(data){ 
				//alert(data);
				AutoFillNextEditableDropDown("candidatedate"+no,data); 
			}
	   }
	dojo.xhrGet(xhrArgs);
}

function fngettime(date,no)
{
	
	var idvenue = (dijit.byId("candidatevenue"+no));

	//alert(date);
	//alert(idvenue);
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/batchcandidates/fngetdatetime/date/"+date+"/idvenue/"+idvenue,
			handleAs:'json',
			load:function(data){ 
				//alert(data);
				AutoFillNextEditableDropDown("candidatetime"+no,data); 
			}
	   }
	dojo.xhrGet(xhrArgs);
	
}

function Closefn()
{
	 
   	  window.location = "<?php echo $this->baseUrl();?>/companyapplication/index";
        
}

function takafulss()
{
	var candidatetakafulval = document.getElementById('candidatetakaful0').value;
	//alert(candidatetakafulval);
	if(candidatetakafulval == 'Select')
	{
		document.getElementById('takaful').checked =false;
		alert('Please Select the First Takaful Operator');
		
	}
	else
	{
		if((document.getElementById('takaful').checked)==true)
		{
			takafulid = document.getElementById('candidatehiddentakaful0').value;
				var total = <?php echo $this->total;?>;
				for(i=1;i<total;i++)
				{
					document.getElementById('candidatehiddentakaful'+i).value = takafulid;
					document.getElementById('candidatetakaful'+i).value = candidatetakafulval;
				}
		}		
	}
	
}

function fnhiddentakaful(takafulid,no)
{
	
	//alert(takafulid);
	//alert(no);
	document.getElementById('candidatehiddentakaful'+no).value = takafulid;
	if(no==0)
	{
			if((document.getElementById('takaful').checked)==true)
			{
					var total = <?php echo $this->total;?>;
					for(i=1;i<total;i++)
					{
						document.getElementById('candidatehiddentakaful'+i).value = takafulid;
						
					}
			}
	}
	else
	{
		//alert('asdfsdaf');
		document.getElementById('candidatehiddentakaful'+no).value = takafulid;
	}	
}
</script>
</head>
<fieldset><?php //$companyDetails = $this->companyDetails; ?>
		<legend><?php echo $this->translate("Company").' '.$this->translate("Application");?></legend>
        
            <table width="100%" class="table">
                <tr>
                   <td><?php echo $this->translate("Venue :");?></td>
                   <td ><?php echo $this->venues;?></td>                  
                </tr>
                <tr>
                     <td><?php echo $this->translate("Date :");?></td>
                     <td ><?php echo  date('d-m-Y',strtotime($this->escape($this->adhocdate)));?></td>
                   
                  	
                </tr>
               
         <!--        <tr>
	               <td align = "center" colspan = "4">
						<?php //echo $this->lobsearchform->Search;?>
						<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Add"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'stu-app','controller'=>'studentapplication', 'action'=>'newstudentapplication'),'default',true);?>';" />	
						<?php //echo $this->lobsearchform->Clear;?>
				   </td>
                </tr>
                 -->
            </table>
        </form>	
    </fieldset> 
    <br/>
	<fieldset><?php $companyDetails = $this->companyDetails; ?>
		<legend><?php echo $this->translate("Company").' '.$this->translate("Application");?></legend>
			<form action="" method="POST">
	    		 <table class="table">
                    	 <tr>
                    	 <input type="hidden" value="<?php echo $this->idbatchss;?>" name="idbatch" id="idbatch">
                         	 <th><?php echo $this->translate("Candidates Name");?></th>
                         	 <th><?php echo $this->translate("IC Number");?></th>
                         	 <th><?php echo $this->translate("Email");?></th>
                         	 	  <th><?php echo $this->translate("Date of Birth");?></th>
                         	 	  	  <th><?php echo $this->translate("Takaful Operator");?>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="takaful" id="takaful" onClick="takafulss();"></th>
                         	 	  	  <!-- <th><?php //echo $this->translate(" Hidden Takaful Operator");?>-->
                         	 <th><?php echo $this->translate("Course");?></th>
                         
                         	 <th><?php echo $this->translate("Batch");?></th>
                       
                    	 </tr>                       
                          <?php $progname = $this->progname; 
                          		$noofprog = $this->noofprog;
                          		$totalnoofcandidate = $this->noofcandidates;
                          		$programarray = $this->programresult;
                          		$count = 0;
                          		$batcharrray = $this->batchresults;
                          		$takafularray = $this->takafuloperator;?>
                          		
                          		
                          		<?php 		$month= date("m"); // Month value
											$day= date("d"); //today's date
											$year= date("Y"); // Year value
											$yesterdaydate= date('Y-m-d', mktime(0,0,0,$month,($day-1),$year));
											$dateofbirth = "{max:'$yesterdaydate',datePattern:'dd-MM-yyyy'}"; ?>
                          	
                          		<?php  $counttakaful = count($takafularray);?>
                     <?php    for($i=0;$i<count($noofprog);$i++):?>
                            	<?php $cccnt =  count($batcharrray[$noofprog[$i]]);?>
                            <?php for($k=0;$k<$totalnoofcandidate[$noofprog[$i]];$k++):?>
                         		        <?php //echo $progname[$noofprog[$i]]."<br>";?>
                         		       <?php //echo $noofprog[$i];?>
                         		       <tr>
												<td></td>
												<td></td> 
												<td></td>
												<td></td>
												                       		       
                         		       </tr>
                         		     <tr>   
                         		     <td><input type="text" name="candidatename[]" id="candidatename<?php echo $count;?>" dojoType="dijit.form.ValidationTextBox">	</td>
                         		     <td><input type="text" name="candidateicno[]" id="candidateicno<?php echo $count;?>" dojoType="dijit.form.ValidationTextBox">	</td>
                         		     <td><input type="text" name="candidateemail[]" id="candidateemail<?php echo $count;?>" dojoType="dijit.form.ValidationTextBox" regExp="^[_a-zA-Z0-9-]+(\.[_a-zA-Z0-9-]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,3})$" invalidMessage="Not a valid email"</td>
                         		      <td><input type="text" name="candidatedateofbirth[]" id="candidatedateofbirth<?php echo $count;?>" dojoType="dijit.form.DateTextBox" constraints="<?php echo $dateofbirth;?>")>	</td>
                         		      
                         		      <td><select name="candidatetakaful[]" id="candidatetakaful<?php echo $count;?>"  dojoType="dijit.form.FilteringSelect" onChange="fnhiddentakaful(this.value,<?php echo $count;?>)">	
                         		      			 
                         		      				<option value="">Select</option>
                         		      			 <?php for($t=0;$t<$counttakaful;$t++):?>	
                         		      			 
                         		      				<option value="<?php echo $takafularray[$t]['key']?>"><?php echo $takafularray[$t]['value']?></option>
                         		      				<?php endfor?>
                         		      		</select>
                         		      				
                         		      		</select>
                         		      </td>
                         		    <input type="hidden" name="candidatehiddentakaful[]" id="candidatehiddentakaful<?php echo $count;?>" value="">	
                         		     <td><input type="text" name="candidateprog[]" id="candidateprog<?php echo $count;?>" dojoType="dijit.form.ValidationTextBox" readonly="readonly" value="<?php echo $progname[$noofprog[$i]];?>">
                         		    	
                         		     <input type="hidden" name="candidatehiddenprog[]" id="candidatehiddenprog<?php echo $count;?>" value="<?php echo $noofprog[$i];?>">	</td>
                         		     
                         		      <td><select name="candidatebatch[]" id="candidatebatch<?php echo $count;?>" dojoType="dijit.form.FilteringSelect"  onChange="fngetschedulerdetails(this.value,<?php echo $count;?>)">	
                         		      				<option value="">Select</option>
                         		      			 <?php for($j=0;$j<$cccnt;$j++):?>	
                         		      			 
                         		      				<option value="<?php echo $batcharrray[$noofprog[$i]][$j]['key']?>"><?php echo $batcharrray[$noofprog[$i]][$j]['value']?></option>
                         		      				<?php endfor?>
                         		      		</select>
                         		      </td>
                       
                         		    </tr>
                         		        
                         		     
                         		        
                         		       
                         				<?php  $count++;?>
                         		 <?php endfor;?>
                         		 
                         		 
                       <?php endfor;?>
                         		   
                                                
	                     <tr>                           
                            <td colspan="9" align="right"><?php  echo $this->lobjBatchcandidatesForm->Save;?>
                            <input type="button" name="Close" class="buttonStyle" onClick="Closefn(); return false;" value="Close" dojoType="dijit.form.Button"  label="Close" >	</td>
                        </tr>     
	          </table>
           </form>
       </fieldset>                
	  
