<head>
<script language="JavaScript" type="text/javascript"><!--
function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}

function fngetschedulerdetails(idbatch,no)
{
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/takafulcandidates/fngetschedulerdetails/idbatch/"+idbatch,
			handleAs:'json',
			load:function(data){ 
				//alert(data);
				AutoFillNextEditableDropDown("candidatescheduler"+no,data); 
			}
	   }
	dojo.xhrGet(xhrArgs);
}
function fngetvenuedetails(idscheduler,no)
{
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/takafulcandidates/fngetvenue/idscheduler/"+idscheduler,
			handleAs:'json',
			load:function(data){ 
				//alert(data);
				AutoFillNextEditableDropDown("candidatevenue"+no,data); 
			}
	   }
	dojo.xhrGet(xhrArgs);
}
function fngetvenueDate(idvenue,no)
{
	
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/takafulcandidates/fngetvenuetime/idvenue/"+idvenue,
			handleAs:'json',
			load:function(data){ 
				//alert(data);
				AutoFillNextEditableDropDown("candidatedate"+no,data); 
			}
	   }
	dojo.xhrGet(xhrArgs);
}

function fngettime(date,no)
{
	
	var idvenue = (dijit.byId("candidatevenue"+no));

	//alert(date);
	//alert(idvenue);
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/takafulcandidates/fngetdatetime/date/"+date+"/idvenue/"+idvenue,
			handleAs:'json',
			load:function(data){ 
				//alert(data);
				AutoFillNextEditableDropDown("candidatetime"+no,data); 
			}
	   }
	dojo.xhrGet(xhrArgs);
	
}

function Closefn()
{
	 
   	  window.location = "<?php echo $this->baseUrl();?>/companyapplication/index";
        
}

function takafulss()
{
	var candidatetakafulval = document.getElementById('candidatetakaful0').value;
	//alert(candidatetakafulval);
	if(candidatetakafulval == 'Select')
	{
		document.getElementById('takaful').checked =false;
		alert('Please Select the First Takaful Operator');
		
	}
	else
	{
		if((document.getElementById('takaful').checked)==true)
		{
			takafulid = document.getElementById('candidatehiddentakaful0').value;
				var total = <?php echo $this->total;?>;
				for(i=1;i<total;i++)
				{
					document.getElementById('candidatehiddentakaful'+i).value = takafulid;
					document.getElementById('candidatetakaful'+i).value = candidatetakafulval;
				}
		}		
	}
	
}

function fnhiddentakaful(takafulid,no)
{
	
	//alert(takafulid);
	//alert(no);
	document.getElementById('candidatehiddentakaful'+no).value = takafulid;
	if(no==0)
	{
			if((document.getElementById('takaful').checked)==true)
			{
					var total = <?php echo $this->total;?>;
					for(i=1;i<total;i++)
					{
						document.getElementById('candidatehiddentakaful'+i).value = takafulid;
						
					}
			}
	}
	else
	{
		//alert('asdfsdaf');
		document.getElementById('candidatehiddentakaful'+no).value = takafulid;
	}	
}
</script>
</head>
	<fieldset><?php $companyDetails = $this->companyDetails; ?>
		<legend><?php echo $this->translate("Batch").' '.$this->translate("Application");?></legend>
			<form action="" method="POST">
	    		 <table class="table">
                    	 <tr><input type="text" name="regpin" id="regpin" value="<?php echo $this->regpin;?>">
                    	 <input type="hidden" value="<?php echo $this->idbatchss;?>" name="idbatch" id="idbatch">
                         	 <th><?php echo $this->translate("Candidates Name");?></th>
                         	 <th><?php echo $this->translate("IC Number");?></th>
                         	 <th><?php echo $this->translate("Email");?></th>
                         	 
                         	 <th><?php echo $this->translate("Race");?></th>
                         	  <th><?php echo $this->translate("Education");?></th>
                         	 	  <th><?php echo $this->translate("Date of Birth");?></th>
                         	 	    <th><?php echo $this->translate("Gender");?></th>
                         	 	  	  <th><?php echo $this->translate("Takaful Operator");?></th>
                         	 	  	  <!-- <th><?php //echo $this->translate(" Hidden Takaful Operator");?>-->
                         	 <th><?php echo $this->translate("Course");?></th>
                         
                         	 <th><?php echo $this->translate("Batch");?></th>
                         	 <th><?php echo $this->translate("Scheduler");?></th>
                         	 <th><?php echo $this->translate("Venue");?></th>
                         	 <th><?php echo $this->translate("Date");?></th>
                         	 <th><?php echo $this->translate("Time");?></th>
                    	 </tr>                       
                          <?php $progname = $this->progname; 
                          		$noofprog = $this->noofprog;
                          		$totalnoofcandidate = $this->noofcandidates;
                          		$programarray = $this->programresult;
                          		$count = 0;
                          		$batcharrray = $this->batchresults;
                          		$raceresultarray = $this->raceresult;
                          		$educationresultarray = $this->educationresult;
                          		$takafularray = $this->takafuloperator;?>
                          		
                          		
                          		<?php 		$month= date("m"); // Month value
											$day= date("d"); //today's date
											$year= date("Y"); // Year value
											$yesterdaydate= date('Y-m-d', mktime(0,0,0,$month,($day-1),$year));
											$dateofbirth = "{max:'$yesterdaydate',datePattern:'dd-MM-yyyy'}"; ?>
                          	
                          		<?php  $counttakaful = count($takafularray);?><?php  $countrace = count($raceresultarray);?><?php  $counteducation = count($educationresultarray);?>
                     <?php    for($i=0;$i<count($noofprog);$i++):?>
                            	<?php $cccnt =  count($batcharrray[$noofprog[$i]]);?>
                            <?php for($k=0;$k<$totalnoofcandidate[$noofprog[$i]];$k++):?>
                         		        <?php //echo $progname[$noofprog[$i]]."<br>";?>
                         		       <?php //echo $noofprog[$i];?>
                         		       <tr>
												<td></td>
												<td></td> 
												<td></td>
												<td></td>
												                       		       
                         		       </tr>
                         		     <tr>   
                         		     <td><input type="text" name="candidatename[]" id="candidatename<?php echo $count;?>" dojoType="dijit.form.ValidationTextBox">	</td>
                         		     <td><input type="text" name="candidateicno[]" id="candidateicno<?php echo $count;?>" dojoType="dijit.form.ValidationTextBox">	</td>
                         		     <td><input type="text" name="candidateemail[]" id="candidateemail<?php echo $count;?>" dojoType="dijit.form.ValidationTextBox" regExp="^[_a-zA-Z0-9-]+(\.[_a-zA-Z0-9-]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,3})$" invalidMessage="Not a valid email"</td>
                         		      <td><select name="candidaterace[]" id="candidaterace<?php echo $count;?>"  dojoType="dijit.form.FilteringSelect">	
                         		      			 
                         		      				
                         		      			 <?php for($r=0;$r<$countrace;$r++):?>	
                         		      			 
                         		      				<option value="<?php echo $raceresultarray[$r]['key']?>"><?php echo $raceresultarray[$r]['value']?></option>
                         		      				<?php endfor?>
                         		      		</select>
                         		      </td>
                         		      <td><select name="candidateeducation[]" id="candidateeducation<?php echo $count;?>"  dojoType="dijit.form.FilteringSelect">	
                         		      			 
                         		      				
                         		      			 <?php for($r=0;$r<$counteducation;$r++):?>	
                         		      			 
                         		      				<option value="<?php echo $educationresultarray[$r]['key']?>"><?php echo $educationresultarray[$r]['value']?></option>
                         		      				<?php endfor?>
                         		      		</select>
                         		      </td>
                         		      
                         		      <td><input type="text" name="candidatedateofbirth[]" id="candidatedateofbirth<?php echo $count;?>" dojoType="dijit.form.DateTextBox" constraints="<?php echo $dateofbirth;?>")>	</td>
                         		      
                         		       <td><select name="candidategender[]" id="candidategender<?php echo $count;?>" dojoType="dijit.form.FilteringSelect">	
                         		      			 
                         		      				<option value="0">Male</option>
                         		      				<option value="1">female</option>
                         		      				
                         		      	</select>
                         		      <td><input type="text" name="candidatetakaful[]" id="candidatetakaful<?php echo $count;?>" dojoType="dijit.form.ValidationTextBox" readonly="readonly" value="<?php echo $this->takafulname;?>">
                         		       <input type="hidden" name="candidatehiddentakaful[]" id="candidatehiddentakaful<?php echo $count;?>" value="<?php echo $this->takafulid;?>">	
                         		     <td><input type="text" name="candidateprog[]" id="candidateprog<?php echo $count;?>" dojoType="dijit.form.ValidationTextBox" readonly="readonly" value="<?php echo $progname[$noofprog[$i]];?>">
                         		    	
                         		     <input type="hidden" name="candidatehiddenprog[]" id="candidatehiddenprog<?php echo $count;?>" value="<?php echo $noofprog[$i];?>">	</td>
                         		     
                         		      <td><select name="candidatebatch[]" id="candidatebatch<?php echo $count;?>" dojoType="dijit.form.FilteringSelect"  onChange="fngetschedulerdetails(this.value,<?php echo $count;?>)">	
                         		      				<option value="">Select</option>
                         		      			 <?php for($j=0;$j<$cccnt;$j++):?>	
                         		      			 
                         		      				<option value="<?php echo $batcharrray[$noofprog[$i]][$j]['key']?>"><?php echo $batcharrray[$noofprog[$i]][$j]['value']?></option>
                         		      				<?php endfor?>
                         		      		</select>
                         		      </td>
                         		      <td><select name="candidatescheduler[]" id="candidatescheduler<?php echo $count;?>" dojoType="dijit.form.FilteringSelect"  onChange="fngetvenuedetails(this.value,<?php echo $count;?>)">	
                         		      			 
                         		      				<option value="">Select</option>
                         		      				
                         		      		</select>
                         		      </td>
                         		      <td><select name="candidatevenue[]" id="candidatevenue<?php echo $count;?>" dojoType="dijit.form.FilteringSelect"  onChange="fngetvenueDate(this.value,<?php echo $count;?>)">	
                         		      			 
                         		      				<option value="">Select</option>
                         		      				
                         		      	</select>
                         		      </td>
                         		      <td><select name="candidatedate[]" id="candidatedate<?php echo $count;?>" dojoType="dijit.form.FilteringSelect" onChange="fngettime(this.value,<?php echo $count;?>)">	
                         		      			 
                         		      				<option value="">Select</option>
                         		      				
                         		      	</select>
                         		      </td>
                         		       <td><select name="candidatetime[]" id="candidatetime<?php echo $count;?>" dojoType="dijit.form.FilteringSelect" >	
                         		      			 
                         		      				<option value="">Select</option>
                         		      				
                         		      	</select>
                         		      </td>
                         		      
                         		    </tr>
                         		        
                         		     
                         		        
                         		       
                         				<?php  $count++;?>
                         		 <?php endfor;?>
                         		 
                         		 
                       <?php endfor;?>
                         		   
                                                
	                     <tr>                           
                            <td colspan="9" align="right"><?php  echo $this->lobjTakafulcandidatesForm->Save;?>
                            <input type="button" name="Close" class="buttonStyle" onClick="Closefn(); return false;" value="Close" dojoType="dijit.form.Button"  label="Close" >	</td>
                        </tr>     
	          </table>
           </form>
       </fieldset>                
	  
