<html>
<head>

<script>

function clearpageAdd() {
	dijit.byId('Venues').set('value','');
	dijit.byId('Venues').set('placeHolder','Select');
	dijit.byId("Dates").set('value',null);

}

</script>
</head>
<body class='claro'>

<?php   if ($this->checkEmpty == 1): ?>    
<form  method="POST" dojoType="dijit.form.Form"  id="Search"  name= "Search">
 <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					  return true;
                } else {
                    return false;
                }
				</script>
<fieldset>
	<legend><?php echo "Enter authentication password to view this menu";?></legend>
       
      <table>
      			<tr>
                   <td colspan="3"><?php  echo "Password";?></td>
                   <td ><?php echo $this->lobjform->passwd;?></td> 
                   <td></td>
                   <td></td> 
                </tr> 
                <tr>
                	<td colspan="3"></td>
	                <td>
	                  <input name="Submit" id="Submit" type="Submit"  class="NormalBtn" dojoType=dijit.form.Button label = <?php echo $this->translate("Submit");?> value=<?php echo $this->translate("Submit");?>>
					</td>
					
					
               </tr>
       </table>
       </fieldset>
</form>  
<?php endif; ?>
<?php if ($this->checkEmpty == 2 ): ?> 
<fieldset>
	<legend><?php echo $this->translate("Exam Extra Time");?></legend>
 		<form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/examination/examtime/index/search/1" method="POST">
 			<script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
			</script>
		<table width="100%" >
	
				
				<tr>
                    <td><?php echo $this->translate("Exam Venue") ?></td>
                    <td><?php echo $this->lobjform->Venues;?></td>
                    
                    <td><?php echo $this->translate("Exam Date") ?></td>
                    <td><?php echo $this->lobjform->Dates;?></td>
                </tr>
          
				 <tr>
				 <td colspan="4" align="center">
				 	<?php echo $this->lobjform->Search;?>		
			 <input name="Clear" id="Clear" type="Clear"  onclick="clearpageAdd()" class="NormalBtn" dojoType=dijit.form.Button label = <?php echo $this->translate("Clear");?> value=<?php echo $this->translate("Clear");?>>
				
				</td>
               </tr>
               
               	 <tr>
				   <td width="10%"><?php echo $this->translate("Exam Extra Time") ?></td>
				 <td >
				 
				<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Add"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'examination','controller'=>'examtime', 'action'=>'newexamtime'),'default',true);?>';" />	
				
				</td>
               </tr>
		</table>
	</form>	
	</fieldset> 
	<?php endif; ?> 
   <?php if (count($this->paginator)): ?>
	<br>
		

	
	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
	    	<tr>
	    	    
	    	     <th><?php echo $this->translate("Exam Venue");?></th>
	    	       <th><?php echo $this->translate("Exam Session");?></th>
	    	        <th><?php echo $this->translate("Exam Date");?></th>
	    	         <th><?php echo $this->translate("Extra Time(min)");?></th>
	    	    
	        	
	    	</tr>
	       
	       			
   			  
	        <?php foreach ($this->paginator as $lobjprogram): ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	<td><?php print_r($this->escape($lobjprogram['centername']));?></td>
	        	<td><?php print_r($this->escape($lobjprogram['managesessionname']));?></td>
	        	<td><?php print_r(date ( "d-m-Y", strtotime ( $lobjprogram['ExamDate'] )));?></td>
	        	<td><?php print_r($this->escape($lobjprogram['Gracetime']));?></td>
	            <?php endforeach; ?>
	            <?php endif; ?> 
			</tr>
		

			
			
			
			<tr>
	        	<td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>
		</table>
	</fieldset>
			
</body>
</html>
