<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<link href="<?php  echo $this->baseUrl();?>/css/calendar.css" rel="stylesheet" type="text/css" />   
<script type="text/javascript">
dojo.addOnLoad(function() {
	newvenuelists();

});


function newvenuelists()
{
	   iddate=dijit.byId("ExamDatetime");
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/examination/examtime/newvenuelistsnames/iddate/"+iddate,
			handleAs:'json',
			load:function(data){ 
				if(data==null || data=='')
				{
    				alert("There is no scheduler for this date Please change the Date");
    				dijit.byId("ExamDatetime").set('value',null);
    				dijit.byId("newexamcity").setValue('');
    				fnemptyvenue();
    				flag=1;
				}
				else
				{
					AutoFillNextEditableDropDown("newexamcity",data);
				} 
			
			}
	   }
	dojo.xhrGet(xhrArgs);
}



function fnemptyvenue()
{

	 iddate=dijit.byId("ExamDatetime");
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/examination/examtime/newvenuelistsemptynames/iddate/"+iddate,
			handleAs:'json',
			load:function(data){
				AutoFillNextEditableDropDown("newexamcity",data);
			}
	   }
	dojo.xhrGet(xhrArgs);
	
}
function newsessionlists(venueid)
{
	   iddate=dijit.byId("ExamDatetime");
	   if(iddate==null || iddate=='' )
	   {
		 //alert('Please select the exam date first');  
	   }
	   else{
		   if(venueid!='')
		   {
		   
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/examination/examtime/newsessionlistsnames/iddate/"+iddate+"/venueid/"+venueid,
			handleAs:'json',
			load:function(data){ 
				if(data==null || data=='')
				{
    				alert("The session started already for this exam venue or time elapsed for this session");
    				//dijit.byId("ExamDatetime").set('value',null);
    				dijit.byId("examsession").setValue('');
    				//fngetemptysession();
				}
				else
				{
				AutoFillNextEditableDropDown("examsession",data);
				} 
			
				//AutoFillNextEditableDropDown("newexamcity",data); 
				//showcalender()
			}
	   }
	dojo.xhrGet(xhrArgs);
	   }
	   }
}

function emptysession(idsessions)
{
	   idvenues=dijit.byId("newexamcity");
	   idsession=dijit.byId("examsession");
	   if(idvenues==0||idvenues=='')
	   {
		   alert("Please select the exam venue first");
			dijit.byId("examsession").setValue('');
		     
	   }
	   else
	   {
if(idsessions!='')
{
		   var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/examination/examtime/newsessionemptynames/iddate/"+iddate+"/idvenues/"+idvenues+"/idsessions/"+idsessions,
					handleAs:'text',
					load:function(data){ 
						if(data){
//alert(data)
//dijit.byId("examsession").setValue('');
							}
						
					}
			   }
			dojo.xhrGet(xhrArgs);
}
		   
	   }
	   
}

function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}


function Closefn()
{
	document.getElementById('divLogin').style.display = 'none';
	document.getElementById('divLogin2').style.display = 'none';
}


function fnvalidatetime(gracevalue)
{
	gracetime='<?php echo $this->gracetime;?>';
	if(eval(gracevalue) > eval(gracetime))
	{
		alert("The maximum value allowed is "+gracetime);	
		dijit.byId("examtime").setValue('');
		
	}
	
}
function fnhidebtn()
{
	document.getElementById('btnsave').style.display='none';
}

</script> 
</head>
<body>

	<fieldset>
	         
				<Form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">
				 <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
                    fnhidebtn();
					return true;
                } 
				else {
                    return false;
                }
				</script>
				<table width="100%" class="table">
			
				      <tr>
                         <th colspan = "2"><?php echo $this->translate('Exam Extra Time  Details')?></th>
                     </tr>
                    <tr>
			                 <td><?php echo $this->translate("Exam Date");?></td>
			               <td><?php echo $this->lobjnewscreenForm->ExamDatetime;?></td>
			             
		             </tr>
                   
		   
		              <tr>
			                 <td><?php echo $this->translate("Exam Venue");?></td>
			               <td><?php echo $this->lobjnewscreenForm->newexamcity;?></td>
			             
		             </tr>
		     
			               
			             <tr>
		                  <td><?php echo $this->translate("Exam Session");?></td>
			               <td><?php echo $this->lobjnewscreenForm->examsession;?></td>
			               </tr>
			               
			                 <tr>
		                  <td><?php echo $this->translate("Extra Time In Minutes");?></td>
			               <td><?php echo $this->lobjnewscreenForm->examtime;?></td>
			               </tr>  
                      
		             <tr>
		                       
		                      
		                   <td  colspan="2" align="right">
		                   <?php echo $this->lobjnewscreenForm->Save;?>
		                   <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo "Back";?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'examination','controller'=>'examtime', 'action'=>'index','search'=>'1'),'default',true);?>';" /><td>
  		            
  		              </tr> 
				</table>
					
				</Form> 
</fieldset>
</body>
</html>