
<script type="text/javascript">

function fnvalidate(Totalseats)

{

//alert(Totalseats);
    
 Allotedseats=dijit.byId("Alloted").value;
	
// alert(Allotedseats);
   // gracetime='<?php echo $this->gracetime;?>';

	
if(eval(Totalseats) < eval(Allotedseats))
	
{
		
alert("Total Seats Can Not Be Less The  Alloted seats "+Allotedseats);	
		
dijit.byId("Total").setValue('');

		
	}
 
  
}	 

 

</script>

</script> 
<fieldset>
    <legend><?php echo $this->translate("Scheduler Constraint");?></legend>
    
                <Form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">
                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>
                    <table class="table" width="100%" >
                        <tr>
                            <th colspan = "4"><?php echo $this->translate("Schedule").' '.$this->translate("Constraint");?>	
							 <input type="hidden"  name="Idscheduler" value="<?php  echo $this->Idschedule; ?>" id="Idscheduler">
						
                        </tr>
                        <tr>
                            <td ><?php echo $this->translate("Constraint").' '.$this->translate("Name");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjprogramForm->constraintname;?></td>
                        </tr>
                        <tr>
                            <td ><?php echo $this->translate("Date");?></td>
                            <td ><?php echo $this->lobjprogramForm->Date;?></td>
                        </tr>                          
                        <tr>
                            <td ><?php echo $this->translate("Venue");?></td>
                            <td ><?php echo $this->lobjprogramForm->Venue;?> </td>
                        </tr>
                        <tr>
                            <td ><?php echo $this->translate("Session");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjprogramForm->Session;?> </td>
                        </tr>
						<tr>
                            <td ><?php echo $this->translate("Total Capacity");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjprogramForm->Total;?> </td>
                        </tr>
						<tr>
                            <td ><?php echo $this->translate("Already Alloted Seats");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjprogramForm->Alloted;?> </td>
                        </tr>
                        <tr>
                            <td ><?php echo $this->translate("Active");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjprogramForm->Active;?>
                                 <input type="hidden"  name="idcenter" value="<?php  echo $this->center; ?>" id="idcenter">
								 <input type="hidden"  name="idstate" value="<?php  echo $this->state; ?>" id="idstate">
								 <input type="hidden"  name="idcity" value="<?php  echo $this->city; ?>" id="idcity">
							</td>
							
                        </tr>
              
               			<tr>
                            <td colspan=4 align = "right"><?php echo $this->lobjprogramForm->Save;?>
							<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'scheduler','controller'=>'sessionconstraints', 'action'=>'newsessionconstraints'),'default',true);?>';" />	
                            </td> 
                               
                        </tr>           
                        
              </table>
            
            </Form>

</fieldset>
