
<script type="text/javascript">
  
dojo.addOnLoad(function() {
	//dijit.byId('idstate').set('value','');
	//dijit.byId('idstate').set('placeHolder','Select State');

});
    function fnGetCityList(idCountry){ 
    	
    	if(idCountry != "" || idCountry != undefined)
    		{  
    		var xhrArgs = {
    				url: "<?php echo $this->baseUrl();?>"+"/general-setup/center/getcitylist/idCountry/"+idCountry,
    				handleAs:'json',
    				load:function(data){ 
    					AutoFillNextEditableDropDown("idcity",data); 
    				}
    		   }
    		dojo.xhrGet(xhrArgs);  
    			
    		} 
    	} 

    function checkAll(){
     	nodes = dojo.query('[name=\"idcenters[]\"]');
     	if(document.getElementById('idcenter').checked == true) {		 
     		
     		dojo.forEach(nodes,
     		    function(node)
     		    {
     		        dijit.getEnclosingWidget(node).set("checked",true);
     		    }
     		);
     	}
     	else {	
     		dojo.forEach(nodes,
     			    function(node)
     			    {
     			        dijit.getEnclosingWidget(node).set("checked",false);
     			    }
     			);
     	}
     } 

function fnGetvenueList(idcity){ 
    	if(idcity != "" || idcity != undefined)
    		{  
    		var xhrArgs = {
    				url: "<?php echo $this->baseUrl();?>"+"/scheduler/sessionconstraints/getvenuelist/idCountry/"+idcity,
    				handleAs:'json',
    				load:function(data){ 
    					AutoFillNextEditableDropDown("idvenue",data); 
    				}
    		   }
    		dojo.xhrGet(xhrArgs);  
    			
    		} 
    	} 
    	function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
    		dijit.byId(EditableDropDownId).setValue("");
    		var ddwidget = dijit.byId(EditableDropDownId);
    		ddwidget.setAttribute('disabled', false);
        	var options = {
    					label:"name",
    					identifier:"key",
    					items:JSONText
    				  };
        	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
    	}
        
</script> 
<fieldset>
    <legend><?php echo $this->translate("Schedule Constraint");?></legend>    
              
                    <form dojoType="dijit.form.Form" action="<?php echo $this->baseUrl();?>/scheduler/sessionconstraints/newsessionconstraints/search/1" method="POST">
                <script type="dojo/method" event="onSubmit">
                              if (this.validate()) {
					  return true;
                } else {
                    return false;
                }
				
				</script>
				
                    <table class="table" width="100%" >                                         
                        <tr>
                            <td ><?php echo $this->translate("Scheduler From Date");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjprogramForm->Date;?></td>
							 <td ><?php echo $this->translate("Scheduler To Date");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjprogramForm->Schedulertodate;?></td>
                        </tr>
						
						<td align = "center" colspan = "4">
							<?php echo $this->lobjprogramForm->Search;?>						
							<?php echo $this->lobjprogramForm->Clear;?>
						</td>
						  </tr>
                        </table>
                    </form>	
    </fieldset>
    <br/>
	 <form dojoType="dijit.form.Form" action="" method="POST">
	
	 <?php if (count($this->paginator)): ?>
	 
	 <fieldset>
	
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
		    <tr>		    
              
			    <th><?php echo $this->translate("Venue");?></th>
				<th><?php echo $this->translate("Day");?></th>
	        	<th><?php echo $this->translate("Examdate");?><input type="hidden" name="fromdatess" id="fromdatess" value="<?php echo $this->fromdatess;?>"/></th>
	       	    <th><?php echo $this->translate("Session");?><input type="hidden" name="todatess" id="todatess" value="<?php echo $this->todatess;?>"/></th>
	        	<th><?php echo $this->translate("Total Capacity");?><input type="hidden" name="act" id="act" value="<?php echo $this->activestatus;?>"/></th>
				<th><?php echo $this->translate("Alloted Seats");?></th>
				<th><?php echo $this->translate("Status");?></th>
	    	</tr>
			<?php  foreach ($this->paginator as $lobjCountry):  $center=0;?>
	    	<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
			
			<td><a href="<?php echo $this->baseUrl();?>/scheduler/sessionconstraints/editschedulerconstraints/id/<?php echo $this->escape($lobjCountry['idvenuedateschedule']);?>"><?php print_r($this->escape($lobjCountry['centername']));?></a></td>
					
			<td>
					 <?php $centerarray = array();?>
					 <?php  if(!in_array($lobjCountry['date'],$centerarray))
							{
								$centerarray[] = $lobjCountry['date'];		
								$centerarrays[$lobjCountry['date']] = array();?>
								<?php 
								print_r($this->escape($lobjCountry['dayname'])); 
								?>
								</td><td>
								<?php 
								print_r($this->escape($lobjCountry['date'])); 
							}?>
	</td>	
    <td>
				<?php if(!in_array($lobjCountry['managesessionname'],$centerarrays[$lobjCountry['date']])){
						$centerarrays[$lobjCountry['date']][] = $lobjCountry['managesessionname'];
						$centerarrayss[$lobjCountry['managesessionname']][] = array();
						print_r($this->escape($lobjCountry['managesessionname']));
				}?>
	</td>	
				<td><?php print_r($this->escape($lobjCountry['Totalcapacity']));?></td>
				<td><?php print_r($this->escape($lobjCountry['Allotedseats']));?></td>
				<td><?php echo $this->translate("Active");?></td>
		</tr>	
		
	
	<?php  endforeach; ?>
	</table>
	<table class="table" width="100%" cellpadding="5" cellspacing="1">
              <tr>
                <td colspan=4 align = "right"><?php echo $this->lobjprogramForm->Save;?>
				<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'scheduler','controller'=>'sessionconstraints', 'action'=>'newsessionconstraints'),'default',true);?>';" />	
                </td>                               
            </tr>
</table>
  </fieldset>				
	 <?php endif; ?> 
          
</Form>
</fieldset>
