<script>
	function showpage(pageName)
	{
		if(pageName=="popup")
		{
			pageName	=	pageName+".html";
			window.open(pageName,'cont','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=no, width=820, height=500');
		}
		else
		{
			pageName	=	pageName+".html";
			window.open(pageName,'cont','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=no, width=400, height=250');
		}
	}
	function showfpxpage(pageName)
	{		
		pageName	=	pageName;
		window.open(pageName,'cont','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=no, width=820, height=500');
	}
</script>
<center>
  <table border="1"  cellpadding="0" cellspacing="0"  width="70%">
    <tbody>
      <tr>
        <td colspan="3" align="left" height="50px;">
		         <table class="table" height="50px;" width="100%">                
					              <tr>
					                <th><div  align="center"><font size="2px;">FPX TRANSACTION DETAILS</font></div></th>
					              </tr>			          
		                 
		          </table>
		     </td>
      </tr>
      <tr>
        <td colspan="3" align="left" style="display:none;"><table style="display:none;border: 1px solid rgb(84, 141, 212);" class="menu" cellpadding="0" cellspacing="0" height="19" width="100%">
            <tbody>
              <tr>
                <td align="center">PRODUCTS&nbsp;&nbsp;|&nbsp;&nbsp;
                  <a href=# onClick="showpage('faq')">FPX FAQ</a>&nbsp;&nbsp;|&nbsp;&nbsp; <a href=# onClick="showpage('popup')">POP UP BLOCKER SETTING</a>&nbsp;&nbsp;|&nbsp;&nbsp; FORUMS &nbsp;|&nbsp;&nbsp;<a href=# onClick="showpage('contact')">
                  CONTACT US</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href=# onClick=window.open("http://www.meps.com.my/products_services/meps_fpx.html")>ABOUT FPX</a> </td>
              </tr>
			  
			  
            </tbody>
          </table></td>
      </tr>
      <!-- header_eof //-->
      <!-- body //-->
      <tr>
        <td style="padding-right: 1px;" align="right" valign="top" width="22%"><table border="0" cellpadding="0" cellspacing="0" width="203">
            <tbody>
              <tr>
                <td style="padding-top: 1px;"><table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                      <tr>
                        <td><table class="infoBoxContents" border="0" cellpadding="0" cellspacing="0" width="100%" style="display:none;">
                            <tbody>
                              <tr>
                                <td class="boxText" align="center" valign="top">
                                  <div style="background: rgb(240, 234, 218) none repeat scroll 0%; padding-top: 10px; padding-left: 10px; margin-left: 1px; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; height: 57px;" align="left">
                                    <table class="innersearch" border="0" cellpadding="0" cellspacing="0" height="" width="100">
                                      <tbody>
                                        <tr>
                                          <td colspan="2" style="padding-left: 0px;" align="left" width="153">search on site</td>
                                        </tr>
                                        <tr>
                                          <td style="padding-left: 0px;" align="left" height="13" width=""><input size="10" style="width: 115px; height: 13px;" type="text" disabled></td>
                                          <td style="padding-left: 1px;" align="left" width="23">
                                            <img src="<?php echo $this->baseUrl()?>/images/go.gif" alt="Quick Find" title=" Quick Find " border="0" type="image"></td>
                                        </tr>
                                        <tr>
                                          <td class="searchc" style="padding-left: 0px;" colspan="2" align="left" valign="top"><a>advanced search</a></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                  <!--</form>--></td>
                              </tr>
                            </tbody>
                          </table></td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- search_eof //--></td>
              </tr>
            </tbody>
          </table>
          <table border="1" cellpadding="0" cellspacing="0" width="100%" height="230" background="<?php echo $this->baseUrl()?>/images/FPX_ParticipatingBanks.PNG" style="border: 1px solid rgb(222, 217, 197); background-repeat:no-repeat">
            <tr>
              <td>&nbsp;</td>
            </tr>
          </table>
        
          
        </td>
		  <td style="padding-left: 1px; padding-right: 1px;" align="left" valign="top" width="600" colspan=2>
		<form id="form2" name="form2" method="post" action="<?php echo $this->baseUrl();?>/registrations/takafulapplication/fpxpagetwo/insertedId/<?php echo $this->intidstudent;?>">
		
		<table border="0" cellpadding="0" cellspacing="0" width="100%"  >
            <tbody>
			<tr>
			  <td class="main" align="left" ><br>
			  &nbsp; &nbsp;* Please disable your pop-up blocker before you proceed. <a href=# onClick="showfpxpage('<?php echo $this->baseUrl();?>/registration/showpopupsettings')">(Refer to Pop up Blocker Settings for details)</a>
			 </td>
			  </tr>
              <tr > 
                <td align="left"  height="30" width="350"><br><p style="font-family: Tahoma,sans-serif; font-weight:bold ;font-size: 12px; padding-left: 5px;">Registration&nbsp;&nbsp;->&nbsp;&nbsp;Transaction Details</p></td>
              </tr>
              <tr valign=top>
                <td class="infoBox" align="left"  valign="top">
				 
				 <!-- List of Products -->  
                  <TABLE height="100%" cellSpacing=0 cellPadding=0 width="100%" 
            border=0>
                    <TBODY>
                      <TR>
                        <TD vAlign=top align=center><TABLE 
                  width="100%"  border=0 cellPadding=5 cellSpacing=0 class=productListing>
                            <TBODY>
                                                
                              <TR>
                                <TD class="infoBelow" height="56" colSpan=1 align="center"><BR>
                                <span class="infoBelow"><b>Registration Fee&nbsp;-&nbsp;</b></span> </TD>
                                <TD class="infoBelow" height="56" colSpan=2 align="left"><BR><b>MYR : <?php $dataArray = $this->data; echo $dataArray[0]['totalAmount'];?></b>
                                  <input class=productdata name="TxnAmount" type="hidden" id="TxnAmount" size="10" value="<?php echo $dataArray[0]['totalAmount'];?>">
                                <BR></TD>
                              </TR>
                              <tr>
                              		<td colspan="3">
                              		
                              		<input class=productdata name="sellerID" type="hidden" id="sellerID" value="SE00002795"/>
                              		<input class=productdata name="msgOrdNum" type="hidden" id="msgOrdNum" size="4" value="1" readonly />
                              		<input class=productdata name="serialno" type="hidden" id="serialno" size="4" value="1" readonly />
                              		<input class=productdata name="MsgCurrency" type="hidden" id="MsgCurrency" size="8" value="MYR" readonly />
                              		<input class=productdata name="ChargeType" type="hidden" id="ChargeType" size="8" value="AA" readonly />
                              		<input class=productdata name="SellerBank" type="hidden" id="SellerBank" size="8" value="01" readonly/>
                              		<input type=hidden name="TxnOrderNo" id="TxnOrderNo" size="10" value="<? $hour=date("H")+8;	  echo date("Ymd").$hour.date("is");?>" />
                              		<input type=hidden name="TxnDate" id="TxnDate" size="20" value="<? echo date("Ymd").$hour.date("is");  ?>" />
                              		
                              		
                              		</td>
                              </tr>
                              <TR>
                                <TD height="5" colspan=3 align="right" valign="top"><input type="submit" dojotype="dijit.form.Button"  name="Submit" class="buttonStyle" label="Submit for Payment" value="Submit for Payment" />
                                <img border="0" src="<?php echo $this->baseUrl()?>/images/Verisign.png"/>  <BR>
                                  <BR></TD>
                              </TR>
                              <tr><td colspan="3" align="center">
                              <hr>


          <p class="normal" align="left"><strong>&nbsp;What is FPX?</strong></p>
          <p class="infoBelow" align="justify">&nbsp;&nbsp;&nbsp;A real-time payment solution from your &nbsp;internet banking account.</p>
          
          <p class="normal" align="left"><strong>&nbsp;Benefits of FPX</strong></p>
		  <p class="infoBelow" align="left">&nbsp; - SIMPLE : only in a single click.</p>
          <p class="infoBelow" align="left">&nbsp; - CONVENIENT payment anytime, &nbsp;&nbsp;anywhere.</p>
          <p class="infoBelow" align="left">&nbsp; - SECURE: FPX uses authentication and &nbsp;&nbsp;certification to ensure safe transaction.</p>
		  <p class="infoBelow" align="left">&nbsp; - Real-time transaction.</p>

</td></tr>
                            </TBODY>
                          </TABLE></TD>
                      </TR>
                    </TBODY>
                  </TABLE>
          </table>
    </tbody>
  </table>
</center>
<!-- footer_eof //-->

</form>

