<script type="text/javascript">
function Closefn()
{	 
   	 window.location = "<?php echo $this->baseUrl();?>/registrations/takafulapplication/index";        
}
</script>
<form action="<?php echo $this->baseUrl();?>/registrations/takafulapplication/pdfexport"  dojoType="dijit.form.Form" method="POST">
<fieldset>

    <legend><?php echo $this->translate->_("Report");?></legend>
    <table width="100%"  border="0" class="table3" cellpadding="5" cellspacing="1">
	<tr>
		<th><strong>Bil</strong></th>
		<th><strong>Name</strong></th>
		<th><strong>IC No</strong></th>
		<th><strong>Email</strong></th>
		<th><strong>Reg ID</strong></th>
		<th><strong>Course Name</strong></th>
		<th><strong>Exam Date</strong></th>
		<th><strong>Exam Venue</strong></th>
		<th><strong>Exam Status</strong></th>
	</tr>
	
	<?php 
	$i=1;
	foreach($this->candidate as $data){?>
	<tr>
		<td align="center"><?php echo $i;?>)</td>
		<td><?php echo $data['FName'];?></td>
		<td align="center"><?php echo $data['ICNO'];?></td>
		<td><?php echo $data['EmailAddress'];?></td>
		<td><?php echo $data['Regid'];?></td>
		<td><?php echo $data['ProgramName'];?></td>
		<td><?php echo date('d-m-Y',strtotime($data['DateTime']));?></td>
		<td><?php echo $data['centername'];?>
		<input type="hidden" name="FName[]" id="FName<?php echo $i?>" value="<?php echo $data['FName'];?>">	
		
		<input type="hidden" name="ICNO[]" id="ICNO<?php echo $i?>" value="<?php echo $data['ICNO'];?>">
		<input type="hidden" name="EmailAddress[]" id="EmailAddress<?php echo $i?>" value="<?php echo $data['EmailAddress'];?>">
		<input type="hidden" name="Regid[]" id="Regid<?php echo $i?>" value="<?php echo $data['Regid'];?>">
		<input type="hidden" name="ProgramName[]" id="ProgramName<?php echo $i?>" value="<?php echo $data['ProgramName'];?>">
		<input type="hidden" name="centername[]" id="centername<?php echo $i?>" value="<?php echo $data['centername'];?>">
        <input type="hidden" name="dateofexam[]" id="dateofexam<?php echo $i?>" value="<?php echo date('d-m-Y',strtotime($data['DateTime']));?>">
		
		</td>
		<td align="center">
		<?php 
			if($data['pass']==3){
 				echo "Applied";
 				$varstatus="Applied";}
 			if($data['pass']==1){
 				echo "Pass";
 				$varstatus="Pass";}
 			if($data['pass']==2){
 				echo "Fail"; 
 				$varstatus="Fail";}				
 				
 		?>
 		<input type="hidden" name="status[]" id="status<?php echo $i?>" value="<?php echo $varstatus;?>">
 		</td>
	</tr>
	<?php 
	$i++;
	}?>
	
</table>

<table  class="table" width="100%" >
	  <tr align="right">
       <td>
       	<input type="submit" class="NormalBtnauto"  dojotype="dijit.form.Button" label="<?php echo $this->translate("Export"); ?>" name="Export" id="Export" value="Export"/>
       	<input type="button" name="Close" class="NormalBtn" onClick="Closefn(); return false;" value="Close" dojoType="dijit.form.Button"  label="Close" >	
       </td>
					    </tr>
					</table>
        </fieldset>
      </form>
