
<head>
<style>
.HighlightableRow:hover
{
  background-color: red;
}
div.opnames { 
  width:165px;
  background-color:white;
  border:1px solid #888;
  margin:0px;
  padding:0px; 
  cursor:pointer;
  overflow:auto;  
}
</style>
<script>
   dojo.addOnLoad(function(){
	 dijit.byId('Regpin').focus();
   });
   
   function fncancelpaymentindudual(ICNO){ 

		 if(ICNO != "")
			{   
			    var xhrArgs = {
						url: "<?php echo $this->baseUrl();?>"+"/finance/commonpaymentcancel/fncancelpaymentindudual/ICNO/"+ICNO,
						handleAs:'text',
						load:function(data){					
							document.getElementById('divLogin').style.display = 'block';						
							document.getElementById('divLogin2').style.display = 'block';
							document.getElementById('contentdiv').innerHTML = data;						
						}
				   }
				dojo.xhrGet(xhrArgs); 
			} 
	}

function fncancelpayment(idBatchRegistration,companyflag)
{ 
	 if(idBatchRegistration != "")	{   
		    var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/finance/paymentcancelation/fncancelpayment/idBatchRegistration/"+idBatchRegistration+"/companyflag/"+companyflag,
					handleAs:'text',
					load:function(data){					
						document.getElementById('divLogin').style.display = 'block';						
						document.getElementById('divLogin2').style.display = 'block';
						document.getElementById('contentdiv').innerHTML = data;						
					}
			   }
			dojo.xhrGet(xhrArgs); 
		} 
}
function Closefn()
{
	document.getElementById('contentdiv').innerHTML = "";
	document.getElementById('divLogin').style.display = 'none';
	document.getElementById('divLogin2').style.display = 'none';
} 
</script>
</head>
<body class='claro' >
<form dojoType="dijit.form.Form"  id="initconfigForm" name="form1" method="post" action="">
   <fieldset>
              <legend><?php echo $this->translate->_("Search Registration Pin");?></legend>
             <table  width="80%"  cellpadding="5" cellspacing="5">	    		
      		  <tr >
			       <th colspan = "2" ><b align="center"><?php if($this->idopt == 1){ echo $this->translate->_("Company Name:");}
				           else { echo $this->translate->_("Takaful Name:");}?></b></th>
				   <th colspan = "2"><b><?php echo $this->Name;?></b></th>
				   
			  </tr>
			  </table>
	    	  <table    width="100%">	    		
      		     <tr>
         			<td colspan = "2" class="label"><?php echo $this->translate->_("Registration Pin")?></td>
        			<td colspan = "2"><?php echo $this->lobjPaymentcancelform->Regpin?></td>
					<td><input type ="hidden" id="center" vallue="<?php echo $this->idcompanyflag;?>" /></td>
					<td><input type ="hidden" id="center" vallue="<?php echo $this->idBatchRegistration;?>"/></td>
      		    </tr> 
	            <tr>
	               <td align = "center" colspan = "4">
						<?php echo $this->lobjform->Search;?>
						<?php echo $this->lobjform->Clear;?>
						<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'finance','controller'=>'paymentcancelation','action'=>'index'),'default',true);?>';" />
				   </td>
				</tr>      	
	        </table>
    </fieldset>
</form>
<br>
<?php  if (count($this->countcomp)):  $cnnt = 0; ?>
<form dojoType="dijit.form.Form"  id="initconfigForm1" name="form1" method="post" action="">
<fieldset>
  	<table class="table" width="100%"  cellpadding="5" cellspacing="1">
	        
    		<tr>
    		    <th width="20%" ><?php echo $this->translate->_("Registration Pin");?></th>
				 <th width="20%" ><?php echo $this->translate->_("Registration Date(DD-MM-YYYY)");?></th>
				<th width="10%"><?php echo $this->translate->_("Amount"); ?></th>				
				<th width="10%"><?php echo $this->translate->_("Total Applied"); ?></th>
                <th width="20%"><?php echo $this->translate->_("Status"); ?></th>
                <th width="20%"><?php echo $this->translate->_("Action"); ?></th>				
    		</tr>
    		<tbody>       	            
            <?php  //echo "<pre>"; print_r($this->countcomp);
			$temppinarr=$this->temppins;
			foreach ($this->countcomp as $lobjcategory ): $cnnt++ ?>
               	<tr>
				 <?php if($lobjcategory['paymentStatus'] ==1) 
				 { 
						 if(!empty($lobjcategory['pin']))
						 {?><td bgcolor="#FF8C00"><?php  echo $lobjcategory['registrationPin'];?></td>			 
            	 		<td bgcolor="#FF8C00"><?php  echo $lobjcategory['Date'];?></td>		
          	 	 <td bgcolor="#FF8C00"><?php  echo $lobjcategory['totalAmount'];?></td>
          		 <td bgcolor="#FF8C00"><?php  echo $lobjcategory['totalNoofCandidates'];?></td><td bgcolor="#FF8C00"><?php 
						  echo $this->translate->_("Payment Done Candidates Partially Filled");
                         }						  
						 else
						 { 
						  ?>   
						 <?php if(in_array($lobjcategory['registrationPin'],$temppinarr)) {?>
						 <td bgcolor="#DEB887"><?php  echo $lobjcategory['registrationPin'];?></td>			 
            	 		<td bgcolor="#DEB887"><?php  echo $lobjcategory['Date'];?></td>			
          	 	        <td bgcolor="#DEB887"><?php  echo $lobjcategory['totalAmount'];?></td>
          		       <td bgcolor="#DEB887"><?php  echo $lobjcategory['totalNoofCandidates'];?></td><td bgcolor="#DEB887"><?php
						  echo $this->translate->_("Payment Done But Candidates Not Scheduled");
						  }else {?>
						  <td bgcolor="#DEB887"><?php  echo $lobjcategory['registrationPin'];?></td>			 
            	 		<td bgcolor="#DEB887"><?php  echo $lobjcategory['Date'];?></td>			
          	 	<td bgcolor="#DEB887"><?php  echo $lobjcategory['totalAmount'];?></td>
          		 <td bgcolor="#DEB887"><?php  echo $lobjcategory['totalNoofCandidates'];?></td><td bgcolor="#DEB887"><?php
						  echo $this->translate->_("Payment Done But No Candidates Added");
						 
						  }
                         }						  
				 }				 
				 else if($lobjcategory['paymentStatus'] == 0)
				 {  
				     if($lobjcategory['registrationPin']==0)
					 {
					 ?><td bgcolor="#F75D59"><?php  echo $lobjcategory['registrationPin'];?></td>			 
            	 	<td bgcolor="#F75D59"><?php  echo $lobjcategory['Date'];?></td>				
          	 	 <td bgcolor="#F75D59"><?php  echo $lobjcategory['totalAmount'];?></td>
          		 <td bgcolor="#F75D59"><?php  echo $lobjcategory['totalNoofCandidates'];?></td><td bgcolor="#F75D59"><?php
				     echo $this->translate->_("Payment Not Done");
					 }
                     elseif($lobjcategory['registrationPin'])
					{ 
					 ?><td bgcolor="#F75D59"><?php  echo $lobjcategory['registrationPin'];?></td>			 
            	 		<td bgcolor="#F75D59"><?php  echo $lobjcategory['Date'];?></td>		
          	 	 <td bgcolor="#F75D59"><?php  echo $lobjcategory['totalAmount'];?></td>
          		 <td bgcolor="#F75D59"><?php  echo $lobjcategory['totalNoofCandidates'];?></td><td bgcolor="#F75D59"><?php
						  echo $this->translate->_("Payment Not Done/Registration");
                     }						 
				 } 
				 else if($lobjcategory['paymentStatus'] == 2)
				  { ?><td bgcolor="#52D017"><?php  echo $lobjcategory['registrationPin'];?></td>			 
            	 	<td bgcolor="#52D017"><?php  echo $lobjcategory['Date'];?></td>			
          	 	 <td bgcolor="#52D017"><?php  echo $lobjcategory['totalAmount'];?></td>
          		 <td bgcolor="#52D017"><?php  echo $lobjcategory['totalNoofCandidates'];?></td><td bgcolor="#52D017"><?php
				  echo $this->translate->_("Registration Completed"); 
				 }
				 else if($lobjcategory['paymentStatus'] == 3)
				  { ?><td bgcolor="#FFD700"><?php  echo $lobjcategory['registrationPin'];?></td>			 
            	 	<td bgcolor="#FFD700"><?php  echo $lobjcategory['Date'];?></td>				
          	 	 <td bgcolor="#FFD700"><?php  echo $lobjcategory['totalAmount'];?></td>
          		 <td bgcolor="#FFD700"><?php  echo $lobjcategory['totalNoofCandidates'];?></td><td bgcolor="#FFD700"><?php
				  echo $this->translate->_("Payment Cancelled"); 
				 }
				 ?></td>
				 <?php if($lobjcategory['paymentStatus'] ==1) 
				 { 
						 if(!empty($lobjcategory['pin']))
						 {?><td bgcolor="#FF8C00"><a href="" >
						  <?php echo $this->translate->_("Move Candidates");
                         }						  
						 else
						 { ?>   
						 <?php if(in_array($lobjcategory['registrationPin'],$temppinarr)) {?>
						 <td>
						 <?php }else {?>
						 <td bgcolor="#DEB887"><a href="javascript:fncancelpayment('<?php echo $lobjcategory['idBatchRegistration']?>',<?php echo $lobjcategory['companyflag']?>);" >
				       <?php echo $this->translate->_("Cancel Payment");
                         } }						  
				 }	?></a></td>
          	  </tr>     		 
          	  <?php  endforeach; ?>
     		</tbody>	    	
   </table>   
  </form>  
</fieldset> 
 <form method="post" action="">
 <input type="hidden" name="lvartype" id="lvartype" value="<?php echo  $this->lvartype;?>">
 <?php  endif; ?>
 <div runat="server" id="divLogin"  style="display:none; z-index: 153; position: fixed; left: 23%; width: 750px; top:5%">
 <div runat="server" id="divLogin2"  style="display:none; opacity:1.0; z-index: 150; position: relative; left: 0%; height: 100%; width: 100%; top: 0%;"> </div>
					                <div id="scroll" style="height: 600px; width: 100%; overflow:auto;">
					                <asp:Panel runat="server" ID="popupLogin">
					                    <asp:Panel runat="server" ID="popupContent1">
					                        <table style="height: 125px; width: 100%; background-color: #FFFFFF;" border="3" frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">
					                                    	<div id="contentdiv"></div>					                                      
					                                   </td>
					                                </tr>
					                                <tr>
					                                    <td colspan="2" align="left">
					                                        <asp:Label ID="lblmandatory" runat="server" Text="* Mandatory Information Required"
					                                            class="LeftLabelStyle" Width="350px" />
					                                    </td>
					                                </tr>
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
    </div>
 </div>
 </form>
 </body>
</html>
