
<head>
<style>
.HighlightableRow:hover
{
  background-color: red;
}


div.opnames { 
  width:165px;
  background-color:white;
  border:1px solid #888;
  margin:0px;
  padding:0px; 
  cursor:pointer;
  overflow:auto;  
}
</style>
<script>
   dojo.addOnLoad(function(){
	 dijit.byId('CT').focus();	
    /* var flg =  <?php echo $this->companytakaful;?>;
     if(flg == 1)
    {
	  fnlist(flg);
    }
    if(flg == 2)
	{
	  fnlist(flg);	
	}*/
	
   });
   
   function fncancelpaymentindudual(ICNO){ 

		 if(ICNO != "")
			{   
			    var xhrArgs = {
						url: "<?php echo $this->baseUrl();?>"+"/finance/commonpaymentcancel/fncancelpaymentindudual/ICNO/"+ICNO,
						handleAs:'text',
						load:function(data){					
							document.getElementById('divLogin').style.display = 'block';						
							document.getElementById('divLogin2').style.display = 'block';
							document.getElementById('contentdiv').innerHTML = data;						
						}
				   }
				dojo.xhrGet(xhrArgs); 
			} 
	}

function fncancelpayment(idBatchRegistration,companyflag){ 
	 if(idBatchRegistration != "")	{   
		    var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/finance/paymentcancelation/fncancelpayment/idBatchRegistration/"+idBatchRegistration+"/companyflag/"+companyflag,
					handleAs:'text',
					load:function(data){					
						document.getElementById('divLogin').style.display = 'block';						
						document.getElementById('divLogin2').style.display = 'block';
						document.getElementById('contentdiv').innerHTML = data;						
					}
			   }
			dojo.xhrGet(xhrArgs); 
		} 
}
	
function fnsetvalue(opname){
	document.getElementById("Company").value=opname;
	document.getElementById("opnames").innerHTML="";
}
function fnGetOperatorNames(){

	optype=dijit.byId('CT').value;
	namestring=document.getElementById("Company").value;
    if(optype==""){
        alert("Please Select Operator Type");
        return false;
    }
	if(namestring!=""){
			var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/registrations/companyapplication/getoperatornames/opType/"+optype+"/namestring/"+namestring,
					handleAs:'text',
					load:function(data){ 
						//AutoFillNextEditableDropDown("opnames",data);
						document.getElementById("opnames").innerHTML=data;
					}
			   }
			dojo.xhrGet(xhrArgs);
	}
}
	
function Closefn(){
	document.getElementById('contentdiv').innerHTML = "";
	document.getElementById('divLogin').style.display = 'none';
	document.getElementById('divLogin2').style.display = 'none';
} 
</script>
</head>
<body class='claro' >
<form dojoType="dijit.form.Form"  id="initconfigForm" name="form1" method="post" action="<?php echo $this->baseUrl();?>/finance/paymentcancelation/index/search/1">
   <fieldset>
           <legend><?php echo $this->translate->_("Payment Cancel");?></legend>
	    	<table    width="100%">	    		
      		  <tr>
         			<td class="label"><?php echo $this->translate->_("Registration Type")?></td>
        			<td><?php echo $this->lobjPaymentcancelform->CT?></td>
					<td><?php echo $this->translate("Company/Takaful Name");?></td>
                   <td><?php echo $this->lobjPaymentcancelform->Company;?><div id="opnames" class="opnames"></div></td>
				   
				   					
      		 </tr>     		
              <tr>
	               <td align = "center" colspan = "4">
						<?php echo $this->lobjform->Search;?>
						<?php echo $this->lobjform->Clear;?>
				   </td>
				</tr>      	
	        </table>		

    </fieldset>
</form>
<br>
<?php  if (count($this->countcomp)):  $cnnt = 0; ?>
<form dojoType="dijit.form.Form"  id="initconfigForm1" name="form1" method="post" action="">
<fieldset>
  	<table class="table" width="100%"  cellpadding="5" cellspacing="1">
    		<tr>
			    <th width="35%"><?php if($this->countcomp[0]['companyflag'] == 1) echo $this->translate->_("Company Name"); else echo $this->translate->_("Takaful Name");?></th>
    		    <?php if($this->companytakaful == 1) {?>
				<th width="35%" ><?php echo $this->translate->_("Address");?></th>
				<th width="30%"><?php echo $this->translate->_("Email"); ?></th>				
				<?php }else{?>
				<th width="35%" ><?php echo $this->translate->_("TakafulShortName");?></th>
				<th width="30%"><?php echo $this->translate->_("Email"); ?></th>				
				<?php }?>
               			
    		</tr>
    		<tbody>       	            
            <?php  foreach ($this->countcomp as $lobjcategory ): $cnnt++ ?>
         	 <tr>  
			      <td><a href="<?php echo $this->baseUrl();?>/finance/paymentcancelation/edit/idcompany/<?php echo $lobjcategory['idCompany'];?>/idct/<?php echo $this->companytakaful;?>"><?php  echo $lobjcategory['Name'];?></a></td>
                 <?php if($this->companytakaful == 1) {?>
            	 <td><?php echo $lobjcategory['Address'];?></td>          					
          	 	 <td><?php echo $lobjcategory['Email'];?></td>
				 <?php }else{?>
				 <td ><?php echo $lobjcategory['TakafulShortName'];?></td>
				<td ><?php echo $lobjcategory['email']; ?></td>
				<?php }?>
          		 
				<?php //if($lobjcategory['ModeofPayment'] == 1)   echo $this->translate->_("FPX"); ?>
				 <?php // if($lobjcategory['ModeofPayment'] == 2)  echo $this->translate->_("Credit Card"); ?>
				 <?php  //if($lobjcategory['ModeofPayment'] == 4)  echo $this->translate->_("Cheque"); ?>
				 <?php  //if($lobjcategory['ModeofPayment'] == 7)  echo $this->translate->_("Credit to IBFIM"); ?>
				 <?php  //if($lobjcategory['ModeofPayment'] == 181)  echo $this->translate->_("Paylater"); ?>
				 <?php // if($lobjcategory['ModeofPayment'] == 10)  echo $this->translate->_("MIGS"); ?>
				
          	  </tr>     		 
          	  <?php  endforeach; ?>
     		</tbody>	    	
   </table>   
  </form>  
</fieldset> 
 <form method="post" action="">
 <input type="hidden" name="lvartype" id="lvartype" value="<?php echo  $this->lvartype;?>">
 <?php  endif; ?>
 <div runat="server" id="divLogin"  style="display:none; z-index: 153; position: fixed; left: 23%; width: 750px; top:5%">
 <div runat="server" id="divLogin2"  style="display:none; opacity:1.0; z-index: 150; position: relative; left: 0%; height: 100%; width: 100%; top: 0%;"> </div>
					                <div id="scroll" style="height: 600px; width: 100%; overflow:auto;">
					                <asp:Panel runat="server" ID="popupLogin">
					                    <asp:Panel runat="server" ID="popupContent1">
					                        <table style="height: 125px; width: 100%; background-color: #FFFFFF;" border="3" frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">
					                                    	<div id="contentdiv"></div>					                                      
					                                   </td>
					                                </tr>
					                                <tr>
					                                    <td colspan="2" align="left">
					                                        <asp:Label ID="lblmandatory" runat="server" Text="* Mandatory Information Required"
					                                            class="LeftLabelStyle" Width="350px" />
					                                    </td>
					                                </tr>
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
    </div>
 </div>
 </form>
 </body>
</html>
