<html>
<script>    
dojo.addOnLoad(function(){
		 dijit.byId('field10').set('placeHolder','dd-mm-yyyy');

		 <?php if($this->venufield==0 && $this->venufield=="") { ?>
			 dijit.byId('field5').set('value','');
			 dijit.byId('field5').set('placeHolder','Select');
			<?php }?> 
	  });
	          




function fnGetVenuedetails(examdate){ 
	 var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/examination/examreport/getvebudetails/examdate/"+examdate,
				handleAs:'json',
				load:function(data){ 
					AutoFillNextEditableDropDown("field5",data); 
				}
		   }
		dojo.xhrGet(xhrArgs); 
} 	

function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}

function fngetstudentdetails(idcenter,idprogram,idsession,examdate,type) {
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/examination/examreport/reportdetails/idcenter/"+idcenter+"/idprogram/"+idprogram+"/idsession/"+idsession+"/examdate/"+examdate+"/type/"+type,
			handleAs:'text',
			load:function(data){ 
				document.getElementById('contentdiv').innerHTML = data;
				document.getElementById('divLogin').style.display = 'block';
				document.getElementById('prgmdetails').style.display = 'block';
			}
	   }
	dojo.xhrGet(xhrArgs);
}

function closebox() {
	document.getElementById('contentdiv').innerHTML = "";
	document.getElementById('divLogin').style.display = 'none';
	document.getElementById('prgmdetails').style.display = 'none';
}
</script>

</head>
<body class="claro">

	<fieldset>
	<legend><?php echo "Exam Report";?></legend>
        <form action="<?php echo $this->baseUrl();?>/examination/examreport/index/search/1" method="POST" dojoType="dijit.form.Form"  id="myForm"  name= "myForm">
            <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					  return true;
                } else {
                    return false;
                }
				</script>
      <table width="100%" class="table">
                <tr>
                   <td><?php  echo "Exam Date";?><?php echo " ";?><?php echo"(dd-mm-yyyy)";?><span class="reqMark">*</span></td>
                   <td><?php echo $this->lobjform->field10;?></td>  
                   <td><?php  echo "Venue";?></td>
                   <td><?php  echo $this->lobjform->field5;?></td>        
                </tr>   
                <tr>
              	 <td align = "center" colspan = "4">
                    <?php echo $this->lobjform->Search;?>
					 <input name="Clear" id="Clear" type="Clear"   class="NormalBtn" dojoType=dijit.form.Button label = <?php echo $this->translate("Clear");?> value=<?php echo $this->translate("Clear");?> onclick="window.location.href='<?php echo $this->url(array('module'=>'examination','controller'=>'examreport', 'action'=>'index'),'default',true);?>';" >
				 </td>
               </tr>
       </table>
       </form>
       </fieldset>
      
      <?php   if (count($this->paginator)): ?>
       <br>
       <fieldset>       
       <?php $centerarray = array();?>
    <table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr>
        <th><?php echo $this->translate("Venue") ?></th>
        <th><?php echo $this->translate("Program") ?></th>
        <th><?php echo $this->translate("Session") ?></th>
        <th><?php echo $this->translate("Start Time") ?></th>
        <th><?php echo $this->translate("Close Time") ?></th>
        <th><?php echo $this->translate("Auto Close Time") ?></th>
        <th><?php echo $this->translate("Exam Date (dd-mm-yyyy)") ?></th>
        <th><?php echo $this->translate("Registered") ?></th>
        <th><?php echo $this->translate("Attended") ?></th>
        <th><?php echo $this->translate("Absent") ?></th>
        <th><?php echo $this->translate("Pass") ?></th>
        <th><?php echo $this->translate("Fail") ?></th>
    </tr>
        
       
      
   	<?php if (count($this->paginator)): ?>
	<?php foreach ($this->paginator as $lobjexamreport ): ?>  
    <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
         <td>
         	<?php if(!in_array($lobjexamreport['idcenter'],$centerarray)){
				$centerarray[] = $lobjexamreport['idcenter'];		
				$centerarrays[$lobjexamreport['idcenter']] = array();
				print_r($this->escape($lobjexamreport['centername']));
			}?>
		 </td>
         <td>
			<?php if(!in_array($lobjexamreport['ProgramName'],$centerarrays[$lobjexamreport['idcenter']])){
					$centerarrays[$lobjexamreport['idcenter']][] = $lobjexamreport['ProgramName'];
					$centerarrayss[$lobjexamreport['idcenter']][$lobjexamreport['IdProgrammaster']] = array();;								
					 print_r($this->escape($lobjexamreport['ProgramName']));
			}?>
		 </td>
         <td>
			<?php if(!in_array($lobjexamreport['managesessionname'],$centerarrayss[$lobjexamreport['idcenter']][$lobjexamreport['IdProgrammaster']])){
					$centerarrayss[$lobjexamreport['idcenter']][$lobjexamreport['IdProgrammaster']][] = $lobjexamreport['managesessionname'];								
					print_r($this->escape($lobjexamreport['managesessionname']));
			}?>
         </td> 
         <?php if($lobjexamreport['ExamStartTime'] == "" || $lobjexamreport['ExamStartTime'] == NULL) { ?>
         	<td>00:00:00</td>
         <?php } else {?>	
         <td>
			<?php if(!in_array($lobjexamreport['ExamStartTime'],$centerarrayss[$lobjexamreport['idcenter']][$lobjexamreport['IdProgrammaster']])){
					$centerarrayss[$lobjexamreport['idcenter']][$lobjexamreport['IdProgrammaster']][] = $lobjexamreport['ExamStartTime'];								
					print_r($this->escape($lobjexamreport['ExamStartTime']));
			}?>
		</td>
		<?php } ?>
		
		
         <?php if($lobjexamreport['CloseTime'] == "" || $lobjexamreport['CloseTime'] == NULL) { ?>
         	<td>00:00:00</td>
         <?php } else {?>	
         <td>
			<?php if(!in_array($lobjexamreport['CloseTime'],$centerarrayss[$lobjexamreport['idcenter']][$lobjexamreport['IdProgrammaster']])){
					$centerarrayss[$lobjexamreport['idcenter']][$lobjexamreport['IdProgrammaster']][] = $lobjexamreport['CloseTime'];								
					print_r($this->escape($lobjexamreport['CloseTime']));
			}?>
		</td>
		<?php } ?>
		
		
         <?php if($lobjexamreport['AutoSubmitCloseTime'] == "" || $lobjexamreport['AutoSubmitCloseTime'] == NULL) { ?>
         	<td>00:00:00</td>
         <?php } else {?>	
         <td>
			<?php if(!in_array($lobjexamreport['AutoSubmitCloseTime'],$centerarrayss[$lobjexamreport['idcenter']][$lobjexamreport['IdProgrammaster']])){
					$centerarrayss[$lobjexamreport['idcenter']][$lobjexamreport['IdProgrammaster']][] = $lobjexamreport['AutoSubmitCloseTime'];								
					print_r($this->escape($lobjexamreport['AutoSubmitCloseTime']));
			}?>
		</td>
		<?php } ?>
		
		
		
         <td><?php print_r($this->escape($lobjexamreport['ExamDate']));?></td>
         
         <td><a href="#" onclick="fngetstudentdetails('<?php echo $lobjexamreport['idcenter'];?>','<?php echo $lobjexamreport['IdProgrammaster'];?>','<?php echo $lobjexamreport['idmangesession'];?>','<?php echo $lobjexamreport['exdate'];?>','registered')"><?php print_r($this->escape($lobjexamreport['Registered']));?></a></td>
         <?php $registeredsum[] = $this->escape($lobjexamreport['Registered']);?>
         
         <?php $this->lobjexamreport = new Examination_Model_Examreports();?>
         <?php $larrresultattended = $this->lobjexamreport->fnGetCountOfStudents($lobjexamreport['idcenter'],$lobjexamreport['IdProgrammaster'],$lobjexamreport['idmangesession'],$lobjexamreport['exdate'],'3');?>
         <?php if(count($larrresultattended) == '0') { ?>
         <td><?php echo count($larrresultattended);?></td>	
         <?php } else { ?>	
         <td><a href="#" onclick="fngetstudentdetails('<?php echo $lobjexamreport['idcenter'];?>','<?php echo $lobjexamreport['IdProgrammaster'];?>','<?php echo $lobjexamreport['idmangesession'];?>','<?php echo $lobjexamreport['exdate'];?>','attended')"><?php echo count($larrresultattended);?></a></td>
         <?php } ?>
         <?php $attendedsum[] = count($larrresultattended);?>
         
          
          <?php if(($lobjexamreport['Registered'] - count($larrresultattended)) == '0' ) {?>
          <td><?php echo ($lobjexamreport['Registered'] - count($larrresultattended));?></td>
         <?php } else { ?>	
         <td><a href="#" onclick="fngetstudentdetails('<?php echo $lobjexamreport['idcenter'];?>','<?php echo $lobjexamreport['IdProgrammaster'];?>','<?php echo $lobjexamreport['idmangesession'];?>','<?php echo $lobjexamreport['exdate'];?>','absent')"><?php echo ($lobjexamreport['Registered'] - count($larrresultattended));?></a></td>
         <?php } ?>
         <?php $absentsum[] = $lobjexamreport['Registered'] - count($larrresultattended);?>
         
         
         <?php $larrresultpass = $this->lobjexamreport->fnGetCountOfStudents($lobjexamreport['idcenter'],$lobjexamreport['IdProgrammaster'],$lobjexamreport['idmangesession'],$lobjexamreport['exdate'],'1');?>
         <?php if(count($larrresultpass) == '0') { ?>
         <td><?php echo count($larrresultpass);?></td>
         <?php } else {?>	
         <td><a href="#" onclick="fngetstudentdetails('<?php echo $lobjexamreport['idcenter'];?>','<?php echo $lobjexamreport['IdProgrammaster'];?>','<?php echo $lobjexamreport['idmangesession'];?>','<?php echo $lobjexamreport['exdate'];?>','passed')"><?php echo count($larrresultpass);?></a></td>
         <?php } ?>	
         <?php $passedsum[] = count($larrresultpass);?>
         
         
         
         <?php $larrresultfail = $this->lobjexamreport->fnGetCountOfStudents($lobjexamreport['idcenter'],$lobjexamreport['IdProgrammaster'],$lobjexamreport['idmangesession'],$lobjexamreport['exdate'],'2');?>
         <?php if(count($larrresultfail) == '0') { ?>
         <td><?php echo count($larrresultfail);?></td>
         <?php } else {?>	
         <td><a href="#" onclick="fngetstudentdetails('<?php echo $lobjexamreport['idcenter'];?>','<?php echo $lobjexamreport['IdProgrammaster'];?>','<?php echo $lobjexamreport['idmangesession'];?>','<?php echo $lobjexamreport['exdate'];?>','failed')"><?php echo count($larrresultfail);?></a></td>
         <?php } ?>
         <?php $failedsum[] = count($larrresultfail);?>
      
    </tr>
      <?php endforeach; ?>
	   <?php endif; ?> 


	 <tr>
	 <td colspan="6" align="center"></td>
	  <td align="center"><b><?php echo $this->translate("Total") ?></b></td>
	  <td ><b><?php echo array_sum($registeredsum);?></b></td>
	  <td><b><?php echo array_sum($attendedsum);?></b></td>
	  <td ><b><?php echo array_sum($absentsum);?></b></td>
	  <td ><b><?php echo array_sum($passedsum);?></b></td>
	  <td ><b><?php echo array_sum($failedsum);?></b></td>
   	</tr>
	 <tr>
	  <td colspan="12" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   	</tr>
  <tr>
	  <td colspan="12" align="right"><input name="Print" id="Print" type="Button"   class="NormalBtn" dojoType=dijit.form.Button label = <?php echo $this->translate("Print");?> value=<?php echo $this->translate("Print");?> onclick="window.location.href='<?php echo $this->url(array('module'=>'examination','controller'=>'examreport', 'action'=>'pdfexport','venu'=>$this->venufield,'examdate'=>$this->datefield),'default',true);?>';" ></td>
 </tr>
</table>

	<div runat="server" id="divLogin"  style="display:none; z-index: 153; position: absolute; left: 18%; width: 850px; top: 150px;">
					                <asp:Panel runat="server" ID="popupLogin">
					                    <asp:Panel runat="server" ID="popupContent1">
					                        <table style="height: 125px; width: 100%; background-color: #FFFFFF;" border="3"   frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">
					                                    	<div id="contentdiv"></div>
					                                      
					                                   </td>
					                                </tr>
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
					            </div>
<div runat="server" id="prgmdetails" style="display:none; opacity:0.4; z-index: 150; position: absolute; left: 0%; height: 100%; width: 100%; top: 0%;">

<asp:Panel >
					                    <asp:Panel  >
					                        <table style="height: 100%; width: 100%; background-color: #000000;" border="3"   frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">
					                                    	
					                                      
					                                   </td>
					                                </tr>
					                               
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
</div>	

</fieldset>   
<?php endif; ?>
</body>
</html>























