
<head>
<script>
dojo.addOnLoad(function(){
	dijit.byId('field3').focus();	
	});


dojo.addOnLoad(function(){
	dijit.byId('field3').focus();	
	});

function checkAll(){
 	nodes = dojo.query('[name=\"IDApplication[]\"]');
 	if(document.getElementById('IDApplication').checked == true) {		 
 		
 		dojo.forEach(nodes,
 		    function(node)
 		    {
 		        dijit.getEnclosingWidget(node).set("checked",true);
 		    }
 		);
 	}
 	else {	
 		dojo.forEach(nodes,
 			    function(node)
 			    {
 			        dijit.getEnclosingWidget(node).set("checked",false);
 			    }
 			);
 	}
 }

function validateform(){
	 var n = <?php echo $this->countcomp;?>;
	 //alert(n);
	 flgs = 0;	 
	 for(i=1;i<=n;i++){
		 
		if(document.getElementById("IDApplication"+i).checked) 
			flgs	=	1;
		
	 }		
	 if( flgs == 0){
	    alert('Please Select Atleast One Student');		
	     return false;
	 }
	 else{
	   return true;
	 }
} 

</script>
</head>

<fieldset>
<legend><?php echo $this->translate->_("Company Payment Details Search");?></legend>
<form id="initconfigForm" name="form1" method="post" action="<?php echo $this->baseUrl();?>/finance/approvecreditstudent/index/search/1">
	    	<table width="100%">	    		
      			<tr>
      			
         			<td class="label"><?php echo $this->translate->_("Company Name")?></td>
        			<td><?php echo $this->lobjform->field3?></td>	
        			<td class="label"><?php echo $this->translate->_("Contact Person")?></td>
        			<td><?php echo $this->lobjform->field4?></td>        	
      			</tr>	
      			<tr>
         			<td class="label"><?php echo $this->translate->_("Company Short Name")?></td>
        			<td><?php echo $this->lobjform->field2?></td>	
        			<td></td>
        			<td></td>        	
      			</tr>   
		      	  <tr>
	               <td align = "center" colspan = "4">
						<?php echo $this->lobjform->Search;?>
						<?php echo $this->lobjform->Clear;?>
				   </td>
				   </tr>      	
	        </table>		
</form>
</fieldset>
<br />
<?php  if (count($this->paginator)): ?>
<fieldset>
  	<table class="table" width="100%" cellpadding="5" cellspacing="1">
		<thead>
    		<tr>
				<th><?php echo $this->translate->_("Company Name");?></th>
				<th><?php echo $this->translate->_("Company Short Name")?></th>
				<th><?php echo $this->translate->_("Contact Person")?></th>
			    <th><?php echo $this->translate->_("Number Of Candidates")?></th>
			   
									
    		</tr>
    	</thead>
    	    	
    	<tbody>       	            
            <?php   foreach ($this->paginator as $lobjcategory ): // ($this->accountdetails as $lobjcategory ): ?>
            <tr>  
          		<td><a href="<?php echo $this->url(array('module'=>'finance','controller'=>'approvecreditstudent', 'action'=>'companypaymentedit' , 'lvaredit'=>$lobjcategory['IDApplication']),'default',true);?>" ><?php  echo $lobjcategory['CompanyName'];?></a></td>
          		<td><?php  echo $lobjcategory['ShortName'];?></td>
          		<td><?php  echo $lobjcategory['ContactPerson'];?></td>
          		<td><?php  echo $lobjcategory['totalNoofCandidates'];?></td>
     		</tr>
     		<?php  endforeach; ?>
     		 
     	</tbody>		
     		<tr>
	        	
   			</tr>
      </table>
   </fieldset> 
   <?php  endif; ?>
   </html>
