<html>
<head>

<script>

function clearpageAdd() {
	dijit.byId('Dates').set('value',null);
	dijit.byId("Venues").set('value','');
	dijit.byId('Venues').set('value','Select');
	dijit.byId("examsession").set('value','')
	dijit.byId('examsession').set('value','Select');

}
function fnvalidakey(chk,type)
{
	if(isNaN(document.getElementById('Part'+type+chk).value)){		
		alert("Only digits");
		document.getElementById('Part'+type+chk).value=0;
		return false;
	}
}


function numbersonly(e){
	var unicode=e.charCode? e.charCode : e.keyCode
	if (unicode!=8){ //if the key isn't the backspace key (which we should allow)
	if (unicode<48||unicode>57) //if not a number
	return false //disable key press
	}
}

function fnvalidatetextmarkspart(chk,type)
{
	//alert(chk);
	if(document.getElementById('Part'+type+chk).value=="")
	{
		document.getElementById('Part'+type+chk).value=0;
		PartA=document.getElementById('PartA'+chk).value;
		PartB=document.getElementById('PartB'+chk).value;
		PartC=document.getElementById('PartC'+chk).value;
		Total=parseInt(PartA)+parseInt(PartB)+parseInt(PartC);
		document.getElementById('Total'+chk).value=Total;
        
		}
}
function fnvalidatemarkspart(chk,prg,type)
{

	if(isNaN(document.getElementById('Part'+type+chk).value)){		
		alert("Only digits");
		document.getElementById('Part'+type+chk).value=0;
		return false;
	}
	
	if(document.getElementById('Part'+type+chk).value=="")
	{
		return false;
	}
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/examination/manualmarksentry/validatemaxpartquestions/Program/"+prg+"/type/"+type,
			handleAs:'text',
			load:function(data){ 
				//alert(data);
				count=data;
				count=parseInt(count);
				marks=document.getElementById('Part'+type+chk).value;
				marks=parseInt(marks);
				//alert(marks);
				
				if(marks<=count)
				{
					PartA=document.getElementById('PartA'+chk).value;
					PartB=document.getElementById('PartB'+chk).value;
					PartC=document.getElementById('PartC'+chk).value;
					Total=parseInt(PartA)+parseInt(PartB)+parseInt(PartC);
					document.getElementById('Total'+chk).value=Total;
				  	 
				}
				else
				{
					alert("marks can't be more than "+count)
					document.getElementById('Part'+type+chk).value=0;
					PartA=document.getElementById('PartA'+chk).value;
					PartB=document.getElementById('PartB'+chk).value;
					PartC=document.getElementById('PartC'+chk).value;
					Total=parseInt(PartA)+parseInt(PartB)+parseInt(PartC);
					document.getElementById('Total'+chk).value=Total;
				  	 
				}

				
				
		
				
			}
	   }
	dojo.xhrGet(xhrArgs);
	
}



function fnvalidatetotalmarks(chk,prg)
{

	if(isNaN(document.getElementById('Total'+chk).value)){		
		alert("Wait Total Marks cannot be NaN");
		document.getElementById('Part'+type+chk).value=0;
		return false;
	}
	
				
				
				marks=document.getElementById('Total'+chk).value;
				marks=parseInt(marks);
				prg=parseInt(prg);
				//alert(marks);
				
				if(prg==3 || prg==4 )
				{
					if(marks>50)
					{
						alert("total marks can't be more than 50");
						document.getElementById('Total'+chk).value=0;	
					}
					
					
				  	 
				}
				else
				{
					if(marks>100)
					{
						alert("total marks can't be more than 100");
						document.getElementById('Total'+chk).value=0;	
					}
				  	 
				}

				
				
		
				
	
	
}


function fnvalidate(idchk,chk,prg)
	{ 	  	

	//alert(chk);
	var str1="IDApplication";
		var str2=chk;
		var actived=document.getElementById(str1.concat(str2)).checked;	
	  		//alert(actived);
	  		if(actived==true)
	  		{
	  			 var Total=dojo.byId('Total'+chk);
				  dojo.style(Total,'display','block');	
	  	  
		 // alert("Abc");
	  		}
	  		else
	  		{	
	  	  	 var PartA=dojo.byId('PartA'+chk);
  		 dojo.style(PartA,'display','none');
  	  	 var PartB=dojo.byId('PartB'+chk);
  		 dojo.style(PartB,'display','none');	
  	  	 var PartC=dojo.byId('PartC'+chk);
  		 dojo.style(PartC,'display','none');
  	  	 var Total=dojo.byId('Total'+chk);
  		 dojo.style(Total,'display','none');		
	  		}



	  		if(actived==true)
	  		{
	  			var xhrArgs = {
	  					url: "<?php echo $this->baseUrl();?>"+"/examination/manualmarksentry/validatestudentprogram/Program/"+prg,
	  					handleAs:'text',
	  					load:function(data){ 
	  						var n=data.split(",");
	  						pat1=n[0];
	  						pat2=n[1];
	  						//alert(n.length);
	  						count=n.length;
	  						count=parseInt(count);
	  						if(count==1)
	  						{
	  							var PartA=dojo.byId('Part'+pat1+chk);
		  					  	  dojo.style(PartA,'display','block');
		  					 // 	  var PartB=dojo.byId('Part'+pat1+chk);
		  						//  dojo.style(PartB,'display','block');	
		  						 // var PartC=dojo.byId('Part'+pat1+chk);
		  					  	  //dojo.style(PartC,'display','block');
		  					  	 
	  						}
	  						else
	  						{
	  							var PartA=dojo.byId('Part'+pat1+chk);
		  					  	  dojo.style(PartA,'display','block');
		  					  	  var PartB=dojo.byId('Part'+pat2+chk);
		  						  dojo.style(PartB,'display','block');	
		  						 // var PartC=dojo.byId('Part'+pat1+chk);
		  					  	  //dojo.style(PartC,'display','block');
		  					  	 
	  						}
	  						
	  				
	  						
	  					}
	  			   }
	  			dojo.xhrGet(xhrArgs);
	  		}
	  		 
	  }

function newvenuelists()
{
	   iddate=dijit.byId("Dates");
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/examination/manualmarksentry/newvenuelistsnames/iddate/"+iddate,
			handleAs:'json',
			load:function(data){
				if(data==null || data=='')
				{
    				alert("There is no scheduler for this date Please change the Date");
    				dijit.byId("Dates").set('value',null);
    				dijit.byId("Venues").setValue('');
    				flag=1;
				}
				else
				{
					AutoFillNextEditableDropDown("Venues",data);
					
				} 
			
			}
	   }
	dojo.xhrGet(xhrArgs);
}

function newsessionlists(venueid)
{
	   iddate=dijit.byId("Dates");
	   if(iddate==null || iddate=='' )
	   {
		 //alert('Please select the exam date first');  
	   }
	   else{
		   if(venueid!='')
		   {
		   
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/examination/manualmarksentry/newsessionlistsnames/iddate/"+iddate+"/venueid/"+venueid,
			handleAs:'json',
			load:function(data){ 
				if(data==null || data=='')
				{
    				alert("The session started already for this exam venue or time elapsed for this session");
    				dijit.byId("examsession").setValue('');
    				
				}
				else
				{
				AutoFillNextEditableDropDown("examsession",data);
			//	console.log(options);
			//keyvalue = options.items[0].key[0]	
			//dijit.byId("examsession").set('value',keyvalue);
				
		
				} 
			
			
			}
	   }
	dojo.xhrGet(xhrArgs);
	   }
	   }
}


function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };
	//keyvalue = options.items[0].key[0]	
	//dijit.byId("Venues").set('value',keyvalue);
	
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}



function AutoFillNextEditableDropDown2(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };
	 //console.log(options);
	//keyvalue = options.items[0].key[0]	
	//dijit.byId("examsession").set('value',keyvalue);
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}

function validateform(){
 var n = <?php echo $this->countresult;?>;
 //alert(n);
	 flgs = 0;	
	// def = new Array(); 
	 for(i=0;i<n;i++){
		 
		if(document.getElementById("IDApplication"+i).checked) 
		{
			
		//	def.push(i);	
			flgs	=	1;
		}
	 }		
	 if( flgs == 0){
	    alert('Please Select Atleast One Canditate');		
	     return false;
	 }
	 else{
		/* for(i=0;i<def.length;i++)
			{
				PartA=document.getElementById('PartA'+def[i]).value;
				PartB=document.getElementById('PartB'+def[i]).value;
				PartC=document.getElementById('PartC'+def[i]).value;
				Total=parseInt(PartA)+parseInt(PartB)+parseInt(PartC);
				document.getElementById('Total'+def[i]).value=Total;
				
			}
		 */
	   return true;
	 }
} 

///////////////////////////////////////////////////////////////////// for calender  disabling dates/////////////////////////
function vxc(fd){
	//alert(fd);
	
		return isValidDate(fd);

}
var currentDate = 0;

function isValidDate(fdate) {  
	//alert(fdate)
//alert(fdate)
//compute of date for SQL query (year and month)        
var dt = "<?php echo date('Y-m-d');?>";//dojo.date.locale.format(fdate, {datePattern: 'dd-MM-yyyy', selector: 'date'});
//alert(dt);
if (dt != currentDate) {
    currentDate = dt;
        dojo.xhrGet({ 
          url: "<?php echo $this->baseUrl();?>"+"/examination/manualmarksentry/date/vd/"+dt,
           handleAs : "text",
         sync: true,
         load : function(response, args) {
             //alert(response);
             
                dojo.byId("repositoryData").innerHTML=response;
               return response;
               }
           });
 }
 // Search the date into the repository to determinate if the date is disabled
var val = dojo.date.locale.format(fdate, {datePattern: 'yyyy-MM-dd', selector: 'date'});
//alert(val)
var dates = document.getElementById("repositoryData").innerHTML;
if (dates.indexOf(val) >= 0)
{
	//alert(val);
    return false;
}
	return true;


}





/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


</script>
</head>
<body class='claro'>

<?php   if ($this->checkEmpty == 1): ?>    
<form  method="POST" dojoType="dijit.form.Form"  id="Search"  action="" name= "Search">
 <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					  return true;
                } else {
                    return false;
                }
				</script>
<fieldset>
	<legend><?php echo "Enter authentication password to view this menu";?></legend>
       
      <table>
      			<tr>
                   <td colspan="3"><?php  echo "Password";?></td>
                   <td ><?php echo $this->lobjform->passwd;?></td> 
                   
                </tr> 
                <tr>
                	<td colspan="3"></td>
	                <td>
	                  <input name="Submit" id="Submit" type="Submit"  class="NormalBtn" dojoType=dijit.form.Button label = <?php echo $this->translate("Submit");?> value=<?php echo $this->translate("Submit");?>>
					</td>
					
					
               </tr>
       </table>
       </fieldset>
</form>  
<?php endif; ?>
<?php if ($this->checkEmpty == 2 ): ?> 
<fieldset>
	<legend><?php echo $this->translate("Manual Marks Entry");?></legend>
 		<form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/examination/manualmarksentry/index/search/1" method="POST">
 			<script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
			</script>
		<table width="100%" >
	
				
				<tr>
				   <td><?php echo $this->translate("Exam Date") ?></td>
				             		    
                   <td><?php echo $this->lobjform->Dates;?></td>
                   <td><?php echo $this->translate("Exam Venue") ?></td>
                   <td><?php echo $this->lobjform->Venues;?></td>
                    <td><?php echo $this->translate("Exam Session") ?></td>
                   <td><?php echo $this->lobjform->examsession;?></td>
                </tr>
          
				 <tr>
				 <td colspan="6" align="center">
				 	<?php echo $this->lobjform->Search;?>	
				 	<?php echo $this->lobjform->Clear;?>		
				</td>
               </tr>
               
     </form>

		</table>
	</fieldset>
	<?php endif; ?> 
   <?php if (count($this->paginator)): ?>
	<br>
		

	
		<form dojoType="dijit.form.Form"  id="myForm" action="" method="POST">
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
	    	<tr>
	    	     <th></th>
	    	     <th><?php echo $this->translate("Candidate name");?></th>	 
	    	     <th><?php echo $this->translate("ICNO");?></th>
	    	       <th><?php echo $this->translate("Course");?></th>
	    	        <th><?php echo $this->translate("Exam Date");?></th>
	    	         <th><?php echo $this->translate("Examvenue");?></th>
	    	           <th><?php echo $this->translate("Examsession");?></th>
	    	            <th><?php echo $this->translate("Part A");?></th>
	    	             <th><?php echo $this->translate("Part B");?></th>
	    	              <th><?php echo $this->translate("Part C");?></th>
	    	                <th><?php echo $this->translate("Total");?></th>
	    	    
	        	
	    	</tr>
	       
	       			
   			  
	        <?php $cnnt=0; foreach ($this->paginator as $lobjprogram): ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	  		 <td ><input type="checkbox" dojoType="dijit.form.CheckBox" name="IDApplication[]" value="<?php echo $this->escape($lobjprogram['IDApplication']);?>" onClick = "fnvalidate('payment3<?php echo $cnnt;?>',<?php echo $cnnt;?>,<?php echo  $this->escape($lobjprogram['Program']);?>)" id="IDApplication<?php echo $cnnt;?>">
    
	        	<td id="text<?php echo $cnnt;?>"><?php print_r($this->escape($lobjprogram['FName']));?></td>
	        		<td id="text<?php echo $cnnt;?>"><?php print_r($this->escape($lobjprogram['ICNO']));?></td>
	        	<td id="text<?php echo $cnnt;?>" ><?php print_r($this->escape($lobjprogram['Coursename']));?></td>
	        	<td id="text<?php echo $cnnt;?>" ><?php print_r(date ( "d-m-Y", strtotime ( $lobjprogram['DateTime'] )));?></td>
	        	<td id="text<?php echo $cnnt;?>"><?php print_r($this->escape($lobjprogram['Venue']));?></td>
	        	<td id="text<?php echo $cnnt;?>"><?php print_r($this->escape($lobjprogram['managesessionname']));?></td>
	        	 <td id="text<?php echo $cnnt;?>" ><input type="text"  style=" width:60px; display:none; dojotype="dijit.form.TextBox"" id="PartA<?php echo $cnnt;?>" name="PartA[<?php echo $lobjprogram['IDApplication'];?>]"  onKeyPress='return numbersonly(event);' onKeyUp = "fnvalidatemarkspart('<?php echo $cnnt;?>','<?php echo  $this->escape($lobjprogram['Program']);?>','A')"  onBlur = "fnvalidatetextmarkspart('<?php echo $cnnt;?>','A')"  value="0"/>  </td> 
          	 <td id="text<?php echo $cnnt;?>" ><input type="text"    style=" width:60px; display:none; dojotype="dijit.form.TextBox"" id="PartB<?php echo $cnnt;?>" name="PartB[<?php echo $lobjprogram['IDApplication'];?>]"   onKeyPress='return numbersonly(event);' onKeyUp = "fnvalidatemarkspart('<?php echo $cnnt;?>','<?php echo  $this->escape($lobjprogram['Program']);?>','B')" onBlur = "fnvalidatetextmarkspart('<?php echo $cnnt;?>','B')" value="0"  />  </td>  
          	 <td id="text<?php echo $cnnt;?>" ><input type="text"   style=" width:60px; display:none; dojotype="dijit.form.TextBox"" id="PartC<?php echo $cnnt;?>" name="PartC[<?php echo $lobjprogram['IDApplication'];?>]"    onKeyPress='return numbersonly(event);' onKeyUp = "fnvalidatemarkspart('<?php echo $cnnt;?>','<?php echo  $this->escape($lobjprogram['Program']);?>','C')" onBlur = "fnvalidatetextmarkspart('<?php echo $cnnt;?>','C')" value="0"  />  </td> 
          	 <td id="text<?php echo $cnnt;?>" ><input type="text"    style=" width:60px; display:none; dojotype="dijit.form.TextBox"" id="Total<?php echo $cnnt;?>" name="Total[<?php echo $lobjprogram['IDApplication'];?>]" readOnly="true" onBlur = "fnvalidatetotalmarks('<?php echo $cnnt;?>','<?php echo  $this->escape($lobjprogram['Program']);?>')" value="0" />  </td>  
          	 <td id="text<?php echo $cnnt;?>" ><input type="hidden"   style="display:none; dojotype="dijit.form.TextBox"" id="IdBatch<?php echo $cnnt;?>" name="idbatch[<?php echo $lobjprogram['IDApplication'];?>]"  value="<?php echo $this->escape($lobjprogram['IdBatch']);?>" />  </td> 
          	 <td id="text<?php echo $cnnt;?>" ><input type="hidden"  style="display:none; dojotype="dijit.form.TextBox"" id="Regid<?php echo $cnnt;?>" name="regid[<?php echo $lobjprogram['IDApplication'];?>]"  value="<?php echo $this->escape($lobjprogram['Regid']);?>" />  </td>  
          	 <td id="text<?php echo $cnnt;?>" ><input type="hidden"  style="display:none; dojotype="dijit.form.TextBox"" id="Program<?php echo $cnnt;?>" name="Program[<?php echo $lobjprogram['IDApplication'];?>]"  value="<?php echo $this->escape($lobjprogram['Program']);?>" />  </td>  
          	
	            <?php $cnnt++; endforeach; ?>
	            <?php endif; ?> 
	         
			</tr>
			  <?php if (count($this->paginator)): ?>
		<tr>
		
		   <td colspan="9" align="right" id="Confirm">  
			<?php  echo  $this->lobjform->Save;?>
	    </td>
		</tr>
              <?php endif; ?> 
			
			
			
			<tr>
	        	<td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>
		</table>
		</form>
	
			
</body>
</html>
