<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<link href="<?php  echo $this->baseUrl();?>/css/calendar.css" rel="stylesheet" type="text/css" />   
<script type="text/javascript">













/*  
 * dojo.addOnLoad(function () {
var dateReportsListJson = [];
dojo.declare("Calendar", dijit.Calendar, {
    getClassForDate:function (date) {
        if (dojo.date.locale.isWeekend(date))
            return "classDateRed";
        var month = date.getMonth() + 1;
        var year = date.getFullYear();
        var day = date.getDate();
        console.log(this.value);
    }
});
dojo.declare("DateTextBox", dijit.form.DateTextBox, {
    popupClass:"Calendar"
});
var cal = new DateTextBox({
    value:new Date()
}, "calDate");
});
 * 
 */



dojo.addOnLoad(function () {
    var dateReportsListJson = [];
    dojo.declare("Calendar", dijit.Calendar, {
    	
    	//data-dojo-props:isDisabledDate:function(){return isValidDate(arguments[0]);}
    	isDisabledDate:function(){

  		  var dt = "<?php echo date('Y-m-d');?>";//dojo.date.locale.format(fdate, {datePattern: 'dd-MM-yyyy', selector: 'date'});
		  //alert(dt);
		   if (dt != currentDate) {
		       currentDate = dt;
		           dojo.xhrGet({ 
		             url: "<?php echo $this->baseUrl();?>"+"/examination/manualmarksentry/date/vd/"+dt,
		              handleAs : "text",
		            sync: true,
		            load : function(response, args) {
		                //alert(response);
		                   dojo.byId("repositoryData").innerHTML=response;
		                  return response;
		                  }
		              });
		    }
		    // Search the date into the repository to determinate if the date is disabled
		   var val = dojo.date.locale.format(fdate, {datePattern: 'yyyy-MM-dd', selector: 'date'});
		   //alert(val)
		   var dates = document.getElementById("repositoryData").innerHTML;
		   if (dates.indexOf(val) >= 0)
		       return false;
		   return true;



        	}});
    dojo.declare("DateTextBox", dijit.form.DateTextBox, {
        popupClass:"Calendar"
       
    });
    var cal = new DateTextBox({
        value:"2012-05-12"
    }, "calDate");
});





///////////////////////////////////////////////////////////////////// for calender  disabling dates/////////////////////////
var currentDate = 0;

function isValidDate(fdate) {  
//alert(fdate)
    // compute of date for SQL query (year and month)        
   var dt = "<?php echo date('Y-m-d');?>";//dojo.date.locale.format(fdate, {datePattern: 'dd-MM-yyyy', selector: 'date'});
  //alert(dt);
   if (dt != currentDate) {
       currentDate = dt;
           dojo.xhrGet({ 
             url: "<?php echo $this->baseUrl();?>"+"/examination/manualmarksentry/date/vd/"+dt,
              handleAs : "text",
            sync: true,
            load : function(response, args) {
                //alert(response);
                   dojo.byId("repositoryData").innerHTML=response;
                  return response;
                  }
              });
    }
    // Search the date into the repository to determinate if the date is disabled
   var val = dojo.date.locale.format(fdate, {datePattern: 'yyyy-MM-dd', selector: 'date'});
   //alert(val)
   var dates = document.getElementById("repositoryData").innerHTML;
   if (dates.indexOf(val) >= 0)
       return false;
   return true;
}





/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////





</script> 
</head>
<body>

	<fieldset>
	         
				<Form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">
				 <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
                    fnhidebtn();
					return true;
                } 
				else {
                    return false;
                }
				</script>
				<table width="100%" class="table">
			
				      <tr>
                         <th colspan = "2"><?php echo $this->translate('Exam Extra Time  Details')?></th>
                     </tr>
                   
                   
                                  <div id="repositoryData" style="display: none;">
D20120509,D20120512</div>

<div  data-dojo-type="dijit.Calendar" value="2012-05-12" " data-dojo-props="isDisabledDate:function(){return isValidDate(arguments[0]);}">
</div>
                   <input type="text" name="date1" id="date2" value="" data-dojo-type="dijit.form.DateTextBox"  data-dojo-props="isDisabledDate:function(){return isValidDate(arguments[0]);}"  constraints="{datePattern:'dd MMM yyyy'}" required="false" />
		                 
		                 <input data-dojo-type="dijit.form.DateTextBox" required="true"
    data-dojo-props='isDisabledDate:function(){return isValidDate(arguments[0]);}' type="text"
    name="date" id="date1" />
		                  <td><?php echo $this->translate("Extra Time In Minutes");?></td>
			               <td><?php echo $this->lobjnewscreenForm->examtime;?></td>
			               </tr>  
                      
		             <tr>
		                       
		                      
		                   <td  colspan="2" align="right">
		                   <?php echo $this->lobjnewscreenForm->Save;?>
		                   <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo "Back";?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'examination','controller'=>'examtime', 'action'=>'index','search'=>'1'),'default',true);?>';" /><td>
  		            
  		              </tr> 
  		              
  		              
  		              
  		              <tr>
  		              </tr>
				</table>
					
				</Form> 
</fieldset>
</body>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./js/dijit/themes/claro/claro.css"/>
    </head>
    <body  class=" claro ">

    <form id="frm" name="frm" action="" method="post" >

	<input path="calDate" id="calDate" class="date_picker" required="true"/>
    </form>
                <div id="repositoryData" style="display: none;">
D20120509,D20120512</div>

<td role="gridcell" class="dijitCalendarSelectedDate
	 dijitCalendarCurrentMonth dijitCalendarDateTemplate"
	 dijitdatevalue="1311926400000" tabindex="0"><span
	 class="dijitCalendarDateLabel">29</span></td> 

   
    </body>
    
    

</html>
</html>