<html>
<head>
<script>
dojo.addOnLoad(function(){
	
	});
</script>
</head>
<body class='claro'>
<fieldset>
	<legend><?php echo $this->translate("Examcategory Stastics").' '.$this->translate("Report");?></legend>
<?php if ($this->searchdate): ?>
<fieldset>
<form id="myForm1" name = "myform1" action="<?php echo $this->baseUrl();?>/reports/examcategorystatistics/fnexportexcel" method="POST">
     <table class="table" width="100%" cellpadding="5" cellspacing="1">
     <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
        <th><?php echo $this->translate(" ");?></th>
        <th align ="center" colspan = 5 ><b><?php echo $this->translate("$this->month").' '.$this->translate("$this->year");?></b></th>
    </tr> 
     <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>"> 
        <th align ="center"><b><?php echo $this->translate("ExamCategory/Type") ?></b></th>
        <th align ="center"><b><?php echo $this->translate("Part A and B") ?></b></th>
        <th align ="center"><b><?php echo $this->translate("Part A and C") ?></b></th>
        <th align ="center"><b><?php echo $this->translate("Part B ") ?></b></th>
        <th align ="center"><b><?php echo $this->translate("Part C ") ?></b></th>
        <th align ="center"><b><?php echo $this->translate("Total") ?></b></th>
     </tr>
      <?php  $lobjCountry = $this->larrracescount;  ?>
       <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
      <td><b><?php echo "Registered";?></b></td>
      <td><?php echo $lobjCountry[0]['NoOfCandidates'];?><input type="hidden" name="abcand" id="abcand" value="<?php echo $lobjCountry[0]['NoOfCandidates'];?>"></td>
      <td><?php echo $lobjCountry[1]['NoOfCandidates'];?><input type="hidden" name="accand" id="accand" value="<?php echo $lobjCountry[1]['NoOfCandidates'];?>"></td>
      <td><?php echo $lobjCountry[2]['NoOfCandidates'];?><input type="hidden" name="bcand" id="bcand" value="<?php echo $lobjCountry[2]['NoOfCandidates'];?>"></td>
      <td><?php echo $lobjCountry[3]['NoOfCandidates'];?><input type="hidden" name="ccand" id="ccand" value="<?php echo $lobjCountry[3]['NoOfCandidates'];?>"></td>
      <td><?php echo $lobjCountry[4]['regtotal'];?><input type="hidden" name="regtotal" id="regtotal" value="<?php echo $lobjCountry[4]['regtotal'];?>"></td>
      </tr>
       <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
      <td><b><?php echo "Sat";?></b></td>
      <td><?php echo $lobjCountry[5]['absat'];?><input type="hidden" name="absat" id="absat" value="<?php echo $lobjCountry[5]['absat'];?>"></td>
      <td><?php echo $lobjCountry[9]['acsat'];?><input type="hidden" name="acsat" id="acsat" value="<?php echo $lobjCountry[9]['acsat'];?>"></td>
      <td><?php echo $lobjCountry[13]['bsat'];?><input type="hidden" name="bsat" id="bsat" value="<?php echo $lobjCountry[13]['bsat'];?>"></td>
      <td><?php echo $lobjCountry[17]['csat'];?><input type="hidden" name="csat" id="csat" value="<?php echo $lobjCountry[17]['csat'];?>"></td>
      <td><?php echo $lobjCountry[21]['sattotal'];?><input type="hidden" name="sattotal" id="sattotal" value="<?php echo $lobjCountry[21]['sattotal'];?>"></td>
      </tr>
       <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
      <td><b><?php echo "Pass";?></b></td>
      <td><?php echo $lobjCountry[6]['abpass'];?><input type="hidden" name="abpass" id="abpass" value="<?php echo $lobjCountry[6]['abpass'];?>"></td>
      <td><?php echo $lobjCountry[10]['acpass'];?><input type="hidden" name="acpass" id="acpass" value="<?php echo $lobjCountry[10]['acpass'];?>"></td>
      <td><?php echo $lobjCountry[14]['bpass'];?><input type="hidden" name="bpass" id="bpass" value="<?php echo $lobjCountry[14]['bpass'];?>"></td>
      <td><?php echo $lobjCountry[18]['cpass'];?><input type="hidden" name="cpass" id="cpass" value="<?php echo $lobjCountry[18]['cpass'];?>"></td>
      <td><?php echo $lobjCountry[22]['passtotal'];?><input type="hidden" name="passtotal" id="passtotal" value="<?php echo $lobjCountry[22]['passtotal'];?>"></td>
      </tr>
       <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
      <td><b><?php echo "Fail";?></b></td>
      <td><?php echo $lobjCountry[7]['abfail'];?><input type="hidden" name="abfail" id="abfail" value="<?php echo $lobjCountry[7]['abfail'];?>"></td>
      <td><?php echo $lobjCountry[11]['acfail'];?><input type="hidden" name="acfail" id="acfail" value="<?php echo $lobjCountry[11]['acfail'];?>"></td>
      <td><?php echo $lobjCountry[15]['bfail'];?><input type="hidden" name="bfail" id="bfail" value="<?php echo $lobjCountry[15]['bfail'];?>"></td>
      <td><?php echo $lobjCountry[19]['cfail'];?><input type="hidden" name="cfail" id="cfail" value="<?php  echo $lobjCountry[19]['cfail'];?>"></td>
      <td><?php echo $lobjCountry[23]['failtotal'];?><input type="hidden" name="failtotal" id="failtotal" value="<?php echo $lobjCountry[23]['failtotal'];?>"></td>
      </tr>
       <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>"><input type="hidden" name="selmonth" id="selmonth" value="<?php echo $this->month.'_'.$this->year;?>"></td>
      <td><b><?php echo "Absent";?></b></td>
      <td><?php echo $lobjCountry[8]['ababsent'];?><input type="hidden" name="ababsent" id="ababsent" value="<?php echo $lobjCountry[8]['ababsent'];?>"></td>
      <td><?php echo $lobjCountry[12]['acabsent'];?><input type="hidden" name="acabsent" id="acabsent" value="<?php echo $lobjCountry[12]['acabsent'];?>"></td>
      <td><?php echo $lobjCountry[16]['babsent'];?><input type="hidden" name="babsent" id="babsent" value="<?php echo $lobjCountry[16]['babsent'];?>"></td>
      <td><?php echo $lobjCountry[20]['cabsent'];?><input type="hidden" name="cabsent" id="cabsent" value="<?php echo $lobjCountry[20]['cabsent'];?>"></td>
      <td><?php echo $lobjCountry[24]['absenttotal'];?><input type="hidden" name="absenttotal" id="absenttotal" value="<?php echo $lobjCountry[24]['absenttotal'];?>"></td>
      </tr>
       <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	  <td colspan="6" align="right"><?php echo $this->lobjform->ExportToExcel?>
	  <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'reports','controller'=>'statistics', 'action'=>'index'),'default',true);?>';" />
      </tr>
      </table>
        <?php //endif; ?>
        </form>
</fieldset> 
<?php endif; ?>
</form>
</body>
</html>
