
<script type="text/javascript">
  
dojo.addOnLoad(function() {	
});
function fngetstudentdetails(idcenter,idsession,examdate)
{
  //alert(idcenter);
 // alert(idsession);
  //alert(examdate);
 // exit;
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/scheduler/sessionconstraints/studentdetails/idcenter/"+idcenter+"/idsession/"+idsession+"/examdate/"+examdate,
			handleAs:'text',
			load:function(data){ 
				document.getElementById('contentdiv').innerHTML = data;
				document.getElementById('divLogin').style.display = 'block';
				document.getElementById('prgmdetails').style.display = 'block';
			}
	   }
	dojo.xhrGet(xhrArgs);
}
function closebox() {
	document.getElementById('contentdiv').innerHTML = "";
	document.getElementById('divLogin').style.display = 'none';
	document.getElementById('prgmdetails').style.display = 'none';
}


function validateform()
   {
	 var n = <?php echo count($this->paginator); ?>;	
	 flgs = 0;      
	 for(i=0;i<=n;i++)
	 {
	      var element = document.getElementById("idvenue"+i);
		  var Totalseats = document.getElementById("Totalseats"+i);
	      if (element != null && element.value != '')
	     {
		   if(document.getElementById("idvenue"+i).checked) 
		   flgs	=	1;
		 }
		
	 }		
	 if( flgs == 0)
	 {
	     alert('Please Select Atleast One Row');       		
	     return false;
	 }
	 else
	 {
	   return true;
	 }
	 
    } 
 function fngetexamcentre()
 {
				var regFromDate = dijit.byId('Date');
				var toDate = dijit.byId('Schedulertodate');				
				    var xhrArgs = {
							url: "<?php echo $this->baseUrl();?>"+"/scheduler/sessionconstraints/fngetcentres/regFromDate/"+regFromDate+"/toDate/"+toDate,
							handleAs:'json',
							load:function(data){ 
								AutoFillNextEditableDropDown("Venues",data);
								dijit.byId('Venues').setAttribute("required", false);
							}
					   }
					dojo.xhrGet(xhrArgs);
			}
function fnGetCityList(idCountry)
{ 
    	
    	if(idCountry != "" || idCountry != undefined)
    		{  
    		var xhrArgs = {
    				url: "<?php echo $this->baseUrl();?>"+"/general-setup/center/getcitylist/idCountry/"+idCountry,
    				handleAs:'json',
    				load:function(data){ 
    					AutoFillNextEditableDropDown("idcity",data); 
    				}
    		   }
    		dojo.xhrGet(xhrArgs);  
    			
    		} 
} 

function fnvalidate(Totalseats)
{
     Allotedseats=dijit.byId("Alloted").value;	
	if(eval(Totalseats) > eval(Allotedseats))
	{
		alert("Total Seats Can Not Exceeds The value of  Allotedseats "+Allotedseats);	
		dijit.byId("Total").setValue('');
		
	}
   
}	 			
	function fnedit(count,total,alloted)
	{
				alloted =  document.getElementById("Allotedseats"+count).value;
				total=  document.getElementById("Totalseats"+count).value;				
				if(eval(alloted) > eval(total))
	           {
		             alert("Total Seats Can Not Less Than The value of  Allotedseats "+alloted);	
		             dijit.byId("Totalseats"+count).setValue('');
					 dijit.byId("Totalseats"+count).setAttribute("required", true);
		
	           }	      
	}
function checkAll()
{
 	nodes = dojo.query('[name=\"idvenue[]\"]');
 	if(document.getElementById('IDAppl').checked == true)
	{	
 		dojo.forEach(nodes,
 		function(node)
 		{
		          
 		           dijit.getEnclosingWidget(node).set("checked",true);
 		}
 		);
 	}
 	else {	
 		dojo.forEach(nodes,
 			    function(node)
 			    {
 			        dijit.getEnclosingWidget(node).set("checked",false);
 			    }
 			);
 	     }
 }
function fnGetvenueList(idcity){ 
    	if(idcity != "" || idcity != undefined)
    		{  
    		var xhrArgs = {
    				url: "<?php echo $this->baseUrl();?>"+"/scheduler/sessionconstraints/getvenuelist/idCountry/"+idcity,
    				handleAs:'json',
    				load:function(data){ 
    					AutoFillNextEditableDropDown("idvenue",data); 
    				}
    		   }
    		dojo.xhrGet(xhrArgs);  
    			
    		} 
    	} 
    	function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
    		dijit.byId(EditableDropDownId).setValue("");
    		var ddwidget = dijit.byId(EditableDropDownId);
    		ddwidget.setAttribute('disabled', false);
        	var options = {
    					label:"name",
    					identifier:"key",
    					items:JSONText
    				  };
        	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
    	}
        
</script> 
<fieldset>
    <legend><?php echo $this->translate("Schedule Constraint");?></legend>    
              
                    <form dojoType="dijit.form.Form" action="<?php echo $this->baseUrl();?>/scheduler/sessionconstraints/index/search/1" method="POST">
                <script type="dojo/method" event="onSubmit">
                              if (this.validate()) {
					  return true;
                } else {
                    return false;
                }
				
				</script>
				
				
                    <table class="table" width="100%" >                                         
                        <tr>
                            <td ><?php echo $this->translate("Scheduler From Date");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjprogramForm->Date;?></td>
							 <td ><?php echo $this->translate("Scheduler To Date");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjprogramForm->Schedulertodate;?></td>
                        </tr>
						<tr>
						     <td><?php echo $this->translate("Days") ?></td>
                             <td><?php echo $this->lobjprogramForm->Day;?></td>
						     <td><?php echo $this->translate("Venue") ?></td>
                             <td><?php echo $this->lobjprogramForm->Venues;?></td>
                        </tr>
						<tr>
						     <td><?php echo $this->translate("Action") ?></td>
                             <td><?php echo $this->lobjprogramForm->Action;?></td>
                        </tr>
						<td align = "center" colspan = "4">
							<?php echo $this->lobjprogramForm->Search;?>                           
							<?php echo $this->lobjprogramForm->Clear;?>
						</td>
						  </tr>
                        </table>
						
                    </form>	
    </fieldset>
    <br/>
	 <form dojoType="dijit.form.Form" action="" method="POST">
	 <div><input type='hidden' id="actions" name="actions" value="<?php echo $this->actions?>"/></div>
	<?php 
	  if (count($this->paginator)){ 
	  if($this->displayexception==1){?>
	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
	    	<tr>
	        	<th><?php echo $this->translate("Constraints").' '.$this->translate("Name");?></th>
	        	<th><?php echo $this->translate("Date");?></th>
	        	<th><?php echo $this->translate("Venue").' '.$this->translate("Name");?></th>
	    	</tr>	        
	             <?php foreach ($this->paginator as $lobjprogram): ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	<td><a href="<?php echo $this->baseUrl();?>/scheduler/sessionconstraints/editsessionconstraints/id/<?php echo $this->escape($lobjprogram['idschedulerconstraints']);?>"><?php print_r($this->escape($lobjprogram['constraintname']));?></a></td>
	        	 <td ><?php echo $this->escape(date('d-m-Y',strtotime($lobjprogram['Date'])));?></td>
	        	 <td ><?php echo $this->escape($lobjprogram['centername']);?></td>
	            <?php endforeach; ?>
	           
			</tr>			
		</table>
	</fieldset>
	 <?php }elseif($this->seatcapacitychange==1){?>
	 
	 <fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
		    <tr>              
								
               
				<th><?php echo $this->translate("Examdate");?></th>
				<th><?php echo $this->translate("Day");?></th>
			    <th><?php echo $this->translate("Venue");?></th>
	       	    <th ><?php echo $this->translate("Session");?></th>
				<th><?php echo $this->translate("Total Capacity");?></th>
				<th><?php echo $this->translate("Alloted Seats");?></th>
				<th><?php echo $this->translate("Status");?></th>
				<th><?php echo $this->translate("Active Venues");?> <input type="checkbox" dojoType="dijit.form.CheckBox" name="IDAppl"  onClick="checkAll();" id="IDAppl"></th> 
	    	</tr>
			<?php $cnnt = 0; $centerarray = array(); foreach ($this->paginator as $lobjCountry): $cnnt++; $center=0;$total =$lobjCountry['Totalcapacity'];$alloted = $lobjCountry['Allotedseats'];?>
	    	<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
				 
			
				<?php $idvenuedetails=$lobjCountry['idvenuedateschedule'];?>	
			<td>
			 <?php  if(!in_array($lobjCountry['Date'],$centerarray))
         	  {
			     
						$centerarray[] = $lobjCountry['Date'];		
						$centerarrays[$lobjCountry['Date']][] = array();
						print_r($this->escape($lobjCountry['Date'])); }?> 
			</td>
			<td>
				<?php  if(!in_array($lobjCountry['dayname'],$centerarrays[$lobjCountry['Date']]))
         	            {									
							$centerarrays[$lobjCountry['Date']][]  = $lobjCountry['dayname'];		
							$centerarrayss[$lobjCountry['dayname']][] = array();
							print_r($this->escape($lobjCountry['dayname'])); }?> 
			</td>
			<td>
				 <?php  if(!in_array($lobjCountry['centername'],$centerarrays[$lobjCountry['Date']]))
         	              {
									$centerarrays[$lobjCountry['Date']][]  = $lobjCountry['centername'];		
									$centerarraysss[$lobjCountry['centername']][] = array();
									print_r($this->escape($lobjCountry['centername'])); }?> 
			</td>
    <td>
				
					<?php 	print_r($this->escape($lobjCountry['managesessionname']));?>
			
	</td>	
	<td><input type="text"  style="width:50px;" dojotype="dijit.form.ValidationTextBox" onblur="fnedit('<?php echo $cnnt;?>','<?php echo  $total;?>','<?php echo  $alloted;?>')" name="Totalseats[<?php echo $lobjCountry['idvenuedateschedule']; ?>]" id="Totalseats<?php echo $cnnt?>" value ="<?php echo $lobjCountry['Totalcapacity']; ?>"></td>
	
	
	<td><?php if($lobjCountry['Allotedseats'] >0){?>
				<a href="#"  onclick="fngetstudentdetails('<?php echo $lobjCountry['idcenter'];?>','<?php echo $lobjCountry['idmangesession'];?>','<?php echo $lobjCountry['Date'];?>')">
				<?php echo $lobjCountry['Allotedseats'];?></a>
				<?php }else{
				       echo $lobjCountry['Allotedseats'];
				}?>
				
				
	 <input type="hidden"    name="Allotedseats[<?php echo $lobjCountry['idvenuedateschedule'];?>]" id="Allotedseats<?php echo $cnnt?>" value ="<?php echo $lobjCountry['Allotedseats']; ?>">
	<input type="hidden"    name="Total[]" id="Total<?php echo $cnnt?>" value ="<?php echo $lobjCountry['idvenuedateschedule'].','.$lobjCountry['Totalcapacity']; ?>">
				 </td>
				<?php if(($lobjCountry['Schedulerflag']==1 )&& ($lobjCountry['Reserveflag']==1 )){?>
				<td><?php echo $this->translate("Active");?></td>
				<?php }elseif(($lobjCountry['Schedulerflag']==0 ) || ($lobjCountry['Reserveflag']==0 )){?>
				<td><?php echo $this->translate("Inactive");?></td>
				<?php }?>
				 <td><input type="checkbox" dojoType="dijit.form.CheckBox"  name="idvenue[]" id="idvenue<?php echo $cnnt;?>" value="<?php echo $this->escape($lobjCountry['idvenuedateschedule'])?>" checked="false"  /></td>
		</tr>
	<?php  endforeach; ?>
	</table>
	</fieldset>	
	 <?php }
	 else{ ?>	 
	     <fieldset>
		    <table class="table" width="100%" cellpadding="5" cellspacing="1">
		    <tr>
               
                
				<th><?php echo $this->translate("Examdate");?></th>
				<th><?php echo $this->translate("Day");?></th>
			    <th><?php echo $this->translate("Venue");?></th>
	       	    <th><?php echo $this->translate("Session");?></th>
				<th><?php echo $this->translate("Total Capacity");?></th>
				<th><?php echo $this->translate("Alloted Seats");?></th>
				<th><?php echo $this->translate("Status");?></th>
				 <?php if($this->activestatus == 0){?>
			    <th><?php echo $this->translate->_("Constraint Name");?> </th>              
				<?php }?>
				<?php if($this->activestatus == 1){?>
			    <th><?php echo $this->translate->_("Inactive All");?>               
				<?php } else {?>
				<th><?php echo $this->translate->_("Active All");?> 
				<?php } ?><input type="checkbox" dojoType="dijit.form.CheckBox" name="IDAppl"  onClick="checkAll();" id="IDAppl"></th> 
	    	</tr>
			<?php $cnnt = 0; $centerarray = array(); foreach ($this->paginator as $lobjCountry): $cnnt++; $center=0;$total =$lobjCountry['Totalcapacity'];$alloted = $lobjCountry['Allotedseats'];?>
	    	<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
			 
			<td>
			 <?php  if(!in_array($lobjCountry['Date'],$centerarray))
         	  {
			     
						$centerarray[] = $lobjCountry['Date'];		
						$centerarrays[$lobjCountry['Date']][] = array();
						print_r($this->escape($lobjCountry['Date'])); }?> 
			</td>
			<td>
				<?php  if(!in_array($lobjCountry['dayname'],$centerarrays[$lobjCountry['Date']]))
         	            {									
							$centerarrays[$lobjCountry['Date']][]  = $lobjCountry['dayname'];		
							$centerarrayss[$lobjCountry['dayname']][] = array();
							print_r($this->escape($lobjCountry['dayname'])); }?> 
			</td>
			<td>
				 <?php  if(!in_array($lobjCountry['centername'],$centerarrays[$lobjCountry['Date']]))
         	              {
									$centerarrays[$lobjCountry['Date']][]  = $lobjCountry['centername'];		
									$centerarraysss[$lobjCountry['centername']][] = array();
									print_r($this->escape($lobjCountry['centername'])); }?> 
			</td>
            <td>
				
					<?php 	print_r($this->escape($lobjCountry['managesessionname']));?>
			
	        </td>	
                <td><input type="text" style="width:50px;" readonly dojotype="dijit.form.ValidationTextBox" onblur="fnedit('<?php echo $cnnt;?>','<?php echo  $total;?>','<?php echo  $alloted;?>')" name="Totalseats" id="Totalseats<?php echo $cnnt?>" value ="<?php echo $lobjCountry['Totalcapacity']; ?>"></td>	
	           
			   <td><?php if($lobjCountry['Allotedseats'] >0){?>
				<a href="#"  onclick="fngetstudentdetails('<?php echo $lobjCountry['idcenter'];?>','<?php echo $lobjCountry['idmangesession'];?>','<?php echo $lobjCountry['Date'];?>')">
				<?php echo $lobjCountry['Allotedseats'];?></a>
				<?php }else
				{
				       echo $lobjCountry['Allotedseats'];
				}?>
				
				<input type="hidden"   name="Allotedseats" id="Allotedseats<?php echo $cnnt?>" value ="<?php echo $lobjCountry['Allotedseats']; ?>"></td>
			
				<?php if(($lobjCountry['Schedulerflag']==1 )&& ($lobjCountry['Reserveflag']==1 )){?>
				<td><?php echo $this->translate("Active");?></td>
				<?php }elseif(($lobjCountry['Schedulerflag']==0 ) || ($lobjCountry['Reserveflag']==0 )){?>
				<td><?php echo $this->translate("Inactive");?></td>
				<?php }?>
				
				 <?php if($this->activestatus == 0 ){
				         if($lobjCountry['constraintname'])
						 {?><td><?php echo $lobjCountry['constraintname'];?></td>
						<?php }else{?>
						<td></td>
						<?php }?>
				 
				 <?}?>
				 <td><input type="checkbox" dojoType="dijit.form.CheckBox"  name="idvenue[]" id="idvenue<?php echo $cnnt;?>" value="<?php echo $this->escape($lobjCountry['idvenuedateschedule']).",".$this->escape($lobjCountry['date']).",".$this->escape($lobjCountry['idcenter']).",".$this->escape($lobjCountry['state']).",".$this->escape($lobjCountry['city']).",".$this->escape($lobjCountry['idmangesession']); ?>" checked="false"  /></td>	
		</tr>	
	<?php  endforeach; ?>
	<?php if($this->activestatus == 1){?>
	                    <tr>
                            <td ><?php echo $this->translate("Constraint").' '.$this->translate("Name");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjprogramForm->constraintname;?></td>
                        </tr>
			<?php }?>			
	</table>
	</fieldset>				
	 <?php } ?> 
	<table class="table" width="100%" cellpadding="5" cellspacing="1">
	        
              <tr>
			  <?php if($this->displayexception!=1){?>
                <td colspan=4 align = "right"><?php echo $this->lobjprogramForm->Save;?>
				<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'scheduler','controller'=>'sessionconstraints', 'action'=>'index'),'default',true);?>';" />	
                </td>   
          <?php } }?>				
            </tr>
			
</table>
  
	<div runat="server" id="divLogin"  style="display:none; z-index: 153; position: absolute; left: 18%; width: 850px; top: 150px;">
					                <asp:Panel runat="server" ID="popupLogin">
					                    <asp:Panel runat="server" ID="popupContent1">
					                        <table style="height: 125px; width: 100%; background-color: #FFFFFF;" border="3"   frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">
					                                    	<div id="contentdiv"></div>
					                                      
					                                   </td>
					                                </tr>
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
					            </div>
<div runat="server" id="prgmdetails" style="display:none; opacity:0.4; z-index: 150; position: absolute; left: 0%; height: 100%; width: 100%; top: 0%;">

<asp:Panel >
					                    <asp:Panel  >
					                        <table style="height: 100%; width: 100%; background-color: #000000;" border="3"   frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">
					                                    	
					                                      
					                                   </td>
					                                </tr>
					                               
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
</div>	
          
</Form>
</fieldset>
