<html>
<script>    
</script>
<head>
</head>
<body class="claro">
    <fieldset>
    <legend><?php echo "Details";?></legend>
    <?php foreach ($this->larrresult as $lobjstudetails ): ?>
     <?php endforeach; ?>
	    <table class="table" width="100%" cellpadding="5" cellspacing="1">
		    <tr>
		        <th><?php echo $this->translate("Venue") ?></th>
		        <th><?php echo $this->translate("Program") ?></th>
		        <th><?php echo $this->translate("Session") ?></th>
		        <th><?php echo $this->translate("Exam Date") ?><?php echo " ";?><?php echo"(dd-mm-yyyy)";?></th>
		    </tr>
		     <tr>
			    <td><b><?php print_r($this->escape($lobjstudetails['centername']));?></b></td>
		        <td><b><?php print_r($this->escape($lobjstudetails['ProgramName']));?></b></td>
		        <td><b><?php print_r($this->escape($lobjstudetails['managesessionname']));?></b></td>
		        <td><b> <?php  echo  date( "d-m-Y", strtotime ( $lobjstudetails["DateTime"] )); ?></b></td>
		    </tr>
		   </table>
	</fieldset></br>
    <fieldset>
       <legend><?php echo "Candidate Details";?></legend>       
	    <table class="table" width="100%" cellpadding="5" cellspacing="1">
		    <tr>
		        <th><?php echo $this->translate("Candidate Name") ?></th>		       
		        <th><?php echo $this->translate("ICNO") ?></th>
		        <th><?php echo $this->translate("Date Of Birth") ?><?php echo " ";?><?php echo"(dd-mm-yyyy)";?></th>
		        <th><?php echo $this->translate("Email Address") ?></th>
				<th><?php echo $this->translate("Payment Status") ?></th>
		    </tr>
		  <?php foreach ($this->larrresult as $lobjstudetails ): ?>
		    <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
		         <td><?php print_r($this->escape($lobjstudetails['FName'].' '.$lobjstudetails['MName'].' '.$lobjstudetails['LName']));?></td> 		        
		         <td><?php print_r($this->escape($lobjstudetails['ICNO']));?></td>
		         <td><?php print_r($this->escape(date( "d-m-Y", strtotime ($lobjstudetails['DateOfBirth']))));?></td>
		         <td><?php print_r($this->escape($lobjstudetails['EmailAddress']));?></td>
				 <?php if($lobjstudetails['Payment'] == 0){?>
				 <td><?php echo $this->translate("Applied") ?></td>
				 <?php }elseif($lobjstudetails['Payment'] == 1){ ?>
				 <td><?php echo $this->translate("Paid") ?></td>
				 <?php }?>
			</tr>         
		    <?php endforeach; ?>
		    <tr>
					<td colspan= "5" align="right"><input type="button" id="close" name="close"  value="Close" onClick="closebox();"></td>
		    </tr>
	</table>
</fieldset>   
</body>
</html>
