<html>
<head>
<script type="text/javascript">
	dojo.addOnLoad(function() {
		
		//dijit.byId('field1').set('value','');
		//dijit.byId('field1').set('placeHolder','Select');
	});

	
function function1(ids)
{
	var choice = prompt("Enter 1 For With Question Id -OR- 2 For Without Question Id","")
	if(choice == 1)
	{
        var activ = choice; 
		window.location = "http://<?php echo $_SERVER['SERVER_NAME']?><?php  echo $this->baseUrl();?>/examination/createquestionpaper/pdfexport/id/"+ids+"/Active/"+activ;
	}
	else if(choice == 2)
	{
		var activ = choice; 
		window.location = "http://<?php echo $_SERVER['SERVER_NAME']?><?php  echo $this->baseUrl();?>/examination/createquestionpaper/pdfexport/id/"+ids+"/Active/"+activ;
	}
}

function function2(id2)
{
	var choice = prompt("Enter 1 For With Question Id -OR- 2 For Without Question Id","")
	if(choice == 1)
	{
        var activ = choice; 
		window.location = "http://<?php echo $_SERVER['SERVER_NAME']?><?php  echo $this->baseUrl();?>/examination/createquestionpaper/word/id/"+id2+"/Active/"+activ;
	}
	else if(choice == 2)
	{
		var activ = choice; 
		window.location = "http://<?php echo $_SERVER['SERVER_NAME']?><?php  echo $this->baseUrl();?>/examination/createquestionpaper/word/id/"+id2+"/Active/"+activ;
	}
	
}



</script>
</head>
<body class="claro">
	<fieldset>
	<legend><?php echo "Print Question Paper";?></legend>
        <form action="<?php echo $this->baseUrl();?>/examination/createquestionpaper/index/search/1"   method="POST" dojoType="dijit.form.Form"  id="myForm"  name= "myForm">
            <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					  return true;
                } else {
                    return false;
                }
				</script>
            <table class="table" width="100%">
                <tr>
                   <td><?php echo "Course Name";?></td>
                   <td><?php echo $this->lobjform->field1;?></td>
                   <td><?php echo "Question Paper Code";?></td>
                   <td ><?php echo $this->lobjform->field28;?></td> 
                 <tr> 
                 <tr>
                   <td><?php //echo " With Question ID ";?></td>
                   <td><?php //echo $this->lobjform->Active1;?></td>   
                </tr> 
                 <tr>
                 <td></td>               
               <td align = "center" colspan = "2">
						<?php echo $this->lobjform->Search;?>
						<?php echo $this->lobjform->Generate;?>
                      <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Clear"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'examination','controller'=>'createquestionpaper', 'action'=>'index'),'default',true);?>';" />
						<!--<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("ADD"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'examination','controller'=>'createquestionpaper', 'action'=>'add'),'default',true);?>';" />
						-->
			  </td>               
			  </tr>
            </table>
          </form>	               	
    </fieldset>
    <br>
    <fieldset>
    <table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr>
        <th><?php echo $this->translate("Course Name") ?></th>
        <th><?php echo $this->translate("Question Paper Code") ?></th>
     <th></th>
     <th></th>
    </tr>
        <?php if (count($this->paginator)): ?>
        <?php foreach ($this->paginator as $lobjCountry ): ?>
    <tr>
    <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
         
         <td><?php print_r($this->escape($lobjCountry['ProgramName']));?></a></td>
         <td><?php print_r($this->escape($lobjCountry['PaperCode']));?></td>
         <!--<td><a href="<?php //echo $this->url(array('module'=>'examination','controller'=>'createquestionpaper','action'=>'pdfexport','id'=>$lobjCountry['idquestiongroup'],'Active'=>$this->checkEmpty),'default',true);?>"><?php //print_r($this->escape("Print"));?></a></td> 
         -->
         <td><input type="button"  dojotype="dijit.form.Button" value ="1" label="<?php echo $this->translate("Print PDF"); ?>" onclick = "function1(<?php print_r($this->escape($lobjCountry['idquestiongroup']));?>)" /></td>
         
       </tr>     
     <?php endforeach; ?>
     
                
    
   <tr>
	    <td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   	</tr>
</table>
</fieldset>
<?php endif; ?>     
</body>
</html>























