<script type="text/javascript"> 
//below javascript is used for Disabling right-click on HTML page
document.oncontextmenu=new Function("return false");//Disabling right-click


//below javascript is used for Disabling text selection in web page
document.onselectstart=new Function ("return false"); //Disabling text selection in web page
if (window.sidebar){
document.onmousedown=new Function("return false"); 
document.onclick=new Function("return true") ; 


//Disable Cut into HTML form using Javascript 
document.oncut=new Function("return false"); 


//Disable Copy into HTML form using Javascript 
document.oncopy=new Function("return false"); 


//Disable Paste into HTML form using Javascript  
document.onpaste=new Function("return false"); 
}</script>
<script type="text/javascript">
	function fnprintdata(id)
	{
		window.location = "<?php echo $this->baseUrl()?>"+"/studentviewdetails/fnexportexcel/id/"+id;
	}
	function fngetschedulerdetails(id)
	{
	var xhrArgs = {
 			url: "<?php echo $this->baseUrl();?>"+"/studentviewdetails/fnviewdetails/id/"+id,
 			handleAs:'text',
 			load:function(data)
 			{ 
 				document.getElementById('contentdiv').innerHTML = data;
 				document.getElementById('divLogin').style.display = 'block';
				document.getElementById('divLogin2').style.display = 'block';
 			}
 	   	}
			dojo.xhrGet(xhrArgs);
	}	

	function Closefn()
	{
		document.getElementById('contentdiv').innerHTML = "";
	document.getElementById('divLogin').style.display = 'none';
	document.getElementById('divLogin2').style.display = 'none';
	}
	</script> 
	<body oncontextmenu="return false;">
<table  width="50%" align="center">    <tr><td>
	<fieldset>
	<legend><?php echo $this->translate("REGISTRATION DETAILS");?></legend>
   	<Form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">
    <script type="dojo/method" event="onSubmit">
    if (this.validate()) 
			{
			return true;
            } else {
            return false;
            }
	</script>
	<div dojoType="dijit.layout.ContentPane" id="Student" >
    <table class="table" width="100%" >
    <tr>
    <th><?php echo $this->translate->_("Examination").' '. $this->translate->_("Type")?></th>
    <th><?php echo $this->translate->_("Status")?></th>
    </tr>
    <?php if (count($this->results)): $j=0;$exams= $this->results;$k=0;?>
    <?php foreach ($this->results as $exam ): ?>
    <tr>
    <td><?php echo $this->escape($exam['ProgramName']);?>
 <?php if ($exam['pass']==1 || $exam['pass']==2 ){  if($exams[$j-1]['ProgramName']==$exams[$j]['ProgramName']) {$m++; echo '   '.$m.'  '.'Attempt';}else if ($exams[$j]['ProgramName']==$exams[$j+1]['ProgramName']){ $m=1;echo '   '.$m.'  '.'Attempt';}  else{ $m=1; echo '   '.$m.'  '.'Attempt';}}?> </td> 
    
    <td><a style="cursor:pointer;" Onclick=fngetschedulerdetails(<?php echo $this->escape($exam['IDApplication']);?>)>
        <?php if($exam['pass']==3){if ($exam['Payment']==3){ echo $this->translate->_("Payment Cancelled");} else {  echo $this->translate->_("Applied");}}?><?php if ($exam['pass']==1 || $exam['pass']==2 ){ echo  $this->translate->_("Attended");}?><?php if ($exam['pass']==4){if ($exam['Payment']==3){ echo $this->translate->_("Payment Cancelled");} else {  echo $this->translate->_("Absent");}} ?></a></td>    	
    	<?php $j++;$k++; endforeach; ?>
        <?php endif; ?>
    </tr>
    <tr>                          
	<td  colspan="2" align="right">
	<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo "Close";?>" onclick="window.location.href='<?php echo $this->url(array('controller'=>'studentviewdetails', 'action'=>'index'),'default',true);?>';" />
	
	<td>
  	</tr> 
    </table>
    </div>
    <div runat="server" id="divLogin"  style="display:none; z-index: 153; position: absolute; left: 30%; width: 650px; top: 15%;">
    <asp:Panel runat="server" ID="popupLogin">
	<asp:Panel runat="server" ID="popupContent1">
	<table style="height: 105px; width: 100%; background-color: #FFFFFF;" border="3"   frame="box">
	<tbody>
	<tr>
	<td align="right">
	<div id="contentdiv"></div>
	</td>
	</tr>
	<tr>
    <td colspan="2" align="left">
	<asp:Label ID="lblmandatory" runat="server" Text="* Mandatory Information Required"  class="LeftLabelStyle" Width="350px" />
	</td>
    </tr>
    </tbody>
    </table>
    </asp:Panel>
    </asp:Panel>
	</div>
	<div runat="server" id="divLogin2"  style="display:none; opacity:0.4; z-index: 150; position: absolute; left: 0%; height: 100%; width: 100%; top: 0%;">
	<asp:Panel >
	<asp:Panel  >
	<table style="height: 100%; width: 100%; background-color: #000000;" border="3"   frame="box">
	<tbody>
	<tr>
	<td align="right">
	</td>
	</tr>
	</tbody>
	</table>
	</asp:Panel>
	</asp:Panel>
	</div>
	
	</asp:Panel>
	</asp:Panel>
    </div>
    </Form>
   </fieldset>
</td></tr></table>
</body>
