<table class="table"  align="center" width="100%">
	<tr align = 'center'>
           <td align="left"><?php echo $this->template;?></td>
           <td></td>
     </tr>
     <tr>
     	<td width="" align="right">
     	<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo "Print";?>" value="Print" id="Print" name="Print" onclick="fnprintdata(<?php echo $this->idapp;?>)">
		 <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo "Close";?>" value="Close" onClick="Closefn()" /><td>	
  	  </tr> 
</table>
                  
