<head>

<script type="text/javascript">
	dojo.addOnLoad(function() {
		
	});
	
</script> 
</head>

               <Form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">
                <script type="dojo/method" event="onSubmit">
               if (this.validate()) {
					  return true;
                } else {
                    return false;
                }
				</script>
				<table  width="50%" align="center">    <tr><td  align="center">
				<fieldset>
				
                    <table class="table" width="50%" align="center">
                        <tr>
                            <th colspan = "4"><?php echo $this->translate("View Registration Details");?></th>
                        </tr>
                   
                        <tr  id="Student">
                 			
                            <td ><?php echo $this->translate("Enter IC Number");?><span class="reqMark">*</span></td>
                            <td ><input type="text" name="candidateicno" id="candidateicno" dojoType="dijit.form.ValidationTextBox"  required="true"   regExp="[a-zA-Z0-9_]*$" invalidMessage="Please Enter Only Alphanumeric Value" maxlength="12" >	</td>
                            
                        </tr>
                     
                        <tr>
                          <td></td>
                   
                            <td>        
                           <input type="submit" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Next"); ?>"    />	
							<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('controller'=>'index', 'action'=>'index'),'default',true);?>';" />	
                            </td> 
                        </tr>
              </table>
           </fieldset>
        </td></tr></table>
            </Form>


