<head>
<script type="text/javascript">
dojo.addOnLoad(function(){
	//fnhidetext();
	});
	
function newsessionlists()
{

	   iddate = dijit.byId("Date");
	   if(iddate !='')
	   {
		var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/scheduler/chronepullscheduling/getsessions/iddate/"+iddate,
			handleAs:'json',
			load:function(data){
				AutoFillNextEditableDropDown("Session",data);
			
			
			
	      }
		}
	    dojo.xhrGet(xhrArgs);
	}   
}	
function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}

function fndelete(idautomail,idcronevenue)
{
	if(idautomail != "" && idcronevenue!="")
	{   
	    var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/scheduler/chronescheduling/deletecrone/id/"+idautomail+"/idcvenue/"+idcronevenue,
				handleAs:'text',
				load:function(data){					
					//document.getElementById('divLogin').style.display = 'block';						
					//document.getElementById('divLogin2').style.display = 'block';
					//document.getElementById('contentdiv').innerHTML = data;						
				}
		   }
		dojo.xhrGet(xhrArgs); 
	} 
}

function checkAll(){
 	nodes = dojo.query('[name=\"idcenter[]\"]');
 	if(document.getElementById('centerid').checked == true) {		 
 		
 		dojo.forEach(nodes,
 		    function(node)
 		    {
 		        dijit.getEnclosingWidget(node).set("checked",true);
 		    }
 		);
 	}
 	else {	
 		dojo.forEach(nodes,
 			    function(node)
 			    {
 			        dijit.getEnclosingWidget(node).set("checked",false);
 			    }
 			);
 	}
 }
 



</script>
<script>
            dojo.require("dojo.parser");
            dojo.require("dijit.form.DateTextBox");

         
    </script>
</head>
<body class='claro' >
	 <form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm" >
<script type="dojo/method" event="onSubmit">
                              if (this.validate()) {
					  return true;
                } else {
                    return false;
                }
				</script>
<fieldset>

	<legend><?php echo $this->translate("Chrone Pull");?></legend>
		<table width="100%" >
		       <tr>
			<td>Select Exam Date</td>
			<td><?php echo $this->lobjchronescheduleform->Date;?>Time <?php echo date('H:i')?></td>
			<td>Session</td>
			<td><?php echo $this->lobjchronescheduleform->Session;?></td>
			<td ><?php echo $this->translate("Select Exam Center")?></td>
            <td ><?php echo $this->lobjchronescheduleform->Venue;?></td>
		    </tr>
		     <tr>
				 <td colspan="4" align="center">
				 	<?php echo $this->lobjchronescheduleform->Search;?>
					<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Clear"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'scheduler','controller'=>'chronepullscheduling','action'=>'index'),'default',true);?>';" />
				 </td>
             </tr>
		</table>
	</fieldset> 
	<br/>
	 <?php $cnnt=0; if (count($this->paginator)): ?>
	<table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr>
	    <th><input type="checkbox" dojoType="dijit.form.CheckBox" name="centerid" onClick="checkAll();" id="centerid"></th>
	    <th><?php echo $this->translate("Exam Date") ?></th>
		<th><?php echo $this->translate("Venue") ?></th>
        <th><?php echo $this->translate("Session") ?></th>  		
		<th><?php echo $this->translate("Scheduledate") ?></th>        		
	    <th><?php echo $this->translate("Scheduletime") ?></th>
		 <th><?php echo $this->translate("Status");?></th>
	</tr>
     <?php $centerarray = array();?>	
	 
	 <?php 
	  foreach ($this->paginator as $lobjCountry):  $center=0;?>
	   <?php $larrvenueupdates = new Scheduler_Model_DbTable_Chronepullscheduling();
	   $larvenuestatus = $larrvenueupdates->fngetstatusofvenue($lobjCountry['Venue'],$lobjCountry['Session'],$lobjCountry['Examdate']);	 
	// echo "<pre>";
	//  print_R($lobjCountry);die();
   	  $cnt = count($larvenuestatus);	?>
    
			   <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
			<?php if($lobjCountry['Chronestatus']==1) 
			{?>
			<td></td>
			<td>		
					<?php print_r($this->escape($lobjCountry['Examdate'])."[".$this->escape($lobjCountry['dayname'])."]");
					?>
		    </td>
			<td>
					<?php print_r($this->escape($lobjCountry['centername']));
					?>
			</td>
			<td>			
					<?php print_r($this->escape($lobjCountry['managesessionname']));
					?>
			</td>
			<td><?php   print_r($this->escape($lobjCountry['schdeduleddate']));?></td> 
			<td><?php   print_r($this->escape($lobjCountry['scheduledtime']));  ?></td> 
			<td style="color: #008000"><?php 	echo "Pushed To Main Server";?></td>	
		
			<?php	}
	        elseif($lobjCountry['Chronestatus']==0)
	        {  $maxsdate= date('Y-m-d',strtotime($lobjCountry['Examdate']));?>	        
	         
	        <td><input type="checkbox"  dojoType="dijit.form.CheckBox" name="idcenter[]" value="<?php  echo $this->escape($lobjCountry['Venue']).",".$this->escape($lobjCountry['Examdate']).",".$this->escape($lobjCountry['schdeduleddate']).",".$this->escape($lobjCountry['stime']).",".$this->escape($lobjCountry['idautochronepull']) ;?>" id="idcenter<?php echo $cnnt;?>"></td>
		    <td>
				    <?php 	print_r($this->escape($lobjCountry['Examdate'])."[".$this->escape($lobjCountry['dayname'])."]");
							?>
		    </td>	
			<td>
					<?php	 print_r($this->escape($lobjCountry['centername']));
						?>
			</td> 
            <td>		
					<?php print_r($this->escape($lobjCountry['managesessionname']));
						?>
			</td>
			<td><input type="date" constraints="{min:'<?php echo $maxsdate;?>',datePattern:'dd-MM-yyyy'}"  dojoType="dijit.form.DateTextBox" name="SDate[<?php  echo $lobjCountry['Examdate']?>][<?php  echo $lobjCountry['Venue']?>]" value="<?php  echo $lobjCountry['sdate'];?>" id="Sdates<?php echo $cnnt;?>"></td></td> 
			<td><input type="text" constraints ="{timePattern: 'HH:mm'}" dojoType="dijit.form.TimeTextBox" name="Stime[<?php  echo $lobjCountry['Examdate']?>][<?php  echo $lobjCountry['Venue']?>]" value="<?php  echo $lobjCountry['stime']; ?>" id="Stimes<?php echo $cnnt;?>"></td>			
			<td style="color: #0000FF"><?php 	echo "Added to Chrone";?><a href = "<?php echo $this->url(array('module'=>'scheduler','controller'=>'chronepullscheduling','action'=>'deletechrone' , 'id'=>$lobjCountry['idautochronepull']),'default',true);?>" ><img src='<?php echo $this->baseUrl();?>/images/delete.gif'  border="0" width="20px" height="20px"></a></td>	
			<?php		} 
	        else if($lobjCountry['Chronestatus']==2)
	        { ?>
	        <td></td>
		    <td>
  			           <?php  print_r($this->escape($lobjCountry['Examdate'])."[".$this->escape($lobjCountry['dayname'])."]");
						?>
			</td>
			<td>	   <?php  print_r($this->escape($lobjCountry['centername']));
						?>
			</td> 
            <td>		<?php print_r($this->escape($lobjCountry['managesessionname']));
						?>
			</td>
			 <input type="hidden"  name="examcenter" value="<?php  echo $this->escape($lobjCountry['Venue']); ?>" id="center">
			 <input type="hidden"  name="examdate" value="<?php  echo $this->escape($lobjCountry['Examdate']); ?>" id="date">			
			<td><?php   print_r($this->escape($lobjCountry['schdeduleddate']));?></td> 
			<td><?php   print_r($this->escape($lobjCountry['scheduledtime']));  ?></td> 
			<td style="color: #0000FF"><?php 	echo "Not Updated";?><a href = "<?php echo $this->url(array('module'=>'scheduler','controller'=>'chronepullscheduling','action'=>'deletechrone' , 'id'=>$lobjCountry['idautochronepull']),'default',true);?>" ><img src='<?php echo $this->baseUrl();?>/images/delete.gif'  border="0" width="20px" height="20px"></a></td>
			<?php  }   ?>
		
		</tr>

<?php  $cnnt++; endforeach; ?>
        <tr>
           <td colspan="8" align="right"><input type='submit'  dojotype="dijit.form.Button" id="Update" name="Update" value="Update" label = "<?php echo $this->translate('Add to Chrone')?>"  /></td>
           </tr>
		</table>
<?php endif; ?>	
</form>		
</body>
</html>	
	