
<head>
<script>
dojo.addOnLoad(function(){
	dijit.byId('field3').focus();	
	});

function checkAll(){
	//alert("gdfwtyer");
 	nodes = dojo.query('[name=\"registrationPin[]\"]');
 	if(document.getElementById('registrationPin').checked == true) {		 
 		
 		dojo.forEach(nodes,
 		    function(node)
 		    {
 		        dijit.getEnclosingWidget(node).set("checked",true);
 		    }
 		);
 	}
 	else {	
 		dojo.forEach(nodes,
 			    function(node)
 			    {
 			        dijit.getEnclosingWidget(node).set("checked",false);
 			    }
 			);
 	}
 }

function validateform(){
	var n = <?php echo $this->countcomp;?>;
	// alert(n);
	 flgs = 0;	 
	 for(i=1;i<=n;i++){
		 
		if(document.getElementById("registrationPin"+i).checked) 
			flgs	=	1;
		
	 }		
	 if( flgs == 0){
	    alert('Please Select Atleast One Company');			     
	 }
	 else{
		 alert('Please wait');
	 }
} 

</script>
</head>

<form dojoType="dijit.form.Form"  id="initconfigForm" name="form1" method="post" action="<?php echo $this->baseUrl();?>/registrations/payment/index/search/1">
<fieldset>
<legend><?php echo $this->translate->_("Batch Approval");?></legend>
	    	<table    width="100%">	    		
      			<tr>
      			
         			<td class="label"><?php echo $this->translate->_("Student Name")?></td>
        			<td><?php echo $this->lobjform->field3?></td>	
        			<td class="label"><?php echo $this->translate->_("ICNO")?></td>
        			<td><?php echo $this->lobjform->field4?></td>		       	
      			</tr>		   
		      	  <tr>
	               <td align = "center" colspan = "4">
						<?php echo $this->lobjform->Search;?>
						<?php echo $this->lobjform->Clear;?>
				   </td>
				   </tr>      	
	        </table>		

</fieldset>

<fieldset>
 
  	<table class="table" width="100%" cellpadding="5" cellspacing="1">
		
    		<tr>
    		    <th><input type="checkbox" dojoType="dijit.form.CheckBox" name="registrationPin" onClick="checkAll();" id="registrationPin">
				<?php echo $this->translate->_("Student Name");?></th>
				<th><?php echo $this->translate->_("ICNO"); ?></th>	
				<th><?php echo $this->translate->_("Payment Fee");?></th>
				<th><?php echo $this->translate->_("Payer Id"); ?></th>
				<th><?php echo $this->translate->_("Verify Sign");?></th>
				<th><?php echo $this->translate->_("Transaction Id"); ?></th>							
    		</tr>
    	
    	<?php  if (count($this->paginator)):  $cnnt = 0; ?>    	
    	<tbody>       	            
            <?php   foreach ($this->paginator as $lobjcategory ): $cnnt++ ?>
            <tr>  
             <td><input type="checkbox" dojoType="dijit.form.CheckBox" name="registrationPin[]" value="<?php echo $this->escape($lobjcategory['ICNO']);?>" id="registrationPin<?php echo $cnnt;?>">
          		<?php  echo $lobjcategory['FName'];?></td>
          		<td><?php  echo $lobjcategory['ICNO'];?></td>
          		 <td><input type="text"  dojotype="dijit.form.TextBox" id="payment1<?php echo $cnnt;?>" name="payment1[]"  />  </td>  
          		<td><input type="text"  dojotype="dijit.form.TextBox" id="payment2<?php echo $cnnt;?>" name="payment2[]"   value="<?php echo $lobjcategory['EmailAddress'];?>"/>  </td> 
          		<td><input type="text"  dojotype="dijit.form.TextBox" id="payment3<?php echo $cnnt;?>" name="payment3[]"  />  </td> 
          		<td><input type="text"  dojotype="dijit.form.TextBox" id="payment4<?php echo $cnnt;?>" name="payment4[]"  />  </td>         		  		
     		</tr>
     		<?php  endforeach; ?>
     		 <?php  endif; ?>
     	</tbody>		
     		<td colspan="7" align="right">  
				  <input type="submit" class="NormalBtn" dojotype="dijit.form.Button" id="payment" name="payment" value="payment" label="<?php echo $this->translate("payment");?>" onClick="validateform() ;"/>																   
		</td>
      </table>
      </fieldset> 
      </form>
     
   
   
   </html>
