<fieldset>
	<legend><?php echo $this->translate("Student Name").' '.$this->translate("Search");?></legend>
                    <form action="<?php echo $this->baseUrl();?>/general-setup/studentedit/index/search/1" method="POST">
                            <table width="100%">
                                <tr>
                                    <td><?php echo $this->translate("Student").' '.$this->translate("Name");?></td>
                                    <td><?php echo $this->lobjform->field3;?></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td ><?php echo $this->translate("Active");?></td>
                                    <td ><?php echo $this->lobjform->field7;?></td>
                                </tr>
                                <tr>
                                <td align = "center" colspan = "4">

											<?php echo $this->lobjform->Search;?>	
											<?php echo $this->lobjform->Clear;?>
								</td>
							    
                                </tr>
                        </table>
                    </form>	
    </fieldset> 
    <br/>
	<fieldset>
	<form dojoType="dijit.form.Form"  id="initconfigForm" name="form1" method="post" action="">
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
	    	<tr>
	        	<th><?php echo $this->translate("Student").' '.$this->translate("Name");?></th>
	        	<th><?php echo $this->translate($this->Course);?></th>
	        	<th><?php echo $this->translate("venue")?></th>
	    	</tr>
	        <?php if (count($this->paginator)): $cnnt = 0;  ?>
	        <?php foreach ($this->paginator as $lobjprogram): $cnnt++ ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	  		  <td><input type="checkbox" dojoType="dijit.form.CheckBox" name="IDApplication[]" value="<?php echo $this->escape($lobjprogram['IDApplication']);?>" id="IDApplication<?php echo $cnnt;?>">
	        	<td><a href="<?php echo $this->baseUrl();?>/general-setup/studentedit/editstudent/id/<?php echo $this->escape($lobjprogram['IDApplication']);?>" ><?php print_r($this->escape($lobjprogram['FName']));?></a></td>
	        	<td><?php print_r($this->escape($lobjprogram['ProgramName']));?></td>
	        	
	        	
	            <?php endforeach; ?>
	            <?php endif; ?> 
			</tr>
			<tr>
			<td>
	        	<input type="submit" class="NormalBtn" dojotype="dijit.form.Button" id="payment" name="payment" value="payment" label="<?php echo $this->translate("payment");?>"/>
	        	</td>																   
   			</tr>
		</table>
		</form>
	</fieldset>