<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<link href="<?php  echo $this->baseUrl();?>/css/calendar.css" rel="stylesheet" type="text/css" />   
<script type="text/javascript">
dojo.addOnLoad(function() {
	var Program = dijit.byId("Coursename");
	fngetstatedetails(Program);

});
function fngetstatedetails(idprog)
{
	
	var xhrArgs1 = {
			url: "<?php echo $this->baseUrl();?>"+"/general-setup/newscreen/fngetyear/idprog/"+idprog,
			handleAs:'json',
			load:function(data){ 
				
				AutoFillNextEditableDropDown("schedulerename1",data); 
			}
	   }
	dojo.xhrGet(xhrArgs1);

 
}


function fngetstatelist()
{
	var year = dijit.byId("schedulerename1").value;
	//alert(year);
	var Program = dijit.byId("Coursename");
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/general-setup/newscreen/fngetstatename/year/"+year+"/Program/"+Program,
			handleAs:'json',
			load:function(data){ 
				//document.getElementById('calender').innerHTML="";
				AutoFillNextEditableDropDown("newexamstate",data); 
				 
			}
	   }
	dojo.xhrGet(xhrArgs);

	var xhrArgs3 = {
			url: "<?php echo $this->baseUrl();?>"+"/general-setup/newscreen/fngetmonthname/year/"+year+"/Program/"+Program,
			handleAs:'json',
			load:function(data){ 
				AutoFillNextEditableDropDown("newexammonth",data); 
				//dijit.byId("newexammonth").setValue(data);
			}
	   }
	dojo.xhrGet(xhrArgs3);
	
	
	
}


function fnShowCalendar(idmonth)
{
	//alert('asdf');
	// dijit.byId("Examdate"+no).setValue('');
	var year = dijit.byId("schedulerename1").value;
	var Program = dijit.byId("Coursename");

	applieddate='<?php echo $this->AppliedDate;?>';
	//alert(applieddate);
		//alert(Year);
		var xhrArgs = {
	 			url: "<?php echo $this->baseUrl();?>"+"/general-setup/newscreen/caleshowmonth/idmonth/"+idmonth+"/Year/"+year+"/Program/"+Program+"/applieddate/"+applieddate,
	 			handleAs:'text',
	 			load:function(data)
	 			{ 
	 			//alert(data);
	 			document.getElementById('calender').innerHTML = data; 
	 			}
	 	   }
	 	dojo.xhrGet(xhrArgs);
}
function fnGetCitylist(idstate)
{
	//alert('asdf');
	
	var Program = dijit.byId("Coursename");
	var year = dijit.byId("schedulerename1").value;
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/general-setup/newscreen/fngetcitynames/idstate/"+idstate+"/Program/"+Program+"/idsecheduler/"+year,
			handleAs:'json',
			load:function(data){ 
				//document.getElementById('calender').innerHTML;
				AutoFillNextEditableDropDown("newexamcity",data); 
				//showcalender()
			}
	   }
	dojo.xhrGet(xhrArgs);
}





function funct(day,month)
{
///////////////scheduler exception/////////////////

	//dijit.byId("").set(day);
	//dijit.byId('newexamdates').setValue(day);
	document.getElementById('newexamdates').value=day;
	var city = dijit.byId("newexamcity");
	
	//var state = dijit.byId("NewState");
	var flagssss=0;
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/general-setup/newscreen/schedulerexception/day/"+day+"/month/"+month+"/city/"+city,
			handleAs:'text',
			load:function(data){
				 if(data == '')
				 {
						

					//////////////////////////////////////////////	
					
						
						var year = dijit.byId("schedulerename1");
						var city = dijit.byId("newexamcity");
						var idap = <?php echo $this->id;?>;
						var xhrArgs = {
								
								url: "<?php echo $this->baseUrl();?>"+"/general-setup/newscreen/tempdays/day/"+day+"/month/"+month+"/year/"+year+"/city/"+city,
								handleAs:'text',
								load:function(data){ 
									//alert(data)
									//document.getElementById(data).style.backgroundColor = '#FFFFFF';
									
									
									document.getElementById('divLogin').style.display = 'block';
									document.getElementById('divLogin2').style.display = 'block';


									
									if(data==1)
									{								
										var xhrArgs = {
									 			url: "<?php echo $this->baseUrl();?>"+"/general-setup/newscreen/selectvenue/day/"+day+"/month/"+month+"/year/"+year+"/city/"+city,
									 			handleAs:'text',
									 			load:function(data)
									 			{ 
									 			
									 				document.getElementById('contentdiv').innerHTML = data;
										 			//dijit.byId('idsession1').attr('checked','true');
										            ca= 1;//dijit.byId('idsession1').value;
										            fngettheVenues(ca,1);
									 			}
									 	   }
										dojo.xhrGet(xhrArgs);

										}
									else
									{
										alert("The Seats are full for this date In this City ,Please Change Date Or City ")
										document.getElementById('newexamdates').value ='';
										//document.getElementById('setmonth').value = '';
										//alert(x);
										//document.getElementById(x).style.backgroundColor = '#FEFFBF';
									}
								}
						   }
						dojo.xhrGet(xhrArgs);
						
				 }
				 else
				 { 
					 
					alert(data);
					//document.getElementById('newexamdates').value ='';
					//var flagssss=1;
				 }
				
			}
	   }
	dojo.xhrGet(xhrArgs);

	
}





function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}


function Closefn()
{
	document.getElementById('divLogin').style.display = 'none';
	document.getElementById('divLogin2').style.display = 'none';
}

</script> 
</head>
<body>

	<fieldset>
	  <legend><?php echo $this->translate("New").' '.$this->translate("Screen");?></legend>
 			
               
				<table width="100%" class="table">
					 <tr>
                         <th colspan = "4"><?php echo $this->translate('Student Details')?></th>
                     </tr>
                      <tr>
			               <td><?php echo $this->translate("Fname :");?></td>
			               <td><?php echo $this->Fname;?></td>
			               <td><?php echo $this->translate("Email Id :");?></td>
			               <td><?php echo $this->EmailAddress;?></td>
		             </tr>
		        
		                  <tr>
			               <td><?php echo $this->translate("ICNO :");?></td>
			               <td><?php echo $this->ICNO;?></td>
			               <td><?php echo $this->translate("Applied Date :");?></td>
			               <td><?php echo $this->AppliedDate;?></td>
		             </tr>
                     <tr>
                       <td><?php echo $this->translate("Course Name");?></td>
			               <td><?php echo $this->lobjnewscreenForm->Coursename;?></td>
			              <td><?php echo $this->translate("Schedule");?></td>
			               <td><?php echo $this->lobjnewscreenForm->schedulerename;?></td>
			          
		             </tr>
		               <tr>
		                  <td><?php echo $this->translate("Exam State");?></td>
			               <td><?php echo $this->lobjnewscreenForm->examstate;?></td>
			               <td><?php echo $this->translate("Exam City");?></td>
			               <td><?php echo $this->lobjnewscreenForm->examcity;?></td>
			               
			              
		             </tr>
		             <tr>
		                  <td><?php echo $this->translate("Exam Venue");?></td>
			               <td><?php echo $this->lobjnewscreenForm->Venues;?></td>
			                  <td><?php echo $this->translate("Exam Session");?></td>
			               <td><?php echo $this->lobjnewscreenForm->examsession;?></td>
			               </tr>
			              
			               <tr>
			            
			               
			              
		             </tr>
		              <tr>
		                  
			               <td><?php echo $this->translate("Exam Date");?></td>
			               <td><?php echo $this->lobjnewscreenForm->Examdate;?></td>
			                 <td><?php echo $this->translate("Mode Of Payment");?></td>
			               <td><?php echo $this->lobjnewscreenForm->paymentmode;?></td>
			               
			              
		             </tr>
		             <tr>
			               <td><?php echo $this->translate("Payment Status");?></td>
			               <td><?php echo $this->lobjnewscreenForm->Payment;?></td>
		             </tr>
				</table>

	            </fieldset> 
            </br>
				<fieldset>
				<Form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">
				 <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>
				<table width="100%" class="table">
				<input type="hidden" id="IDApplication" name='IDApplication' value="<?php echo $this->id;?>">
				      <tr>
                         <th colspan = "2"><?php echo $this->translate('Student changed Details')?></th>
                     </tr>
                   
		             <tr>
			                 <td><?php echo $this->translate("New Scheduler");?></td>
			               <td><?php echo $this->lobjnewscreenForm->schedulerename1;?></td>
			             
		             </tr>
		              <tr>
			                 <td><?php echo $this->translate("New State");?></td>
			               <td><?php echo $this->lobjnewscreenForm->newexamstate;?></td>
			             
		             </tr>
		              <tr>
			                 <td><?php echo $this->translate("New City");?></td>
			               <td><?php echo $this->lobjnewscreenForm->newexamcity;?></td>
			             
		             </tr>
		               <tr>
		                  <td><?php echo $this->translate("Exam Month");?></td>
			               <td><?php echo $this->lobjnewscreenForm->newexammonth;?></td>
			              
			               </tr>
			               
			                 <tr>
                             <td align="center" colspan="2">
                             
                                   
                             <div align="center "id="calender">  
                             </div>         
                              </td>              
                          </tr>  
                          <input type="hidden" id="newexamdates" name='newexamdates' value="">
                         
		       
		             <tr>
		                            
		                   <td  colspan="4" align="right">
		                   <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo "Back";?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'general-setup','controller'=>'newscreen', 'action'=>'index'),'default',true);?>';" /><td>
  		             </tr> 
				</table>
					<div runat="server" id="divLogin"  style="display:none; z-index: 153; position: absolute; left: 30%; width: 650px; top: 15%;">
					                <asp:Panel runat="server" ID="popupLogin">
					                    <asp:Panel runat="server" ID="popupContent1">
					                        <table style="height: 125px; width: 100%; background-color: #FFFFFF;" border="3"   frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">
					                                    	<div id="contentdiv"></div>
					                                      
					                                   </td>
					                                </tr>
					                                <tr>
					                                    <td colspan="2" align="left">
					                                        <asp:Label ID="lblmandatory" runat="server" Text="* Mandatory Information Required"
					                                            class="LeftLabelStyle" Width="350px" />
					                                    </td>
					                                </tr>
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
					            </div>
	<div runat="server" id="divLogin2"  style="display:none; opacity:0.4; z-index: 150; position: absolute; left: 0%; height: 100%; width: 100%; top: 0%;">
					                <asp:Panel >
					                    <asp:Panel  >
					                        <table style="height: 100%; width: 100%; background-color: #000000;" border="3"   frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">
					                                    	
					                                      
					                                   </td>
					                                </tr>
					                               
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
					            </div>
					                                </tr>
					                               
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
</div>	
				</Form> 
</fieldset>
</body>
</html>