<html xmlns="http://www.w3.org/1999/xhtml" dir="<?php echo $this->rtl;?>">
<fieldset>
 <legend>TOS Sample Questions Validation Report</legend>
<!--  Search Forms -->
<div class="search" style="margin-left:20px;">
<form action="<?php echo $this->baseUrl();?>/reports/tosquestions/index/search/1" method="POST" name="" >
<table width="100%">
	<tr>
     	<td class="label"><?php echo $this->translate($this->Batch);?></td>
     	<td><?php echo $this->lobjform->TosSet;?></td>
    </tr>
   <tr>
    	<td colspan="4" align=center>
	  		<?php echo $this->lobjform->Search;?>
			<input name="submit" type="button" class="NormalBtn" value="Clear"  dojoType="dijit.form.Button" label="Clear"  onclick="javascript:window.location.href='<?php echo $this->baseUrl();?>/reports/tosquestions'">
		</td>
	</tr>
</table>
</form>	
</div>
</fieldset> 
<br>
<!--  Grid Display -->       
<fieldset>
<table id="hor-minimalist-b"  width="100%"  class="table" cellpadding="5" cellspacing="1">
    <tr>
        <th><?php echo $this->translate->_($this->Batch).''. $this->translate->_(" Name")?></th>
        <th><?php echo $this->translate->_("From")?></th>
        <th><?php echo $this->translate->_("To")?></th>
        <th><?php echo $this->translate->_("No Of Questions")?></th>
        <th><?php echo $this->translate->_("Time Required")?></th>
        <th><?php echo $this->translate->_("Alert Time")?></th>
         <th><?php echo $this->translate->_("Status")?></th>
  

    </tr>
        <?php if (count($this->paginator)): ?>
        <?php foreach ($this->paginator as $exam ): ?>
    <tr style="color:red;background-color:green;">
    <?php if($exam['Active']==1){?>
    	<tr style="color:green;">
    <?php }else{?>
    	<tr>
    <?php }?>
        <td><a href="<?php echo $this->baseUrl();?>/reports/tosquestions/tosquestionsformat/idtos/<?php echo $this->escape($exam['IdTOS']);?>" >
        		<?php echo $this->escape($exam['BatchName']);?>
   			</a>
   		</td>
    	<td><?php echo date('d-m-Y',strtotime($exam['BatchFrom']));?></td>
    	<td><?php echo date('d-m-Y',strtotime($exam['BatchTo']));?></td>
    	<td><?php echo $this->escape($exam['NosOfQues']);?></td>
    	<td><?php echo $this->escape($exam['TimeLimit']);?></td>
    	<td><?php echo $this->escape($exam['AlertTime']);?></td>
    	<?php if($exam['Active']!=1){?>
    	 <td><?php echo $this->translate->_("Inactive");?></td>	 
    	 <?php }else {?> 
    	  <td><span ><?php echo $this->translate->_("Active");?></span></td>	 
    	  <?php }?>
    	 <?php endforeach; ?>
        <?php endif; ?>
    </tr>
    <tr>
        <td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->paginator,'Sliding',
                                    '/partials/my_pagination_control.phtml'); ?></div>
        </td>
    </tr>
</table>
</fieldset>      
</html>   