<?php 
    $this->lobjInvoicereportModel = new Reports_Model_DbTable_Tosquestions();
?>
<fieldset>
	<legend>TOS Sample Questions Obtained</legend>
	<div align="right">
		<form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/reports/tosquestions/tosquestionsformatreport/idtos/<?php echo $this->idtos; ?>" method="POST" > 
			<input name="regenerate" type="button" value="regenerate"  dojoType="dijit.form.Button" label="Re-generate"  onclick="javascript:window.location.href='<?php echo $this->baseUrl();?>/reports/tosquestions/tosquestionsformat/idtos/<?php echo $this->idtos; ?>'">
			<input type="submit" name="pdfreport" value="Print" dojotype="dijit.form.Button" label="Print PDF"/>
			<input name="back" type="button" class="NormalBtn" value="Back"  dojoType="dijit.form.Button" label="Back"  onclick="javascript:window.location.href='<?php echo $this->baseUrl();?>/reports/tosquestions'">
		</form>
		
	</div>
		<h2 style="text-align:center;"><b>TOS Set Name : <?php echo $this->tosquestions['0']['tosname'];?></b></h2>
		

<table  width="100%"  class="table" cellpadding="5" cellspacing="1">
    <tr>
        <th><?php echo $this->translate->_("Si.No")?></th>
        <th><?php echo $this->translate->_("Question ID")?></th>
        <th><?php echo $this->translate->_("Group")?></th>
        <th><?php echo $this->translate->_("Chapter")?></th>
        <th><?php echo $this->translate->_("Level")?></th>
        <th><?php echo $this->translate->_("Question")?></th>
    </tr>
    
    <?php $i=0;$prevgroupname="";$prevchapter="";
    foreach($this->tosquestions as $tosquestions){
    	$randomquestions=$this->lobjInvoicereportModel->fnGetRandomQuestions($tosquestions);
    	//echo "<pre/>";print_r($randomquestions);
    	foreach($randomquestions as $random){?>
		    <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next();?>">
		    	<td><?php echo ++$i;?></td>
		    	<td><?php echo $random['idquestions'];?></td>
		    	<?php if($prevgroupname!=$random['QuestionGroup']){?>
		    	<td><?php echo $random['QuestionGroup']?></td>
		    	<?php 
		    		$prevgroupname=$random['QuestionGroup'];
		    	}else{?>
		    		<td><?php echo "";?></td>
		    	<?php }?>
		    	
		    	<?php if($prevchapter!=$tosquestions['IdSection']){?>
		    		<td><span style="font-weight:bold;"><?php echo $tosquestions['IdSection']?></span></td>
		    	<?php 
		    		$prevchapter=$tosquestions['IdSection'];
		    	}else{?>
		    		<td><?php echo "";?></td>
		    	<?php }?>
		    	<?php if($tosquestions['IdDiffcultLevel']==1){?>
		    	<td><?php echo "Easy";?></td>
		    	<?php }else if($tosquestions['IdDiffcultLevel']==2){?>
		    	<td><?php echo "Medium";?></td>
		    	<?php }else if($tosquestions['IdDiffcultLevel']==3){?>
		    	<td><?php echo "Difficult";?></td>
		    	<?php }?>
		    	<td><?php echo $random['Question']?></td>
		    
		    </tr>
   <?php }//die();
    }
   ?>
</table>
</fieldset>      
 