<html >
<head>

<script></script>
</head>
<body class="claro">            

<fieldset >
 <legend><?php echo $this->translate->_("Accounts").' '.$this->translate->_("Master")?></legend>
<form dojoType="dijit.form.Form"  id="initconfigForm" name="form1" method="post" action="">
<script type="dojo/method" event="onSubmit" >
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>
				<?php echo $this->lobjaccountmasterentryform->UpdDate?>
				<?php echo $this->lobjaccountmasterentryform->UpdUser?>	
                    <table class="table" width="100%" >
                        <tr>
                            <th colspan = "4"><?php echo $this->translate->_("Accounts").' '.$this->translate->_("Master")?></th>
                        </tr>
	    		<tr>
         		<td><?php echo $this->translate->_("Account").' '.$this->translate->_("Name")?><span class="reqMark">*</span></td>
        			<td><?php echo $this->lobjaccountmasterentryform->AccountName?></td>		        	
      			
			        <td ><?php echo $this->translate->_("Account").' '.$this->translate->_("Short").' '.$this->translate->_("Name")?><span class="reqMark">*</span></td>
        			<td ><?php echo $this->lobjaccountmasterentryform->AccShortName?></td>
        			</tr>
		      	<tr>
        			<td ><?php echo $this->translate->_("Prefix").' '.$this->translate->_("Code")?></td>
        			<td ><?php echo $this->lobjaccountmasterentryform->PrefixCode?></td>
        			<td ><?php echo $this->translate->_("Description")?></td>
        			<td ><?php echo $this->lobjaccountmasterentryform->Description?></td >
        		</tr>	
		      	<tr>
        		       <td><?php echo $this->translate->_("Course").' '.$this->translate->_("Type")?></td>
        			<td><?php echo $this->lobjaccountmasterentryform->programtype?></td>	
        			 <td><?php echo $this->translate->_("Active")?></td>
        			<td><?php echo $this->lobjaccountmasterentryform->Active?></td>			        	
		      	</tr>	
		      	<tr>
        		       <td><?php echo $this->translate->_("During").' '.$this->translate->_("Re-registration")?></td>
        			<td><?php echo $this->lobjaccountmasterentryform->duringRegistration?></td>	
        			<td></td>
                          <td></td>
        					        	
		      	</tr>	
		      	   <tr>
                          <td></td>
                          <td></td>
                            <td></td>        
                            <td align = "right"><?php echo $this->lobjaccountmasterentryform->Save;?>
							<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'finance','controller'=>'accountmaster', 'action'=>'index'),'default',true);?>';" />	
                            </td> 
                        </tr>
              </table>
              
</form>
</fieldset>
</body>
</html>
     