<html>
     <head>
     </head>
        <body>  
           <fieldset>
             <legend><?php echo "Type";?></legend>
	            <Form dojoType="dijit.form.Form" id="myForm" action="" method="POST"  name= "myForm" >
	                 <script type="dojo/method" event="onSubmit">
                       if (this.validate()) 
                        {
					     return true;
                        } 
                          else 
                        {
                         return false;
                        }
                       </script> 
	                 <table class="table" width="100%">
		                    <tr>
                            <th colspan = "4"><?php echo $this->translate('Type Details')?></th>
                           </tr>
                           
		                   <tr>
			               <td><?php echo $this->translate("Enter Terms and Conditions");?><span class="reqMark">*</span></td>
			               <td><?php echo $this->lobjStudenttypeform->Terms;?></td>
			               <td><?php echo $this->translate("Select Type");?></td>
			               <td><?php echo $this->lobjStudenttypeform->studenttype;?></td>
		                   </tr>				                   
		                       		                   
		                   <td  colspan="4" align="right"><?php echo $this->lobjStudenttypeform->Save;?> 
		                     <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo "Back";?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'general-setup','controller'=>'studenttype', 'action'=>'index'),'default',true);?>';" /><td>
  		                   </tr>                
		               </table>
                   </Form>
	         </fieldset>
       </<body>
</html>
