<html>
<head>
<script>
dojo.addOnLoad(function()
		       {
	              dijit.byId('field2').focus();	
	           }
	          );
</script>
</head>
<body class="claro">
	<fieldset>
	<legend><?php echo "Type Search";?></legend>
        <form action="<?php echo $this->baseUrl();?>/general-setup/studenttype/index/search/1" method="POST">
            <table width="100%">
                <tr>
                   <td><?php echo "Type";?></td>
                   <td align = "justify"><?php echo $this->lobjform->field2;?></td>                   
                </tr> 
                
                 <tr>
                 <td></td>               
               <td ><?php echo $this->lobjform->Search;?>
					<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo "Add"; ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'general-setup','controller'=>'studenttype', 'action'=>'add'),'default',true);?>';" />	
					<?php echo $this->lobjform->Clear;?>
					</td>
               </tr>
            </table>
          </form>	               	
    </fieldset>
    <br>
    
<br/>
</body>
</html>























