<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="<?php echo $this->rtl;?>">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
<title></title>
<link rel="stylesheet" type="text/css"  href="<?php  echo $this->baseUrl();?>/js/themes/cupertino/jquery.ui.all.css" />
<script language='javascript' src='<?php  echo $this->baseUrl();?>/js/jquery-1.4.3.js'></script>
<script type="text/javascript" src="<?php  echo $this->baseUrl();?>/js/jquery-ui.js"></script>
<script language='javascript' src='<?php  echo $this->baseUrl();?>/js/sfs-common.js'></script>
<link rel="stylesheet" type="text/css"  href="<?php  echo $this->baseUrl();?>/css/default.css" />
<link rel="stylesheet" type="text/css"  href="<?php  echo $this->baseUrl();?>/css/style2.css" />	


<!-- ///////////////////////// DOJO ////////////////////////// -->
<script type="text/javascript" src="<?php  echo $this->baseUrl();?>/js/dojo/dojo/dojo.js" djConfig="parseOnLoad: true,locale:'<?php echo $this->lang;?>'"></script>
<script type="text/javascript" src="<?php  echo $this->baseUrl();?>/js/dojo/dojo/nls/dojo_en-us.js"></script>
<script type="text/javascript" src="<?php  echo $this->baseUrl();?>/js/dojo/dojo/nls/dojo_ar.js"></script>
<script type="text/javascript" src="<?php  echo $this->baseUrl();?>/js/dojo/dojo/nls/dojo_en.js"></script>
<style type="text/css"> body, html { font-family:helvetica,arial,sans-serif; font-size:90%; } </style>
<link rel="stylesheet" type="text/css" href="<?php  echo $this->baseUrl();?>/js/dojo/dijit/themes/claro/claro.css" />
<link rel="stylesheet" type="text/css" href="<?php  echo $this->baseUrl();?>/js/dojo/dijit/themes/claro/document.css" />
<link rel="stylesheet" type="text/css" href="<?php  echo $this->baseUrl();?>/js/dojo/dojo/resources/dojo.css" />
<!-- ///////////////////////// DOJO ////////////////////////// -->


$(document).ready(function() {
	
	<?php if($this->lvarsave == 1) {?>
	var conr=confirm("Do you want to save the course charges now?");
	if(conr==true)	
	  {
		window.location.href='<?php echo $this->baseUrl();?>/coursemaster/coursecharges/lvarId/'+<?php echo $this->lvarid;?>+'/lvarsave/0';	
	  }
	else 
	  {
		parent.window.location.href='<?php echo $this->baseUrl();?>/coursemaster';
	  }
	 <?php } ?> 	 
	 $("#effectivedate").datepicker({"dateFormat":"dd-mm-yy"}); 
});

function redirect()
{
	window.location.href='<?php echo $this->baseUrl();?>/coursemaster/coursemasterlist/idCourse/'+<?php echo $this->lvarid;?>;
}

function ddmmyyyyToDate(str) {
    var parts = str.split("-");                  // Gives us ["dd", "mm", "yyyy"]
    return new Date(parseInt(parts[2], 10),      // Year
                    parseInt(parts[1], 10) - 1,  // Month (starts with 0)
                    parseInt(parts[0], 10));     // Day of month
}

function redirecttoAdd(lvarIds){
	window.location.href='<?php echo $this->baseUrl();?>/coursemaster/coursecharges/lvarId/'+lvarIds+'/lvarsave/0';	
}
</script>
</head>
<body>            
<div id="cont-right">
 <div class="selected"></div> 
<fieldset>
    <legend><?php echo $this->translate->_("Course Charges");?></legend>
        <div class="register">
            <div class="profile_tab">
                <form   action="" method="POST"  name= "myform"  onSubmit="return validateForm(1);">         	
                    <table id="hor-minimalist-b">
                        <tr>
                            <TH><?php echo $this->translate->_("Course Charges");?></TH>
                            <TH></TH>
                            <TH></TH>
                            <TH></TH>
                        </tr>                      
                        <tr>    
                             <td><?php echo $this->translate->_("Course");?></td>
                             <td><?php echo $this->lobjcoursechragesForm->Course;?></td>
                             <td><?php echo $this->translate->_("Effective Date");?><span class="reqMark">*</span></td>
                             <td><?php echo $this->lobjcoursechragesForm->effectivedate;?></td>
                        </tr>      
                        <tr>    
                             <td><?php echo $this->translate->_("Account Name");?><span class="reqMark">*</span></td>
                             <td><?php echo $this->lobjcoursechragesForm->PriceType;?></td>    
                             <td><?php echo $this->translate->_("International");?></td>
                             <td><?php echo $this->lobjcoursechragesForm->International;?></td>
                        </tr>
                        <tr>      
                             <td style="width:140px"><?php echo $this->translate->_("Rate");?><span class="reqMark">*</span></td>
                             <td style="width:220px"><?php echo $this->lobjcoursechragesForm->Rate;?></td>                        
                             <td style="width:140px"><?php echo $this->translate->_("CurrencyType");?><span class="reqMark">*</span></td>
                             <td style="width:220px"><?php echo $this->lobjcoursechragesForm->CurrencyType;?></td>                            
                         </tr>  
                         <tr>    
                             <td><?php echo $this->translate->_("Active");?></td>
                             <td><?php echo $this->lobjcoursechragesForm->Active;?></td>    
                             <td></td>
                             <td></td>
                        </tr>                      
	                </table>
	                <table>
                        <tr>                        	
                            <td align = "right">  
                            	 <?php echo $this->lobjcoursechragesForm->Save;?>            
                           		 <INPUT type="button" class="buttonStyle" value="Close" onclick  = 'redirect();' />
                           		 <INPUT type="button" class="buttonStyle" value="Clear" onclick  = 'redirecttoAdd(<?php echo $this->lvarid;?>);' /> 
                             </td>             
                        </tr>
                </table>
            </form>
        </div>
    </div>
</fieldset>

 <?php   if (count($this->paginator)): ?>
 <fieldset>
  	<table id="hor-minimalist-b" cellspacing="1" cellpadding="0" border="0">
		<thead>
    		<tr>
				<th>Date</th>
				<th>Account Name</th>
        		<th>Rate</th>
        		<!--<th>CurrencyType</th>        		
    		--></tr>
    	</thead>
		<tbody>           
			<?php //print_r($this->larrinitconfiglabel);?>
            <?php foreach ($this->paginator as $lobjcategory ):  ?>
            <tr>
          		<td><a href="<?php  echo $this->baseUrl();?>/coursemaster/coursecharges/lvarId/<?php echo $this->lvarid?>/lvaredit/<?php echo $lobjcategory['idCourseCharge']?>"><?php echo date('d-m-Y',strtotime($this->escape($lobjcategory['effectivedate'])));?></a></td>
          		<td><?php  echo $lobjcategory['AccountName'];?></td>
          		<td><?php  echo $this->escape($lobjcategory['Rate']);?></td>
          		<!--<td><?php // echo $this->larrinitconfiglabel[$lstrlabelcurr.$lobjcategory['CurrencyType']];?></td>	            	
     		--></tr>
     		<?php  endforeach; ?>
     	</tbody>
  <!--    	<tbody>           
			<?php //print_r($this->larrinitconfiglabel);?>
            <?php //$lstrlabel = "Feecaption"; $lstrlabelcurr	=	"FeeCurrency";  foreach ($this->paginator as $lobjcategory ):  ?>
            <tr>
          		<td><a href="<?php // echo $this->baseUrl();?>/coursemaster/coursecharges/lvarId/<?php // echo $this->lvarid?>/lvaredit/<?php // echo $lobjcategory['idCourseCharge']?>"><?php // echo date('d-m-Y',strtotime($this->escape($lobjcategory['effectivedate'])));?></a></td>
          		<td><?php // echo $this->larrinitconfiglabel[$lstrlabel.$lobjcategory['PriceType']];?></td>
          		<td><?php // echo $this->escape($lobjcategory['Rate']);?></td>
          		<td><?php // echo $this->larrinitconfiglabel[$lstrlabelcurr.$lobjcategory['CurrencyType']];?></td>	            	
     		</tr>
     		<?php // endforeach; ?>
     	</tbody> --> 
     		<tr>
        		<td colspan="8" align="right"><div class="pagination"><?php   echo $this->paginationControl($this->paginator,'Sliding',
                                    '/partials/my_pagination_control.phtml'); ?></div></td>
    	  </tr>
      </table>
   </fieldset> 
 <?php  endif; ?>

</div>
</body>