<head>
  <script>
      $(document).ready(function() {    	 
     	 dijit.byId("id").focus();
      }); 

      function goback()
      {
    	  window.location = "<?php echo $this->baseUrl();?>/index/login";
      }     
 </script>
<body class='claro'>
<div style="margin-top: 10px" align = "left" class = "label">&nbsp;
</div>
<form dojoType="dijit.form.Form"  id="form"  name="form" action = "" method= "post" >
 <script type="dojo/method" event="onSubmit">
     if (this.validate()) {
		return true;
     } else {
         return false;
    }
</script>

	<div style="margin-top: 100px" align = "center">
		<div class="search" style="margin-left:20px;">
			<table align = "center">
				<tr>
					<td><?php echo $this->translate("RegId");?><span class="reqMark">*</span></td>
					<td><?php echo $this->lobjform->id;?></td>
					
					<td><?php echo $this->lobjform->Date;?></td>
				</tr>
				
					<td></td>
					<td align="center">
						<?php echo $this->lobjform->Login;?>
						<?php echo $this->lobjform->Reset;?>
						<?php echo $this->lobjform->Back;?>
						
					</td>
					<?php //echo $this->translate($this->lstrmessage);?>
				</tr>
			</table>
		</div>
	</div>
	<div style="margin-top: 225px" align = "center">&nbsp;</div>
</form>
</body>
