 <head>
  <script>
      $(document).ready(function() {    	 
     	 dijit.byId("username").focus();
      });      
 </script>
</head>
<body class='claro'>
<div style="margin-top: 10px" align = "left" class = "label">&nbsp;
</div>
<form dojoType="dijit.form.Form"  id="form"  name="form" action = "<?php echo $this->baseUrl();?>/index/login" method= "post" >
 <script type="dojo/method" event="onSubmit">
     if (this.validate()) {
		return true;
     } else {
         return false;
    }
</script>

	<div style="margin-top: 100px" align = "center">
		<div class="search" style="margin-left:20px;">
			<table align = "center">
				<tr>
					<td class = "label"><?php echo $this->translate->_("Username");?><span class="reqMark">*</span></td>
					<td class = "dataObjectStyle" ><?php echo $this->lobjform->username;?></td>
				</tr>
				<tr>
					<td class = "label"><?php echo $this->translate->_("Password");?><span class="reqMark">*</span></td>
					<td class = "dataObjectStyle"><?php echo $this->lobjform->password;?></td>
				</tr>
				<tr>
					<td></td>
					<td align="center">
						<?php echo $this->lobjform->Login;?>
						<?php echo $this->lobjform->Reset;?>
					</td>
					<?php echo $this->translate->_($this->lstrmessage);?>
				</tr>
			</table>
		</div>
	</div>
	<div style="margin-top: 225px" align = "center">&nbsp;</div>
</form>
</body>
