<html>
<head>
<script>
dojo.addOnLoad(function(){
	
	});
</script>
</head>
<body class='claro'>	
<fieldset>
	<legend><?php echo $this->translate("Qualification").' '.$this->translate("Stastics").' '.$this->translate("Reports");?></legend>
	
<fieldset>
<form id="myForm1" name = "myform1" action="<?php echo $this->baseUrl();?>/reports/qualificationreport/fnexportexcel" method="POST">
    <table class="table" width="100%" cellpadding="5" cellspacing="1">
     <input type="hidden" name="selmonth" id="selmonth" value="<?php echo $this->month1.'-'.$this->Year;?>">
    <tr>
    <th></th>
        <th align ="center" colspan = 6 ><b><?php echo $this->translate("$this->month").' '. $this->translate("$this->Year");?></b></th>
    </tr>
    
    <tr>
       <th><?php echo $this->translate("Qualification") ?></th>
       <?php $quali=$this->larrquali; for($linti=0;$linti<count($quali);$linti++) {?>
       <th><?php echo $this->translate($quali[$linti]) ?></th>
       <?php } ?>
       <th><?php echo $this->translate("TOTAL") ?></th>
    </tr>
    
     <tr style="background-color:#F0F0F0">
      <td><b><?php echo "Registered";?></b></td>
      <?php $lintreg=$this->lintreg; $linttotalreg=0; for($linti=0;$linti<count($lintreg);$linti++) {$linttotalreg+=$lintreg[$linti];?>
      <td><?php if($lintreg[$linti])echo $this->translate($lintreg[$linti]);else echo 0?></td>
      <?php } ?>
      <td><?php if($linttotalreg) echo $linttotalreg;else echo 0;?></td>  
      </tr>
        
      <tr style="background-color:#FFFFFF">
      <td><b><?php echo "Sat";?></b></td>
       <?php $lintsat=$this->lintsat;$linttotalsat=0; for($linti=0;$linti<count($lintsat);$linti++) {$linttotalsat+=$lintsat[$linti];?>
       <td><?php if($lintsat[$linti]) echo $this->translate($lintsat[$linti]);else echo 0;?></td>
       <?php } ?>
      <td><?php if($linttotalsat) echo $linttotalsat;else echo 0;?></td>
      </tr>
      
      <tr style="background-color:#F0F0F0">
      <td><b><?php echo "Pass";?></b></td>
      <?php $lintpass=$this->lintpass;$linttotalpass=0; for($linti=0;$linti<count($lintpass);$linti++) {$linttotalpass+=$lintpass[$linti];?>
       <td><?php if($lintpass[$linti]) echo $this->translate($lintpass[$linti]);else echo 0;?></td>
       <?php } ?>
      <td><?php if($linttotalpass) echo $linttotalpass;else echo 0;?></td>  
      </tr>
      
      <tr style="background-color:#FFFFFF">
      <td><b><?php echo "Fail";?></b></td>
       <?php $lintfail=$this->lintfail;$linttotalfail=0; for($linti=0;$linti<count($lintfail);$linti++) {$linttotalfail+=$lintfail[$linti]; ?>
       <td><?php if($lintfail[$linti]) echo $this->translate($lintfail[$linti]);else echo 0;?></td>
       <?php } ?>
      <td><?php if($linttotalfail) echo $linttotalfail;else echo 0;?></td>
      </tr>
      
        <tr style="background-color:#F0F0F0">
      <td><b><?php echo "Absent";?></b></td>
       <?php $lintabsent=$this->lintabsent;$linttotalabsent=0; for($linti=0;$linti<count($lintabsent);$linti++) {$linttotalabsent+=$lintabsent[$linti];?>
       <td><?php if($lintabsent[$linti]) echo $this->translate($lintabsent[$linti]);else echo 0;?></td>
       <?php } ?>
      <td><?php if($linttotalabsent) echo $linttotalabsent;else echo 0;?></td>  
      </tr>
 <tr>
     <td colspan="7" align="right"><?php echo $this->lobjform->ExportToExcel?>
<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'reports','controller'=>'statistics', 'action'=>'index'),'default',true);?>';" />	


</td>	
 </tr> 
</table>
</form>
</fieldset>
</fieldset>
</body>
</html>
