<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<?php echo $this->lang;?>" lang="<?php echo $this->lang;?>" dir="<?php echo $this->rtl;?>">
<head>
	
	<script type="text/javascript">
	dojo.addOnLoad(function(){
		$("input#defTypeDesc").focus();		
		});
	
		function fnValidate(){
			flag = true;
			if(document.getElementById("defTypeDesc").value==""){
				$("#errDefDesc").addClass("errors");
				document.getElementById("errDefDesc").innerHTML ="Value can't be empty";
				flag = false;
			}
			return flag;
		}
		
	</script>
</head>
<body class = "claro">
	<fieldset>
		<legend><?php echo $this->translate("New Maintenance");?></legend>
		<div class="register">
			<div class="profile_tab">
                <form dojoType="dijit.form.Form" action="" method="POST"  name= "myform" id= "myform">
<script type="dojo/method" event="onSubmit">
  if (this.validate()) {
	return true;
} else {
	return false;}
</script>
					 <table class="table" width="100%" >
						<tr>
							<td style="width:150px"><?php echo $this->translate("Definition")." ".$this->translate("Description");?><span class="reqMark">*</span></td>
							<td <?php if( $this->rtl=='rtl'){?>style="text-align:right;padding-right:10px" <?php }?>>
								<?php echo $this->lobjMaintenanceForm->defTypeDesc;?>
								<br/><span id="errDefDesc"></span>
							</td>
						</tr>
						<tr>
                           <td></td>        
                            <td align = "center"><?php echo $this->lobjMaintenanceForm->Save;?>
							<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'general-setup','controller'=>'maintenance', 'action'=>'index'),'default',true);?>';" />	
                           </td> 
                               
                        </tr>	
					</table>
                
					
				</form>
			</div>
		</div>
	</fieldset>
</body>