<head>
<script>
dojo.addOnLoad(function(){
	dijit.byId('field1').focus();	
	});

function fngetschedulerdetails(idbatch)
{
	
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/stu-app/studentapplication/fngetschedulerdetails/idbatch/"+idbatch,
			handleAs:'json',
			load:function(data){ 
				
				AutoFillNextEditableDropDown("field5",data); 
			}
	   }
	dojo.xhrGet(xhrArgs);
}	
function fngetvenuedetails(idscheduler)
{	//alert(idscheduler);
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/stu-app/studentapplication/fngetvenue/idscheduler/"+idscheduler,
			handleAs:'json',
			load:function(data){ 
				//alert(data);
				AutoFillNextEditableDropDown("field8",data); 
			}
	   }
	dojo.xhrGet(xhrArgs);
}
function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}

function checkAll(){
 	nodes = dojo.query('[name=\"IdInvoices[]\"]');
 	if(document.getElementById('stdId').checked == true) {		 
 		
 		dojo.forEach(nodes,
 		    function(node)
 		    {
 		        dijit.getEnclosingWidget(node).set("checked",true);
 		    }
 		);
 	}
 	else {	
 		dojo.forEach(nodes,
 			    function(node)
 			    {
 			        dijit.getEnclosingWidget(node).set("checked",false);
 			    }
 			);
 	}
 }

function validateForm(){
	
	
/*	 var n = $("input:checked").length;
	 if(n == 0){
		 alert("<?php echo $this->translate->_("Please").' '.$this->translate->_("Select").' '.
		                   $this->translate->_("Atleast").' '.$this->translate->_("One").' '.$this->translate->_("Student");?>");
	   // alert("<?php // echo $this->translate->_("Student Name").' '.$this->translate->_("Student Name");?>");		
	    return false;
	 }
	 else{
	   return true;
	 }*/
} 
</script>
</head>
	<fieldset>
		<legend><?php echo $this->translate("Student").' '.$this->translate("Search");?></legend>
         <form action="<?php echo $this->baseUrl();?>/stu-app/centerconfirmation/index/search/1" dojoType="dijit.form.Form"  method="POST">
           <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					  return true;
                } else {
                    return false;
                }
				</script>
			 <table width="100%">
                <tr>
                   <td><?php echo $this->translate("Batch");?> <span class="reqMark">*</span></td>
                   <td ><?php echo $this->lobsearchform->field1;?></td>
                   <td><?php echo $this->translate("Scheduler");?> <span class="reqMark">*</span></td>
                   <td ><?php echo $this->lobsearchform->field5;?></td>
                </tr>
                <tr>
                     <td><?php echo $this->translate("Venue");?> <span class="reqMark">*</span></td>
                     <td ><?php echo $this->lobsearchform->field8;?></td>
                     <td ><?php //echo $this->translate("Active");?></td>
                    <td ><?php //echo $this->lobsearchform->field7;?></td>
                </tr>
               
                <tr>
	               <td align = "center" colspan = "4">
						<?php echo $this->lobsearchform->Search;?>
						<?php echo $this->lobsearchform->Clear;?>
				   </td>
                </tr>
            </table>
        </form>	
    </fieldset> 
    <br/>
    <?php if(count($this->paginator)>0){?>
	<fieldset>
	 <form action="<?php echo $this->baseUrl();?>/stu-app/centerconfirmation/index" method="POST">
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
		
	    	<tr>
	    		<th><input type="checkbox" dojoType="dijit.form.CheckBox" name="stdId" onClick="checkAll();" id="stdId"></th>
	        	<th><?php echo $this->translate("Name");?></th>
	        	<th><?php echo $this->translate("Batch Name");?></th>
	        	<th><?php echo $this->translate("Program Name");?></th>
	       	   
	    	</tr>
	        <?php $cnnt = 0; if (count($this->paginator)): ?>
	        <?php foreach ($this->paginator as $lobjuser ):$cnnt++; ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	  		  <td><input type="checkbox" dojoType="dijit.form.CheckBox" name="IdInvoices[]" value="<?php echo $this->escape($lobjuser['IDApplication']);?>" id="studentIds<?php echo $cnnt;?>" class="checkClass">
	  		  		 <input type="hidden" name="IdStudents[]" value="<?php echo $lobjuser['IDApplication'];?>" id="IdStudents"></td>
	        	<td><?php echo $this->escape($lobjuser['Name']);?></td>
	    	    <td><?php echo $this->escape($lobjuser['BatchName']);?></td>
	    		<td><?php echo $this->escape($lobjuser['ProgramName']);?></td>
	            <?php endforeach; ?>
	            <?php endif; ?> 
			</tr>
			<tr>
	        	<td colspan="8" align="right"><div class="pagination"><?php //echo $this->paginationControl($this->lobjpaginator,'Sliding',                              '/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>
			<tr>
			<td colspan="4" align="right"><?php echo $this->lobjstudentForm->SendMail;?></td>
			</tr>
	    	
		</table>
		</form>
	</fieldset>
<?php }?>