<head>
<Script type="text/javascript">
dojo.addOnLoad(function(){

	

	});
	function fninstruction()
	{
	
	   document.getElementById('contentdiv').style.display = '';
	   document.getElementById('divLogin').style.display = '';
	   document.getElementById('divLogin2').style.display = '';
	}
	function Closefn()
	{
		//document.getElementById('contentdiv').innerHTML = "";
		document.getElementById('divLogin').style.display = 'none';
		document.getElementById('divLogin2').style.display = 'none';
	}
	
function fngetcenterdetails(centerid)
{
  var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/registrationreport/centerdetails/idcenter/"+centerid,
			handleAs:'text',
			load:function(data){ 
				document.getElementById('contentvenuediv').innerHTML = data;
				document.getElementById('divLoginvenue').style.display = 'block';
				document.getElementById('divLoginvenue2').style.display = 'block';
			}
	   }
	dojo.xhrGet(xhrArgs);
}
 function Closevenue()
 {
    document.getElementById('contentvenuediv').innerHTML = "";
	document.getElementById('divLoginvenue').style.display = 'none';
	document.getElementById('divLoginvenue2').style.display = 'none';
     
 }
function examtoDateSetting(){ 
	var RegFromDate = dijit.byId('FromDate').value;
	var startDate = dijit.byId('ToDate');
	var trdat = ""+RegFromDate;
	var d = new Date(trdat); 
	d.setDate(d.getDate());
    var date = d.getDate();
    var month = d.getMonth()+1;
    var year = d.getFullYear();
	
    if(month<10) month = "0"+month;
    if(date<10) date = "0"+date;
    var nextdate = year+'-'+month +'-'+date;
    
	startDate.constraints = dojo.mixin(startDate.constraints, {min: dojo.date.stamp.fromISOString(nextdate)}); 

	var trdat = ""+RegFromDate;
	var d = new Date(trdat); 
	d.setDate(d.getDate() + 30);
    var date = d.getDate();
    var month = d.getMonth()+1;
    var year = d.getFullYear();
	
    if(month<10) month = "0"+month;
    if(date<10) date = "0"+date;
    var nextdate = year+'-'+month +'-'+date;
	startDate.constraints = dojo.mixin(startDate.constraints, {max: dojo.date.stamp.fromISOString(nextdate)}); 
}

</script>
<style type = "text/css">
td.border 
{
border-width: 1px;
border-color: black;
border-style: solid;
}
td.adjust
{
	align : right;
}

</style>
</style>
</head>
<body class='claro'>
				
<fieldset>
	<legend><?php echo $this->translate("In-house").' '.$this->translate("Examination").' '.$this->translate("Schedule");?></legend>
 		<form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/takafulregistrationreport" method="POST" > 
 		  <script type="dojo/method" event="onSubmit">
             if (this.validate()){
					return true;
                } else {
                   return false;
               }
			</script>
		<table class = "table" width="100%">
		        
				<tr>
				    <td colspan = "2"><?php echo $this->translate("Select In-house Center:")?></td>
                    <td colspan = "2"><?php echo $this->lobjform->Venue;?></td>
                    <td colspan = "2"><?php echo $this->translate("Exam From Date:")?></td>
                    <td colspan = "2"><?php echo $this->lobjform->FromDate;?></td>
                    <td colspan = "2"><?php echo $this->translate("Exam To Date:")?></td>
                    <td colspan = "2"><?php echo $this->lobjform->ToDate;?></td>
                    <td colspan = "2"><?php echo $this->translate("Select Day:")?></td>
                    <td colspan = "2"><?php echo $this->lobjform->day;?></td>
                </tr>
               <tr>
               <td colspan = "16" align = "center"><?php echo $this->lobjform->Search;?>
					 <?php echo $this->lobjform->Clear;?>
				    <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('controller'=>'managetakafulcenters','action'=>'index'),'default',true);?>';" />
				</td>
               </tr>
		</table>
	</form>	
		</div>
	</fieldset> 
<br>

<?php if($this->search){?>
<?php if($this->bulkvenue == 1){ ?>
<fieldset> 
<form id="myForm1" name = "myform1" action="<?php echo $this->baseUrl();?>/takafulregistrationreport/fnexportexcel" method="POST">
    <?php if($this->dates){?>
    <table  class = "table" width="100%" border = '1' >
    <?php $dat =  $this->dates;?>
    <tr>
        <th style="background-color:grey"><b><?php echo $this->translate("In-house Center/Exam Dates")?></b></th>
        <?php for($lvars=0;$lvars<count($dat);$lvars++){?>
		<th style="background-color:grey"><b><?php echo $dat[$lvars]['Date'];?><br>
		<?php echo $dat[$lvars]['dayname'];?><?php echo "[Seats Available]";?></b><?php }?></th>
    </tr>
     <?php $ven =  $this->venuegroup;?>
        <?php for($lvars=0;$lvars<count($ven);$lvars++){?>
        <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
		 <td class = "border " valign = "top"><?php  echo $ven[$lvars]['centername'];?></td>
        	
        	 <?php for($j=0;$j<count($dat);$j++){?>
        	 
        	 <?php $this->lobjSchedulereport = new App_Model_Takafulreportmodel();
        	       $idcenter = $ven[$lvars]['idcenter'];
        	       $date = $dat[$j]['date'];
        	       $larresult =$this->lobjSchedulereport->fngetseats($idcenter,$date); 

        	       $cnt = count($larresult);
        	       if($cnt==3)
        	       { ?> 
        	       	<td class = "border " valign = "top">
        	       		 <table width="100%">
        	       		 	<tr><td align="left"><?php echo $larresult[0]['managesessionname'].':';?><?php echo $larresult[0]['ampmstart'];?>
							
							<?php if($larresult[0]['Totalcapacity']-$larresult[0]['Allotedseats'] <= 0){?>
							[Full]
							<?php } else{?>
        	       		 	[<?php echo $larresult[0]['Totalcapacity']-$larresult[0]['Allotedseats'];?>]</td></tr>
        	       		    <?php } ?>
							
        	       		    <tr><td align="left"><?php echo $larresult[1]['managesessionname'].':';?><?php echo $larresult[1]['ampmstart'];?>
							
        	       		    <?php if($larresult[1]['Totalcapacity']-$larresult[1]['Allotedseats'] <= 0){?>
							[Full]
							<?php } else{?>
        	       		 	[<?php echo $larresult[1]['Totalcapacity']-$larresult[1]['Allotedseats'];?>]<?php } ?></td></tr>							
        	       		    
							<tr><td align="left"><?php echo $larresult[2]['managesessionname'].':';?><?php echo $larresult[2]['ampmstart'];?>
							
        	       		    <?php if($larresult[2]['Totalcapacity']-$larresult[2]['Allotedseats'] <= 0){?>
							[Full]
							<?php } else{?>
        	       		 	[<?php echo $larresult[2]['Totalcapacity']-$larresult[2]['Allotedseats'];?>]<?php } ?></td></tr>	
        	       	    </table>
        	       	</td><?php 
        	       }
				   else if($cnt==2)
        	       { ?> 
        	       	<td class = "border " valign = "top">
        	       		 <table width="100%">
        	       		 	<tr><td align="left"><?php echo $larresult[0]['managesessionname'].':';?><?php echo $larresult[0]['ampmstart'];?>
							
							<?php if($larresult[0]['Totalcapacity']-$larresult[0]['Allotedseats'] <= 0){?>
							[Full]
							<?php } else{?>
        	       		 	[<?php echo $larresult[0]['Totalcapacity']-$larresult[0]['Allotedseats'];?>]</td></tr>
        	       		    <?php } ?>
							
        	       		    <tr><td align="left"><?php echo $larresult[1]['managesessionname'].':';?><?php echo $larresult[1]['ampmstart'];?>
							
        	       		    <?php if($larresult[1]['Totalcapacity']-$larresult[1]['Allotedseats'] <= 0){?>
							[Full]
							<?php } else{?>
        	       		 	[<?php echo $larresult[1]['Totalcapacity']-$larresult[1]['Allotedseats'];?>]<?php } ?></td></tr>							
        	       		    
							
        	       	    </table>
        	       	</td><?php 
        	       }
        	       else if($cnt==1)
        	       { ?> 
        	       	<td class = "border " valign = "top">
        	       		<table width="100%">
        	       		 	<tr>
							     <td align="left"><?php echo $larresult[0]['managesessionname'].':';?><?php echo $larresult[0]['ampmstart'];?>
								 <?php if($larresult[0]['Totalcapacity']-$larresult[0]['Allotedseats'] <= 0){?>
							     [Full]
							     <?php } else{?>
        	       		 	     [<?php echo $larresult[0]['Totalcapacity']-$larresult[0]['Allotedseats'];?>]</td>
        	       		         <?php } ?>
							</tr>
        	       		</table>
        	       	 </td>
        	       	 <?php 
        	       }
        	       else 
        	       {?>
        	       	 <td class = "border " valign = "top" >No Exam</td>
        	       	 <?php 
        	       }
        	       ?>
        	 <?php }?>
        </tr>
    <?php }?>
	<table class = 'table' ><tr> 
        <td><?php //echo $this->lobjform->ExportToExcel;?></td>
        <td><input type="hidden" name="FromDate" id="FromDate" value="<?php echo $this->FromDate;?>"></td>
        <td> <input type="hidden" name="ToDate" id="ToDate" value="<?php echo $this->ToDate;?>"></td>
        <td> <input type="hidden" name="day" id="day" value="<?php echo $this->day;?>"></td>
		<td> <input type="hidden" name="center" id="center" value="<?php echo $this->center;?>"></td>
   </tr>
   </table>	
</table>
<?php }
     else
       { ?>
        <table width = '100%'> <tr><td align = 'center' ><b> <?php echo $this->translate("NO SCHEDULER FOR THE SELECTED DATES AND DAY"); ?></b></td></tr></table>
       <?php  }?>
</form>
</fieldset>
<?php }else {?>
<fieldset> 
<form id="myForm1" name = "myform1" action="<?php echo $this->baseUrl();?>/takafulregistrationreport/fnexportexcel" method="POST">
    <?php if($this->dates){?>
    <table  class = "table" width="100%" border = '1' >
    <?php   $ven =  $this->center; 	 $dat =  $this->dates; $columns = count($this->dates);?>
    <tr>
        <th style="background-color:grey"><b><?php echo $this->translate("In-house Center/Exam Dates")?></b></th>
        <?php for($lvars=0;$lvars<count($dat);$lvars++){?>
		<th style="background-color:grey"><b><?php echo $dat[$lvars]['Date'];?><br>
		<?php echo $dat[$lvars]['dayname']; ?><?php echo "[Seats Available]";?></b><?php }?></th>
    </tr>
    
        <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
		
        	<td class = "border " valign = "top"><?php echo $this->venue;?></td>
        	 <?php for($j=0;$j<count($dat);$j++){?>
        	 
        	 <?php $this->lobjSchedulereport = new App_Model_Takafulreportmodel();
        	       $idcenter = $ven;
        	       $date = $dat[$j]['date'];
        	       $larresult =$this->lobjSchedulereport->fngetseats($idcenter,$date); 
				   //echo "<pre>";print_r($larresult);
        	       $cnt = count($larresult);
				    if($cnt==3)
        	       { ?> 
        	       	<td class = "border " valign = "top">
        	       		 <table width="100%">
        	       		 	<tr><td align="left"><?php echo $larresult[0]['managesessionname'].':';?><?php echo $larresult[0]['ampmstart'];?>
							
							<?php if($larresult[0]['Totalcapacity']-$larresult[0]['Allotedseats'] <= 0){?>
							[Full]
							<?php } else{?>
        	       		 	[<?php echo $larresult[0]['Totalcapacity']-$larresult[0]['Allotedseats'];?>]</td></tr>
        	       		    <?php } ?>
							
        	       		    <tr><td align="left"><?php echo $larresult[1]['managesessionname'].':';?><?php echo $larresult[1]['ampmstart'];?>
							
        	       		    <?php if($larresult[1]['Totalcapacity']-$larresult[1]['Allotedseats'] <= 0){?>
							[Full]
							<?php } else{?>
        	       		 	[<?php echo $larresult[1]['Totalcapacity']-$larresult[1]['Allotedseats'];?>] <?php } ?></td></tr>
							
        	       		    <tr><td align="left"><?php echo $larresult[2]['managesessionname'].':';?><?php echo $larresult[2]['ampmstart'];?>
							
        	       		    <?php if($larresult[2]['Totalcapacity']-$larresult[2]['Allotedseats'] <= 0){?>
							[Full]
							<?php } else{?>
        	       		 	[<?php echo $larresult[2]['Totalcapacity']-$larresult[2]['Allotedseats'];?>] <?php } ?></td></tr>
        	       	    </table>
        	       	</td><?php 
        	       }
        	       else if($cnt==2)
        	       { ?> 
        	       	<td class = "border " valign = "top">
        	       		 <table width="100%">
        	       		 	<tr><td align="left"><?php echo $larresult[0]['managesessionname'].':';?><?php echo $larresult[0]['ampmstart'];?>
							
							<?php if($larresult[0]['Totalcapacity']-$larresult[0]['Allotedseats'] <= 0){?>
							[Full]
							<?php } else{?>
        	       		 	[<?php echo $larresult[0]['Totalcapacity']-$larresult[0]['Allotedseats'];?>]</td></tr>
        	       		    <?php } ?>
							
        	       		    <tr><td align="left"><?php echo $larresult[1]['managesessionname'].':';?><?php echo $larresult[1]['ampmstart'];?>
							
        	       		    <?php if($larresult[1]['Totalcapacity']-$larresult[1]['Allotedseats'] <= 0){?>
							[Full]
							<?php } else{?>
        	       		 	[<?php echo $larresult[1]['Totalcapacity']-$larresult[1]['Allotedseats'];?>]</td></tr>							
        	       		    <?php } ?>
        	       	    </table>
        	       	</td><?php 
        	       }
        	       else if($cnt==1)
        	       { ?> 
        	       	 <td class = "border " valign = "top">
        	       		<table width="100%">
        	       		 	<tr>
							     <td align="left"><?php echo $larresult[0]['managesessionname'].':';?><?php echo $larresult[0]['ampmstart'];?>
								 <?php if($larresult[0]['Totalcapacity']-$larresult[0]['Allotedseats'] <= 0){?>
							     [Full]
							     <?php } else{?>
        	       		 	     [<?php echo $larresult[0]['Totalcapacity']-$larresult[0]['Allotedseats'];?>]</td>
        	       		         <?php } ?>
							</tr>
        	       		</table>
        	       	 </td>
        	       	 <?php 
        	       }
        	       else 
        	       {?>
        	       	 <td class = "border " valign = "top" >No Exam</td>
        	       	 <?php 
        	       }
        	       ?>
        	<?php }?> 
        </tr>
   
	<table class = "table">
	   <tr>
            <td colspan ="<?php echo $columns; ?>" ><?php //echo $this->lobjform->ExportToExcel;?></td>
       </tr>
	   <tr>	   
			<td><input type="hidden" name="FromDate" id="FromDate" value="<?php echo $this->FromDate;?>"></td>
			<td> <input type="hidden" name="ToDate" id="ToDate" value="<?php echo $this->ToDate;?>"></td>
			<td> <input type="hidden" name="day" id="day" value="<?php echo $this->day;?>"></td>
			<td> <input type="hidden" name="center" id="center" value="<?php echo $this->center;?>"></td>
			<td> <input type="hidden" name="centername" id="centername" value="<?php echo $this->venue;?>"></td>
      </tr>
   </table>	
</table>
<?php }
     else
       { ?>
        <table width = '100%'> <tr><td align = 'center' ><b> <?php echo $this->translate("NO SCHEDULER FOR THE SELECTED DATES AND DAY"); ?></b></td></tr></table>
       <?php  }?>
</form>
</fieldset>
<?php }?>
<?php }?>
</body>
</html>
