<html>
<head>
</html>
<body>
<div><b>
            You have chosen the menu option to view the Exam Schedule and below are the step to view the exam schedule: One you have read the step by step instructions Minimise the popup window and you will be taken to the Takaful Basic Exam (TBE) application.</b>
		 </div>
            <ol>			
			<li>You have the option to view the exam schedule by exam venue, exam date and day of the week.
				   </li>
           <li>All the exam centres on all dates will conduct exams for all the four examination types -  Part A & B, Part A & C, Part B and Part C
				  </li>
            <li>Select the exam centre where you want to take the exam from the drop down option - you can pick the exam centre of your choice or select "All centres" and the exam schedule at all the exam centres will be displayed
				   </li>	
            <li>Next you will need to select range for the exam dates (Mandatory field) when you intend to take the exam, ('From Date' and 'To Date') the maximum date range is one month.
				   </li>
            <li>You may want to select the day of the week (Monday, Tuesday etc...) when you want to take the exam alternatively you can choose " Select All" and the exam schedule for all the days of the week (Monday through Sunday) will be displayed.
				   </li>
            <li>With your selection of choice, you now search - click on the search button. If you want to clear the data selected, use the 'Clear' button and you can select different combinations of Venue, Dates and Day. The 'Back' button takes you the Home page of the portal. When you click on the search button, the exam dates for the selected criteria is displayed. If there are no exam schedule for the selected criteria the search results will show a message accordingly.
				  </li>
            <li>You will see against the selected 'Exam Venue" the "Exam Dates" and "Days" the exam schedule, you will also see the exam session timings and against each of the session timings the numbers in the brackets is the no of seats available at the time of generation of the report. If the 'Sit Capacity' (Number of seats to take the exam in a exam centre on a given date and session) is full, the search will show the exam date with "Full" in brackets denoting that there are no more seats for that session. 
				  </li>
            <li>You also have the option to down load the data what you see on the screen to an xl sheet and save it on your local computer drives. Use the option 'Export to Excel Sheet' which is available at the the left hand bottom corner.
				   </li>
            <li>Use the back button to take you to the Home page of the portal from where you started. You can repeat the search with other search criteria till you have all the information you wanted
				   </li>
			
			
			 </ol>
</body>
</html>			 
