<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<link href="<?php  echo $this->baseUrl();?>/css/calendar.css" rel="stylesheet" type="text/css" />   
<script type="text/javascript">
function fnshowpaymentdetails(idpaymentmode)
{
	if(idpaymentmode==6 || idpaymentmode==5 || idpaymentmode==7)
	{
		document.getElementById('creditid').style.display='';
		document.getElementById('creditcard').style.display='none';
		document.getElementById('fpx').style.display='none';
		Cardtype
		
	}
	else if(idpaymentmode==2 || idpaymentmode==10)
	{
		document.getElementById('creditid').style.display='none';
		document.getElementById('creditcard').style.display='';
		document.getElementById('fpx').style.display='none';
	}
	else if(idpaymentmode==1)
	{
		document.getElementById('creditid').style.display='none';
		document.getElementById('creditcard').style.display='none';
		document.getElementById('fpx').style.display='';
	}
	
}

function fnhidebtn()
{
	document.getElementById('savebutton').style.display='none';
}
</script>
</head>
<body>
<fieldset>
<table width="100%" class="table">
					 <tr>
                         <th colspan = "4"><?php echo $this->translate('Personal Details')?></th>
                     </tr>
                      <tr>
			               <td><?php echo $this->translate("Candidate Name:");?></td>
			               <td><?php echo $this->Fname;?></td>
			                    <td><?php echo $this->translate("ICNO :");?></td>
			               <td><?php echo $this->ICNO;?></td>
			              
		             </tr>
		        
		                  <tr>
			          
			                <td><?php echo $this->translate("Email Id :");?></td>
			               <td><?php echo $this->EmailAddress;?></td>
			               <td><?php echo $this->translate("Program");?></td>
			               <td><?php echo $this->Program;?></td>
		             </tr>
		             
		            <tr>
			               <td><?php echo $this->translate("Venue");?></td>
			               <td><?php echo $this->Venue;?></td>
			               	 
			               <td><?php echo $this->translate("Payment Type");?></td>
			               <td><?php echo $this->paymenttype;?></td>
			            
			    
		             </tr>
		          </table>

	            </fieldset> 
            </br>
				
            </br>
				<fieldset>
				<Form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">
				 <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
                       fnhidebtn();
					return true;
                } else {
                    return false;
                }
				</script>
				<table width="100%" class="table">
				<input type="hidden" id="IDApplication" name='IDApplication' value="<?php echo $this->id;?>"/>
				      <tr>
                         <th colspan = "2"><?php echo $this->translate('Change Payment Details')?></th>
                     </tr>
                   
                    <tr><input type="hidden" name="oldpayment" id="oldpayment" value="<?php echo $this->oldpayment;?>"/>
                    <input type="hidden" name="amount" id="amount" value="<?php echo $this->amount;?>"/>
                       <td width="33.5%"><?php echo $this->translate("Change Payment Mode To");?></td>
			               <td><?php echo $this->lobjindividualpaymentform->paymentmode;?></td>
		             </tr>
		           <tr>
		           <td colspan="2" id="creditid" style="display:none">
		              <table width="100%" class="table" >
		              <tr>
		                 <td width="33.5%">Reference number</td>
		                 <td ><?php echo $this->lobjindividualpaymentform->ReferenceNo?></td>
		              </tr>
		              <tr>
		                 <td>Date</td>
		                 <td><?php echo $this->lobjindividualpaymentform->ReferenceDate?></td>
		              </tr>
		              
		              </table>
		              </td>
		              <td colspan="2" id="creditcard" style="display:none">
		               <table width="100%" class="table" >
		              <tr>
		                 <td width="33.5%">Card</td>
		                 <td><?php echo $this->lobjindividualpaymentform->Cardtype?></td>
		              </tr>
		              <tr>
		                 <td>Receipt No</td>
		                 <td><?php echo $this->lobjindividualpaymentform->ReceiptNo?></td>
		              </tr>
		              
		              </table>
		           </td>
		           
		           <td colspan="2" id="fpx" style="display:none">
		               <table width="100%" class="table" >
		              <tr>
		                 <td width="33.5%">Fpx Transaction ID</td>
		                 <td><?php echo $this->lobjindividualpaymentform->fpxtransactionid?></td>
		              </tr>
		              <tr>
		                 <td>Transaction Date</td>
		                 <td><?php echo $this->lobjindividualpaymentform->TxnDate?></td>
		              </tr>
		              
		              </table>
		           </td>
		           
		           </tr>
		            
		            
		             
			           <tr>
		                            
		                   <td  colspan="2" align="right" id='savebutton'>
		                   <?php echo $this->lobjindividualpaymentform->Save;?> 
		                   <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo "Back";?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'examination','controller'=>'elapsedexamdate', 'action'=>'index'),'default',true);?>';" /><td>
  		            
  		              </tr> 
			           
		            </table>

				</Form> 
</fieldset>
</body>
</html>