<head>
<script>
dojo.addOnLoad(function(){
	dijit.byId('field3').focus();	
	});
</script>
</head>
	<fieldset>
		<legend><?php echo $this->translate("User").' '.$this->translate("Search");?></legend>
         <form action="<?php echo $this->baseUrl();?>/general-setup/user/index/search/1" method="POST">
            <table width="100%">
                <tr>
                   <td><?php echo $this->translate("Username");?></td>
                   <td ><?php echo $this->lobjform->field3;?></td>
                   <td><?php echo $this->translate("First Name");?></td>
                   <td ><?php echo $this->lobjform->field2;?></td>
                </tr>
                <tr>
                     <td><?php echo $this->translate("Middle Name");?></td>
                     <td ><?php echo $this->lobjform->field4;?></td>
                     <td><?php echo $this->translate("Last Name");?></td>
                     <td ><?php echo $this->lobjform->field6;?></td>
                </tr>
                <tr>
                    <td ><?php echo $this->translate("Active");?></td>
                    <td ><?php echo $this->lobjform->field7;?></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
	               <td align = "center" colspan = "4">
						<?php echo $this->lobjform->Search;?>
						<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Add"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'general-setup','controller'=>'user', 'action'=>'newuser'),'default',true);?>';" />	
						<?php echo $this->lobjform->Clear;?>
				   </td>
                </tr>
            </table>
        </form>	
    </fieldset> 
    <br/>
	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
		
	    	<tr>
	        	<th><?php echo $this->translate("Username");?></th>
	       	    <th><?php echo $this->translate("First Name");?></th>
	        	<th><?php echo $this->translate("Middle Name");?></th>
	        	<th><?php echo $this->translate("Last Name");?></th>
	        	<th><?php echo $this->translate("Status");?></th>
	    	</tr>
	        <?php if (count($this->paginator)): ?>
	        <?php foreach ($this->paginator as $lobjuser ): ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	<td><a href="<?php echo $this->url(array('module'=>'general-setup','controller'=>'user', 'action'=>'userlist' , 'id'=>$lobjuser['iduser']),'default',true);?>" ><?php print_r($this->escape($lobjuser['loginName']));?></a></td>
	    	    <td><?php echo $this->escape($lobjuser['fName']);?></td>
	    		<td><?php echo $this->escape($lobjuser['mName']);?></td>
	    		<td><?php echo $this->escape($lobjuser['lName']);?></div></td>
	    		<td><?php  if($lobjuser['UserStatus'] == 1) echo "Active"; else echo "Inactive";?></div></td>
	            <?php endforeach; ?>
	            <?php endif; ?> 
			</tr>
	    	<tr>
	        	<td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>
		</table>
	</fieldset>
