<head>

<script type="text/javascript">
	dojo.addOnLoad(function() {
		dijit.byId('country').set('value','');
		dijit.byId('country').set('placeHolder','Select Country');
		dijit.byId('state').set('value','');
		dijit.byId('state').set('placeHolder','Select State');

	});

	
function fnGetCountryStateList(idCountry)
{ 
	if(idCountry != "")
		{ 
			var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/general-setup/user/getcountrystateslist/idCountry/"+idCountry,
					handleAs:'json',
					load:function(data){ 
						AutoFillNextEditableDropDown("state",data); 
					}
			   }
			dojo.xhrGet(xhrArgs); 
		} 
	} 

function fnGetCityList(idCountry){ 
	
	if(idCountry != "" || idCountry != undefined)
		{  
		var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/general-setup/center/getcitylist/idCountry/"+idCountry,
				handleAs:'json',
				load:function(data){ 
					AutoFillNextEditableDropDown("city",data); 
				}
		   }
		dojo.xhrGet(xhrArgs);  
			
		} 
	} 
	 	
	function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
		dijit.byId(EditableDropDownId).setValue("");
		var ddwidget = dijit.byId(EditableDropDownId);
		ddwidget.setAttribute('disabled', false);
    	var options = {
					label:"name",
					identifier:"key",
					items:JSONText
				  };
    	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
	}

	function fnGetStaffDetails(idStaff){ 
		if(idStaff != "" || idStaff != undefined)
		{ 
			var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/general-setup/user/getstafflist/idStaff/"+idStaff,
					handleAs:'json',
					load:function(data){ 
						dijit.byId('fName').set('value',data['FirstName']);
						dijit.byId('mName').set('value',data['ThirdName']);
						dijit.byId('lName').set('value',data['SecondName']);
						dijit.byId('userArabicName').set('value',data['ArabicName']);
					}
			   }
			dojo.xhrGet(xhrArgs); 
		} 
	} 

</script> 
</head>
 <fieldset>
    <legend><?php echo $this->translate("Users");?></legend>
                <Form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/general-setup/user/newuser" method="post"  name= "myForm">
                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>
                    <table class="table" width="100%" >
                        <tr>
                            <th colspan = "4"><?php echo $this->translate("Login Details");?></th>
                        </tr>
                        <tr>
                            <td ><?php echo $this->translate("Username");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjuserForm->loginName;?><?php echo $this->lobjuserForm->UpdDate;?><?php echo $this->lobjuserForm->UpdUser;?></td>
                           <td  ><?php echo $this->translate("Role");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjuserForm->IdRole;?></td>
                        </tr>
                        <tr>
                            <td ><?php echo $this->translate("First Name");?><span class="reqMark">*</span></td>
                            <td  ><?php echo $this->lobjuserForm->fName;?></td>
                            <td ><?php echo $this->translate("Middle Name");?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjuserForm->mName;?></td>
                        </tr>
                        <tr>
                            <td ><?php echo $this->translate("Last Name");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjuserForm->lName;?></td>
                            <td><?php echo $this->translate("Short").' '.$this->translate("Name");?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjuserForm->userArabicName;?></td>
                        </tr>
                        <tr>
                            <td ><?php echo $this->translate("Password");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjuserForm->passwd;?></td>
                            <td><?php echo $this->translate("Email Address");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjuserForm->email;?></td>
                        </tr>
                   
                        <tr>
                            <th colspan = "4"><?php echo $this->translate("Personal Details");?></th>
                        </tr>
                        <tr> 
                            <td ><?php echo $this->translate("DOB");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjuserForm->DOB;?></td>
                            <td ><?php echo $this->translate("Gender");?><span class="reqMark">*</span></td>
                             <td ><?php echo $this->lobjuserForm->gender;?>
                        </tr>
                        <tr> 
                            <td ><?php echo $this->translate("Address 1");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjuserForm->addr1;?></td>
                            <td ><?php echo $this->translate("Address 2");?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjuserForm->addr2;?></td>
                        </tr>
                        <tr> 
                            
                            <td ><?php echo $this->translate("Country");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjuserForm->country;?></td>
                            <td ><?php echo $this->translate("State");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjuserForm->state;?></td>
                        </tr>
                        <tr> 
                            <td ><?php echo $this->translate("City");?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjuserForm->city;?></td>
                            <td ><?php echo $this->translate("Zip Code");?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjuserForm->zipCode;?></td>
                        </tr>
                        <tr> 
                            <td ><?php echo $this->translate("Work Phone");?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjuserForm->workcountrycode;?><?php echo $this->lobjuserForm->workstatecode;?><?php echo $this->lobjuserForm->workPhone;?></td>
                            <td ><?php echo $this->translate("Home Phone");?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjuserForm->homecountrycode;?><?php echo $this->lobjuserForm->homestatecode;?><?php echo $this->lobjuserForm->homePhone;?></td>
                        </tr>
                        <tr> 
                            <td ><?php echo $this->translate("Cell Phone");?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjuserForm->countrycode;?><?php echo $this->lobjuserForm->statecode;?><?php echo $this->lobjuserForm->cellPhone;?></td>
                            <td ><?php echo $this->translate("Fax");?></td>
                            <td ><?php echo $this->lobjuserForm->fax;?></td>
                        </tr>
                        <tr> 
                            <td ><?php echo $this->translate("Active");?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjuserForm->UserStatus;?></td>
                            <td></td>
                            <td></td>
                        </tr>
                          
                        <tr>
                          <td></td>
                          <td></td>
                            <td></td>        
                            <td align = "right"><?php echo $this->lobjuserForm->Save;?>
							<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'general-setup','controller'=>'user', 'action'=>'index'),'default',true);?>';" />	
                            </td> 
                        </tr>
              </table>
            
            </Form>

</fieldset>
