<head>
	

<!-- ///////////////////////// DOJO ////////////////////////// -->

	<script type="text/javascript">
	
	
	</script>  
</head>
<body class='claro'>
<form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/reports/examinationschechange" method="POST">

<fieldset>
	<legend><?php echo $this->translate("Examination Schedule Change Request").' '.$this->translate("Report");?></legend>
	<div class="search" style="margin-left:20px;">
 		
 			<script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
			</script>
		<table width="100%">
		
					<tr>
					<td><?php echo $this->translate("Candidate").' '.$this->translate("Name") ?></td>
					<td><?php echo $this->lobjform->Coursename;?></td>
					<td><?php echo $this->translate("IC NO") ?></td>
					<td><?php echo $this->lobjform->ICNO;?></td>
				</tr>
		       <tr>
                    <td><?php echo $this->translate("Change Request").' '.$this->translate("From").' '.$this->translate("Date") ?></td>
                    <td><?php echo $this->lobjform->Date;?></td>
                    <td><?php echo $this->translate("Change Request").' '.$this->translate("To").' '.$this->translate("Date") ?></td>
                    <td><?php echo $this->lobjform->Date2;?></td>
                </tr>
	
				<tr>
					<td colspan="4" align="center">
					<?php echo $this->lobjform->Generate;?>
					<input name="Print" id="Print"  type="submit"    dojotype="dijit.form.Button" value ="1" label="<?php echo $this->translate("Print"); ?>"   />
					<input name="submit" type="submit" class="NormalBtn" dojoType=dijit.form.Button label = <?php echo $this->translate("Clear");?> value=<?php echo $this->translate("Clear");?>>
					</td>
				</tr>
		</table>
	
		</div>
	</fieldset> 
   <br>
    <fieldset>
    <?php $centerarray = array();?>
    <?php $centerarray1 = array();?>
    <table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr>
    <th colspan="2"></th>
     <th colspan="2" style="text-align: center"><?php echo $this->translate("Course Name") ?></th>
    <th colspan="2" style="text-align: center"><?php echo $this->translate("Exam Venue") ?></th>
    <th colspan="2" style="text-align: center"><?php echo $this->translate("Exam Session") ?></th>
    <th colspan="2" style="text-align: center"><?php echo $this->translate("Exam Date") ?></th>
    <th></th>
    </tr>
    <tr>
        <th><?php echo $this->translate("Candidate Name") ?></th>
        <th><?php echo $this->translate("ICNO") ?></th>
         <th><?php echo $this->translate("Old Course") ?></th>  
         <th><?php echo $this->translate("New Course") ?></th>        
         <th><?php echo $this->translate("Old  Venue") ?></th>
         <th><?php echo $this->translate("New  Venue") ?></th>    
         <th><?php echo $this->translate("Old  Session") ?></th>
         <th><?php echo $this->translate("New  Session") ?></th>
         <th><?php echo $this->translate("Old  Date") ?></th>
         <th><?php echo $this->translate("New  Date") ?></th>
           <th><?php echo $this->translate("Changed by") ?></th>
 
    </tr>

        <?php if (count($this->results)): ?>
        <?php foreach ($this->results as $lobjCountry ): ?>
    <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
         
         <td>
         	<?php if(!in_array($lobjCountry['IDApplication'],$centerarray)){
				$centerarray[] = $lobjCountry['IDApplication'];		
				//$centerarrays[$lobjCountry['idcenter']] = array();
				print_r($this->escape($lobjCountry['FName']));
			}?>
        
  </td>
         <td>
         
         	<?php if(!in_array($lobjCountry['IDApplication'],$centerarray1)){
				$centerarray1[] = $lobjCountry['IDApplication'];		
				//$centerarrays[$lobjCountry['idcenter']] = array();
				print_r($this->escape($lobjCountry['ICNO']));
			}?>
			
</td>
         <td><?php if($lobjCountry['progdate']<'2012-06-15'){ }else { print_r($this->escape($lobjCountry['oldprg']));}?></td>
           <td><?php if($lobjCountry['progdate']<'2012-06-15'){ }else { print_r($this->escape($lobjCountry['newprg']));}?></td>
         <td><?php print_r($this->escape($lobjCountry['centername']));?></td>
         <td><?php print_r($this->escape($lobjCountry['newexamvenue']));?></td>
         <td><?php print_r($this->escape($lobjCountry['managesessionname']));?></td>
         <td><?php print_r($this->escape($lobjCountry['newsession']));?></td>
         <td><?php echo date('d-m-Y',strtotime($lobjCountry['oldexamdate']));?></td>
         <td><?php echo date('d-m-Y',strtotime($lobjCountry['NewExamDate']));?></td>
         <td><?php print_r($this->escape($lobjCountry['username']));?></td>
       
          
      
                </tr>     

     <?php endforeach; ?>
     
             <?php endif; ?>   
             <tr>
                <td colspan="9" align="right"></td>
             </tr> 
             <tr>
			   <td colspan = "8" align = "right" > <b>GRAND TOTAL </b></td>
			   <td colspan = "2" align = "center"><b> <?php print_r($this->escape($this->count));?></b></td>
			</tr>

</table>
</fieldset>	
</form>	
</body>
</html>
