<html>
     <head>
     </head>
        <body>  
           <fieldset>
             <legend><?php echo "GroupName";?></legend>
	            <Form dojoType="dijit.form.Form" id="myForm" action="" method="POST"  name= "myForm" >
	                 <script type="dojo/method" event="onSubmit">
                       if (this.validate()) 
                        {
					     return true;
                        } 
                          else 
                        {
                         return false;
                        }
                       </script> 
	                 <table class="table" width="100%">
		                    <tr>
                            <th colspan = "4"><?php echo $this->translate('Group Details')?></th>
                           </tr>
                           
		                             <tr>
			               <td><?php echo $this->translate("Grade Name");?><span class="reqMark">*</span></td>
			               <td><?php echo $this->lobjGroupform->gradename;?></td>
			               <td><?php echo $this->translate("Grade Description");?><span class="reqMark">*</span></td>
			               <td><?php echo $this->lobjGroupform->gradedescription;?></td>
		                   </tr>	
		                   
		                    <tr>
			               <td><?php echo $this->translate("From Percentage");?><span class="reqMark">*</span></td>
			               <td><?php echo $this->lobjGroupform->Marksfrom;?></td>
			               <td><?php echo $this->translate("To Percentage");?><span class="reqMark">*</span></td>
			               <td><?php echo $this->lobjGroupform->Marksto;?></td>
		                   </tr>
		                   
		                      <tr>
			               <td ><?php echo $this->translate("Effective Date");?><span class="reqMark">*</span></td>
			               <td ><?php echo $this->lobjGroupform->Effectidate;?></td>
			                 <td ><?php echo $this->translate("Active");?><span class="reqMark">*</span></td>
			               <td ><?php echo $this->lobjGroupform->Active;?></td>
		                   </tr>
		                    
		                   <tr>			    		                   
		                   <td  colspan="4" align="right"><?php echo $this->lobjGroupform->Save;?> 
		                     <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo "Back";?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'examination','controller'=>'grade', 'action'=>'index'),'default',true);?>';" /><td>
  		                   </tr>            
		               </table>
                   </Form>
	         </fieldset>
       </<body>
</html>
