<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="<?php echo $this->rtl;?>">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
<title></title>


<script type="text/javascript">

</script>
</head>
<body  class = "claro"> 
<fieldset>
    <legend><?php echo $this->translate->_("Edit Question");?></legend>
        <div class="register">
            <div class="profile_tab">
                <form action="" method="POST"  name= "myform"  dojoType="dijit.form.Form"  enctype="multipart/form-data">
                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
		</script>	
                    <table class="table" width="100%">
                       
                        <?php echo $this->lobjUploadfilesForm->UpdDate;?>
                        <?php echo $this->lobjUploadfilesForm->UpdUser;?><?php echo $this->lobjUploadfilesForm->Questionid;?>
                        <tr>
                           <th colspan="4"><?php echo $this->translate("Question and Answers");?></th>
                           
                        </tr>
                        
                        <tr>
                            <td><?php echo $this->translate->_("Question");?><span class="reqMark">*</span></td>
                            <td colspan="4"><?php echo $this->lobjUploadfilesForm->Questions;?></td>
                        </tr>
                         	<td><?php echo $this->translate->_("Answers 1");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjUploadfilesForm->Answers1;?><?php echo $this->lobjUploadfilesForm->Hiddenidanswer1;?></td>
                            <td><?php echo $this->translate->_("Answers 2");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjUploadfilesForm->Answers2;?><?php echo $this->lobjUploadfilesForm->Hiddenidanswer2;?></td>
                      	</tr>
                      	<tr>
                         	<td><?php echo $this->translate->_("Answers 3");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjUploadfilesForm->Answers3;?><?php echo $this->lobjUploadfilesForm->Hiddenidanswer3;?></td>
                            <td><?php echo $this->translate->_("Answers 4");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjUploadfilesForm->Answers4;?><?php echo $this->lobjUploadfilesForm->Hiddenidanswer4;?></td>
                      	</tr>
                      	<tr>
                            <th colspan = "4"><?php echo $this->translate("Malay Question and Answers");?></th>
                        </tr>
                        <tr>
                            <td><?php echo $this->translate->_("Malay Question");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjUploadfilesForm->MalayQuestion;?></td>
                            
                      	</tr>
                        <tr>
                         	<td><?php echo $this->translate->_("Answers 1");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjUploadfilesForm->MalayAnswers1;?><?php echo $this->lobjUploadfilesForm->Hiddenidanswer1;?></td>
                            <td><?php echo $this->translate->_("Answers 2");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjUploadfilesForm->MalayAnswers2;?><?php echo $this->lobjUploadfilesForm->Hiddenidanswer2;?></td>
                      	</tr>
                      	<tr>
                         	<td><?php echo $this->translate->_("Answers 3");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjUploadfilesForm->MalayAnswers3;?><?php echo $this->lobjUploadfilesForm->Hiddenidanswer3;?></td>
                            <td><?php echo $this->translate->_("Answers 4");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjUploadfilesForm->MalayAnswers4;?><?php echo $this->lobjUploadfilesForm->Hiddenidanswer4;?></td>
                      	</tr>
                      	
                      	 <tr>
                            <th colspan = "4"><?php echo $this->translate("Question Details");?></th>
                        </tr>
                         <tr>
                             <td><?php echo $this->translate->_("Answer").' '.$this->translate->_('Style');?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjUploadfilesForm->AnswerStyle;?></td>
                            <td><?php echo $this->translate->_("Question Type");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjUploadfilesForm->Section;?></td>
                      	</tr>
                      	
                      <tr>
                       		
                            <td><?php echo $this->translate->_("Chapter");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjUploadfilesForm->QuestionNumber;?></td>
                           <td><?php echo $this->translate->_("Question").' '.$this->translate->_('Level');?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjUploadfilesForm->QuestionLevel;?></td>
                           
                      	</tr>
                      	
                     
                       <tr>
                       <td><?php echo $this->translate->_("Question").' '.$this->translate->_('Group');?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjUploadfilesForm->QuestionGroup;?></td>
                             <td><?php echo $this->translate->_("Field1");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjUploadfilesForm->Field1;?></td>
                            
                      	</tr>
                      	
                      <tr>
                         <td><?php echo $this->translate->_("Field2");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjUploadfilesForm->Field2;?></td>
                            <td><?php echo $this->translate->_("Field3");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjUploadfilesForm->Field3;?></td>
                      	</tr>
                      	<tr>
                         <td><?php echo $this->translate->_("Field4");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjUploadfilesForm->Field4;?></td>
                            <td><?php echo $this->translate->_("Field5");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjUploadfilesForm->Field5;?></td>
                      	</tr>
                      	
                      	
                    	<td colspan="4" align = "right">
                    		<?php //foreach($this->roles as $resultItem):?>
								     <?php //if($resultItem['functionCode']=='CRMTS' && $resultItem['operationCode']=='SAVE'){?>
			                            <?php echo $this->lobjUploadfilesForm->Save;?>
									 <?php //}?>
	                        <?php //endforeach;?>
                           		 <?php //echo $this->lobjCoursemasterForm->Close;?>	
                             	<input type="button" name="Close" value="Close" id="Close" onclick="window.location.href='<?php echo $this->url(array('module'=>'examination','controller'=>'uploadfiles', 'action'=>'index'),'default',true);?>';" dojoType="dijit.form.Button"  label="Close"  class="buttonStyle">     
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</fieldset>
</body>
</html>
