<head>
<script type="text/javascript">
dojo.addOnLoad(function(){

	});

 
function newsessionlists()
{

	   iddate = dijit.byId("Date");
	   if(iddate !='')
	   {
		var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/examination/chronepull/getsessions/iddate/"+iddate,
			handleAs:'json',
			load:function(data){
				AutoFillNextEditableDropDown("Session",data);
			
			
			
	      }
		}
	    dojo.xhrGet(xhrArgs);
	}   
}
function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}

</script>
</head>
<body >
	 <form dojoType="dijit.form.Form"  id="myForms" action="" method="post"  name= "myForms" >
<script type="dojo/method" event="onSubmit">
                              if (this.validate()) {
					  return true;
                } else {
                    return false;
                }
				</script>
<fieldset>
	<legend><?php echo $this->translate("Chrone Revert");?></legend>

 			
		<table width="100%" >
		<tr>
			<td>Select Exam Date</td>
			<td><?php echo $this->lobjChronepushrevertForm->Date;?>Time <?php echo date('H:i')?></td>
			
		</tr>
		<tr>
				 <td colspan="4" align="center">
				 	<?php echo $this->lobjChronepushrevertForm->Search;?>
				 </td>
        </tr>
		</table>
		</fieldset>
		
		
	<fieldset>
	<table class="table" width="100%" cellpadding="5" cellspacing="1">
	 <tr>
	   <th>Venue</th>
	   <th>Exam Date</th>
	   <th></th>
	 </tr>
	 
	 <?php $larrcenter = $this->centreresults;
	      for($i=0;$i<count($larrcenter);$i++){?>
	      
		   
		 	<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
			       <td><input type="checkbox" dojoType="dijit.form.CheckBox" name="idcenter[]" value="<?php echo $larrcenter[$i]['idvenue'];?>" id="idcenter<?php echo $i;?>"><?php echo $larrcenter[$i]['centername']?></td>
			       <td><?php  echo date('d-m-Y',strtotime($larrcenter[$i]['date']))?></td>
			        <td>Chrone Scheduled</td>
			 </tr>
	 		
	 <?php }?>
	 
	  <tr>
           <td align="right" colspan="3"> <input type="submit"  dojotype="dijit.form.Button" id="Approve" name="Approve" value="Approve" label="<?php echo $this->translate("Chrone Revert");?>"/></td>
           </tr>
	 
	</table>
	
	</fieldset>
	
	
	</form>	
</body>