<html>
<form action="">
<table width="60%" border="0" align="center">


		<tr>
		<td><hr>INSTRUCTIONS TO CANDIDATES:<br/>

1.	Answer ALL questions.<br/>
2. Candidates are not allowed to bring any material other than those allowed by the invigilator into the examination room.<br/>
3. Examination instructions to be inserted here (whatever is necessary)<br/>
4. Candidates are required to answer by selecting the answer at the box provided.<br/>
5. Candidates are allowed to review the answers.<br/>
6. Do Not Click on Save Until all answers have done.</td>
		</tr>
		<tr>
		<td  align="center">
			* DO NOT CLICK START THIS QUESTION PAPER UNTIL YOU ARE TOLD TO DO SO<br/>
			===================================================================<br/>
			This question paper consists of  Questions
		</td>
		</tr>
			
</table>
</form>	
</html>   