<fieldset>
			<table class="table" width="100%" border="1" >
				<tr>
				
				<?php 
				
/*				switch($this->normalmonth) {
					
					case 1: 
						$rightmonth = "Jan";
						break;
						
					case 2: 
						$rightmonth = "Feb";
						break;		

					case 3: 
						$rightmonth = "Mar";
						break;	
						
					case 4: 
						$rightmonth = "Apr";
						break;	
						
					case 5: 
						$rightmonth = "May";
						break;	
						
						
					case 6: 
						$rightmonth = "Jun";
						break;	
						
					case 7: 
						$rightmonth = "Jul";
						break;	
						
					case 8: 
						$rightmonth = "Aug";
						break;	
						
					case 9: 
						$rightmonth = "Sep";
						break;	
						
					case 10: 
						$rightmonth = "Oct";
						break;
						
					case 11: 
						$rightmonth = "Nov";
						break;
						
					case 12: 
						$rightmonth = "Dec";
						break;
				}*/
				
				$presentsentdate = $this->normalday.'-'.$this->normalmonth.'-'.$this->normalyear;
				?>
					<th colspan="2">Date : <?php echo $presentsentdate;?></th>
				
				</tr>
				<?php  foreach($this->examsession as $examsessions) { ?>
				<?php $this->lobjCenterloginmodel = new App_Model_Centerloginnew(); ?>
				<?php $presntdate= $this->normaldate;?>
				<?php $larrsessionresult = $this->lobjCenterloginmodel->fngetprogramDetailsbyschedular($examsessions['idnewscheduler']);?>
			        <tr>
						<td>Exam :</td>
						<td ><?php echo $examsessions['managesessionname'];?>(<?php echo $examsessions['starttime']?><?php echo " " ?><?php echo "to" ?><?php echo " " ?><?php echo $examsessions['endtime']?>)</td>
						
					</tr>
		            <tr>
						<td><u>Exam :</u></td>
						<td><u>No. Of Candidate</u></td>
						
					</tr>
						
						<?php foreach($larrsessionresult as $larrsessionresults) { ?>
						     <tr>
								<td><?php echo $larrsessionresults['ProgramName'];?><?php echo "="?></td>
								<?php $larrsessionresultcount = $this->lobjCenterloginmodel->fngetprogramCount($this->seessionidcenter,$examsessions['idmangesession'],$larrsessionresults['IdProgrammaster'],$presntdate);?>
								<td><?php echo COUNT($larrsessionresultcount);?></td>
								
							</tr>
						<?php }?>
				</br>
				<?php  } ?>
				
			        <tr>
						<td colspan= "2" align="right"><input type="button" id="close" name="close"  value="Close" onClick="closebox();"></td>
						
					</tr>
</table>
</fieldset>
</body>
</html>
