<html>
<head>
<script>
dojo.addOnLoad(function()
		       {
	              dijit.byId('field2').focus();	
	           }
	          );

function fnCloseLyteBox()
{
	if(dijit.byId("field28").value==''){
	    dijit.byId("field28").attr('required','true');
		dijit.byId("field28").focus();
		flag = false;
	}
}
</script>
</head>
<body class="claro">
	<fieldset>
	<legend><?php echo "Create Question Paper";?></legend>
        <form action="<?php echo $this->baseUrl();?>/examination/createquestionpaper/index/search/1" method="POST" dojoType="dijit.form.Form"  id="myForm"  name= "myForm">
            <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					  return true;
                } else {
                    return false;
                }
				</script>
            <table width="100%">
                <tr>
                  <td><?php echo "Question Paper Code";?><span>*</span></td>
                   <td align = "justify"><?php echo $this->lobjform->field28;?></td>     
                   <td><?php echo "Course Name";?></td>
                   <td align = "justify"><?php echo $this->lobjform->field1;?></td>      
                </tr> 
                 <tr>
                 <td></td>               
               <td >
						<?php echo $this->lobjform->Generate;?>
							<?php echo $this->lobjform->Clear;?>
					</td>
               </tr>
            </table>
          </form>	               	
    </fieldset>
    <br>
    <fieldset>
    <table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr>
        <th><?php echo $this->translate("Setcoude") ?></th>
        <th><?php echo $this->translate("Course Name") ?></th>
    </tr>
        <?php if (count($this->paginator)): ?>
        <?php foreach ($this->paginator as $lobjCountry ): ?>
    <tr>
    <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
         <td><?php print_r($this->escape($lobjCountry['PaperCode']));?></td>
         <td><?php print_r($this->escape($lobjCountry['ProgramName']));?></a></td>    
     <?php endforeach; ?>
     <?php endif; ?>
                
    </tr>
   <tr>
	    <td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   	</tr>
</table>
</fieldset>     
</body>
</html>























