<form action="" name="frm" id="frm" method="post">


<?php echo $this->mess;
?>

<table class="table" width="40%" align="left">
<tr>
	<td colspan="2" align ="left"><?php if(!$this->mess){?><?php }?>&nbsp;<input type="button" value="Back" name="btn1" onClick="window.location.href='<?php  echo $this->baseUrl();?>/index'" /></td>
</tr>
</table>

</form> 
