
	<fieldset>
	<legend>Individual Application</legend>
		 <form dojoType="dijit.form.Form"  id="myFormform" action="" method="post"  name= "myFormform" >
			<?php  $dataArray = $this->data; $PaymentDetails = $this->PaymentDetails;?>	
	    	<table class="table" width="80%" align="center">

<tr>
	<td colspan="2">
			Application Date: <?php echo date('d M Y');?><br><br>
			</td></tr>
			<tr><td>Course :
<?php  for($m=0;$m<count($PaymentDetails);$m++){
 echo	$PaymentDetails[$m]['ProgramName'];
}?>
</td><tr>
<tr><td>

Total Fee(RM)	:	<?php echo $PaymentDetails[0]['Amount'];?> <?php //(Ringgit Malaysia: Eight Hundred Only)?><br><br>

Please make a payment within 7 days from the date of registration. <br><br>

Thank you
		
	
	
	</td>



</tr>

 




<tr>
	<td colspan="2" align ="right">&nbsp;<input type="button" value="Back" name="btn1" onClick="window.location.href='<?php  echo $this->baseUrl();?>/introduction/index'" /></td>
</tr>
</table>	
            	
		</form>
	</fieldset>
