<style type='text/css'>
    <!--
    h1       { font-family:Arial,sans-serif; font-size:24pt; color:#08185A; font-weight:100}
    h2.co    { font-family:Arial,sans-serif; font-size:24pt; color:#08185A; margin-top:0.1em; margin-bottom:0.1em; font-weight:100}
    h3.co    { font-family:Arial,sans-serif; font-size:16pt; color:#000000; margin-top:0.1em; margin-bottom:0.1em; font-weight:100}
    body     { font-family:Verdana,Arial,sans-serif; font-size:10pt; color:#08185A background-color:#FFFFFF }
    TR       { height:25px; }
    TR.shade { height:25px; background-color:#E1E1E1 }
    TR.title { height:25px; background-color:#C1C1C1 }
    P.blue   { font-family:Verdana,Arial,sans-serif; font-size:7pt;  color:#08185A }
    p        { font-family:Verdana,Arial,sans-serif; font-size:10pt; color:#FFFFFF }
    p.bl     { font-family:Verdana,Arial,sans-serif; font-size:8pt; color:#08185A }
    a:link   { font-family:Verdana,Arial,sans-serif; font-size:8pt; color:#08185A }
    a:visited{ font-family:Verdana,Arial,sans-serif; font-size:8pt; color:#08185A }
    a:hover  { font-family:Verdana,Arial,sans-serif; font-size:8pt; color:#FF0000 }
    a:active { font-family:Verdana,Arial,sans-serif; font-size:8pt; color:#FF0000 }
    td       { font-family:Verdana,Arial,sans-serif; font-size:8pt; color:#08185A }
    th       { font-family:Verdana,Arial,sans-serif; font-size:10pt; color:#08185A; font-weight:bold; background-color:#E1E1E1; padding-top:0.5em; padding-bottom:0.5em}
    input    { font-family:Verdana,Arial,sans-serif; font-size:8pt; color:#08185A; background-color:#E1E1E1; font-weight:bold }
    select   { font-family:Verdana,Arial,sans-serif; font-size:8pt; color:#08185A; background-color:#E1E1E1; font-weight:bold }
    textarea { font-family:Verdana,Arial,sans-serif; font-size:8pt; color:#08185A; background-color:#E1E1E1; font-weight:normal; scrollbar-arrow-color:#08185A; scrollbar-base-color:#E1E1E1 }
    -->
</style>
<script type="text/javascript">
   
	dojo.addOnLoad(function() {
		//alert('asdf');
		var beforepayment = <?php echo $this->beforepayment;?>;
		setTimeout("", 10000);
		if(beforepayment ==1)
		{
		document.forms["frm"].submit();
		}
	});
</script>
<?php $dataArray = $this->data;
		$this->lobjintialConfigmodel = new GeneralSetup_Model_DbTable_Initialconfiguration();		
		$InitialConfigDetails = $this->lobjintialConfigmodel->fnGetInitialConfigDetails(1);

?><form action="<?php echo $this->baseUrl();?>/registration/mipgtwo/insertedId/<?php echo $this->idstudent;?>" name="frm" id="frm" method="post">

<fieldset>
<table>
<input type="hidden" name="Title" value="PHP VPC 2.5-Party">

    <!-- get user input -->
    <table width="80%" align="center" border="0" cellpadding='0' cellspacing='0'>


    <tr class="shade">
        <td align="right"><strong><em>Virtual Payment Client URL:&nbsp;</em></strong></td>
        <td><input name="virtualPaymentClientURL" size="65" value="https://migs-mtf.mastercard.com.au/vpcpay" maxlength="250"/></td>
    </tr>
    <tr><td colspan="2">&nbsp;<hr width="75%">&nbsp;</td></tr>
    <tr class="title">
        <td colspan="2" height="25"><p><strong>&nbsp;Basic 3-Party Transaction Fields</strong></p></td>
    </tr>
    <tr>
        <td align="right"><strong><em> VPC Version: </em></strong></td>
        <td><input name="vpc_Version" value="1" size="20" maxlength="8"/></td>
    </tr>
    <tr class="shade">
        <td align="right"><strong><em>Command Type: </em></strong></td>
        <td><input name="vpc_Command" value="pay" size="20" maxlength="16"/></td>
    </tr>
    <tr>
        <td align="right"><strong><em>Merchant AccessCode: </em></strong></td>
        <td><input name="vpc_AccessCode" value="9D154920" size="20" maxlength="8"/></td>
    </tr>
    <tr class="shade">
        <td align="right"><strong><em>Merchant Transaction Reference: </em></strong></td>
        <td><input name="vpc_MerchTxnRef" value="<?php echo $this->idstudent;?>" size="20" maxlength="40"/></td>
    </tr>
    <tr>
        <td align="right"><strong><em>MerchantID: </em></strong></td>
        <td><input name="vpc_Merchant" value="TEST10701400122" size="20" maxlength="16"/></td>
    </tr>
    <tr class="shade">
        <td align="right"><strong><em>Transaction OrderInfo: </em></strong></td>
        <td><input name="vpc_OrderInfo" value="<?php echo $this->idstudent;?>" size="20" maxlength="34"/></td>
    </tr>
    <tr>
        <td align="right"><strong><em>Purchase Amount: </em></strong></td>
        <td><input name="vpc_Amount" value="1" maxlength="10"/></td>
    </tr>
    <tr class="shade">
        <td align="right"><strong><em>Receipt ReturnURL: </em></strong></td>
        <td><input name="vpc_ReturnURL" size="65" value="http://122.166.48.230/tbenew/registration/mipgrequesting" maxlength="250"/></td>
    </tr>
    <tr>
        <td align="right"><strong><em>Payment Server Display Language Locale: </em></strong></td>
        <td><input name="vpc_Locale" value="en" size="20" maxlength="5"/></td>
    </tr>

    <tr>    <td colspan="2">&nbsp;</td></tr>

    <tr>
        <td>&nbsp;</td>
        <td><input type="submit" NAME="SubButL" value="Pay Now!"></td>
    </tr>


    <tr><td colspan="2">&nbsp;<hr width="75%">&nbsp;</td></tr>
    <tr class="title">
        <td colspan="2"><p><b>&nbsp;Optional External Payment Selection Fields</b></p></td>
    </tr>
    <tr>
        <td align="right"><strong><em>Gateway: </em></strong></td>
        <td><select name=vpc_gateway>
          <option value="ssl">3 Party Gateway</option>
        	      <option value="threeDSecure">3D Secure Authentication Only Gateway</option>
        	   </select></td>
    </tr>
    <tr class="shade">
        <td align="right"><strong><em>Card: </em></strong></td>
        <td><select name=vpc_card>
        	   
                <option value="Mastercard">MasterCard</option>
              
        	   </select></td>
    </tr>
    
    <tr><td colspan="2">&nbsp;<hr width="75%">&nbsp;</td></tr>
    <tr class="title">
        <td colspan="2"><p><b>&nbsp;Optional Card Details (Requires External Payment Selection)</b></p></td>
    </tr>
    <tr>
        <td align="right"><strong><em>Card Number: </em></strong></td>
        <td><input type="text" name="vpc_CardNum" maxlength="16" value="5123456789012346"></td>
    </tr>
    <tr class="shade">
        <td align="right"><strong><em>Card Expiry (MMYY): </em></strong></td>
        <td><input type="text" name="vpc_CardExp" maxlength="4" value="0513"></td>
    </tr>

    <tr><td colspan="2">&nbsp;<hr width="75%">&nbsp;</td></tr>
    <tr class="title">
        <td colspan="2"><p><b>&nbsp;Optional Card Security Code (CVV2) Field (Requires Card Details)</b></p></td>
    </tr>
    <tr>
        <td align="right"><strong><em>Card Security Code (CVV2): </em></strong></td>
        <td><input type="text" name="vpc_CardSecurityCode" maxlength="4" value="100"/></td>
    </tr>
    
       <tr>
       <td colspan="2" align="right"><input type="submit" name="Pay" value="Pay" id="Pay"></td>
    </tr>
</table>
</fieldset>
</form> 
