<style type='text/css'>
    <!--
    h1       { font-family:Arial,sans-serif; font-size:24pt; color:#08185A; font-weight:100}
    h2.co    { font-family:Arial,sans-serif; font-size:24pt; color:#08185A; margin-top:0.1em; margin-bottom:0.1em; font-weight:100}
    h3.co    { font-family:Arial,sans-serif; font-size:16pt; color:#000000; margin-top:0.1em; margin-bottom:0.1em; font-weight:100}
    body     { font-family:Verdana,Arial,sans-serif; font-size:10pt; color:#08185A background-color:#FFFFFF }
    TR       { height:25px; }
    TR.shade { height:25px; background-color:#E1E1E1 }
    TR.title { height:25px; background-color:#C1C1C1 }
    P.blue   { font-family:Verdana,Arial,sans-serif; font-size:7pt;  color:#08185A }
    p        { font-family:Verdana,Arial,sans-serif; font-size:10pt; color:#FFFFFF }
    p.bl     { font-family:Verdana,Arial,sans-serif; font-size:8pt; color:#08185A }
    a:link   { font-family:Verdana,Arial,sans-serif; font-size:8pt; color:#08185A }
    a:visited{ font-family:Verdana,Arial,sans-serif; font-size:8pt; color:#08185A }
    a:hover  { font-family:Verdana,Arial,sans-serif; font-size:8pt; color:#FF0000 }
    a:active { font-family:Verdana,Arial,sans-serif; font-size:8pt; color:#FF0000 }
    td       { font-family:Verdana,Arial,sans-serif; font-size:8pt; color:#08185A }
    th       { font-family:Verdana,Arial,sans-serif; font-size:10pt; color:#08185A; font-weight:bold; background-color:#E1E1E1; padding-top:0.5em; padding-bottom:0.5em}
    input    { font-family:Verdana,Arial,sans-serif; font-size:8pt; color:#08185A; background-color:#E1E1E1; font-weight:bold }
    select   { font-family:Verdana,Arial,sans-serif; font-size:8pt; color:#08185A; background-color:#E1E1E1; font-weight:bold }
    textarea { font-family:Verdana,Arial,sans-serif; font-size:8pt; color:#08185A; background-color:#E1E1E1; font-weight:normal; scrollbar-arrow-color:#08185A; scrollbar-base-color:#E1E1E1 }
    -->
</style>
<script type="text/javascript">
   
	dojo.addOnLoad(function() {
		//alert('asdf');
		var beforepayment = <?php echo $this->beforepayment;?>;
		setTimeout("", 10000);
		if(beforepayment ==1)
		{
		document.forms["frm"].submit();
		}
	});
</script>
<?php $dataArray = $this->data;
		$this->lobjintialConfigmodel = new GeneralSetup_Model_DbTable_Initialconfiguration();		
		$InitialConfigDetails = $this->lobjintialConfigmodel->fnGetInitialConfigDetails(1);

?><form action="<?php echo $this->baseUrl();?>/registration/mipgtwo/insertedId/<?php echo $this->idstudent;?>" name="frm" id="frm" method="post">

<fieldset>
<table>
<input type="hidden" name="Title" value="PHP VPC 2.5-Party">

    <!-- get user input -->
    <table width="80%" align="center" border="0" cellpadding='0' cellspacing='0'>
    <tr class="title">
        <td colspan="2" height="25"><p><strong>&nbsp;Basic 3-Party Transaction Fields</strong></p></td>
    </tr>

    <tr>
        <td align="right"><strong><em>Candidate Name</em></strong></td>
        <td><input name="vpc_Amount" value="<?php echo $this->CandidateName;?>" maxlength="100" readonly="readonly"/></td>
                 <td><input type = "hidden" name="vpc_MerchTxnRef" value="<?php echo $this->idstudent;?>" size="20" maxlength="40"/></td>
                 <input type="hidden"  name="vpc_Amount" value="<?php echo $this->Amount;?>" maxlength="10" readonly="readonly"/>
    </tr>
     <tr>
        <td align="right"><strong><em>Purchase Amount:<?php echo $this->Amount;?></em></strong></td>
       
    </tr>

    <tr>
        <td>&nbsp;</td>
        <td><input type="submit" NAME="SubButL" value="Pay Now!"></td>
    </tr>
</table>
</fieldset>
</form> 
