<head>
<link href="<?php  echo $this->baseUrl();?>/css/calendar.css" rel="stylesheet" type="text/css" />   
<script type="text/javascript">
	dojo.addOnLoad(function() {
		var Exame = dojo.byId('Exame');
		dojo.style(Exame,'display','none');		
		dijit.byId('Program').set('value','');
		dijit.byId('Program').set('placeHolder','Select Course');


	      Email2='';
	      Email2=document.getElementById('EmailAddress').value 
	     // alert(Email2)

	      if(Email2)
	      {
	    	  document.getElementById('login').value = Email2;
	      }
		ic1='<?php echo $this->ic1;?>';
		ic2='<?php echo $this->ic2;?>';
		ic3='<?php echo $this->ic3;?>';

        if(ic1!=''&&ic1!=''&&ic1!='')
        {
            icno=ic1+ic2+ic3
            document.getElementById('password').value = icno;
            
        }
		
		ic2='<?php echo $this->ic2;?>';
        da='';
        da='<?php echo $this->ic3;?>';
        if(da)
        { 
            var strimale=new String('<?php echo $this->ic3;?>');
               la=strimale.length;
               la--;
           var gender=strimale.charAt(la);
            if( (eval(gender)%2)!=1)
            {
            	dijit.byId('Gender-0').attr('checked','true');
            }
           
        }
        var sa='';
        sa='<?php echo $this->ic1;?>';
		if(sa)
		{
		var stricna=new String('<?php echo $this->ic1;?>');	
		var the_char=stricna.charAt(0);
		var year=stricna.charAt(0) + stricna.charAt(1);
		if((year>=30) &&(year<=99))
		{
			year=19+year;
			
		}
		else
		{
			year=20+year;
			
		}
		
		var month=stricna.charAt(2)+stricna.charAt(3);
		var date1=stricna.charAt(4)+stricna.charAt(5);
		var dob=year+'-'+month+'-'+date1;
		dijit.byId('DateOfBirth').set('value',dob);

		if(dijit.byId("DateOfBirth").isValid()){
		    dijit.byId("DateOfBirth").attr('required','true');
			dijit.byId("DateOfBirth").focus();
			flag = true;
		}
		else
		{   age='<?php echo $this->ages?>';
		alert('"Does not meet the minimum  age limit"?');
		window.location="<?php echo $this->baseUrl();?>/registration";
		}
		
		}
	});

	function fnsetdate(){
		icn1=document.getElementById('ICN1').value;
	yes='<?php echo $this->yesdate;?>';
	if(icn1)
	{
		
	}
	else
	{
		dijit.byId('DateOfBirth').set('value',yes);
	}
		}
function fnGetPermCountryStateList(idCountry){ 
	if(idCountry != "")
		{ 
			var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/general-setup/user/getcountrystateslist/idCountry/"+idCountry,
					handleAs:'json',
					load:function(data){ 
						AutoFillNextEditableDropDown("PermState",data); 
					}
			   }
			dojo.xhrGet(xhrArgs); 
		} 
	} 

function fnGetCorrsCountryStateList(idCountry){ 
	if(idCountry != "")
		{ 
			var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/general-setup/user/getcountrystateslist/idCountry/"+idCountry,
					handleAs:'json',
					load:function(data){ 
						AutoFillNextEditableDropDown("CorrsState",data); 
					}
			   }
			dojo.xhrGet(xhrArgs); 
		} 
	} 
		
	function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
		dijit.byId(EditableDropDownId).setValue("");
		var ddwidget = dijit.byId(EditableDropDownId);
		ddwidget.setAttribute('disabled', false);
    	var options = {
					label:"name",
					identifier:"key",
					items:JSONText
				  };
    	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
	}
	function AutoFillNextEditableDropDownss(EditableDropDownId,JSONText){
		dijit.byId(EditableDropDownId).setValue("Select");
		var ddwidget = dijit.byId(EditableDropDownId);
		ddwidget.setAttribute('disabled', false);
    	var options = {
					label:"name",
					identifier:"key",
					items:JSONText
				  };
    	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
	}
	
function fngetschedulerdetails(idbatch)
	{
		var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/registration/fngetschedulerdetails/idbatch/"+idbatch,
				handleAs:'json',
				load:function(data){ 
					AutoFillNextEditableDropDown("idschedulermaster",data); 
				}
		   }
		dojo.xhrGet(xhrArgs);
	}	

function fngetbatchdetails(idprog)
{
	icid='<?php echo $this->icno1;?>';
	
	if(idprog!='')
	{
if(idprog>0)
{
	
	

	
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetprogramamount/idprog/"+idprog,
			handleAs:'json',
			load:function(data){ 
				dijit.byId("Amount").setValue(data);
			}
	   }
	dojo.xhrGet(xhrArgs);
	

	var xhrArgs1 = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetprerequesition/idprog/"+idprog,
			handleAs:'text',
			load:function(data){ 
				if(data == '')
				{
				}
				else
				{
				alert(data);
				}
			}
	   }
	dojo.xhrGet(xhrArgs1);


if(icid != "" || icid != undefined)
{
	var xhrArgs2 = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetsameexam/idprog/"+idprog+"/icno/"+icid,
			handleAs:'text',
			load:function(data){ 
				if(data == '')
				{
				}
				else
				{
				alert(data);
				dijit.byId('Program').set('value','');
				dijit.byId('Program').set('placeHolder','Select Course');
				}
			}
	   }
	dojo.xhrGet(xhrArgs2);
}
}

	
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetbatch/idprog/"+idprog,
			handleAs:'json',
			load:function(data){ 
				AutoFillNextEditableDropDown("IdBatch",data); 
			}
	   }
	dojo.xhrGet(xhrArgs);
}
}
function fngetvenuedetails(idscheduler)
{
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetvenue/idscheduler/"+idscheduler,
			handleAs:'json',
			load:function(data){ 
				AutoFillNextEditableDropDown("Venue",data); 
			}
	   }
	dojo.xhrGet(xhrArgs);
}
function fngetvenuetime()
{
	var idvenue = (dijit.byId("Venue"));
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetvenuetime/idvenue/"+idvenue,
			handleAs:'json',
			load:function(data){ 
				AutoFillNextEditableDropDown("VenueTime",data); 
			}
	   }
	dojo.xhrGet(xhrArgs);
}
function fngettimefordate()
{
	var date = dijit.byId("VenueTime");
	var idvenue = (dijit.byId("Venue"));
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetdatetime/date/"+date+"/idvenue/"+idvenue,
			handleAs:'json',
			load:function(data){ 
				AutoFillNextEditableDropDown("DateTime",data); 
			}
	   }
	dojo.xhrGet(xhrArgs);
	
}
function fngettimefordatevalidation(idvenuetime)
{
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetdatetimevalue/idvenuetime/"+idvenuetime,
			handleAs:'text',
			load:function(data){ 
				content = data.split("*****");
				if(content[1] == 1)
				{
					alert(content[0]);
					dijit.byId('DateTime').set('value','');
				}
			}
	   }
	dojo.xhrGet(xhrArgs);
	
}
function fnBackToStudent()
{
	var Exame = dojo.byId('Exame');
	dojo.style(Exame,'display','none');
	var Student = dojo.byId('Student');
	dojo.style(Student,'display','block');	
}

function fnCheckForValues()
{
	var flag = true;
	flg=0;
	cn=0;
	cun='<?php echo $this->counts;?>';
	ICN1='';ICN2='';ICN3='';ICN4='';ICN5='';ICN6='';
	if(dijit.byId("ICN1"))
	{
	ICN1=dijit.byId("ICN1").value;
	cn=dijit.byId("ICN1").value.length;
	if(dijit.byId("ICN1").value==''){
	    dijit.byId("ICN1").attr('required','true');
		dijit.byId("ICN1").focus();
		flag = false;
	}
	}
	if(dijit.byId("ICN2"))
	{
	ICN2=dijit.byId("ICN2").value;
	cn=parseInt(cn) + parseInt(dijit.byId("ICN2").value.length);
	if(dijit.byId("ICN2").value==''){
	    dijit.byId("ICN2").attr('required','true');
		dijit.byId("ICN2").focus();
		flag = false;
	}
	}
	if(dijit.byId("ICN3"))
	{
	ICN3=dijit.byId("ICN3").value;
	cn=parseInt(cn) + parseInt(dijit.byId("ICN3").value.length);
	if(dijit.byId("ICN3").value==''){
	    dijit.byId("ICN3").attr('required','true');
		dijit.byId("ICN3").focus();
		flag = false;
	}
	}
	if(dijit.byId("ICN4"))
	{
	ICN4=dijit.byId("ICN4").value;
	cn=parseInt(cn) +parseInt(dijit.byId("ICN4").value.length);
	if(dijit.byId("ICN4").value==''){
	    dijit.byId("ICN4").attr('required','true');
		dijit.byId("ICN4").focus();
		flag = false;
	}
	}
	if(dijit.byId("ICN5"))
	{
	ICN5=dijit.byId("ICN5").value;
	cn=parseInt(cn) + parseInt(dijit.byId("ICN5").value.length);
	if(dijit.byId("ICN5").value==''){
	    dijit.byId("ICN5").attr('required','true');
		dijit.byId("ICN5").focus();
		flag = false;
	}
	}
	if(dijit.byId("ICN6"))
	{
	ICN6=dijit.byId("ICN6").value;
	cn=parseInt(cn) + parseInt(dijit.byId("ICN6").value.length);
	if(dijit.byId("ICN6").value==''){
	    dijit.byId("ICN6").attr('required','true');
		dijit.byId("ICN6").focus();
		flag = false;
	}
	}
	if(ICN1==''&&ICN2==''&&ICN3==''&&ICN4==''&&ICN5==''&&ICN6=='')
		flg=1;
	if(flg!=1)
	{
	if(cun!=cn)
	{
	alert("Please enter IC Number of "+cun+" digits");
	flag=false;
	}
	}
	if(dijit.byId("EmailAddress").value==''){
	    dijit.byId("EmailAddress").attr('required','true');
		dijit.byId("EmailAddress").focus();
		flag = false;
	}else{
		if(!dijit.byId("EmailAddress").isValid()){
			dijit.byId("EmailAddress").focus();
			flag = false;
		}
	}

	if(dijit.byId("FName").value==''){
	    dijit.byId("FName").attr('required','true');
		dijit.byId("FName").focus();
		flag = false;
	}
	
	if(dijit.byId("PermAddressDetails").value==''){
	    dijit.byId("PermAddressDetails").attr('required','true');
		dijit.byId("PermAddressDetails").focus();
		flag = false;
	}
	if(dijit.byId("PostalCode").value==''){
	    dijit.byId("PostalCode").attr('required','true');
		dijit.byId("PostalCode").focus();
		flag = false;
	}
	if(dijit.byId("State").value==''){
	    dijit.byId("State").attr('required','true');
		dijit.byId("State").focus();
		flag = false;
	}
	
	if(dijit.byId("Race").value==''){
	    dijit.byId("Race").attr('required','true');
		dijit.byId("Race").focus();
		flag = false;
	}
	if(dijit.byId("MobileNo").value==''){
	    dijit.byId("MobileNo").attr('required','true');
	    dijit.byId("MobileNo").focus();
		flag = false;
	}
	
	
	
	if(flag==true)
	{
		if(dijit.byId("DateOfBirth").isValid()){
		    dijit.byId("DateOfBirth").attr('required','true');
			dijit.byId("DateOfBirth").focus();
			flag = true;
		}
		else
		{  
		
			  dijit.byId("DateOfBirth").attr('required','true');
			dijit.byId("DateOfBirth").focus();
			flag=false;
			return flag;
		}
		ta=dojo.byId('Takafuloperator').value;
		if(ta=="Select")
		{
			ta="";
		}
		icmo=dojo.byId('ICN1').value+dojo.byId('ICN2').value+dojo.byId('ICN3').value
		document.getElementById('unsme1').innerHTML = dojo.byId('FName').value;
		document.getElementById('unsme2').innerHTML = icmo;
		document.getElementById('unsme3').innerHTML = dojo.byId('DateOfBirth').value;
		document.getElementById('unsme4').innerHTML = dojo.byId('PermAddressDetails').value;
		document.getElementById('unsme5').innerHTML = dojo.byId('PostalCode').value;
		document.getElementById('unsme6').innerHTML = dojo.byId('State').value;
		document.getElementById('unsme7').innerHTML = dojo.byId('ContactNo').value;
		document.getElementById('unsme8').innerHTML = dojo.byId('MobileNo').value;
		document.getElementById('unsme9').innerHTML =ta;
		document.getElementById('unsme10').innerHTML = dojo.byId('EmailAddress').value;
		var Student = dojo.byId('Student');
		dojo.style(Student,'display','none');
		var Exame = dojo.byId('Exame');
		dojo.style(Exame,'display','block');		
	}
	else
	{
		dojo.removeAttr(Exame,'style');		
	}
}
function fnValidateTakafulOperator(idtakaful)
{
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/fngettakafulid/idtakaful/"+idtakaful,
			handleAs:'text',
			load:function(data){ 
				content = data.split("*****");
				if(content[1] == 1)
				{
					alert(content[0]);
					dijit.byId('Takafuloperator').set('value','');
				}
			}
	   }
	dojo.xhrGet(xhrArgs);
	
}
function fngetstatedetails(idprog)
{
	document.getElementById('calender').style.display='none';
	icno = document.getElementById("studic").value;
	//alert(icno);
	flag=0;
 if(idprog>0)
 {
	 
	 var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/registration/fnstudentconfirm/idprog/"+idprog+"/icno/"+icno,
				handleAs:'text',
				load:function(data){ 
					//alert(data);
					content = data.split("***");
					//alert(content[0]);
					if(content[0]==1)
					{
					alert(content[1]);
					dijit.byId('Program').set('value','');
					flag=1;
					}

					if(content[0]!=1) 
					{
					 var xhrArgs1 = {
								url: "<?php echo $this->baseUrl();?>"+"/registration/fngetprerequesition/idprog/"+idprog,
								handleAs:'text',
								load:function(data){ 
									if(data == '')
									{
									}
									else
									{
									alert(data);
									}
								}
						   }
						dojo.xhrGet(xhrArgs1);
					}
					
				}
		   }
		dojo.xhrGet(xhrArgs);


		
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetstatename/idprog/"+idprog,
			handleAs:'json',
			load:function(data){ 
				document.getElementById('calender').innerHTML="";
				AutoFillNextEditableDropDown("NewState",data); 
			}
	   }
	dojo.xhrGet(xhrArgs);
	
	var xhrArgs1 = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetyear/idprog/"+idprog,
			handleAs:'json',
			load:function(data){ 
				
				AutoFillNextEditableDropDown("Year",data); 
			}
	   }
	dojo.xhrGet(xhrArgs1);

	var xhrArgs2 = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetactiveset/idprog/"+idprog,
			handleAs:'text',
			load:function(data){ 
				document.getElementById('setactive').value = data;
			}
	   }
	dojo.xhrGet(xhrArgs2);

	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetprogramamount/idprog/"+idprog,
			handleAs:'json',
			load:function(data){ 
				dijit.byId("Amount").setValue(data);
			}
	   }
	dojo.xhrGet(xhrArgs);

	
	
 }
}

function fnGetCitylist(idstate)
{
	//alert('asdf');
	
	var Program = dijit.byId("Program");
	var year = dijit.byId("Year").value;
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetcitynames/idstate/"+idstate+"/Program/"+Program+"/idsecheduler/"+year,
			handleAs:'json',
			load:function(data){ 
				document.getElementById('calender').innerHTML;
				AutoFillNextEditableDropDown("NewCity",data); 
				showcalender()
			}
	   }
	dojo.xhrGet(xhrArgs);
}
function funct(day,month)
{
	
}

function fndisplaycalender(city)
{
	//alert(city);
	
	var year = dijit.byId("Year");
	if(year>0 && city>0)
	{
	var Program = dijit.byId("Program");
	document.getElementById('calender').style.display='block';
	var Program = dijit.byId("Program");
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/caleshow/year/"+year+"/Program/"+Program+"/city/"+city,
			handleAs:'text',
			load:function(data){ 
				document.getElementById('calender').innerHTML = "<style>Instruction: Click on date to view details and proceed </style><br>"+data;
			}
	   }
	dojo.xhrGet(xhrArgs);
	}
	
}
function showcalender()
{
	
	
	
}
function funct(day,month)
{
	
	var predays = document.getElementById('setdate').value;
	var premonth = document.getElementById('setmonth').value;
	var y=predays+""+premonth;
	//alert(y);
	if(y =='')
	{
		// alert('Empty');
	}
	else
	{
	document.getElementById(y).style.backgroundColor = '#FEFFBF';
	}
	
	var year = dijit.byId("Year");
	var city = dijit.byId("NewCity");
	x=day+""+month;
	document.getElementById('setdate').value = day;
	document.getElementById('setmonth').value = month;
	document.getElementById(x).style.backgroundColor = '#ff0000';
	//alert(day);
	//alert(month);
	
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/tempdays/day/"+day+"/month/"+month+"/year/"+year+"/city/"+city,
			handleAs:'text',
			load:function(data){ 
				//alert(data)
				//document.getElementById(data).style.backgroundColor = '#FFFFFF';
				if(data==1)
				{
				//document.forms["myForm"].submit();
				}
				else
				{
					alert("The Seats are full for this date In this City ,Please Change Date Or City ")
					document.getElementById('setdate').value ='';
					document.getElementById('setmonth').value = '';
					//alert(x);
					document.getElementById(x).style.backgroundColor = '#FEFFBF';
				}
			}
	   }
	dojo.xhrGet(xhrArgs);
}
function fngeticdob()
{
	 var sa1='';
	 sa1='<?php echo $this->ic1;?>';
    
	icn1=document.getElementById('ICN1').value;
	var stricna=new String(icn1);	
	var the_char=stricna.charAt(0);
	var year=stricna.charAt(0) + stricna.charAt(1);
	if((year>=30) &&(year<=99))
	{
		year=19+year;
		
	}
	else
	{
		year=20+year;
		
	}
	
	var month=stricna.charAt(2)+stricna.charAt(3);
	var date1=stricna.charAt(4)+stricna.charAt(5);
	var dob=year+'-'+month+'-'+date1;
	dijit.byId('DateOfBirth').set('value',dob);
     
    }

function fngetEmaildetails(email)
{

document.getElementById('login').value = email;
}
function fngetpassdetails()
{
icn1=document.getElementById('ICN1').value;
icn2=document.getElementById('ICN2').value;
icn3=document.getElementById('ICN3').value;
pass=icn1+icn2+icn3;
document.getElementById('password').value = pass;
}

function fngetstatelist()
{
	var year = dijit.byId("Year").value;
	//alert(year);
	var Program = dijit.byId("Program");
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetstatename/year/"+year+"/Program/"+Program,
			handleAs:'json',
			load:function(data){ 
				document.getElementById('calender').innerHTML="";
				AutoFillNextEditableDropDown("NewState",data); 
				 
			}
	   }
	dojo.xhrGet(xhrArgs);

	var xhrArgs3 = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetmonthname/year/"+year+"/Program/"+Program,
			handleAs:'json',
			load:function(data){ 
				AutoFillNextEditableDropDown("Month",data); 
				//dijit.byId("Month").setValue(data);
			}
	   }
	dojo.xhrGet(xhrArgs3);
	
	
	
}

function fnShowCalendar(idmonth)
{
	//alert('asdf');
	// dijit.byId("Examdate"+no).setValue('');
		var Year = dijit.byId("Year");
		var Program = dijit.byId("Program");
		//alert(Year);
		var xhrArgs = {
	 			url: "<?php echo $this->baseUrl();?>"+"/registration/caleshowmonth/idmonth/"+idmonth+"/Year/"+Year+"/Program/"+Program,
	 			handleAs:'text',
	 			load:function(data)
	 			{ 
	 			//alert(data);
	 			document.getElementById('calender').innerHTML = data; 
	 			}
	 	   }
	 	dojo.xhrGet(xhrArgs);
	 	if(idmonth == 0)
	 	{
	 		var NewCity = dijit.byId("NewCity");
	 		fndisplaycalender(NewCity);
	 	}
}
</script> 
</head>
 <fieldset>
    <legend><?php echo $this->translate("Student Application");?></legend>
                <Form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/registration/savedetails" method="post"  name= "myForm">
                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
if(document.getElementById('setdate').value =="")
{
alert("Please Select One Date");
 return false;
}
					  return true;
                } else {
                    return false;
                }
				</script>
				<div dojoType="dijit.layout.ContentPane" id="Student" >
                    <table class="table" width="100%" >
                        <tr><input type="hidden" value="<?php echo $this->studentic;?>" id="studic" name="studic">
                            <th colspan = "2"><?php echo $this->translate("* PLEASE ENTER YOUR DETAILS BELOW");?></th>
                        </tr>
                         <tr>
                           <td ><?php echo $this->translate("IC Number");?><span class="reqMark">*</span></td>
                            <td><?php $t1=$this->Txt1; $t2=$this->Txt2;$t3=$this->Txt3;$t4=$this->Txt4;$t5=$this->Txt5;$t6=$this->Txt6;$Dd1=$this->Dpd1;$Dd2=$this->Dpd2;$Dd3=$this->Dpd3;$Dd4=$this->Dpd4;$Dd5=$this->Dpd5;$Dd6=$this->Dpd6;?>
                            <?php // for($i=0;$i<$count;$i++):?>
                            <?php if($t1>0):?>
                            <?php if($Dd1!=1){?>
                                :&nbsp<input type="text" name="ICN1" id="ICN1" dojoType="dijit.form.ValidationTextBox"  onChange = 'fngeticdob();' onBlur = 'fngetpassdetails();' style="width:60px" maxlength="<?php echo $t1;?>" regExp="[0-9]{2}(0{1}[1-9]{1}|1[012]{1})(0{1}[1-9]{1}|1[0-9]{1}|2[0-9]{1}|3[01]{1})$" invalidMessage="Please Enter <?php echo $t1;?> Digits only as in the format 'YYMMDD'"  value="<?php echo $this->ic1;?>" > -
                            <?php }else{?>
                                 <input type="text" name="ICN1" id="ICN1" dojoType="dijit.form.ValidationTextBox"  style="width:40px" maxlength="<?php echo $t1;?>" regExp="[0-9A-Za-z]{<?php echo $t1;?>}" invalidMessage="Please Enter <?php echo $t1;?> Alpha-Numberics" value="<?php echo $this->ic1;?>" >
                            <?php }?>
                            <?php endif;?>
                                  <?php if($t2>0):?>
                                   <?php if($Dd2!=1){?>
                                <input type="text" name="ICN2" id="ICN2" dojoType="dijit.form.ValidationTextBox" onBlur = 'fngetpassdetails();'  style="width:40px" maxlength="<?php echo $t2;?>" regExp="[0-9]{<?php echo $t2;?>}" invalidMessage="Please Enter <?php echo $t2;?> Digits only" value="<?php echo $this->ic2;?>" > -
                                 <?php }else{?>
                                 <input type="text" name="ICN2" id="ICN2" dojoType="dijit.form.ValidationTextBox"  style="width:40px" maxlength="<?php echo $t2;?>" regExp="[0-9A-Za-z]{<?php echo $t2;?>}" invalidMessage="Please Enter <?php echo $t2;?> Alpha-Numberics" value="<?php echo $this->ic2;?>" >
                                 <?php }?>
                                   <?php endif;?>
                                  <?php if($t3>0):?>
                                     <?php if($Dd3!=1){?>
                                <input type="text" name="ICN3" id="ICN3" dojoType="dijit.form.ValidationTextBox"  onBlur = 'fngetpassdetails();' style="width:40px" maxlength="<?php echo $t3;?>" regExp="[0-9]{<?php echo $t3;?>}" invalidMessage="Please Enter <?php echo $t3;?> Digits only" value="<?php echo $this->ic3;?>" >
                                 <?php }else{?>
                                 <input type="text" name="ICN3" id="ICN3" dojoType="dijit.form.ValidationTextBox"  style="width:40px" maxlength="<?php echo $t3;?>" regExp="[0-9A-Za-z]{<?php echo $t3;?>}" invalidMessage="Please Enter <?php echo $t3;?> Alpha-Numberics" value="<?php echo $this->ic3;?>" >
                                 <?php }?>
                                <?php endif;?>
                                  <?php if($t4>0):?>
                                   <?php if($Dd4!=1){?>
                                <input type="text" name="ICN4" id="ICN4" dojoType="dijit.form.ValidationTextBox"  style="width:40px" maxlength="<?php echo $t4;?>" regExp="[0-9]{<?php echo $t4;?>}" invalidMessage="Please Enter <?php echo $t4;?> Digits only" value="<?php echo $this->ic4;?>" >
                                 <?php }else{?>
                                 <input type="text" name="ICN4" id="ICN4" dojoType="dijit.form.ValidationTextBox"  style="width:40px" maxlength="<?php echo $t4;?>" regExp="[0-9A-Za-z]{<?php echo $t4;?>}" invalidMessage="Please Enter <?php echo $t4;?> Alpha-Numberics" value="<?php echo $this->ic4;?>" >
                                <?php }?>
                                <?php endif;?>
                                  <?php if($t5>0):?>
                                    <?php if($Dd5!=1){?>
                                <input type="text" name="ICN5" id="ICN5" dojoType="dijit.form.ValidationTextBox"  style="width:40px"  maxlength="<?php echo $t5;?>" regExp="[0-9]{<?php echo $t5;?>}" invalidMessage="Please Enter <?php echo $t5;?> Digits only" value="<?php echo $this->ic5;?>" >
                                <?php }else{?>
                               <input type="text" name="ICN5" id="ICN5" dojoType="dijit.form.ValidationTextBox"  style="width:40px"  maxlength="<?php echo $t5;?>" regExp="[0-9A-Za-z]{<?php echo $t5;?>}" invalidMessage="Please Enter <?php echo $t5;?> Alpha-Numberics" value="<?php echo $this->ic5;?>" >
                                <?php }?>
                                    <?php endif;?>
                                  <?php if($t6>0):?>
                                    <?php if($Dd5!=1){?>
                                <input type="text" name="ICN6" id="ICN6" dojoType="dijit.form.ValidationTextBox"  style="width:40px" maxlength="<?php echo $t6;?>" regExp="[0-9]{<?php echo $t6;?>}" invalidMessage="Please Enter <?php echo $t6;?> Digits only" value="<?php echo $this->ic6;?>" >
                                <?php }else{?>
                                 <input type="text" name="ICN6" id="ICN6" dojoType="dijit.form.ValidationTextBox"  style="width:40px" maxlength="<?php echo $t6;?>" regExp="[0-9A-Za-z]{<?php echo $t6;?>}" invalidMessage="Please Enter <?php echo $t6;?> Alpha-Numberics" value="<?php echo $this->ic6;?>" >
                                <?php }?>
                                <?php endif;?>
                                <?php //endfor;?>
                            </td>
                        </tr>                        
                        <tr>
                            <td><?php echo $this->translate("Full Name (as per NRIC)");?><span class="reqMark">*</span></td>
                            <td>:&nbsp<?php echo $this->lobjstudentForm->FName;?><?php echo $this->lobjstudentForm->UpdDate;?><?php echo $this->lobjstudentForm->UpdUser;?></td>
                        </tr>                      
                        <tr>    
                            <td><?php echo $this->translate("Date of Birth");?><span class="reqMark">*</span></td>
                            <td>:&nbsp<?php echo $this->lobjstudentForm->DateOfBirth;?></td>
                            
                        </tr>    
                       <tr>     
                           <td ><?php echo $this->translate("Email");?><span class="reqMark">*</span><br/><?php echo $this->translate("(Please indicate valid email address because notification will be sent through email)")?></td>
                            <td >:&nbsp<?php echo $this->lobjstudentForm->EmailAddress;?></td>
                        </tr>
                        <tr>
                           <td><?php echo $this->translate("Mailing Address");?><span class="reqMark">*</span></td>
                           <td >:&nbsp<?php echo $this->lobjstudentForm->PermAddressDetails;?></td>
                       </tr>    
                        <tr>
                           <td><?php echo $this->translate("Address 2");?></td>
                           <td >:&nbsp<?php echo $this->lobjstudentForm->CorrAddress;?></td>
                       </tr> 
                       <tr>
                           <td><?php echo $this->translate("Postal Code");?><span class="reqMark">*</span></td>
                           <td >:&nbsp<?php echo $this->lobjstudentForm->PostalCode;?></td>
                       </tr> 
                       <tr>
                           <td><?php echo $this->translate("Country");?><span class="reqMark">*</span></td>
                           <td >:&nbsp<?php echo $this->lobjstudentForm->Countrys;?></td>
                       </tr> 
                        <tr>
                           <td><?php echo $this->translate("State");?><span class="reqMark">*</span></td>
                           <td >:&nbsp<?php echo $this->lobjstudentForm->State;?></td>
                       </tr> 
                        </tr> 
                           <tr>
                           <td><?php echo $this->translate("Contact No");?><span class="reqMark"></span></td>
                           <td >:&nbsp<?php echo $this->lobjstudentForm->ContactNo;?></td>
                       </tr> 
                           <tr>
                           <td><?php echo $this->translate("Mobile No");?><span class="reqMark">*</span></td>
                           <td >:&nbsp<?php echo $this->lobjstudentForm->MobileNo;?></td>
                       </tr> 
                        <tr>
                            <td><?php echo $this->translate("Race");?><span class="reqMark">*</span></td>
                            <td>:&nbsp<?php echo $this->lobjstudentForm->Race;?></td>
                        </tr>    
                        <tr>    
                            <td><?php echo $this->translate("Gender");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjstudentForm->Gender;?></td>
                        </tr>
                        <tr>
                         <td><?php echo $this->translate("Takaful").' '.$this->translate("operator");?><span class="reqMark"></span></td>
                          <td>:&nbsp<?php echo $this->lobjstudentForm->Takafuloperator;?></td>                            
                        </tr>
                        <tr>  
                         <td><?php echo $this->translate("Qualification")?><span class="reqMark">*</span></td>
                          <td>:&nbsp<?php echo $this->lobjstudentForm->Qualification;?></td>                            
                        </tr>
                         <tr>
                            <th colspan = "2"><?php echo $this->translate("Login to e-books using the following credentials");?></th>
                        </tr>
                          <tr>
                         <td><?php echo $this->translate("User").' '.$this->translate("Name");?><span class="reqMark"></span></td>
                          <td>:&nbsp<?php echo $this->lobjstudentForm->login;?></td>                            
                        </tr>
                        <tr>  
                         <td><?php echo $this->translate("Password")?><span class="reqMark">*</span></td>
                          <td>:&nbsp<?php echo $this->lobjstudentForm->password;?></td>                            
                        </tr>
                          <tr>  
                         <td style="color:red;"><?php echo $this->translate("Please enter all the required fields marked with (*)")?><span class="reqMark"></span></td>
                          <td></td>                            
                        </tr>
                       <tr>                         
                            <td></td>        
                            <td align = "right">
                            <input type = "Reset" class="NormalBtn"  dojoType=dijit.form.Button label ="<?php echo $this->translate("Reset");?>"  name ="Reset";  Value = "<?php echo $this->translate("Reset");?>" />                           
                            <input type = "button" class="NormalBtn"  dojoType=dijit.form.Button label ="<?php echo $this->translate("Next");?>"  name ="Next";  Value = "<?php echo $this->translate("Next");?>" onclick = 'fnCheckForValues();'/>
                            <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Close"); ?>" onclick="window.location.href='<?php echo $this->url(array('controller'=>'registration', 'action'=>'index'),'default',true);?>';" /> 
                            </td>
                        </tr>    
                        </table>
                        </div>
                        <div dojoType="dijit.layout.ContentPane" id="Exame" >
                        <table class="table" width="100%">
                            <tr><input type="hidden" value="<?php echo $this->studentic;?>" id="studic" name="studic">
                     
                            <th style:"width=100px" colspan = "4" style="background-color:#767676;" font size="3" color="red"><?php echo $this->translate("PERSONAL DETAILS");?></th>
                            
                        </tr>
                         <tr> 
                             <td style:"width=100px"><?php echo $this->translate("FULL NAME");?>&nbsp&nbsp&nbsp&nbsp<span class="reqMark"></span></td>
                            <td><div id="unsme1"></div></td>
                        </tr>
                        
                         <tr> 
                             <td style:"width=100px"><?php echo $this->translate("IC");?>&nbsp&nbsp&nbsp&nbsp<span class="reqMark"></span></td>
                            <td><div id="unsme2"></div></td>
                        </tr>
                        
                         <tr> 
                             <td style:"width=100px"><?php echo $this->translate("DATE OF BIRTH");?>&nbsp&nbsp&nbsp&nbsp<span class="reqMark"></span></td>
                            <td><div id="unsme3"></div></td>
                        </tr>
                        
                         <tr>
                           <td><?php echo $this->translate("MAILING ADDRESS");?>&nbsp&nbsp&nbsp&nbsp<span class="reqMark"></span></td>
                           <td><div id="unsme4"></div></td>
                       </tr>    
                       
                       <tr>
                           <td><?php echo $this->translate("POSTCODE");?> &nbsp&nbsp&nbsp&nbsp <span class="reqMark"></span></td>
                            <td><div id="unsme5"></div></td>
                       </tr>
                       
                        <tr>
                           <td><?php echo $this->translate("STATE");?>&nbsp&nbsp&nbsp&nbsp<span class="reqMark"></span></td>
                            <td><div id="unsme6"></div></td>
                       </tr> 
                        
                       <tr>
                           <td><?php echo $this->translate("COUNTRY");?>&nbsp&nbsp&nbsp&nbsp<span class="reqMark"></span></td>
                           <td ><?php echo $this->translate("Malaysia");?></td>
                       </tr> 
                       
                        </tr> 
                           <tr>
                           <td><?php echo $this->translate("CONTACT NO");?>&nbsp&nbsp&nbsp&nbsp<span class="reqMark"></span></td>
                           <td><div id="unsme7"></div></td>
                       </tr> 
                           <tr>
                           <td><?php echo $this->translate("MOMBILE No");?>&nbsp&nbsp&nbsp&nbsp<span class="reqMark"></span></td>
                           <td><div id="unsme8"></div></td>
                       </tr> 
                       
                        <tr>
                         <td><?php echo $this->translate("Takaful").' '.$this->translate("operator");?>&nbsp&nbsp&nbsp&nbsp<span class="reqMark"></span></td>
                          <td><div id="unsme9"></div></td>                           
                        </tr>
                        <tr>  
                         <td><?php echo $this->translate("Email")?>&nbsp&nbsp&nbsp&nbsp<span class="reqMark"></span></td>
                         <td><div id="unsme10"></div></td>                     
                        </tr>
                        
                        
                        
                        
                        
                         <tr>
                            <th colspan = "2" ><?php echo $this->translate("EXAMINATION DETAILS");?></th>
                        </tr>
                          <tr> 
                             <td style:"width=100px"><?php echo $this->translate("Please Choose Your Examination");?><span class="reqMark">*</span></td>
                            <td>:&nbsp<?php echo $this->lobjstudentForm->Program;?></td>
                        </tr>
                        <tr>    
                            <td ><?php echo $this->translate("Amount");?><span class="reqMark">*</span></td>
                            <td >:&nbsp<?php echo $this->lobjstudentForm->Amount;?></td>
                            
                        </tr> 
                        <tr>
                          <td ><?php echo $this->translate("Please Select Year");?><span class="reqMark">*</span></td>
                             <td >:&nbsp<?php echo $this->lobjstudentForm->Year;?> 
                        </tr>
                        <tr> 
                             <td ><?php echo $this->translate("Please Select your Examination State");?><span class="reqMark">*</span></td>
                            <td >:&nbsp<?php echo $this->lobjstudentForm->NewState;?></td>
                        </tr>   
                         <tr> 
                             <td ><?php echo $this->translate("Select Your Examination Location");?><span class="reqMark">*</span></td>
                            <td >:&nbsp<?php echo $this->lobjstudentForm->NewCity;?></td>
                        </tr>
                         <tr> 
                          <td>Please Select Month</td>
                            <td>:&nbsp<select name="Month" id="Month" dojoType="dijit.form.FilteringSelect" onChange="fnShowCalendar(this.value);">	
                         		      			 
                         		      				<option value="">Select</option>
                         		      				
                         		      	</select>
                         		      </td>
                        </tr>
                        <tr> 
                           <td></td>
                           <td></td>
                          <input type="hidden" id="setactive" name="setactive" value="">
                           <input type="hidden" id="setdate" name="setdate" value="">
                            <input type="hidden" id="setmonth" name="setmonth" value="">
                        </tr>    
         
                          <tr>
                             <td colspan="3">
                             
                                   
                             <div align="center "id="calender">  
                             </div>         
                              </td>              
                          </tr>  
                      <tr>
                          <td colspan="2" style="font-family:verdana;color:red;">Note *:<br/>1. Exam location and date may be changed.We will inform candidates atleast two days before any changes by email and sms</td>
                     
                   </tr>
                    <tr>
                     <td colspan="2" style="font-family:verdana;color:red;">2. Last date of registration is 14 working days prior to the choosen examination date</td>
                   </tr>                 
                       <tr>                         
                                                
                            <td></td>        
                            <td align = "right">                            
							<input type="button" class="NormalBtn"  dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick='fnBackToStudent();' />	
                            <?php  echo $this->lobjstudentForm->Save;?>
                            </td> 
                        </tr>
              </table>
            </div>
            </Form>

</fieldset>
