<head>

<link href="<?php  echo $this->baseUrl();?>/css/calendar.css" rel="stylesheet" type="text/css" />   
<script type="text/javascript">
	dojo.addOnLoad(function() {
		//dijit.byId('Program').set('value','');
		//dijit.byId('Program').set('placeHolder','Select Course');
       dqa='<?php echo  $this->idapp;?>';
       if(dqa=='0' )
       {
      	dijit.byId('Program').set('value','');
      	dijit.byId('Program').set('placeHolder','Select Course'); 
       }
      // alert(dqa);
		if(dqa != 0 )
		{
			ta=dojo.byId('Takafuloperator').value;
			if(ta=="Select")
			{
				ta="";
			}
			icmo=dojo.byId('ICN1').value+dojo.byId('ICN2').value+dojo.byId('ICN3').value;
			document.getElementById('unsme1').innerHTML = ': ' + dojo.byId('FName').value;
			document.getElementById('unsme2').innerHTML = ': ' +icmo;
			document.getElementById('unsme3').innerHTML = ': ' +dojo.byId('DateOfBirth').value;
			document.getElementById('unsme4').innerHTML = ': ' +dojo.byId('PermAddressDetails').value+' '+dojo.byId('CorrAddress').value;
			document.getElementById('unsme5').innerHTML = ': ' +dojo.byId('PostalCode').value;
			document.getElementById('unsme6').innerHTML = ': ' +dojo.byId('State').value;
			document.getElementById('unsme7').innerHTML = ': ' +dojo.byId('ContactNo').value;
			document.getElementById('unsme8').innerHTML = ': ' +dojo.byId('MobileNo').value;
			document.getElementById('unsme9').innerHTML =': ' + ta;
			document.getElementById('unsme10').innerHTML = ': ' + dojo.byId('EmailAddress').value;
			var Student = dojo.byId('Student');
			var Student = dojo.byId('Student');
			dojo.style(Student,'display','none');
			var Exame = dojo.byId('Exame');
			dojo.style(Exame,'display','block');
           idprog='<?php echo  $this->idproge;?>';
			fngetyearback(idprog);
			yaer3='<?php echo  $this->years3;?>';
			fngetbackmonth(yaer3,idprog);
			city3='<?php echo  $this->city3;?>';
				fndisplaycalender(city3);
			
		}
		else
		{
		var Exame = dojo.byId('Exame');
		dojo.style(Exame,'display','none');		
		
		}
	      Email2='';
	      Email2=document.getElementById('EmailAddress').value 
	     // alert(Email2)

	      if(Email2)
	      {
	    	  document.getElementById('login').value = Email2;
                     // fngetEmaildetails(Email2);
	      }
		ic1='<?php echo $this->ic1;?>';
		ic2='<?php echo $this->ic2;?>';
		ic3='<?php echo $this->ic3;?>';

        if(ic1!=''&&ic1!=''&&ic1!='')
        {
            icno=ic1+ic2+ic3;
            dijit.byId("ICN1").attr('ReadOnly','true');
            dijit.byId("ICN2").attr('ReadOnly','true');
            dijit.byId("ICN3").attr('ReadOnly','true');
            document.getElementById('password').value = icno;
            
        }
		
		ic2='<?php echo $this->ic2;?>';
        da='';
        da='<?php echo $this->ic3;?>';
        if(da)
        { 
            var strimale=new String('<?php echo $this->ic3;?>');
               la=strimale.length;
               la--;
           var gender=strimale.charAt(la);
            if( (eval(gender)%2)!=1)
            {
            	dijit.byId('Gender-0').attr('checked','true');
            }
           
        }
        var sa='';
        sa='<?php echo $this->ic1;?>';
		if(sa)
		{
		var stricna=new String('<?php echo $this->ic1;?>');	
		var the_char=stricna.charAt(0);
		var year=stricna.charAt(0) + stricna.charAt(1);
		if((year>=30) &&(year<=99))
		{
			year=19+year;
			
		}
		else
		{
			year=20+year;
			
		}
		
		var month=stricna.charAt(2)+stricna.charAt(3);
		var date1=stricna.charAt(4)+stricna.charAt(5);
		var dob=year+'-'+month+'-'+date1;
		dijit.byId('DateOfBirth').set('value',dob);
		
		}
		var idapppp   = <?php  echo $this->idapp;?>;		
		if(idapppp>0) ShowPayment(idapppp);
	});
	function ShowPayment(idap){
		document.getElementById('divLogin').style.display = 'block';
		document.getElementById('divLogin2').style.display = 'block';
		var xhrArgs = {
	 			url: "<?php echo $this->baseUrl();?>"+"/registration/selectvenue/insertedId/"+idap,
	 			handleAs:'text',
	 			load:function(data)
	 			{ 
	 			
	 				document.getElementById('contentdiv').innerHTML = data;
		 			//dijit.byId('idsession1').attr('checked','true');
		            ca= 1;//dijit.byId('idsession1').value;
		            fngettheVenues(ca,1);
	 			}
	 	   }
		dojo.xhrGet(xhrArgs);
	}
	
	var venuess="";  
	var session=""; 
	function getvenues()
	{
		v23=venuess;
		v24=session;
		coursename= '<?php  echo $this->programname;?>';
		dateexam= '<?php echo $this->dates;?>';
		result=confirm("Are sure with the above selection of examination date and location ? \n\n EXAMINATION  : "+coursename+"\n\n DATE : "+dateexam+"\n\n SESSION : "+v24+"\n\n VENUE  : "+v23);	
	  	if(result==true)
	  	{
	  		return true;
	  	}
		return false;
	}
/*	function fngettheVenues(venue,no)
	{
		 no=no - 1; 
		 var  aray= new Array();
	     var aray2= new Array();
	     <?php //foreach($this->larrvenues as $larrsession):?>
	     <?php  //if ($larrsession['rem']>0){?>
	     v1="<?php // echo $larrsession['centername'];?>";
	     v2="<?php //echo $larrsession['managesessionname']?>(<?php echo $this->daystu;?>)<?php echo $larrsession['starttime'].'--'.$larrsession['endtime'];?>";
	     aray.push(v1);
	     aray2.push(v2);
	     <?php // }?>
	     <?php // endforeach;?>
	     venuess=aray[no];   
	    session=aray2[no];    
	    
		
	}*/
	function Closefn()
	{
		document.getElementById('divLogin').style.display = 'none';
		document.getElementById('divLogin2').style.display = 'none';
	}






	function fnsetdate(){
		icn1=document.getElementById('ICN1').value;
	yes='<?php echo $this->yesdate;?>';
	if(icn1)
	{
		
	}
	else
	{
		dijit.byId('DateOfBirth').set('value',yes);
	}
		}
function fnGetPermCountryStateList(idCountry){ 
	if(idCountry != "")
		{ 
			var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/general-setup/user/getcountrystateslist/idCountry/"+idCountry,
					handleAs:'json',
					load:function(data){ 
						AutoFillNextEditableDropDown("PermState",data); 
					}
			   }
			dojo.xhrGet(xhrArgs); 
		} 
	} 

function fnGetCorrsCountryStateList(idCountry){ 
	if(idCountry != "")
		{ 
			var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/general-setup/user/getcountrystateslist/idCountry/"+idCountry,
					handleAs:'json',
					load:function(data){ 
						AutoFillNextEditableDropDown("CorrsState",data); 
					}
			   }
			dojo.xhrGet(xhrArgs); 
		} 
	} 
		
	function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
		dijit.byId(EditableDropDownId).setValue("");
		var ddwidget = dijit.byId(EditableDropDownId);
		ddwidget.setAttribute('disabled', false);
    	var options = {
					label:"name",
					identifier:"key",
					items:JSONText
				  };
    	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
	}
	function AutoFillNextEditableDropDownss(EditableDropDownId,JSONText){
		dijit.byId(EditableDropDownId).setValue("Select");
		var ddwidget = dijit.byId(EditableDropDownId);
		ddwidget.setAttribute('disabled', false);
    	var options = {
					label:"name",
					identifier:"key",
					items:JSONText
				  };
    	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
	}
	
function fngetschedulerdetails(idbatch)
	{
		var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/registration/fngetschedulerdetails/idbatch/"+idbatch,
				handleAs:'json',
				load:function(data){ 
					AutoFillNextEditableDropDown("idschedulermaster",data); 
				}
		   }
		dojo.xhrGet(xhrArgs);
	}	

function fngetbatchdetails(idprog)
{
	icid='<?php echo $this->icno1;?>';
	
	if(idprog!='')
	{
if(idprog>0)
{
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetprogramamount/idprog/"+idprog,
			handleAs:'json',
			load:function(data){ 
				dijit.byId("Amount").setValue(data);
			}
	   }
	dojo.xhrGet(xhrArgs);
	

	var xhrArgs1 = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetprerequesition/idprog/"+idprog,
			handleAs:'text',
			load:function(data){ 
				if(data == '')
				{
				}
				else
				{
				alert(data);
				}
			}
	   }
	dojo.xhrGet(xhrArgs1);



	//alert("va");
	var xhrArgs2 = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetsameexam/idprog/"+idprog+"/icno/"+icid,
			handleAs:'text',
			load:function(data){ 
				if(data == '')
				{
				}
				else
				{
				alert(data);
				dijit.byId('Program').set('value','');
				dijit.byId('Program').set('placeHolder','Select Course');
				}
			}
	   }
	dojo.xhrGet(xhrArgs2);

}

	
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetbatch/idprog/"+idprog,
			handleAs:'json',
			load:function(data){ 
				AutoFillNextEditableDropDown("IdBatch",data); 
			}
	   }
	dojo.xhrGet(xhrArgs);
}
}
function fngetvenuedetails(idscheduler)
{
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetvenue/idscheduler/"+idscheduler,
			handleAs:'json',
			load:function(data){ 
				AutoFillNextEditableDropDown("Venue",data); 
			}
	   }
	dojo.xhrGet(xhrArgs);
}
function fngetvenuetime()
{
	var idvenue = (dijit.byId("Venue"));
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetvenuetime/idvenue/"+idvenue,
			handleAs:'json',
			load:function(data){ 
				AutoFillNextEditableDropDown("VenueTime",data); 
			}
	   }
	dojo.xhrGet(xhrArgs);
}
function fngettimefordate()
{
	var date = dijit.byId("VenueTime");
	var idvenue = (dijit.byId("Venue"));
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetdatetime/date/"+date+"/idvenue/"+idvenue,
			handleAs:'json',
			load:function(data){ 
				AutoFillNextEditableDropDown("DateTime",data); 
			}
	   }
	dojo.xhrGet(xhrArgs);
	
}
function fngettimefordatevalidation(idvenuetime)
{
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetdatetimevalue/idvenuetime/"+idvenuetime,
			handleAs:'text',
			load:function(data){ 
				content = data.split("*****");
				if(content[1] == 1)
				{
					alert(content[0]);
					dijit.byId('DateTime').set('value','');
				}
			}
	   }
	dojo.xhrGet(xhrArgs);
	
}
function fnBackToStudent()
{
	var Exame = dojo.byId('Exame');
	dojo.style(Exame,'display','none');
	var Student = dojo.byId('Student');
	dojo.style(Student,'display','block');	
}

function fnCheckForValues()
{
	var flag = true;
	flg=0;
	cn=0;
	cun='<?php echo $this->counts;?>';
	ICN1='';ICN2='';ICN3='';ICN4='';ICN5='';ICN6='';
	if(dijit.byId("ICN1"))
	{
	ICN1=dijit.byId("ICN1").value;
	cn=dijit.byId("ICN1").value.length;
	if(dijit.byId("ICN1").value==''){
	    dijit.byId("ICN1").attr('required','true');
		dijit.byId("ICN1").focus();
		flag = false;
	}
	}
	if(dijit.byId("ICN2"))
	{
	ICN2=dijit.byId("ICN2").value;
	cn=parseInt(cn) + parseInt(dijit.byId("ICN2").value.length);
	if(dijit.byId("ICN2").value==''){
	    dijit.byId("ICN2").attr('required','true');
		dijit.byId("ICN2").focus();
		flag = false;
	}
	}
	if(dijit.byId("ICN3"))
	{
	ICN3=dijit.byId("ICN3").value;
	cn=parseInt(cn) + parseInt(dijit.byId("ICN3").value.length);
	if(dijit.byId("ICN3").value==''){
	    dijit.byId("ICN3").attr('required','true');
		dijit.byId("ICN3").focus();
		flag = false;
	}
	}
	if(dijit.byId("ICN4"))
	{
	ICN4=dijit.byId("ICN4").value;
	cn=parseInt(cn) +parseInt(dijit.byId("ICN4").value.length);
	if(dijit.byId("ICN4").value==''){
	    dijit.byId("ICN4").attr('required','true');
		dijit.byId("ICN4").focus();
		flag = false;
	}
	}
	if(dijit.byId("ICN5"))
	{
	ICN5=dijit.byId("ICN5").value;
	cn=parseInt(cn) + parseInt(dijit.byId("ICN5").value.length);
	if(dijit.byId("ICN5").value==''){
	    dijit.byId("ICN5").attr('required','true');
		dijit.byId("ICN5").focus();
		flag = false;
	}
	}
	if(dijit.byId("ICN6"))
	{
	ICN6=dijit.byId("ICN6").value;
	cn=parseInt(cn) + parseInt(dijit.byId("ICN6").value.length);
	if(dijit.byId("ICN6").value==''){
	    dijit.byId("ICN6").attr('required','true');
		dijit.byId("ICN6").focus();
		flag = false;
	}
	}
	if(ICN1==''&&ICN2==''&&ICN3==''&&ICN4==''&&ICN5==''&&ICN6=='')
		flg=1;
	if(flg!=1)
	{
	if(cun!=cn)
	{
	alert("Please enter IC Number of "+cun+" digits");
	flag=false;
	}
	}
	if(dijit.byId("EmailAddress").value==''){
	    dijit.byId("EmailAddress").attr('required','true');
		dijit.byId("EmailAddress").focus();
		flag = false;
	}else{
		if(!dijit.byId("EmailAddress").isValid()){
			dijit.byId("EmailAddress").focus();
			flag = false;
		}
	}

	if(dijit.byId("FName").value==''){
	    dijit.byId("FName").attr('required','true');
		dijit.byId("FName").focus();
		flag = false;
	}
	
	if(dijit.byId("PermAddressDetails").value==''){
	    dijit.byId("PermAddressDetails").attr('required','true');
		dijit.byId("PermAddressDetails").focus();
		flag = false;
	}
	if(dijit.byId("PostalCode").value==''){
	    dijit.byId("PostalCode").attr('required','true');
		dijit.byId("PostalCode").focus();
		flag = false;
	}
	if(dijit.byId("State").value==''){
	    dijit.byId("State").attr('required','true');
		dijit.byId("State").focus();
		flag = false;
	}
	
	if(dijit.byId("Race").value==''){
	    dijit.byId("Race").attr('required','true');
		dijit.byId("Race").focus();
		flag = false;
	}
	if(dijit.byId("MobileNo").value==''){
	    dijit.byId("MobileNo").attr('required','true');
	    dijit.byId("MobileNo").focus();
		flag = false;
	}
	
	
	
	if(flag==true)
	{
		if(dijit.byId("DateOfBirth").isValid()){
		    dijit.byId("DateOfBirth").attr('required','true');
			dijit.byId("DateOfBirth").focus();
			flag = true;
		}
		else
		{  
		
			  dijit.byId("DateOfBirth").attr('required','true');
			dijit.byId("DateOfBirth").focus();
			flag=false;
			return flag;
		}
		ta=dojo.byId('Takafuloperator').value;
		if(ta=="Select")
		{
			ta="";
		}
		icmo=dojo.byId('ICN1').value+dojo.byId('ICN2').value+dojo.byId('ICN3').value
		document.getElementById('unsme1').innerHTML = ': ' +dojo.byId('FName').value;
		document.getElementById('unsme2').innerHTML = ': ' + icmo;
		document.getElementById('unsme3').innerHTML =  ': ' +dojo.byId('DateOfBirth').value;
		document.getElementById('unsme4').innerHTML =  ': ' +dojo.byId('PermAddressDetails').value+' '+dojo.byId('CorrAddress').value;
		document.getElementById('unsme5').innerHTML = ': ' +dojo.byId('PostalCode').value;
		document.getElementById('unsme6').innerHTML = ': ' +dojo.byId('State').value;
		document.getElementById('unsme7').innerHTML = ': ' +dojo.byId('ContactNo').value;
		document.getElementById('unsme8').innerHTML = ': ' +dojo.byId('MobileNo').value;
		document.getElementById('unsme9').innerHTML =': ' +ta;
		document.getElementById('unsme10').innerHTML = ': ' +dojo.byId('EmailAddress').value;
		var Student = dojo.byId('Student');
		dojo.style(Student,'display','none');
		var Exame = dojo.byId('Exame');
		dojo.style(Exame,'display','block');		
	}
	else
	{
		dojo.removeAttr(Exame,'style');		
	}
}
function fnValidateTakafulOperator(idtakaful)
{
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/fngettakafulid/idtakaful/"+idtakaful,
			handleAs:'text',
			load:function(data){ 
				content = data.split("*****");
				if(content[1] == 1)
				{
					alert(content[0]);
					dijit.byId('Takafuloperator').set('value','');
				}
			}
	   }
	dojo.xhrGet(xhrArgs);
	
}
function fngetstatedetails(idprog)
{
	document.getElementById('calender').style.display='none';
	icno = document.getElementById("studic").value;
	if(icno=='')
	{
		icno = document.getElementById("password").value;
		if(icno=='')
		{
		icno=0;
		}
	}
	//alert(icno);
	flag=0;
 if(idprog>0)
 {
	 Emails=dijit.byId("EmailAddress").value;
	 if(Emails=='')
	 {
		 alert("Please enter your email and then select the course");
		 dijit.byId('Program').set('value','');
	 }
		if(Emails!='')
		{

			var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/registration/fngetemaildetailprogram/idprog/"+idprog+"/icno/"+icno+"/Emails/"+Emails,
					handleAs:'text',
					load:function(data){ 
						if(data==1)
						{
							alert("This email-id  already exist for this  for this course please change your email id");
						dijit.byId('Program').set('value','');
						
						}
						else
						{
	 var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/registration/fnstudentconfirm/idprog/"+idprog+"/icno/"+icno+"/Emails/"+Emails,
				handleAs:'text',
				load:function(data){ 
					//alert(data);
					content = data.split("***");
					//alert(content[0]);
					if(content[0]==1)
					{
					alert(content[1]);
					dijit.byId('Program').set('value','');
					flag=1;
					}
					if(content[0]==2)
					{
					result=confirm(content[1]);
					if(result==true)
					{
						
					}
					else
					{
						dijit.byId('Program').set('value','');
						
					}
					
					flag=1;
					}
                    
					if((content[0]!=1)||(content[0]!=2))
					{
					 var xhrArgs1 = {
								url: "<?php echo $this->baseUrl();?>"+"/registration/fngetprerequesition/idprog/"+idprog,
								handleAs:'text',
								load:function(data){ 
									if(data == '')
									{
									}
									else
									{
									alert(data);
									}
								}
						   }
						dojo.xhrGet(xhrArgs1);
					}
					
				}
		   }
		dojo.xhrGet(xhrArgs);


		
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetstatename/idprog/"+idprog,
			handleAs:'json',
			load:function(data){ 
				document.getElementById('calender').innerHTML="";
				AutoFillNextEditableDropDown("NewState",data); 
			}
	   }
	dojo.xhrGet(xhrArgs);
	
	var xhrArgs1 = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetyear/idprog/"+idprog,
			handleAs:'json',
			load:function(data){ 
				
				AutoFillNextEditableDropDown("Year",data); 
			}
	   }
	dojo.xhrGet(xhrArgs1);

	var xhrArgs2 = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetactiveset/idprog/"+idprog,
			handleAs:'text',
			load:function(data){ 
				document.getElementById('setactive').value = data;
			}
	   }
	dojo.xhrGet(xhrArgs2);

	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetprogramamount/idprog/"+idprog+"/icno/"+icno,
			handleAs:'json',
			load:function(data){ 
				dijit.byId("Amount").setValue(data);
			}
	   }
	dojo.xhrGet(xhrArgs);

						}
					}
			   }
			dojo.xhrGet(xhrArgs);

		}
	
 }
}

function fngetstatedetailsoldss(idprog)
{
	document.getElementById('calender').style.display='none';
	icno = document.getElementById("studic").value;
	if(icno=='')
	{
		icno=0;
	}
	//alert(icno);
	flag=0;
 if(idprog>0)
 {
	 Emails=dijit.byId("EmailAddress").value;
	 
	 var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/registration/fnstudentconfirm/idprog/"+idprog+"/icno/"+icno+"/Emails/"+Emails,
				handleAs:'text',
				load:function(data){ 
					//alert(data);
					content = data.split("***");
					//alert(content[0]);
					if(content[0]==1)
					{
					alert(content[1]);
					dijit.byId('Program').set('value','');
					flag=1;
					}
					if(content[0]==2)
					{
					result=confirm(content[1]);
					if(result==true)
					{
						
					}
					else
					{
						dijit.byId('Program').set('value','');
						
					}
					
					flag=1;
					}
                    
					if((content[0]!=1)||(content[0]!=2))
					{
					 var xhrArgs1 = {
								url: "<?php echo $this->baseUrl();?>"+"/registration/fngetprerequesition/idprog/"+idprog,
								handleAs:'text',
								load:function(data){ 
									if(data == '')
									{
									}
									else
									{
									alert(data);
									}
								}
						   }
						dojo.xhrGet(xhrArgs1);
					}
					
				}
		   }
		dojo.xhrGet(xhrArgs);


		
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetstatename/idprog/"+idprog,
			handleAs:'json',
			load:function(data){ 
				document.getElementById('calender').innerHTML="";
				AutoFillNextEditableDropDown("NewState",data); 
			}
	   }
	dojo.xhrGet(xhrArgs);
	
	var xhrArgs1 = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetyear/idprog/"+idprog,
			handleAs:'json',
			load:function(data){ 
				
				AutoFillNextEditableDropDown("Year",data); 
			}
	   }
	dojo.xhrGet(xhrArgs1);

	var xhrArgs2 = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetactiveset/idprog/"+idprog,
			handleAs:'text',
			load:function(data){ 
				document.getElementById('setactive').value = data;
			}
	   }
	dojo.xhrGet(xhrArgs2);

	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetprogramamount/idprog/"+idprog+"/icno/"+icno,
			handleAs:'json',
			load:function(data){ 
				dijit.byId("Amount").setValue(data);
			}
	   }
	dojo.xhrGet(xhrArgs);


	
	
 }
}


function fngetyearback(idprog)
{

	//document.getElementById('calender').style.display='none';
	icno = document.getElementById("studic").value;
	if(icno=='')
	{
		icno=0;
	}
	if(idprog!='')
	{

		var xhrArgs2 = {
				url: "<?php echo $this->baseUrl();?>"+"/registration/fngetactiveset/idprog/"+idprog,
				handleAs:'text',
				load:function(data){ 
					document.getElementById('setactive').value = data;
				}
		   }
		dojo.xhrGet(xhrArgs2);
	
		
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetprogramamount/idprog/"+idprog+"/icno/"+icno,
			handleAs:'json',
			load:function(data){ 
				dijit.byId("Amount").setValue(data);
			}
	   }
	dojo.xhrGet(xhrArgs);
}
}

function fnGetCitylist(idstate)
{
	//alert('asdf');
	
	var Program = dijit.byId("Program");
	var year = dijit.byId("Year").value;
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetcitynames/idstate/"+idstate+"/Program/"+Program+"/idsecheduler/"+year,
			handleAs:'json',
			load:function(data){ 
				document.getElementById('calender').innerHTML;
				AutoFillNextEditableDropDown("NewCity",data); 
				showcalender()
			}
	   }
	dojo.xhrGet(xhrArgs);
}
function funct(day,month)
{
	
}

function fndisplaycalender(city)
{
	//alert(city);
	
	var year = dijit.byId("Year");
	if(year>0 && city>0)
	{
	var Program = dijit.byId("Program");
	document.getElementById('calender').style.display='block';
	var Program = dijit.byId("Program");
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/caleshow/year/"+year+"/Program/"+Program+"/city/"+city,
			handleAs:'text',
			load:function(data){ 
				document.getElementById('calender').innerHTML = "<style>Instruction: Click on date to view details and proceed </style><br>"+data;
			}
	   }
	dojo.xhrGet(xhrArgs);
	}
	
}
function showcalender()
{
	
	
	
}
function funct(day,month)
{
///////////////scheduler exception/////////////////
	var city = dijit.byId("NewCity");
	//var state = dijit.byId("NewState");
	var flagssss=0;
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/schedulerexception/day/"+day+"/month/"+month+"/city/"+city,
			handleAs:'text',
			load:function(data){
				 if(data == '')
				 {
						

					//////////////////////////////////////////////	
						
						var mnt = dijit.byId('Month');
						//alert(mnt);
						
						var predays = document.getElementById('setdate').value;
						var premonth = document.getElementById('setmonth').value;
						var y=predays+""+premonth;
						//alert(y);
						if(eval(y ==''))
						{
							//alert('Empty');
						}
						else
						{
							if(mnt!=0)
							{
							  if(month ==premonth)
							  document.getElementById(y).style.backgroundColor = '#FEFFBF';
							}
							else{
								//alert('d');
								//alert(y);
								document.getElementById(y).style.backgroundColor = '#FEFFBF';
							}
						}
						
						var year = dijit.byId("Year");
						var city = dijit.byId("NewCity");
						x=day+""+month;
						document.getElementById('setdate').value = day;
						document.getElementById('setmonth').value = month;
						//alert(x);
						document.getElementById(x).style.backgroundColor = '#ff0000';
						//alert(day);
						//alert(month);
						
						var xhrArgs = {
								url: "<?php echo $this->baseUrl();?>"+"/registration/tempdays/day/"+day+"/month/"+month+"/year/"+year+"/city/"+city,
								handleAs:'text',
								load:function(data){ 
									//alert(data)
									//document.getElementById(data).style.backgroundColor = '#FFFFFF';
									if(data==1)
									{
									document.forms["myForm"].submit();
									}
									else
									{
										alert("The Seats are full for this date In this City ,Please Change Date Or City ")
										document.getElementById('setdate').value ='';
										document.getElementById('setmonth').value = '';
										//alert(x);
										document.getElementById(x).style.backgroundColor = '#FEFFBF';
									}
								}
						   }
						dojo.xhrGet(xhrArgs);
						
				 }
				 else
				 { 
					 
					alert(data);
					//var flagssss=1;
				 }
				
			}
	   }
	dojo.xhrGet(xhrArgs);

	
}
function functoldsss(day,month)
{
	var mnt = dijit.byId('Month');
	//alert(mnt);
	var predays = document.getElementById('setdate').value;
	var premonth = document.getElementById('setmonth').value;
	var y=predays+""+premonth;
	//alert(y);
	if(eval(y ==''))
	{
		//alert('Empty');
	}
	else
	{
	if(mnt!=0)
		{
		  if(month ==premonth)
			  if(document.getElementById(y)) document.getElementById(y).style.backgroundColor = '#FEFFBF';
		}
		else{
			if(document.getElementById(y)) document.getElementById(y).style.backgroundColor = '#FEFFBF';
		}
	}

	var year = dijit.byId("Year");
	var city = dijit.byId("NewCity");
	x=day+""+month;
	document.getElementById('setdate').value = day;
	document.getElementById('setmonth').value = month;
	//alert(x);
	document.getElementById(x).style.backgroundColor = '#ff0000';
	//alert(day);
	//alert(month);
	
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/tempdays/day/"+day+"/month/"+month+"/year/"+year+"/city/"+city,
			handleAs:'text',
			load:function(data){ 
				//alert(data)
				//document.getElementById(data).style.backgroundColor = '#FFFFFF';
				if(data==1)
				{
				document.forms["myForm"].submit();
				}
				else
				{
					alert("The Seats are full for this date In this City ,Please Change Date Or City ")
					document.getElementById('setdate').value ='';
					document.getElementById('setmonth').value = '';
					//alert(x);
					document.getElementById(x).style.backgroundColor = '#FEFFBF';
				}
			}
	   }
	dojo.xhrGet(xhrArgs);

	
}
function fngeticdob()
{
	 var sa1='';
	 sa1='<?php echo $this->ic1;?>';
    
	icn1=document.getElementById('ICN1').value;
	var stricna=new String(icn1);	
	var the_char=stricna.charAt(0);
	var year=stricna.charAt(0) + stricna.charAt(1);
	if((year>=30) &&(year<=99))
	{
		year=19+year;
		
	}
	else
	{
		year=20+year;
		
	}
	
	var month=stricna.charAt(2)+stricna.charAt(3);
	var date1=stricna.charAt(4)+stricna.charAt(5);
	var dob=year+'-'+month+'-'+date1;
	dijit.byId('DateOfBirth').set('value',dob);
     
    }

function fngetEmaildetails(email)
{

document.getElementById('login').value = email;
ic1='<?php echo $this->ic1;?>';
	ic2='<?php echo $this->ic2;?>';
	ic3='<?php echo $this->ic3;?>';

    if(ic1!=''&&ic1!=''&&ic1!='')
    {
        icno=ic1+ic2+ic3;  
    }
    if(icno=='')
	{
	alert("please enter ICNO first");
	}

	if(email!='')
	{
		var program = dijit.byId("Program");
		if(program!='')
		{

			var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/registration/fngetemaildetailprogram/idprog/"+program+"/icno/"+icno+"/Emails/"+email,
					handleAs:'text',
					load:function(data){ 
						if(data==1)
						{
							alert("This email-id  already exist for this  for this course please change your email id");
						dijit.byId('Program').set('value','');
						
						}

					}
			   }
			dojo.xhrGet(xhrArgs);
			
		}
}

}
function fngetpassdetails()
{
icn1=document.getElementById('ICN1').value;
icn2=document.getElementById('ICN2').value;
icn3=document.getElementById('ICN3').value;
pass=icn1+icn2+icn3;
document.getElementById('password').value = pass;
}

function fngetstatelist()
{
	var year = dijit.byId("Year").value;
	//alert(year);
	var Program = dijit.byId("Program");
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetstatename/year/"+year+"/Program/"+Program,
			handleAs:'json',
			load:function(data){ 
				document.getElementById('calender').innerHTML="";
				AutoFillNextEditableDropDown("NewState",data); 
				 
			}
	   }
	dojo.xhrGet(xhrArgs);

	var xhrArgs3 = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetmonthname/year/"+year+"/Program/"+Program,
			handleAs:'json',
			load:function(data){ 
				AutoFillNextEditableDropDown("Month",data); 
				//dijit.byId("Month").setValue(data);
			}
	   }
	dojo.xhrGet(xhrArgs3);
	
	
	
}

function fngetbackmonth(year,Program)
{
	
	var xhrArgs3 = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetmonthname/year/"+year+"/Program/"+Program,
			handleAs:'json',
			load:function(data){ 
				AutoFillNextEditableDropDown("Month",data); 
				//dijit.byId("Month").setValue(data);
			}
	   }
	dojo.xhrGet(xhrArgs3);
	
	
	
}



function fnShowCalendar(idmonth)
{
	//alert('asdf');
	// dijit.byId("Examdate"+no).setValue('');
		var Year = dijit.byId("Year");
		var Program = dijit.byId("Program");
		//alert(Year);
		var xhrArgs = {
	 			url: "<?php echo $this->baseUrl();?>"+"/registration/caleshowmonth/idmonth/"+idmonth+"/Year/"+Year+"/Program/"+Program,
	 			handleAs:'text',
	 			load:function(data)
	 			{ 
	 			//alert(data);
	 			document.getElementById('calender').innerHTML = data; 
	 			}
	 	   }
	 	dojo.xhrGet(xhrArgs);
	 	if(idmonth == 0)
	 	{
	 		var NewCity = dijit.byId("NewCity");
	 		fndisplaycalender(NewCity);
	 	}
}

function autotab(original,destination){
	//alert(original);
	//alert(destination);
	var destination = dijit.byId(destination);
	var wlength = dojo.byId(original).maxLength;
	var nlength=document.getElementById(original).value;
	var slength = nlength.length;
	if (slength == wlength) {
	dijit.byId(destination).focus();
}
}

function getthemodes(modes){ 
	   
	  // alert(modes);
	if(modes == 7)
		{  
	alert("This payment method is only applicable to applicant that walk in into IBFIM Office");
		} 
	} 

function fnhidediv()
{
	//alert('asdasd');
	document.getElementById('saveddd').style.display='none'; 
	//dijit.byId('save').style.display='block';
}
</script> 
</head>
 <fieldset>
    <legend><?php echo $this->translate("Student Application");?></legend>
                <Form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/registration/newstudent" method="post"  name= "myForm">
                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					if(document.getElementById('setdate').value =="")
						{
							alert("Please Select One Date");
							return false;
					}
					  return true;
                } else {
                    return false;
                }
				</script>
				<div dojoType="dijit.layout.ContentPane" id="Student" >
                    <table class="table" width="100%" >
                        <tr><input type="hidden" value="<?php echo $this->studentic;?>" id="studic" name="studic">
                            <th colspan = "2"><?php echo $this->translate("* PLEASE ENTER YOUR DETAILS BELOW");?></th>
                        </tr>
                         <tr>
                           <td ><?php echo $this->translate("IC Number");?><span class="reqMark">*</span></td>
                            <td><?php $t1=$this->Txt1; $t2=$this->Txt2;$t3=$this->Txt3;$t4=$this->Txt4;$t5=$this->Txt5;$t6=$this->Txt6;$Dd1=$this->Dpd1;$Dd2=$this->Dpd2;$Dd3=$this->Dpd3;$Dd4=$this->Dpd4;$Dd5=$this->Dpd5;$Dd6=$this->Dpd6;?>
                            <?php // for($i=0;$i<$count;$i++):?>
  