
<link rel="stylesheet" type="text/css" href="<?php  echo $this->baseUrl();?>/js/dojo/dijit/themes/claro/claro.css" />
<link rel="stylesheet" type="text/css" href="<?php  echo $this->baseUrl();?>/js/dojo/dojo/resources/dojo.css" />
<table class="table" width="100%" border="0" align="center">
	<tr>
		<th><?php echo $this->translate("Examination Details");?></th>
	</tr>
	<tr>
		<td align="left">Date Selected:<?php echo date ( "d-m-Y", strtotime ( $this->regdate ) );  ;?></td>
	</tr>
	<input type="hidden" value="<?php echo $this->id;?>" id="idapplication" name="idapplication">

</table>
<table class="table" width="100%" border="0" align="center">
	<tr>
		<th><?php echo $this->translate("Num");?></th>
		<th><?php echo $this->translate("SESSION/TIME");?></th>
		<th></th>
		<th></th>

	</tr>
	<tr>
	<?php if(count($this->sessresult)):?>
	<?php $cnt1=1;foreach ($this->sessresult as $larrsession ):?>
	<tr>
		<td align="left"><?php  if ($larrsession['rem']>0){ echo  $cnt1;?></td>
		<td align="left"><?php echo $larrsession['managesessionname']?>(<?php echo $this->daystu;?>)<br />
		<?php echo $larrsession['starttime'].'--'.$larrsession['endtime'];?></td>
		 <td align="left"><?php  echo $larrsession['centername'];?><br><span style="color:Green;" ><?php echo $this->translate("Available Seat(s) :");?><?php  echo $larrsession['rem'];?></span></td>
                 
		<td align="left"><input type="radio"
		<?php  if($cnt1 == 1) echo "checked"; ?>
			dojoType="dijit.form.RadioButton" name="idsession"
			value="<?php echo $larrsession['idsession'];?>"
			id="idsession<?php echo $cnt1;?>"></td>
			<?php  $cnt1++; } ?>
			<?php  endforeach; ?>
			<?php endif; ?>
		</td>
	</tr>

	<tr>
		<th colspan="4"><?php echo $this->translate("Payment Mode");?></th>
	</tr>
	<td align="left">Payment</td>
	<td align="left"><?php echo $this->lobjstudentForm->ModeofPayment;?></td>
	<tr>
	

	<tr>
		<th colspan="4"><?php echo $this->translate("");?></th>
	</tr>
	<td colspan="3" style="font-family: verdana; color: red;" align="left">Note
	*:<br />
	Exam location and date may be changed.We will inform candidates atleast
	two days before any changes by email and sms</td>

	</tr>
	<tr>
		<td colspan="3" style="font-family: verdana; color: red;" align="left">Last
		date of registration is 14 days prior to the choosen examination date</td>
	</tr>
<br/>
	<tr>
         <td colspan="3" style="font-family: verdana; color: black;" align="left">
           <div align="center" style="font-size: 10pt; color: red;"><b>Declaration</b></div>  
             
		   <div style="font-family: verdana; font-size: 10pt; color: black;" align="center">
                  I hereby declare that the information given is true and accurate.If I passed &nbsp&nbsp&nbsp&nbsp&nbsp<br/>
				  the examination and the information given is found to be not true,I understand&nbsp&nbsp<br/>
				  that IBFIM reserves the right to Cancel the examination result and take action&nbsp&nbsp<br/>
				  according to the rules and regulation of Takaful Basic Examination&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<br/>
		   </div>
		  </td> 
		  
	</tr>
	<tr>
	    
	     <td ><input type="checkbox" dojoType="dijit.form.CheckBox"  id="Agree" name="Agree"  onClick ="fncheck();"/>&nbspAgree*</td>
		 <td></td>
		 
	</tr>
    <br/>

	<tr>
		<td colspan="3" style="font-family: verdana; color: red;" id="saveddd">
		<center>Are you sure with above selection of venue and payment type ?<br />
		<?php echo $this->lobjstudentForm->Yes;?> <input type="button"
			class="NormalBtn" dojotype="dijit.form.Button" value="No"
			label="<?php echo $this->translate("No"); ?>" onClick="Closefn()" />
		</center>
		</td>
	</tr>
</table>
