<head>
<script type="text/javascript"> 
var venuess="";  
var session=""; 
dojo.addOnLoad(function() {
            	dijit.byId('idsession1').attr('checked','true');
            ca=dijit.byId('idsession1').value;
            fngettheVenues(ca,1);
            
                 
 
        	});
     	
function getvenues()
{
	//alert(venuess);
	//alert(session);
	v23=venuess;
	v24=session
	coursename='<?php  echo $this->programname;?>';
	dateexam='<?php echo $this->dates;?>';
	result=confirm("Are sure with the above selection of examination date and location ? \n\n EXAMINATION  : "+coursename+"\n\n DATE : "+dateexam+"\n\n SESSION : "+v24+"\n\n VENUE  : "+v23);
  	if(result==true)
  	{
  		return true;
  	}

	return false;
}


function fngettheVenues(venue,no)
{
	no=no - 1; 
	 var  aray= new Array();
     var aray2= new Array();
     <?php foreach($this->larrvenues as $larrsession):?>
     <?php  if ($larrsession['rem']>0){?>
     v1='<?php  echo $larrsession['centername'];?>';
     v2='<?php echo $larrsession['managesessionname']?>(<?php echo $this->daystu;?>)<?php echo $larrsession['starttime'].'--'.$larrsession['endtime'];?>';
     aray.push(v1);
     aray2.push(v2);
     <?php }?>
     <?php endforeach;?>
     venuess=aray[no];   
    session=aray2[no];     
	
}
</script> 
</head>

	<fieldset>
	<form action="<?php echo $this->baseUrl();?>/registration/selectvenue/insertedId/<?php echo $this->id;?>"  dojoType="dijit.form.Form" method="POST">
	    <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
flag=getvenues();
					return flag;
                } else {
                    return false;
                }
				</script> 
	     <table class="table" width="50%" border="1" align="center">
	                     <tr>
                            <th><?php echo $this->translate("Examination Details");?></th>
                         </tr>
                         <tr>
                           <td>Date Selected:<?php echo $this->dates;?></td>
                         </tr>
                   <input type="hidden" value="<?php echo $this->id;?>" id="idapplication" name="idapplication">
                    
          </table>
          <table class="table" width="50%"  border="1" align="center">
	                     <tr>
                            <th><?php echo $this->translate("Num");?></th>
                              <th><?php echo $this->translate("SESSION/TIME");?></th>
                            <th><?php echo $this->translate("VENUE");?></th>
                             <th></th>
                      
                         </tr>
                         <tr>
                           
                          <?php if(count($this->larrvenues)):?>
                             <?php $cnt1=1;foreach ($this->larrvenues as $larrsession ):?>
              <tr><td><?php  if ($larrsession['rem']>0){ echo $cnt1;?></td>
                 <td><?php echo $larrsession['managesessionname']?>(<?php echo $this->daystu;?>)<br/><?php echo $larrsession['starttime'].'--'.$larrsession['endtime'];?></td>  
                   <td><?php  echo $larrsession['centername'];?><br><span style="color:Green;" ><?php echo $this->translate("Available Seat(s) :");?><?php  echo $larrsession['rem'];?></span></td>
                 
                   <td>
                   
                    <input type="radio" dojoType="dijit.form.RadioButton" name="idvenues" value="<?php echo $larrsession['idcenter'].'-'.$larrsession['idmangesession'];?>" id="idsession<?php echo $cnt1;?>"  onclick= 'fngettheVenues(this.value,<?php echo $cnt1;?>);'></td>
     		            <?php  $cnt1++; }; ?>
     		            <?php  endforeach; ?>
     		            <?php endif; ?>
     		            </td>
                         </tr>
                      
                    <tr>
                            <th colspan="4"><?php echo $this->translate("Payment Mode");?></th>
                     </tr>
                      <td >Payment</td>
                            <td> <?php echo $this->lobjstudentForm->ModeofPayment;?></td> 
                      <tr>
                       <tr>
                            <th colspan="4"><?php echo $this->translate("");?></th>
                     </tr>
                     <td colspan="3" style="font-family:verdana;color:red;">Note *:<br/>Exam location and date may be changed.We will inform candidates atleast two days before any changes by email and sms</td>
                     
                   </tr>
                    <tr>
                     <td colspan="3" style="font-family:verdana;color:red;">Last date of registration is 14 working days prior to the choosen examination date</td>
                   </tr>
                 
                <tr>                         
                         
                          <td></td>
                                                
                             
                                                 <td colspan="2">Are you sure with above selection of venue and payment type ?<br />
                            <?php echo $this->lobjstudentForm->Save;?>
 <input type="button" class="NormalBtn"  dojotype="dijit.form.Button" label="<?php echo $this->translate("No"); ?>" onclick="window.location.href='<?php echo $this->url(array('controller'=>'registration', 'action'=>'index'),'default',true);?>';" />
                            </td> 
                        </tr>     
          </table>
          
        </form>
        </fieldset>                
