<html>
<head>
<script type="text/javascript">
dojo.addOnLoad(function(){
	document.getElementById('divLogin1').style.display = 'block';						
				document.getElementById('divLogin2').style.display = 'block';
	});
                
</script>
<style type='text/css'>
div.margin
{
margin-top:100px;
margin-bottom:100px;
margin-right:50px;
margin-left:100px;
}

</style>
</head>
<body>


<div runat="server" id="divLogin1"  style="display:none; z-index: 153; position: fixed; left: 33%; width: 550px; top:25%">
 <div runat="server" id="divLogin2"  style="display:none; opacity:1.0; z-index: 150; position: relative; left: 0%; height: 100%; width: 100%; top: 0%;"> </div>
					                <div id="scroll" style="height: 600px; width: 100%; overflow:auto;">
					                <asp:Panel runat="server" ID="popupLogin">
					                    <asp:Panel runat="server" ID="popupContent1">
					                        <table style="align:center;height: 125px; width: 100%; background-color: #FFFFFF;"  frame="box">
					                            
					                                
					                                <tr>
                                                            <td ><div class="margin" ><input type="button" dojotype="dijit.form.Button" name="Managecenter" id="Managecenter" value="Managecenter" label="Add In-house Exam Center" onclick="window.location.href='<?php echo $this->url(array('module'=>'scheduler','controller'=>'trainingcenter', 'action'=>'index'),'default',true);?>';"> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
	                                                            <input type="button" dojotype="dijit.form.Button" name="Managescheduler" id="Managescheduler" value="Managescheduler" label="Add In-house Schedulers" onclick="window.location.href='<?php echo $this->url(array('module'=>'scheduler','controller'=>'inhousescheduler', 'action'=>'index'),'default',true);?>';"></div></td>
                                                    </tr>
					                            
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
    </div>
 </div> 
</body>
</html>