
<table id="hor-minimalist-b">
	                  <tr>
                            <th><?php echo $this->translate->_("Course Details");?></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <?php $larreasyquestion = $this->questions;?>
                        <?php $larranswers = $this->answers;?>
                        
                         <?php for($i=0;$i<count($larreasyquestion);$i++){?>
                         <h4><?php echo $larreasyquestion[$i]['Question'];?></h4>
                            
                            <?php for($i=0;$i<count($larranswers);$i++){?>
                        
                        
                        <?php }?>
                        
                        <?php }?>
                        </table>

