<head>
	

<!-- ///////////////////////// DOJO ////////////////////////// -->
	<script type="text/javascript">
		dojo.addOnLoad(function(){
			//OnLoadAction();
			<?php  if($this->pop==0){?>
			dijit.byId('Pin').setAttribute("required", false);
			dijit.byId('Takcomp').set('value',''); 
            dijit.byId('Takcomp').set('placeHolder','Select');

			dijit.byId('Takcompnames').set('value',''); 
			dijit.byId('Takcompnames').set('placeHolder','Select');

			dijit.byId('Pin').set('value',''); 
			dijit.byId('Pin').set('placeHolder','Select');
			
			
			<?php } ?>
			dijit.byId('Pin').setAttribute("required", false);
		});	 


		function examtoDateSetting(){ 
			//alert("df");
			var RegFromDate = dijit.byId('Date').value;
			var startDate = dijit.byId('Date2');
			var trdat = ""+RegFromDate;
			var d = new Date(trdat); 
			d.setDate(d.getDate());
		    var date = d.getDate();
		    var month = d.getMonth()+1;
		    var year = d.getFullYear();
			
		    if(month<10) month = "0"+month;
		    if(date<10) date = "0"+date;
		    var nextdate = year+'-'+month +'-'+date;
		    
			startDate.constraints = dojo.mixin(startDate.constraints, {min: dojo.date.stamp.fromISOString(nextdate)}); 

			var trdat = ""+RegFromDate;
			var d = new Date(trdat); 
			d.setDate(d.getDate() + 30);
		    var date = d.getDate();
		    var month = d.getMonth()+1;
		    var year = d.getFullYear();
			
		    if(month<10) month = "0"+month;
		    if(date<10) date = "0"+date;
		    var nextdate = year+'-'+month +'-'+date;

			startDate.constraints = dojo.mixin(startDate.constraints, {max: dojo.date.stamp.fromISOString(nextdate)}); 
		}

		


		
		
        function fngetpin()
		{
			//dijit.byId('Pin').setValue("");
			var compflag = dijit.byId('Takcomp');
	         var idcomp = dijit.byId('Takcompnames');
			
	         if(idcomp!='')
	         {
			    var xhrArgs = {
			   
					url: "<?php echo $this->baseUrl();?>"+"/reports/company/getallregpinsforbatch/compflag/"+compflag+"/idcomp/"+idcomp,
					handleAs:'json',
					load:function(data){ 
						
							var ppp=[{"name":"All","key":"0"},];	
							var finalObj1 = ppp.concat(data);
							
							AutoFillNextEditableDropDown("Pin",finalObj1); 
							dijit.byId('Pin').setAttribute("required", false);
		
						}
			   }
			   dojo.xhrGet(xhrArgs);
		 	}else{
		 		AutoFillNextEditableDropDown("Pin","");
		 	}
	}
		function fntakcompnames()
		{
	    var idname = dijit.byId('Takcomp');
	    if(idname!='')
        {
		    var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/reports/company/fnajaxgettakcompnames/idname/"+idname,
					handleAs:'json',
					load:function(data){ 
						 var pp=[{"name":"All","key":"0"},];	
						 var finalObj = pp.concat(data);
						
						AutoFillNextEditableDropDown("Takcompnames",finalObj);
	
	
					}
			   }
			dojo.xhrGet(xhrArgs);
        }
}
	
       function AutoFillNextEditableDropDown(EditableDropDownId,JSONText)
       {
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}





       
		
	</script>  
</head>
<body class='claro'>

<div>
<fieldset>
	<legend><?php echo $this->translate("Company").' '.$this->translate("Report");?></legend>
	<div class="search" style="margin-left:20px;">
 		<form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/reports/company" method="POST">
 			<script type="dojo/method" event="onSubmit">
					if (this.validate()){
						return true;
                	} else {
                   		return false;
               		}
					</script>
		<table width="100%">
				
                <tr>
					  <td><?php echo $this->translate("Takaful/Company"); ?><span class="reqMark">*</span></td>
                    <td><?php echo $this->lobjform->Takcomp;?></td>
                 </tr>
                <tr>    
                    <td><?php echo $this->translate("Name") ?></td>
                    <td><?php echo $this->lobjform->Takcompnames;?></td>
					<td><?php echo $this->translate("Student").' '.$this->translate("Name") ?></td>
					<td><?php echo $this->lobjform->Studentname;?></td>
                </tr>


				<tr>
				    <td><?php echo $this->translate("Batch ID")?></td>

					<td><?php echo $this->lobjform->Pin;?></td>					
					<td><?php echo $this->translate("IC NO") ?></td>
					<td><?php echo $this->lobjform->ICNO;?></td>
				</tr>
				<tr>
                    <td><?php echo $this->translate("Course").' '.$this->translate("Name") ?></td>
                    <td><?php echo $this->lobjform->Coursename;?></td>
                    <td><?php echo $this->translate("Venue") ?></td>
                    <td><?php echo $this->lobjform->Venues;?></td>
                </tr>
				<tr>
                    <td><?php echo $this->translate("Exam").' '.$this->translate("From").' '.$this->translate("Date") ?><span class="reqMark">*</span></td>
                    <td><?php echo $this->lobjform->Date;?></td>
                    <td><?php echo $this->translate("Exam").' '.$this->translate("To").' '.$this->translate("Date") ?><span class="reqMark">*</span></td>
                    <td><?php echo $this->lobjform->Date2;?></td>
                </tr>
				<tr>
                    <td><?php echo $this->translate("Applied").' '.$this->translate("From").' '.$this->translate("Date") ?></td>
                    <td><?php echo $this->lobjform->AFromDate;?></td>
                    <td><?php echo $this->translate("Applied").' '.$this->translate("To").' '.$this->translate("Date") ?></td>
                    <td><?php echo $this->lobjform->AToDate;?></td>
                </tr>

				<tr>
					<td colspan="4" align="center">
					<?php echo $this->lobjform->Search;?>
						<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Clear"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'reports','controller'=>'company', 'action'=>'index'),'default',true);?>';" />
					
					</td>
				</tr>
		</table>




	</form>	
		</div>
	</fieldset> 
<form id="myForm1" name = "myform1" action="<?php echo $this->baseUrl();?>/reports/company/pdfexport" method="POST">
	
	<br/>
	 <?php $centerarray = array();  $attemptsarray=$this->attempts;  $partialreg=$this->partialreg;?>
	 <?php if (count($this->paginator)){ ?>
	<table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr>
    	<th><?php echo $this->translate("SI.No") ?></th>
		<th><?php echo $this->translate("Takaful/Company") ?></th>
		<th><?php echo $this->translate("Batch Id") ?></th> 
		<th><?php echo $this->translate("Batch ID Used") ?></th>
        <th><?php echo $this->translate("Exam Date") ?></th> 		
        <th><?php echo $this->translate("Venue") ?></th>
		<th><?php echo $this->translate("Course") ?></th>        		
	    <th><?php echo $this->translate("Session") ?></th>
		<th><?php echo $this->translate("Student Name") ?></th>
        <th><?php echo $this->translate("ICNO") ?></th>
		<th><?php echo $this->translate("Applied") ?></th>
        <th><?php echo $this->translate("Result") ?></th>
         
    </tr>
		 
        <?php $sum=0; $name="";$p=0;foreach ($this->paginator as $lobjCountry ): $p++; ?>
       
      <?php if($lobjCountry['paymentStatus'] == 2){?>
     <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next() ?>;color: #008000"> 
     <?php }
       elseif($lobjCountry['paymentStatus'] == 1){?>
     <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next() ?>;color: #1874CD"> 
     <?php }?>
      <td><?php echo $p;?></td>
      <?php if($name!=$lobjCountry['Name']){?>
       <td><?php echo $lobjCountry['Name'];?></td>
       <?php }else{?>
       		  <td><?php echo "";?></td>
       <?php }?>
       
        <?php $name=$lobjCountry['Name'];?> 
	
	 <?php  if(!in_array($lobjCountry['Name'],$centerarray))
         	  {
				$centerarray[] = $lobjCountry['Name'];		
				$centerarrays[$lobjCountry['Name']] = array();
				//print_r($this->escape($lobjCountry['Name']));
				}?>
				
		
		
    <td>
			<?php if(!in_array($lobjCountry['registrationPin'],$centerarrays[$lobjCountry['Name']])){
					$centerarrays[$lobjCountry['Name']][] = $lobjCountry['registrationPin'];
					$centerarrayss[$lobjCountry['registrationPin']][] = array();
					 print_r($this->escape($lobjCountry['registrationPin']));
			}?>
	    </td> 
<td> 
<?php 

if(!in_array($lobjCountry['totalNoofCandidates'],$centerarrayss[$lobjCountry['registrationPin']])){
					$centerarrayss[$lobjCountry['registrationPin']][] = $lobjCountry['totalNoofCandidates'];
					$centerarraysss[$lobjCountry['totalNoofCandidates']][] = array();

	if(array_key_exists($lobjCountry['registrationPin'],$partialreg)){
		$pin=$lobjCountry['registrationPin'];
	$tot=$lobjCountry['totalNoofCandidates'];
	$tots=$partialreg[$pin];
	echo $tots."/".$tot;
	// print_r($partialreg[$pin])."/".print_r($this->escape($lobjCountry['totalNoofCandidates']));
	}

}
?>
</td>
        <td>
			<?php if(!in_array($lobjCountry['DateTime'],$centerarrayss[$lobjCountry['registrationPin']])){
			       // $centerarrayss[$lobjCountry['registrationPin']][] = array();
					$centerarrayss[$lobjCountry['registrationPin']][] = $lobjCountry['DateTime'];
					$centerarraysss[$lobjCountry['DateTime']][] = array();
					
					 print_r($this->escape(date('d-m-Y',strtotime($lobjCountry['DateTime']))));
			}?>
	    </td>	
            <?php //if(!in_array($lobjCountry['ExamVenue'],$centerarraysss[$lobjCountry['DateTime']])){?>		
		<td> <?php if(!in_array($lobjCountry['ExamVenue'],$centerarrayss[$lobjCountry['registrationPin']])){ 
			
			        $centerarrayss[$lobjCountry['registrationPin']]['DateTime']=$lobjCountry['ExamVenue'];
					$centerarraysss[$lobjCountry['DateTime']][] = $lobjCountry['ExamVenue'];
					$centerarrayssss[$lobjCountry['ExamVenue']][] = array();
					
					 print_r($this->escape($lobjCountry['ExamVenue']));
			}?>
	    </td> 
		<td>
			 
			<?php if(!in_array($lobjCountry['ProgramName'],$centerarrayss[$lobjCountry['registrationPin']])){
 if(!in_array($lobjCountry['ProgramName'],$centerarraysss[$lobjCountry['DateTime']])){
			         $centerarraysss[$lobjCountry['registrationPin']]['DateTime'][]=$lobjCountry['ProgramName'];
					$centerarrayssss[$lobjCountry['ExamVenue']][] = $lobjCountry['ProgramName'];
					$centerarraysssss[$lobjCountry['ProgramName']][] = array();
					 print_r($this->escape($lobjCountry['ProgramName']));
			}}?>
	    </td> 
		 
		<td>
			<?php // if(!in_array($lobjCountry['managesessionname'],$centerarraysssss[$lobjCountry['ProgramName']])){?>
			<?php if(!in_array($lobjCountry['managesessionname'],$centerarrayss[$lobjCountry['registrationPin']])){
			         $centerarrayss[$lobjCountry['registrationPin']][]=$lobjCountry['managesessionname'];
					$centerarraysssss[$lobjCountry['ProgramName']][] = $lobjCountry['ProgramName'];
					$centerarrayssssss[$lobjCountry['managesessionname']][] = array();
					 print_r($this->escape($lobjCountry['managesessionname']));
			}?>
	    </td> 
		
		
		
	       <?php  // print_r($this->escape($lobjCountry['DateTime']));?>
		   <?php  // print_r($this->escape($lobjCountry['centername']));?>
		   <?php   //print_r($this->escape($lobjCountry['managesessionname']));?>
		 <td>  <?php   print_r($this->escape($lobjCountry['FName']));?></td>
           <td><?php   print_r($this->escape($lobjCountry['ICNO']));?></td> 
		    <td><?php   print_r($this->escape($lobjCountry['upddate']));?></td> 
		   
		   
		   <td ><?php   print_r($this->escape($lobjCountry['Result']));  ?></td> 
		   
     </tr>       
	<?php endforeach; ?>
     
	 <tr>
	  <td colspan="9" align="right"><b>TOTAL :<?php echo count($this->paginator);?> 
	  <input type="hidden" name="Takcomp" id="Takcomp" value="<?php echo $this->compflag;?>"></td>
	     <input type="hidden"  name="Companyname" value="<?php  echo $this->Company; ?>" id="Companyname"></b>
	     <input type="hidden"  name="student" value="<?php   echo $this->Student ?>" id="student">
		 <input type="hidden"  name="companypin" value="<?php  echo $this->Regpin; ?>" id="companypin">
	     <input type="hidden"  name="icno" value="<?php  echo $this->Icno; ?>" id="icno">
		 <input type="hidden"  name="course" value="<?php  echo $this->Course; ?>" id="course"></b>
	     <input type="hidden"  name="venue" value="<?php  echo $this->Venue; ?>" id="venue">
		 
	     <input type="hidden"  name="fromdate" value="<?php  echo $this->ExamFromdate; ?>" id="fromdate"></b>
	     <input type="hidden"  name="todate" value="<?php  echo $this->ExamTodate; ?>" id="todate">
	     <input type="hidden"  name="Afromdate" value="<?php  echo $this->AppliedFromdate; ?>" id="Afromdate">
		 <input type="hidden"  name="Atodate" value="<?php  echo $this->AppliedTodate; ?>" id="Atodate">
		
	    
		 	    
	  </td>
	   
       <td  colspan="3" >
	 <input name="excel" id="excel" type="submit" dojoType=dijit.form.Button style= "Width=900px" label="<?php echo $this->translate("Export To Excel"); ?>" value=<?php echo $this->translate("Excel");?> >
	 <input name="pdf" id="pdf" type="submit" dojoType=dijit.form.Button style= "Width=900px" label="<?php echo $this->translate("Print PDF"); ?>" value=<?php echo $this->translate("Print PDF");?> >
    </td></tr>
	<?php } elseif($this->find ==1)

       {  ?>
 
        <table width = '100%'> <tr><td align = 'center' ><b> <?php echo $this->translate("NO Candidates Added"); ?></b></td></tr></table>
       <?php  }?>
	 </form>
	 </table>
</div>



</br>
</body>
</html>
