<?php
/*
// Include the paypal library
include_once ('Paypal/Paypal.php');
$dataArray = $this->data;
// Create an instance of the paypal library
$myPaypal = new Paypal();

// Specify your paypal email
$myPaypal->addField('business', 'shashi_1321354655_biz@gmail.com');

		$this->lobjintialConfigmodel = new GeneralSetup_Model_DbTable_Initialconfiguration();		
		$InitialConfigDetails = $this->lobjintialConfigmodel->fnGetInitialConfigDetails(1);
// Specify the currency
$myPaypal->addField('currency_code', $InitialConfigDetails['PaypalCurrency']);

// Specify the url where paypal will send the user on success/failure
$myPaypal->addField('return', 'http://www.tbedemo.com:10081/stu-app/studentapplication/confirmpayment/insertedId/'.$this->idstudent);
$myPaypal->addField('cancel_return', 'http://www.tbedemo.com:10081/stu-app/studentapplication/confirmpayment/insertedId/'.$this->idstudent);

// Specify the url where paypal will send the IPN
$myPaypal->addField('notify_url', 'http://YOUR_HOST/payment/paypal_ipn.php');

// Specify the product information
$myPaypal->addField('item_name', 'Reg Fee');
$myPaypal->addField('amount', $dataArray['Amount']);
$myPaypal->addField('item_number', '001');

// Specify any custom value
$myPaypal->addField('custom', 'muri-khao');

// Enable test mode if needed
$myPaypal->enableTestMode();

// Let's start the train!
$myPaypal->submitPayment();

*/

?>





<?php $dataArray = $this->data;
$this->lobjintialConfigmodel = new GeneralSetup_Model_DbTable_Initialconfiguration();		
		$InitialConfigDetails = $this->lobjintialConfigmodel->fnGetInitialConfigDetails(1);

?><form action="https://www.sandbox.paypal.com/cgi-bin/webscr" name="frm" id="frm" method="post">
<input type="hidden" name="cmd" value="_xclick">
<input type="hidden" name="upload" value="1">
<input type="hidden" name="business" value="<?php echo $InitialConfigDetails['PayPalUserid'];?>">
<input type="hidden" name="item_name" value="Registration Fee">
<input type="hidden" name="amount" value="<?php echo $dataArray['Amount'];?>">
<input type="hidden" name="currency_code" value="<?php echo $InitialConfigDetails['PaypalCurrency'];?>">
<input type="hidden" name="charset" value="utf-8">
<input type="hidden" name="rm" value="2" >
<input type="hidden" name="return" id="return" value="http://www.tbedemo.com:10081/stu-app/studentapplication/confirmpayment/insertedId/<?php echo $this->idstudent;?>" />
<input type="hidden" name="cancel_return" value="http://www.tbedemo.com:10081/stu-app/studentapplication/confirmpayment/insertedId/<?php echo $this->idstudent;?>">
<input type="hidden" name="notify_url" value="http://www.tbedemo.com:10081/stu-app/studentapplication/confirmpayment/insertedId/<?php echo $this->idstudent;?>"">
<input type="hidden" name="first_name" value="<?php echo $dataArray['FName'];?>" />
<input type="hidden" name="last_name" value="<?php echo $dataArray['LName'];?>" />
<div align="center"><font color="red"><b><?php echo $this->mess; ?></b></font></div>
<fieldset>
<legend>Pay Amount</legend>
<table class="table" width="40%" align="center">
<tr>
	<td>Name</td>
	<td><?php echo $dataArray['FName'].' '.$dataArray['MName'].' '.$dataArray['LName'];?></td>
</tr>
<tr>
	<td>Amount</td>
	<td><?php echo $dataArray['Amount'];?></td>
</tr>
<tr>
	<td colspan="2" align ="right"><?php if(!$this->mess){?><input type="submit" value="Pay By Paypal" name="btn" /><?php }?>&nbsp;<input type="button" value="Back" name="btn1" onClick="window.location.href='<?php  echo $this->baseUrl();?>/stu-app/studentapplication'" /></td>
</tr>
</table>





</form> 
