<html>
	<head>
	
	</head>
	<body class="claro">
		<form action="" method="POST" dojoType="dijit.form.Form"  id="myForm"  name= "myForm">
			<script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					  return true;
                } else {
                    return false;
                }
				</script>
		<table>
				<tr>
					<td> <?php echo $this->translate("Email Address");?></td>
					<td><?php echo $this->lobjTextfilesaveform->EmailAddress ; ?></td>
					<td><?php echo $this->lobjTextfilesaveform->Save ; ?></td>
				</tr>
				<tr>
				<td colspan = "3"><?php if($this->flag == '0') echo $this->translate("This Emailid is Already Exist");
										else echo $this->translate("Thanks To Registration. IBFIM Will Contact You");?></td>
				</tr>
		</table>
		</form>
	</body>
</html>
