<head>
<script>
dojo.addOnLoad(function(){
	dijit.byId('field3').focus();	
	checkAll();
	});

function checkAll(){
 	nodes = dojo.query('[name=\"IDApplication[]\"]');
 	if(document.getElementById('IDApplication').checked == true) {		 
 		
 		dojo.forEach(nodes,
 		    function(node)
 		    {
 		        dijit.getEnclosingWidget(node).set("checked",true);
 		    }
 		);
 	}
 	else {	
 		dojo.forEach(nodes,
 			    function(node)
 			    {
 			        dijit.getEnclosingWidget(node).set("checked",false);
 			    }
 			);
 	}
 }
</script>
</head>
<body class="claro">
<form dojoType="dijit.form.Form" method="POST" >
    <script type="dojo/method" event="onSubmit">
             if (this.validate()) {
					return true;
                } else {
                    return false;
                }
			</script>
	<fieldset>
	<legend><?php echo $this->translate("PartWise").' '.$this->translate("Utility");?></legend>
                
                            <table width="100%">
                                <tr>
                                    <td><?php echo $this->translate("From Date")?></td>
                                    <td><?php echo $this->lobjPartwiseForm->Date3;?></td>
                                     <td><?php echo $this->translate("To Date")?></td>
                                    <td><?php echo $this->lobjPartwiseForm->Date4;?></td>
                                </tr>
                               
                                <tr>
                                <td align = "center" colspan = "4">

											<?php echo $this->lobjPartwiseForm->Search;?>
											<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Clear"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'general-setup','controller'=>'partwiseutility', 'action'=>'index'),'default',true);?>';" />
				                 </td>
                                </tr>
                        </table>
                   
    </fieldset> 
    <br/>
	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
	    	<tr>
	    	<tr>
    		    <th><input type="checkbox" dojoType="dijit.form.CheckBox" name="IDApplication" onClick="checkAll();" id="IDApplication">
	        	<?php echo $this->translate("Student").' '.$this->translate("Name");?></th>
	        	<th><?php echo $this->translate("ICNO");?></th>
	        	<th><?php echo $this->translate('Program Name');?></th>
	        	<th><?php echo $this->translate('Result');?></th>
	    	</tr>
	        <?php if (count($this->paginator)):  $cnnt=0?>
	        <?php foreach ($this->paginator as $lobjcourse):  $cnnt++ ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	  		 <td><input type="checkbox" dojoType="dijit.form.CheckBox" name="IDApplication[]" value="<?php echo $this->escape($lobjcourse['IDApplication']);?>" id="IDApplication<?php echo $cnnt;?>">
	        	<a href="<?php echo $this->baseUrl();?>/general-setup/partwiseutility/editstudent/id/<?php echo $this->escape($lobjcourse['IDApplication']);?>" ><?php print_r($this->escape($lobjcourse['FName']));?></a></td>
	           <td><?php echo $lobjcourse['ICNO'];?></td>
	           <td><?php echo $lobjcourse['Description'];?></td>
	           <td><?php  if($lobjcourse['pass'] == 1) echo "Pass"; else echo "Fail";?></td>
	            <?php endforeach; ?>
	            <?php endif; ?> 
			</tr>
			<td colspan="8" align="right">  
				 <input type="submit" class="NormalBtn" dojotype="dijit.form.Button" id="Approve" name="Approve" value="Approve" label="<?php echo $this->translate("Approve");?>"/>
		
		   
			<div class="pagination">
				<?php //echo $this->paginationControl($this->paginator,'Sliding','/partials/my_pagination_control.phtml'); ?>
			</div>																   
		</td>
		</table>
	</fieldset>
	 </form>	
</body>
</html>
