<fieldset>
    <legend>Takaful Operator Payment Details</legend>
                   
                            <table class="table" width="60%">
                            <?php $larresultdisplayedresults = $this->displayedresults;?>
                                <tr>
                                    <td width="40%">Takaful Operator Name</td>
                                    <td><?php echo $larresultdisplayedresults['TakafulName'];?></td>
                                 </tr>
                                 <tr>
                                    <td>Amount</td>
                                    <td><?php echo $larresultdisplayedresults['totalAmount'];?></td>
                                </tr>
                                <tr>
                                    <td>TotalNoofCandidates</td>
                                    <td><?php echo $larresultdisplayedresults['totalNoofCandidates'];?></td>
                                </tr>
                                <tr>
                                    <td>Type of Payment</td>
                                    <td><?php echo $this->lobjChangepaymentForm->ModeofPaymentmade;?></td>
                                </tr>
                               
                        </table>
                    
    </fieldset> 
    
    <fieldset>
     <legend>Changed payment Details</legend>
                    <form action="" method="POST">
    <table class="table" width="60%">
                                  <tr>
                                    <td width="40%"><?php echo $this->translate("Select Payment").' '.$this->translate("Mode");?></td>
                                    <td><?php echo $this->lobjChangepaymentForm->ModeofPayment;?></td>
                                </tr>
                                <tr>
                                <td>Amount</td>
                                <td><?php echo $this->lobjChangepaymentForm->Amount;?></td>
                                <input type="hidden" name="idbatchregistration" id="idbatchregistration" value="<?php echo $this->idbatchregistration;?>">
                                </tr>
                                <tr>
                             
                                <td colspan="2" align="right"><?php echo $this->lobjChangepaymentForm->Pay;?></td>
                                </tr>
                                
    </table>
    </form>
    
    </fieldset>
 
	