<fieldset>
    <legend><?php echo $this->translate("Company").' '.$this->translate("search");?></legend>
                    <form action="" method="POST">
                            <table width="100%">
                                <tr>
                                    <td><?php echo $this->translate("Select Payment").' '.$this->translate("Mode");?></td>
                                    <td><?php echo $this->lobjChangepaymentForm->ModeofPayment;?></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                               
                                <td align = "center" colspan = "4">

											
											<?php echo $this->lobjChangepaymentForm->Search;?>	
											
								</td>
							    
                                </tr>
                        </table>
                    </form>	
    </fieldset> 
    
    <fieldset>
    <table class="table" width="100%">
    <tr>
        <th>No of Candidates</th>
        <th>Total Amount</th>
        <th>Applied Date</th>
    </tr>
    <?php $larresult = $this->paymentdetails; 
          for($i=0;$i<count($larresult);$i++){?>
          
          <tr>
          <td><a href="<?php echo $this->baseUrl();?>/changepayment/changepaymentoption/idBatchRegistration/<?php echo $larresult[$i]['idBatchRegistration'];?>" ><?php echo $larresult[$i]['totalNoofCandidates']?></td>
          <td><?php echo $larresult[$i]['totalAmount']?></td>
          <?php $date = explode(' ',$larresult[$i]['UpdDate']);
                $applieddate = date('d-m-Y',strtotime($date[1]));?>
          <td><?php echo $applieddate;?></td>
          
          </tr>
          <?php }?>
    </table>
    </fieldset>
 
	