<html>
<head>
<script>
dojo.addOnLoad(function(){
	
	});
	function examtoDateSetting(){ 
	var RegFromDate = dijit.byId('Fromdate').value;
	var startDate = dijit.byId('Todate');
	var trdat = ""+RegFromDate;
	var d = new Date(trdat); 
	d.setDate(d.getDate());
    var date = d.getDate();
    var month = d.getMonth()+1;
    var year = d.getFullYear();
	
    if(month<10) month = "0"+month;
    if(date<10) date = "0"+date;
    var nextdate = year+'-'+month +'-'+date;
    
	startDate.constraints = dojo.mixin(startDate.constraints, {min: dojo.date.stamp.fromISOString(nextdate)}); 

	var trdat = ""+RegFromDate;
	var d = new Date(trdat); 
	d.setDate(d.getDate() + 30);
    var date = d.getDate();
    var month = d.getMonth()+1;
    var year = d.getFullYear();
	
    if(month<10) month = "0"+month;
    if(date<10) date = "0"+date;
    var nextdate = year+'-'+month +'-'+date;

	startDate.constraints = dojo.mixin(startDate.constraints, {max: dojo.date.stamp.fromISOString(nextdate)}); 
}

</script>
</head>
<body class='claro'>
<fieldset>
	<legend><?php echo $this->translate("Student").' '.$this->translate("Exam Details");?></legend>
	<div class="search" style="margin-left:20px;">
 		<form dojoType="dijit.form.Form"  id="myForm" action="" method="POST" > 
 		  <script type="dojo/method" event="onSubmit">
             if (this.validate()) {

					return true;
                } else {
                    return false;
                }
			</script>
		<table width="100%">				
				<tr>
                    <td><?php echo $this->translate("Exam").' '.$this->translate("From").' '.$this->translate("Date") ?></td>
                    <td><?php echo $this->lobjStudentexamreportform->Fromdate;?></td>
                    <td><?php echo $this->translate("Exam").' '.$this->translate("To").' '.$this->translate("Date") ?></td>
                    <td><?php echo $this->lobjStudentexamreportform->Todate;?></td>
                </tr>
				<tr>
					<td><?php echo $this->translate("Student").' '.$this->translate("Name") ?></td>
					<td><?php echo $this->lobjStudentexamreportform->Studentname;?></td>
					<td><?php echo $this->translate("IC NO") ?></td>
					<td><?php echo $this->lobjStudentexamreportform->ICNO;?></td>
				</tr>
				<tr>
					<td><?php echo $this->translate("Exam").' '.$this->translate("Center") ?></td>
					<td><?php echo $this->lobjStudentexamreportform->examcenter;?></td>
					<td></td>
					<td></td>
				</tr>
                <tr>
                 <td></td>  
                 <td></td>             
               <td ><?php echo $this->lobjStudentexamreportform->Search;?>
					<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Clear"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'reports','controller'=>'studentexamreport', 'action'=>'index'),'default',true);?>';" />
				</td>
               </tr>
		</table>
	</form>	
		</div>
	</fieldset> 
	<form id="myForm1" name = "myform1" action="<?php echo $this->baseUrl();?>/reports/studentexamreport/pdfexport" method="POST" >
	
	 <?php $centerarray = array();?>
	<table class="table" width="100%" cellpadding="0" cellspacing="1">
    <tr>
	    <th width="10%"><?php echo $this->translate("Exam Date") ?></th>		
		<th><?php echo $this->translate("Exam Center") ?></th>  
		 <th><?php echo $this->translate("Student Name") ?></th>
        <th><?php echo $this->translate("Takaful Name") ?></th> 
		 <th><?php echo $this->translate("Qualification") ?></th> 
		  <th><?php echo $this->translate("Race") ?></th> 
		   <th><?php echo $this->translate("Gender") ?></th>
		   <th><?php echo $this->translate("Age") ?></th>
		   
		   
		<th width="10%"><?php echo $this->translate("Email") ?></th> 		   
		<th><?php echo $this->translate("Program") ?></th>
        <th><?php echo $this->translate("ICNO") ?></th>
        <th><?php echo $this->translate("Result") ?></th>
		<th><?php echo $this->translate("Grade") ?></th>
        
    </tr>
	 <?php if (count($this->paginator)): ?>
        <?php count($this->paginator); foreach ($this->paginator as $lobjCountry ):  ?> 
     <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>"> 
	 <td>
	 <?php 				print_r($this->escape($lobjCountry['Date']));
				?>
	 </td>
   
     <td>
			<?php 
					 print_r($this->escape($lobjCountry['centername']));
			?>
	 </td> 
	 <td><?php   print_r($this->escape($lobjCountry['FName']));?></td> 	 
	<td>
		      <?php print_r($this->escape($lobjCountry['TakafulName']));
			?>
		
	</td>
 <td>
		      <?php print_r($this->escape($lobjCountry['Qualification']));
			?>
 </td>
 <td>
		      <?php print_r($this->escape($lobjCountry['Race']));
			?>
</td>
<td>
		      <?php  if($lobjCountry['Gender'] ==1)
			  {
   			       print_r($this->escape("Male"));
				   }else
				   {
				    print_r($this->escape("Female"));
				   }
			?>
		 </td>
		 <td>
		      <?php print_r($this->escape($lobjCountry['Age']));
			?>
</td>
		  <td>
		      <?php print_r($this->escape($lobjCountry['EmailAddress']));
			?>
		 </td>
        <td>	<?php print_r($this->escape($lobjCountry['ProgramName']));
			?>
	    </td> 
		   <td><?php   print_r($this->escape($lobjCountry['ICNO']));  ?></td> 
		   <?php if($lobjCountry['pass'] == 1){?>
		   <td><?php  echo "Pass";?></td>
          <?php }if($lobjCountry['pass'] == 2){?>
		   <td><?php  echo "Fail";?></td>			   
		   	<?php }
			if($lobjCountry['pass'] == 4){?>
		   <td><?php  echo "Absent";?></td>			   
		   	<?php }	?>	
			 <td>
			
					<?php print_r($this->escape($lobjCountry['Grade']));
			?>
	    </td> 	
	     
     </tr>       
	<?php endforeach; ?>
     <?php endif; ?> 
	 <tr>
	    <td><input type="hidden" name="Fromdate" id="Fromdate" value="<?php echo $this->fromdate;?>"><input type="hidden" name="ICNO" id="ICNO" value="<?php echo $this->icno;?>"></td>
	    <td><input type="hidden" name="Todate" id="Todate" value="<?php echo $this->todate;?>"><input type="hidden" name="Studentname" id="Studentname" value="<?php echo $this->name;?>"></td>
	    <td><input type="hidden" name="examcenter" id="examcenter" value="<?php echo $this->examcenter;?>">
	   
 <?php if (count($this->paginator)){?>      
	  <td colspan="8" align="right"><b>TOTAL :<?php echo count($this->paginator);?></b></td>
	   
       <td align="right">
	 <input name="Print1" id="Print1" type="submit" dojoType=dijit.form.Button  label="<?php echo $this->translate("Export To Excel"); ?>" value=<?php echo $this->translate("Excel");?> /></td>
	 <td> <input name="Print2" id="Print2" type="submit" dojoType=dijit.form.Button style= "Width=900px" label="<?php echo $this->translate("Print PDF "); ?>" value=<?php echo $this->translate("PDF");?>></td>
	 <?php }?>
	 </tr>
    </table>


 <div runat="server" id="divLoginvenue"  style="display:none; z-index: 153;  position: fixed; left: 20%; width: 600px; top:25% " >
    <div runat="server" id="divLoginvenue2"  style="display:none; opacity:0.5; z-index: 150; position: relative; left: 0%; height: 100%; width: 100%; top: 0%;"> </div>
					                <div id="scroll" style="height: 600px; width: 150%; overflow:auto;">
					                        <table style="height: 125px; width: 100%; background-color: #FFFFFF;" border="3" frame="box">
					                             <tr>
					                                    <td align="right">
					                                    	<div id="contentvenuediv">
															</div>					                                      
					                                   </td>
					                                </tr>
					                        </table>
    							   </div>
</form>
</body>
</html>
