<html>
<head>
<script>
dojo.addOnLoad(function(){
	alert("Exam Result Has Not Been Updated To The Main Server For The Following Details");
	});
	function examtoDateSetting(){ 
	var RegFromDate = dijit.byId('Fromdate').value;
	var startDate = dijit.byId('Todate');
	var trdat = ""+RegFromDate;
	var d = new Date(trdat); 
	d.setDate(d.getDate());
    var date = d.getDate();
    var month = d.getMonth()+1;
    var year = d.getFullYear();
	
    if(month<10) month = "0"+month;
    if(date<10) date = "0"+date;
    var nextdate = year+'-'+month +'-'+date;
    
	startDate.constraints = dojo.mixin(startDate.constraints, {min: dojo.date.stamp.fromISOString(nextdate)}); 

	var trdat = ""+RegFromDate;
	var d = new Date(trdat); 
	d.setDate(d.getDate() + 30);
    var date = d.getDate();
    var month = d.getMonth()+1;
    var year = d.getFullYear();
	
    if(month<10) month = "0"+month;
    if(date<10) date = "0"+date;
    var nextdate = year+'-'+month +'-'+date;

	startDate.constraints = dojo.mixin(startDate.constraints, {max: dojo.date.stamp.fromISOString(nextdate)}); 
}
</script>
</head>
<body class='claro'>

	<form id="myForm1" name = "myform1" action="<?php echo $this->baseUrl();?>/reports/studentexamreport/index" method="POST" >
	<script type="dojo/method" event="onSubmit">


             if (this.validate()) {

					return true;
                } else {
                    return false;
                }
			</script>
	 <?php $centerarray = array();?>
	<table class="table" width="100%" cellpadding="0" cellspacing="1">
	<tr>
	 <td> <div runat="server" id="divLoginvenue"  style="display:block; z-index: 153;  position: fixed; left: 20%; width: 600px; top:25% " >
                <div runat="server" id="divLoginvenue2"  style="display:block; opacity:0.5; z-index: 150; position: relative; left: 0%; height: 100%; width: 100%; top: 0%;"> </div>
					                <div id="scroll" style="height: 600px; width: 150%; overflow:auto;">
					                        <table style="height: 125px; width: 100%; background-color: #FFFFFF;" border="3" frame="box">
					                             <tr>
					                                    <td align="right">
					                                    	  <div id="contentvenuediv">
															  <tr>
															  <th>Exam Date</th>
															  <th>Exam Venue</th>
															  <th>Exam Session</th>
															  </tr>
															  <?php if (count($this->pushpulldata)): ?>
																	<?php count($this->pushpulldata); $centerarray = array();  foreach ($this->pushpulldata as $lobjCountry ):  ?> 
																 <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>"> 
																
																 <td>
																		   <?php 				//print_r($this->escape($lobjCountry['Date']));
																			
																 
if(!in_array($lobjCountry['Date'],$centerarray))
         	  {
				$centerarray[] = $lobjCountry['Date'];		
				$centerarrays[$lobjCountry['Date']] = array();
				print_r($this->escape($lobjCountry['Date']));
				}?></td>
																  <td>
																		   <?php 				//print_r($this->escape($lobjCountry['centername']));
																			
 if(!in_array($lobjCountry['centername'],$centerarrays[$lobjCountry['Date']])){
					$centerarrays[$lobjCountry['Date']][] = $lobjCountry['centername'];
					$centerarrayss[$lobjCountry['Date']][$lobjCountry['centername']] = array();
					 print_r($this->escape($lobjCountry['centername']));
			}?>
																 </td>
																  <td>
																		   <?php 				//print_r($this->escape($lobjCountry['managesessionname']));
																			
if(!in_array($lobjCountry['managesessionname'],$centerarrayss[$lobjCountry['Date']][$lobjCountry['centername']])){
					$centerarrayss[$lobjCountry['Date']][$lobjCountry['centername']][] = $lobjCountry['managesessionname'];
					//$centerarraysss[$lobjCountry['registrationPin']][$lobjCountry['DateTime']] = array();
print_r($this->escape($lobjCountry['managesessionname']));
								}?>								 </td>
																 </tr> 
														 						   
																	       
																	<?php endforeach; ?>
																	 <?php endif; ?> 
																	<tr>
																		 <td></td>  
																		           
																		 <td align="center"><?php echo $this->lobjStudentexamreportform->Submit;?>
																		 <?php echo $this->lobjStudentexamreportform->No;?></td>

																		
															        </tr>
															</div>	
                                                        </td>
					                                </tr>
					                        </table>
    							   </div>
	</tr>							   
	
	  
	 <tr>
	    <td><input type="hidden" name="Fromdate" id="Fromdate" value="<?php echo $this->Examfromdate;?>"></td>
	    <td><input type="hidden" name="Todate" id="Todate" value="<?php echo $this->Examtodate;?>"></td>
		<td><input type="hidden" name="Studentname" id="Studentname" value="<?php echo $this->Studentname;?>"></td>
	    <td><input type="hidden" name="ICNO" id="ICNO" value="<?php echo $this->Icno;?>"></td>
	    <td><input type="hidden" name="examcenter" id="examcenter" value="<?php echo $this->center;?>"></td>
 
	 </tr>
    </table>
    
</form>
</body>
</html>
