<html>
     <head>
     <script>

     dojo.addOnLoad(function(){
 		
    	 rowids = 1;
    	 statarray  = new Array();
    	<?php if(count($this->gradesetdetails)) {?>
    	rowids=<?php echo count($this->gradesetdetails);?>+1;
    			<?php } ?>
    			
    			
    	<?php foreach($this->gradesetdetails as $companydir){ ?>
    	           
    	        
    				
    				var a = "<?php echo  $companydir['Gradename'];?>";
    				statarray.push(a);
    				
    				
    				<?php } ?>
    	
    	});


     
     function fnGetValidategrade(gradval)
     {
    	 gradname=dijit.byId("gradename");
 		if( gradval!='' )
		{


			var xhrArgs1 = {
					url: "<?php echo $this->baseUrl();?>"+"/examination/grade/newvalidategrade/gradname/"+gradname+"/gradval/"+gradval,
					handleAs:'text',
					load:function(data){ 
						if(data)
						{
							
						}
							
					}
			   }
			dojo.xhrGet(xhrArgs1);
			
			gradval2=dijit.byId("Marksto");
	
			if(parseInt(gradval)>parseInt(gradval2))
			{
				dijit.byId("Marksto").setValue('');
			}

		}
		
     }


  
     function fnGetValidategrade2(gradval)
     {
    	 gradname=dijit.byId("gradename");
 		if( gradval!='' )
		{


			var xhrArgs1 = {
					url: "<?php echo $this->baseUrl();?>"+"/examination/grade/newvalidategrade/gradname/"+gradname+"/gradval/"+gradval,
					handleAs:'text',
					load:function(data){ 
						if(data)
						{
							
						}
							
					}
			   }
			dojo.xhrGet(xhrArgs1);
			gradval1=dijit.byId("Marksfrom");
			//alert(gradval1);


		if(parseInt(gradval)<parseInt(gradval1))
		{
			dijit.byId("Marksfrom").setValue('');
		}

		}
		
     }





    // var statarray = new Array();
     id = 1;
     sumno = 0;
     sumTot = 0;
     function fninsertgrade() {	
     	
     	var StudentIdHTML   =  dijit.byId("gradename").value;
     	var gradename = document.getElementById("gradename").value;
     	var Marksfrom  	= document.getElementById('Marksfrom').value;
     	var Marksto  		=  document.getElementById('Marksto').value;
  

     
     
     	
  	
     		statarray.push(StudentIdHTML);
     		if(arrHasDupes(statarray))
     		{
     			statarray = statarray.unique();
     			alert("Duplicate Grade Name");
     		}
     		else
     		{	

     			var x=document.getElementById('contentBody').insertRow(5);
     			var m=x.insertCell(0);
     			var n=x.insertCell(1);
     			var u=x.insertCell(2);
     			var v=x.insertCell(3);
     			var y=x.insertCell(4);
     			var z=x.insertCell(5);
     			m.innerHTML="<input type='hidden'   name='gradename[]' id='gradename' value='"+StudentIdHTML+"'>"+gradename;
     			n.innerHTML="<input type='hidden'   name='Marksfrom[]' id='Marksfrom' value='"+Marksfrom+"'>"+Marksfrom;
     			u.innerHTML="<input type='hidden' name='Marksto[]'  id='Marksto' value='"+Marksto+"'>"+Marksto;
     			v.innerHTML="<img src='<?php echo $this->baseUrl()?>/images/delete.png' onClick='removeFormField(this,\"#row"+id+"\"\,\"" +StudentIdHTML+ "\"\);   return false;'  border=0 width='16' height='16'>";
     			
     		}		
     	
     }
     

     function arrHasDupes( A ) {                          // finds any duplicate array elements using the fewest possible comparison
 		var i, j, n;
 		n=A.length;                                                     // to ensure the fewest possible comparisons
 		for (i=0; i<n; i++) {                        // outer loop uses each item i at 0 through n
 			for (j=i+1; j<n; j++) {              // inner loop only compares items j at i+1 to n
 				if (A[i]==A[j]) return true;
 			}
 		}
 		return false;
 	}
 	Array.prototype.unique = function () {
 	    var r = new Array();
 	    o:for(var i = 0, n = this.length; i < n; i++) {
 	        for(var x = 0, y = r.length; x < y; x++) {
 	                if(r[x]==this[i]) {
 	                	continue o;
 	                }                
 	        }
 	        r[r.length] = this[i];
 	    }
 	    return r;
 	}


 	function removeFormField(currents,id,StudentIdHTML) {
 		currents.parentNode.parentNode.parentNode.removeChild(currents.parentNode.parentNode);	
 		for(var i=0; i<statarray.length; i++) {
 	        if(statarray[i] == StudentIdHTML) {
 	        	statarray.splice(i, 1);
 	            break;
 	        }
 		}	
 		
 	}


 	
     
     </script>
     </head>
        <body>  
           <fieldset>
             <legend><?php echo "Grade Set Details";?></legend>
	            <Form dojoType="dijit.form.Form" id="myForm" action="" method="POST"  name= "myForm" >
	                 <script type="dojo/method" event="onSubmit">
                       if (this.validate()) 
                        {
					     return true;
                        } 
                          else 
                        {
                         return false;
                        }
                       </script> 
	                 <table id="contentBody" class="table" width="100%">
		                             <tr>
                            <th colspan = "6"><?php echo $this->translate('Grade Set Details')?></th>
                           </tr>
                           
                            <tr>
			               <td><?php echo $this->translate("Grade Set Name");?><span class="reqMark">*</span></td>
			               <td><?php echo $this->lobjGroupform->gradesetname;?></td>
			                           <td><?php echo $this->translate("Grade Set Id");?><span class="reqMark">*</span></td>
			               <td><?php echo $this->lobjGroupform->gradedescription;?></td>
			                <td ><?php echo $this->translate("Effective Date");?><span class="reqMark">*</span></td>
			               <td ><?php echo $this->lobjGroupform->Effectidate;?></td>
		                   </tr>	
		                   
		                    
		                   
		               
		                   
		                    <tr>
		                    <td><?php echo $this->translate("Grade Name");?><span class="reqMark">*</span></td>
			               <td><?php echo $this->lobjGroupform->gradename;?></td>
			               <td><?php echo $this->translate("From Percentage");?><span class="reqMark">*</span></td>
			               <td><?php echo $this->lobjGroupform->Marksfrom;?></td>
			               <td><?php echo $this->translate("To Percentage");?><span class="reqMark">*</span></td>
			               <td><?php echo $this->lobjGroupform->Marksto;?> &nbsp;&nbsp;&nbsp; <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo "Add";?>" onclick="fninsertgrade();" /></td>
		                   </tr>
		                    <tr>
		                    <th colspan=""><?php echo $this->translate("Grade Name");?></th>
			               <th colspan=""><?php echo $this->translate("From Percentage");?></th>
			               <th ><?php echo $this->translate("To Percentage");?></th>
			               <th colspan="4"><th>
			                  </tr>
		                   
		                     
		                  	<?php $i=0; for($linti = 0;$linti<count($this->gradesetdetails);$linti++){ ?>
		                      <tr>
		                      <td ><?php echo $this->gradesetdetails[$linti]['Gradename'];?></td>
		                      <td ><?php echo $this->gradesetdetails[$linti]['Percentagefrom'];?></td>
		                      <td ><?php echo $this->gradesetdetails[$linti]['Percentageto'];?>
		                      
		                         <input type="hidden"  name ="gradename[]"  id="<?php echo  $this->gradesetdetails[$linti]['Gradename'];?>" value = "<?php echo $this->gradesetdetails[$linti]['Gradename'];?>" />
							       <input type="hidden"  name ="Marksfrom[]"  id="<?php echo $this->gradesetdetails[$linti]['Percentagefrom'];?>" value = "<?php echo $this->gradesetdetails[$linti]['Percentagefrom'];?>" />
							       <input type="hidden"  name ="Marksto[]"  id="<?php echo$this->gradesetdetails[$linti]['Percentageto'];?>" value = "<?php echo $this->gradesetdetails[$linti]['Percentageto'];?>" />
		                      
		                      </td>
		                      
		                      <td ><a href='#' onClick="removeFormField(this,'<?php echo $i;?>','<?php echo $this->gradesetdetails[$linti]['Gradename'];?>')"><img src='<?php echo $this->baseUrl();?>/images/delete.png'  border=0 width='16' height='16'></a></td>
		                     </tr>
		                     <?php $i++;}?>
		                     <tr>  <td>Active</td> <td  colspan="5" align="left"><?php echo $this->lobjGroupform->Active;?>  </td><tr>
		                   <tr>			    		                   
		                   <td  colspan="6" align="right"><?php echo $this->lobjGroupform->Save;?> 
		                     <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo "Back";?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'examination','controller'=>'grademaster', 'action'=>'index'),'default',true);?>';" /><td>
  		                   </tr>            
		               </table>
                   </Form>
	         </fieldset>
       </<body>
</html>
