<html>
<head>
<script>
dojo.addOnLoad(function()
		       {
	              dijit.byId('field2').focus();	
	           }
	          );
</script>
</head>
<body class="claro">
	<fieldset>
	<legend><?php echo "GradeName";?></legend>
        <form action="<?php echo $this->baseUrl();?>/examination/grade/index/search/1" method="POST">
            <table width="100%">
                <tr>
                   <td><?php echo "Grade Name";?></td>
                   <td align = "justify"><?php echo $this->lobjform->field2;?></td>  
                                
                </tr> 
               
                 <tr>
                 <td></td>               
               <td ><?php echo $this->lobjform->Search;?>
					<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo "Add"; ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'examination','controller'=>'grademaster', 'action'=>'add'),'default',true);?>';" />	
					<?php echo $this->lobjform->Clear;?>
					</td>
               </tr>
            </table>
          </form>	               	
    </fieldset>
    <br>
    <fieldset>
    <table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr>
        <th><?php echo $this->translate("Grade Set Name") ?></th>
        <th><?php echo $this->translate("Effective Date") ?></th>
         <th><?php echo $this->translate("Status") ?></th>
        
              
    </tr>
        <?php if (count($this->paginator)): $j=0; $readarray=$this->redgardes;?>
        <?php foreach ($this->paginator as $lobjCountry ): ?>
    <tr>
    <?php $idgrade=$lobjCountry['idgrademaster']; if($readarray[$idgrade]==2){?>
    <tr style="background-color:red">
    <?php }else {?>
    <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
    <?php }?> 
      <td><a href="<?php echo $this->url(array('module'=>'examination','controller'=>'grademaster','action'=>'edit','id'=>$lobjCountry['Idgradeset']),'default',true);?>" ><?php print_r($this->escape($lobjCountry['Gradesetname']));?></a></td> 
  
             <td><?php print_r($this->escape($lobjCountry['effectivdate']));?></td> 
                <?php if($lobjCountry['Active']==1){?> 
                 <td>Active</td>
                 <?php }else {?>
                  <td>InActive</td>
                       <?php }?>
                          
     <?php $j++; endforeach; ?>
     <?php endif; ?>
                
    </tr>
    <tr>
	    <td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   	</tr>
</table>
</fieldset>     
</body>
</html>























