<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="<?php echo $this->rtl;?>">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
<script type="text/javascript " src="<?php  echo $this->baseUrl();?>/ckeditor/ckeditor.js"></script>
<script src="<?php  echo $this->baseUrl();?>/ckeditor/_samples/sample.js" type="text/javascript"></script>
<link href="<?php  echo $this->baseUrl();?>/ckeditor/_samples/sample.css" rel="stylesheet" type="text/css" />   
<?php include("ckeditor/ckeditor.php");?>
<script type="text/javascript">
dojo.addOnLoad(function(){		
	var ci = dojo.byId('content_iframe');
	dojo.style(ci,"height","100px");

	var cis = dojo.byId('contents_iframe');
	dojo.style(cis,"height","100px");

	
});

</script>
</head>
<body  class = "claro"> 

<fieldset>
    <legend><?php echo $this->translate->_("Add Question");?></legend>
        <div class="register">
            <div class="profile_tab">
                <form action="" method="POST"  name= "myform"  dojoType="dijit.form.Form"  enctype="multipart/form-data">
                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
				var conte = dijit.byId('contents').attr('value');
		 	    dijit.byId("MalayQuestion").set('value',conte);

				var engcontent = dijit.byId('content').attr('value');
		 	    dijit.byId("Questions").set('value',engcontent);



					return true;
                } else {
                    return false;
                }
			
		</script>	
                    <table class="table" width="100%">
                       
                        <?php echo $this->lobjUploadfilesForm->UpdDate;?>
                        <?php echo $this->lobjUploadfilesForm->UpdUser;?><?php echo $this->lobjUploadfilesForm->Questionid;?>
                        <tr>
                           <th colspan="4"><?php echo $this->translate("Question and Answers");?></th>
                           
                        </tr>
                        <tr>
                           <td colspan="4">    
                     			<table width="100%">
                     			<tr>
							    	Questions
									 <td><?php 
										$CKEditor = new CKEditor();
										$config = array();
							  			$CKEditor->editor("Questions");?>
									</td>
								</tr>
							    </table> 
							</td>
                        </tr> 
                        <tr>
                         	<td><?php echo $this->translate->_("Answers 1");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjUploadfilesForm->Answers1;?><?php echo $this->lobjUploadfilesForm->Hiddenidanswer1;?></td>
                            <td><?php echo $this->translate->_("Answers 2");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjUploadfilesForm->Answers2;?><?php echo $this->lobjUploadfilesForm->Hiddenidanswer2;?></td>
                      	</tr>
                      	<tr>
                         	<td><?php echo $this->translate->_("Answers 3");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjUploadfilesForm->Answers3;?><?php echo $this->lobjUploadfilesForm->Hiddenidanswer3;?></td>
                            <td><?php echo $this->translate->_("Answers 4");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjUploadfilesForm->Answers4;?><?php echo $this->lobjUploadfilesForm->Hiddenidanswer4;?></td>
                      	</tr>
                      	<tr>
                            <th colspan = "4"><?php echo $this->translate("Malay Question and Answers");?></th>
                        </tr>
                        <tr>
                           <td colspan="4">   
                               <table width="100%">
							    	<tr>	
							                                
								Malay Questions
								 <td><?php 
									$CKEditor = new CKEditor();
									$config = array();
							  		$CKEditor->editor("MalayQuestion");?>
								</td>
									</tr>
							    </table> 
							</td>
                          </tr> 
                        <tr>
                         	<td><?php echo $this->translate->_("Answers 1");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjUploadfilesForm->MalayAnswers1;?><?php echo $this->lobjUploadfilesForm->Hiddenidanswer1;?></td>
                            <td><?php echo $this->translate->_("Answers 2");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjUploadfilesForm->MalayAnswers2;?><?php echo $this->lobjUploadfilesForm->Hiddenidanswer2;?></td>
                      	</tr>
                      	<tr>
                         	<td><?php echo $this->translate->_("Answers 3");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjUploadfilesForm->MalayAnswers3;?><?php echo $this->lobjUploadfilesForm->Hiddenidanswer3;?></td>
                            <td><?php echo $this->translate->_("Answers 4");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjUploadfilesForm->MalayAnswers4;?><?php echo $this->lobjUploadfilesForm->Hiddenidanswer4;?></td>
                      	</tr>
                      	
                      	 <tr>
                            <th colspan = "4"><?php echo $this->translate("Question Details");?></th>
                        </tr>
                         <tr>
                             <td><?php echo $this->translate->_("Answer").' '.$this->translate->_('Style');?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjUploadfilesForm->AnswerStyle;?></td>
                            <td><?php echo $this->translate->_("Question Type");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjUploadfilesForm->Section;?></td>
                      	</tr>
                      	
                      <tr>
                       		
                            <td><?php echo $this->translate->_("Chapter");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjUploadfilesForm->QuestionNumber;?></td>
                             <td><?php echo $this->translate->_("CorrectAnswer");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjUploadfilesForm->CorrectAnswer;?></td>
                           
                      	</tr>
                      	
                     
                       <tr>
                       <td><?php echo $this->translate->_("Question").' '.$this->translate->_('Group');?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjUploadfilesForm->QuestionGroup;?></td>
                            <td><?php echo $this->translate->_("Question Level");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjUploadfilesForm->QuestionLevel;?></td>
                            
                      	</tr>
                      	
                     <tr>
                         <td><?php echo $this->translate->_("Review");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjUploadfilesForm->reviewchk;?></td>
                            <td></td>
                             <td></td>
                     </tr>
                      	
                      	
                    	<td colspan="4" align = "right">
                    		<?php //foreach($this->roles as $resultItem):?>
								     <?php //if($resultItem['functionCode']=='CRMTS' && $resultItem['operationCode']=='SAVE'){?>
			                            <?php echo $this->lobjUploadfilesForm->Save;?>
									 <?php //}?>
	                        <?php //endforeach;?>
                           		 <?php //echo $this->lobjCoursemasterForm->Close;?>	
                             	<input type="button" name="Close" value="Close" id="Close" onclick="window.location.href='<?php echo $this->url(array('module'=>'examination','controller'=>'questionmaster', 'action'=>'search'),'default',true);?>';" dojoType="dijit.form.Button"  label="Close"  class="buttonStyle">     
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</fieldset>
</body>
</html>
