<form  method="POST" dojoType="dijit.form.Form"  id="Search"  name= "Search">
 <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					  return true;
                } else {
                    return false;
                }
				</script>
<fieldset>
	<legend><?php echo "Enter authentication password to view this menu";?></legend>
       
      <table>
      			<tr>
                   <td colspan="3"><?php  echo "Password";?></td>
                   <td ><?php echo $this->form->passwd;?></td> 
                   <td></td>
                   <td></td> 
                </tr> 
                <tr>
                	<td colspan="3"></td>
	                <td>
	                  <input name="Submitpw" id="Submit" type="Submit"  class="NormalBtn" dojoType=dijit.form.Button label = <?php echo $this->translate("Submit");?> value=<?php echo $this->translate("Submit");?>>
					</td>
					
					
               </tr>
       </table>
       </fieldset>
</form>  

