<?php ?>
<script type="text/javascript">

dojo.addOnLoad(function(){
   
});
	function fngetchapterlist(group){
		var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/examination/questionmaster/fngetchapters/group/"+group,
				handleAs:'json',
				load:function(data){
					//alert(data[0].name);
					//alert(data[0].name);
					//AutoFillNextEditableDropDown("field15",[{"name":"Select","key":"0"}]);
					AutoFillNextEditableDropDown("field15",data);

					
					
				}
			 }
		dojo.xhrGet(xhrArgs);
	}
	
	function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
		dijit.byId(EditableDropDownId).setValue("");
		var ddwidget = dijit.byId(EditableDropDownId);
		ddwidget.setAttribute('disabled', false);
		var options = {
					label:"name",
					identifier:"key",
					items:JSONText
				  };
		ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
	}

	function fnselectgroup(){
		var group=dijit.byId('field8').value;
		if(group==0 || group==""){
			dijit.byId('field8').set('value',"");
			//dijit.byId('Questiongroup').setAttrib('required',"true");
			dijit.byId('field8').focus();	
			
		}
	}

</script>
<fieldset>
<legend><?php echo $this->translate->_("Questions Master");?></legend>
<!--  Search Forms -->
<div class="search" style="margin-left:20px;">
<form action="<?php echo $this->baseUrl();?>/examination/questionmaster/search/search/1" method="POST" name="" >
	
<table width="100%">
	<tr>
     	<td class="label"><?php echo $this->translate('Question');?></td>
     	<td><?php echo $this->form->field3;?></td>
     	<td class="label"><?php echo $this->translate('Question Status');?></td>
		<td ><?php echo $this->form->Questionstatus;?></td> 
    </tr>
    <tr>
  	    
		<td class="label"><?php echo $this->translate('Question Group');?></td>
     	<td><?php echo $this->form->field8;?></td>    	
		<td class="label"><?php echo $this->translate('Question Chapter');?></td>
		<td ><?php echo $this->form->field15;?></td>  
    </tr>
    
    <tr>
    	<td colspan="4" align="center">
	    <?php //foreach($this->roles as $resultItem):?>
		    <?php //if($resultItem['functionCode']=='CRMTS' && $resultItem['operationCode']=='SRCH'){?>
		    	<?php echo $this->form->Search;?>
			<?php  //}?>
		    
			<?php //if($resultItem['functionCode']=='CRMTS' && $resultItem['operationCode']=='ADD'){?>
				
				<input name="submit" type="button" class="NormalBtn" label="Import" value="Add" dojoType="dijit.form.Button" onclick="javascript:window.location.href='<?php echo $this->baseUrl(); ?>/examination/questionmaster/newfiles/id/1'">
			<?php //}?>
			<?php //if($resultItem['functionCode']=='CRMTS' && $resultItem['operationCode']=='ADD'){?>
				
				<input name="submit" type="button" class="NormalBtn" label="Add" value="single" dojoType="dijit.form.Button" onclick="javascript:window.location.href='<?php echo $this->baseUrl(); ?>/examination/questionmaster/addquestion'">
			<?php //}?>
		    
			<?php //if($resultItem['functionCode']=='CRMTS' && $resultItem['operationCode']=='CLR'){?>
		       <input name="Clear" type="submit" class="NormalBtn"  dojoType="dijit.form.Button" label="Clear"  value="Clear" >
			<?php //}?>
	    <?php //endforeach;?>
                                    
        </td>
	</tr>
</table>
</form>	
</div>
</fieldset> 



<?php if(count($this->paginator)>0){?>
<fieldset>
<table id="hor-minimalist-b" width="100%"  class="table" cellpadding="5" cellspacing="1">
	 <tr>
        <td colspan="5" align="right"><div class="pagination"><div class="pagination"><?php  echo $this->paginationControl($this->lobjpaginator,'Sliding','/partials/my_pagination_control.phtml'); ?></div>
        </td>
    </tr>
    <tr>
        <th width="65%"> <?php echo $this->translate('Question');?> </th>
        <th width="20%"> <?php echo $this->translate('Answers');?> </th>
             <th width="5%"> <?php echo $this->translate('Status');?> </th>
               <th width="10%"> <?php echo $this->translate('Group');?> </th>
                <th width="10%"> <?php echo $this->translate('Chapter');?> </th>
    </tr>
   
        <?php $i=0; $cort=$this->correct; $cnt=1;
        //echo count($this->paginator);
         foreach ($this->paginator as $larrcoursemaster): ?>
        
        
    <tr>
     <td><a href="<?php echo $this->baseUrl();?>/examination/questionmaster/editquestion/Questionid/<?php echo $this->escape($larrcoursemaster['idquestions']);?>" ><?php echo $larrcoursemaster['Question'];?>
   			</a>
   		</td>
    	<td>
    	<?php  
    	$ret=$this->escape($larrcoursemaster[0]);	
    	$arrcellphone = explode("#^",$larrcoursemaster['answers']);
    	$q=1;
    	for($i=0;$i<sizeof($arrcellphone);$i++) 
    	{ 
    		/*echo "'$ret'";
    		echo "'$arrcellphone[$i]'";
    		echo strcmp(trim($ret),trim($arrcellphone[$i]));echo "<br/>";*/
    		if(strcmp(trim($ret),trim($arrcellphone[$i]))==0)   
    			echo "<b>".$q.')'.$this->escape($arrcellphone[$i])."</b>"."<br/>";	  		
    	else 
        echo $q.')'.$this->escape($arrcellphone[$i])."<br/>";	
    	$q++;}?></td>
    		<td><?php if($larrcoursemaster['Active']==1) { echo $this->translate('Active');?><?php } if($larrcoursemaster['Active']==0){?><?php echo $this->translate('Inactive');}if($larrcoursemaster['Active']==2){?><?php echo $this->translate('Review');}?></td>
    		<td><?php echo $this->escape($larrcoursemaster['groupdescription']);?></td>
    		<td><?php echo $this->escape($larrcoursemaster['QuestionNumber']);?></td>
    	
    	<?php $i++; $cnt++; endforeach; ?>
    </tr>
    <tr>
        <td colspan="5" align="right"><div class="pagination"><div class="pagination"><?php  echo $this->paginationControl($this->lobjpaginator,'Sliding','/partials/my_pagination_control.phtml'); ?></div>
        </td>
    </tr>
</table>
</fieldset> 
 <?php }else if(isset($this->total) && $this->total<=0){?>
 	<p style="text-align:center;"><b>No Results Found for your Search Criteria.</b></p>
 <?php }?>
  
 
 