
<head>
<script>

</script>
</head>
<form dojoType="dijit.form.Form"  id="initconfigForm" name="form1" method="post" action="">
<script type="dojo/method" event="onSubmit">
             if (this.validate()) {
					return true;
                } else {
                    return false;
                }
			</script>
<fieldset>
<legend><?php echo $this->translate->_("Student ICNO Update");?></legend>
	    	<table    width="100%">	    		
      			<tr>
        			<td class="label"><?php echo $this->translate->_("ICNO")?></td>
        			<td><?php echo $this->lobjstudentupdateform->ICNO1?></td>		 
        				        	
      			</tr>		   
		      	<tr>
	               <td align = "center" colspan = "4">
						<?php echo $this->lobjstudentupdateform->Search;?>
						<?php echo $this->lobjstudentupdateform->Clear;?>
				   </td>
				</tr>      	
	        </table>
</fieldset>
<fieldset>
  	<table class="table" width="100%" cellpadding="5" cellspacing="1">
    		<tr>
				<th><?php echo $this->translate->_("Student Name");?></th>		
				<th><?php echo $this->translate->_("IC number");?></th>
				<th><?php echo $this->translate->_("Program");?></th>
				<th><?php echo $this->translate->_("Venue");?></th>
				<th><?php echo $this->translate->_("Exam Session");?></th>
				<th><?php echo $this->translate->_("Exam Date");?></th>						
    		</tr>
		<?php  if ($this->display == 1):  ?>  	
    	<?php  if (count($this->paginator)):  $cnnt = 0; ?>    	
    	<tbody>       	            
            <?php   foreach ($this->paginator as $lobjcategory ): $cnnt++ ?>
            <tr> 
          		<td><a href="<?php  echo $this->url(array('module'=>'registrations','controller'=>'studentupdate', 'action'=>'updateicno' , 'idapp'=>$lobjcategory['IDApplication']),'default',true);?>"><?php  echo $lobjcategory['FName'];?></a></td>
          		<td><?php  echo $lobjcategory['ICNO'];?></td>
          		<td><?php  echo $lobjcategory['ProgramName'];?></td>
          		<td><?php  echo $lobjcategory['centername'];?></td>
		        <td><?php  echo $lobjcategory['managesessionname'];?></td>
          		<td><?php echo $this->escape($lobjcategory['Examdate'].'-'.$lobjcategory['Exammonth'].'-'.$lobjcategory['Years'])?></td>
     		</tr>
     		<?php  endforeach; ?>
     		 <?php  endif; ?>
			  
		   <tr>
           <td colspan="7" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
		<?php  endif; ?>								
       </tr> 
     	</tbody>
      </table>
      </form>
   </fieldset>
   </html>
