
<head>
<script type="text/javascript">
function fnchangedate(icno)
{
var idapp = document.getElementById('idapp').value;
var xhrArgs = {
							url: "<?php echo $this->baseUrl();?>"+"/registrations/studentupdate/fncheckduplicateicno/icnumber/"+icno+"/Idappn/"+idapp,
							handleAs:'json',
							load:function(data)
							{ 
							 var icnonew = icno;
								if(data==0)
								{
									  alert("This ICNO Already Exist Please Change IC Number");
									  document.getElementById('ICNO').value='';	
									  //dijit.byId("Compname").focus();	
								 }
								else
								{
								 
								  if(isNaN(icnonew))
						          {
								      alert("Invalid ICNO It Should Be Only Digits");
									  document.getElementById('ICNO').value='';	
										 
								  }
								  else
								  {
								      if(icnonew.length != 12)
										 {
											 alert("This is not a 12digits ICNO");
											 document.getElementById('ICNO').value='';	
										 }
										 else
										 {
											  yr = icnonew.substring(0,2);
											  month = icnonew.substring(2,4);
											  day = icnonew.substring(4,6);
											  //alert(yr);
											  //alert(month);
											  //alert(day);
											  dob = "19"+yr+'-'+month+'-'+day;
											  //alert(dob);
											  dijit.byId('DateOfBirth').setValue(dob);
										 }
								  }
								}							
								//AutoFillNextEditableDropDown("Venues",data);
							}
			  }
dojo.xhrGet(xhrArgs);
}
function AutoFillNextEditableDropDown(EditableDropDownId,JSONText)
{
				dijit.byId(EditableDropDownId).setValue("");
				var ddwidget = dijit.byId(EditableDropDownId);
				ddwidget.setAttribute('disabled', false);
				var options = {
							label:"name",
							identifier:"key",
							items:JSONText
						  };
				ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}
</script>
</head>
<form dojoType="dijit.form.Form"  id="initconfigForm" name="form1" method="post" action="">
 
<fieldset>
  	<table class="table" width="100%" cellpadding="5" cellspacing="1">
    		<tr>
				<td><?php echo $this->translate->_("Student Name");?></td>
                <td><?php  echo $this->lobjstudentupdateform->FName;?></td>
                <td><?php  echo $this->lobjstudentupdateform->idapp;?></td>			
			</tr>
            <tr>			
				<td><?php echo $this->translate->_("IC number");?></td>
				<td><?php  echo $this->lobjstudentupdateform->ICNO;?></td>
			</tr>
			<tr>			
				<td><?php echo $this->translate->_("Date of Birth");?></td>
				<td><?php  echo $this->lobjstudentupdateform->DateOfBirth;?></td>
			</tr>
            <tr>			
				<td><?php echo $this->translate->_("Program");?></td>
				<td><?php  echo $this->lobjstudentupdateform->ProgramName;?></td>
			</tr>
            <tr>			
				<td><?php echo $this->translate->_("Venue");?></td>
				<td><?php  echo $this->lobjstudentupdateform->centername;?></td>
			</tr>
            <tr>			
				<td><?php echo $this->translate->_("Exam Session");?></td>
				<td><?php  echo $this->lobjstudentupdateform->managesessionname;?></td>
			</tr>
            <tr >	
                <td></td>			
				<td align="right"><?php echo $this->lobjstudentupdateform->Save;?>
				<?php echo $this->lobjstudentupdateform->Back;?></td>				
    		</tr>
      </table>
      </form>
   </fieldset>
   </html>
