
<link rel="stylesheet" type="text/css" href="<?php  echo $this->baseUrl();?>/js/dojo/dijit/themes/claro/claro.css" />
<link rel="stylesheet" type="text/css" href="<?php  echo $this->baseUrl();?>/js/dojo/dojo/resources/dojo.css" />
<table class="table" width="100%" border="0" align="center">
	<tr>
		<th><?php echo $this->translate("Examination Details");?></th>
	</tr>
	<tr>
		<td align="left">Date Selected:<?php echo date ( "d-m-Y", strtotime ( $this->regdate ) );  ;?></td>
	</tr>

</table>
<table class="table" width="100%" border="0" align="center">
	<tr>
		<th><?php echo $this->translate("Num");?></th>
		<th><?php echo $this->translate("SESSION/TIME");?></th>
		<th><?php echo $this->translate("Exam Venue");?></th>
		<th></th>

	</tr>
	<tr>
	<?php if(count($this->sessresult)):?>
	<?php $cnt1=1;foreach ($this->sessresult as $larrsession ):?>
	<tr>
		<td align="left"><?php  if ($larrsession['rem']>0){ echo  $cnt1;?></td>
		<td align="left"><?php echo $larrsession['managesessionname']?>(<?php echo $this->daystu;?>)<br />
		<?php echo $larrsession['starttime'].'--'.$larrsession['endtime'];?></td>
		 <td align="left"><?php  echo $larrsession['centername'];?><br><span style="color:Green;" ><?php echo $this->translate("Available Seat(s) :");?><?php  echo $larrsession['rem'];?></span></td>
                 
		<td align="left"><input type="radio"
		<?php  if($cnt1 == 1) echo "checked"; ?>
			dojoType="dijit.form.RadioButton" name="idsession"
			value="<?php echo $larrsession['idsession'];?>"
			id="idsession<?php echo $cnt1;?>"></td>
			<?php  $cnt1++; } ?>
			<?php  endforeach; ?>
			<?php endif; ?>
		</td>
	</tr>

	<tr>
		<td colspan="3" id="saveddd">
		<center>
		<?php echo $this->lobjnewscreenForm->Yes;?> <input type="button"
			class="NormalBtn" dojotype="dijit.form.Button" value="No"
			label="<?php echo $this->translate("No"); ?>" onClick="Closefn()" />
		</center>
		</td>
	</tr>
</table>
