<head>
<script>
dojo.addOnLoad(function(){
	dijit.byId('field3').focus();	
	});
</script>
</head>
	<fieldset>
		<legend><?php echo $this->translate("Student Application").' '.$this->translate("Search");?></legend>
         <form action="<?php echo $this->baseUrl();?>/stu-app/studentapplication/index/search/1" method="POST">
            <table width="100%">
                <tr>
                   <td><?php echo $this->translate("First Name");?></td>
                   <td ><?php echo $this->lobsearchform->field2;?></td>
                   <td><?php echo $this->translate("Middle Name");?></td>
                   <td ><?php echo $this->lobsearchform->field4;?></td>
                </tr>
                <tr>
                     <td><?php echo $this->translate("Last Name");?></td>
                     <td ><?php echo $this->lobsearchform->field3;?></td>
                     <td ><?php echo $this->translate("Active");?></td>
                    <td ><?php echo $this->lobsearchform->field7;?></td>
                </tr>
               
                <tr>
	               <td align = "center" colspan = "4">
						<?php echo $this->lobsearchform->Search;?>
						<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Add"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'stu-app','controller'=>'studentapplication', 'action'=>'newstudentapplication'),'default',true);?>';" />	
						<?php echo $this->lobsearchform->Clear;?>
				   </td>
                </tr>
            </table>
        </form>	
    </fieldset> 
    <br/>
	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
		
	    	<tr>
	        	<th><?php echo $this->translate("Student First Name");?></th>
	        	<th><?php echo $this->translate("Middle Name");?></th>
	        	<th><?php echo $this->translate("Last Name");?></th>
	       	   
	    	</tr>
	        <?php if (count($this->paginator)): ?>
	        <?php foreach ($this->paginator as $lobjuser ): ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	<td><a href="<?php echo $this->url(array('module'=>'stu-app','controller'=>'studentapplication', 'action'=>'studentapplicationedit' , 'id'=>$lobjuser['IDApplication']),'default',true);?>" ><?php echo $this->escape($lobjuser['FName']);?></a></td>
	    	    <td><?php echo $this->escape($lobjuser['MName']);?></td>
	    		<td><?php echo $this->escape($lobjuser['LName']);?></td>
	            <?php endforeach; ?>
	            <?php endif; ?> 
			</tr>
	    	<tr>
	        	<td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>
		</table>
	</fieldset>
