<head>

<script type="text/javascript">
	dojo.addOnLoad(function() {


		dijit.byId('Program').set('value','');
		dijit.byId('Program').set('placeHolder','Select Program');
		dijit.byId('VenueTime').set('value','');
		dijit.byId('VenueTime').set('placeHolder','Select VenueTime');
		dijit.byId('Venue').set('value','');
		dijit.byId('Venue').set('placeHolder','Select Venue');
		dijit.byId('idschedulermaster').set('value','');
		dijit.byId('idschedulermaster').set('placeHolder','Select Scheduler Master');
		dijit.byId('IdBatch').set('value','');
		dijit.byId('IdBatch').set('placeHolder','Select Batch');
		dijit.byId('DateTime').set('value','');
		dijit.byId('DateTime').set('placeHolder','Date and Time');
		dijit.byId('Takafuloperator').set('value','');
		dijit.byId('Takafuloperator').set('placeHolder','Takaful Operator');
	});

	
function fnGetPermCountryStateList(idCountry){ 
	if(idCountry != "" || idCountry != undefined)
		{ 
			var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/general-setup/user/getcountrystateslist/idCountry/"+idCountry,
					handleAs:'json',
					load:function(data){ 
						AutoFillNextEditableDropDown("PermState",data); 
					}
			   }
			dojo.xhrGet(xhrArgs); 
		} 
	} 

function fnGetCorrsCountryStateList(idCountry){ 
	if(idCountry != "" || idCountry != undefined)
		{ 
			var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/general-setup/user/getcountrystateslist/idCountry/"+idCountry,
					handleAs:'json',
					load:function(data){ 
						AutoFillNextEditableDropDown("CorrsState",data); 
					}
			   }
			dojo.xhrGet(xhrArgs); 
		} 
	} 
		
	function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
		dijit.byId(EditableDropDownId).setValue("");
		var ddwidget = dijit.byId(EditableDropDownId);
		ddwidget.setAttribute('disabled', false);
    	var options = {
					label:"name",
					identifier:"key",
					items:JSONText
				  };
    	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
	}
	
function fngetschedulerdetails(idbatch)
	{
		var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/stu-app/registration/fngetschedulerdetails/idbatch/"+idbatch,
				handleAs:'json',
				load:function(data){ 
					//alert(data);
					AutoFillNextEditableDropDown("idschedulermaster",data); 
				}
		   }
		dojo.xhrGet(xhrArgs);
	}	
function fngetbatchdetails(idprog)
{

	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/stu-app/registration/fngetprogramamount/idprog/"+idprog,
			handleAs:'json',
			load:function(data){ 
				//alert(data);
				dijit.byId("Amount").setValue(data);
			}
	   }
	dojo.xhrGet(xhrArgs);
	
	
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/stu-app/registration/fngetbatch/idprog/"+idprog,
			handleAs:'json',
			load:function(data){ 
				//alert(data);
				AutoFillNextEditableDropDown("IdBatch",data); 
			}
	   }
	dojo.xhrGet(xhrArgs);
}

function fngetvenuedetails(idscheduler)
{
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/stu-app/registration/fngetvenue/idscheduler/"+idscheduler,
			handleAs:'json',
			load:function(data){ 
				//alert(data);
				AutoFillNextEditableDropDown("Venue",data); 
			}
	   }
	dojo.xhrGet(xhrArgs);
}
function fngetvenuetime()
{
	var idvenue = (dijit.byId("Venue"));
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/stu-app/registration/fngetvenuetime/idvenue/"+idvenue,
			handleAs:'json',
			load:function(data){ 
				//alert(data);
				AutoFillNextEditableDropDown("VenueTime",data); 
			}
	   }
	dojo.xhrGet(xhrArgs);
}
function fngettimefordate()
{
	var date = dijit.byId("VenueTime");
	var idvenue = (dijit.byId("Venue"));

	//alert(date);
	//alert(idvenue);
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/stu-app/registration/fngetdatetime/date/"+date+"/idvenue/"+idvenue,
			handleAs:'json',
			load:function(data){ 
				alert(data);
				AutoFillNextEditableDropDown("DateTime",data); 
			}
	   }
	dojo.xhrGet(xhrArgs);
	
}
function fngettimefordatevalidation(idvenuetime)
{
///alert(idvenuetime);
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/stu-app/registration/fngetdatetimevalue/idvenuetime/"+idvenuetime,
			handleAs:'text',
			load:function(data){ 
				//alert(data);
				content = data.split("*****");
				if(content[1] == 1)
				{
					alert(content[0]);
					dijit.byId('DateTime').set('value','');
				}
				//AutoFillNextEditableDropDown("DateTime",data); 
			}
	   }
	dojo.xhrGet(xhrArgs);
	
}
function fnValidateTakafulOperator(idtakaful)
{
//alert(idtakaful);
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/stu-app/registration/fngettakafulid/idtakaful/"+idtakaful,
			handleAs:'text',
			load:function(data){ 
				//alert(data);
				content = data.split("*****");
				if(content[1] == 1)
				{
					alert(content[0]);
					dijit.byId('Takafuloperator').set('value','');
				}
				//AutoFillNextEditableDropDown("DateTime",data); 
			}
	   }
	dojo.xhrGet(xhrArgs);
	
}


</script> 
</head>
 <fieldset>
    <legend><?php echo $this->translate("Student Application");?></legend>
                <Form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">
                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					  return true;
                } else {
                    return false;
                }
				</script>
                    <table class="table" width="100%" >
                        <tr>
                            <th colspan = "4"><?php echo $this->translate("Personal Details");?></th>
                        </tr>
                        <tr>
                            <td ><?php echo $this->translate("First Name");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjstudentForm->FName;?><?php echo $this->lobjstudentForm->UpdDate;?><?php echo $this->lobjstudentForm->UpdUser;?></td>
                            <td><?php echo $this->translate("Middle").' '.$this->translate("Name");?></td>
                            <td ><?php echo $this->lobjstudentForm->MName;?></td>
                        </tr>
                        <tr>
                               <td><?php echo $this->translate("Last").' '.$this->translate("Name");?><span class="reqMark">*</span></td>
                            <td  ><?php echo $this->lobjstudentForm->LName;?></td>
                            <td ><?php echo $this->translate("Date of Birth");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjstudentForm->DateOfBirth;?></td>
                        </tr>
                        <tr>
                 			<td ><?php echo $this->translate("IC Number");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjstudentForm->ICNO;?></td>
                            <td ><?php echo $this->translate("Email");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjstudentForm->EmailAddress;?></td>
                        </tr>
                        <tr>
                         <td><?php echo $this->translate("Permanent Address");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjstudentForm->PermAddressDetails;?></td>
                            <td><?php echo $this->translate("City");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjstudentForm->PermCity;?></td>
                        </tr>
                        <tr>
                         <td><?php echo $this->translate("Takaful").' '.$this->translate("operator");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjstudentForm->Takafuloperator;?></td>
                            <td></td>
                            <td></td>
                        </tr>
                        
                         <tr>
                            <th colspan = "4"><?php echo $this->translate("Batch Selection");?></th>
                        </tr>
                          <tr> 
                             <td ><?php echo $this->translate("Program");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjstudentForm->Program;?></td>
                            <td ><?php echo $this->translate("$this->Program").' '.$this->translate("Amount");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjstudentForm->Amount;?></td>
                            
                        </tr>
                         <tr> 
                          <td ><?php echo $this->translate("Batch");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjstudentForm->IdBatch;?></td>
                            <td ><?php echo $this->translate("Scheduler");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjstudentForm->idschedulermaster;?></td>                          
                        </tr>
                         <tr> 
                          <td ><?php echo $this->translate("Venue");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjstudentForm->Venue;?></td>
                            <td ><?php echo $this->translate("Date");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjstudentForm->VenueTime;?></td>
                           </tr>
                           <tr>
                           
                             <td ><?php echo $this->translate("Time");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjstudentForm->DateTime;?></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                            <td></td>        
                            <td align = "right"><?php echo $this->lobjstudentForm->Save;?>
							<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='http://www.tbedemo.com:10081/index/login';" />	
                            </td> 
                        </tr>
              </table>
            
            </Form>

</fieldset>
