<head>

<script type="text/javascript">
	dojo.addOnLoad(function() {


	});

	
function fnGetPermCountryStateList(idCountry){ 
	if(idCountry != "" || idCountry != undefined)
		{ 
			var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/general-setup/user/getcountrystateslist/idCountry/"+idCountry,
					handleAs:'json',
					load:function(data){ 
						AutoFillNextEditableDropDown("PermState",data); 
					}
			   }
			dojo.xhrGet(xhrArgs); 
		} 
	} 

function fnGetCorrsCountryStateList(idCountry){ 
	if(idCountry != "" || idCountry != undefined)
		{ 
			var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/general-setup/user/getcountrystateslist/idCountry/"+idCountry,
					handleAs:'json',
					load:function(data){ 
						AutoFillNextEditableDropDown("CorrsState",data); 
					}
			   }
			dojo.xhrGet(xhrArgs); 
		} 
	} 
		
	function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
		dijit.byId(EditableDropDownId).setValue("");
		var ddwidget = dijit.byId(EditableDropDownId);
		ddwidget.setAttribute('disabled', false);
    	var options = {
					label:"name",
					identifier:"key",
					items:JSONText
				  };
    	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
	}

	function fnGetStaffDetails(idStaff){ 
		if(idStaff != "" || idStaff != undefined)
		{ 
			var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/general-setup/user/getstafflist/idStaff/"+idStaff,
					handleAs:'json',
					load:function(data){ 
						dijit.byId('fName').set('value',data['FirstName']);
						dijit.byId('mName').set('value',data['ThirdName']);
						dijit.byId('lName').set('value',data['SecondName']);
						dijit.byId('userArabicName').set('value',data['ArabicName']);
					}
			   }
			dojo.xhrGet(xhrArgs); 
		} 
	} 

function fngetvenuedetails(idbatch)
{
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/stu-app/studentapplication/fngetvenue/idbatch/"+idbatch,
			handleAs:'json',
			load:function(data){ 
				//alert(data);
				AutoFillNextEditableDropDown("Venue",data); 
			}
	   }
	dojo.xhrGet(xhrArgs);
}
function fngetvenuetime(idvenue)
{
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/stu-app/studentapplication/fngetvenuetime/idvenue/"+idvenue,
			handleAs:'json',
			load:function(data){ 
				//alert(data);
				AutoFillNextEditableDropDown("VenueTime",data); 
			}
	   }
	dojo.xhrGet(xhrArgs);
}
</script> 
</head>
 <fieldset>
    <legend><?php echo $this->translate("Student Application");?></legend>
                <Form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">
                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>
                    <table class="table" width="100%" >
                        <tr>
                            <th colspan = "4"><?php echo $this->translate("Personal Details");?></th>
                        </tr>
                        <tr><?php echo $this->lobjstudentForm->IDApplication;?>
                            <td ><?php echo $this->translate("First Name");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjstudentForm->FName;?><?php echo $this->lobjstudentForm->UpdDate;?><?php echo $this->lobjstudentForm->UpdUser;?></td>
                            <td><?php echo $this->translate("Middle").' '.$this->translate("Name");?><span class="reqMark">*</span></td>
                            <td  ><?php echo $this->lobjstudentForm->MName;?></td>
                        </tr>
                        <tr>
                               <td><?php echo $this->translate("Last").' '.$this->translate("Name");?><span class="reqMark">*</span></td>
                            <td  ><?php echo $this->lobjstudentForm->LName;?></td>
                            <td ><?php echo $this->translate("Date of Birth");?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjstudentForm->DateOfBirth;?></td>
                        </tr>
                        <tr>
                            <td ><?php echo $this->translate("Gender");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjstudentForm->Gender;?></td>
                            <td><?php echo $this->translate("Marital").' '.$this->translate("Status");?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjstudentForm->MaritalStatus;?></td>
                        </tr>
                        <tr>
                            <td ><?php echo $this->translate("Nationality");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjstudentForm->Nationality;?></td>
                        </tr>
                        <tr>
                         <td><?php echo $this->translate("Permanent Address");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjstudentForm->PermAddressDetails;?></td>
                            <td><?php echo $this->translate("City");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjstudentForm->PermCity;?></td>
                           
                        </tr>
                   
                        <tr> 
                            <td ><?php echo $this->translate("Country");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjstudentForm->PermCountry;?></td>
                            <td ><?php echo $this->translate("State");?><span class="reqMark">*</span></td>
                             <td ><?php echo $this->lobjstudentForm->PermState;?>
                        </tr>
                        <tr> 
                            <td ><?php echo $this->translate("Zip");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjstudentForm->PermZip;?></td>
                            <td ><?php echo $this->translate("Email");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjstudentForm->EmailAddress;?></td>
                        </tr>
                         <tr> 
                            <td ><?php echo $this->translate("Cell No.");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjstudentForm->CellPhone;?></td>
                            
                        </tr>
                        <tr>
                            <th colspan = "4"><?php echo $this->translate("Correspondance Details");?></th>
                        </tr>
                        <tr> 
                            <td ><?php echo $this->translate("Address");?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjstudentForm->CorrsAddressDetails;?></td>
                            <td ><?php echo $this->translate("City");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjstudentForm->CorrsCity;?></td>
                            
                        </tr>
                        <tr> 
                            <td ><?php echo $this->translate("Country");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjstudentForm->CorrsCountry;?></td>
                            <td ><?php echo $this->translate("State");?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjstudentForm->CorrsState;?></td>
                        </tr>
                        <tr> 
                            <td ><?php echo $this->translate("Zip");?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjstudentForm->CorrsZip;?></td>
                            <td ><?php echo $this->translate("Home Phone");?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjstudentForm->HomePhone;?></td>
                        </tr>
                        <tr> 
                            
                            <td ><?php echo $this->translate("Fax");?></td>
                            <td ><?php echo $this->lobjstudentForm->Fax;?></td>
                        </tr>
                         <tr>
                            <th colspan = "4"><?php echo $this->translate("Batch Selection");?></th>
                        </tr>
                          <tr> 
                            <td ><?php echo $this->translate("Batch");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjstudentForm->IdBatch;?><?php echo $this->lobjstudentForm->workPhone;?></td>
                            <td ><?php echo $this->translate("Venue");?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjstudentForm->Venue;?><?php echo $this->lobjstudentForm->homePhone;?></td>
                        </tr>
                         <tr> 
                            <td ><?php echo $this->translate("Timings");?><span class="reqMark"></span></td>
                            <td ><?php echo $this->lobjstudentForm->VenueTime;?><?php echo $this->lobjstudentForm->workPhone;?></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                            <td></td>        
                            <td align = "right"><?php echo $this->lobjstudentForm->Save;?>
							<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'stu-app','controller'=>'studentapplication', 'action'=>'index'),'default',true);?>';" />	
                            </td> 
                        </tr>
              </table>
            
            </Form>

</fieldset>
