
<head>
<script>
   dojo.addOnLoad(function(){
	 //dijit.byId('field15').focus();	 
   });
   function fncancelpaymentindudual(ICNO){ 

		 if(ICNO != "")
			{   
			    var xhrArgs = {
						url: "<?php echo $this->baseUrl();?>"+"/finance/commonpaymentcancel/fncancelpaymentindudual/ICNO/"+ICNO,
						handleAs:'text',
						load:function(data){					
							document.getElementById('divLogin').style.display = 'block';						
							document.getElementById('divLogin2').style.display = 'block';
							document.getElementById('contentdiv').innerHTML = data;						
						}
				   }
				dojo.xhrGet(xhrArgs); 
			} 
	}
	function fncancelindudualpayment(IDAppn,ICNO,Edate){ 

		 if(ICNO != "")
			{   
			    var xhrArgs = {
						url: "<?php echo $this->baseUrl();?>"+"/finance/commonpaymentcancel/fncancelindudualpayment/ICNO/"+ICNO+"/IDapplication/"+IDAppn+"/examdate/"+Edate,
						handleAs:'text',
						load:function(data){					
							document.getElementById('divLogin').style.display = 'block';						
							document.getElementById('divLogin2').style.display = 'block';
							document.getElementById('contentdiv').innerHTML = data;						
						}
				   }
				dojo.xhrGet(xhrArgs); 
			} 
	}

function fncancelpayment(idBatchRegistration,companyflag){ 
	 if(idBatchRegistration != "")	{   
		    var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/finance/commonpaymentcancel/fncancelpayment/idBatchRegistration/"+idBatchRegistration+"/companyflag/"+companyflag,
					handleAs:'text',
					load:function(data){					
						document.getElementById('divLogin').style.display = 'block';						
						document.getElementById('divLogin2').style.display = 'block';
						document.getElementById('contentdiv').innerHTML = data;						
					}
			   }
			dojo.xhrGet(xhrArgs); 
		} 
}
 function examtoDateSetting(){ 
	var RegFromDate = dijit.byId('Fromdate').value;
	var startDate = dijit.byId('Todate');
	var trdat = ""+RegFromDate;
	var d = new Date(trdat); 
	d.setDate(d.getDate());
    var date = d.getDate();
    var month = d.getMonth()+1;
    var year = d.getFullYear();
	
    if(month<10) month = "0"+month;
    if(date<10) date = "0"+date;
    var nextdate = year+'-'+month +'-'+date;
    
	startDate.constraints = dojo.mixin(startDate.constraints, {min: dojo.date.stamp.fromISOString(nextdate)}); 

	var trdat = ""+RegFromDate;
	var d = new Date(trdat); 
	d.setDate(d.getDate() + 30);
    var date = d.getDate();
    var month = d.getMonth()+1;
    var year = d.getFullYear();
	
    if(month<10) month = "0"+month;
    if(date<10) date = "0"+date;
    var nextdate = year+'-'+month +'-'+date;
	startDate.constraints = dojo.mixin(startDate.constraints, {max: dojo.date.stamp.fromISOString(nextdate)}); 
}

function Closefn(){
	document.getElementById('contentdiv').innerHTML = "";
	document.getElementById('divLogin').style.display = 'none';
	document.getElementById('divLogin2').style.display = 'none';
} 
</script>
</head>
<form dojoType="dijit.form.Form"  id="initconfigForm" name="form1" method="post" action="<?php echo $this->baseUrl();?>/finance/commonpaymentcancel/index/search/1">
<script type="dojo/method" event="onSubmit">
                if (this.validate()){
					return true;
                } else {
                    return false;
                }
			</script>
   <fieldset>
           <legend><?php echo $this->translate->_("Individual Payment Cancel");?></legend>
	    	<table    width="100%">	    		
      		 <tr>
         			<td class="label"><?php echo $this->translate->_("Exam From Date")?></td>
        			<td><?php echo $this->lobjcancelform->Fromdate?></td>	
        			<td class="label"><?php echo $this->translate->_("Exam To Date")?></td>
        			<td><?php echo $this->lobjcancelform->Todate?></td>	        			  	       	
      		</tr>  
            <tr>
         			<td class="label"><?php echo $this->translate->_("ICNO")?></td>
        			<td><?php echo $this->lobjcancelform->ICNO?></td>	
        			<td class="label"><?php echo $this->translate->_("Student Name")?></td>
        			<td><?php echo $this->lobjcancelform->Student?></td>	        			  	       	
      		</tr> 			
              <tr>
	               <td align = "center" colspan = "4">
						<?php echo $this->lobjcancelform->Search;?>
						<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Clear"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'finance','controller'=>'commonpaymentcancel', 'action'=>'index'),'default',true);?>';" />
				   </td>
				</tr>      	
	        </table>		

    </fieldset>
</form>
<br>
<?php  if (count($this->countcomp)):  $cnnt = 0; ?>
<fieldset>
  <script>
  	function fnvalidate(idchk,chk)
  	{ 	  	
  		 	  		
  			var str1="IDApplication";
  	  		var str2=chk;
  	  		var actived=document.getElementById(str1.concat(str2)).checked;	
  	  		if(actived==true)
  	  		{
		  	  var payment3=dojo.byId('payment3'+chk);
		  	  dojo.style(payment3,'display','block');
		  	  var payment4=dojo.byId('payment4'+chk);
			  dojo.style(payment4,'display','block');	
  	  		}
  	  		else
  	  		{	
  	  	  	 var payment3=dojo.byId('payment3'+chk);
	  		 dojo.style(payment3,'display','none');
	  	  	 var payment4=dojo.byId('payment4'+chk);
	  		 dojo.style(payment4,'display','none');		
  	  		} 
  	  }
  	</script>
 <form method="post" action="">      
    <?php if($this->lvartype == 3) {?>     
     <table class="table" width="100%"  cellpadding="5" cellspacing="1">
    		<tr>
    		    <th width="15%" ><?php echo $this->translate->_("Registration Id");?></th>
    		    <th ><?php  echo $this->translate->_("Student Name"); ?></th>
    		    <th ><?php  echo $this->translate->_("IC NO"); ?></th>
				<th width="12%"><?php echo $this->translate->_("Amount"); ?></th>					
				<th width="12%"><?php echo $this->translate->_("Mode Of Payment"); ?></th>													
    		</tr>
    	<tbody>       	            
         <?php   foreach ($this->countcomp as $lobjcategory ): $cnnt++ ?>
	         <tr> 
		        <td ><a href="javascript:fncancelpaymentindudual('<?php echo $lobjcategory['ICNO']?>');" ><?php echo $lobjcategory['Regid'];?></a>       </td>
		        <td ><?php  echo $lobjcategory['CompanyName'];?></td>
		        <td ><?php  echo $lobjcategory['ICNO'];?></td>
		        <td ><?php  echo $lobjcategory['Amount'];?></td>            	
		        <td ><?php if($lobjcategory['ModeofPayment']==1) echo "Direct Debit FPX";else if($lobjcategory['ModeofPayment']==2) echo "Credit Card"; else if($lobjcategory['ModeofPayment']==5) echo "Money Order"; else if($lobjcategory['ModeofPayment']==6) echo "Postal Order"; else if($lobjcategory['ModeofPayment']==7) echo "Credit/Bank to IBFIM account";?>
		          		</td>            	    
	        </tr>
     	<?php  endforeach; ?>     		
     </tbody>		     	
   </table>
 <?php } else {?>
 
 
 
 
  	<table class="table" width="100%"  cellpadding="5" cellspacing="1">
    		<tr>
    		    <th  ><?php echo $this->translate->_("Student Name");?></th>
				<th ><?php echo $this->translate->_("ICNO"); ?></th>	
				<th ><?php  echo $this->translate->_("Examdate"); ?></th>
				<th ><?php echo $this->translate->_("Course"); ?></th>
				<th ><?php echo $this->translate->_("Venue"); ?></th>					
                <th  ><?php echo $this->translate->_("Session");?></th>
				<th ><?php echo $this->translate->_("Mode of Payment"); ?></th>	
								
    		</tr>
    		<tbody>       	            
            <?php   foreach ($this->countcomp as $lobjcategory ): $cnnt++ ?>
         	 <tr>          
            	<td><a href="javascript:fncancelindudualpayment('<?php echo $lobjcategory['IDApplication']?>','<?php echo $lobjcategory['ICNO']?>','<?php echo $lobjcategory['Examdate']?>');" ><?php echo $lobjcategory['StudentName'];?></a>
          		</td>
          	 	
          		 <td><?php  echo $lobjcategory['ICNO'];?></td>
          		 <td><?php  echo $lobjcategory['Examdate'];?></td>
				 <td><?php  echo $lobjcategory['ProgramName'];?></td>
				 <td><?php  echo $lobjcategory['centername'];?></td> 
          		 <td><?php  echo $lobjcategory['managesessionname'];?></td>
				 <?php if($lobjcategory['ModeofPayment'] == 1) {?>
				 <td><?php echo $this->translate->_("FPX"); ?></th>	
				 <?php }  elseif($lobjcategory['ModeofPayment'] == 5) {?>
				 <td><?php echo $this->translate->_("Money Order"); ?></th>	
				 <?php } elseif($lobjcategory['ModeofPayment'] == 6) {?>
				 <td><?php echo $this->translate->_("Postal Order"); ?></th>	
				 <?php } elseif($lobjcategory['ModeofPayment'] == 7) {?>
				 <td><?php echo $this->translate->_("Credit to ibfim"); ?></th>	
				 <?php } elseif($lobjcategory['ModeofPayment'] == 10) {?>
				 <td><?php echo $this->translate->_("MIGS"); ?></th>	
				 <?php }  elseif($lobjcategory['ModeofPayment'] == 4) {?>
				 <td><?php echo $this->translate->_("Cheque"); ?></th>	
				 <?php }  elseif($lobjcategory['ModeofPayment'] == 2) {?>
				 <td><?php echo $this->translate->_("Credit Card"); ?></th>	
				 <?php } ?>
				 
          	  </tr>     		 
          	  <?php  endforeach; ?>
     		</tbody>	    	
   </table>
   <?php }?>
  </form>
  
</fieldset> 
 <form method="post" action="">
 <input type="hidden" name="lvartype" id="lvartype" value="<?php echo  $this->lvartype;?>">
 <?php  endif; ?>
 <div runat="server" id="divLogin"  style="display:none; z-index: 153; position: fixed; left: 23%; width: 750px; top:5%">
 <div runat="server" id="divLogin2"  style="display:none; opacity:1.0; z-index: 150; position: relative; left: 0%; height: 100%; width: 100%; top: 0%;"> </div>
					                <div id="scroll" style="height: 600px; width: 100%; overflow:auto;">
					                <asp:Panel runat="server" ID="popupLogin">
					                    <asp:Panel runat="server" ID="popupContent1">
					                        <table style="height: 125px; width: 100%; background-color: #FFFFFF;" border="3" frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">
					                                    	<div id="contentdiv"></div>					                                      
					                                   </td>
					                                </tr>
					                                <tr>
					                                    <td colspan="2" align="left">
					                                        <asp:Label ID="lblmandatory" runat="server" Text="* Mandatory Information Required"
					                                            class="LeftLabelStyle" Width="350px" />
					                                    </td>
					                                </tr>
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
    </div>
 </div>
 </form>
</html>
