<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html dir="ltr">
    
    <head>
       
        <script type="text/javascript">
        var cntrlchart;
            dojo.require("dojox.charting.Chart2D");
            dojo.require("dojox.charting.plot2d.Pie");
            dojo.require("dojox.charting.action2d.Highlight");
            dojo.require("dojox.charting.action2d.MoveSlice");
            dojo.require("dojox.charting.action2d.Tooltip");
            dojo.require("dojox.charting.themes.MiamiNice");
            dojo.require("dojox.charting.widget.Legend");    

            
        	dojo.addOnLoad(function() {
           var batch = <?php echo $this->Batch;?>;
          cntrlchart = <?php echo $this->Chart;?>;
        	});
        //////////////////////////////////////////////////////////////////
           
               
        	function piechart() {
            	
                var dc = dojox.charting;
               var chartTwo = new dc.Chart2D("chartTwo");
                chartTwo.setTheme(dc.themes.MiamiNice).addPlot("default", {
                    type: "Pie",
                    font: "normal normal 11pt Tahoma",
                    fontColor: "black",
                    labelOffset: -50,
                    radius: 100
                }).addSeries("Series A", [{
                    y: <?php echo $this->totalattended;?>,
                   // text: "Total No of Student",
                    stroke: "black",
                    tooltip: "Student Attended"
                },
                {
                    y: <?php echo $this->absent;?>,
                    //text: "Absent",
                    stroke: "black",
                    tooltip: "Total Student Absent"
                }]);
                var anim_a = new dc.action2d.MoveSlice(chartTwo, "default");
                var anim_b = new dc.action2d.Highlight(chartTwo, "default");
                var anim_c = new dc.action2d.Tooltip(chartTwo, "default");
                chartTwo.render();
                var legendTwo = new dojox.charting.widget.Legend({
                    chart: chartTwo
                },
                "legendTwo");
            }
            
            /////////////////////////////////////////////////////
            
            makeCharts = function() {
              
            	gchart = cntrlchart;
                var chart1 = new dojox.charting.Chart2D("simplechart");
                if(gchart == 0)
                {
		                chart1.addPlot("default", {
		                    type: "Columns",
		           			markers: true,
		            		gap: 5
		                   });
                }
                else if(gchart ==1)
                {
               	      chart1.addPlot("default", {
	                    type: "Markers"
	                   });
                }
                else if(gchart ==4)
                {
                	piechart();
                	document.getElementById("simplechart").style.display = 'none';
                }
                chart1.addAxis("x", {
                    labels: [{value: 1, text: "Total Student"}, {value: 2, text: "Attended"},
                            {value: 3, text: "Absent"}]
                    });

                chart1.addAxis("y", {
                    vertical: true
                });
                var totalnoofstudents = <?php echo $this->totalnoofstudents;?>;
                var totalattended = <?php echo $this->totalattended;?>;
                var absent = <?php echo $this->absent;?>;
                chart1.addSeries("Series 1", [totalnoofstudents,totalattended,absent,0]);
                chart1.render();
            };
            dojo.addOnLoad(makeCharts);

        </script>

    </head>
    
    <body class="claro">
       <Form action="" method="POST">
         
        <table border="0" width="60%">
       
            <tr>
            
              <td valign="top">
              
 <table border="1" width="100%">
                   <tr>
                       <th></th>
                       <th>Total Student</th>
                       <th>Attended</th>
                       <th>Absent</th>
                   </tr>
                   <tr>
                        <td>Number</td>
                       <td><?php echo $this->totalnoofstudents?></td>
                        <td><?php echo $this->totalattended?></td>
                        <td><?php echo $this->absent?></td>
                   </tr>
                   <tr>
                        <td>Percentage</td>
                       <td><?php echo '-'?></td>
                        <td><?php echo $this->attendpercentage.'%'?></td>
                        <td><?php echo $this->absentpercentage.'%'?></td>
                   </tr>
               </table>
           
              
              
              
              
              </td>
              <td align="left">
              <div id="simplechart" style="width: 350px; height: 150px; margin: 5px auto 0px auto;" align="Center"></div>
                  <div id="chartTwo" style="width: 300px; height: 300px;">
            </div>
			        <div id="legendTwo">
			        </div></td>
            </tr>
            <tr>
              
              
            </tr>
             	
        </table>
        
        <!-- NOTE: the following script tag is not intended for usage in real
        world!! it is part of the CodeGlass and you should just remove it when
        you use the code -->
        <script type="text/javascript">
            dojo.addOnLoad(function() {
                if (document.pub) {
                    document.pub();
                }
            });

            
        </script>
        </Form>
    </body>

</html>
