<html xmlns="http://www.w3.org/1999/xhtml" dir="<?php echo $this->rtl;?>">
<head>
<style type="text/css">
table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}
</style>
</head>
<fieldset>
 <legend>Slow Query Report</legend>

</fieldset> 
<br>
<!--  Grid Display -->       
<fieldset>
<table class="gridtable" border='1' width="100%"   cellpadding="5" cellspacing="1">
    <tr id="meth">
    	<th><?php echo $this->translate->_("SI.NO")?></th>
        <th><?php echo $this->translate->_("Start_Time")?></th>
        <th><?php echo $this->translate->_("User_Host")?></th>
        <th><?php echo $this->translate->_("Query_Time(Se)")?></th>
        <th><?php echo $this->translate->_("Lock_Time")?></th>
        <th><?php echo $this->translate->_("Rows_Fetched")?></th>
        <th><?php echo $this->translate->_("Rows_Examined")?></th>
        <th><?php echo $this->translate->_("Slow_Query")?></th>
   </tr>
   <?php if (count($this->slowlog)): $i=0;?>
   
   <?php foreach ($this->slowlog as $slowlog ): ?>
    <tr>
    	<td><?php echo ++$i;?></td>
    	<td><?php echo $slowlog['start_time'];?></td>
    	<td><?php echo $slowlog['user_host'];?></td>
    	<td><?php echo $slowlog['query_time'];?></td>
    	<td><?php echo $slowlog['lock_time'];?></td>
    	<td><?php echo $slowlog['rows_sent'];?></td>
    	<td><?php echo $slowlog['rows_examined'];?></td>
    	<td><?php echo $slowlog['sql_text'];?></td>
    	
    	
   <?php endforeach; ?>
    <?php endif; ?>
    </tr>
</table>
</fieldset>      
</html>   