<head>
<!-- ///////////////////////// DOJO ////////////////////////// -->
	<script type="text/javascript">

	dojo.addOnLoad(function() {		
		
		dijit.byId('Batchpin').set('value','');
		dijit.byId('Batchpin').set('placeHolder','Select');
		dijit.byId('idPrograms').set('value','');
		dijit.byId('idPrograms').set('placeHolder','Select');		
		dijit.byId('Program').set('value','');
		dijit.byId('Program').set('placeHolder','Select');
		dijit.byId('Studentstatus').set('value','');
		dijit.byId('Studentstatus').set('placeHolder','Select');
    });
    
	var rowid=1;
	var registerstatus=0;
	var coutstu=0;
	var studentArray  = new Array();
	var lookupArray  = new Array();
	var Trow="<tr><th><input type='checkbox' id='selectall' value='selectall' dojoType='dijit.form.CheckBox' onclick='selectallfunction()' name='selectall'/><?php echo $this->translate("Select").' '.$this->translate("Student")?></th><th><?php echo $this->translate("Student").' '.$this->translate("Name")?></th><th><?php echo $this->translate("ICNO")?></th><th><?php echo $this->translate("Registration").' '.$this->translate("Id")?></th><th><?php echo $this->translate("Program").' '.$this->translate("Applied")?></th><th><?php echo $this->translate("Date Of Exam")?></th><th><?php echo $this->translate("Status")?></th></tr>";
	var rowidt=1;
	
	//var Trow2="<tr><th><?php echo $this->translate("Student").' '.$this->translate("Name")?></th><th><?php echo $this->translate("Program").' '.$this->translate("Applied")?></th><th><?php echo $this->translate("Delete")?></th></tr>";

	function resetgrids(){
		var Trow="<tr><th><input type='checkbox' id='selectall' value='selectall' dojoType='dijit.form.CheckBox' onclick='selectallfunction()' name='selectall'/><?php echo $this->translate("Select").' '.$this->translate("Student")?></th><th><?php echo $this->translate("Student").' '.$this->translate("Name")?></th><th><?php echo $this->translate("ICNO")?></th><th><?php echo $this->translate("Registration").' '.$this->translate("Id")?></th><th><?php echo $this->translate("Program").' '.$this->translate("Applied")?></th><th><?php echo $this->translate("Date Of Exam")?></th><th><?php echo $this->translate("Status")?></th></tr>";

		document.getElementById('ite').innerHTML=Trow;
		dijit.byId('Program').set('value','');
		dijit.byId('Batchpin').set('value','');
	}

function Closefnnew()
{	 
   	 window.location = "<?php echo $this->baseUrl();?>/registrations/registrationfailedtakaful/";        
}       


function Closefn()
{	 
   	 window.location = "<?php echo $this->baseUrl();?>/registrations/registrationfailedtakaful/";        
}

function selectallfunction(cout) {

	cout=document.getElementById('countdata').value-1;
	
	var selectall = document.getElementById('selectall').checked;
	if(selectall)
	{
		for(i=1;i<=cout;i++) {		
			  document.getElementById("student"+i).checked=true;		
	    }
	} else {
		for(i=1;i<=cout;i++) {
			 document.getElementById("student"+i).checked=false;			
	    }
	}
}

function Searchcandidates(){

	regpin=dijit.byId("Batchpin").getValue();
	status=dijit.byId("Studentstatus").getValue();
	idprogram=dijit.byId("Program").getValue();
	
	idcompany=document.getElementById('idcompany').value;
	
	if(regpin=="" || status=="" || idprogram==""){
			alert("Please Select The Criterias");
			return false;
	}

	document.getElementById('loader').style.display = 'block';	
	//var rowidt=1;
	//var Trow="<tr><th><input type='checkbox' id='selectall' value='selectall' dojoType='dijit.form.CheckBox' onclick='selectallfunction()' name='selectall'/><?php echo $this->translate("Select").' '.$this->translate("Student")?></th><th><?php echo $this->translate("Student").' '.$this->translate("Name")?></th><th><?php echo $this->translate("ICNO")?></th><th><?php echo $this->translate("Registration").' '.$this->translate("Id")?></th><th><?php echo $this->translate("Program").' '.$this->translate("Applied")?></th><th><?php echo $this->translate("Date Of Exam")?></th><th><?php echo $this->translate("Status")?></th></tr>";
	
	if(status==1){
		registerstatus=1;
		var xhrArgs5 = {
				url: "<?php echo $this->baseUrl();?>"+"/registrations/registrationfailedtakaful/getnewprogramdd/idprog/"+idprogram+"/status/"+status,
				handleAs:'json',
				load:function(datadd){						
					AutoFillNextEditableDropDown('idPrograms',datadd); 
				}
		   }
			dojo.xhrGet(xhrArgs5);	
	}else{
		registerstatus=0;
	}
	
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/registrations/registrationfailedtakaful/getcandidates/regpin/"+regpin+"/status/"+status+"/idprog/"+idprogram+"/idcompany/"+idcompany,
			handleAs:'json',
			load:function(data){ 		
				var options = {
						label:"IDApplication",
						identifier:"Program",
						items:data
					};

				dojo.forEach(options.items,function(items) {
					arr=items.DateTime.split("-");		

					//added on 20-08-2012					
					if(items.pass==2){
						passstat="Failed";
					}else if(items.pass==4){
						passstat="Absent";
					}else{
						passstat="Applied/Pass";
					}
					//***				
					Trow=Trow+"<tr><td><input type='checkbox' value='"+items.IDApplication+"' id=student"+parseInt(rowidt)+"  name=student"+parseInt(rowidt)+"></td><td><input type='hidden' value='"+items.FName+"' id=studname"+parseInt(rowidt)+"  name=studname"+parseInt(rowidt)+">"+items.FName+"</td><td>"+items.ICNO+"</td><td>"+items.Regid+"</td><td><input type='hidden' value='"+items.ProgramName+"'  id=studprogram"+parseInt(rowidt)+"  name=studprogram"+parseInt(rowidt)+"><input type='hidden' value='"+items.Program+"'  id=idstudprogram"+parseInt(rowidt)+"  name=idstudprogram"+parseInt(rowidt)+">"+items.ProgramName+"</td><td>"+arr[2]+"-"+arr[1]+"-"+arr[0]+"</td><td>"+passstat+"</td></tr>";
					rowidt++;
		        });		     
		        
		        document.getElementById('countdata').value=rowidt;
				document.getElementById('ite').innerHTML=Trow;
				document.getElementById('loader').style.display = 'none';
			}
	   }
		dojo.xhrGet(xhrArgs); 	
}

function addreregistration(){	

	start=0;
	
	//dijit.byId("idPrograms").set('Value','');
	var countdata = document.getElementById("countdata").value;	
	Trow2 = "";
	for(iter1=1;iter1<countdata;iter1++)
	{
		var chkd=document.getElementById("student"+iter1).checked;
		if(chkd){
			
			var program=document.getElementById("idstudprogram"+iter1).value;			
			var studname=document.getElementById("studname"+iter1).value;
			var studid=document.getElementById("student"+iter1).value;	
			var ProgramName=document.getElementById("studprogram"+iter1).value;				
			studentArray.push(studid);
			if(arrHasDupes(studentArray))
			{
				studentArray = studentArray.unique();
				alert("Duplicate Student Name");
				//coutstu--;
			} 
			else 
			{	
				coutstu++;		
				start=1;
				Trow2=Trow2+"<tr><td><input type='hidden' value='"+studid+"' name=studentid[]>"+studname+"</td><td><input type='hidden' value='"+program+"' name=programgrid[]>"+ProgramName+"</td><td><a href='#' onClick='deleteRow(this); return false;'><img src='<?php echo $this->baseUrl();?>/images/delete.png'  border=0 width='16' height='16'></a></td></tr>";

			}
		}
	}
			if(start==1){			
				dijit.byId("noOfCand").set('Value',coutstu);
				dijit.byId("noOfCand").attr('readOnly',true);					
				if(registerstatus==0){
					dijit.byId("idPrograms").attr('readOnly',true);	
					dijit.byId("idPrograms").set('Value',program);
					fngetDiscount(coutstu);		
				}									
				document.getElementById('hor').innerHTML=document.getElementById('hor').innerHTML + Trow2;			
				rowid++;	
			}			
	}		

function deleteRow(r)
{
	rowid--;
	coutstu--;	
	var newamount=0;
	var newcandcount=0;
	
	var totalcount = document.getElementById("totalAmt").value;
	var singleamt = document.getElementById("eachAmounts").value;
	var noOfCand = document.getElementById("noOfCand").value;
		
	newcandcount=eval(noOfCand)-1;	
    newamount=eval(totalcount)-eval(singleamt);   
    dijit.byId("totalAmt").set('Value',newamount);
    dijit.byId("grossAmt").set('Value',newamount);    
    dijit.byId("noOfCand").set('Value',newcandcount);
    dijit.byId("totalNoofCand").set('Value',newcandcount);
    
	var i=r.parentNode.parentNode.rowIndex;
	studentArray.splice(parseInt(i-1),1);	
	document.getElementById('hor').deleteRow(i);		
	
}

function fngetfeedetails(valu){	
	
	if(valu!='')
	{
	var disptotal=0;
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/registrations/registrationfailedtakaful/getprogramtotal/idprogram/"+valu,
			handleAs:'text',
			load:function(data){ 
			
				document.getElementById('eachAmounts').value = data;	
				document.getElementById('totalAmt').value  = eval(document.getElementById('eachAmounts').value)*eval(document.getElementById('noOfCand').value);
				disptotal=eval(document.getElementById('eachAmounts').value)*eval(document.getElementById('noOfCand').value);
				dijit.byId("grossAmt").setValue(disptotal);
			}
	   }
	dojo.xhrGet(xhrArgs); 	

 
	var xhrArgs1 = {
			url: "<?php echo $this->baseUrl();?>"+"/registration/fngetprerequesition/idprog/"+valu,
			handleAs:'text',
			load:function(data){ 
				if(data == '')
				{
				}
				else
				{
				alert(data);
				}
			}
	   }
	dojo.xhrGet(xhrArgs1);  
}
}


function fngetDiscount(stuno)
{
	//console.log(stuno);
	idprograms=dijit.byId('idPrograms'); 
	discount='<?php echo $this->discount;?>';
	if(stuno!='' && idprograms!=''  && stuno>0)
	{
		
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/registrations/registrationfailedtakaful/getdiscount/nocandidates/"+stuno+"/idprogram/"+idprograms,
			handleAs:'text',
			load:function(data){ 
				var total = eval(document.getElementById('eachAmounts').value);	
				var nocan=stuno;
				var nos=dijit.byId("noOfCand").value;
				document.getElementById('discount').value = data;
				if(discount==1)
				{	
		                var totaldiscountedamount = eval(total) - eval(data);
						document.getElementById('totalAmt').value  = eval(totaldiscountedamount*nocan);
						var disptotal=eval(totaldiscountedamount*nocan);
				}
				else
				{
					 	var discountedamount = ((eval(total* nocan)*data)/100);
					 	discounted=parseInt(discountedamount);
						var totals=eval(total*stuno);
						document.getElementById('totalAmt').value  = eval(totals)-eval(discounted);
						var disptotal=eval(totals)-eval(discounted);
				}
			}
	   }
	dojo.xhrGet(xhrArgs);
	}

	dijit.byId("totalNoofCand").setValue(stuno);

}

//Adding Rows

var statarray = new Array();
id = 1;
sumno = 0;
sumTot = 0;


function addRows() {	

	var cnf=confirm("Are You Sure Candidates are added");
	
	if (cnf==true){
		
	var StudentIdHTML   =  dijit.byId("idPrograms").value;
	var StudentNameHTML = document.getElementById("idPrograms").value;
	var eachAmounts  	= document.getElementById('eachAmounts').value;
	var noOfCand  		=  document.getElementById('noOfCand').value;
	var totalAmt 		=  document.getElementById('totalAmt').value;
	var discountamount 		=  document.getElementById('discount').value;

	sa3=dijit.byId("noOfCand").value;
	
	var stricna=new String(sa3);	
	
	var the_char=stricna.charAt(0);
	
	
	if(dijit.byId("noOfCand").value==0 || dijit.byId("noOfCand").value=='' || the_char==0){
	    dijit.byId("noOfCand").attr('required','true');
		dijit.byId("noOfCand").focus();
		return false;
	}
	if(isNaN(document.getElementById("totalAmt").value)){		
		alert("Wait Total amount cannot be NaN");
		return false;
	}
	if(dijit.byId("totalAmt").value=='' || dijit.byId("totalAmt").value==0){
	    dijit.byId("totalAmt").attr('required','true');
		dijit.byId("totalAmt").focus();
		return false;
	}
	
	if(StudentIdHTML == "Select"||StudentIdHTML == ""){	
		alert("Sorry Duplicate Data");
		return false;
	}
	else{ 		
		statarray.push(StudentIdHTML);
		if(arrHasDupes(statarray))
		{
			statarray = statarray.unique();
			alert("Sorry Duplicate Data");
		}
		else
		{	
                        
			var x=document.getElementById('contentBody').insertRow(3);
			var m=x.insertCell(0);
			var n=x.insertCell(1);
			var u=x.insertCell(2);
			var v=x.insertCell(3);
			var y=x.insertCell(4);
			var z=x.insertCell(5);
			m.innerHTML="<input type='hidden' name='idProgram[]' id='idProgram' value='"+StudentIdHTML+"'>"+StudentNameHTML;
			n.innerHTML="<input type='hidden' name='eachAmount[]' id='eachAmount' value='"+eachAmounts+"'>"+eachAmounts;
			u.innerHTML="<input type='hidden' name='noofCandidates[]'  id='noofCandidates' value='"+noOfCand+"'>"+noOfCand;
			v.innerHTML="<input type='hidden' name='discountamount[]' id='discountamount' value='"+discountamount+"'>"+discountamount;
			y.innerHTML="<input type='hidden' name='toatlAmount[]'   id='toatlAmount' value='"+totalAmt+"'>"+totalAmt;
			z.innerHTML="<img src='<?php echo $this->baseUrl()?>/images/delete.png' onClick='removeFormField(this,\"#row"+id+"\"\,\"" +StudentIdHTML+ "\"\,\"" +totalAmt+ "\"\,\"" +noOfCand+ "\"\);   return false;'  border=0 width='16' height='16'>";
			
			sumno = eval(sumno) + eval(noOfCand);
			sumTot = eval(sumTot) + eval(totalAmt);				
			//document.getElementById("contentBody").innerHTML = document.getElementById("contentBody").innerHTML+"<tr id='row"+id+"'><td>"+StudentNameHTML+"<input type='hidden'   name='idProgram[]' id='idProgram' value='"+StudentIdHTML+"'></td><td  align='right'><input type='hidden'   name='eachAmount[]' id='eachAmount' value='"+eachAmounts+"'>"+eachAmounts+"</td><td  align='right'><input type='hidden' name='noofCandidates[]'  id='noofCandidates' value='"+noOfCand+"'>"+noOfCand+"</td><td  align='right'><input type='hidden'   name='discountamount[]' id='discountamount' value='"+discountamount+"'>"+discountamount+"</td><td  align='right'><input type='hidden' name='toatlAmount[]'   id='toatlAmount' value='"+totalAmt+"'>"+totalAmt+"</td><td><img src='<?php echo $this->baseUrl()?>/images/delete.png' onClick='removeFormField(this,\"#row"+id+"\"\,\"" +StudentIdHTML+ "\"\,\"" +totalAmt+ "\"\,\"" +noOfCand+ "\"\);   return false;'  border=0 width='16' height='16'></td></tr>";
			id++;
			//document.getElementById("id").value = id;
			//dijit.byId("totalNoofCand").value = sumno;
			//dijit.byId("grossAmt").value = sumno;
			dijit.byId("totalNoofCand").setValue(sumno);
			dijit.byId("grossAmt").setValue(sumTot);
		}		
	}
  }else{
	  return false;
  }
}

function removeFormField(currents,id,StudentIdHTML,totalAmt,noOfCan) {
	currents.parentNode.parentNode.parentNode.removeChild(currents.parentNode.parentNode);	
	for(var i=0; i<statarray.length; i++) {
        if(statarray[i] == StudentIdHTML) {
        	statarray.splice(i, 1);
            break;
        }
	}	
	sumno  = eval(sumno) - eval(noOfCan);
	sumTot = eval(sumTot) - eval(totalAmt);;
	//document.getElementById('totalNoofCand').value = sumno;
	//document.getElementById('grossAmt').value      = sumTot;	
	dijit.byId("totalNoofCand").setValue(sumno);
	dijit.byId("grossAmt").setValue(sumTot);
}


function arrHasDupes( A ) {                          // finds any duplicate array elements using the fewest possible comparison
	var i, j, n;
	n=A.length;                                                     // to ensure the fewest possible comparisons
	for (i=0; i<n; i++) {                        // outer loop uses each item i at 0 through n
		for (j=i+1; j<n; j++) {              // inner loop only compares items j at i+1 to n
			if (A[i]==A[j]) return true;
		}
	}
	return false;
}


Array.prototype.unique = function () {
    var r = new Array();
    o:for(var i = 0, n = this.length; i < n; i++) {
        for(var x = 0, y = r.length; x < y; x++) {
                if(r[x]==this[i]) {
                	continue o;
                }                
        }
        r[r.length] = this[i];
    }
    return r;
}


function fngetstatedetails(idprogram){

	document.getElementById('loader').style.display = 'block';
	idcompany=document.getElementById('idcompany').value;	
	var xhrArgs1 = {
			url: "<?php echo $this->baseUrl();?>"+"/registrations/registrationfailedtakaful/fngetregpin/idprog/"+idprogram+"/idcompany/"+idcompany,
			handleAs:'json',
			load:function(data){				
				document.getElementById('loader').style.display = 'none';
				AutoFillNextEditableDropDown('Batchpin',data); 
			}
	   }
	dojo.xhrGet(xhrArgs1);  
}

function ShowLookup(){
		var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/registrations/registrationfailedtakaful/lookupbatchid/idcompany/",
			handleAs:'text',
			load:function(data){ 
				document.getElementById('contentdiv').innerHTML = data;
				document.getElementById('divLogin').style.display = 'block';
				document.getElementById('studetls').style.display = 'block';
			}
	   }
	dojo.xhrGet(xhrArgs);	
}

function closebox() {
	document.getElementById('contentdiv').innerHTML = "";
	document.getElementById('divLogin').style.display = 'none';
	document.getElementById('studetls').style.display = 'none';
}

function getbatchId(){

	//document.getElementById('loader').style.display = 'block';	
	candidatename=document.getElementById('candname').value;
	candidateicno=document.getElementById('candicno').value;
	idprogram=dijit.byId("Program").value;		
	idcompany=document.getElementById('idcompany').value;
	Studentstatus=dijit.byId("Studentstatus").value;		
	
	var rowidlookup=1;
	var Trowlookup="<tr><th><?php echo $this->translate("Select").' '.$this->translate("Student")?></th><th><?php echo $this->translate("Student").' '.$this->translate("Name")?></th><th><?php echo $this->translate("ICNO")?></th><th><?php echo $this->translate("Registration").' '.$this->translate("Id")?></th><th><?php echo $this->translate("Batch").' '.$this->translate("Id")?></th><th><?php echo $this->translate("Program").' '.$this->translate("Applied")?></th><th><?php echo $this->translate("Date Of Exam")?></th><th><?php echo $this->translate("Status")?></th></tr>";
	document.getElementById('itelookup').innerHTML=Trowlookup;
	
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/registrations/registrationfailedtakaful/refinebatchid/candidatename/"+candidatename+"/candidateicno/"+candidateicno+"/programid/"+idprogram+"/companyid/"+idcompany+"/status/"+Studentstatus,
			handleAs:'json',
			load:function(data){ 	
				
				 var options = {
						label:"IDApplication",
						identifier:"Program",
						items:data
					};
					
				 dojo.forEach(options.items,function(items) {	
					 					
						arr=items.DateTime.split("-");				
						if(items.pass==2){
							passstat="Failed";
						}else if(items.pass==4){
							passstat="Absent";
						}else{
							passstat="Applied/Pass";
						}						
								
						Trowlookup=Trowlookup+"<tr><td><input type='checkbox' value='"+items.IDApplication+"' id=student"+parseInt(rowidlookup)+"  name=student"+parseInt(rowidlookup)+"></td><td><input type='hidden' value='"+items.FName+"' id=studname"+parseInt(rowidlookup)+"  name=studname"+parseInt(rowidlookup)+">"+items.FName+"</td><td>"+items.ICNO+"</td><td>"+items.Regid+"</td><td>"+items.RegistrationPin+"</td><td><input type='hidden' value='"+items.ProgramName+"'  id=studprogram"+parseInt(rowidlookup)+"  name=studprogram"+parseInt(rowidlookup)+"><input type='hidden' value='"+items.Program+"'  id=idstudprogram"+parseInt(rowidlookup)+"  name=idstudprogram"+parseInt(rowidlookup)+">"+items.ProgramName+"</td><td>"+arr[2]+"-"+arr[1]+"-"+arr[0]+"</td><td>"+passstat+"</td></tr>";
						rowidlookup++;
			        });			        
				 document.getElementById('countdatalookup').value=rowidlookup;
				 document.getElementById('loader').style.display = 'none';
				 document.getElementById('itelookup').innerHTML=Trowlookup;
			}
	   }
	dojo.xhrGet(xhrArgs);
	
}


function Addlookup(){
	
	   totcountlookup=document.getElementById('countdatalookup').value-1;
	   for(ilookup=1;ilookup<=totcountlookup;ilookup++){
		   if(document.getElementById('student'+ilookup).checked){
			   lookupArray.push(document.getElementById('student'+ilookup).value);
		   }
	   }

	  if(lookupArray==""){
		  alert("Please Select Any Candidate");
		  return false;
	  }else{
	   var xhrArgs = {
		 			url: "<?php echo $this->baseUrl();?>"+"/registrations/registrationfailedtakaful/getcandidatelookup/idapplication/"+lookupArray,
		 			handleAs:'json',
		 			load:function(data){ 			 		
		 				AutoFillNextEditableDropDown('Batchpin',data);  	
		 				closebox();		 							
		 			}
		 	   }
		 	dojo.xhrGet(xhrArgs);
	  }	
}


function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}

</script>  
</head>
<body class='claro'>

<div>
<fieldset>
	<legend><?php echo $this->translate("Failed Candidates").' '.$this->translate("Search");?></legend>
	<div class="search" style="margin-left:20px;">
 		<form dojoType="dijit.form.Form"  id="myForm" action="" method="POST">
 			<script type="dojo/method" event="onSubmit">
              if (this.validate()) {					
					return true;
                } else {
                    return true;
                }
			</script>
		<table class="table" width="100%"  colspan="4">
				<tr>
					<td><?php echo $this->translate("Student").' '.$this->translate("Status");?></td>
                    <td><?php echo $this->lobjstudentForm->Studentstatus;?>
                    <input type="hidden" name="idcompany" id="idcompany" value="<?php echo $this->idtakaful;?>"/>
                    </td>
				</tr>
				<tr>				
                    <td><?php echo $this->translate("Select").' '.$this->translate("Program");?></td>
                    <td><?php echo $this->lobjstudentForm->Program;?></td>
                    <td><?php echo $this->translate("Batch").' '.$this->translate("Id");?></td>
                    <td><?php echo $this->lobjstudentForm->Batchpin;?>                    
                    <a href="#"  onClick='ShowLookup()'><?php echo $this->translate("Look Up");?></a></td>
                </tr>
                <tr>                    
                    <td align = "center" colspan = "4">                    	
                    	 <input type="button" name="Search" value="Search" id="Search" onClick="Searchcandidates();" dojoType="dijit.form.Button"  label="Search"  class="NormalBtn">
						 <input type="Submit" name="Clear" value="Clear" id="Clear"  dojoType="dijit.form.Button"  label="Clear"  class="NormalBtn">
						
						<input type="button" name="Close" value="Close" id="Close" onClick="Closefnnew();" dojoType="dijit.form.Button"  label="Close"  class="NormalBtn">
  				   </td>
				</tr>				
		</table>
		</form>	
			</div>
		</fieldset> 
	   <fieldset> 
		<table id="ite"  class="table3" width="100%" cellpadding="5" cellspacing="1">
						<tr>               					
							<th><?php echo $this->translate("Select").' '.$this->translate("Student")?></th>  	
							<th><?php echo $this->translate("Student").' '.$this->translate("Name")?></th>    
							<th><?php echo $this->translate("ICNO")?></th>  
							<th><?php echo $this->translate("Registration").' '.$this->translate("Id")?></th>  
							<th><?php echo $this->translate("Program").' '.$this->translate("Applied")?></th> 					
							<th><?php echo $this->translate("Delete")?></th>							
						</tr>
	  </table>
	  <table align="right">
				  <tr align="right">
   					<td align="right" colspan="6">   					
   							<?php echo $this->lobjstudentForm->ADD;?>   							
   							<input type="button" name="Closebtm" value="Close" id="Closebtm" onClick="Closefnnew();" dojoType="dijit.form.Button"  label="Close"  class="NormalBtn">
   					</td>
   					</tr>
	  </table>
	  <br><br>
	<input type="hidden" name="countdata" id="countdata" value=""/>
	<input type="hidden" name="countdatalookup" id="countdatalookup" value=""/>
	
		<legend><?php echo $this->translate("Failed Candidates").' '.$this->translate("List");?></legend>
		
	<form dojoType="dijit.form.Form"  id="myForm1"  action="<?php echo $this->baseUrl();?>/registrations/registrationfailedtakaful/addreregistration/idtakaful/<?php echo $this->idtakaful;?>" method="POST">
	<script type="dojo/method" event="onSubmit">
              if (this.validate()) {
						if(sumno==0){
						    alert("Please Enter Payment Data");
							return false;
						}else{
							return true;	
						}
												
                } else {
                    return false;
                }
			</script>
		<br><br>
		<table id="hor"  class="table3" width="100%" cellpadding="5" cellspacing="1">
						<tr>               						
							<th><?php echo $this->translate("Student").' '.$this->translate("Name")?></th>    
							<th><?php echo $this->translate("Program").' '.$this->translate("Applied")?></th> 					
							<th><?php echo $this->translate("Delete")?></th>							
						</tr>
	  </table>
	  <br><br>
	  
	  
	  <table class="table" width="100%" id="contentBody"  >
                     <tr>
                          <th colspan = "6"><?php echo $this->translate("Re-Registration Payment");?></th>
                     </tr>
                         <tr>
                            <th width="35%"><?php if($this->caption) {echo $this->translate("$this->caption");?><?php }else{?><?php echo $this->translate("Course");}?></th>
                            <th width="10%"><?php  echo $this->translate("Amount");?></th>
                            <th width="25%"><?php  echo $this->translate("No OF Candidates");?></th>
                            <th width="25%"><?php  echo $this->translate("Discount");?></th>
                            <th width="20%"> <?php echo $this->translate("Total(RM)");?></th>
                            <th width="10%"></th>
                        </tr>
                         <tr>  
                             <td><?php  echo $this->lobjTakafulForm->idPrograms;?></td>
                             <td align="right"><?php  echo $this->lobjTakafulForm->eachAmounts;?></td>
                             <td align="right"><?php  echo $this->lobjTakafulForm->noOfCand;?></td>
                             <td><input type="text"  id="discount" name="discount[]" dojoType="dijit.form.ValidationTextBox"   readOnly="true"  style="width:40px"   value="0"></td>
                             <td align="right"><?php  echo $this->lobjTakafulForm->totalAmt;?></td>
                             <td><input type="button" TABINDEX="3" name="Add" id="Add" value="Add" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Add"); ?>" onclick="addRows();"></td>
                        </tr>
                        <tr>
                        	<td colspan="5">
                        	<input type="hidden" name="idTakaful" id="idTakaful" value="<?php echo $this->idtakaful?>"/>
                        	</td>
                        </tr>
                     
	                     <tr>
                            <td></td>
                            <td></td>
                            <td align="right"><b><?php  echo $this->translate("Total No of Candidates:");?></b><?php  echo $this->lobjTakafulForm->totalNoofCand;?></td>
                            <td align="right"><b><?php  echo $this->translate("Gross Amount(RM):");?></b><?php  echo $this->lobjTakafulForm->grossAmt;?></td>
                            <td></td>
                        </tr> 
	                    <tr>
                            <td><?php  echo $this->translate("Mode of Payment:");?></td>
                            <td><?php  echo $this->lobjTakafulForm->ModeofPayment;?></td> 
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr> 
	                     <tr>
                           
                            <td colspan="5" align="right">
                            <input type="Submit" name="Save"  class="buttonStyle"  value="Save" dojoType="dijit.form.Button"  label="Save" >
                            <input type="button" name="Close" TABINDEX="6" class="buttonStyle" onClick="Closefn(); return false;" value="Close" dojoType="dijit.form.Button"  label="Close" >	</td>
                        </tr>     
	        </table>
	</form>	
	
	<div runat="server" id="divLogin"  style="display:none; z-index: 153; position: absolute; left: 30%; width: 650px; top: 200px;">
							                <asp:Panel runat="server" ID="popupLogin">
							                    <asp:Panel runat="server" ID="popupContent1">
							                        <table style="height: 125px; width: 100%; background-color: #FFFFFF;" border="3"   frame="box">
							                            <tbody>
							                                <tr>
							                                    <td align="right">
							                                    	<div id="contentdiv"></div>
							                                      
							                                   </td>
							                                </tr>
							                            </tbody>
							                        </table>
							                    </asp:Panel>
							                </asp:Panel>
							            </div>
		<div runat="server" id="studetls" style="display:none; opacity:0.4; z-index: 150; position: absolute; left: 0%; height: 100%; width: 100%; top: 0%;">
		
		<asp:Panel >
							                    <asp:Panel  >
							                        <table style="height: 100%; width: 100%; background-color: #000000;" border="3"   frame="box">
							                            <tbody>
							                                <tr>
							                                    <td align="right">							                                    	
							                                      
							                                   </td>
							                                </tr>
							                               
							                            </tbody>
							                        </table>
							                    </asp:Panel>
							                </asp:Panel>
		</div>	
	
	
	
	</fieldset> 
	<div runat="server" id="loader"  style="display:none; z-index: 153; position: absolute; left: 55%; width: 850px; top: 40%; ">	
                <table>
                <tr>
                	<td><img src="<?php echo $this->baseUrl()."/images/reregloader.gif";?>"  height="20" width="150" /> </td>
                </tr>
                </table>
   	
   </div>

</br>

</form>
</body>
</html>
