<head>
</head>
	<fieldset>
		<table  width="100%">		
	  	<tr>
	    <td align="center">Enter Candidate Name</td>
	    <td align="center"><input type="textbox" id="candname" name="candname" dojoType="dijit.form.ValidationTextBox"  required="true" style='width:150px;'></td>
		</tr>
		<tr>
	    <td align="center">Enter Candidate ICNO</td>
	    <td align="center"><input type="textbox" id="candicno" name="candicno" dojoType="dijit.form.ValidationTextBox"  required="true" style='width:150px;'></td>
		</tr>
		</table>
		<table  width="100%">
	  	<tr align="center">
	  	<td><input type="button" id="lookup" name="lookup" style='width:150px;' value="Look Up" onClick="getbatchId();"></td>	 
	    <td><input type="button" id="close" name="close" style='width:150px;' value="Close" onClick="closebox();"></td>
		</tr>
		</table>
		<table id="itelookup"  class="table3" width="100%" cellpadding="5" cellspacing="1">
						<tr>        
							<th><?php echo $this->translate("Select").' '.$this->translate("Student")?></th>     					
							<th><?php echo $this->translate("Student").' '.$this->translate("Name")?></th>    
							<th><?php echo $this->translate("ICNO")?></th>  
							<th><?php echo $this->translate("Registration").' '.$this->translate("Id")?></th>  
							<th><?php echo $this->translate("Batch").' '.$this->translate("Id")?></th>
							<th><?php echo $this->translate("Program").' '.$this->translate("Applied")?></th> 			
							<th><?php echo $this->translate("Date Of").' '.$this->translate("Exam")?></th> 		
							<th><?php echo $this->translate("Status")?></th>			
											
						</tr>
						<tr>
						
						</tr>
	  </table>
	  <table width="100%"><tr align="center"><td><input type="button" id="populatebatchid" name="populatebatchid" style='width:150px;' value="Populate" onClick="Addlookup();"></td></tr></table>
	</fieldset>
