<html>
<script type="text/javascript">   
var lookupArray  = new Array();
function ShowLookup(examdate,venue,idissue){
		var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/examreportonvenue/lookupstudent/Exam/"+examdate+"/Venue/"+venue+"/idissue/"+idissue,
			handleAs:'text',
			load:function(data){ 
				document.getElementById('contentdiv').innerHTML = data;
				document.getElementById('divLogin').style.display = 'block';				
			}
	   }
	dojo.xhrGet(xhrArgs);	
} 
function enablelookup(idmark)
{
   document.getElementById("active"+idmark).disabled=true;
   if(document.getElementById("mark"+idmark).checked)
   {  
	 dijit.byId("active"+idmark).setAttribute('disabled', false);
   }
   else
   {
	 dijit.byId("active"+idmark).setAttribute('disabled', true);
  } 
}
function closebox() {
	document.getElementById('contentdiv').innerHTML = "";
	document.getElementById('divLogin').style.display = 'none';	
	}
	issuearr=new Array();	
	function Addlookup(idissue){
	
	   totcountlookup=document.getElementById('countdatalookup').value-1;
	   //alert(totcountlookup);
	   for(ilookup=1;ilookup<=totcountlookup;ilookup++){
		   if(document.getElementById('student'+ilookup).checked){		   
			   lookupArray.push(document.getElementById('student'+ilookup).value);
			   document.getElementById('show'+idissue).style.display = 'none';
			    document.getElementById('hide'+idissue).style.display = 'block';
		   }
	   }
issuearr[idissue]=lookupArray;
	  if(lookupArray==""){
		  alert("Please Select Any Candidate");
		  return false;
	  }else{
	   var xhrArgs = {

	   
		 			url: "<?php echo $this->baseUrl();?>"+"/examreportonvenue/getcandidatelookup/idapplication/"+issuearr[idissue]+"/idissue/"+idissue,
		 			handleAs:'text',
		 			load:function(data){ 
				   document.getElementById('main'+idissue).style.display = 'block';	
                   document.getElementById('contentlist'+idissue).innerHTML = data;   
		 				
		 				closebox();		 							
		 			}
		 	   }
		 	dojo.xhrGet(xhrArgs);
	  }
	lookupArray=new Array();
	}
	function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){

	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}

function getstudentlist(examdate,examvenue){

	candidatename=document.getElementById('candname').value;
	candidateicno=document.getElementById('candicno').value;
	
	var rowidlookup=1;
	var Trowlookup="<tr><th><?php echo $this->translate("Select").' '.$this->translate("Student")?></th><th><?php echo $this->translate("Student").' '.$this->translate("Name")?></th><th><?php echo $this->translate("ICNO")?></th><th><?php echo $this->translate("Registration").' '.$this->translate("Id")?></th><th><?php echo $this->translate("Program").' '.$this->translate("Applied")?></th><th><?php echo $this->translate("Date Of Exam")?></th><th><?php echo $this->translate("Status")?></th></tr>";
	document.getElementById('itelookup').innerHTML=Trowlookup;
	
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/examreportonvenue/refinestudentlist/candidatename/"+candidatename+"/candidateicno/"+candidateicno+"/examdate/"+examdate+"/examvenue/"+examvenue,
			handleAs:'json',
			load:function(data){ 	
				
				 var options = {
						label:"IDApplication",
						identifier:"Program",
						items:data
					};
					
				 dojo.forEach(options.items,function(items) {	
					 					
						arr=items.DateTime.split("-");				
						if(items.pass==2){
							passstat="Failed";
						}else if(items.pass==4){
							passstat="Absent";
						}else if(items.pass==1){
							passstat="Pass";
						}else if(items.pass==3){
                           passstat="Applied";						
							}	
						Trowlookup=Trowlookup+"<tr><td><input type='checkbox' value='"+items.IDApplication+"' id=student"+parseInt(rowidlookup)+"  name=student"+parseInt(rowidlookup)+"></td><td><input type='hidden' value='"+items.FName+"' id=studname"+parseInt(rowidlookup)+"  name=studname"+parseInt(rowidlookup)+">"+items.FName+"</td><td>"+items.ICNO+"</td><td>"+items.Regid+"</td><td><input type='hidden' value='"+items.ProgramName+"'  id=studprogram"+parseInt(rowidlookup)+"  name=studprogram"+parseInt(rowidlookup)+"><input type='hidden' value='"+items.Program+"'  id=idstudprogram"+parseInt(rowidlookup)+"  name=idstudprogram"+parseInt(rowidlookup)+">"+items.ProgramName+"</td><td>"+arr[2]+"-"+arr[1]+"-"+arr[0]+"</td><td>"+passstat+"</td></tr>";
						rowidlookup++;
			        });			        
				 document.getElementById('countdatalookup').value=rowidlookup;
				 document.getElementById('loader').style.display = 'none';
				 document.getElementById('itelookup').innerHTML=Trowlookup;
			}
	   }
	dojo.xhrGet(xhrArgs);
	
}

</script>
<head>
</head>
<body class="claro">
    <fieldset>
    <legend><?php echo "Student Issue Details";?></legend>
	<form  action=" " method="POST" dojoType="dijit.form.Form"  id="myForm"  name= "myForm">
	 <table class="table" width="100%" cellpadding="5" cellspacing="1">
		    <tr><th>No</th>
		        <th><?php echo $this->translate("ISSUES") ?></th>
				<th><?php echo $this->translate("Mark") ?></th>
		        <th align="center"><?php echo $this->translate("Student Details") ?></th>
		        <th><?php echo $this->translate("Action Taken By Invigilator") ?><input type="hidden" name="countdata" id="countdata" value=""/>
	<input type="hidden" name="countdatalookup" id="countdatalookup" value=""/>
	<input type="hidden" name="examdate" id="examdate" value="<?php echo $this->examdate;?>"/>
	<input type="hidden" name="examvenue" id="examvenue" value="<?php echo $this->venue;?>"/>
	</th>
		       
		    </tr>
    <?php $this->lobjexamreport = new Examination_Model_Examreports(); //intialize user db object 
	      $larrresult = $this->lobjexamreport->fncheckforissueupdates($this->examdate);
	     $i=0; foreach ($this->larresult as $lobjstudetails ): ?>
    
	   
		     <tr><td><b><?php $i++; echo $i;?></b></td>
			    <td><b><?php print_r($this->escape($lobjstudetails['Issue']));?></b></td>
		        <td><b><input type="checkbox" dojoType=dijit.form.CheckBox name="mark[]" id="mark<?php echo $lobjstudetails['Idissue']?>"  value="<?php echo $lobjstudetails['Idissue']?>" onClick="enablelookup(<?php echo $lobjstudetails['Idissue']?>)"/></b></td>
				
				 <td><div  id="main<?php echo $lobjstudetails['Idissue']?>" name="main[<?php echo $lobjstudetails['Idissue']?>]"  style="display:none;"><div id="contentlist<?php echo $lobjstudetails['Idissue']?>" name="contentlist" ></div></div>
		       <b  > <div id="show<?php echo $lobjstudetails['Idissue']?>" >
			  <input name="active[<?php echo $lobjstudetails['Idissue']?>]" id="active<?php echo $lobjstudetails['Idissue']?>" type="button"   disabled dojoType=dijit.form.Button onClick="ShowLookup('<?php echo $this->examdate;?>','<?php echo $this->venue;?>','<?php echo $lobjstudetails['Idissue']?>')" label = <?php echo $this->translate("Look_Up_For_Candidates");?> />

			   </div>
			   <div id="hide<?php echo $lobjstudetails['Idissue']?>" style="display:none;" ><a href="#"  onClick="ShowLookup('<?php echo $this->examdate;?>','<?php echo $this->venue;?>','<?php echo $lobjstudetails['Idissue']?>')"><?php echo $this->translate("Do U Want To Reset And Select Candidates Again..?");?></a></div></b></td>
		        <td><b><textarea id="remark<?php echo $lobjstudetails['Idissue']?>" name="remark[<?php echo $lobjstudetails['Idissue']?>]" rows="1" cols="40" maxlength="100"/></textarea></b></td>
		    </tr>
		  
	 <?php  endforeach; ?>
<?php if($larrresult){?>
<tr><td colspan="3" align="right"><input name="Submit" id="Submit" type="Submit"  disabled  dojoType=dijit.form.Button    label = <?php echo $this->translate("Issues_Already_Submited");?> ></td>
<td  ><input name="Back" id="Back" type="Button"  
  dojoType=dijit.form.Button label = <?php echo $this->translate("Back");?>   onclick="window.location.href='<?php echo $this->url(array('controller'=>'examreportonvenue', 'action'=>'index'),'default',true);?>';" ></td></tr>
<?php } else { ?><tr><td colspan="3" align="right"><input name="Submit" id="Submit" type="Submit"    dojoType=dijit.form.Button    label = <?php echo $this->translate("Submit_To_Admin");?> ></td><td  ><input name="Back" id="Back" type="Button"  
  dojoType=dijit.form.Button   label = <?php echo $this->translate("Back");?> onclick="window.location.href='<?php echo $this->url(array('controller'=>'examreportonvenue', 'action'=>'index'),'default',true);?>';" ></td></tr>
 <?php } ?>
 </table>
</form> 
<div runat="server" id="divLogin"  style="display:none; z-index: 153; position: absolute; left: 18%; width: 850px; top: 150px;">
					                <asp:Panel runat="server" ID="popupLogin">
					                    <asp:Panel runat="server" ID="popupContent1">
					                        <table style="height: 125px; width: 100%; background-color: #FFFFFF;" border="3"   frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">
					                                    	<div id="contentdiv"></div>
					                                      
					                                   </td>
					                                </tr>
					                            </tbody>
					                        </table>
					                    </asp:Panel>
					                </asp:Panel>
					            </div> 
	</fieldset></br>
	<div runat="server" id="loader"  style="display:none; z-index: 153; position: absolute; left: 55%; width: 850px; top: 40%; ">	
                <table>
                <tr>
                	<td><img src="<?php echo $this->baseUrl()."/images/reregloader.gif";?>"  height="20" width="150" /> </td>
                </tr>
                </table>
   	
</div>
    
</body>
</html>
