<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<link href="<?php  echo $this->baseUrl();?>/css/calendar.css" rel="stylesheet" type="text/css" />   
<script type="text/javascript">
dojo.addOnLoad(function() {


});


function newcitylistss(year)
{
	if(year>1)
	{
		var Program = dijit.byId("Coursename");
		var year = dijit.byId("schedulerename1").value;
	
	var xhrArgs = {
			url: "<?php echo $this->baseUrl();?>"+"/examination/newscreen/newfngetcitynames/Program/"+Program+"/year/"+year,
			handleAs:'json',
			load:function(data){ 
				document.getElementById('calender').innerHTML='';
				AutoFillNextEditableDropDown("newexamcity",data); 
				
				
			}
	   }
	dojo.xhrGet(xhrArgs);

	}

	
	
}




function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}


function Closefn()
{
	document.getElementById('divLogin').style.display = 'none';
	document.getElementById('divLogin2').style.display = 'none';
}



function fnhidebtn()
{
	document.getElementById('btnsave').style.display='none';
}

</script> 
</head>
<body>

	<fieldset>
	           
				<table width="100%" class="table">
					 <tr>
                         <th colspan = "4"><?php echo $this->translate('Personal Details')?></th>
                     </tr>
                      <tr>
			               <td><?php echo $this->translate("Candidate Name :");?></td>
			               <td><?php echo $this->Fname;?></td>
			                    <td><?php echo $this->translate("ICNO :");?></td>
			               <td><?php echo $this->ICNO;?></td>
			              
		             </tr>
		        
		                  <tr>
			          
			                <td><?php echo $this->translate("Email Id :");?></td>
			               <td><?php echo $this->EmailAddress;?></td>
			               <td><?php echo $this->translate("Applied Date :");?></td>
			               <td><?php echo $this->AppliedDate;?></td>
		             </tr>
		             
		                      <tr>
			               <td><?php echo $this->translate("Payment Status");?></td>
			               <td><?php echo $this->lobjnewscreenForm->Payment;?></td>
			               	  <?php  $batch=$this->batch; if($batch!=0){?>
			               	  <td></td>
			               	   <td></td>
			               	  <?php }else {?>
		                     <td><?php echo $this->translate("Mode Of Payment");?></td>
			               <td><?php echo $this->lobjnewscreenForm->paymentmode;?></td>
		             <?php }?>
		             </tr>
		             	</table>

	            </fieldset> 
            </br>
				<fieldset>
				<table  width="100%" class="table" >
				
				<tr>
                         <th colspan = "2"><?php echo $this->translate('Exam Schedule Details')?></th>
                     </tr>
                   
                     <tr>
                       	<td width="35%"><?php echo $this->translate("Course Name");?></td>
			            <td><?php echo $this->lobjnewscreenForm->Coursename;?></td>
		             </tr>
		             <tr>
		                  <td><?php echo $this->translate("Exam Venue");?></td>
			               <td><?php echo $this->lobjnewscreenForm->Venues;?></td>
			          </tr>
		              <tr>
		                  
			               <td><?php echo $this->translate("Exam Date");?></td>
			               <td><?php echo $this->lobjnewscreenForm->Examdate;?></td>
			              
		             </tr>
		          
		                 <tr>
			                <td><?php echo $this->translate("Exam Session");?></td>
			               <td><?php echo $this->lobjnewscreenForm->examsession;?></td>
		             </tr>
		              <tr>
		                 <td><?php echo $this->translate("Schedule");?></td>
			               <td><?php echo $this->lobjnewscreenForm->schedulerename;?></td>
		             </tr>
		            
		        
				</table>

	            </fieldset> 
            </br>
				<fieldset>
				<Form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">
				 <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
                       fnhidebtn();
					return true;
                } else {
                    return false;
                }
				</script>
				<table width="100%" class="table">
				<input type="hidden" id="IDApplication" name='IDApplication' value="<?php echo $this->id;?>">
				      <tr>
                         <th colspan = "2"><?php echo $this->translate('Candidate changed Details')?></th>
                     </tr>
                   <tr>
                       <td width="35%"><?php echo $this->translate("Exam date");?></td>
			               <td><?php echo $this->lobjnewscreenForm->examdateid;?></td>
		             </tr>
               
		   
		              <tr>
			                 <td><?php echo $this->translate("New Exam Venue");?></td>
			               <td><?php echo $this->lobjnewscreenForm->newexamcity;?></td>
			             
		             </tr>
		             
		               <tr>
		                  <td><?php echo $this->translate("Exam Session");?></td>
			               <td><?php echo $this->lobjnewscreenForm->newexamsession;?></td>
			               </tr>
			            <tr >
			            	<td></td>
			                 <td ><div id="sessiondays" width="100%"></div></td>
			             
			             
		             </tr>
		                 
                   
                    <tr>
                       <td width="35%"><?php echo $this->translate("Course Name");?></td>
			               <td><?php echo $this->lobjnewscreenForm->Coursename1;?></td>
		             </tr>
		            
		                
			                 <tr>
			                
                             <td colspan="2">
                             
                                   
                             <div align="left "id="calender" >  
                             </div>         
                              </td>              
                          </tr>  
                          <input type="hidden" id="newexamdates" name='newexamdates' value="">
                         
		         <input type="hidden" name="hiddenscheduler" id="hiddenscheduler" value="">
		             <tr>
		                            
		                   <td  colspan="2" align="right">
		                   <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo "Back";?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'examination','controller'=>'newscreen', 'action'=>'index'),'default',true);?>';" /><td>
  		            
  		              </tr> 
				</table>
				</Form> 
</fieldset>
</body>
</html>