<html>
<head>
</head>
<body class='claro'>
<fieldset>
	<legend><?php echo $this->translate("Exam  Program Change");?></legend>
 		<form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/examination/examprogramchange/index/search/1" method="POST">
 			<script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
			</script>
		<table width="100%" >
		
		<tr>
					<td><?php echo $this->translate("Candidate").' '.$this->translate("Name") ?></td>
					<td><?php echo $this->lobjform->Studentname;?></td>
					<td><?php echo $this->translate("IC NO") ?></td>
					<td><?php echo $this->lobjform->ICNO;?></td>
				</tr>
				
				
		        <tr>
                    <td><?php echo $this->translate("Exam").' '.$this->translate("From").' '.$this->translate("Date") ?></td>
                    <td><?php echo $this->lobjform->Date;?></td>
                    <td><?php echo $this->translate("Exam").' '.$this->translate("To").' '.$this->translate("Date") ?></td>
                    <td><?php echo $this->lobjform->Date2;?></td>
                </tr>
               
				
				
				<tr>
                    <td><?php echo $this->translate("Course").' '.$this->translate("Name") ?></td>
                    <td><?php echo $this->lobjform->Coursename;?></td>
                    <td><?php echo $this->translate("Exam Venue") ?></td>
                    <td><?php echo $this->lobjform->Venues;?></td>
                </tr>
                <tr>
                   <td><?php echo $this->translate("Application Type") ?></td>
                  <td><?php echo $this->lobjform->Applicationtype;?></td>
                 
                </tr>
                
                   <tr>
                  
                 
                </tr>
               <!-- <tr>
                   <td><?php //echo $this->translate("Payment") ?></td>
                  <td><?php //echo $this->lobjform->Payment;?></td>
                  <td><?php //echo $this->translate("Admin Approval") ?></td>
                  <td><?php //echo $this->lobjform->approval;?></td>
                </tr>-->
				 <tr>
				 <td colspan="4" align="center">
				 	<?php echo $this->lobjform->Search;?>
				 	<?php echo $this->lobjform->Clear;?>
				</td>
               </tr>
		</table>
	</form>	
	</fieldset> 
	<br>
	<fieldset>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
	    	<tr>
	    	     <th><?php echo $this->translate("Candidate").' '.$this->translate("Name");?></th>
	    	     <th><?php echo $this->translate("Course").' '.$this->translate("Name");?></th>
	    	     <th><?php echo $this->translate("Exam Venue");?></th>
	    	     <th><?php echo $this->translate("Takaful").' '.$this->translate("Name");?></th>
	    	       <th><?php echo $this->translate("Exam Date");?></th>
	        	
	    	</tr>
	       
   			     <?php if (count($this->paginator)): ?>
	        <?php foreach ($this->paginator as $lobjprogram): ?>
	  		<tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	        	<td><a href="<?php echo $this->baseUrl();?>/examination/examprogramchange/editstudentinfoprog/id/<?php echo $this->escape($lobjprogram['IDApplication']);?>" ><?php print_r($this->escape($lobjprogram['FName']));?></a></td>
	        	<td><?php print_r($this->escape($lobjprogram['ProgramName']));?></td>
	        		<td><?php print_r($this->escape($lobjprogram['centername']));?></td>
	        			<td><?php print_r($this->escape($lobjprogram['TakafulName']));?></td>
	        				<td><?php echo date('d-m-Y',strtotime($lobjprogram['DateTime']));?></td>
	            <?php endforeach; ?>
	            <?php endif; ?> 
			</tr>
			

<?php if (empty($this->larrresult ) && ($this->paramsearch == 1)): ?>
			<tr>
	        	<td colspan="8" align="right"><div class="pagination">Unable to find the Candidate with Search You have provided Please Check If the Candidate Completed the payment</div></td>
   			</tr>
			<?php endif; ?>


			<tr>
	        	<td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   			</tr>
		</table>
	</fieldset>
</body>
</html>
