<script type="text/javascript " src="<?php  echo $this->baseUrl();?>/ckeditor/ckeditor.js"></script>
<script src="<?php  echo $this->baseUrl();?>/ckeditor/_samples/sample.js" type="text/javascript"></script>
<link href="<?php  echo $this->baseUrl();?>/ckeditor/_samples/sample.css" rel="stylesheet" type="text/css" />   
<?php include("ckeditor/ckeditor.php");?>
<script type="text/javascript">
dojo.addOnLoad(function(){	
	var initlanguage = 0;
	languagecontent(initlanguage)

});

function languagecontent(language)
{
	//alert(language);
	if(language == 1)
	{
		document.getElementById('content').style.display = 'none';
		document.getElementById('banhasa').style.display = 'block';
	}
	if(language == 0)
	{
		document.getElementById('content').style.display = 'block';
		document.getElementById('banhasa').style.display = 'none';
	}
	
}

</script>
<fieldset>
    <legend><?php echo $this->translate("Web Page")." ".$this->translate("Template");?></legend>
	<form dojoType="dijit.form.Form"  id="myform" name="myform" method="post" action="<?php echo $this->baseUrl();?>/website/detailstemplate/edittemplate">
	<script type="dojo/method" event="onSubmit" >
                if (this.validate()) {
				var content = dijit.byId('content').attr('value');
		 	    dijit.byId("TemplateBody").set('value',content);
					return true;
                } else {
                    return false;
                }
				</script>
		<table class="table" width="100%" cellpadding="5" cellspacing="1">
    	<tr>
        	<th colspan="4"><?php echo $this->translate("Details")." ".$this->translate("Template");?>
        	<?php echo $this->form->UpdDate;?><?php echo $this->form->iddetails;?>
        <?php echo $this->form->UpdUser;?></th>
           
       	</tr>
       	<input type="hidden" name="hiddenid" id="hiddenid" value="<?php echo $this->id;?>">
        	<?php 
				$CKEditor = new CKEditor();
				$config = array();?>
		<tr>       
            <td width="10%"><?php echo $this->translate("Template")." ".$this->translate("Name");?><span class="reqMark">*</span></td>   
            <td ><?php echo $this->form->iddefinition;?></td>  
            <td width="10%"><?php echo $this->translate("Language");?><span class="reqMark">*</span></td>   
            <td ><?php echo $this->form->languagess;?></td>                                                    
        </tr>                       
	</table>  
         <table>                   
					<tr>
					<td>			
					<div id="content">
					<?php 
				

				
	  			$CKEditor->editor("TemplateBody","$this->TemplateBody");
	  		?>
					</div> 
					 </td>
					</tr>
                </table>
                
                 <table>                   
					<tr>
					<td>			
					<div id="banhasa">
					
					<?php 
	  				  					
	  			$CKEditor->editor("Templatebanhasa","$this->Templatebanhasa");
	  		?>
					 </div>
					 </td>
					</tr>
                </table>
	<table>
    
    <table align = "right">
    	<tr>
        	<td>
			    	<?php echo $this->form->Save;?>
					<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'website','controller'=>'detailstemplate', 'action'=>'index'),'default',true);?>';" />	
            </td>
        </tr>
    </table>
    
	</form>

</fieldset>