<div id="searchDiv">
<fieldset>
<legend><?php echo $this->translate("Details Template").' '.$this->translate("Search");?></legend>
<div class="search" style="margin-left:20px;">

<form dojoType="dijit.form.Form"  id="searchform" name="searchform" method="post" action="<?php echo $this->baseUrl();?>/website/detailstemplate/index/search/1">
<script type="dojo/method" event="onSubmit" >
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>
	<table width="100%">
    <tr>
    	<td><?php echo $this->translate("Template").' '.$this->translate("Name");?></td>
     	<td><?php echo $this->form->field3;?></td>
     	<td></td>
     	<td></td>
    </tr>
    <tr>
    	<td colspan="4" align="center">
		    	<?php echo $this->form->Search;?>
				<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Add"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'website','controller'=>'detailstemplate', 'action'=>'newtemplate'),'default',true);?>';" />	
		<?php echo $this->form->Clear;?>                 
        </td>
	</tr>
	</table>
</form>	
</div>
</fieldset> 
</div>      
<br>
<fieldset>

		<table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr>
        <th><?php echo $this->translate("Template").' '.$this->translate("Name");?></th>
    </tr>
        <?php if (count($this->paginator)): ?>
        <?php foreach ($this->paginator as $emailTemplate ): ?>
    <tr>
        <td>
        	<a href="<?php echo $this->baseUrl();?>/website/detailstemplate/edittemplate/id/<?php echo $this->escape($emailTemplate['iddetails']);?>" rel="lyteframe" 
   				rev="width: 840px; height: 610px; scrolling = "auto"><?php echo $this->escape($emailTemplate['TemplateName']);?>
   			</a>
   			</td>
   		
        <?php endforeach; ?>
        <?php endif; ?>
    </tr>
    <tr>
             	<td colspan="8" align="right"><div class="pagination"><?php  echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
    </tr>
</table>
</fieldset> 
</br>        