<script type="text/javascript " src="<?php  echo $this->baseUrl();?>/ckeditor/ckeditor.js"></script>
<script src="<?php  echo $this->baseUrl();?>/ckeditor/_samples/sample.js" type="text/javascript"></script>
<link href="<?php  echo $this->baseUrl();?>/ckeditor/_samples/sample.css" rel="stylesheet" type="text/css" />   
<?php include("ckeditor/ckeditor.php");?>
<script type="text/javascript">
dojo.addOnLoad(function(){			

});
function fnValidate(){
	var ScheduleName = dojo.byId("ScheduleName");
	
}
</script>
<fieldset>
    <legend><?php echo $this->translate("Email")." ".$this->translate("Template");?> </legend>
<form dojoType="dijit.form.Form"  id="myform" name="myform" method="post" action="<?php echo $this->baseUrl();?>/website/detailstemplate/newtemplate">
<script type="dojo/method" event="onSubmit" >
				if (dojo.byId('content') != null)
			 {
				var content = dijit.byId('content').attr('value');
		 	    dijit.byId("content1").set('value',content);
			 }

                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
</script>

		<table class="table" width="100%" >
    	<tr>
        	<th colspan="4"><?php echo $this->translate("Details")." ".$this->translate("Template");?>
        	<?php echo $this->form->UpdDate;?>
        <?php echo $this->form->UpdUser;?></th>
           
       	</tr>
       
		<tr>       
            <td width="10%"><?php echo $this->translate("Template")." ".$this->translate("Name");?><span class="reqMark">*</span></td>   
            <td ><?php echo $this->form->iddefinition;?></td>  
            <td width="10%"><?php echo $this->translate("Language");?><span class="reqMark">*</span></td>   
            <td ><?php echo $this->form->languagess;?></td>                                                   
        </tr>
	</table>
	

      <table>                   
					<tr>			
					
					<?php 
				$CKEditor = new CKEditor();
				$config = array();
	  				  					
	  			$CKEditor->editor("content1");
	  		?>
					 
					</tr>
                </table>
    
	<table align = "right">
		<tr>
        	<td>
					<?php echo $this->form->Save;?>
					<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'website','controller'=>'detailstemplate', 'action'=>'index'),'default',true);?>';" />	
            </td>
        </tr>
    </table>
    </form>
</fieldset>