
<script type="text/javascript">
  
dojo.addOnLoad(function() {
	dijit.byId('idstate').set('value','');
	dijit.byId('idstate').set('placeHolder','Select State');

});
    function fnGetCityList(idCountry){ 
    	
    	if(idCountry != "" || idCountry != undefined)
    		{  
    		var xhrArgs = {
    				url: "<?php echo $this->baseUrl();?>"+"/general-setup/center/getcitylist/idCountry/"+idCountry,
    				handleAs:'json',
    				load:function(data){ 
    					AutoFillNextEditableDropDown("idcity",data); 
    				}
    		   }
    		dojo.xhrGet(xhrArgs);  
    			
    		} 
    	} 

    

function fnGetvenueList(idcity){ 
    	if(idcity != "" || idcity != undefined)
    		{  
    		var xhrArgs = {
    				url: "<?php echo $this->baseUrl();?>"+"/scheduler/sessionconstraints/getvenuelist/idCountry/"+idcity,
    				handleAs:'json',
    				load:function(data){ 
    					AutoFillNextEditableDropDown("idvenue",data); 
    				}
    		   }
    		dojo.xhrGet(xhrArgs);  
    			
    		} 
    	} 
    	function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
    		dijit.byId(EditableDropDownId).setValue("");
    		var ddwidget = dijit.byId(EditableDropDownId);
    		ddwidget.setAttribute('disabled', false);
        	var options = {
    					label:"name",
    					identifier:"key",
    					items:JSONText
    				  };
        	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
    	}
        
</script> 
<fieldset>
    <legend><?php echo $this->translate("Schedule Constraint");?></legend>
    
                <Form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">
                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>
                    <table class="table" width="100%" >
                        <tr>
                            <th colspan = "4"><?php echo $this->translate("Schedule").' '.$this->translate("Constraint");?>	
                        </tr>
                        <tr>
                            <td ><?php echo $this->translate("Constraint").' '.$this->translate("Name");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjprogramForm->constraintname;?></td>
                        </tr>
                        <tr>
                            <td ><?php echo $this->translate("Date");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjprogramForm->Date;?></td>
                        </tr>
                          <tr>
                            <td ><?php echo $this->translate("State");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjprogramForm->idstate;?> </td>
                        </tr>
                         <tr>
                            <td ><?php echo $this->translate("City");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjprogramForm->idcity;?> </td>
                        </tr>
                        <tr>
                            <td ><?php echo $this->translate("Venue");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjprogramForm->idvenue;?> </td>
                        </tr>
                        <tr>
                            <td ><?php echo $this->translate("Active");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjprogramForm->Active;?> </td>
                        </tr>
              
               			<tr>
                            <td colspan=4 align = "right"><?php echo $this->lobjprogramForm->Save;?>
							<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'scheduler','controller'=>'sessionconstraints', 'action'=>'index'),'default',true);?>';" />	
                            </td> 
                               
                        </tr>           
                        
              </table>
            
            </Form>

</fieldset>
