<script type="text/javascript">
dojo.addOnLoad(function(){
	dijit.byId('Country').set('value','');
	dijit.byId('Country').set('placeHolder','Select');
	dijit.byId('State').set('value','');
	dijit.byId('State').set('placeHolder','Select');
	dijit.byId('IdDepartment').set('value','');
	dijit.byId('IdDepartment').set('placeHolder','Select');
	dijit.byId('IdLevel').set('value','');
	dijit.byId('IdLevel').set('placeHolder','Select');
	dijit.byId('IdSubject').set('value','');
	dijit.byId('IdSubject').set('placeHolder','Select');
	
	dijit.byId('IdCollege').set('value','');
	dijit.byId('IdCollege').set('placeHolder','Select');
	dijit.byId("IdBranch").set('value','');
	dijit.byId('IdBranch').set('placeHolder','Select');
	
	dojo.byId("branch_row1").style.display = "none";
	dojo.byId("branch_row2").style.display = "none";
	var form = dijit.byId("myForm");
	var value=form.attr('value').StaffType;
	fnToggleCollegeDetails(value)	
	});
	
function fnToggleCollegeDetails(value){
	if(value == "0"){
		dojo.byId("branch_row1").style.display = "none";
		dojo.byId("branch_row2").style.display = "none";
		dijit.byId('IdCollege').set('value','');
		dijit.byId('IdCollege').set('placeHolder','Select');
	
	}else if(value == "1"){
		dojo.byId("branch_row1").style.display = "inline";
		dojo.byId("branch_row2").style.display = "inline";
		if(dijit.byId("IdBranch")!= "" ) {
			dijit.byId("IdBranch").set('value','');
			dijit.byId('IdBranch').set('placeHolder','Select');
			dijit.byId('IdCollege').set('value','');
			dijit.byId('IdCollege').set('placeHolder','Select');
		} 
	}
}
function fnGetBrancheList(idCollege){ 
	var form = dijit.byId("myForm");
	var value=form.attr('value').StaffType;
	if(idCollege != "" || idCollege != undefined)
		{ 
			var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/general-setup/departmentmaster/getbranchlist/idCollege/"+idCollege+"/value/"+value,
				handleAs:'json',
				load:function(data){ 
					AutoFillNextEditableDropDown("IdBranch",data); 
					if(value == '0') {
						dijit.byId('IdBranch').set('value','0');
					}
				}
		   }
			dojo.xhrGet(xhrArgs); 
		} 
	}
	 

	function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
		dijit.byId(EditableDropDownId).setValue("");
		var ddwidget = dijit.byId(EditableDropDownId);
		ddwidget.setAttribute('disabled', false);
	    var options = {
						label:"name",
						identifier:"key",
						items:JSONText
					  };
	    ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
	}
function fnGetCountryStateList(idCountry){ 
	if(idCountry != "" || idCountry != undefined)
		{ 
			var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/general-setup/user/getcountrystateslist/idCountry/"+idCountry,
					handleAs:'json',
					load:function(data){ 
						AutoFillNextEditableDropDown("State",data); 
					}
			   }
			dojo.xhrGet(xhrArgs); 
		} 
	} 
		
function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
    var options = {
					label:"name",
					identifier:"key",
					items:JSONText
				  };
    ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}

</script> 
 <fieldset>
    <legend><?php echo $this->translate("Staff").' '.$this->translate("Master");?></legend>
                <form dojoType="dijit.form.Form"  id="myForm" action="<?php echo $this->baseUrl();?>/general-setup/staffmaster/newstaffmaster" method="post"  name= "myForm">
                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>
                    <table class="table" width="100%" >
                        <tr>
                            <th colspan = "4"><?php echo $this->translate("Staff").' '.$this->translate("Details");?></th>
                        </tr>
                        <tr>
                            <td><?php echo $this->translate("First").' '.$this->translate("Name");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjstaffmasterForm->FirstName;?>
                            	 <?php echo $this->lobjstaffmasterForm->IdStaff;?>
                            	 <?php echo $this->lobjstaffmasterForm->UpdDate;?>
                            	 <?php echo $this->lobjstaffmasterForm->UpdUser;?></td>
                            <td><?php echo $this->translate("Second").' '.$this->translate("Name");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjstaffmasterForm->SecondName;?></td>
                        </tr>
                            <td><?php echo $this->translate("Third").' '.$this->translate("Name");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjstaffmasterForm->ThirdName;?></td>
							<td><?php echo $this->translate("Fourth").' '.$this->translate("Name");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjstaffmasterForm->FourthName;?></td>
                        </tr>
                        <tr>
                           <td><?php echo $this->translate("Full").' '.$this->translate("Name");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjstaffmasterForm->FullName;?></td>
                            <td ><?php echo $this->translate("Arabic").' '.$this->translate("Name");?><span class="reqMark"></span></td>
                         <td><?php echo $this->lobjstaffmasterForm->ArabicName;?></td>
                        </tr>
                         
                        <tr>
                            <th colspan = "4"><?php echo $this->translate("Address").' '.$this->translate("Details");?></th>
                        </tr>
                        <tr> 
                            <td><?php echo $this->translate("Address 1");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjstaffmasterForm->Add1;?></td>
                            <td><?php echo $this->translate("Address 2");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjstaffmasterForm->Add2;?>
                        </tr>
                        <tr> 
                            <td><?php echo $this->translate("City");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjstaffmasterForm->City;?></td>
                            <td><?php echo $this->translate("Country");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjstaffmasterForm->Country;?></td>
                            
                        </tr>
                        <tr> 
                            <td><?php echo $this->translate("State");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjstaffmasterForm->State;?></td>
                            <td><?php echo $this->translate("Zip Code");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjstaffmasterForm->Zip;?></td>
                        </tr>
                        <tr> 
                            <td><?php echo $this->translate("Phone");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjstaffmasterForm->Phone;?></td>
                            <td><?php echo $this->translate("Mobile");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjstaffmasterForm->Mobile;?></td>
                        </tr>	
                        </tr>	
                        <tr>
                            <td><?php echo $this->translate("Email");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjstaffmasterForm->Email;?></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th colspan = "4"><?php echo $this->translate("Other").' '.$this->translate("Details");?></th>
                        </tr>
                        
                       <tr> 
                            <td><?php echo $this->translate("Staff").' '.$this->translate("Type");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjstaffmasterForm->StaffType;?></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr> 
                            <td ><span id="label1"><?php echo $this->translate("$this->College");?></span><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjstaffmasterForm->IdCollege;?></td>
                            <td ><span id="branch_row1"><?php echo $this->translate("Branch");?><span class="reqMark">*</span></span></td>
                            <td ><span id="branch_row2"><?php echo $this->lobjstaffmasterForm->IdBranch;?></span></td>
                        </tr>
                        <tr> 
                      
                            <td><?php echo $this->translate("Level");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjstaffmasterForm->IdLevel;?></td>
                            <td><?php echo $this->translate("$this->Department");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjstaffmasterForm->IdDepartment;?></td>
                        </tr>
                        <tr> 
                        	<td><?php echo $this->translate("$this->Subject");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjstaffmasterForm->IdSubject;?></td>
                            <td><?php echo $this->translate("Active");?><span class="reqMark"></span></td>
                            <td><?php echo $this->lobjstaffmasterForm->Active;?></td>
                        </tr>
                          
                        <tr>
                            <tr>
                            <td align = "right" colspan="4"><?php echo $this->lobjstaffmasterForm->Save;?>
                            <input type='button' class="NormalBtn" dojotype="dijit.form.Button" label = "<?php echo $this->translate('Back')?>" value='click' onclick="window.location.href='<?php echo $this->url(array('module'=>'general-setup','controller'=>'staffmaster', 'action'=>'index'),'default',true);?>';" />	
                            </td> 
                        </tr>   
                        </tr>
              </table>
            
            </form>

</fieldset>