<html>
<head>
<script>
dojo.addOnLoad(function() {
	dijit.byId('field1').set('value','');
	dijit.byId('field1').set('placeHolder','Select');
	dijit.byId('field28').set('value','');
	dijit.byId('field28').set('placeHolder','Question Paper Code');
});

function fnsetname(){
	var val= dijit.byId("field28").value;
	document.getElementById('setname').value=val;
}

/*function fnsetrequired(){
	dijit.byId('field28').attr('required', true);
	dijit.byId('field1').attr('required',true);
}

function fnresetsetrequired(){
	//alert("search");
	dijit.byId('field28').attr('required',false);
	dijit.byId('field1').attr('required',false);
}*/




</script>
</head>
<body class="claro">
	<fieldset>
	<legend><?php echo "Create Manual Question Paper";?></legend>
	
       <!--   <form action="<?php echo $this->baseUrl();?>/examination/createmanualquestionpaper/view" method="POST" dojoType="dijit.form.Form"  id="myForm"  name= "myForm">-->
       <form action="" method="POST" dojoType="dijit.form.Form"  id="myForm"  name= "myForm">
            <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					  return true;
                } else {
                    return false;
                }
				</script>
            <table width="100%" border="0">
                <tr>
                  <td><?php echo "Question Paper Code";?></td>
                   <td ><?php echo $this->lobjform->field28;?></td>     
                   <td><?php echo "Course Name";?></td>
                   <td ><?php echo $this->lobjform->field1;?></td>      
                </tr> 
               <tr>
               	<td><br/></td>
               </tr>
               
                 <tr>
                 	<td></td>    
                           
              	 	<td align="right">
						<!--<?php echo $this->lobjform->Generate;?>-->
						<!--  <input type="button"  dojotype="dijit.form.Button" label="<?php echo "Generate Manually";?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'examination','controller'=>'createmanualquestionpaper', 'action'=>'view','id'=>'22'),'default',true);?>';" />-->
   						<input type="submit"  name="Search" value="Search" dojotype="dijit.form.Button" label="<?php echo "Search";?>" />
   						<!--  <input type="submit"  name="submit" value="submit" dojotype="dijit.form.Button" label="<?php echo "Create Manually";?>"/>-->
   						<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Add"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'examination','controller'=>'createmanualquestionpaper', 'action'=>'newmanualset'),'default',true);?>';" />
   						<!-- <input type="button"  dojotype="dijit.form.Button" label="<?php echo $this->translate("Add in same page"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'examination','controller'=>'createmanualquestionpaper', 'action'=>'newmanualset2'),'default',true);?>';" />-->
   						<input type="button"  name="Clear" value="Clear" dojotype="dijit.form.Button" label="<?php echo "Clear";?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'examination','controller'=>'createmanualquestionpaper', 'action'=>'index'),'default',true);?>';" />
						<input type="hidden" name="setname" id="setname" value=""/>
						
						<?php echo $this->lobjform->Clear;?>
					</td>
               </tr>
            </table>
          </form>	               	
    </fieldset>
    <br>
    <fieldset>
    <table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr>
        <th><?php echo $this->translate("Question Paper Code") ?></th>
        <th><?php echo $this->translate("Course Name") ?></th>
        <th><?php echo $this->translate("Created By") ?></th>
        <th><?php echo $this->translate("Created Date") ?></th>
        <th style="text-align:center;"><?php echo $this->translate("Print Question Paper") ?></th>
        <th style="text-align:center;"><?php echo $this->translate("Print Draft View") ?></th>
    </tr>
        <?php if (count($this->paginator)): ?>
        <?php foreach ($this->paginator as $lobjCountry ): ?>
    <tr>
    <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
         <td><?php print_r($this->escape($lobjCountry['PaperCode']));?></td>
         <td><?php print_r($this->escape($lobjCountry['ProgramName']));?></a></td> 
         <td><?php print_r($this->escape($lobjCountry['loginName']));?></a></td> 
         <td><?php print_r($this->escape($lobjCountry['UpdDate']));?></a></td> 
         <td width="20%" style="text-align:center;"><a href="<?php echo $this->url(array('module'=>'examination','controller'=>'createmanualquestionpaper', 'action'=>'pdfexport' ,'id'=>$lobjCountry['idquestiongroup']),'default',true);?>" ><?php print_r($this->escape("PDF"));?></a>
         	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         	<a href="<?php echo $this->url(array('module'=>'examination','controller'=>'createmanualquestionpaper', 'action'=>'excelexport' ,'id'=>$lobjCountry['idquestiongroup']),'default',true);?>" ><?php print_r($this->escape("Excel"));?></a>
         </td>   
         
         <td width="10%" style="text-align:center;">
         <a href="<?php echo $this->url(array('module'=>'examination','controller'=>'createmanualquestionpaper', 'action'=>'draftview' ,'indexdraft'=>'indexdraft','id'=>$lobjCountry['idquestiongroup']),'default',true);?>" ><?php print_r($this->escape("PDF"));?></a>
         </td>
     <?php endforeach; ?>
     <?php endif; ?>
                
    </tr>
   <tr>
	    <td colspan="8" align="right"><div class="pagination"><?php echo $this->paginationControl($this->lobjpaginator,'Sliding',
	                                    '/partials/my_pagination_control.phtml'); ?></div></td>
   	</tr>
</table>
</fieldset>     
</body>
</html>























