<head>
<script type="text/javascript">

</script>
</head>
	<fieldset>
		<!--  <form action="<?php echo $this->baseUrl();?>/examination/createmanualquestionpaper/lookupinsertion" method="POST" dojoType="dijit.form.Form"  id="myForm"  name= "myForm">
		-->
		<table id="itelookup"  class="table3" width="100%" cellpadding="5" cellspacing="1">
						<tr>        
							<th><?php echo $this->translate("SI.No")?></th> 
							<th><?php echo $this->translate("CheckBox")?></th>    					
							<th><?php echo $this->translate("IdQuestion")?></th>    
							<th><?php echo $this->translate("Question")?></th>  
						</tr>
						
						<?php $i=0;foreach($this->questions as $questions){?>
						<tr>
							<td><?php echo ++$i;?></td>
							<?php if(in_array($questions['idquestions'],$this->selquestions)){?>
								<td><input type="checkbox" checked value="<?php echo $questions['idquestions'];?>" class="test" onclick="fncounttotalchecked(this.value);" name="chk[<?php echo $questions['idquestions'];?>]" id="chk<?php echo $questions['idquestions'];?>" /></td>
							<?php }else{?>
							<td><input type="checkbox" value="<?php echo $questions['idquestions'];?>" class="test" onclick="fncounttotalchecked(this.value);" name="chk[<?php echo $questions['idquestions'];?>]" id="chk<?php echo $questions['idquestions'];?>" /></td>
							<?php }?>
							<td><?php echo $questions['idquestions']?></td>
							<td><?php echo $questions['Question']?></td>
							
						</tr>
						
						<input type="hidden" name="chapter" value="<?php echo $questions['QuestionNumber']?>"/>
						<input type="hidden" name="level" value="<?php echo $questions['QuestionLevel']?>"/>
						
						<?php }?>
						<input type="hidden" name="toscount"  id="toscount" value="<?php echo $this->toscount;?>"/>
						<input type="hidden" name="idtos" value="<?php echo $this->idtos;?>"/>
						<input type="hidden" name="idprogram" value="<?php echo $this->idprogram;?>"/>
	  </table>
	  
	  <table width="100%">
		  <tr align="center">
		 	 <td><input type="button" dojotype="dijit.form.Button" id="Close" name="Close" style='width:50px;' value="Close" onClick="closebox();">
		 	 <input type="button" dojotype="dijit.form.Button" id="Save" name="Save" style='width:50px;' value="Save" onClick="savebox(<?php echo $this->idtos;?>,'<?php echo $this->questions['0']['QuestionNumber'];?>',<?php echo $this->questions['0']['QuestionLevel']?>);"></td>
		  </tr>
	  </table>
	  <!-- </form> -->
	</fieldset>
