<html>
<head>
<script>
dojo.addOnLoad(function() {
	dijit.byId('field1').set('value','');
	dijit.byId('field1').set('placeHolder','Select');
	dijit.byId('field28').set('value','');
	dijit.byId('field28').set('placeHolder','Question Paper Code');
});

function fnsetname(){
	var val= dijit.byId("field28").value;
	document.getElementById('setname').value=val;
}

function fnsetrequired(){
	dijit.byId('field28').attr('required', true);
	dijit.byId('field1').attr('required',true);
}

/*function fnresetsetrequired(){
	//alert("search");
	dijit.byId('field28').attr('required',false);
	dijit.byId('field1').attr('required',false);
}*/




</script>
</head>
<body class="claro">
	<fieldset>
	<legend><?php echo "Create Manual Question Paper";?></legend>
	
       <!--   <form action="<?php echo $this->baseUrl();?>/examination/createmanualquestionpaper/view" method="POST" dojoType="dijit.form.Form"  id="myForm"  name= "myForm">-->
       <form action="" method="POST" dojoType="dijit.form.Form"  id="myForm"  name= "myForm">
            <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					  return true;
                } else {
                    return false;
                }
				</script>
            <table width="100%" border="0">
                <tr>
                  <td><?php echo "Question Paper Code";?><span>*</span></td>
                   <td ><?php echo $this->lobjform->field28;?></td>     
                   <td><?php echo "Course Name";?><span>*</span></td>
                   <td ><?php echo $this->lobjform->field1;?></td>      
                </tr> 
               <tr>
               	<td><br/></td>
               </tr>
               
                 <tr>
                 	<td></td>    
                           
              	 	<td align="right">
						
   						<input type="submit"  name="submit" value="submit" dojotype="dijit.form.Button" label="<?php echo "Create Manually";?>" onclick="return fnsetrequired();"/>
   						<input type="button"  name="Back" value="Back" dojotype="dijit.form.Button" label="<?php echo "Back";?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'examination','controller'=>'createmanualquestionpaper', 'action'=>'index'),'default',true);?>';" />
   						<input type="button"  name="Clear" value="Clear" dojotype="dijit.form.Button" label="<?php echo "Clear";?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'examination','controller'=>'createmanualquestionpaper', 'action'=>'newmanualset'),'default',true);?>';" />
						<input type="hidden" name="setname" id="setname" value=""/>
						
						<?php echo $this->lobjform->Clear;?>
					</td>
               </tr>
            </table>
          </form>	               	
    </fieldset>
    <br>
        
</body>
</html>























