<html>
<head>
<script>
dojo.addOnLoad(function()
		       {
	           });

function fngetpulleddetails(idcenter,edate,idsess){
	 var type = 'Pulled';
	 if(idcenter != "")
		{   
		    var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/reports/pullpushdata/getdetails/idcenter/"+idcenter+"/type/"+type+"/edate/"+edate+"/idsess/"+idsess,
					handleAs:'text',
					load:function(data){					
						document.getElementById('divLogin').style.display = 'block';						
						document.getElementById('divLogin2').style.display = 'block';
						document.getElementById('contentdiv').innerHTML = data;						
					}
			   }
			dojo.xhrGet(xhrArgs); 
		} 
}
function fngetpullfaileddetails(idcenter,edate,idsess){
	var type = 'NotPulled';
	 if(idcenter != "")
		{   
		    var xhrArgs = {
		    		url: "<?php echo $this->baseUrl();?>"+"/reports/pullpushdata/getdetails/idcenter/"+idcenter+"/type/"+type+"/edate/"+edate+"/idsess/"+idsess,
					handleAs:'text',
					load:function(data){					
						document.getElementById('divLogin').style.display = 'block';						
						document.getElementById('divLogin2').style.display = 'block';
						document.getElementById('contentdiv').innerHTML = data;						
					}
			   }
			dojo.xhrGet(xhrArgs); 
		} 
}
function fngetpusheddetails(idcenter,edate,idsess){
	var type = 'Pushed';
	 if(idcenter != "")
		{   
		    var xhrArgs = {
		    		url: "<?php echo $this->baseUrl();?>"+"/reports/pullpushdata/getdetails/idcenter/"+idcenter+"/type/"+type+"/edate/"+edate+"/idsess/"+idsess,
					handleAs:'text',
					load:function(data){					
						document.getElementById('divLogin').style.display = 'block';						
						document.getElementById('divLogin2').style.display = 'block';
						document.getElementById('contentdiv').innerHTML = data;						
					}
			   }
			dojo.xhrGet(xhrArgs); 
		} 
}
function fngetpushfaileddetails(idcenter,edate,idsess){
	 var type = 'NotPushed';
	 if(idcenter != "")
		{   
		    var xhrArgs = {
		    		url: "<?php echo $this->baseUrl();?>"+"/reports/pullpushdata/getdetails/idcenter/"+idcenter+"/type/"+type+"/edate/"+edate+"/idsess/"+idsess,
					handleAs:'text',
					load:function(data){					
						document.getElementById('divLogin').style.display = 'block';						
						document.getElementById('divLogin2').style.display = 'block';
						document.getElementById('contentdiv').innerHTML = data;						
					}
			   }
			dojo.xhrGet(xhrArgs); 
		} 
}
function Closefn()
	{
		document.getElementById('contentdiv').innerHTML = "";
		document.getElementById('divLogin').style.display = 'none';
		document.getElementById('divLogin2').style.display = 'none';
		
	}

function getcentres()
{    
	  iddate = dijit.byId("ExamDate");
      if(iddate != ''){ 
	  var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/reports/pullpushdata/fngetcentres/iddate/"+iddate,
				handleAs:'text',
				load:function(data){
					var myarray = data.split("##@#$$$");
					myarray[0] =  JSON.parse(myarray[0]);
					//myarray[1] =  JSON.parse(myarray[1]);
					AutoFillNextEditableDropDown("Centre",myarray[0]);
					//AutoFillNextEditableDropDown("Session",myarray[1]);
				}
		   }
		dojo.xhrGet(xhrArgs);
	}                                                                           
}
function getsessions(){
	 iddate = dijit.byId("ExamDate");
	 idcentre = dijit.byId("Centre");
     if(iddate != ''){
	  var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/reports/pullpushdata/fngetsessions/iddate/"+iddate+"/idcentre/"+idcentre,
				handleAs:'json',
				load:function(data){ 
					AutoFillNextEditableDropDown("Session",data);
				}
		   }
		dojo.xhrGet(xhrArgs);
	}
}
function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
	dijit.byId(EditableDropDownId).setValue("");
	var ddwidget = dijit.byId(EditableDropDownId);
	ddwidget.setAttribute('disabled', false);
	var options = {
				label:"name",
				identifier:"key",
				items:JSONText
			  };
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
}
function Printfn(id,dat,type,idsess)
{
	window.location = "<?php echo $this->baseurl()?>"+"/reports/pullpushdata/printdetails2/idcenter/"+id+"/type/"+type+"/edate/"+dat+"/idses/"+idsess  ;
}
</script>
</head>
<body class="claro">
	<fieldset>
	<legend><?php echo "Pull/Push Data Report";?></legend>
        <form dojoType="dijit.form.Form" id="myForm" name="myForm" action="<?php echo $this->baseUrl();?>/reports/pullpushdata" method="POST">
        <script type="dojo/method" event="onSubmit">
             if (this.validate()){
					return true;
                } else {
                    return false;
                }
			</script>
            <table width="100%">
                <tr>
                   <td><?php echo "Exam Date";?></td>
                   <td><?php echo $this->lobjform->ExamDate;?></td>  
                   <td><?php echo "Exam Centre";?></td>
                   <td><?php echo $this->lobjform->Centre;?></td> 
                </tr>   
                 <tr>
                <td colspan = "6" align = "Right"><?php echo $this->lobjform->Search;?>
					<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo "Clear"; ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'reports','controller'=>'pullpushdata', 'action'=>'index'),'default',true);?>';" />	
				</td>
               </tr>
            </table>
          </form>	               	
    </fieldset>
    <br>
    <fieldset>
    <form dojoType="dijit.form.Form" id="myForm1" name="myForm1" action="<?php echo $this->baseUrl();?>/reports/pullpushdata/printdetails" method="POST">
    <?php $centerarray = array(); $ColorArray = $this->larrColorArray; //echo "<pre>";print_r($ColorArray);//die();?>
    <table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr>
        <th><?php echo $this->translate("Exam Centre")?></th>
        <th><?php echo $this->translate("Exam Session")?></th>
        <th><?php echo $this->translate("Total Registered")?></th>
        <th><?php echo $this->translate("Pulled To local Server")?></th>
        <th><?php echo $this->translate("Not Pulled To local Server")?></th>
        <th><?php echo $this->translate("Pushed From local Server")?></th>
        <th><?php echo $this->translate("Not Pushed From local Server")?></th>
    </tr>
        <?php if (count($this->paginator)): ?>
        <?php foreach ($this->paginator as $lobjCountry ): ?>
     <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
    <?php   if(in_array($lobjCountry['idcenter'],$ColorArray['blue'])){  ?>
           <td style="font-family:verdana;color: #0000FF">
              <?php  if(!in_array($lobjCountry['centername'],$centerarray))
              {
      			$centerarray[] = $lobjCountry['centername'];		
				$centerarrays[$lobjCountry['centername']] = array();
				print_r($this->escape($lobjCountry['centername']));
              }?>
           </td>
          <?php  }
          elseif(in_array($lobjCountry['idcenter'],$ColorArray['red'])){ 
         ?>
           <td style="font-family:verdana;color: #FF0000"><?php  if(!in_array($lobjCountry['centername'],$centerarray))
              {
      			$centerarray[] = $lobjCountry['centername'];		
				$centerarrays[$lobjCountry['centername']] = array();
				print_r($this->escape($lobjCountry['centername']));
              }
           ?>
           </td>
           <?php }else{ ?>
           <td> <?php  if(!in_array($lobjCountry['centername'],$centerarray))
              {
      			$centerarray[] = $lobjCountry['centername'];		
				$centerarrays[$lobjCountry['centername']] = array();
				print_r($this->escape($lobjCountry['centername']));
              }
             ?>
           </td>
           <?php }?>
      <input type="hidden" name="Centre" id="Centre" value="<?php echo $this->centre;?>">
       <?php if($lobjCountry['Pulled']>0 && $lobjCountry['Pushed']>0){ ?>
       <td style="font-family:verdana;color: #0000FF;"><?php print_r($this->escape($lobjCountry['managesessionname']));?></td><?php }
       elseif( $lobjCountry['Pulled']>0){?>
       			<td style="font-family:verdana;color: #FF0000;"><?php print_r($this->escape($lobjCountry['managesessionname']));?></td><?php 
           }else{?>
           <td ><?php print_r($this->escape($lobjCountry['managesessionname']));?></td>
           <?php }?>
      <input type="hidden" name="Session" id="Session" value="<?php echo $this->Sess;?>">   
      <td align = "center"><?php print_r($this->escape($lobjCountry['Registered']));?></td><input type="hidden" name="ExamDate" id="ExamDate" value="<?php echo $this->examdate;?>">
      <td align = "center"><?php if($lobjCountry['Pulled']>0){?><span style="position: absolute;top:relative;" id="checks"></span><a href="javascript:fngetpulleddetails('<?php echo $lobjCountry['idcenter']?>','<?php echo $this->examdate?>','<?php echo $lobjCountry['idmangesession']?>');" style="color: #0000FF" ><?php print_r($this->escape($lobjCountry['Pulled']));}else{ echo 0;}?></a></td> 
      <td align = "center"><?php if($lobjCountry['NotPulled']>0){?><span style="position: absolute;top:relative;" id="checks"></span><a href="javascript:fngetpullfaileddetails('<?php echo $lobjCountry['idcenter']?>','<?php echo $this->examdate?>',<?php echo $lobjCountry['idmangesession']?>);" style="color: #000000"><?php print_r($this->escape($lobjCountry['NotPulled']));}else{ echo 0;}?></a></td>
      <td align = "center"><?php if($lobjCountry['Pushed']>0){?><span style="position: absolute;top:relative;" id="checks"></span><a href="javascript:fngetpusheddetails('<?php echo $lobjCountry['idcenter']?>','<?php echo $this->examdate?>','<?php echo $lobjCountry['idmangesession']?>');" style="color: #0000FF"><?php print_r($this->escape($lobjCountry['Pushed']));}else{ echo 0;}?></a> </td> 
      <td align = "center"><?php if($lobjCountry['NotPushed']>0){?><span style="position: absolute;top:relative;" id="checks"></span><a href="javascript:fngetpushfaileddetails('<?php echo $lobjCountry['idcenter']?>','<?php echo $this->examdate?>','<?php echo $lobjCountry['idmangesession']?>');" style="color: #FF0000"><?php print_r($this->escape($lobjCountry['NotPushed']));}else{ echo 0;}?></a>
      </td>
    </tr>
     <?php endforeach;?> 
     <?php endif; ?>
    <?php if($this->examdate){?>
      <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	  <td colspan="12" align="right"><?php echo $this->lobjform->PrintPDF?></td>
      </tr>
     <?php } ?> 
</table>
</form>
</fieldset>  
<div runat="server" id="divLogin"  style="display:none; z-index: 153; position: fixed; left: 23%; width: 750px; top:5%">
  <div runat="server" id="divLogin2"  style="display:none; opacity:1.0; z-index: 150; position: relative; left: 0%; height: 100%; width: 100%; top: 0%;"> </div>
					                <div id="scroll" style="height: 600px; width: 100%; overflow:auto;">
					                        <table style="height: 125px; width: 100%; background-color: #FFFFFF;" border="3" frame="box">
					                            <tbody>
					                                <tr>
					                                    <td align="right">
					                                    	<div id="contentdiv"></div>					                                      
					                                   </td>
					                                </tr>
					                            </tbody>
					                        </table>
    							   </div>
</div>   
<br/>
</body>
</html>