<html>
<head>
<script>
dojo.addOnLoad(function(){
	
	});
</script>
</head>
<body class='claro'>
<fieldset>
	<legend><?php echo $this->translate("Age Statistics").' '.$this->translate("Report");?></legend>
<?php if ($this->searchdate): ?>
<fieldset>
<form id="myForm1" name = "myform1" action="<?php echo $this->baseUrl();?>/reports/agestatistics/fnexportexcel" method="POST">
    <table class="table" width="100%" cellpadding="5" cellspacing="1">
    <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
        <th><?php echo $this->translate(" ");?></th>
        <th align ="center" colspan = 11 ><b><?php echo $this->translate("$this->month").' '.$this->translate("$this->year");?></b></th>
    </tr> 
     <tr>
        <th align ="center"><b><?php echo $this->translate("Age") ?></b></th>
        <th align ="center"><b><?php echo $this->translate("18-21") ?></b></th>
        <th align ="center"><b><?php echo $this->translate("22-25") ?></b></th>
        <th align ="center"><b><?php echo $this->translate("26-29") ?></b></th>
        <th align ="center"><b><?php echo $this->translate("30-34") ?></b></th>
        <th align ="center"><b><?php echo $this->translate("35-39") ?></b></th>
        <th align ="center"><b><?php echo $this->translate("40-44") ?></b></td>
        <th align ="center"><b><?php echo $this->translate("45-49") ?></b></th>
        <th align ="center"><b><?php echo $this->translate("50-54") ?></b></th>
        <th align ="center"><b><?php echo $this->translate("55-59") ?></b></th>
        <th align ="center"><b><?php echo $this->translate("60 Above") ?></b></th>
        <th align ="center"><b><?php echo $this->translate("Total") ?></b></th>
     </tr>
      <?php  $lobjCountry = $this->larrracescount;  ?>
      <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
      <td><b><?php echo "Registered";?></b></td>
      <td><?php echo $lobjCountry['18-21'];?><input type="hidden" name="18-21" id="18-21" value="<?php echo $lobjCountry['18-21'];?>"></td>
      <td><?php echo $lobjCountry['22-25'];?><input type="hidden" name="22-25" id="22-25" value="<?php echo $lobjCountry['22-25'];?>"></td>
      <td><?php echo $lobjCountry['26-29'];?><input type="hidden" name="26-29" id="26-29" value="<?php echo $lobjCountry['26-29'];?>"></td>
      <td><?php echo $lobjCountry['30-34'];?><input type="hidden" name="30-34" id="30-34" value="<?php echo $lobjCountry['30-34'];?>"></td>
      <td><?php echo $lobjCountry['35-39'];?><input type="hidden" name="35-39" id="35-39" value="<?php echo $lobjCountry['35-39'];?>"></td>
      <td><?php echo $lobjCountry['40-44'];?><input type="hidden" name="40-44" id="40-44" value="<?php echo $lobjCountry['40-44'];?>"></td>
      <td><?php echo $lobjCountry['45-49'];?><input type="hidden" name="45-49" id="45-49" value="<?php echo $lobjCountry['45-49'];?>"></td>
      <td><?php echo $lobjCountry['50-54'];?><input type="hidden" name="50-54" id="50-54" value="<?php echo $lobjCountry['50-54'];?>"></td>
      <td><?php echo $lobjCountry['55-59'];?><input type="hidden" name="55-59" id="55-59" value="<?php echo $lobjCountry['55-59'];?>"></td>
      <td><?php echo $lobjCountry['60Above'];?><input type="hidden" name="60Above" id="60Above" value="<?php echo $lobjCountry['60Above'];?>"></td>
      <td><?php echo $lobjCountry['regtotal'];?><input type="hidden" name="regtotal" id="regtotal" value="<?php echo $lobjCountry['regtotal'];?>"></td>
      </tr>
      <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
      <td><b><?php echo "Sat";?></b></td>
      <td><?php echo $lobjCountry['18-21sat'];?><input type="hidden" name="18-21sat" id="18-21sat" value="<?php echo $lobjCountry['18-21sat'];?>"></td>
      <td><?php echo $lobjCountry['22-25sat'];?><input type="hidden" name="22-25sat" id="22-25sat" value="<?php echo $lobjCountry['22-25sat'];?>"></td>
      <td><?php echo $lobjCountry['26-29sat'];?><input type="hidden" name="26-29sat" id="26-29sat" value="<?php echo $lobjCountry['26-29sat'];?>"></td>
      <td><?php echo $lobjCountry['30-34sat'];?><input type="hidden" name="30-34sat" id="30-34sat" value="<?php echo $lobjCountry['30-34sat'];?>"></td>
      <td><?php echo $lobjCountry['35-39sat'];?><input type="hidden" name="35-39sat" id="35-39sat" value="<?php echo $lobjCountry['35-39sat'];?>"></td>
      <td><?php echo $lobjCountry['40-44sat'];?><input type="hidden" name="40-44sat" id="40-44sat" value="<?php echo $lobjCountry['40-44sat'];?>"></td>
      <td><?php echo $lobjCountry['45-49sat'];?><input type="hidden" name="45-49sat" id="45-49sat" value="<?php echo $lobjCountry['45-49sat'];?>"></td>
      <td><?php echo $lobjCountry['50-54sat'];?><input type="hidden" name="50-54sat" id="50-54sat" value="<?php echo $lobjCountry['50-54sat'];?>"></td>
      <td><?php echo $lobjCountry['55-59sat'];?><input type="hidden" name="55-59sat" id="55-59sat" value="<?php echo $lobjCountry['55-59sat'];?>"></td>
      <td><?php echo $lobjCountry['60Abovesat'];?><input type="hidden" name="60Abovesat" id="60Abovesat" value="<?php echo $lobjCountry['60Abovesat'];?>"></td>
      <td><?php echo $lobjCountry['sattotal'];?><input type="hidden" name="sattotal" id="sattotal" value="<?php echo $lobjCountry['sattotal'];?>"></td>
      </tr>
      <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
      <td><b><?php echo "Pass";?></b></td>
      <td><?php echo $lobjCountry['18-21pass'];?><input type="hidden" name="18-21pass" id="18-21pass" value="<?php echo $lobjCountry['18-21pass'];?>"></td>
      <td><?php echo $lobjCountry['22-25pass'];?><input type="hidden" name="22-25pass" id="22-25pass" value="<?php echo $lobjCountry['22-25pass'];?>"></td>
      <td><?php echo $lobjCountry['26-29pass'];?><input type="hidden" name="26-29pass" id="26-29pass" value="<?php echo $lobjCountry['26-29pass'];?>"></td>
      <td><?php echo $lobjCountry['30-34pass'];?><input type="hidden" name="30-34pass" id="30-34pass" value="<?php echo $lobjCountry['30-34pass'];?>"></td>
      <td><?php echo $lobjCountry['35-39pass'];?><input type="hidden" name="35-39pass" id="35-39pass" value="<?php echo $lobjCountry['35-39pass'];?>"></td>
      <td><?php echo $lobjCountry['40-44pass'];?><input type="hidden" name="40-44pass" id="40-44pass" value="<?php echo $lobjCountry['40-44pass'];?>"></td>
      <td><?php echo $lobjCountry['45-49pass'];?><input type="hidden" name="45-49pass" id="45-49pass" value="<?php echo $lobjCountry['45-49pass'];?>"></td>
      <td><?php echo $lobjCountry['50-54pass'];?><input type="hidden" name="50-54pass" id="50-54pass" value="<?php echo $lobjCountry['50-54pass'];?>"></td>
      <td><?php echo $lobjCountry['55-59pass'];?><input type="hidden" name="55-59pass" id="55-59pass" value="<?php echo $lobjCountry['55-59pass'];?>"></td>
      <td><?php echo $lobjCountry['60Abovepass'];?><input type="hidden" name="60Abovepass" id="60Abovepass" value="<?php echo $lobjCountry['60Abovepass'];?>"></td>
      <td><?php echo $lobjCountry['passtotal'];?><input type="hidden" name="passtotal" id="passtotal" value="<?php echo $lobjCountry['passtotal'];?>"></td>
      </tr>
      <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
      <td><b><?php echo "Fail";?></b></td>
      <td><?php echo $lobjCountry['18-21fail'];?><input type="hidden" name="18-21fail" id="18-21fail" value="<?php echo $lobjCountry['18-21fail'];?>"></td>
      <td><?php echo $lobjCountry['22-25fail'];?><input type="hidden" name="22-25fail" id="22-25fail" value="<?php echo $lobjCountry['22-25fail'];?>"></td>
      <td><?php echo $lobjCountry['26-29fail'];?><input type="hidden" name="26-29fail" id="26-29fail" value="<?php echo $lobjCountry['26-29fail'];?>"></td>
      <td><?php echo $lobjCountry['30-34fail'];?><input type="hidden" name="30-34fail" id="30-34fail" value="<?php echo $lobjCountry['30-34fail'];?>"></td>
      <td><?php echo $lobjCountry['35-39fail'];?><input type="hidden" name="35-39fail" id="35-39fail" value="<?php echo $lobjCountry['35-39fail'];?>"></td>
      <td><?php echo $lobjCountry['40-44fail'];?><input type="hidden" name="40-44fail" id="40-44fail" value="<?php echo $lobjCountry['40-44fail'];?>"></td>
      <td><?php echo $lobjCountry['45-49fail'];?><input type="hidden" name="45-49fail" id="45-49fail" value="<?php echo $lobjCountry['45-49fail'];?>"></td>
      <td><?php echo $lobjCountry['50-54fail'];?><input type="hidden" name="50-54fail" id="50-54fail" value="<?php  echo $lobjCountry['50-54fail'];?>"></td>
      <td><?php echo $lobjCountry['55-59fail'];?><input type="hidden" name="55-59fail" id="55-59fail" value="<?php echo $lobjCountry['55-59fail'];?>"></td>
      <td><?php echo $lobjCountry['60Abovefail'];?><input type="hidden" name="60Abovefail" id="60Abovefail" value="<?php echo $lobjCountry['60Abovefail'];?>"></td>
      <td><?php echo $lobjCountry['failtotal'];?><input type="hidden" name="failtotal" id="failtotal" value="<?php echo $lobjCountry['failtotal'];?>"></td>
      </tr>
      <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>"><input type="hidden" name="selmonth" id="selmonth" value="<?php echo $this->month.'_'.$this->year;?>"></td>
      <td><b><?php echo "Absent";?></b></td>
      <td><?php echo $lobjCountry['18-21absent'];?><input type="hidden" name="18-21absent" id="18-21absent" value="<?php echo $lobjCountry['18-21absent'];?>"></td>
      <td><?php echo $lobjCountry['22-25absent'];?><input type="hidden" name="22-25absent" id="22-25absent" value="<?php echo $lobjCountry['22-25absent'];?>"></td>
      <td><?php echo $lobjCountry['26-29absent'];?><input type="hidden" name="26-29absent" id="26-29absent" value="<?php echo $lobjCountry['26-29absent'];?>"></td>
      <td><?php echo $lobjCountry['30-34absent'];?><input type="hidden" name="30-34absent" id="30-34absent" value="<?php echo $lobjCountry['30-34absent'];?>"></td>
      <td><?php echo $lobjCountry['35-39absent'];?><input type="hidden" name="35-39absent" id="35-39absent" value="<?php echo $lobjCountry['35-39absent'];?>"></td>
      <td><?php echo $lobjCountry['40-44absent'];?><input type="hidden" name="40-44absent" id="40-44absent" value="<?php echo $lobjCountry['40-44absent'];?>"></td>
      <td><?php echo $lobjCountry['45-49absent'];?><input type="hidden" name="45-49absent" id="45-49absent" value="<?php echo $lobjCountry['45-49absent'];?>"></td>
      <td><?php echo $lobjCountry['50-54absent'];?><input type="hidden" name="50-54absent" id="50-54absent" value="<?php echo $lobjCountry['50-54absent'];?>"></td>
      <td><?php echo $lobjCountry['55-59absent'];?><input type="hidden" name="55-59absent" id="55-59absent" value="<?php echo $lobjCountry['55-59absent'];?>"></td>
      <td><?php echo $lobjCountry['60Aboveabsent'];?><input type="hidden" name="60Aboveabsent" id="60Aboveabsent" value="<?php echo $lobjCountry['60Aboveabsent'];?>"></td>
      <td><?php echo $lobjCountry['absenttotal'];?><input type="hidden" name="absenttotal" id="absenttotal" value="<?php echo $lobjCountry['absenttotal'];?>"></td>
      </tr>
      <tr style="background-color:<?php echo $this->cycle(array("#F0F0F0","#FFFFFF"))->next()?>">
	  <td colspan="12" align="right"><?php echo $this->lobjform->ExportToExcel?>
	  <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'reports','controller'=>'statistics', 'action'=>'index'),'default',true);?>';" />
      </tr>
      </table>
        <?php //endif; ?>
        </form>
</fieldset> 
<?php endif; ?>
</form>
</body>
</html>
