<html>
<head>

</head>
<body class="claro">            
	
	<?php if($this->mess){?>
	
	<fieldset>
	<legend><?php echo $this->translate->_("Takaful Operator Payment Details");?></legend>
		 <form dojoType="dijit.form.Form"  id="myFormform" action="" method="post"  name= "myFormform" >
			<?php echo $this->mess;?>	
	    	   <table class="table" width="100%" >
                    	
                   
                       <td></td>
                       <td></td>
                       <td></td>        
                     
					   <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("ok"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'finance','controller'=>'companypayment', 'action'=>'index'),'default',true);?>';" />	
                       </td> 
                    </tr>       
            </table>	
            	
		</form>
	</fieldset>
	<?php }else {?>
	
	
		<fieldset >
	<legend><?php echo $this->translate->_("Takaful Operator Payment Details");?></legend>
		 <form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm" >
			<script type="dojo/method" event="onSubmit" >
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>	
			
			
		    <table class="table" width="100%" cellpadding="5" cellspacing="1">
		    		  <?php $amountPaidInParticulars = 0;?>
		<thead>
		  <tr>
                          <th colspan = "4"><?php echo $this->translate("Candidate's Course Details");?></th>
                     </tr>
    		<tr>
				<th><?php echo $this->translate->_("Course Name");?></th>
				<th><?php echo $this->translate->_("Number Of Candidates");?></th>
			   <th><?php echo $this->translate->_("Discount");?></th>
			    <th><?php echo $this->translate->_("Amount(RM)");?></th>
									
    		</tr>
    	</thead>
		       
		        <?php foreach ($this->coursedetails as $larrchequedetails): 
		        		$amountPaidInParticulars += ($larrchequedetails['toatlAmount']);
		        ?>
		        <tr>         	
		        	<td><?php echo $this->escape($larrchequedetails['ProgramName']);?></td>
		           <td><?php echo $this->escape($larrchequedetails['noofCandidates']);?></td>        		
		        <td><?php echo $this->escape($larrchequedetails['discount']);?></td>
		        	<td><?php echo $this->escape($larrchequedetails['toatlAmount']);?></td>
		        </tr>
		        <?php endforeach; ?>   
		        <tr>         			        	
		        	<td></td>
		        	<td></td>				        	
		        	<td align="right"><?php echo $this->translate->_("Total");?></td>
		        	<td> <?php echo $amountPaidInParticulars; ?></td>
		        	<td></td>
		        </tr>  
		        <tr>		        	
      			      
        			  <td colspan="3"><?php echo $this->lobjCompanypaymentForm->Amount;?></td>		
        		    </tr>
		         <tr>
		          <input type="hidden" name="companymail" id="companymail" value="<?php echo $this->companyemail;?>">
        		       <input type="hidden" name="companyname" id="companyname" value="<?php echo $this->companyname;?>">
        		       <input type="hidden" name="address" id="address" value="<?php echo $this->address;?>">
        		        <input type="hidden" name="loginname" id="loginname" value="<?php echo $this->username;?>">
        		         <input type="hidden" name="password" id="password" value="<?php echo $this->password;?>">
                       <td></td>
                       <td></td>
                       <td></td>        
                       <td align = "right"><?php echo $this->lobjCompanypaymentForm->Approve;?>
					   <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'finance','controller'=>'approvecreditstudent', 'action'=>'index'),'default',true);?>';" />	
                       </td> 
                    </tr>   		
            </table>  	
           
            	
		</form>
	</fieldset>
	<?php }?>
</body>
</html>
          