
<script type="text/javascript">
    dojo.require("dijit.form.TimeTextBox");
    dojo.addOnLoad(function() {
    	
    	
       
    });
    
    function fnonloadhidevenue()
    {
    	var onloadhide = <?php echo $this->onload;?>;
    	if(onloadhide==1)
    	{
    	document.getElementById('venue').style.display='none';
    	document.getElementById('venue1').style.display='none';
    	document.getElementById('venue2').style.display='none';
    	}
    }
function fnhidevenue()
{
	
	document.getElementById('venue').style.display='none';
	document.getElementById('venue1').style.display='none';
	document.getElementById('venue2').style.display='none';
	
}
    function fngetexceptiondates(iddate)
    {
       var dts = dijit.byId('Date');
       if(dts!='')
       {
       var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/scheduler/onedayscheduler/getexceptionaldate/iddate/"+dts,
				handleAs:'text',
				load:function(data){ 
					if(data=='1')
					{
						 alert('The selected date is exceptional date please select other date');
						 dijit.byId('Date').set('value','NULL');
					}
				}
		   }
		dojo.xhrGet(xhrArgs); 
       }
    }

    function checkAll(){
     	nodes = dojo.query('[name=\"idcenter[]\"]');
     	if(document.getElementById('idcenter').checked == true) {		 
     		
     		dojo.forEach(nodes,
     		    function(node)
     		    {
     		        dijit.getEnclosingWidget(node).set("checked",true);
     		    }
     		);
     	}
     	else {	
     		dojo.forEach(nodes,
     			    function(node)
     			    {
     			        dijit.getEnclosingWidget(node).set("checked",false);
     			    }
     			);
     	}
     }

    function validateform(){
        
      	
      
      }
  
  function filldown()
  {
	  var sessid = dijit.byId('session');
	 
	  if(sessid!='')
      {
      var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/scheduler/onedayscheduler/fninserttempsession/idsession/"+sessid,
				handleAs:'json',
				load:function(data){ 
					AutoFillNextEditableDropDown("session",data);


					 var xhrArgs = {
								url: "<?php echo $this->baseUrl();?>"+"/scheduler/onedayscheduler/fninserttext/idsession/"+sessid,
								handleAs:'text',
								load:function(data){ 
									document.getElementById('ses2').innerHTML=data;
								}
						   }
						dojo.xhrGet(xhrArgs);
				}
		   }
		dojo.xhrGet(xhrArgs); 

		
       
      }
  }
  function fillvenue()
  {
	  var venid = dijit.byId('venue');
	  var cap = dijit.byId('capacity').value;
	  
	  if(venid!='')
      { 
		  var xhrArgs = {
					url: "<?php echo $this->baseUrl();?>"+"/scheduler/onedayscheduler/fninserttempvenue/idvenue/"+venid+"/capacity/"+cap,
					handleAs:'json',
					load:function(data){
						AutoFillNextEditableDropDown("venue",data);

						 var xhrArgs = {
									url: "<?php echo $this->baseUrl();?>"+"/scheduler/onedayscheduler/fninsertvenuetext/idvenue/"+venid,
									handleAs:'text',
									load:function(data){ 
										document.getElementById('ven2').innerHTML=data;
										document.getElementById('capacity').value='';
									}
							   }
							dojo.xhrGet(xhrArgs);	 
						
					}
			   }
			dojo.xhrGet(xhrArgs);


		 
      }
  }
  
  function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
		dijit.byId(EditableDropDownId).setValue("");
		var ddwidget = dijit.byId(EditableDropDownId);
		ddwidget.setAttribute('disabled', false);
		var options = {
					label:"name",
					identifier:"key",
					items:JSONText
				  };
		ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
	}                    
   
  function fngetdateinwords()
  {
	  var dat = dijit.byId('Date');
	  var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/scheduler/onedayscheduler/fngetdateinwords/dat/"+dat,
				handleAs:'text',
				load:function(data){ 
					document.getElementById('description').value = data;
				}
		   }
		dojo.xhrGet(xhrArgs);
  } 
</script> 

<body onload="fnonloadhidevenue();">
<fieldset>
    <legend><?php echo $this->translate("New Scheduler");?></legend>
    
                <Form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">
                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>
                    <table class="table" width="100%" >
                    <?php $editsessionarray = $this->editsessionarray;$schedulercoursearray = $this->schedulercoursearray?>
                        <tr>
                            <th colspan = "4"><?php echo $this->translate("Scheduler").' '.$this->translate("Details");?>	<?php echo $this->lobjonedayschedulermodelForm->UpdDate;?>
                            	<?php echo $this->lobjonedayschedulermodelForm->UpdUser;?></th>
                        </tr>
                         <tr>
                            <td><?php echo $this->translate("Select").' '.$this->translate("Date");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjonedayschedulermodelForm->Date;?>
                            </td>
                        </tr>
                         <tr>
                            <td ><?php echo $this->translate("Description");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjonedayschedulermodelForm->description;?>
                            </td>
                        </tr>
                          <tr>
                            <th colspan = "4"><?php echo $this->translate($this->Course).' '.$this->translate("Master");?></th>
                        </tr>
                          <tr>
                            <td valign="top"><?php echo $this->translate("Select").' '.$this->translate("Examination").' '.$this->translate("Type");?><span class="reqMark">*</span></td> 
                            <td>
                             <?php $mn=0; $active=$this->activeset; $cnt=0; foreach ($this->courses as $larrcenter ): $cnt++?>
                    
                         <input type="checkbox" dojoType="dijit.form.CheckBox" name="idprogram[]" value="<?php echo $larrcenter['IdProgrammaster'];?>" id="idprogram<?php echo $cnt;?>" <?php if(in_array($larrcenter['IdProgrammaster'],$schedulercoursearray)){?> checked<?php }?>><?php  echo $larrcenter['ProgramName'];?><?php  //echo ' '.'('.$active[$mn]['BatchName'].')';?><br>
     		            <?php $mn++; endforeach; ?>
                            </td>
                            </tr>
                           <tr>
                            <th colspan = "4"><?php echo $this->translate("Session").' '.$this->translate("Master");?></th>
                           </tr>
                             <tr>
                               <td valign="top"><?php echo $this->translate("Select").' '.$this->translate("Session");?><span class="reqMark">*</span></td> 
                               <td><?php echo $this->lobjonedayschedulermodelForm->session;?>
                                <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("ADD"); ?>" onclick="javascript:filldown();"</td></tr>
                             <tr> 
                             <td colspan ="2" align = "Center" id="ses2"></td>  
                             </tr>
                             <?php $larraysessionresults = $this->managesession;for($i=0;$i<count($larraysessionresults);$i++){?>
                             <tr>  <td colspan="2" align="center"><input type="hidden" name="session[]" id="session" value="<?php echo $larraysessionresults[$i]['idsession']?>"><?php echo $larraysessionresults[$i]['managesessionname'].'('.$larraysessionresults[$i]['starttime'].'-'.$larraysessionresults[$i]['endtime'].')'?></td></tr>
                             <?php }?>
                              <tr><td colspan="4" align="center"><input type="submit" dojotype="dijit.form.Button" name='Next' id='Next' value='Next' label="<?php echo $this->translate("Next"); ?>" onClick="return validateform();"></td>
                             </tr>
                            <?php if($this->onload==0){?>
                              <tr>
                               <td valign="top"><?php echo $this->translate("Select").' '.$this->translate("Venue");?><span class="reqMark">*</span></td> 
                               <td><?php echo $this->lobjonedayschedulermodelForm->venue;?><?php echo $this->lobjonedayschedulermodelForm->capacity;?>
                               <input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("ADD"); ?>" onclick="javascript:fillvenue();"</td></tr>
                              <tr> 
                             <td colspan ="2" align = "Center" id="ven2"></td>  
                             </tr>
                            <?php }?>
               			<tr>
                            <td colspan=4 align = "right">
                            <input type="submit" class="NormalBtn" dojotype="dijit.form.Button" id="Save" name="Save" value="Save" label="<?php echo $this->translate("Save");?>" onClick="return validateform();"/>									
							<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'scheduler','controller'=>'newscheduler', 'action'=>'index'),'default',true);?>';" />	
                            </td> 
                        </tr>           
              </table>
            
            </Form>

</fieldset>
</body>