
<script type="text/javascript">
    dojo.addOnLoad(function() {
       
   	 var years = dijit.byId('Year');
     //alert(years);
  	fnGetMonthList(years);
    });

 function fnGetMonthList(idyear)
 {
	 var idnewscheduler = <?php echo $this->idnewscheduler;?>;
	 if(idnewscheduler !='')
	 {
	 	var xhrArgs = {
				url: "<?php echo $this->baseUrl();?>"+"/scheduler/newscheduler/getfrommonth/idnewscheduler/"+idnewscheduler+"/idyear/"+idyear,
				handleAs:'json',
				load:function(data){ 
					AutoFillNextEditableDropDown("From",data); 
				}
		   }
		dojo.xhrGet(xhrArgs);
	 }  
 }

 function fnGetToMonthList(idmonth){ 
	 	if(idmonth != "")
	 		{  
	 		var xhrArgs = {
	 				url: "<?php echo $this->baseUrl();?>"+"/scheduler/newscheduler/gettomonthlist/idmonth/"+idmonth,
	 				handleAs:'json',
	 				load:function(data){ 
	 					AutoFillNextEditableDropDown("To",data); 
	 				}
	 		   }
	 		dojo.xhrGet(xhrArgs);  
	 			
	 		} 
	 	} 

	
 function AutoFillNextEditableDropDown(EditableDropDownId,JSONText){
		dijit.byId(EditableDropDownId).setValue("");
		var ddwidget = dijit.byId(EditableDropDownId);
		ddwidget.setAttribute('disabled', false);
	var options = {
					label:"name",
					identifier:"key",
					items:JSONText
				  };
	ddwidget.store = new dojo.data.ItemFileReadStore( { data: options } );
	}
</script>
</script> 
<fieldset>
    <legend><?php echo $this->translate("Schedule");?></legend>
    
                <Form dojoType="dijit.form.Form"  id="myForm" action="" method="post"  name= "myForm">
                <script type="dojo/method" event="onSubmit">
                if (this.validate()) {
					return true;
                } else {
                    return false;
                }
				</script>
                    <table class="table" width="100%" >
                        <tr>
                            <th colspan = "4"><?php echo $this->translate("Schedule").' '.$this->translate("Details");?>	<?php echo $this->lobjprogramForm->UpdDate;?>
                            	<?php echo $this->lobjprogramForm->UpdUser;?></th>
                        </tr>
                          <tr>
                            <td ><?php echo $this->translate("Select").' '.$this->translate("Year");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjprogramForm->Year;?>
                            </td>
                        </tr>
                        <tr>
                            <td ><?php echo $this->translate("Select").' '.$this->translate("Month");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->translate("From")?><?php echo $this->lobjprogramForm->From;?><?php echo $this->translate("To")?><?php echo $this->lobjprogramForm->To;?>
                            </td>
                        </tr>
                       
                             <tr>
                            <td ><?php echo $this->translate("Description");?><span class="reqMark">*</span></td>
                            <td ><?php echo $this->lobjprogramForm->description;?>
                            </td>
                        </tr>
                        
                         <tr>
                            <th colspan = "4"><?php echo $this->translate("Days");?></th>
                        </tr>
                          <tr>
                            <td valign="top"><?php echo $this->translate("Select").' '.$this->translate("Days");?><span class="reqMark">*</span></td>
                         	  <td>
                             <?php $cnt4=0; $schedulerdaysarray = $this->schedulerdays;foreach ($this->days as $larrdays ): $cnt4++?>
                         <input type="checkbox" dojoType="dijit.form.CheckBox" name="iddays[]" value="<?php echo $larrdays['iddays'];?>" id="iddays<?php echo $cnt4;?>"  <?php if(in_array($larrdays['iddays'],$schedulerdaysarray)){?> checked<?php }?>><?php  echo $larrdays['Days'];?><br>
     		            <?php  endforeach; ?>
                              </td>
                         </tr>
                          <tr>
                            <th colspan = "4"><?php echo $this->translate($this->Course).' '.$this->translate("Master");?></th>
                        </tr>
                          <tr>
                            <td valign="top"><?php echo $this->translate("Select").' '.$this->translate("Examination").' '.$this->translate("Type");?><span class="reqMark">*</span></td> 
                            <td>
                             <?php $cnt=0; $mn=0; $active=$this->activeset;$schedulercoursearray = $this->schedulercourse; foreach ($this->courses as $larrcenter ): $cnt++?>
                    
                         <input type="checkbox" dojoType="dijit.form.CheckBox" name="idprogram[]" value="<?php echo $larrcenter['IdProgrammaster'];?>" id="idprogram<?php echo $cnt;?>" <?php if(in_array($larrcenter['IdProgrammaster'],$schedulercoursearray)){?> checked<?php }?>><?php  echo $larrcenter['ProgramName'];?><?php  //echo ' '.'('.$active[$mn]['BatchName'].')';?><br>
     		              <?php  endforeach; ?>
                              </td>
                            
                            </tr>
                           <tr>
                            <th colspan = "4"><?php echo $this->translate("Session").' '.$this->translate("Master");?></th>
                           </tr>
                             <tr>
                            <td valign="top"><?php echo $this->translate("Select").' '.$this->translate("Session");?><span class="reqMark">*</span></td> 
                            <td>
                             <?php $cnt1=0; $editsessionarray = $this->schedulersession;foreach ($this->mansession as $larrsession ): $cnt1++?>
                    
                         <input type="checkbox" dojoType="dijit.form.CheckBox" name="idsession[]" value="<?php echo $larrsession['idmangesession'];?>" id="idsession<?php echo $cnt1;?>" <?php if(in_array($larrsession['idmangesession'],$editsessionarray)){?> checked<?php }?>><?php  echo $larrsession['managesessionname'];?><?php  echo '('.''.$larrsession['starttime'].' '.$this->translate("To").' '.$larrsession['endtime'].')';?><br>
     		            <?php  endforeach; ?>
                              </td>
                            
                            </tr>
                             <tr>
                            <th colspan = "4"><?php echo $this->translate($this->Center).' '.$this->translate("Master");?></th>
                           </tr>
                             <tr>
                            <td valign="top"><?php echo $this->translate("Select").' '.$this->translate("Venue");?><span class="reqMark">*</span></td> 
                           <td>
                            <table>
                             <?php  $cnt2=0;$i=0; $schedulervenuearray = $this->schedulervenue;foreach ($this->centerarray as $larrcenter ):$cnt2++;?>
                    <tr><td>
                         <input type="checkbox" dojoType="dijit.form.CheckBox" name="idcenter[]" value="<?php echo $larrcenter['idcenter'];?>" id="idcenter<?php echo $cnt2;?>" <?php if(in_array($larrcenter['idcenter'],$schedulervenuearray)){?> checked <?php ;}?> ></td><td><?php echo  $larrcenter['centername'];?></td><td>Sit Capacity:</td><td><input type="text" name='capacity[<?php echo $larrcenter['idcenter'];?>]' value='<?php if(in_array($larrcenter['idcenter'],$schedulervenuearray)){ echo $schedulervenuearray[$i]['Totalcapacity']; $i++; } else echo "0";?>' id='capacity<?php echo $larrcenter['idcenter'];?>'></td>
                         </tr>
     		            <?php endforeach; ?></table>
                              </td>
                            
                            </tr>
                            <tr>
                            <td><?php echo $this->translate("Active");?><span class="reqMark">*</span></td>
                            <td><?php echo $this->lobjprogramForm->Active;?></td>
                        </tr>
               			<tr>
                            <td colspan=4 align = "right"><?php echo  $this->lobjprogramForm->Save;?>
							<input type="button" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Back"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'scheduler','controller'=>'newscheduler', 'action'=>'index'),'default',true);?>';" />	
                            </td> 
                               
                        </tr>           
                        
              </table>
            
            </Form>

</fieldset>
