<head>
<script>
dojo.addOnLoad(function(){
	
	});
</script>
</head>
	<fieldset>
		<legend><?php echo $this->translate("Attendence Report");?></legend>
         <form action="<?php echo $this->baseUrl();?>/general-setup/attendencereport/newuser" method="POST">
            <table width="100%">
                <tr>
                   <td><?php echo $this->translate($this->Batch);?></td>
                   <td ><?php echo $this->lobjAttendencereportForm->Batch;?></td>
                    <td><?php echo $this->translate("Chart");?></td>
                   <td ><?php echo $this->lobjAttendencereportForm->Chart;?></td>
                   <input type = "hidden" value="0" id="add" name="add">
                 </tr>
               
                <tr>
	               <td align = "center" colspan = "4">
						<?php //echo $this->lobjAttendencereportForm->Search;?>
						<input type="submit" class="NormalBtn" dojotype="dijit.form.Button" label="<?php echo $this->translate("Generate"); ?>" onclick="window.location.href='<?php echo $this->url(array('module'=>'general-setup','controller'=>'attendencereport', 'action'=>'newuser'),'default',true);?>';" />	
						<?php //echo $this->lobjAttendencereportForm->Clear;?>
				   </td>
                </tr>
            </table>
        </form>	
    </fieldset> 
    