<head>
<script type="text/javascript">


function Closefn()
	{	 
	   	 window.location = "<?php echo $this->baseUrl();?>/centerauth";        
	}
</script>
</head> 
	<fieldset>
	<form action="<?php echo $this->baseUrl();?>/centerauth/changepassword"  dojoType="dijit.form.Form"  id="myForm"  name= "myForm" method="POST">
	     <script type="dojo/method" event="onSubmit">
               if (this.validate()) {
pass=document.getElementById("newpassword").value;
conpass=document.getElementById("conpassword").value;
if(pass==conpass){
			return true;
			}
else{
alert("Password and Confirm Password Fields Are Not Matching");
return false;	
}
} else {
	return false;}
				</script>
	     <table class="table" width="30%" align="center">
                     <tr>
                          <th colspan = "5"><?php echo $this->translate("Change Password");?></th>
                     </tr>                       
                    	 <tr>
                            <td><?php  echo $this->translate("Old Password");?><span class="reqMark">*</span></td>
                            <td align="right" id="register" ><?php  echo $this->lobjAdhocApplicationForm->oldpassword;?></td>
                         </tr>  
                          <tr>
                            <td><?php  echo $this->translate("New Password");?><span class="reqMark">*</span></td>
                            <td align="right" id="register" ><?php  echo $this->lobjAdhocApplicationForm->newpassword;?></td>
                         </tr> 
                          <tr>
                            <td><?php  echo $this->translate("Confirm Password");?><span class="reqMark">*</span></td>
                            <td align="right" id="register" ><?php  echo $this->lobjAdhocApplicationForm->conpassword;?></td>
                         </tr>  	                        
	                     <tr>                           
                            <td colspan="2" align="right"><?php  echo $this->lobjAdhocApplicationForm->Save;?>
                            <input type="button" name="Close" class="buttonStyle" onClick="Closefn();" value="Close" dojoType="dijit.form.Button"  label="Close" >	</td>
                        </tr>     
	        </table>
        </form>
        </fieldset>                
	 
