<fieldset>
<table width="100%" >
			<tr>		
					<td width="8%"><B>Server Time</td>
					<td width="92%" align="left"><div style="background-color:green;width:50px;height:20px;"></div></td>
					<td width="8%"><B>1 SESSION :</td>
					<td width="8%" align="left"><div style="background-color:green;width:50px;height:20px;"></div></td>
					<td width="8%"><B>2 SESSIONS :</B></td>
					<td width="76%" align="left"><div style="background-color:skyblue;width:50px;height:20px;"></div></td>
			
				
			
			</tr>	
			<tr>
				<td colspan="5"><p><font color="red"><b>*Please Click On Respective Dates To View Details!</b></font></p></td>
			</tr>
		</table>

</fieldset>